[2020-10-06 12:39] Vishnuvk33 commented on #4785
Hi @golddove

      Any update on this.

Thanks,
Vishnukumar M

[2020-10-06 20:16] jwoo-msft commented on #4838
@closing, as this is resolved.

[2020-10-07 05:26] jyoti-ms opened #4888 "[iOS] [Input Validation] Send notification with button reference to host on submit action"
# Platform

**What platform is your feature request related to?**

* iOS

**Is your feature request related to a problem? Please describe.**

Scenario - Whenever user clicks on action.submit button, host is disabling the submit button for 3 sec (on submit action two events are triggered - button state change event and SDK send event).
With this ACv1.3 input validation feature, if there are errors

[2020-10-07 05:26] jyoti-ms opened #4889 "[Mobile][User Experience] [Input validation errors]Compact style Input ChoiceSet Focus Style on Error"
# Platform

What platform is your issue or question related to?
- [x] Android
- [x] iOS

# Author or host

Teams Mobile Client

# Version of SDK

SDK version 2.1.0 (ACv1.3)

# Details

**iOS**
If Input ChoiceSet (style: compact) is first item on Adaptive Card, and there is an error on card, the options pop up directly opens user view. It may cause user confusion as that is not the expected behavio

[2020-10-07 05:53] jyoti-ms opened #4890 "[iOS][Accessibility ] [Focus is not going to the first accessibility element]"
# Platform

What platform is your issue or question related to?

* iOS

# Author or host

Teams Mobile Client

# Version of SDK

SDK version 2.1.0 (ACv1.3)

# Details

When there are errors on the cards after pressing submit action, focus is not going to the first accessibility element (input field) on the card that has error message. Link to [video](https://msit.microsoftstream.com/video/af0ba1ff

[2020-10-07 06:18] dipja opened #4891 "[Android][UX] [Input ChoiceSet (compact) height and width squeezed]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

Microsoft Teams

# Version of SDK

SDK 2.1.0 (ACv1.3)

# Details

The height and width of the Input ChoiceSet (compact) is squeezed. The screenshot below shows the current user experience.

![image](https://user-images.githubusercontent.com/61967816/95294443-e7139600-0892-11eb-8d

[2020-10-07 06:25] dipja opened #4892 "[Android][Input Time] [Input time retrieval format to 24 hour format]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

Microsoft Teams

# Version of SDK

SDK 2.1.0 (ACv1.3)

# Details

The format of the input time retrieved from the rendered card depended on the user's mobile phone time format before this release. eg: If user mobile phone time format is 12 hours, input time retrieved would be in

[2020-10-07 14:03] shalinijoshi19 commented on #4829
@almedina-ms any updates on this one?

[2020-10-07 14:04] shalinijoshi19 commented on #4830
@almedina-ms any updates on this one? Thanks

[2020-10-07 14:05] shalinijoshi19 commented on #4801
@sowrabh-msft this issue was released as part of our 20.09 artifacts. Thanks.

[2020-10-07 14:08] shalinijoshi19 commented on #4835
@sowrabh-msft FYI this issue has been addressed with our last patch. thanks

[2020-10-07 14:09] shalinijoshi19 commented on #4839
@sowrabh-msft please see @jwoo-msft's comments above. Thanks.

[2020-10-07 14:10] shalinijoshi19 commented on #4838
@sowrabh-msft / @jyoti-ms could you please take a look at @jwoo-msft 's explanation above, see if it helps ? Thanks

[2020-10-07 14:23] jyoti-ms commented on #4838
@jwoo-msft As we have discussed, you are going to update the "hidden" prop in InputLabelView.xib in this month's release?
The fix that we tried is just a temporary one to unblock ourselves for testing and we are using cocoa pods approach to update the framework so we can't replace binaries (.nib files).

[2020-10-07 14:28] sowrabh-msft commented on #4838
@shalinijoshi19 @jwoo-msft - In addition, in the screenshot below the string "My Error Massage" seems to be coming from the SDK too ( [This file](https://github.com/microsoft/AdaptiveCards/blob/c6cd3586d28d3d9c9456160b90eb8984cec900e2/source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputLabelView.xib#L42) You may want to remove this).

Would this string also come on an inadvertent `send` o

[2020-10-07 15:55] shalinijoshi19 commented on #4880
@almedina-ms / @jwoo-msft this one is a P2 as far as the Teams 1.3 upgrade blockers is concerned but we should get this looked at and prioritized for design discussions; @RebeccaAnne FYI

[2020-10-07 16:43] shalinijoshi19 commented on #4892
@almedina-ms / @golddove FYI; I am approving this for a fix at this point since it seems to be a regression on Android. Can whoever has cycles for this pick it up for fixing? Also note that we should update our public documentation with the decision on how we parse and render dateTime inputs and whether we take the user's datetime settings into account at all. @jwoo-msft FYI.

[2020-10-07 20:34] trallnag commented on #1738
@v-kydela @billbliss there is a way: Use a hidden unicode character between two newlines. Try it out with the following string

[code]

The whitespace is not a whitespace

[2020-10-08 02:08] david-driscoll commented on #4583
make comment

[2020-10-08 03:33] Jageen commented on #4739
Just adding my workaround for this issue.

1. Create custom renderer by implementing _ACRBaseActionElementRenderer_
2. Inside function call _renderButton_ change title text by using utility method _utl_adjustString_ (I created)

inside utl_adjustString function write code to adjust string base on available width.

`
        func utl_adjustString(target: NSString, font: UIFont, fitToWidth: CGFloat)

[2020-10-08 10:07] shakungrover05 commented on #4628
@dclaux
My bad, I mis-interpreted escape in json as skip during ingestion in my head.
For now, I will route it to MRT team in IDC and see if it can be fixed there.

[2020-10-08 15:30] shalinijoshi19 commented on #4417
@golddove can you please work with @jwoo-msft to outline what the behavior will be here as an issue update pls?

[2020-10-08 15:56] shalinijoshi19 commented on #3857
Dup #4670

[2020-10-08 15:56] #3857 closed

[2020-10-08 23:56] knt36 opened #4896 "[Platform][Broader Feature Request Category if applicable] Title"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/16567053/95524602-a7c67180-0986-11eb-8468-3aab86171fba.png)

We obtain a urls of images from a cdn, however, we sometimes do not know if these

[2020-10-09 00:08] shalinijoshi19 commented on #4896
@knt36 could you update the issue description with the actual issue you are raising and rmeove the placeholder text? Thanks!

[2020-10-09 00:30] dclaux commented on #4896
@knt36 thanks for reporting this. This is an interesting feature request that we will look into. I can't promise if/what/when we'll deliver though.

[2020-10-09 03:42] golddove commented on #4711
WebEx Teams has confirmed they are using AndroidX libraries.

[2020-10-09 04:04] shalinijoshi19 commented on #4891
@almedina-ms / @jwoo-msft  can you please update the issue with results of the ongoing investigation? Thanks

[2020-10-09 04:06] shalinijoshi19 commented on #4890
@jwoo-msft assigning to you for initial investigation. Pls update once we do have an action plan for this. Thanks

[2020-10-09 04:08] shalinijoshi19 commented on #4889
@jwoo-msft assigning to you for initial investigation on these Teams-reported issues. Pls update with result +plan of action + milestone once we've done the initial review. thanks!

[2020-10-09 04:09] shalinijoshi19 commented on #4883
@RebeccaAnne would you be able to take a first pass at investigating this one see what's going on with this one? Thanks!

[2020-10-09 04:11] shalinijoshi19 commented on #4883
@ccdev1205 are you actually trying to use our AC renderer for UWP? Or are you working wtih our JS renderer on desktop? @siduppal i wasnt aware that Teams has a UWP renderer dependency as well?

[2020-10-09 04:13] shalinijoshi19 commented on #4882
@RebeccaAnne am assigning this to you to get addressed or backlogged appropriately. Tx

[2020-10-09 04:14] shalinijoshi19 commented on #4881
@almedina-ms assigning to you for tackling once we get clarity from the Teams side on expectation from the Accessibility SMEs here. @jwoo-msft  FYI.

[2020-10-09 04:16] shalinijoshi19 commented on #4877
@almedina-ms assigning to you to help get this merged in.

[2020-10-09 04:18] shalinijoshi19 commented on #4785
@Vishnuvk33 qq: could you elaborate on what you mean by O365 here -- are you comparing against the JS AC renderer or UWP for the baseline?

[2020-10-09 04:33] sowrabh-msft opened #4898 "[All][Accessibility] Voice Over issue in Input Field Label"
# All platforms
- [x]  Android (#4930)
- [x] iOS (#4951)

# Host

Microsoft Teams

# Version of SDK

SDK version 2.1.0 (ACv1.3)

# Details

When the user goes into the card and selects/shifts focus to an input field, the field label is not called out which results in users being unable to identify what they are supposed to fill in the particular field. Only an issue on the mobile platforms.

Fix:

[2020-10-09 04:37] shalinijoshi19 commented on #4898
@sowrabh-msft is there guidance around localizing the voice over text here at all to reconcile with the user locale settings?
@paulcam206 / @almedina-ms  is this something that we are aware of with voiceover/narrator?

[2020-10-09 04:50] ccdev1205 commented on #4883
@shalinijoshi19  uses these .Net SDK. Render issue is found in MS Teams Desktop app

<package id="AdaptiveCards" version="2.1.0" targetFramework="net48" />
 <package id="AdaptiveCards.Templating" version="1.1.0" targetFramework="net48" />
 <package id="AdaptiveExpressions" version="4.10.3" targetFramework="net48" />

[2020-10-09 04:57] shiladityasaha commented on #4898
Adding video links for easy access:
[Item #1: Video](https://microsoft-my.sharepoint.com/personal/shisaha_microsoft_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fshisaha%5Fmicrosoft%5Fcom%2FDocuments%2FACv1%2E3%2FAccessibility%2Finput%5Ffield%5Faccessibility%2Emp4&parent=%2Fpersonal%2Fshisaha%5Fmicrosoft%5Fcom%2FDocuments%2FACv1%2E3%2FAccessibility&originalPath=aHR0cHM6Ly9taWNyb3NvZnQtbXkuc2hhcmV

[2020-10-09 06:06] DivyankaM commented on #4583
@Wajeed-msft @siduppal Any updates on this? Customers are facing issues due to this - https://github.com/integrations/microsoft-teams/issues/34#issuecomment-705466025

cc: @ashokirla @gauravsaralMs

[2020-10-09 07:03] adumrewal opened #4899 "[iOS][ActionSet renderer registration] [Setting setActionSetRenderer does not automatically set the same for ActionSets]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams iOS client

# Version of SDK

1.2.10

# Details

Setting Action set renderer using :
`[customRenderersRegististration setActionSetRenderer:[TSCActionSetRenderer getInstance]];`
sets it only for the "actions" element and not for the "ActionSet" element. For example in the

[2020-10-09 07:15] kexuejin commented on #4711
I noticed that the latest version(2.2.0) uses flexbox to render Columns, but the version 1.0.0 is used instead of the latest 2.0.1, and the sliding still freezes. When I try to upgrade the flexbox version to 2.0.1, the sliding is smooth. But it will report java.lang.OutOfMemoryError.

2020-10-09 15:04:02.641 25759-25759/com.example.mobilechatapp E/AndroidRuntime: FATAL EXCEPTION: main
    Process:

[2020-10-09 07:26] adumrewal opened #4900 "[iOS][Visibility false field causes spacing issues] [Element with visibility false and spacing defined causes spacing issues]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams iOS client

# Version of SDK

1.2.10

# Details

Element with visibility false and spacing defined causes spacing issues with other elements. PFA sample screenshot and json.
iOS visualizer:
![Screenshot 2020-10-09 at 12 53 51 PM](https://user-images.githubusercontent.com

[2020-10-09 07:34] wobba opened #4901 "Update roadmap"
Any plans to update https://docs.microsoft.com/en-us/adaptive-cards/resources/future based on the list from https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/tabs/6-planned? Or link to it. Having a 2 year old page which is not updated is not good.

[2020-10-09 07:40] adumrewal opened #4902 "[iOS][Icon with data in buttons] [Parity: b64 encoded image data for button icons does not get rendered]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS=

# Author or host

Host - Teams iOS client

# Version of SDK

1.2.10

# Details

Button with iconUrl in the form of b64 encoded image data does not render the icon. PFA the screenshots and json for clarity.
iOS Visualizer:
![Screenshot 2020-10-09 at 1 08 59 PM](https://user-images.githubusercontent.co

[2020-10-09 10:17] Trinetra-MSFT commented on #4096
@shalinijoshi19 @janandreschweiger , The Bug is Resolved now with Pull Request 265446. Please check and let us know.

[2020-10-09 11:27] Manish-MSFT commented on #4678
Hi @priyakewlani18 , currently Adaptive card doesn't support HTML formatting. Please refer [here](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-format?tabs=adaptive-md%2Cconnector-html#formatting-cards-with-markdown) for more information.

[2020-10-09 15:08] ccdev1205 opened #4903 "[Adaptive Expressions][Adaptive Expressions Date prebuilt function][Given a UTC DateTime, formatDateTime does not convert correctly in user timezone]"
[MS Teams][Desktop/Mobile App]
[Adaptive Cards 1.2]

# Platform
*.Net

# Version of SDK
*AdaptiveCards 2.1.0
*AdaptiveCards.Templating 1.1.0
*AdaptiveExpressions 4.10.3
*Microsoft.Bot.Builder 4.10.3

# Details
Using formatDateTime does not display the correct date equivalent in user timezone.

Given this in template:
[code]

The datepicker value in GMT+8 renders **11/30/2020** instead of **12/01/2

[2020-10-09 16:40] embailie commented on #4662
@aosolis - it looks like the card is responsive to the changed configuration. Can we confirm this is the largest supported size for the task module?

[2020-10-09 17:28] aosolis commented on #4662
Yes, that's the max. I misspoke. The current max size for sign in popup is (Teams width - 400px) x (Teams height - 200px).
Note that this is not a documented contract, and the heuristic can change at any time,

[2020-10-09 23:10] jwoo-msft commented on #4903
@ccdev1205 Can you please post your payload both template and the data that was used?
Thank,

[2020-10-09 23:16] ccdev1205 commented on #4903
Hi @jwoo-msft , here's the sample template and data payload I used.

Template:
[code]

Data:
[code]

[2020-10-10 00:11] jwoo-msft commented on #4880
Sure, I will add those input related issues filed by Team to the design discussions.

[2020-10-10 00:15] dclaux opened #4904 "[JS] Renderer README for 2.4 doesn't list supported AC schema versions"
# Platform

* JavaScript

# Version of SDK

2.4

# Details

The renderer README wasn't updated for the 2.4 release and doesn't list 2.4 as supporting AC schema 1.3.

[2020-10-10 00:25] #4904 closed

[2020-10-10 01:07] nmarkey10 opened #4906 "Markdown doesn't interpret backticks properly on Teams when using an AdaptiveCard"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript/Typescript

# Author or host

Currently creating cards to send to Teams via TypeScript express -> express-msteams-host -> botbuilder (cardfactory) -> back to teams.  The backtick to create preformatted text does not currently work.

# Issue

Issue is stated above.  Any help is appreciated!

[2020-10-10 01:42] jwoo-msft commented on #4899
@adumrewal
ActionSet is considered as an element, and it is to be registered with element renderer registration.

[2020-10-11 06:01] sukanyaam commented on #3707
Any update on file support for Bot Framework V4 ??
Please let us know the ETA.

[2020-10-11 12:06] mindmodel commented on #4032
Another 9 weeks.  No reported progress on fixing this bug.

[2020-10-11 13:06] Wajeed-msft commented on #4583
@DivyankaM - Could you please attach the Adaptive Card JSON?

[2020-10-12 04:58] dclaux commented on #4032
@jwoo-msft this is WebChat, so it is the JS SDK.

@mindmodel sorry this was left unanswered for so long. I fixed a similar issue (the same issue?) a while ago (before Covid); there must be something I missed.

@jwoo-msft it is hard for me to work on this as I do not have any iOS device. This problem is very specific to Safari on iOS as Apple imposes a specific behavior to the `<media>` HTML5 eleme

[2020-10-12 05:02] haridas commented on #4708
@matthidinger  Please review the PR #4893

[2020-10-12 05:10] dclaux commented on #4032
More info as I took a look at the fix I wrote before Convid:

The answer listed on StackOverflow is inaccurate. The JS SDK initially renders the "poster" of the media only, with a play button overlayed, not the `<media>` element itself. When the user clicks the play button, the `<media>` element is created and added to the document with its "autoPlay" and "mute" properties set to true.

A while ba

[2020-10-12 05:32] GrayLeee commented on #4600
@jwoo-msft does anybody Investigating this bug?

[2020-10-12 07:17] yashwanth125 opened #4908 "Multiple toggle.action is not working in Botframework, But the same card is working fine in Adaptive card designer."
Here is my card,

[code]

[2020-10-12 11:49] mindmodel commented on #4032
@dclaux Thank you for your reply!

The source of the sample page

https://dnctestbot.z13.web.core.windows.net

is available in View Source.  Not obfuscated.

https://cdn.botframework.com/botframework-webchat/latest/webchat.js

What is the URL and doc page for the version I should be using?

Adam

[2020-10-12 15:23] dclaux commented on #4032
That should be the latest version of WebChat, which I believe uses a version of AC with the fix. So not quite sure what's going on, unless again I've missed something when implementing the fix or Apple has changed things again.

@jwoo-msft would really appreciate help here, again I do not have any iOS device.

[2020-10-12 15:26] dclaux commented on #4032
@mindmodel could you confirm the version of iOS running on your device(s)?

[2020-10-12 16:52] gonzalezreal commented on #3468
Hi,
I have been working on a Swift/SwiftUI Adaptive Cards decoder and renderer for the past few months, with good results so far.

It still lacks input elements but can render all the rest, and implements things like host configuration, fallbacks, and custom element rendering.

https://github.com/gonzalezreal/AdaptiveCardUI

I believe it can provide a more natural experience for Swift developers a

[2020-10-12 18:38] almedina-ms commented on #4789
Currently in main we are able to see the card being rendered properly, it's probable you have some type of extra information in your custom inputs. Or were you not even able to render the card you linked?

![image](https://user-images.githubusercontent.com/35784165/95779633-3dac1600-0c7f-11eb-8c80-58b47e830d7e.png)

[2020-10-12 21:45] dclaux commented on #3924
@sowrabh thanks for your feedback. Let me try to address:

1. I asked this very question in my write up: is `searchField` really necessary? Personally I do not think so. I am fine excluding it for now.

2. The ACv2 model we adopted for activities is the activity `name` is always `adaptiveCard/action` and the activity's `value` property must be an object with an 'action` property set to a copy of w

[2020-10-12 22:19] jwoo-msft opened #4912 "[All][Accessibility] [Lack of accessibility support for error messages with the new Input feature]"
# All platforms
- [x]  Android (#4958)
- [x] iOS (#4966)
- [x] UWP
- [x] .NET WPF
- [x] JS

# Host

Microsoft Teams

# Version of SDK

SDK version 2.1.0 (ACv1.3)

# Details
reference #4913
When there are errors on the cards after pressing submit, failure to submit due to errors is not called to users. The user also not aware if there are multiple errors on the card. 
Proposed fix: Call out "There

[2020-10-12 22:25] jwoo-msft opened #4913 "[All][Accessibility] [Multi lingual accessibility support for error messages]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Version of SDK
v2.0+

# Details
reference #4912
Need accessibility support on error messages for other languages.

[2020-10-12 22:41] jwoo-msft commented on #4890
Hello @jyoti-ms,

Can you be more specific about what's the issue here? If there is an error, the focus will be set on the first input item with an error. For example, if it's input.text, the focus will be set on the input.text and open up a keyboard.

[2020-10-12 23:12] jwoo-msft commented on #4912
@almedina-ms only for Android & 20.10 is TBD

[2020-10-12 23:14] jwoo-msft commented on #4898
possible 20.10 if it's P0

[2020-10-13 03:23] sowrabh-msft commented on #3924
Thanks @dclaux.
2. - A different invoke name would allow channels to have different throttling rates based on name (first level property).  Teams' channel infra does not support throttling based on payload.
3. Multi select is a P1 requirement in case of people picker for teams. Apps such as approvals today support this capability through task module in Teams and having this in Adaptive card would

[2020-10-13 04:42] Trinetra-MSFT commented on #4296
There's no destructive design for buttons in Teams yet.

[2020-10-13 06:22] DivyankaM commented on #4583
@Wajeed-msft We are aware that adaptive cards specifically don't support collapse option, however, teams messages do and that's what is mentioned as concern in this issue. The issue that we are talking about here is that adaptive card message is being collapsed in some cases while not in others (where adaptive card contains buttons at the end). - See this comment above - https://github.com/microso

[2020-10-13 06:39] jyoti-ms commented on #4890
@jwoo-msft When user clicks on submit button and if there is an error then, the view is getting scrolled and focus is not going to the first input that has errors.
Focus is going out of the adaptive card's view when voice over is on (on input validation).

This is happening whenever layout of the superview is changed due to errors.
Can you please take a look at the video once? Link to [video](http

[2020-10-13 06:57] DivyankaM commented on #4583
JSON of the teams message that gets collapsed -

{
  "preview": {
    "contentType": "application/vnd.microsoft.card.thumbnail",
    "contentUrl": null,
    "content": {
      "title": "Long Issues text1 #332",
      "subtitle": null,
      "text": "open | @sanjeev9160 opened this issue on 13 Oct 2020",
      "images": [
        {
          "url": "https://avatars2.githubusercontent.com/u/64134945

[2020-10-13 06:58] DivyankaM commented on #4583
JSON of the teams message that is not getting collapsed -

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Container",
      "items": [
        {
          "type": "TextBlock",
          "text": "[sanjeev9160/Test](https://github.com/sanjeev9160/Test)",
          "wrap": true
        },
        {

[2020-10-13 07:40] shiladityasaha commented on #3924
For scenarios like Approvals, the average number of approvers is 2 as per their data, so multiselect becomes an important part of the scenario that we need to support for People Pickers and its a strong P1 @dclaux.

[2020-10-13 09:57] Gunashree-R-V opened #4914 "[Android] \n Newline character added at the beginning/end of the text is not rendering."
# Platform

* Android

# Author or host

Microsoft Teams

# Version of SDK

1.2.10

# Details

Text beginning/ ending with newline character(\n) aren't rendering on Android.

| Desktop | Android |
|-----------|:-----------:|
| ![image](https://user-images.githubusercontent.com/28745768/95845762-37de2f80-0d68-11eb-9cb0-1666d205a2be.png)| ![image](https://user-images.githubusercontent.com/28745768/9

[2020-10-13 14:19] knt36 opened #4915 "[All Platforms] Allow hero card authors to specify fallback element for when an Image element fails to load"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
For the teams compose extension, The hero card format used in the preview section does not support a fallback option for images when a certain image fails to load. This is an issue because the

[2020-10-13 14:29] knt36 commented on #4915
wrong repo

[2020-10-13 18:22] stevengum commented on #4842
Cross-linking PR: https://github.com/microsoft/botbuilder-js/pull/2889

[2020-10-13 19:18] jwoo-msft commented on #4908
@yashwanth125 could you please fill out our Github Issue template, so we would know the platform you're using, and whether you're a card author or host, and etc?
Regards,

[2020-10-13 20:38] mindmodel commented on #4032
Just cleared Safari cache and verified on iPhone 7+, iOS version 14.0.1.

The bug was also present on whatever the up-to-date iOS versions were when the comments above were posted.

[2020-10-13 21:09] productboard-ac opened #4917 "Templating on Mobile SDKs"

[2020-10-13 21:09] productboard-ac commented on #4917
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5147605

[2020-10-13 22:28] #4882 closed

[2020-10-14 00:31] #4901 closed

[2020-10-14 04:11] jwoo-msft commented on #4913
@RebeccaAnne During the sync-up, it was suggested that the accessibility string is provided by App host or Card author. I didn't get a chance to clarify which one to use.

[2020-10-14 05:18] shiladityasaha commented on #4912
@shalinijoshi19 @jwoo-msft this is a ring blocker on all platforms for us. Can it be picked up for other platforms too?

[2020-10-14 05:22] shiladityasaha commented on #4898
@shalinijoshi19 this is a ring blocker on all platforms for us. Hopefully this can be picked up for desktop too?

[2020-10-14 06:50] jyoti-ms commented on #4890
This issue can be fixed only when action type is known to me on layout change notification.

Scenario -  Currently layout change notification is sent to the host on button click(Action.ShowCard, Action.Submit, Action.toggleVisibility). The host would need to have different layout change functions in teams client based on the type of the action. So if we have action.submit, then we can avoid perfor

[2020-10-14 08:23] adumrewal commented on #4899
Yup, that works. One small change is required in the ActionSetRenderer definition though:
[code]

[2020-10-14 09:24] dharma-reddy commented on #4845
@paulcam206, Did you get a chance to try out the solution for the above error? Please let me know in case of any queries. It would be great if you help me with the current status.

[2020-10-14 17:18] shalinijoshi19 commented on #4789
Closing this out as they've confirmed offline that this is resolved in the latest bits.

[2020-10-14 17:18] #4789 closed

[2020-10-14 18:57] almedina-ms commented on #4877
Already merged

[2020-10-14 18:57] #4877 closed

[2020-10-14 21:12] enzanki-ars opened #4924 "[MS Teams][Templating] Teams does not seem to support the Templating feature."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Powershell

# Author or host

Author

# Version of SDK

None.

# Details

When attempting to send a templated card as shown below, copied from the Adaptive Card Samples, none of the templated vaules are replaced:

[code]

The code above results in:
![image](https://user-images.githubusercontent.com/8580211

[2020-10-14 21:29] enzanki-ars commented on #4924
Additional note:

In the original sample, the following block was included, but adding specifically the `"color": "${if(change >= 0, 'good', 'attention')}"` line results in MS Teams returning a 400 error.  Because the platform does not return any message, I have no idea where the problem lies and why this is the case, but the web editor also seems to display the same issue there too.

[code]

[2020-10-14 23:19] jwoo-msft commented on #4032
@dclaux, sorry for the late response. I just saw this. Let me know how I can help you with this issue.

[2020-10-14 23:51] jwoo-msft commented on #4600
@GrayLeee
Hi, yes, I can repro. Let me get back to you shortly.

[2020-10-15 09:27] Wajeed-msft commented on #3894
**Updates:** This bug is fixed. We will share updates once this is deployed in public rings.

[2020-10-15 10:37] mindmodel commented on #4032
.Net Core 2.1
Microsoft.Bot.Builder.Dialogs version 4.9.1
Microsoft.Bot.Builder.Integration.AspNetCore version 4.9.1

[2020-10-15 10:38] mindmodel commented on #4032
Markup for the adaptive card:

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.1",
  "fallbackText": "This card requires Media to be viewed. Ask your platform to update to Adaptive Cards v1.1 for this and more!",
  "body": [
    {
      "type": "Media",
      "sources": [
        {
          "mimeType": "video/mp4",
          "url": "h

[2020-10-15 10:39] mindmodel commented on #4032
Code to send the card:

var welcomeCard = CreateAdaptiveCardAttachment();

var response = MessageFactory.Attachment(welcomeCard);

await turnContext.SendActivityAsync(response, cancellationToken);

[2020-10-15 10:39] mindmodel commented on #4032
private Attachment CreateAdaptiveCardAttachment()
        {
            string cardResourcePath = "TestCoreBot.Cards.testCard.json";

            using (var stream = GetType().Assembly.GetManifestResourceStream(cardResourcePath))
            {
                using (var reader = new StreamReader(stream))
                {
                    var adaptiveCard = reader.ReadToEnd();

[2020-10-15 11:19] rithinskaria opened #4925 "[MSTeams]Unable to reach app. Please try again."
I'm trying to create a Logic App which triggers everyday at 5:30 PM and uses the connector "Post a choice of options as the Flow bot to the user" and using the comments in the response from user, I have couple of conditions and connectors.

The problem is when Teams is taking the response from user, it is showing Unable to reach app. Please try again.

![image](https://user-images.githubuserconten

[2020-10-15 11:48] PBO-DEV opened #4926 "[Android][MSTeams] [Bug] Adaptive card doesn't render in a case"
# Platform

* Android

# Details

`                                {
                                    "type": "Image",
                                    "url": "{$root.mediaURL}"
                                }`

when URL is empty the card render on Mobile so:

![image](https://user-images.githubusercontent.com/72922549/96119280-08a4fb00-0eed-11eb-828a-55157a4ddd0d.png)

[2020-10-15 11:50] DEV-PBO-DEV commented on #4926
my schema for the adaptive card:

`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.2",
    "body": [
        {
            "type": "Container",
            "items": [
                {
                    "type": "ColumnSet",
                    "columns": [
                        {
                            "width": "stretch"

[2020-10-15 15:26] dclaux commented on #4032
@jwoo-msft it would be great if you could try and identify the actual problem on an iOS device. I do not have one. I am happy to fix once I understand what to do, but feel free to fix yourself if you feel like it.

[2020-10-15 16:40] mubix commented on #1443
I would like to add my voice of concern to @dclaux 's. This will be abused for bad and just masking the field will give that false sense that the storage or transmission of the password in the field is "secure". I'm sorry to all my fellow pentesters out there that would love to see this feature added.

[2020-10-15 19:48] dclaux commented on #4898
I am not able to repro this in Edge or Chrome on Windows with Narrator. All the appropriate From the first video (I don't have access to the other two) it looks like the problem happens in WebChat on iOS, is that correct?

I am not able to repro this in Edge or Chrome on Windows with Narrator. All the appropriate aria properties are set, and narration is as expected.

I suspect this is a case of W

[2020-10-15 20:47] golddove commented on #4898
@shiladityasaha we have split the bug you've filed, as it had two separate issues. The second part has been moved to #4912 (and related #4913 ). So, I think you are referring to that second part for desktop?

This issue now only tracks the first part, which should only be on mobile. Please confirm if that's correct.

[2020-10-16 00:41] jwoo-msft commented on #4032
@mindmodel

Can you give me a repro step for your issue?

I tried https://dnctestbot.z13.web.core.windows.net.

It opens a chat app, but I don't how to make the bot to send a media card.

Thanks

[2020-10-16 00:58] jwoo-msft commented on #4032
@dclaux

I took a few screen captures in chronological order.

It starts with a poster. When you press the play icon, you get to the next image.
Notice how play button is set to pause. It appears that media should have been playing at this stage.
To get the media to play, you have to touch the pause button to make it a play button. Take a look at the third screenshot.
When the play button is touch

[2020-10-16 01:11] mindmodel commented on #4032
Send it any message.

Sent from my iPhone

[2020-10-16 01:13] jwoo-msft commented on #4032
I tried this linkhttps://dnctestbot.z13.web.core.windows.net from Chrome and Safari on Mac. The sound wasn't muted on Chrome. Could It be possible that the unmuted sound is the reason why autoplay is not working on Safari?

[2020-10-16 02:11] GrayLeee commented on #4600
@jwoo-msft
Thanks for your help! If you have any question, ping me in Teams by jili15@microsoft.com. I'm sorry for bothering you, but a feature of Cortana is blocked by this issue.

[2020-10-16 14:26] Threepointone4 opened #4931 "Video play from a time."
Is there a way to play a video in an adaptive card from a timestamp rather than always play from the beginning?

[2020-10-16 14:29] vishwasgpai commented on #4931
I have created a dynamic adaptive card to play different videos based on users. But is it possible to pass a seek option in some way to play the video from that time? Eg: seek=sec

[2020-10-16 21:00] ericrrichards commented on #3225
I've got this issue still occurring with the 2.1.0 Nuget package.
I have a List<AdaptiveElement> that is deserialized from json with JSON.net that is pulled from a database, and then injected into a card, e.g.

[code]

It'll work the first time, and then on subsequent calls this will throw the "collision detected for id "foo"" exception when doing DeserializeObject().

[2020-10-19 16:29] NickEricson commented on #3225
I hit this with the following card.

C# AdaptiveCard: 1.2.4
Using: AdaptiveCard.OnDeserializingMissingVersion = () => new AdaptiveSchemaVersion(0, 5);

[code]

[2020-10-19 18:33] jwoo-msft commented on #4755
gentle ping to @Oliverqqqq

gentle ping to @Oliverqqqq

[2020-10-19 18:35] jwoo-msft commented on #4666
@crow131 Has this issue fixed for you?

Thanks

[2020-10-19 21:10] matthidinger commented on #4925
@dblyth-msft can you help with this one?

@rithinskaria can you please include the JSON payload used and any other details, such as the Flow Run ID so we can diagnose

[2020-10-19 21:38] #4666 closed

[2020-10-20 03:14] Oliverqqqq commented on #4755
.lg file

[code]

.NET

[code]

Now I'm just generating the card by which words fine

[code]

[2020-10-20 14:02] konagallasushmitha opened #4935 "Is it possible to develop a asynchronous searchable Drop-down inside adaptive cards"
Hi, we are using backend (Azure) as nodejs and frontend as reactjs(webchat botframework). Actually we have a requirement for rendering an adaptive card in which it contains a asynchronous searchable Drop-down in which it gets data from API and show it in drop-down when user types something in the input area. I have searched a lot but couldn't found anything.

[2020-10-20 14:03] konagallasushmitha opened #4936 "Is it possible to develop a asynchronous searchable Drop-down inside adaptive cards"
`Hi, we are using backend (Azure) as nodejs and frontend as reactjs(webchat botframework). Actually we have a requirement for rendering an adaptive card in which it contains a asynchronous searchable Drop-down in which it gets data from API and show it in drop-down when user types something in the input area. I have searched a lot but couldn't found anything.`

[2020-10-20 16:07] shalinijoshi19 commented on #4564
@RebeccaAnne FYI i've moved this out to 20.11. But if we arent actively working on this perhaps move this out to Backlog?

[2020-10-20 16:10] shalinijoshi19 commented on #4655
@RebeccaAnne / @chriche-ms am assuming there hasnt been any active work on this one for this sprint? Moving out to next sprint  - @chriche-ms is this an upgrade blocker for you?

[2020-10-20 16:12] chriche-ms commented on #4655
This isn't a blocker for us. We have a workaround - serializing the cards and then parsing them to re-create the card object

[2020-10-20 19:08] ashishtank commented on #4936
@konagallasushmitha
This feature is planned, check this link on product board [Product board](https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/c/15-input-choiceset-auto-complete)

[2020-10-20 23:13] mpodhornyi commented on #4050
@shalinijoshi19 @VaraPrasad-MSFT any updates on this issue ? or maybe expected timelines for 1.3 schema release? Thank you!

[2020-10-21 02:42] rithinskaria commented on #4925
@matthidinger Sure Matt

Workflow id: /subscriptions/xxxxxxxxxxxxx/resourcegroups/EA_team_RG/providers/Microsoft.Logic/workflows/case-posting
Azure portal session id: 1e4ae0a8278348798a3b9a83255a53f8
Logic App designer session id: c24cd96d-5920-42bd-a804-a0d1a96ebab8
Logic App designer instance id: bd6a246e-245b-4f18-a860-d0d49f65dc47
Workflow run id: 08585983588901608474713790524CU12
Timestamp: W

[2020-10-21 13:40] felixvanleeuwen opened #4947 "[Web][Accessibility] Actions with the OpenUrl onAction should render as an a tag"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
[A European law has been passed that forces public websites to adhere to a AA accessibility rating.](https://www.etsi.org/deliver/etsi_en/301500_301599/301549/02.01.02_60/en_301549v020102p.pdf)

[2020-10-21 16:15] #4862 closed

[2020-10-21 16:21] golddove opened #4948 "[All Platforms][Accessibility] Videos do not have captions"
# Platform

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Version of SDK

latest main

# Details

There is no way for card authors to provide a caption/subtitle source, so renderers cannot show captions for videos. This will require adding a property to the `Media` element schema.

Seems to have been discussed slightly in #196.

[2020-10-21 16:46] shalinijoshi19 commented on #4570
Reassigning to myself for verification, to load balance. @golddove FYI

[2020-10-21 16:48] shalinijoshi19 commented on #4448
@almedina-ms FYI -- we should look into this one for 20.11. Pull it in if we feel we can land it in 20.10 but for now moving out.

[2020-10-21 16:49] shalinijoshi19 commented on #4687
@golddove currently working on this. Testing out/Validating fix.

[2020-10-21 16:51] golddove commented on #4898
For Android, likely fixed by #4930. Need to test.

[2020-10-21 16:53] shalinijoshi19 commented on #4898
- Pending validation for Android - @golddove ;
- iOS in code review- @jwoo-msft

[2020-10-21 16:56] shalinijoshi19 commented on #4912
Current status : P0's for Teams-impacting platforms needed for 20.10
[P0] - Android: @golddove working on changes.
[P0] - JS: @dclaux are you able to help out on this for JS?
[P0] - iOS: @jwoo-msft is this on your radar?
[P1] - UWP: @RebeccaAnne will need your help on this one and WPF to check out current state and changes that might be needed here
[P1] - WPF: @RebeccaAnne

[2020-10-21 17:05] RebeccaAnne commented on #4912
Per discussion the other day, I believe we decided that moving the focus to the first error input and reading out that input's error would be our approach for this bug. @golddove can you confirm whether that solution is the official POR here? Is there another  issue tracking that other than this one?

[2020-10-21 17:52] #4902 closed

[2020-10-21 18:04] jwoo-msft commented on #4912
@shalinijoshi19 yes, this is the issue I will be tackling on Today.

[2020-10-21 18:08] jwoo-msft commented on #4898
@shalinijoshi19 This issue will be taken together with #4912

[2020-10-21 18:21] #4843 closed

[2020-10-21 19:03] #4838 closed

[2020-10-21 19:32] niravk-microsoft opened #4949 "[JS Renderes][Accessibility] [Focus Lost for ToggleVisibility]"
# JS Renderer

We are using JSRenderer to render Adaptive Cards into website as well as we are sending Adaptive Cards to Outlook. We are also going to send same adaptive cards to Teams as well

# Version of JS Adaptive cards is 2.4.0

# Details
We are using Toggle Visibility to achieve expand and collapse functionality. Now when we try to use tab key to reach to expand image and then press key to

[2020-10-21 19:48] shalinijoshi19 commented on #4949
@dclaux possible for you to take a first pass at this and feasibility of a fix/workaround?

[2020-10-21 20:17] dclaux commented on #4949
@shalinijoshi19 @niravk-microsoft There is no easy fix to this. We have done work to lose focus if the element being clicked (i.e. the element that triggers to ToggleVisibility) remains displayed after being clicked, but it is not the case in this scenario, where the "expand" button is made invisible and a "collapse" button is made visible.

The only potential solution I can think of would be to:

[2020-10-21 20:55] dblyth-msft commented on #4925
@rithinskaria Sorry for one more request -- we actually need a Fiddler (or Chrome/Edge HAR file) for you responding to the card. Is that something you could collect for us and share? (You can mail to dblyth AT microsoft DOT com to avoid posting it here)

[2020-10-21 22:33] VaraPrasad-MSFT commented on #4050
@mpodhornyi , Currently we don't have any ETA to share when it will be in GA.

[2020-10-21 23:17] matthidinger commented on #3924
# Working Group Notes 10/21

## Open Issues and Decisions

- [ ] Decide on the "bot request payload" (aka channel-to-bot protocol)
  - Should it be new activity type or reuse `composeExtension/query`
  - **DECISION**: Group felt that reusing `composeExtension/query` was a bit too strange for this scenario, so we should get broader feedback and explore either reusing the ACv2 invoke activity as-is,

[2020-10-21 23:35] #4832 closed

[2020-10-21 23:38] jwoo-msft commented on #4504
@shalinijoshi19 PR for the issue is merged and closed for iOS.

[2020-10-22 00:04] #4900 closed

[2020-10-22 00:14] jwoo-msft commented on #4168
closed: it's a dupe of #4844

[2020-10-22 00:14] #4168 closed

[2020-10-22 02:03] #4665 closed

[2020-10-22 02:03] #4682 closed

[2020-10-22 02:25] jwoo-msft commented on #3712
@adumrewal
hi,

Can you share the payload shown in your video, so I can try it on my end? With the payload I have, I couldn't reproduce the issue with main branch.

Can you also share a video with audio? It's really hard to figure out what's the issue. Please also provide steps you've taken to reproduce the issue.

I think we should only concerned about one card at a time. In the video, the focus

[2020-10-22 03:36] jwoo-msft commented on #4912
@shalinijoshi19  @RebeccaAnne @golddove
There has been a concern that error message can not be controlled by Teams or host app.

[2020-10-22 03:39] shalinijoshi19 commented on #4912
The plan of action here is to get into a debugging session tomorrow AM with the India team - @golddove @RebeccaAnne
 are you able to get on a call tomorrow pls? Ideally we'd like to go over the precise scenario, and go over our proposal to make sure it will work.

[2020-10-22 04:58] dclaux commented on #4912
That is already the way JS functions, and as @RebeccaAnne says was the plan per spec.

[2020-10-22 05:23] golddove commented on #4912
@RebeccaAnne

Correct, recent discussion resulted in the following resolutions:

1) When an Input receives focus, announce the input's label to screen readers. If the input has failed validation, append the error message to that announcement.

Sample accessible text for an invalidated username input: "Username, Usernames may only contain alphanumeric characters, Input"

2) On submit, if an error i

[2020-10-22 10:03] FelixZhang001 commented on #4063
Any update on this issue, I suspect it is related to the below code to add extra UIView, but not sure why the height > 0 sometimes.
https://github.com/microsoft/AdaptiveCards/blob/main/source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm

[code]

[2020-10-22 12:23] yashwanth125 commented on #4908
What kind of information do you need?

[2020-10-22 14:39] shalinijoshi19 commented on #3712
Closing this out for now as it isn't a 1.3 upgrade blocker and we havent had traction on this for a while. @VikrantSingh01 / @adumrewal can you reactivate if this still continues to repro with latest bits pls?
Thanks

[2020-10-22 14:39] #3712 closed

[2020-10-22 14:40] shalinijoshi19 commented on #4504
Thanks. @almedina-ms is this on your radar at all for Android?

[2020-10-22 14:52] adumrewal commented on #3712
I tested this with the latest main branch and I'm unable to repro it there. Looks like a Teams client specific issue.

[2020-10-22 15:34] shalinijoshi19 commented on #4912
Speclet referenced here https://github.com/microsoft/AdaptiveCards/pull/4929/ - The spec could do with some clarification btw on precisely the POA and moving down the rest of the options

[2020-10-22 15:37] shalinijoshi19 commented on #4687
@golddove updates? Is this still on track to be checked in by EOW?

[2020-10-22 15:51] shalinijoshi19 commented on #4402
@jwoo-msft please prioritize and ensure all your open issues per [this query](https://github.com/microsoft/AdaptiveCards/issues?q=is%3Aissue+milestone%3A20.10+label%3APriority-Now+label%3AMsft-TeamsMobile+is%3Aopen+assignee%3Ajwoo-msft) are closed out and checked into main ahead of this week before taking this one on pls! We are looking to fork and provide privates for testing to Teams by tues, 10

[2020-10-22 16:08] golddove commented on #4912
Verified on JS. Works as expected.

[2020-10-22 16:27] #4449 closed

[2020-10-22 16:43] jwoo-msft commented on #3712
cc @shalinijoshi19

[2020-10-22 17:10] golddove commented on #4687
Should be good. In PR.

[2020-10-22 17:40] shalinijoshi19 commented on #4819
@dclaux pinging on this one - FYI moved out to 20.11 ahead of 1.3 blockers.

[2020-10-22 17:58] RebeccaAnne commented on #4912
Confirmed this also works as expected in UWP

[2020-10-22 19:54] dblyth-msft commented on #4925
@rithinskaria nevermind, I think figured it out. Right now the headline is *not* optional, though it should be. For now you'll need to specify a Headline value, but we're fixing it so that it is truly optional.

[2020-10-22 20:39] markscottmckenna opened #4957 "[Android][MSTeams] Empty FactSet Causes Adaptive Card to Not Render"
# Platform

* Android

# Author or host

Author sending bot responses through bot framework to Teams channel.

# Version of SDK

Confirmed on Teams version 1416/1.0.0.2020100901 on Android 11 (Pixel 2)

# Details

An empty FactSet anywhere in the payload, such as in the following contrived example, causes the entire adaptive card to not display anything.

`
{
    "$schema": "http://adaptivecards.i

[2020-10-22 23:40] alexwaibel opened #4959 "[Javascript/iOS/Android][MS Teams] [Card components not rendering all at once]"
# Platform

* Android
* iOS
* JavaScript

This issue is experienced on all MS Teams clients (iOS, Android, Web, and Desktop).

# Author or host

We are an author.

Sending cards to MS Teams via bot conversations

# Version of SDK

Project uses NuGet AdaptiveCards.Templating package v1.0.

# Details

We have constructed a status pill for our cards by combining a rectangle and two semicircles to for

[2020-10-22 23:47] #4504 closed

[2020-10-22 23:59] jwoo-msft opened #4960 "[Android][Inconsistency] [Column Width Stretch]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Details

Fix is already available; however, we need to check back compat with SDK users since it requires Android X.

<img width="353" alt="Screenshot 2020-07-31 at 3 30 01 PM" src="https://user-images.githubusercontent.com/8917620/89024456-c08d2800-d342-11ea-8f76-9ad51bfe3f52.png">
Desktop:
<im

[2020-10-23 00:01] jwoo-msft commented on #4957
@markscottmckenna
This issue is already fixed and Team is working on uptaking the fix for their next sprint, end of November.
Please feel free to reopen the issue if the next update doesn't fix the issue.
Thanks

[2020-10-23 00:01] #4957 closed

[2020-10-23 01:17] RalfAlpert commented on #3689
JvIPS, thanks for the solution. Just adding a value to the URL fixed the problem for me, too.

[2020-10-23 04:39] Nikitha-MSFT commented on #4582
Hi @gauravsaralMs -This is by design - we are enabling a feature flag which disables re-rendering for adaptive cards upon submission.

[2020-10-23 10:13] rajjagani021 commented on #3787
@jobinesh

how did you solve it? I am still having the same issue after using `type:"AdaptiveCard"`. Below is my JSON and it's working fine on MS Team Web and desktop app but not working in the Android/IOS mobile app.
[code]
**Output**
![image](https://user-images.githubusercontent.com/4434991/96991623-5e5d5100-1546-11eb-9483-2851f7969f5b.png)

[2020-10-23 10:19] rajjagani021 opened #4961 "[Android/IOS][] [Adaptive Card rendered blank in Android and IOS MS team mobile app]"
# Platform
- Android
- IOS

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS

# Author or host

External Bot Sending message to MS Team channel.

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details

 I am having an issue to render the Adaptive card in my Android and IOS MS team app. Below is my JSON and it's working fine on M

[2020-10-23 12:51] remimichael commented on #290
I am rendering Adaptive Cards  following instructions as in **https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/javascript/render-a-card)**. However web chat UI is not displaying the images as per the  card structure upon rendering first time.. Only upon refresh of the web chat in browser, the images are loaded and clickable. Appreciate any pointers to resolve the issue.

![image

[2020-10-23 15:41] shalinijoshi19 commented on #4912
Current status : P0's for Teams-impacting platforms needed for 20.10
[P0] - Android: In PR
[P0] - iOS: @jwoo-msft how are we tracking on this for iOS?
Thanks

[2020-10-23 15:59] dclaux opened #4962 "[All platforms] Ability to associate a person identity with any element"
**What platform is your feature request related to? (Delete other platforms).**

All platforms. JS is PO.

**Is your feature request related to a problem? Please describe.**
Search needs to integrate the M365 persona card with custom search results, which are rendered using Adaptive Cards. The need is not to have a specific person element but instead to be able to associate a person's identity wit

[2020-10-23 18:02] markscottmckenna commented on #4296
Might there be a timeline for supporting positive/destructive action styles in Teams? The styles are part of the 1.2 schema.

Currently I see this if it helps anyone:

`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.2",
    "body": [
        {
            "type": "TextBlock",
            "wrap": true,
            "text": "The po

[2020-10-23 18:06] shalinijoshi19 commented on #4899
Tracking for checkin to main by Monday EOD; @jwoo-msft

[2020-10-23 18:06] matthidinger commented on #4962
This proposal seems reasonable.

1. What is the schema for `Entity`? Is it extensible by anyone or only well-defined entities?
2. Can you include some context as to why the need to associate individual elements is necessary as opposed to using the `User Component` in a specific view, e.g., a Comact view, or something else that creates the desired UI and hover behavior? I ask because it will presen

[2020-10-23 18:19] shalinijoshi19 commented on #4600
@GrayLeee / @jwoo-msft  moving this out to 20.11 given our tight timeline here.. @VikrantSingh01 FYI

[2020-10-23 18:29] productboard-ac opened #4963 "Media captions support for accessibility"
# Description

Reference: https://captionmax.com/common-subtitle-prerecorded-closed-caption-file-types/

Accessibility bug: [28383785](https://microsoft.visualstudio.com/OS/_workitems/edit/28383785)

## Open Issues

- [ ] iOS Sidecar support?
- [ ] Android sidecar support?
- [ ] WPF sidecar support?
- [x] UWP sidecar support?
- [x] JS sidecar support?
- [ ] What about per-language captions?

## Re

[2020-10-23 18:29] productboard-ac commented on #4963
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5952351

[2020-10-23 19:28] golddove opened #4964 "[Android] Image sizing regression in several configurations"
# Platform

* Android

# Version of SDK

20.09

# Details

Image sizing changed in 20.09. Appears to be a regression.

Size: small, medium, large are being stretched
Size: large, stretch in a column are being shrunk/stretched incorrectly

Using the latest payload at `v1.2/Test/ImageSizing.json`

Previous behavior in `20.08`:
![sizingregress2](https://user-images.githubusercontent.com/4442788/97043

[2020-10-23 19:46] jwoo-msft commented on #4912
@shalinijoshi19
it's almost done. I need to adjust 2-3 inputs before I can call it done.

[2020-10-23 20:03] shalinijoshi19 commented on #4964
@golddove assigned to you for investigation - pls update as you go along esp around 20.10 impact

[2020-10-24 00:05] niravk-microsoft commented on #4949
I think it will be great if we can try two phased approach i.e. start with the fix for potential solution and then later add feature as an alternative solution for the same. In that way, current accessibility bug gets fixed and in future as a part of feature, we are giving control to Host of card to decide where to set focus on toggle visibility.

[2020-10-25 03:27] jwoo-msft commented on #4961
@rajjagani021
Your json is missing an URL in Image which is a required property. We've adjusted our rendered to behave consistently in such cases. The change is updated on our end, and the Team is going to take the change in their next sprint post-November.

[2020-10-25 03:27] #4961 closed

[2020-10-26 05:35] rajjagani021 commented on #4961
@jwoo-msft

After adding the URL in the image, Still, the output is the same. It still renders the gray bar only.

[2020-10-26 11:00] rajjagani021 commented on #4961
@jwoo-msft

I have found the issue in  `"type": "TextBlock"` it missing the text as well and that's why it's not rendering the data properly.
Thanks for the support.

[2020-10-26 14:56] shalinijoshi19 commented on #4183
@RebeccaAnne is this still on track to getting in for 20.10?

[2020-10-26 14:58] shalinijoshi19 commented on #4964
@golddove any updates on this one? What is the impact of this bug and is this something that will impact Teams scenarios? @almedina-ms can you please chime in here?

[2020-10-26 15:17] shalinijoshi19 commented on #4402
@jwoo-msft is this still on track for this week for 20.10?

[2020-10-26 16:10] shalinijoshi19 commented on #4856
@RebeccaAnne FYI -- can we look into this one for next sprint? I've moved it out.

[2020-10-26 16:13] shalinijoshi19 commented on #4884
@RebeccaAnne is this something on your radar at all? Another one that should be addressed for 20.11 if we dont have cycles for it for 20.10

[2020-10-26 16:14] shalinijoshi19 commented on #4879
@RebeccaAnne ? I dont think we got traction on this from Paul's end before he left on leave. Can you pick it up to determine when/how this will need to be fixed - time for 20.10?

[2020-10-26 16:16] shalinijoshi19 commented on #4847
@dclaux do you mind taking a quick stab at this to understand what is going on here (pls also see @paulcam206 's comments above).. ?

[2020-10-26 16:18] shalinijoshi19 commented on #4805
Will look into this one this week ahead of providing access to private packages to the Teams folks.

[2020-10-26 16:19] shalinijoshi19 commented on #4796
@gkode closing this out since it's been stale for a bit - Could you take a look at @BalajiR 's response above and get back to us if you continue to see the issue? Thanks!

[2020-10-26 16:19] #4796 closed

[2020-10-26 16:22] shalinijoshi19 commented on #4797
@RebeccaAnne bringing this to your radar as potential discussion topic at some point.. @dclaux do we have a proposal draft that we could try to go over in one of the Wed discussions ? Thanks

[2020-10-26 16:24] shalinijoshi19 commented on #4771
@RebeccaAnne an interesting one to see if we can try to tackle as we are trying to work on our external-facing documentation.. MOved out to consider fr next sprint or maybe even the "slower" Dec sprint.

[2020-10-26 16:31] dclaux commented on #4847
@shalinijoshi19 the solution to this is to use the non-standard `-webkit-line-clamp` CSS property which was not even an option back when the JS renderer was initially implemented. That is why the renderer uses the same trick basically every other Web developer uses, which is to explicitly set `line-height` and impose a `max-height`, which only works well when the text uses a single font size, whic

[2020-10-26 16:34] dclaux commented on #4797
@shalinijoshi19 this capability is already supported in JS. The design is the one mentioned above in this very issue, which I'm pasting again here:

The JS SDK does support non standard (custom) container styles. These must be defined in your **HostConfig** in the `containerStyles` section under the `customStyles` property.

This feature is **specific to the JS SDK**, is **not supported in other S

[2020-10-26 16:36] dclaux commented on #4797
It is not a good idea to support this feature officially. It will simply open the door to creating cards that do not look good everywhere, because it depends on the host defining the custom styles (and if they don't, the best we can do is fall back to something that will simply not look good.)

[2020-10-26 16:42] shalinijoshi19 commented on #4708
@matthidinger this *may* have Accessibility implications - do we know/have we double checked with the SMEs? If not i can spin up a thread real quick..

[2020-10-26 16:43] shalinijoshi19 commented on #4570
Blocked on getting hte latest unsigned APK on my device. Following up.

[2020-10-26 16:44] shalinijoshi19 commented on #4759
@jwoo-msft what is going on with this one ? Can you add a bit more context here pls? Did we have the design discussion on tihs? Could you add a pointer to the speclet/draft here pls? Thanks

[2020-10-26 17:18] almedina-ms commented on #4964
Chiming in, it looks bad, we should fix that before our release, not even specific sizes work

[2020-10-26 17:48] shalinijoshi19 commented on #4863
@RebeccaAnne is this tracking for 20.10?

[2020-10-26 18:02] dclaux opened #4967 "[Templating] Complex expressions are not handled properly"
# Platform

- [x] JavaScript
- [ ] .NET

# Version of SDK

All versions since release

# Details

The templating engine fails to correctly interpret complex expressions such as this one:
[code]

The reason for this is the code mistakenly interprets the `}` character after `\"isVisible\": true` as being the end marker for the expression when it is actually a character within a string within the exp

[2020-10-26 18:29] shalinijoshi19 commented on #4967
@dclaux / @jwoo-msft / @RebeccaAnne this is currently in 20.11; Based on @dclaux 's offline update this looks to be in the works for 20.10 potentially - somethings to consider before actually considering it for 20.10 though:
- Will it have enough testing coverage to be able to land this wihtout regressions potentially @dclaux ?
- @jwoo-msft is this something that needs to be addressed in .NET as w

[2020-10-26 18:33] shalinijoshi19 commented on #4708
@RebeccaAnne FYI around the Accessibility question.

[2020-10-26 18:44] shalinijoshi19 commented on #4570
@almedina-ms assigning to you for load balancing and also since I am unable to get the unsigned APK of the Visualizer nightly on my mobile device

[2020-10-26 18:54] v-kydela commented on #3829
@dclaux - There seems to be some inconsistency here. You said:

But @p-nagpal said:

Can you clarify whether only numbers are accepted or only strings are accepted?

[2020-10-26 18:55] RebeccaAnne commented on #4884
@shalinijoshi19 Easy enough to pull this one in for 20.10.

[2020-10-26 19:12] dclaux commented on #3829
@v-kydela the JS SDK only accepts `number` for the `value`, `min` and `max` properties of an Input.Number. It used to accept both `number` and `string`. And it accepts integers as well as decimals.

[2020-10-26 19:56] RebeccaAnne commented on #4879
@shalinijoshi19 This tracks the larger conversation around how we want to handle versioning our schema. #4884 is the immediate issue of updating our current schema to the latest version. I've moved that one back into 20.10, but this one represents a longer term conversation.

[2020-10-26 20:16] RebeccaAnne opened #4969 "[Website Schema Explorer] ?'s in schema types"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- Website

# Details

The json used to generate the schema and schema explorer appears to use ? operators. (See for example [Container.json](https://github.com/microsoft/AdaptiveCards/blob/main/schemas/src/elements/Container.json)) Those ?'s are showing up on the website in the schema explorer, which is prob

[2020-10-26 20:17] #4899 closed

[2020-10-26 21:22] productboard-ac opened #4970 "Establish/track SLA for bugs"

[2020-10-26 21:22] productboard-ac commented on #4970
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5404052

[2020-10-26 22:32] RebeccaAnne commented on #4863
@shalinijoshi19 No. A fix for one of the three issues will make the 20.10 payload, but one needs the sample updates that are tracking for after partners move onto 1.3, and the other hasn't been fully investigated yet.

[2020-10-27 00:02] v-kydela commented on #3829
@dclaux - Well then it's very strange that people are reporting that the `value` property only accepts a string

[2020-10-27 00:57] dclaux commented on #3924
I wasn't able to attend the meeting (last week?) so I would like to share my opinion now that's I've been able to review the above.

- **Data.Query**: I am really not sure why we need to move away from the **"Action."** prefix here. "Action." means "this is the action that is performed as a result of <whatever>" and I don't see why it couldn't be **Action.Query**, meaning "the action is to query".

[2020-10-27 02:04] #4687 closed

[2020-10-27 02:32] rithinskaria commented on #4925
@dblyth-msft Yes, that resolved the issue. I wish that field came in automatically when I choose the connector. Currently, it's in additional parameter and we often tend to miss that. Thanks for your help.

[2020-10-27 02:32] #4925 closed

[2020-10-27 03:26] Vasanth-S commented on #4796
@shalinijoshi19 The issue has been discussed with the reporter and found that it's working as expected.

[2020-10-27 15:23] dclaux commented on #4967
Reopening until the bug is fixed in .NET as well.

[2020-10-27 15:33] dclaux commented on #1788
@v-kydela that is definitely possible and easy. But the drawback is that a tooltip might for an otherwise complete, non truncated piece of text, and thus be redundant.

[2020-10-27 15:39] #4912 closed

[2020-10-27 16:01] shalinijoshi19 commented on #4808
@dclaux is this on your radar ? I've moved it out to 20.11 FYI. Thanks

[2020-10-27 16:09] shalinijoshi19 commented on #4964
@golddove / @almedina-ms do we understand the issue?

[2020-10-27 16:11] #4183 closed

[2020-10-27 16:17] dipja opened #4972 "[Android][UnsatisfiedLinkError] [dlopen failed for libadaptivecards-native-lib.so file]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

Microsoft Teams

# Version of SDK

Adaptive card sdk version 2.2.0

# Details

Upgrading to the adaptive card sdk version from 2.1.0 to 2.2.0 is leading to this issue. When a call is made to the adaptive card native library there is an error which says failed to dlopen the libada

[2020-10-27 16:17] shalinijoshi19 commented on #4570
@almedina-ms / @RebeccaAnne i am moving this out to 20.11. @golddove holler if this is going to be a ship blocker.

[2020-10-27 16:18] dipja commented on #4972
@shalinijoshi19 Please help with this one.

[2020-10-27 16:20] shalinijoshi19 commented on #4972
@almedina-ms I've gone ahead and assigned this over to you. Please take a look with high priority ! thanks

[2020-10-27 16:24] shalinijoshi19 commented on #4708
@matthidinger @haridas since this is pending Accessibility Review slated for this week, I am going to have to move this out to 20.11 :(  -- The good news is that if there are no concerns raised in today's review we can pull this back in and get this checked into main && release/20.10 branches for inclusion in the 20.10 payload; Worst case we bundle this up as part of our 20.11 release next month.

[2020-10-27 17:00] golddove commented on #4964
Regression due to bumping `constaint-layout` dependency bump to `2.0.1`

[2020-10-27 17:58] dclaux commented on #4808
@shalinijoshi19 20.11 is more realistic. Thanks!

[2020-10-27 18:36] golddove commented on #4898
Validated on Android. Works on `v1.3/Tests/InputValidationTestCard.json` as expected (reads the associated label for each EditText).

[2020-10-27 18:37] #4898 closed

[2020-10-27 19:17] jwoo-msft commented on #3635
I'm closing this as this is the user experience with the sample app. I will re-open it if the issue is associated with the accessibility bugs we have.

[2020-10-27 19:17] #3635 closed

[2020-10-27 19:31] jwoo-msft opened #4974 "[All] Need a Resource Crawler"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
image async loading and inconsistent user experiences (https://github.com/microsoft/AdaptiveCards/issues/4959)
users of SDK want to have access to toggle visibility item

[2020-10-27 20:59] #4891 closed

[2020-10-27 21:09] jwoo-msft opened #4975 "[All]Event Callback Registration"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
There have been demands for customizing event handlers. Users of AdaptiveCards SDKs have customized event handlers through language features supported by the platform. I

[2020-10-27 22:21] #4888 closed

[2020-10-27 22:48] golddove commented on #4972
Unable to repro on our end using a sample project while consuming the `adaptivecards-android` library from maven. Tested both `2.1.0` and `2.2.0`, neither of which presented this error for us.

[2020-10-27 23:26] #4964 closed

[2020-10-27 23:29] #4890 closed

[2020-10-27 23:31] shalinijoshi19 commented on #4949
@niravk-microsoft even the first solution is something that is new unplanned work and effectively will need to be discussed and then estimated before we can get you a timeline for this.. Can you help us understand the relative priority of this bug for you?

[2020-10-28 00:29] #4830 closed

[2020-10-28 00:30] #4829 closed

[2020-10-28 00:35] almedina-ms commented on #4632
issue fixed by #4956

[2020-10-28 00:35] #4632 closed

[2020-10-28 02:32] shalinijoshi19 commented on #4805
@jwoo-msft  can you help take a look at this one ahead of release see if this is still an issue for builds coming out of main for JS?

[2020-10-28 14:56] kathirvGitHub commented on #4926
Hi, is this is an generic issue with Teams mobile when using cards and container? I am using the code below which works well in Teams desktop client but not on mobile. Please advise.

{
                    type: "AdaptiveCard",
                    body: [
                        {
                            'type': 'Container',
                            'items': [

[2020-10-28 15:57] #4884 closed

[2020-10-28 17:52] RebeccaAnne commented on #4805
Per discussion, these seem to be being successfully generated:
https://dev.azure.com/microsoft/AdaptiveCards/_packaging?_a=package&feed=AdaptiveCards&package=adaptivecards-designer&protocolType=Npm&version=1.2.0-ci.202010.28001.0&view=versions
https://dev.azure.com/microsoft/AdaptiveCards/_packaging?_a=package&feed=AdaptiveCards&package=adaptivecards&protocolType=Npm&version=3.1.0-ci.202010.14001.

[2020-10-28 17:52] #4805 closed

[2020-10-28 17:59] jwoo-msft opened #4980 "[iOS][Accessibility] [Input.Time/Date with a validation failure does not announce label and error after the submit]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Details
A new issue is found during the smoke test.
Input.Time/Date with a validation failure do not announce label and error messages after the submit

[2020-10-28 18:55] jwoo-msft opened #4982 "[iOS][Accessibility] [Compact Style Input.ChoiceSet Doesn't Include Placeholder text during VoiceOver]"
# Platform

* iOS

# Details
Input.ChoiceSet with placeholder doesn't include placeholder message during the VoiceOver.

[2020-10-28 21:40] RebeccaAnne opened #4983 "[JS] Spurious duplicate Id warning on templated card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Details

When loading the Show Card Wizard card via the New Card dialog, because all Ids are set to ${Id}, a warning about duplicate ids is shown. This warning doesn't apply as once the data is applied all Ids are unique.

![image](https://user-images.githubusercontent.com/9091833/9749965

[2020-10-28 23:12] matthidinger commented on #3924
Meeting 10/28

1. People picker will be customized when the `Directory` dataset is used.
- Custom item template that includes the profile image and a subtitle. Teams will pass those user properties along to the custom Fluent UI control
2. `isMultiSelect` will be supported for "people picker" out of the box, and we will work hard to ensure it works with other types of choices, pending investigation

[2020-10-28 23:46] #4980 closed

[2020-10-29 00:16] almedina-ms opened #4988 "[Android][Column Rendering] Long column content shrinks auto/fixed sized columns"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Version of SDK

main

# Details

Refer to Teams' `surveyMonkey.txt` and `imageOverlap.txt` payloads. The column with survey icon shrinks due to the long text on the right column.

Screenshot of `imageOverlap.txt` on 2.1.0 vs 2.3.1:

![image](https://user-images.githubusercontent.com/4442788/

[2020-10-29 00:37] almedina-ms opened #4989 "[Android][Rendering] Elements with "height: stretch" cause other elements to vertically shrink"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Version of SDK

main

# Details

With the revert of the constraint layout bump, an issue was unearthed in v1.2/Tests/ImageSizing.json. This bug makes some images in columns to use more height space than it should, making other elements in the column  too small (in height) to be visible

![im

[2020-10-29 02:05] #4982 closed

[2020-10-29 04:10] shalinijoshi19 commented on #4988
@almedina-ms is this a ship blocker for 20.10? @RebeccaAnne FYI

[2020-10-29 09:31] golddove commented on #4711
Cisco WebEx is using AndroidX.

Microsoft Teams is also using AndroidX.

@matthidinger what other partners should we check with about a breaking change on Android?

[2020-10-29 17:45] pateljay2 commented on #3701
Hello,
I have similar issue that every one has posted here. I have adaptive card which calls salesforce API , generate SF case and return SF case URL, which we bind to adaptive card so user can click and navigate to new case on salesforce.
Creating SF case takes about 15 seconds. Teams shows "Unable to reach app. Please try again." when user click on "Create". User will receive final card with SF

[2020-10-29 19:05] dipja opened #4994 "[Android][ChoiceSet Input] [Choiceset input (required) rendering fails inside a container]"
# Platform

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.2.0-nightly.20.10.29.1

# Details

Choiceset input (required input) is not rendered when inside a container. Could you also check for other required inputs inside a container.

![image](https://user-images.githubusercontent.com/61967816/97620461-9df4d300-1a47-11eb-9fcc-8d7b4a6f3504.png)

[Adaptive card json
](https:/

[2020-10-29 19:06] dipja commented on #4994
@shalinijoshi19

[2020-10-29 19:08] shalinijoshi19 commented on #4994
@almedina-ms assigning this to you/approving for 20.10. @RebeccaAnne FYI

[2020-10-29 19:23] #4972 closed

[2020-10-29 21:09] sam-sam-med opened #4998 "[.NET HTML][Input.Choiceset - Expanded ] Request for Horizontal Orientation/Flow"
**What platform is your feature request related to? (Delete other platforms).**

- [x] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
Yes, the feature request is related to a problem.  For the "Input.ChoiceSet" card element in "Expanded" style mode (this produces radio buttons), there isn't a horizonta

[2020-10-29 21:13] #4994 closed

[2020-10-29 21:21] jwoo-msft commented on #3930
@emelyanovkirill
Sorry about the late response. a new fix is added to iOS SDK that may help you. it still needs another piece, but you may be able to implement the piece by yourself. that is you pull image URLs from AdaptiveCards, and asynchronously load them into your app, in that way images are ready before cards are rendered.

in your resource resolver, you can return the cached image based on

[2020-10-29 21:21] #3930 closed

[2020-10-30 12:50] scottlovegrove opened #5001 "[NodeJS] ActionSet.getActionById() always returns undefined"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

Author

# Version of SDK

2.4.0

# Details

I'm trying to use `getActionById()` an an `ActionSet` and it is always returning undefined. When I look at the source code, I can see that AdaptiveCard extends `ContainerWithActions` which has a fully implemented instance of this

[2020-10-30 19:12] golddove opened #5005 "[DevOps] .NET builds fail intermittently"
# Details

CI runs have to be restarted occasionally because .NET builds fail ([example](https://microsoft.visualstudio.com/AdaptiveCards/_build/results?buildId=28480212&view=results)). Need to specify correct .NET version as a build requirement so that an appropriate system image is used.

[2020-10-30 19:16] golddove opened #5006 "[Android] Artifact is not signed with Microsoft certs"
# Platform

- [ ] Android

# Version of SDK

latest main

# Details

The `adaptivecards-android` package is signed with an adaptivecards-specific GPG key. This should be signed with Microsoft keys instead, so consumers can be sure of its authenticity.

[2020-10-30 20:18] jwoo-msft commented on #1103
closing this as the efforts will be focused on supporting Swift Manager.

[2020-10-30 20:18] #1103 closed

[2020-10-31 04:39] shalinijoshi19 opened #5010 "[NPM Release Script] Investigate typeDoc errors in our npm release step"
# Platform
NPM publishes for JS code
- [x] JavaScript

# Details
Starting with the release/20.10 branch, it looks like npx release is busted failing with various spurious errors but essentially this is the error that's causing the npx typedoc command in our release script (defined in nodejs\adaptivecards\package.json) to fail.
![image](https://user-images.githubusercontent.com/20822397/97771220-0f

[2020-11-01 11:04] mindmodel commented on #4032
Any news?

Adam

[2020-11-02 14:04] kandelabr opened #5011 "[.NET][Bot framework] [Background images not generating on containers when creating images for other channels via bot framework]"
# Platform

- [ ] .NET HTML
- [ ] .NET WPF

# Author or host
We are creating images using adaptive cards and send them to Facebook using Bot framework to Facebook channel

# Details

We are trying to create adaptive cards and use them in our Chatbot solution. In those cards we want to have different background colors in different containers within one adaptive card. We were planning to do this by

[2020-11-02 17:30] pateljay2 commented on #3701
@shalinijoshi19 Can someone take a look into my issue?

[2020-11-02 21:20] golddove opened #5014 "[Android] Input.Date doesn't receive focus on error"
# Platform

- [ ] Android

# Version of SDK

2.3.0

# Details

First invalid input should receive focus on error, but `Input.Date` doesn't receive focus.

For example, test with `v1.3/Samples/Elements/Input.Date.Label.json` and submit empty date.

[2020-11-02 21:21] RebeccaAnne commented on #4913
The solution we landed on for #4912 did not end up introducing a string that need to be localized here.

[2020-11-02 21:21] #4913 closed

[2020-11-03 06:49] almedina-ms opened #5015 "[Android][Accessibility][Input Validation] Input elements are not receiving focus after validation"
# Platform

- [ ] .NET HTML
- [ ] .NET WPF
- [X] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Version of SDK

2.3.0

# Details

Input.Time, Input.Date and compact Input.ChoiceSet input elements are not receiving focus when validation fails and those elements should be getting focus.

Currently Input.Time and Input.Date can be fixed with custom rendering and some investigation is needed to deter

[2020-11-03 10:28] Sujit-Gaikwad opened #5016 "[MS Teams][IPhone] [Carousal][Weird behavior with Action.Submit title text]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Details
Hi team,

We have seen weird behavior for adaptive card consist of only action button on iPhone teams.

we have seen that for same adaptive card complete text on Action button in adaptive card, But some time we are getting ... (Continuation dots) for same card. please check the screensho

[2020-11-03 11:19] Sujit-Gaikwad opened #5017 "[MS Teams][Adaptive card] [Getting Unicode value for single quote character in selected value for drop down text]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Windows
- [ ] MAC
- [ ] Android
- [ ] iOS

# Details

Hi team,

facing issue in adaptive card having single quotes in value of adaptive card drop down. the quotes are getting converted into Unicode character after selecting or for default value
please help us on this as this will look bad to show such

[2020-11-03 14:04] konagallasushmitha commented on #4936
Is there any workarounds for this inside adaptive cards??

[2020-11-03 14:48] dipja opened #5018 "[Android][Accessibility] [Successful submit action puts the focus on next card/element in chat]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.3.0

# Details

On successful submit action, the focus goes to the next available element/card in Teams chat. The sdk currently tries to clear the focus (Util.clearFocus() ) currently on submission of an action. This is leading to focus is

[2020-11-03 14:52] dipja opened #5019 "[Android][Accessibility] [On multiple input validation failures the card scrolls out of viewport]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.3.0

# Details

On multiple input validation failures on the same card (multiple taps on submit action) sdk tried to clear the focus first and then request the focus onto the invalid input field. This is leading to card scrolling out of th

[2020-11-03 14:55] dipja opened #5020 "[Android][Accessibility] [On input validation failure focus does not go to the first invalid input field when the first invalid field is date/time/compact choiceset]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.3.0

# Details
On input validation failure focus does not go to the first invalid input field when the first invalid input field is date/time/compact choiceset.

[2020-11-03 14:57] dipja opened #5021 "[Android][UX] [Input validation error UX does not working with inline actions]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.3.0

# Details

Input validation error UX does not working with inline actions.
[Sample adaptive card json
](https://microsoft-my.sharepoint.com/:u:/p/dipja/Efm9x-iZzrtDjWcbgne2Q2sB2y2SpP2hy18PHb4d0-tBMQ)

[2020-11-03 15:05] dipja opened #5022 "[Android][UX] [Focus/gray overlay goes to input button and input text when validation check fails for Input.Toggle]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

If you're an author, who are you sending cards to?

# Version of SDK

2.3.0

# Details

Input toggle error UX puts a gray blanket over the input as well as the text associated with it. 
Expected behavior is that the focus/gray overlay comes over just the chec

[2020-11-03 16:52] shalinijoshi19 commented on #5020
@almedina-ms to help look into this specifically around compact choiceset elements.

[2020-11-03 19:44] matthidinger commented on #3924
Updated the root issue with the final proposal and set to approved.

[2020-11-03 22:05] jyoti-ms opened #5023 "[iOS][ChoiceSet] [choice set not rendered properly for long text]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ]  iOS

# Author or host

Teams

# Version of SDK

2.3.0

# Details
Choice set text is getting clipped and choices are getting animated on selection. Tried removing the custom choice set renderer and found out issue is there with SDK itself.
Issue is reproing in sample app with this json  [inp.txt](https

[2020-11-03 22:06] jyoti-ms opened #5024 "[iOS][Accessibility] [View is getting scrolled on submit validation for input.text and input.number when voice over is on]"
# Platform

- [ ]  iOS

# Author or host
Teams

# Version of SDK
2.3.0

# Details
View is getting scrolled and hence, focus is not going to the accessibility element when we have input.text / input.number as the first failed input.

[2020-11-03 22:09] jyoti-ms opened #5025 "[iOS][Custom Action] [ Can not send additional properties to action delegates in case of custom action]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host
Teams

# Version of SDK
2.3.0

# Details
Currently we can not build target with action element. It would be good to have build target function for `BaseActionElement` so that we can send extra properties in case of custom action to the delegate function.

[2020-11-03 22:22] shalinijoshi19 commented on #5023
@jwoo-msft

[2020-11-03 22:24] shalinijoshi19 commented on #5025
@jwoo-msft this one lower/normal priority to be tackled later - Are you able to articulate the workaround here pls? Thanks!

[2020-11-03 23:25] golddove commented on #5018
On successful submit, because we cleared focus, Android automatically moves focus to another input if there is one. In Teams' case, that is the next Adaptive Card.

Fix: don't cleat focus on successful submit.

[2020-11-03 23:36] golddove opened #5027 "[Android] Focus on previously focused input does not scroll into view"
# Platform

- [ ] Android

# Version of SDK

This bug will be present once #5026 is merged.

# Details

On submit, first invalid input should receive keyboard focus, screen reader focus, and should scroll into view. However, if the input already has keyboard focus, setting focus again does not cause it to scroll into view on Android.

`v1.3/Scenarios/InputsWithValidation.json`:
![5019](https://use

[2020-11-03 23:37] golddove commented on #5019
In recyclerview with multiple cards, clear focus right before setting focus causes unpredictable scrolling. This does not repro in our visualizer, but does repro in the sample `mobilechatapp`.

Plan: remove clear focus step entirely, which will fix this issue. But, this causes less than ideal behavior in some scenarios, which we will track as a possible bug (#5027).

[2020-11-04 00:11] golddove commented on #5015
Closing as duplicate of #5020

[2020-11-04 00:11] #5015 closed

[2020-11-04 00:12] golddove commented on #5014
Closing as duplicate of #5020

[2020-11-04 00:12] #5014 closed

[2020-11-04 01:55] #5018 closed

[2020-11-04 01:55] #5019 closed

[2020-11-04 02:10] #5020 closed

[2020-11-04 02:24] #5021 closed

[2020-11-04 09:55] niravk-microsoft opened #5032 "[JS and C#][Templating Functionatity] [IsMatch AEL is not parsing RegEx properly]"
# Platform

- [ ] JavaScript
- [ ] .Net

# Author or host

We are using JS Renderer to render adaptive cards into Web application as well as we are sending Adaptive Cards to Outlook as well.

# Version of SDK

Adaptive Cards Templating Version 1.1.0

# Details

We are using isMatch AEL function. We tried to provide below regex to that and realize that we are not reaching to expected results.
E.g.

[2020-11-04 10:00] niravk-microsoft opened #5033 "[JS][Templating functionality] [isMatch AEL is not giving expected result]"
# Platform

- [ ] JavaScript

# Author or host

We are using JSRenderer to render adaptive cards to website as well as we are sending adaptive cards to Outlook.

# Version of SDK

Adaptive Cards Templating Version 1.1.0

# Details

We are using isMatch AEL function. We tried to provide below regex to that and realize that we are not reaching to expected results.

E.g.
1. [0-9]{4}-(0[1-9]|1[0-2])-(

[2020-11-04 10:10] niravk-microsoft opened #5034 "[.NET HTML][Functionality] [Toggle Visibility with Expand Collapse is not working]"
# Platform

- [ ] .NET HTML

# Author or host

we are sending HTML to Outlook along with Adaptive cards

# Version of SDK

AdaptiveCards.Rendering.HTML version 2.3.0

# Details

We are generating HTML from Adaptive cards using AdaptiveCards.Rendering.HTML, however we have noticed that Toggle Visibility within Adaptive cards is getting generated as HTML however the Toggle Visibility functionality i

[2020-11-04 13:48] SharmaHarsh7 opened #5035 "Adaptive Card Action.OpenURL Tracking"
# Platform

* Bot Framework
* Adaptive Card
* WebChat

# Author or host

Host.

If you're an author, who are you sending cards to?

# Version of SDK

Adaptive Card 1.2 / 1.3

# Issue

This is related to the **Action.OpenURL** button which we have in Adaptive Cards.
When you display an Adaptive Card to a user with some links on it (Action.OpenURL), it simply open that URL in a new tab.
Bot doesn't

[2020-11-04 17:35] #5023 closed

[2020-11-04 17:35] #5024 closed

[2020-11-04 18:13] #5025 closed

[2020-11-04 19:11] #4889 closed

[2020-11-04 19:12] #4881 closed

[2020-11-04 19:27] almedina-ms opened #5039 "[Android][Accessibility] Expanded ChoiceSet elements are not reading labels"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Version of SDK

2.3.1

# Details

When focus is set to expanded ChoiceSets (radio buttons and check boxes) the accessibility properties are not being read. While the accessibility properties are set, it's possible that the containers are getting the accessibility properties but the focus is

[2020-11-04 20:28] #5039 closed

[2020-11-04 21:12] jwoo-msft opened #5043 "[Sample] [LongFactSet Rendering Changed]"
# Platform
- [ ] Samples

# Version of SDK
10.20

With the update to the markdown, +space is considered as the list item of Markdown.
Past
![image](https://user-images.githubusercontent.com/4112696/98168269-30113700-1e9f-11eb-8f24-28eebd05e3ea.png)

Need to update the sample app.
Present
![Simulator Screen Shot - iPhone 8 - 2020-11-04 at 13 11 25](https://user-images.githubusercontent.com/4112696/

[2020-11-04 22:27] dclaux commented on #3829
I can confirm that the fix to this problem is for WebChat to update to the AC JS SDK v2.0 or later

[2020-11-04 22:30] dclaux commented on #3829
@v-kydela BTW my memory was indeed wrong, and earlier versions of the SDK only did accept string, not number. Apologies for the confusion.

[2020-11-04 22:48] almedina-ms opened #5048 "[Android][Image Rendering] Non-rendered images create app crashes"
# Platform

- [ ] Android

# Version of SDK

2.3.0

# Details

When an "rendered" image returns `null` the styling process makes use of this image. This makes the hosting app crash completely

[2020-11-04 22:48] #5048 closed

[2020-11-05 06:45] Vishnuvk33 opened #5049 "[Adaptive cards] Adaptive card is not visible in outlook web (issue is throwing in actionable messages debugger)"
Dear Team,

     Adaptive cards is not Visible in outlook web.

     While check the error in actionable message debugger it is showing as

[issuecard.txt](https://github.com/microsoft/AdaptiveCards/files/5492406/issuecard.txt)

     Whereas other cards are working fine in the same server with same originator and private key

     There is no errors in the card as  have verified it in adaptive car

[2020-11-05 16:32] #4855 closed

[2020-11-05 19:32] almedina-ms opened #5050 "[Android][Column Rendering] Column Bleed crashes"
# Platform

- [ ] Android
# Author or host

# Version of SDK

2.3.0

# Details

Due to the change of implementation from LinearLayout to FlexboxLayout, the application of Bleed property is failing for columns. The fix should be made in `ContainerRenderer.ApplyBleed` to add support for this type of containers.

Json `v1.2\Elements\Column.Bleed`
[code]

[2020-11-05 21:04] #2816 closed

[2020-11-05 21:05] #2644 closed

[2020-11-05 21:29] almedina-ms commented on #4570
assigning to @golddove

[2020-11-05 21:29] almedina-ms commented on #4612
assigning to @jwoo-msft

[2020-11-05 21:30] almedina-ms commented on #4709
assigning to @jwoo-msft  as he'll be working on accessibility fixes for iOS

[2020-11-05 21:31] almedina-ms commented on #4646
assigning @jwoo-msft

[2020-11-05 21:32] almedina-ms commented on #4552
assigning @jwoo-msft as he'll be working on accessibility fixes for iOS renderer

[2020-11-05 21:32] almedina-ms commented on #4448
assigning @golddove for the time being

[2020-11-06 09:43] RashmiMithun opened #5051 "Style tag not working in javascript AC"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host
I am host, I am just using this card in my react js application to display in the browser

# Version of SDK : 2.4

What version are you using? 1.3

# Issue

I used style tag in my adaptive cards but style tag is not applying showing white background

 {
            "type": "Con

[2020-11-06 10:09] abhishek-ghosh70 commented on #1443
Is there any update on the release of this feature?

[2020-11-06 10:11] abhishek-ghosh70 commented on #1443
Any updates?

[2020-11-06 10:38] #5051 closed

[2020-11-06 10:39] RashmiMithun commented on #5051
Due to custom styling it was not working, now it is working

[2020-11-06 18:00] v-kydela commented on #2644
@almedina-ms - Has this been fixed?

[2020-11-06 18:30] dclaux commented on #4947
@felixvanleeuwen since version 2.3 of the JS SDK, all OpenUrl actions are rendered with the `"aria-role": "link"` attribute, which should be enough to satisfy the regulation. Rendering them as an `<a>` tag is only necessary if the proper aria-role is missing, which isn't the case.

[2020-11-06 18:38] dclaux commented on #4947
Scrap what I wrote above. While that _was_ true, another accessibility change has been applied on top of it that changes buttons' role to "menuitem".

We're going to have to look into this and determine what the right solution is.

[2020-11-06 19:57] almedina-ms opened #5052 "[Android][ColumnSet rendering] ColumnSet with minHeight is generating extra view"
# Platform

- [ ] Android

# Version of SDK

main

# Details

When a column has minHeight set it's creating an extra view to force the minimum height, this creates an issue where this column is given some extra width and is generating a regression

Json:
[code]

![image](https://user-images.githubusercontent.com/35784165/98408874-bb690480-2026-11eb-8733-a06a53b9c277.png)

[2020-11-06 19:57] almedina-ms opened #5053 "[Android][Column/ColumnSet rendering] Custom Column rendering forces use of FlexBox Layout"
# Platform

- [ ] Android

# Version of SDK

main

# Details

Column rendering is tightly couple to flexbox layouts. This doesn't allow customers to override column rendering using other types of layouts

[2020-11-06 20:32] almedina-ms opened #5054 "[Android][Image rendering] Image sizes are not being respected when rendering inside a column"
# Platform

- [ ] Android

# Version of SDK

main

# Details

When images are rendered inside a column, they may shrink to allow other columns have enough space to render, this provokes behaviours as documented in #4988 , a revision must be made to verify what is the actual behaviour we want as cards as `1.2/Scenarios/FlightUpdate` expect images to shrink

[2020-11-06 21:06] golddove commented on #4960
Closing as duplicate of #4988

[2020-11-06 21:06] #4960 closed

[2020-11-06 21:31] golddove commented on #5054
Closing as duplicate of #4988

[2020-11-06 21:31] #5054 closed

[2020-11-07 02:25] almedina-ms commented on #5053
Columns can be overriden other types of Layouts, at least it supports LinearLayouts.

![image](https://user-images.githubusercontent.com/35784165/98429734-5ed50c00-205d-11eb-8cf8-c43cc9b33cd7.png)

[2020-11-07 02:25] #5053 closed

[2020-11-08 15:11] HebatallaTarek opened #5058 "[Azure Bot][AdaptiveCards in Other Channels] [Adaptive Card not displayed in Directline Channel]"
Hello , i am using  "Adaptive Cards Designer" to create new adaptive card for different bot channels , when i use webchat channel payload the adaptive card rendered successfully , but when i tried to render the same card on Directline channel using "Bot Framework Other Channels (Image render)" payload  the card was not displayed at all . i tried to use .Net render image using wpf but i t did not w

[2020-11-09 14:09] dipja opened #5061 "[Android][Column/ColumnSet rendering] [The height and width allocation in columns has been changed]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.3.0/2.3.1

# Details

The column width has been affected due to the latest implementation of columns inside FlexBoxLayout. If column width specified in the adaptive card json, it is not allocated the same in the UI. Hence, the elements ins

[2020-11-09 14:18] dipja opened #5062 "[Android][Container rendering] [The verticalContentAlignment is not working in containers]"
# Platform

What platform is your issue or question related to?

- [ ] Android

# Author or host

Microsoft Teams

If you're an author, who are you sending cards to?

# Version of SDK

2.3.0

# Details
Setting the verticalContentAlignment property in containers to center/bottom is not working.

Sample json:
`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "Adaptive

[2020-11-09 14:51] dipja opened #5063 "[Android][Inline Action] [Inline Action with image are rendered too big]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

If you're an author, who are you sending cards to?

# Version of SDK

2.3.0

# Details

Inline Action with image are rendered too big. [Sample json](https://microsoft-my.sharepoint.com/:u:/p/dipja/Efm9x-iZzrtDjWcbgne2Q2sB2y2SpP2hy18PHb4d0-tBMQ)

![image](http

[2020-11-09 23:50] Stevenic opened #5064 "[All][Background Images] Add 9-grid support"
**What platform is your feature request related to? (Delete other platforms).**

- [x] .NET HTML
- [x] .NET WPF
- [x] Android
- [x] iOS
- [x] JavaScript
- [x] UWP

**Is your feature request related to a problem? Please describe.**
I'd like to be able to use an image with rounded corners to create buttons and badges. The background image for a container lets you stretch and tile an image but that w

[2020-11-10 00:42] Stevenic commented on #4967
@dclaux FYI... You can simplify your expression:

[code]

That's the same thing as using `json()` to parse a JSON based string but way easier to write :)

[2020-11-10 10:35] Trinetra-MSFT commented on #4924
@enzanki-ars , Templating do works in adaptive card but when I checked this in power shell it is not working may be it is a Bug with powershell
![image](https://user-images.githubusercontent.com/50989436/98662930-73234c80-236e-11eb-85a3-f1636fb36796.png)

[2020-11-10 18:55] knt36 commented on #1934
Does the highlighting color change when the user is in high contrast mode? or even dark mode? and how do I control which color it changes to?

[2020-11-11 09:39] mindmodel commented on #4032
?

[2020-11-11 12:22] niravk-microsoft opened #5073 "[JS][Accessibility] [ac-horizontal-separator does not set "aria-hidden" to true]"
# Platform

- [ ] JavaScript

# Author or host

We are using JSRenderer to render Adaptive cards

# Version of SDK

Adaptive cards 2.5.0

# Details

JSRenderer is adding "ac-horizontal-separator" however it does not have "aria-hidden" property set as true which results into readers are reading this empty div which is not required to be read by reader.

[2020-11-11 12:30] niravk-microsoft opened #5074 "[JS][Accessibility] [hyperlinks i.e. ac-anchor does not allow to set aria-label property]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

We are using JS Renderer to render adaptive cards and we are also sending adaptive cards json to Outlook. Also plan is to send Adaptive cards to teams as well

If you're an author, who are you sending cards to?

Outlook and future plan is to send to teams

# Version of SDK

[2020-11-11 12:35] niravk-microsoft opened #5075 "[JS][Accessibility] [Toggle Visibility is not setting aria-expanded property to true/false on change of visibility]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

We are using JS Renderer to render adaptive cards and we are also sending adaptive cards json to Outlook. Also plan is to send Adaptive cards to teams as well

If you're an author, who are you sending cards to?
Outlook and future plan is to send to teams

# Version of SDK

[2020-11-11 12:43] niravk-microsoft opened #5076 "[All] Set Mouse cursor to Pointer for specific controls"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
ac-selectable controls e.g. ToggleVisibility using image controls or any image with submit action does not shows mouse cursor to pointer on hover, which may confuse user

[2020-11-11 12:53] niravk-microsoft opened #5077 "[All][Accessibility] Support to add aria properties"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
There is no option for host of card to add aria properties for the controls.

**Describe the solution you'd like**
Provide provision to add aria-properties to controls w

[2020-11-11 13:10] scottlovegrove opened #5078 "[UX] Unable to have two SubmitAction Buttons *and* validation"
# Platform

- [x] .NET WPF (#5137)
- [x] Android (#5152)
- [x] iOS (#5148)
- [X] JavaScript (#5136)
- [x] UWP (#5141)
- [x] Shared Model (#5139)
- [x] Schema (#5140)
- [ ] Merge feature branch to main (#5078)

# Author or host

Author

If you're an author, who are you sending cards to?

Own host.

# Version of SDK

2.5.0

# Details

With 1.3, input validation and `required` was added to some of th

[2020-11-11 19:47] shalinijoshi19 commented on #5027
@dipja is this bug something that will be an issue for the teams integration scenarios?

[2020-11-11 19:51] shalinijoshi19 commented on #4892
@dipja as part of our integration testing can we figure out if this is an upgrade blocker? @sowrabh-msft FYI

[2020-11-11 21:30] RebeccaAnne commented on #5017
@Sujit-Gaikwad We're not able to repro using the attached txt file. Please reactivate if this is still an issue for you.

![image](https://user-images.githubusercontent.com/9091833/98866571-01a4d600-2422-11eb-8711-4d89bf3f341d.png)

[2020-11-11 21:30] #5017 closed

[2020-11-11 21:35] matthidinger commented on #4924
Hi folks, templating is not currently available directly within Teams so you would have to bind the template and data in PowerShell before sending it to Teams. I'm not entirely familiar with PowerShell but if you can consume .NET packages you should be able to use this SDK and API to handle the binding:

https://docs.microsoft.com/en-us/adaptive-cards/templating/sdk#net

Sorry about the confusion,

[2020-11-11 21:35] #4924 closed

[2020-11-11 21:37] RebeccaAnne commented on #5075
Toggle Visibility as designed does not allow us to deduce expanded/collapsed for individual elements. We would need to either enhance toggle visibility or design a new mechanism to handle this scenario accessibly.

[2020-11-11 21:42] niravk-microsoft commented on #5075
What I meant was like using toggle visibility, we are expanding section and displaying further section or we can hide that section too. However reader is not reading and not giving enough explanation from accessibility perspective that specific section is visible or hide. So one way is like if we set aria-expanded as true and false based on visibility of Toggle Visibility, read reads that this sec

[2020-11-12 06:15] Abhijit-MSFT commented on #4296
There is no timeline that we can share for this.

[2020-11-12 06:57] mohitkoul commented on #3054
Lack of support responsible for death of Adaptive Card.

[2020-11-12 12:50] adumrewal opened #5080 "[iOS-Android-Desktop][Parity issue] [Shared model platforms fail to render card with invalid version number]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android
- [ ] iOS
- [ ] UWP

# Author or host

Host - Teams

# Version of SDK

Latest main

# Details

When the card json has an adaptive card version number greater than the renderer's version number, the card is not displayed on mobile whereas desktop ignores the check and renders the card successful

[2020-11-12 13:00] RashmiMithun opened #5081 "Javascript - validation error message is coming in blue color instead of red"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host
Host, using adaptive cards in web application

# Version of SDK

2.4

# Issue

I am using validation for choiceset, validation is working but error message is showing in blue color instead of red
![image](https://user-images.githubusercontent.com/66737678/98943221-2c238b80-2515

[2020-11-12 17:17] shalinijoshi19 commented on #5081
@RashmiMithun can you share your card json + host config/css configuration?
@dclaux do the validation colors get defined in our host config or via CSS?

[2020-11-12 17:30] shalinijoshi19 commented on #5058
@HebatallaTarek can you pls share your card payload here? @dandriscoll since i am still having issues transferring issues to the botframework repositories, could you pls help route this over to the right folks? Thanks again

[2020-11-12 18:33] dclaux commented on #5081
@RashmiMithun The color used for validation error messages is the `Attention` color as defined in HostConfig. The host displaying the card above has picked blue for the `Attention` color. This issue can only be solved by the host application.

[2020-11-12 20:59] shalinijoshi19 commented on #5080
@adumrewal to be clear by "invalid" you are referring to a schema version that's in the right semver syntax but it's higher than what the renderer SDK currently supports, so am limiting the discussion in my comment to that specific condition for now;  This isn't going to be backported to the release/1.2 codebase either. The ask is that we match our implementation across the JS & mobile renderers i

[2020-11-13 06:00] adumrewal commented on #5080
@shalinijoshi19 yes, you are right. The expectation as you mentioned is that both the mobile SDK and the desktop SDK should have the same behaviour for the same card payload.

[2020-11-13 06:29] RashmiMithun commented on #5081
Hi Team,
here is the card and the code to render the card using JavaScript in react application

Card :
{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.3",
    "body": [
        {
            "type": "TextBlock",
            "text": "Hello !!",
            "size": "Medium",
            "weight": "Bolder"
        },
        {

[2020-11-13 10:10] scottlovegrove commented on #5078
Thanks for updating the spec @dclaux, I was literally just coming back to comment that I'd just discovered the `ignoreInputValidation` setting in the nodejs SDK 😄

[2020-11-13 15:56] shalinijoshi19 commented on #5063
@golddove I've moved this back to 20.11 since this is coming from Teams and looks to be an upgrade blocker; @dipja could you pls confirm?

[2020-11-13 15:57] shalinijoshi19 commented on #5062
@golddove moving this back into 20.11 since this appears to be a Teams 1.3 upgrade blocker. @dipja pls confirm? Thanks

[2020-11-13 15:58] shalinijoshi19 commented on #5061
@golddove moving ths back into 12.11 since this is one of the Teams 1.3 upgrade blockers. @dipja pls confirm. Thanks!

[2020-11-13 16:00] shalinijoshi19 commented on #5049
@dclaux who on the AM team could help with this one again?

[2020-11-13 16:04] shalinijoshi19 commented on #4914
@jwoo-msft this seems to be related to our markdown handling and differences in various line break and newline escape character handling - Can you link this to the existing issue /discussion around this we've been having and is it also mentinoed in our Inconsistencies spec?

[2020-11-13 16:06] shalinijoshi19 commented on #4959
@alexwaibel thanks for reporting this issue; We are now tracking this with the #4974 feature request. Resolving this as a dup of that issue at this point.
Dup #4974

[2020-11-13 16:06] #4959 closed

[2020-11-13 16:08] shalinijoshi19 commented on #4948
@matthidinger / @dclaux we are awaiting a PM proposal/spec for this issue; Assigning it to you for follow up. Thanks

[2020-11-13 16:10] shalinijoshi19 commented on #4983
@dclaux is this something that we can address for 20.11 or should i move this out to 20.12? tx

[2020-11-13 16:11] shalinijoshi19 commented on #4989
@golddove / @dipja is this a Teams 1.3 upgrade blocker?

[2020-11-13 16:21] shalinijoshi19 commented on #5011
@RebeccaAnne officially marking it "Triage-Investigate" and retaining assignment to you.

[2020-11-13 16:22] shalinijoshi19 commented on #5016
@jwoo-msft is this on your radar for fixing for 20.11? @Sujit-Gaikwad / @dipja would this be an upgrade blocker?

[2020-11-13 16:23] shalinijoshi19 commented on #5032
@dclaux is this on your radar for 20.11 for JS? @RebeccaAnne I may need you to pitch in to help fix this for .NET in AEL

[2020-11-13 16:25] shalinijoshi19 commented on #5033
@dclaux / @RebeccaAnne can we look into this one as well for Templating (JS + .NET resp) as this is again coming from our MSApprovals partners. Thanks!

[2020-11-13 16:28] shalinijoshi19 commented on #5034
@niravk-microsoft is there a reason you are using our .NET HTML renderer? So heads up that we've been investigating deprecating it and it's not always uptodate with the latest features etc. @dclaux do you have an alternative to them using our .NET HTML renderer at all? Thanks

[2020-11-13 16:31] dclaux commented on #5078
@scottlovegrove note that it's a non official feature and it might be replaced with another model - so while it can unblock you for now, just know that it might stop working at some point.

[2020-11-13 16:49] dclaux commented on #5033
@niravk-microsoft I am not able to reproduce this using the JS versions of the templating engine and AEL (tested in the designer).

Your above expression `${if(isMatch(numberPropertyValue, '[-+]?[0-9]*\.?[0-9]+'), formatNumber(float(numberPropertyValue), 2), numberPropertyValue)}` functions as expected.

Note that your regx `[-+]?[0-9]*\.?[0-9]+` is very permissive and **does** match say "1abc0",

[2020-11-13 16:51] shalinijoshi19 commented on #5081
@RashmiMithun pls see @dclaux 's response above -- it appears the host has chosen an "Attention" color definition that is blue (not our default) - @dclaux i am assuming our default is some version of red?

[2020-11-13 16:53] dclaux commented on #5034
@niravk-microsoft this will never work in Outlook. There is no way to achieve any kind of dynamic behavior in the HTML body of an email. Action.ToggleVisibility requires client-side JavaScript execution, and there is never any custom JavaScript allowed in traditional HTML emails.

[2020-11-13 16:55] scottlovegrove commented on #5078
@dclaux as long as it is replaced with _something_ I'm OK with that.

[2020-11-13 16:56] dclaux commented on #5032
This looks like a dupe of this: https://github.com/microsoft/AdaptiveCards/issues/5033

Can we close this? I added comments to the other issue. I am not able to repro in JS (haven't tested .NET templating/AEL though).

[2020-11-13 17:02] dclaux commented on #4983
This is quite complicated to fix because it's related to templating. Besides, it's a widespread issue (you'll also get a warning if you use an expression for the "color" property of a TextBlock for instance) and not limited to Id.

Given the solution will be costly and I think it's very low priority, let's push, and honestly I don't expect to fix it anytime soon for now.

[2020-11-13 17:21] #5050 closed

[2020-11-13 17:46] namrathanithya opened #5082 "Angular 9: Get instance of service to another service without using constructor"
I am using microsoft adaptive card 2.0. I need to create some action service and pass that service to adaptive card module and from there it will execute. But while implementing I am facing issue. That action service has dependency on other services and we cant pass that dependencies from constructor.

**ActionService.js**
[code]
**AdaptiveCard service**
[code]
Here the problem is, from adaptive m

[2020-11-13 19:02] shalinijoshi19 commented on #4967
@jwoo-msft i've moved this out to 20.12 for now but do you have cycles to look into this in 20.11? @RebeccaAnne for FYI in case you are able to load balance if the Approvals team comes back wtih requests to accelerate this delivery in .NET

[2020-11-13 19:04] shalinijoshi19 commented on #3703
@jwoo-msft I've moved this to 20.12 but not backlogging to allow us to deliver the sample app to them.

[2020-11-13 19:15] golddove commented on #5027
Will investigate in 20.12 if fixing this is possible without re-introducing issue #5019. If not possible, this will likely be closed as by design. As spec'd, scrolling to the focused input will only be done to the extent the platform supports it (e.g. on ios, we do not scroll to focused inputs).

[2020-11-13 20:06] dclaux commented on #5073
@niravk-microsoft I am not able to repro this. "aria-hidden" is already correctly set to true in the 2.5 release (and that was already true in 2.4 IIRC):
![image](https://user-images.githubusercontent.com/1334689/99116282-9cc7b800-25a8-11eb-9ed8-7d5f333221a3.png)

[2020-11-13 20:14] dclaux commented on #5074
@niravk-microsoft could you elaborate on what exactly you would like to be able to do?

There are only two ways <a> tags are generated by the JS SDK:
- Via Markdown processing, in which case the best that could be done would be to set the aria-label to the same thing as the link's description. That would be useless since the link's description is already what is read by Narrator
- On `TextRun`s th

[2020-11-13 20:54] #5052 closed

[2020-11-13 21:55] #5062 closed

[2020-11-13 22:03] golddove commented on #5061
`bleed.json` duplicate of #5050
Second card in docx is dup of #5056
All others seem to be duplicate of #4988

[2020-11-14 00:01] VMey commented on #2170
Have any more details on this been worked out?  I'm having a similar issue trying to use the adaptive cards designer and render an image from MS Graph API

[2020-11-14 01:22] #5001 closed

[2020-11-16 05:48] dclaux commented on #5049
This is being handled by the AM team offline. Closing.

[2020-11-16 10:22] dipja opened #5083 "[Android][Column Rendering] [The elements inside the column do not get correct type of the parent view]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.3.1

# Details

A `mockLayout `(parent) in `CardRendererRegistration `is sent to the element renderers in sdk code. This `mockLayout `is set to FlexboxLayout in case of columns and LinearLayout in case of other elements. Actually this `moc

[2020-11-16 10:52] dipja commented on #4989
@shalinijoshi19 / @golddove This is regression from the earlier behavior. It would be good if we can fix this. (Currently I do not have any card from Teams where height is stretch inside columns.)

[2020-11-16 10:53] dipja commented on #5083
@shalinijoshi19 I have discussed this with @golddove. It would be a small condition change in the code.

[2020-11-16 11:16] RashmiMithun commented on #5081
Thanks for the response @shalinijoshi19 and @dclaux
Could you guys please tell me what I have to do to get the webchat styles into my react application?
is there a way to specify the webchat container styles into react app while rendering the card?
need to explicitly set the hostconfig?

[2020-11-16 12:11] naramaka commented on #3225
Any update or closure on this issue ? I am facing it. and every time it gives different error.

[2020-11-16 16:26] dclaux commented on #5081
You would have to simply use WebChat as is instead of overriding its out-of-the-box HostConfig.

[2020-11-16 16:34] RashmiMithun commented on #5081
Could you please tell me how to use?

On Mon, 16 Nov 2020, 9:56 pm David Claux, <notifications@github.com> wrote:

[2020-11-16 16:43] dclaux commented on #5081
Documentation on how to customize the WebChat UI is available here: https://github.com/Microsoft/BotFramework-WebChat

As a starting point though - you must have written explicit code to override out-of-the-box settings and get that blue color you don't want. Maybe start by removing that custom code?

[2020-11-16 17:18] golddove commented on #4989
@dipja that card is not affected by this. This bug repros when an element uses height: stretch within a column. Do you have production cards affected by this? That would help with testing.

[2020-11-16 17:30] dipja commented on #4989
@golddove I did not find any such card from known apps in Teams Microsoft tenant. There could be number of external apps which might be using this property in their respective adaptive cards which could lead to regression.

[2020-11-16 18:23] golddove commented on #4570
Verified as fixed.

[2020-11-16 18:23] #4570 closed

[2020-11-16 19:15] golddove commented on #4914
Also noticed this in our `v1.2\Scenarios\FlightDetails.json` sample:

![image](https://user-images.githubusercontent.com/4442788/99296394-b1a88380-2814-11eb-9130-851b44db8743.png)

Is this an outcome of one of the inconsistency discussions? @jwoo-msft

[2020-11-16 20:09] shalinijoshi19 commented on #4989
@dipja since we are operating on very limited (read 1 :( ) resource for Android if we don't have known cases of Teams customer cards/scenarios that are running into this then I am going to for now remove the 1.3 blocker upgrade tag and move this out to 20.12 to allow us to focus on the first batch of identified blockers at this point --  does that sound good? ?

[2020-11-16 20:19] shalinijoshi19 commented on #5061
@dipja closing this one out since we have the ones above tracking the issues raised in this combined bug.
#duplicate #5050, #5052, #4988

[2020-11-16 20:19] #5061 closed

[2020-11-16 20:21] shalinijoshi19 commented on #5063
@golddove pls update with your investigation notes and whether this can land for 20.11. Thanks!

[2020-11-16 20:23] shalinijoshi19 commented on #5083
Thanks. @golddove pls keep this issue posted with results of your investgation. thanks

[2020-11-16 20:40] shalinijoshi19 commented on #3919
@anbah34 did the June release wtih the fix go out?  Could you drop a link to the release here for reference at all?

Also @DeeJayTC / @SiarheiKuchukBelitsoft closing this issue out now; Pls feel free to file a new one or reactivate if you find this is not fixed with the latest Teams release

[2020-11-16 20:40] #3919 closed

[2020-11-16 21:30] shalinijoshi19 commented on #3708
@anbah / @vikrantsingh01 is this still on for Q2?

[2020-11-16 21:44] shalinijoshi19 commented on #4989
N/m; Looks like #5061 needs this.

[2020-11-17 01:07] Puntherline commented on #1443
Yes, it's been added to the [Milestone 8 Backlog](https://github.com/microsoft/AdaptiveCards/milestone/8). Just gotta wait and see if it will actually make it in or if it might be cancelled due to security concerns.

[2020-11-17 08:28] Trinetra-MSFT commented on #4096
@shalinijoshi19 , Can you help to close this, This is resolved now

[2020-11-17 09:26] SMichalet opened #5086 "[MS Teams] [Adaptive Cards] [Multiline input text does not allow explicit break line from the user]"
# Platform
What platform is your issue or question related to? (Delete other platforms).

- [ ] Windows - MS Teams

# Details

Hi teams !

I am trying to do a simple adaptive card which contains a multiline input text.

The json card :
[code]

In the visualizer, I can correctly break the lines in the input by pressing Enter.

![image](https://user-images.githubusercontent.com/2147094/99370660-4287

[2020-11-17 10:04] #4096 closed

[2020-11-17 10:12] janandreschweiger commented on #4096
Thank you 😍! I recognized the change yesterday. Really awesome work of you guys!

In addition, I experienced another major change. When users submit their cards, the value (e.g. TextField input) persists. This is great, because we no longer need to update the cards (e.g. Otherwise the inputs are lost, if the action fails).

Do you know if these two changes are permanent? Is there any way to learn

[2020-11-17 14:15] kahopkin commented on #1788
@dclaux: it would be better to have some redundancy than not being able to show the full text at all.  Right now we don't have control where the text gets truncated and also no way of showing the full text, which kind of makes it not user friendly. How am I supposed to show the full text for like a title element in the card?  It is a basic html property, easily done in javascript also, but not wit

[2020-11-17 17:50] manujai opened #5087 "[Android/iOS][Renderer] [iconUrl UI issues for Actions]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
- [x] Android
- [x] iOS

# Author or host
Host on Webex Teams

# Version of SDK
1.2.12 for Android, 2020.10 (latest master as of Oct 27th) for iOS

# Details
The Action buttons has UI issues when iconUrl is used on both Android and iOS

Button text pushes itself to the right instead of aligning itself to the

[2020-11-17 20:01] shalinijoshi19 commented on #4339
1. is already taken care of by @paulcam206 ;
2. is likely the reason we are continuing to be flagged.

[2020-11-17 20:48] gaurav0921 opened #5088 "[iOS] Input.Date renders blank despite of having "value" property set, and behaviour of Date picker is not very intuitive"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host on Webex Teams

# Details

To start with Input box for Input.Date renders blank despite of "value" property being set.
Sample JSON:
{
    "type": "AdaptiveCard",
    "body": [
        {
            "type": "ColumnSet",
            "columns": [
                {

[2020-11-17 21:08] #5032 closed

[2020-11-17 21:09] niravk-microsoft commented on #5032
Closing this as it is duplicate of #5033

[2020-11-18 05:11] manujai commented on #5087
[iconUrl.docx](https://github.com/microsoft/AdaptiveCards/files/5557883/iconUrl.docx)
json payload

[2020-11-18 11:50] aroraketan opened #5091 "[Javascript][Extensibility] [Rendering breaks on registering custom element for multiple/expanded choiceset]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

Host: Microsoft Teams (Multi-window).

# Version of SDK

JS v2.5.0.

# Details

On registering a custom element for ChoiceSet , the rendering started breaking with following error:
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/16015962/99526987-15bc

[2020-11-18 11:54] aroraketan opened #5092 "[JavaScript][Extensibility] [Min/max limit not set on number input]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

Host: Microsoft Teams (multi-window).

# Version of SDK

JS v2.5.0.

# Details

On a custom number type input, if the limit `min`/`max` is set to `0`, it is set as `undefined` and hence the range validation is not effective.

[2020-11-18 18:09] shalinijoshi19 commented on #5091
@dclaux are you able to help take a look ? @golddove who;d been investigating

[2020-11-18 18:10] shalinijoshi19 commented on #5092
@dclaux are you able to take a look at this real quick? @golddove who;d been investigating with the Teams dev.

[2020-11-18 18:11] shalinijoshi19 commented on #4844
@jwoo-msft what is still pending for this issue to be closed at this point?

[2020-11-18 18:29] dclaux commented on #5091
@aroraketan This isn't a bug. If your custom control extends `ChoiceSetInput` and you override its `internalRender` method which is normally responsible for initializing `_toggleInputs`, then you also have to override all other methods that rely on how the control is rendered. That includes `protected updateInputControlAriaLabeledBy()`, `protected internalApplyAriaCurrent()` and `get value()`.

[2020-11-18 18:35] jwoo-msft commented on #4844
@shalinijoshi19, I need to close on accessibility issues, I'm aiming for 20.12.
Thanks

[2020-11-18 18:38] dclaux commented on #5092
@aroraketan given that this cannot be reproduced with the default implementation of `NumberInput`, and assuming that your custom `NumberInput`:
- Extends the base `NumberInput`
- Replaces its rendering by overriding `internalRender`

My conclusion would be that your custom control code doesn't properly set the min and max values on your replacement control. Please check that and let me know.

[2020-11-18 18:46] dclaux commented on #5092
Scratch the above - there is indeed a bug in the base `NumberInput` implementation whereas if `min` or `max` are set to 0 they are not set on the input control.

I will fix today.

[2020-11-18 20:05] aroraketan commented on #5091
@dclaux the custom control class won't be able to initialize `_toggleInputs` as it is `private` to `ChoiceSetInput`.
My concern here is that just upgrading SDK should not break the existing rendering logic which happened in this case.
With previous instances of its usage, SDK had safe checks as mentioned in above description. I feel this check should always be made before using this property. The

[2020-11-18 20:52] dclaux commented on #5091
@aroraketan that's not the point - the default implementation creates toggle inputs and stores them into a private variable, then uses that variable later for aria-related logic. Your code replaces the default rendering. You are likely creating your own toggle inputs or something like that. The aria-related logic therefore also needs to be overridden so it applies to the elements your rendering lo

[2020-11-18 20:56] #5092 closed

[2020-11-18 21:04] dclaux commented on #5091
And by the way you actually don't have to override `protected internalUpdateAriaCurrent()`.

[2020-11-18 22:12] dclaux commented on #5091
Since I was fixing something else, I decided to "fix" this as well, see this PR: https://github.com/microsoft/AdaptiveCards/pull/5094

By "fix" however the only thing I'm referring to is that your code won't break anymore. However, you still **have** to override additional methods in order for your custom ChoiceSetInput to function properly (e.g. participate in the input validation sequence and co

[2020-11-19 09:23] golddove commented on #5083
This should no longer be a blocker for Teams, after #5085 is merged. Nonetheless, the logic here should be fixed for future-proofing.

[2020-11-19 09:46] akaashdev opened #5096 "[iOS][Image Rendering] Few images breaks when framework is built with Optimizations"
# Platform

- [ ] iOS

# Version of SDK

 - 2020.10 (latest master as of Oct 27th)

# Details

Few card constraints seems to be breaking when the framework is built with Optimization **-0s (Fastest and smallest)**
These cards work fine in Debug builds, i.e when built with Optimization **-0none**

#### Built with Optimization
<img alt="IMG_0089" src="https://user-images.githubusercontent.com/177497

[2020-11-19 14:57] gaurav0921 opened #5097 "[Android] Input.Date renders with current Date instead of date declared in "value" property"
# Platform

- [ ] Android

# Author or host

Host on Webex Teams

# Details

While using Input.Date, card renders with input box populated with current date instead of date declared in "value" property.
Sample JSON:
{
"type": "AdaptiveCard",
"body": [
{
"type": "ColumnSet",
"columns": [
{
"type": "Column",
"items": [
{
"type": "TextBlock",
"weight": "Bolder",
"text": "Adaptive Cards Sample",
"hori

[2020-11-19 16:12] matthidinger opened #5098 "[Website] ToggleVisibility sample action text is not readable"
![image](https://user-images.githubusercontent.com/1432195/99692195-e26c0100-2a3e-11eb-8e26-046c0f289c42.png)

---
* URL: https://adaptivecards.io/explorer/Action.ToggleVisibility.html

[2020-11-19 20:12] golddove opened #5099 "[All][Inputs] Retrieve all inputs"
# Platform

- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [x] JavaScript - this has always been supported in JS via the `getAllInputs()` method. Since we've introduced input validation, JS also sports a `getReferencedInputs()` on the base `Action` class which allows the retrieval of only those inputs that are referenced by a given action.
- [x] UWP

# Author or Host

Host - Cisco WebEx

# Version

SDK

[2020-11-20 01:10] dclaux opened #5100 "[JS][Templating] Template engine broken after change in AEL"
# Platform

- JavaScript

# Description

As of version 4.10, AEL has introduced a change in the way it generates a root `concat` expression. Namely, it now always prepend an empty string constant.

This unfortunately break our templating logic.

This is a high priority issue as Search depends on it.

Because of this issue, the AEL team is now committing to providing a built-in solution to somethin

[2020-11-20 01:46] jwoo-msft commented on #5100
@dclaux, I checked .NET. the issue isn't reproducible.
![image](https://user-images.githubusercontent.com/4112696/99747098-0ce5aa80-2a8f-11eb-8965-bd848520dccf.png)

[2020-11-20 01:47] dclaux commented on #5100
Great

[2020-11-20 16:41] shalinijoshi19 commented on #5083
Thanks. Moving this to 21.01 and removing the blocker tag. @dipja FYI.

[2020-11-20 17:13] matthidinger commented on #4339
I've reached out to the Xceed package owners for clarification on license terms and how we can align our license to be in compliance with them. Will report back when I hear from them

[2020-11-21 02:48] jwoo-msft commented on #5033
@niravk-microsoft

This is not reproducible on dotnet template
`{
"numberPropertyValue":  "30.01234"
}`

`{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Image",
      "url": "https://adaptivecards.io/content/cats/1.png",
      "test": "${if(isMatch(numberPropertyValue, '[-+]?[0-9]*\.?[0-9]+'), form

[2020-11-23 07:16] anbah34 commented on #3708
@shalinijoshi19 The capability of bots to send and receive files is now shipped on mobile clients This only exists as a capability in a 1:1 chat with the bot (Not in group chat/ channel context). This is now in parity with desktop.

You can mark this ticket as clised

[2020-11-23 07:18] anbah34 commented on #3919
@shalinijoshi19 yes this was fixed back in June/ july and can be checked/ validated on the current store build.

Change made - Buttons wrap in a card rather than being shown horizontally

[2020-11-23 07:21] JamyDev commented on #3924
@matthidinger under the `Data.Query` definition, it looks like the `dataset` is defined as all lowercase, but in the examples `dataSet` is written in camelCase. Am I right to assume the camelCase version is the correct one?

[2020-11-23 11:54] Yagorundy opened #5103 "[Developer] Adaptive card conditionals don't work in the WebChat and in the Emulator"
Example adaptive card
`{
    "type": "AdaptiveCard",
    "$data": {
        "price": 35
    },
    "body": [
        {
            "type": "TextBlock",
            "$when": "${price > 30}",
            "text": "This thing is pricy! ${if(price == 50, 'Price is 50', 'Price is not 50')}",
            "color": "attention"
        },
         {
            "type": "TextBlock",
            "$when": "${p

[2020-11-23 12:09] Yagorundy commented on #5103
I moved this to the BotFramework-WebChat

[2020-11-23 12:09] #5103 closed

[2020-11-23 17:41] shalinijoshi19 commented on #4418
@Gunashree-R-V is this an issue that is still repro'ing with the latest 2.x version of the Android renderer?

[2020-11-23 19:53] #4701 closed

[2020-11-23 19:57] RebeccaAnne commented on #5033
Per @jwoo-msft's comment above removing .NET from the title/description

[2020-11-23 20:01] niravk-microsoft commented on #5073
Yes true. Actually we were using 2.4.0 version. with 2.5.0 its working and hence closing this now.

[2020-11-23 20:01] #5073 closed

[2020-11-24 17:09] matthidinger commented on #2170
Hi folks, I'm going to close this as a duplicate of #4763 - but we don't have a plan to solve it just yet. It is higher up on the priority stack though, so hopefully we can make some traction on it in 2021.

[2020-11-24 17:09] #2170 closed

[2020-11-24 17:09] matthidinger commented on #2170
Dupe of #4763

[2020-11-24 17:30] matthidinger commented on #3924
@JamyDev I did some quick internet searching and it appears that Dataset is all one word lowercase. So I will update the spec accordingly. @dclaux sound good?

[2020-11-24 17:31] #5091 closed

[2020-11-24 17:35] dclaux commented on #3924
@matthidinger yes, one word all lowercase.

[2020-11-24 17:55] jyoti-ms opened #5105 "[iOS][Input ChoiceSet] [Text is getting clipped when wrap:true is not being set]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] iOS

# Author or host

Microsoft Teams

# Version of SDK

2.3.0
# Details

When text wrap prop is not set to "true" in `input.choiceset` then text is getting clipped and that is expected also.
But the issue here is three dots should be shown at the end of the text instead of text getting clipped.

<img

[2020-11-25 04:15] jwoo-msft commented on #5088
@gaurav0921 as we have discussed, the value has to be in the specific format, 'YYYY-MM-DD'.
iOS 14 has changed the look of date and time picker view to the current state. Updated in PR 5016 for address the issue.

[2020-11-25 08:55] Nikitha-MSFT commented on #3919
Bug is Resolved now, we have tested this at our end, could you please also check and confirm?
The issue is with the Teams client which is fixed now.

[2020-11-25 13:42] atishayv opened #5108 "[Javascript] Enhance adaptivecards-fabric library by supporting fluent ui elements"
**What platform is your feature request related to? (Delete other platforms).**

- JavaScript

**Is your feature request related to a problem? Please describe.**
We are using adaptive card to display search results in Microsoft search. However some of our search results is displayed with extensive UI containing few elements like **breadcrumb** :

We want to render these search results using adapti

[2020-11-25 13:43] atishayv commented on #5108
@jaisanth

[2020-11-25 13:47] dipja opened #5109 "[Android][Rendering fallback elements] [fallback element is not rendered if parent element's isVisible property is false]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

2.3.2

# Details

Fallback element is not rendered if parent element's isVisible property is false. Same is observed in adaptive card sample app. Is this expected. (Its not how its on js sdk)
[sample json](https://microsoft-my.sharepoint.com

[2020-11-25 16:48] dclaux commented on #5086
@SMichalet I cannot repro this in Teams - with that same card, if I press Enter, I get a new line. This might have been a bug that is now fixed.

@siduppal bringing this to your attention.

[2020-11-25 17:20] #4989 closed

[2020-11-26 04:43] baole commented on #5086
@dclaux our customer reported this issue. Today I tested it on different apps, if I pressed Enter
- I got a new line in Teams native app/Mac OS
- No effect in Teams/Web App/Chrome/Mac OS
- No effect in Teams/Web App/Edge/Mac OS

It definitely doesn't work on browsers.

[2020-11-26 07:46] aroraketan opened #5111 "[JavaScript][Input.Number] [Type of value has changed with latest update]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

Host: Microsoft Teams (multi-window).

# Version of SDK

JS v2.5.0.

# Details

The `value` prop of **Input.Number** has changed from `string` type in v1.2.5 to `number | undefined` type in v2.x.
This can potentially break existing host scenarios.
![image](https://user-ima

[2020-11-27 04:01] dclaux commented on #5086
I have tested with the AC JS SDK and cannot repro this. This is a Teams issue, please reach out to Teams support.

[2020-11-27 05:07] baole commented on #5086
Just for information, I use REST API and here is my response to a dialog "invoke"

[code]

Which rendered as below screenshot:

![image](https://user-images.githubusercontent.com/1460168/100413110-cdaeef00-3076-11eb-8c39-2646d77f0a9e.png)

The dialog works perfectly with Enter key on native Mac OS app, but doesn't work on any browsers

[2020-11-27 22:17] fabiank0 opened #5113 "[msTeams]Some images do not get rendered in chat, while App Studio shows them perfectly [Adaptive Cards]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android
- [ ] iOS
- [ ] JavaScript

# Author or host

Microsoft Teams

# Version of SDK

1.6
# Details

Some images in Adaptive Cards do not get rendered, so for instance I built an example with App Studio:

Preview from App Studio Card Editor, image gets shown as intended:
![Screenshot 2020-11-27 at 2

[2020-11-29 12:38] MichaelBuczek opened #5114 "[.NET HTML][Extended character set] [different results in different bot channels]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML

# Author or host

Sending adaptive cards from a bot in MS bot framework to various channels

# Version of SDK

latest main

# Details
These are the results of reading appsettings.json in the same adaptive card in the bot framework emulator and the bot framework test environment for the app s

[2020-11-29 23:21] johnnycardy opened #5115 "[.NET][NuGet package] Support for the autoInvokeAction property in AdaptiveCard class"
When building an adaptive card in .NET using the NuGet package, it's not currently possible to set the autoInvokeAction property.

[2020-11-29 23:53] johnnycardy commented on #5115
I suspect this is an outlook-specific property and therefore won't be implemented...

[2020-11-30 08:23] JamyDev commented on #3924
Another question came up:

Should the static choices be ignored if we receive a set back from the server, or should they be merged. Based on the line `The Input choices property is set to the array returned by the backend` I am guessing replace, and only render the static choices if the server fails to reply?

[2020-11-30 14:41] shalinijoshi19 commented on #5115
That's accurate it [is](https://docs.microsoft.com/en-us/outlook/actionable-messages/auto-invoke#:~:text=The%20autoInvokeAction%20property%20is%20an%20Outlook-specific%20property%20added,that%20will%20provide%20the%20updated%20Adaptive%20Card%20payload). @johnnycardy if this is a tooling request perhaps better suited for that page as feedback so the right team can help? What precisely were you hop

[2020-11-30 14:47] shalinijoshi19 commented on #5113
@fabiank0 it might be useful if you can share some of the card json here for the cards giving you trouble. Also tagging the Teams support team here for an initial pass at this to reconcile the Appstudio vs teams chat renderering inconsistency;

[2020-11-30 14:51] shalinijoshi19 commented on #5098
@matthidinger still on your radar for fixing? Approving and retaining assignment to you. Thanks

[2020-11-30 14:53] shalinijoshi19 commented on #5097
@golddove is this something that you've had a chance to look at at all (it;s one of hte Cisco reported bugs).

[2020-11-30 14:54] shalinijoshi19 commented on #5096
@jwoo-msft thoughts on this one?

[2020-11-30 16:17] johnnycardy commented on #5115
@shalinijoshi19 I'm using the .NET AdaptiveCards library to build an Outlook actionable message. I was hoping to add the autoInvokeAction but I can see that is not appropriate. Thanks for your reply.

[2020-11-30 16:17] #5115 closed

[2020-11-30 16:24] dclaux commented on #3924
@JamyDev yes the static choices should only be used if the backend doesn't respond. @matthidinger you OK with that?

[2020-11-30 16:51] shalinijoshi19 commented on #5087
Hello @manujai note that we are no longer on master but main. (_Just wanted to make sure that was a typo in the issue description and that you weren't actually referencing our old branch_).. is this somethign that is repro'ing for our latest main/2.x bits?

[2020-11-30 16:54] shalinijoshi19 commented on #5086
Hey @siduppal bringing this to your attention for helping out on the Teams side pls? Thanks!

[2020-11-30 17:29] siduppal commented on #5086
There was a recent bug introduced impacting this functionality which has been addressed and the fix is rolling out.

[2020-11-30 17:31] shalinijoshi19 commented on #5111
@dclaux isn't this related to the Input.Number string vs int discussions we'd been having as part of #3287 earlier this year.. I know we were going to modify the code to accept both number and string types for backwards compatibility. Is that something that is potentially addressed with #5093 ?

[2020-11-30 17:34] dclaux commented on #5111
@aroraketan @shalinijoshi19 this is by design. The behavior was changed because the JS SDK's behavior didn't match that of the other SDKs.

[2020-11-30 17:40] shalinijoshi19 commented on #5082
@dclaux can you take a first pass at this one? Thanks

[2020-11-30 17:43] shalinijoshi19 commented on #5080
@RebeccaAnne heads up -- this should be a relatively easy discussion and fix i think .. Can we chat a bit about this at one of the design discussions say this week?

[2020-11-30 17:44] shalinijoshi19 commented on #5078
@RebeccaAnne  can you update with the details on what work will be required here on the sharedmodel platforms?

[2020-11-30 17:48] shalinijoshi19 commented on #4708
Moving this out to 21.01 to allow time for accessibility fixes + test passes.

[2020-11-30 17:49] shalinijoshi19 commented on #5109
@golddove is this something you are aware of and looking into as part of the 1.3 upgrade conversations with Teams?

[2020-11-30 17:51] shalinijoshi19 commented on #4844
@SagarPant74 / @jwoo-msft is this a 1.3 upgrade blocker for Teams do we know? Can we find out to help prioritize? Tx

[2020-11-30 18:10] RebeccaAnne commented on #5078
Assuming the agreed upon design spec'd here: [ignoreInputValidation.md](https://github.com/microsoft/AdaptiveCards/blob/main/specs/DesignDiscussions/ignoreInputValidation.md). In the shared model itself we need to introduce the `associatedInputs` property with the values `auto` and `none`. Then each platform would need to check that property on submit. If it is `none` the code needs to skip both v

[2020-11-30 18:30] golddove commented on #5109
This was not considered a 1.3 blocker. @dipja, can you please confirm?

[2020-11-30 18:56] #5063 closed

[2020-11-30 19:03] manujai commented on #5087
@shalinijoshi19 I was referring to the main branch and not master. This issue can be seen in the 2.x bits as well.

[2020-11-30 19:25] saidevgit opened #5117 "[Designer] [adaptivecards.io: Sample Card are not working for outkook client]"
I have taken a sample card from here

https://adaptivecards.io/samples/ExpenseReport.html

But when I am trying to use for out look client with version 1.0 it gives below error.

[Parse] Property "bleed" is supported in version 1.2, but you are using version 1.0.
[Parse] Property "height" is supported in version 1.1, but you are using version 1.0.
[Parse] Unknown element type "ActionSet". Fallback

[2020-11-30 21:28] shalinijoshi19 commented on #5111
@paulcam206 to pick this up to address the breaking change aspect of the original change for JS.

[2020-11-30 21:29] paulcam206 commented on #5111
also need to update schema and enumerate proximal changes

[2020-11-30 21:31] dclaux commented on #5111
@shalinijoshi19 what is there to address?

[2020-11-30 21:31] shalinijoshi19 commented on #5109
@paulcam206 pls update with expected behavior fallback here (is there a link to the fallback spec we can add/reference here?) ; there seems to be a difference in behavior between JS & the rest of the shared model platforms.
Waiting to hear from @dipja before removing the "1.3 upgrade blocker tag".

[2020-11-30 21:40] shalinijoshi19 commented on #4844
@jwoo-msft removing the Upgrade Blocker tag from this issue; Please articulate/summarize the remaining work here including any broader resource resolver feature work to close this out for planning. Thanks!

[2020-11-30 21:44] shalinijoshi19 commented on #5087
Moving out to 21.01 since we havent had a chance to investigate this ahead of the other 1.3 upgrade blockers/Accessibility issues. @jwoo-msft / @golddove pls update with comments here as you investigate.tx

[2020-11-30 22:00] v-kydela opened #5118 "[Designer] Tooltips obscure content at the top of the card payload editor"
Ordinarily when you mouse over an element's JSON property in the card payload editor, the tooltip is correctly shown sufficiently far above the text so that the text can still be read.

![image](https://user-images.githubusercontent.com/41968495/100670802-44b4e380-3314-11eb-8dc5-df9592d52c82.png)

However, when the element is near the top of the panel, the tooltip is shown in front of the text, ri

[2020-11-30 22:13] shalinijoshi19 commented on #5111
Referencing #3829 which was the issue filed by the BotFramework team around the same issue. @paulcam206 / @dclaux FYI.

[2020-11-30 22:13] shalinijoshi19 commented on #3287
Tracking with #5111 , #3829
![image](https://user-images.githubusercontent.com/20822397/100672070-3cf63e80-3316-11eb-89bf-828a369c6f3d.png)

[2020-11-30 22:13] #3287 closed

[2020-12-01 03:09] Nikitha-MSFT commented on #5113
We are looking into it.

[2020-12-01 07:17] Nikitha-MSFT commented on #5113
Is your image is public? App studio will render the images which are public, It does not load the images which are in the private. Could you please try by using the public image. Try if that helps.

[2020-12-01 07:51] #5081 closed

[2020-12-01 07:51] RashmiMithun commented on #5081
I have included hostConfig  and the CSS of webchat solved the issue

[2020-12-01 08:10] Trinetra-MSFT commented on #4677
This is expected behavior with the "escape" rule in the CommonMark Spec - played around with the example (https://spec.commonmark.org/0.15/#backslash-escapes). Will have to investigate what the impacts are in disabling the "escape" rule - so far, it seems that by disabling the rule, there would be no way to escape Markdown rules (i.e. if there is something that is considered as Markdown, it would

[2020-12-01 09:29] RashmiMithun opened #5120 "how to reset the form in adaptive card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host
host

# Version of SDK

2.4

# Issue

I am new to the adaptive cards and till now I have not tried with resetting the form. I don't have any idea how to clear the selected values in adaptive cards. Could any one please help me

[2020-12-01 17:03] fabiank0 commented on #5113
@Nikitha-MSFT The image is hosted on Firebase Storage, but a token is provided in the image url link, as such it is public. This error only happens with some images, most work fine, which makes this issue a bit confusing to me.

This is the adaptive card in question, from App Studio inside Teams.

[code]

[2020-12-01 19:14] #4988 closed

[2020-12-01 22:44] golddove commented on #5078
@golddove working on shared model changes

[2020-12-01 22:49] UncleZen opened #5122 "[ReactNative]TextInput max length issue"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] React Native
# Details

There is a bug in this line of code:

https://github.com/microsoft/AdaptiveCards/blob/077e265edd1b9beaabc03997075d3c629c27abc1/source/community/reactnative/src/components/inputs/input.js#L135

Please fix it as is causing the TextInput not to enforce the max length.

[2020-12-02 04:17] atishayv commented on #5108
@dclaux , @matthidinger  Gentle ping on this

[2020-12-02 05:58] #5105 closed

[2020-12-02 06:23] #4600 closed

[2020-12-02 06:46] jwoo-msft commented on #4844
@shalinijoshi19

the typical use case for handling touch is that the touch is delivered to the further most view from the root view that can handle the touch.  this use case is different. the teams want the touch to be delivered to the further most view, but they don't want the view to be UIImageView if the image view's super view has the select action. what they want is an API to tell if the supe

[2020-12-02 07:15] chaim770 commented on #608
Why not let us control the behavior (just like in HTML/CSS with `white-space`/`nowrap` directives)?

Something like:

`{
    "title": "Some long title",
    "value": "Nevermind",
    "wrap": false
}`

[2020-12-02 12:52] adumrewal opened #5123 "[iOS][isVisible:false rendering issue] [Rendering of hidden components conflicts with animations]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host - Teams iOS client

# Version of SDK

latest main

# Details

Suppose you have a hidden element in the card (set using isVisible:false tag). If the render function is called using an animation, it results in the hidden components being visible on the device/simulator. (This

[2020-12-02 17:16] shalinijoshi19 commented on #5123
@jwoo-msft have you run into this before at all? Thoughts?

[2020-12-02 17:21] shalinijoshi19 commented on #5120
Hi @RashmiMithun ! Thanks for trying out AdaptiveCards. Also thanks for posting the question on [StackOverflow](https://stackoverflow.com/questions/65085690/how-to-reset-the-form-in-adaptive-card) where our MVP @DeeJayTC has already jumped right in to help you out (Thanks Tim!).  Am going ahead and closing this issue out to continue over on stackoverflow

[2020-12-02 17:21] #5120 closed

[2020-12-02 17:27] shalinijoshi19 commented on #5118
@dclaux thoughts? Is this something we (can) control/configure directly in the designer ?

[2020-12-02 18:03] shalinijoshi19 commented on #5117
Hi @saidevgit ; these warnings you are seeing are by design - the sample cards surfaced on our website are those that showcase features corresponding to our latest released schema (vis 1.3) and may not work for all host configurations that are exposed on the designer without the warnings surfacing. And that's the experience that the customer using these new features in their card would see today o

[2020-12-02 18:11] dclaux commented on #5117
@saidevgit as @shalinijoshi19 wrote those warnings are by design.

Outlook's support for Adaptive Card is currently limited to version 1.0 plus some Outlook-specific features that the designer doesn't support. Unfortunately that is a bit problematic with ActionSet because Outlook does support it but technically it wasd only introduced in AC v1.1 - that is somewhat of a bug that should probably be

[2020-12-02 18:55] jwoo-msft commented on #5123
@shalinijoshi19,

I have discussed this issue with @adumrewal.
It's possible that it's an Apple issue. I'm going to repro the issue, and we have a repro step, I will update the thread once I'm done with accessibility issues.

[2020-12-02 19:41] #4700 closed

[2020-12-02 19:41] RebeccaAnne commented on #4694
Implemented for all applicable platforms

[2020-12-02 19:41] #4694 closed

[2020-12-02 21:02] dclaux commented on #5099
This has been supported from the beginning in JS.

[2020-12-02 21:57] matthidinger commented on #609
Dupe of #3053

@VMey we are working on a story to make this possible, hopefully able to share more early next year!

[2020-12-02 21:57] #609 closed

[2020-12-03 03:01] saidevgit commented on #5117
Thanks for your response. I have designed the card using https://amdesigner.azurewebsites.net/ and when am trying to use in https://adaptivecards.io/ "to create  json data to bind" it gives errors and look at feel of the card also get broken in the designer. But if I send the card as email to outlook from the amddesigner it shows correct.

1. We are designing card (2-3 pages of data in he email wi

[2020-12-03 04:15] #5088 closed

[2020-12-03 16:09] Gunashree-R-V commented on #4418
@shalinijoshi19, Yes. This issue is still applicable.

[2020-12-03 16:15] mohitc16 commented on #5117
@saidevgit, Thanks for your queries.

1.	For all actionable emails that will be sent to Outlook, we recommend using our AM Designer portal. You can preview the look and feel of your cards on both desktop and mobile screens via AM Designer, and the emails rendered on Outlook would exactly be the same.
2.	Outlook currently supports only Adaptive Cards 1.0. We currently don’t support data binding on

[2020-12-03 19:16] cameron0208 commented on #3244
Still experiencing this issue. Is there any update?

[2020-12-03 22:05] slinehan commented on #3244
I still see this as well and here is an example in the latest Teams.  Maybe my expectations are wrong but here it is in normal color scheme, dark and then high contrast

Normal
![image](https://user-images.githubusercontent.com/30914792/101093771-f2c4c580-3580-11eb-81d4-b2b77170f651.png)

Dark
![image](https://user-images.githubusercontent.com/30914792/101093846-14be4800-3581-11eb-8fe0-0c56cc04379

[2020-12-03 22:41] susanshen96 commented on #3244
@slinehan - are you using a test client by any chance? In my desktop client, after I send an adaptive card with a Textblock containing text in "light" color, the text is white in dark mode. If you are not, would you be able to paste the JSON for that Textblock so that I can test it out on my client? Thanks!

![image](https://user-images.githubusercontent.com/10697383/101097162-9019fc80-3575-11eb-8

[2020-12-04 05:26] shivajivarma commented on #3707
Any update on this??? We have many use cases lineup for this feature.

[2020-12-04 06:22] dipja commented on #4892
This actually looks like a fix to bring the same experience across iOS, android and JS. iOS and JS already used to return time inputs in 24 hour format. I believe we can close this one

[2020-12-04 06:31] dipja commented on #5109
This is not a blocker for 1.3 upgrade. To me the android behavior seems to be correct, just that its not the same as JS.

[2020-12-04 13:40] shalinijoshi19 commented on #5111
@paulcam206 any updates on this?

[2020-12-04 14:00] shalinijoshi19 commented on #3829
This is now resolved per comments above.

[2020-12-04 14:00] #3829 closed

[2020-12-04 14:03] shalinijoshi19 commented on #5111
@aroraketan [Input.Number[(https://adaptivecards.io/explorer/Input.Number.html) is expected to be a number type per our schema.  Infact we had inadvertently broken the 1.x series at some point to switch from accepting Input.Number as number only to string causing a botframework scenario break as reported in #3287 and leading to an inconsistency in the JS renderer; We've since addressed that discre

[2020-12-04 17:47] shalinijoshi19 commented on #5111
@sowrabh-msft FYI..

[2020-12-07 02:00] yanweida99 opened #5132 "[iOS][Crash] [App will crash when render an image]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Use Adaptive Card in my project.

# Version of SDK

 2.3.1 from CocoaPods

# Details

If the Card include an image, the app will crash when render. But the 1.2.13 version is normal.

Last Exception BackTrace: NSInternalInconsistencyException: Mutating a priority from required to

[2020-12-07 11:57] jyoti-ms opened #5133 "[iOS][custom actions] [selectAction/inlineAction does not support custom actions]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Microsoft Teams

# Version of SDK

2.3.1

# Details

Custom/unknown actions implemented by developers doesn't work with selectAction/inlineAction.
Suppose we have added a custom action named action.execute and we are using this action inside inlineAction/selectAction, it is not s

[2020-12-07 17:15] sowrabh-msft commented on #5078
The proposal shared above proposes an opt-out approach to input validation, would it be good to do the opposite - opt-in for input validation? Especially in Teams, usually one button in the card would be button requiring validation.
cc @siduppal

[2020-12-07 17:32] dclaux commented on #5078
@sowrabh-msft It's already an opt-in model, given that the `isRequired` property has to be set to true for an input to be validated. Or are you asking for something different?

[2020-12-07 17:43] RebeccaAnne commented on #3707
No immediate plans to build this, but it is being tracked as under consideration on our product board here: https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/c/56-file-attachment-upload-control

[2020-12-07 18:44] matthidinger opened #5135 "[Inconsistency] Action.Submit and Input.Number is a bit "strange""
# Platform

Input gathering for Action.Submit is a bit "strange" and we don't properly document the strangeness. We should discuss whether we should change the behavior, and regardless of the outcome we need to document the behavior.

## Discussion

Right now, the type of the `Input.Number` `value` property is different when used to **set the initial value** and **when serializing it during `Actio

[2020-12-07 18:58] paulcam206 commented on #5078
this work will be tracked in https://github.com/microsoft/AdaptiveCards/tree/feature/associatedInputs

[2020-12-07 18:59] RebeccaAnne commented on #5078
Per discussion this is needed for Teams to enable input validation. We think we can make it for this release so moving back into 20.11-12 for now.

[2020-12-07 18:59] jwoo-msft commented on #5133
fixed via https://github.com/microsoft/AdaptiveCards/pull/5070

[2020-12-07 18:59] #5133 closed

[2020-12-07 19:02] jwoo-msft commented on #5132
@yanweida99
Thanks for reporting the issue.
Could you please share more about your project such as use cases for AdaptiveCards in your app, and perhaps the apps' name if you could?
Also please share your payload, so I can repro from my side.

Thanks

[2020-12-07 19:15] #5111 closed

[2020-12-07 20:47] productboard-ac opened #5138 "Close accessibility exceptions"
# Accessibility exceptions

- [ ] Media closed captions
- [ ] Action's with icons need a accessible title
- [ ] Official table support

[2020-12-07 20:47] productboard-ac commented on #5138
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/6371021

[2020-12-07 20:50] matthidinger commented on #5138
Closing as unnecessary. This was meant to be an aggregate of the exceptions but we already have the individual ones filed

[2020-12-07 20:50] #5138 closed

[2020-12-08 00:36] dharmeshtailor opened #5142 "[C#] Input.Date : Default to today's date?"
Is it possible to assign today's date to Input.Date control? So that whenever user open the email, the control defaults to today's date?

[2020-12-08 01:26] yanweida99 commented on #5132
I just embed AdaptiveCard in my project to make a simple demo.

Payload: { "type": "AdaptiveCard", "version": "1.0", "body": [ { "type": "Image", "url": "http://adaptivecards.io/content/adaptive-card-50.png", "horizontalAlignment":"center" }, { "type": "TextBlock", "horizontalAlignment":"center", "text": "Hello **Adaptive Cards!**" } ], "actions": [ { "type": "Action.OpenUrl", "title": "Learn more

[2020-12-08 01:38] paulcam206 commented on #4908
hello @yashwanth125 - I assume that you're still encountering this issue?

[2020-12-08 05:22] yashwanth125 commented on #4908
hello @paulcam206  yes, Its still persisting

[2020-12-08 10:01] Mallipriya-MSFT commented on #5113
We are checking this with engineering team, we will get back to you once we got any response.

[2020-12-08 10:26] Mallipriya-MSFT commented on #5113
@fabiank0,
Images must be at most 1024×1024. Image in the post exceeds this limit.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/73868678/101471735-a822bf00-396d-11eb-8044-1f3fabac8592.png).

For reference check  [Cards Reference Docs](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#inline-card-images).

Could please try wit

[2020-12-08 12:38] sowrabh-msft commented on #5133
Does this fix both inline action and select action @jwoo-msft? Also is it possible we have the same issue on other platforms as well?
cc: @shalinijoshi19

[2020-12-08 13:38] sowrabh-msft commented on #5078
@dclaux As I understand, default value if `associatedInputs` is not specified, developer needs to add `associatedInputs: "none"` to all other buttons, other than the button for which they need validation. And in case of Teams, we have buttons that open task module also work through `Action.Submit` ([Reference](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/task-mod

[2020-12-08 16:27] dclaux commented on #5078
@sowrabh-msft for all this to be a problem, Bot developers would have to modify their Bots to take advantage of input validation, i.e. set the `isRequired` property of at least one input to `true`. Given they have to do work to opt into input validation in the first first, it seems reasonable that at the same time they would also have to tweak those Action.Submits that open a task module to set th

[2020-12-08 18:09] jwoo-msft commented on #5132
@yanweida99
I can't repro your issue on my end. I noticed two things; SDWebImageManager, and "NSInternalInconsistencyException: Mutating a priority from required to not on an installed constraint (or vice-versa) is not supported".
It seems that a constraint with the required priority was set on your ImageView, possibly from SDWebImageManager. AdaptiveCards renderer is installing its own constraint

[2020-12-08 18:17] paulcam206 opened #5144 "UWP IDL formatting needs to be sorted out"
_Originally posted by @RebeccaAnne in https://github.com/microsoft/AdaptiveCards/pull/5141#discussion_r538618690_

We should either turn off autoformatting or figure out how to make autoformatting Do The Right Thing.

[2020-12-08 20:48] paulcam206 commented on #5078
@golddove / @jwoo-msft - how's it looking for iOS and Android implementations here? just want a gut check :)

[2020-12-08 21:04] stuel22 opened #5145 "Outlook Actionable Message - Version Supported"
Does anyone know when version 1.1+ will be supported for Outlook Actionable Messages?

[2020-12-08 21:11] matthidinger commented on #1068
This feature is being tracked in another issue.

Duplicate of #3924

[2020-12-08 21:11] #1068 closed

[2020-12-09 00:23] jwoo-msft commented on #4914
@shalinijoshi19
Sorry, somehow I missed your comment. This isn't a markdown issue.
Here is the parsed string we get once the deserialization is done for TextBlock with the text, "\n\nThis is a textblock".
	"<p>\n\nThis is a textblock</p>"
notice that the newline chars are preserved."text": "\n\nThis is a textblock"

[2020-12-09 05:00] sowrabh-msft opened #5146 "Input.ChoiceSet input validation - min and max"
**What platform is your feature request related to? (Delete other platforms).**
All Platforms

**Is your feature request related to a problem? Please describe.**
Currently there's no way to specify min or max number of elements that can be picked  for an [`Input.ChoiceSet`](https://adaptivecards.io/explorer/Input.ChoiceSet.html) field in multi-select mode. This is a requirement we have in case of

[2020-12-09 14:21] yogi-bhargav commented on #3670
Hi, I am also Using teams Webview to render PDF URL using HTML code, embed tag but it is not displaying in teams Webview.

Is there any way we can render the PDF in Microsoft Teams?

[2020-12-09 21:15] RebeccaAnne commented on #4948
Duping this to the product board version of this issue.

[2020-12-09 21:15] #4948 closed

[2020-12-09 21:16] productboard-ac opened #5149 "TextBlock accessibility roles to clarify headings"

[2020-12-09 21:16] productboard-ac commented on #5149
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/6399886

[2020-12-09 21:51] golddove opened #5150 "[Android][Accessibility] Accessible video controls"
# Platform

- [ ] Android

# Version of SDK

latest main

# Details

Source issue: https://microsoft.visualstudio.com/OS/_workitems/edit/28383710

Video player controls (play/pause) should be accessible with screen reader / keyboard navigation on Android.

[2020-12-10 18:03] RebeccaAnne opened #5157 "[.NET] Generated .xml files"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET

# Details

When building .NET, the following .xml doc files are generated. These should either be not generated or deleted, added to the repo, or added to .gitignore to avoid noise:

[code]

[2020-12-10 18:08] jwoo-msft commented on #5132
@yanweida99
Closing this issue as it requires the fix externally. Please let us know if changes in AdatpiveCards is required to resolve your issue.
Thanks,
c.c @shalinijoshi19 @paulcam206

[2020-12-10 18:08] #5132 closed

[2020-12-10 18:33] paulcam206 commented on #5157
for reference, they're *supposed* to get deleted

https://github.com/microsoft/AdaptiveCards/blob/9e898e5eeec12e3be0f2cdfd9d757bc364c1af41/source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj#L18-L19

not sure why they aren't. ultimately, it's not really important. we can add them to the project or ignore them. it's not really interesting to track changes over time, though, since they're gener

[2020-12-10 19:06] carlos-mendes-devscope commented on #3701
Any update? I'm getting the error "Something went wrong. Please try again.", using the sample app TeamsTaskModule... But the app works well locally, and the problem occurs only when I publish to Azure. Can anyone give some tip/solution? Thanks in advance.

[2020-12-10 19:08] carlosfcmendes commented on #3701
Any update? I'm getting the error "Something went wrong. Please try again.", using the sample app TeamsTaskModule... But the app works well locally, and the problem occurs only when I publish to Azure. Can anyone give some tip/solution? Thanks in advance.

[2020-12-10 20:40] #5078 closed

[2020-12-11 00:11] matthidinger commented on #1443
Hi everyone, this is a dupe of #4673 and we are going to include it in our next release. No ETA for that release yet but please feel free to "watch" the other issue and we'll keep you updated

[2020-12-11 00:11] #1443 closed

[2020-12-11 12:18] RashmiMithun opened #5168 "Disable submit button/loading on the card on submit"
# Platform
React Web Application
What platform is your issue or question related to? (Delete other platforms).
- [ ] JavaScript

# Author or host

Host

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# 2.4

I have a form while submitting the card I want submit button to be disable or need a kind of loading for the card so that can avoid continues  submission of form
Could any

[2020-12-11 20:31] shalinijoshi19 commented on #5111
@aroraketan / @sowrabh-msft updates on this one:
So per our offline conversation on this one, it turned out not about the actual Input.Number schema but the transformed callback data type that is passed in to the host Submit.Action callbacks in case of Input.Number here and the type of *that* object that was divergent and inconsistent with other platforms on JS.
This inconsistency has now been rev

[2020-12-11 22:49] jwoo-msft opened #5171 "[iOS][Package Management] XCFramework support"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] iOS

**Describe the solution you'd like**
Apple introduced a new binary framework, XCFramework. We should support this as the Teams mobile is going to mandate it, and XCFramework has great features and works well with our current initiative for support Swift Package Manager, Apple's artifact distributor.

[2020-12-11 23:14] jwoo-msft opened #5179 "[iOS][Smoke Test] [Multiline Input's boundary has disappeared]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Details
Upon submission of `Input.Text` multi-lines, its boundary disappears.
https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Elements/AdaptiveCard.json
![Simulator Screen Shot - iPhone 8 - 2020-12-11 at 15 10 02](https://user-images.githubusercontent.com/4112696/101963442-9935

[2020-12-11 23:18] jwoo-msft opened #5180 "[iOS][Smoke Test] [Separator line doesn't show]"
# Platform

- [ ] iOS

# Details
https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Elements/ColumnSet.Spacing.json
![Simulator Screen Shot - iPhone 8 - 2020-12-11 at 15 18 07](https://user-images.githubusercontent.com/4112696/101963654-1791ec00-3bc4-11eb-97f3-889afe4fb989.png)
![Simulator Screen Shot - iPhone Xʀ - 2020-12-11 at 15 18 05](https://user-images.githubusercontent.com/41

[2020-12-12 00:11] jwoo-msft opened #5181 "[Sample Card][Input Validation / Regex] [Change Regex pattern]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Sample Cards

# Details
https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.3/Scenarios/InputFormWithLabels.json
[code]
regex here makes no sense. especially the group, `(a-z)+` since it matches literal 'a-z'.

[2020-12-12 01:51] shalinijoshi19 opened #5182 "[SmokeTest][Sample][Accessibility] Hard to read text in the Solitaire.json sample for BotFramework host config"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Details
At least on JS the BotFramework-WebChat host config has the text in the tetxblock element with hard to read contrast; Confirmed the other host configs seem to be fine. Interestingly running Accessibility Insights aga

[2020-12-12 19:48] VMey commented on #1266
This would be great for profile pictures.  We are trying to pull in images of folks from their profile pic and most of them have been pre-cropped, but not all.  Throwing off the card balance this way.

[2020-12-14 18:12] #5179 closed

[2020-12-14 18:12] #5180 closed

[2020-12-14 18:21] jwoo-msft opened #5186 "[All][Common Host Config] Host Config"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
Using the same set of a HostConfig reduces redundant works

**Describe the solution you'd like**
Change SDKs to use a HostConfig from the sample folder.

[2020-12-16 06:58] golddove commented on #5171
From https://github.com/microsoft/fluentui-apple :

Does this apply to us?

[2020-12-16 09:47] gauravsaralMs commented on #4582
@Nikitha-MSFT : is there any recommendation on what should be the workaround?  It is critical for our customer experience that the input section continues to collapse

[2020-12-16 13:21] atishayv opened #5191 "[JavaScript] Network type URL's don't render properly in adaptive cards"
# Platform

- [ ] JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "2.0.0-rc.0"

# Details

The link for below adaptive card doesn't render properly :

[code]

On inspecting. the href is not correct :
[code]
![image](https://user-images.githubusercontent.com/13940020/102353720-76de6a80-3fcf-11eb-8d5f-00323d2888dd.png)

Ideally it should be :
[code]

[2020-12-16 13:23] atishayv commented on #5191
@matthidinger , @dclaux Can you please look into it ?

[2020-12-16 17:35] obshrog opened #5192 "[Outlook Desktop][Input.Number] [Input.Number does not accept floating numbers in Outlook for O365]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Windows Outlook

# Author or host

Author

Organization

# Version of SDK

Actionable Emails using Adaptive Cards 1.0

# Details

Input.Number does not accept floating numbers in Outlook for O365. Outlook for Web does permit decimal numbers, while Outlook on the desktop only allows digits.

[2020-12-16 18:51] shalinijoshi19 opened #5193 "[Website] Default templated versions of our samples + "Try it yourself" experience no longer working on our website"
# Repro environment
localhost + CI website running latest bits off of main or outbound release/20.12 branches

# Details
Check out [Samples and Templates | Adaptive Cards (adaptivecards-ci.azurewebsites.net)](http://adaptivecards-ci.azurewebsites.net/samples/InputsWithValidation.html)
![image](https://user-images.githubusercontent.com/20822397/102392654-37daf580-3f8c-11eb-96cb-99f0e91ae2fa.png)

T

[2020-12-16 18:54] shalinijoshi19 commented on #5193
Thanks for the initial investigation here @golddove - it appears then that the website has been broken since this PR https://github.com/microsoft/AdaptiveCards/pull/4927 merged. @matthidinger / @atishayv thoughts? Also I am assuming at this point that this doesn't block our NPM adaptivecards package release but will block our 20.12 website refresh

[2020-12-17 03:14] jwoo-msft commented on #5097
@gaurav0921 closing as disucssed. value has to be in the specific format.
cc. @shalinijoshi19 @golddove

[2020-12-17 03:14] #5097 closed

[2020-12-17 06:18] #5193 closed

[2020-12-17 12:09] Sujit-Gaikwad commented on #4491
HI i'm not able to see any update or any assignment on this issue can you please update the status here

[2020-12-17 22:35] matthidinger opened #5201 "[JavsScript ] Required Input validation not working properly on "Input Form with Labels" sample"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [X] JavaScript

# Details
http://adaptivecards-ci.azurewebsites.net/samples/InputFormWithLabels.html

Loaded this card on the website, and the Name and Email fields are marked required, but input validation did not fire. Possibly because they are created with data binding expressions?

![image](https://use

[2020-12-17 22:49] shalinijoshi19 commented on #5201
@matthidinger the regex seems to be busted for that sample for starters; I was *just* on it as well!

![image](https://user-images.githubusercontent.com/20822397/102553001-fd9a5280-4076-11eb-86a3-f873a215d243.png)

Here's the fixes to the regex for basic email + name formats:

![image](https://user-images.githubusercontent.com/20822397/102553055-160a6d00-4077-11eb-9ea9-6eab3b233274.png)

[2020-12-17 22:52] klippas-rob commented on #777
It's been three long years - this feels like Waiting for Godot.
What is the ETA?

[2020-12-17 23:46] jefflhp opened #5202 "AdaptiveCards.Rendering.UWP does not handle Action.ToggleVisibility correctly for other elements on the card."
# Platform

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Author or host

Author

If you're an author, who are you sending cards to?
UWP Renderer

# Version of SDK
Nuget: AdaptiveCards.Rendering.Uwp v2.4.0
Nuget: AdaptiveCards.Templating v1.1.0

# Issue
Action.Toggle Visibility does not appear to be working with the UWP Renderer.  The card.json included bel

[2020-12-18 02:56] arman-g commented on #4091
Any updates?

[2020-12-18 03:35] #4831 closed

[2020-12-18 22:21] lindach167 opened #5205 "[Teams][Accessibility] [Focus should return to adaptive card after closing date picker]"
[focusDatePickerCardJson.txt](https://github.com/microsoft/AdaptiveCards/files/5718331/focusDatePickerCardJson.txt)

https://user-images.githubusercontent.com/29580478/102666487-eb361c80-413b-11eb-95d0-bde1d04e2bf0.MP4

# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host - Teams Mobile

# Version of SDK

1.2

# Details

This

[2020-12-19 00:54] lindach167 opened #5206 "[Teams][Accessibility][FactSet table being read column by column instead of row by row]"
https://user-images.githubusercontent.com/29580478/102676136-f9426800-4150-11eb-82bf-32f1da426f3f.mp4

[FactSetJson.txt](https://github.com/microsoft/AdaptiveCards/files/5718669/FactSetJson.txt)
# Platform

- [ ] iOS

# Author or host

Host - Teams Mobile

# Version of SDK

1.2

# Details

This is a ship blocking issue for an app that is aiming to release on Teams Platform. Please see attached vid

[2020-12-19 01:55] lindach167 opened #5207 "[Teams][Accessibility] [TextRun element focusable on Android while all other elements are not]"
https://user-images.githubusercontent.com/29580478/102677799-0c593600-4159-11eb-9d26-6ba272b6a8e2.mp4

[originalCardJson.txt](https://github.com/microsoft/AdaptiveCards/files/5718751/originalCardJson.txt)

# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [x] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Author or host

Ar

[2020-12-19 02:25] lindach167 opened #5208 "[Teams][Consistency] [Markdown for bold not working on Android]"
![AndroidBold](https://user-images.githubusercontent.com/29580478/102678548-3103dc80-415e-11eb-9027-fed4935a17a5.png)
[markDownBoldFactSet.txt](https://github.com/microsoft/AdaptiveCards/files/5718793/markDownBoldFactSet.txt)

# Platform

- [ ] Android

# Author or host

Host - Teams Mobile

# Version of SDK

1.2

# Details

Using markdown for bold in Fact value does not work on Android. See scree

[2020-12-20 01:07] dylanandrion commented on #3338
I am having the same problem.  My Adaptive Card includes a deep link to a Teams tab, but it still opens in a new web browser rather than in the Teams App.  If I send the same link as a regular chat and not in an adaptive card, the deep link works fine and directs the user to the tab in the Teams app.

[2020-12-20 18:12] ChristopherP1221 commented on #3338
We ended up implementing a workaround by posting the channel's link above the Adaptive Card so it looks a bit like a header.  Not ideal but it works how we expect it to.  If you're able, it might be worth giving it a shot, until the developers can look into what's happening here.

[2020-12-21 07:59] yanweida99 commented on #5132
2020-12-21 15:52:06.674813+0800 ADCIOSVisualizer[4565:1656621] completed loading elements
2020-12-21 15:52:06.688209+0800 ADCIOSVisualizer[4565:1656621] completed loading elements
2020-12-21 15:52:09.293441+0800 ADCIOSVisualizer[4565:1656621] *** Assertion failure in -[NSLayoutConstraint setPriority:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/Foundation/Foundation-1556/Foundation/Layout.sub

[2020-12-21 08:02] yanweida99 opened #5209 "[iOS][Crash] [ADCIOSVisualizer]"
# Platform

- iOS

# Project

Your demo, ADCIOSVisualizer.

# Version of SDK

2.3.1 from CocoaPods

# Details
run ADCIOSVisualizer, then touch V1.2 -> Scenarios -> FlightDetails.json, it will crash.

2020-12-21 15:52:06.674813+0800 ADCIOSVisualizer[4565:1656621] completed loading elements
2020-12-21 15:52:06.688209+0800 ADCIOSVisualizer[4565:1656621] completed loading elements
2020-12-21 15:52:09.

[2020-12-22 10:40] Mallipriya-MSFT commented on #4582
@gauravsaralMs, Currently there is no work around. This is by design.

[2020-12-22 15:22] samoZacc opened #5212 "Collision Problem with Id when iterating in Visual Studio with .NET C#"
When creating a loop with templating, I also create an Input.Text type for each of my iterations, (imagine looping answers, and then comment fields as input for each of those answers). The problem here is that Input.Text requires a unique ID, and that is a problem if you want to save the result to an object in the backend. If I do a $index, the object cannot be mapped and thus saved in my DB.

The

[2020-12-22 16:14] oliverbj opened #5213 "[Designer] Payload Editor is not showing"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [x] JavaScript
- [ ] UWP

# Author or host

 - Host

# Version of SDK
Latest

# Details

I am trying to implement the Adaptive Card designer in my own app, like so:
[code]

[code]

The result:

![Skærmbillede 2020-12-22 kl  17 10 50](https://user-image

[2020-12-23 07:55] MUKESHNITP opened #5215 "[Web Channel] Update activity is not working for Adaptive card"
# Web channel

We are working on web channel. We have some feature, where we need to update the adaptive card. We are trying to update the adaptive card using the updateActivity method by response activity id but it is giving the process activity error. We also tried from postman using put method, but it is giving the error that "This channel does not support this operation"[PFA]. This updateActiv

[2020-12-23 13:37] manujai opened #5216 "[Android][Rendering] [Column Width Issue]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Webex

# Version of SDK

2.4.0 for Android

# Details
Column width issue (collapsing) in a column set between columns with images.
Please refer to the screenshots below.

2.4.0 Version
![Screenshot 2020-12-23 at 7 03 05 PM](https://user-images.githubusercontent.com/69314716/1

[2020-12-23 16:46] golddove commented on #5216
@manujai the Android renderer seems to match the web renderer:

![image](https://user-images.githubusercontent.com/4442788/103018756-b9460100-4513-11eb-93e7-25ed222fab3a.png)

Columns with width "stretch" take up remaining space, while width "auto" requires enough space for its content. When there is insufficient card width, the two images determine the size of the left/right columns in this examp

[2020-12-23 16:48] golddove commented on #5216
Closing for now, but please feel free to reopen if there are any concerns.

[2020-12-23 16:48] #5216 closed

[2020-12-24 11:22] Ms-fernandes opened #5218 "[Adaptive Cards][Input.Number trims first and last digits]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Adaptive Cards
- [ ] Outlook

# Author or host

Author

Organization

# Version of SDK

Actionable Emails using Adaptive Cards 1.0

# Details

Strange but Input.Number trims first and the last digits.

{
    "type": "AdaptiveCard",
    "body": [
        {
            "type": "Input.Number",

[2020-12-24 12:07] LakshummaC opened #5219 "Input.Date Adaptive card in IE-Adaptive card option Input.Date not populating in IE browser of Bot Framework"
Hi Team,

We encountered an issue while developing through bot framework i.e. When we use Input.Date adaptive card form display issue occurs when the webchat window open in IE browser.

Client is looking for solution and the resolution is needed on high demand. Looking for help on this issue.

Thanks,

[2020-12-28 07:37] MUKESHNITP commented on #5215
Could you please update about this ?

[2020-12-28 11:35] vijhhh2 commented on #5215
I am also facing the same issue in my project. Are there any alternatives or workarounds for this issue?

[2020-12-30 19:43] gb2793 opened #5222 "How to invoke the bot when ShowCard action button is clicked?"
On an adaptive card sent in Teams Conversation, I want to invoke a bot when ShowCard action button is clicked. The bot receives the information like message Id, user Id, etc. I will invoke my service to perform validations and return the data applicable for the user. I will wrap this data in an Adaptive card and respond to the bot. The Teams client will show the returned adaptive card.

Is this fe

[2020-12-30 20:56] gb2793 opened #5223 "Is there an action when an adaptive card is being displayed to the users in Teams Conversation?"
I am looking for support of an action, say CardAction.OnRender. I will invoke C# bot, evaluate the information that needs to be shown in the card based on user Id, message Id, etc. The bot will respond with the AdaptiveCard response object with appropriate fields and values.

This is super useful where we have privilege based access for users imposed in our external system. This would also save us

[2020-12-31 06:19] gb2793 commented on #5223
Is there an expiry date for adaptive or other cards sent in Teams?

[2021-01-04 10:45] IbrahimSulai commented on #3900
As mentioned above, we have added container styles in release 2.1

[2021-01-04 10:45] #3900 closed

[2021-01-04 14:13] Morhpeuss opened #5225 "Support for Antlr4 version 4.8.0"
Hello,

I am not able to use this library after upgrade the Microsoft.Bot.Builders.* libraries to version 4.11.1 because these libraries refer to Antlr4 version 4.8.0 and you are using Antlr4.runtime version 4.6.6.,

Could you please upgrade this reference?

Thanks.

[2021-01-04 14:57] prasanthrpadharthi opened #5226 "[Microsoft Teams Desktop][Accessibility - Usability] [MS Teams Adaptive card Multi select UX different in pop out app to normal app]"
# Platform

- MS Teams Desktop

# Author or host

Host - Adaptive card on MS Teams looks different from normal to pop out app

# Version

Adaptive card 1.0

# Details

MS Teams Adaptive card Multi-select UX different in pop out app to normal app. Same adaptive card designed using adapticard.io designer looks different from normal desktop MS Teams app to MS Teams desktop pop out app of the chat win

[2021-01-04 18:33] jwoo-msft commented on #5225
@Morhpeuss,
Sure, the work is currently underway.

[2021-01-05 10:10] hdmiimdh opened #5228 "[MS teams] Adaptive card image partially rendered in MS Teams"
I'm generating dynamic images and include them as part of the adaptive card, the images are relatively small only 60kb, when I reply with the image for the first time, it's partially shown until I scroll up or leave the conversation I assume that triggers native update, as soon as image is cached it's loaded properly, the problem appears only with the first render

[code]

<img width="525" alt="Sc

[2021-01-05 11:53] haridas commented on #4708
The accessibility team has given **test pass** confirmation, we can proceed further on this.

[2021-01-05 23:06] #5157 closed

[2021-01-06 00:55] jwoo-msft commented on #5209
@yanweida99,

Thanks for reporting this issue. Can you share the repro steps? I can't repro the issue with our latest.
![IMG_6D7D05D3CD99-1](https://user-images.githubusercontent.com/4112696/103715956-c08af700-4f76-11eb-96cb-76c63faf3190.jpeg)

[2021-01-06 01:11] #4892 closed

[2021-01-06 05:00] niravk-microsoft commented on #5034
Thanks for the information. For now I am marking this as closed because if as mentioned HTML body in email does not allow JavaScript to execute in traditional email then we may not need this for now.

[2021-01-06 05:00] #5034 closed

[2021-01-06 07:10] dipja opened #5233 "[MS Teams][Extensibility] [AssociatedInputs not supported for custom actions]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android
- [ ] iOS

# Author or host

MS Teams

# Version of SDK

2.4.0 (latest)

# Details

Custom action are built extending the baseActionElement in android and iOS. The newly added associated inputs are supported for submit action specifically. The same is not possible with custom actions, hence a c

[2021-01-06 11:51] jyoti-ms opened #5234 "[iOS][is Visible] [is visibility property is broken for text block]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

 Microsoft Teams

# Version of SDK

2.4.5 (latest)

# Details

If text block is the first element and isVisible is set to false then card won't get rendered in iOS. Ideally we should not block rendering if isVisible if false for the first element.
Verified the same for desktop ca

[2021-01-06 12:20] jyoti-ms opened #5235 "[iOS][Input.Date] [Date picker is not properly visible and getting squeezed]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

 Microsoft Teams

# Version of SDK

2.4.5 (latest)

# Details

iOS 14 has changed the look of date and time picker view to the current state
We have shown date picker inline but that is getting squeezed with devices. Can we please investigate and see if that's an apple issue or n

[2021-01-06 12:35] jyoti-ms opened #5236 "[iOS][Build script error] [Latest release binary is incompatible with Xcode 11]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

 Microsoft Teams

# Version of SDK

2.4.5 (latest)

# Details

We are running into build error in Xcode 11 with the 2.4.5 SDK version in iOS
We are seeing compilation errors with adaptive card binaries in Xcode 11 while running on simulators, whether the same is working with Xcod

[2021-01-06 16:05] kiranbhadani opened #5237 "[Android][BotFramework] [Adaptive card does not render in Teams Bot app, works fine on Desktop app]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Microsoft Teams

# Version of SDK

Nuget 2.4.0

# Details
Microsoft Teams Bot - Adaptive card not displaying in android mobile app, it works fine in desktop app, json as below, also other card for list of records works, is that something to with empty text columns? Checked with 'adaptivecard

[2021-01-07 01:22] Jeffders commented on #4369
This is a test.

[2021-01-07 01:23] Jeffders commented on #4369
This is a test.

[2021-01-07 01:27] yanweida99 commented on #5209
Steps to reproduce: run ADCIOSVisualizer, then touch V1.2 -> Scenarios -> FlightDetails.json, it will crash immediately.(Reproducibility:Always)
The latest Commit: 794ea64b9a2b4b086bcb1265288aecc8b2f8120b

https://user-images.githubusercontent.com/26455374/103839490-71ee7180-50ca-11eb-8994-f56254e7d4c9.mov

[2021-01-07 01:31] Jeffders commented on #4369
This is a test.

[2021-01-07 07:11] udaya-reddy commented on #5086
any update on this bug?
Teams native also does not support enter on multiline text box in adaptive cards...

[2021-01-07 11:27] Trinetra-MSFT commented on #5086
@udaya-reddy : I will check the status and get back to you.

[2021-01-07 12:27] udaya-reddy commented on #5086
Adaptive card version used : 1.2 btw

Attached are the images... web / directline  is fine... but the teams channel has support issue for multiline adaptive card text box.

Web version of teams.
![image](https://user-images.githubusercontent.com/67152550/103892488-ae918b80-5111-11eb-837a-729148f534f3.png)

Native App version
![image](https://user-images.githubusercontent.com/67152550/103892512-bc4

[2021-01-07 16:55] jscalo opened #5243 "[iOS][Extensibility] Custom properties are not always passed to the custom renderer"
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

In the custom render hook, `acoElem.additionalProperty()` isn't always propagated. Through experimentation it seems that they are only propagated when attached to a leaf view, but not a container view. For example they're propagated when attached to a `Column`, but not a `ColumnSet`.

In our case, we want to customize the

[2021-01-07 17:08] jscalo opened #5244 "[iOS][Extensibility] Non-existent custom properties are sent as "null""
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

In the `ACRBaseCardElementRenderer.render()` hook, when the `acoElem` doesn't have any additional properties, instead of being nil as expected, it's a string: "null". This is contrary to convention on Swift and Obj-C where the lack of something would normally be nil. Further, there's no mention of this in the documentatio

[2021-01-07 19:51] jscalo commented on #5243
This was my bad. The ACRBaseCardElementRenderer subclass didn't match the `cardElementType`.

[2021-01-07 19:51] #5243 closed

[2021-01-07 23:24] jwoo-msft commented on #5244
@jscalo , thanks for reporting the issue. I will take a look at it. thanks

[2021-01-07 23:26] RebeccaAnne commented on #4856
This behaves as expected in UWP

[2021-01-07 23:27] #5236 closed

[2021-01-07 23:27] #5235 closed

[2021-01-07 23:28] RebeccaAnne commented on #4856
The bug repros on .NET WPF

[2021-01-08 11:55] Mallipriya-MSFT commented on #5086
@udaya-reddy, Bug is resolved and It is working as expected on our side for both native and web Teams App.

[2021-01-08 12:08] baole commented on #5086
@Mallipriya-MSFT I just tested on Chrome browser/Mac OS, press enter key "Input.Text" block on a popup dialog doesn't break into new line. I doubt the issue was't resolve on Chrome browser/Mac OS

[2021-01-08 12:09] udaya-reddy commented on #5086
I also just tested in native teams... it does not break into new line.. yes tested on chrome browser.
Not sure if we need to update any software or library to get the latest fix.

[2021-01-08 16:25] bbullock-trustquay opened #5249 "[JavaScript][Input.ChoiceSet] [If no choices are selected on a multi-selection ChoiceSet a JavaScript error is raised when clicking on a Action.Submit button]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] JavaScript

# Author or host

I'm both an author and a host. I author the Adaptive Card template and data JSON in a C# .NET desktop application and render it in a web application.

# Version of SDK

C# .NET - NuGet 2.4.0
JavaScript - NPM 2.6.0

# Details

Please note, the issue I'm about to describe al

[2021-01-08 18:03] matthidinger commented on #4313
sdsdfdsf

[2021-01-08 20:36] jwoo-msft commented on #5212
@samoZacc
Hi,

You can use AEL concat function.
Suppose you have "id": "${}",
You can have a unique id by appending $index, for example, "id": "${concat('aString', $index)}"
Can you try this, and let me know how it goes?
Thanks

[2021-01-08 20:45] matthidinger commented on #4313
Hello FUSE labs

[2021-01-08 20:51] jwoo-msft commented on #5209
Hi @yanweida99,

I'm not sure why you're seeing this issue. I tried the commit hash you provided, and I can't reproduce it. I tried it exactly as you showed me in the video. The error message is saying that a required layout constraint is changed to a value that is something less. But during the image rendering, we don't set a required layout constraint. Have you had any custom code in the sample

[2021-01-08 22:14] matthidinger commented on #4313
Hello FUSE Labs

[2021-01-11 06:59] Mallipriya-MSFT commented on #5086
@udaya-reddy, I have tested in the public range as well and it works fine. Can you check once again with latest version of browser and let us know.

[2021-01-11 08:14] baole commented on #5086
@Mallipriya-MSFT confirmed on Chrome browser/Mac OS. Thanks!

[2021-01-11 09:48] pushyami-consultesoft commented on #4121
@YJasonY did this issue resolved. if yes how? I am also facing the same issue

[2021-01-11 10:47] udaya-reddy commented on #5086
@Mallipriya-MSFT yes. it seems fixed now... Not sure what did the trick...  Any software update made?

[2021-01-11 11:27] Mallipriya-MSFT commented on #5086
@udaya-reddy, Bug got resolved but not with software changes.

[2021-01-11 16:56] jscalo opened #5252 "[iOS][Rendering] backgroundImage not showing on Container"
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

No image appears when setting `backgroundImage` on a Container type.

e.g.:

[code]

Result:

![image](https://user-images.githubusercontent.com/2917357/104213011-7a60e800-53fb-11eb-8621-9c415d0ce633.png)

[2021-01-11 17:49] shalinijoshi19 commented on #4815
@matthidinger do you know if we have a PM spec that we can start to base some of the design investigations needed for this off of?

[2021-01-11 17:52] shalinijoshi19 commented on #4773
@matthidinger was there any PM proposal/artifact that you are aware of that is shareable to make progress towards this feature in 21.01 at all?

[2021-01-11 18:45] matthidinger commented on #4313
Hello demo

[2021-01-11 19:27] RebeccaAnne commented on #4856
@jwoo-msft @golddove Could you guys check if this works as expected on iOS/Android? Thanks!

[2021-01-11 19:31] RebeccaAnne commented on #4773
This is planned for Q2 so moved out to 21.04

[2021-01-11 21:27] RebeccaAnne commented on #3920
Moving this into the current milestone as we're getting current reports of this being an issue.

[2021-01-11 21:27] RebeccaAnne commented on #740
Moving this into the current milestone for discussion as we're getting current reports of this being an issue.

[2021-01-12 00:00] jwoo-msft commented on #5252
@jscalo
Hi,
I tried your payload in the sample app. It worked for me.

![Simulator Screen Shot - iPhone 12 Pro - 2021-01-11 at 15 58 40](https://user-images.githubusercontent.com/4112696/104252082-0425ab00-5426-11eb-8300-b56c6feb36c7.png)

Could it be possible that you may need to set a resource resolver in your app?
Thanks

[2021-01-12 08:47] yanweida99 commented on #5209
Thanks, firstly I didn't have any custom code in the ADCIOSVisualizer. And it still crashed.
But I have some custom code in my demo app, including a resource resolver(SDWebImage). And It works normally after commenting these two lines code.

ACRImageRenderer.mm->configUpdateForUIImageView
//imageHeightConstraint.priority = UILayoutPriorityDefaultHigh;
//imageWidthConstraint.priority = UILayoutPrio

[2021-01-12 10:50] bbullock-trustquay opened #5260 "[JavaScript][Action.Submit associatedInputs property values are case sensitive]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

I'm both an author and a host. I author the Adaptive Card template and data JSON in a C# .NET desktop application and render it in a web application.

# Version of SDK

C# .NET - NuGet 2.4.0
JavaScript - NPM 2.6.0

# Details

The Adaptive Cards Schema documentation states

[2021-01-12 12:36] dalemyers commented on #3762
Outlook's iOS client still needs this :)

We are almost entirely Swift now. We've had to make do by having a fork of the repo and making our own changes. We can't be the only ones who want to pull this into a pure Swift project any more.

[2021-01-12 15:21] jscalo commented on #5252
Sounds like it. This is the first I've heard of resource resolvers. Can you point me to where that is documented? I've looked and couldn't find it.

[2021-01-12 23:27] daveymcgav opened #5263 "[iOS][Framework] [Container's backgroundImage renders incorrectly on iOS with Cover fillMode]"
# Platform
- [ ] iOS

# Version of SDK
Latest from master

# Details
See attached screenshots. `backgroundImage` is not being rendered correctly on iOS using the same JSON as on the web.

Steps to reproduce:
1. Load the below JSON on both web & iOS.
2. Look at AlkiBeach.jpg background image on web. Notice that the entire width of the image is shown without cutting off.
3. Now look at AlkiBeach.jpg

[2021-01-13 04:42] jwoo-msft commented on #5244
@jscalo
Hello,
You need to create a resolver and register it with the registration.
Examples for a resolver can be found in [ADCResolver.h](https://github.com/microsoft/AdaptiveCards/blob/main/source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ADCResolver.h) and [ADCResolver.m](
https://github.com/microsoft/AdaptiveCards/blob/main/source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/

[2021-01-13 04:52] jwoo-msft commented on #5209
@yanweida99,
Thanks for reporting the issue. Setting height and width constraint to Required (1000) are not recommended.  In adaptive card, image's intrinsic content size is rarely get used. It certainly will get scaled. That's why we are setting them to 750 level.

Is it possible to return a UIImageView, and when image is ready via SDWebImage, assign UIImage in SDWebImage to the UIImageView? I'm

[2021-01-13 04:54] jwoo-msft commented on #5263
@daveymcgav
thanks for reporting the issue, it's a known issue.

[2021-01-13 05:17] jscalo commented on #5244
Thanks @jwoo-msft ! (But I think this meant to go into #5252 ? )

[2021-01-13 08:18] ananddidwania opened #5266 "[Javascript][Accessibility - Focus outline is getting hidden]"
# Platform

- [ ] JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "2.0.0-rc.0"

# Details

Focus outline on anchor element is getting hidden when focusing that element.
![image](https://user-images.githubusercontent.com/44603844/104424639-a7e99500-55a5-11eb-9531-332b01bba581.png)

This is causing because .ac-TextBlock class adding property "overflow: