[2019-04-25 23:17] dclaux commented on #2766
@ryanmccormickspok I agree with that, I do not believe it is necessary.

[2019-04-26 00:44] #2721 closed

[2019-04-26 11:43] jorgecoca commented on #1457
I haven't used the framework since then. Sorry :(

[2019-04-26 16:00] shalinijoshi19 commented on #477
This is completed at this point. Documentation task is being tracked separately

[2019-04-26 16:00] #477 closed

[2019-04-26 16:56] jevansaks commented on #2762
Testing @-mention for @shalinijoshi19

[2019-04-26 17:05] #845 closed

[2019-04-26 17:09] shalinijoshi19 commented on #1729
Closing. Documentation is being tracked separately.

[2019-04-26 17:09] #1729 closed

[2019-04-26 17:10] shalinijoshi19 commented on #877
Closing the issue. Documentation for 1.2 is being tracked separately.

[2019-04-26 17:10] #877 closed

[2019-04-26 17:12] shalinijoshi19 commented on #2109
This is completed. Documentation is being tracked separately.

[2019-04-26 17:12] #2109 closed

[2019-04-26 17:14] shalinijoshi19 commented on #908
Closing this out.

[2019-04-26 17:14] #908 closed

[2019-04-26 17:22] #2446 closed

[2019-04-26 17:24] shalinijoshi19 commented on #2624
This is completed.

[2019-04-26 17:24] #2624 closed

[2019-04-26 17:29] paulcam206 commented on #2635
This was fixed by PR #2633

[2019-04-26 17:29] #2635 closed

[2019-04-26 17:40] shalinijoshi19 commented on #1933
This is completed.

[2019-04-26 17:40] #1933 closed

[2019-04-26 17:53] andrewleader opened #2769 "[WPF] Multiple show cards don't interact together correctly"
# Platform

* .NET WPF

# Version of SDK

Latest master

# Issue

When a card has multiple ShowCards, they don't behave correctly together. Problem is illustrated with the default Adaptive Card in the [ActivityUpdate.json sample](https://github.com/Microsoft/AdaptiveCards/blob/master/samples/v1.0/Scenarios/ActivityUpdate.json).

## Problem 1

Repro steps

1. Click "Set due date" *(works correctly)

[2019-04-26 17:58] #2626 closed

[2019-04-26 20:29] dclaux commented on #2637
Fixed.

[2019-04-26 20:29] #2637 closed

[2019-04-26 20:30] dclaux commented on #2492
Fixed

[2019-04-26 20:30] #2492 closed

[2019-04-26 20:30] dclaux commented on #2137
Fixed

[2019-04-26 20:30] #2137 closed

[2019-04-26 21:43] RebeccaAnne opened #2772 "[.NET] Action Fallback card doesn't render properly"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF
* .NET HTML

# Issue

The [samples\v1.2\Elements\ActionFallback.json](https://github.com/Microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/ActionFallback.json) card does not render correctly on .NET WPF visualizer. The fallback actions are not being rendered.

UWP results [correct]:
![imag

[2019-04-26 21:50] RebeccaAnne opened #2773 "[JS] Action Fallback card doesn't render"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Issue

The [samples\v1.2\Elements\ActionFallback.json](https://github.com/Microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/ActionFallback.json) card does not render on the JS visualizer. (Change the card version to 1.0 as the renderer rejects cards labeled 1.2) The card returns the m

[2019-04-26 21:54] dclaux commented on #2773
Ah, known bug that I had lost track of. Will address.

[2019-04-26 21:58] almedina-ms opened #2774 "[iOS] Inline Action not rendering image button on iOS 10.0"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

master

# Issue

Using the Input.Text.InlineAction.json payload gives this result where the image buttons are not displayed

![Screen Shot 2019-04-26 at 2 56 41 PM](https://user-images.githubusercontent.com/35784165/56838634-88d82c00-6833-11e9-82a9-9fc9d34a4633.png)

[2019-04-26 22:00] RebeccaAnne opened #2775 "[JS] Fallback issues on DeepFallback test card"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Issue

The card [DeepFallback.json](https://github.com/Microsoft/AdaptiveCards/blob/master/samples/Tests/DeepFallback.json) doesn't render correctly. A "Graph" element in a deeply nested Container->Container->ColumnSet->Column doesn't cause the top level parent container to execute its fallbac

[2019-04-26 22:06] shalinijoshi19 opened #2776 "[WPF Visualizer] Store app crashes when selecting the "View as Image" control"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Version of SDK
Latest Store-Published version

# Issue

1. Launch WPF visualizer; It should load with the default card
2. Select "View as Image"
3. Notice the app crash

[2019-04-26 22:08] nesalang opened #2777 "[.NET] ActionSet ShowCard"
# Platform

* .NET WPF

# Version of SDK
1.2

# Issue
Json used: ActionSet.json.
When ShowCard buttons are pressed (there are two), the rendered ShowCard appears at the same position making them overlapping each other.
![Capture](https://user-images.githubusercontent.com/4112696/56841995-2e949680-6846-11e9-8461-5c17bdd51d4b.PNG)

UWP
![Capture](https://user-images.githubusercontent.com/4112696/568

[2019-04-26 22:10] shalinijoshi19 commented on #2776
Interestingly this doesnt seem to repro with latest debug bits on master:
This is the callstack per eventvwr:

Application: WpfVisualizer.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.UnauthorizedAccessException
   at System.IO.__Error.WinIOError(Int32, System.String)
   at System.IO.FileStream.Init(System.String, Sy

[2019-04-26 22:14] almedina-ms opened #2778 "[UWP] RichTextBlock is not a valid type"
# Platform

* UWP

# Version of SDK

master

# Issue

I get this warning when running the visualizer with the RichTextBlock.json payload

![image](https://user-images.githubusercontent.com/35784165/56839117-f2593a00-6835-11e9-9f2f-8ddf46a5d7d2.png)

[2019-04-26 22:22] paulcam206 opened #2779 "[UWP] Card throws warning in UWP but not other renderers"
[code]

yields warning `Unknown properties or values inside ColumnSet - Line 7`

no warning in WPF or TS

[2019-04-26 22:28] paulcam206 opened #2780 "Should unknown styles throw warnings?"
Consider this card:
[code]

We get warnings in WPF and TS, but not UWP.

[2019-04-26 22:29] almedina-ms opened #2781 "[iOS] Media not hiding properly and imageSet not showing or hiding properly"
# Platform

* iOS

# Version of SDK

master

# Issue

When running the ToggleVisibility.AllElements.json the media element should be not visible at the start and when clicking the Toggle button, the element below the fastest should be an ImageSet but it's not appearing (when clicking the button again, there's extra space at the bottom, below the not properly hidden media)

![Screen Shot 2019-04-29

[2019-04-26 22:32] paulcam206 opened #2782 "Padding mismatch between TS and other renderers with container style"
card:
[code]

WPF:
![image](https://user-images.githubusercontent.com/16614499/56839638-4ebd5900-6838-11e9-831e-e4d493e67733.png)
UWP:
![image](https://user-images.githubusercontent.com/16614499/56839657-6399ec80-6838-11e9-8de8-3a14c5d45c41.png)
TS:
![image](https://user-images.githubusercontent.com/16614499/56839663-70b6db80-6838-11e9-8eec-84f0330d246f.png)

Typescript appears to be applying blee

[2019-04-26 22:33] almedina-ms opened #2783 "[iOS] ColumnSet.AllElements.Stretch.ToggleVisibility.json card is not rendering"
# Platform

* iOS

# Version of SDK

master

# Issue

The card is not rendering at all, all the other cards render but this one

[2019-04-26 22:35] jwoo-msft opened #2784 "[Android] ActionSet ShowCard"
# Platform

* Android

# Issue

Json Used: ActionSet.json

ShowCards rendered at the bottom of the card and in the middle of the card have different margins and alignment
![Screen Shot 2019-04-26 at 5 03 29 PM](https://user-images.githubusercontent.com/4112696/56841891-4586b900-6845-11e9-8350-5b779bdaa6dc.png)

UWP:
![Capture](https://user-images.githubusercontent.com/4112696/56841985-fb520780-684

[2019-04-26 23:01] RebeccaAnne commented on #2778
This is because the visualizer validates cards against the schema which has not been updated.

[2019-04-26 23:07] dclaux commented on #2782
The TS screenshot was taken from the designer which reserves additional space top and bottom to facilitate drag/drop. The designer should not be used as the reference. The correct rendered layout in the visualizer is this:

![image](https://user-images.githubusercontent.com/1334689/56840604-41ef3400-683d-11e9-92c0-50412931f7f1.png)

(note I used emphasis everywhere instead of "attention" and "acce

[2019-04-26 23:07] RebeccaAnne commented on #2779
This is likely because the schema is not up to date.

[2019-04-26 23:08] dclaux commented on #2782
Didn't mean to close - WPF and UWP should be update, unless we change our mind wrt column bleeding.

[2019-04-26 23:49] nesalang commented on #2783
i'm closing this since it was due to parsing failure.

[2019-04-26 23:55] nesalang commented on #2774
it doesn't work on iOS 10.0.

[2019-04-27 00:05] shalinijoshi19 opened #2785 "[minHeight] Container with only background image without minHeight property is rendered inconsistently today"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF
* JavaScript
* UWP

# Version of SDK
master

# Issue
This json below *without* any minHeight specified, actually renders with a default size in the JS designer, but will not render at all (interpreted as an empty container) on UWP/.NET. The spec is unclear on what this should be interpreted as at

[2019-04-27 00:09] shalinijoshi19 opened #2786 "[Designer] Attempting to use a json with version 1.2 results in an error"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Version of SDK
master (https://adaptivecards-ci.azurewebsites.net/designer/)

# Issue

Pasting in this JSON is causing the designer to complain about the max version it supports:

![image](https://user-images.githubusercontent.com/20822397/56841988-10c73180-6846-11e9-98dd-d0a4097a1bb3.png)

[2019-04-27 00:24] shalinijoshi19 opened #2787 "[.NET] Clean up build warnings in our .NET projects"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET

# Version of SDK

master

# Issue
A bunch of warnings are now showing up in our projects most primarily due to the use of XML doc comments. Should be fixed.

[2019-04-27 00:47] dclaux commented on #2786
Renderer current version hasn't yet been updated to 1.2. This PR fixes that: https://github.com/Microsoft/AdaptiveCards/pull/2771

[2019-04-27 07:40] ldounis commented on #2637
@dclaux Shouldn't the IColumn have a type field (type: "Column") after the change?

[2019-04-27 07:53] dclaux commented on #2637
The type property isn't required on Column. It doesn't hurt to add it though, would that make a difference?

[2019-04-27 08:08] ldounis commented on #2637
No difference to me, just checking. If schema is strict then type have the column value by default since it is the only acceptable value.

[2019-04-27 12:39] #2651 closed

[2019-04-27 12:40] #2650 closed

[2019-04-29 16:08] RebeccaAnne opened #2788 "Version handling inconsistency"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Issue

What format is accepted for versions is not consistent across platforms. On shared model platforms (UWP, iOS, Android) we accept versions of the forms 1, 1.2, 1.2.3, or 1.2.3.4 using the following regex: ^([\d]+)(?:\.([\d]+))?(?:\.([\d]+))?(

[2019-04-29 16:14] dclaux opened #2789 "[TS] Add function doc comments as appropriate"
The JS renderer (and designer) code base need doc comments on public methods/properties at least.

[2019-04-29 16:15] almedina-ms commented on #2783
The problem is with the json file, the json contains an extra ',' that makes all renderers not being able to parse the json file

[2019-04-29 16:19] shalinijoshi19 commented on #2783
Have we fixed the actual card with the bad json?

[2019-04-29 16:20] shalinijoshi19 commented on #2783
Also do the renderers provide an actionable message upon this parsing failure to help troubleshoot things a bit?

[2019-04-29 17:06] paulcam206 opened #2790 "Warnings should be logged when fallback is performed"
When element fallback is performed, a warning should be logged for the renderer to consume.

[2019-04-29 17:06] shalinijoshi19 commented on #2103
@RebeccaAnne can you reference the issues that fix this on specific platforms for 1.2 please so we can close this out? thanks

[2019-04-29 17:09] shalinijoshi19 commented on #2706
@almedina-ms  / @RebeccaAnne is this required to be fixed explicitly for Android or is sharedmodel changes going to address things here?

[2019-04-29 17:12] shalinijoshi19 commented on #2644
@almedina-ms any update on investigation from our side at all? Are we able to repro this at our end ? We should try to understand the issue for 1.2 even if we move some of our globallization related fixes out to the next release.

[2019-04-29 17:13] shalinijoshi19 commented on #2707
@nesalang / @RebeccaAnne is there anything left on the iOS side explicitly for this bug? Or would the sharedmodel changes suffice?

[2019-04-29 17:27] RebeccaAnne commented on #2755
We have decided not to make this change as it has negative impacts on some existing cards.

[2019-04-29 17:28] RebeccaAnne commented on #2758
We have decided not to make this change as it has negative effects on some existing cards.

[2019-04-29 17:28] #2758 closed

[2019-04-29 17:28] RebeccaAnne commented on #2759
We have decided not to make this change as it has negative effects on some existing cards.

[2019-04-29 17:28] #2759 closed

[2019-04-29 17:28] RebeccaAnne commented on #2760
We have decided not to make this change as it has negative effects on some existing cards.

[2019-04-29 17:28] #2760 closed

[2019-04-29 17:29] RebeccaAnne commented on #2761
Reopening as we have decided not to make this change. This bug now tracks reverting to the original behavior.

[2019-04-29 17:29] RebeccaAnne commented on #2762
We have decided not to make this change as it has negative effects on some existing cards.

[2019-04-29 17:29] #2762 closed

[2019-04-29 17:29] RebeccaAnne commented on #2756
We have decided not to make this change as it has negative effects on some existing cards.

[2019-04-29 17:29] #2756 closed

[2019-04-29 17:34] shalinijoshi19 commented on #2766
@dclaux is this something we can tackle for 1.2? (also FYI i assigned to you)

[2019-04-29 17:37] dclaux commented on #2766
If we all agree it's fine to simply remove the message, it can be done in 1 minute.

[2019-04-29 17:38] shalinijoshi19 commented on #2697
@paulcam206 load-balancing over to you for 1.2

[2019-04-29 17:41] shalinijoshi19 commented on #2608
@paulcam206   assigning to you for loadbalancing. Thanks!

[2019-04-29 17:43] shalinijoshi19 commented on #2627
load-balancing to you @neslang for fixing as you start to have more cycles for 1.2

[2019-04-29 17:44] shalinijoshi19 commented on #2600
@almedina-ms please close once all related bugs are addressed in this area. Assigning to you for tracking. Tx

[2019-04-29 17:46] RebeccaAnne commented on #2706
There will be renderer specific work for Android once the shared model changes are in place.

[2019-04-29 17:47] RebeccaAnne commented on #2707
There will be renderer specific work for Android once the shared model changes are in place.

[2019-04-29 17:49] RebeccaAnne commented on #2783
Reopening to track fixing the broken sample file.

[2019-04-29 18:00] RebeccaAnne commented on #2496
Fixed by #2732

[2019-04-29 18:02] RebeccaAnne commented on #2103
#2496 (fixed by #2732) addresses this for Android and #2172 (Fixed by #2450) addresses this for UWP.

[2019-04-29 18:02] #2103 closed

[2019-04-29 18:18] sandeep2863 commented on #2103
Thanks for the response,
Currently we are running teams on Android and windows only.
We'll look forward for the next update. Thanks & Regards

On Wed, 24 Oct, 2018, 10:46 PM Gilles Khouzam, <notifications@github.com>
wrote:

--

<https://api.whatsapp.com/send?phone=918875666645&text=Hello%20Poornima%20Informatics%20Centre,%20I%20would%20like%20to%20get%20more%20information%20about:>
<mailto:info@p

[2019-04-29 18:38] shalinijoshi19 commented on #2784
@nesalang can you be more precise about where the issue is at in your opinion? (highlights in the images in teh bug description around what is expected and what you observe as inaccurate for eg would be helpful getting everybody on the same page) Marking investigate for now thanks!

[2019-04-29 19:32] RebeccaAnne opened #2793 "[UWP] AddToTimeline button is not working in test app"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

Selecting AddToTimeline does not result in the cards appearing in your timeline.

[2019-04-29 20:29] shalinijoshi19 commented on #2781
@almedina-ms can we actually include images/snapshots that makes it easier to visualize what is not rendering correctly ?

[2019-04-29 20:31] shalinijoshi19 commented on #2780
@andrewleader FYI,

[2019-04-29 20:39] shalinijoshi19 commented on #2779
Likely fixed by Issue #2407

[2019-04-29 20:46] shalinijoshi19 commented on #2778
Looks like this *could* be fixed once #2407 is fixed

[2019-04-29 20:50] shalinijoshi19 commented on #2777
@nesalang please do include screenshots if you can to clearly indicate expected and observe behavior. Also  does this behave OK on other platforms?

[2019-04-29 20:52] #2783 closed

[2019-04-29 22:51] andrewleader commented on #477
Spec changes as of 4/29/2019 (Matt, Shalini, Becky, David, Paul, Alberto, Joseph were in the meeting, Mike gave feedback on email ahead of time)

- **Rename** the `stretch` value to `cover`
  - consistent with HTML, ReactN, Flutter and seems to be the term people are converging on
- **Rename** the `mode` property to `fillMode`
  - `mode` alone was a bit ambiguous. There was no single common term i

[2019-04-29 22:58] andrewleader opened #2794 "Background image spec changes in 1.2"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.2
<td>✔️ .NET (#2797)<br/>✔️ Android (#2798)<br/>✔️ iOS (#2799)<br/>✔️ TS (#2800)<br/>✔️ UWP (#2801)</td>
<td>✔️ Shared (#2795)<br/>✔️ Designer (#2796)</td>
</tr>
</table>

Spec changes as of 4/29/2019 (Matt, Shalini, Becky, David, Paul, Alberto, Joseph were in the meeting, Mike gave feedback on email ahe

[2019-04-29 23:03] andrewleader opened #2795 "[Shared] Background image spec changes in 1.2"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared fix of #2794

[2019-04-29 23:03] andrewleader opened #2796 "[Designer] Background image spec changes in 1.2"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer fix of #2794

[2019-04-29 23:03] andrewleader opened #2797 "[.NET] Background image spec changes in 1.2"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET fix of #2794

[2019-04-29 23:03] andrewleader opened #2798 "[Android] Background image spec changes in 1.2"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android fix of #2794

[2019-04-29 23:03] andrewleader opened #2799 "[iOS] Background image spec changes in 1.2"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS fix of #2794

[2019-04-29 23:03] andrewleader opened #2800 "[TS] Background image spec changes in 1.2"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS fix of #2794

[2019-04-29 23:03] andrewleader opened #2801 "[UWP] Background image spec changes in 1.2"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP fix of #2794

[2019-04-29 23:13] dclaux commented on #2800
Already fixed. Can't put my finger on the commit/PR though.

[2019-04-29 23:14] dclaux commented on #2796
Already fixed. Can't put my finger on the commit/PR though.

[2019-04-29 23:19] andrewleader commented on #2796
Oh @dclaux this is for the spec changes we just decided on (rename `stretch` to `cover`, rename `mode` to `fillMode`). I assume those aren't implemented yet? :P

[2019-04-29 23:20] andrewleader commented on #2800
Oh @dclaux this is for the spec changes we just decided on (rename stretch to cover, rename mode to fillMode, etc). I assume those aren't implemented yet? :P

[2019-04-29 23:20] dclaux commented on #2796
I know. It's already done.

[2019-04-29 23:20] #2796 closed

[2019-04-29 23:21] #2800 closed

[2019-04-30 00:08] andrewleader commented on #2780
Yes, I'd say unknown styles should throw warnings. Definitely helpful for the card author to know!

Same with unknown text sizes and other enums that are unknown.

[2019-04-30 00:08] shalinijoshi19 commented on #2801
@paulcam206, assigning this one to you.

[2019-04-30 00:09] shalinijoshi19 commented on #2797
@almedina-ms assigning to you (load balancing).

[2019-04-30 00:10] shalinijoshi19 commented on #2795
@almedina-ms assigning this to you for load balancing

[2019-04-30 00:11] shalinijoshi19 commented on #2798
@almedina-ms assigning to you for load balancing

[2019-04-30 00:14] shalinijoshi19 commented on #2799
@nesalang assigning the iOS implementation to you for this one for load balancing

[2019-04-30 00:22] shalinijoshi19 commented on #2781
@nesalang assigning to you for fixing

[2019-04-30 22:14] paulcam206 opened #2803 "Android doesn't build on a completely clean install"
Not sure how my dev machine ended up in this state, but it won't build the android project correctly. This is apparently due to `jcenter()` being before `google()` in our `build.gradle` file.

[2019-05-01 04:32] adalfa opened #2807 "[JS] input date max and in min absent in generated input tag"
What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

author to webchat

# Version of SDK
adaptivecards npm 1.1.3
.

# Issue
we are developing a bot that is using a webchat, the adaptivecards with type input.Date and min and max attributes are  rendered without min and max.

[code]

**Output**

[code]

I would recommend opening a new issue i

[2019-05-01 15:17] matthidinger commented on #2807
Thank you for reporting! @dclaux can you take a look?

[2019-05-01 15:37] dclaux commented on #2807
The JS renderer doesn't even support min and max on Input.Date, nor on Input.Time. I have no recollection of when these were introduced for that matter.

I'll add support.

[2019-05-01 15:46] RebeccaAnne opened #2808 "[UWP] Image.BackgroundColor.json cuts off image when rendered at fixed height."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

The Image.BackgroundColor.json test file cuts off the image when rendered at fixed height. I believe the WholeItemsPanel should be ensuring that only whole items are displayed:

![image](https://user-images.githubusercontent.com/9091833/57025978-7bcd8b00-6bed-11e9-9d49-d232ef0dc74e.png)

[2019-05-01 16:06] nimercer opened #2809 "[UWP] Background images frame differently with custom image renderer"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Author or host
Host

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...
1.2 Beta

# Issue
When using the adaptive card image renderer with a background image (mode: stretch), the background image is framed incorrectly. (Not fitting to the size of its boundary).
When a custom render

[2019-05-01 16:54] RebeccaAnne opened #2811 "Validation happens at parse time, resulting in no validation for cards constructed via the object model."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS
* UWP

# Issue

All card validation happens at parse time, which means that cards constructed by the object model directly in code (not via parsing json) may be invalid in a number of ways. Consider whether we want to move towards object model validation.

[2019-05-01 17:50] RebeccaAnne opened #2812 "Ensure ToggleVisibility interacts with bleed correctly"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>Backlog
<td>🔄 .NET (#2816)<br/>🔄 Android (#2817)<br/>🔄 iOS (#2818)<br/>✔️ TS (#2819)<br/>🔄 UWP (#2820)</td>
<td>🔄 Shared (#2814)<br/>✔️ Designer (#2815)</td>
</tr>
</table>

Splitting the bleed issue out from #2600 (which now tracks issues of separators only)

Does setting the framework element's visibility

[2019-05-01 18:42] andrewleader opened #2814 "[Shared] Ensure ToggleVisibility interacts with bleed correctly"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared fix of #2812

[2019-05-01 18:42] andrewleader opened #2815 "[Designer] Ensure ToggleVisibility interacts with bleed correctly"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer fix of #2812

[2019-05-01 18:42] andrewleader opened #2816 "[.NET] Ensure ToggleVisibility interacts with bleed correctly"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET fix of #2812

[2019-05-01 18:42] andrewleader opened #2817 "[Android] Ensure ToggleVisibility interacts with bleed correctly"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android fix of #2812

[2019-05-01 18:42] andrewleader opened #2818 "[iOS] Ensure ToggleVisibility interacts with bleed correctly"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS fix of #2812

[2019-05-01 18:42] andrewleader opened #2819 "[TS] Ensure ToggleVisibility interacts with bleed correctly"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS fix of #2812

[2019-05-01 18:42] andrewleader opened #2820 "[UWP] Ensure ToggleVisibility interacts with bleed correctly"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP fix of #2812

[2019-05-01 18:48] RebeccaAnne commented on #2815
No work needed for designer

[2019-05-01 18:48] #2815 closed

[2019-05-01 18:48] RebeccaAnne commented on #2819
This already works correctly in TS

[2019-05-01 18:48] #2819 closed

[2019-05-01 18:57] RebeccaAnne opened #2826 "[UWP] Check for warnings in test app"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

Consider updating the UWP test app to check for expected warnings or lack there of during parsing/rendering.

[2019-05-01 21:42] paulcam206 commented on #2746
also needed in both .NET renderers

[2019-05-01 21:53] paulcam206 opened #2827 "Figure out what's up with dotnet version if checks"
https://github.com/Microsoft/AdaptiveCards/blob/2f0a52551b8638374acbd5ec039746aacab57822/source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs#L1879

[2019-05-01 23:04] dclaux commented on #2811
That is true of the TS renderer as well, and is by design. Cards constructed via the object model should not be subject to validation IMO.

[2019-05-02 04:53] achipa commented on #2528
@andrewleader Just checking in if there have been any news around this? If it's a prioritization issue, I'm happy to do a PR as long as there is an agreement on the change. (I'd always rather upstream than having to maintain forks for things like these)

[2019-05-02 12:46] barryptak commented on #2809
The original issue that Nicola is referring to, but which goes away when using a custom renderer is this one: #2697

[2019-05-02 18:18] paulcam206 opened #2831 "[TS] Refactor common pattern"
This pattern is used quite a bit in `designer-peer.ts`. This should be factored into a helper method (or otherwise resolved).

[code]

[2019-05-02 18:22] paulcam206 commented on #2790
Fixes still needed for iOS and Android

[2019-05-02 18:36] dclaux commented on #2831
Thanks for opening this.

[2019-05-02 23:57] #2587 closed

[2019-05-03 16:24] shalinijoshi19 commented on #2697
@RebeccaAnne / @paulcam206 can this be resolved as a dup of #2809 ?

[2019-05-03 16:26] shalinijoshi19 commented on #2643
@dclaux should this issue be closed now?

[2019-05-03 16:26] #2642 closed

[2019-05-03 16:26] #2643 closed

[2019-05-03 16:28] shalinijoshi19 commented on #2801
@almedina might be easier if you just picked this up as well (assuming @paulcam206 hasnt already started wrking on this)

[2019-05-03 16:30] #2773 closed

[2019-05-03 16:31] shalinijoshi19 commented on #2790
@paulcam206 assuming you are tacklng this for iOS + Android as well?

[2019-05-03 16:33] shalinijoshi19 commented on #2818
@RebeccaAnne / @nesalang  is this waiting on changes or something from the shared model side?

[2019-05-03 16:34] shalinijoshi19 commented on #2627
At this point moving this out of 1.2

[2019-05-03 16:47] shalinijoshi19 commented on #2569
@paulcam206 does this need to be fixed for 1.2? If so we should get to this soon

[2019-05-03 16:48] shalinijoshi19 commented on #2548
@paulcam206 / @RebeccaAnne does this need to get fixed for 1.2? Would this be addressed with some of the other issues around image clipping we are tracking already?

[2019-05-03 16:51] shalinijoshi19 commented on #2712
@almedina-ms assigning to you for load balancing; Also @RebeccaAnne / @andrewleader moving this out of 1.2 to make space for some of the other breaking/pressing bugs

[2019-05-03 16:52] shalinijoshi19 commented on #2187
@dclaux FYI moved this to backlog

[2019-05-03 16:54] shalinijoshi19 commented on #2586
@paulcam206 reassigning to you to load balance.

[2019-05-03 16:56] shalinijoshi19 commented on #2705
@RebeccaAnne is this already in PR or covered by your shared model PR?

[2019-05-03 17:00] shalinijoshi19 commented on #2710
Moving this out of 1.2 for now

[2019-05-03 17:01] shalinijoshi19 commented on #2775
@dclaux is this still coming in for 1.2?

[2019-05-03 17:02] #2786 closed

[2019-05-03 17:09] #2533 closed

[2019-05-03 17:10] paulcam206 commented on #2790
@shalinijoshi19 -- yes. I hope to have something in PR today :)

[2019-05-03 17:12] #2500 closed

[2019-05-03 17:13] paulcam206 commented on #2569
@shalinijoshi19 -- this should be fixed with changes to what `id` property values we allow. I haven't investigated this issue yet, but I suspect that the WPF element's `name` property isn't allowed to be strictly numeric. I think we should keep this one to track.

[2019-05-03 17:14] paulcam206 commented on #2187
@shalinijoshi19 -- are we sure we want to punt this? without a fix, you can author a card in the designer that won't render on any other platform...

[2019-05-03 17:17] almedina-ms commented on #2705
@shalinijoshi19 There are two shared models.
* The C++ shared model is consumed by the UWP, Android and iOS renderer.
* The C# shared model is more of an object model and is consumed by the WPF and HTML renderers
When we talk about shared model, we usually refer to the C++ one

[2019-05-03 17:17] paulcam206 commented on #2697
@shalinijoshi19 -- @RebeccaAnne may know more, but at this point I don't think we have enough information to know whether or not these two issues share a root cause...

[2019-05-03 17:17] shalinijoshi19 commented on #2772
@almedina-ms is this something you can take a stab at ?

[2019-05-03 17:18] RebeccaAnne commented on #2818
This requires the ability to recalculate bleed based on the current state of the object model (rather than only at parse time). That work is tracked by #2678.

[2019-05-03 17:19] RebeccaAnne commented on #2586
Taking this back as I am actively working on it.

[2019-05-03 17:20] shalinijoshi19 commented on #2548
Load balancing out to you @paulCam206

[2019-05-03 17:20] almedina-ms commented on #2772
@shalinijoshi19 yes, I can take a stab at this

[2019-05-03 17:40] #2803 closed

[2019-05-03 18:26] #2781 closed

[2019-05-03 18:56] #2606 closed

[2019-05-03 19:21] #2495 closed

[2019-05-03 19:53] shalinijoshi19 commented on #2801
@paulcam206 load balancing on to you! thanks

[2019-05-03 20:03] paulcam206 commented on #2790
iOS doesn't currently have warnings, so no work to be done there.

[2019-05-03 20:45] RebeccaAnne opened #2838 "[Samples] Duplicate sample cards"
# Platform

What platform is your issue or question related to? (Delete other platforms).

Samples

# Issue

\samples\v1.2\Elements\AdaptiveCard.BackgroundImage.Mode.json and \samples\v1.2\Elements\AdaptiveCard.BackgroundImage.Mode.Repeat.json are the same card.

\samples\v1.2\Elements\AdaptiveCard.BackgroundImage.VerticalAlignment.json and \samples\v1.2\Elements\AdaptiveCard.BackgroundImage.Mode.

[2019-05-03 21:04] RebeccaAnne opened #2839 "[.NET] Vertical Alignment of background image doesn't work"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

The below card doesn't render correctly. The background image should be centered because verticalAlignment is set to center:

Expected behavior [TS]:
![image](https://user-images.githubusercontent.com/9091833/57165488-15db3200-6dac-11e9-801e-c384e59f9f43.png)

Actual behavior [.NET]:

![

[2019-05-03 21:12] almedina-ms opened #2840 "[UWP] Stretch background image not stretching"
# Platform

* UWP

# Issue

Background images in columns are not stretching (growing to fill the complete container). In the image below it can be seen in the first column as the image is not growing to fill

Json:
* Samples\v1.2\Elements\Column.BackgroundImage.json
* Samples\v1.2\Elements\Container.BackgroundImage.json

![image](https://user-images.githubusercontent.com/35784165/57165865-2b049080

[2019-05-03 21:16] RebeccaAnne opened #2841 "[UWP] Container background image doesn't stretch as expected"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

The below card doesn't render correctly. The background image should be stretched across the container.

Correct Behavior [TS]:
![image](https://user-images.githubusercontent.com/9091833/57166110-fcd38080-6dad-11e9-83b2-907e44548b35.png)

Actual Behavior [UWP]:
![image](https://user-images.gi

[2019-05-03 21:17] almedina-ms opened #2842 "[UWP][iOS] \r Creates new lines"
# Platform

* iOS
* UWP

# Issue

\r characters are adding new lines in UWP while in iOS the new lines are not generated

Json payload:
* samples\v1.2\Elements\Column.BackgroundImage.json

![image](https://user-images.githubusercontent.com/35784165/57166120-0957d900-6dae-11e9-8be7-e45435de30a9.png)

![Screen Shot 2019-05-03 at 2 18 47 PM](https://user-images.githubusercontent.com/35784165/57166240

[2019-05-03 21:23] jwoo-msft opened #2843 "Inconsistency In Size When Rendering DataURI Image"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS

# Issue
DataURI images renders differently on the different renderers.
Between Android & iOS, image is rendered much smaller in Android.

**Android**
![Screenshot_1556918239](https://user-images.githubusercontent.com/4112696/57166369-d104ca80-6dae-11e9-99be-9b50684bdd57.png)

**iOS**
![Simul

[2019-05-03 21:26] shalinijoshi19 opened #2844 "[UWP Visualizer] Trying to save an Untitled card gives a NullReferenceException"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Version of SDK
master; Latest store app (published nightly at 7pm per Andrew)

# Issue

1. Launch UWP Visualizer app
2. Create an untitled JSON
3. Hit Save
Notice the nullereference error :

![image](https://user-images.githubusercontent.com/20822397/57166408-f265b680-6dae-11e9-803d-c2d6a69f2b2b.png)

[2019-05-03 21:26] shalinijoshi19 commented on #2844
Dont have VS intalled on my laptop for debugging details; I'll get that going in a bit and get back

[2019-05-03 21:30] jwoo-msft opened #2845 "DataURI Image As Background Image has Inconsistent Rendering"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS
* Android
* UWP
* .NET WPF

# Issue
Data URI Image is rendered differently across the platforms.

**iOS**
![Simulator Screen Shot - iPhone 6s - 2019-05-03 at 14 04 21](https://user-images.githubusercontent.com/4112696/57166530-5f794c00-6daf-11e9-9c1e-2592d2585850.png)

**Android**
![Screenshot_15569188

[2019-05-03 21:34] nesalang opened #2846 "Data URI Portrait Mode"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

The size of same DataURI image changes depending on which image style is used.

**InPerson**
![image data uri inPerson](https://user-images.githubusercontent.com/4112696/57166893-71a7ba00-6db0-11e9-84da-4d220604b738.PNG)

![image data uri](https://user-images.githubusercontent.com/4112696/571

[2019-05-03 21:40] nesalang opened #2847 "UWP Test App Throws When Start Test is Clicked While no Cards are Chosen"
# Issue
When Start Test is clicked while no cards are chosen, the app throws.

![Tooling](https://user-images.githubusercontent.com/4112696/57167077-496c8b00-6db1-11e9-9541-5ef2aaf22dac.PNG)

[2019-05-03 21:48] RebeccaAnne opened #2848 "Images in an ImageSet require the "type" property"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Issue

If the images in an imageset do not have "type":"Image" set on them, they do not render in shared model platforms or .NET. Javascript does render these payloads. The analogous case for columns in a columns set does render properly without re

[2019-05-03 21:55] RebeccaAnne opened #2849 "[.NET] Low resolution images in an image set don't stretch as they do on other platforms"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

The below card renders differently on .NET compared to UWP and Javascript.

Javascript behavior (UWP is similar):
![image](https://user-images.githubusercontent.com/9091833/57167646-57231000-6db3-11e9-8404-7f1473667963.png)

.NET behavior
![image](https://user-images.githubusercontent.co

[2019-05-03 21:56] paulcam206 opened #2850 "[TS] RichTextBlock missing date rendering"
See rich text block [sample card](https://github.com/Microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/RichTextBlock.json). Typescript renderer lacks date parsing:

![image](https://user-images.githubusercontent.com/16614499/57167700-833e9100-6db3-11e9-8851-bafe45914aaf.png)

Looks correct in UWP and WPF.

[2019-05-03 21:59] almedina-ms opened #2851 "[iOS][UWP] Showcard behavior inconsistency"
# Platform

* iOS
* UWP

# Issue

When clicking on show card actions, UWP and iOS have different behaviours (other platforms may also differ). In the case of UWP, multiple show cards can be visible at the same time, while in iOS only the last shown card is kept visible

Json payload:
* samples\v1.2\Elements\ActionSet.json

UWP
![image](https://user-images.githubusercontent.com/35784165/57167702-85

[2019-05-03 21:59] paulcam206 opened #2852 "[TS] RichTextBlock missing monospace rendering"
See rich text block [sample card](https://github.com/Microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/RichTextBlock.json). Typescript renderer lacks monospace rendering:

![image](https://user-images.githubusercontent.com/16614499/57167805-f2b48080-6db3-11e9-867f-5615db1d6330.png)

Looks like it's not a CSS issue:
![image](https://user-images.githubusercontent.com/16614499/57167823-03fd8d

[2019-05-03 22:02] shalinijoshi19 opened #2853 "[UWP minHeight] Height of the AdaptiveCard doesnt seem to go below a certain minimum(100px?) despite configuring it to be smaller"
# Platform

* UWP

# Version of SDK
UWP visualizer app off of the store (which i believe is compiled off of master nightly)

# Issue

1. Tried this sample AdaptiveCard-minHeight.json which seems to reduce to accomodate the minHeight say in JS or WPF but not in UWP it seems; I can go for eg down to 10px in WPF but UWP seems to stay at 100px or so..
[code]

UWP:

![minHeightQuirks](https://user-imag

[2019-05-03 22:03] paulcam206 commented on #2775
@shalinijoshi19 -- looks like the bug wasn't referenced correctly in the PR, so this bug didn't get autoclosed...

[2019-05-03 22:03] #2775 closed

[2019-05-03 22:15] almedina-ms commented on #2853
This fails for parsing
"minHeight": "200
px"
That's why you are not seeing the change of height

![image](https://user-images.githubusercontent.com/35784165/57168346-488a2800-6db6-11e9-8a86-cd59e06a9cc3.png)

[2019-05-03 22:24] RebeccaAnne commented on #2782
We did change our mind with respect to column bleeding, and it looks like all renderers are consistent now (don't apply bleeding). Closing.

[2019-05-03 22:24] #2782 closed

[2019-05-03 22:26] paulcam206 opened #2855 "[UWP] Inconsistent warning about inlines type"
In UWP, this card is an error:

[code]

however, this card is considered fine (note value of `inlines`):

[code]

Both cards are incorrect, as `inlines` has to be an array type.

Note that JS incorrectly allows both of these payloads (and even doesn't require `"inlines"`, although note that JS also doesn't require `"text"` on TextBlock, so that's related to a whole separate issue)

[2019-05-03 22:32] almedina-ms opened #2856 "[iOS]Containers show full background image"
# Platform

* iOS

# Issue

Payload

[code]

Containers show the complete background image even if they are empty

![Screen Shot 2019-05-03 at 3 30 29 PM](https://user-images.githubusercontent.com/35784165/57168844-8ab46900-6db8-11e9-9ef7-aa64f4a3bde8.png)

[2019-05-03 22:46] RebeccaAnne commented on #2839
Already in pull request.

[2019-05-03 22:55] RebeccaAnne commented on #2842
Javascript and .Net also don't respect \r or \n or \r\n.

[2019-05-03 22:58] RebeccaAnne commented on #2851
UWP only shows a single show card per action set, but will allow multiple show cards in different action sets.

[2019-05-03 23:06] RebeccaAnne commented on #2845
I believe the .NET WPF image is the correct behavior.

[2019-05-04 23:59] Assaya commented on #6
𝒜𝓃𝑔𝑒𝓁𝒶

Forwarded Conversation
Subject: [No-Reply] Test message from G Suite Technical Support
------------------------

From: G Suite Technical Support Test Sender <
noreply-smtptester@googleapps.com>
Date: Sun, 5 May 2019 at 00:38
To: <angela@globalcherry.group>

Dear G Suite customer,

This is a test message sent to you from the G Suite technical support team
to test successful email delivery t

[2019-05-05 18:08] SimonSiefke opened #2857 "JSON schema for adaptive cards is slightly wrong"
# Issue

The schema for adaptive cards provides wrong intellisense.

![Screenshot](https://user-images.githubusercontent.com/23744935/57198262-0eb15100-6f71-11e9-87bb-a820591d2251.png)

**Current behaviour**:
It shows `Must be "Action.Submit"`

**Expected behaviour**:
It shows `Must be "Action.OpenUrl"`

[2019-05-06 17:49] ilylin commented on #2393
@dclaux @ridder-mark @matthidinger Any update on this?

[2019-05-06 17:51] adampauls commented on #2393
Hi. I'm on @ilylin's team, and also have an interest here. I didn't quite follow why changing the designer to produce lowercased values by default is going to cause problems? It wouldn't "constrain" the designer -- users could still edit the values to be uppercased if they want.

That said, if changing the schema to be case-insensitive on the first letter is the easiest thing to do (which I believ

[2019-05-06 18:01] dclaux commented on #2393
@adampauls not all enum values in Adaptive are all lower case. For instance, `extraLarge` for text size. The designer can't simply emit all enum values in lower case, it would have to emit them as defined in the schema.

Also, it is not the designer that serializes to JSON, it is the renderer. Emitting enum values per the schema would mean implementing logic in the renderer to dynamically load the

[2019-05-06 18:21] adampauls commented on #2393
I agree that's the best solution. Any ideas as to a timeline? We will likely change a copy of the schema to do this for our own purposes, but hopefully that's a temporary state of affairs.

[2019-05-07 20:12] almedina-ms opened #2861 "Strikethrough and italic should only be supported in Richtextblock"
# Platform

What platform is your issue or question related to?

* iOS
* UWP

# Issue

Strikethrough and italic properties must only be supported in RichTextBlock; On iOS and UWP they are allowed today but shouldnt be

[2019-05-07 20:15] almedina-ms opened #2862 "Verify auto columns use only as much space as card allows"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Issue

Currently if a card has a columnset with columns with auto width the rendered column may be drawn outside of the card (or may stretch farther than the card allowed space)

[2019-05-07 23:51] #2381 closed

[2019-05-08 21:14] desaibijon opened #2863 "Gif are not animating on android sdk."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

Host rendering cards on Android devices/
# Version of SDK

Android v1.1

# Issue

Gif images are not animating on android and the same images animate on web.

[2019-05-09 16:10] shalinijoshi19 commented on #2569
@paulcam206 still working on this for 1.2?

[2019-05-09 16:18] shalinijoshi19 commented on #2855
Good to have; Looks like an easy fix if we can absorb it; @RebeccaAnne do we have clarity around addressing this?

[2019-05-09 16:47] shalinijoshi19 commented on #2853
@almedina-ms can you investigate with the json (now added to the bug) ? thanks

[2019-05-09 16:53] shalinijoshi19 commented on #2820
@RebeccaAnne assigning to you for investigation next.

[2019-05-09 16:55] shalinijoshi19 commented on #2855
Moving it out of 1.2 given there are still pending

[2019-05-09 17:02] shalinijoshi19 commented on #2798
@almedina-ms is this still being worked on?

[2019-05-09 17:03] shalinijoshi19 commented on #2795
@almedina-ms are you looking into the shared model changes as well ?

[2019-05-09 17:04] shalinijoshi19 commented on #2707
Closing out. This is now pending merge with master from @RebeccaAnne 's branch

[2019-05-09 17:04] #2707 closed

[2019-05-09 17:08] shalinijoshi19 commented on #2801
@Paulcam206 i think this one is going to be a big one that we should look into if @RebeccaAnne hasnt already started looking into it; Can you pick it up please?

[2019-05-09 17:09] shalinijoshi19 commented on #2636
@andrewleader is this a regression wtih 1.2?

[2019-05-09 17:11] shalinijoshi19 commented on #2799
@nesalang FYI :) . Have you had a chance to start on this at all?  tx

[2019-05-09 17:36] almedina-ms commented on #2853
This works in master

![MinHeightUWP](https://user-images.githubusercontent.com/35784165/57474150-5290a880-7246-11e9-9d21-8c0cf893e118.gif)

[2019-05-09 17:39] almedina-ms commented on #2853
minHeight won't go below the height of the content that is rendered in the card, as for the behaviour of minimum height any height that is greater than the minimum is valid

[2019-05-09 19:05] #2790 closed

[2019-05-09 20:43] andrewleader commented on #2636
@shalinijoshi19 no clue, I don't have Android 1.1 to test against, and only discovered this when playing with 1.2 in our new app.

[2019-05-09 21:01] shalinijoshi19 commented on #2853
Got it! Thanks for looking into this @almedina-ms

[2019-05-09 21:01] #2853 closed

[2019-05-09 21:11] paulcam206 commented on #2569
we should move this out. I took a look. it only affects .Net WPF and isn't a regression.

[2019-05-09 22:06] #2797 closed

[2019-05-09 22:15] shalinijoshi19 commented on #2778
Resolving as dup of # #2407

[2019-05-09 22:15] #2778 closed

[2019-05-09 22:18] andrewleader opened #2871 "GIF support"
Dupe of #3079

[2019-05-09 22:21] andrewleader opened #2872 "[Shared] GIF support"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared implementation of #2871

[2019-05-09 22:21] andrewleader opened #2873 "[Designer] GIF support"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer implementation of #2871

[2019-05-09 22:21] andrewleader opened #2874 "[.NET] GIF support in images"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET implementation of #3079

[2019-05-09 22:21] andrewleader opened #2875 "[Android] GIF support in images"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android implementation of #3079

[2019-05-09 22:21] andrewleader opened #2876 "[iOS] GIF support in images"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS implementation of #3079

[2019-05-09 22:21] andrewleader opened #2877 "[TS] GIF support"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS implementation of #2871

[2019-05-09 22:21] andrewleader opened #2878 "[UWP] GIF support"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP implementation of #2871

[2019-05-09 22:23] andrewleader commented on #2873
GIFs already work in Designer

[2019-05-09 22:23] #2873 closed

[2019-05-09 22:23] andrewleader commented on #2872
GIFs irrelevant to Shared

[2019-05-09 22:23] #2872 closed

[2019-05-09 22:24] brad302 commented on #2716
@shalinijoshi19, sorry mate but any update from your end?

[2019-05-09 22:25] andrewleader commented on #2878
GIFs already work in UWP

![GifUwp](https://user-images.githubusercontent.com/13246069/57490609-a44d2900-726e-11e9-901b-1e806e590886.gif)

[2019-05-09 22:25] #2878 closed

[2019-05-09 22:26] andrewleader commented on #2877
GIFs already work in TS

![GifExpected](https://user-images.githubusercontent.com/13246069/57490215-6f8ca200-726d-11e9-8ada-5237eb204b57.gif)

[2019-05-09 22:26] #2877 closed

[2019-05-09 22:26] andrewleader commented on #2876
We need to check iOS and see whether it does or doesn't support GIFs

[2019-05-09 22:26] andrewleader commented on #2875
Android Renderer is confirmed to NOT support GIF, as tested in the Visualizer by myself

[2019-05-09 22:27] andrewleader commented on #2874
WPF renderer is confirmed to NOT support GIFs, as tested by myself using the WPF visualizer

[2019-05-09 22:30] shalinijoshi19 commented on #2716
Hi @brad302 (apologies for missing your response earlier) but i was referring more to the renderer platform which in this case looks like then is WPF(indirectly as consumed by the BotFramework)? Coincidentally @andrewleader is confirming that GIFs in general arent suported on WPF - perhaps addressing this bug could be part of that work? @andrewleader ?

[2019-05-09 22:45] brad302 commented on #2716
We’re consuming it via the BotFramework via web chat, predominantly. Is that clearer?

[2019-05-09 23:20] andrewleader commented on #2863
Hey @desaibijon, thanks for reporting this issue! We'll track GIF support with issue #2871 since it's also missing on WPF and we'll have to track this as a cohesive feature. Please subscribe and follow along there.

[2019-05-09 23:20] #2863 closed

[2019-05-09 23:27] andrewleader commented on #2716
Thanks Brad. Interesting, WebChat uses the HTML JavaScript renderer (same one as in the Adaptive Cards Designer website), so GIFs themselves should be working. Maybe WebChat somehow disabled GIF support in their HTML, investigating...

And your issue with the Url too long happens when you're **authoring** the card? You're using the .NET C# library to programmatically construct your Adaptive Card,

[2019-05-09 23:46] brad302 commented on #2716
@andrewleader, correct with the C# playback but your adaptive cards designer is fine so no worries on that side of the equation. I think once it got to the web it would render correctly, it’s just getting it there via the SDK in C#.

I put it down to the limitations of System.Uri and the maximum length of string it accepts.

I actually encountered another user with the same issue on Stackoverflow

[2019-05-10 14:47] andrewleader commented on #2716
@brad302 here's two workarounds that should get you unblocked

## Workaround 1: Extend the Image class and add a LongUrl property

This is definitely the best workaround. Define the following class, extending `AdaptiveImage`, adding a `LongUrl` property (which writes to the same `url` property in the JSON).

[code]

Then, use your new image class and the new property when assigning long urls!

[co

[2019-05-10 15:20] andrewleader opened #2881 "Support long data URIs"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>Not scheduled
<td>🔄 .NET (#2900)<br/>🔄 Android (#2901)<br/>🔄 iOS (#2902)<br/>✔️ TS (#2903)<br/>🔄 UWP (#2904)</td>
<td>🔄 Shared (#2898)<br/>✔️ Designer (#2899)</td>
</tr>
</table>

# Solves requests

* (Workaround available) [Miroslav Novák - Can't send big GIF in WebChat](https://stackoverflow.com/questions

[2019-05-10 16:56] andrewleader commented on #2716
We're tracking adding support for long data uris to all platforms with #2881, please subscribe to that issue for updates. In the meantime, please use one of the above workarounds!

Thanks so much brad302 for bringing this to our attention!

[2019-05-10 16:56] #2716 closed

[2019-05-10 17:28] #2769 closed

[2019-05-10 18:08] #2605 closed

[2019-05-10 19:05] #2838 closed

[2019-05-10 19:34] #2586 closed

[2019-05-10 19:34] #2608 closed

[2019-05-10 20:19] RebeccaAnne commented on #2812
Due to a constraint in the current design (#2678), this isn't going to make it into 1.2. Moving to the backlog.

[2019-05-10 20:41] andrewleader opened #2882 "iOS SDK docs for rendering cards are outdated"
The iOS docs for rendering cards and using the SDK are outdated.

https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/ios/render-a-card

Class names have changed, it doesn't compile, etc.

[2019-05-10 20:44] andrewleader opened #2883 "Ensure the code samples in our documentation are up-to-date"
We should check through our Android/JS/UWP/WPF/etc docs and make sure all the code samples are up-to-date with the 1.1 (and the upcoming 1.2) release

[2019-05-10 20:52] RebeccaAnne opened #2884 "[JS][Visualizer] Visualizer doesn't distinguish Action sentiments"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Issue
 The [visualizer](https://adaptivecards-ci.azurewebsites.net/visualizer/index.html) doesn't render actions with Positive and Destructive sentiments differently than default actions. The designer does have different styling for these sentiments.

Designer:
![image](https://user-images.gi

[2019-05-10 21:01] RebeccaAnne opened #2885 "[JS][Visualizer] Container style colors not specified in the visualizer"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Issue

The new container style colors are not set in the [visualizer](https://adaptivecards-ci.azurewebsites.net/visualizer/index.html).

Designer:
![image](https://user-images.githubusercontent.com/9091833/57556491-0881f280-732c-11e9-9ce7-f494c334b867.png)

Visualizer:
![image](https://user-i

[2019-05-10 21:01] paulcam206 commented on #2548
regressed by 6ffc99b

[2019-05-10 21:13] RebeccaAnne opened #2886 "[Samples] Sentiment samples include misleading text"
These samples include misleading text:
[samples/v1.2/Elements/Action.OpenUrl.Sentiment.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/Action.OpenUrl.Sentiment.json)
[samples/v1.2/Elements/Action.ShowCard.Sentiment.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/Action.ShowCard.Sentiment.json)
[samples/v1.2/Elements/Action.Submi

[2019-05-10 21:33] RebeccaAnne opened #2887 "[.NET] [Visualizer] Uncommenting example code for sentiment styles does not change rendering"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

In [source/dotnet/Samples/WPFVisualizer/MainWindow.xaml.cs](https://github.com/microsoft/AdaptiveCards/blob/master/source/dotnet/Samples/WPFVisualizer/MainWindow.xaml.cs) there is the following commented out code:

[code]
Uncommenting it, however, does not change the styling.
![image](ht

[2019-05-10 21:33] paulcam206 opened #2888 "[WPF] No support for "lighter" weight in visualizer?"
Unclear if it's a hostconfig, implementation, or platform issue. This card:

[code]

yields this output in UWP (correct):
![image](https://user-images.githubusercontent.com/16614499/57557867-792b0e00-7330-11e9-9dbd-56c90cbb7393.png)

but yields this output in WPF:
![image](https://user-images.githubusercontent.com/16614499/57557880-85af6680-7330-11e9-991c-24875306d9ac.png)

seems like `lighter` is

[2019-05-10 21:33] almedina-ms opened #2889 "[.NET][HTML] Font style not respected as multiple are set"
# Platform

* .NET HTML

# Issue

AdaptiveCard is not respecting the font because the font is being filled with more than one value

In the image we can see that the <p> tag has multiple fonts assigned to it but the actual font doesn't change, if only one font is used, then the change is visible

![image](https://user-images.githubusercontent.com/35784165/57557839-6284b700-7330-11e9-859f-fa7e08200

[2019-05-10 21:41] paulcam206 opened #2890 "[WPF] Visualizer doesn't have a scrollbar for cards"
The WPF visualizer should have scrollbars so that we can look at cards that are too tall to display within the window:

![image](https://user-images.githubusercontent.com/16614499/57558186-9b715b80-7331-11e9-873f-c995916e4030.png)

[2019-05-10 21:42] RebeccaAnne commented on #2887
User error. The sentiments on .NET are set specifically per action type (Submit vs. OpenURL) and I opened a card they don't apply to. That said, UWP doesn't have per action type styling, will log a separate issue on the inconsistency.

[2019-05-10 21:42] #2887 closed

[2019-05-10 21:47] RebeccaAnne opened #2891 "[.NET] Per action type styling for action sentiments"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

In .NET sentiment styles are specific to the type of action. You can (and must if you want all buttons to behave the same) set the "Adaptive.Action.Submit.Positive" style and the "Adaptive.Action.OpenUrl.Positive" style separately. In UWP, for example, you set a single "Adaptive.Action.P

[2019-05-10 21:49] paulcam206 opened #2892 "[.NET] RichTextBlock inline with incorrect type still accepted"
Consider this card:

[code]

The type of the block inside `inlines` can be anything (or not present). In UWP (and thus presumably on all shared model renderers), it must be present and correct. Otherwise, it's an error and the card will fail to parse.

[2019-05-10 21:49] almedina-ms opened #2893 "[.NET][HTML] DeepFallback card failed to render"
# Platform

* .NET HTML

# Issue

[DeepFallback.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/Tests/DeepFallback.json) card fails to render

![image](https://user-images.githubusercontent.com/35784165/57558501-c0b29980-7332-11e9-8a76-da30a03aea81.png)

[2019-05-10 21:55] nesalang opened #2894 ".NET WPF Choice Set Wrap"
# Platform

* .NET WPF

# Issue
Wrap doesn't work for ChoiceSet with compact style and single select as seen in the capture
<img width="282" alt="capture1" src="https://user-images.githubusercontent.com/4112696/57558634-4df5ee00-7333-11e9-9dcb-310097ab9096.PNG">

https://github.com/microsoft/AdaptiveCards/blob/master/samples/Tests/SearchResults.json

[2019-05-10 22:13] paulcam206 opened #2895 "[.NET] No warning when max actions exceeded"
The `Action.ToggleVisibility.json` sample card defines 6 buttons. In both the UWP and WPF visualizers, we have a 5 action cap. In UWP we throw a warning about truncating the actions. WPF appears to truncate silently.

[2019-05-10 22:15] RebeccaAnne commented on #2893
[ActionFallback.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/ActionFallback.json) also fails.

[2019-05-10 22:22] paulcam206 opened #2896 "ToggleVisibility on a non-existent ID"
If a card author includes a non-existent element `id` in their `Action.ToggleVisibility` action, should we throw a warning?

[2019-05-10 22:25] paulcam206 opened #2897 "[WPF] Visualizer crashes when attempting to toggle visibility on an action"
Consider this card:

[code]

In the WPF visualizer, clicking the toggle button causes a `NullReferenceException`.

[2019-05-10 22:40] RebeccaAnne commented on #2890
This is fixed in the PR for .NET Toggle visibility #2767

[2019-05-10 22:43] dclaux commented on #2852
It's the test payload that is incorrect. Decision was made to rename `fontStyle` into `fontFamily` which the JS renderer has already implemented.

[2019-05-10 22:43] #2852 closed

[2019-05-10 22:46] RebeccaAnne commented on #2897
Toggle visibility shouldn't work for actions. We should also test what happens if a select action toggles the element it's on.

[2019-05-10 22:46] dclaux commented on #2761
Already fixed here: https://github.com/microsoft/AdaptiveCards/pull/2771

[2019-05-10 22:46] #2761 closed

[2019-05-10 22:52] andrewleader opened #2898 "[Shared] Support long data URIs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared implementation of #2881

[2019-05-10 22:52] andrewleader opened #2899 "[Designer] Support long data URIs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer implementation of #2881

[2019-05-10 22:52] andrewleader opened #2900 "[.NET] Support long data URIs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET implementation of #2881

[2019-05-10 22:52] andrewleader opened #2901 "[Android] Support long data URIs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android implementation of #2881

[2019-05-10 22:52] andrewleader opened #2902 "[iOS] Support long data URIs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS implementation of #2881

[2019-05-10 22:52] andrewleader opened #2903 "[TS] Support long data URIs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS implementation of #2881

[2019-05-10 22:52] andrewleader opened #2904 "[UWP] Support long data URIs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP implementation of #2881

[2019-05-10 23:15] dclaux commented on #2850
Fixed here: https://github.com/microsoft/AdaptiveCards/pull/2905

[2019-05-10 23:15] dclaux commented on #2187
Fix here: https://github.com/microsoft/AdaptiveCards/pull/2905

[2019-05-11 00:24] shalinijoshi19 opened #2906 "[1.2 API review] Rename TextBlock's fontStyle to fontType"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.2
<td>🔄 .NET (#2909)<br/>🔄 Android (#2910)<br/>🔄 iOS (#2911)<br/>🔄 TS (#2912)<br/>🔄 UWP (#2913)</td>
<td>🔄 Shared (#2907)<br/>🔄 Designer (#2908)</td>
</tr>
</table>

# Platform

* .NET HTML
* .NET WPF
* Android
* iOS
* UWP

If you're an author, who are you sending cards to?

# Version of SDK

Latest maste

[2019-05-11 00:35] shalinijoshi19 commented on #2906
@RebeccaAnne / @andrewleader FYI this is the root bug tracking the renames.

[2019-05-11 23:01] andrewleader opened #2907 "[Shared] [1.2 API review] Rename TextBlock's fontStyle to fontType"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared fix of #2906

[2019-05-11 23:01] andrewleader opened #2908 "[Designer] [1.2 API review] Rename TextBlock's fontStyle to fontType"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer fix of #2906

[2019-05-11 23:01] andrewleader opened #2909 "[.NET] [1.2 API review] Rename TextBlock's fontStyle to fontType"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET fix of #2906

[2019-05-11 23:01] andrewleader opened #2910 "[Android] [1.2 API review] Rename TextBlock's fontStyle to fontType"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android fix of #2906

[2019-05-11 23:01] andrewleader opened #2911 "[iOS] [1.2 API review] Rename TextBlock's fontStyle to fontType"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS fix of #2906

[2019-05-11 23:01] andrewleader opened #2912 "[TS] [1.2 API review] Rename TextBlock's fontStyle to fontType"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS fix of #2906

[2019-05-11 23:01] andrewleader opened #2913 "[UWP] [1.2 API review] Rename TextBlock's fontStyle to fontType"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP fix of #2906

[2019-05-12 17:20] nta opened #2914 "[Question] Plans for Windows Notifications?"
Hi,

I noticed that for a while now, support for rendering Adaptive Cards in Windows Notifications has been [shown as planned](https://docs.microsoft.com/en-us/adaptive-cards/resources/partners), and in fact support even was [advertised](https://blogs.windows.com/buildingapps/2018/05/29/windows-10-sdk-preview-build-17677-available-now/) in a preview version of the Windows 10 SDK.

However, I can n

[2019-05-13 01:22] brad302 commented on #2716
Thanks @andrewleader, I'll look into implementing your suggested workaround.

[2019-05-13 16:39] RebeccaAnne opened #2915 "[UWP][TestApp] Test app overrides visibility leading to bad results"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

The test app manually sets things to visible that aren't, resulting in bad results in the test app. This functionality was added to allow the test app to validate hidden show cards, but should be re-evaluated in light of the new visibility features.

[2019-05-13 23:19] shalinijoshi19 commented on #2851
@andrewleader / @matthidinger thoughts on this one? This looks to be a spec issue where it's not clear what the right showcard behavior should be

[2019-05-14 15:59] matthidinger commented on #2766
@RebeccaAnne raised a point yesterday that this is really an artifact of us not implementing Markdown support in the library, which is tracked by #910

Considering we can use the same code from the ReactNative renderer it seems like the best course of action would be to simply implement markdown natively and neither a warning or log would be necessary.

@ryanmccormickspok since Markdown is a stand

[2019-05-14 16:32] ryanmccormickspok commented on #2766
@matthidinger as far as I understand, markdown was included and supported in Adaptive cards in the past. The task of providing markdown support has been handed over to the developer and if a developer does not provide a library, a big ugly console warn shows up everywhere - browser console, CI logs and unit tests. When trying to follow a TDD pattern of development, I get to see tests passing with

[2019-05-14 16:54] matthidinger commented on #2766
@ryanmccormickspok our goal is to provide markdown support natively in every library without requiring the developer to do anything. The warning was added as a stop-gap until we are able to do that. Once markdown is natively supported per #910, the warning will go away and everything will behave as expected.

In the meantime, until #910 is closed, my personal recommendation would be to implement t

[2019-05-14 17:03] almedina-ms commented on #2898
do we have a test case for a card where this fails or to test against?

[2019-05-14 17:06] dclaux commented on #2766
@matthidinger that has actually never been the goal for the JS library. The main reason has always been that apps may already be loading their own Markdown processing library (Markdown-it or another) and do not want to pay the price of a larger Adaptive library with duplicate Markdown handling logic. The overall size of the JS library is very important to many, especially on mobile devices (yes, s

[2019-05-14 17:45] #2839 closed

[2019-05-14 17:56] andrewleader commented on #2903
HTML already supports long data URIs

[2019-05-14 17:56] #2903 closed

[2019-05-14 17:56] andrewleader commented on #2899
Designer already supports long data URIs

[2019-05-14 17:56] #2899 closed

[2019-05-14 17:58] andrewleader commented on #2898
I believe the Shared model already supports long data URIs (it just parses as a string, it doesn't validate it's a URI or anything as far as I remember?) I think it's the native platforms that then convert it into the native platform URI objects (like UWP converts it into a Uri object) that then fails.

[2019-05-14 20:02] bw-kforce-ms commented on #908
The documentation states you follow RFC3339 strictly, yet the examples in section 5.8, only 1 of 5 render in the Visualizer/Designer.  You mentioned fractional seconds are not allowed, yet this is not reflected in this documentation. I had to follow the closed issue chain to find out they were not allowed.  Please update the documentation.

[2019-05-14 20:36] andrewleader commented on #908
Thanks bw-kforce-ms for the feedback! Looks like we're indeed missing some functionality of RFC3339, like **fractional seconds** and **leap second support**. We'll either update the documentation to say this, or update the renderers to fully support RFC3339.

[2019-05-14 21:18] shalinijoshi19 opened #2922 "[UWP] Renderer solution no longer compiles in VS"
# Platform

* UWP

# Version of SDK

master

# Issue

Compiling the .sln gives errors in teh mdmerge custom build step in teh UWP renderer:

<snip>

2>   Creating library C:\AdaptiveCards\source\uwp\x64\Debug\AdaptiveCardRenderer\AdaptiveCards.Rendering.Uwp.lib and object C:\AdaptiveCards\source\uwp\x64\Debug\AdaptiveCardRenderer\AdaptiveCards.Rendering.Uwp.exp
2>AdaptiveCardRenderer.vcxproj -> C:

[2019-05-14 21:20] shalinijoshi19 commented on #2922
@paulcam206, could you help get to the bottom of this since it's blocking alberto's PR's as well? Thanks!

[2019-05-14 21:20] shalinijoshi19 commented on #2604
Blocked on merging due to issue #2922

[2019-05-14 21:20] paulcam206 commented on #2922
Sure thing! :)

[2019-05-14 21:23] andrewleader commented on #2851
Agreed, spec is ambiguous about this.

I think Becky's implementation is correct - each ActionSet should function independently. So using a ShowCard on one ActionSet shouldn't affect the ShowCards on a different action set.

@matthidinger @dclaux what's your opinion?

[2019-05-14 21:25] shalinijoshi19 commented on #2777
@almedina-ms can you please pick this up for load balancing if @nesalang hasnt started work on it. thanks!

[2019-05-14 21:27] dclaux commented on #2851
In JS it's always been like Becky describes, e.g. there can be one expanded card per ActionSet (including the actions on the card itself) all expanded at the same time. The is the desired model.

[2019-05-14 21:34] shalinijoshi19 commented on #2888
@almedina-ms / @paulcam206 does this need to be fixed for 1.2 ? It looks like a tooling bug yes?

[2019-05-14 21:37] shalinijoshi19 commented on #2888
@almedina-ms is already gearing this up for 1.2 PR. PUlling it back in.

[2019-05-14 22:34] shalinijoshi19 commented on #2914
Hi @nta : At this point we do not have an ETA on when or how this integration will be released.  Thanks for your interest though. How are you planning on using Adaptive Cards in notifications again?  @andrewleader    / @matthidinger  FYI.

[2019-05-14 22:39] shalinijoshi19 commented on #2896
Good to resolve the spec issue part of this in 1.2; @andrewleader FYI. Seems reasonable to me to throw

[2019-05-14 22:44] paulcam206 commented on #2896
We need to make sure we consider the fallback case as well. It's possible that an author might have one nonexistent `id` and one existent `id` specified. I don't think we should fail the parse, but a warning is probably the right call...

[2019-05-15 09:06] tposzytek opened #2924 "Error when using AdaptiveCard from Flow in Teams"
# Platform

* Teams,
* Flow

# Author or host

AdaptiveCard is being returned as a parameter by the "Create Approval (V2)" action in Flow. I am then trying to post it using "Post your own adaptive card as the Flow bot to channel" and that works. However, when trying to respon

# Version of SDK

No idea

# Issue

AdaptiveCard is being returned as a parameter by the "Create Approval (V2)" action in

[2019-05-15 15:59] andrewleader opened #2925 "Lacking full RFC3339 support for dates"
Someone pointed out that we aren’t fully supporting RFC3339. Specifically, we don’t support fractional seconds and leap seconds (and possibly more, those were the examples they pointed out)

Fractional seconds
1985-04-12T23:20:50.52Z

Leap seconds
1990-12-31T23:59:60Z

   This represents the leap second inserted at the end of 1990.

[2019-05-15 16:00] andrewleader opened #2926 "Update documentation to clarify what subset of RFC3339 we support for dates"
Someone pointed out that we aren’t fully supporting RFC3339. Specifically, we don’t support fractional seconds and leap seconds (and possibly more, those were the examples they pointed out)

Fractional seconds
1985-04-12T23:20:50.52Z

Leap seconds
1990-12-31T23:59:60Z

   This represents the leap second inserted at the end of 1990.

We should document this, and document what we actually support.

[2019-05-15 18:02] #2604 closed

[2019-05-15 18:02] #2890 closed

[2019-05-15 20:27] #2895 closed

[2019-05-15 21:18] andrewleader commented on #1078
Spec changes from meeting today with Andrew, Becky, David, and Mike

**DECISION:** Rename to `fontType`, since it refers to picking a collection of a set of values.

**Card authors send...**

[code]

**Hosts in HostConfig specify**

[code]

For record purposes, other options we considered...

## Call it `fontFamily`

**Card authors send...**

[code]

**Hosts in HostConfig specify**

[code]

### Co

[2019-05-15 21:20] dclaux commented on #1078
Implemented here: https://github.com/microsoft/AdaptiveCards/pull/2905/files/7c2a0b4a1c44567ff47a2e286ed03b330f2b0081..599282f671a5727aa2b530e82da4f3c910bc27ee

[2019-05-15 22:18] #2703 closed

[2019-05-15 22:18] #2709 closed

[2019-05-16 08:21] PhoenixHe-TSP opened #2929 "[TS] Provide card render context on custom CardElement"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Author

# Version of SDK

1.2.0-beta1

# Issue

I want to extend adaptive card with custom control, and I want to collect render context on rendering card element. However currently the AdaptiveCard.elementTypeRegistry is a singleton and not suitable for holding rendering cont

[2019-05-16 10:37] RehanSaeed opened #2930 "Add ARM64 Support for UWP"
The adaptive cards NuGet package contains ARM binaries but not ARM64 for UWP.

[2019-05-16 15:45] dclaux commented on #2929
@NullMDR if I understand you correctly, you want:
1. A non-global registry, so you can parse different cards with different registered elements/actions
2. A way to pass custom data to element instances at parse time

Is that correct?
1. I plan to address this, you are not the only one who's been asking for it and I need it personally for the designer. It will likely be a property on HostConfig tho

[2019-05-16 15:51] dclaux commented on #2912
PR here: https://github.com/microsoft/AdaptiveCards/pull/2905

[2019-05-16 17:49] shalinijoshi19 commented on #2861
@nesalang assigning to you for fixing. Thanks

[2019-05-16 22:39] almedina-ms commented on #2530
@RebeccaAnne @paulcam206 @shalinijoshi19 @andrewleader do we have any plans or ideas on how are we going to render the select actions for HTML?? are they going to be links or how are we planning on callling the behavior for select actions here? I don't think we have actual behaviors for any actions that are not ShowCard and ToggleVisibility actions (added for v1.2)

[2019-05-16 22:53] shalinijoshi19 commented on #2697
Reassigning to @almedina-ms for load balancing. Thanks!

[2019-05-16 23:29] shalinijoshi19 commented on #2924
Thanks for reporting @tposzytek ; We are following up offline wiht the flow partners and will circle back once we know more. PS: thanks for including hte Fiddler snapshot with the response headers + body!

[2019-05-16 23:36] shalinijoshi19 commented on #2894
@nesalang is this a 1.2 feature and is this a release blocker at this point?

[2019-05-16 23:39] shalinijoshi19 commented on #2893
This doesnt look like a shipblocker to me; We can always fix it as a patch release - @paulcam206 / @RebeccaAnne / @almedina-ms let me know if you guys think it should be a release blocker.

[2019-05-17 00:55] andrewleader commented on #2530
I believe the inline text SelectActions should just be links `<a>Click me to submit</a>`, that's what you did in JS, right @dclaux?

[2019-05-17 01:17] NullMDR commented on #2929
@dclaux

This one is just enough for me, like this:

js`
let context = 42;
card.elementTypeRegistry.registerType("SomeType", () => new CustomElement(context));
`

IMO it's not necessary, but if it would enable more scenarios it would be great to keep it in backlog.

[2019-05-17 07:34] tposzytek commented on #2924
If you need any information from me, just ask ;) I will gladly help!

[2019-05-17 17:21] almedina-ms opened #2936 "[Android] Light weight renders as italic"
# Platform

* Android

# Version of SDK

master

# Issue

In Android since v 1.0, lighter weight renders as italics (as shown in the image below)

![image](https://user-images.githubusercontent.com/35784165/57944956-6616c180-788d-11e9-81d7-233f9755a90b.png)

[2019-05-17 18:35] #2888 closed

[2019-05-17 18:40] #2706 closed

[2019-05-17 20:15] abiemann opened #2937 "is it possible to specify the default dimensions of an adaptive card within the hostconfig.json?"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

host

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

# is it possible to specify the default dimensions of an adaptive card within the hostconfig.json ?

Explain your issue. If you just

[2019-05-17 20:48] RebeccaAnne opened #2938 "[UWP] Choice set placeholder text is not shown"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

Compact choice sets are not displaying the placeholder text on UWP.

Json:
[code]

Result (UWP):
![image](https://user-images.githubusercontent.com/9091833/57955266-42ae3f80-78aa-11e9-9ef6-596973b1bcbb.png)

Expected result (Javascript):
![image](https://user-images.githubusercontent.com/9091

[2019-05-17 20:48] jwoo-msft opened #2939 "[iOS][BugBash] Vertical Stretch Doesn't Work with Toggle Visibility"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Issue
When toggle visibility is toggled, vertical stretch still active.

https://github.com/microsoft/AdaptiveCards/blob/master/samples/Tests/ColumnSet.AllElements.Stretch.ToggleVisibility.json
**JSON 1**

![Screen Shot 2019-05-17 at 1 53 11 PM](https://user-images.githubusercontent.com/4112696/5795

[2019-05-17 20:50] RebeccaAnne commented on #2894
Wrapping on choice sets is a 1.2 feature.

[2019-05-17 20:56] RebeccaAnne opened #2940 "[JS] Compact choice sets don't respect wrap"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Issue

Compact choice sets with wrap set aren't respected by the javascript renderer:

Card json:
[code]

Result (Designer):
![image](https://user-images.githubusercontent.com/9091833/57955728-78075d00-78ab-11e9-991c-16562e24ee7f.png)

Expected result (UWP):
![image](https://user-images.githu

[2019-05-17 21:17] RebeccaAnne opened #2941 "[.NET WPF][UWP][JS] Strange bleed behavior"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF
* JavaScript
* UWP

# Issue

In the below json, the columns with bleed on the left are rendered at the top, leaving a gap underneath. Repros on at least UWP, .NET WPF, and JS:

![image](https://user-images.githubusercontent.com/9091833/57956567-48a61f80-78ae-11e9-83ad-a3b7df0c96e7.png)

[code]

[2019-05-17 21:21] jwoo-msft opened #2942 "[iOS][BugBash] Vertical Stretch Doesn't Work Properly"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Issue

https://github.com/microsoft/AdaptiveCards/blob/master/samples/Tests/ColumnSet.AllElements.Stretch.ToggleVisibility.json
**JSON**

![Screenshot_1558127825](https://user-images.githubusercontent.com/4112696/57956745-ec8fcb00-78ae-11e9-9b98-417280c8aed0.png)
**Figure 1**

![Simulator Screen Shot

[2019-05-17 21:34] RebeccaAnne opened #2943 "[.NET WPF] Bleeding container doesn't bleed down"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Version of SDK

user/almedina-ms/FixNETBleedAgain branch

# Issue

In the following json, the container with the text "Bleeding sub-container with explicit style" should bleed down and doesn't.

.NET WPF (incorrect):
![image](https://user-images.githubusercontent.com/9091833/57957321-beab8600-7

[2019-05-17 21:55] jwoo-msft opened #2944 "[Android][BugBash] Bleed Issue"
# Platform

* Android

# Issue
https://github.com/microsoft/AdaptiveCards/blob/master/samples/Tests/Bleed.Comprehensive.json
**JSON 1**

![Screenshot_1558129688](https://user-images.githubusercontent.com/4112696/57958093-75106a80-78b3-11e9-888a-0c002c84db43.png)
** Figure 1**

![cortana-skills Tests Bleed Comprehensive](https://user-images.githubusercontent.com/4112696/57958118-88233a80-78b3-11e9-

[2019-05-17 21:57] RebeccaAnne opened #2945 "[Designer] Background image persists after new card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Issue

Repo:

1. Paste this card into the designer:
[code]
2. Select "New card"

Expected: Blank card
Actual: Blank card still has remnants of the background image from the previous card:
![image](https://user-images.githubusercontent.com/9091833/57958233-fec03800-78b3-11e9-9488-d490c8e08ec1.

[2019-05-17 22:07] RebeccaAnne opened #2946 "Data URI behavior for invalid images"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* JavaScript
* UWP

# Issue

Behavior is inconsistent across platforms when encountering an invalid data URI. When opening the [Image.DataUri.InvalidChars.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/Tests/Image.DataUri.InvalidChars.json) card, some renderers sh

[2019-05-17 22:25] nesalang opened #2947 "[Android][BugBash] Background Image FillMode Issue"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
# Issue

https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/AdaptiveCard.BackgroundImage.FillMode.json
**JSON 1**

https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/AdaptiveCard.BackgroundImage.FillMode.Repeat.json
**JSON 2**

![Screenshot_155813

[2019-05-18 21:02] simonrivas opened #2948 ""Input value substitution" does not work anymore on Action.OpenUrl in Teams"
# Platform

I am using :
* Microsoft Teams v1.2.00.8864 (64 bits) on Windows 10
* Microsoft Teams v1.0.73 on iOS 12.2

# Author or host

I use the Logic Apps connector for Teams to send a custom adaptive card to a channel as the Flow bot connector.

# Issue

The input value substitution does not work with an Action.OpenUrl action :
* on Windows, clicking the action button has simply no effect
* on

[2019-05-18 23:35] dclaux commented on #2948
@simonrivas input value substitution is a concept that only works with Action.Http which is only available for Actionable Messages in Outlook. I don't think it's ever worked in an Action.OpenUrl, regardless of the client. I am very surprised you say it has worked before.

[2019-05-19 11:04] shalinijoshi19 commented on #2937
@paulcam206 ?

[2019-05-19 11:19] shalinijoshi19 commented on #2785
@andrewleader FYI..

[2019-05-19 11:23] shalinijoshi19 commented on #2884
@dclaux is this something we need to fix for 1.2?

[2019-05-19 11:32] #2187 closed

[2019-05-19 12:19] #2795 closed

[2019-05-19 12:20] #2798 closed

[2019-05-19 12:21] #2799 closed

[2019-05-19 12:24] shalinijoshi19 commented on #2548
@paulcam206, how are we looking on this one?

[2019-05-19 12:26] #2801 closed

[2019-05-19 12:26] simonrivas commented on #2948
Well, that is indeed consistent with what I had read in the documentation, but out of pure curiosity I tried it maybe 2 months ago with Action.OpenUrl and it worked fine. I have a history of hundreds of cards so I am a 100% sure of that.

So, where can I go from here? Is there some plan of supporting this feature (again 😄) in the near future?
If not, how can I tacle my need to allow users to input

[2019-05-19 12:30] shalinijoshi19 commented on #2909
Blocked on merging PR microsoft/AdaptiveCards#2933 due to iOS breaks. All the rest of the changes would need to come in together -- @RebeccaAnne can you drive getting these merged in to master? tx

[2019-05-19 12:31] shalinijoshi19 commented on #2911
@nesalang can you prioritize working on this next to unblock the corresponding .NET  PR from going in? tx

[2019-05-19 12:37] shalinijoshi19 commented on #2907
@RebeccaAnne you mentioned you are working on this? OK to move this to InProgress?

[2019-05-19 12:39] shalinijoshi19 commented on #2913
@RebeccaAnne is this something you are working on already (ie OK to be moved to InProgress?)

[2019-05-19 12:52] shalinijoshi19 commented on #2908
Do we need any fixes for the designer around the fontstyle renames?

[2019-05-19 13:02] shalinijoshi19 commented on #2779
Closing as dup of #2407

[2019-05-19 13:02] #2779 closed

[2019-05-19 13:05] shalinijoshi19 commented on #2788
@andrewleader assigning to you

[2019-05-19 13:10] shalinijoshi19 commented on #2841
@RebeccaAnne FYI - I've moved this out to our backlog for tackling post-1.2 RTM. Let me know if this is already fixed as a result of recent fixes in stretch + background images (_if so go ahead close it out_) or if you think this should be a release blocker

[2019-05-19 13:12] shalinijoshi19 commented on #2842
@almedina-ms FYI i've moved this out to our backlog outside of 1.2.  tx

[2019-05-19 13:13] shalinijoshi19 commented on #2842
@paulcam206 out of curiosity, where did we land with this discussion again and \r \n handling?

[2019-05-19 13:19] shalinijoshi19 commented on #2846
@nesalang, can you update the bug description + title to actually indicate what you observe and what is expected behavior? RIght now it's unclear what the issue is.. thanks!

[2019-05-19 13:25] shalinijoshi19 commented on #2848
@RebeccaAnne FYI moving this out to backlog for post 1.2 fixing.

[2019-05-19 13:26] shalinijoshi19 commented on #2849
@andrewleader FYI.

[2019-05-19 13:27] #2850 closed

[2019-05-19 13:30] shalinijoshi19 commented on #2851
@andrewleader can we update the spec at this point given we've come to a conclusion around desired behavior? @RebeccaAnne what platform needs fixing here still? iOS? If so go ahead reassign though this will not make the ship blocker bar at this point.

[2019-05-19 13:38] shalinijoshi19 commented on #2889
FYI @almedina-ms / @RebeccaAnne moving this out of 1.2 at this point.

[2019-05-19 13:42] shalinijoshi19 commented on #2891
@RebeccaAnne, good catch. FYI I've approved for fix but moved it out of 1.2 for post release fixing

[2019-05-19 13:43] shalinijoshi19 commented on #2892
@paulcam206 FYI i've gone ahead and approved for fix though moved it out of 1.2 at this point. Thanks

[2019-05-19 13:45] shalinijoshi19 commented on #2894
thanks! @RebeccaAnne / @nesalang FYI I've approved this for fixing but moved it out of 1.2 at this point.

[2019-05-19 13:48] shalinijoshi19 commented on #2896
FYI @paulcam206 and @andrewleader I've moved this out of 1.2 at this point.

[2019-05-19 13:51] shalinijoshi19 commented on #2938
@RebeccaAnne / @nesalang FYI moved this out 1.2 at this point but approving this for fix for post 1.2 tackling

[2019-05-19 13:52] shalinijoshi19 commented on #2939
@nesalang FYI that i've moved this out from the 1.2 release into backlog for post 1.2 fixing. Thanks!

[2019-05-19 13:54] shalinijoshi19 commented on #2940
@dclaux / @RebeccaAnne  FYI - not something I'd block 1.2 RTM for so moving this to Backlog though approving it for fixing.

[2019-05-19 13:55] shalinijoshi19 commented on #2942
@RebeccaAnne / @nesalang  FYI - moving this out of 1.2 RTM for post-release fixing.

[2019-05-19 13:57] shalinijoshi19 commented on #2943
@RebeccaAnne / @almedina-ms moving this out of 1.2 for post-release fixing. tx

[2019-05-19 13:59] shalinijoshi19 commented on #2944
@nesalang thanks for finding! Moving this out of 1.2 for post-release fixing.

[2019-05-19 14:07] shalinijoshi19 commented on #2945
@RebeccaAnne nice catch. @dclaux assigning to you for fixing though wont hold up 1.2 for this. thanks!

[2019-05-19 14:09] shalinijoshi19 commented on #2946
@RebeccaAnne good catch. I've approved for fixing. Looks like this would need to be addressed on all platforms? Feel free to use this as a parent/Epic and file separate bugs for tracking per-platform fixes. At this point though moved out of 1.2

[2019-05-19 14:10] shalinijoshi19 commented on #2947
@nesalang good find! Moving this out of 1.2 at this point though for fixing post-RTM

[2019-05-19 14:12] shalinijoshi19 commented on #2809
At this point moving it out of 1.2 for fixing post RTM. @RebeccaAnne FYI

[2019-05-19 14:17] shalinijoshi19 commented on #2697
Moving this out of 1.2 at this point for fixing post RTM.  @RebeccaAnne / @paulcam206 / @almedina-ms FYI.

[2019-05-19 14:20] shalinijoshi19 commented on #2530
thanks! @almedina-ms / @RebeccaAnne  FYI moving this out of 1.2 at this point for post-RTM fixing.

[2019-05-19 15:02] #1457 closed

[2019-05-20 03:22] moreJs opened #2949 "Incorrect method name serText in TextBlock (should be setText)"
# Platform
* JavaScript

# host

# Version of SDK

1.2.0-beta1

# Issue

https://github.com/microsoft/AdaptiveCards/blob/master/source/nodejs/adaptivecards/src/card-elements.ts#L1147

[code]

the function name 'serText' is right ? it seems that  'setText'.

[2019-05-20 12:39] amity5020 commented on #196
this version of adaptive card( playing video) is supported in which which channel? can i use it in webchat?

[2019-05-20 13:00] Hoosayin opened #2950 "Adaptive Cards Rendering Issue with DirectLine"
I'm using Direct-Line to host my bot on my Web App. But the Adaptive Cards are not rendering correctly as they supposed to render. The output is fine on the Bot Framework Emulator, but not in the Direct-Line.

Following is the output in Bot Framework Emulator that i was expecting in Direct-Line too.
![image](https://user-images.githubusercontent.com/47661256/58023340-01779300-7b29-11e9-8a12-e7f344

[2019-05-20 15:07] shalinijoshi19 commented on #2882
@andrewleader do we typically track these documentation issues as release todo's? In other words, I should be tracking these bugs as part of the overall 1.2 triage board yes?

[2019-05-20 17:21] andrewleader commented on #2882
I guess it depends, if it's just general doc improvements, then probably not part of the release? But if it's documentation changes as a result of 1.2, then probably should be tracked. I think this one makes sense as part of 1.2 since our renderer doc is out-of-date for 1.2!

[2019-05-20 17:23] andrewleader commented on #196
Hey @amity5020, please ask that question on the [Bot Framework WebChat issues](https://github.com/Microsoft/BotFramework-WebChat/issues). I believe the latest version of WebChat is running Adaptive 1.1, but they would know!

[2019-05-20 17:32] andrewleader commented on #2851
👍 updated [the spec](https://github.com/microsoft/AdaptiveCards/issues/877)! Thanks!

[2019-05-20 17:35] andrewleader commented on #2849
@shalinijoshi19 @RebeccaAnne was this pushed out because we confirmed this was existing behavior in 1.1, and not a regression?

[2019-05-20 17:36] andrewleader commented on #2780
@shalinijoshi19 any reason you assigned this to me? I said earlier here that yes, unknown styles should throw warnings.

[2019-05-20 17:37] shalinijoshi19 commented on #2849
@Andrewleader I pushed this out because it didnt appear to be a ship blocker at this point in time.  Do you guys think we should block 1.2 RTM for this or can this be handled separately as a patch or a 1.3 release?

[2019-05-20 17:38] shalinijoshi19 commented on #2849
Also because there was still ambiguity around the spec for it that has not yet been resolved and I didnt see any activity on it since it had been filed.

[2019-05-20 17:42] andrewleader commented on #2849
A patch can be fine, but we should be clear on whether this was a regression or not. If it was a regression, we definitely need to patch it. If .NET always behaved like this, we could wait till 1.3.

JavaScript and UWP behavior is correct, setting the "size" property to one of the sizes (small/medium/large) should force the image to that size, even if it means upscaling the image.

[2019-05-20 17:45] shalinijoshi19 commented on #2849
Sounds fair @andrewleader ; Can you help update the spec with the expected behavior and I will take care of assigning this for more investigation next week after we are freed up from 1.2 release formalities.

[2019-05-20 17:46] andrewleader commented on #2849
There is no spec since this was an original 1.0 feature, but sounds good!

[2019-05-20 17:49] shalinijoshi19 commented on #2849
@almedina-ms assigning to you for post 1.2 investigation and fixing. We need to figure out if this is a regression or not. If it is, then it makes the case for a post 1.2 patch release else we can include it for 1.3 directly.

[2019-05-20 17:49] andrewleader commented on #2845
Correct, .NET WPF is the correct rendering (that's also what JavaScript does). [The spec](https://github.com/microsoft/AdaptiveCards/issues/477) says that for the default background image fill mode (cover), `The background image covers the entire width of the container. Its aspect ratio is preserved. Content may be clipped if the aspect ratio of the image doesn't match the aspect ratio of the cont

[2019-05-20 18:00] andrewleader commented on #2843
It looks like iOS is definitely wrong (it shouldn't be increasing its size (upscaling) unless its size was actually set to something bigger. It should be displaying at its original image pixel size.

[2019-05-20 19:26] andrewleader commented on #2788
Good catch. Probably an existing inconsistency, added the label and we can look at all inconsistencies at some point

[2019-05-20 19:41] andrewleader commented on #2785
So, important clarification... it seems JS isn't using a "default minHeight", it's simply applying the padding.

![image](https://user-images.githubusercontent.com/13246069/58047039-e9d5e580-7afb-11e9-979a-6fc66d5f8f95.png)

[code]

Both assigning a different style or adding a background image introduces padding to the container. That padding results in the "default minHeight", but the key distinc

[2019-05-20 19:51] paulcam206 opened #2951 "[TS] Fallback id collision detection doesn't align with shared model implementation"
The TypeScript renderer performs `id` collision detection *after* fallback has been performed, meaning that some possible collisions may not be detected at time of authoring. To implement would require a breaking change:

_Originally posted by @dclaux in https://github.com/_render_node/MDIzOlB1bGxSZXF1ZXN0UmV2aWV3VGhyZWFkMTczNDYzMTkwOnYy/pull_request_review_threads/discussion_

[2019-05-20 19:52] paulcam206 commented on #2951
@dclaux - can you characterize the breaking change that would be required here?

(@shalinijoshi19 for visibility)

[2019-05-20 20:36] #2861 closed

[2019-05-20 21:18] simonrivas commented on #2948
UPDATE : I have re-read the documentation and discovered I could use Actionnable Message in Teams as well (thanks for the hint) (more information here for those interested : [Post an actionable message card to an Office 365 group](https://docs.microsoft.com/fr-fr/outlook/actionable-messages/send-via-connectors) ).
I was under the impression it was deprecated but actually it isn't for Teams, as sta

[2019-05-20 21:18] #2948 closed

[2019-05-20 23:30] #2600 closed

[2019-05-20 23:31] #2794 closed

[2019-05-21 15:37] dclaux commented on #2951
I would likely have to change the signature of the `parse()` method on CardElement and Action, which would break existing code. There might be a way to do it without the breaking change, but I need to think more about it.

[2019-05-21 16:03] guru98 commented on #2950
It depends from the hostconfig file that your application use.
Look here: https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config
Properties like fontsize, spaces could help.

[2019-05-21 19:00] andrewleader opened #2958 "Schema says that Version property isn't required"
The schema says that version isn't required, yet as far as I'm aware it's certainly required

![image](https://user-images.githubusercontent.com/13246069/58123109-f3c11c80-7bbf-11e9-8a84-8e2e7c1244fd.png)

Paul, maybe you can fix this as part of the 1.2 updates?

[2019-05-21 20:00] andrewleader commented on #2958
Ah maybe it's an artifact of version not being required within Action.ShowCard? And that's not able to be represented in the schema file? The description could at least be updated to say at the beginning, `Required for top-level cards` or something, to make it more clear.

[2019-05-21 20:37] #2947 closed

[2019-05-21 20:55] #2697 closed

[2019-05-21 22:36] #2772 closed

[2019-05-22 00:08] #2777 closed

[2019-05-22 03:54] shalinijoshi19 opened #2961 "Test issue"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-05-22 04:08] #2908 closed

[2019-05-22 04:35] cliffkoh opened #2962 "Test issue"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-05-22 04:36] #2962 closed

[2019-05-22 15:33] #2961 closed

[2019-05-22 17:44] RebeccaAnne opened #2963 "[Shared][UWP] Fully remove strike-through and italics from textblock for shared model and UWP"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Shared Model
* UWP

# Issue

Pull request #2935 removed the italics and strike through functionality from the shared model, but did not update the UWP API surface or the samples. We need to:
- Remove italics and strikethrough from TextElementProperties in the shared model
- Remove italics and strikethrough

[2019-05-22 19:50] #2548 closed

[2019-05-22 22:50] #2910 closed

[2019-05-22 22:50] #2911 closed

[2019-05-22 22:50] #2913 closed

[2019-05-22 22:50] #2907 closed

[2019-05-22 22:50] #2909 closed

[2019-05-23 16:46] dclaux commented on #2940
Won't fix. The wrap behavior isn't supported by the standard HTML select input, and I would have to include a custom combo box implementation which would increase the size of the library for very little value add.

[2019-05-23 16:46] #2940 closed

[2019-05-23 16:50] dclaux commented on #2949
Thanks for reporting, fix is here: https://github.com/microsoft/AdaptiveCards/pull/2966

[2019-05-23 17:13] #2922 closed

[2019-05-23 17:17] dclaux commented on #2885
Won't fix. The visualizer will not be updated any more going forward, and will eventually be retired as its functionality is moved to the designer.

[2019-05-23 17:17] #2885 closed

[2019-05-23 17:17] dclaux commented on #2884
Won't fix. The visualizer will not be updated any more going forward, and will eventually be retired as its functionality is moved to the designer.

[2019-05-23 17:17] #2884 closed

[2019-05-23 21:53] andrewleader commented on #861
**DECISION**: For the action “sentiment” property, consensus was we should rename the property to “style”. Enum values remain the same (but the enum itself should be renamed to ActionStyle), and the values in it are different from ContainerStyle

[code]

[2019-05-23 22:32] paulcam206 opened #2968 "Sentiment should be renamed to style"
Per email thread, the action `sentiment` property should be renamed to `style`.

[2019-05-23 22:36] #2705 closed

[2019-05-24 00:09] andrewleader opened #2969 "RTL support doesn't work in UWP"
HP claimed that in the UWP renderer, when running on a full RTL machine (no other languages installed) and displaying a card with RTL content, it doesn't correctly invert the content, they had to do some special work to fix that.

We should test our renderer in RTL languages and check if we can repro this issue.

[2019-05-24 04:14] shalinijoshi19 commented on #2968
@paulcam206 / @andrewleader why is this a specbug? I understand this needs to be changed in code yes?  Also do we want to create platform-specific workitems? @RebeccaAnne + @nesalang FYI this rename might be coming to you guys respectively

[2019-05-24 15:58] andrewleader commented on #2968
Maybe Paul assigned the SpecBug label thinking that's how we track bugs that are a result of spec bugs? Idk 😵 We have lots of labels 😛

Yes, this needs to be changed in code.

Platform-specific work items sound good to me if that's what you'd like! Up to the dev team :)

[2019-05-24 16:23] #2949 closed

[2019-05-24 16:24] #2945 closed

[2019-05-24 16:24] #2912 closed

[2019-05-24 16:28] dclaux commented on #2929
Not quite sure how the above can be useful. As the custom element is instantiated via the registry when a payload is being parsed, the same context will be used for each and every CustomElement instance. At that point a global context variable would achieve the same result.

Maybe I'm missing your point, but a concrete use case with pseudo code sample would be helpful.

[2019-05-24 16:47] dclaux commented on #2937
@abiemann no, that isn't supported.

[2019-05-24 17:06] paulcam206 opened #2971 "[Android]Need ongoing daily builds to an internal Maven feed"
Per mail thread.

[2019-05-24 17:12] paulcam206 commented on #2968
I added `SpecBug` because at the time I filed, there was still the outstanding question of whether we allow arbitrary styles. That seems resolved now on the email thread, but it needs to be documented in the spec (#861).

As it stands, the spec still calls for `style` to be an enum value rather than a string.

[2019-05-24 17:24] RebeccaAnne commented on #2906
All sub-issues have been resolved

[2019-05-24 17:24] #2906 closed

[2019-05-24 17:27] RebeccaAnne opened #2972 "[.NET] Sentiment should be renamed to style"
.NET fix of #2968

[2019-05-24 17:28] RebeccaAnne opened #2973 "[Android] Sentiment should be renamed to style"
Android fix of #2968

[2019-05-24 17:29] RebeccaAnne opened #2974 "[iOS] Sentiment should be renamed to style"
iOS fix of #2968

[2019-05-24 17:29] RebeccaAnne opened #2975 "[TS] Sentiment should be renamed to style"
TS fix of #2968

[2019-05-24 17:30] RebeccaAnne opened #2976 "[UWP] Sentiment should be renamed to style"
UWP fix of #2968

[2019-05-24 17:30] RebeccaAnne opened #2977 "[Shared] Sentiment should be renamed to style"
Shared model fix of #2968

[2019-05-24 17:31] RebeccaAnne opened #2978 "[Designer] Sentiment should be renamed to style"
Designer fix of #2968

[2019-05-24 17:48] #2963 closed

[2019-05-24 18:08] shalinijoshi19 commented on #2975
@dclaux would you be able to help out with this one today at all? Thanks a ton!

[2019-05-24 18:10] shalinijoshi19 commented on #2978
@dclaux can you help out with this one please? Thanks!

[2019-05-24 18:11] shalinijoshi19 commented on #2968
Awesome! Great find @paulcam206 and thanks a ton @RebeccaAnne for being on top of this including getting the children spun up and assigned! Looks like this should land in 1.2 just fine.

[2019-05-24 18:11] andrewleader commented on #2968
The spec seems to be correct, it **should** be an enum. There's simply the option for hosts to extend support and add different values (which UWP added). That's a host-specific feature. From the authoring side, it still should be an enum for ease of authoring (if they're sending to a host that has a custom value, they'll need to do something different... same as if they're sending to a host that h

[2019-05-24 18:27] paulcam206 commented on #2968
fair enough! 👍

[2019-05-24 18:30] dclaux commented on #2968
As part of https://github.com/microsoft/AdaptiveCards/pull/2981 I made the JS implementation extensible.

[2019-05-24 19:15] nesalang opened #2982 "[iOS] Default Font Has Changed"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Issue

PR #2960 changed fallback font type.

[2019-05-24 19:51] #2975 closed

[2019-05-24 19:53] paulcam206 opened #2984 "Emit warnings when unknown container styles are encountered"
Container styles are defined as strings. there are well-known styles (i.e. default, accent, emphasis, etc.), but arbitrary styles can be specified. When an unknown style is encountered (one that doesn't have an entry in the host config), a warning should be emitted.

[2019-05-24 19:56] vikramdadwal opened #2985 "[BOT Web Chat v4] The Button Control renders as full width in BOT Chat Control?"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* JavaScript

# Author or host

I am Author

If you're an author, who are you sending cards to?: To Web Chat

# Version of SDK

Latest Nuget

# Issue

Issue is already logged in Stackoverflow:

https://stackoverflow.com/questions/56298444/action-button-renders-as-full-width-of-the-card

[2019-05-24 20:12] paulcam206 commented on #2958
this will be covered as part of my documentation changes

[2019-05-24 23:23] achipa commented on #2969
Linked to https://github.com/microsoft/AdaptiveCards/issues/2144

It's also unclear if the language field has any effect on RTL rendering (which only mentions date/time - but that makes no sense as it's a 2-char language field, and the date/time formats are defined by locale).

Note that properties like horizontalAlignment operate with values like "left" and "right", which are inherently ambiguous

[2019-05-24 23:28] RebeccaAnne opened #2986 "[UWP] Improve host configs used by test app"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

Change #2964 reduced our host config burden in the test app to two host configs. This issue tracks ensuring that the host configs are representative to ensure we cover all relevant cases.

[2019-05-25 00:16] shalinijoshi19 commented on #2982
Thanks for catching @nesalang. Is this a breaking change? @andrewleader  fyi/thoughts?

[2019-05-25 19:55] tposzytek commented on #196
Hi @dclaux , @matthidinger! I have a question about Adaptive Cards 1.1 in Microsoft Teams. Recently when I tried to post a card in 1.1 version Teams did not display it, instead showing the "fallbacktext". I wanted to display media.
How to upgrade Teams to use 1.1 SDK?

[2019-05-27 05:52] andrewleader commented on #2982
Not a breaking change (our host config defaults are subject to change, hosts should provide their own host config).

As long as the new font looks good and is an improvement (or at least on par) and consistent with most iOS apps, I have no concerns!

[2019-05-27 16:42] andrewleader commented on #196
Hey @tposzytek, Teams hasn't updated to 1.1 yet as far as I'm aware. There's nothing you can do, as the Teams app itself needs to update to the newest version of Adaptive Cards. We've shared your feedback with them.

However, what you can do is **leave the `"version"` property set to `"1.0"`. It's actually a `minVersion` property, where you're specifying the minimum version you require to be rende

[2019-05-27 16:49] tposzytek commented on #196
Hi! Thanks for the answer. Unfortunately when using version 1.0 the Media card is absolutely not being displayed. So this doesn’t work for me since I wanted to use that particular feature 😊

From: Andrew Leader <notifications@github.com>
Sent: poniedziałek, 27 maja 2019 18:42
To: microsoft/AdaptiveCards <AdaptiveCards@noreply.github.com>
Cc: Tomasz Poszytek <tomasz@poszytek.eu>; Mention <mention@n

[2019-05-28 21:45] shalinijoshi19 commented on #1907
@andrewleader, heads up - this seems to be tracked by issue #1978 yes? OK if i go ahead and close this out referencing that issue?

[2019-05-28 21:50] andrewleader commented on #1907
Yep go ahead and close!

[2019-05-28 21:50] #1907 closed

[2019-05-28 22:07] #2972 closed

[2019-05-28 22:07] #2973 closed

[2019-05-28 22:07] #2974 closed

[2019-05-28 22:07] #2976 closed

[2019-05-28 22:07] #2977 closed

[2019-05-28 22:30] #2882 closed

[2019-05-28 23:36] #2982 closed

[2019-05-28 23:49] shalinijoshi19 commented on #2978
Heads up @dclaux closing this one out (seems to be a no-op?)

[2019-05-28 23:49] #2978 closed

[2019-05-28 23:49] #2968 closed

[2019-05-28 23:53] shalinijoshi19 commented on #2502
@dclaux / @andrewleader why is this one still open? Was this not tackled by #2421 ?

[2019-05-29 10:20] vishmonne commented on #1911
Hi Team,

How was the issue fixed ?

Even i am facing the same problem. My adaptive card submit action button is not working in Ms TEAM IOS app

[2019-05-29 16:37] RebeccaAnne opened #2991 "[Samples][Cleanup] Organize samples under Samples\Tests"
There are now quite a few samples under Samples\Tests, and they are not particularly well organized. This issue tracks updating them to follow naming conventions and\or sort them appropriately by version. This will help us be able to use them more easily for bug bashes or other testing.

[2019-05-29 17:11] #2930 closed

[2019-05-29 17:51] RehanSaeed commented on #2930
@paulcam206 Any chance of a release?

[2019-05-29 17:55] shalinijoshi19 commented on #2502
No tooling support for 1.2 for fallback + requires at this point in time. Not blocking the release for 1.2

[2019-05-29 18:05] paulcam206 commented on #2930
We should be releasing packages when we ship 1.2, which should be very soon! :)

[2019-05-29 18:26] achipa opened #2992 "non-latin characters breaks markdown on UWP renderer"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Author or host

Author

# Version of SDK

Latest master (~1.2.0-beta1)

# Issue

Whitespace can break (valid) markdown styling when there are non-latin characters in the string.

For example, the following elements
[code]
…when rendered in the UWP visualizer, becomes...

![image](https://user-images

[2019-05-31 09:06] shbhadra opened #2999 "Markdown links in fact sets not clickable"
# Platform
What platform is your issue or question related to? (Delete other platforms).
* Android

# Author or host
*Host

# Version of SDK
* 1.1.1

# Issue
Markdown links inside fact sets are not clickable.
consider the following card json

[code]
The text "Link" is rendered looking like a link, however it is not clickable

[2019-05-31 09:36] shbhadra opened #3000 "Markdown links with only numbers and special characters in link tag do not render"
# Platform
* Android
* iOS

# Author or host
* Host

# Version of SDK
* Android : 1.1.1
* iOS : 1.0.3

# Issue
Markdown links that have a combination of numbers and special characters only do not get rendered. Consider the following JSO

[code]

The link inside the "text" field of the TextBlock is not rendered. However if we change the link tag to remove the special character or add an alphabet, t

[2019-05-31 14:09] PhilippHeider commented on #2924
have the same issue!

[2019-05-31 15:29] shalinijoshi19 commented on #2924
Hey guys
Apologies for not responding sooner. But looks like @tposzytek/ @PhilippHeider the scenario you are attempting is unsupported at the moment. Please see the response below: David (dblyth-msft) from our Flow integration partner team:

[2019-05-31 16:04] paulcam206 opened #3001 "UWP's README.md could use some love"
Details are pretty sparse...

[2019-05-31 18:07] kds-snyder commented on #529
I would also like the text on buttons to wrap. In some cases I am asking the user which question they meant, and some questions are longer and get truncated. As danmarshall said above, at least provide a tooltip if the text is truncated.

[2019-05-31 21:20] RebeccaAnne opened #3005 "[.NET WPF] Separators appears at the bottom of spacing rather than centered"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

.NET separators appear at the bottom of the spacing rather than centered in the spacing. In a card with "ExtraLarge" spacing between the text blocks it should look like this (UWP):

![image](https://user-images.githubusercontent.com/9091833/58735337-f507fb80-83ae-11e9-9b54-6b277323c027.p

[2019-05-31 21:36] RebeccaAnne opened #3006 "[UWP] [Visualizer] Schema validation errors reported out of column sets with select actions"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

The following card shows an error in the UWP visualizer. Removing the selectAction causes the error to go away.

[code]
![image](https://user-images.githubusercontent.com/9091833/58736054-5630ce80-83b1-11e9-8b2b-d01aca813afc.png)

[2019-05-31 21:41] RebeccaAnne opened #3007 "[JS] Error on card with columnset, no columns, and a select action"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Issue

A columnSet without columns but with a selectAction causes an error on JavaScript (using the [visualizer ](https://adaptivecards-ci.azurewebsites.net/visualizer/index.html?hostApp=Bot%20Framework%20WebChat) to verify). Removing the select action or adding columns causes the card to ren

[2019-05-31 21:59] dclaux commented on #3007
Fix pending here: https://github.com/microsoft/AdaptiveCards/pull/3008

[2019-05-31 22:13] RebeccaAnne opened #3009 "[Designer] Text drawn outside of card area when using a large pixel width for columns"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Issue

When using the designer, if you set a column width to larger than the available space the text is drawn outside the card area.

![image](https://user-images.githubusercontent.com/9091833/58737456-7911b180-83b6-11e9-837d-ece999366ba8.png)

[code]

[2019-05-31 22:17] utsavlathia opened #3010 "[UWP JS] Spacing at the begining of a value in a factSet"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript
* UWP

# Issue

[code]

On UWP
![Spaces_UWP](https://user-images.githubusercontent.com/43022566/58737704-6c418d80-83b7-11e9-90a2-cb31183ecad3.PNG)

On JavaScript

![Spaces_JavaScript](https://user-images.githubusercontent.com/43022566/58737514-c1c96a80-83b6-11e9-9914-93ddfd60839f.PNG)

#Result
T

[2019-05-31 22:20] dclaux commented on #3010
In JS at least, that is because Markdown is enabled for FactSet values. Markdown collapses spaces, that's by design.

[2019-05-31 22:20] RebeccaAnne opened #3011 "Open URL behavior when url not set"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF
* JavaScript
* UWP

# Issue
The behavior of OpenURL is not consistent across renderers when the url is not set.

- Javascript: Renders the card with a warning. Clicking the button works and has url undefined.
- UWP: Fails to render the card with the error "Property is required but was found empty:

[2019-05-31 22:21] almedina-ms opened #3012 "[.NET HTML] Stretch height items are not hiding"
# Platform

* .NET HTML

# Version of SDK

master

# Issue

Items with stretch height are not hiding making this card fail

https://github.com/microsoft/AdaptiveCards/blob/master/samples/Tests/ColumnSet.AllElements.Stretch.ToggleVisibility.json

[2019-05-31 22:25] utsavlathia opened #3013 "Height Feature"
The height option that is available in the visualizer does not exist in the documentation. Also it does not look like it is functioning.

[2019-05-31 22:59] dclaux commented on #3013
Can you post a card sample that illustrates height not functioning?

[2019-05-31 23:08] choupete opened #3014 "[UWP] Long words don't wrap"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript
* UWP

# Issue

Really long words do not wrap on UWP, even when the "wrap" field is set to true. This problem is not present on JS.

[code]
Result:
![Annotation 2019-05-31 160712](https://user-images.githubusercontent.com/42462906/58739273-41a70300-83be-11e9-9c8e-cb4b2cd1db8c.png)
![Annotation 2

[2019-05-31 23:16] dclaux commented on #3009
Fix pending here: https://github.com/microsoft/AdaptiveCards/pull/3008

[2019-05-31 23:56] btam opened #3016 "[JS][Android] Newlines not working in JS, Android in textblock"
# Platform

* Android
* JavaScript

# Author or host

Author

# Version of SDK

Latest master

# Issue

Having newlines in a string results in expected behavior for the UWP renderer, but the JavaScript (Designer) renderer doesn't display the first newline.

So in **JavaScript** "First Line\nSecond Line" looks like

![image](https://user-images.githubusercontent.com/605509/58740359-e3315300-83c4-11

[2019-06-01 01:24] shalinijoshi19 commented on #2444
https://github.com/microsoft/AdaptiveCards/releases/tag/v1.2.0

[2019-06-01 01:25] #2444 closed

[2019-06-03 16:04] shalinijoshi19 commented on #1911
@nesalang can you take a look at this?

[2019-06-03 16:52] nesalang commented on #1911
@vishmonne
Can you share your json payload?

[2019-06-03 17:08] nesalang commented on #1911
@shalinijoshi19  Since the issue is raised in the context of Teams, I will check first if this is reproducible on our SDK, if not reproducible, I will hand it over to Teams.

[2019-06-03 18:39] #3007 closed

[2019-06-03 22:34] #2915 closed

[2019-06-03 22:34] #2986 closed

[2019-06-03 23:37] andrewleader opened #3021 "Not all renderers support fallback on Column"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.2.1
<td>✔️ .NET (#3208)<br/>✔️ Android (#3209)<br/>✔️ iOS (#3210)<br/>✔️ TS (#3211)<br/>✔️ UWP (#3212)</td>
<td>✔️ Shared (#3213)<br/>✔️ Designer (#3214)</td>
</tr>
</table>

In the spec (#2019), we stated that fallback should be on "all elements"... which is vague.

The following renderers **support** fa

[2019-06-04 01:19] andrewleader commented on #2293
Updating spec to reflect that we also added it to `AdaptiveCard`

[2019-06-04 15:52] matthidinger commented on #2999
@almedina-ms can you take a look at this?

[2019-06-04 16:18] almedina-ms opened #3022 "[Android] Add testing for Android"
# Platform

* Android

# Issue

There are no tests in Android, implement them

[2019-06-04 17:26] #3000 closed

[2019-06-04 22:47] jwoo-msft opened #3024 "Build Internal Feed for iOS"
- [ ] daily internal feed for iOS
Stretch goal:
- [ ]  full automation

[2019-06-04 22:55] nesalang opened #3025 "Build External Feed for iOS"
Extension of task #3024

[2019-06-05 16:13] nimercer opened #3026 "[UWP] Image render throws unhandled exception"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Author or host
Host

If you're an author, who are you sending cards to?

# Version of SDK
1.2.0-beta1

# Issue

An exception is thrown inside an async operation inside SetImageOnUIElement function in the XamlBuilder. (While rendering an adaptive image). As the call gets dispatched to another thread,

[2019-06-05 16:49] almedina-ms opened #3027 "[Android] Target items can't be added to ToggleVisibility programatically"
# Platform

* Android

# Version of SDK

master

# Issue

ToggleVisibility actions can't be added items through code, there are no addItem or other similar methods

[2019-06-05 16:55] RebeccaAnne commented on #3027
In UWP you can add targets by adding them to the AdaptiveToggleVisibility.TargetElements vector.

[2019-06-06 08:13] Jcragons commented on #1911
Same here on ios teams 1.0.75 (french locale if it matters) here the json response send back to ms bot platform (we use rest calls), this card is not showing, just blank :

[code]

and this one is showing well :

[code]

the only difference in the card in attachments is the selectAction block. And for sure it's working well on osx electron client or chrome.

[2019-06-06 17:13] nesalang commented on #1911
@Jcragons
Thanks for sharing the payload.
I tested your payload in iOS sample app included in this repo. The card rendered properly and selection action worked.

Let me check with Teams on this issue.

Thanks

[2019-06-06 18:21] dclaux opened #3028 "Add underline support to RichTextBlock"
# Problem
RichTextBlock is quite powerful, but lack the basic ability to underline text.

# Solution
Add an underline property to TextRun.

[2019-06-06 21:11] almedina-ms commented on #3027
Android has the same way to access to the target element list as UWP

[2019-06-06 21:11] #3027 closed

[2019-06-06 21:12] almedina-ms opened #3029 "[Shared] Background image has no serialize method"
# Platform

* Shared model

# Version of SDK

master

# Issue

The BackgroundImage object has no Serialize method as the other elements do

[2019-06-06 22:15] paulcam206 opened #3030 "Tooling updates needed to update site for 1.2"
New element types mean new requirements for `marked-schema`. With 1.2, we need tooling updates to generate our docs.

**TODO**

- [x] Run UWP test app
- [x] Generate case-insensitive schema
- [x] Host new schema along with schema versions
- [ ] Provide extensible schema
- [ ] Make the samples schema tester part of CI

[2019-06-06 22:17] andrewleader opened #3031 "Column.width default value is inconsistent (auto on JS vs stretch on the rest)"
# Version of SDK

1.2

# Issue

If a `Column` doesn't have `width` specified, it defaults to different things on each platform... See the rendering of the following card...

[code]

| JS | UWP, WPF, Android |
|---|---|
| ![image](https://user-images.githubusercontent.com/13246069/59070084-38121500-886e-11e9-90d5-ea9eea0af72f.png) | ![image](https://user-images.githubusercontent.com/13246069/590700

[2019-06-06 23:34] desaibijon opened #3032 "Adaptive Cards v1.2.0 throwing NullPointerException while rendering"
# Platform

Android

# Author or host

Host

# Version of SDK

io.adaptivecards:adaptivecards-android:1.2.0

# Issue

I just updated the adaptive cards version on my native app from _v1.1.0_ to _v1.2.0_. After making the necessary changes around _AdaptiveCardRenderer.render_ and _BaseCardElementRenderer.render_, when I try to run the app, I get a **NullPointerException** in the **AdaptiveCardRende

[2019-06-07 15:46] shalinijoshi19 commented on #2840
@RebeccaAnne FYI - Assigning to you for fixing.

[2019-06-07 15:48] shalinijoshi19 commented on #3031
@almedina-ms assigning to you for follow up.

[2019-06-07 16:03] shalinijoshi19 commented on #3032
@almedina-ms can you take a look real quick ? This looks to be a regression.. Thanks

[2019-06-07 16:56] nesalang opened #3037 "[iOS Sample App] Investigate & Remove references to test files in Sample App"
# Platform

* iOS

# Issue

Changes in test files in sample/ create build errors on iOS.
By adding Document Browser, remove references to files.

Explain your issue. If you just have a question, please post [on StackOverflow instead](https://stackoverflow.com/questions/tagged/adaptive-cards).

[2019-06-07 16:56] almedina-ms commented on #3032
It's not a regression, it's a new bug due to the inclusion of FeatureRegistration (and we may not be checking if the feature registration is empty). As a work around a dummy FeatureRegistration object can be created and registered so the card renders correctly; the exception is thrown when this function is called `cardElement.MeetsRequirements(featureRegistration)`

We may have to check if this do

[2019-06-07 17:59] corinagum opened #3039 "Update Web Chat's sample host config and designer css"
**I will be making a PR for this fix shortly**

# Platform
* JavaScript

# Author or host
Web Chat

# Version of SDK
1.2.0

# Issue
Related to https://github.com/microsoft/BotFramework-WebChat/issues/1964

Since Web Chat's update to v4, there have been stylistic changes to the default view of Adaptive Cards. This update is necessary to ensure that Adaptive Cards built with the Web Chat hostconfig

[2019-06-07 18:20] andrewleader commented on #3031
@shalinijoshi19 I don't think we know what the default value should be yet. We first need to pick a default (which there's no great answer to, but probably go with JS' default since most people probably test in the web designer)

We can discuss it with everyone at the beginning of the 1.3 planning meeting?

[2019-06-07 19:12] #3039 closed

[2019-06-07 19:17] shalinijoshi19 commented on #3032
Thanks -- can you tackle the rest of the platforms as well? thanks

[2019-06-07 19:20] shalinijoshi19 commented on #2407
Tracking by #3030

[2019-06-07 19:20] #2407 closed

[2019-06-07 20:18] nesalang commented on #1911
@vishmonne,

if you are referring to submit.action of actions since you mentioned that "button" is not working, then can you please bring this up to Teams? This issue is about embedded action in collection types such as column, columnest, and container.

Thanks,

[2019-06-07 20:19] nesalang commented on #1911
@levotragiang @Jcragons
Hello, I checked with Teams, and they confirmed that they are using v1.0.3 of SDK. SelectAction is supported v1.1 and above. Thank you.

[2019-06-07 21:03] andrewleader opened #3042 "Emphasis container inside emphasis container provides inconsistent results"
Issue existed since 1.0

# UWP

The text is butted up to the edge without any padding, that's definitely wrong

![image](https://user-images.githubusercontent.com/13246069/59133377-aa492f00-892c-11e9-8390-dd3129e6963a.png)

# JS

JS correctly has padding, should this be the behavior? Or should emphasis be ignored since it's already inside an emphasis container? Note that you have to change the hos

[2019-06-07 23:00] RebeccaAnne opened #3045 "[UWP][TestApp] Update the test app to better communicate what caused the card to fail"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

Today the "Failed/source changed" results category doesn't specify whether it was the image or the json round trip that failed. This issue tracks making that clearer, and possibly additional refactoring of the implementation/UI for tracking test results.

[2019-06-10 02:39] levotragiang commented on #1911
Hi @nesalang, thanks for replying.
Unfortunately, according to [Teams' document](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference?view=msteams-client-js-latest#adaptive-card), Adaptive Cards v1.1 is currently not supported by MS Teams...

Do you have any ideas when it will be supported?
I'll also try to leave a feedback on Teams site.

Thank you.

[2019-06-10 22:08] #3045 closed

[2019-06-10 22:55] shalinijoshi19 commented on #3042
I do like the padding approach visually. @matthidinger / @RebeccaAnne / @almedina-ms / @nesalang / @paulcam206 thoughts? Is taking the JS approach forward do-able on the other platforms?

[2019-06-10 22:57] shalinijoshi19 commented on #3042
@andrewleader assigning to you until we can address the spec ambiguity if that's alright.

[2019-06-10 23:11] RebeccaAnne opened #3047 "[UWP][TestApp] Reliability issues cause cards to occasionally fail"
# Platform

* UWP

# Issue

Some tests occasionally fail in the test app. This seems to be caused at least in part by a bug in the code that is supposed to wait for the images to load before taking a snapshot. Tests I currently see occasionally failing are:

v1.0\Scenarios\FoodOrder
v1.0\Scenarios\ImageGallery
v1.2\Tests\Bleed.Comprehensive
v.12\Tests\RichTextBlock.TextRun.SelectActions

[2019-06-11 03:15] andrewleader opened #3048 "Designer doesn't issue warnings for unknown enums"
If a card has an unknown enum, like `"size": "medium2"`, the Designer doesn't say there's any warnings or issues about this

[2019-06-11 03:16] andrewleader commented on #883
Closing this as we're going to remove the schema docs from docs and simply use the Schema Explorer in the 1.2 site with the update going out in a few days

[2019-06-11 03:16] #883 closed

[2019-06-11 03:17] andrewleader commented on #2393
Hey @adampauls, I'm happy to report that we'll be fixing this with the 1.2 schema! Can you try it out here and see if the new schema passes validation for you?

**New schema:** https://github.com/microsoft/AdaptiveCards/issues/2393

[2019-06-11 03:54] andrewleader commented on #23
Closing as inactive and seems like could be achievable with selectAction

[2019-06-11 03:54] #23 closed

[2019-06-11 14:02] andrewleader commented on #136
Closing as no active requests

[2019-06-11 14:02] #136 closed

[2019-06-11 14:02] andrewleader commented on #195
Closing as supported in 1.1 with Media element

[2019-06-11 14:02] #195 closed

[2019-06-11 14:03] andrewleader commented on #234
Closing as we implemented the `-ms-customProperty` style back in 1.0/1.1

[2019-06-11 14:03] #234 closed

[2019-06-11 14:05] andrewleader commented on #332
Closing as we implemented this sometime in 1.0/1.1 (items is no longer required)

[2019-06-11 14:05] #332 closed

[2019-06-11 18:33] shalinijoshi19 commented on #1911
@levotragiang we are working with the Teams side to come with an upgrade plan to AC 1.2 which should contain the bug fixes that @nesalang refers to ; @jjustinms (Justin) from Teams for FYI also. We'll keep this issue open until we have an upgrade plan/timeline in place for you! Thanks for your patience and for reporting this.

[2019-06-12 07:51] Jcragons commented on #1911
Hopes, it's coming :)

[2019-06-12 09:37] Shon-Elias commented on #1887
Version 1.2 was released but it does not support most of the channels.

I would like to use this feature for MS Teams but at the moment you are supporting only version 1.0.

Why is it take that long to support that feature? when will it be available for MS Teams users?

[2019-06-12 09:54] nileshprajapati007444 opened #3049 "How to change fontFamily of Action Button ?"
I want to change font family of Action Button. Is it possible ?

I have tried to change css in theme-config.js file at below lines:
const defaultThemeConfig = {
    android: {
            borderRadius: 10,
            backgroundColor: "#c35353",
            color: "#FFFFFF",
            textTransform: undefined,

            fontFamily: 'Courier New',
        },
}

I can change backgroundColor. Bu

[2019-06-12 15:30] andrewleader commented on #1887
Microsoft Teams is working on updating to 1.2. You can send your feedback to them using their UserVoice: https://microsoftteams.uservoice.com/forums/555103-public

[2019-06-12 15:49] #2393 closed

[2019-06-12 15:49] #3030 closed

[2019-06-12 16:16] andrewleader commented on #2958
Fixed in master with our 1.2 updates

[2019-06-12 16:16] #2958 closed

[2019-06-12 16:46] RebeccaAnne commented on #3047
Change #3044 has addressed the background image issues.

[2019-06-12 20:04] andrewleader commented on #3049
Hi @nileshprajapati007444, can you explain a bit about where you're using Adaptive Cards? Are you using WebChat?

[2019-06-12 20:16] andrewleader commented on #889
Closing as this now seems to render everywhere (JS/UWP/WPF tested)

[2019-06-12 20:16] #889 closed

[2019-06-13 00:06] choupete opened #3050 "[Designer] Designer does not render some action buttons"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Issue

Certain containers are not populating on the designer with action buttons, even though the visualizer renderer displays these buttons.

[code]
Result:
<img width="319" alt="designerbugvis" src="https://user-images.githubusercontent.com/42462906/59394382-4fe90d80-8d34-11e9-82be-30a70c65

[2019-06-13 04:03] nileshprajapati007444 commented on #3049
@andrewleader I am using adaptive card in React native mobile app. I have displayed Action Button. I want to change font family which i am using in my app. But i can not change. I have added css of fontFamily, but not affected.

[2019-06-13 15:49] andrewleader commented on #3049
Ah, so you're using the React Native community renderer? @BalajiR or @vivekvijayakrishnan can you help with this issue?

[2019-06-13 15:51] productboard-ac opened #3051 "Underline support in text runs"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.3
<td>✔️ .NET (#3215)<br/>✔️ Android (#3216)<br/>✔️ iOS (#3217)<br/>🔄 TS (#3218)<br/>✔️ UWP (#3219)</td>
<td>✔️ Shared (#3220)<br/>🔄 Designer (#3221)</td>
</tr>
</table>

# Summary

Add an underline property to TextRun

# Requirements

- Be able to underline a text run within a RichTextBlock

# Schema/spe

[2019-06-13 15:51] productboard-ac commented on #3051
Link to feature: https://adaptivecards-test.productboard.com/feature-board/planning/features/2323172

[2019-06-13 15:52] productboard-ac opened #3052 "Responsive UI support, media queries"
# Summary

Support allowing authoring a card that works on both wide and small screens, author is able to specify how they want their card to look across different screen widths and whatnot (classic responsive UI).

# Requirements

- P0: A single card can be authored that looks great on both narrow (mobile) and wide (desktop) screens

- P3: The card dynamically responds to changes in width without

[2019-06-13 15:52] productboard-ac commented on #3052
Link to feature: https://adaptivecards-test.productboard.com/feature-board/planning/features/2258661

[2019-06-13 16:00] productboard-ac opened #3053 "Themeable icons/glyphs"
# Summary

Today, it's impossible to author a card that has icon images within it that works on both a dark and light background.

Light theme
Dark theme

<p></p>

Neither is the card theme aware. If it were, we could allow users to provide multiple images for light mode or dark mode.

# Requirements

- P0: Author can provide different images for light and dark themes

  - We could solve this with

[2019-06-13 16:00] productboard-ac commented on #3053
Link to feature: https://adaptivecards-test.productboard.com/feature-board/planning/features/2207038

[2019-06-13 16:49] productboard-ac opened #3054 "Rating control (stars)"
This is a rating control!!

[2019-06-13 16:49] productboard-ac opened #3055 "Thumbs up/down input control"
Maybe something like this? Need to gather more requirements

<p></p>

![](https://productboard-files.s3.amazonaws.com/production/attachments/3bee2e1de6bf3212f47d81119e6953d51fefb083924473f4d5341d3906091dfa/image.png)

<p></p>

[2019-06-13 16:49] productboard-ac commented on #3054
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/1711065

[2019-06-13 16:49] productboard-ac commented on #3055
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/1711066

[2019-06-13 16:50] andrewleader commented on #2348
Closing as dupe of #3054

[2019-06-13 16:50] #2348 closed

[2019-06-13 19:01] corinagum opened #3056 "`ac-image` in Internet Explorer 11 stretches from max-width 100% but does not adjust height"
# Platform
* JavaScript

# Author or host
Web Chat, related to https://github.com/microsoft/BotFramework-WebChat/issues/1944

# Version of SDK
1.2

# Issue
(card json is provided at the bottom)

On Chrome, an Adaptive Card renders as expected (with Web Chat host config):
![image](https://user-images.githubusercontent.com/14900841/59457078-8f633880-8dcc-11e9-9eca-8d99ebeca879.png)

However, when sh

[2019-06-13 19:17] patgoley opened #3057 "Data URI images not loading in iOS renderer v1.2.0"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

`pod 'AdaptiveCards', '1.2.0'`

I have an AdaptiveCard with a backgroundImage using a data URI to ensure that the image loads even when the user is offline. This worked properly in pod version `1.2.0-beta1`,

[2019-06-13 19:45] productboard-ac opened #3058 "Feedback Controls Telemetry"
# Proposal: Adaptive Cards Feedback Controls Telemetry

## Summary

We'll gather data on the feedback controls’ usage, performance, error messages, and reliability in general and across different platforms.
This will serve as a model for preexisting controls and components, guiding our telemetry implementation in the rest of Adaptive Cards.

## Rationale

* We'd be able to measure the usage of the

[2019-06-13 19:45] productboard-ac commented on #3058
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/1713641

[2019-06-13 19:54] andrewleader commented on #2041
Closing as dupe of #3058

[2019-06-13 19:54] #2041 closed

[2019-06-13 19:57] andrewleader commented on #2042
Closing as dupe of #3058

[2019-06-13 19:57] #2042 closed

[2019-06-13 21:00] dclaux commented on #3054
Thanks for writing.

I think this should be folded into the existing **Input.ChoiceSet** rather than being introduced as a new Input.Feedback input:
- There is nothing that inherently would make Input.Feedback reserved for "feedback" scenarios; it's just an input
- Input.ChoiceSet already has 90+% of all that's needed and is a more generic approach

Here is what I think we should do:

# Enhance In

[2019-06-13 21:56] nesalang commented on #3057
@patgoley thanks for letting us know of it and the inclusion of json payload.

[2019-06-13 23:56] andrewleader opened #3060 "Schema/site improvements"
Capturing a list of improvements we should make around the schema/site/CI

**TODO**

- [ ] Provide extensible schema (so validation would work with Teams-specific features and Outlook-specific features
- [ ] Make the samples schema tester part of CI (so that we always know our samples are valid)

[2019-06-13 23:57] andrewleader commented on #3056
Great bug find and report @corinagum! What's the priority of this issue?

[2019-06-14 00:01] andrewleader commented on #3013
Hey @utsavlathia do you have more details to share on this issue? Specifically about what doesn't seem to be functioning?

We've updated the schema docs to include the `height` property, maybe that resolves it? Closing for now, re-open if there's still issues around docs not being clear or anything :)

[2019-06-14 00:01] #3013 closed

[2019-06-14 00:02] andrewleader commented on #2991
@RebeccaAnne should this be closed now?

[2019-06-14 00:04] andrewleader commented on #2950
Thanks guru89 for helping out. @Hoosayin closing this issue due to inactivity, if you still have questions, you can re-open!

[2019-06-14 00:04] #2950 closed

[2019-06-14 00:05] andrewleader commented on #2937
Closing due to inactivity. @abiemann if there's some functionality you're trying to achieve that you can't achieve today, please let us know!

[2019-06-14 00:05] #2937 closed

[2019-06-14 00:06] andrewleader commented on #2914
Closing due to inactivity from OP

[2019-06-14 00:06] #2914 closed

[2019-06-14 00:34] shalinijoshi19 commented on #3055
This isnt accessbile to anybody but our team. What's the point of embedding this link here? @andrewleader ?

[2019-06-14 00:40] andrewleader commented on #3055
I don't put those links, the productboard tool does. Ideally it would say "Internal link" or something (similar to how the codeflow tool puts a link completely internal to Microsoft but it at least clarifies that it's meant for internal).

But it makes it easier for our team to trace back to productboard (same concept as the codeflow tool). I have no control over this anyways though.

[2019-06-14 04:15] nileshprajapati007444 commented on #3049
@andrewleader yes i am using React Native community renderer.

@BalajiR @vivekvijayakrishnan

Please help me.

[2019-06-14 07:00] Sushil1091Jes commented on #2186
hi Lokesh, I am facing same problem, how did u solve the action.submit issue?

[2019-06-14 13:51] vonders opened #3061 "Binaries should enable the compiler control guard feature (CFG) at build time"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Author or host

Host

If you're an author, who are you sending cards to?

# Version of SDK

latest master

# Issue

Control flow guard is not enabled in release mode, which is a vulnerability.

[binSkim] error BA2008: EnableControlFlowGuard : Binaries should enable the compiler control guard feature

[2019-06-14 15:04] siderisltd opened #3062 "Difference in rendering in MS Teams Chat and Preview"
# Version of SDK
AdaptiveCards 1.1.2 from NuGet

"$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
"version": "1.0"

# Issue
This is the adaptive card's JSON https://pastebin.com/F1nkSdRS that is generated from .NET core
app. When this JSON is pasted on https://adaptivecards.io/designer/ it renders very well
![14-06-2019-05-55-29](https://user-images.githubusercontent.com/10515463/5

[2019-06-14 18:14] almedina-ms opened #3064 "[Android][Shared Model] Richtextblock crashes when Serializing"
# Platform

* Android
* Shared

# Version of SDK

master

# Issue

Following the debugger I got to TextElementProperties line 54

under function `Json::Value TextElementProperties::SerializeToJsonValue(Json::Value& root) const`

`root[AdaptiveCardSchemaKeyToString(AdaptiveCardSchemaKey::Text)] = GetText();`

when this line is executed the process crashes throwing a "LogicError" from json.cpp and t

[2019-06-14 21:54] andrewleader opened #3066 "Necessity property slipped into public designer"
Looks like the necessity property wasn't properly pulled from the JS designer, it's showing up on the official adaptivecards.io!

![image](https://user-images.githubusercontent.com/13246069/59540948-32db4880-8eb4-11e9-9872-fab5500936a4.png)

[2019-06-14 23:30] shalinijoshi19 commented on #3066
@dclaux was this not disabled by default as we'd discussed for 1.2?

[2019-06-16 16:31] vishmonne commented on #2924
hi guys , i am getting the same issue @tposzytek
![team_error](https://user-images.githubusercontent.com/10339913/59566673-d4af9080-9080-11e9-9260-269bbf088de2.PNG)
  mentioned . PFA the screenshot for reference

[2019-06-16 16:42] tposzytek commented on #2924
Yes, the issue persist. I'm using just the card returned by the Flow assign task action. Not a custom one. We had this discussion with Daniel Laskewitz recently and his opinion is that this is permissions related issue, as he somehow succeeded in assigning a task to himself, posting a card to Teams and approving this way. But if assigned to someone else, it fails.

Best regards,
Tomasz Poszytek

_

[2019-06-17 17:04] matthidinger commented on #3062
Hi @siderisltd, thanks for taking the time to file this. [`verticalContentAlignment`](https://adaptivecards.io/explorer/Container.html) was added in v1.1 of the schema, and as of right now [Microsoft Teams is running on v1.0](https://docs.microsoft.com/en-us/adaptive-cards/resources/partners), so the property is not understood on Teams yet.

We are working on an improvement to the Designer to incl

[2019-06-17 17:07] corinagum commented on #3056
For Web Chat this is low priority. :)  I went ahead and edited our broken card with a different (smaller) image to avoid causing this issue.

[2019-06-17 17:50] RebeccaAnne opened #3070 "[UWP][UnitTests] Resource resolver file fails in UWP unit tests"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue
Unit test results show the following:

Test failed with 3 failures.
Image comparison failed: No host config (default values)\v1.1\Tests\Image.ResouceResolver
Image comparison failed: Fixed Size Non-Interactive\v1.1\Tests\Image.ResouceResolver
Image comparison failed: testVariantHostConfig\v1.1

[2019-06-17 18:20] matthidinger commented on #3028
@andrewleader can you re-create through productboard

[2019-06-17 18:22] productboard-ac opened #3071 "TextBlock <-> TextRun parity"
# Summary

All the relevant properties on TextRun should also be on TextBlock and vice versa

# Requirements

- See summary

# Spec/schema

After the proposal process, update this with a link to the spec PR.

# Proposed changes

Added to TextBlock

- `highlight`

- `italic`

- `selectAction`

- `strikethrough`

- `underline`

Added to TextRun

- N/A

# Example

[code]

# Host Config

N/A

# Down-l

[2019-06-17 18:22] productboard-ac commented on #3071
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/2372634

[2019-06-17 20:43] almedina-ms opened #3072 "[Shared model] BaseInputElement is serializing isRequired property"
# Platform

Impacts:
* Android
* iOS
* UWP

# Version of SDK

1.2

# Issue

isRequired was not shipped as part of v1.2 so serializing it is a bug in it's own

[2019-06-17 20:46] andrewleader commented on #3028
Closing as dupe of #3051 (productboard unfortunately doesn't let us link an existing issue, we have to create a new one :/ we've sent a feature request to them to allow linking to existing)

[2019-06-17 20:46] #3028 closed

[2019-06-17 21:34] andrewleader commented on #3054
Feedback from 6/14/2019 proposal review meeting

David: Would prefer expanding Input.ChoiceSet. Input.Feedback also seems to imply that you couldn't really use it for just a rating. Add readOnly property. Color hue changing as selections increase seems nice-to-have, but we should explore ways to enable that in the future.

Andrew: Agrees about exploring using Input.ChoiceSet. Disagrees about readO

[2019-06-17 21:35] andrewleader commented on #3058
Meeting notes from 6/14/2019 proposal review meeting

Matt: One random data point, people like Cortana wanted to know if they clicked play on a video. Should equally explore exposing telemetry for authors

David: Actionable Messages does a lot of logging, is there a way we can make sure whatever we produce works for the majority of AC customers and not the minority. Provide way for third party hos

[2019-06-17 21:39] andrewleader commented on #2349
Closing as dupe of #3055

[2019-06-17 21:39] #2349 closed

[2019-06-17 21:44] #3047 closed

[2019-06-17 22:06] andrewleader opened #3073 ""px" option missing from Column.width"

[2019-06-17 23:10] productboard-ac opened #3076 "Universal action model SDKs"
# Summary

Today, there's no way to author a single interactive card that you can send to multiple hosts and have it work. You have to do special work for each host to handle the action callbacks, and they're all handled differently. In Outlook, you use `Action.Http` and it calls back to your server, in Teams you use `Action.Submit` and it calls back to your bot, in other hosts you also might use

[2019-06-17 23:10] productboard-ac commented on #3076
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/1711647

[2019-06-17 23:23] jefflhp opened #3077 "Right-to-left markdown links are rendered on the wrong side of the card (UWP)."
# Platform

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Author or host
Author and Host
If you're an author, who are you sending cards to?
HP Applications

# Version of SDK
AdaptiveCards.Rendering.UWP 1.2

# Issue
Right-to-left languages with markdown links are not rendered properly. The link is active on the 'right' side of the card, even thought the text

[2019-06-17 23:25] productboard-ac opened #3078 "Custom colors for text, container, and Adaptive Card backgrounds"
# Summary

Some companies need to represent specific colors in their cards. For example, medical companies have very specific color codes that data and values need to be represented in. Therefore the author needs to be able to express text in custom colors.

# Requirements

- P0: Authors can use a hex color on a TextBlock/TextRun

- P0: Card still is usable in high contrast mode

- P1: Authors can

[2019-06-17 23:25] productboard-ac commented on #3078
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/2182571

[2019-06-17 23:32] productboard-ac opened #3079 "GIF support in images"
While UWP and HTML support GIFs, Android and WPF (and possibly iOS) don't support GIFs in images.

<p></p>

Feature tracked here: <https://github.com/microsoft/AdaptiveCards/issues/2871>

[2019-06-17 23:32] productboard-ac commented on #3079
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/2184063

[2019-06-17 23:32] andrewleader commented on #3079
Feature tracked here: #2871

[2019-06-18 00:07] productboard-ac opened #3081 "Input validation & Labels Support"
# Summary

Authors need input validation, both just simple "isRequired" and more advanced than just saying that an input is required.

![ValidateOnSubmit](https://user-images.githubusercontent.com/13246069/60541698-0c484a80-9cc7-11e9-8471-32cb0d49a855.gif)

# Dev Task List Breakdown
## Input Labels Support

- [x] JS implementation | 10 days
- [x] C++ Object Model | 4 days
- [x] UWP Implementation

[2019-06-18 00:07] productboard-ac commented on #3081
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/1734121

[2019-06-18 13:43] siderisltd commented on #3062
@matthidinger do you know when migration to the new schema is planned for MS Teams?

[2019-06-18 17:17] shawnphoffman commented on #1443
Any updates on this?

Something like this would be really nice for our use case. I understand the security concerns for things like actionable messages and was wondering if there is an existing concept for features that are unsupported on certain platforms? Basically, we'd like to have one for the nodejs, Android, and iOS SDKs so that we can handle the input in a custom action that we've created t

[2019-06-18 21:37] andrewleader commented on #3073
Reopening, this won't be resolved till site is manually published (which Matt is working on)

[2019-06-18 21:39] andrewleader commented on #2857
Hey @SimonSiefke, thanks for reporting this! We've fixed this in our latest version of the Adaptive Card schema for 1.2: https://adaptivecards.io/schemas/1.2.0/adaptive-card.json

[2019-06-18 21:39] #2857 closed

[2019-06-18 21:40] andrewleader opened #3085 "Update all samples to use 1.2 $schema link"
All of our JSON card samples should be updated to use the latest 1.2 $schema link https://adaptivecards.io/schemas/1.2.0/adaptive-card.json

[2019-06-18 21:41] andrewleader commented on #271
Closing as inactive and no customer requests

[2019-06-18 21:41] andrewleader commented on #29
Closing as inactive, cool idea but no customer requests

[2019-06-18 21:41] #29 closed

[2019-06-18 23:43] andrewleader commented on #507
Thanks niels9001, we're tracking this on our portal and is currently a candidate for 1.3: https://portal.productboard.com/adaptivecards/1-adaptive-cards-portal/c/32-svg-support

[2019-06-18 23:43] #507 closed

[2019-06-19 00:24] andrewleader commented on #573
Thanks for this excellent idea! We're tracking your feedback in our internal productboard, closing this issue, we'll let you know if/when we do this.

[2019-06-19 00:24] #573 closed

[2019-06-19 00:25] andrewleader commented on #640
No longer repros, closing

[2019-06-19 00:25] #640 closed

[2019-06-19 00:26] andrewleader commented on #743
This was implemented with action set in 1.2, closing!

[2019-06-19 00:26] #743 closed

[2019-06-19 00:27] #776 closed

[2019-06-19 00:28] andrewleader commented on #776
Closing as no longer a priority and requirements might change in the future

[2019-06-19 00:31] andrewleader commented on #780
Hey, thanks for this feature request! That's a neat idea, but probably not something on our roadmap anytime soon. If you're rendering Adaptive Cards yourselves, you could extend the Android renderer and possibly implement this yourselves. Let us know if you have more questions! Thanks!

[2019-06-19 00:31] #780 closed

[2019-06-19 00:34] andrewleader commented on #772
Thanks for this feedback! We're tracking a dynamic searchable dropdown here, it's a candidate for 1.3: https://portal.productboard.com/adaptivecards/1-adaptive-cards-portal/c/15-dynamic-searchable-select-menu-like-select2

And we've captured your request for an autosuggest text input. Thanks!

[2019-06-19 00:34] #772 closed

[2019-06-19 00:35] andrewleader commented on #782
Closing as unlikely we'll make any changes to the schema at this point

[2019-06-19 00:35] #782 closed

[2019-06-19 00:37] andrewleader commented on #890
Closing as there's no use in the Adaptive schema itself to have an `Id` property on these elements, but through extensibility hosts can choose to read an id property from them.

[2019-06-19 00:37] #890 closed

[2019-06-19 00:37] andrewleader commented on #896
Closing as no customer requests for this

[2019-06-19 00:37] #896 closed

[2019-06-19 00:38] andrewleader commented on #574
Closing as likely fixed now

[2019-06-19 00:38] #574 closed

[2019-06-19 00:39] andrewleader commented on #886
Closing as this now renders in web too

[2019-06-19 00:39] #886 closed

[2019-06-19 00:40] andrewleader commented on #897
Closing as implemented

[2019-06-19 00:40] #897 closed

[2019-06-19 00:43] andrewleader commented on #455
Thanks everyone, we're tracking this table feature here as a potential 1.3 feature: https://portal.productboard.com/adaptivecards/1-adaptive-cards-portal/c/16-simple-table-control-with-a-concept-of-rows-grid

[2019-06-19 00:43] #455 closed

[2019-06-19 00:45] andrewleader commented on #380
Thanks for the feedback! We've captured this feature request and will monitor additional requests for read-only inputs.

[2019-06-19 00:45] #380 closed

[2019-06-19 00:46] andrewleader commented on #1037
Closing as no longer seems to repro

[2019-06-19 00:47] andrewleader commented on #57
Closing as no customer requests for this

[2019-06-19 00:47] #57 closed

[2019-06-19 00:47] andrewleader commented on #956
Closing as probably irrelevant/fixed by now

[2019-06-19 00:47] #956 closed

[2019-06-19 00:48] #906 closed

[2019-06-19 00:49] #829 closed

[2019-06-19 00:49] andrewleader commented on #978
Closing as stale/probably irrelevant now

[2019-06-19 00:49] #978 closed

[2019-06-19 00:50] andrewleader commented on #447
Closing as everything seems to go through onExecuteAction now

[2019-06-19 00:50] #447 closed

[2019-06-19 00:51] andrewleader commented on #677
Closing as stale and likely not going to make API changes at this stage

[2019-06-19 00:51] #677 closed

[2019-06-19 00:53] andrewleader commented on #807
Closing as this is expected/correct and how UWP/WPF also behave. Wrapping just limits whether the text should wrap, but it doesn't impose max lines.

[2019-06-19 00:53] #807 closed

[2019-06-19 00:54] andrewleader commented on #852
Closing as it seems nightlies are published now

[2019-06-19 00:54] #852 closed

[2019-06-19 14:15] vijaysaimutyala commented on #1978
@andrewleader Did this make to the 1.2 release. We're able to access the necessity function in the official adaptivecards.io designer and it does not seem to work. Also I could find something here(https://github.com/microsoft/AdaptiveCards/issues/3066)

[2019-06-19 14:52] ericrrichards opened #3088 "monacoEditorLoaded is not a function"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

I am trying to use the adaptivecards-designer library to render the designer inside my web application

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

I am using the sample CDN code in the readme at https://github.com/microsoft/Adaptiv

[2019-06-19 15:45] andrewleader commented on #1978
That issue #3066 is correct. isRequired isn't part of 1.2 and we're working on updating the designer so it doesn't have the necessity field.

[2019-06-19 16:02] dclaux commented on #3088
Good catch - the documentation is out of date. The method has been renamed into `monacoModuleLoaded()`

Let me know if that works.

[2019-06-19 17:11] paulcam206 opened #3089 "Update SignConfig.xml to use stronger cert"
Per email thread, we should be using a stronger cert in https://github.com/microsoft/AdaptiveCards/blob/master/source/uwp/Build/SignConfig.xml

(more context [here](https://github.com/dotnet/roslyn/issues/8459))

[2019-06-19 17:16] shalinijoshi19 commented on #3089
@paulcam206 / @matthidinger marking approved since this one seems obvious to be picked up and worked on. thanks!

[2019-06-19 17:30] andrewleader commented on #1037
Nevermind, still repro's, see GIF (it's wonky crazy!!)

![SidebarIssues](https://user-images.githubusercontent.com/13246069/59786932-363c4e80-927d-11e9-8de5-946e2f82a4b3.gif)

Matt and I are looking into fixing

[2019-06-19 18:40] almedina-ms commented on #2569
Didn't we had to set rules on how the ids for elements had to be? I believe the issue has to do with the card having a number only id

[2019-06-19 18:41] almedina-ms commented on #2569
Exactly what Paul commented

[2019-06-19 18:47] shalinijoshi19 commented on #2831
@dclaux is already ready with this in the templating topic branch. Should be coming in by EOW.

[2019-06-19 18:48] shalinijoshi19 commented on #2766
@ryanmccormickspok could you take a look at @matthidinger + @dclaux 's recommendation above please and let us know if that ends up working for you ?

[2019-06-19 18:50] shalinijoshi19 commented on #2502
"This looks to be more of an aspirational task at this point." - @dclaux

[2019-06-19 18:52] shalinijoshi19 commented on #910
No immediate requirement to do this at this point. Chatted with @dclaux ; moving this out to our backlog to revisit.

[2019-06-19 18:54] shalinijoshi19 commented on #3066
@dclaux FYI (he's already looking into this). Thanks!

[2019-06-19 20:19] shawnphoffman commented on #3032
@shalinijoshi19 -  I know this is speculative but is there a rough / non-committal / ballpark date for when _this_ or v-1.2.1 might ship?

[2019-06-19 20:29] andrewleader commented on #3088
Thanks David! Assigning this issue to you if you could update the readme with the new method name?

[2019-06-19 20:45] #3066 closed

[2019-06-19 20:48] ericrrichards commented on #3088
@dclaux  Thanks, yes, changing to use the new function works just fine

[2019-06-19 21:05] #607 closed

[2019-06-19 21:06] andrewleader commented on #919
This is fixed now as far as I'm aware

[2019-06-19 21:06] #919 closed

[2019-06-19 21:06] #1035 closed

[2019-06-19 21:06] #1034 closed

[2019-06-19 21:08] andrewleader commented on #1059
Closing for now. @yogiderek, if you have some specific requirements about what you're trying to achieve, please share them and we can capture them! Some visual comps are particularly useful!

[2019-06-19 21:08] #1059 closed

[2019-06-19 21:09] andrewleader commented on #1030
maxLines was set to 1, so this is by design.

[2019-06-19 21:09] #1030 closed

[2019-06-19 21:15] #1114 closed

[2019-06-19 21:17] andrewleader commented on #1112
Seems like this is fixed in WPF now as of 1.2 (and potentially earlier)

[2019-06-19 21:17] #1112 closed

[2019-06-19 21:19] andrewleader commented on #515
Thanks for this feedback, is responsive UI support still an active request on Adaptive Cards, something that you need?

Can you share any pictures or examples of what specifically you're trying to achieve? Additional requirements and examples help us make sure we build the right features for you :)

Please re-open if this is still an active request and share some more details!

[2019-06-19 21:19] #515 closed

[2019-06-19 21:19] andrewleader commented on #1266
Closing as no customer requests

[2019-06-19 21:19] #1266 closed

[2019-06-19 21:22] andrewleader commented on #1304
Thanks @patokike, we've captured this request in our feedback system. Just to confirm, do you still need this ability to display choices horizontally? If so, can you explain a bit more about your scenario and what you're trying to achieve (and if you have any visual comps, those would be incredible!)?

(Closing as your feedback is tracked in our feedback system)

[2019-06-19 21:22] #1304 closed

[2019-06-19 22:00] andrewleader commented on #1236
Closing as no further complaints and the card payload itself is potentially incorrect

[2019-06-19 22:00] #1236 closed

[2019-06-19 22:03] andrewleader commented on #1103
Closing as stale

[2019-06-19 22:46] andrewleader commented on #1055
Closing as inactive. Let us know if you still need help!

[2019-06-19 22:46] #1055 closed

[2019-06-19 22:49] andrewleader commented on #1098
Closing as inactive

[2019-06-19 22:49] #1098 closed

[2019-06-19 22:50] andrewleader commented on #1258
Closing as doesn't seem to repro on my phone and inactive

[2019-06-19 22:50] #1258 closed

[2019-06-19 22:52] andrewleader commented on #967
Closing as host configs are in `samples/hostconfigs`

[2019-06-19 22:52] #967 closed

[2019-06-19 22:55] andrewleader commented on #994
Hey @telkomops, thanks for this feature request, we've captured this feedback in our feedback system and will let you know if/when we ship a feature enabling this.

[2019-06-19 22:55] #994 closed

[2019-06-19 22:56] andrewleader commented on #783
Closing as this is intentional that these properties are of type `string`

[2019-06-19 22:56] #783 closed

[2019-06-19 22:57] dclaux commented on #3088
Fixed: https://github.com/microsoft/AdaptiveCards/pull/3093#event-2425732088

[2019-06-19 22:57] #3088 closed

[2019-06-19 23:03] andrewleader commented on #953
Thanks for this feedback, we've captured this and will let you know if/when we build this feature!

[2019-06-19 23:03] #953 closed

[2019-06-19 23:04] andrewleader commented on #491
Closing as stale

[2019-06-19 23:04] #491 closed

[2019-06-19 23:06] andrewleader commented on #367
Closing as we have this on docs: https://docs.microsoft.com/en-us/adaptive-cards/resources/partners

[2019-06-19 23:06] #367 closed

[2019-06-19 23:09] andrewleader commented on #1435
Closing as it seems we don't use this schema.ts file anymore

[2019-06-19 23:09] #1435 closed

[2019-06-19 23:10] andrewleader commented on #1384
Closing as this has been mostly standardized as far as I'm aware, and we can file specific bugs for any inconsistencies we find

[2019-06-19 23:10] #1384 closed

[2019-06-19 23:12] andrewleader commented on #1451
You cannot edit the hostConfig used when cards appear on Facebook Messenger, that is controlled by the Bot Framework. You can submit a feature request to the Bot Framework team!

[2019-06-19 23:12] #1451 closed

[2019-06-19 23:13] andrewleader commented on #1450
Closing as stale

[2019-06-19 23:13] #1450 closed

[2019-06-19 23:18] andrewleader commented on #1339
Hey @CalvinFengDatacom, to clarify, do you want to have a Toggle input (checkbox) and depending on whether that checkbox is checked, show/hide other content?

If you don't need a checkbox, we just added `Action.ToggleVisibility` in 1.3 ([see it here](https://adaptivecards.io/explorer/Action.ToggleVisibility.html)).

Please clarify whether you need this toggling of visibility to be based on the inp

[2019-06-19 23:18] #1339 closed

[2019-06-19 23:20] andrewleader commented on #1416
Thanks! We've captured this feedback in our feedback system and will let you know if/when we implement this.

[2019-06-19 23:20] #1416 closed

[2019-06-19 23:21] andrewleader commented on #1578
Closing as this might/should be possible today, plus no active requirements

[2019-06-19 23:21] #1578 closed

[2019-06-19 23:22] #1680 closed

[2019-06-19 23:23] andrewleader commented on #1711
The new schema is now valid, https://adaptivecards.io/schemas/1.2.0/adaptive-card.json

[2019-06-19 23:23] #1711 closed

[2019-06-19 23:24] andrewleader commented on #519
If IE11 support is still an active issue for people, please re-open!

[2019-06-19 23:24] #519 closed

[2019-06-19 23:25] andrewleader commented on #606
Closing as stale/no active requirements

[2019-06-19 23:25] #606 closed

[2019-06-19 23:27] #1065 closed

[2019-06-19 23:27] CalvinFengDatacom commented on #1339
Hi @andrewleader , This is what we were looking for, but for our last project we found another alternative way to design this requirement.
But, it's good to know this method, and thanks for letting me know. :-)

[2019-06-19 23:34] andrewleader commented on #1880
Thanks for requesting Xamarin support! This is a popular request which we're tracking here: https://adaptivecards.productboard.com/portal/1-adaptive-cards-portal/tabs/c88173a2-a3a1-4bc5-ad15-11051b3c7942/features/1961753/portal/expanded

[2019-06-19 23:34] #1880 closed

[2019-06-20 00:05] andrewleader commented on #1932
Shipped in 1.2!

[2019-06-20 00:05] #1932 closed

[2019-06-20 00:05] andrewleader commented on #1934
Shipped in 1.2!

[2019-06-20 00:05] #1934 closed

[2019-06-20 00:06] andrewleader commented on #1990
Shipped in 1.2!

[2019-06-20 00:06] #1990 closed

[2019-06-20 00:06] andrewleader commented on #1983
Shipped in 1.2!

[2019-06-20 00:06] #1983 closed

[2019-06-20 00:06] andrewleader commented on #1992
Shipped in 1.2!

[2019-06-20 00:06] #1992 closed

[2019-06-20 00:06] andrewleader commented on #2018
Shipped in 1.2!

[2019-06-20 00:06] #2018 closed

[2019-06-20 00:06] andrewleader commented on #2025
Shipped in 1.2!

[2019-06-20 00:06] #2025 closed

[2019-06-20 00:06] andrewleader commented on #2029
Shipped in 1.2!

[2019-06-20 00:06] #2029 closed

[2019-06-20 00:06] andrewleader commented on #2030
Shipped in 1.2!

[2019-06-20 00:06] #2030 closed

[2019-06-20 00:07] andrewleader commented on #2032
Shipped in 1.2!

[2019-06-20 00:07] #2032 closed

[2019-06-20 12:58] harischristodoulidis opened #3095 "Adaptive cards don't render the Image dimensions"
I use this schema.d.ts file:

[code]
The IImage interface inherits the properties of ICardElement
[code]

[code]
ICardElement has a height property which can be 'auto' or 'stretch'
It does not have a width property

e.g. I take a json which has a column with this Image item:
[code]

The width and height of the Images are not rendered. The image is displayed with the default dimensions.

Do you kno

[2019-06-20 13:08] harischristodoulidis commented on #3095
I use this schema.d.ts file:

[code]
The IImage interface inherits the properties of ICardElement
[code]

[code]
ICardElement has a height property which can be 'auto' or 'stretch'
It does not have a width property

e.g. I take a json which has a column with this Image item:
[code]

The width and height of the Images are not rendered. The image is displayed with the default dimensions.

Do you kno

[2019-06-20 14:33] ryanmccormickspok commented on #2766
The tl;dr is that it didn't work. It ended up rendering out a bunch of gibberish "[object HTMLParagraphElement]". Maybe from built-in html sanitization?

I ended up building:
[code]
This was able to snuff out the logging but I am super paranoid about the lack of string sanitization so I am not comfortable using it in prod.

For time purposes, I ended up adding a markdown library.

It would be grea

[2019-06-20 14:37] DJF3 opened #3096 "Adaptive Card Viewer - Doesn't show AdaptiveCard JSON"
# Info
**Platform**: MacOS
**VS Code**: 1.35.1
**Extension**: Adaptive Card Viewer v1.1.3

# Issue
VS Code: Copy/paste Adaptive Card example JSON in new document
VS Code: Save as card.json
**Language: JSON (auto-detected)**
Press CTRL-V then A:  Nothing happens

**Change language to: JSON with comments (jsonc)**
Press CTRL-V then A:  Error:

Is there, besides installing the "Adaptive Cards Viewer"

[2019-06-20 15:40] dclaux commented on #2766
At this point we think we'll eventually have a built-in Markdown processor, but I can't say when that'll happen.

[2019-06-20 18:16] andrewleader commented on #3095
@dclaux do you know what's up here? This seems to be related to the `schema.d.ts` file, I looked at that yesterday and noticed it's missing a ton of properties, maybe it's some deprecated thing we don't use anymore? Can you help here?

[2019-06-20 18:16] andrewleader commented on #2694
Shipped in 1.2!

[2019-06-20 18:16] #2694 closed

[2019-06-20 18:17] andrewleader commented on #2291
Shipped in 1.2!

[2019-06-20 18:17] #2291 closed

[2019-06-20 18:17] andrewleader commented on #2290
Shipped in 1.2!

[2019-06-20 18:17] #2290 closed

[2019-06-20 18:17] andrewleader commented on #2028
Shipped in 1.2!

[2019-06-20 18:17] #2028 closed

[2019-06-20 18:18] andrewleader commented on #2027
Shipped in 1.2!

[2019-06-20 18:18] #2027 closed

[2019-06-20 18:18] andrewleader commented on #1982
Shipped in 1.2!

[2019-06-20 18:18] #1982 closed

[2019-06-20 18:19] andrewleader commented on #1991
Shipped in 1.2! dataUris can be used in image urls!

[2019-06-20 18:19] #1991 closed

[2019-06-20 18:19] andrewleader commented on #1891
Shipped in 1.2!

[2019-06-20 18:19] #1891 closed

[2019-06-20 18:20] andrewleader commented on #1821
Shipped in 1.2!

[2019-06-20 18:20] #1821 closed

[2019-06-20 18:22] andrewleader commented on #1438
React Native renderer is community-official now thanks to the Imaginea folks!

### Community SDKs

The following SDKs are lovingly maintained by the Adaptive Cards community. Their contributions are sincerely appreciated! 🎉

|Platform|Install|Build|Docs|Status|Maintainer|
|---|---|---|---|---|---|
| ReactNative | [![npm install](https://img.shields.io/npm/v/adaptivecards-reactnative.svg)](https://

[2019-06-20 18:22] #1438 closed

[2019-06-20 18:22] andrewleader commented on #2013
Shipped in 1.2!

[2019-06-20 18:22] #2013 closed

[2019-06-20 19:49] andrewleader commented on #3054
Here's my proposal...

**Introduce a new `Input.Rating` element.**

![standard](https://user-images.githubusercontent.com/43022566/59462997-c0963580-8dd9-11e9-8215-4656020ed799.png)

[code]

**Customizing the number of stars**

Say they want 6 stars...

[code]

**Customizing the icons**

![example](https://user-images.githubusercontent.com/42462906/59464534-89c21e80-8ddd-11e9-9d0e-c850464f351e.gif

[2019-06-20 20:50] patgoley opened #3097 "Action OpenUrl not supported on Android?"
# Platform

* Android

# Author or host

Host

# Version of SDK

`'io.adaptivecards:adaptivecards-android:1.2.0'`

The `BaseActionElement` does not seem to support getting the URL value for an Action.OpenUrl type Action in an adaptive card.

It contains the following getters:

[code]

`ACOBaseActionElement` in the iOS SDK has a `url` method which returns the action url. It doesn't seem to have a c

[2019-06-20 21:20] shalinijoshi19 commented on #3097
@patgoley thanks fore reporting. @almedina-ms could you take a look at this please real quick? Thanks!

[2019-06-20 21:26] almedina-ms commented on #3097
@shalinijoshi19 I just made the unit tests for properties and GetUrl does exist, it's under the OpenUrlAction as it's only a property for OpenUrl actions https://github.com/microsoft/AdaptiveCards/pull/3067/files#diff-41a904f1db6efb60c53107fc8ef0037a

[2019-06-20 21:32] patgoley commented on #3097
Thanks, I see that now. I was thrown off by the difference between the SDK's.

[2019-06-20 21:36] patgoley commented on #3097
I'd just like to mention a bug in the docs around this issue:

[code]

The logic checks `instanceof ShowCardAction` but then casts to OpenUrlAction. I think that requiring so much dynamic casting between action types is counter intuitive and may cause breakage down the line if the types change. Perhaps in a future API `ICardActionHandler` could be updated to provide different methods for different

[2019-06-20 21:43] patgoley commented on #3097
Sorry, one more issue with OpenUrl here. In my `ICardActionHandler`, the BaseActionElement does not successfully cast to OpenUrlAction and therefore I can't access the `getUrl` getter on the OpenUrlAction object.

[code]
The cast failed even though `baseActionElement..GetElementTypeString()` is `Action.OpenUrl`, which seems like a bug.

[2019-06-20 21:49] almedina-ms commented on #3097
that's something I found too while developing the tests, the work around I found for doing casting was declaring methods like the one below. This is due to the casting of objects from the c++ shared model having to be done through SWIG, in the future we'll try to look for a better solution to this problem

[code]

[2019-06-20 21:55] morgangraphics opened #3098 "Inconsistent rendering of Adaptive Cards across ecosphere"
# Platform

What platform is your issue or question related to? (Delete other platforms).

Teams

# Author or host

I am sending the JSON object/output from the [Designer for Actionable Messages](https://amdesigner.azurewebsites.net/) to a Teams Incoming Webhook connector.  While the designer shows how the Card is supposed to look as intended

![Designer](https://user-images.githubusercontent.com/

[2019-06-20 21:55] patgoley commented on #3097
Thanks, that worked for me.

By the way, I spotted a typo in the docs for the open URL code:

[code]
`ShowCardAction` should be `OpenUrlAction` here.

Thanks for your help!

[2019-06-20 21:55] #3097 closed

[2019-06-20 23:26] andrewleader commented on #3098
Hey @morgangraphics, thanks for posting. Teams is still using Adaptive Cards 1.0, which doesn't support `height` and `width` properties on images. You'll have to design your card avoiding the usage of any newer features for now.

Teams is working on updating to Adaptive 1.2 over the next few months. We'll notify you when they update!

We're also working on making the Designer only show properties

[2019-06-20 23:26] #3098 closed

[2019-06-21 08:16] mathurvarun84 opened #3099 "Play button configuration of Media Config in adaptive host config is not getting used"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS
* JavaScript
*

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?
The host is rendering own cards

If you're an author, who are you sending cards to?

# Version of SDK
We are using 1.1.3 of adaptive cards

What version are you

[2019-06-21 16:56] dclaux commented on #3099
The JS renderer doesn't use HostConfig to customize the play button. There are too many ways an application might want to style the button for a simple image to be enough.

To customiize the play button, modify the Adaptive Card CSS, namely the `ac-media-playButton` and `ac-media-playButton-arrow` classes.

[2019-06-21 21:56] #3032 closed

[2019-06-24 11:34] vijaysaimutyala commented on #1978
Thanks @andrewleader. I hate to ask this but, do we have any timeline for the input validation to be available generally ?

[2019-06-24 16:41] andrewleader commented on #1978
Input validation is expected to be in 1.3, and it's right near the top of our list this time, so it almost certainly should make it. We've been shipping Adaptive Cards in ~6 month cadences, and then there's integration time for partner hosts to integrate the new version of Adaptive Cards into their apps, so maybe in about ~8-9 months input validation should be generally available in MS Teams (but

[2019-06-24 17:06] paulcam206 opened #3101 "Clean up package dependencies"
We have a few dependencies that need to be cleaned up WRT versioning.

[2019-06-24 17:42] #3070 closed

[2019-06-24 18:00] #2855 closed

[2019-06-24 18:13] andrewleader commented on #3099
Triage notes: We discussed in triage, the play icon is an [official host config feature](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#schema-mediaconfig) and should be supported on all platforms. Additional extensibility on top of that (like CSS extensibility) is very valuable, but official host config features should be supported as a bare minimum.

@almedina-ms , @

[2019-06-24 18:15] andrewleader commented on #3096
@matthidinger do you have ownership of the VS Code extension?

[2019-06-24 18:16] andrewleader commented on #3095
Ping @dclaux

[2019-06-24 18:35] dclaux commented on #3095
@harischristodoulidis can I ask how/why you are using the schema? Is it to get code completion support as you write Adaptive Card JSON payloads? Something else?

I am asking because I would like to retire these schema interfaces which serve little purpose. If you are building Adaptive Cards dynamically in code, I recommend using the object model instead, e.g.:

[code]

[2019-06-24 19:02] #3057 closed

[2019-06-24 19:40] nesalang commented on #3099
on iOS, I found a regression. iOS renderer do use play icon from host config, but the regression caused not to remove default play icon. So two icon will get overlapped, and it appears the icon from host config not being used.

[2019-06-24 22:50] andrewleader commented on #1037
This has been fixed and the fixed site is now live! Thanks for reporting this!

[2019-06-24 22:50] #1037 closed

[2019-06-25 00:18] nesalang opened #3104 "iOS child of issue 3099"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

1.2

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

# Issue

This is a child of #3099

[2019-06-25 00:43] nesalang commented on #2856
fixed via previous background image fix

![Simulator Screen Shot - iPhone 6s - 2019-06-24 at 17 42 44](https://user-images.githubusercontent.com/4112696/60060885-9d0b9e80-96a7-11e9-888e-7222a7c3388a.png)
![Simulator Screen Shot - iPhone 6s - 2019-06-24 at 17 42 50](https://user-images.githubusercontent.com/4112696/60060891-9ed56200-96a7-11e9-8629-7d797a97f5af.png)

[2019-06-25 00:43] #2856 closed

[2019-06-25 15:10] andrewleader commented on #3054
# Meeting notes from proposal review meeting on 6/24/2019

Attendance

* Shalini
* David
* Becky
* Joseph
* Alberto
* Peter
* Utsav
* Brook
* Andrew
* Chigusa (from XAML team)

Chigusa - XAML doesn't have thumbs up/down, just uses two buttons

David - Believes automatic fallback is critical

Andrew - Believes rating is

Jacklyn - Believes there should be a specific control for each specific type

[2019-06-25 16:05] andrewleader commented on #3076
# Universal actions meeting 6/25/2019

David: Should we deprecate existing non-universal actions and force convergence, or add a converged option without deprecating the propriatary ways?

Vinay: In Teams, today we replace the card, but depending on the requirement, they might want to show a new card rather than replace the old card

Bill: I look at formalizing authentication, retry, there are a l

[2019-06-25 21:22] andrewleader commented on #2702
Closing as done

[2019-06-25 21:22] #2702 closed

[2019-06-25 21:24] andrewleader commented on #2578
Hey jakmex, sorry for never responding. Did you manage to fix your problem with receiving the postback?

Thanks!
Andrew

(Closing for now, feel free to re-open)

[2019-06-25 21:24] #2578 closed

[2019-06-25 21:25] andrewleader commented on #2558
Thanks for asking Calvin, we don't have any updates to share around Skype support.

[2019-06-25 21:25] #2558 closed

[2019-06-25 21:27] andrewleader commented on #2577
Hey @atishayv, can you explain some about where you're using Adaptive Cards? Are you sending them to Teams/Outlook/Bot Framework? Or rendering cards yourself?

[2019-06-25 21:30] andrewleader commented on #2528
With achipa's pull request (thanks!!), we made isCompact the default behavior :) If further customization is needed please open a new issue!

[2019-06-25 21:30] #2528 closed

[2019-06-25 21:30] andrewleader commented on #2510
Done!

[2019-06-25 21:30] #2510 closed

[2019-06-25 21:30] andrewleader commented on #2513
Done!

[2019-06-25 21:30] #2513 closed

[2019-06-25 21:30] andrewleader commented on #2514
Done!

[2019-06-25 21:30] #2514 closed

[2019-06-25 21:30] andrewleader commented on #2515
Done!

[2019-06-25 21:30] #2515 closed

[2019-06-25 21:31] andrewleader commented on #2517
Done!

[2019-06-25 21:31] #2517 closed

[2019-06-25 21:31] andrewleader commented on #2518
Done!

[2019-06-25 21:31] #2518 closed

[2019-06-25 21:31] andrewleader commented on #2516
Done!

[2019-06-25 21:31] #2516 closed

[2019-06-26 08:24] harischristodoulidis commented on #3095
We use this schema given from MS teams and it is not allowed to change it.
Then we created a common file for Mapping the style we are defining and implementing.
e.g. about size:
`export declare type Size = 'auto' | 'stretch' | 'small' | 'medium' | 'large';`
I can map the small size to be 16px or anything I want.
But I cannot map the Image height and width because these properties are missing.

I c

[2019-06-26 14:08] easy2order commented on #2186
Same here, with Angular 7, buttons are dead ... Any solution ?

[2019-06-26 18:57] #3064 closed

[2019-06-26 21:08] paulcam206 opened #3107 "[Android] Upcasting from BaseCardElement can be painful"
Per discussion in code review, the Android object model makes it somewhat painful to upcast from from (e.g. `BaseCardElement`) to the more derived (e.g. `Image`) class:

[code]

[2019-06-26 22:26] RebeccaAnne commented on #3006
This no longer repros. I'd guess it was fixed by #3044.

[2019-06-26 22:26] #3006 closed

[2019-06-26 23:57] shalinijoshi19 commented on #2186
@lokeshbansal1993 FYI-  mind helping out @Sushil1091Jes ?

[2019-06-27 02:14] lalli-flores opened #3110 "[Designer] Unable to load designer via Node package"
# Platform

What platform is your issue or question related to?
**JavaScript**

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?
**Host**

If you're an author, who are you sending cards to?
N/A

# Version of SDK
What version are you using? Ex: NuGet 1.0.2, or latest master, etc...
**Latest [NPM version of adaptive card designer](h

[2019-06-27 03:12] lokeshbansal1993 commented on #2186
Can you sent your code for me then give to best solution.?
Actually I explored this issue takes more time but will do this.

On Thu 27 Jun, 2019, 5:27 AM shalinijoshi19 <notifications@github.com wrote:

[2019-06-27 03:13] lokeshbansal1993 commented on #2186
Can you sent your code for me then give to best solution.?
Actually I explored this issue takes more time but will do this.

On Tue 11 Dec, 2018, 6:11 PM Lokesh Bansal <lokesh@vidhema.com wrote:

[2019-06-27 08:27] SWarnberg opened #3111 "Width of card in Outlook"
Can anyone elaborate on the width limitations when viewing a card in Outlook mail?
I'm pretty sure that when I first tested Adaptive Cards, sent to mail, it was using the whole width of the mail window. However, now it's only showing as a narrow card, using maybe 40% of the window width.
In desktop it's really ugly. In OWA, it's better, but still too narrow.
This is how it looks in desktop:

![ima

[2019-06-27 16:49] matthidinger commented on #3054
What if there were a some way to achieve both goals: offering a semantic, simple, discoverable type (`Input.Rating`), while still achieving backwards compat? For example, what if the designer auto-generated a `fallback` to a `Input.ChoiceSet` with the rating properties, or we had some other means of creating fallbacks for new elements, as long as said fallbacks had a reasonable experience?

[2019-06-27 17:03] dclaux commented on #3054
@matthidinger having the designer generate fallback is an interesting thought, but one of the arguments I've heard to go with Input.Rating was that there was no forced fallback (which apparently was desirable because the fallback experience was simply not as good.)  If we did force a fallback, that would be yet another reason IMO to stick with ChoiceSet instead of introducing another control.

Als

[2019-06-27 17:05] shalinijoshi19 commented on #3054
@matthidinger, I love it! And from what I understand  the fallback scenario is going to be an issue for every new feature or control we introduce going forward, so maybe this may even be a good time perhaps to revisit this notion of a "Default fallback" generation more broadly ?

[2019-06-27 19:29] productboard-ac opened #3112 "Client-side update card upon input changes or button presses (statically pre-loaded, cascading dropdowns, etc)"
# Summary

Card authors have expressed the need for their card to change client-side (no server calls) as a result of user selecting/changing inputs, user pressing a button, etc.

# Scenarios

## Add new project

Some examples would be a dropdown that has an "Add new" option, when you select that, want to show a text box for adding a new item

![AddNew](https://user-images.githubusercontent.com/13

[2019-06-27 19:29] productboard-ac commented on #3112
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/1772148

[2019-06-27 21:55] #1912 closed

[2019-06-27 21:56] paulcam206 commented on #2251
I think that 25kb limit is pretty accurate. Unfortunately, I can't find any documentation to back that up...

[2019-06-27 21:56] #2251 closed

[2019-06-27 23:45] andrewleader commented on #1731
Closing as dupe of #3112 which is tracked through productboard

[2019-06-27 23:45] #1731 closed

[2019-06-27 23:50] andrewleader commented on #2040
Our new 1.2 schema has a TON of improvements which likely fix all the issues mentioned in this thread, including...

* selectAction property values should be correct now
* case-insensitive enum values!!
* validation within nested layers of containers/columns/etc works correctly
* validation is STRICT, meaning any unknown enums or types will cause validation to fail (so that you know you did someth

[2019-06-27 23:50] #2040 closed

[2019-06-27 23:51] andrewleader commented on #1733
Closing as stale, please re-open if you still have any issues, thanks!

[2019-06-27 23:51] #1733 closed

[2019-06-28 01:14] nesalang opened #3114 "Conflicting NSLayoutConstraints When Views Are Hidden"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Issue
There are layout constraints conflicts when views are hidden.

[2019-06-28 16:54] paulcam206 commented on #3111
@dclaux - care to chime in here?

[2019-06-28 17:29] paulcam206 commented on #3111
Per @dclaux:

[2019-06-30 13:38] vishmonne commented on #1423
can anyone explain how to implement this didLoadelements delegte in ACRActionDelegate.h ?
i went through issue 1420 but couldnt understand this

[2019-07-01 05:36] cmevawala commented on #3099
@andrewleader : Any updates on this ?

[2019-07-01 14:41] vishmonne opened #3125 "Carousel card and Adaptive cards is rendered slow and its overlapping when we use in IOS Teams App."
**PLATFORM : IOS**

Version: SDK V3 Bot Framework
Deployment : Azure
Language : C#
Adpative card Verison : 1.0
Bot Builder Version : 3.15.3
Platform  Tested: Teams Desktop, Android, Mac Book Teams , Iphone IOS

When run our Chatbot in Teams  using the app id from Azure .

**Issue Description:**

We tested our Chabot in all platforms as mentioned above and found the following issues only in Iphone

[2019-07-01 19:10] shalinijoshi19 commented on #3089
@paulcam206 this can just come in now right ? Not blocked on anything ?

[2019-07-01 19:23] shalinijoshi19 commented on #3072
@almedina-ms was this fixed as part of your PR here https://github.com/microsoft/AdaptiveCards/pull/3100 or does this need to be fixed still?

[2019-07-01 20:44] #2848 closed

[2019-07-01 20:56] jwoo-msft opened #3127 "iOS UnitTest Improvement: Networking"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Issue

It came to our attention that during iOS unit testing, if a url to image or resources in general is used to get the resources, and if the resources is not available, the quality of unit testing can be degraded.

For example, if a resource is hosted by a third party, it's reasonable to assume

[2019-07-01 22:04] RebeccaAnne commented on #3072
This has existed since 1.0, when we thought we might have an IsRequired property and it never got pulled.

[2019-07-01 22:06] btam opened #3128 "Documentation of Authoring SDKs"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS
* UWP

# Author or host

Author

# Issue

We only have Authoring SDK documentation pages for .NET and JavaScript, although there are authoring SDKs for all platforms.

[2019-07-01 22:32] nesalang commented on #3125
Hello @vishmonne
Thanks for reporting the issue.
I've contacted Teams to check the issue.
Meanwhile, can you share your payloads?

[2019-07-01 23:09] almedina-ms commented on #3072
There are UWP methods for setting the isRequired property but we never use the property, we just serialize it, I was thinking of removing just the serialization for the method just so there are no breaking changes, is that good??

[2019-07-02 06:42] vishmonne commented on #3125
Hi @nesalang . Thanks for replying back.

here's the serialized attachment.
[json1 (1).txt](https://github.com/microsoft/AdaptiveCards/files/3348637/json1.1.txt)

Add this in Carousel Layout

[2019-07-02 11:03] SriRakesh commented on #2186
i want to integrate the adaptive cards in angular, can you please share the code ?

[2019-07-02 11:18] lokeshbansal1993 commented on #2186
this.adaptiveCard.parse(this.cardsValue);
// let action = this.cardsValue[0].type
// console.log(a)
// Render the card to an HTML element:
this.renderCards = this.adaptiveCard.render();
// this.cards.nativeElement.innerHTML=this.renderCards.innerHTML;
this.renderer.appendChild(this.cards.nativeElement, this.renderCards);
this.adaptiveCard.onExecuteAction = (action) => {
// alert(JSON.stringify(act

[2019-07-02 12:12] bandmask opened #3132 "Extensibility and custom renderers"
# Platform
* JavaScript
* UWP

# Author or host
Both

# Version of SDK
1.0 & 1.2
(UWP host 1.2, Javascript host 1.0, C# author (bot framework) 1.0

# Issue
We are trying to handle custom rendering in our hosts, but feel that the extensibility documentation is not good enough to get an example working.
What we are essentially doing is that we want to render a custom control for the Input.ChoiceSet

[2019-07-02 13:35] SriRakesh commented on #2186
Hai Lokesh,

This is my code, i need to perform Action for 'Action.Submit' and 'Action.OpenUrl'. So, do you know how can i do that.

import { Component, OnInit, ViewChild, ElementRef } from '@angular/core';
import * as AdaptiveCards from "adaptivecards";
import { HttpClient } from '@angular/common/http';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./

[2019-07-02 17:06] andrewleader commented on #3099
@cmevawala no, no updates to share yet. Are you blocked on this issue? If this is a blocking important issue, please let us know!

[2019-07-02 18:36] #2889 closed

[2019-07-02 19:29] patgoley commented on #271
As a user of Adaptive Cards, this feature is crucial to me. Fonts are an essential part of consistent branding and styling. The behavior here is currently inconsistent between platforms. On iOS, custom fonts are registered by the app and from there, they are loaded the same way as system fonts. So the iOS renderer does in fact support custom fonts by default. On Android, however, a font assets tha

[2019-07-02 20:14] #3029 closed

[2019-07-02 20:15] shalinijoshi19 commented on #3132
Thanks for bringing this up @bandmask esp the bit about the documentation feedback as well. Are you actually running into explicit errors at this point or is it just approaching our extensibility story and looking for general guidance here? What documentation have you been working with again? Is it linked out of https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/extensibility ? Also c

[2019-07-02 20:22] nesalang commented on #1423
Hello @vishmonne
I can help you better if you can share your use case.
didLoadElements is an optional delegate that signals when all elements are loaded.

[2019-07-02 20:37] #2886 closed

[2019-07-02 20:56] #2894 closed

[2019-07-02 21:24] #2897 closed

[2019-07-02 21:47] andrewleader commented on #271
Thanks @patgoley, that seems like an excellent addition, @shalinijoshi19 and @almedina-ms can we look at adding this to Android? Seems like an easy fix :)

@patgoley, when would you need this support by to avoid forking? Also just out of curiosity, do you mind sharing how you're using adaptive cards? Sounds like you're rendering them in your own apps? :)

[2019-07-02 21:53] patgoley commented on #271
Wow, thanks for the positive feedback! Honestly, I've already forked and made these changes. I'm happy to submit a PR (it's basically what I've pasted above, haven't updated the test suite). I would've already shipped it by now, but I'm having trouble building the forked repo using Jitpack (https://stackoverflow.com/questions/20161602/loading-maven-dependencies-from-github). Separate issue, I thin

[2019-07-02 22:02] andrewleader commented on #271
I think a PR would be awesome, but I'll leave that decision up to @shalinijoshi19 and @almedina-ms (our dev lead and Android dev) for the final call :)

We also might be able to help with the jitpack issues, I don't know how much Alberto knows about jitpack, but maybe there's something we can do if you don't get anything working!

That's so cool to hear about your company's chat bot app! One off-t

[2019-07-02 22:41] #3104 closed

[2019-07-02 22:47] andrewleader opened #3136 "🎁 Potential vNext (formerly 1.3) features list!"
We've finally isolated the features we are focused on for the next quarter en-route to our next major release. Here's a list while we work on updating our public [portal](https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/tabs/5-roadmap)

Are you an existing partner? Don't see specifics above around that special feature request you had filed covered above? Help us out, and ple

[2019-07-02 23:11] #3114 closed

[2019-07-02 23:14] nesalang commented on #3125
@vishmonne
first & third issue could be Team's issue.
2nd issue i'm looking into it.

[2019-07-02 23:19] patgoley commented on #271
Thanks for the feedback! I've opened a PR with my changes so you can have a look and make a decision about how to proceed, if at all.

Regarding jitpack, if you can provide any assistance that'd be amazing. If not, I think I can work around it by building my fork into a .jar and including that in my host application.

Regarding actions, Submit and OpenUrl are enough to cover our use cases. For Ope

[2019-07-03 00:01] nesalang commented on #2938
@shalinijoshi19 & @RebeccaAnne
According to schema, ChoiceSet.Input doesn't have place holder text.
So UWP is handling things correctly.
FYI, Text/Number/Date.Input have place holder texts.

[2019-07-03 00:28] andrewleader commented on #271
Awesome, one last question, are you using Bot Framework or is the "bot engine" your own bot engine you've built?

[2019-07-03 00:29] patgoley commented on #271
It is our own bot engine.

[2019-07-03 01:13] shalinijoshi19 commented on #271
@almedina-ms can you work with @patgoley to get this looked at? Thanks!

[2019-07-03 06:04] lokeshbansal1993 commented on #2186
this.AdaptiveCards.nativeElement.innerHTML = this.output.innerHTML;

this line replace by this
this.renderer.appendChild(this.AdaptiveCards.nativeElement,  this.output.);
then you can try

On Tue, Jul 2, 2019 at 7:05 PM SriRakesh <notifications@github.com> wrote:

--
Best regards,

*Lokesh Kumar*
Sr. Software Engineer

[2019-07-03 09:07] bandmask commented on #3132
Thank you for answering @shalinijoshi19
We've been experimenting with the UWP rendering extensibility, found here https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/uwp/extensibility
The native styling I referred to is https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/uwp/native-styling

The extensibility page exists, but the example is only a simple TexBlock imp

[2019-07-03 09:34] yaswanth25938 opened #3139 "How to do input element validation from client side in Microsoft Adaptive cards."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-07-03 09:58] cmevawala opened #3140 "[JavaScript] : Video should play on Tap of a Thumbnail on Desktop as well as Mobile"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host
Host

# Version of SDK
AdaptiveCards Release/1.1

# Issue
In the adaptive cards release version 1.1, the videos are played onClick of PlayButton. User should be allowed to play the video on Tap of Thumbail/Poster on Large Screen as well as in Mobile Devices

[2019-07-03 13:46] vishmonne commented on #3125
hi @nesalang  , thanks for this update.

I did a lot of testing in IOS teams app regarding the **first** and **third** issue , i found out that in latest Teams version **1.0.78** and **1.0.77** i am getting this issue, whereas in Teams version **1.0.74** i am not getting this issue.

So i wanted to know what i can do to solve this one in the latest Teams version and where i can get this issue sort

[2019-07-03 16:41] RebeccaAnne commented on #2938
I think a placeholder text could be useful on a compact choice set. @andrewleader @matthidinger any thoughts on adding this? (right now it works in javascript but not other platforms and is not in the schema)