[2019-10-14 16:37] matthidinger opened #3522 "[Designer] TextBlock "Subtle" checkbox is not working"
The current build of the Adaptive Card designer at https://adaptivecards.io/designer is not properly applying the `isSubtle` property on `TextBlock`s

![image](https://user-images.githubusercontent.com/1432195/66767775-00dbf200-ee66-11e9-98b1-47b698e88638.png)

Expected:

* When clicking the above Subtle checkbox it should set the `isSubtle` property in the JSON.

Actual:

* No JSON modifications

[2019-10-14 18:19] matthidinger commented on #3521
Hi @tolotrasamuel, thanks for filing this. Buttons are typically relatively terse pieces of UX, as a workaround is there any chance of trimming the length of that button text?

In the meantime, I'm not aware of any options for configuration in the JS SDK. You could potentially achieve something using CSS customizations: https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/javascript

[2019-10-14 18:24] matthidinger commented on #3453
Hi @EasyRhinoMSFT are you just trying to get the item from the object model? Or are you trying to get the underlying WPF Framework Element that was rendered? Can you explain more about what you're trying to achieve?

[2019-10-14 19:56] EasyRhinoMSFT commented on #3453
Hi Matt, I just want to get the object from the OM, e.g. var myElement = myAdaptiveCard.FindById("textBlock_Footer");
So what's needed is a method on the AdaptiveCard class that does a recursive search of the entire object hierarchy. It would also be possible to write my own utility method if AdaptiveCollectionElement provided an Items<AdaptiveElement> property.

[2019-10-14 20:15] corinagum commented on #3521
Potentially you could fiddle with the defaultStyleOptions' `bubbleMaxWidth`, `bubbleMinWidth` in Web Chat and the word-wrap configurations in native styling of the card button. However my strong recommendation would be to consolidate button text as much as possible. :)

[2019-10-15 04:18] shalinijoshi19 commented on #3271
@arpitgupta19 assigning to you to help with @nesalang's questions

[2019-10-15 11:46] RajaniJillaGit commented on #3394
Hi Team,

Any update on this ? Could you please confirm by when release can happen in teams ?

Thanks

[2019-10-15 12:50] ThomasPe commented on #2448
seems to be working fine for me as well.
the binding does not seem to work when the property name has a number in it, so Location1 & Location2 failed for me while LocationX & LocationY work fine. Not sure if that's a known issue.

[2019-10-15 17:25] matthidinger commented on #3502
Hi @atishayv

I've been researching how other similar JSON-based expression languages work, and all of them seem to rely on the Excel-like pattern of explicit functions as opposed to operators.

IMO it's a little more difficult to read, but definitely makes writing the template engines simpler and more extensible. I'm reaching out to the respective teams here at Microsoft to understand the backsto

[2019-10-15 19:46] atishayv opened #3523 "[JavaScript] TextRun with empty text generates an uncaught exception that prevents the card from rendering"
# Platform
* JavaScript

# Author or host
Host Name : Microsoft Search

# Version of SDK
adaptivecards-designer@0.7.1

# Details
In the below example, the $when condition ends up generating a TextRun with an empty text, which causes the card to fail rendering:

[code]

[2019-10-15 21:59] shalinijoshi19 commented on #3513
@nesalang took a look at this today and let me know that this is just a documentation issue at this point. @Visinghr FYI this shouldn't be a blocker

[2019-10-16 18:01] matthidinger commented on #2448
Hi @ThomasPe, that's an interesting topic we're evaluating right now: type coercion. Hopefully we'll have that up for review soon, but if you were able to share more about your template payload, data, and your opinion on the most reasonable expected behavior it would be great information for us as we evaluate proposals.

[2019-10-17 15:17] nesalang commented on #3519
@tnev @shalinijoshi19
Hello,
we can add this feature to iOS. basically, it will allow registering custom targets for actions. action rendering involves creating button and adding the targets. Since SelectAction is adding the targets to existing UI elements such as UIImageView, current action renderer registration will not work and a new target registration is needed.
And I could share a branch tha

[2019-10-17 21:26] paulcam206 commented on #3461
This code has been removed for now. However, I'm leaving this issue open to track the possibility of eventually adding this functionality back in :)

[2019-10-18 17:04] buildbod opened #3525 "Include guidance that images cannot behind authentication"
My suggestion is to add extra detail to the documentation to clarify where images should be stored for them to render.

You are likely to encounter rendering issues esp. in applications like Outlook if your image is stored in a service like SharePoint that requires authentication.

Typically images in SharePoint will be rendered in the Designer especially if you cut the extraneous baggage and defi

[2019-10-18 21:31] paulcam206 opened #3527 "[UWP] Accessible names missing from some action buttons"
In UWP, buttons don't have an accessible name. This isn't a problem for plain buttons, as accessibility tools are smart enough to infer that the text of the button is the name. However, for buttons that have an `iconUrl`, the tools can't infer because there are too many children. We should probably set the accessible name on all of our buttons.

[2019-10-21 06:43] Trinetra-MSFT commented on #3497
@dawwa, We have tested this for Teams desktop, web and mobile versions but could not able to reproduce. When we click on `Join This Meeting` button in adaptive card we are able to see the meeting room, Please take a look at screenshot

![image](https://user-images.githubusercontent.com/50989436/67182085-fc7e7e80-f3fb-11e9-804e-8d99fb2d1cfb.png)

![image](https://user-images.githubusercontent.com/5

[2019-10-21 08:01] Visinghr commented on #3513
@shalinijoshi19  I am not sure, I have raise any issue against AdaptiveCard or not. If you meant to mention someone else. then you please check.

[2019-10-21 18:13] RebeccaAnne commented on #3460
We'll need to spec what we want the default host config to be for highlighter colors.

[2019-10-21 18:15] RebeccaAnne commented on #3463
@banubhooti could you please let us know if you're still seeing this, and if so share a sample json payload? Thanks!

[2019-10-21 18:19] RebeccaAnne commented on #3476
Let's confirm that the desired behavior is to return information for audio/video as well. Does this work in javascript?

If it already works everywhere except .NET we should just fix it.

[2019-10-21 19:28] #3527 closed

[2019-10-22 00:51] #3506 closed

[2019-10-22 07:36] shbhadra opened #3531 "[Android] Newline Character ("\n") inside TextBlock not rendered"
# Platform
* Android

# Author or host

Host

# Version of SDK

1.2.0

# Details
Newline escape character ("\n") used inside a textBlock does not get rendered. With reference to the attached screenshot, "2 things", "1) ... " and "2) ..." should have appeared on a new line. The same however works fine on iOS and web.

<img width="283" alt="newline_card" src="https://user-images.githubusercontent.co

[2019-10-22 10:48] atishayv opened #3532 "[JavaScript] Drag & drop of elements in designer is not working in Safari"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

adaptivecards-designer@0.7.1

# Details

In `https://vnext.adaptivecards.io/designer/`(only for Safari) I am not able to drag and drop any card element into designer

[2019-10-22 15:52] JoshuaSullivan opened #3533 "[iOS] [Layout] Incorrect ColumnSet layout when custom elements are present"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

We are a host for cards that we are authoring internally on our back-end.

# Version of SDK

iOS SDK v1.2.3

# Details

When we render adaptive cards that contain custom interface elements, the layout incorrectly ignores the "stretch" width setting on columns in the same column set,

[2019-10-22 15:55] JoshuaSullivan commented on #3533
<img width="356" alt="image" src="https://user-images.githubusercontent.com/698249/67304994-4d54ac80-f4ba-11e9-80f3-1604636d4598.png">

Here's a screen shot of the view debugger that shows the inner view bounds are correct, but the columns holding the views are expanding to fill all available space.

[2019-10-22 18:41] JoshuaSullivan opened #3534 "[iOS][URL Support] Telephony urls not recognized as such on iOS"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host rendering in-house authored cards.

# Version of SDK

iOS SDK v1.2.3

# Details

When a telephony link is embedded in text using markdown syntax, it is not being treated as a link on iOS. Instead, the entire markdown construct is printed out as plain text.

Example:
[code]

On t

[2019-10-22 19:14] dclaux commented on #3523
`{!!a==true}` isn't a valid expression. Use `{a==false}` or `{a!=true}` instead.

[2019-10-23 13:45] sayertherebel commented on #3480
So the ActionSet buttons in my Teams bot just lit up on the Desktop app.. which is awesome.. Does this mean changes are afoot?

[2019-10-23 15:44] RebeccaAnne commented on #3016
#3531

[2019-10-23 17:29] shalinijoshi19 commented on #3480
@siduppal / @clearab any updates on the Teams desktop 1.2 upgrade? Thanks!

[2019-10-24 21:51] paulcam206 opened #3535 "[Cortana UWP Ask] We need a way to expose a list of elements"
We currently allow lists to be expressed via markdown. However, on some platforms (probably all of the non-HTML ones), these are exposed to accessibility as a single block of text, which might not be easy to consume. Similarly, we don't currently have a way to describe elements in a container as a list of things. I haven't done a bunch of thinking on this, but I think we should consider adding a `

[2019-10-24 21:57] dclaux commented on #3535
I think this might only be the tip of the iceberg. I feel we need to look at accessibility holistically and pervasively update the schema with accessibility-specific properties.

[2019-10-24 21:58] paulcam206 commented on #3535
I agree, but I filed this to track a specific ask from a partner team :)

[2019-10-24 23:17] #3519 closed

[2019-10-25 06:06] vyomanaut opened #3536 "Rounded Corners and Dark mode on Cards"
webchat /bot framework
Rounded corners would add a charm to the already beautifull cards .

And a dark mode implementation of cards for bot framework, similar to the windows notifications . i am not sure if this already exists .

[2019-10-25 13:37] shalinijoshi19 opened #3537 "[.NET][Templating] API updates to align with JS"
# Platform
* .NET

# Details

For API consistency across the [Templating SDKs](https://docs.microsoft.com/en-us/adaptive-cards/templating/sdk)

1. Rename `AdaptiveTransformer` to `AdaptiveTemplate`
2. Rename the method `Transform` to `Expand`
3. Add the ability to register custom functions. This is crucial during the early phases where we are still determining the baseline set of functions across

[2019-10-25 16:54] #3513 closed

[2019-10-25 17:35] dawwa commented on #3497
this might be to the serialization/deserialization not sure from Teams side or AdaptiveCard side, as I noticed the Action.SubmitUrl turns to null after I transported the serialized card content through the wire.

[2019-10-25 18:56] Zenulous opened #3538 "[Javascript][Rendering/Templating] Invalid Action.OpenUrl url parameter can break card render on desktop Teams"
# Platform

* JavaScript

# Author or host

Teams

# Version of SDK

1.2.3

# Details

Previously when an invalid URL was passed to the `Action.OpenUrl` action (e.g. because invalid input was passed by a user from previous interaction with the bot) the corresponding action button would render alongside the card. In this case, this button would not do anything upon clicking it.

Since not too long

[2019-10-25 19:34] matthidinger commented on #3538
I have a feeling this is happening in the Agular code that "wraps" the Adaptive Card renderer. Are you able to reach out to the owner of that code and see what has changed?

[2019-10-28 14:39] iBoonz commented on #3357
Hi, Any updates on this? :)

[2019-10-28 16:31] shalinijoshi19 commented on #3534
@nesalang thoughts on this so far? Can you also update the bug with your findings? thanks!

[2019-10-28 20:05] matthidinger opened #3541 "[.NET WPF] Possible race condition in ParseContext.cs; causing 100% CPU usage in Azure Bot Service"
# Platform

.NET WPF

[2019-10-28 20:11] paulcam206 commented on #3541
might be the same as #3509

[2019-10-29 08:58] adumrewal opened #3542 "[iOS][Dark theme: Text Color] [Text color for toggle switch in dark mode is not being set properly]"
# Platform

* iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

Host: Teams App

# Version of SDK

1.2

# Details
The text color in dark theme for toggle switch is not being set correctly.

[2019-10-29 11:37] shbhadra opened #3543 "[Android][Button Icon Rendering] [Button icons placed on the left of the title are pushed out of the button, icon size not honored]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

Host

# Version of SDK

1.2.0

# Details

- Upon configuring the HostConfig to place the button icons to the left of the button title, the icons are pushed out of the bounds of the button.

- Icon size for the button icon as mentioned in the HostConfig is not honoured.

<img widt

[2019-10-29 12:49] Aditya0603 opened #3544 "[iOS][RichTextBlock] Rich text Block does not work on 1.2"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host
Host

If you're an author, who are you sending cards to?

1.2

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

None

Explain your issue. Rich text Block rendering does not work on iOS

Attached JSON

{
"$schema": "http://adaptivecards.io/schemas/adaptive-card.js

[2019-10-29 12:52] Aditya0603 opened #3545 "[iOS][Action.ToggleVisibility] Toggle Visibility action does not call the delegate didChangeViewLayout/didFetchUserResponses method"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host

If you're an author, who are you sending cards to?

# 1.2

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

None

Clicking on Action.ToggleVisibility type buttons does not call the delegate method to refresh the UI

[2019-10-29 17:13] shalinijoshi19 commented on #3543
@almedina-ms can you please take a look at this with high priority? It's blocking Teams mobile upgrade to 1.2* ; @matthidinger  FYI

[2019-10-29 18:09] almedina-ms commented on #3543
For the image size that's by design, only if the icon is on top of the action test then we honour the iconSize property, otherwise it must match the size of the text next to it. Looking at the icons being pushed out of the button

[2019-10-29 19:21] nesalang commented on #3545
fixed via #3513

[2019-10-29 19:21] #3545 closed

[2019-10-29 19:23] nesalang commented on #3542
@adumrewal
can you give us an screenshot, json payload, and etc to better understand the issue?

[2019-10-29 19:27] nesalang commented on #3544
this works for sample app.
![Simulator Screen Shot - iPhone 8 - 2019-10-29 at 12 24 24](https://user-images.githubusercontent.com/4112696/67801779-23b1fd00-fa47-11e9-9ba2-dbe7a72a8983.png)

Is it possible that rich text block renderer does not exist, or it's not registered with the registration?

please see our default implementation of ACRRichTextBlockRenderer.mm

[2019-10-30 04:57] shbhadra opened #3549 "[Android][verticalContentAlignment for a container not being honoured]"
# Platform
* Android
# Author or host
Host
# Version of SDK
1.2.0
# Details
The "verticalContentAlignment" always renders to "top" even if specified otherwise ("center", "bottom"). With reference to the following screenshot, the second line should have been placed centrally to the card, and the third line should have been placed at the bottom of the card.
<img width="389" alt="vert_content" src="h

[2019-10-30 07:29] VikrantSingh01 commented on #3545
Pls share the SDK release details @nesalang

[2019-10-30 07:29] VikrantSingh01 commented on #3531
Needed for Teams Mobile Platform

[2019-10-30 07:30] VikrantSingh01 commented on #3543
Needed for Teams Mobile Platform

[2019-10-30 09:56] adumrewal commented on #3542
class ACRToggleInputDataSource
cellForRow, cell uses textlabel.textColor to be default black, so does not work on dark mode

PFA the screenshot.
![IMG_0015](https://user-images.githubusercontent.com/8917620/67847863-9a272b80-fb29-11e9-9d6c-3afc72320e24.PNG)

[2019-10-30 11:33] shbhadra commented on #3543
@almedina-ms For the screenshot in the above description, the icon size is smaller than the text size too, and the icon size in the hostConfig is set to be very large and is thus not smaller than text size because of a host configuration.

[2019-10-30 17:58] ericrrichards opened #3550 "[Website] Filter Documentation by Schema Version"
It's probably a lot of work to do, but it would be very helpful to be able to filter the schema documentation by a maximum AdaptiveCards version.

For instance, I do a lot of work with Microsoft Teams, which still only supports 1.0 properties and elements, so I really only want to see the docs on the bits and pieces that will work with that version of the spec.

---
* URL: https://adaptivecards.io

[2019-10-30 19:25] matthidinger commented on #3550
Thank you for the feedback on this! That's a great suggestion worth adding to the Schema Explorer.

We are actually working on adding a Version Selector to the Designer in PR #3508. This drop-down will update the Toolbox and Properties based on the version selected.

![image](https://user-images.githubusercontent.com/1432195/67891628-2fb5c180-fb10-11e9-99b1-ec727d280501.png)

Hopefully we'll have

[2019-10-30 20:45] #3509 closed

[2019-10-30 20:45] #3541 closed

[2019-10-30 20:49] #3386 closed

[2019-10-30 23:22] jwoo-msft opened #3551 "[.Net][Input.Choiceset's Text's foreground Doesn't Adapt to Parent's Container Background color]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF
* UWP
# Details

![image](https://user-images.githubusercontent.com/4112696/67906206-1ffaa500-fb31-11e9-8f16-f219c20dbe27.png)

As the screenshot shows, text's foreground color doesn't adapts to parent view's background color
However, this scenario works with Input.Toggle as shown in the screensho

[2019-10-31 07:13] Aditya0603 opened #3553 "[iOS][Action.ShowCard] ShowCard not expanding the card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host
If you're an author, who are you sending cards to?

# 1.2

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

# Details

ShowCard action does not expand the card on adaptiveCards v1.2, seems to be working fine on 1.3

Inline is the payload

{"body":[{"items":

[2019-10-31 08:11] shbhadra opened #3554 "[Android][Element Rendering] [Spacing within Choice sets not rendered]"
**this needs to be fixed for radio button as well**

# Platform
* Android
# Author or host
Host
# Version of SDK
1.2.0
# Details
There is no spacing between the elements in a choice set, for an "expanded" style of the choice set, for both checkboxes and radio buttons. The issue is illustrated in the image below
<img width="292" alt="choice_without_wrap" src="https://user-images.githubusercontent.c

[2019-10-31 17:04] nesalang commented on #3553
@Aditya0603
You said "seems to be working fine on 1.3" What's 1.3? Our next version will be 1.2.4

[2019-10-31 20:21] corinagum commented on #3287
+1, though behavior has changed slightly. On Web Chat, we have used "value": 1 in the past, which would show the default value as 1. However when bumping to 1.23 recently there was a change where the 1 is no longer inserted as a value, so the input is blank. "value": "1" does work, however.

[code]
The above code shows an empty input in the visualizer.

Particularly in contrast with the min and ma

[2019-10-31 22:24] v-kydela commented on #3287
When considering that all Adaptive Card inputs send their submitted values to the bot as strings, it might make the most sense for Input.Number to _only_ accept a string value, like the other inputs. It seems like this new behavior reflects that idea.

[2019-11-01 00:36] almedina-ms opened #3560 "[.NET] Get a lasting fix for NET pipeline"
# Platform

* .NET

# Details

.NET build pipeline is failing intermitently and an investigation must be made to understand why does it happen

[2019-11-01 17:00] paulcam206 opened #3562 "[UWP] Action.OpenUrl buttons should appear as links to accessibility"
Per a partner team's accessibility review, `Action.OpenUrl` buttons in UWP should be reported as a `hyperlink` type so their behavior lines up with their name.

[2019-11-01 20:43] #3562 closed

[2019-11-01 20:46] susanshen96 opened #3563 "[TS] Empty fact title shows up as 'Title' instead of a blank"
# Platform

* Typescript

# Version of SDK

1.2.3

# Details
When a title is not provided for Fact, the default value is now 'Title' instead of a blank.

I'm using Microsoft Teams, and this is how the card used to render, with the 1.0 SDK.
![image](https://user-images.githubusercontent.com/10697383/68055377-c23f9780-fcad-11e9-9b1a-733f9f7a199b.png)

With the update to 1.2, this is what the card lo

[2019-11-01 20:51] susanshen96 opened #3564 "[TS] Column default width is now 'auto' instead of 'stretch'"
# Platform

* Typescript

# Version of SDK

1.2.3

# Details

We've been seeing a regression in how some columns are being rendered on cards. It seems that the default width, when no value is provided by the developer, is now 'auto' instead of 'stretch', which is causing some 1.0 cards to break in terms of previous styling. I've included a screenshot of a sample card that exhibits this behavior.

[2019-11-04 05:06] #3544 closed

[2019-11-04 11:15] rutujlangalia commented on #3463
Hi @RebeccaAnne ,

I am facing similar issue in teams where selection disappears for adaptive cards Input.Text and Input.Choice.

Please find attachment for example json.
Suggest a way to overcome this issue.

[ExampleJson.txt](https://github.com/microsoft/AdaptiveCards/files/3803702/ExampleJson.txt)

[2019-11-04 18:02] shalinijoshi19 commented on #3532
@dclaux could you help take a stab at this real quick? Also @atishayv is this only the vnext that you are seeing this behavior for or also adaptivecards.io/designer ?

[2019-11-04 18:05] shalinijoshi19 commented on #3538
@Zenulous FYI on @matthidinger 's question above for you.

[2019-11-04 18:06] shalinijoshi19 commented on #3549
@almedina-ms  FYI; Could you please prioritize this for the November release for Teams? Thanks

[2019-11-04 18:12] shalinijoshi19 commented on #3551
@nesalang, is this a WPF renderer only bug? What is the behavior on the other platforms here? This looks like something we should fix - @RebeccaAnne , @paulcam206 , @matthidinger , @dclaux  for thoughts/comments here also.

[2019-11-04 18:14] shalinijoshi19 commented on #3553
@nesalang assigning to you for investigation; @Aditya0603 is this also being tracked for 1.2.* upgrade on the teams side?

[2019-11-04 18:15] shalinijoshi19 commented on #3554
@almedina-ms can you help pick this up for the November release as part of the Teams blocker bugs? Thanks

[2019-11-04 19:13] shalinijoshi19 commented on #3564
@dclaux / @matthidinger  FYI moved to triage-investigate as David has picked this up for investigating (_we update the label and it will automatically move to the right projectboard column_)

[2019-11-04 19:13] shalinijoshi19 commented on #3563
@dclaux / @matthidinger FYI moved to triage-investigate as David has picked this up for investigating (we update the label and it will automatically move to the right projectboard column)

[2019-11-04 19:29] nesalang commented on #3553
@shalinijoshi19 ,
@Aditya0603 confirmed that it's no issue on the latest; I will mark it with low priority, and come back later, once teams finishes 1.2.4 integration.

[2019-11-04 20:10] dclaux commented on #3563
No investigation is needed, this is a regression and it needs to be fixed.

[2019-11-04 20:11] nesalang commented on #3551
@shalinijoshi19
UWP has same issues.
we haven't defined behavior for text foreground color for inputs.

[2019-11-04 20:21] dclaux commented on #3538
Evidence points to this being a regression in the host code, not the JS library. You can check using [the visualizer](https://adaptivecards.io/visualizer/index.html?hostApp=Bot%20Framework%20WebChat) that the url parameter is correctly passed to the host, even if it includes a line break character.

[2019-11-04 22:07] shalinijoshi19 commented on #3563
Great. Thanks for confirming; In that case I just simply add the Triage-Approved for Fix label and the automation takes care of the rest of the workflow..

[2019-11-04 23:40] shalinijoshi19 opened #3566 "[.NET] Breaking change AdditionalProperties type-change to SerializableDictionary preventing Cortana upgrade to 1.2*"
# Platform

* .NET

# Author or host

Author ==> Cortana Skills

If you're an author, who are you sending cards to?
 Cortana UWP on the desktop

# Version of SDK

1.2.3

# Details

With adaptiveCards release 1.2.3, we accidentally absorbed the fix for #3454 which is a breaking change and should not have been included in the 1.2 patch release train.

[2019-11-05 00:07] #3566 closed

[2019-11-05 00:09] shalinijoshi19 commented on #3566
Fixed in release/1.2 via #3565

[2019-11-05 04:56] gturbahn1 commented on #3480
Hi folks, is there any update on this. Is support for 1.2 adaptive cards part of the MICROSOFT reignite release?

[2019-11-05 10:43] nimercer opened #3568 "[UWP][Markdown] Markdown not working on UWP"
# Platform

UWP

# Author or host

Host

If you're an author, who are you sending cards to?

n/a

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

1.2

Markdown does not appear to be working with UWP.

![image](https://user-images.githubusercontent.com/48482128/68201051-f3bfa800-ffb8-11e9-89d3-143d0ec64b2c.png)

Same json in adaptivecards.io designer:

![image](https://user-i

[2019-11-05 11:36] shalinijoshi19 commented on #3480
Hi, @gturbahn1 unsure if this is being targeted for Ignite and what platform you are looking for updates on,  (@siduppal for comment here for timeline) but we are working through a few more remaining integration issues this month with Teams Desktop + Mobile to enable them to be able to fully get on v1.2* on time for their next refresh. Stay tuned and know that we are actively engaged here on makin

[2019-11-05 17:31] nesalang commented on #3568
this isn't bug on UWP. We only support subset of markdown. It's actually inconsistency bug on TS render (one used for designer).

[2019-11-05 17:50] nimercer commented on #3568
Ahh thanks for the replying here - no this is from an old bug on our side and not a regression, my confusion came from the fact that the markdown works in the adaptive cards online designer.
In this case the json coming is invalid and we can close this on your side 😀

[2019-11-05 17:50] #3568 closed

[2019-11-05 18:44] kunishan opened #3569 "Inline Image Support in RichTextBlock"
**What platform is your feature request related to? (Delete other platforms).**

* All platforms

**Is your feature request related to a problem? Please describe.**
We are trying to add inline image icons to our text with the text flowing under the image in the next line for a multi line text.

**Proposed solution**
Add the ability to include image inlines in a RichTextBlock, e.g.:

[code]

[2019-11-05 18:58] VikrantSingh01 commented on #3271
@arpitgupta19  : Can you pls. get this updated.

[2019-11-05 19:15] v-kydela commented on #1788
Rather than having tooltips depend on how the HTML is rendered, could we perhaps give elements a tooltip property that allows for explicitly-defined tooltips?

[2019-11-05 19:23] VikrantSingh01 commented on #2666
Need #MsftTeams-Integration label @shalinijoshi19

[2019-11-05 19:24] VikrantSingh01 commented on #3196
This bug need #MsftTeams-Integration label @shalinijoshi19

[2019-11-05 19:25] VikrantSingh01 commented on #3544
This bug need #MsftTeams-Integration label @shalinijoshi19

[2019-11-05 19:25] VikrantSingh01 commented on #2665
This bug need #MsftTeams-Integration label @shalinijoshi19

[2019-11-05 19:26] VikrantSingh01 commented on #3545
This bug need #MsftTeams-Integration label @shalinijoshi19

[2019-11-05 19:30] VikrantSingh01 commented on #3531
This bug need #MsftTeams-Integration label @shalinijoshi19

[2019-11-05 20:37] shalinijoshi19 commented on #3544
@nesalang , @Aditya0603  / @VikrantSingh01 was the reason for closing this bug understood?

[2019-11-06 05:41] ankuraren4u opened #3572 "[Web][Avatars] Person avatars are not always circular"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host

Host: Microsoft Teams

# Version of SDK
1.4.0

# Details
For adaptive card having style as "Person", the person image which are not square are shown as "Oval" and not circular. On Android the image is always shown as Circular and also adaptive card specification says that user

[2019-11-06 11:58] rutujlangalia opened #3573 "[.NET C#][Input.ChoiceSet] [adaptive card dropdown title with double quotes rendering issue]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET C#

# Dropdown rendering title value containing double quotes is getting replaced with "&quot"

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name. : **Microsoft Teams**

# 1.2.0

# Details

We ar

[2019-11-06 18:56] #3563 closed

[2019-11-06 18:56] #3564 closed

[2019-11-06 22:08] RebeccaAnne opened #3575 "[UWP][Action.ShowCard] Nested show cards don't work in popup mode"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details
If actionMode is set to "popup" in host config:
[code]
Nested show cards don't pop up.  Consider this card:
[code]
When the show card action on the main page is pressed, the show card pops up like this:
![image](https://user-images.githubusercontent.com/9091833/68342027-8e45e700-009e-11ea-8e

[2019-11-07 00:10] shalinijoshi19 opened #3576 "WCAG 1.4.3: Elements must have sufficient color contrast (div)"
#### Issue
`Elements must have sufficient color contrast` ([color-contrast](https://dequeuniversity.com/rules/axe/3.3/color-contrast?application=msftAI))
#### Target application
[Schema Explorer | Adaptive Cards](https://adaptivecards.io/explorer/)
#### Element path
button[aria-label="OK"] > div
#### Snippet
`<div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">OK</div>`
##

[2019-11-07 00:12] shalinijoshi19 opened #3577 "WCAG 1.4.3: Elements must have sufficient color contrast (div)"
#### Issue
`Elements must have sufficient color contrast` ([color-contrast](https://dequeuniversity.com/rules/axe/3.3/color-contrast?application=msftAI))
#### Target application
[Schema Explorer | Adaptive Cards](https://adaptivecards.io/explorer/)
#### Element path
.expandable > div
#### Snippet
`<div class="" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Comment</div>`

[2019-11-07 04:26] atishayv commented on #3502
@matthidinger The syntax looks good, but it would be better if we can utilize already existing expression-based language instead of writing the new one if it fits our requirements.

Also, is it not possible to use js in expression instead of a JSON-based expression language. Something like :
`
{
   "type": "TextBlock",
   "$when": "{(price > 20 && qty < 5)",
   "color": "{if(price > 10 && qty = 0)

[2019-11-07 04:58] atishayv opened #3578 "[JavaScript][The adaptive card flickers on changing text block value if there is an image url which is data binded in template]"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

adaptivecards-designer@0.7.1

# Details

Go to : https://vnext.adaptivecards.io/designer/

Paste this in `Card Payload Editor` :

[code]

and paste this in `Sample Data editor` :
[code]
In the unpreview mode, select the text block and change the `text` value of `TextBlock` in `Element Properties`.
While typ

[2019-11-07 05:09] atishayv commented on #3523
What I wanted to achieve with the condition is :
If the value is not defined or null, it should evaluate to false otherwise it should evaluate to true. The type of data-bound variable `a` is not necessarily Boolean.

Can you please tell me how can it be achieved?

[2019-11-07 06:33] dclaux commented on #3502
No, it is not possible to use JS in expressions, and that isn't a goal. What you suggest above can be written the way Matt suggested (aside from the fact we currently don't support and/or operators), and doesn't require complex code parsing.

[2019-11-07 07:25] sanjay2880 opened #3579 "Anchor tag is not coming when using adaptivecard lib in angular 4 application"
# Details

Explain your issue. If you just have a question, please post [on StackOverflow instead](https://stackoverflow.com/questions/tagged/adaptive-cards).

I am using adaptivecard lib with directline to display the cards. However I am not getting the anchor tag. It is working on other channels. e.g. "text": "ER-13052"

[2019-11-07 14:05] VikrantSingh01 commented on #3154
We may need #MsftTeams-Integration tag here as well @shalinijoshi19

[2019-11-07 15:46] atishayv commented on #3532
@shalinijoshi19  This is happening for adaptivecards.io/designer also

[2019-11-07 16:34] dclaux commented on #3532
This is due to how image fallback is handled. I can do better when the target image size is known in advance (like in this case) by showing a fixed placeholder. When "stretch" or "auto" are used the image size isn't known until the image has loaded, so I can't fully eliminate the flickering, but maybe I can reserve a minimum amount of space all the time, enough to show the fallback image.

[2019-11-07 22:45] susanshen96 opened #3580 "[TS] Column width no longer accepts decimals as valid values"
# Platform

* Typescript

# Version of SDK

1.2.3

# Details

On Teams, we've discovered that an app that has been using adaptive cards has been setting the width of a column to 2.6, and the card now rendering differently than what it used to. It seems that the SDK renderer no longer accepts decimal values as valid values for column widths, and is treating it as invalid and setting it to the defau

[2019-11-08 08:48] FelixZhang001 opened #3581 "[IOS][Layout] verticalContentAlignment with "center" doesn't take effect in container"
# Platform

* iOS

# Author or host

Host - Teams IOS

# Version of SDK

latest master.

# Details

Tried to use adaptive card lastest master branch sample app to test below payload.
Seems that "verticalContentAlignment": "center" doesn't take effect and the avatar image position is not correct.

{
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Container",
      "it

[2019-11-08 09:20] daniel0x00 commented on #3480
+1. I’ve been waiting a lot for Teams to be at least v1.2 ready to be able to use Action.ToggleVisibility. My use case affects 1000+ people. I work in a large organisation of 100.000+ employees, for sure we have more colleagues waiting for this feature to be able to show lengthy adaptive cards.
Thanks.

[2019-11-08 19:55] RebeccaAnne opened #3582 "[UWP][ShowCards] Show Card styling bleeds into subsequent elements"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When a show card is present in an action set and additional content follows, the show card styling bleeds into the subsequent elements.

Card with show card collapsed:
![image](https://user-images.githubusercontent.com/9091833/68506448-8745e280-021e-11ea-8c6d-4b42216fab55.png)

Card with sh

[2019-11-08 21:22] paulcam206 opened #3583 "Inconsistencies spec"
Need to pull together a spec covering what inconsistencies currently exist for our renderers, along with a plan for addressing them and preventing them in the future.

[2019-11-08 21:26] anprabhu opened #3584 "AdaptiveShowCardAction default clicked setting"
Hi,
I am using the Action.ShowCard element in my adaptive card to display multiple sub cards. At this point, these are not set to show up by default. Can we get a field in this element where we can specify whether the sub-card should be displayed by default in the Action.ShowCard element? It will give better control over how the UI displays by default.

I also tried using the ToggleVisibility acti

[2019-11-08 21:51] RebeccaAnne commented on #3584
@anprabhu thanks for reaching out and for the suggestion. In terms of how to solve your problem using the existing (1.2) schema, I think you can make it work using toggle visibility and a container with isVisible set to false. Would something like this work for your scenario:

[code]

[2019-11-09 18:55] #3580 closed

[2019-11-10 06:12] HindoliyaYogesh commented on #3480
I received the following response in the Partner Community from one of Microsoft Guys.

Hope this helps.

[2019-11-11 01:04] SPDoctor opened #3588 "[Platform][Broad Issue Category if applicable (eg Accessibility)] [Bug Title]"
# Platform

* JavaScript

# Author or host

Samples page - http://adaptivecards.io/samples

# Version of SDK

latest?

# Details

The page http://adaptivecards.io/samples does not render the card. This is because the link to pull in fontawesome doesn't work, presumably because of a typo in which @fontawesome is spelled @fortawesome. There is also a script error with a missing parenthesis in https:

[2019-11-11 07:53] leon830228 opened #3589 "Accessibility Support for AdaptiveCards"
Hello,
I'd like to understand if the accessibility support has been scoped for AdaptiveCards. I didn't find it for AdaptiveCards 2.0 in https://adaptivecards.io/roadmap/, and there is no clear plan on https://github.com/microsoft/adaptivecards/issues/2024.

Please give an update even it is a high level plan that would be great. Thank you!

---
* URL: https://adaptivecards.io/roadmap/

[2019-11-11 12:43] rutujlangalia commented on #3463
Hi @RebeccaAnne ,
Any updates on the issue?

[2019-11-11 16:50] shalinijoshi19 commented on #3581
@nesalang could you take a first stab pls? Thanks

[2019-11-11 16:53] shalinijoshi19 commented on #3244
@siduppal / @susanshen96 could you help take a look at this real quick please?

[2019-11-11 17:26] RebeccaAnne commented on #3463
@rutujlangalia What platform is teams running on in your scenario?

[2019-11-11 17:53] VikrantSingh01 commented on #3545
As per the above comment. It's fixed in AdaptiveCards@v1.2.4.

[2019-11-11 18:37] shalinijoshi19 commented on #3543
@almedina-ms please take a look at @shbhadra 's comment above around iconsize ? thanks

[2019-11-11 18:46] shalinijoshi19 commented on #3531
@RebeccaAnne / @matthidinger / @paulcam206 I could have sworn there was a newline support in textblock discussion somewhere in an issue a while back? Could one of you add a link to it here at all? Thanks

[2019-11-11 18:52] RebeccaAnne commented on #3531
#3016

[2019-11-11 19:05] almedina-ms commented on #3549
@shalinijoshi19 , the verticalContentAlignment needs extra space for being able to render the contents of a container in different positions, for the Android renderer doesn't have APIs for defining the size of a card (not sure about the story for this) so the base card is always rendered with as much vertical space as needed (not as asked), so Containers in the root of a card won't render the cont

[2019-11-11 20:22] paulcam206 opened #3591 "[UWP][Accessibility] SelectActions should be exposed to accessibility as links"
Currently, elements with a `selectAction` are shown to accessibility as `button`, but they should be of `link` type.

[2019-11-11 20:33] nesalang opened #3592 "[iOS/Android][Frictionless SDK consumption]"
**What platform is your feature request related to? (Delete other platforms).**

* Android
* iOS

**Is your feature request related to a problem? Please describe.**
try find out issues developers may facing using our mobile SDKs, and understand the frictions devs are facing, and remove the frictions.

[2019-11-12 05:19] rutujlangalia commented on #3463
@RebeccaAnne ,
I am using Windows as Teams platform.
Microsoft Teams Version : 1.2.00.27559 (64-bit)

[2019-11-12 15:59] nimercer opened #3595 "[UWP] Symbols incorrectly published for UWP."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Author or host

Host: Cortana UWP.

# Version of SDK

Currently upgrading to 1.2.4

# Details
The symbols for the UWP renderer are uploaded automatically to the nuget symbol server using the -Symbol flag on nuget pack. However, this server only supports managed code so the symbols can never be found

[2019-11-12 17:37] matthidinger opened #3598 "[WPF] Rendering issues in Visual Studio extension (image & separator margins)"
# Platform

* .NET WPF

# Author or host

Host (Visual Studio Extension)

# Version of SDK

* AdaptiveCards.Rendering.Wpf 1.2.4
* AdaptiveCards.Rendering.Wpf.Xceed 1.2.4

# Details

Building a Visual Studio extension and sharing the same Host Config with VS Code.

- [Host Config used](https://templates.adaptivecards.io/teamwork.com/config/teamworkDark.json)
- [Card template used](https://templates

[2019-11-12 17:39] matthidinger commented on #3598
@DeeJayTC FYI

[2019-11-12 18:34] #3588 closed

[2019-11-12 18:35] matthidinger commented on #3588
Thanks for filing this! It'll be resolved in the deploy that goes out in ~30 mins

[2019-11-12 19:42] dclaux opened #3600 "[TS][Rendering] Column fallback broken"
# Platform

* JavaScript

# Author or host

Host

# Version of SDK

1.2 (all builds)

# Details

A regression was introduced in the logic of column fallback, and certain payloads fail to render, such as this one:
[code]

[2019-11-12 22:48] shalinijoshi19 commented on #3125
@nesalang could you take a look at the blurb from @jjustinms see if we still need to keep this bug on us or if we can hand it over to the Teams side for tracking #1 & #2 in Justin's note above. @siduppal FYI (_there isnt work at our end for this bug at the moment but I'll let @nesalang  confirm before handoff_ ) thanks!

[2019-11-12 22:52] shalinijoshi19 commented on #1911
@VikrantSingh01 this isn't a bug on AdaptiveCards but rather blocked on Teams upgrading to 1.2.* ; Assigning to you for tracking

[2019-11-12 22:54] shalinijoshi19 commented on #3271
@VikrantSingh01 heads up this is likely to get cut from our list (we are tracking ZBB for next week) since we haven't heard back from @arpitgupta19

[2019-11-12 22:57] shalinijoshi19 commented on #3324
@siduppal / @VikrantSingh01 this looks to be something that we dont support in AdaptiveCards at the moment but something that needs tracking over on the Teams side looks like; Per @paulcam206's comment above the teams bug is  MicrosoftDocs/msteams-docs#388

[2019-11-12 23:04] shalinijoshi19 commented on #3553
@Aditya0603 / @VikrantSingh01 can you please confirm where/what branch/what iOS package version you are observing this bug on so we know to decide on our next steps?

[2019-11-12 23:07] shalinijoshi19 commented on #3581
@nesalang is looking into this. Thanks

[2019-11-12 23:37] #3591 closed

[2019-11-12 23:43] matthidinger commented on #3578
Thanks for filing this!

@dclaux any thoughts here? As mentioned this long happens in non-preview mode, presumably since it tries to redownload an image that doesn't exist (and isn't even a valid URL). This actually points at something else, should we really show the sad face if the URL is data bound? I know the renderer doesn't explicitly know what templating is, but is there anything we can do t

[2019-11-12 23:50] dclaux commented on #3578
I was certain I had posted a comment here... weird.

We have to show the sad face or a whatever placeholder, otherwise users might not even realize they have an empty image in their card.

We can improve the logic for when the placeholder is shown and how it is sized:
- We can always show a placeholder as the image loads, rather than only if the image fails to load
- If the image's "size" is speci

[2019-11-13 01:27] shalinijoshi19 commented on #3549
@nesalang could you help with next steps here? Based on what @almedina-ms mentions this has been an inconsistency right from the start in Android..
@shbhadra / @VikrantSingh01  this doesn't appear to be a regression in Android but something that has always existed on the Android side looks like. We could tackle this as part of the inconsistency investigation between iOS and Android that @nesalang

[2019-11-13 09:12] Oscar-Navarrete-Estevez commented on #457
Any update on this? (Last comment was added several months ago)

[2019-11-13 10:04] GeorgianaMihaela opened #3604 "[Input.Date in Teams] Customize Input.Date current date rendering in Teams"
**What platform is your feature request related to? (Delete other platforms).**

* .NET Core
* JS
* Adaptive cards in MS Teams inside Chat bot

**Is your feature request related to a problem? Please describe.**
I use a simple Input.Date in adaptive card.
In Teams, the date is rendered with white, if the default Teams theme is chosen:

![image](https://user-images.githubusercontent.com/13887936/687

[2019-11-13 10:22] shbhadra opened #3605 "[Android][Rendering Discrepancy between Android and web] [For Choice sets with compact style, when no option is explicitly pre-selected, first option gets pre-selected]"
# Platform
* Android
# Author or host
Host
# Version of SDK
1.2
# Details
For choice sets of the type shown below in the screenshot, even if no value is specified to be pre selected, the first option shows up pre selected.
<img width="359" alt="Screenshot 2019-11-13 at 3 49 27 PM" src="https://user-images.githubusercontent.com/51158485/68754707-36265c00-062d-11ea-9163-0822c5fe64a0.png">
On the oth

[2019-11-13 16:46] shalinijoshi19 commented on #3605
@shbhadra thanks for reporting this.. I am trying to understand if this is something that is new with 1.2 (and hence a blocker for December for you) or something that you are running into as you upgrade but has persisted pre-1.2 ? Thanks

[2019-11-13 16:54] nimercer opened #3606 "[UWP] Renderer binaries are not static analysis friendly"
**What platform is your feature request related to? (Delete other platforms).**
* UWP

**Is your feature request related to a problem? Please describe.**
Our compliance process requires binaries to be built with /profile to generate additional context for mandatory static analysis.

**Describe the solution you'd like**
Add the /profile linker option. This should not change our dll from its existin

[2019-11-13 17:58] #3542 closed

[2019-11-13 19:19] #3606 closed

[2019-11-13 19:34] paulcam206 opened #3609 "[SharedModel] DateAndTime tests failing in CI"
Presumably this is due to a change in the test execution environment, as neither the test code nor the implementation have changed. See discussion here: https://github.com/microsoft/AdaptiveCards/pull/3607#issuecomment-553551998

[2019-11-13 22:44] daniel0x00 commented on #3480
Thanks a lot Yogesh, looking forward!

[2019-11-13 22:58] buildbod opened #3612 "Ability to access SharePoint URLs from Microsoft host apps"
**What platform is your feature request related to?**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
Images used in Adaptive Cards that are stored in SharePoint Online are not rendered in Adaptive Cards. This forces designers to use publicly hosted images and icons.

**Describe the solution you'd like**
Include support

[2019-11-14 05:14] shbhadra commented on #3605
@shalinijoshi19 I tried the same by checking out the 1.1 release branch in the SDK repo, and I could repro the issue there aswell, suggesting that the issue has been there from before and has only now been brought to attention by one of our partners. As to whether it is a blocker, @VikrantSingh01 would be in a better position to reply to that.

[2019-11-14 12:43] wal88 opened #3613 "[BotFramework] Different date format for Date Input"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* Android
* iOS

**Is your feature request related to a problem? Please describe.**
MM/dd/yyyy is not the typical format for many countries. I would like to change it to dd/MM (at least when displaying to users)

**Describe the solution you'd like**
An attribute to allow format change of displayed date. Ot

[2019-11-14 21:05] brettjenkins opened #3614 "[.NET] Deeplinks aren't behaving as expected in Teams"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET

# Author or host

Author

If you're an author, who are you sending cards to?

Microsoft Teams

# Version of SDK

NuGet 1.2.4

# Details

I think I've found a bug with how adaptive cards in teams handle Internal DeepLinks.

If I make my bot send a simple non-adaptivecard message that uses a deeplink t

[2019-11-15 18:40] vikramdadwal opened #3616 "Adaptive card Submit button issue"
# Platform

I have raised an issue with BOT webchat team, but it seems it could be an adaptive card issue. Please take a look:

https://github.com/microsoft/BotFramework-WebChat/issues/2605

* JavaScript

# Author or host

# Version of SDK

1.2.4

# Details

Explain your issue. If you just have a question, please post [on StackOverflow instead](https://stackoverflow.com/questions/tagged/adaptive-c

[2019-11-15 19:56] RebeccaAnne opened #3617 "[JS][ShowCards] Show card inputs are cleared if closed and reopened"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

If you show a show card, enter an input in that show card, and then close and re-open the show card, the inputted value is cleared:

1. In the below card, click the "Click here to personalize your item" ShowCard button.
2. Type something into the input
3. Close the show card and reop

[2019-11-16 11:10] nith-co opened #3619 "[Platform][Broad Issue Category if applicable (eg Accessibility)] [Bug Title]"

[2019-11-16 11:12] nith-co commented on #3619
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you sending cards to?

# Version of SDK

Wha

[2019-11-16 11:12] #3619 closed

[2019-11-16 20:49] viperfx commented on #3480
Looking forward to this update.

Will this update include Templating feature?

[2019-11-16 21:13] shalinijoshi19 commented on #3480
@viperfx Templating is a separate package still in pre-release/Alpha stage at this point. For details on  the AdaptiveCards features and [changes in 1.2.0](https://github.com/microsoft/AdaptiveCards/releases/v1.2.0) and other patch releases, please refer to our [release notes](https://github.com/microsoft/AdaptiveCards/releases)

[2019-11-18 17:06] dclaux commented on #3604
This is a Teams issue. I am checking with them to determine what's the best way to report it, and we update this issue once I know.

[2019-11-18 17:58] shalinijoshi19 commented on #3617
Assigning to @dclaux for a first look; @RebeccaAnne what's the  behavior on other platforms for reference again? Thanks

[2019-11-18 18:09] RebeccaAnne commented on #3617
@shalinijoshi19 Confirmed that at least UWP and .NET don't lose the user's input in this scenario.

[2019-11-18 18:10] shalinijoshi19 commented on #3616
@siduppal / @dclaux  FYI; @vikramdadwal what makes you think this is an AdaptiveCards issue please? I couldnt find a reference to this in the issue you reference above. @dclaux heads up.

[2019-11-18 18:10] dclaux commented on #3616
I'm not sure how that could possibly be an AC issue. Definitely seems to be a Teams problem.

[2019-11-18 19:05] shalinijoshi19 commented on #3616
@siduppal / @clearab could you please take a look at this and the referenced Teams issue to help us understand why this is suspected to be an AC issue? Thanks again!

[2019-11-18 19:06] shalinijoshi19 commented on #3572
@dclaux thoughts?

[2019-11-18 19:12] shalinijoshi19 commented on #3573
@paulcam206 can you take a first stab at this please? thanks

[2019-11-18 19:17] dclaux commented on #3572
Like the WPF renderer, the JS renderer favors maintaining the aspect ratio of images over enforcing that the "Person" style always be a square. It is always possible to obtain the desired result by forcing the dimensions of the image using the `width` and `height` properties specified in pixels.

[2019-11-18 19:19] shalinijoshi19 commented on #3595
This is fixed already.

[2019-11-18 19:19] #3595 closed

[2019-11-18 19:19] dclaux commented on #3604
Teams is aware of this bug and working on a fix. I am still waiting on official word as to what the appropriate channel is to report Teams bugs.

[2019-11-18 19:27] #3543 closed

[2019-11-18 19:39] shalinijoshi19 commented on #3572
Thanks @dclaux.  @ankuraren4u are you able to use explicit image sizes in place of the 'size' property here? Also what is the spec you are referring to again where you saw the mention around avatars being circular please ? @paulcam206 heads up here though still trying to figure out the extent of the inconsistency here and whether we are actually ambiguous wrt documentation or that we have this lai

[2019-11-18 19:52] dclaux commented on #3572
Note that currently the only "right" solution (e.g. the solution that will produce the actually desired result) for person images is to have the physical image itself be a square. Any non-square image forced into a perfect circle will lead to its original aspect ratio being lost, producing ugly results.

[2019-11-18 20:14] viperfx opened #3623 "[All][Templating] Nested models in Adaptive Card templates"
**What platform is your feature request related to?**

All

**Is your feature request related to a problem? Please describe.**

Currently, the complex examples such as Expense Report or Activity Update, have a concept of a data model showing a list of items in the UI. However, the data model does not have a clear and concise structure to support nested models. It looks like it's partially in the p

[2019-11-18 20:16] viperfx opened #3624 "[All][Templating] Custom token in adaptive card designer"
**What platform is your feature request related to?**

All

**Is your feature request related to a problem? Please describe.**
Currently, the token is double single braces `{VAR}`. This can be different when porting the templating to another language and contributing an SDK. Especially if the language has an existing templating library.

**Describe the solution you'd like**
Allow for a custom toke

[2019-11-18 20:34] shalinijoshi19 commented on #3579
@sanjay2880 a couple of requests:
1. Could you update the bug title to be something other than the placeholder text from the bug-filing template :)
2. Also do you have the sample JSON here that you are working with?

@ckkashyap heads up on this one in case you have some context at all for us..

[2019-11-18 20:40] viperfx commented on #3623
My apologies. I think I will review https://docs.microsoft.com/en-us/adaptive-cards/templating/language#advanced-binding further and come back if needed.

Am attempting to implement this in a Python SDK

[2019-11-18 20:40] #3623 closed

[2019-11-18 20:42] shalinijoshi19 commented on #3614
@brettyj you are trying to render this on Teams Desktop i am assuming? @dclaux thoughts on this one? How does this scenario work again? Is this something that Teams controls via the resp Action handler or is this something that AdaptiveCards renderer handles? Also @siduppal / @clearab FYI

[2019-11-18 20:51] paulcam206 commented on #3573
Looks like we should be able to use something like [this](https://docs.microsoft.com/en-us/dotnet/api/system.net.webutility.htmldecode?view=netframework-4.8) for our .NET platforms, but we should take a look make sure our other platforms can handle this as well.

[2019-11-18 20:55] brettyj commented on #3614
Hey, yeah @shalinijoshi19 this is on Teams Desktop - I haven't actually tested it on mobile. It only seems to be an issue if I render the link via an adaptive card.

[2019-11-18 23:54] #3531 closed

[2019-11-19 01:31] #3605 closed

[2019-11-19 02:50] ankuraren4u commented on #3572
We are passing the size property, but with size property the avatar images looks oval for rectangular images. Also, by passing explicit height and width the aspect ratio will be broken and image will get stretched from one side.

For teams, we need to show all person avatars as circular even in the case when the image is rectangular.
Adaptive Card Android SDK automatically takes care of it by taki

[2019-11-19 05:49] ankuraren4u commented on #3572
@dclaux For our current situation it is not possible to force all images to be in the square size. The images come from a source we don't control and that service also cannot resize all the profile pictures of all users in the database.
Android and iOS clients have written their own "custom renders" to fix this.

[2019-11-19 06:21] sanjay2880 commented on #3579
@shalinijoshi19 @ckkashyap
Got the fix for the issue. I am using adaptive cards in our angular4 application. We need to also add "**markdown-it**" as dependency which was not there.
"**npm i markdown-it --save**"
Upon adding the dependency it was working as expected. Please add in the readme or documentation which would help others

[2019-11-19 12:39] nikheelneelay commented on #3463
@RebeccaAnne
Hi Rebecca, just for info, this particular feature works fine on Bot Emulator 4.6.0. However, it didn't used to work on prior version i.e 4.5.2. I hope, this fix in 4.6 will be of some help.
![image](https://user-images.githubusercontent.com/16623762/69147322-b1898100-0af7-11ea-9d3f-cdb3544c869a.png)

[2019-11-19 13:49] arpitgupta19 commented on #3271
@shalinijoshi19 @nesalang
I am seeing these issues in sdk version 1.2.
In which sdk version did you verify the changes to be working fine.
I am sharing  a small video presenting the issue in the email thread corresponding to this issue.

[2019-11-19 16:53] almedina-ms opened #3626 "[Xamarin.Android] Renderer for Xamarin.Android"
**What platform is your feature request related to? (Delete other platforms).**

* Android

I include no extra context as this work is being currently made, I just need the bug for tracking

[2019-11-19 16:58] almedina-ms opened #3627 "[Xamarin.iOS] Renderer for Xamarin.iOS"
**What platform is your feature request related to?**

* iOS

I include no extra context as this work is being currently made, I just need the bug for tracking

[2019-11-19 17:29] shalinijoshi19 commented on #3553
@VikrantSingh01 ping on this one

[2019-11-19 19:06] viperfx commented on #3480
@shalinijoshi19 do you mean in Microsoft Teams, v1.2 of Adaptive Cards is still in alpha stage?

[2019-11-19 21:59] shalinijoshi19 commented on #3617
@dclaux is this a regression or patch-worthy fix? In other words does this need to be CP'd over to release/1.2?

[2019-11-19 22:01] dclaux commented on #3617
I'm fairly certain it's been that way forever in JS. So not a regression. Still, I think it's pretty bad.

[2019-11-19 23:42] matthidinger commented on #3624
Hi @viperfx, thanks for starting this conversation! This is an interesting topic that I'd love to get your thoughts on.

Is there a technical limitation in your Python environment that is preventing the current syntax of `{expression}`?

While I can totally appreciate your request for making the binding syntax configurable at runtime and within the designer, that does introduce two problems:

- It

[2019-11-20 01:12] matthidinger commented on #3579
Thanks for letting us know! `markdown-it` should be an optional dependency, could you provide any more details on what exactly went wrong before it was added?

[2019-11-20 06:52] sanjay2880 commented on #3579
`<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Adaptive Cards Example</title>

	<style type="text/css">
		#exampleDiv {
			width: 250px;
			border: solid 1px black;
		}
	</style>

	<script type="text/javascript">
		function renderCard() {

			// author a card
			// in practice you'll probably get this from a service
			// see http://adaptivecards.io/samples/ for inspir

[2019-11-20 11:24] rutujlangalia commented on #3463
@RebeccaAnne ,
Any updates?

[2019-11-20 13:24] viperfx commented on #3624
Hey Matt,

Thanks for the detailed reply.

My main reason for a custom token was because we use Django internally. It comes with a template language but does not have the option for a custom token.

If it is introducing a lot of complexity, then I think there are other options out there. Such as Jinja2 (https://jinja.palletsprojects.com/en/2.10.x/api/#jinja2.Environment) allowing to customise the

[2019-11-20 16:04] palktonderAtpowelno opened #3628 "Language support in template service"
**Describe the solution you'd like**
I need the template service to support multiple languages. Having customers in multiple non-English speaking countries, the service in its current form, is of limited use to us. If the service supported language specific versions of a template, the client could provide a preferred language (either as part of the url or possibly through the accepted-language hea

[2019-11-20 23:21] #3600 closed

[2019-11-21 08:55] pedroacuma opened #3631 "[Javascript] Empty Input.Date on AdaptiveCards"
# Platform
* JavaScript

# Author or host
Microsoft Teams

If you're an author, who are you sending cards to?

# Version of SDK
I'm using botbuilder 3.11 and botbuilder-teams 0.2.6.

# Details
I've built an adaptive cards with a Input.Date where user can select a date.

`{
                    "type": "Container",
                    "items": [
                        {

[2019-11-21 09:17] palktonderAtpowelno opened #3632 "Support for different "categories" of templates in template service"
**Describe the solution you'd like**
We are trying to use adaptive cards both for input and presentation of data. A template for data editing will/should look really different from one used for read-only presentation. There is some support for turning off interactivity for an adaptive card with input fields, but then those fields just disappear, which doesn't make sense for presentation.

Being ab

[2019-11-21 09:35] VikrantSingh01 commented on #3553
@shalinijoshi19 @nesalang  : Aditya is O.O.F

"@Aditya0603 : You said "seems to be working fine on 1.3" What's 1.3? Our next version will be 1.2.4"

Can you check this on AC 1.2.3. I guess Aditya was trying this version.

[2019-11-21 17:55] shalinijoshi19 commented on #3581
@nesalang does this need to be ported into master?

[2019-11-21 17:58] shalinijoshi19 commented on #3581
Please go ahead and close once it' checked into master.. thanks! (_unsure why despite using the fixes keyword the issue wasnt closed out automatically_)

[2019-11-21 18:33] shalinijoshi19 commented on #3553
@nesalang can we test this issue on our outbound 1.2.5 bits see if we can repro it today? Thanks

[2019-11-21 19:23] #3617 closed

[2019-11-21 19:48] nesalang commented on #3553
Here are the payload to use for bug bash
samples/v1.0/Elements/
Action.ShowCard.Style.json
Action.ShowCard.json
samples/v1.2/Tests/
NestedShowCard.json

[2019-11-21 19:53] nesalang commented on #3542
**BB Payload**
samples/v1.0/Elements/
Input.Toggle.json

host configs
must be from dark theme configs

[2019-11-21 19:55] nesalang commented on #1911
**BB Paylaod**
samples/v1.0/Elements/
Column.SelectAction.json
ColumnSet.SelectAction.json
Container.SelectAction.json
Image.SelectAction.json

[2019-11-21 19:59] nesalang commented on #3581
**BB Payload**
[samples/v1.1/Test](https://github.com/microsoft/AdaptiveCards/tree/master/samples/v1.1/Tests)
Column.VerticalAlignment.json

[2019-11-21 20:35] #3581 closed

[2019-11-21 21:47] paulcam206 opened #3634 "We need samples that build against public packages"
We currently have test apps that build against source, which we obviously need to test changes. However, we don't have a convenient way to test against public or near-public sources (e.g. a .nupkg or the currently-published nuget package). We should invest here to improve our coverage and give us a platform for diagnosing issues for customers.

[2019-11-21 22:03] almedina-ms opened #3635 "[iOS] Card selector grows and shrinks as I choose cards"
# Platform

* iOS (Visualizer app)

# Details

When I pick a card the panel where all the cards in the folder will shrink, if I pick another one, then the panel will grow and so on.

[2019-11-21 22:13] almedina-ms opened #3636 "[iOS]Background DataUri is not working"
# Platform

* iOS

# Version of SDK

Release 1.2 branch

# Details

The v1.1/Elements/AdaptiveCard.BackgroundImage.DataUri card does not render the background image. Other Data uri cards are able to show the pictures correctly.

[2019-11-21 23:20] shalinijoshi19 commented on #3636
@nesalang assigning to you for investigation; Is this a regression with 1.2 then compared to 1.1 ? Is this going to affect the teams upgrade do we think?

[2019-11-22 00:39] shalinijoshi19 opened #3637 "[iOS]Samples\1.2\Scenarios\FlightDetails.json isn't rendering correctly"
# Platform
* iOS (13+)

# Version of SDK

release/1.2

# Details

This is what i am seeing; Notice the clipped Action.Submit in the ActionSet to the bottom right :
![image](https://user-images.githubusercontent.com/20822397/69387898-1f5eb580-0c7c-11ea-8c3e-e016c38f3569.png)

[2019-11-22 00:43] nesalang commented on #3635
@almediana-ms this is the expected behavior. it meant to give space as much as possible for card selection table when choosing card. Once card is chosen, app gives space as much as possible for rendered card.

[2019-11-22 01:04] shalinijoshi19 opened #3638 "[iOS] Both 1.2\tests\newlinecard with \r and \n fail to render in the Custom Renderer mode in the test app"
# Platform
* iOS

# Version of SDK
release/1.2

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

# Details

The newline card renders correctly in our default iOS renderer in the Visualizer app, but when switched to the "Enable Custom Renderer" mode the newlines aren't getting rendered correctly.

![image](https://user-images.githubusercontent.com/20822397/69389451-eaa12d00-0c

[2019-11-22 01:09] shalinijoshi19 commented on #3638
Am seeing the same behavior for the other '\n' card:
![image](https://user-images.githubusercontent.com/20822397/69389689-a19da880-0c81-11ea-9828-71ca4b7a3da5.png)

[2019-11-22 02:04] nesalang commented on #3638
@shalinijoshi19
Thank you for testing iOS!

This shouldn't be blocker for Teams. The custom renderer here is added to provide a sample code of how to add custom renderer. I can update the custom renderer to also support /r and /n, but this implementations of custom renderers are not part of the adaptive cards package we release.

[2019-11-22 02:09] nesalang commented on #3637
@shalinijoshi19
Thank you for testing iOS!
This definitely is needed to be fixed. But it's less likely a stopper fro teams. The preconditions of this bug is pretty rare; One of superviews of ActionSet has to be a column, and buttons wouldn't fit in the width provided for the ActionSet.

[2019-11-22 02:13] nesalang commented on #3553
it's no repro with 1.2.5 package.

[2019-11-22 02:13] #3553 closed

[2019-11-22 06:54] atishayv commented on #3523
@dclaux  I have also tried `“when”: “{a}”`, still it doesn't works. Can you please tell how can it be achieved ?

[2019-11-22 07:53] zjrunner commented on #2448
@matthidinger , what is the relation to type coercion?  I hit the same thing @ThomasPe saw.  Adding some examples to make sure we're talking about the same thing.

This works fine:
[code]

This doesn't find the match because of the number, and leaves the {my.dat1a} in the transform result:
[code]

I was having trouble finding the C# code in GitHub when I saw the linked PR is still pending merge -

[2019-11-22 16:48] dclaux commented on #3523
Well, it should work with the syntax I gave you. The property name is `"$when"` though, not just `"when"`.

The below sample shows it in action:

Template:
[code]

Data:
[code]

[2019-11-22 17:21] RebeccaAnne commented on #3635
@almedina-ms Could you get us a screen recording of this behavior?

[2019-11-22 19:11] v-kydela commented on #2448
Yeah that looks like bad RegEx to detect an identifier. But why does it even need RegEx to detect an identifier? Whatever is after the dot is automatically an identifier, right?

[2019-11-22 21:35] v-kydela commented on #2644
Related: https://github.com/OfficeDev/BotBuilder-MicrosoftTeams/issues/195

[2019-11-25 09:12] DeeJayTC commented on #3628
Hey @palktonderAtpowelno ,
while this does not exist we had similar issues, There's a workaround that might help you and might be even better than what you ask for depending on your use case.

Have in mind, you can data-bind literarily everything in the JSON template with placeholders. Not only values. You could have even use a placeholder for like sizes, widths, and colors.
I wrote one template w

[2019-11-25 09:56] palktonderAtpowelno commented on #3628
HI @DeeJayTC,

I've considered this approach, and it might solve the problem for me personally. At the same time I'm not sure this is a good approach going forward. An important question is whether having all the labels as bound data makes the templates too difficult to create and edit.

More important though is that I'm not sure this would support the natural flow for how templates are created. E

[2019-11-25 13:27] atishayv commented on #3523
@dclaux I did used `$when` before. Here is ths adaptive card json I tried :

Template:

[code]

Data :
[code]

Not sure if this is a problem with RichTextBlock ?

[2019-11-25 17:05] DeeJayTC commented on #3628
hmm, an interesting idea could be to think about how to make templates as such localizable in general. I mean AdaptiveCards itself or the template service could have a resource dictionary for common terms such as properties related to persons, addresses, etc and maybe there's a way to just say "give me that template with en_US labels" and the service itself handles translation.

Maybe even in some

[2019-11-25 17:38] dclaux commented on #3523
The expression in your `"$when"` clause needs to evaluate to a boolean. In your example, `{a}` evaluates to an empty string, and there is no implicit conversion between string and boolean. So you need to use `{a == ''}`

[2019-11-25 19:05] matthidinger commented on #3631
@shalinijoshi19 @siduppal any idea if this is part of the upcoming patch?

[2019-11-25 19:08] matthidinger commented on #3579
Thanks for the info. That is indeed working as expected, the markdown will not render properly without the necessary markdown library loaded. We also log an error in the browser developer console to help highlight this. Sorry for the troubles but glad you got it working!

[2019-11-25 19:08] #3579 closed

[2019-11-25 19:15] matthidinger commented on #3613
@paulcam206 we should consider this for all up inconsistency. It seems like the date picker should be rendered with the **users** locale, as opposed to the card author specifying it. We also have the `lang` attribute on the `AdaptiveCard` but I'm not sure if that applies here or if it's even used for `Input.Date`

[2019-11-25 19:26] matthidinger commented on #3612
Hi @buildbod, thanks for filing this. There are things you can do to make this work today on all platforms **except** JavaScript.

Here are the docs on Android, but the APIs are similar, we call them "Resource Resolvers" and they are hooks in the Rendering API to modify outbound image requests.

https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/android/extensibility#iresourcereso

[2019-11-25 19:27] paulcam206 opened #3642 "Resource resolver isn't documented for most platforms"
# Platform

* .NET HTML
* .NET WPF
* iOS
* UWP

# Details

It looks like we don't have proper documentation for the resource resolver for platforms other than Android (great job, Alberto!) and Javascript (which doesn't have the notion of a resource resolver currently).

[2019-11-25 19:28] matthidinger commented on #3612
@dclaux  FYI

[2019-11-25 19:44] dclaux commented on #3612
@matthidinger I might be mistaken, but the request doesn't seem to be about how to make that happen as a host, but rather make authenticated SharePoint images just work in existing hosts ( probably Teams for that matter.) To that extent, the ResourceResolver APIs won't help.

Besides, it **is** possible for a host to hook into images in JavaScript, by manipulating the generated DOM. A host would t

[2019-11-25 19:48] buildbod commented on #3612
I am authoring cards for them to be rendered in Microsoft products: Outlook, Teams etc.

I want to store the images in SharePoint and have them rendered in Outlook etc.

Does that clarify?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Matt Hidinger <notifications@github.com>
Sent: Monday, November 25, 2019 7:28:50 PM
To: microsoft/AdaptiveCards <AdaptiveCar

[2019-11-25 19:50] dclaux commented on #3612
Yes, and that is what I had understood.

The request is therefore for Microsoft products to allow loading images from SharePoint URLs, using the current user's authentication context.

[2019-11-25 19:52] dclaux commented on #3612
Could you update the description of the issue to include these details?

[2019-11-25 19:52] buildbod commented on #3612
Yes that is a good description of my request.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David Claux <notifications@github.com>
Sent: Monday, November 25, 2019 7:50:59 PM
To: microsoft/AdaptiveCards <AdaptiveCards@noreply.github.com>
Cc: Denton, Simon A <Simon.Denton@mottmac.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AdaptiveCard

[2019-11-25 20:48] davidwoolbright commented on #3255
How's this feature coming? If there's anything I can do to help, I'd be glad to.

The company I work for just built a tablet app, using Xamarin Forms, for their internal users and a web site with the same functionality for their external users.

I ran across Adaptive Cards and this issue in particular, and thought it might be interesting if we could design the front end using the design tool and h

[2019-11-25 21:16] productboard-ac opened #3643 "Resource Resolver support in JS"
This feature tracks adding the `ResourceResolver` API to JavaScript to make it easy for a Host to download authenticated image URLs from card payloads.

* [Android docs]( https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/android/extensibility#iresourceresolver-deprecates-ionlineimageloader)
* Related issue (although rather outdated): #138

[2019-11-25 21:16] productboard-ac commented on #3643
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/3377322

[2019-11-25 21:21] matthidinger commented on #3612
Thanks for the clarification folks. I've updated the title, and filed a related issue #3643 to track the ability for JS Hosts to easily handle authenticated image downloads

[2019-11-25 21:22] shalinijoshi19 commented on #2569
@almedina-ms we'll need a onepager for this to review please! thanks

[2019-11-25 21:38] paulcam206 commented on #2579
The schema has been updated to reflect that `url` is not a valid property

[2019-11-25 21:38] #2579 closed

[2019-11-25 21:39] paulcam206 commented on #3026
This is possible to address now that we have cppwinrt support in the UWP codebase (e.g. now we can utilize `.then`)

[2019-11-25 21:39] #2534 closed

[2019-11-25 23:14] almedina-ms commented on #3255
Hello @davidwoolbright

Thank you for your interest in the Xamarin Forms renderer library

We're currently working on the bindings of our current ios and android renderers for native xamarin, once we have a solid base then we'll continue on the development of this feature. I started prototyping this feature so if you'd like to check it out just ask me and I can share it with you

[2019-11-25 23:27] shalinijoshi19 commented on #3631
This is not part of the 1.2.5 patch.  To recap:  [JS fixes going in for November](https://github.com/microsoft/AdaptiveCards/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22AdaptiveCards+v1.2.5%22+label%3AMsftTeams-Integration+-label%3A%22Msft-TeamsMobile%22)

@dclaux mind taking a first stab at this please?  Thanks!

[2019-11-25 23:46] dclaux commented on #3631
I can't reproduce this using the out-of-box JS implementation. But Teams replaces the HTML5 date input control with their own, which is probably the culprit. In other words, I believe this is a Teams bug, not a JS renderer bug.

[2019-11-26 00:09] shalinijoshi19 commented on #3631
@siduppal / @clearab / @susanshen96 heads up; Can somebody from the teams side pick this up please?

[2019-11-26 00:12] susanshen96 commented on #3631
@shalinijoshi19 - We have a bug for this issue - fix is pending, will post update when it's checked in.

[2019-11-26 00:13] shalinijoshi19 commented on #3631
Thanks @susanshen96 ! Any chance we can reference the bug here over github or is it being tracked internally? @pedroacuma fyi.

[2019-11-26 00:56] susanshen96 commented on #3631
@shalinijoshi19 - it's being tracked internally.

[2019-11-26 04:43] cmevawala commented on #3140
@shalinijoshi19  : We have upgraded our webchat repo with latest 4.6 release which is referring 1.2.3. We will validate and let you know if this issue still exists.

[2019-11-26 09:18] atishayv commented on #3523
@dclaux In the template that you provided :
[code]

If I give `subtitle` as an empty string like :
[code]
Or if I remove the `subtitle` field from data :
[code]
 it s**till renders** the adaptive card by removing the `subTitle` TextElement from card.

But in RichTextBlock if I do the same thing, as in give `a` as empty string, the card **fails to render.**

[2019-11-26 09:26] nikheelneelay commented on #3573
Any updates on this?

[2019-11-26 11:13] palktonderAtpowelno commented on #3628
I see that a support for common terms could potentially solve some of the challenges related to this, but there are still some pitfalls. One is the obvious one of people having to use the right label key words, the other that the localization support would be somewhat limited.

Maybe I'm just too pessimistic by nature, but I worry that many potential template contributors would shy away from the e

[2019-11-26 11:37] atishayv opened #3644 "[JavaScript][Support ellipsis for multi line text wrap in adaptive card]"
# Platform

All platforms

# Author or host

Host : Microsoft Search

# Version of SDK

adaptivecards-designer@0.7.1

# Details

For multi line wrap in TextBlock element, ellipsis doesn't comes.

For single line wrap, it looks like :
![image](https://user-images.githubusercontent.com/13940020/69626553-dee1ac00-106e-11ea-8896-4400e6b92f71.png)
But for 2 line wrap, ellipsis doesn't comes :
![image](

[2019-11-26 15:02] davidwoolbright commented on #3255
I'd like to see it.

Is it the XamarinFormsRenderer branch?

Do you have a list of what's been done and what needs to be done to complete this feature?

David
⁣

On Nov 25, 2019, 5:14 PM, at 5:14 PM, almedina-ms <notifications@github.com> wrote:

[2019-11-26 16:36] dclaux commented on #3523
Sorry @atishayv that was really not clear from your previous comment.

I see indeed there is a bug in RichTextBlock, but it is independent of templating. $when works as expected. In this situation, it generates a TextRun with an empty text, which when rendered produces an undefined HTMLElement which the library attempts to add as a child, which generates an unhandled exception which causes the car

[2019-11-26 16:40] dclaux commented on #3523
BTW, TextBlock (and TextRun) with an empty text simply do not render, by design - there is no need to use a `$when` clause for that.

[2019-11-26 16:43] almedina-ms commented on #3255
The branch which is more up-to-date is user/almedina-ms/XamarinPrototyping but this was still a very rough prototype which found a blocking issue because we have 3 different projections of the same code and the same information but that are not interchangeable unless we wrap them

[2019-11-26 17:54] dclaux commented on #3523
@atishayv please review the fix.

[2019-11-26 18:49] shalinijoshi19 commented on #3516
@nesalang is this something you are looking at as part of #3592 ?

[2019-11-26 18:50] davidwoolbright commented on #3255
What can I do to help?

On Nov 26, 2019, 10:43 AM, at 10:43 AM, almedina-ms <notifications@github.com> wrote:

[2019-11-26 19:44] susanshen96 commented on #3604
@GeorgianaMihaela - a fix has been checked in. It might be 1-2 weeks before the change manifests in the public version of Teams, but the current date on default/dark theme will look like this, respectively:
![image](https://user-images.githubusercontent.com/10697383/69666281-db373080-1040-11ea-91a1-f06fff14c743.png)
![image](https://user-images.githubusercontent.com/10697383/69666402-0c176580-1041

[2019-11-26 20:19] #3523 closed

[2019-11-26 20:36] shalinijoshi19 commented on #3609
@paulcam206 is this still an issue?  i dont see the sharedmodel builds failing with this error at this point ?

[2019-11-26 20:44] paulcam206 commented on #3609
We should probably still take this change

[2019-11-26 22:51] shalinijoshi19 commented on #3125
Confirming there is no work at our end here @VikrantSingh01

[2019-11-26 22:53] #3125 closed

[2019-11-26 22:54] shalinijoshi19 commented on #1911
Closing this issue out since we are using #3480 to track the 1.2.* upgrade over at Teams end.

[2019-11-26 22:54] #1911 closed

[2019-11-26 22:55] shalinijoshi19 commented on #3324
Closing this out since it's already being tracked by MicrosoftDocs/msteams-docs#388 on the teams side.

[2019-11-26 22:55] #3324 closed

[2019-11-26 22:56] shalinijoshi19 commented on #3549
@VikrantSingh01 FYI that this isn't a regression in 1.2 so shouldn't block Teams upgrade at this point. @nesalang is investigating this for the next patch (January). Thanks

[2019-11-26 23:02] shalinijoshi19 commented on #3271
@VikrantSingh01 this needed to be pushed out because of the lack of repro + long turnaround time here. This is next on our radar.

[2019-11-27 01:30] murcinar opened #3647 ".NET Accessibility Alt text support for images and buttons in Bot Framework PromptOptions"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you sending cards to?
We are hosting our own adaptive cards for our Bot.

# Version of SDK

[2019-11-27 05:18] atishayv commented on #3523
@dclaux  Its all working... Thanks for the clarification

[2019-11-27 10:25] wal88 commented on #519
This is still kind of an issue. The Date and Time inputs in the cards are great but the fact that it's just a plain text input in IE11 is very unhelpful for browser compatibility. At my organization, people still use IE so it needs to be supported. Would be nice to get an example code of a library that successfully converts the text inputs into date/time. I'm actually filling in time and date with

[2019-11-27 10:37] nimercer commented on #3026
@paulcam206 Great! For clarification, is this something that you're going to address in the next release? Do you have an eta? :)

[2019-11-27 13:31] liiamjones commented on #1326
@dclaux hi, came across this thread whilst trying to do something with id's on cards myself. we're building a bot that makes use of these cards and want to build some automated tests with selenium. normally we add id's to make it easier to get at textfields/buttons etc. but dont have a way to do so. I fully appreciate the design decision to not do this, to prevent unwanted depencies on the html st

[2019-11-27 14:04] vivek-dhayalan opened #3649 "[ALL]Font Awesome Icons Support"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
While designing some cards I have need to include icons as part of my card. Most of the time in web app I'll use FontAwesome for standard look and feel also, it makes my life easier. If I want

[2019-11-27 16:53] dclaux commented on #1326
@liiamjones thanks for this opinion.

To get the best of both worlds, I'm ready to consider adding an `onCardObjectRendered` event, triggered after any and all card objects (elements and actions) are rendered. This would give you the opportunity to easily set the DOM element's id to be the same as the card object's id, but without that behavior being built-in. To be clear, the only thing you'd hav

[2019-11-27 16:55] ignacionr commented on #1326
@dclaux would this translate to other non-HTML hosts too? Let's keep the API consistent if possible.

[2019-11-27 17:09] dclaux commented on #1326
@ignacionr we're discussing a very HTML-centric issue here. Not all frameworks have a DOM equivalent and even those that do won't necessarily have an equivalent Id property.

What I am proposing (to consider) is for HTML/JS only and is merely an easier way to do what is technically already possible. The desired result can be achieved by either:
- Registering custom versions of all element/action t

[2019-11-27 17:57] almedina-ms commented on #3255
I'm not 100% sure how experienced are you around working with native Xamarin and Xamarin.Forms or if you have made a Xamarin.Forms control before. If you could share some of that information with me it would be great

For the inmediate list of tasks that come in my mind and that are really abstract are:
* Check that card rendering for Android and UWP is working as expected
* Fixing the iOS control

[2019-11-27 19:06] arman-g commented on #2148
Do you have a timeline when this is going to be fixed? Thanks

[2019-11-28 08:07] liiamjones commented on #1326
@dclaux thanks very much for your quick reply. I missed out a key bit of information from my post that i now understand was quite important. I didn't fully understand the scope of AdaptiveCards. We're specifically using these cards with the bot framework in Microsoft Teams. we are able to use selenium via Teams in the browser (teams.microsoft.com) for most things as most of them have id's.

Unfort

[2019-11-28 08:12] liiamjones commented on #1326
Having just said that, im not sure if we could put that js straight into a selenium test, i guess i wouldn't have a reference to the card in the first instance (myCard in your example)

[2019-11-29 18:32] gturbahn1 commented on #3480
Hey guys. Any update on this? Adaptive cards 1.2 on teams is critical to our customers. Thanks!

[2019-11-29 18:50] v-kydela commented on #3287
@matthidinger - Can you comment?

[2019-12-01 18:24] #1608 closed

[2019-12-02 03:28] shalinijoshi19 commented on #3647
@Murat thanks for reporting; May i request you to kindly update the title of the issue from the placeholder template text, to be more reflective of what it is you are bringing up here please? Meanwhile @dclaux / @dandriscoll any thoughts here for the bot customer? I know we have a bunch of newer JS platform accessibility bugs filed last month that i'll try to consolidate in a single rollup github

[2019-12-02 03:30] shalinijoshi19 commented on #3644
@dclaux / @matthidinger thoughts on this?

[2019-12-02 03:31] shalinijoshi19 commented on #3609
i see that it's been merged already in release/1.2 ? At this point we should just merge it into master as well

[2019-12-02 06:11] murat commented on #3647
Hi @shalinijoshi19 I think you are mentioning the wrong @murat

[2019-12-02 18:01] corinagum commented on #3411
ping

[2019-12-02 19:18] shalinijoshi19 opened #3650 "[iOS] AdaptiveCards published library should include symbol information"
# Platform

* iOS

# Author or host
Teams

# Details
In order for crash dumps to be useful at all from our end we'd need to include symbols information in the packages, similar to what we did for UWP. Case in point crash reports like [these](https://rink.hockeyapp.net/manage/apps/334998/app_versions/941/crash_reasons/295575124).

[2019-12-02 19:19] shalinijoshi19 commented on #3650
@VikrantSingh01 / @nesalang  FYI

[2019-12-02 19:59] murcinar commented on #3647
Hi Shalini, thanks for your reply. I have updated the title of the issue and please let me know any questions or clarifications you need.
Thank you.

[2019-12-03 04:27] shalinijoshi19 opened #3653 "[iOS/Android] Intra-mobile inconsistencies spec"
# Related Issues
## Open Issues
#3734 [Resolution By Design] Customizing ACRButton
#3733 [New Issue] Input Text not displaying place holder text
#3712 [Priority Urgent] Random Order in Voice-Over
#3705 [Priority Urgent] Action Orientation
#3702 [Priority Normal] Input Retention
#3702 [Priority Normal] Excess spacing in empty text blocks
## In Code Review
#3672 Time rendering format on android is d

[2019-12-03 06:32] mikoskinen opened #3656 "[.NET HTML][Globalization] Renderer produces invalid HTML in some cultures"
# Platform

* .NET HTML

# Author or host

Custom Host using AdaptiveCards.Rendering.Html.

# Version of SDK

AdaptiveCards.Rendering.Html version 1.2.4 from Nuget. Same issue in master branch.

# Details

AdaptiveCardRenderer doesn't take into account the **system's culture** when a card is rendered. Because of this, the rendered cards have invalid HTML for **line-height** and for **colors**.

Ex

[2019-12-03 09:38] mberry73 opened #3658 "JS Data Binding for json properties containing a number does not work"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript (The only one I tried)

# Author or host
Host: A Prototype app

# Version of SDK
nuget 1.2.5

# Issue
Data binding for jsson objects which contain a number in the property does not work.
The easiest way to repro this is to use the desinger here: https://adaptivecards.io/designer/

With the card p

[2019-12-03 19:06] murcinar commented on #3647
@dclaux and @dandriscoll please let me know if you have any insights/ answer to the issue I described above and please let me know if you need any clarification on the problem. Thank you!

[2019-12-04 07:40] VikrantSingh01 commented on #3271
@nesalang : Once you get some time to verify these accessibility issues. Pls. let us know. You are also copied on the CSEO thread from where you can check the reproducer cases. CC - @arpitgupta19

[2019-12-04 12:27] SahilS-Hexaware commented on #1607
Hi is it possible to make a scrollable adaptive card without using HTML and only using JSON?

[2019-12-04 22:07] nesalang commented on #3635
after talking to alberto, i realized that the real issue is that people who haven't used iPhone, the behavior can be confusing.
It's confusing mainly because when the selection view shrink, it still allows scrolling. The selection view meant to be touched, and expanded. But since it allows scrolling, the above mentioned user group can miss this expansion behavior by touch.

will change app, so tha

[2019-12-04 22:20] nesalang commented on #3414
@shalinijoshi19 @RebeccaAnne
when we do bug bash, we create our test cards. if we could keep those test cards in our repo for the next bug bash, we can re-use them to test on other platforms. For example, if we had so and so cards to test & find bugs on JS library. At next bug bas session, we could include ship them with our test apps, iOS and Android. This will make bashing bug much efficient.

[2019-12-05 17:08] dclaux commented on #3644
The right solution for this is to use [-webkit-line-clamp](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp) which seems to besupported on all modern browsers. I will investigate as time permits.

[2019-12-05 17:11] dclaux commented on #3643
Just as an FYI, it is already possible in JS to do exactly what the resource resolver APIs allows on other platforms. It involves slightly modifying the generated DOM, something fairly simple to do. The resource resolver API would merely be sugar on top.

[2019-12-05 21:45] #3656 closed

[2019-12-05 22:20] nesalang commented on #3271
@VikrantSingh01
Please see the video pointed by this [link](https://microsoft-my.sharepoint.com/:v:/p/joswo/ETUX2i_aEPpDj-Qd86qzricBeC0620XMsT75vpahAj1VeA?e=kw7Mi6)
This video shows that voice over is working as expected. Sample app used in the video is based on the release 1.2.5

[2019-12-05 23:54] murcinar commented on #3647
I've had a conversation with @dclaux, Thank you for the explanation! It seems like the issue is not related to Adaptive Cards hence closing the bug.

[2019-12-05 23:54] #3647 closed

[2019-12-06 05:23] arpitgupta19 commented on #3271
@nesalang @shalinijoshi19
Thanks for verifying this.
We will update to 1.2.5 and verify the issues on our side.

[2019-12-06 05:35] Chekrii opened #3664 "[MSTeams]IamBack functionality on Input.Number"
**Platforms**
*MsTeams

Can we get the IamBack functionality on Clicking on Action.submit in Adaptive card and the Iamback message should be of the Value of  Input.Number
![TeamsInput.Number](https://user-images.githubusercontent.com/49824279/70298303-30302f00-1817-11ea-9bc4-7bde3c24c11e.PNG)
In the above Image On clicking on "OK"(Action.Submit) the value enter by the User in Input.Number should b

[2019-12-06 17:48] nesalang commented on #3271
@arpitgupta19 thanks for confirming.

[2019-12-06 17:48] #3271 closed

[2019-12-06 18:55] dclaux commented on #2984
This is addressed in JS with this PR: https://github.com/microsoft/AdaptiveCards/pull/3508

[2019-12-06 23:53] RebeccaAnne opened #3668 "[UWP] Null dereference in Media.json file"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

WrapInTouchTarget in ActionHelpers.cpp introduced a new dereference of the action parameter with change #3593. The media code path passes in nullptr for the action, leading to a null dereference.

[code]

[2019-12-08 13:25] walsaadysixco commented on #3613
As a side note, the AdaptiveTimeInput renders to 12hour or 24hour format based on user's system settings

[2019-12-08 23:32] dchosnek commented on #1443
As a bot author, I don't have access to the element extensibility APIs. The platform my bot uses defines how cards are rendered and even which controls I can display. So this solution doesn't work for everyone.

Additionally, every programming language has a method or library for soliciting masked passwords from the user (including Microsoft's Powershell Get-Credential cmdlet). Providing that mask

[2019-12-09 02:46] sowsan opened #3670 "Adaptive Card - Render PDF, Office Docs, Iframe (web page)"
* .NET HTML
* JavaScript

**Is your feature request related to a problem? Please describe.**
Not finding a way to render office docs, pdf and webpage within a card

**Describe the solution you'd like**
Render a PDF, Office docs - excel, word, powerpoint and also a webpage as iFrame

**Describe alternatives you've considered**
nil

**Additional context**
nil

[2019-12-09 12:31] wehnicde commented on #3244
is there any progress?

[2019-12-09 17:49] matthidinger commented on #3658
Hi @mberry73 thanks for filing this. I don't see a number in the sample data you provided, but I think I know what you're referring to. We are currently working on a plan to support this, but in the meantime, can you try this:

Data
[code]

Template
[code]

Notice the **space** after the binding expression. This forces a cast to a string. Let us know if this helps

[2019-12-09 18:15] mberry73 commented on #3658
Sorry to be unclear. But the problem in the example above is the property «title1».
It’s not about the value of properties, but the property itself. It does not bind if it contains a numerical character.

You can easily see that if you use the data and template I provided above.

[2019-12-09 23:17] #3650 closed

[2019-12-10 01:52] #3414 closed

[2019-12-10 09:34] johno-a commented on #3334
Ping?

[2019-12-10 12:07] shbhadra opened #3671 "[Android][Inconsistency with desktop] [Date input component does not honour the default value]"
# Platform
* Android

# Author or host
Host

# Version of SDK
1.2.5

# Details
The date input component does not honour the default value and always shows the current date by default. For the card as in the attached json, following are the views on desktop and android.
(https://github.com/microsoft/AdaptiveCards/files/3944744/default_date.json.zip)

 View on desktop
![image](https://user-images.gi

[2019-12-10 12:32] shbhadra opened #3672 "[Android][Inconsistency between android and web] [Time rendering format on android is different as that of web]"
# Platform
* Android
* iOS
# Author or host
HOST

# Version of SDK
1.2.5

# Details
The time rendered in the Input.Time component, on android also shows the seconds whereas it doesn't on web. With reference to the card json attached
View of the card in web
<img width="391" alt="Screenshot 2019-12-10 at 5 59 09 PM" src="https://user-images.githubusercontent.com/51158485/70529540-ca290c00-1b76-11ea-

[2019-12-11 06:53] Chekrii commented on #3664
![IamBack](https://user-images.githubusercontent.com/49824279/70598028-e4fb8f00-1c0f-11ea-9e82-e20f52ddbc26.PNG)

Hello,

Can we have this.. where the user will enter the date in Adaptive card and Click on Action.submit can we IamBack the number entered in the input.Number

Thanks.

[2019-12-11 08:00] pedroacuma commented on #3631
Any updates on the bug solution?

[2019-12-11 18:50] spencer-microsoft commented on #3271
@nesalang I tested with 1.2.5 integration and voiceover is still getting stuck in adaptive cards. Is there support for including an accessibility summary when creating the json payload for an adaptive card so the card as a whole can be summarized for voiceover?

[2019-12-11 23:59] nesalang commented on #3271
@spencer-microsoft Can you elaborate on what is "1.2.5 integration"?  thanks.

[2019-12-12 02:17] shenred176 opened #3677 "[iOS][UI] [Image size or height setting doesn't reflect correctly as desktop view]"
# Platform
mobile - iOS

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.
host, using bot on Teams

If you're an author, who are you sending cards to?

# Version of SDK

What version are

[2019-12-12 08:07] deniercounter commented on #1443
IMHO it is a strange argumentation to not provide masking that it could be used in an unsecure way. A developer has to decide if he has to guard very sensitive information as credit card numbers or if it is just meant to give access to some chatbot features for registered users only.

Without seeing the documentation I automatically wrote it this way:

{
   "type": "Input.Text",
   "style": "passw

[2019-12-12 15:38] matthidinger commented on #3334
Hi @johno-a,

The capability to wait for a card response, and to use that response in your flows is pending release, which explains why you are seeing an error message when consumers interact with the card. The only button types that you can leverage in flow today are show/hide and open URL. OpenUrl can sometimes be used to trigger events but not for data collection via the card itself. Stay tuned

[2019-12-12 16:39] dclaux commented on #3658
@mberry73 thanks for reporting. This is indeed a limitation (a bug) that needs to be fixed. I'll try to get to it ASAP.

[2019-12-12 17:05] cmevawala commented on #3140
Any plan of adding this feature in next release?

[2019-12-12 19:07] susanshen96 commented on #3631
@pedroacuma The fix should be in the public build of Teams now - please try out a card with Input.Date and see if it's being sent correctly, and let me know otherwise. Thanks!

[2019-12-13 21:46] jpjpjp opened #3681 "[Javascript][Application (Author) Rendering] [Don't delete fields where the template doesn't resolve]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Author  -- sending cards to Webex Teams.

# Version of SDK

adaptivecards-templating@0.1.1-alpha.0

# Details

I'm using the JS Template SDK in my app to populate template cards with data before posting them (to Webex Teams in my case).    I've noticed that if I attempt to exp

[2019-12-13 22:27] dclaux commented on #3681
@jpjpjp thanks for this detailed feature request. This is a scenario we had not considered before. It's easy enough to allow it - @matthidinger what do you think?

[2019-12-16 08:39] gturbahn1 commented on #3480
Bumping this up - I would love an update on this. thanks!

[2019-12-16 14:15] geo-msft commented on #3604
Thank you for your support. If the issue is solved, we can close this issue.

[2019-12-16 14:58] dkonyayev opened #3682 "Format Buttons with IconURL Images"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML

# Author or host

Author
If you're an author, who are you sending cards to?

BotFramework WebChat

# Version of SDK

Latest

# Details

I want to create a simple Yes/No action card, and I assigned iconURLs to my buttons. My goal is to make buttons smaller and basically have just the icons displa

[2019-12-17 05:00] Chekrii commented on #3664
Can someone please reply on this

[2019-12-17 07:33] Raj-kishore opened #3683 "[Teams][Rating System] Request to create a http method for Ajax call"
**What platform is your feature request related to?**

* JavaScript

**Is your feature request related to a problem? Please describe.**
The methods such as Action.submit can be used to rate a document, but apart from this an additional approach such as Action.http can be helpful.

**Describe the solution you'd like**
This feature can be helpful in the Teams channel for rating carousel items with A

[2019-12-17 08:33] geo-msft opened #3684 "[Bot Framework Emulator][Adaptive card not rendering because of incorrect value type] [Better error message needed or card should render in emulator]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Bot Framework emulator, version 4.7.0
* JavaScript
* Node.js

# Author or host

Using Bot Framework emulator to test bots with adaptive cards.

# Version of SDK

"botbuilder": "~4.6.1",
 "dotenv": "^8.2.0",
 "restify": "~8.4.0"

# Details

ISSUE
===================

Using the following code in Node.js bot

[2019-12-17 08:44] geo-msft commented on #3684
`// in bot.js file:

const { ActivityHandler } = require('botbuilder');
const { MessageFactory, CardFactory } = require('botbuilder');

class EchoBot extends ActivityHandler {
    constructor() {
        super();
        // See https://aka.ms/about-bot-activity-message to learn more about the message and other activity types.

        function selectDurationContactForEBCPIntake(duration) {
const c

[2019-12-17 15:52] schemburkar opened #3685 "[Teams][Rendering] Cards not rendered correctly on teams channel"
### Platform
Microsoft Teams

### Description

I'm sending a adaptive card to multiple platforms including teams and web chat. The card will have multiple options based on user input (up to 5). These are not suggested actions but Submit Actions via cards
Except for teams, the adaptive card is rendered incorrectly.
I can reproduce the issue on the designer (https://adaptivecards.io/designer/) as we

[2019-12-18 21:27] v-kydela opened #3686 "[Website] The Explorer UI has problems with the content navigation panel"
1. The sections will not collapse, even though the chevron icons look like they should be clickable
2. The full contents do no scroll all the way to the bottom if the browser window is too small, and thus the contents cannot be viewed or navigated to

![image](https://user-images.githubusercontent.com/41968495/71124476-c0685f80-2199-11ea-9806-88f605cb040e.png)

---
* URL: https://adaptivecards.io/

[2019-12-19 02:56] shunyh commented on #3054
Hi, can you tell me how to use the `Input.Rating` type in .Net bot framework SDK?

[2019-12-19 03:56] shunyh commented on #3054
I don't get any `Input.Rating` info on this page: https://adaptivecards.io/explorer/Input.ChoiceSet.html.

[2019-12-19 05:00] atishayv opened #3688 "[Javascript][Not able to render a TextBlock with no data & $when condition]"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

adaptivecards-designer@0.7.1

# Details

Not able to render a TextBlock element if I give a $when condition with no data :
[code]

Getting this error :
`Template expansion error: Invalid value type: undefined`

Not sure if its related with this bug :
https://github.com/microsoft/AdaptiveCards/issues/3523

[2019-12-19 08:31] jbeek11 commented on #2448
LS,
any update on when this might be moving from preview to general availability?
Best regards,
Joris.

[2019-12-19 18:12] matte-a opened #3689 "[Teams for Android][botframework] Adaptive card not displaying"
# Platform

* typescript/javascript
* Android

# Author

Microsoft Teams for Android

# Version of SDK

I'm sending the card from the botbuilder 4.7.0

# Details
I'm sending the card from the botbuilder and on Teams desktop the card works perfectly fine.
On the other hand, on Android the card is empy.

These are the results.

MS Teams desktop:
![image](https://user-images.githubusercontent.com/482

[2019-12-20 08:32] ChenPei333333 opened #3690 "[Android] [no share to select]"
when I open the URL: https://adaptivecards.io/designer/  ,I  click the "New Card".Then I want to connect
 the adaptive card  to my Android ,but I cant find the button named "Share" .So what else Can I do ?

[2019-12-23 20:12] matthidinger commented on #3689
You may be hitting an issue with the `id` property not having any non-numeric characters in it. Can you try changing the `id` from "1" to "a1" or something else and see if that helps?

[2019-12-23 20:16] matthidinger commented on #2448
Hi @jbeek11, we have no dates yet but we're making progress :) Is there anything preventing you from using the preview that we can help with?

[2019-12-23 21:25] shalinijoshi19 commented on #3054
Hi @shunyh this feature is still in development and has not yet been released for any platform.

[2019-12-23 21:46] jbeek11 commented on #2448
Hi Matt,

thank your for responding! Nothing preventing us from using the available
preview.

But a few days ago I was 'overruled' by our front end programmers anyway.
Current Adaptive Card setup doesn't allow enough control to get the full
corporate layout and UX we're going for. So we are now looking at
implementing our own custom attachment that does provide that, including
the data binding tha

[2019-12-24 03:05] shunyh opened #3691 "Interactive card for customers UI"
**Bot-framework WebChat AdaptiveCard interactive UI**

* .NET HTML
* JavaScript

The feature request just like [this](https://github.com/microsoft/BotFramework-WebChat/issues/2770).

**Describe the solution you'd like**
I hope the AdaptiveCard could change UI when the mouse hovers on the stars, and keep the style always if the customer takes action on the star.

Currently, the star is a static ima

[2019-12-25 02:59] shunyh commented on #3054
Well noted with thanks, @sha1painkiller

[2019-12-27 08:10] Gunashree-R-V opened #3693 "Input.Text element with multi line isn't vertically scrollable"
# Platform

* Android

# Author or host

Host

# Version of SDK

1.2.5

# Issue

An Input.Text element with `"isMultiline": true` isn't vertically scrollable. If the input has multiple lines, then there is no way to scroll up and view the previously typed text.
However, the same element is scrollable on Desktop/Web and iOS.

Below is the sample Input.Text element JSON.

Also, attaching the relevan

[2019-12-30 17:01] pranag commented on #3225
we got around this problem by putting the FromJson function within a semaphore wait block as below

[code]

this function is in itself within a singleton class

[2019-12-30 19:22] nesalang opened #3695 "[iOS][HostConfig] [Number of Actions Setting Is Not Supported]"
# Platform

* iOS

# Version of SDK

1.2.5

# Details

HostConfig's Max Actions setting is not supported in iOS

[2019-12-31 08:26] sguryev commented on #3225
Strange. I'm pretty sure I had a single thread there

[2019-12-31 13:19] RajaniJillaGit commented on #2924
Hi Team,

We are facing the same issue where we have an adaptive card and post back button which calls an external API while we wait for the API to respond, teams is giving this error. Could you please help on this issue as it is a road block for the feature to be able to release ?

[2020-01-03 09:35] Aditya0603 opened #3700 "[iOS][UI] Container background image does not cover card"
# Platform
* iOS

# Author or host

*Host - Teams

# Version of SDK

*1.2.5

# Details

Container background image does not cover card

Sample JSON

{"$schema":"http://adaptivecards.io/schemas/adaptive-card.json","type":"AdaptiveCard","version":"1.0","body":[{"type":"Container","items":[{"type":"TextBlock","text":"This is some text"},{"type":"Container","backgroundImage":{"url":"http://104.211.228

[2020-01-04 04:46] RajaniJillaGit commented on #2384
Hi Team,

Any update on the above feature request to be able to support file upload inside adaptive cards. Kindly please share the details.

[2020-01-05 12:09] d1rrected commented on #3357
Have the same problem with all adaptive cards

[2020-01-06 07:23] Chekrii opened #3701 "[MSTeams]Unable to reach app. Please try again on Adaptive card"
# Platform

* .Net

# Author or host
* Host - MsTeams

# Details
- Hi ,
We are using adaptive card in our bot to fill forms. We are doing postBack on Action.submit to send details filled by users to Bot. After some few seconds we are getting the error on the card saying "Unable to reach app. Please try again on Adaptive card".
I don't want to show that error on the card.

<img width="488" alt="Una

[2020-01-06 19:01] shalinijoshi19 commented on #3701
@chekrii is there a sample card that you can share along with repro steps for us here at all? Is this happening only for that specific card or all action.submit flows for you? @matthidinger /@dandriscoll / @ckkashyap is this an AdaptiveCards issue? Adaptivecards doesn't seem to control the actual host app for the post-back do we? Is there any debugging here that we can possibly glean (either post-

[2020-01-07 00:28] paulcam206 commented on #3700
is there anything special about the background image? also, is it accessible to where the card is being rendered?

[2020-01-07 03:24] VikrantSingh01 commented on #3549
@nesalang / @shalinijoshi19 : Any update on this one ?

[2020-01-07 04:20] mutanttech commented on #3054
Any timelines on when this can be materialized in Production.

[2020-01-07 04:21] VikrantSingh01 opened #3702 "[Adaptive Cards / Platform Discrepancy] Excess spacing in empty text blocks"
# Web / Desktop

What platform is your issue or question related to? (Delete other platforms).

- [x] Android
- [x] iOS
- [x] JavaScript
- [x] UWP

#4305 tracks this issue for .NET

# Author or host

This is issue seen in the empty text playlod in Adaptive Card.

# Version of SDK

1.2.5

# Details

For empty text blocks – there is too much spacing rendered on Mobile as compared to Desktop (example

[2020-01-07 05:35] RajaniJillaGit commented on #3701
Hi Team,

Have raised the same issue https://github.com/microsoft/AdaptiveCards/issues/2924.
Kindly please help as it is a road block for the features now. It is happening for all the cards where all we are interacting with external systems.

[2020-01-07 14:55] archanag51 commented on #3054
Yeah , please do let know when will this feature be available in production

[2020-01-07 16:16] shalinijoshi19 commented on #3690
Thanks @ChenPei333333. At this point this isnt something that we support as a feature in the Designer for any card types. Is there an inconsistency that you are trying to report here or just looking for a feature that would allow you to create the json via the web designer and then try to render it on Android just by passing the JSON generated directly? What we are working on publishing is a versi

[2020-01-07 16:27] shalinijoshi19 commented on #3702
Thanks for reporting @VikrantSingh01 . @nesalang another inconsistency issue reported. Could you help take a look! Thanks!

[2020-01-07 16:41] shalinijoshi19 commented on #3647
@murcinar that's great that you were unblocked. Can you also go ahead and update the bug comments with a summary of your discussion/what you learned for the benefit of others who might run into the same problem? thanks again!

[2020-01-07 18:00] shalinijoshi19 commented on #3688
@dclaux / @matthidinger ideas on this one?

[2020-01-07 18:14] shalinijoshi19 commented on #3701
Assigning to you @ckkashyap for a first look. Thanks!

[2020-01-07 18:46] nesalang commented on #3554
@shalinijoshi19

Teams confirmed that the issue is fixed from the last meeting; however, they said single select ChoiceSet that uses radio button still has the issue; and reason for the re-opening the issue.

[2020-01-07 18:58] jwoo-msft opened #3703 "[iOS][Android][Input] [Input Retention]"
# Platform

* Android
* iOS

# Version of SDK
latest

# Details

It's reported by Teams that when adaptive card with user input is scrolled out, and scrolled back in, the user input value is lost.

- Implement sample app ability to scroll an adaptive card out of view
- p0 requirement; value retained after submit action

[2020-01-07 19:03] jwoo-msft opened #3704 "[iOS][Sample App Update] Append AdaptiveCards"
## Platform

* iOS

## Problem
AdaptiveCards are used frequently in chatting apps.
Salient feature of chatting app is scrolling.
Current sample app only show single AdaptiveCards.
Issues or features related to scrolling can't be tested.

## Proposed Solution
Add option to append AdaptiveCards, so scrolling functions can be tested.

## Additional context
This is possibly precursor to #3703

[2020-01-07 19:30] jwoo-msft opened #3705 "[Mobile/JS][Consistency]Actions Rendering Orientation"
# Platform

* Android
* iOS
* JS

# Version of SDK
latest

# Details
Ideally both images should look same.
There are two issues here.
1. differences in actions rendering when actions are squeezed in space,
mobile uses horizontal scroll in this case. In JS, it is shown that actions grew vertically.
we need to find out if JS's hostconfig used vertical alignment for action alignment.
- mobile's horiz

[2020-01-07 22:52] ckkashyap commented on #3701
Hi @Chekrii - can you please paste the adaptive card that you are rendering? This will help with diagnosing this issue further. Also, can you please confirm if you see the same error in your fiddler trace as in #2924.

[2020-01-07 23:02] nesalang commented on #3671
Time and Date value have to be expressed in specific format.
Date: YYYY-MM-DD
Time:HH:MM
Resolution: Created [PR](https://github.com/microsoft/AdaptiveCards/pull/3706) for updated doc

[2020-01-07 23:02] #3671 closed

[2020-01-07 23:07] siduppal commented on #3701
@Chekrii, @RajaniJillaGit - Thanks for reaching out! Can you make sure Teams channel is added on Azure portal for your bots?

![image](https://user-images.githubusercontent.com/7799064/71936696-15771000-315f-11ea-9cb5-91b47d83ba7a.png)

If not, pls add it and let us know if the issue still repros.

If the issue still repros, pls share the bot-id (guid) for your bots which are showing this issue?

[2020-01-08 00:47] gturbahn1 commented on #3480
Hi guys,
We have a customer dependency on this update. Could someone please take a look?

Thanks

[2020-01-08 04:51] RajaniJillaGit commented on #3701
Yes its the same issue. Teams channel is enabled on Azure. please share the email to share the bot id for the same.

[2020-01-08 06:19] Chekrii opened #3707 "[MsTeams]Adding files support in Adaptive card"
**What platform is your feature request related to? **

* .NET Core
* Bot Framework V4

Hi All,

Can we have a new Input in adaptive card where user can attach files(pdf) and send to Bot.

As of now we are taking user Input.text, input.Date and along with that we want to take attachment from user as an input.

Is it possible with Adaptive cards?

Thanks .

[2020-01-08 10:48] Aditya0603 commented on #3700
@paulcam206 nothing about the image, just that the image is smaller than the. card being generated but in case of Cover/Default it should scaleToFill the whole card or update constraints accordingly

[2020-01-08 11:14] RajaniJillaGit opened #3708 "[MSTeams][Attachments] Support on mobile"
Hi Team,

We are having requirement to attach files in Bot on MS teams channel. Looks like it is not supported on mobile version of MS teams Bot as per the below article.
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-and-receive-files?tabs=dotnet

Can you please help sharing the road map and work arounds to achieve this as of now on mobile ?

[2020-01-08 19:48] #3668 closed

[2020-01-08 20:21] RebeccaAnne opened #3709 "[UWP][Unit Tests] RendererRegistration unit tests abort without finishing"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The RendererRegistration tests fail to run with the following error message in the test output:
"The active test run was aborted. Reason: Unable to communicate with test host process."

[2020-01-08 21:19] shalinijoshi19 commented on #3705
Hey @vikrantsingh01, looks like we need more information about this issue. @nesalang FYI.

[2020-01-08 21:29] shalinijoshi19 commented on #3703
@nesalang, what are the specific issues that this bug is tracking?

[2020-01-08 21:33] nesalang commented on #3703
it tracks the following issue: "user input is scrolled out, and scrolled back in, the user input value is lost"
to mark it complete, it has to prove it met "p0 requirement; value retained after submit action"
optional goal is "implement sample app ability to scroll an adaptive cards out of view"

[2020-01-08 21:45] shalinijoshi19 commented on #3685
Thanks for reporting this@schemburkar.  I dont see this repro'ing on https://adaptivecards.io/designer
![image](https://user-images.githubusercontent.com/20822397/72018734-0a82b500-321d-11ea-9341-f3d2cdcf2fda.png)

Can you please confirm if you are still seeing this? If so, @ckkashyap , @siduppal can you please help triage as this doesn't seem to be an AdaptiveCards issue on the onset..

Thanks!

[2020-01-08 22:00] shalinijoshi19 commented on #3684
Thanks for reporting @geo-msft. Is there sample json that you can include in teh report.  @ckkashyap , @dandriscoll it doesnt appear that this is an AdaptiveCards issue does it?

[2020-01-08 22:02] ckkashyap commented on #3701
Hi @RajaniJillaGit - can you please try and follow the instructions at this [link](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/) and debug the bot locally. You can send over the bot id and some recent conversation id's (that dont work) to botframework AT microsoft.com.

[2020-01-08 22:29] paulcam206 commented on #3702
This is actually a duplicate of the (very old) #641. :)

[2020-01-08 23:57] siduppal commented on #3685
@Susan Shen<mailto:Susan.Shen@microsoft.com> can you take a look?

________________________________
From: shalinijoshi19 <notifications@github.com>
Sent: Wednesday, January 8, 2020 1:45 PM
To: microsoft/AdaptiveCards <AdaptiveCards@noreply.github.com>
Cc: Sid Uppal <Sid.Uppal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AdaptiveCards] [Teams][Rendering] Cards not re

[2020-01-09 00:02] siduppal commented on #3701
Hey @RajaniJillaGit - can you open Teams in browser, open Developer Tools, and share the console logs you see for your scenario when you get the "Unable to reach app" error?

[2020-01-09 00:40] #3709 closed

[2020-01-09 01:54] mattcobb opened #3711 "Javascript bot MSTeams mobile apps not rendering action iconUrl"
# JavaScript

# node-js bot sending adaptive card

# botframework v4

# Details

I have an adaptive card with Action.ShowCard and Action.ToggleVisibility actions with iconUrl for the button.  The images render just fine on MSTeams mac app and MSTeams website, but on both iOS and Android MSTeams apps, the images do not show.

Here you can see it working on the desktop app:
<img width="812" alt="mst

[2020-01-09 02:24] schemburkar commented on #3685
@Shalini-MSFT Thanks for investigating. I think you overlooked the fact that the rendering does not work on **Teams** channel, whereas your screenshot is for Web Chat.

I tested again on both live teams app as well as on the designer with the teams channel.

Live Microsoft Teams app ❌
![image](https://user-images.githubusercontent.com/3159347/72032145-8ed44700-32b4-11ea-9fb2-2964b076d6e4.png)

ada

[2020-01-09 03:49] VikrantSingh01 commented on #3705
@Aditya0603  : Please attach the screenshot for this issue.

[2020-01-09 03:52] VikrantSingh01 commented on #3703
This is w.r.t. state management for adaptive card.

[2020-01-09 03:57] VikrantSingh01 commented on #3702
Joseph to check if " " (with one space) works across the board as possible workaround for now.

[2020-01-09 04:01] VikrantSingh01 commented on #3695
As per @nesalang : This is under code review.

[2020-01-09 04:03] VikrantSingh01 commented on #3693
This seems to discrepancy of mobile vs web where the multiline text is scrollable on web vs not on mobile.

[2020-01-09 04:10] VikrantSingh01 commented on #3592
P.R out with change : https://github.com/microsoft/AdaptiveCards/pull/3633/
@Aditya0603 to check.

[2020-01-09 04:14] VikrantSingh01 commented on #3554
@shbhadra : Let's log a new bug for this.

[2020-01-09 04:15] VikrantSingh01 commented on #3549
@nesalang : Estimate of around 4 days for the fix.

[2020-01-09 04:20] #3554 closed

[2020-01-09 04:21] shalinijoshi19 commented on #3549
@almedina-ms can you please look at this wiht high priority for this month's January patch release? Thanks

[2020-01-09 04:22] shalinijoshi19 commented on #3672
Hey Almedina-ms, can you please pick this up wiht high priority for this month's January patch release? Thanks!

[2020-01-09 04:25] shalinijoshi19 commented on #3693
@almedina-ms / @nesalang can you guys take a look at this one? @VikrantSingh01 i think we missed this in our sync today. Assigning this to @almedina-ms for load balancing.

[2020-01-09 04:41] shalinijoshi19 commented on #3711
@vikrantsingh01 is this something you can help get us a first pass on to see if this is really an AdaptiveCards issue? Thanks a ton!

[2020-01-09 04:44] shalinijoshi19 commented on #3682
@dkonyayev can you share your sample adaptiveCards json payload? @ckkashyap / @dandriscoll is this something that your team could help take a first pass at?

[2020-01-09 04:47] shalinijoshi19 commented on #3677
@nesalang could you take a first pass at this? Also do we need to track this with the MsftTeams* label(s)? @VikrantSingh01 FYI

[2020-01-09 05:10] shalinijoshi19 commented on #3537
@nesalang / @matthidinger if this is stale now we should just close this PR out.

[2020-01-09 05:12] shalinijoshi19 commented on #3223
@dclaux can this issue be closed now?

[2020-01-09 05:14] shalinijoshi19 commented on #3140
@cmevawala I believe there are open comments on your PR

[2020-01-09 07:30] geo-msft commented on #3684
Hi,

Thanks a lot for reaching out.

As I stated on the GitHub issue, it appears only in the bot framework emulator.
In Azure webchat control, the card is rendered properly.

I would like to include the code, but it is a customer code.
Is there any private way to share with you the code? If yes, how can I share it, so that is viewable only inside Microsoft?

What are your Microsoft aliases?
Do not

[2020-01-09 08:00] RajaniJillaGit commented on #3701
Hi @siduppal  and @ckkashyap here are the errors logged developer tools.

 [BotCardService::onButtonClicked_messageback()] sendInvoke failed: {"statusCode":502,"headers":{"cache-control":"no-store, must-revalidate, no-cache","content-length":"86","content-type":"application/json; charset=utf-8","contextid":"tcid=5882757895929148753,server=SG2PEPF0000045F,cv=ywGwvOiBh0KJbisGmRApkQ.1.0","pragma":"no

[2020-01-09 08:42] VikrantSingh01 opened #3712 "[Accessibility Issues from Teams Mobile] - Random Order in Reading out Elements"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host
Teams Mobile Client.

# Version of SDK
1.2.5

# Details

Issue :
Creating Another bug to track the Pending Accessibility Issues from https://github.com/microsoft/AdaptiveCards/issues/3271

The main issue is the **order of the reading out the accessibility elements is random** on iOS.

[2020-01-09 08:45] VikrantSingh01 commented on #3712
Action Plan :
@nesalang to add loggers to the Adaptive Card SDK and share the logging enabled Binary to debug the accessibility from our Client.
@Aditya0603  / @shbhadra : To Share the Teams (with instrumented Adaptive Card Library) .apk and .ipa and .app to run the Android and iOS Simulator. (with Instruction)

[2020-01-09 09:08] VikrantSingh01 commented on #3711
This can be verified in the latest Teams Alpha.
![photo6104958019268880762](https://user-images.githubusercontent.com/53896717/72053449-0f169e80-32ed-11ea-9d07-a79cca7687e3.jpg)

[2020-01-09 09:14] VikrantSingh01 commented on #3705
@nesalang / @shalinijoshi19 : Here is the internal link : https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/732783

Attaching Image :
![image](https://user-images.githubusercontent.com/53896717/72054109-5ea99a00-32ee-11ea-821d-b41640fff60d.png)

There are times where the teams platform wants to have consistent O.O.B experience for the UI components (via using Host Config Options). @Aditya

[2020-01-09 09:17] VikrantSingh01 commented on #3702
If the workaround works this could be a possible workaround else would be "now" in priority. For now keeping "normal" priority.

[2020-01-09 09:25] VikrantSingh01 commented on #3653
@nesalang : Can you kindly update intra mobile discrepancy spec with the specific issue you are tracking internally for the team's eas of access. CC- @shalinijoshi19

[2020-01-09 09:53] VikrantSingh01 commented on #2851
How is it on Android and J.S version of SDK ?  CC- @shalinijoshi19

[2020-01-09 15:43] barryptak commented on #3425
Hi. Is there any planned work to look further in to the remaining leaks?
Thanks.

[2020-01-09 15:52] geo-msft commented on #3684
Hi,

Thank you for looking into it.

Here is the bot sample code:

`// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

const { ActivityHandler } = require('botbuilder');
const { MessageFactory, CardFactory } = require('botbuilder');

class EchoBot extends ActivityHandler {
    constructor() {
        super();
        // See https://aka.ms/about-bot-act

[2020-01-09 15:54] geo-msft commented on #3684
The JSON from the adaptive card which I see in the emulator:

`{ "content": { "$schema": "http://adaptivecards.io/schemas/adaptive-card.json", "actions": [ { "title": "Submit", "type": "Action.Submit" } ], "body": [ { "text": "Select the value:", "type": "TextBlock", "wrap": true }, { "text": "What was value 1?", "type": "TextBlock", "wrap": true }, { "columns": [ { "id": "ColumnIntakeSelectedCont

[2020-01-09 19:02] mattcobb commented on #3711
That means verified the repro or the fix?

[2020-01-09 19:07] matthidinger commented on #3708
Hi there, we have an similar issue relating to File Upload support (#2384) but it's not currently on the roadmap. @siduppal might be able to share more on workarounds in Teams or other options

[2020-01-09 19:20] matthidinger commented on #3701
Is this card using FlowBot by chance? If so, Actions do not work with FlowBot/Power Automate yet, but we're actively working on it. No timelines yet but hopefully not much longer.

If you aren't using Flowbot, please continue with the current debugging :)

[2020-01-09 19:26] susanshen96 commented on #3685
@schemburkar, @shalinijoshi19  - Took a look, and it does seem to be an issue on the Teams client. There was a regression in how the button text is rendered, but the buttons in column seems to be a newer rendering issue that wasn't considered before. Will have a fix out, which should be available externally in around a month's time.

[2020-01-09 21:36] nesalang commented on #3711
@mattcobb
this most likely means that once teams' mobile app finishes updating their app with later version of adaptive cards sdk, this issue will be addressed.
the screenshot from @VikrantSingh01 shows images from action icon url, and as they mentioned, this image was taken from their alpha build.

[2020-01-09 22:54] gturbahn1 opened #3715 "Support for v1.2 adaptive cards in Microsoft teams"
Since no one is responding to the #3480 issue any more, I'm opening a new one.

We've been waiting on support for Adaptive Cards 1.2 on Microsoft Teams for a while now, but haven't seen any update.

Could you please provide an update on this?

Thanks!

[2020-01-09 23:13] shalinijoshi19 commented on #3480
Hi @gturbahn1  apologies for the delay in getting to this. This is absolutely the issue to use to track the Teams upgrade. What platform are you specifically interested in - Teams Web/Desktop or Teams Mobile? There is a preview version of Teams with 1.2 support available in preview mode as of Nov 2019; PLease refer to https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/d

[2020-01-09 23:14] shalinijoshi19 commented on #3715
Apologies for the tardiness here @gturbahn1 ; Responded in #3480 . Closing this one out as duplicate of #3480

[2020-01-09 23:14] #3715 closed

[2020-01-09 23:18] shalinijoshi19 commented on #3711
@vikrantsingh01 thanks for helping.. Could you confirm if you see the repro still with Teams Mobile alpha drop or if you've verified it fixed?  Thanks!

[2020-01-09 23:20] shalinijoshi19 commented on #3708
@VikrantSingh01 thoughts on workarounds here for @RajaniJillaGit ?

[2020-01-09 23:26] shalinijoshi19 commented on #3707
@matthidinger, @RebeccaAnne  is this something that we want to or have ever considered as part of Input evolution?  @siduppal / @dandriscoll thoughts on this one?

[2020-01-09 23:31] shalinijoshi19 commented on #3705
@nesalang FYI we have the screenshot here from Teams. @VikrantSingh01 is this the bug thats tracking the longer term goals? Could one of you @nesalang  or @Aditya0603 update the description and title of the bug to reflect precisely what is being tracked here with this issue?

[2020-01-10 01:25] jpjpjp commented on #3681
Curious what the removal of Triage Needed label means.  I may be a singleton but I do think allowing developers the choice of how to handle unresolved template values will ultimately drive a wider variety of solutions.

FWIW, in my case, I have a "build process" that creates the runtime versions of my cards based on the environment they are in.   As an example, in the build process I set the {card

[2020-01-10 01:46] dclaux commented on #3681
Adding "Triage Needed" back. This issue has not been discussed and no decision has been made as to whether we address it and how.

[2020-01-10 02:53] srishtisatwah commented on #3480
Hi guys,
As mentioned by @gturbahn1, we are using Teams Desktop and are trying adaptive cards 1.2. Currently, I am not seeing any cards display. Screenshot attached.

<img width="1213" alt="test_adaptivecards@1 2" src="https://user-images.githubusercontent.com/10636538/72121850-1b145780-3311-11ea-9e0d-0abf4bf61dde.png">

[2020-01-10 04:46] cconrado commented on #3388
@matthidinger any update on this? I kno 1.2 is close can we test this on the dev mode of teams?

[2020-01-10 10:29] Chekrii opened #3717 "[MSTeams][Input.Time] Input.Time property is allowing user to enter text."
# Platform

* .NET
* Bot Framework V4

# Author or host

* Ms Teams

Hi,

We are using Input.Time property in bot but this property is allowing user to enter text and It is not showing 24 hours time format.

Please help with this.

Thanks

![Alarm](https://user-images.githubusercontent.com/49824279/72146253-1196f800-33c2-11ea-957b-65728583cde4.PNG)

[2020-01-10 11:30] Aditya0603 opened #3718 "[iOS][Fallback] Custom Renderer fallback handling fails"
# Platform
* iOS

# Author or host
Host (Teams)

# Version of SDK
1.2.5

# Details
Fallback rendering for custom renderer fails while fallback element is text.

Steps -
1/ create a custom renderer for ACRMedia
2/ Throw a ACOFallbackException in render

try the below JSON

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.1",
  "fallbackT

[2020-01-10 13:14] shalinijoshi19 commented on #3718
@nesalang can you take a look here? Thanks for reporting @Aditya0603 / @VikrantSingh01

[2020-01-10 13:25] #3576 closed

[2020-01-10 13:25] #3577 closed

[2020-01-10 13:33] shalinijoshi19 commented on #3717
Thanks for reporting this @Chekrii . @siduppal this appears to be a Teams issue I think? I just doublechecked the (AC designer)[https://adaptivecards.io/designer] as well as the UWP visualizer and we are correctly not allowing the Input.Time field to accept free-form input.

[2020-01-10 13:36] shalinijoshi19 commented on #3294
@RebeccaAnne can we close this off now as a dup of one of your Input Evolution tasks?

[2020-01-10 13:49] shalinijoshi19 commented on #3206
@RebeccaAnne is there a more recent Input.Evolution related issue that is tracking this work that we can dup this to ?

[2020-01-10 13:53] shalinijoshi19 commented on #3145
@RebeccaAnne is this something that can be community-sourced?

[2020-01-10 18:00] RebeccaAnne commented on #3294
@shalinijoshi19 I think we should keep this one open for now. Nothing in the current plan or discussions would directly address this issue, and I'm not sure there's a great solution to be had other than somehow trying to support placeholder in the default .NET renderer. We could consider something like moving the placeholder to the label position when placeholder is unsupported i suppose, but i th

[2020-01-10 18:03] RebeccaAnne commented on #3206
@shalinijoshi19 It's a little orthogonal, but we could pull this one into the input stuff. I'll leave open for now until i update the doc to add this feature.

[2020-01-10 18:33] shalinijoshi19 commented on #3671
@nesalang,  thanks! Are we now consistent across all renderers/platforms wrt time and date expressions?

[2020-01-10 23:27] RebeccaAnne opened #3719 "[UWP][Unit Tests] Remove image comparison from unit tests"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

Remove image comparison from the UWP unit tests. The image comparison is not stable enough to run consistently as a unit test, and requires manual updates to consider and accept new cards. Updating the unit tests to verify json round tripping and errors only allows us to decouple efforts to

[2020-01-11 00:00] RebeccaAnne opened #3720 "[UWP] Person image with background color not rendering"
# Platform

* UWP

# Details
 [Image.BackgroundColor.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.1/Tests/Image.BackgroundColor.json) test doesn't render the person image with a background color. Only a circle with the background color is shown. Removing either the background color or the person style causes the image to render properly. Adding a size also causes it to r

[2020-01-11 15:09] RajaniJillaGit commented on #3701
Hi @matthidinger it’s not a flowbot. It is on v4 and using adaptive cards with external systems for conversations.

[2020-01-11 15:19] RajaniJillaGit opened #3721 "[MsTeams] Deep link to an app in teams"
Hi Team,

Wanted to build a deep link for an existing app in teams. Read the article about deep link but there is no mention about apps. Can you please help if this is possible? We wanted to build a link to who bot app inbuilt app of teams.

[2020-01-12 03:33] ClairelyClaire opened #3722 "[Designer] Does the templating system support simple string arrays? e.g. ["Red","Blue","Yellow"]"
My JSON data model looks like:

[code]

How do I map the array value of `clade` to the `text` property on an adaptive card's `items` array?

This is what I'm trying to do:
https://docs.microsoft.com/en-us/adaptive-cards/templating/language#repeating-items-in-an-array

[2020-01-13 04:14] welliot commented on #2470
So there is no SVG support on iOS at the moment?  Any recommended workarounds?

[2020-01-13 05:21] mutanttech commented on #3691
I would also want a configurable text box in this star rating setup. So that when user give 3 or less stars we can ask for a small feedback on it. This could make this a super star solution. Please consider this suggestion.

[2020-01-13 16:48] #3444 closed

[2020-01-13 19:03] shalinijoshi19 commented on #3722
@dclaux / @matthidinger could you help with the question here?

[2020-01-13 19:09] matthidinger commented on #3722
Indeed this should work! The syntax is a bit strange when binding to an array of strings directly, you have to use `{$data}` to access the raw value.

With the data you provided above, I pasted it into the Designer **Sample Data** field and built the card. Setting `$data` on a key causes the element to repeat, then you use `{$data}` as a **value** in order to access individual items within the arr

[2020-01-13 19:10] tdurnford opened #3723 "[Javascript][Safari/Media] [Media Attachments not loading in Safari]"
# Platform
* JavaScript

# Author or host
Host [Web Chat](https://github.com/microsoft/BotFramework-WebChat/)

If you're an author, who are you sending cards to?

# Version of SDK
Javascript v1.2.5

# Details
Videos embedded in an Adaptive Card do not load on iOS devices when the user presses the play button that is overlaid on the video unless the user presses pause and restarts the video or navi

[2020-01-13 19:22] dclaux commented on #3722
I was looking at this last night (tool ate to respond, sorry) and I must have broken something in https://vnext.adaptivecards.io/designer as **this doesn't work anymore**. I will have to look at it and fix.

[2020-01-13 19:44] shalinijoshi19 commented on #3723
Hi @tdurnford thanks for reporting this issue as well as the additional context. Could you help us understand specific repro steps/debugging details that lead you to believe this to be an AdaptiveCards issue? @nesalang FYI.

[2020-01-13 19:45] shalinijoshi19 commented on #3720
@RebeccaAnne is this only repro'ing iwth UWP or is this a consistent problem across iOS/Android/JS ?

[2020-01-13 19:49] shalinijoshi19 commented on #3388
Closing this as duplicate of #3480 which is tracking teams update to 1.2 (Note: Teams Desktop is already in preview mode using AdaptiveCards 1.2).

[2020-01-13 19:49] #3388 closed

[2020-01-13 19:51] shalinijoshi19 commented on #3721
@siduppal could you help take a first pass at this issue? @RajaniJillaGit what article are you referring to here again? Please provide a bit more context and why you think it's an AdaptiveCards issue again? Thanks!

[2020-01-13 20:03] RebeccaAnne commented on #3720
@shalinijoshi19  Works fine in Javascript and .NET. Haven't tried the others, but i don't have any reason to believe it would be broken anywhere else.

[2020-01-13 23:19] ClairelyClaire commented on #3722
@matthidinger that did indeed work for me. Can the documentation I linked also be updated to include this information? Thanks!

[2020-01-13 23:25] matthidinger commented on #3722
@ClairelyClaire tried to add some clarification, does this help? https://github.com/MicrosoftDocs/AdaptiveCards/commit/cec9a10a02e26e0ea8c49b976082a765238f4d60

[2020-01-13 23:27] #3719 closed

[2020-01-13 23:28] ClairelyClaire commented on #3722
That's perfect, thanks!

[2020-01-13 23:55] #3695 closed

[2020-01-14 07:00] Chekrii commented on #3707
Please any update on this.

[2020-01-14 14:55] cconrado commented on #3480
@shalinijoshi19 i turned on the developer preview and it didn't expand the adaptive card as referenced in #3388

[2020-01-14 15:34] #3534 closed

[2020-01-14 20:23] nesalang commented on #3723
@tdurnford
does your bot-framework use ios adaptive cards or java script adaptive cards sdk?
if iOS, can you make sure this delegate is implemented?
- (void)didFetchMediaViewController:(AVPlayerViewController *)controller
                               card:(ACOAdaptiveCard *)card
you can check the sample app's implementation from ViewController.m

[2020-01-14 21:32] nesalang commented on #3718
@Aditya0603 ,

there are two apis to register custom renderers
1. setBaseCardElementRenderer
Used to override the behavior of the renderers that renders known elements.
This is the one that should be used for this issue since Media type is a known adaptive cards element.
2. setCustomElementRenderer
Used to add a new type that is currently unknown to adaptive cards scheme, and it requires to regist

[2020-01-15 03:11] Aditya0603 commented on #3718
@nesalang I am using this method itself setBaseCardElementRenderer.

Let me rephrase the question here.
For some specific case we don't need to render the Media element, and instead render the fallback element (if provided).

So I set a new renderer for Media using setBaseCardElementRenderer.

`[registration setBaseCardElementRenderer:[CustomMediaRenderer getInstance]

[2020-01-15 03:28] nesalang commented on #3718
@Aditya0603 thanks for the clarification. This is due to the text preprocessing for performance. I'm going to update the issue description.

[2020-01-15 08:20] geo-msft commented on #3684
One more detail:
![image](https://user-images.githubusercontent.com/57954688/72417020-9f873000-3780-11ea-9e4b-b12b62a21e76.png)

[2020-01-15 08:21] geo-msft commented on #3684
One detail:

In this line, if we convert the value to string, the card is rendered properly:
Instead of
myvalues.push(index);

Do this:
myvalues.push(index.toString());

We expect a better error message which should point us to what the issue is.

[2020-01-15 10:34] Sztacho opened #3728 "[IOS][Adaptive Card]] [Not display button on Adaptive Card]"
ios app teams don't display buttons on the adaptive card.

`{
  "type": "AdaptiveCard",
  "body": [
    {
      "type": "TextBlock",
      "text": "foo/bar",
      "wrap": true,
      "size": "Medium"
    },
    {
      "type": "ActionSet",
      "actions": [
        {
          "type": "Action.Submit",
          "title": "1",
          "data": {
            "some_data": "my_data"
          }

[2020-01-15 11:27] #3728 closed

[2020-01-15 11:28] Sztacho commented on #3728
on ios is other structure in json

[2020-01-16 03:37] shalinijoshi19 commented on #3720
@nesalang, / @almedina-ms can one you test this on iOS/Android resp to rule out this as an issue on these platforms? @paulcam206 do you want to take a stab at costing this out and fixing this if it's an easy one to absorb? Thanks!

[2020-01-16 03:38] shalinijoshi19 commented on #3720
@paulcam206 do unassign & update the issue once we know impact + cost details and if the cost >2 days! Thanks.

[2020-01-16 03:39] shalinijoshi19 commented on #3721
@siduppal , @RajaniJillaGit ping! thanks.

[2020-01-16 08:50] matte-a commented on #3689
Hi, sorry for the delay.

I've just tried what you suggested by changing the id with a non-numeric characters but the result is exactly the same

[2020-01-16 10:07] Dzixxx commented on #3701
Hi, I also faced that issue (JS, botframework v4.6.2) I can paste logs from devtools but not sure how much they will help.

I was using core.ActionTypes.OpenUrl type ( which was working on 15th December - now it stopped )

`
angular.min.js:113 2020-01-16T09:34:27.189Z value not found in enum type. value: 561
(anonymous) @ angular.min.js:113
e.logMessage @ msteams-web-ng1-services.min.js:1
e.error

[2020-01-16 14:17] Chekrii commented on #3717
Hello,
Any update on this.

[2020-01-16 17:53] nesalang commented on #3720
it works on ios.

[2020-01-16 18:11] shalinijoshi19 commented on #3708
@VikrantSingh01 quick ping on this! thanks

[2020-01-16 18:16] #3711 closed

[2020-01-16 18:19] shalinijoshi19 commented on #3712
@nesalang how are we looking on the private framework package we needed to provide to the teams team for debugging?

[2020-01-16 18:21] nesalang commented on #3712
i'm checking out apple's apis for accessibility information. hoping to create a PR today.

[2020-01-16 19:09] #3693 closed

[2020-01-16 21:20] #3549 closed

[2020-01-16 22:26] susanshen96 commented on #3717
Hi @Chekrii - Teams employs a custom renderer for Input.Time, and in order to align with time input fields in other places on Teams - like creating a meeting - we're using text input for the time HTMLElement. We may tweak the logic a little so that the field clears out/reverts to the default time if there's an invalid value in the field, but so far, we don't have plans to disallow users from typin

[2020-01-16 22:44] #3609 closed

[2020-01-17 00:40] shalinijoshi19 commented on #3722
Thanks @dclaux, is this still a bug we need to track then? I"ve gone ahead repurposed it for the time being from a question to an actual bug.

[2020-01-17 00:42] dclaux commented on #3722
On my machine the bug doesn't repro. I think it's just a matter of updating vnext to the current code base in js/renderer-refactor

[2020-01-17 14:48] gouseshake0786 opened #3731 "Adaptive card is not rendering in Webchat"
I am Using BDK v4 template build a bot. Also I am using AdaptiveCard 1.2.1 version

Attachment skillRecommendationAttachment = new Attachment();
                Activity replyToActivity = innerDc.Context.Activity.CreateReply();
skillRecommendationAttachment = GetSkillsCardAttachment();
                Attachment GetSkillsCardAttachment()
                {
                    AdaptiveCard card = ne

[2020-01-17 20:14] shalinijoshi19 commented on #3701
Assigning to you as well @siduppal since Teams seems to be driving it at the moment. @ckkashyap unassigning you for now, FYI. Thanks!

[2020-01-17 20:33] shalinijoshi19 commented on #3454
This was reverted with 1.2.4 since the change in its existing form was a breaking change. Reopening it to track fixing it - either in a non-breaking manner or as-is and version upgrade.

[2020-01-17 20:40] pradeepananth commented on #3701
I am unable to repro with submit and open urls action types in adaptive card. This error
**Invoke agent action failed with status code: BadGateway** usually indicates bot is taking too long (> 5 seconds) to respond to the request  or bot's endpoint is not reachable.
And error code 1008 always indicate bot failure
@Dzixxx  could you please make sure if the bot is able to respond and if the latency

[2020-01-17 20:54] paulcam206 commented on #3720
Looks like this came in with commit f1dcf01c2f0d0a67b12de42ba0198d041efa14ad - guessing it's XamlBuilder changes, but still narrowing down

[2020-01-17 22:47] paulcam206 commented on #3720
I further narrowed it down specifically to 8058022ea7d9dc440e4aa693149538d14192f92d (@RebeccaAnne FYI) :)

[2020-01-18 02:07] shishir-sumant commented on #2948
@dclaux I am trying to send some user data in Http Post action of a message card in teams. It works fine on desktop but is not substituting the value when sent from my android device. Do you have any suggestions? Would be of great help!

action:
  {
          "@@type": "ActionCard",
          "actions": [
            {
              "@@type": "HttpPOST",
              "body": "{\"ID\":\"@{body('Pa

[2020-01-18 21:44] Dzixxx commented on #3701
Hi @pradeepananth, 5 second timeout was the issue ( my server didn't responded to that time )

[2020-01-20 03:17] prasanthrpadharthi opened #3733 "ios teams mobile app, Adaptive card, pre filled text (Input Text) is not showing after recent teams update last month"
# Platform

* iOS

# Author or host

Testing the capabilities of the adaptive card to pre fill text while rendering Text input fields. It was working fine last month, but the latest Teams IOS App update got some issues which dont show the pre filled text in the Text box

# Version of SDK

Tried both Adaptive card 1.0 & 1.2

# Details

ios teams mobile app, Adaptive card, pre filled text (Input Tex

[2020-01-20 13:22] Aditya0603 opened #3734 "[iOS][UI] ACRButton highlighted states show default system color"
# Platform
* iOS
# Author or host
Host (Teams)
# Version of SDK
1.2.5

# Details
ACRButton uses default system button which on highlighted states show default blue color as Background.

Can we change them to UIButtonTypeCustom

[2020-01-21 02:44] FelixZhang001 opened #3735 "[Android/IOS][UI] The ability to make some card background color "transparent" through card payload"
**What platform is your feature request related to? (Delete other platforms).**

* Android
* iOS

**Is your feature request related to a problem? Please describe.**
Recently, we receive a design request to make some specific card background color to be transparent. For other cards, the background color keeps as before.
As we can't distinguish cards during client render, so we can't apply a separat

[2020-01-21 17:17] shalinijoshi19 commented on #3734
@nesalang, can you take a quick first pass at this ask ? Thanks!

[2020-01-21 17:25] shalinijoshi19 commented on #3733
@prasanthrpadharthi can you please share specifically what the card json looks like as well as the specific Teams version you are on ? @VikrantSingh01 would you have ideas here on the repro? I have the latest Teams Alpha app installed, and am working with Adapto-Bot for testing some AC scenarios out but dont quite know how to simulate teh repro above. Thansk! @nesalang  FYI

[2020-01-21 17:29] shalinijoshi19 commented on #3731
@gouseshake0786 do you have access to the card json when you try this in the bot emulator?@ckkashyap / @dandriscoll any other debugging tips here? How would one go about debugging this class of problems where it's a no repro in the emulator but repros in prod webchat ?

[2020-01-21 18:12] srishtisatwah commented on #3480
Hi guys, Any update on this yet?

[2020-01-21 19:11] nesalang commented on #3734
Hey @Aditya0603 ,

Yes, this can be easily accomplished through XIB.
Please follow the instruction [here](https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/ios/native-styling).
If the documentation is empty, please do let me know. I have to update it.

Thanks

[2020-01-21 19:14] ryanlengel commented on #3464
Hey @almedina-ms, is there any progress on this?

[2020-01-21 19:20] almedina-ms commented on #3464
Hi @ryanlengel, can you share a json with me so I can investigate further on the json? I can see that the file modified is ActionSetRenderer so I'm wondering what's happening here

[2020-01-21 22:53] shalinijoshi19 commented on #3703
@VikrantSingh01 at this point we likely wont get to include this in this month's patch (we're tracking code complete this week for a bug bash early next and release 1/31) ; Do we have the instrumented app for us to use at all?

[2020-01-21 22:55] shalinijoshi19 commented on #3703
Meanwhile at lower priority tracking the work at our end to update our sample app to support scrolling using this issue. @nesalang

[2020-01-21 22:59] shalinijoshi19 commented on #3733
Also @nesalang, is this v1.2.6 ?

[2020-01-22 06:04] prasanthrpadharthi commented on #3733
{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.x",
  "body": [
    {
      "type": "TextBlock",
      "text": "Default text input"
    },
    {
      "type": "Input.Text",
      "id": "input1",
      "placeholder": "enter comment",
      "value": "Text Field",
      "maxLength": 500
    }
  ]
}

Tried with 1.0, 1.1 and 1.2 version wit

[2020-01-22 08:09] ivanhofer opened #3736 "[JavaScript] Error encountered in metadata generated for exported symbol 'Media'"
# Platform

* JavaScript

# Version of SDK

1.2.5

# Issue

I'm making an Angular library that uses AdaptiveCards. When I bundle the library, I get two Errors in the source code from Adaptive Cards:

`
ERROR: /node_modules/adaptivecards/src/card-elements.ts:2487:1: Error encountered in metadata generated for exported symbol 'Media':
/node_modules/adaptivecards/src/card-elements.ts:2659:12: Metadat

[2020-01-22 12:48] mplwork commented on #3733
I have the same problem with the result that I can't submit form input for verification.

[2020-01-22 18:58] almedina-ms commented on #3464
@ryanlengel, are the elements that are being cut off actions or are they other type of elements?

[2020-01-22 19:05] pschaeflein opened #3738 "[Templating] If function not recognized for ColumnSet style"
Attempting to render a "table" with alternative row backgrounds.

Designer:
![image](https://user-images.githubusercontent.com/8008013/72924977-86015d80-3d17-11ea-9e7b-65f5448578f5.png)

CardPayload:
[code]
Sample data:
[code]

[2020-01-22 19:20] matthidinger commented on #3738
Hi Paul, thanks for taking the time to use templating and let us know your experience so far.

Couple things:

1. There's a syntax error in your `if` function, it should be: `"style": "{if($index % 2 == 0, 'default', 'emphasis')}"`
2. Unfortunately, even with that fix it still doesn't work, because the modulo `%` operator isn't implemented yet, and...
3. You seem to have identified a bug when a pr

[2020-01-22 19:29] ryanlengel commented on #3464
They are containers with select actions, sorry for the delay!

[code]

[2020-01-22 19:35] dclaux commented on #3738
@matthidinger you beat me to this.
- Indeed modulus isn't currently supported (along with a bunch of other functions)
- The bug you are referring to is already fixed in vnext.adaptivecards.io, I do not plan to backport it. Also, the vnext site should be updated with the latest from js/renderer-refactor
- Beyond these two, there seems to be a problem with $index used in the if function anyway:

Thi

[2020-01-23 00:49] dclaux commented on #3738
I have pushed [a change to the js/refactor branch](https://github.com/microsoft/AdaptiveCards/commit/3a0e720536498a419dc0d2e9dce928e2cea9dd32) that adds support for modulus (`%`) and I took the opportunity to also add `round`, `ceil` and `floor` functions. It also fixes the value of `$index` not being properly evaluated in a function, as well as a couple of serialization bugs that made the designe

[2020-01-23 03:57] Ramesh-MRO commented on #3733
Hello Team,

Any update on this, need anything more for simulation?

Thank you :)

[2020-01-23 07:03] varundmishra opened #3740 "Adaptive Cards Support for MS Teams Incoming Webhooks"
I see that there was an issue which was closed on this (back in 2018) but I wanted to know if/when the Adaptive Cards will be supported by Incoming Webhooks in MS Teams?

[2020-01-23 15:42] pschaeflein commented on #3738
@dclaux Thanks David! I'll try it out when I have a free moment.

I do hope that the templating capability will eventually allow for "conditional" formatting / visibility of all elements in the card.

[2020-01-23 16:23] dclaux commented on #3738
@pschaeflein note that to try it out, for now at least, you'd have to build the library from source from the **js/renderer-refactor** branch. But @matthidinger maybe you could publish beta packages for both renderer and template engine?

@pschaeflein can you elaborate on what you mean by conditional formatting/visibility? There is already quite a  bit you can do - for instance do you know about `$

[2020-01-23 17:03] pschaeflein commented on #3738
Yes,  understood about building directly.

Yes, I've seen `$when`. (I forgot about that when typing "visibility".) My point is a reaction to your comment about the current rendered result alignment. I should have been more specific -- I can see many instances where attributes of a node are set as a result of `if()`, and I would want the alignment/styling to match a card without those conditions.

[2020-01-24 03:40] shalinijoshi19 commented on #3712
@nesalang has a PR out https://github.com/microsoft/AdaptiveCards/pull/3727 that should allow additional debugging of AC elements. @VikrantSingh01 to follow up with @Aditya0603 on current status.

[2020-01-24 03:57] shalinijoshi19 commented on #3705
@VikrantSingh01 to get back with some clarification here - @nesalang can you clarify what the ask is here? Thanks

[2020-01-24 04:04] VikrantSingh01 commented on #3734
@Aditya0603 : Do  we have all the support we need here from A.C Team. Pls. sync up with Gaurav/Amol as well.

[2020-01-24 04:12] shalinijoshi19 commented on #3733
@nesalang was not able to repro this with the AC visualizer app. @VikrantSingh01 + team to help see if this repro's with the latset Teams alpha + adaptobot.

[2020-01-24 08:41] Jageen opened #3741 "[iOS][Code][Sample code is not working] ACRActionDelegate is not called"
# Platform
iOS

# Author or host
HOST : I am just running sample code from GIT.

# Version of SDK
(1.2.4)

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...
latest from master branch

# Details
ACRActionDelegate is not called when user click on button.
I am using sample code
Here I am attaching my source-code (Which is basically sample code from git itself) and video for batter

[2020-01-24 08:43] Jageen commented on #3741
I try to debug issue and find out that its happening because we are passing nil as ACOHostConfig.
due to that _actionsTargetBuilderDirector object is not created
(https://github.com/microsoft/AdaptiveCards/blob/fe5fcefb4275b6bfd0fbf395e0fc80f71a01277d/source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm#L95)

I believe there should be a way to access default config object if it's not pa

[2020-01-24 14:49] hari44330 commented on #389
is it possible to add alt text for icon  ?

[2020-01-24 16:58] shalinijoshi19 commented on #3685
@susanshen96 assigning to you for tracking.

[2020-01-24 17:00] shalinijoshi19 commented on #3684
@siduppal  / @dandriscoll / @ckkashyap FYI on this since I am not able to effect issue transfers to your repo yet.

[2020-01-24 18:19] shalinijoshi19 commented on #3681
@dclaux is sthis a bug or a feature request?

[2020-01-24 18:25] shalinijoshi19 commented on #3681
@RebeccaAnne looks like another contender for the Wednesday discussions maybe? @matthidinger FYI.

[2020-01-24 18:37] shalinijoshi19 commented on #2738
@johnflanagan-spok if you have a PR out to help out wiht this work item we'd be happy to absorb this. We have been swamped with a few higher priority items/bugs but would love to see this happen esp if it helps you out.

[2020-01-24 18:41] dclaux commented on #3681
@shalinijoshi19 it is a feature request.

[2020-01-24 18:43] shalinijoshi19 commented on #3196
@Aditya0603 / @nesalang is this still an issue that is repro'ing with the latest AC 1.2.5 ?

[2020-01-24 18:49] shalinijoshi19 commented on #3740
@siduppal / @VikrantSingh01/ @matthidinger / @dclaux  ideas on what the ask here is ?

[2020-01-24 18:51] shalinijoshi19 commented on #3470
Resolving as #dup of #3468 . Let's track supporting SwiftUI and corresponding investigations using that via that.

[2020-01-24 18:51] #3470 closed

[2020-01-24 18:52] matthidinger commented on #3740
This is something that Teams is aware of and has been working on, but we don't have a timeline for when it can be released yet. There are some complicated dependencies that make it difficult to estimate

[2020-01-24 18:54] shalinijoshi19 commented on #3741
@nesalang, thoughts?

[2020-01-24 18:54] dclaux commented on #3740
This is related to Teams' Connectors support, which are currently limited to the MessageCard format. The Connectors platform is owned by Outlook, and it is not straightforward to add support for Adaptive Cards.

[2020-01-24 18:57] shalinijoshi19 commented on #3681
@nesalang FYI as you ramp up on the templating story in general.

[2020-01-24 18:59] shalinijoshi19 commented on #3740
Thanks @matthidinger / @dclaux . @siduppal can you share the tracking issue etc at your end for reference here for details/timelines? Thanks!

[2020-01-24 19:09] #3672 closed

[2020-01-24 19:31] nesalang commented on #3741
@Jageen
Thanks for reporting this issue. Yes, the action build directors shouldn't be depended on the presence of user host config. i
thanks

[2020-01-24 22:02] nesalang commented on #3681
@shalinijoshi19
thanks for including me for the discussion. This is an interesting use case.

[2020-01-24 22:07] nesalang commented on #3705
@shalinijoshi19 The original ask was why buttons are rendered differently. The current understanding is that actions orientation is controlled by host config setting, so this is expected behavior.

[2020-01-24 22:51] dclaux commented on #3681
@nesalang and @shalinijoshi19 the "problem" isn't so much with templating as it is with AC renderers.

Our design to this date has been that when the `"text"` property of a **TextBlock** isn't specified or is set to undefined or an empty string then the TextBlock isn't rendered. Therefore, if the `"text"` property is set to an expression (`"{text}"` in the above example) and that expression evalua

[2020-01-25 00:18] nesalang commented on #3681
@dclaux
When the expand operation is complete, do we have to leave the expanded text as a valid adaptive card? Can we leave the validation part to the adaptive card parser? expand -> parse -> render; instead of expand & parse -> render?

[2020-01-25 01:03] dclaux commented on #3681
@nesalang the validation is always left to the AC parser, since the templating engine is a generic JSON-to-JSON transformation engine. The templating engine doesn't know (and shouldn't know IMO) anything about AC.

[2020-01-25 01:25] nesalang commented on #3681
@dclaux
the issue creator said that users can **defer** rendering the expanded json until all template data context is ready. and you said, "expression evaluates to undefined or an empty string, the TextBlock isn't rendered, and that's by design end-to-end". Rendering is not the issue here I think. It is the expand operation dropping the template string  when it can't be bound to data that is the

[2020-01-25 01:35] dclaux commented on #3681
@nesalang I don't understand what you're saying. The report says:

There is no reference to deferring as far as I can tell.

The bottom line is that the template engine generates a TextBlock that will not be rendered because its text property is undefined (technically the TextBlock is even invalid since text is supposed to be a required property.) The person reporting the issue doesn't want the Te

[2020-01-25 01:47] VikrantSingh01 commented on #3702
@nesalang / @shalinijoshi19 : We may need this fix in 1.2.6. Alternatively, if there is a consistent workaround which works in all platform, It would be great to know (for short term).

[2020-01-25 01:49] nesalang commented on #3681
@dclaux
I'm not trying to agonize you.
The report says:

The desired behavior is templated json will remain as templated json after expand operation as long as there are unbound "templatized" fields.

[2020-01-25 01:57] dclaux commented on #3681
No matter how many opportunities, templating always happens before rendering, and the problem is it generates a TextBlock with an unspecified text 😊

[2020-01-25 02:02] nesalang commented on #3681
@dclaux
but i think dropping the TextBlock when text is set to invalid one "{hello.world}" is the job of render() function. expand() and render() are separate steps.

[2020-01-25 14:22] jpjpjp commented on #3681
Hi @dclaux and @matthidinger,  I’m the original requester.   In my use case I’m using the sdk in my application logic to transform the card Json (twice) before sending it to a platform to render.

Perhaps a way to solve this use case is to simply add an optional parameter to the sdk’s template.expand function, ie:

let leaveUnfilledTemplates = true;
let card = template.expand(context, leaveUnfille

[2020-01-25 17:14] dclaux commented on #3681
@jpjpjp your problem is understood, and indeed it seems to me that the right solution is what you suggest, e.g. introduce an option to keep the original value when the expression evaluates to undefined.

We will discuss.

[2020-01-25 17:39] dclaux commented on #3681
@nesalang I think we ight be talking past each other. But let me try to be more precise.

What you call an invalid expression (namely `"{hello.world}"`) is not necessarily "invalid."

Take this data object:
[code]

So essentially an array with two objects; the `"shortBio"` property is not required, and for Matt is not present (and is therefore `undefined`).

Now consider this template:
[code]

- T

[2020-01-27 00:12] Jageen commented on #3741
If this is going to take longer time to fix this issue, I am suggesting to change sample code (as patch) in README.mg file to avoid same problem for future users.
https://github.com/microsoft/AdaptiveCards/pull/3744

[2020-01-27 04:03] VikrantSingh01 commented on #3705
@shbhadra @Aditya0603 : I understand we can handle this using host config. Any other concerns with this bug ?

[2020-01-27 04:20] VikrantSingh01 commented on #3196
@Aditya0603 / @Shbhadra Do we still need a fix here on top of A.C 1.2.5 ?

[2020-01-27 04:21] VikrantSingh01 commented on #3733
@Aditya0603 : Can you / amol take a quick look at this ?

[2020-01-27 04:24] VikrantSingh01 commented on #3712
@nesalang / @shalinijoshi19 : Kindly let us know once this accessibility fix is out. We would like to do integrate this along with frictionless update P.R (via Cocopad). CC - @Aditya0603 / @shbhadra

[2020-01-27 07:46] Antti-Leskinen opened #3745 "[JavaScript]Adaptive card rendering issue in the newest version, when customization is applied."
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

According to my understanding Host since we are using directline which means we can modify the adaptive cards host file

[2020-01-27 17:35] arman-g commented on #3723
Is this going to be included in the next release? And when is the next release? Thanks!

[2020-01-27 22:26] shalinijoshi19 commented on #3741
@jageen @nesalang has a PR out that fixes this issue above

[2020-01-27 22:38] shalinijoshi19 commented on #3702
@paulcam206 can you help out with this one real quck? Is there a short term workaround we can provide Teams Mobile? Load balancing to you

[2020-01-27 22:40] shalinijoshi19 commented on #3705
Removing the v1.2.6 tracking label from this one

[2020-01-27 22:41] paulcam206 commented on #3702
@shalinijoshi19 -- we'll need to decide what the correct behavior should be. in the meantime, I'll check to see if there's a workaround we can supply :)

[2020-01-27 23:16] shalinijoshi19 commented on #3702
@vikrantsingh01 @paulcam206 confirmed that the single whitespace workaround doesnt work consistently across platforms at this point. While we investigate on an approach that we can land at least for 1.2.7 (Feb patch) heads up that this may not land by our target code complete (today) on time for a 1.2.6 release for 1/31. Could you explain what the driving Teams scenario for this specific case (emp

[2020-01-27 23:22] #3741 closed

[2020-01-28 03:26] #3718 closed

[2020-01-28 03:57] #3533 closed

[2020-01-28 12:15] shalinijoshi19 commented on #3480
@srishtisatwah , @gturbahn1 , apologies for hte delay here. If you are already using the Developer Preview for teams Desktop and continue to see the original issue, can you please file a separate bug/issue for it so we can engage on it along with the Teams Desktop partners?  Thanks!

[2020-01-28 12:23] shalinijoshi19 commented on #3740
@dclaux / @siduppal  do we have tracking bugs or issues or forums that we can route the customer to for updates here? @varundmishra FYI please see notes above.

[2020-01-28 12:27] shalinijoshi19 commented on #3745
Thanks for reporting this @Antti-Leskinen and for the detailed bug report and repro steps. ARe you able to actually share some of the JSON for the card at all to help speed the investigation up? Meanwhile, @dclaux do you have any insights here?

[2020-01-28 13:13] Antti-Leskinen commented on #3745
I can share the adaptive card that is used in the above picture since it happens on any card no matter the content. As long as it includes button or any html element if I remember correctly. I added the file as txt. You need to change it to json.
[adaptive-card-button-error.txt](https://github.com/microsoft/AdaptiveCards/files/4122510/adaptive-card-button-error.txt)

[2020-01-28 16:15] geo-msft commented on #3482
If this refers to text wrap on Action.Submit, it would be very useful to have this on Teams as well. I notice many users would like this feature.

Thank you.

[2020-01-28 23:11] nesalang commented on #3592
closed via #3687

[2020-01-28 23:11] #3592 closed

[2020-01-28 23:28] cconrado commented on #3334
@matthidinger how early this year? :)

[2020-01-29 00:01] jwoo-msft opened #3748 "[JS][Bug Bash] [ImageSet Auto Size doesn't work properly]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Version of SDK

1.2.6

# Details

# repro steps:
1. add the below json, and paste it to designer.
2. no images will show up.
3. ctrl-a then paste it again
[code]
some pictures are overlapped each other, and some pictures have wrong aspect ratio
JS
![image](https://user-images.githubuserconten

[2020-01-29 00:02] matthidinger commented on #3334
It's getting close! Check out [this video](https://www.youtube.com/watch?v=74qHXhI6xZc&feature=youtu.be) and [blog post](https://poszytek.eu/en/microsoft-en/office-365-en/powerautomate-en/register-response-from-custom-adaptive-cards-sent-from-power-automate-to-teams/). They are currently available to some folks in preview and we're really close to release!

[2020-01-29 00:41] jwoo-msft opened #3749 "[iOS][BugBash] [Vertical Content Alignment for Adaptive Card Not Working]"
# Platform
* iOS

# Version of SDK
1.2.6

# Details
Expected Behavior
on JS
![image](https://user-images.githubusercontent.com/4112696/73317510-29a4af00-41eb-11ea-8fd9-20a73caaa6d2.png)

Actual Behavior
on iOS
![image](https://user-images.githubusercontent.com/4112696/73318065-1e528300-41ed-11ea-87bb-e08833da9f90.png)

[2020-01-29 00:41] shalinijoshi19 commented on #3712
@VikrantSingh01 release/1.2 branch has the changes merged in a this point. @nesalang is there a framework file that we can share with Teams built out of hte code currently in release/1.2? Thanks!

[2020-01-29 01:04] almedina-ms opened #3750 "[Android] HideFirstVisibleElementSeparator fails to hide top space"
# Platform

* Android

# Version of SDK

Testing 1.2.6

# Details

The card states that the first element should not have extra space at the top but it does until the card is interacted with

[2020-01-29 01:18] shalinijoshi19 opened #3751 "[Android] Error in the Submit action flow in Input.Text.Multiline sample in the test visualizer app"
# Platform
Android

# Version of SDK
Bits off of release/1.2
# Details
Repro Steps:
1. Open the test visualizer app on Android
2. Try to open the v1.2\tests\Input.Text.Multiline.json sample to test for regression tests for issue #3714
3. Scroll to the bottom; Click the ShowCard button; Add some text in the Comment Input.Text for the shown card and then click OK to submit action; Notice the error t

[2020-01-29 01:20] almedina-ms commented on #3751
Can you check that this is the application installed from Joseph's email? I was going to install one but it was from April 2019

[2020-01-29 01:24] shalinijoshi19 commented on #3751
I followed the link in the OneNote which is version 2020.01.28.1 which seems accurate..@nesalang?

[2020-01-29 01:25] almedina-ms commented on #3751
Yes, the application is fine, I just tested this

[2020-01-29 01:27] dclaux commented on #3748
I am not able to repro this.

[2020-01-29 01:28] almedina-ms commented on #3751
I just checked, the fix was not ported to the release/1.2 branch but it is in master

https://github.com/microsoft/AdaptiveCards/blob/a55815e3b4be12f9b09ba9570310179a3691813d/source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/MainActivityAdaptiveCardsSample.java#L484

[2020-01-29 01:30] shalinijoshi19 commented on #3751
Are you sure? I see it here - https://github.com/microsoft/AdaptiveCards/commits/release/1.2/

[2020-01-29 01:43] almedina-ms commented on #3751
This is the original issue: #3184

[2020-01-29 01:49] nesalang commented on #3748
you're really active! i edited the description with repro step

[2020-01-29 03:42] nesalang commented on #3712
@shalinijoshi19 & @VikrantSingh01 [here is the link](https://microsoft.visualstudio.com/OS/_build/results?buildId=21034196&view=artifacts) to the artifact.

[2020-01-29 08:22] noocyte commented on #457
We're also considering using Adaptive Cards for our municipality, public facing information. Map support out of the box would make that a lot easier.

[2020-01-29 08:26] noocyte commented on #624
Suggestion: The Coordinate property should use Geojson and their feature/geometry. And perhaps support multiple features. Example: https://gist.github.com/wavded/1200773?short_path=99c1af9

[2020-01-29 17:57] cconrado opened #3752 "[Windows][Rendering][Teams] [Adaptive Card 1.2 not fully stretching]"
# Windows

* Teams

# Author
Azure Logic App to Teams

# Details

So in Teams adaptive cards don't stretch across the screen like messagecards do. I was told that v1.2 would fix this.

EX. Current Behavior
![image](https://user-images.githubusercontent.com/9168464/73382984-28788e00-428e-11ea-9235-0c09309a9ce4.png)

Ex. Expected Behavior
![image](https://user-images.githubusercontent.com/9168464/73

[2020-01-29 21:28] chbomtempo commented on #3425
@barryptak Maybe @shalinijoshi19 have an update on this one...

[2020-01-30 20:07] Lanakire opened #3755 "[Typescript][Update Schema to include 1.2] [Typescript Schema file is out of date]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Workday for Teams integration

# Version of SDK

NPM Version 1.2.5

# Details

I am working on the Workday for Teams application, and we are creating cards in typescript. We use the schema file in `source/nodejs/adaptivecards/src/schema.ts` for types, but the file hasn't been

[2020-01-30 20:50] zhaotai opened #3756 "[Browser][Javascript bundle size] [adaptivecards-fabric import whole fabric so that the bundle size is huge]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

I'm a host. My app is MyAnalytics.

# Version of SDK
adaptivecards-fabric 1.0.4

# Details
![image](https://user-images.githubusercontent.com/8597746/73488709-46152880-435e-11ea-8a3a-d92108fec79a.png)
This will import all into the final bundle. I only circled one. There are a

[2020-01-30 22:10] murcinar opened #3757 "[Platform][Broad Issue Category if applicable (eg Accessibility)] [Bug Title]"
# Platform
* .NET HTML

# Author or host
host, Finance Digital Assistant

If you're an author, who are you sending cards to?

Bot Framework SDK version 4.6.2

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

# Details

images inserted into adaptive cards don't have a property to assign aria-label and by default come as "undefined" as their aria-label. This is a bug preventing

[2020-01-30 22:22] desaibijon opened #3758 "[Android] Add support to provide styling to dialogs"
* Android

**Is your feature request related to a problem? Please describe.**
Action buttons on dialogs created by Adaptive Cards are not visible

**Describe the solution you'd like**
Is it possible to render the dialogs in adaptive cards with custom styling? The solution to show the buttons seems to work when creating an alert dialog with a custom styling which specifies the text color explicitly

[2020-01-30 22:31] murcinar commented on #3757
Attaching a screenshot of the Adaptive card with the image (trash can image):

![image](https://user-images.githubusercontent.com/58231579/73496314-26d1c780-436d-11ea-802a-432cf8ebebac.png)

[2020-01-30 22:36] dclaux commented on #3757
You need to set the `title` property of your Image's `selectAction`. It will be used as the `aria-label` attribute.

[2020-01-30 22:44] srishtisatwah opened #3759 "[Teams Desktop] [Support for v1.2 adaptive cards in Preview Mode fails]"
# Details
I am using Teams Desktop and am trying adaptive cards 1.2 in Developer Preview mode.
Currently, I am not seeing any cards display. Screenshot attached.

We have a customer dependency on this.
As recommended by @shalinijoshi19 in #3480 , [here](https://github.com/microsoft/AdaptiveCards/issues/3480#issuecomment-579217963) , I am creating this new issue.
Could someone please take a look?

[2020-01-30 22:49] srishtisatwah commented on #3480
Opened #3759

[2020-01-30 23:42] murcinar commented on #3757
setting the title property of the selectAction fixed the issue. Thank you for your help!

[2020-01-31 01:56] matthidinger commented on #3756
Thanks for filing this. As I understand it our webpack config has marked all those dependencies as "externals" and in package.json we've marked them as "peerDependencies" meaning they need to be loaded in the consuming app. It's possible something is incorrect in our setup but can you confirm that it is actually loading more than you expect in this configuration?

[2020-01-31 11:50] shalinijoshi19 commented on #3748
@dclaux could you take a first pass with teh repro steps that @nesalang provides? Thanks!

[2020-01-31 11:52] shalinijoshi19 commented on #3749
@dclaux thoughts on this ? Marking investigate and assigning to you for a frst pass; Please add back "Triage Needed" and unassign  yourself once you are done investigating/update with comments? thanks!

[2020-01-31 12:24] shalinijoshi19 commented on #3745
@dclaux, the attached sample json above + using the designer with the onclick event handler added seems to repro the issue for the user here.. For reference please see the comments from the webchat dev ( @stevkan ) [here](https://github.com/microsoft/BotFramework-WebChat/issues/2834#issuecomment-578610774)

[2020-01-31 12:27] shalinijoshi19 commented on #3750
@almedina-ms can you please add some additional debugging context - what is the card here that is being referred to? Repro steps? Screenshots? And finally what is the expected behavior/potential issue (in case you've had a chance to debug/dig in)? Thanks!

[2020-01-31 12:30] shalinijoshi19 commented on #3751
Ok so this is just a sample issue that is not avaiable in release/1.2 Closing as a dup of #3184

[2020-01-31 12:30] #3751 closed

[2020-01-31 12:35] shalinijoshi19 commented on #3752
@dclaux ideas on this one? Thanks!

[2020-01-31 12:41] shalinijoshi19 commented on #3755
Thanks for reporting @Lanakire . @matthidinger / @andrewleader thoughts on this one? Is there a process thing we are missing? I thought this was auto-generated now no?

[2020-01-31 12:44] shalinijoshi19 commented on #3756
@matthidinger since we've responded to this issue marking as "Investigate" and since we're waiting to hear back from @zhaotai added "Needs author feedback" label for telemetry

[2020-01-31 12:46] shalinijoshi19 commented on #3759
@siduppal / @susanshen96 / @dclaux thoughts on this ? @srishtisatwah coul dyou provide the sample json payload for your adaptive cards? Thanks

[2020-01-31 17:25] dclaux commented on #3748
`auto` and `stretch` are not supported sizes in ImageSet. But the JS renderer fails to fall back to `medium` in those cases, so what you're seeing is HTML doing its best to auto-size while being constrained to a maximum height for each image.

The fix will be to fall back to `medium` when either `auto` or `stretch` are specified as `imageSIze`, and to remove the option to select `auto` or `stretch

[2020-01-31 17:35] dclaux commented on #3755
@shalinijoshi19 the person who opened this issue is explicitly referring to the `schema.ts` file that is part of the JS library. I've always wanted to remove it and was not the one to add it in the first place.

Things are more complicated than just updating it to the 1.2 schema. The next verdsion of the library (2.0) will support all versions of the Adaptive Card schema in the sense that its pars

[2020-01-31 17:50] dclaux commented on #3745
@Antti-Leskinen I think the problem is probably that your implementation has taken a dependency on the generated DOM, and while that is definitely something you can do, we make no promise to not modify the way the DOM is generated from one version to another. I think the generated DOM has indeed changed between the 1.0 and 1.2 version of the library, and therefore the trick you were previously usi

[2020-01-31 17:57] dclaux commented on #3752
@cconrado this is a Teams issue, not an Adaptive Card issue. 1.2 can't fix this, and it was never broken to start with. Teams is the entity responsible for imposing a maximum width to the card, and their logic differs between MessageCard and Adaptive Card.

[2020-01-31 18:49] matthidinger commented on #2139
**JavaScript workaround:** while waiting on this feature to be broadly available, it is possible to solve this today using the JavaScript SDK:

[code]

[2020-01-31 19:33] dclaux commented on #3688
@atishayv please try `"$when": "{title != ''}"`

[2020-01-31 19:39] dclaux commented on #3670
Hi @sowsan, I don't think that's going to happen. Being able to render pretty much random HTML content within an Adaptive Card would defeat the purpose of Adaptive Cards in the first place.

[2020-01-31 19:39] #3670 closed

[2020-01-31 19:43] dclaux commented on #2294
Closing this as those are addressed in this PR: https://github.com/microsoft/AdaptiveCards/pull/3508

[2020-01-31 19:43] #2294 closed

[2020-01-31 22:20] cconrado commented on #3752
@dclaux thanks for that.

So where I can I post this issue so the right team resolves it?

[2020-01-31 23:37] dclaux commented on #3752
Let's mention @billbliss and @siduppal here - they should see it and take it from there. That being said, I believe this behavior is by design, so chances are it will not change.

[2020-02-01 09:58] gouseshake0786 commented on #3731
Can I have any update on this?.

On Tue, 21 Jan 2020, 11:00 pm msftbot[bot], <notifications@github.com>
wrote:

[2020-02-02 21:14] jpjpjp commented on #1512
This is an old request, but I'll add to it as well.   On Webex Teams we see many Bot Developers who ask for the ability for "the buttons to be disabled after they have been clicked".   The obvious use case for this is in poll scenarios where after a user chooses "yes" or "no", you want to restrict any further votes from that client.

Today we suggest that developers either delete the card, or writ

[2020-02-03 07:20] Antti-Leskinen commented on #3745
That is the problem. There is nothing I can do since the adaptive card button click is not getting recognized. As evidenced by the "event.target" not showing anything when clicking the button but it does show the html element when clicking anywhere else Our implementation depends on capturing the adaptive card button click. It was recognized in the old version but not in the new version. On the ad

[2020-02-03 07:39] adumrewal opened #3761 "[Teams iOS][ColumnSet-Rendering] [Text gets clipped in columnset if both columns are stretch type]"
# Teams - iOS

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams

# Version of SDK

1.2.5

# Details

If columns in ColumnSet are of type stretch, text gets clipped based on comparative size of texts in columns. PFA the screenshot and JSON.
![Simulator Screen Shot - iPhone X (12 4) - 2020-02-03 at 12 16 47](https://user-images.gith

[2020-02-03 13:16] vman commented on #3244
Adaptive cards rendering in Teams Dark theme on Android devices is still an issue. They are being rendered in the default theme.

[2020-02-03 16:45] dclaux commented on #3745
@Antti-Leskinen the implementation hasn't changed when it comes to rendering buttons.

The real question is, why are you hooking in to the generated elements in the first place? You should simply implement a handler for the `onExecuteAction` event. If that's not what you're doing, then you should try it; if you're already doing that but still need to hook into the generated buttons' click events,

[2020-02-03 18:14] jpjpjp commented on #3171
Which version of the designer is this fixed in?   I'm still seeing the default value being defined as a string in the generated JSON.

When designing Input.Number here:
[![Screen-Shot-2020-02-03-at-12-59-23-PM.png](https://i.postimg.cc/3JbWLsQW/Screen-Shot-2020-02-03-at-12-59-23-PM.png)](https://postimg.cc/KRBZjszy)

the generated JSON is:

[code]

Note that the "min" and "max" values are numbers

[2020-02-03 18:49] dclaux commented on #3171
It is fixed in https://vnext.adaptivecards.io/designer/ which is powered by the [2.0 alpha release](https://www.npmjs.com/package/adaptivecards/v/2.0.0-alpha.1). There is no intent to backfix into previous releases at this point because it is a breaking change.

[2020-02-03 19:54] LLautt commented on #3573
Has there been any updates on this from anyone?  I have the same problem with single quotations, being replaced with "&#39;"

[2020-02-04 05:51] nesalang commented on #3761
this is fixed in the master. I will make sure the fix is part of 1.2.6 release

![image](https://user-images.githubusercontent.com/4112696/73717656-48b1ae00-46cf-11ea-9bbc-e2a207f68617.png)

[2020-02-04 07:08] nesalang commented on #3761
I verified that the fix is part 1.2.6 release, and it's not reproducible. I will leave it open for a few days, but will close it if there are no activities.

[2020-02-04 13:47] bil-ash commented on #1326
Any progress on this?
I would also like to use AdaptiveCards(in js) but the only thing which is stopping me is the ability to set id of elements

[2020-02-04 13:50] bil-ash commented on #1326
https://github.com/microsoft/AdaptiveCards/issues/1326#issuecomment-559169635

Any progress on this?
I would also like to use AdaptiveCards(in js only) but the only thing which is stopping me is the ability to manually set the id of elements.

[2020-02-04 16:44] nesalang opened #3762 "[iOS][Swift] Module Map File"
**What platform is your feature request related to? (Delete other platforms).**

* iOS

**Is your feature request related to a problem? Please describe.**
Swift users can use our framework using a bridge header.
But there is a better way to share our framework with our users.

**Describe the solution you'd like**
Add a module and its module map file.

[2020-02-04 23:21] susanshen96 opened #3765 "[TS][Adaptive Card Designer][Image in column with size "auto" disappears]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Typescript
* Adaptive Card Designer

# Version of SDK

1.2.5

# Details

The payload in question - (`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "ColumnSet",
            "columns": [

[2020-02-04 23:52] dclaux commented on #3765
@susanshen96 unfortunately, as discussed this morning, the generated DOM is correct, so there isn't much I can do. I am not able to repro on my side. I believe it is a browser/cache/something like that issue.

[2020-02-05 06:40] shaikShehanaaz commented on #3707
Any update or workaround for this ?
Our requirement is to attach file in adaptive card in MS Teams.

[2020-02-05 18:57] nesalang commented on #3761
Closed as the fix is in 1.2.6 & master, and there have been no activities for last 2 days.

[2020-02-05 18:57] #3761 closed

[2020-02-05 20:58] desaibijon opened #3767 "[Android][Extensibility] [TimePickerDialog used in Input.Time card type does not show action buttons]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Android

# Author or host

Host -> Android

What version are you using? Android v1.2.6

# Details

There are issues when the Input.Time CardElementType is rendered by Android. The picker dialog does display the time and has the ability to change the time value, but it is missing the action buttons at the bo

[2020-02-06 06:08] Har1pr1ya opened #3768 "[Azure Bot - Adaptive Card][Accessibility - Alttext for ICON used in Action button] [MAS 1.1.1: Images must have alternate text (img)]"
Issue: Images must have alternate text (image-alt - https://dequeuniversity.com/rules/axe/3.3/image-alt?application=msftAI)​

Environment: Chrome version 78.0.3904.108​
​Adaptive card version-  **adaptivecards-1.1.3**

This accessibility issue was found using Accessibility Insights for Web 2.10.3 (axe-core 3.3.2), a tool that helps find and fix accessibility issues. Get more information & download

[2020-02-06 09:57] hiteshtare commented on #2186
@lokeshbansal1993 @dclaux

Hello ,
I am facing similar issue, submit action is not working for the below code. But works fine in emulator and webchat.

  let adaptiveCard = new AdaptiveCards.AdaptiveCard();
                adaptiveCard.hostConfig = new AdaptiveCards.HostConfig({
                  fontFamily: "Segoe UI, Helvetica Neue, sans-serif"
                });
                adaptiveCard.pa

[2020-02-06 23:37] premaarya opened #3770 "Action Button Alignment - Horizontal or Vertical"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
Action Buttons are aligned either horizontal or vertical depending on the HostConfig setting. If  I want to align them Horizontal for a yes/no, submit/cancel card and  vertical for adaptive car

[2020-02-07 17:18] shalinijoshi19 commented on #3768
@Har1pr1ya / @siduppal  is this actually on AdaptiveCards? Who/how is the icon for the action button being specified? @RebeccaAnne thoughts ? I thought this was something that the card author would need to specify when they described the image json and use the [alt-text](https://adaptivecards.io/explorer/Image.html) property on it?

[2020-02-07 17:22] shalinijoshi19 commented on #3767
@almedina-ms , @nesalang  thoughts?

[2020-02-07 17:33] shalinijoshi19 commented on #3765
@susanshen96 can you actually attach a screen recording/screentogif of what you are seeing and calling out as a bug? Also what version of Edge are you referring to?  The json itself renders with the image as expected on both Edge Anaheim (dev) as well as Chrome directly and dont see any errors or issues viewing the image that is getting rendered either? Thanks!

[2020-02-07 18:57] zhaotai commented on #3756
I'm not saying the import of "react".
I'm saying "office-ui-fabric-react". You import the whole package in and that's non business of peer dependency or dependency.
The correct way is `import { XX } from "office-ui-fabric-react/lib/XX"`.

[2020-02-07 19:12] dandriscoll commented on #3768
We are preparing a spec for alt text on Bot Framework CardActions, which can be used within Adaptive Cards. At a high level, the plan is to use the `title` field for alt text in most cases and allow it to be overridden with a new `imageAltText` field when required.

For Adaptive Cards,

- You will need to work out what to do with your own action types
- You may need to introduce something similar

[2020-02-10 11:40] Antti-Leskinen commented on #3745
Sorry, for the long delay. Since I am using React and botframework webchat and according to the API docs in here: https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/API.md
the activityMiddleware option should be correct, but it only seems to add new DOM elements instead of having a way to modify existing one, It also includes the card property but it seems to be different from the

[2020-02-10 16:54] shalinijoshi19 commented on #3521
@tolotrasamuel  do the suggestions above from @matthidinger and @corinagum help you here? At this point am closing out the issue but please feel free to re-open if you have more questions/follow up's here. Thanks!

[2020-02-10 16:54] #3521 closed

[2020-02-10 17:05] shalinijoshi19 commented on #3768
Thanks @dandriscoll.  Would you then @RebeccaAnne can you weigh in here on Dan's comments above?

[2020-02-10 17:14] dclaux commented on #3745
I'm really not sure how to help here. I think the best is to engage with the WebChat folks. @billba is this something you could help with?

[2020-02-10 17:37] #3736 closed

[2020-02-10 19:16] shalinijoshi19 commented on #3717
@Chekrii please refer to the response from @susanshen96 from the Teams team. I am closing this out for now. Please feel free to reopen should you have additional follow up's. Thanks!

[2020-02-10 19:16] #3717 closed

[2020-02-10 19:30] shalinijoshi19 commented on #3756
@matthidinger, who from the office fabric team would be the best folks to help farm this out to?

[2020-02-11 00:29] RebeccaAnne opened #3771 "[UWP][Visualizer Accessibility] Keyboard Focus goes to non-interactive error section"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When navigating the visualizer using the tab key, after the json edit section the focus goes to the error section. This section is non-interactive, and should not have a tab stop.

[2020-02-11 00:32] RebeccaAnne opened #3772 "[UWP][Visualizer Accessibility] Keyboard Focus goes to card before separator"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When tab navigating the visualizer, the focus moves to the rendered card before the separator slider which is unexpected because the slider is to the left of the rendered card.

[2020-02-11 05:44] shbhadra commented on #3671
@nesalang @shalinijoshi19 I believe this has been erroneously closed, the issue still persists in the 1.2.6 drop. Note that the bug is not regarding the format of the date, but that the date input element picks up todays date by default, instead of the specified date value.

[2020-02-11 12:31] shalinijoshi19 commented on #3745
@dandriscoll / @ckkashyap thoughts on this one please?

[2020-02-11 13:56] bil-ash commented on #3453
https://github.com/microsoft/AdaptiveCards/issues/1326#issuecomment-581918310

[2020-02-11 18:28] nesalang commented on #3671
@shbhadra ,

Thanks for reaching out to us.

'''json
{
         "type":"Input.Date",
         "value":"**03/12/2019**",
         "id":"date"
      }
'''

The date string, "03/12/2019",  is in wrong format.
The correct format is 2019-03-12 . i.e YYYY-MM-DD.

[2020-02-11 18:36] cconrado commented on #3752
@dclaux no update 😔

[2020-02-11 18:40] amitvig22 commented on #2448
If there is an update on this please let us know :) we would like to move to an official nuget for the FromJson calls as well.

[2020-02-12 07:11] shbhadra opened #3775 "[Android][Button Icon rendering] [Button icons size, too big and not controllable]"
# Platform
What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host
HOST

# Version of SDK
1.2.6

# Details
For icons placed on the left of the title in a button, the image appears too large and further the size is not controllable using the host config. The icons rendered on web are a lot smaller.

Following screenshots illustrate the issue. They

[2020-02-12 08:18] arpitgupta19 opened #3776 "Crash while rendering adaptive card"
iOS
Host
1.2.5

iOS app crashes while rendering the below json to create an adpative card
It happens when this card is sent in a chat or channel
[code]

[2020-02-12 17:21] shalinijoshi19 commented on #3775
@almedina-ms can you please take a look to investigate? Thanks! @nesalang FYI.

[2020-02-12 19:01] shalinijoshi19 commented on #3776
@nesalang assigning to you since you are already looking into this. @arpitgupta19 does this repro wiht 1.2.6 bits (the latest iOS cocoapod package)?

[2020-02-12 19:09] RebeccaAnne opened #3777 "[UWP][Accessibility] Cards with background images contain an additional tab stop"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When a card with a background image is rendered in UWP (i.e. [AdaptiveCard.BackgroundImage.FillMode.Cover.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.2/Elements/AdaptiveCard.BackgroundImage.FillMode.Cover.json)), there is an extra tab stop. This can cause confusi

[2020-02-12 19:21] nesalang commented on #3776
@shalinijoshi19 thanks & I just created [PR](https://github.com/microsoft/AdaptiveCards/pull/3779) for this issue.

[2020-02-12 22:38] BillAutomationAnywhere opened #3780 "[Designer] Paste JSON in Card Payload Editor?"
Hi, how come we can't paste previously saved card?  It seem very un-intuitive if we have remake from scratch every time.

[2020-02-12 22:43] BillAutomationAnywhere commented on #3780
Oh nevermind, it works, sorry.

[2020-02-12 22:43] #3780 closed

[2020-02-13 03:52] scovetta opened #3781 "[All][Docs] Typo in ActionSet docs ("Array of Image")"
# Details

The [docs](https://adaptivecards.io/explorer/ActionSet.html) for ActionSet reference an "array of Image elements to show". I think this should be an array of Action elements to show.

![image](https://user-images.githubusercontent.com/732166/74399877-1d1a7c00-4dd1-11ea-8e66-ee6f57373317.png)

[2020-02-13 05:15] shalinijoshi19 commented on #3734
@Aditya0603 / @VikrantSingh01 closing this out at this point unless you have specific documentation asks of us? If so could you file a separate issue with teh specifics of where the documentation or support/samples is lacking and can be improved? Thanks!

[2020-02-13 05:15] #3734 closed

[2020-02-13 06:10] arpitgupta19 commented on #3776
@shalinijoshi19 @nesalang
Aditya tested it with 1.2.6 and it was still crashing.