[2016-12-08 22:27] matthidinger opened #2 "Section "title" property"
Example seen in FlightIntinerary.
[code]

Semantics:
* Always displayed at the same location within the section (probably at the top)
* Always rendered using a very specific font (size, weight, color)
* Possibly useful for accessibility or speech-devices

[2016-12-08 22:29] matthidinger opened #3 "TextBlock isSubtle property"
Should we make subtle a textColor semantic value versus the isSubtle property. Is it useful to combine them?

`{ textColor: "warning", "isSubtle": true } `

[2016-12-08 22:31] matthidinger opened #4 "Tooling to validate json payload against the schema"

[2016-12-08 22:36] matthidinger opened #5 "Automatically deploy the Visualizer to a hosted site on build"

[2016-12-08 22:47] matthidinger opened #6 "Card versioning and fallback"
# Problem

If a bot developer absolutely requires a v2 renderer, and fallback would not be appropriate, they can add this attribute and the renderer would output something like “Unfortunately this content couldn’t be displayed”

# Schema

1. `version` is a required property on all payloads.
1. `minVersion` is an optional property that allows a developer to declare that their card must only be rend

[2016-12-08 23:06] matthidinger opened #7 "Update Toast to simulate pulling app logo and remove from payload"
CalendarReminder.json shouldn't have a ColumnGroup in it. The Visualizer should simulate pulling an app logo and display name and not be part of the payload itself

[2016-12-08 23:07] matthidinger opened #8 "Add Cortana Card experiment to Visualizer drop down"

[2016-12-08 23:07] matthidinger opened #9 "Add Receipt Card sample"
Similar to this: https://developers.facebook.com/docs/messenger-platform/send-api-reference/receipt-template

[2016-12-08 23:10] matthidinger opened #10 "Add Sports Summary card"
Similar to

![image](https://cloud.githubusercontent.com/assets/1432195/21031454/6f15463c-bd58-11e6-8208-0715a475bcb7.png)

[2016-12-08 23:11] matthidinger opened #11 "Add Stock Card sample"
Similar to

![image](https://cloud.githubusercontent.com/assets/1432195/21031487/9aa711e0-bd58-11e6-9562-65047e4d47f0.png)

[2016-12-08 23:13] matthidinger opened #12 "Flesh out "House of Cards" concept"
Allowing a single payload to house multiple Card variations. E.g., a developer could include an AdaptiveCard targeting Skype, an FbCard targetting FB Messenger, and a SpeechCard meant to being read on a headless device.

This should also cover the the Skype scenario where a Card has a Collapsed and FullScreen view, as seen [here](https://developers.facebook.com/docs/messenger-platform/send-api-ref

[2016-12-08 23:14] matthidinger opened #13 "Sections become more semantic"

[2016-12-08 23:16] matthidinger opened #14 "Phonetic/Speech attributes on TextBlock and Containers"

[2016-12-08 23:19] matthidinger opened #15 "User-friendly errors in the Visualizer with malformed JSON"

[2016-12-08 23:22] matthidinger opened #16 "Remove requirement of root sections property"
For simple cards they should be able to put TextBlock right inside the AdaptiveCard items. Or a ColumnGroup, or whatever they choose

[2016-12-08 23:31] matthidinger opened #17 "Flesh out root level Actions object"

[2016-12-09 17:21] matthidinger opened #19 "Define json schema for known elements"

[2016-12-10 17:14] matthidinger opened #22 "Published Visualizer needs a way to browse Scenario payloads without local copies"

[2016-12-29 18:44] matthidinger opened #23 "Schema for List-based choice input"
Cortana Scenario: User says "Find a Starbucks", and it presents a customized list of numbered items that the user can choose. They need more than just a "displayName" that we have in the MultiChoiceInput

[2017-01-04 00:02] #12 closed, assigned to nobody

[2017-01-09 19:29] matthidinger opened #24 "Rationalize BF suggestedActions with AdaptiveCard actions property"
Per team meeting on 1/3

[2017-01-09 19:29] matthidinger opened #25 "Rationalize Section vs ColumnGroup vs XAML Column"

[2017-01-09 19:31] matthidinger opened #26 "Prototype translation layer from Adaptive XML to Adaptive JSON"

[2017-01-09 19:43] matthidinger opened #27 "Visualizer UI gets 2nd-tier configuration for Client preview"
Selecting "Live Tile" shows additional options to choose which Tile Size to the Visualizer will show. E.g., Small, Medium, Wide, Large.

[2017-01-09 19:48] matthidinger opened #28 "Sections should not be mandatory for simple cards"

[2017-01-10 23:42] matthidinger opened #29 "Visualizer supports domain-specific payloads"
A User can paste in a full Timeline or Bot payload and visualize the adaptive section

[2017-01-11 00:00] matthidinger opened #30 "Create true Scenario payloads for Container domains"
1. Bot Framework payload
2. Activity Timeline payload
3. Outlook Connector
4. Live Tile
5. Toast Notification
6. Cortana

[2017-01-11 00:08] matthidinger opened #31 "iOS/Android/UWP Shared Code Prototype"

[2017-01-11 00:11] matthidinger opened #32 "BotFramework C# SDK has API to generate payload"

[2017-01-11 00:14] matthidinger opened #33 "Create Bot that generates Adaptive Card responses"

[2017-01-11 00:14] matthidinger opened #34 "Integrate WebChatControl with AdaptiveCard Renderer"

[2017-01-11 00:16] matthidinger opened #35 "BotFramework translation to 3rd-party channels"

[2017-01-11 00:19] matthidinger opened #36 "Update schema documentation once draft is ready"

[2017-01-11 21:26] #28 closed, assigned to matthidinger

[2017-01-11 21:55] matthidinger opened #37 "IntelliSense in Visualizer"

[2017-01-11 21:56] matthidinger opened #38 "HTML renderer enable strictNullChecks and noImplicitAny"

[2017-01-11 23:11] #16 closed, assigned to matthidinger

[2017-01-13 02:50] matthidinger opened #40 "Handling of expanded/collapsed views in a single payload"

[2017-01-17 06:52] matthidinger opened #41 "Accessibility review"

[2017-01-17 18:44] #13 closed, assigned to nobody

[2017-01-17 18:46] matthidinger opened #42 "Google Now scenario validation"
![google-now](https://cloud.githubusercontent.com/assets/1432195/22034780/33e4a21a-dca2-11e6-85dc-023d18d70f30.jpg)

[2017-01-17 18:49] matthidinger opened #43 "Multi-targeting a single payload to multiple containers"

[2017-01-17 18:51] matthidinger opened #44 "Live Tile using JSON"
[code]

[2017-01-17 18:52] matthidinger opened #45 "Toast Notifications using JSON"
[code]

[2017-01-17 18:53] matthidinger opened #46 "Adaptive Card Collection to send multiple "views" in a single payload"
Allowing a single payload to house multiple Card variations. E.g., a developer could include an AdaptiveCard targeting Skype, an FbCard targetting FB Messenger, and a SpeechCard meant to being read on a headless device.

This should also cover the the Skype scenario where a Card has a Collapsed and FullScreen view, as seen here on Facebook Messenger:

[2017-01-17 18:58] matthidinger opened #47 "Renderer allows containers to support custom types"
Scenario: Toast Notifications have a progress bar in their payloads
[code]

The Renderer should provide some kind of callback to the container to handle generating UI for any unknown types

[2017-01-17 22:40] matthidinger opened #48 "AdaptiveForm proposal"

[2017-01-18 00:04] matthidinger opened #50 "Container "separator" property"
Enum values: top, bottom, both

To visually divide sections

[2017-01-18 17:08] matthidinger opened #51 "End-to-end versioning from schema to renderer to host app"

[2017-01-18 17:10] matthidinger opened #52 "Renderer generating bitmaps"
Should this be built into the renderer or left up to the host app?

[2017-01-18 21:52] matthidinger opened #53 "Host App for UWP Renderer"

[2017-01-18 21:52] matthidinger opened #54 "Host App for Android Renderer"

[2017-01-18 21:52] matthidinger opened #55 "Host App for iOS Renderer"

[2017-01-18 22:51] matthidinger opened #56 "Review names of all elements/properties"

[2017-01-20 00:00] matthidinger opened #57 "Handling of non-Latin languages"
We ran into some issues in the Windows Tile Renderer when it came to Thai and other asian languages which had larger heights and were getting clipped with the line above them

[2017-01-26 17:30] matthidinger opened #60 "Scenario: Feedback with 5 radio buttons"
![image](https://cloud.githubusercontent.com/assets/1432195/22342684/1063887e-e3aa-11e6-98c3-23dbd16ce727.png)

[2017-01-27 03:01] matthidinger opened #64 "Show Speech button in Visualizer in all containers"

[2017-01-27 03:39] #64 closed, assigned to nobody

[2017-02-16 00:10] #17 closed, assigned to dclaux, matthidinger

[2017-02-16 00:11] #24 closed, assigned to nobody

[2017-02-16 00:11] #25 closed, assigned to nobody

[2017-02-16 00:12] #48 closed, assigned to nobody

[2017-02-16 00:12] #56 closed, assigned to nobody

[2017-02-16 00:17] #14 closed, assigned to nobody

[2017-02-21 23:33] #36 closed, assigned to matthidinger

[2017-02-21 23:33] #3 closed, assigned to nobody

[2017-02-21 23:34] #50 closed, assigned to nobody

[2017-02-22 18:12] matthidinger opened #106 "Image "includeQueryParameters" property would append attributes like scale and high-contrast"
Remote images need context about the client to ensure the image will look correct.
[code]
When `includeQueryParametersis` is true we will append query string params to the request that the client can use to generate properly.

## Suggested query params:

**ms-scale** a scale factor that is recommended based on the DPI of the device
**ms-contrast** - whether the device/app is operating in a high-co

[2017-02-22 18:17] matthidinger opened #107 "Image rendering needs configurable max download size for remote images"
Windows only allow 200kb, etc

[2017-02-22 18:19] matthidinger opened #108 "UWP renderer supports ms-appx and ms-appdata URIs"

[2017-02-22 23:48] matthidinger opened #110 "Accessibility considerations for renderers"

[2017-02-24 22:13] andrewleader opened #112 "Text size is missing a 6th size for parity with existing tile/toast notifications"
Tiles/toasts have six sizes... right now the schema has only 5. It's missing a largest "Huge" size

Small = caption
Normal = base
Medium = subtitle
Large = title
ExtraLarge = subheader
?????????? = header

[2017-02-27 17:49] #19 closed, assigned to nobody

[2017-02-27 17:54] matthidinger opened #116 "FactSet allows an AdaptiveElement for the value, allows succinct creation of forms with a label/input control"

[2017-03-02 01:16] #32 closed, assigned to tomlm

[2017-03-02 01:17] #26 closed, assigned to matthidinger

[2017-03-02 01:18] #2 closed, assigned to nobody

[2017-03-03 17:50] anbare opened #132 "HorizontalAlignment missing a stretch value"
Right now there's only left, center, and right. How would an image that stretches to the width be displayed?

[2017-03-03 18:56] andrewleader opened #134 "Vertical content alignment in containers"
# Implementation status
- [x] TypeScript
- [x] UWP
- [x] WPF (#1350)
- [x] iOS (#1351)
- [x] Android (#1289)
- [x] Documentation

# Problem
Currently, it's not possible to vertical align content within a column (or within a fixed height container like Timeline). Without vertical alignment on the body and containers itself, you won't be able to achieve things like this...

![image](https://cloud.gi

[2017-03-05 19:08] andrewleader opened #136 "TextBlock missing a "numerical" style"
When you start using larger font sizes, those also implicitly add more space to the top before the actual pixels for the characters start.

Therefore, without an option to trim that initial padding from the numbers, using large fonts for things like displaying a count becomes impossible.

For example, the following tile notification would not look correct, since the large "5" would actually be dis

[2017-03-06 18:11] matthidinger opened #137 "UWP Renderer needs ability to drop elements that don't entirely fit within height"
This is mostly useful for fixed-height containers like Tiles... does Timeline need this?

[2017-03-06 23:12] matthidinger opened #138 "Support custom image URIs, enabling symbols and URI schemes like ms-appx"
# Implementation status
- [ ] TypeScript
- [x] UWP (PR #638)
- [x] WPF
- [x] iOS
- [x] Android
- [x] Documentation

# Scenarios
Enables Card authors to use custom URL schemes for Images, e.g., a set of icons that are packaged within a particular app, or specialized form of URL resolution.

## Scenario: Custom Icons
The Skype app could include a custom set of icons that are packaged within their ap

[2017-03-06 23:42] matthidinger opened #139 "Renderer supports custom emoji font"
Allows clients to override the OS emoji font

[2017-03-06 23:44] matthidinger opened #140 "Emoji support to substitute strings like :thumbsup:"
This is similar to markdown (or the exact same?). If we support it we would need the Renderer to be able to override the list of supported stickers

[2017-03-07 02:37] matthidinger opened #142 "Proposal: Rename selectAction to invokeAction"
or `launchAction`

Thoughts?

[2017-03-08 18:07] matthidinger opened #145 "UWP Renderer considerations for fixed height containers like Tiles, Timeline"
Dropping elements that don't fit, etc.

[2017-03-09 15:45] #33 closed, assigned to nobody

[2017-03-09 15:46] #35 closed, assigned to nobody

[2017-03-09 16:21] #4 closed, assigned to nobody

[2017-03-09 16:21] #11 closed, assigned to matthidinger

[2017-03-09 16:21] #9 closed, assigned to matthidinger

[2017-03-09 22:05] andrewleader opened #147 "inlineAction on text boxes"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.2
<td>✔️ .NET (#1359)<br/>🔄 Android (#2671)<br/>🔄 iOS (#2672)<br/>🔄 TS (#1360)<br/>✔️ UWP (#1283)</td>
<td>✔️ Shared (#1282)<br/>🔄 Designer (#2674)</td>
</tr>
</table>

# Solves requests

* Ability to display image button to right of input for quick-reply toast (#1992)

## Example Comps

![image](https://

[2017-03-16 21:42] matthidinger opened #153 "WPF renderer has dependency on 3rd party libs"
Can we factor these out potentially?

[2017-03-20 15:44] riarenas opened #155 "Does Column only make sense inside a ColumnSet?"
According to the schema, Column extends Container, which in turn extends CardElement.  This means in theory a card author would be able to specify a column wherever a card element, is expected. Is this supported behavior, or does a column only make sense in the context of a ColumnSet?

[2017-03-22 17:03] matthidinger opened #158 "Cleanup CSS style names with finalized schema"

[2017-03-27 18:51] matthidinger opened #161 "Submit action gets body property to override default input gathering"

[2017-03-27 21:15] andrewleader opened #162 "Input.Text doesn't have a defaultInput property"
On toasts, you are able to provide default text input that is already typed in the text box (in addition to placeholder content... defaultInput is as if the user already typed something whereas placeholder is just invisible).

To maintain parity with toasts, we would need to be able to pre-specify the text on text inputs.

[code]

[2017-03-27 21:22] #162 closed, assigned to nobody

[2017-03-31 20:50] johngallardo opened #181 "Image type in JSON schema is out of sync with documentation (speak vs. altText)"
[Adaptive Card JSON schema](https://github.com/Microsoft/AdaptiveCards/blob/master/schemas/adaptive-card.json) references a speak attribute, everything else calls this altText.

[2017-04-02 16:38] matthidinger opened #182 "Standardize and document markdown support"
Document which markdown formats are supported, and make sure each renderer is consistent

[2017-04-02 16:55] matthidinger opened #183 "Cross-platform styling schema for host apps"
This would allow host apps to define their primary style once and automatically light-up on each platform that our renderers work on.

[2017-04-02 16:58] matthidinger opened #184 "Finish the Renderer Implementation docs"
https://github.com/Microsoft/AdaptiveCards/blob/master/docs/RendererImplementation.md

[2017-04-02 17:03] matthidinger opened #185 "Design/branding pass on content and Visualizer"

[2017-04-02 17:43] #31 closed, assigned to nobody

[2017-04-02 23:23] matthidinger opened #187 "Should our OM types be prefixed with Adaptive: AdaptiveTextBlock vs TextBlock."
Normally I would say no, but using the renderer in Xamarin Forms and WPF it seems very common that a developer would import our namespace AND the native UI stack, which is very likely to have conflicting types like Image, TextBlock, etc.

[2017-04-02 23:24] matthidinger opened #188 ".NET: Naming in the OM is weird without the dot: ActionShowCard should be ShowCardAction."
And

InputDate in JSON vs DateInput in C#

[2017-04-02 23:26] matthidinger opened #189 "Move Experiments folder somewhere"

[2017-04-03 19:37] matthidinger opened #192 "TextBlock maxLines not working in HTML"

[2017-04-04 01:39] matthidinger opened #193 "Fix build dependency requiring internal fuse package feed"
Workaround: add this to nuget package sources:

 https://fuselabs.pkgs.visualstudio.com/_packaging/packages/nuget/v3/index.json

[2017-04-04 04:07] matthidinger opened #195 "Audio player support"
![image](https://cloud.githubusercontent.com/assets/1432195/24641097/78f294c0-18b1-11e7-84ac-4c483295e04f.png)

[2017-04-04 04:07] matthidinger opened #196 "Media player support"
# Implementation status
- [x] .NET (#1356)
- [x] Android (#1353)
- [x] iOS (#1352)
- [x] JavaScript (#1361) (in PR: #1864)
- [x] UWP (#1354)
- [x] Documentation

## Problem

It is not possible to embed media elements in an Adaptive Card today. Media would initially support **audio** and **video**.

## Scenario Requirements

* Authors need to be able to provide both video and audio. Some bots only

[2017-04-04 16:35] ChrisWPDX opened #197 "No way to bottom align content"
For fixed size cards like Timeline there's no good way to place content at the bottom of the card.  It'd be useful to add something like a vertical alignment to container to provide that.

[2017-04-05 01:15] matthidinger opened #199 "Actions should become vertical if they no longer fit"

[2017-04-05 20:37] #187 closed, assigned to nobody

[2017-04-05 20:42] matthidinger opened #202 "Explorer actions not populating markdown"

[2017-04-05 21:01] matthidinger opened #203 "Need way to associate TextBlock with Input (or add Label)"

[2017-04-05 22:34] tomlm opened #205 "ImageSet doesn't wrap, but is just a vertical list"

[2017-04-06 17:14] riarenas opened #212 "Column Size property is not a string in some of the samples."
According to https://github.com/Microsoft/AdaptiveCards/blob/master/docs/Schema.md#column, The Size property should be a string. In some of the samples such as

- https://github.com/Microsoft/AdaptiveCards/blob/master/samples/Scenarios/BingStock.json

- https://github.com/Microsoft/AdaptiveCards/blob/master/samples/Scenarios/FlightUpdate.json

The size property is a number.

Which one is correct?

[2017-04-06 22:40] #205 closed, assigned to dclaux

[2017-04-07 15:49] matthidinger opened #215 "Json-Schema for host configuration"

[2017-04-10 19:25] matthidinger opened #217 "AccessViolationException on BingStocks payload"
Load BingStocks.json in the master UWP renderer

System.AccessViolationException: 'Attempted to read or write protected memory. This is often an indication that other memory is corrupt.'

[2017-04-12 23:08] #217 closed, assigned to nobody

[2017-04-14 00:52] #188 closed, assigned to tomlm

[2017-04-17 16:22] matthidinger opened #234 "Additional properties on CardElements and actions"
# Intro

The properties that exist today on Cards are **official** properties and are **universally supported**. For example, `TextBlock.Weight` is supported and must be implemented by every renderer.

Some hosts want to add **host-specific properties** that they understand. This might be because their host supports advanced scenarios, like blurring an image or modifying the Action.Submit to perfo

[2017-04-17 16:49] matthidinger opened #235 "Renderer version property"
Our Renderers should declare a read-only property specifying the version of the schema they support.

[2017-04-17 20:56] matthidinger opened #237 "Remove XFControls dependency from Xamarin project"

[2017-04-25 21:57] #192 closed, assigned to dclaux

[2017-04-25 21:57] #158 closed, assigned to dclaux, danmarshall

[2017-04-25 23:07] w-Yuan opened #253 "api to disable card interaction"
I think it will be useful to have an interface that can disable all the interaction on the card, either text input, date picker, dropdown or button. So that when developer render a card, he can disable it in case something happens.

[2017-04-26 23:24] riarenas opened #256 "Host Options Image Size"
ImageSize Host configuration only allows for an int value to determine image size. What happens if the client doesn't want square images?

[2017-04-26 23:31] riarenas opened #257 "Ability to specify High contrast mode for a card in Host Options"

[2017-05-01 22:35] matthidinger opened #271 "Support custom fonts in Host Config on Android"
If an app has a custom font packaged within their app, the Renderers needs a way to load that custom font from the host config.

iOS already supports custom fonts, but Android doesn't and would need a new API for hosts to register their custom font.

[2017-05-01 22:45] matthidinger opened #272 "Semantic hints on actions to mark destructive/undestructive"
Dupe of #861

### Problem Space

If Hosts/platforms have UX guidelines on how to order actions like OK/Cancel or Accept/Decline, we should allow authors to markup their actions accordingly. Hosts should also be able to style these if they wish.

[2017-05-02 19:53] matthidinger opened #277 "Is TextBlock `weight` useful with markdown?"
It seems redundant, and I've noticed a few partners who are making cards just use markdown to bold the text block. They didn't even realize (or care) we had a `weight` property.

[2017-05-05 02:45] danmarshall opened #290 "HTML - input field values not passed to onExecuteAction"
Try this in the visualizer, fill out the fields and click submit
[code]

[2017-05-07 18:50] #290 closed, assigned to nobody

[2017-05-07 18:52] danmarshall opened #301 "HTML - Allow HostConfig in card constructor"
On [this page](http://adaptivecards-staging.azurewebsites.net/) we show several cards on the same page, but each have their own HostConfig. So encapsulating the HostConfig would be nice instead of a global singleton.

[2017-05-10 17:48] RebeccaAnne opened #319 "Handle speak properties in the UWP renderer"

[2017-05-11 14:21] #189 closed, assigned to matthidinger

[2017-05-11 14:21] #184 closed, assigned to matthidinger

[2017-05-11 14:21] #183 closed, assigned to nobody

[2017-05-11 14:22] #182 closed, assigned to tomlm

[2017-05-11 14:22] #153 closed, assigned to tomlm

[2017-05-11 17:58] #237 closed, assigned to matthidinger

[2017-05-11 17:58] #185 closed, assigned to nobody

[2017-05-11 17:59] #53 closed, assigned to matthidinger

[2017-05-11 17:59] #34 closed, assigned to danmarshall

[2017-05-11 18:04] #30 closed, assigned to matthidinger

[2017-05-11 18:05] #10 closed, assigned to matthidinger

[2017-05-11 18:05] #8 closed, assigned to matthidinger

[2017-05-12 22:48] dclaux commented on #253
Don't hook the onExecuteAction event, and buttons won't do anything. The visualizer is in the exact same situation. Still not understanding why there is a need for something else/new?

[2017-05-13 21:28] jonathanmachado opened #328 "React"
I am working with the react library and the new concept of adaptativecards presented by microsoft and I have the following doubt when I make the render this returns me [object HTMLDivElement] I tried to make a parser of the html and I managed to place it, the problem is that when performing This parser is not doing the binding of the cards example click, someone could help me with this problem.

[2017-05-14 16:39] danmarshall commented on #328
Hi @jonathanmachado , stay tuned, we will add a sample.

[2017-05-14 16:47] danmarshall commented on #328
You are correct in that you cannot use the HTML of the card, because there are event handlers attached to nodes. Instead, append the card node to your React element when the component mounts. Here is an example in TypeScript:

[code]

[2017-05-14 16:53] dclaux commented on #328
@jonathanmachado , in addition to what @danmarshall pasted above, you'll probably want to handle some events to support actions. You will need to add the following code:

[code]

[2017-05-14 23:14] jonathanmachado commented on #328
Thanks @dclaux and @danmarshall  my problem it's resolved, nice working in this project.

I am very happy to be able to solve it.

[2017-05-14 23:14] #328 closed

[2017-05-15 20:48] andrewleader opened #330 "UWP parser requires "type": "Column" when it's not necessary"
Accepted, task list:

- [x] TypeScript
- [x] UWP (PR #555)
- [x] Android (PR #555)
- [x] iOS (PR #555)
- [x] .NET

The following payload will break the UWP parser

[code]

It breaks simply because each column item doesn't have `"type": "Column"` specified which is redundant and unnecessary, since ColumnSet's column property is explicitly an array of Column type... the Web visualizer doesn't break

[2017-05-15 20:51] riarenas commented on #330
According to http://adaptivecards.io/documentation/#column. The type property is required.

[2017-05-15 20:51] riarenas commented on #330
Didn't mean to close.

[2017-05-15 20:58] anbare opened #331 "UWP renderer fails to render image with "person" style unless "size" property provided"
In the UWP renderer, if you're using an image with "person" style, and you don't manually specify the size of the image, it fails to render. Non-person images render fine without the style provided.

[code]

Notice how the image just completely gets dropped. Adding in `"size": "medium"` makes it render. Web visualizer displays this correctly without the size provided.

[2017-05-15 21:09] andrewleader opened #332 "Schema doesn't allow empty columns"
A common thing developers do is use columns to get a specific percent-based width on images as seen in the example below.

![image](https://cloud.githubusercontent.com/assets/13246069/26079427/9445aa0a-3977-11e7-8c0c-018b6c98e95c.png)

The schema requires that a column have an items array... and additionally the UWP renderer requires that the array have an item... the Web renderer also requires th

[2017-05-15 22:07] anbare commented on #147
(nvm, will open new issue on ability to associate input with text box for Ctrl+Enter)

[2017-05-15 22:11] andrewleader opened #333 "Associate a button with a text box for Ctrl+Enter behavior"
There should be a generic way to link a button to an input, so that when you press "Enter" or "Ctrl+Enter", the button is pressed. Given inputs already have id's, here's what I would propose (notice that **inputId** on the **action** is the new item):

![image](https://user-images.githubusercontent.com/13246069/45718333-8309c200-bb51-11e8-8e5e-010f26536960.png)

[code]

Basically, if an input has

[2017-05-15 22:11] dclaux commented on #332
Is the ask to make it possible to size an image as a percentage of the available width in the container it's in?

[2017-05-15 22:29] anbare opened #334 "UWP renderer breaks with Input.Text inside a column"
With the UWP renderer, if you place an Input.Text inside a column, it crashes and throws memory write exceptions

[code]

Works fine on Web

[2017-05-15 22:38] anbare commented on #147
Actually we do have to re-open this. Using two columns with a size = auto on the image column doesn't work, as seen below

![image](https://cloud.githubusercontent.com/assets/13246069/26082368/54d317ce-3984-11e7-81ba-e11f328869c0.png)

There's no way to force the image to match the height of the text box. The airplane seen there displays taller than the text box itself.

Maybe we need a size prope

[2017-05-15 22:56] dclaux commented on #332
I have updated the HTML renderer so it allows empty columns. We still have to discuss the schema and whether we should update it.

[2017-05-15 22:57] anbare opened #337 "UWP Input.ChoiceSet doesn't stretch width"
It displays with HorizontalAlignment = Left rather than Stretch. Text boxes correctly stretch.

![image](https://cloud.githubusercontent.com/assets/13246069/26082868/0772d4f8-3987-11e7-985c-c5c42d63bcf8.png)

[2017-05-15 23:15] dclaux commented on #147
Would the ability to vertically center content in both columns solve the problem?

[2017-05-16 10:00] wind-rider opened #339 "Bug in 'Activity Update' sample"
There is a bug in http://adaptivecards.io/visualizer/?card=/samples/cards/Activity%20Update.json

The `Set Due Date` action reads the value from the wrong input - it should read from `dueDate` but instead it reads from `comment`:

[code]

[2017-05-16 16:55] anbare opened #340 "UWP renderer adds random padding to left of first column"
The UWP renderer adds some sort of left padding to the first column of each column set, resulting in offset visuals. The example below illustrates this, where there's first a text block outside of the column, and then text/images inside columns. The right side is fine and doesn't have any padding, it's only the left first column.

![image](https://cloud.githubusercontent.com/assets/13246069/261180

[2017-05-16 17:01] anbare commented on #340
Seems like the issue likely is that the UWP renderer is inserting a column for the spacing before the first actual column, whereas the spacing columns need to be inserted only between actual columns

[2017-05-16 20:02] anbare commented on #147
Vertically center wouldn't force the image to match the height of the text box. If the image is 200 px tall and the text box is only 80 px tall, you're still going to have 60 px of blank space above and below the text box

[2017-05-16 20:05] anbare commented on #332
Sizing the image as a percent of available width would certainly be the much more elegant solution to this case :) But there could probably be other cases where there's both text and an image that needs to be in the center, there might be cases where empty columns are still useful.

In general I feel like empty columns probably shouldn't break the payload, seems like an odd thing to break on.

[2017-05-17 04:24] dclaux commented on #147
Why not use an image that's as tall as the input then? You control the input's height. Plus you probably don't want a stretched or downsized image anyway?

[2017-05-17 05:34] dsanvita opened #342 "HTML renderer doesn't set default value of date input"
Input.Date schema has a value property to set the default value, but this is not implemented in the HTML renderer.

This was my temporary fix:
[code]
html date inputs seem to accept values of the form 'YYYY-MM-DD' as strings, so as long as the value is of that format, it works.

https://github.com/Microsoft/AdaptiveCards/pull/343

[2017-05-17 17:30] anbare opened #344 "ColumnSet should have a selectAction property just like Container"
Anyone else think ColumnSet should have a selectAction property just like Container?

For scenarios like the following, you already have to use a ColumnSet to achieve that specific layout (three column sets, one for each item)... today, to make them clickable, you have to wrap them in a Container which causes your JSON to be two-additional levels deep.

![image](https://cloud.githubusercontent.com

[2017-05-17 17:44] sowsan opened #345 "Request: Background color support for Card and Containers"
Some authors need to be able to specify specific background colors on containers and the card itself. For example, when displaying tags, the tag colors need to exactly match the colors of the original service.

![image](https://user-images.githubusercontent.com/13246069/49968274-3593bb80-feda-11e8-8b99-3fb8c1c29473.png)

## Requests

* soswan
* Teamwork Projects (Teams bot) (12/13/2018)

**===ORIG

[2017-05-17 18:10] dsanvita opened #346 "Remove isSelected from schema"
The Choice schema has an isSelected property, but this is not implemented in the HTML renderer.

https://github.com/Microsoft/AdaptiveCards/pull/347

[2017-05-17 18:29] matthidinger commented on #345
Currently this isn't possible but we plan to tackle background images and colors in both Cards and Containers soon

[2017-05-17 18:42] anbare commented on #147
How does the card author control the input height? Each card host might have different input heights. We don't want devs needing to provide different images for each host.

Plus, what happens in a future release when a card host decides "My input text boxes are now going to be 90px tall instead of 80px", all existing cards being sent will look incorrect.

Guidance would definitely be "Provide the

[2017-05-17 23:47] dclaux commented on #147
The host controls the height of the inputs and the available image sizes. It could be a convention that the "small" image size is the same height as an input, but there is no guarantee.
Also the vertical alignment solution I think could be a decent compromise. Yes, there is no guarantee the image would be the same height as the input, but at least things would be properly aligned.
I'm just trying

[2017-05-18 18:35] anbare commented on #340
Fixed!

[2017-05-18 18:35] #340 closed

[2017-05-18 19:18] sowsan opened #354 "Xamarin Forms - Nuget Package for AdaptiveCards"
Which one need to use for testing the Xamarin Forms and AdaptiveCards as like the sample provided in the repo?

Seeing two nuget packages so not sure which one to pick

Microsoft.AdaptiveCards.Xaml.Wpf.RichInput By: thermous

Microsoft.AdaptiveCards.Xaml.Wpf By: thermous

[2017-05-18 21:19] matthidinger commented on #354
Hi there, we currently don't have the Xamarin Forms packages published on Nuget, but you can build it from source in the `dotnet` folder/solution.

[2017-05-18 21:25] #339 closed

[2017-05-18 22:10] anbare opened #357 "UWP larger font sizes have extra padding on left side"
**Expected:** Regardless of font size, the left edge of text should be consistent. If there's a small text followed by a large text, you should be able to draw a line down from the left edge of the small text and it should be flush with the left edge of the large text.

**Actual:** Larger fonts start to creep to the right, rather than staying flush with the imaginary line on the left.

Visualizati

[2017-05-18 22:16] mdtauk commented on #357
Have you tried this property, it is supposed to fix those issues.
`<TextBlock OpticalMarginAlignment="TrimSideBearings"/>`

[2017-05-18 22:17] anbare commented on #357
Yep that's the one, found it from my previous project a while ago, currently adding it to the code. Thanks mdtauk!

[2017-05-19 15:55] #334 closed

[2017-05-19 22:45] anbare commented on #357
Fixed!

[2017-05-19 22:45] #357 closed

[2017-05-19 22:45] anbare commented on #337
Fixed!

[2017-05-19 22:45] #337 closed

[2017-05-19 22:46] anbare commented on #331
Fixed!

[2017-05-19 22:46] #331 closed

[2017-05-20 00:28] dsanvita opened #361 "HTML renderer doesn't implement isRequired for inputs"
The Input.* card elements all have an isRequired property, but this is not implemented in the HTML renderer.

[2017-05-21 04:32] sowsan commented on #354
Thanks Mat. Any tentative timeline on getting the xamarin forms nuget via the official push ?

[2017-05-21 04:33] sowsan commented on #345
Thanks Mat, is there a blog / announcement channel to keep track on the updates on adaptive cards?

[2017-05-22 11:35] TechWatching opened #363 "VS Code : Unable to load schema when behind a proxy"
I can't have intellisense when using the Adaptive Card Viewer extension behind a proxy.
I get the error "Unable to load schema from ....".

VS Code : 1.13.0-insiders
Adaptive Card Viewer : 1.0.7

[2017-05-23 14:31] matthidinger commented on #202
Fixed

[2017-05-23 14:31] #202 closed

[2017-05-24 15:58] matthidinger opened #367 ".io site needs Partners/Integration page showing AC support status"
Feedback from community, particularly bot developers, has been to include a list of channels and what level of adaptive cards is supported in them.

Channel | Status
--------|-------
Emulator | Full support
WebChat | Full support
Skype | Full support coming soon
Microsoft Teams | Full support coming soon
Kik | Render to Image + limited mapping to  keyboard (full support coming)
Facebook Messenger

[2017-05-24 18:42] matthidinger opened #368 "Interactivity false is throwing errors rather than gracefully failing"
Load this URL and change container to **Windows Timeline** or **Windows Live Tile**

http://adaptivecards.io/visualizer/?card=/explorer/cards/Action.Submit.json

[2017-05-24 20:30] dclaux commented on #368
Fixed

[2017-05-24 20:30] #368 closed

[2017-05-24 21:35] RebeccaAnne opened #371 "UWP Renderer: Inline ShowCards are within the card margins rather than being edge-to-edge"

[2017-05-24 21:37] RebeccaAnne opened #372 "UWP Renderer: Handle databinding of input values to action events"

[2017-05-26 08:11] BenjaBobs opened #377 "C# Adaptive Card namespace is "AdaptiveCards" and not "Microsoft.AdaptiveCards""
Nuget package is called "Microsoft.AdaptiveCards" but the namespace used is just "AdaptiveCards". This is confusing when adding using-statements.

[2017-05-26 13:47] BenjaBobs opened #378 "C# Serialization and deserialization inconsistencies"
It seems that the Adaptive cards don't serialize/deserialize properly. Type information is lost somehow.

Below I have attached a programmatically defined adaptive card modelled after the [WeatherCompact.json](http://adaptivecards.io/visualizer/?card=/samples/cards/Weather%20Compact.json) in the documentation.
I then serialized, deserialized it and then serialized it again.

[code]

The result aft

[2017-05-26 16:33] RebeccaAnne opened #379 "UWP Visualizer should have a scrollbar"

[2017-05-26 16:55] matthidinger commented on #378
Hmm interesting find! If you inspect your `deserializedCard` var is it populated with the same exact properties as the original `card`?

[2017-05-26 18:30] danmarshall commented on #196
Would really like this for WebChat.

[2017-05-26 18:32] danmarshall commented on #196
Also, there may be Audio player support.

[2017-05-29 06:54] BenjaBobs commented on #378
No, all the card elements were parsed as the base type CardElement resulting in loss of elements in the Items property of a Container element. I think the TypedElementConverter may not be registered or something like that.

[2017-05-29 09:48] BenjaBobs commented on #378
I went into Visual Studio and grabbed some screenshots so you can see what's inside ```card``` and ```deserializedCard``` respectively.

card:
![cardbefore](https://cloud.githubusercontent.com/assets/8708965/26545003/58e3c2b0-4464-11e7-9568-b4ec39eaa52b.png)

deserializedCard:
![cardafter](https://cloud.githubusercontent.com/assets/8708965/26545007/5bf65c42-4464-11e7-9adb-b0269ab2f189.png)

[2017-05-29 09:58] BenjaBobs commented on #378
Additionally, I just tried to follow the example at the [.NET documentation](https://github.com/Microsoft/AdaptiveCards/blob/master/source/website/wwwroot/documentation/markdown/create/libraries/NET.md) and also experienced the same problems. I hope this helps.

[2017-05-29 11:48] sandeepnmenon opened #380 "Input Elements should have non-editable property"
Suggestion: Input Elements should have non-editable property

[2017-05-29 17:32] mdtauk commented on #196
It is useful to include this, but give it some careful thought.  As a user, I do not want video notifications or live tiles appearing on my PC or Phone.  Consider implementation rules for auto-play, volumes etc

[2017-05-30 11:11] gitmenonsandu opened #381 ""value" property of Input.Time and Input.Data not working"
The value property in Input.Time and Input.Data which sets the initial value of the field is not setting the initial value.
<code>{
"type": "Input.Date",
"id": "onDate",
 "value":"03/21/1996",
"title": "Select due date"
}
</code>
This does not set the initial value

[2017-05-30 20:34] sowsan opened #382 "Different font iOS vs Windows"
Testing with running webchat in Saffari vs Windows Edge, the font is totally different in both platform. Anyway we can specify the font for all platform as same for the texts in adaptive card?

Note: Testing the adapative card in webchat (bot)

[2017-05-30 21:08] matthidinger commented on #382
@danmarshall is this doable today with webchat config?

[2017-05-30 21:48] anbare commented on #381
Hey @gitmenonsandu, which renderer is this? HTML, UWP, Android, or iOS?

[2017-05-30 23:06] matthidinger commented on #363
Hmm that's kind of a bummer. I'm not sure there's anything particular we can do to enable this then. Perhaps you can file an issue with VS Code?

[2017-05-30 23:15] dsanvita commented on #381
@gitmenonsandu If you are talking about the html renderer, this pull fixes it: https://github.com/Microsoft/AdaptiveCards/pull/343

[2017-05-31 01:18] HernanCote commented on #354
Hello @matthidinger any thougths on an official or tentative timeline for getting the package from nuget?

[2017-06-01 10:21] mdtauk commented on #382
The idea is for whatever app/platform is hosting the Adaptive Card content, controls the rendering/appearance right?  So using the platform's default font makes sense unless you are developing an app to display it, then you can choose your own font

[2017-06-01 10:26] sowsan commented on #382
Thanks , yes i.e. Correct, but we are talking about webchat which I thought it will retain the same style across the browsers.

[2017-06-01 17:42] danmarshall commented on #382
To use the same font in WebChat, or any website for that matter, you will need to use a Web Font since the font you specify may not be installed on the platform of your visitors browser. This Web Font would deployed by you on your site, it wouldn't be part of the AdaptiveCards library.

The BotFramework WebChat does not use any WebFonts natively, that would again, be something for you to customize

[2017-06-01 17:48] sowsan commented on #382
Thank you , I'm testing with a simple Adaptive Card to render it in the WebChat. Thought that it will render the adapative card as same in any browser as its in webchat. Is this something need to be done in the Adapative Card side ?

[2017-06-01 17:57] danmarshall commented on #382
These details are driven by CSS. WebChat [sets the font to `Segoe UI, sans-serif`](https://github.com/Microsoft/BotFramework-WebChat/blob/master/src/scss/botchat.scss#L18). You may do the same in your own CSS. However, even WebChat will not display the Segoe UI font on a Mac for example. This would default back to sans-serif.

[2017-06-02 17:36] anbare opened #387 "UWP "data" property on Action.Submit isn't accessible (data values not returned on action click)"
![image](https://cloud.githubusercontent.com/assets/13246069/26737453/0f652516-477f-11e7-9784-66f3ca1f3fd4.png)

There's no Data property on the AdaptiveSubmitAction. The event you get back for a button being clicked is called "Inputs", which would imply that it would NOT contain the Data key/value pairs (and today it does NOT).

Hence exposing the Data property on AdaptiveSubmitAction would allow

[2017-06-02 17:40] anbare commented on #387
I might play around with adding the Data property to the object model if no one is currently working on this. Wanted to get toast activation in the Visualizer 100% wired up given that inputs are now returned :)

[2017-06-02 18:00] matthidinger commented on #387
Go for it!

[2017-06-02 21:12] matthidinger commented on #272
Also useful in scenarios where there is a primary action
![image](https://cloud.githubusercontent.com/assets/1432195/26745013/78a096be-479d-11e7-9840-b1b83e0de5b5.png)

[2017-06-02 21:30] #387 closed

[2017-06-02 22:08] anbare commented on #333
It would also work well for buttons like the following, where the button is below (part of the action bar).

![image](https://cloud.githubusercontent.com/assets/13246069/26746519/d31c2bec-47a4-11e7-9deb-afa5369633a1.png)

Therefore, the solution should be a generic way to link a button to an input. Given inputs already have id's, here's what I would propose (notice that **inputId** on the **action

[2017-06-02 22:54] matthidinger commented on #333
Toasts present an interesting problem given that inputs are currently limited to within the "action bar", which means linking them to actions would work perfectly fine. But I'm not sure how this would work given the current schema allows Inputs to be placed anywhere within the card, but actions are only permitted in the action bar.

What do we do about an input in the body and associated to an act

[2017-06-02 22:57] anbare commented on #333
Why does that make any difference? The developer is simply saying "Wire this action up to the Enter press of a text box"

I don't think we need to restrict or enforce that the text box has to be visually next to the button. Devs already can do *anything* in their app, like having a text button on the top right invoke a button on the bottom left... but they probably don't, since that wouldn't make

[2017-06-02 23:00] matthidinger commented on #333
Sorry I misinterpreted the ask, is this just about ctrl+enter or **also** the visual layout of putting a small button next to the input?

[2017-06-02 23:01] anbare commented on #333
This one's just about ctrl+enter (since I believe this scenario is def desired where ctrl+enter would invoke a button that is NOT a small adjacent button).

For putting a small button next to the input I believe the best solution would be adding a "ImageButton" size option to the existing image sizes

[2017-06-03 19:43] gitmenonsandu commented on #381
@anbare  HTML renderer

[2017-06-03 19:53] dclaux commented on #381
I have fixed both a few days ago.

[2017-06-03 19:53] #381 closed

[2017-06-05 14:13] weretygr opened #389 "Actions should allow an image to be displayed in addition to text for the title"
# Implementation status
- [x] TypeScript (#1071)
- [x] UWP (#1278)
- [x] WPF (#1072)
- [x] iOS (#1279)
- [x] Android (#1280)
- [x] Documentation

# Problem
There's no way to display an image in addition to text on an action. Some hosts, like toast notifications, are built around this experience where developers can provide "image buttons" for their actions.

![image](https://user-images.githubuser

[2017-06-05 16:34] RebeccaAnne opened #390 "We need to define a schema for returned input json on a submit action and make sure all renderers are behaving consistently"
The current behavior for the json returned on a submit action is not consistent across renderers.  Here's what we have today:

Date inputs:
HTML renderer uses "2017-06-02" and UWP and .Net use "6/2/2017".  Should probably be ISO-8601 for consistency with min/max fields in Input.Date.

Time inputs:
HTML and UWP use 24 hour format ("17:30") and .Net uses 12 hour format with AM/PM ("5:30 PM")

Multis

[2017-06-05 16:44] RebeccaAnne opened #391 "Returned json for Action.Submit does not include the id of the submit action in the UWP renderer."

[2017-06-05 18:51] danmarshall commented on #389
The slippery slope here is that someone will inevitably want it on the right, then the top, bottom, etc., leading to another layout language.

[2017-06-05 18:53] danmarshall commented on #389
Can this be solved with actions on ColumnSets?

[2017-06-05 20:29] peterblazejewicz commented on #112
Call it `display` - the Bootstrap does this:
The version of headers dedicated to stand out from display:
https://v4-alpha.getbootstrap.com/content/typography/

[2017-06-05 20:35] peterblazejewicz commented on #132
Is this still valid? The image seems to support `stretch` and `auto` now:
http://adaptivecards.io/explorer/#Image

[2017-06-05 20:42] peterblazejewicz opened #392 "'Cannot read property 'style' of null' when trying to navigate detail within explorer page"
Say one navigates to Image card information:
http://adaptivecards.io/explorer/#Image
The page opens fine, so the link works. Now she tries to see details about `ImageStyle`:
http://adaptivecards.io/explorer/#imagestyle
The blank page renders. The reason:

[code]
Thanks!
(Chrome/macOS)

[2017-06-05 20:50] dclaux commented on #132
Stretch is specified as the size, not the horizontal alignment.

[2017-06-05 20:50] #132 closed

[2017-06-05 21:00] peterblazejewicz opened #393 "Cannot use website card code (schema) editor on macOS"
I cannot edit card schema using web page editor (macOS, any browser). In the sample below I'm trying to just change 'size' property value:
![online editor](https://cloud.githubusercontent.com/assets/14539/26802934/b2d91020-4a42-11e7-839a-b8a8699075af.gif)

Have read somehow related: https://github.com/Microsoft/AdaptiveCards/pull/366

macOS/any browser

[2017-06-05 21:06] peterblazejewicz opened #394 "Web rendered card actions UI states differences"
Could be issue with online editor only, but I've noticed different rendering of web version for action buttons. See sample record below:

![buttons](https://cloud.githubusercontent.com/assets/14539/26803200/9982fdb0-4a43-11e7-8ebc-a96ae10a35c0.gif)

edited:
this could be cards explorer web editor issue only. The visualizer renders UI states

Thanks!

[2017-06-05 21:22] matthidinger commented on #393
Ah yep, this is because Consolas doesn't exist on macOS and the ace editor requires a monospace font.

@dclaux I think this would be fixed by changing the editor style to

`font-family: Consolas, Monaco, monospace;`

[2017-06-05 21:24] peterblazejewicz commented on #393
Edited tile to be specific :)

[2017-06-05 21:45] peterblazejewicz opened #395 "Issue with action buttons with customer FireFox on macOS"
The content (text) of action buttons when viewed with FireFox (customer edition) on macOS is just blank. I've noticed that when checking the fonts (the FireFox lists all fonts on the dev tools). The inner html of buttons are just empty:
For example on that page:
http://adaptivecards.io/samples/
![image](https://cloud.githubusercontent.com/assets/14539/26804630/ee071f60-4a48-11e7-9f8b-599f91d7c654.

[2017-06-05 22:41] weretygr commented on #389
That's a bit unclear @danmarshall . The issue I'm trying to solve is a Container ( with a Column Set containing an Image and a TextBlock, as well as an InputBox).  I want the "submit" button to submit information from the Image ( a feedback action) as well as the contents of the input box.  If I use the selectAction  the entire container sends the click without the user being able to enter informa

[2017-06-06 11:30] champ0007 opened #397 "Adaptive Card setting ColumnSize.Auto breaks the image rendering in Telegram"

[2017-06-07 16:54] matthidinger opened #398 "TextBlock add Monospace property"
## Implementation status
- [ ] .NET
- [ ] Android
- [ ] iOS
- [ ] TypeScript
- [ ] UWP
- [ ] Documentation

## Problem

There's no way to display console output, ascii art 😜, etc

## Example Comps

![image](https://user-images.githubusercontent.com/1432195/29146522-64d02f7e-7d16-11e7-8a21-52ebc5e9a2a9.png)

## Asks

* High-priority Teams team ask

## Proposal: Use Markdown

Simply add support for

[2017-06-07 23:57] mdtauk commented on #398
How would you handle the chosen font?

[2017-06-08 16:37] anbare opened #399 "UWP column "auto" width doesn't work correctly"
When assigning size = "auto" on a column in the UWP renderer, it still behaves as a * width, as seen with the example below...

UWP renderer (incorrect)
![image](https://user-images.githubusercontent.com/13246069/26939971-e0a5c3ee-4c2d-11e7-9dd7-e9aba10c1ae0.png)

HTML renderer (correct)
![image](https://user-images.githubusercontent.com/13246069/26939989-f0e13086-4c2d-11e7-996f-c0589c6aafc3.png)

[2017-06-08 16:40] EricDahlvang opened #400 "_toggleInputs is undefined on ChoiceSetInput for child cards that have not been rendered"
https://github.com/Microsoft/AdaptiveCards/blob/master/source/html/renderer/src/card-elements.ts#L1046 or L1060 (depending on if the choice set is multi-select and/or compact)

**Steps to reproduce:**
Place the example card in the Visualizer.  Click 'Button 1', and click Next.  The above error will occur.  Click 'Button 2' then Next.

**Example card:**

[code]

**Suggested fix:**
Adding _this._tog

[2017-06-08 16:59] dclaux commented on #400
Good catch - will fix!

[2017-06-08 17:07] anbare commented on #391
The id of the submit action? Actions don't have ID's? Do you mean the data property?

[2017-06-08 17:48] anbare commented on #147
I think a new image size, `"size": "squareImageButton"` might be the most elegant solution. I prototyped it in the UWP renderer, and this is what it looks like

![image](https://user-images.githubusercontent.com/13246069/26942638-a504083c-4c37-11e7-912d-3e1d0082dd01.png)

[code]

Adding the new size allows hosts to still keep `small` for a different purpose rather than requiring `small` to match t

[2017-06-09 16:47] dclaux opened #404 "ImageSet need an imageHeight property in HostConfig"
Currently, the height of each image in the set is hard-coded to 100px (at least in the HTML renderer). We need to make that configurable.

[2017-06-09 16:57] riarenas opened #406 "HostConfig Editor for UWP visualizer"
Now that Host Config can be parsed and merged with the default HostConfig, UWP visualizer needs a HostConfig Editor/Loader like the one for the AdaptiveCard Payload.

[2017-06-09 17:35] dclaux commented on #400
Fixed

[2017-06-09 17:35] #400 closed

[2017-06-09 18:16] danmarshall opened #408 "Stretch on FactSet"
I have a scenario that I would like to use a FactSet but the layout is limited, I would like it to go edge to edge. So I am using a ColumnSet instead. But my data is essectially a FactSet.

[2017-06-09 21:21] riarenas commented on #399
Thanks for the fix Andrew!

[2017-06-09 21:21] #399 closed

[2017-06-09 22:40] nwhitmont commented on #367
Can confirm, this gets asked a lot.

[2017-06-09 22:49] danmarshall commented on #367
For WebChat, we should say "Action.Http not supported"

[2017-06-09 22:50] danmarshall commented on #367
Perhaps a third column for details?

[2017-06-11 15:11] jrmcdona opened #411 ".NET Convert JSON schema to a model"
Hi,
Is there a simple method to build a schema in the visualizer then either use that JSON directly in C# or convert it to .NET based model?   Just trying to figure out the fastest way to build the Adaptive card in .NET after visualizer/JSON.

Thanks

[2017-06-12 16:03] tomlm opened #412 "Add editable/noneditable to input controls"
Sometimes you need to show selection state (via radio buttons or checkboxes) but not allow it to be modified.

[2017-06-12 16:13] dclaux commented on #412
Showing disabled controls doesn't strike me as the right way to represent unmodifiable state... If controls could go from enabled to disabled state and back, then yes, but given we do not support that, I don't know that we need this non-editable state.

[2017-06-12 17:47] danmarshall opened #413 "Doc site: broken links"
On these pages, certain links lead to a 404:

* http://adaptivecards.io/documentation/#create-GettingStarted `Card Schema reference documentation`
* http://adaptivecards.io/documentation/#display-gettingstarted `Implement a renderer`
* http://adaptivecards.io/documentation/#resources-tools `Render2Image sample project`
* http://adaptivecards.io/documentation/#display-libraries-android _And all oth

[2017-06-12 17:51] danmarshall opened #414 "Doc site: allow deep links"
Each heading in a markdown file should have a deep link so that clicking will take you to that section of the page.

For example, if someone wanted to link to the `Customization` section of the http://adaptivecards.io/documentation/#display-gettingstarted page.

[2017-06-12 17:57] matthidinger commented on #413
Thanks Dan, I'm working on porting all of our documentation to docs.microsoft.com, the transition should be done this week

[2017-06-12 17:58] matthidinger commented on #414
We'll get this when we move to docs in a few days

[2017-06-12 22:17] EricDahlvang commented on #411
One option is to save the .json in your bot project, and load the file directly:

[code]

Then, add that as an attachment to the return message like:

[code]

[2017-06-13 11:28] jrmcdona commented on #411
very cool, thanks

[2017-06-13 17:57] riarenas opened #416 "C++ Shared model and UWP renderer do not implement IsRequired property for inputs"
Currently, only CHoiceSetInput elements include the IsRequire Property. This is shared by every input element and should be moved to the BaseInputElement classes.

[2017-06-13 18:57] riarenas opened #418 "Add SelectAction support to Shared model and UWP renderer"
Implement the SelectAction property for Container and Image elements.

**UWP implementation status**
- [x] Container (PR #747)
- [x] ColumnSet (PR #747)
- [ ] Column
- [ ] Image

[2017-06-13 22:16] dclaux commented on #408
Dan, I am not sure I understand. Could you clarify? Maybe a screenshot of what you'd like to accomplish?

[2017-06-13 22:18] dclaux opened #419 "Remove long/short support for TIME"
# Implementation status
- [X] TypeScript
- [ ] UWP
- [ ] WPF
- [ ] iOS
- [ ] Android
- [ ] Documentation

# Problem
Long/short formats in the TIME function are unnecessary given they only control whether or not seconds are displayed.

# Solution
Remove support for long/short formats from the TIME function.

[2017-06-13 22:24] dclaux opened #420 "Documentation should not reference interfaces for using Typescript renderer"
The documentation currently reads:
[code]

The interfaces, if we choose to keep them, are for serialization purpose only. The renderer classes do not implement them. The code in the the doc doesn't work. The documentation should read:

[code]

[2017-06-13 22:24] dclaux commented on #420
The same goes for the JS documentation

[2017-06-13 22:28] dclaux commented on #420
Nevermind - the documentation in question is precisely about card serialization, so using the interfaces is the way to go :)

[2017-06-13 22:28] #420 closed

[2017-06-13 22:32] dclaux opened #421 "Support inline expansion of Action.ShowCard in SelectAction"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>Not scheduled
<td>✔️ .NET (#1558)</td>
<td></td>
</tr>
</table>

## Problem

When using **Action.ShowCard** within a **selectAction**, inline expansion doesn't work.

## Implementation status
- [ ] TypeScript
- [ ] UWP
- [x] .NET
- [ ] iOS
- [ ] Android
- [ ] Documentation

# Auto-generated task status

- [

[2017-06-13 23:50] dclaux opened #422 "Accessibility support"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>Backlog
<td>🔄 .NET (#2473)<br/>🔄 Android (#2474)<br/>🔄 iOS (#2475)<br/>🔄 TS (#1695)<br/>🔄 UWP (#2476)</td>
<td>✔️ Shared (#2472)</td>
</tr>
</table>

# Solves requests

* Better accessibility support (#2024)

Narration, keyboard navigation

Also need to consider

- Use of proper HTML tags and attributes (e.

[2017-06-14 01:20] danmarshall commented on #408
Surely :)

Here is a FactSet from samples:
![image](https://user-images.githubusercontent.com/11507384/27111395-aff4fd2e-5064-11e7-8f62-fd1be36bb2c7.png)

I'd like the second column to appear right-aligned to the edge of the container, like the Flight status:
![image](https://user-images.githubusercontent.com/11507384/27111425-d5d32282-5064-11e7-8c5d-9b9245d537eb.png)

[2017-06-14 01:47] dclaux commented on #408
Oh, you want horizontal alignment for fact values. Seems reasonable to me.

[2017-06-14 05:41] danmarshall commented on #408
Yes, and also that they align to the container. So I suppose there might be 3 modes:

Default: (current functionality)
![image](https://user-images.githubusercontent.com/11507384/27116935-c56c6510-5088-11e7-8121-50b79c189686.png)

Horizontal align fact values to the right:
![image](https://user-images.githubusercontent.com/11507384/27116959-e2d937b8-5088-11e7-9ea0-44fbb7b4cb18.png)

Stretch:
![ima

[2017-06-14 06:22] gitmenonsandu opened #424 "Action buttons not responding in web page"
<code>
  "actions": [

    {
      "type": "Action.OpenUrl",
      "method": "POST",
      "url": "http://google.com,",
      "title": "Create Meeting"
    },
    {
      "type": "Action.OpenUrl",
      "method": "POST",
      "url": "http://google.com",
      "title": "Dismiss"
    }]
</code>

I have my adaptiveCards running in my web application (not bot or any renderer).
When I click the action

[2017-06-14 07:08] danmarshall commented on #424
You will need to add some global event handlers:
[code]

[2017-06-14 07:09] danmarshall commented on #424
see http://adaptivecards.io/documentation/#display-libraries-htmlclient

[2017-06-14 16:24] dclaux commented on #408
FactSet already renders across the entire available width, so adding horizontal alignment support will get us the "Stretch" behavior you have above. I am not sure there is a need for the your second screenshot though.

[2017-06-14 16:47] riarenas opened #425 "Add Actions bar to Container"

[2017-06-14 17:33] riarenas opened #426 "Implement HostConfig Putters in UWP renderer"

[2017-06-14 18:18] dclaux opened #427 "We should use the json-ld standard syntax for our "type" property"
json-ld calls for "@type" as the property name for a strongly typed json object. We shouldn't reinvent typing, we should use the one standard the industry uses.

[2017-06-14 19:07] #416 closed

[2017-06-14 20:00] matthidinger commented on #41
Dupe of #110

[2017-06-14 20:00] #41 closed

[2017-06-14 20:37] nwhitmont opened #429 "http://adaptivecards.io/samples/#StockUpdate > Error in example card layout"
There is a layout error in the Stock Update sample card available at http://adaptivecards.io/samples/#StockUpdate

![adaptive cards example - stock update layout error](https://user-images.githubusercontent.com/3075047/27153525-a6fe23b0-5106-11e7-9286-bc7311874dc4.png)

[2017-06-14 20:44] riarenas commented on #212
Fixed. Size is either "auto", "stretch" or a number.

[2017-06-14 20:44] #212 closed

[2017-06-14 22:54] riarenas commented on #425
As of the current schema, Container does not have an action array.

[2017-06-14 22:54] #425 closed

[2017-06-15 05:20] gitmenonsandu commented on #424
Thank you very much.

[2017-06-15 05:20] #424 closed

[2017-06-16 12:13] cpacheco7 opened #430 "Video in Adaptive Cards"
Do you know if we will be able to insert video in an adaptive card?
It's imposible like an image, and it's necessary to my Project.

Some help, please :)

[2017-06-16 18:25] danmarshall commented on #430
Please see #196
It's not yet a part of the schema. Upon which platform is your project?

[2017-06-16 20:34] danmarshall opened #431 "Resize event"
In WebChat we need to dock chat messages to the bottom. If the message at the bottom is an adaptive card with an inline showCard action, we would like to know that the card has been resized so that we can scroll up.

[2017-06-19 06:57] cpacheco7 commented on #430
I'm using .NET and the Skype and Direct channels

[2017-06-19 11:44] fbessez opened #432 "Action.Submit not returning a value"
Hey,
I think I may have found a bug...
I am using Node.js and running this code in the  BotFramework Emulator.
Upon pressing the SUBMIT button, my response.value is {} instead of the desired input.
This was presented here as well but in C#: https://stackoverflow.com/questions/44388731/how-can-i-read-the-value-from-complex-adaptive-card

How can I grab the message.value that should contain my input

[2017-06-19 16:23] cpacheco7 opened #433 "HTML on Adaptive Cards"
Hi!
Is it posible to insert HTML text on an adaptive card? I don't want to convert a card to HTML, or the json to the HTML neither. I need HTML inside a TextBox of an Adaptive Card.

Thanks and sorry, my english is awful!

[2017-06-19 16:29] dclaux commented on #433
Hi @cpacheco7, you can use Markdown to do some formatting in TextBlock elements (bold, italic, underline, links), but HTML is not supported and there are no plans to add support for it. We want Adaptive to remain a simple (but still powerful) format that is independent of any underlying layout language. This way, the bar to render Adaptive is much lower and each host can maintain a fair level of c

[2017-06-19 18:42] danmarshall commented on #432
Hi @fbessez - this may be an issue with the preview version that was shipped for the Build event. We are working on updates, which should be released around the time when [this PR](https://github.com/Microsoft/BotFramework-WebChat/pull/471) gets merged.

[2017-06-19 21:06] nwhitmont commented on #367
@matthidinger Have there been any recent changes to the channel support matrix since this was first posted? Specifically, Facebook Messenger support?

[2017-06-20 07:09] cpacheco7 commented on #433
It's simply perfect.
Thanks!

[2017-06-20 07:09] #433 closed

[2017-06-20 11:57] #430 closed

[2017-06-20 12:55] fbessez commented on #432
great, thank you @danmarshall.

[2017-06-20 13:06] preshi opened #436 "Unable to run the website solution in VS2017"
Getting the below error with respect to dependency Markednet in VS 2017 when trying to run the .net core website in folder AdaptiveCards\source\website

Unable to resolve 'MarkedNet (>= 1.0.6)' for '.NETCoreApp,Version=v1.1'.

Removed MarkedNet dll manually and restored MarkedNet 1.5 and ran the solution.This fixed the problem.What is the nugget version to be used.

Thanks,

[2017-06-20 22:14] matthidinger commented on #436
We had to use an internal build of MarkedNet for a bit, but that will be removed soon. Thanks for pointing it out!

[2017-06-20 23:06] matthidinger commented on #272
# Proposal
We are optimizing this proposal based on **visual experience** to draw attention to the intent of the action versus relying on the order of the buttons. The web is an example of a great cross-plat experience that users have shown adept to.

## Schema

**New** property on `Action`

Property|Type|Required|Description
---|---|---|---
Style|enum [emphasized, normal, destructive] |false|Appl

[2017-06-21 11:27] preshi opened #437 "Brokend Documentation links"
The below documentation link is broken

http://adaptivecards.io/documentation/ImplementingRenderer.md
https://github.com/Microsoft/AdaptiveCards/blob/master/source/source/dotnet/Samples/RenderImage/Render2Image.csproj

Any future plan  for 'plug n play' samples?

[2017-06-21 15:31] matthidinger commented on #437
Hi preshi, thanks for pointing it out, we'll be publishing docs fixes soon.

What kind of sample are you looking for? Generating Cards for a bot? Using the renderer inside your app? Something else?

[2017-06-22 19:03] danmarshall commented on #432
@reyesrico @photodesignch can you create a WebChat unit test for AdaptiveCards such that an Action.Submit button sends data to DirectLine. (if not already done).

[2017-06-22 19:09] danmarshall commented on #432
@fbessez - We will try to figure out at which layer this issue occurs. It may be in:
1. Adaptive Cards
2. WebChat
3. DirectLine
4. Your bot

Our unit tests are showing that we are receiving the data through 1, 2, and 3 so this is a question for BotBuilder. I am going to close this issue here since it is not an issue in the AdaptiveCards project.

Can you please open a new issue, either on [the Bot

[2017-06-22 19:09] #432 closed

[2017-06-22 20:40] photodesignch commented on #432
I am on it. ☺

From: Dan Marshall [mailto:notifications@github.com]
Sent: Thursday, June 22, 2017 12:04 PM
To: Microsoft/AdaptiveCards <AdaptiveCards@noreply.github.com>
Cc: Chris Huang (TEKsystems) <v-chifhu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/AdaptiveCards] Action.Submit not returning a value (#432)

@reyesrico<https://na01.safelinks.protection.outlook.co

[2017-06-23 00:43] photodesignch commented on #432
@fbessez I tried to put your adaptive card json into a test, one thing I realized!  Your actions[] is wrapping inside of the body[].  It's not only it won't work, it won't even render the action button.

Instead of wrapping in the body[], it should be outside of it, but parallel to it.  Look at example in [here](http://adaptivecards.io/visualizer/?card=/explorer/cards/Action.Submit.json).  If  you

[2017-06-23 06:13] preshi commented on #437
Hi Matt, The Samples page was not working because the node modules were not referenced. Am new to node js and was unable to install it in the respective source location place given the .npmrc file present in it. Good to have some Pre Build Steps like install commands and all.Its easy to start for some people.

Also With respect to examples. If you can provide couple of simple examples like referen

[2017-06-23 09:47] fbessez commented on #432
@photodesignch, thanks for trying to help! I really appreciate it. However, still having an issue.

I shortened the json a little bit. When I run the code in the adaptive.io/visualizer, then it works and they show the data in the dropdown. However, when I actually run the bot (and console.log the response) I get the following:

Am I wrong to expect a message.value.work_description???
[code]

[2017-06-23 10:09] fbessez commented on #432
I consulted this https://stackoverflow.com/questions/44388731/how-can-i-read-the-value-from-complex-adaptive-card and one of the comments suggested that this is an issue with columns within adaptive cards. I changed my form to not include columns and it worked! Thanks for the help!

[2017-06-23 15:16] nwhitmont commented on #367
@matthidinger Any update on getting this into the docs?

[2017-06-23 16:11] nwhitmont opened #438 "[Feature Request] Add usage example to NPM module description page at https://www.npmjs.com/package/microsoft-adaptivecards"
**Notes**
The [microsoft-adaptivecards module on NPM](https://www.npmjs.com/package/microsoft-adaptivecards) currently has no usage examples demonstrating how to use the module.

**User Story**
As a developer/user of Bot Framework Node SDK, I would like to be able to learn how to use the `microsoft-adaptivecards` module by reading a usage example on the NPM module description page.

**Acceptance C

[2017-06-23 21:03] iwaldman opened #439 "Need example of dynamic data"
How would I get real weather data into the [Weather Example](http://adaptivecards.io/samples/#WeatherLarge)?

For example, I would like to show today's date and current temp.  This will most likely be retrieved by a HTTP call before rendering the card.

[code]

[2017-06-23 21:17] EricDahlvang commented on #439
Hi @iwaldman,

There is a blog post here: https://blog.botframework.com/2017/06/07/Adaptive-Card-Dotnet/ describing how to use a 3rd party weather service to show the forecast in a bot using Adaptive Cards.

Here is the corresponding .net project: https://github.com/EricDahlvang/AdaptiveCards-WeatherBot

Here is a node project that does the same: https://github.com/nwhitmont/botframework-luis-adap

[2017-06-23 21:19] iwaldman opened #440 "Create Adaptive Cards with JavaScript?"
Is it possible to create Adaptive Cards with JavaScript? I want to build my cards at run-time, both client and server, and use a builder library i.e. not have to hand write the JSON.  Hopefully, this question makes sense?

[2017-06-23 21:22] iwaldman commented on #439
Ok, that is what I was thinking.  I will pursue that route.  Thank you.

[2017-06-26 13:36] szul commented on #440
There's a `microsoft-adaptivecards` [npm module](http://adaptivecards.io/documentation/#create-libraries-javascript) that provides a library for constructing and rendering cards, but that's not going to prevent you from have to work with JSON. Alternately, with the [.NET library](http://adaptivecards.io/documentation/#create-libraries-net) you can create the card without using JSON, and then pass

[2017-06-26 20:57] riarenas opened #442 "Refactor Action Parsing in C++ Shared model"

[2017-06-26 22:42] matthidinger opened #443 "Column size auto clipping text"
Flight update for Depart is clipped

![image](https://user-images.githubusercontent.com/1432195/27563345-e5a73dc6-5a85-11e7-8cb5-fe9ae220e7fd.png)

[2017-06-26 22:50] dclaux commented on #443
The center column isn't defined correctly. Its size should be "stretch" and elements inside should have their "horizontalAlignment" set to "center." Other columns should have "size": "auto"

[2017-06-26 22:50] #443 closed

[2017-06-27 15:46] Kikketer opened #444 "HttpAction Does not include headers in the onExecuteAction callback"
I'm not getting the `headers` object when listening for an HttpAction:

The card looks like this:
[code]

The listener is super basic:
[code]

That log always turns up an empty array.  I tried to use a string that looks like a JSON object in the card definition but it came back with a ton of "http header" objects (assuming one for each character in the string).

[2017-06-27 15:52] dclaux commented on #444
Hi @Kikketer, your headers property isn't defined properly, you need to define it as follows:

[code]
The headers property is a collection of strongly typed name/value pairs.

[2017-06-27 15:55] matthidinger commented on #444
He raises an interesting design question though. Should we consider changing this array to be an object? Is the order of the headers important? Or is there a scenario where a header with the same key would exist?

[2017-06-27 16:02] dclaux commented on #444
Order has no importance in HTTP headers. They are always available to an HTTP client all at once. The strongly-typed format we currently have is better for validation; allowing for headers to be specified as just an object (or "any") makes it possible to define things that wouldn't make sense.

[2017-06-27 16:12] dclaux commented on #444
@Kikketer, I realize that the documentation and the implementation do not match. You did the right thing according to the doc, but my preference in terms of the schema is the way it's currently implemented. Any opinion/insight you'd like to share?

[2017-06-27 16:24] ncipollina opened #445 "No IAdaptiveCardConfig"
The documentation for Typescript says the following:

There are interface definitions in schema.d.ts which describe the shape of the schema.

[code]

[code]

I do not see an IAdaptiveCard anywhere in the Typescript files.  Is this something that has changed and the documentation needs to be updated?

[2017-06-27 16:29] dclaux commented on #445
Hi @ncipollina, the interface definitions are not up to date. There is a work item for this, I just haven't had a chance to do it yet. Sorry about that.

[2017-06-27 16:31] Kikketer commented on #444
The headers array seems overkill to me.  I was attempting to use it with "fetch" and it was handy to be able to simply pass it along:

[code]

Instead of having to loop through the array and create an object.  I haven't ever seen a headers object be an array before, not sure the advantage it would give (since order doesn't matter).

[2017-06-27 17:20] ncipollina commented on #445
@dclaux are you saying that the documentation is more current than the code?  This would make sense because the part of the documentation that uses the AdaptiveCard is incorrect.  The new card object has no body property and the syntax for property initialization on the new TexBlock is incorrect.  It should be:
`
card.body.add(new TextBlock()
{
     text: "hello world"
});
`
The syntax in the docu

[2017-06-27 17:21] dclaux commented on #444
This is the way the headers property is defined in a Request object that can be fed to fetch:
[code]
And as far as I can tell, the usage pattern is this (https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch):
[code]
It doesn't seem that headers is just an object; per its definition, it's a lot more like a collection. Also, it doesn't seem to support implicit conversion from any o

[2017-06-27 17:26] dclaux commented on #445
No, actually the code is more current than the documentation. The reference is the AdaptiveCard object model. Interfaces now have to be defined according to the object model - the ones that currently exist are not up to date. And yes, the example in the doc is wrong (it's not proper JS/TS.)

[2017-06-27 17:51] dclaux commented on #445
It would be this:
[code]

[2017-06-27 17:59] Kikketer commented on #444
That may work as well, but the creation of the `new Headers()` is truly a painful experience (especially since it just turns into a couple strings in the header).

I specifically use https://www.npmjs.com/package/whatwg-fetch which seems to handle that annoying part for me.

More standards compliant is good in my book, but shortcuts are also super handy.

[2017-06-27 18:02] ncipollina commented on #445
And what if I want to add this AdaptiveCard as an attachment in a bot?  Assuming I have the following code:

[code]

`card.render()` returns and `HTMLElement` and `addAttachment()` is expecting an `IAttachment` to be passed in.

[2017-06-27 18:12] dclaux commented on #445
In its current state, the TypeScript HTML library offers an object model that can render to an HTML element. It does not provide serialization to a string, which is what you seem to want. At some point in the past few months, interfaces matching the object model were introduced for serialization purposes, but these interfaces have not been maintained as the object model evolved. I will need to upd

[2017-06-27 18:13] ncipollina commented on #445
Yes, it makes sense.

[2017-06-27 18:17] dclaux commented on #444
I don't think the Adaptive Card library should have a dependency on an external project such as whatwg-fetch and be modeled in such a way that it becomes harder to use it with the standard compliant version of fetch, wouldn't you agree? I think the current name/value pair is a good compromise.

[2017-06-27 18:23] Kikketer commented on #444
Yep, you've convinced me.  Even the standard XHR headers is an array.
So I guess the result of this is an update to the documentation: https://docs.microsoft.com/en-us/adaptive-cards/create/cardschema#action-http

Thanks!

[2017-06-27 18:34] Kikketer opened #446 "Documentation Error: Action.ShowCard is a card not a container"
Currently the documentation around "ShowCard": https://docs.microsoft.com/en-us/adaptive-cards/create/cardschema#action-showcard has that the `card` attribute is a "container".

In fact it's a "card" (InlineAdaptiveCard specifically).

In the current documentation, users would think they are making a container:
[code]

Instead, since it's a "card" it needs the `body` attribute instead of `items`:

[2017-06-27 18:55] dclaux commented on #444
Yes, we will update the doc. Thank you!

[2017-06-27 18:57] dclaux commented on #446
That is another example of the doc not being up to date - thanks for reporting!

[2017-06-27 18:57] Kikketer commented on #424
@danmarshall The `onShowPopupCard` callback isn't documented on that htmlclient page.  I had to step through the code to find it.  Should I open a new "documentation feature" request/issue to have it added?

[2017-06-27 21:40] danmarshall commented on #424
@kikketer yes, please! :)

[2017-06-27 23:46] Kikketer opened #447 "Documentation: Please document onShowPopupCard"
The http://adaptivecards.io/documentation/#display-libraries-htmlclient page does not document the `onShowPopupCard`.  Users (like me) are not aware that it's a separate event from the shown `onExecuteAction`.

Related to: https://github.com/Microsoft/AdaptiveCards/issues/424

[2017-06-27 23:58] dclaux commented on #447
I think you're raising a good point here. Not sure there is a need for two separate events. Folding them both into onExecuteAction would work just fine - what do you think?

[2017-06-29 14:04] User1m commented on #381
@dclaux having similar issues in the botframework-emulator where default values for Input.Time and Input.Date are not being populated in the UI (aka emulator). Any ideas?

[2017-06-29 15:41] dclaux commented on #381
@User1m , it might be that the emulator isn't updated with the latest version of the library, or you didn't update your adaptive cards npm package. Can you check?

[2017-06-30 15:32] matthidinger opened #449 ".NET HTML renderer should escape URL quotes"
The quotes in background-image: url(' ... ') should be escaped:

<div class='ac-adaptivecard' style='width: 100%;background-color: #FFFFFF;box-sizing: border-box;background-image: url('http://messagecardplayground.azurewebsites.net/assets/Mostly Cloudy-Background-Dark.jpg');background-repeat: no-repeat;background-size: cover;' >

[2017-06-30 20:21] qpongo opened #450 "BUG: Invalid column size: Stretch in Visualizer but C# ColumnSize.Stretch = 'Stretch'"
[code]
doesn't match [http://adaptivecards.io/visualizer/index.html](http://adaptivecards.io/visualizer/index.html) so **an error is reported from JSON generated by the C# classes when pasted into visualizer.**

**Repro:**
1. build a card using C# classes and specify ColumnSize.Stretch..
[code]
2. Get the JSON created by the card
strJsonRtn = JsonConvert.SerializeObject(card, Formatting.None);
3.

[2017-06-30 23:35] User1m commented on #381
@dclaux I'm using C# and I manually built the botframework-emulator app from source and made sure the adaptive cards npm package was included, still not working :/

[2017-07-01 01:34] dclaux commented on #381
Ah - this issue was opened for the HTML renderer. Not sure about the C# one.

[2017-07-02 17:33] qpongo commented on #367
Can I (or anyone) create some new issues like '**Skype Now Supported**' (or Beta) so that we can subscribe and come back once it's working?

_Someone commented in related repository that they felt that they got played.  Well, me too!

I just spent a week learning the tools, bought an Azure account (which I didn't have before), worked around all the bugs so that everything runs in the Channel Emula

[2017-07-03 16:53] matthidinger commented on #367
Hey folks, I'm really sorry about the troubles here. I've migrated our content to Microsoft's official Docs platform, added a Bot tutorial and Channel Status, and added some more "Preview" disclaimers throughout the content.

https://docs.microsoft.com/en-us/adaptive-cards/get-started/bots#channel-status

Still on the list is setting up a blog to subscribe to general announcements such as Skype su

[2017-07-03 17:11] matthidinger commented on #444
Docs have been updated here: https://docs.microsoft.com/en-us/adaptive-cards/create/cardschema#action-http

[2017-07-03 20:51] #444 closed

[2017-07-03 20:53] matthidinger commented on #440
Thanks @szul for helping out! @iwaldman hopefully this answer your question, if not, please feel free to ask on Stack Overflow where it's easier for provide questions to answers:

https://stackoverflow.com/questions/tagged/adaptive-cards

[2017-07-03 20:53] #440 closed

[2017-07-03 20:53] #439 closed

[2017-07-04 06:06] matthidinger commented on #419
Any thoughts on this? I'm OK removing it unless we decide we need it

[2017-07-04 06:10] matthidinger commented on #421
@dclaux could you please elaborate on this one with screenshots or schema proposals? Feel free to add whatever labels you feel necessary to track it

[2017-07-04 06:23] #15 closed

[2017-07-04 06:27] #51 closed

[2017-07-04 06:32] matthidinger commented on #136
@anbare we're having a hard time visualizing this one, can you possibly provide a screenshot with the current and expected outcome?

[2017-07-04 06:34] matthidinger commented on #140
My gut says this would be useful but I'd love to have the community weight in if this is really necessary for v1

[2017-07-04 06:35] matthidinger commented on #142
Adding this to the review topics for this week, will close if we don't get consensus

[2017-07-04 06:38] matthidinger commented on #161
This feature has been requested a few times. The proposal would be adding the same ability we have on Action.Http to Action.Submit:

[code]

[2017-07-04 06:39] matthidinger commented on #199
Closing until a better proposal arrives

[2017-07-04 06:39] #199 closed

[2017-07-04 06:41] matthidinger commented on #253
Closing this due to inactivity, please reopen if there's still an issue, or feel free to ask on question on stack overflow https://stackoverflow.com/questions/tagged/adaptive-cards

[2017-07-04 06:41] #253 closed

[2017-07-04 06:44] matthidinger commented on #395
Hm, @dclaux any idea here? I'll have to find a mac to repro

[2017-07-04 06:46] matthidinger commented on #393
Hi @peterblazejewicz is this fixed now? Sorry I don't have a mac available to test

[2017-07-04 06:48] matthidinger commented on #392
Hi Peter, is this still occurring? Sorry I don't have a mac handy to test

[2017-07-04 06:53] matthidinger commented on #382
This seems external and part of WebChat so I'll close unless told otherwise. Please reopen if I got this incorrect

[2017-07-04 06:53] #382 closed

[2017-07-04 06:56] dclaux commented on #161
In my opinion, that should be the only way.

[2017-07-04 07:19] dclaux commented on #346
There shouldn't be an isSelected property. This has already been discussed; just like any other input, the only way to pre-select a value (or several in the case of ChoiceSet) is to include the "value" property in the payload in the same format a client application would expect it at runtime, e.g. a comma-separated list of values. For instance, "1,2,3" where 1, 2 and 3 are three valid choice value

[2017-07-04 07:24] matthidinger commented on #346
Thanks David, I'll take this on myself to update

[2017-07-04 09:46] ongandrew opened #455 "Feature Request: Tables"
Currently using AdaptiveCard to information to the user via the Bot Framework. Trying to solve the issue of displaying information that would naturally fit in a tabular format elsewhere, but there is no support for such an element.

Workarounds include:
1) Using ColumnSet define columns and TextBlock elements to simulate rows.
2) Cramming information into the FactSet element.

These are not ideal

[2017-07-04 18:50] peterblazejewicz commented on #392
Yup:
[code]
The ui change is based on id tokens and query selector returns no match:
[code]
(the id has `imagestyle` value here)

[2017-07-04 18:52] peterblazejewicz commented on #393
@matthidinger No, unfortunately not (Chrome/Safari)

[2017-07-04 19:01] peterblazejewicz commented on #395
This seems to be fixed. This could be a domain problem with font served (here you are using web fonts), or maybe specific font file was not available at that time. Thanks!

[2017-07-04 19:01] #395 closed

[2017-07-05 06:27] qpongo opened #456 "BUG: "..." not added when using list markdown"
## Text clipping is not consistent for text lines.  I would expect that a clean cut with "..." to be added regardless of the markup being used.

**Repro:**  add a "TextBlock" with too much text to display on the line and use some line markdown -- e.g. [1. or *]
**Expected:** see "..." after clipped text
**Actual:** cut in the middle of a character

![image](https://user-images.githubusercontent.co

[2017-07-05 06:40] dclaux commented on #456
Thanks for reporting. ```text-overflow: ellipsis``` needs to be applied to ```<li>``` tags after markdown processing. However, that needs to be accompanied with ```overflow: hidden``` which will also hide the bullet unless ```list-style-position: inside``` is specified on the ```<li>``` tag, but that has the effect of increasing the indent. Is that acceptable?

[2017-07-05 10:51] Tpt opened #457 "Adds interactive maps support"
It would be great to allow to embed interactive maps in AdaptativeCards.
It could maybe be implemented by a new card Element "Map" that would have an attribute "geojson" with the GeoJson shape to display.
The "properties" field of the "Feature" GeoJson object could be use to embed interactive elements.
The map provider would be left to the renderer to choose (Bing maps, Here, Google Maps...).

[2017-07-05 15:17] szul commented on #457
I can see this working for cards on web sites/applications, but not sure how it would be handled in things like Skype or Facebook Messenger. You can send a location via Skype, but this is an image snapshot that links to the map application on the phone (or other device), so it's essentially an image card with an action that points to a URL.

So the question would be: does a more generic embed type

[2017-07-05 16:17] szul commented on #455
I think all of these can be reasonably accomplished with ColumnSet and the current formatting options with the exception of the text highlighting/selection. As @ongandrew points out, attempting to select a single row will select the entire column(s) to the left up to the row where the selection ends. I don't necessarily like the idea of table structures being explicitly implemented, but in the exa

[2017-07-05 17:00] matthidinger opened #458 "Docs: remove isSelected from Input.ChoiceSet/Choice"
The default value of any input is set by the “value” property. So for a ChoiceSet with isMultiSelect = true, the default value would be a comma-separated list of values that matches the “value" property of one of the input’s choices.

- [x] Update docs
- [x] Update json-schema
- [x] Update Input.ChoiceSet sample
- [x] Update Schema Explorer

[2017-07-06 02:12] HernanCote opened #459 "XamlSubmitAction - PlatformNotSupportedException"
Hey guys,

I'm writing a Xamarin.Forms application using the AdaptiveCards library and I've implemented an action callback for the XamlRenderer just like the WPF Sample.

What is happening is that the code works with the Xamarin.Forms UWP and Android Projects, but when I run the code on my iOS device and click the action, I get a PlatformNotSupportedException Exception from the XamlSubmitAction.cs

[2017-07-06 15:59] matthidinger commented on #459
Weird, it seems we used some "advanced" dynamic features that aren't possible on all Xamarin platforms. @Clancey do you happen to have any insight here?

[2017-07-06 16:08] matthidinger commented on #457
Thanks for the suggestion and discussion folks, we were actually discussing something very similar to your proposal a little while back.

Ideally we could do as suggested and allow a pluggable MapRenderer if a Host wants to allow interactive maps within their experience. And we were considering by default we would simply use the Bing/Google maps APIs to generate static images, since as of now we d

[2017-07-06 18:54] Clancey commented on #459
Not sure why we didnt see this sooner, was this method always dynamic? https://github.com/Microsoft/AdaptiveCards/blob/a91c425a89784130f8e9603762574737d145977c/source/dotnet/Library/AdaptiveCards.Xaml.Shared/Rendering/RenderContext.cs#L129

Is it required that it is dynamic?

[2017-07-06 19:06] matthidinger commented on #459
I'm pretty sure it's always been dynamic. @tomlm is most familiar with that code, he might know off hand. I'd have to dive in to see if it could be refactored, but that might be a little while since I'm heading out of town tonight.

If anyone else wants to take a stab at it by all means!

[2017-07-06 19:15] matthidinger commented on #408
Trying to prioritize what we Must-Have for v1, do you guys feel this is important enough to include?

[2017-07-06 19:22] matthidinger commented on #277
Fair point, closing

[2017-07-06 19:22] #277 closed

[2017-07-06 19:23] matthidinger commented on #257
@riarenas can you elaborate on this one? Not sure I follow the ask, or what change would be necessary in host config. Also I assume this is necessary for v1? If so, please feel free to add the v1 milestone

[2017-07-06 19:24] danmarshall commented on #408
Hi Matt, I think it's a nice enhancement but is not a showstopper. Feel free to lower the priority.

[2017-07-06 19:28] #43 closed

[2017-07-06 20:07] nwhitmont opened #460 "http://adaptivecards.io/samples/#InputForm - doesn't work"
The card example "Input Form" available at http://adaptivecards.io/samples/#InputForm doesn't work, no input values are received by the bot when submit action is triggered by button click.

**Card JSON from example:**
[code]

For reference, the Adaptive Cards input form in this example: [Microsoft/BotBuilder-Samples/tree/master/Node/cards-AdaptiveCards](https://github.com/Microsoft/BotBuilder-Samp

[2017-07-06 20:27] qpongo commented on #456
dclaux - opinions are like armpits -- everybody has them and most of them smell....  ;)

That being said, my opinion is....  I think that the indent size in general should be reduced so adding more is not good.  We're usually fitting to such a small size so forcing more space isn't so useful.

[2017-07-06 20:33] matthidinger commented on #460
Previously we had an issue in the HTML renderer that was preventing inputs from being collected if they weren't directly in the body, in this case they are within columns. But this was fixed and I thought webchat was rebuilt using it. @danmarshall any idea?

[2017-07-06 21:07] danmarshall commented on #460
The form at link http://adaptivecards.io/samples/#InputForm works for me - I can populate the form and I see an alert with my values when I click Submit. @nwhitmont is your browser "hiding" alerts possibly?

[2017-07-06 22:22] nwhitmont commented on #460
Maybe this is an emulator specific issue?

When I send this card:
[code]

Using this Node SDK code:
[code]

I get this in the emulator (build v3.5.29):

The submit button is present, but all the other content is missing, and in the "Details" window of the emulator, the card has been converted or interpreted as `"contentType": "application/vnd.microsoft.card.hero"` which should not be happening.

<

[2017-07-06 23:20] danmarshall commented on #460
@nwhitmont I would say this is a WebChat issue. Can you run a locally built WebChat against the bot?

[2017-07-07 02:26] jorenl commented on #425
The Schema Explorer documentation page on Container lists an actions property.
http://adaptivecards.io/explorer/#Container

[2017-07-07 02:41] dclaux commented on #425
This is an error in the documentation - there is no "actions" property on Container. To add actions to a container, use the ActionSet element.

[2017-07-09 20:11] anbare commented on #136
Here's the two examples. First one is what we would have today without a style that removes the descender space from the text area as Chris said, and the second image is what we would have if we introduced the style (which would be parity with Adaptive XML)

![image](https://user-images.githubusercontent.com/13246069/27997205-03e45298-64a8-11e7-8094-241234eda8ae.png)
![image](https://user-images.g

[2017-07-10 02:26] dclaux commented on #136
seems to me that the below can be accomplished with the proposed new spacing model, which allows for more control. I thought this was more about aligning say the top bar of the 5 with the top edge of an image for instance; that indeed can't be done, but the above I think we will be fine.

[2017-07-10 17:20] dclaux opened #462 "New spacing model"
# Implementation status
- [x] TypeScript (PR https://github.com/Microsoft/AdaptiveCards/pull/463)
- [x] UWP
- [x] .NET (PR #718)
- [x] iOS
- [x] Android
- [x] Documentation

# Design proposal
In order to accommodate for more scenarios, we propose to make it possible to select from a wider ranger of spacing between elements, so as to achieve more subtle or more marked separations. At the same time,

[2017-07-10 18:45] anbare commented on #462
Sounds like that might address #136 as you were saying.

[2017-07-10 18:49] dclaux commented on #462
@anbare Yes, and if you can spare a few minutes, it would be great if you could validate that; I have a pull request with the changes.

[2017-07-10 18:54] anbare commented on #462
Definitely, I can try it out once it's in the HTML visualizer, just ping me again when that's live (I've never built the site locally so I'd prefer to use a pre-built version rather than learning how to build the website)

[2017-07-10 18:59] danmarshall opened #464 "HTML renderer should export the markdown renderer"
I think we discussed this, and some of the plumbing is there, but the [processMarkdown](https://github.com/Microsoft/AdaptiveCards/blob/master/source/html/renderer/src/utils.ts#L7) function is not exposed to the main API surface.

[2017-07-10 19:04] dclaux commented on #462
The thing is I can't really merge it yet - technically this is a "proposed change." Any chance you could pull the code on the finalize-html branch and try the visualizer locally?

[2017-07-10 20:14] anbare commented on #462
I might be able to try that tomorrow, probably won't have time today

[2017-07-10 20:21] szul opened #465 "VS Code auto preview locking into the preview pane"
Windows 10
Visual Studio Code 1.13.1
Adaptive Cards Extension

When auto preview is enabled, the preview pane seems to lock into an always open mode, and if you try to close it, it continues to pop open, and when the preview mode is open, you cannot edit the JSON file. Below is an attached animated gif of the behavior.

[VSCode Bug](http://octobercodes.blob.core.windows.net/images/adaptive-cards-b

[2017-07-10 22:45] dclaux commented on #464
@danmarshall Can you refresh my memory - what is the ask exactly? Is it to have a way to invoke the exact same markdown implementation as the renderer from the host? If so, I was actually thinking of doing it differently: I wanted to strip markdown processing out of the renderer and instead provide an event that would let the host do it. This way, the host can use whichever library it wants. Thoug

[2017-07-10 22:49] danmarshall commented on #464
That pretty much sums it up :-) So the event-based way would be fine.

[2017-07-10 22:52] danmarshall commented on #464
In the event, can you provide the element context? This way we could do selective rendering. The use case in WebChat is that we do not want to support markdown in every element (to maintain consistency with other chat clients)

[2017-07-10 23:03] dclaux commented on #464
Not sure what you're asking. If a string contains markdown markup, then not processing it will result in bad stuff. And there is no way to distinguish between two TextBlock elements, so how would you make the decision to process some but not others?

[2017-07-10 23:04] dclaux commented on #464
Also, on second thought, I think it is preferable that the renderer has full control over how it processes markdown. So as you originally asked, I will instead export processMarkdown.

[2017-07-11 17:51] tfennel opened #466 "Pixel based image size not supported in schema"
Developers frequently reuse images as a main image and a thumbnail on the same card.  Requiring two different dimensions of that image to be hosted isn't ideal and not everyone has a thumbnail/rendering service they can call out to for on demand image generation.  Reuse of an existing asset would be the easiest, meaning being able to specify the same image in a card, but with pixel dimensions on o

[2017-07-12 19:04] matthidinger commented on #462
Thanks for typing this one up David, looks great. The v-team reviewed this proposal last week and OK'd it. If anyone sees any red flags please speak up asap

[2017-07-13 08:34] haakotsm opened #471 "[Question] Scale background image on a container"
Is there a way to scale a background image on a container?
` {
"type":"Container",
"backgroundImage": "https://www.tine.no/imageresize/c/326358_2560_1440_c.jpg",
"items": [
            {
              "type": "TextBlock",
              "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit....",
              "size": "extraLarge",
              "wrap": true
            }
           ]
}`

[2017-07-13 15:53] dclaux commented on #471
@haakotsm There currently isn't a way, although it is under consideration. How would you need to scale the image?

[2017-07-13 17:38] dclaux opened #472 "Support for Container styles"
# Implementation status
- [x] TypeScript (https://github.com/Microsoft/AdaptiveCards/pull/475)
- [x] UWP
- [x] WPF (PR #718)
- [x] iOS
- [x] Android
- [x] Documentation

# The problem
Certain scenarios are better addressed if the card author is able to apply a background color in certain containers. At the same time, background colors require specific text colors to enforce appropriate contrast le

[2017-07-13 17:41] riarenas commented on #462
I think it would be useful to add a checkbox for when the documentation is updated along with the different platform implementation status.

[2017-07-13 17:42] riarenas opened #473 "Textblock markdown Support"

[2017-07-13 17:59] matthidinger commented on #414
This is now working with the new docs site https://docs.microsoft.com/en-us/adaptive-cards/

[2017-07-13 17:59] #414 closed

[2017-07-13 18:06] matthidinger opened #474 "Support hyperlink markdown syntax in TextBlock"
Opening discussion about this. If anyone has scenarios that they feel would strongly benefit from this please let us know

## Current state

`TextBlock` currently supports [advanced formatting](https://docs.microsoft.com/en-us/adaptive-cards/create/textfeatures) via a limited set of markdown and formatting functions. One of the current markdown restrictions is hyperlinks.

## Proposed change

Enab

[2017-07-13 18:10] matthidinger commented on #464
We should ensure every platform supports this extensibility. Please keep this issue open to track

[2017-07-13 18:26] dclaux commented on #474
This is already supported in the TypeScript renderer.

[2017-07-13 18:27] dclaux commented on #462
Good point, done.

[2017-07-13 22:30] sowsan opened #476 "Can we have more than 5 action button elements in actions ?"
Can we have more than 5 action button elements in actions ?  , currently it displays only up to 5

[2017-07-13 23:12] dclaux opened #477 "Stretch and repeat for background images"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.2
<td>✔️ .NET (#1362)<br/>✔️ Android (#1292)<br/>✔️ iOS (#1293)<br/>✔️ TS (#2436)<br/>✔️ UWP (#1291)</td>
<td>✔️ Shared (#1290)</td>
</tr>
</table>

# Solves requests

* Stretch and repeat for background images (#2032)

# The design
Currently, the **backgroundImage** property on AdaptiveCard, Container an

[2017-07-13 23:12] danmarshall commented on #476
Hi @sowsan , this number is settable by the HostConfig: https://docs.microsoft.com/en-us/adaptive-cards/display/hostconfig#actionsconfig

[2017-07-13 23:25] anbare opened #479 "Support passing custom properties in JSON through to the parsed object model for host to use"
Sometimes hosts might need some additional properties on elements.

For example, Action Center allows you to provide images on their action buttons, which they then render using an AppBarButton style.

[code]

![image](https://user-images.githubusercontent.com/13246069/28191858-b0fbce4c-67e7-11e7-9107-936d7e30a262.png)

Action Center would need to be able to retrieve that custom "imageUrl" propert

[2017-07-13 23:50] dclaux commented on #479
@anbare I think a better way to achieve this layout might be to use a ColumnSet with two columns. Each would have a weight of 1; each would contain an Image followed by a TextBlock; and each would have its selectAction set to whichever action you need.

[2017-07-14 00:05] dclaux commented on #479
Here is a sample (minus correct spacing etc, just to illustrate the principle):
[code]

As rendered:
![image](https://user-images.githubusercontent.com/1334689/28192783-3ca89466-67ed-11e7-9395-268374892cd1.png)

[2017-07-14 08:56] haakotsm commented on #471
I was hoping to have the image as the background of a container so I could use other images, for ratings and such, as sort of an overlay. No matter the resolution of the picture it would scale out of proportion and the image wouldn't be the correct size for the cards. It would be nice with some sort of "fit to card" functionality. However I approached it differently and just stuck the ratings as a

[2017-07-14 12:05] matthidinger commented on #471
Hi @haakotsm, for straight up questions we please ask that you use stack overflow with the "adaptive-cards" tag. If you have a textblock bug or suggestion then please feel free to create a new issue here

[2017-07-14 17:21] anbare commented on #479
But that wouldn't be a good way to ensure a consistent behavior for buttons. Plus, what if in the future the button style evolves and they want to display the buttons with images on the left instead of top? Or they want to display all the buttons right-aligned instead of center-spread? If we took this ColumnSet approach, they would be unable to do it since each app developer had to manually try to

[2017-07-14 18:13] dclaux commented on #479
Technically you can already do what you want. In the payload you posted, your action type is "ToastAction.Background." For this to work with the Adaptive renderer, you have to register that action type, and you have to provide parsing logic for it. So you can already have that custom property you want . On top of that you have to customize the renderer so it renders the buttons as shown in you scr

[2017-07-14 18:27] anbare commented on #479
This issue was tracking the fact that custom properties aren't passed through on UWP (I believe UWP doesn't support custom types either yet so I've been pre-manipulating these to type of Action.Submit).

So if that's part of the plans we're all good - that's what this issue was tracking. I don't believe it should be part of the official schema since I don't believe everyone needs it.

[2017-07-14 18:36] #476 closed

[2017-07-14 18:59] dclaux commented on #479
Each renderer should have a pluggable model to register custom element and action types. That should include providing both custom parsing and custom rendering logic for custom element types. For custom action types, it only includes providing custom parsing logic, as the rendering of action buttons is meant to be controlled by the host - which corresponds to what you want. So there does seem to b

[2017-07-14 19:28] jorenl opened #480 "Make onExecuteAction not static in renderers (support action event handler on individual cards)"
# Implementation status
- [ ] TypeScript
- [x] UWP
- [ ] WPF
- [ ] iOS
- [ ] Android
- [x] .NET
- [x] Documentation

# Problem

Often times, when rendering a card, that card is associated with an instance of an object. And you want the action callbacks to be associated with that object.

The problem is that, today, the Action event handler is defined on the renderer itself, meaning there's only on

[2017-07-14 20:40] dclaux commented on #480
Hi @jorenl - It never came to my mind that an app might want to process actions differently given a card's source, hence the static event handler which can be set once and for all. I could definitely make the event a property of the card, but would you mind telling me more about your particular scenario and how exactly action handling might differ on a per-card basis?

[2017-07-15 17:51] dclaux commented on #471
@haakotsm we have a proposal for enhanced background image support. Could you take a look at it and let me know if that covers what you were asking for? See https://github.com/Microsoft/AdaptiveCards/issues/477

[2017-07-15 22:03] ryanlengel opened #481 ".NET SDK isn't sending back choiceset style"
I'm hitting an issue where I try to send an expanded choiceset and it doesn't get picked up in Bot Framework webchat. It seems that it's missing a style property when set to "expanded" but correctly passes through when set to "compact." You can find more details at

[2017-07-15 22:05] ryanlengel commented on #481
Sorry I'm on mobile and can't find the edit button, previous discussions on this are found https://github.com/Microsoft/BotFramework-WebChat/issues/573

Thanks!

[2017-07-16 17:01] qpongo opened #482 "BUG: Setting Size = ImageSize.Auto does not render in JSON object"
"size": "auto" is being dropped when looking at the JSON that the C# classes create and it breaks the rendering of my card when using ImageRenderer or VS Code Viewer (for example).

REPRO:  Construct the card in C# which has an image with Size = ImageSize.Large and look at the JSON that you get

ACTUAL: size is dropped from the JSON

EXPECTED:  "size": "auto" should be in my Json just like "size":

[2017-07-16 17:10] qpongo commented on #404
I agree -- this would be nice.

Not sure if this helps but...

For now I hacked around this by setting exact column widths I want and have a 1st column with a 1px wide transparent image in a column of size = 1.  Adding an image of 1x100 will make the entire row exactly 100 pixels high unless some other column overflows and makes it bigger.

[2017-07-16 20:26] qpongo commented on #482
I can confirm that image render works correctly in the current master build but will let you close the bug in case it jogs your brain from something related.

I didn't see the change here that resolved it but I could be wrong.

https://github.com/Microsoft/AdaptiveCards/pull/469

[2017-07-17 10:37] haakotsm commented on #471
@dclaux My problem was that the image was larger than the card and only partially visible. According to the description of stretch, that should've been what I was looking for. It could be that the chosen image was the problem, as it goes through a function on the back-end to set the resolution. They work fine inside ImageSets thought.

[2017-07-17 12:48] matthidinger commented on #481
Thanks for reporting @ryanlengel! We'll triage this and try to get to it as soon as we can. I've added the Accepting PRs label if anyone feels like investigating

[2017-07-17 13:42] qpongo commented on #197
Here's how I did it for fixed size cards...

This function returns a column which is padded to the height I want -- not final form to handle all cases but it works for what I need...

[code]

Then I use it like this...

`                colLeft.Items.Add(GetSpacerColumnSet(455, 25));
`

[2017-07-17 19:18] dclaux opened #484 "Allow elements to stretch vertically to make it possible to align content to the bottom of a fixed-height card"
# Implementation status
- [X] TypeScript (PR https://github.com/Microsoft/AdaptiveCards/pull/483)
- [x] UWP (PR https://github.com/Microsoft/AdaptiveCards/pull/1377)
- [x] WPF (#1665)
- [x] iOS (#1296)
- [x] Android (#1297)
- [x] Documentation

# Problem
Currently, it is not really possible to align content at the bottom of a fixed-height card. Card authors have to recourse to hacks such as insert

[2017-07-17 20:28] matthidinger commented on #484
@anbare this proposal would add some pretty neat flexibility for fixed-height cards. Any thoughts on this?

[2017-07-17 20:36] anbare commented on #484
People have wanted bottom-aligned content since the Windows 10 live tile days - ship it.

The proposal seems to work. Adding vertical alignment would make sense though.

[2017-07-17 20:48] danmarshall commented on #484
I see the point about bottom alignment. If the textblock `"It also works within a ColumnSet"` was removed, then the textblock `"This text aligns with the bottom of the column"` would no longer align to bottom?

[2017-07-17 20:55] anbare commented on #484
Correct. Having to think about the height of the previous element in order to align something to the bottom is a bit funky. Having two text blocks with normal (auto) heights and then just setting the second one to bottom alignment would be more intuitive based on today's UI languages.

[2017-07-17 21:01] dclaux commented on #484
The only thing that's missing really is the ability to center something vertically. But this feature actually makes it possible as well. If you wanted to have a single TextBlock centered vertically, you could have:
- One containr with height = stretch
- The TextBlock
- Another container with height = stretch

How about that? It seems to me that might be enough. I can add an example here a bit late

[2017-07-17 21:03] anbare commented on #484
I'm arguing that it would be a lot more straightforward and intuitive to simply add a verticalAlignment property. I know it's not technically required - it's just a lot simpler.

[2017-07-17 21:35] dclaux commented on #484
Explicit vertical alignment would introduce the below as side effects:
- Elements do not necessarily visually appear in the order they are declared anymore
- Elements aligned similarly have to be rendered in separate containers, and it's the container that gets the vertical alignment treatment. That complicates renderer implementations (short of doing that two elements aligned at the bottom would

[2017-07-17 21:45] dclaux commented on #484
Also, an important thing to not forget is that **the proposed height property is still necessary anyway in order to support vertical centering**. So what I'm arguing at this point is that because height is necessary, and because it makes it possible to do all sorts of alignment, I think we can start with it without introducing explicit vertical alignment.

[2017-07-17 22:16] anbare commented on #484
I don't understand your second side effect, could you elaborate more?

For the first side effect, we wouldn't necessarily have to render out of order. Elements could still appear in the order that they're declared. If you assigned "Top" after you first had an item assigned "Bottom", that second item would still be displayed beneath the bottom item - we don't have to perform logic to attempt to fig

[2017-07-17 22:38] dclaux commented on #484
My second "side effect" is about making things just work. If a card author writes this:
[code]

I think it should render like this (otherwise if I want two elements at the bottom I will have to use the height property as proposed in this issue anyway):
![image](https://user-images.githubusercontent.com/1334689/28292565-65b20c24-6b04-11e7-8889-3d53d4457abc.png)

Your parallel with XAML is two faced

[2017-07-17 23:11] anbare commented on #484
Let's just leave this up to a third voice to come in and vote, since we're not going to convince each other.

The last example would render with both text elements stacked on the bottom, since the first one sends it to the bottom, and then the second one still has to display beneath the first one since the order of the elements is still respected, so it would be displayed beneath at the "top" of t

[2017-07-17 23:51] dclaux commented on #484
Maybe @danmarshall  wants to chime in again.

But let me still react on what you just wrote - I don't think that's realistic. Elements align within their container. You're saying the first element is sent to the bottom (so the bottom of its container, right?) then the next element is rendered below that... outside/below its own container?

[2017-07-18 00:10] danmarshall commented on #484
@dclaux in the first `stretch` example, can you give an example of what it might look like if there were 3 textblocks? Or 4 - would the spacing be divided appropriately?

Also, I would guess that in this example:
[code]
That the verticalAlignment would not be valid. So this would also make for a bad developer story IMHO.

Perhaps `verticalAlignment` would not be settable by a child but only on the

[2017-07-18 00:26] dclaux commented on #484
@danmarshall first let me go back to the "bottom then top" example. We can totally make it work, that is what I was alluding to above. The logic would be:
- Before rendering a container, the renderer groups top-aligned, center-aligned and bottom-aligned elements into 3 distinct collections
- Each collection is rendered as an individual container (a stack of elements) in the order the elements were

[2017-07-18 01:22] danmarshall commented on #484
@dclaux ok that answers my first question. Then, is there a way to have only one textblock aligned to the bottom?

[2017-07-18 02:16] dclaux commented on #484
You'd have to use an empty container with height = stretch before the textblock

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dan Marshall <notifications@github.com>
Sent: Monday, July 17, 2017 6:22:38 PM
To: Microsoft/AdaptiveCards
Cc: David Claux; Mention
Subject: Re: [Microsoft/AdaptiveCards] Allow elements to stretch vertically to make it possible to align

[2017-07-18 14:48] matthidinger commented on #413
This is fixed now

[2017-07-18 14:48] #413 closed

[2017-07-18 14:48] matthidinger commented on #429
Thanks! this has been fixed now

[2017-07-18 14:48] #429 closed

[2017-07-18 16:38] dclaux commented on #484
Trying to close on this.

I do agree that a verticalAlignment property _could_ be a nice addition. But given that the height property is a requirement anyway (there is no centering in a container that adjusts its height to its content, as is currently the case in Adaptive), and given that it does allow for all alignment types (even though you have to use empty "spacer" elements in some cases) I th

[2017-07-18 16:42] dclaux commented on #484
@danmarshall You would have to use empty containers to center or bottom align a single TextBlock, although I don't believe that would be a common thing at least when it comes to aligning to the bottom (usually, there's also something at the top...)

For example, to center:
[code]

Will render this:
![image](https://user-images.githubusercontent.com/1334689/28328940-f5ae8f08-6b9c-11e7-9b95-3b3858fd

[2017-07-18 16:59] danmarshall commented on #484
Yes, I would agree that the proposal is the right first step - the height property.

[2017-07-18 18:31] anbare commented on #484
Yeah agreed, we should add the height property first since it's required, and then monitor feedback about whether we should add any vertical alignment helper properties.

[2017-07-18 20:59] dclaux commented on #484
Awesome, thanks guys for your help. @matthidinger can we consider this approved? If so I will merge the changes into master.

[2017-07-18 21:02] matthidinger commented on #484
Sounds great to me, thanks for the discussion folks. Adding to the v1 milestone for tracking as well

[2017-07-19 00:28] dclaux commented on #484
The PR has been merged.

[2017-07-19 00:28] QingpingMeng opened #489 "critical bug in TypeRegistry.unregisterType"
TypeRegistry.unregisterType is trying to find matched type and remove it. However, splice function is doing removal in place and return the deleted elements.

`this._items = this._items.splice(i, 1);` will override the registered types with deleted one, which is completely wrong.

Fix should be just `this.items.splice(i,1)`

[2017-07-19 00:30] QingpingMeng commented on #489
To make it clear, the file I was pointing was AdaptiveCards/source/html/renderer/src/card-elements.ts

[2017-07-19 00:35] dclaux commented on #489
@QingpingMeng Thanks! This is now fixed in master and v0: https://github.com/Microsoft/AdaptiveCards/pull/490

[2017-07-19 00:35] #489 closed

[2017-07-19 00:41] QingpingMeng commented on #489
@dclaux Thanks for the quick fix!

[2017-07-19 14:59] riarenas commented on #330
Adding Schema label for further review. Simpliifying this seems like a good idea.

[2017-07-19 15:01] riarenas opened #491 "Move from XamlBuilder to ElementRegistry model"
In order to support parsing and rendering of custom types and better selectAction support, the UWP renderer should move away from regisering the elements it can render using an internal Dictionary<ElementType, PointerToFunctionThatReturnsXaml> to expose an element and action registry like the one used in other platforms.

This will allow hosts to explicitly disallow the rendering of individual car

[2017-07-19 17:33] anbare commented on #484
I'll take a stab at adding this to the UWP version

[2017-07-19 18:59] dclaux opened #492 "It should be possible to explicitly pick action alignment and orientation on a per ActionSet basis"
# Problem
Currently, action alignment is controlled solely via HostConfig. While that is great for hosts that only allow actions at the card level (and prohibit the use of ActionSet), it is not practical when using ActionSet.

# Design
Add the following properties to ActionSet:

| Property | type | Description |
|---|---|---
| orientation | Orientation (**horizontal** or **vertical**) | Specifies

[2017-07-19 20:38] dclaux opened #493 "Add Id property to all elements and actions"
# Implementation status
- [X] TypeScript (https://github.com/Microsoft/AdaptiveCards/pull/494)
- [x] UWP
- [x] WPF
- [x] iOS
- [x] Android
- [ ] Documentation

# Problem
- Some hosts, especially those that support Action.Http, might need an easy way to correlate an action from the client to its counterpart on the server. Such hosts will likely use an Id property on actions (added after the card is

[2017-07-19 20:46] matthidinger commented on #493
The concept sounds good to me. Do this would _not_ be a required property then?

[2017-07-19 20:48] matthidinger commented on #492
Are these properties on the ActionSet element the developer provides or in the HostConfig section of ActionSet? In either case it seems at first glance that the prefix of "actionsX" is redundant; why not just orientation and alignment?

[2017-07-19 20:49] dclaux commented on #493
It will be at the discretion of hosts. Some hosts might want to make the Id property of an action required, some might not. I don't think the Id property of an element would be required at all.

[2017-07-19 20:56] dclaux commented on #492
Actually, you are totally right. ActionSet, just like any element, already has a horizontalAlignment property. What is not supported is stretch. So I the two new properties should be orientation and stretch. I'll change the above "spec."

[2017-07-19 22:31] dclaux opened #495 "Add ability for renderers to toggle the visibility of rendered elements"
# Implementation status
- [x] TypeScript (https://github.com/Microsoft/AdaptiveCards/pull/494)
- [ ] UWP
- [ ] WPF
- [ ] iOS
- [ ] Android
- [ ] Documentation

# Problem
Multiple scenarios call for dynamically showing/hiding areas of a card as the user clicks a button. Currently, the closest way to do this is by using Action.ShowCard. However, Action.ShowCard is tied to an action set (be it an exp

[2017-07-19 22:44] dclaux commented on #142
I'm fine with that.

[2017-07-19 22:45] dclaux opened #496 "Add selectAction on ColumnSet"
Title says it all.

[2017-07-20 00:53] sungnoone opened #497 "bot emulator error when i click HttpAction button"
[16:31:12] [err-client] Uncaught TypeError: Observable_1.Observable.ajax is not a function C:\Users\hl\AppData\Local\botframework\app-3.5.29\resources\app\node_modules\botframework-webchat-speech\built\AdaptiveCardContainer.js 40 33 {}

[2017-07-20 01:22] danmarshall commented on #497
Hi @sungnoone Thank you for filing this. Can you provide the JSON of your Adaptive Card?

[2017-07-20 06:48] vrnmthr opened #498 "No support for Actions[] in containers in C#"
Developing on v0.5, in C# there is only a way to add selectActions to a container, and no button related Actions, although on the schema it specifies that these exist.

[2017-07-20 13:23] qpongo opened #499 "Rendering to image shouldn't crash when referenced images can't load"
It would be nice if ImageRenderer handled unresolved urls a little more gracefully...

Here's the hack that I added to
\AdaptiveCards\source\dotnet\Library\AdaptiveCards.Xaml.WPF\Rendering\ImageRenderer.cs for my purposes in case it helps.

[code]

[2017-07-20 14:09] qpongo commented on #499
Repro:
1. create a card with some image that has a bad url
2. Render it to an image...
            ImageRenderer renderer = new ImageRenderer(new HostConfig(), String.Empty);
            Stream stream = await renderer.RenderAdaptiveCardAsync(card, 600);

Expected:  to get something back with placeholders or even just with the image missing

Actual:  the card is not rendered at all (no image) -- li

[2017-07-20 16:25] dclaux commented on #498
@250blahblah in Containers, you should use the ActionSet element instead.  The actions property isn't needed.

[2017-07-20 16:28] matthidinger commented on #498
Are you looking to set the selectAction of a Container? If so, I believe you've found a bug in our .NET impl.

If you're looking to put multiple Actions inside a Container, then as @dclaux mentions an ActionSet is correct best approach.

[2017-07-20 17:35] 250blahblah commented on #498
Thanks for such a prompt response -- the ActionSet works excellently. I just have one request (if either of you happen to be involved in the development of AdaptiveCards): can this be added to the documentation? As of today, https://docs.microsoft.com/en-us/adaptive-cards/create/cardschema#container does not mention ActionSets.
Thanks!

[2017-07-20 19:17] matthidinger commented on #393
Hi @peterblazejewicz, really sorry about the delay here. This should be fixed now

[2017-07-20 19:18] matthidinger commented on #496
Duplicate of #344

[2017-07-20 19:18] #496 closed

[2017-07-20 20:16] vrnmthr opened #500 "Input fields inside Columns not working with Action.Submit"
I'm experiencing problems extremely similar to those expressed in [this issue](https://github.com/MicrosAoft/AdaptiveCards/issues/432) - if I place input elements inside a Column inside a ColumnSet, upon clicking an Action.Submit button these input fields are not recognized and represented in the ouput. However, if I place this same input element straight into the Body of the card, it does work. I

[2017-07-20 22:03] dclaux commented on #344
# Implementation status
- [ ] TypeScript (In code review: https://github.com/Microsoft/AdaptiveCards/pull/494)
- [ ] UWP
- [ ] WPF
- [ ] iOS
- [ ] Android
- [ ] Documentation

# Problem
In many cases, a ColumnSet is used to represent a single visual "block" of data. To make that block of data actionable, a card author currently has no other option than putting the ColumnSet inside a Container so t

[2017-07-21 00:06] anbare commented on #484
When will the online HTML visualizer on the website be updated with these new changes? I got the UWP code updated to support height, but haven't switched column "size" to "width" yet, we should probably update all the samples to use "width" too?

[2017-07-21 01:39] nwhitmont opened #501 "[Bug] Generated HTML button tag is missing type attribute"
Missing `type="button"` attribute on HTML `<button></button>` tags generated for Adaptive Cards buttons causes button to fall-back to default type of `submit`.

Adaptive Cards users report that clicking on button without `type="button"` attribute causes "submit" action to unintentionally execute, and in some cases, causes page reload, which is undesirable.

From MDN > <button> > Attributes > type:

[2017-07-21 16:02] dclaux commented on #501
Thanks for reporting! I'll check in a fix asap.

[2017-07-21 17:22] riarenas opened #502 "[Test] Test Issue for GithubSync tool"
Will be adding and removing labels to this issue to test the work item sync tool.

[2017-07-21 19:30] dclaux commented on #501
This is now fixed in the v0 and master branches.

[2017-07-21 19:30] #501 closed

[2017-07-21 23:06] nwhitmont commented on #501
@dclaux Thanks for the quick response!

[2017-07-25 10:20] niels9001 opened #507 "Add ability to add shapes like ellipse or rectangle"
Would be cool if we could add shapes to our cards as well. In this way a little graph could be made for example (couple of rectangles horizontally stacked). Maybe render it to image on the host application?

[2017-07-25 21:08] matthidinger opened #508 "Write Json-Schema for HostConfig"

[2017-07-25 21:08] matthidinger opened #509 "Align Json-Schema and Documentation"

[2017-07-26 03:08] sungnoone commented on #497
https://github.com/Microsoft/BotFramework-WebChat/blob/master/AdaptiveCards.md
Action.Http  Not supported in WebChat? really?

[2017-07-26 03:53] danmarshall commented on #497
He @sungnoone - thank you for pointing this out. I will get the Bot Framework documentation to state this more clearly, that `Action.Http` is the only feature not supported by WebChat.

The reason is, that your bot will want to know the status of any http request. If the WebChat were to simply make an Ajax call, then you will need custom JavaScript to handle the http response. And this is precisel

[2017-07-26 03:53] #497 closed

[2017-07-26 03:57] spanwargithub opened #511 "Better accessibility support"
We would like to see better accessibility support in the schema and the HTML renderer.
1. Use of proper HTML tags and attributes (e.g  anchor element for hyperlinks, **alt** on image etc)
2.  Support for ARIA attributes
3. Support for high contrast mode

[2017-07-26 04:02] spanwargithub opened #512 "Ability to add event handler on individual cards"
Instead of having a single event handler for all the click events coming from all the cards, we would like to have an ability to add different event handlers on different cards.

[2017-07-26 04:02] spanwargithub opened #513 "Better CSS support"
While the DOM elements generated by the renderer do have default CSS  classes on them, the fact that the class name is the same and the nested nature of the generated DOM makes it quite difficult to have a concise form of overriding rules.

[2017-07-26 04:05] spanwargithub opened #514 "Ability to specify multiple host config"
We would like to have an ability where we can specify one host config for one set of cards on the page and a different hot config for another set.

[2017-07-26 04:08] spanwargithub opened #515 "Responsive design"
We would like to have an ability where we can specify different layout for different screen resolutions/viewport sizes in the Schema itself.

[2017-07-26 04:10] spanwargithub opened #516 "Delay loading images"
To improve the PLT, we would like to have more control over when the images get fetched and rendered on the page.

[2017-07-26 15:40] matthidinger commented on #512
Duplicate of #480

[2017-07-26 15:40] #512 closed

[2017-07-26 15:50] matthidinger opened #517 "Fixed height cards should clip partial content"
# Implementation status
- [x] TypeScript
- [x] UWP
- [x] WPF
- [x] iOS
- [x] Android
- [ ] Documentation

# The problem
Currently fixed height cards like Timeline and Tiles will show partial text at the bottom of the card, which isn't desirable

![image](https://user-images.githubusercontent.com/1432195/28630360-f1cfdd90-71de-11e7-8738-3d0014a1fa3e.png)

[2017-07-26 16:08] dclaux commented on #517
What is the desired behavior? Is the goal to preserve the bottom padding at all cost (even at the cost of cutting a line of text in the middle horizontally) or is it that the text block in the above example is trimmed to three lines (probably even 2 actually)?

[2017-07-26 16:13] riarenas commented on #257
This was an issue that came out for Timeline. They wanted some way to be able to specify a whole arrange of settings for High contrast mode in HostConfig.

[2017-07-26 16:17] riarenas commented on #257
I wonder if just swapping host configs would be the way to go. Having a whole set of options for high contrast mode could bloat the HostConfig JSON payload.

[2017-07-26 16:32] dclaux commented on #257
@riarenas Yes swapping HostConfig is the solution :) It'll cover 95% of your needs. Areas that are not covered by HostConfig are buttons (although that's controlled by the host, so I don't think it's a problem) and images - how would a card author provide high-contrast versions of the images they use?

[2017-07-26 18:47] riarenas commented on #502
GitHubSync tool does not like it when you reuse the same issue as bug and then task. Closing this guy,

[2017-07-26 19:01] riarenas opened #518 "[Test] Test Task for Github sync tool"
This is a test task to test github -> tfs integration. Please ignore.

[2017-07-26 19:05] riarenas commented on #518
this is fixed by #1 (picked a random issue)

[2017-07-26 22:41] riarenas commented on #518
Testing ZenHub work estimates now.

[2017-07-26 22:47] riarenas commented on #518
Zenhub integration works!

[2017-07-27 07:12] mrPrateek95 opened #519 "IE 11 compatibility issue: Adaptive Card containing Date Picker is not rendered"
Getting an error: "Can't render card" for an adaptive card containing a Date Picker in IE 11

**Console dump**:
Error(s) rendering AdaptiveCard:
Error: Invalid argument.
Error: Invalid argument.
   at e.prototype.internalRender (https://webchat.botframework.com/scripts/botchat.js:34:201614)
   at t.prototype.render (https://webchat.botframework.com/scripts/botchat.js:34:185129)
   at e.prototype.i

[2017-07-27 16:12] riarenas commented on #518
Reopening to test email integration.

[2017-07-27 16:22] riarenas commented on #518
Email reporting successful.

[2017-07-27 17:14] riarenas commented on #518
Reopening to test what a tfs work item looks like when it has an associated PR.

[2017-07-27 17:20] riarenas commented on #518
Fixed by #520

[2017-07-27 18:47] riarenas opened #521 "Image urls that include spaces are not being rendered in ios/android renderer"
investigate url encoding the strings from the shared model as a potential solution.

[2017-07-28 17:08] anbare commented on #495
Would we want targetElementId to actually be an array of ids? A.k.a would any scenarios need to toggle the visibility of multiple separate elements? Or is just one id enough?

Feels like there'll be requests to toggle multiple, although I haven't thought through the scenarios to know for sure.

[2017-07-28 17:54] dclaux commented on #495
That would make it possible to toggle the visibility of non-contiguous elements, and I am not sure that's desirable. The target scenario really is "show more details" and it seems to me it's better if we constrain to making it possible to show/hide a single element. Plus I think that if we do see an array of Ids is desirable in the future we could definitely support it as well; I would however sta

[2017-07-28 18:13] anbare commented on #495
But you could do some really neat things with toggling multiple. For example, you could have two images in the left column, one hidden and one visible, and then when you click the main area, it toggles those images and also shows the area below. Thus you can have an "expand" and "collapse" image

![image](https://user-images.githubusercontent.com/13246069/28730618-c52aff7e-7385-11e7-906d-4ab4ea78f

[2017-07-28 18:26] dclaux commented on #495
True and great example. Unfortunately this feature is a hard sell already, and I fear making it even more powerful will make it even harder.

[2017-07-29 16:47] Idayachelvan opened #522 "intergrate i frame"
How we can include iframes in adaptive card ?? is there any possibilities

[2017-07-31 17:34] nesalang commented on #55
implemented

[2017-07-31 17:34] #55 closed

[2017-07-31 20:13] matthidinger opened #523 "Unable to put a literal * into visualizer"
Depending on the number of * it behaves differently. Escaping it doesn't seem to help either

[code]

[2017-07-31 20:58] dclaux commented on #523
It functions per markdown spec. Every line of text is processed with markdown. The only thing I can think of would be to have an explicit property on TextBlock to bypass Markdown processing.

[2017-07-31 21:03] dclaux commented on #523
The official solution is this:
[code]
But that won't work in the visualizer.

[2017-08-01 18:25] matthidinger commented on #462
@bekao raised an interesting question if `separator` should also be an enum rather than a boolean, so we could add additional separator thickness later one. Potentially, we could just ship with  "none" and "medium" . Any thoughts?

[2017-08-01 18:33] dclaux commented on #462
Sounds good to me.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Matt Hidinger <notifications@github.com>
Sent: Tuesday, August 1, 2017 11:25:30 AM
To: Microsoft/AdaptiveCards
Cc: David Claux; Assign
Subject: Re: [Microsoft/AdaptiveCards] New spacing model (#462)

@bekao<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fbekao&data=04

[2017-08-01 21:36] dclaux commented on #462
Who's going to write the spec for this?

[2017-08-02 08:49] vxnsbir1ugsp opened #526 "Add "name" property to the objects in the AdaptiveCard for easy deserialization"
When using AdaptiveCard you either have the choice to
1. describe the card by code (which is absurd, if you have to describe columns and columnSets), or
2. to create it using the Visualizer in adaptivecards.io and in the text property of every object to create a custom convention and read the Json from your code, then string.replace the text property with the actual data

Instead you can add "name

[2017-08-02 16:24] dclaux commented on #526
Hi @vxnsbir1ugsp it seems you want to do some sort of "late binding", e.g. inject data into a template. If so, I think the string.replace approach you mention above is really not that bad.

That being said, we are adding an Id property to elements (and actions) and the renderer OM will make it possible to get to elements by Id. This work is tracked here: https://github.com/Microsoft/AdaptiveCards/

[2017-08-02 16:30] vxnsbir1ugsp commented on #526
Yes, thats what I mean, exactly!

[2017-08-02 16:32] dclaux commented on #526
Great! Can I ask which renderer(s) you are using or are planning to use?

[2017-08-02 16:33] vxnsbir1ugsp commented on #526
As many as possible, starting with Skype and the not-so-sure-its-supported-now Cortana canvas

[2017-08-03 00:12] mdtauk commented on #472
With Microsoft platforms, how does the user's chosen Accent Colour play into things?
Perhaps there needs to be "Accent" as a colour option on elements, which can be set for UWP platforms, or chosen by the Host rendering platform?

[2017-08-03 00:19] dclaux commented on #472
Thanks @mdtauk and yes, there will likely be an "accent" color palette or something similar. There is already an accent color for text.

[2017-08-03 00:23] mdtauk commented on #472
@dclaux  I see it there for Fonts, but for background colours and borders, as well as glyphs, badges, and other elements that can be presented.

I wonder if the Windows Platform teams will enable elements like Windows Timeline, Live Tiles, Notification Toasts will become flexible enough to support custom Background/Text Colours - or will those always override?

[2017-08-03 00:26] dclaux commented on #462
Along the same lines, maybe we should support our various foreground colors for separator. I know of at least one scenario where the separator should be in the accent color. So in the end, the separator property would be specified like this:
[code]
For no separator, just omit the property (or maybe we have a **"none"** value for thickness.)

[2017-08-03 16:46] matthidinger commented on #147
@anbare would you consider this necessary for v1 to ship notifications?

[2017-08-03 16:49] riarenas commented on #502
Reopening to test asignee integration.

[2017-08-03 16:50] matthidinger commented on #197
Thanks folks. We're tracking support for this in #484

[2017-08-03 16:50] #197 closed

[2017-08-03 16:51] matthidinger commented on #522
Hi @Idayachelvan, we are using Github issues to track bugs and feature discussions. For general questions please use stackoverflow.com and tag the question with "adaptive-cards" and we'll try and help there. Please do include some sample code and additional information to help us help though

[2017-08-03 16:51] #522 closed

[2017-08-03 16:53] matthidinger commented on #523
<pre> seems like a very HTML-specific fix doesn't it? It seems weird to have to put an HTML tag in a general card, especially if you are only sending things to iOS or Windows, etc. I wonder if we need to consider either a better escape mechanism, if possible, or have a property to disable markdown processing as you suggested.

[2017-08-03 17:01] riarenas commented on #523
I think there's a few things to consider. Do we want to support full markdown syntax in Textblocks, or limit it to what we have in the spec right now? ie. Bold, italics, possibly links.

[2017-08-03 17:05] matthidinger commented on #523
We should kickup another topic on what specific markdown features we want to support.

For this particular issue, I was thinking maybe we introduce a LITERAL() function similar to our DATE and TIME functions.

[code]

Would output `Hello ***`

[2017-08-03 18:11] dclaux commented on #526
Duplicate of https://github.com/Microsoft/AdaptiveCards/issues/493

[2017-08-03 18:11] #526 closed

[2017-08-03 18:29] tomlm commented on #493
works for me too.

[2017-08-03 20:25] danmarshall commented on #522
@Idayachelvan you would have to fork the project and implement a new schema item.

[2017-08-03 21:20] svm-git opened #527 "System.Exception: Unknown type FactSet in AdaptiveCards.Rendering.RenderContext.GetElementSeparation"
System.Exception was unhandled
  HResult=-2146233088
  Message=Unknown type FactSet
  Source=AdaptiveCards.Html
  StackTrace:
       at AdaptiveCards.Rendering.RenderContext.GetElementSeparation(TypedElement element)
       at AdaptiveCards.Rendering.HtmlRenderer.AddContainerElements(HtmlTag uiContainer, List`1 elements, List`1 actions, RenderContext context)
       at AdaptiveCards.Rendering.Html

[2017-08-03 23:28] anbare commented on #147
Without this that would mean the story is: "If you want to make a quick reply message toast, you have to use legacy XML"

Maybe that's an ok story, the scenarios that require new Card features like ShowCard and hit targets are all using normal buttons rather than quick reply buttons. But it's definitely not a perfect story.

[2017-08-04 16:23] anbare commented on #523
My quick thoughts on this is that by default, markdown should NOT be enabled. Otherwise you're going to get devs passing in plain text from users (like an IM message) which potentially has things like `**` and it'll get stripped away or changed due to markdown.

I don't believe most devs are going to understand/think that the text blocks use markdown by default, and therefore they won't know they

[2017-08-04 16:26] anbare commented on #517
I believe the desired behavior would be that the text block in the example becomes trimmed to 3 lines (or possibly 2 lines). That's how adaptive XML tiles function today.

So no text randomly cut off, and padding of at least the host config's padding amount is preserved (potentially even more padding would be visibly present depending on font size and where the line breaks end up)

[2017-08-04 16:28] anbare commented on #507
Hey @niels9001, cool idea, could you possibly provide some mockups of the cards you would like to create using rectangles/ellipses, so that we can visualize the idea and have a more tangible example?

Thanks!

[2017-08-04 16:30] anbare commented on #495
Was a decision made about toggling one vs multiple ids?

[2017-08-04 16:39] dclaux commented on #495
At this stage it looks like the only thing we'll actually do will be to add the isVisible property and an API in renderers to get an element by Id. With that, Action.ToggleVisibility can be achieved via extensibility, and at that point the decision to support multiple target element Ids or not belongs to the host.

[2017-08-04 16:52] riarenas commented on #502
Work items will now be assigned to the correct owner based on the asignee field in the issue.

[2017-08-04 16:52] #502 closed

[2017-08-04 17:22] niels9001 commented on #507
First thing that comes to mind is stuff for charts like below:

![image](https://user-images.githubusercontent.com/9866362/28979424-21d9a42c-794a-11e7-9f00-66a493a2dcb1.png)

![image](https://user-images.githubusercontent.com/9866362/28979461-3a22598e-794a-11e7-83b1-2b4feb399533.png)

Ideally SVG would be supported: this would allow extreme flexibility in terms of shapes but also stuff like icons!

[2017-08-04 18:58] danmarshall opened #529 "Allow text wrapping on Action buttons when layout is vertical"
Hello, we are receiving customer reports that they would like text to wrap on Action buttons in WebChat
https://github.com/Microsoft/BotFramework-WebChat/issues/616
Seems like this is a reasonable request if button layout is in vertical mode.

[2017-08-04 21:18] riarenas commented on #518
Reopening to test non-Zenhub Days remaining

[2017-08-04 21:34] dclaux commented on #529
Seems reasonable to me too.

[2017-08-04 21:47] dclaux commented on #529
The question is, should it be a host config option? Will some host want to prevent wrapping?

[2017-08-04 21:53] #518 closed

[2017-08-04 22:23] danmarshall commented on #529
It's possible...
At the very least we should provide a tooltip, in case text is truncated with ellipses.

[2017-08-07 18:30] matthidinger commented on #106
Todo on @matthidinger: spec the params values.

[2017-08-07 23:07] dclaux commented on #495
The issue has been updated to only call for renderers to have the ability to toggle the visibility of rendererd elements at runtime. With what's proposed in this issue, Action.ToggleVisibility can be implemented through extensibility.

The issue was discussed and approved today.

[2017-08-08 19:09] riarenas opened #533 "UWP Renderer does not set Default Host Config"
If no host config json is provided, the UWP renderer throws due to not initializing an AdaptiveHostConfig object.

[2017-08-08 20:54] dclaux opened #535 "Add selectAction on TextBlock"
There are many, many scenarios that call for a piece of text to be clickable, and where buttons wouldn't work visually. For these scenarios, we should add support for selectAction on TextBlock.

[2017-08-08 21:36] matthidinger commented on #535
Can't markdown hyperlink syntax handle this scenario, while also making sure it gets a standard visual treatment?

[2017-08-08 21:50] matthidinger commented on #330
My vote is that we keep the Type property required for the time being. It makes readability of a large payload slightly easier

[2017-08-08 22:31] dclaux opened #536 "Allow explicit image sizes"
Our current image sizing is way too restrictive. We should allow explicit image sizing via ```width``` and ```height``` properties, allowing card authors to use a large image and render it at the desired size.

[2017-08-08 22:33] dclaux commented on #536
Keep in mind that it is technically already possible to achieve one's desired image size by setting an Image's size to "auto." However it's not possible to use a larger image and render it at a smaller size. The proposed feature makes it way easier to do icons that will scale properly from 96dpi screens to high dpi screens.

[2017-08-08 22:33] danmarshall commented on #536
We should also consider what this means if we were to support Responsive layouts. I know it's still a "blue sky" idea, but it could be on our roadmap.

[2017-08-08 22:35] dclaux commented on #536
I think it would actually help - knowing the desired size of an image before loading/rendering it makes it possible to make early layout decisions.

[2017-08-08 23:14] dclaux commented on #517
Very hard to do. No automatic/CSS-based way to do it. I would have to somehow compute the remaining space, determine that this particular text block is the element that overflows and calculate/set its maxlines property. Unless someone else wants to do it, this will be a limitation of the HTML renderer.

[2017-08-08 23:19] matthidinger commented on #517
Ropening for tracking. It has to be done in uwp

[2017-08-08 23:32] dclaux commented on #535
I was actually going to open an issue for exactly this. We would have to support something like this:

[code]

And we would have to have a way to declare actions outside the context of any element, likely at the card level, something like this:

[code]

However, I still think supporting selectAction on TextBlock would be very helpful.

[2017-08-08 23:34] dclaux commented on #535
I'm not clear above - I think the markdown approach is very useful and we should do it. I also think we should have selectAction on TextBlock.

[2017-08-09 00:31] rsrikar opened #537 "Cannot naviagate to elements in adaptivecards.io website"
Cannot navigate to TextWeight, TextSize etc. in http://adaptivecards.io/explorer/#TextBlock.

[2017-08-09 00:52] anbare commented on #330
Why not just use the Type property for the samples, but make the property itself optional? Who cares what devs are sending when they programmatically create their payloads. Might as well allow them to save space by not providing properties that are meaningless except when visually viewing the payload itself.

[2017-08-09 03:30] dclaux commented on #330
If we think we could have a different type of column in the future, then I vote for "type" being required. Otherwise, omitting "type" when the type is implicit is a good simplification. We don't have "type": "Fact" for a fact in a FactSet for instance.

[2017-08-09 03:32] dclaux commented on #330
@anbare I notice the contentVerticalAlignment property in the payload above. Is it a proposed new feature?

[2017-08-09 03:34] anbare commented on #330
@dclaux  The new height spacing model that we recently added solves requests for being able to center content vertically inside a column. It could be a nice addition to have a contentVerticalAlignment property so you don't have to add two empty elements to achieve the vertical centering of some content inside a column, but it's not technically required.

[2017-08-09 03:58] dclaux commented on #330
@anbare got it, thanks.

[2017-08-09 07:00] kenyeung128 opened #538 "Is there any UI tool to create adaptive cards?"

[2017-08-09 16:16] j-halletthook opened #539 "Host Config should include option to add overlay for background images"
Text can be hard to read with a full bleed background image.
There should be an option in the Host Config file to add an overlay to background images to increase text legibility.

[2017-08-09 16:27] matthidinger commented on #538
Hi @kenyeung128,

The Visualizer here is our primary tool right now
http://adaptivecards.io/visualizer/

We also have a VS Code extension that enables a live preview in the editor
https://docs.microsoft.com/en-us/adaptive-cards/resources/tools#visual-studio-code-extension

Is there another kind of tool you were looking for?

[2017-08-09 16:32] mdtauk commented on #539
For the background image, you should be able to add a tint opacity and possibly tint colour.

[2017-08-09 16:38] mdtauk commented on #538
A designer with drag and drop for valid elements, drop down to select "template" as in Live Tile/HTML/Notification/XAML implementations, and responsive sizing tests. - Export the XML/C#/JS code needed.

Maybe overkill, but could be a good Visual Studio feature, along with a future updated XAML designer, When AdaptiveCards become the defacto UWP method for data display.  Could work as a native XAML

[2017-08-09 16:58] kenyeung128 commented on #538
Hi, Matt,

Yes, like Martin said, a designer where drag and drop with elements, rather
writing json to design, as it takes quite some time to build different
cards. It would be very helpful with a designer tool.
ᐧ

*Ken Yeung*
*CEO & Co-founder of *Clare.AI <http://clare.ai/>
ken@clare.ai | Skype: denmarkken | Mobile: +852 5333 2683
Building Natural Asian Language AI Digital Assistants

On Thu, Au

[2017-08-09 17:22] j-halletthook commented on #539
I can't find references to tint opacity or tint color, do you have an example I could see?

[2017-08-09 22:22] matthidinger commented on #398
@mdtauk each platform renderer would either choose a default if possible, otherwise (and probably in addition to) we would add a HostConfig option to allow hosts to specify their monospace font of choice

[2017-08-10 16:44] riarenas opened #540 "UWP Renderer renders inputs regardless of the supportsInteractivity field in HostConfig"
Actions are properly ignored, but all inputs are rendered regardless of the configuration.

[2017-08-10 18:12] matthidinger opened #542 "Image url handling for invalid values"
Currently in the Visualizer and Image with empty URL fails to render a card at all, but a " " or other values render the card albeit without the image. We should formalize the expectation here

[code]

[2017-08-10 18:23] dclaux opened #543 "Fix list of named color"
# Implementation status
- [X] TypeScript (https://github.com/Microsoft/AdaptiveCards/pull/582)
- [ ] UWP
- [ ] WPF
- [ ] iOS
- [ ] Android
- [ ] Documentation

# Problem
We currently have, among other, two (or three, depending on the renderer) named colors:
- Dark
- Light
- Default (this one doesn't exist in the HTML renderer)

Additionally, HostCong has a textBlock.color property to define what t

[2017-08-10 18:46] mdtauk opened #544 "JSON Templates for common card/data types."
Will there be some guidance for developers in the best practices for managing the various types of AdaptiveCards - almost like templates, so they can match their cards to common patterns and system ui defaults.

This could prevent someone's Notification Centre from looking like a disjointed mess perhaps.  Of course there may not need any guidance/samples/templates for these things - and I am over

[2017-08-10 20:05] matthidinger commented on #544
@mdtauk Windows will be providing guidance on their respective experiences, e.g., Timeline will have a set of best practices, and Action Center will have a similar set of best practices. Ultimately this will be up to each experience owner to guide their developers in the most appropriate way for them.

Separately, we are also working on some prototypes for standardizing a set of well known data ty

[2017-08-10 20:31] anbare opened #545 "UWP: Body element cannot be empty, which means can't make card with only actions"
You can't even just use a blank array on body, you currently have to provide elements inside the body, otherwise the renderer fails to render.

HTML renderer allows no body/empty body.

Some scenarios there's no body, just actions.

[2017-08-10 21:31] spanwargithub opened #546 "Support for Pseudo CSS Classes and Elements"
We use a variety of CSS pseudo classes and pseudo elements to achieve various UI effects. For example, to highlight the background of the content card on mouse hover we use :hover CSS class. To show that element is in focus (by outlining it) we use :focus CSS class.
Adaptive library supports hover functionality; however, I have not found any support for focus yet.
Along with the pseudo classes, we

[2017-08-10 21:35] spanwargithub opened #547 "Data binding - Ability to untie view and data into separate json"
Untying the view and data gives the following benefits
1.	Potentially smaller size payload sent over the wire.
2.	We can cache the tokenized template JSON in CDN

e..g
  "type":"AdaptiveCard",
   "version":"0.5",
   "body":[
      {
         "type":"ColumnSet",
         "columns":[
            {
               "type":"Column",
               "items":[
                  {
                     "type

[2017-08-10 23:22] mdtauk commented on #544
Thank you @matthidinger

[2017-08-10 23:24] riarenas commented on #545
I will split this issue into two:
As of current documentation, Body is a mandatory property for an adaptive card. I will file an issue for the documentation and schema to determine if a change there is needed. It is a bug however that the UWP renderer does not allow rendering of an empty body.

[2017-08-10 23:27] riarenas opened #548 "Is Body a mandatory or optional element in a card?"
https://docs.microsoft.com/en-us/adaptive-cards/create/cardschema#adaptivecard
indicates that Body is a mandatory property. The Html renderer and visualizer however allow cards without a body to be rendered. The renderers that use the shared model require the property to be present.

Which is the desired behavior?

[2017-08-10 23:27] riarenas commented on #545
Opened #548

[2017-08-11 00:30] riarenas opened #549 "PopulateImageUrlAsync should account for errors during httpClient calls"
XamlBuilder LN 466 httpClient->GetInputStreamAsync(imageUri, &getStreamOperation); should have an HR check for cases where there were problems with internet connection

[2017-08-11 01:08] newtux commented on #446
This is actually a problem with the current schema as well as the docs.

[code]

Would you accept a pull request to both to fix?

[2017-08-11 01:22] dclaux commented on #446
Absolutely!

[2017-08-11 02:11] mdtauk commented on #540
If the SupportInteractivity setting is false, should it not still render the UI declared, but set the input fields to Read Only, so they can not be interacted with, but are still visible?

[2017-08-11 02:13] mdtauk commented on #542
Not render the image, or have the host platform define a default image?

[2017-08-11 02:14] mdtauk commented on #539
@j-halletthook   I didn't mean those options currently exist, but that they should exist, to implement the feature you suggested in a flexible and powerful way.

[2017-08-11 02:27] mdtauk opened #551 "Will there be an AdaptiveCard control for XAML/UWP or is it only internal to Microsoft?"
Will UWP developers be able to add an AdaptiveCard control into their XAML, set it's Source property to some JSON, and create a HostConfig to fit their app?

Or is the UWP implementation only for those parts of the Windows Shell that Microsoft control (Live Tiles, Timeline Activities, Notifications)?

Unless I am missing something, it seems like you have to use Code to generate a card, which is th

[2017-08-11 15:21] riarenas commented on #540
Rendering read only input fields would confuse users, and the blame would end up being directed to the host. The current desired design is that it should be up to card authors to know the guidelines for the specific host that will be rendering their cards as to know that they don't support use any of the action or input elements.

[2017-08-11 18:03] matthidinger commented on #142
IT HAS BEEN DECIDED! 🤸‍♂️

[2017-08-11 18:03] #142 closed

[2017-08-11 18:07] matthidinger commented on #330
DECISION: Any *Set that takes on a single item type, the type will be implicit if left out.

ImageSet, FactSet, ColumnSet, should all **not require** children type properties.

- [ ] TypeScript
- [ ] UWP
- [ ] Android
- [ ] iOS
- [ ] .NET

[2017-08-11 18:13] matthidinger opened #552 "Rename Column size to width"
# Implementation status
- [X] TypeScript
- [x] UWP
- [x] .NET
- [x] iOS
- [x] Android
- [x] Documentation

[2017-08-11 22:31] matthidinger commented on #551
The current plan is to ship the XamlAdaptiveCardRenderer ([source code here](https://github.com/Microsoft/AdaptiveCards/tree/master/source/uwp)) as a beta nuget package in September, which will allow a developer to render Adaptive Cards inside their app. They will also be able to define their own Host Config that the renderer will use.

As for wrapping it inside a control and providing a design-ti

[2017-08-12 00:52] mdtauk commented on #551
Thank you for the response @matthidinger - I am just an enthusiast and design when it comes to Apps and C#/XAML but I am curious and interested, so I will have to reserve that to those with the talents, and ability to actually make it a reality.  And look forward to seeing how these Cards are rendered by the Shell points in a future Windows 10 update.

Live Tiles may get much more flexible for dra

[2017-08-14 16:49] anbare commented on #545
Fixed with #553

[2017-08-14 16:49] #545 closed

[2017-08-14 21:14] anbare opened #556 "UWP renderer crashes if HTTP image cannot be found"
If an image can't be found, like bad HTTP link or anything, the UWP renderer crashes uncatchably and crashes the parent app.

Repro payload

[code]

[2017-08-14 21:18] anbare commented on #556
@riarenas this is likely that missing THROW_IF_FAILED, did you already fix that or want me to submit a pull request?

[code]

[2017-08-14 21:24] anbare commented on #556
Eh, seems it's not simply just that, adding a THROW_IF_FAILED it still crashes, investigating further

[2017-08-14 21:46] anbare commented on #556
Figured out the source of the error, inside PopulateImageFromUrlAsync, one of the delegates will throw an error if the image download failed. But since no one is capturing that async result, it ends up as an unhandled exception.

![image](https://user-images.githubusercontent.com/13246069/29293258-53aee3a6-80ff-11e7-99cb-875eb0ed336e.png)

Maybe reporting the error via the imageLoadTracker will be

[2017-08-14 21:55] matthidinger commented on #422
Also need to consider

- Use of proper HTML tags and attributes (e.g anchor element for hyperlinks, alt on image etc)
- Support for ARIA attributes
- Support for high contrast mode

[2017-08-14 21:55] matthidinger commented on #511
Duplicate of #422

[2017-08-14 21:55] #511 closed

[2017-08-14 22:41] dclaux commented on #422
High contrast is addressed via HostConfig, I don't think we need anything else in that area.

[2017-08-14 22:41] anbare commented on #556
@matthidinger needs to decide on the final behavior of this.

Options are...

1) Have RenderAsync throw an exception when an HTTP image fails to load

2) Make RenderAsync return some sort of result that contains both the rendered card (without the image) and info like "2 images failed to load"

I've written the code for (1) in branch anbare/uwp-fix-image-errors, but (2) is likely the better soluti

[2017-08-14 22:51] anbare commented on #551
Glad to see the enthusiast interest in the future of Start! Insider builds will be the place to keep looking for the latest! Closing this issue thread.

[2017-08-14 22:51] #551 closed

[2017-08-14 22:53] anbare commented on #549
Oh this is the same as #556, it's more than just checking for an hresult since it's async code, see that other issue thread which I put all the info in without realizing you had this one.

[2017-08-16 11:37] dalekunce commented on #408
I'm working on something that uses facts with numbers. I would like to be able to right align all numbers similar to a receipt.

[2017-08-16 14:40] jfb74 opened #558 "Action.Submit postBack Behavior"
I am wondering how to emulate the HeroCard postBack behavior with AdaptiveCards. I see in the documentation it says that "The data property of the action may be a string or it may be an object. A string is passed back to your bot as a Bot Builder SDK imBack activity, and an object is passed as a postBack activity"

My question is that with a HeroCard the postBack text is just a string but if I pas

[2017-08-16 15:15] jfb74 commented on #558
For anyone who encounters this issue in the future, the solution is as follows. As part of the data you have to include a flag which is set to true, and then you can set the value to the typical text as would be set in the HeroCard.

HeroCard:
builder.CardAction.postBack(session, "show_All_Incidents", "View Incident(s)")

AdaptiveCard:
{
	"type": "Action.Submit",
	"title": "View Incident(s)",
	"da

[2017-08-16 15:15] #558 closed

[2017-08-16 15:41] dclaux commented on #408
@dalekunce for now, the layout you desire can be accomplished with ColumnSet, one per row. You also have more control over font sizes/color in a ColumnSet. I do agree though that in this simple case FactSet could make it easier.

[2017-08-16 17:44] matthidinger commented on #408
Thanks for the feedback! I've added it to the list of things being considered for 1.1

[2017-08-16 19:07] #446 closed

[2017-08-16 21:54] zhusongm commented on #381
@User1m I'm preparing a fix for the c# sdk.

[2017-08-16 21:58] zhusongm commented on #458
Good to know. Was going to ask about it. I'll make the change for .net renderer.

[2017-08-16 22:10] zhusongm opened #559 "Input controls are not correctly rendered in .net html renderer"

[2017-08-16 22:13] zhusongm commented on #559
I'm going to fix it; don't have the permission to assign it to myself.

[2017-08-17 00:10] danmarshall commented on #558
Hi @jfb74 - can you file this issue in the [WebChat](https://github.com/Microsoft/BotFramework-WebChat) repo?

[2017-08-17 00:43] jfb74 commented on #558
I have closed the issue and provided the solution I found above, is there more you advise I should do?

[2017-08-17 01:16] danmarshall commented on #558
@jfb74 If others want this behavior, then perhaps this should be a core feature :) so I would like to track it. Thanks for the feedback and contribution!

[2017-08-17 01:28] jfb74 commented on #558
@danmarshall Luckily enough there is a solution which works properly now. Though it definitely would be good to have a more user friendly or more official solution on how to do this. I appreciate your response though!

[2017-08-17 17:32] riarenas commented on #549
Closing as duplicate of #556, which has a more thorough investigation.

[2017-08-17 17:32] #549 closed

[2017-08-17 18:12] danmarshall opened #560 "Input.Toggle not clipping"
A textbox is contained with ellipsis but a checkbox label is not:

Json:
[code]
![image](https://user-images.githubusercontent.com/11507384/29426779-9c5a674e-833c-11e7-8f90-fdcf1bc6178f.png)

[2017-08-17 20:11] anbare commented on #556
@matthidinger your vote on this?

We could always start with option 1 since the hosts like Action Center that we know about would choose that option to not display anything if image download fails, and later on we could add an advanced Render method which supports partial rendering and returning errors like image download failure.

Although another interesting question is whether buttons should st

[2017-08-17 20:33] anbare opened #563 "UWP renderer returns UIElement instead of FrameworkElement"
The renderer API's method signature returns a UIElement, but the actual item we're returning is a FrameworkElement...

Might as well change the method signature to return the more-specific FrameworkElement (which extends UIElement).

Natasha from Skype UWP had to actually cast the returned result to FrameworkElement since they need to set it as the content of a ContentPresenter, and ContentPresent

[2017-08-17 22:43] matthidinger commented on #556
Also agree that throwing seems clumsy and bad, especially for non-exceptional failures like poor network connectivity. In our API review next week let's add this to the discussion. There are a couple ways we can go about this

[2017-08-18 17:40] matthidinger opened #566 "Provide a webpack bundle that excludes the markdown-it dependency"
The dist version of adaptive-cards.js currently weighs in around 300k. `markdown-it` is consuming about 253k of that without the the minified version, which is wasted space for folks who plan to replace the markdown processing with their own library.

Also we should make sure we're using the minified version of markdow-it.

[2017-08-18 17:57] dclaux commented on #566
Unbundling is easy technically, but it opens the door of various hosts inconsistently rendering markdown.

The minified version of markdown-it is only 100k. I don't think we have a minified version of the adaptive library yet, but maybe it would make sense to look at its size. It seems it would be around 125k. What's our size target?

[2017-08-18 18:54] danmarshall commented on #566
I have an opinion about "young" libraries - just my opinion and I'm ok if others do not agree :) which is not to minify until some level of maturity. Bugs are easier to trace in fully commented debuggable code which helps the community to self-support and contribute.
If someone is sensitive to download size, they are of course free to minify their own deployment.

Also, React has set a good exampl

[2017-08-18 18:57] danmarshall commented on #566
Exposing the markdown-it library is another option. This is the strategy in WebChat, which [exposes the AdaptiveCards library as a global](https://github.com/Microsoft/BotFramework-WebChat/blob/master/AdaptiveCards.md#optional-embed-without-webpack).

[2017-08-18 20:12] dclaux commented on #560
Fixed: https://github.com/Microsoft/AdaptiveCards/pull/567

[2017-08-18 20:12] #560 closed

[2017-08-23 02:24] #533 closed

[2017-08-23 02:24] #540 closed

[2017-08-23 06:07] amirtaub commented on #481
hi @matthidinger,
Do you know if we should expect any fix anytime soon, or maybe how can we work around it?

[2017-08-23 16:16] riarenas commented on #563
Seems completely reasonable.

[2017-08-23 16:23] riarenas opened #571 "Shared model is missing headers property for HTTP actions."

[2017-08-23 17:40] riarenas opened #572 "Add support for schema key BackgroundImage in shared model"
Shared model uses the key "BackgroundImageUrl".

We want to change this to BackgroundImage so it's consistent with typescript renderer and online visualizer.

[2017-08-23 17:47] mdtauk opened #573 "Core Feature suggestion - Private Mode"
I know this wont be likely for any v1 release, but as these Cards are intended to work with Notifications.  It could be useful to be able to mark a data field as "sensitive" or "personal" some kind of nomenclature that will enable the Card to hide or replace these with lines or placeholders.  That way if for whatever reason these Cards are used in an app model which handles private details, there

[2017-08-23 18:23] nesalang opened #574 "Need More Definite Definition for Size Property of Column"
We currently have thee values: auto, stretch, and number.
Some renderers such as iOS renderer does not support some of the each values or some of combinations of the values. More firm definitions are needed to implement those values for platforms that do not support them natively. For example, if (auto | stretch) and number values are used, column width is unclear for columns with (auto | stretch)

[2017-08-23 21:24] riarenas commented on #548
Body is now an optional property. Documentation needs to be updated.

[2017-08-25 08:28] BnSmth opened #581 "SDK Release Cadences"
Hi, I am currently working on a project that is using both the .NET and Javascript SDKs. Unfortunately, the .NET SDK is at v0.5 (released in May) whereas the Javascript SDK is at 0.6 (released in June). What is the release process regarding SDKs? Can I expect the SDK's to be updated together in the future and is there a roadmap in place for releases?

Thanks

[2017-08-25 16:10] matthidinger commented on #581
Hi @BnSmth, you can expect the SDKs to be released together in the future, once we get the iOS, Android and UWP renderers in "beta" with the v1.0 schema, which should be around the end of September. We'll definitely be sharing the roadmap in the next few weeks. Thanks for your patience while we get our big rocks in order.

Regarding .NET, are you using it just for the object model, or are you usin

[2017-08-25 16:34] #572 closed

[2017-08-28 11:12] vxnsbir1ugsp commented on #457
Very interested in such feature right now. What's the progress?

[2017-08-28 18:26] dclaux commented on #6
What is the design for this?

[2017-08-28 18:27] dclaux commented on #47
@matthidinger What is this about, and why is it needed?

[2017-08-28 18:32] dclaux commented on #234
The more I think about this the less I believe it is necessary to formalize such a mechanism, especially if we're going to allow a random object. I think all hosts should just be able to define whichever custom properties they want on any Adaptive Element type, including the card itself.

[2017-08-28 18:58] Assaya commented on #234
It's a good idea if all web applications are compliable, happen Microsoft
SHOULD lay down some stringent measures.
Angela

On 28 August 2017 at 19:32, David Claux <notifications@github.com> wrote:

[2017-08-28 19:00] Assaya commented on #47
http://adaptivecards.io/

x

On 28 August 2017 at 19:27, David Claux <notifications@github.com> wrote:

[2017-08-28 19:00] Assaya commented on #6
http://adaptivecards.io/

x

On 28 August 2017 at 19:26, David Claux <notifications@github.com> wrote:

[2017-08-28 20:33] dclaux commented on #47
@Assaya not sure what you mean to say here?

[2017-08-29 10:11] ubreddy opened #583 "Adaptive cards not rendered properly on webchat channel. works on directline though.."
![image](https://user-images.githubusercontent.com/2233628/29815945-02c2febe-8cd0-11e7-82d3-632e21806a92.png)

The above is an example of scuba bot number input.
The same behavior is observed across all adaptive cards of scuba card...

Used the webchat iframe.
   <div class="col-md-6">
                    <iframe src="https://webchat.botframework.com/embed/<BOT>?s=<secretKey>"
          style="hei

[2017-08-29 15:34] riarenas commented on #556
This issue is popping up more and more frequently. There are a few corner cases that are not captured with Andrew's fix, such as:
*Empty image URL.
*Invalid URL format,
*Lack of internet connectivity.
*No internet capability in calling app.

I'm working on top of Andrew's changes to address these issues. We have discussed a rework on how we handle image downloads, but that will require more compre

[2017-08-29 15:38] dclaux commented on #583
@ubreddy can you elaborate on what's not working? I'm not sure I get it based on the screenshot. Also, what is the payload for the card that doesn't render properly?

[2017-08-29 16:29] anbare commented on #556
Nice! Agreed, we can always add a new method like RenderWithErrorInfo or something that will provide a half-rendered card with error info about failed images/etc. For now just failing completely is good enough for our existing scenarios.

[2017-08-29 17:33] riarenas opened #584 "Typescript/UWP renderer are case sensitive for string property values."
As an example, column Size property is case sensitive:

"size": "auto" :heavy_check_mark:
"size": "Auto" :x:

Should we be this strict with the casing in the value for the size? The documentation says this:

"auto", "stretch", or a number representing relative width of the column in the column Set (Default:Auto)

Although the docs are clear in that we expect those literal strings, the remark about

[2017-08-29 17:38] ubreddy commented on #583
This is the payload I am sending through bot
session.send(payload)
{
  "type": "message",
  "inputHint": "expectingInput",
  "speak": "How many people will be joining you?  There is a minimum of 3 and a maximum of 6.",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "type": "AdaptiveCard",
        "version": "1.0",
        "body":

[2017-08-29 18:16] riarenas opened #585 "Adaptive Card Schema is missing Speak property"
https://docs.microsoft.com/en-us/adaptive-cards/create/cardschema#adaptivecard

has no mention of a speak property, but https://docs.microsoft.com/en-us/adaptive-cards/create/speech mentions there should be a speak property on the card for "On Delivery" reading of the property.
Once it is added, should be implemented in all renderers.

[2017-08-29 22:36] matthidinger commented on #584
I agree case insensitive seems the best way to go. @dclaux any issue?

[2017-08-30 04:25] ubreddy commented on #583
Even the same is not working from Skype channel too...

Error: Request to 'https://smba.trafficmanager.net/apis/v3/conversations/29%3A13
TA28m5CkdUwY3QPXUEkfr2qXLipnH09EJ9ZI3xYzpE/activities' failed: [400] Bad Request

    at Request._callback (C:\scuba\node_modu
les\botbuilder\lib\bots\ChatConnector.js:523:46)

[2017-08-30 20:54] anbare commented on #418
@matthidinger this is a key feature for toasts, should we make this milestone 1.1?

I could probably help implement the UWP code for this since it's already in the shared model if everyone else is busy

[2017-08-30 21:37] anbare opened #596 "UWP: API to grab all input values user currently inputted"
When user clicks on a toast (including outside the Adaptive Card region), we need to be able to collect all of the input values that the user currently has written, so that when the app gets activated, it gets all of the inputs.

This would likely simply involve making the GatherAllInputs or whatever method public, and actually return a different object rather than just a FrameworkElement, or some

[2017-08-30 21:41] anbare commented on #389
Toasts need this too
![image](https://user-images.githubusercontent.com/13246069/29896287-48aa0e60-8d91-11e7-9dc4-3c4f91d6f6df.png)

[2017-08-30 21:48] danmarshall commented on #583
@ubreddy can you tell me your bot ID?

[2017-08-31 01:31] ubreddy commented on #583
AS_Skype

[2017-08-31 01:48] danmarshall commented on #583
Hi @ubreddy - you need to check the "Enable Preview" checkbox in your Web Chat configuration page for that embed code.

[2017-08-31 01:48] #583 closed

[2017-08-31 02:03] ubreddy commented on #583
did that.
Still doest seem the serve the adaptive cards as cards... they are being shown as images with the actions showing up as options ( non clickable)

[2017-08-31 02:08] ubreddy commented on #583
Well, when I created a new site it worked. Existing default after enabling preview didnt though. Strange!

[2017-08-31 18:56] QingpingMeng opened #600 "String comparison in html renderer is case sensitive"
Is this by design or we should allow case insensitive comparison.

[2017-08-31 18:57] riarenas commented on #600
Duplicate of #584

[2017-08-31 18:57] #600 closed

[2017-08-31 19:58] dclaux commented on #584
I don't have a problem with it.

[2017-09-05 20:58] anbare commented on #480
Toast notifications need this too. When an action is invoked on a specific card, we need to be able to correlate the card with the toast notification. That doesn't work if the event handler is on the renderer itself (which there's 1-many cards vs renderers)

[2017-09-05 21:07] anbare commented on #138
Toasts need this so we can use our own platform image cache for http images, and so we can resolve ms-appx/appdata images

[2017-09-05 21:11] anbare opened #604 "UWP doesn't support selectAction on containers or anything"
UWP doesn't support selectAction on containers, so you can't have inline touch targets. This code simply hasn't been written yet - that's what this issue will track.

Toasts will need this.

[2017-09-05 21:26] andrewleader opened #605 "Re-design actions to better support the reality of how actions are used"
**GOALS**

- Make it possible for actions to be universal while still supporting custom actions
- Make supporting custom actions easy since it's a very common scenario
- Rationalize actions and selectAction so that selectAction doesn't have properties specific to action actions, like title

**actions and selectAction rationalization**
Today, selectAction takes a type of Action. However, actions ha

[2017-09-05 21:49] anbare commented on #379
Addressed in pull request #565

[2017-09-05 21:49] #379 closed

[2017-09-05 22:00] andrewleader opened #606 "New Title/Subtitle/Card images schema lockdown"
Support title/subtitle/card images/etc on Adaptive Cards, toasts will be utilizing these. Note that toasts only needs the schema to be locked, we'll parse these ourselves.

[2017-09-05 22:01] andrewleader opened #607 "Support for extensions on top-level Adaptive Card"
Like the following, so that hosts can add custom properties. Toasts will need this

[code]

[2017-09-05 23:18] matthidinger commented on #147
What if we add something semantic like `quickReplyAction` on `Input.Text` (since that seems to be the only real-world scenario where a quick-reply would be used)

[code]

[2017-09-06 07:56] ankitbko opened #608 "Fact.Title wraps when Value is long"
I am facing an issue where if the`value` of any fact in FactSet is large enough, all the `fact.title` in the set wraps too. See below images for reference. Doesn't look very nice, any way to avoid this behavior?

When value is small -

![image](https://user-images.githubusercontent.com/3169316/30100476-a558bd76-9306-11e7-9149-6ebfa7e03241.png)

When value is large enough -

![image](https://user-i

[2017-09-06 18:54] matthidinger opened #609 "Support custom glyphs for text and actions"
Need to spec this out.

[2017-09-06 20:39] Maglar42 opened #610 "Input.ChoiceSet not working inside ColumnSet"
I am attempting to build out a formatted set of labels and drop downs next to each other.  To do this i was creating a container then adding a column set with a text block and a choice set.  I am using adaptive-cards.js built from renderer on npm.  When attempting to call this in my project i just get a grayed out box for a drop down.  After trying a number of different combinations in the visuali

[2017-09-06 21:36] matthidinger commented on #610
Good catch! @dclaux any ideas?

[2017-09-06 22:25] dclaux commented on #610
@Maglar42: A ColumnSet can only contain Column elements. The payload above has a ColumnSet that contains a Column and then a ChoiceSet. The ChoiceSet won't render because it's not a Column. You need to put it in a Column, see below payload.

A couple additional notes:
* "type": "Column" isn't required for a Column, it can be omitted
* isSelected isn't valid. To set the initial value of a ChoiceSet

[2017-09-06 22:25] #610 closed

[2017-09-06 23:06] dclaux commented on #608
@ankitbko FactSet is rendered as a 2-column Table. Title is allowed to wrap so as to not take too much space if it's long. But the drawback is what you're seeing. We can force title to not wrap, but then this can happen:

![image](https://user-images.githubusercontent.com/1334689/30137917-71c36f06-931a-11e7-99a7-5c7d6f8a61ef.png)

Not sure that's better?

Alternatively, we could prevent wrapping i

[2017-09-06 23:42] danmarshall commented on #608
I just tried an HTML entity and it worked! The non-breaking space character `&nbsp;`
`Assigned&nbsp;to:`
Not sure if this is a bug or a feature :)

[2017-09-07 00:19] dclaux commented on #608
Well, it's a feature of HTML :) But is it the right way to handle this?

[2017-09-07 08:55] Maglar42 commented on #610
Sorry about that and thank you that is working great now.

[2017-09-07 15:54] #556 closed

[2017-09-07 16:59] matthidinger opened #611 "HTML Renderer should show warnings/fail to render for JSON-schema violations"
The HTML renderer currently accepts string values where a bool is expected, but the other renderers are strict about requiring a bool.  The payload below works in HTML but not in UWP or Android.

Our JSON-schema states that wrap is a boolean so we should probably run the payload through a JSON-schema validator and either output the warnings in the Visualizer or maybe fail to render.

Thoughts?

[c

[2017-09-07 17:42] QingpingMeng commented on #605
I think custom action type is possible at least in html renderer. You can inherit any type you want from AdaptiveCards.Action, override the parse/execute function and register it in to the renderer. That's what I am doing to invoke add in command from the card in OWA.

[2017-09-07 17:50] dclaux commented on #611
Yes, we should run through a schema validator. This however requires that we have an up to date JSON schema, which I don't think is the case right now.

[2017-09-07 18:08] dclaux opened #613 "Remove support for "inlineEdgeToEdge" value in HostConfig.actions.actionMode"
# Why?
"inline" is enough. Renderers should always render inline cards "edge-to-edge" as it is consistent with the handling of background images/colors in containers.

# Implementation status
- [x] TypeScript (https://github.com/Microsoft/AdaptiveCards/pull/612)
- [ ] UWP
- [ ] WPF
- [ ] iOS
- [ ] Android
- [ ] Documentation

[2017-09-08 07:49] vxnsbir1ugsp commented on #457
Someone??

[2017-09-08 16:04] dclaux commented on #457
Hi @vxnsbir1ugsp, we are currently focused on closing the v1 feature set, and a map element won't be part of that. It is on the radar for a future version, but can't give any prediction as to if/when it'll happen at this time.

[2017-09-08 23:51] anbare commented on #604
Closing as dupe of #418

[2017-09-08 23:51] #604 closed

[2017-09-11 16:11] dclaux commented on #234
I do not see a need to have standard parsing of non-standard properties given that by definition there can also not be any standard use of such properties; hosts will have to implement custom code to consume them. If that's the case, why not let hosts implement the parsing of these extra properties using a renderer's extensibility model.

Unless renderers are able to consume the extra properties s

[2017-09-11 17:47] anbare opened #616 "[UWP] Date and time picker doesn't stretch full width"
![image](https://user-images.githubusercontent.com/13246069/30288714-96fae2be-96de-11e7-8f48-a82d531756c9.png)

Simple fix, horizontal alignment needs to be set for them, I'll make the changes.

[2017-09-11 18:20] RebeccaAnne commented on #462
@dclaux @matthidinger With this change we now have the following in our action config:

    spacing: Spacing,
    buttonSpacing: number,

Is there a reason we want spacing to be the enum and buttonSpacing to be a number?  Seems like we should use the enum for buttonSpacing as well.

[2017-09-11 18:42] matthidinger commented on #47
Agreed, this is redundant and covered in the implementation spec. This isn't a change from existing 1.0 behavior

[2017-09-11 18:42] #47 closed

[2017-09-11 18:45] matthidinger commented on #543
@dclaux what about scenarios where a developer provides a light background image that needs dark text overlayed, or a dark background and needs to force light text?

[2017-09-11 18:48] matthidinger opened #618 "Remove Action.Http from v1, to revisit later"
`Action.Http` is used to execute an HTTP action against an arbitrary 3rd party service. There are some inherent security issues with this, and thur far all consumers have decided to remove support for it.

We will gather the feedback and revisit adding it back in a future release.

[2017-09-11 18:57] matthidinger opened #619 "Move backgroundImage property into background object"
Currently background images are specified using a URL string as a top-level property on AdaptiveCard. This presents a problem if we add background color support, as well as makes it difficult to enhance the background image with render hints like what kind of overlay and adjusting the opacity.

## Current

[code]

## Proposal for v1
This optional more naturally enables background color, and also a

[2017-09-11 19:18] dclaux commented on #543
Yep, good point. I think I'll need to revert this change. What we seem to need is the below.

In HostConfig:
* Each container style needs to define light and dark colors in host config.
* Each container style also needs to define which of the named colors is its default. That will depend on its background color; for instance, the "default" style for Teams will define the "dark" color as its defaul

[2017-09-11 19:24] dclaux commented on #618
If we remove Action.Http, then Action.Submit needs to be removed as well. Both are host specific at this point. What should remain in the schema are actions that are universally supported (e.g. Action.OpenUrl and Action.ShowCard.) All others should be done via extensibility.

[2017-09-11 19:43] dclaux commented on #619
Background colors should solely be controlled via the style property of a container, which ensures that text is rendered with appropriate contrast according to color definitions from HostConfig.
For background images, there should be a backgroundImage property defined as proposed (and approved for v1.1) in this issue: https://github.com/Microsoft/AdaptiveCards/issues/477

We can certainly introduc

[2017-09-11 20:02] anbare commented on #605
Proposal is complete - thoughts everyone?

[2017-09-11 20:44] jfb74 commented on #529
Any update on this?

[2017-09-11 21:07] dclaux commented on #605
Lots of changes in there. I am not sure I understand the need to split action/command. The action is the command IMO.

So this:
[code]

Should really be this (e.g. the same as the model as currently defined):
[code]

Similarly, this:
[code]

Should be this, as per the current model:
[code]

Now it is debatable whether actions should be called "actions" as they already are, or "commands" or somethi

[2017-09-11 21:11] anbare commented on #605
The reason for the split is that for selectAction, the *title* property on today's Action is meaningless. And in the future we're looking at adding an image to actions too... that image property will then similarly be meaningless for selectAction.

Therefore in today's world, devs could specify the following selectAction on an image

[code]

You have properties that never do anything, like the tit

[2017-09-11 21:24] dclaux commented on #605
It seems to me the title property can (should?) be used as a tooltip.

[2017-09-11 21:27] anbare commented on #605
What about when we add images to buttons? How would an image be used on the selectAction?

Btw tooltips are used on things that aren't clickable. For example in Word here, "0 minutes" isn't clickable but it still has a tooltip. So tooltip would be a separate property if we wanted to support it.

![image](https://user-images.githubusercontent.com/13246069/30297655-575e1fda-96fd-11e7-8f19-808313694a

[2017-09-11 21:49] matthidinger commented on #618
Does Outlook use Action.Http or register custom actions? If they use Action.Http then that's my misunderstanding. I was under the impression every single host said they wouldn't support it

[2017-09-11 21:49] dclaux commented on #605
Tooltips are very much used on clickable things to provide additional information:

![image](https://user-images.githubusercontent.com/1334689/30298334-d3c9b550-96ff-11e7-97b5-b07b26d4a9fb.png)

Image is a better argument, but I think I'd just ignore it rather than split action/command. Plus, per the screenshot, the image could also be used in the tooltip.

[2017-09-11 21:51] anbare commented on #605
The point is that tooltips aren't exclusively on clickable things. Therefore if we added them, we would add them to the generic inline AdaptiveElement rather than adding it to actions. That way devs could use them on both interactive and non-interactive elements.

[2017-09-11 22:05] dclaux commented on #605
Ah yes, that's definitely a good point.

Personally, I am content with the current model and think that splitting things into command/action would be complicating things unnecessarily for card authors.

That said, I agree with your arguments, and fundamentally you are probably right. If there is a consensus around doing it, I'm ok with it.

[2017-09-11 22:12] #616 closed

[2017-09-13 00:21] dclaux opened #622 "Change image sizing model"
# Implementation
- [x] JavaScript (https://github.com/Microsoft/AdaptiveCards/pull/475)
- [x] UWP (#1334)
- [x] WPF (#1337)
- [x] iOS (#1336)
- [x] Android (#1335)
- [x] Documentation

# Problem
For single Image elements, the small, medium and large image sizes are basically useless because they are no predictable. At the same time, a card author might actually want to precisely control an image's

[2017-09-13 20:33] rsrikar opened #623 "HTML Renderer Input substitution regex should handle spaces"
We have seen this issue before with MessageCard where if the body contains **{{ myInputId.Value }}** white space, then the values are not substituted.

The below regular expression should be updated to handle white spaces as well.
var regEx = **/\{{2}([a-z0-9_$@]+).value\}{2}/gi;**

[2017-09-14 00:19] jlaanstra opened #624 "Static Location support"
# The problem

People share locations with each other all the time, be it an address of a family member, the location of a restaurant or the place where they took a picture. This issue proposes a StaticLocation type that would display the content of the card inside a pin on a map like the following example:

![map](https://user-images.githubusercontent.com/1564575/30406074-4e0b7894-98a4-11e7-8bff-

[2017-09-14 20:27] matthidinger commented on #619
Closing this after discussion, we're going to keep it as-is for 1.0 and explore the v1.1 improvement per #477

[2017-09-14 20:27] #619 closed

[2017-09-15 03:48] mdtauk commented on #609
Other than an image payload within the card, wouldn't this require the ability to use custom font files?  How do you practically allow that, other than using a web-hosted and cached file.

By default, HTML Card renderers can handle this with @fontface - but for Android, iOS, UWP?

[2017-09-15 03:55] mdtauk commented on #581
On a similar note...

As there are plans to implement AdaptiveCards into parts of the Windows Shell - will additions to the Schema, Rendering (at least for UWP and XAML) be reliant on the Windows twice yearly update cycle?

If not, how will Windows support new additions between OS updates?  Is it a Windows Update thing, or something in the Windows Store?  Has there been any thought on keeping it d

[2017-09-15 04:55] matthidinger opened #627 "Separator thickness and color not working"
On latest master. Do I have the payload wrong?

![image](https://user-images.githubusercontent.com/1432195/30467123-63447e42-9997-11e7-8f7d-456f26af6f5b.png)

[code]

[2017-09-15 06:34] dclaux commented on #627
What's the problem? I'm not getting this.

[2017-09-15 15:42] matthidinger commented on #627
Closing per email thread. Planning for separator to be bool for v1.0 and can revist improvements in a future release

[2017-09-15 15:42] #627 closed

[2017-09-15 15:51] matthidinger opened #628 "Image data URI support"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.2
<td>✔️ .NET (#2131)<br/>✔️ Android (#2129)<br/>✔️ iOS (#2130)<br/>✔️ TS (#2442)<br/>✔️ UWP (#2128)</td>
<td>✔️ Shared (#2127)</td>
</tr>
</table>

# Solves requests

* Embedding image data locally within card (#1991)

# Solution
The [data URI scheme](https://en.wikipedia.org/wiki/Data_URI_scheme
) is a

[2017-09-15 16:51] matthidinger commented on #134
Duplicate of #484

[2017-09-15 16:59] anbare commented on #479
Dupe of #389

[2017-09-15 16:59] #479 closed

[2017-09-15 17:07] anbare commented on #108
Dupe of #138

[2017-09-15 17:07] #108 closed

[2017-09-15 17:11] anbare commented on #137
Dupe of #145

[2017-09-15 17:11] #137 closed

[2017-09-15 18:14] #535 closed

[2017-09-15 20:35] matthidinger opened #629 "Enhance Separator with more flexibility for card authors"
The Separator object type describes the look and feel of a separation line between two elements.

|Property name|Type|Description|
|----------------|-----|-------------|
|thickness|SeparatorThickness|Specifies the thickness of the separation line.|
|color|SeparatorColor|Specifies the color of the separation line.|

### SeparatorThickness enumeration
SeparatorThickness = "default" | "thick"

### Se

[2017-09-15 21:00] matthidinger opened #630 "Renamed all enums that have a default value of `normal` to `default`"
In 0.5 we had a mix of "default" and "normal" for various enum values. We are aligning all of them to "default", "normal" has been deprecated and may not be supported in every renderer.

1. `Container.style`
1. `TextBlock.size`
1. `TextBlock.weight`
1. `Image.style`

Existing renderers should accept "normal" and "default" as the same thing, to ease the transition for existing cards.

@dclaux can y

[2017-09-15 21:13] matthidinger commented on #6
Updated with the spec

[2017-09-15 21:23] matthidinger opened #631 "Improve semantic structure and portability between host experiences"
Spec furthcoming

[2017-09-15 21:53] matthidinger commented on #622
We also need to try and find some way to handle image heights based on related elements. E.g., set the height based on the lineHeight of TextBlock with a size of large, or medium, etc.

[2017-09-15 22:00] matthidinger commented on #462
For v1.0 I've updated the spec that separator is back to being a bool instead of an object. We will add the object back in a future release.

Parsers should parse the bool and populate the Separator object with an IsVisible property.

"separator": true becomes

"separator": {
   "isVisible": true,
   "thickness": "default",
   "color": "default
}

"separator": falsebecomes

"separator": {
   "isVi

[2017-09-18 18:19] matthidinger commented on #609
It will have to be part of the API we give developers using the SDKs, and the custom glyphs will only work in an app that registers support for it. For example Skype could register a custom glyph font in all of the platforms, and they would tell their bot developers what glyphs are available to use.

[2017-09-18 18:23] matthidinger commented on #581
Adaptive Cards will be supported in the Windows Shell but the renderer will be tied to a particular OS build for now. We will provide a mechanism for app developers to query which version is supported so they can craft the most appropriate card for the user

[2017-09-18 22:30] matthidinger commented on #480
Pseudo-code based on what Andrew is saying. Instead of 1 global handler the host could associated a callback on each renderered card.

[code]

[2017-09-19 02:47] matthidinger opened #640 "Column clipping too much?"
Updating the weather compact card and it seems to be clipping aggressively.

![image](https://user-images.githubusercontent.com/1432195/30573704-2926c07e-9caa-11e7-9f60-04411c66794c.png)

[code]

[2017-09-19 02:53] matthidinger opened #641 "Finalize behavior for empty textblocks"
Different things happen in each renderer with an empty string (""), a space (" "), and a non-breaking space ("&nsbp;")

[code]

**UWP**: Adds the blank TextBlock

![image](https://user-images.githubusercontent.com/13246069/60831314-23c37f80-a16e-11e9-8d1a-c71423bd2d39.png)

**JS**: Drops the blank TextBlock

![image](https://user-images.githubusercontent.com/13246069/60831365-3ccc3080-a16e-11e9-8b

[2017-09-19 03:14] matthidinger opened #642 "Input.Toggle isn't reporting the value unless valueOn/valueOff are supplied"
Shouldn't the default true/false be returned if a custom valueOn and valueOff are not provided?

[code]

[2017-09-19 03:59] dclaux commented on #642
I'll look into it.

[2017-09-19 04:06] dclaux commented on #642
Fixed

[2017-09-19 04:06] #642 closed

[2017-09-19 19:57] matthidinger commented on #543
I'm not 100% sure I'm following. If I don't specify a background image then I should be able to rely on my TextBlocks in a given container having the correct default color. If I choose light or dark without a background image presumably it won't look very good, but that seems like the fault of the payload author? If I DO specify a background image that is a light contrast, and I explicitly want da

[2017-09-19 22:34] dclaux commented on #543
Container styles define the a container's background color. Say we have a "cave" style that is defined like this:
[code]

Obviously the "dark" color won't work on a container with the "cave" style because its background is also black. However you don't want to defined "dark" as a color that's actually light... So you add a **defaultColor** property to the style definition to indicate which of the

[2017-09-20 03:11] matthidinger commented on #543
Thanks for the explanation, it does make sense. I just can't shake the feeling that this is adding complication in order to "protect" the dev from themselves. If a developer choose to combine a background image with a style, it seems reasonable (at least to me) to also make them include a color property on each TextBlock.

So in your exmple they would add color: "dark" on the TextBlock.

Your prop

[2017-09-20 03:16] dclaux commented on #543
That is fine, yes. And you are right that we could simply require that the author explicitly specifies a color on each TextBlock, but as you say I was looking for a less verbose solution. BTW I think it's an important aspect of Adaptive that we protect card authors from themselves as much as possible.

[2017-09-20 19:16] dclaux commented on #543
Just to be clear, we do need the defaultColor property on a style definition.

[2017-09-20 19:46] mdtauk commented on #581
@matthidinger Good to know.  And checking the docs for what is supported where, will be important.

[2017-09-20 19:47] mdtauk commented on #609
@matthidinger  So there will be an ability for the host app to "provide" a custom font with glyphs in, and call on them within the payload.  Not restricted to the MDL2 font icons, or platform glyph fonts.

[2017-09-21 17:51] matthidinger opened #652 "Standardize input-value responses on Action.Submit"
# Implementation status

- [ ]  TypeScript
- [ ]  UWP
- [x]  WPF
- [x]  iOS
- [ ]  Android
- [ ]  Documentation

## Gathering Inputs

When a host wants to gather up the inputs for a card they will be returned as a JSON object. We will provide a dedicated API to gather up the inputs for the card. Each platform must gather inputs in this same way.

We do not make any promises of input validation in

[2017-09-21 19:22] matthidinger opened #653 "SDK package naming"
Tracking the final v1.0 names of the SDKs.

# Implementation status
- [ ] TypeScript
- [ ] UWP
- [x] WPF
- [x] iOS
- [x] Android
- [x] .NET
- [ ] Documentation

## TODO

- [x] Recommend we drop the microsoft prefix

- [X]  Figure out the best way to publish the Xamarin nugets. If it makes sense and we can include all the libs into a single package then a dev could just `nuget install AdaptiveCards