[2021-01-13 08:19] diduanand commented on #5266
@matthidinger, @dclaux Can you please look into it ?
cc - @atishayv

[2021-01-13 08:33] ananddidwania opened #5267 "[Javascript][Accessibility - Focus is lost for one tab stop]"
# Platform

- [ ] JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "2.0.0-rc.0"

# Details

Focus is lost for one tab stop after each elements with adaptive card.
![image](https://user-images.githubusercontent.com/44603844/104426311-c94b8080-55a7-11eb-9aca-c43bbc5fa3e1.png)

Most probably the focus goes to as-designersurface, although focus is not seen

[2021-01-13 08:34] diduanand commented on #5267
@matthidinger, @dclaux Can you please look into it.
cc - @atishayv

[2021-01-13 09:10] sazarghani opened #5268 "[Platform][Broader Feature Request Category if applicable] Title"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] JavaScript

We use "botframework-directlinejs" (0.11.6) in our Angular 8 Web UI to render the direct line chat window. We use Adaptive Cards extensively, and it is important for us to somehow highlight the "clicked on" buttons on all adaptive cards permanently, so that the user can see what button he/she had cli

[2021-01-13 16:11] #5252 closed

[2021-01-13 17:04] jscalo opened #5269 "[iOS][Rendering] Column width is ignored, generates auto layout errors"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

When setting a column's width, the width is not respected and a bunch of auto layout errors or logged to the console.

E.g.:

[code]

In the designer the result looks like this (correct):

<img width="437" alt="image" src="https://user-im

[2021-01-13 17:26] rvinothrajendran opened #5270 "[Designer] Text is not visible in Dark theme"
**Steps**

Browser :  Microsoft Edge  &  Version 87.0.664.75

1. https://adaptivecards.io/designer/
2. Select the host app in Dark Theme
3. click the new card option

**the button text is not visible**

![image](https://user-images.githubusercontent.com/16264167/104486875-a54e6600-55cc-11eb-862e-c0253dd35ab2.png)

[2021-01-13 17:34] jscalo opened #5271 "[iOS][Framework] ACRRegistration.setActionRenderer() takes an opaque NSNumber instead of an enum"
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

In ACRRegistartion.h there is:

[code]

It's not documented (even in the header) what cardElementType is supposed to be. It's just an opaque NSNumber. In the visualizer sample app there's a comment about this:

But issue #809 has already been closed.

[2021-01-13 19:06] jwoo-msft commented on #5269
@jscalo,

thanks for reporting the issue. The reason is that the payload has one single column and its width is set to 180 while the parent's width is set to 400 intrinsically by the background image and the parent's view's height bing 400. AdaptiveCards uses a stack view, and since there is one single column inside the stack view that is not 400, so UIKit breaks the constraint that sets 180.
A wo

[2021-01-13 19:21] jscalo commented on #5269
Excellent, thanks for the workaround @jwoo-msft. For the sake of platform parity do you think it would be worth having the framework detect this scenario (there being only a single Column with a fixed width) and adding a spacer view to the UIStackView proactively?

[2021-01-13 19:22] jwoo-msft commented on #5206
@lindach167,
This is fixed in our latest release (renderer version 2.4.) that is being integrated to Teams, and I doubled checked that it works.

[2021-01-13 19:28] jwoo-msft commented on #5205
@lindach167
cc. @RebeccaAnne for visibility
This issue has been fixed in our latest accessibility push. The fix is included in our latest release (renderer version 2.4.6) which is being integrated into Teams.

https://user-images.githubusercontent.com/4112696/104499730-63083300-5592-11eb-9a5b-7bb911abfd6b.mov

[2021-01-13 19:28] #5205 closed

[2021-01-13 19:47] jscalo opened #5272 "[iOS][Rendering] backgroundImage lost when using custom Container renderer"
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

I'd like to customize the display of a Container element, so I did this:

[code]

and

[code]

However in doing so, the background image is lost. ACOIResourceResolver functions are implemented but now aren't called.

E.g. json:

[code]

Render result:

![image](https://user-images.githubusercontent.com/2917357/104501529-7

[2021-01-13 20:41] lindach167 commented on #5206
Thanks Joeseph!

[2021-01-13 22:47] jwoo-msft commented on #5269
@jscalo,  Thanks for bringing this up & I like your suggestion, and I will include it in the next available cycle.

[2021-01-13 23:35] jscalo opened #5273 "[iOS][Rendering] action additional properties aren't exposed to the custom renderer"
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

In the custom renderer hook for Actions, any extra properties aren't exposed through `ACOBaseActionElement.additionalProperty()`. Instead, it's always the string "null".

Example json:

[code]

Swift code:

[code]

[code]

Helpers:

[code]

[2021-01-14 07:55] prasanthrpadharthi commented on #5226
Hi Team,

Any idea if this is an issue or any workaround to solve this issue?

[2021-01-14 08:09] figgsoftware opened #5274 "Action.OpenUrl not working in MS Teams - New meeting experience"
# Platform

What platform is your issue or question related to? (Delete other platforms).

JavaScript

# Author

Author

If you're an author, who are you sending cards to?

MS Teams  (meeting chat)

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details
Opening a url from an Adaptive card is not working in the Microsoft Teams New meeting experience (On Win

[2021-01-14 15:15] shereenfathy commented on #4500
hello,
Any updates regarding this issue? it happened with me also.

[2021-01-14 18:22] lindach167 opened #5276 "[Teams][UX overlap] [AdaptiveCard drop down choices are hidden behind the iOS Keyboard when keyboard is raised]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

- Host - Teams Mobile

If you're an author, who are you sending cards to?

# Version of SDK

1.2

# Details

The issue is

[2021-01-14 19:59] golddove opened #5278 "[Teams][Input Validation] Input.Number floating point support"
# Platform

- [ ] Android
- [ ] SharedModel
- [ ] iOS

See also #5308(.NET) and #5309(UWP)

# Author or host

Host - Teams

# Version of SDK

20.12 releases

# Details

There is platform inconsistency on acceptance of floating-point values for Input.Number.

* JS renderer accepts floating-point in the card payload (i.e. Input.Number.min, Input.Number.max, Input.Number.value) and accepts floating-p

[2021-01-14 20:04] jscalo opened #5279 "Docs don't include `id` for Action types"
According to the iOS framework, I can set an `id` on just about any element and it will surface during rendering. But according to the docs, `Action.*` elements don't inherit an `id` property. If the host behavior I'm seeing is correct then the docs should reflect that `id` is a supported property on all types.

---
* URL: https://adaptivecards.io/explorer/Action.Submit.html

[2021-01-14 20:48] jscalo opened #5280 "[iOS][Framework] Crash when changing ACRButton.iconView.image"
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

We have a need to change a button image when tapped. (e.g. toggle from liked to not-liked) So I'm saving off a reference to the rendered ACRButton and later setting its image like so:

[code]

This causes the framework to crash (backtrace below). The image definitely exists and I'm making the call in the main thread.

[co

[2021-01-14 23:05] jwoo-msft opened #5281 "Review and streamline CI/Tooling backend settings"
# Details
Review and streamline CI/Tooling backend settings

[2021-01-15 01:15] shalinijoshi19 commented on #5280
@jwoo-msft can you please investigate? Thanks

[2021-01-15 01:17] shalinijoshi19 commented on #5276
@jwoo-msft another one from Teams iOS. Can you please take a first pass at this? Thanks.

[2021-01-15 01:19] shalinijoshi19 commented on #5274
@siduppal do you happen to have thoughts on this at all?  Is the New meeting experience different from the usual teams flow?

[2021-01-15 01:22] shalinijoshi19 commented on #5276
@lindach167 is there anything needed of us here esp if this is a no repro on 1.3 bits? @jwoo-msft ?

[2021-01-15 01:23] shalinijoshi19 commented on #5273
@jwoo-msft thoughts here?

[2021-01-15 01:24] shalinijoshi19 commented on #5272
@jwoo-msft can you please take a look at this issue see what's going on? Thanks!

[2021-01-15 01:25] shalinijoshi19 commented on #5271
@jwoo-msft do you have context on this issue ?

[2021-01-15 01:28] shalinijoshi19 commented on #5267
@diduanand can you please upgrade to the [latest 2.x](https://www.npmjs.com/package/adaptivecards/v/2.6.0)  version of the JS renderer and see if you are still seeing the issue repro?

[2021-01-15 01:29] shalinijoshi19 commented on #4313
@matthidinger is this a legit issue?

[2021-01-15 01:29] shalinijoshi19 commented on #4313
n/m this was demo

[2021-01-15 01:34] shalinijoshi19 commented on #5168
@RashmiMithun can you please share your sample json here ? Also in the future you are welcome to engage with us and the community on the [Discussions Page](https://github.com/microsoft/AdaptiveCards/discussions)

[2021-01-15 01:36] linda167 commented on #5276
@shalinijoshi19 Joseph said this does repro in 1.3 if I'm not mistaken.

[2021-01-15 01:36] shalinijoshi19 commented on #5181
Dup of #5201

[2021-01-15 01:37] #5181 closed

[2021-01-15 01:38] shalinijoshi19 commented on #5191
@atishayv can you please upgrade to the [latest JS 2.4.6 RTM SDK](https://www.npmjs.com/package/adaptivecards) and check if te issue still persists in the latest version ? Thanks.

[2021-01-15 01:39] shalinijoshi19 commented on #5191
This is not repro'ing on our [designer](https://adaptivecards.io/designer):

![image](https://user-images.githubusercontent.com/20822397/104669716-7ea53380-568f-11eb-9413-a33e4e3cfeb6.png)

[2021-01-15 01:42] shalinijoshi19 commented on #5192
@dclaux who on Outlook should take this bug - What's the process to route these over again? @obshrog FYI that Outlook uses a pretty old custom renderer based on 1.0 schema. We don't directly own that bit of logic but we'll try to get you the right folks over on that side for additional follow up. Thanks for your patience with this...

[2021-01-15 01:43] shalinijoshi19 commented on #5207
@golddove can you take a stab at this real quick? Thanks!

[2021-01-15 01:45] shalinijoshi19 commented on #5213
@dclaux could you please take a stab at helping @oliverbj out here a bit? Thanks!

[2021-01-15 01:45] shalinijoshi19 commented on #5260
@RebeccaAnne can you take a look please? Thanks

[2021-01-15 01:48] shalinijoshi19 commented on #5266
@diduanand can you please upgrade to the latest 2.4.x series of the renderer to see if this is still an issue for you? We've made a bunch of accessibility fixes since the rc was released.

[2021-01-15 01:50] shalinijoshi19 commented on #5249
@dclaux could you please take a look at this?

[2021-01-15 01:55] shalinijoshi19 commented on #5237
@golddove can you try the json listed above and also [here](https://jsfiddle.net/yaorm2en/) on our Visualizer app to see if it will repro?
@VikrantSingh01 / @lindach167 is this a known issue on the Teams mobile app side would you know?

[2021-01-15 01:59] shalinijoshi19 commented on #5226
@prasanthrpadharthi can you please share your sample json with us? Also are you sending your card into Teams via an offline workflow like Bots or something? Are you able to repro this on our [designer](https://adaptivecards.io/designer) that uses the same renderer as Teams desktop (albeit a newer version of it)..

[2021-01-15 02:01] shalinijoshi19 commented on #5218
@dclaux another ActionableMessage bug -- who/how can we route these correctly again?

[2021-01-15 02:05] shalinijoshi19 commented on #5219
@LakshummaC FYI that Msft has [officially deprecated support for IE11](https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666) as of Nov 2020 so very curious to understand their end-end scenario here ? @dandriscoll what is the "IE Browser of BotFramework" again?  @dclaux thoughts?

[2021-01-15 02:10] shalinijoshi19 commented on #5228
@siduppal  how does the image loading work here again - Isnt it the host app that actually downloads the actual image and performs the action in the callback? I dont see this issue repro on our designer for eg.. ?

[2021-01-15 02:12] shalinijoshi19 commented on #5233
@RebeccaAnne was this an oversight or by design?

[2021-01-15 04:28] SpicyNoodless opened #5283 "[iOS][Accessibility] Font size should adapt system settings."
**What platform is your feature request related to? (Delete other platforms).**
- iOS

**Additional context**
If we changed font size in system settings, I think font size of adaptive card should be adjusted automatically like the green part in screenshots.

![image](https://user-images.githubusercontent.com/76025453/104681214-c62dcd00-572c-11eb-968a-7b013925826b.png)![image](https://user-images.g

[2021-01-15 04:36] Wajeed-msft commented on #5274
Ack. Looking into this.

[2021-01-15 05:01] linda167 commented on #5237
@shalinijoshi19 this is not a known issue I have seen reported. I think there may be some issues with the markup for how the card JSON is crafted, it does not send a card if I paste the JSON as a new adaptive card in App Studio.

[2021-01-15 05:28] kiranbhadani commented on #5237
I am able to solve it, problem is null values in data, it does not produce json "text" property, replacing null values with empty string works

[2021-01-15 05:52] #4164 closed

[2021-01-15 06:24] #5168 closed

[2021-01-15 06:25] RashmiMithun commented on #5168
@shalinijoshi19 here is the json

{
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "TextBlock",
            "size": "Medium",
            "weight": "Bolder",
            "text": "Custom"
        }
    ],
    "actions": [
        {
            "type": "Action.Alert",
            "title": "Click me",
            "text": "Hello world!"
        }
    ]
}

[2021-01-15 06:33] Manish-MSFT commented on #5274
@figgsoftware , Can we get on call to discuss this. Please write to us at microsoftteamsdev@microsoft.com

[2021-01-15 06:35] Manish-MSFT commented on #5228
@stressedoutt : We have already created a bug for this issue and shell inform you once the fix is arrived.

[2021-01-15 06:39] figgsoftware commented on #5274
Yes. I have time today @Manish-MSFT

[2021-01-15 06:54] jwoo-msft commented on #5087
@manujai
I couldn't reproduce the issue of the absence of padding in the top and the bottom of the icon in the sample app.
![image](https://user-images.githubusercontent.com/4112696/104691442-1c622800-56bb-11eb-8e24-14875b3089cc.png)

[2021-01-15 07:00] jwoo-msft commented on #5087
The same payload without icon url in one of the buttons.
![image](https://user-images.githubusercontent.com/4112696/104692124-4700b080-56bc-11eb-9471-b6d90d5f36ca.png)

[2021-01-15 08:54] Manish-MSFT commented on #5274
@figgsoftware , Thanks for discussing over call. I was able to repro this issue. I could get the adaptive card open url link working in meetings-chat window but meetings-live window it throws error. I am taking this forward for discussion with team, I will update you once we raise a bug.
![image](https://user-images.githubusercontent.com/70321016/104703344-3a706c80-573d-11eb-991f-3b5f5b50b661.png)

[2021-01-15 08:56] figgsoftware commented on #5274
Great job!

From: Manish-MSFT <notifications@github.com>
Sent: fredag 15. januar 2021 09:55
To: microsoft/AdaptiveCards <AdaptiveCards@noreply.github.com>
Cc: Jørgen Solberg <jorgen.solberg@decisions.no>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AdaptiveCards] Action.OpenUrl not working in MS Teams - New meeting experience (#5274)

@figgsoftware<https://github.com/figgsoftware>

[2021-01-15 10:02] golddove commented on #5087
@manujai on the latest renderer version, icons are not causing the button height to grow as you describe. Is there a config I am missing?

![image](https://user-images.githubusercontent.com/4442788/104710114-b3e06e80-56ed-11eb-9ff3-3763eb272401.png)

The fix for the disappearing right icon is now in PR.

[2021-01-15 10:06] kcguptaji opened #5286 "[Platform][Broader Feature Request Category if applicable] Title"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ X] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
On WPF app we can use the custom fonts without installing the font on the c

[2021-01-15 17:51] jscalo opened #5287 "[iOS][Rendering] Need a method of deferred resource loading"
**What platform is your feature request related to? (Delete other platforms).**

iOS

**Is your feature request related to a problem? Please describe.**

Our card json can be many hundreds of Containers long, each with its own background image. Currently, after parsing the json result with our resource resolvers, the framework immediately calls the resolvers to download ALL of the images in ALL of

[2021-01-15 20:44] jscalo commented on #1382
I was about to file a very similar request but found this closed one first. I'm working with iOS. Is there an equivalent of `context` that we can use to define additional styling?

[2021-01-15 20:58] jscalo commented on #1382
My guess is that the client would just parse out any custom styling descriptors from the host-config json before passing it to the framework parser and apply them in the customer rendering functions.

[2021-01-15 22:36] jscalo commented on #5287
After giving it some thought I think the right way to deal with this is for the backend to vend a stream of cards, rather than one big card with a bunch of containers. Then the iOS client can implement a UITableView and load/render each card when iOS tells it to, which is typically just before it scrolls into view. Closing!

[2021-01-15 22:36] #5287 closed

[2021-01-16 00:48] jwoo-msft opened #5288 "[iOS][Consistency] [Extra Separator With ToggleVisibility]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Details
![image](https://user-images.githubusercontent.com/4112696/104788329-e8344900-5746-11eb-9ee8-8608d92b0c8d.png)

A separator is visible when a hidden element becomes visible and the previous element becomes invisible.

[2021-01-16 15:45] shalinijoshi19 commented on #5286
Closing this - following on https://github.com/microsoft/AdaptiveCards/discussions/5284

[2021-01-16 15:45] #5286 closed

[2021-01-16 15:46] shalinijoshi19 commented on #5279
@jwoo-msft thoughts here? Do we need to update our docs?

[2021-01-16 15:49] shalinijoshi19 commented on #5270
@dclaux known at all?

[2021-01-18 05:39] Manish-MSFT commented on #5274
@figgsoftware , Just an update : The issue is being investigated by engineering team now, I will keep you updated with latest responses from their end.

[2021-01-19 06:22] Manish-MSFT commented on #5274
@figgsoftware , Update: a bug has been filed against this issue.

[2021-01-19 07:40] Rajkumar4428 opened #5290 "Bearer token "sub" is returning action performer object id now instead of email address"
In our actionable email implementation, when user take action on the actionable email, we are calling a Power automate flow which then takes the  current user bearer and does the validation. It was working fine till yesterday as the **bearer token "sub" was returning the user email address, but now the same property it is returning user object id** which is breaking the validation of our code.

Wh

[2021-01-19 15:38] jscalo commented on #5273
FWIW this is a blocking bug for us. We'd like to be able to specify custom appearance properties for buttons but currently there's no way to do that since the properties are missing in the render hook.

[2021-01-19 19:03] RebeccaAnne commented on #5122
Fixed by #5224

[2021-01-19 19:03] #5122 closed

[2021-01-19 20:16] pedro-ramirez-suarez opened #5292 "Binding buttons(actions)"
Is it possible to create an adaptive card with dynamic buttons? the number of buttons and the content of each button may vary. I found samples where you can bind the number and type of input controls but I can't reproduce it for buttons.

[2021-01-19 21:40] RebeccaAnne commented on #5260
This shouldn't be case sensitive, although it is true that using "None" rather than "none" doesn't work in the Javascript renderer today.

[2021-01-19 21:53] RebeccaAnne commented on #5233
Associated Inputs should work on custom actions. Need further investigation to determine whether they actually do on any platform.

[2021-01-19 21:55] jscalo opened #5293 "[iOS][Rendering] Container additional properties aren't exposed to the custom renderer"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

Similar to #5273, additional properties set on a Container element aren't available in the `ACRBaseCardElementRenderer` custom renderer subclass.

[code]

[code]

[2021-01-19 22:29] prejedj opened #5294 "Background color doesn't respect RGBA values"
Though the documentation doesn't suggest RGBA values work, the adaptivecards.io designer previews a functioning backgroundColor when using RGBA. In practice however when using the card in Teams the RGBA value doesn't working, you MUST use a hex value.

Please fix this issue with Adaptive Cards, or the issue in Teams as required

---
* URL: https://adaptivecards.io/explorer/Image.html

[2021-01-19 22:54] RebeccaAnne commented on #4655
@chriche-ms Could you send me a sample json/code that this repros with? Thanks!

[2021-01-19 23:19] golddove commented on #5278
Seems to be mitigated in Teams Android 1.3 upgrade by making the change in subclass of ac numberinputrenderer and numberinputhandler. Continuing to track this for fix in our library / other platforms.

[2021-01-20 03:06] jwoo-msft commented on #4844
touch events won't occur twice with v2.4.6.

[2021-01-20 03:06] #4844 closed

[2021-01-20 03:10] yanweida99 commented on #5209
I reconfirmed that SDWebImage did not set priority, so I am not sure where the problem occurred now. And the first crash occurred when the original ADCIOSVisualizer was running on iPhone7 & iOS 12.0.1.

[2021-01-20 05:13] jwoo-msft commented on #5171
@golddove No, it doesn't.
XCFramework does not need SPM to work.

[2021-01-20 09:03] yanweida99 commented on #5209
I run

[2021-01-20 09:38] yanweida99 commented on #5209
It seems that this problem can be solved perfectly by adjusting the position of setting priority to the front of setting active.

[2021-01-20 10:24] dharma-reddy commented on #4845
Hi Team...Can you help us to fix this issue at the earliest.

[2021-01-20 14:28] shereenfathy opened #5297 "[MSTeams][Action.OpenURL] Open URl button is not working with some URls in Teams"
# Platform

- .Net Core

# Details

I've developed bot using Microsoft bot framework, the bot response is adaptive card and i want to use the action.openurl button to open specific link and it worked with some urls but when i used url to document located in Microsoft online word the button become not clickable and this is the json object :
[code]
**NOTE**: this button worked in teams mobile app bu

[2021-01-20 20:09] jervill opened #5298 "[Designer] Designer doesn't seem to respect the $when property"
The Designer doesn't seem to be respecting the $when property. I'm new to adaptive cards so there's a good chance I'm doing this wrong, but I don't think so as even the template for "Flight Itinerary" which uses $when property doesn't seem to behave as expected.

This is the preview of the "Flight Itinerary" card, without any modifications.

<img width="538" alt="Designer___Adaptive_Cards" src="ht

[2021-01-20 20:11] jscalo opened #5299 "[Schema Explorer] Container.bleed is listed without default"
The schema docs show Container.bleed but don't tell us what the default value is.

---
* URL: https://adaptivecards.io/explorer/Container.html

[2021-01-20 21:02] RebeccaAnne commented on #5297
The card seems to work okay in the JS designer. @Wajeed-msft @siduppal could you take a look and see if there's anything going on on the Teams side here?

[2021-01-20 21:48] jscalo opened #5300 "[iOS][Rendering] Can't add custom element to Column"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

It seems like it's impossible to include a custom element in a Column. Ex:

[code]

Results in the error `Error Domain=ACRParseErrorDomain Code=3 "(null)"`.

The docs imply that Columns can only contain certain types so I tried to instead

[2021-01-20 22:06] jscalo commented on #5300
This was actually getting caused by a different bug (and my examples didn't have the Column spec'd correctly). I'll close this and file a new better bug.

[2021-01-20 22:06] #5300 closed

[2021-01-20 22:10] jscalo opened #5301 "[iOS][Rendering] Having a `height` property in a custom element causes errors"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

A custom element with a property named "height" results in a parsing error:

`Error Domain=ACRParseErrorDomain Code=3 "(null)"`

"width", "w", "h" are all OK. But not "height".

This actually took me a long time to figure out and I even f

[2021-01-21 03:53] diduanand commented on #5267
@shalinijoshi19 Can you please tell me which version of rendered the https://adaptivecards.io/designer/ is using. Would be great if you can tell how we can also check that.

[2021-01-21 03:53] diduanand commented on #5266
@shalinijoshi19 Can you please tell me which version of rendered the https://adaptivecards.io/designer/ is using. Would be great if you can tell how we can also check that.

[2021-01-21 05:00] riagarwa-ms opened #5302 "[Adaptive Card-UI][Text Block] Ellipses do not appear in Text Block when text length exceeds the limit set by "maxLines" and "wrap" = "true""
1. Ellipses in TextBlock of Adaptive Card do not show up if text is truncated when "maxLines" and "wrap" values are set. Example in the below screenshot "maxLines" is set to 2 and "wrap" is set to true.
![image](https://user-images.githubusercontent.com/64960865/105281942-34faa280-5bd3-11eb-8bd3-4bff91becfed.png)

2. However, if "maxlines" and "wrap" values are not set. The text gets truncated and

[2021-01-21 06:17] Mallipriya-MSFT commented on #5297
The card seems to be working fine on Teams side as well. Here are the repro screenshots:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/73868678/105287749-b48d6f00-5bdd-11eb-9d64-036f9c9dd270.png)

**card Json**

{
 "type": "AdaptiveCard",
 "body": [
 {
 "type": "TextBlock",
 "size": "Medium",
 "weight": "Bolder",
 "text": "test",
 "wrap": true
 }
 ],
 "actions": [
 {
 "type": "

[2021-01-21 06:19] Mallipriya-MSFT commented on #5297
@shereenfathy, Could you please share the repro screenshots from your side?

[2021-01-21 10:14] shereenfathy commented on #5297
the problem appears when i took the url from the address bar:
![image](https://user-images.githubusercontent.com/31906452/105335747-18656700-5be1-11eb-859a-3793cc5e5b27.png)
**card json**
{
  "type": "AdaptiveCard",
  "body": [
    {
      "type": "TextBlock",
      "size": "Medium",
      "weight": "Bolder",
      "text": "https://shpc.itn.intraorange/sites/MUSCLES/_layouts/15/WopiFrame.aspx?sour

[2021-01-21 12:08] Mallipriya-MSFT commented on #5297
@shereenfathy, It is working with the url copied from the address bar.

![image](https://user-images.githubusercontent.com/73868678/105348714-bd4a6900-5c0e-11eb-8894-689696e94974.png)

**Card Json**

{
  "type": "AdaptiveCard",
  "body": [
    {
      "type": "TextBlock",
      "size": "Medium",
      "weight": "Bolder",
      "text": "test",
      "wrap": true
    }
  ],
  "actions": [
    {

[2021-01-21 13:29] shereenfathy commented on #5297
it is not working on my side, the document is located in SharePoint Collaboration .. does this make any problem? or is my link wrong ?  also you can use my link to test.

[2021-01-21 15:24] jscalo opened #5303 "[iOS][Rendering] There's no way to get additional properties from ACOAdaptiveCard"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

We have a need to override some properties at the card level that are normally at the host config level. For example our host config file might contain:

[code]

But for some cards, we want to override those with different colors. In the

[2021-01-21 15:31] jscalo commented on #5303
I had thought that `ACOAdaptiveCard.inputs` would give me this data, but it's always empty.

[code]

[2021-01-21 16:05] riagarwa-ms commented on #5302
The screenshot is taken from Teams client. (An app added in Teams to handle link unfurling request). Here is the json for the Text block: {
                      "type": "TextBlock",
                      "text": "Now that we have defined the main rules and features of the format, we need to produce a schema and publish it to GitHub The schema will be the starting point of our reference documentat

[2021-01-21 16:46] dclaux commented on #5302
This is a known limitation and something we don't really have a plan to fix it for now. The fix is not straightforward.

[2021-01-21 17:26] cadin commented on #5297
I'm experiencing the same (or similar) issue. Neither of the URLs provided by @shereenfathy or @Mallipriya-MSFT work for me. When clicking the button I get a "Something went wrong" message:
<img width="451" alt="image" src="https://user-images.githubusercontent.com/2348891/105386812-b64d3780-5bc9-11eb-964a-8a94f6ea93d4.png">

This is occurring for me in **Teams desktop for Mac (R1)**.
The buttons

[2021-01-21 17:55] RebeccaAnne commented on #5303
@jwoo-msft Can you answer what the expected behavior here is? Is this a bug or something that's missing from the API? Thanks!

[2021-01-21 18:01] Wajeed-msft commented on #5297
This error message looks different.  Could you please share your adaptive card JSON?

[2021-01-21 18:11] cadin commented on #5297
@Wajeed-msft My example is using the JSON provided by @Mallipriya-MSFT above:
[code]

I'm sending my cards as messages through the Graph API for Teams (not sure if that makes a difference).
Let me know if this should be opened as a separate issue. I thought it might be related.

[2021-01-21 19:04] jscalo opened #5305 "[iOS][Rendering] No way to control size of icon in button (aka action)"
# Platform

- [ ] iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

There doesn't appear to be any way to control the size of an icon in a button/action. E.g.:

[code]

Results in this card:

![image](https://user-images.githubusercontent.com/2917357/105398644-35e9ff00-5be8-11eb-9db5-900cb355f409.png)

The actual size of "big-heart.png" is 44x44px. The button is huge (because I set

[2021-01-21 19:19] golddove commented on #5087
Android PR is merged.

[2021-01-21 19:26] RebeccaAnne commented on #5278
Android and shared model changes will make 21.01

[2021-01-21 19:31] dclaux commented on #5213
@oliverbj please set `ACDesigner.GlobalSettings.enableDataBindingSupport = true;` It is `false` by default and overrides all other data binding settings, such as `showSampleDataEditorToolbox`.

[2021-01-21 19:32] RebeccaAnne commented on #4708
This has been shipped.

[2021-01-21 19:32] #4708 closed

[2021-01-21 19:35] #5208 closed

[2021-01-21 19:35] golddove commented on #5208
This is using our 1.2.x renderer. Already fixed in 2.x:

![image](https://user-images.githubusercontent.com/4442788/105402747-d09d0a80-5bf5-11eb-88d9-b4576068cb5b.png)

[2021-01-21 19:38] RebeccaAnne commented on #5074
@niravk-microsoft Please see @dclaux's comment above and let us know if this is still and issue for you.

[2021-01-21 19:38] #5074 closed

[2021-01-21 19:40] golddove opened #5306 "[Android] Reduce package size"
**Is your feature request related to a problem? Please describe.**
Multiple clients (Teams, Todoist) are reporting several MB increase in apk size from the addition of adaptivecards. Need to analyze the source of the size (including from shared model and third party dependencies).

**Describe the solution you'd like**
Profile exactly how much space the package requires, and determine if any optimi

[2021-01-21 19:41] RebeccaAnne commented on #5033
Please see comments above from @jwoo-msft and @dclaux. We believe this is working as expected, let us know if you have any further concerns.

[2021-01-21 19:41] #5033 closed

[2021-01-21 19:55] dclaux commented on #4819
This needs to be discussed and will require a new AC feature.

[2021-01-21 19:59] dclaux commented on #4842
This should be fixed. Client applications should require version ^4.9.2 of AEL.

[2021-01-21 19:59] #4842 closed

[2021-01-21 20:06] dclaux commented on #5302
I found an acceptable solution to this that also happens to address another bug. Will fix.

[2021-01-21 20:38] jwoo-msft commented on #5280
@jscalo
The crash happened because of the null reference to the background-image property. This can be fixed for the January release. Is your action a show card type? thanks.

[2021-01-21 20:50] jscalo commented on #5280
Thanks @jwoo-msft. In this case it's an Action.Submit type.

[2021-01-21 21:25] shalinijoshi19 commented on #5281
Updating the SAS URL for the .NET tool library for 21.01.

[2021-01-21 21:31] RebeccaAnne commented on #5305
We need to investigate how this behaves on other platforms to determine the current behavior and what the expected behavior should be.

[2021-01-21 21:33] RebeccaAnne commented on #5182
This sample was removed in https://github.com/microsoft/AdaptiveCards/pull/5253.

[2021-01-21 21:33] #5182 closed

[2021-01-21 21:54] RebeccaAnne opened #5308 "[.NET][Input Validation] Input.Number floating point support"
Spun off from #5278

# Platform

- [ ] .NET XCeed

# Details

There is platform inconsistency on acceptance of floating-point values for Input.Number.

JS renderer accepts floating-point in the card payload (i.e. Input.Number.min, Input.Number.max, Input.Number.value) and accepts floating-point user input as valid.

.NET Xceed renderer does not accept floating-point at all

This needs to be made c

[2021-01-21 21:56] RebeccaAnne opened #5309 "[UWP][Input Validation] Input.Number floating point support"
Spun off from #5278

# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] UWP

# Details

There is platform inconsistency on acceptance of floating-point values for Input.Number.

- JS renderer accepts floating-point in the card payload (i.e. Input.Number.min, Input.Number.max, Input.Number.value) and accepts floating-point user input as valid.
- UWP ren

[2021-01-21 21:57] RebeccaAnne commented on #5278
Spun off .NET and UWP into separate issues. This bug now tracks only the shared model and Android changes.

[2021-01-21 22:04] RebeccaAnne opened #5310 "[iOS][Accessibility] Narrator is not reading the selection action title for the Rich Text Block"
Spun off from #4856

# Platform

- [ ] iOS

# Details

With the below RichTextBlock, Narrator should read "Click me" when the focus is on the RichTextBlock. We need to confirm that this is the current behavior on iOS and fix if necessary.

[code]

[2021-01-21 22:06] RebeccaAnne opened #5311 "[Android][Accessibility] Narrator is not reading the selection action title for the Rich Text Block"
Spun off from #4856

# Platform

- [ ] Android

# Details

With the below RichTextBlock, Narrator should read "Click me" when the focus is on the RichTextBlock. We need to confirm that this is the current behavior on Android and fix if necessary.

[code]

[2021-01-21 22:07] RebeccaAnne commented on #4856
Spun of iOS and Android to separate bugs to investigate and fix if necessary.

[2021-01-21 22:09] #4856 closed

[2021-01-21 22:11] RebeccaAnne commented on #5233
Scheduling for 21.02 as this is a P0 Teams bug.

[2021-01-21 22:16] RebeccaAnne commented on #5233
We currently only support associated inputs on Submit Actions, so we did not make it a part of the base action class. One possibility would be to have this property available on all action types (by making it part of the base class) but having it default to "none" for non-submit types. I think long term as we build out associated inputs we will want it on all types (show card or toggle for example

[2021-01-21 22:18] RebeccaAnne commented on #5123
Scheduling for 21.02 as this is a P0 Teams ask.

[2021-01-21 22:18] RebeccaAnne commented on #4914
Scheduling for 21.02 as this is a P0 Teams ask.

[2021-01-21 23:10] jwoo-msft commented on #5303
@jscalo, thanks for reporting this issue.

[2021-01-21 23:31] jwoo-msft commented on #5273
@jscalo Thanks for bringing this issue up.

[2021-01-21 23:37] jwoo-msft commented on #5293
@jscalo approved for the fix.

[2021-01-22 08:30] atishayv commented on #5191
@shalinijoshi19 Sorry for not following up on this before.
The issue was that the href of rendered link is not correct. I am able to reproduce it on designer.
If you see the the below screenshot :
![image](https://user-images.githubusercontent.com/13940020/105466081-bf1d3680-5cb9-11eb-9fe3-1a0a3f281ccd.png)

even though the html is rendering properly. The link for anchor element is not correct.

O

[2021-01-22 08:31] atishayv commented on #5191
Can we please reopen this issue and find a resolution ?

[2021-01-22 10:59] bence-nagy commented on #3873
I see this is closed, but was this issue ever resolved?
I have the same problem on Win 10 using either the Teams web app or the Teams desktop app.
URLs with custom schemes simply do nothing. The same URLs when opened in any browser do work and open the appropriate applications.

[2021-01-22 13:55] yingliao opened #5315 "[Javascript][Renderer] [TextBlock not well handle maxLines that clips the text at wrong position]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [x] JavaScript
- [ ] UWP

# Author or host
I'm developer from Microsoft Teams platform (bots & apps team).

# Version of SDK
1.2 (actually it happens for any version)

# Details
Here's the original bug reported to our team that should belong to SDK iss

[2021-01-22 14:46] shalinijoshi19 commented on #5315
@dclaux / @paulcam206 yet another text clipped issue; Is this a dup of #4847 ?

[2021-01-22 15:04] surjyams opened #5316 "[Outlook Desktop on Windows] Input.Toggle is not rendered in Outlook desktop on Windows"
# Platform

What platform is your issue or question related to? (Delete other platforms).

# Author

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you sending cards to?
Self

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest main, etc.

[2021-01-22 15:06] surjyams commented on #5316
**JSON Payload:**
{
	"$schema": "https://adaptivecards.io/schemas/adaptive-card.json",
	"type": "AdaptiveCard",
	"version": "1.0",
	"body": [
		{
			"type": "ColumnSet",
			"spacing": "large",
			"separator": true,
			"columns": [
				{
					"width": "32px",
					"items": [
						{
							"type": "Image",
							"width": "32px",
							"style": "person",
							"horizontalAlignment": "center",

[2021-01-22 15:51] manujai commented on #5087
[hostCapabilities.docx](https://github.com/microsoft/AdaptiveCards/files/5856920/hostCapabilities.docx)
Hi Risheek,
I checked again with ACL 2.4.0 (Android) and I was able to reproduce the expanding iconUrl issue.
Can you please try using this host config for Android to reproduce the issue.
ACL version used: 2.4.0

[2021-01-22 16:06] shalinijoshi19 commented on #5299
@RebeccaAnne this is bleed + schema docs related - can you take a quick look? tx

[2021-01-22 16:38] dclaux commented on #5191
@atishayv can you confirm you guys use Markdown-it? Not sure it is the culprit, but it's quite possible.

[2021-01-22 16:51] dclaux commented on #5315
As a matter of fact I fixed this yesterday, check out this PR: https://github.com/microsoft/AdaptiveCards/pull/5307

[2021-01-22 16:53] #4847 closed

[2021-01-22 16:53] #5249 closed

[2021-01-22 16:53] #5302 closed

[2021-01-22 16:53] #5315 closed

[2021-01-22 16:55] atishayv commented on #5191
Yes we do use markdown it

[2021-01-22 17:42] dclaux commented on #5191
@atishayv as far as I can tell, Markdown-it (Markdown in general) doesn't support those network paths. Also - and I might be mistaken - isn't that network path syntax Windows specific?

In any case, there isn't much AC can do here.

[2021-01-22 19:14] jwoo-msft commented on #5301
@jscalo, do you mind sharing your json for the custom element?

[2021-01-22 19:52] jscalo commented on #5301
Yes of course

[code]

Produces:

If I change "height" to "h", no problem.

I think error 3 is `ErrorStatusCode.InvalidPropertyValue` (from `Enums.h`).

[2021-01-22 19:56] jscalo commented on #5301
Oh I bet it's expecting a string like "60px" or something. But I'd argue that since this is a custom type it should be allowed to structure its properties however it wants.

[2021-01-22 22:58] jwoo-msft commented on #5301
@jscalo
hey, so I debugged it with the payload. you should treat the height property as a reserved keyword. The reason is that we treat all elements including customs types as derived ones from BaseCardElement, and the BaseCardElement has the height property, and its type is an enum when deserialized, and our parser expects the value to be in the string. Valid json values are "stretch" and "auto".

[2021-01-22 23:30] jscalo commented on #5301
OK makes sense (and I already switched to 'w' and 'h'). Closing.

[2021-01-22 23:59] #5301 closed

[2021-01-23 01:15] #4353 closed

[2021-01-23 01:15] #5096 closed

[2021-01-23 01:15] #3677 closed

[2021-01-23 02:06] #5280 closed

[2021-01-25 05:37] surjyams commented on #5316
Is there any update on this please?

[2021-01-25 17:22] Mallipriya-MSFT commented on #5297
@shereenfathy, I have tested with the url provided by you initially in Teams web app, It is working but when tested through Teams desktop app, it is not working. Can you check and confirm this behavior from your end ? Meanwhile, I will check internally.

[2021-01-25 17:33] Mallipriya-MSFT commented on #5297
Hi @cadin, I got it working when posted the adaptive card to channel, Just to confirm have you tested using the API [Send chatMessage to channel](https://docs.microsoft.com/en-us/graph/api/chatmessage-post?view=graph-rest-beta&tabs=http#example-3-cards) with same request body format.

[2021-01-25 17:53] jervill opened #5322 "[Designer] Designer preview for Microsoft Teams preview allows .svg images"
The https://adaptivecards.io/designer/ preview for Microsoft Teams makes it appear as if .svg are valid inputs for image elements in Microsoft Teams when in fact they are not (in Microsoft Teams itself, I see a 415 "Unsupported Media Type" error code when the image is fetched).

[2021-01-25 17:58] cadin commented on #5297
@Mallipriya-MSFT Yes, that's how I'm sending them. It works for you in Teams desktop R1?

[2021-01-25 20:05] shalinijoshi19 commented on #5281
@paulcam206 assigning to you to track reviewing this all up & repurposing this bug to be more of an all up review issue. @jwoo-msft  FYI

[2021-01-25 21:37] paulcam206 commented on #38
this looks to be fixed:

https://github.com/microsoft/AdaptiveCards/blob/248ce558523efc8a79b6bfd44b5be312cd43c347/source/nodejs/adaptivecards/tsconfig.json#L5-L6

[2021-01-25 21:37] #38 closed

[2021-01-25 23:42] #5201 closed

[2021-01-26 09:39] samoZacc commented on #5212
That is not binding the data. It needs to be the same text as the property to bind. Nothing new is added to the DB if you do that. That solves only the bug, but doesn't solve the problem. "id" : "propertyName + index" doesn't work

[2021-01-26 14:11] Morhpeuss commented on #5225
Hello, any progress?

[2021-01-26 16:04] jscalo commented on #5305
FWIW we ended up making a custom button type to handle this which replaces Actions/ActionSets entirely.

[2021-01-27 05:28] VaraPrasad-MSFT commented on #4583
@DivyankaM
Adaptive card has never supported see-more, this is by design.

[2021-01-27 11:11] #4107 closed

[2021-01-27 11:11] #4739 closed

[2021-01-27 11:29] shereenfathy commented on #5297
@Mallipriya-MSFT
in Teams web app the button is clickable but open the teams app in new tab instead of opening the right link, and yes it is not clickable in teams desktop app.

[2021-01-27 19:56] Trish92 opened #5326 "Adaptive card designer - Add custom action/element and show it in the designer"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Author

# Version of SDK

latest

# Issue
https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/javascript/extensibility

This documentation shows an example to show a progress bar and create your own action
But how do I then show those in the designer ? Where ca

[2021-01-27 20:13] golddove commented on #5278
Need to fix iOS, too.

[2021-01-27 20:47] jwoo-msft opened #5327 "[Shared][Parsing] [Image Height Property & BaseCard element's Height property]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Shared

# Details
[code]
![image](https://user-images.githubusercontent.com/4112696/106050078-b6eb3f80-609b-11eb-9512-8c137aceb181.png)

When the image's pixel height is set as shown in the example above, BaseCardElement's height property is set to `Stretch` because the parser attempts to parse the hei

[2021-01-27 21:17] RebeccaAnne commented on #4097
We agree that multiline Input.Text should stretch in this case.

[2021-01-27 21:28] RebeccaAnne commented on #4679
We agree that we're going to implement nbsp, ensp, emsp only by replacing them with the corresponding unicode character.

[2021-01-27 21:46] RebeccaAnne commented on #5099
We agree to implement this API to be used temporarily to give an adjustment period to card authors to prepare for the change in behavior.

[2021-01-27 23:06] Trish92 commented on #5326
https://github.com/microsoft/AdaptiveCards/discussions/5240   Following this

[2021-01-28 00:48] Trish92 commented on #5326
![image](https://user-images.githubusercontent.com/15216947/106073757-a7d6b280-60d8-11eb-802e-d04ce05f33b0.png)

[2021-01-28 04:20] golddove commented on #5087
@manujai I've tried again with the payload you provided above (iconUrl.docx) and the host config (hostCapabilities.docx) in our sample app, from the `release/20.12` branch. This is the card I get in that config:

![image](https://user-images.githubusercontent.com/4442788/106089464-fa729780-60f5-11eb-87d0-84572c1aeaa7.png)

Let's set up a call to try to identify why you are seeing different behavio

[2021-01-28 05:06] manujai commented on #5087
Sure @golddove
Let's connect later and try to narrow it down. Thanks!

[2021-01-28 18:52] RebeccaAnne opened #5330 "[UWP] Crash when choosing view from Activity Update card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- UWP

# Details

Opening the ActivityUpdate.json card and pressing view results in a null dereference in the visualizer code:

\source\uwp\Visualizer\ViewModel\DocumentViewModel.cs
![image](https://user-images.githubusercontent.com/9091833/106184763-d1362380-6156-11eb-92d0-fb4e00a21ce7.png)

[2021-01-28 18:57] matthidinger commented on #4761
Test

[2021-01-28 19:01] RebeccaAnne commented on #5330
This seems to have been introduced in the 20.11-12 milestone as it repros in release/20.12 but not in release/20.10.

[2021-01-28 19:34] RebeccaAnne opened #5331 "[UWP] Toggles not working correctly in expense report card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- UWP

# Details

The ExpenseReport.json card doesn't show the hidden sections when clicking on the chevrons:

![image](https://user-images.githubusercontent.com/9091833/106189135-b8307100-615c-11eb-9219-d6a75c9243d0.png)

[2021-01-28 19:43] RebeccaAnne opened #5333 "[Sample] Regex in InputFormWithLabels are incorrect"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- Sample

# Details

#5238 fixed the regex for the templated version of this card but not for the non-templated version

[2021-01-28 19:49] RebeccaAnne commented on #5331
The toggle buttons in the Action.ToggleVisibility.json card do work as expected.

[2021-01-28 19:54] RebeccaAnne commented on #5331
This appears to have been introduced in 20.11-12.

[2021-01-28 21:13] #5171 closed

[2021-01-28 21:54] RebeccaAnne commented on #5316
Thanks for filing, we'll follow up with the outlook team to investigate this bug.

[2021-01-28 21:58] dclaux commented on #5316
I have a feeling it is because your card doesn't define a `title` property on the Input.Toggle. Please try adding one.

[2021-01-28 23:57] jwoo-msft opened #5338 "[Inconsistency] [Column 'Stretch' Doesn't work well with Buttons]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Details

in Android & iOS Text Wrap for Button is enabled when actions' orientation is vertical.
When the column that has an action has stretch, the behavior is easy to define, as seen in below. Suppose all other columns hav

[2021-01-29 06:17] Nikitha-MSFT commented on #3338
Bug is Resolved now, we have tested this at our end, could you please also check and confirm?
The issue is with the Teams client which is fixed now.

[2021-01-29 06:54] surjyams commented on #5316
Thank you @dclaux . It was indeed because of the missing title property.

[2021-01-29 07:48] dclaux commented on #5316
Great, thanks for confirming. I'll close this now.

[2021-01-29 07:48] #5316 closed

[2021-01-29 08:16] figgsoftware commented on #5274
What is the status here? This is super urgent. It worries me that the v21.01 was removed and then the Short Term was added :) @RebeccaAnne @Manish-MSFT

[2021-01-29 11:18] bbullock-trustquay commented on #5249
When will this change be available in NPM please?

[2021-01-29 14:11] #5330 closed

[2021-01-29 14:33] #5331 closed

[2021-01-29 17:29] dclaux commented on #5249
In the 21.01 release which is probably happening today, at worst early next week.

[2021-01-29 18:34] dclaux commented on #5249
As per a conversation the team had this morning, the new package will most likely be released early next week, not today.

[2021-01-30 00:15] jwoo-msft commented on #5298
@jervill,

it's a common mistake. you have to click on `preview` to see the result of the template expansion as seen in the image.
![image](https://user-images.githubusercontent.com/4112696/106339998-2a807e80-624d-11eb-90f6-92ae7f43cec1.png)

[2021-01-30 00:15] #5298 closed

[2021-01-30 01:21] jwoo-msft commented on #5206
re-opening, this issue is reproducible in some devices. we're going to explicitly group a fact and value in the same row.

[2021-02-01 15:40] Mallipriya-MSFT commented on #5297
Hi @shereenfathy, Can we discuss this over a call? Could you please write to us at microsoftteamsdev@microsoft.com.

[2021-02-01 17:30] SeanFBrampton opened #5342 "[Teams/Android][Formatting/JSON Issue] Unable to Mention someone when using Post Adaptive Card to User and Wait for Response"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Desktop
- [ ] Android
- [ ] iOS

# Author or host
Authoring - Using Power Automate for compose cards.

If you're an author, who are you sending cards to? - Sending Cards to Internal staff, using Teams Web/Desktop/Android/iOS

# Version of SDK

Unknown - Teams Default

# Details

When using Action "Post

[2021-02-01 17:48] RebeccaAnne commented on #5274
Since this appears to be a Teams bug rather than an Adaptive Cards issue directly, I moved it out of 21.01 since it won't ship in that (or any) Adaptive Cards release. The fix will come on the Teams side, as tracked by the teams bug mentioned above. @Manish-MSFT may be able to give you updated status from their end.

[2021-02-01 19:39] RebeccaAnne commented on #5100
This is currently repro-ing on the latest bits so reactivating.

[2021-02-01 21:17] golddove commented on #5099
@RebeccaAnne as per last week's meeting, this is no longer needed

[2021-02-01 21:32] RebeccaAnne commented on #5100
False alarm. This is in fact working as expected so re-closing.

[2021-02-01 21:32] #5100 closed

[2021-02-01 23:21] matthidinger commented on #4313
Test

[2021-02-02 15:32] Manish-MSFT commented on #5274
@figgsoftware  : We have already escalated the issue to be fixed sooner. I will update you once I get any further information on this ticket.

[2021-02-02 16:00] BeppeTemp opened #5344 "MODULE_NOT_FOUND for adaptivecards-templating"
JavaScript, Version of SDK 14.0.

Issue:  Although I installed (and imported) the module with the command: npm install adaptive-expressions adaptivecards-templating --save. When I go to run my application I get the following error:

<img width="841" alt="Immagine" src="https://user-images.githubusercontent.com/55873294/106626642-33888d00-6578-11eb-9ba4-6cb0a04cd5f1.png">

[2021-02-02 17:49] #5099 closed

[2021-02-02 22:39] RebeccaAnne opened #5346 "[UWP] Multiline Input.Text elements should stretch when height is set to stretch"
UWP spin off of #4097

# Platform

- UWP

# Details

For multiline Input.Text elements with the height set to stretch, the control should stretch to take up the available space. Sample card below:

[code]

[2021-02-02 22:41] RebeccaAnne opened #5347 "[.NET] Multiline Input.Text elements should stretch when height is set to stretch"
.NET spin off of #4097

# Platform

- .NET

# Details

For multiline Input.Text elements with the height set to stretch, the control should stretch to take up the available space. Sample card below:

[code]

[2021-02-02 22:42] RebeccaAnne opened #5348 "[iOS] Multiline Input.Text elements should stretch when height is set to stretch"
iOS spin off of #4097

# Platform

- iOS

# Details

For multiline Input.Text elements with the height set to stretch, the control should stretch to take up the available space. Sample card below:

[code]

[2021-02-02 22:43] RebeccaAnne opened #5349 "[Android] Multiline Input.Text elements should stretch when height is set to stretch"
Android spin off of #4097

# Platform

- Android

# Details

For multiline Input.Text elements with the height set to stretch, the control should stretch to take up the available space. Sample card below:

[code]

[2021-02-02 22:51] RebeccaAnne opened #5350 "[JavaScript] Support for White Space characters in Markdown"
Javascript spin off for #4679

# Platform

- Javascript

# Details

Add support for nbsp, ensp, and emsp by replacing them with the corresponding unicode character.

[2021-02-02 22:53] RebeccaAnne opened #5351 "[.NET] Support for White Space characters in Markdown"
.NET spin off for #4679

# Platform

- .NET

# Details

Add support for nbsp, ensp, and emsp by replacing them with the corresponding unicode character.

[2021-02-02 22:54] RebeccaAnne opened #5352 "[Docs] Support for White Space characters in Markdown"
Documentation spin off for #4679

# Details

This bug tracks updating the documentation to reflect support for nbsp, ensp, and emsp by replacing them with the corresponding unicode character.

[2021-02-02 23:10] dclaux commented on #5350
Already supported in JS.

[2021-02-02 23:10] #5350 closed

[2021-02-03 05:02] paulcam206 commented on #5306
@golddove - when you get a chance, can you see if the MinRel flag fix works well? I'd love to get this out with the next release if possible.

[2021-02-03 05:16] golddove commented on #5306
@paulcam206 from our last discussion, the MinSizeRel flag only seemed to reduce a couple kb.

Will need to do some profiling to get a baseline understanding of our footprint. Also need to see if switching to static will increase or decrease our impact (e.g. need to check if Teams is already using the shared STL).

[2021-02-03 09:48] kurosawajin opened #5355 "[Microsoft Teams][AdaptiveCard] Enable file upload through Adaptive Card"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] Microsoft Teams

**Is your feature request related to a problem? Please describe.**
the chat bot is becoming the interface between Human and backend systems. but currently we cannot upload images like invoice picture to the bot, which limit the bot functionality.

**Describe the solution you'd like**
We are look

[2021-02-03 18:58] paulcam206 commented on #5209
@jwoo-msft - is this behavior expected, or is there something we need to fix here?

[2021-02-04 02:19] golddove commented on #5306
Dug in with the apk analyzer a bit with our sample app.

Java bytecode (*.dex):

| Package  | Description | Bytecode Size |
| --- | --- | --- |
| io.adaptivecards.renderer.* | Java classes written for our Android renderer | 86.8 KB |
| io.adaptivecards.objectmodel.* | Java wrappers generated by SWIG | 265.6 KB |

Native code (*.so):
(for arm64 architecture, but others are similar)
| Library | Desc

[2021-02-04 15:57] #5344 closed

[2021-02-04 17:09] RebeccaAnne opened #5356 "[Input Labels] Support for labels to the side of inputs"
# Platform

All

# Details

We don't currently support a way for a label to appear to the side of an input. This came up during accessibility work for the designer, where the Element Properties are built using adaptive card elements. Because we cannot put the label to the side of the input as is done in the designer, there is no way using standard adaptive card properties to correctly label the in

[2021-02-04 17:30] golddove commented on #4715
@matthidinger @dclaux quick follow-up to yesterday's proposal: if we're now reinterpreting HostConfig's max actions property as a limit on how many actions to display inline, that means now there is no limit on total actions. A card could contain thousands of actions, which would all be shown (albeit, in the flyout).

a) will hosts be open to that change?
b) will the flyout menu support scrolling

[2021-02-04 22:10] RebeccaAnne commented on #5303
This is about additional properties on the card level which is available on some platforms but not all, and should be available everywhere.

[2021-02-04 22:22] RebeccaAnne commented on #5237
Closing per above comment.

[2021-02-04 22:22] #5237 closed

[2021-02-04 22:33] paulcam206 commented on #5191
Hey @atishayv -- have you tried this using `file://machine-name/share`?

[2021-02-04 22:36] paulcam206 commented on #5191
Actually, it looks like won't work either.

[2021-02-05 01:14] paulcam206 commented on #2139
@matthidinger - we have a request from Teams for a solution here :)

[2021-02-05 01:19] paulcam206 commented on #2139
here's a sample payload that renders incorrectly:

[code]

[2021-02-05 12:38] WhiteCyClop opened #5361 "Input.Date's first day of the week at Teams doesn't change"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- .Net Core
- Adaptive cards in MS Teams inside Chat bot

# Details

I use an Input.Date in adaptive card. In Teams a week in the calendar starts on Sunday:
![image](https://user-images.githubusercontent.com/47722281/107034243-e0a91280-67cf-11eb-9435-f34e66eeb589.png)
I need it to be displayed from Monday, s

[2021-02-05 15:48] MUKESHNITP commented on #5215
could you please any one update about this ?

[2021-02-05 16:48] dclaux commented on #5215
This would be best reported to the [WebChat repo](https://github.com/microsoft/BotFramework-WebChat) It's not an Adaptive Card issue. Please create an issue there then close this one.

[2021-02-05 19:34] golddove commented on #5361
@siduppal feature request for Teams to change calendar start day based on the card's localization

[2021-02-05 19:42] golddove opened #5362 "Auto-assign external bugs"
### Meta issue

Create bot rule to auto-assign external team (Teams, Outlook, etc) bugs/questions to the appropriate contacts, when the respective label (e.g. MsTeams-Developer-Support) is attached (and perhaps auto-apply Triage-External label)

[2021-02-05 20:42] arman-g commented on #4091
Ok, are you guys ever going to fix this simple bug? I can't believe it is taking too long even to knowledge this bug. Just unbelievable, why do you even have issues section if you are going to ignore bug reports?

[2021-02-05 20:47] arman-g opened #5364 "Suggestion!"
Just a suggestion, remove issues section since most of the bug reports being ignored and stay unresolved.

[2021-02-05 22:07] dclaux commented on #5364
Hi @arman-g, we are sorry that issues are not being resolved as fast as you would like.

A quick search in our repo shows that you opened two identical issues (https://github.com/microsoft/AdaptiveCards/issues/3991 and https://github.com/microsoft/AdaptiveCards/issues/4091) against the .NET HTML SDK.

I will make sure the team is aware the issues have been pending for a long time and that we give

[2021-02-07 12:16] stepro71 opened #5366 "[Platform][Broader Feature Request Category if applicable] Titles"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of wha

[2021-02-08 05:25] Nikitha-MSFT commented on #5361
Could you please Raise a [user voice](https://microsoftteams.uservoice.com/forums/555103-public-preview/category/182881-developer-platform)?

[2021-02-08 09:32] Jageen commented on #3482
I think it's fixed by now.
V
[5320](https://github.com/microsoft/AdaptiveCards/pull/5320)
[4739](https://github.com/microsoft/AdaptiveCards/issues/4739)
[4170](https://github.com/microsoft/AdaptiveCards/issues/4107)

[2021-02-08 17:09] paulcam206 commented on #3991
Hello @arman-g, I'm unable to reproduce this issue using the current .NET HTML renderer:

steps to repro:
* write test card to `some\location\repro.json`
* `cd source\dotnet\Samples\AdaptiveCards.Sample.Html`
* `dotnet run some\location\repro.json -- -i -o tmp.html`
* `tmp.html` contains .NET HTML rendered result

![image](https://user-images.githubusercontent.com/16614499/107254416-25a99080-69ec-

[2021-02-08 17:09] paulcam206 commented on #4091
closing as dupe of #3991

[2021-02-08 17:09] #4091 closed

[2021-02-08 17:18] arman-g commented on #3991
Hi @paulcam2065, yes did fork the AdaptiveCards project and set a unit test for zip code and it passes. The AdaptiveCardRenderer works as expected. This issue I have is shown in Emulator and WebChat. Are you saying it is on their side?

![IMG2](https://user-images.githubusercontent.com/22778273/107256688-a79ab900-69ee-11eb-9ec1-86a5608c0b60.png)

[2021-02-08 17:26] paulcam206 commented on #3991
It does indeed look like this was an integration issue between us and Bot Framework: https://github.com/microsoft/BotFramework-WebChat/issues/3111. However, they've since picked up the newer version of our package and this should theoretically no longer repro as of August. Perhaps @corinagum might have more context?

[2021-02-08 17:27] paulcam206 commented on #5364
We're going to continue tracking in #3991

[2021-02-08 17:27] #5364 closed

[2021-02-08 17:30] paulcam206 commented on #5228
@Manish-MSFT - can you paste a bug link here so we can track? Thanks!

[2021-02-08 17:58] corinagum commented on #3991
Web Chat has bumped Adaptive Cards to 2.x, and is available in our daily builds. Support for 1.3 schema on the DirectLine service is still in progress. Testing out our dailies may fix some previously buggy behaviors like this one, but schema 1.3 cards still won't be passed along by DL. Our next release date is scheduled for March 8.

[2021-02-08 18:04] DeeJayTC commented on #5223
@gb2793 Suddenly you can only send a card but you don't really know if a customer has seen it yet or if it was displayed on any of his devices. The only callback to the c# bot is happening when a user interacts with the card in forms of actions. (ie action.submit) you would need to add an action like "I have read this" to get a confirmation.

There also technically is no expiry date for a card. If

[2021-02-08 18:05] arman-g commented on #3991
@paulcam206 and @corinagum thanks guys. So with WebChat R12 this issue should be resolved, great!

[2021-02-08 18:08] jwoo-msft opened #5369 "[iOS][Binary Size Investigation]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Details
- Investigate & find ways to reduce the binary size of the framework.
- Figure out why the binary size is 2.8 MB without bit code

[2021-02-08 18:17] jwoo-msft commented on #5366
@stepro71,
Hello,
We don't have a plan for it in the near term. You can submit your idea to [here](https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/tabs/5-roadmap). If we can get enough interest, we can expedite it.
Thank you.

[2021-02-08 18:21] paulcam206 commented on #3991
@arman-g - sorry for the delay in having this issue resolved. Please feel free to reactivate this issue (or file a new one) if you encounter problems after WebChat R12 is available.

[2021-02-08 18:21] #3991 closed

[2021-02-08 18:22] jwoo-msft commented on #4679
@RebeccaAnne,
Reopening it since #5358 only fixed it for .NET.

[2021-02-08 18:44] WhiteCyClop commented on #5361
I created an idea on the user voice - [link](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/42649435-change-calendar-start-day-based-on-the-adaptive-ca)

[2021-02-08 18:56] jwoo-msft commented on #5209
@yanweida99
Hi,

I'm really sorry for the late response. I didn't get the e-mail notification because of my filtering rule. What you have shown me indicates that when the constraint is set to active, it's activated then and gets the default priority of 1000 since the priority was set, and the setting priority at the next line caused the exception. But it also appears that it's a weird timing issue

[2021-02-08 18:56] #5209 closed

[2021-02-08 19:37] #3704 closed

[2021-02-08 19:41] RebeccaAnne commented on #4679
@jwoo-msft Indeed, sorry about that, meant to resolve #5351.

[2021-02-08 19:41] #5351 closed

[2021-02-08 19:42] RebeccaAnne commented on #5351
Fixed by #5358

[2021-02-08 19:53] RebeccaAnne commented on #5347
XAML doesn't stretch TextBoxes in StackPanels, even if VerticalAlignment is set to "stretch"

[2021-02-08 19:53] RebeccaAnne commented on #5346
XAML doesn't stretch TextBoxes in StackPanels, even if VerticalAlignment is set to "stretch"

[2021-02-09 01:00] Bngo15 opened #5370 "Dynamic Table not working with $data"
Hello,

Trying to run the code example outlined in this blog post, but I'm running into issues with the $data portion of the payload.

The card is returning null values.

The payload I'm intending to pass to this is coming from an internal API and follows the output as outlined.

More information:

I'm using the Botframework for Visual Studio and my Adaptive Card template is done in the LG file.

[2021-02-09 01:00] Bngo15 commented on #5370
I can provide more info if needed or can get on a call.

[2021-02-09 04:12] jscalo commented on #4875
I will 2nd this. In my case, I want to use AdaptiveCards _within_ a library that is itself distributed as a Swift Package and this appears to be totally impossible to do. It would be trivial if AdaptiveCards was available as a Swift Package.

[2021-02-09 12:01] Trinetra-MSFT commented on #5228
@paulcam206 : Sure, here is the Bug Id : [1443280](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1443280/),
This is still under investigation , We will let you know once it got fixed

[2021-02-09 17:32] paulcam206 commented on #5369
does this go away if we do a source package?

[2021-02-09 18:07] jwoo-msft commented on #3708
Closing it per anbah34 comment.

[2021-02-09 18:07] #3708 closed

[2021-02-09 18:13] jwoo-msft commented on #5370
@Bngo15,
 Is it your first time using the template and AdaptiveCards? Can you post your payload, so I can try? I can at least verify if it works on our SDK.

[2021-02-09 18:32] jwoo-msft commented on #5292
@pedro-ramirez-suarez
Yes, you can. If you go to the [Designer](https://adaptivecards.io/designer/). Once you add an ActionSet, you can create a payload with actions by clicking "Add an Action".
![image](https://user-images.githubusercontent.com/4112696/107410157-c4ec8780-6ac1-11eb-9413-dd0b1b57e687.png)

Or if you'are asking if you can create a card that can display a different set of actions dep

[2021-02-09 18:33] #5292 closed

[2021-02-09 18:43] jwoo-msft commented on #5225
It's tracked for 21.02 which means it will be part of this month's release that will occur at the end of each Month.

[2021-02-09 18:53] jwoo-msft commented on #5212
@samoZacc
I'm not sure. I'm following you. You mentioned that your issue is duplicated ID, and I mentioned a way to generate a unique id. Can you share your template & data?

[2021-02-09 20:02] jwoo-msft opened #5373 "[iOS][Packaging] Distribute SDK As a Source Form"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] iOS

**Is your feature request related to a problem? Please describe.**
Distribute iOS SDK as a source

[2021-02-09 22:27] #5333 closed

[2021-02-09 23:22] #5308 closed

[2021-02-10 01:11] #5260 closed

[2021-02-10 17:25] JeSuisUnCaillou commented on #4121
Also facing the issue, images do not render in markdown format

[2021-02-10 18:46] JeSuisUnCaillou commented on #4121
I just found a workaround, and possibly an explanation of the bug.

This is the url of my image, in the markdown I send in my markdown :

When I inspect my image in the teams web app and find its `src`, I can see it in the url param of a longer url, on skype.com :

I imagine this is an asset hosting service, which hosts the image redirects to the hosted url. And I can see that this image is 401 fo

[2021-02-10 19:58] Morhpeuss commented on #5225
@jwoo-msft  Thank you

[2021-02-10 23:25] jwoo-msft commented on #4914
Task Update:
`Remove Android code that pulls newlines from the rich text blocks`
cc @paulcam206, @RebeccaAnne , @golddove

[2021-02-10 23:30] jwoo-msft opened #5380 "[Shared/Android/iOS/UWP/.NET][Markdown] Whitespace"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] UWP
- [ ] Shared

**Is your feature request related to a problem? Please describe.**
1. Update the shared model markdown parser to handle whitespace characters. TBA for detailed spec.
2. Investigate if all listed platforms will honor parsed HTML by the markdown parser.

[2021-02-10 23:43] jwoo-msft opened #5381 "[Doc][Markdown] Update Documentation To Reflect the Updated Markdown Parser"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] Documentation

reference #5380

Child task of #5380. After completion of #5380, the doc should be updated to reflect the change.

[2021-02-11 00:27] paulcam206 opened #5383 "Add an accessibleTitle property to actions"
We probably still should log something to put it in the schema eventually though.

_Originally posted by @RebeccaAnne in https://github.com/microsoft/AdaptiveCards/issues/5375#issuecomment-777100976_

[2021-02-11 15:36] Bngo15 commented on #5370
Yes it is. I have put it in the designer https://adaptivecards.io/designer/

{
    "testData": [
        {
            "Balance": "15",
            "Units": "bread"
        },
        {
            "Balance": "21",
            "Units": "eggs"
        },

    ]
}

It showed up fine there, but doesn't work in my Virtual Assistant bot. The bot was made using the template.

An alternative approach was

[2021-02-11 15:37] Bngo15 commented on #5370
Submitting my previous comment seems to have messed with the format.

I uploaded it here as a text document.

[testPayload.txt](https://github.com/microsoft/AdaptiveCards/files/5966478/testPayload.txt)

[2021-02-11 15:58] golddove commented on #5087
Diagnosed an issue with using a resource resolver with icon sizing. The fix will be in included in the 21.02 release.

[2021-02-11 18:04] jwoo-msft commented on #5370
@Bngo15,

Can you also share your template?

[2021-02-11 18:58] Bngo15 commented on #5370
[testCard.txt](https://github.com/microsoft/AdaptiveCards/files/5967815/testCard.txt)

[2021-02-11 18:59] Bngo15 commented on #5370
The only difference between the testPayload.txt payload and the api payload is that the api payload isn't surrounded by {testData:[...}

[2021-02-11 19:37] Narizz28 opened #5386 "[Designer] Buttons not full width on Teams"
In the designer, it shows the action buttons full card width, but they are not, nor can they set be (that I've figured out how anyway) full width once rendered in a Teams Channel or in Teams Mobile.

[2021-02-11 19:41] matthidinger commented on #4313
Test

[2021-02-11 20:11] jwoo-msft commented on #5370
@Bngo15,
I tested yours with our main. It works fine.
![image](https://user-images.githubusercontent.com/4112696/107692732-12075f80-6c62-11eb-84cb-f27e0dfee933.png)
It could be this related issue if you're using the botframework. https://github.com/microsoft/AdaptiveCards/issues/5225

[2021-02-11 21:15] RebeccaAnne commented on #740
Thanks for logging, but improvements in this area are not in our current roadmap. Please reactivate if this is still a pressing issue for you.

[2021-02-11 21:15] #740 closed

[2021-02-11 21:18] RebeccaAnne commented on #3703
@jwoo-msft Does the original issue still repro, and what work is outstanding here? Thanks!

[2021-02-11 21:29] RebeccaAnne commented on #4139
@ckruszynsky are you url % encoding the spaces in your URL? If not, you need to do so to make a valid URL. If you're already doing that please reactivate. Thanks!

[2021-02-11 21:29] #4139 closed

[2021-02-11 21:39] RebeccaAnne commented on #4339
@paulcam206 to fix up the third party notices and then assign to matt to follow up.

[2021-02-11 21:48] #4519 closed

[2021-02-11 21:49] Bngo15 commented on #5370
It could be. I think it may be related to some form of deserialization of the json when passing the data using GenerateActivityForLocale. If this is resolved in the update, then I understand and can close this issue.

[2021-02-11 21:56] RebeccaAnne commented on #4568
Doesn't meet the bug bar.

[2021-02-11 21:56] #4568 closed

[2021-02-11 21:58] RebeccaAnne commented on #4569
Doesn't meet the bug bar.

[2021-02-11 21:58] #4569 closed

[2021-02-11 22:03] RebeccaAnne commented on #4612
We need to at least get this in PR for 21.03 to be reviewed by the accessibility team.

[2021-02-11 22:13] jwoo-msft commented on #3703
@RebeccaAnne,
The team has mitigated the issue, and it's their p2 items.

[2021-02-11 22:21] jwoo-msft commented on #5370
@Bngo15,
I will close the issue for now for the tracking purpose. Please do re-activate it if the issue is not resolved after the update.

[2021-02-11 22:21] #5370 closed

[2021-02-12 04:46] Jageen opened #5388 "[iOS][Video player] Add more supported video formates."
## Platform
* iOS

## Background
1. AdaptiveCard is using native video player to play video file.
<img width="552" alt="avplayer" src="https://user-images.githubusercontent.com/5546841/107729650-d25d7800-6d34-11eb-8606-7ce55d03aff8.png">

2. AdaptiveCard only support mp4 as valid video format.
https://github.com/microsoft/AdaptiveCards/blob/248ce558523efc8a79b6bfd44b5be312cd43c347/source/ios/Adapt

[2021-02-12 08:43] karthikbaskar commented on #3924
@matthidinger can you please update this proposal with the latest from the working group discussions:
Introduction of the new 'people' style to support custom UI for static people picker scenarios and the dataset naming recommendation for org search (graph.microsoft.com/users) and current context (graph.microsoft.com/users?scope=currentContext).

FYI: @sowrabh-msft

[2021-02-12 09:02] karthikbaskar opened #5389 "[All Platforms][Input.ChoiceSet] 'Choices' prop should be made 'NOT Required' with the introduction of 'choices.data' for autocomplete"
**What platform is your feature request related to? (Delete other platforms).**
All Platforms

**Is your feature request related to a problem? Please describe.**
Currently, in Android and iOS SDK, parsing of the card json fails completely if the choices prop is empty or not provided in Input.ChoiceSet. In the JS SDK, this is gracefully handled and this only affects the ChoiceSet control and the re

[2021-02-12 17:43] paulcam206 commented on #4313
closing this again 🎉

[2021-02-12 21:00] jwoo-msft commented on #5293
@jscalo
I tested this use case. Unfortunately, I wasn't able to reproduce the issue.
Here is my test card & custom renderer
[code]
Test Code Snippet of Custom Container Renderer

[code]

[2021-02-12 23:39] #5293 closed

[2021-02-12 23:41] jwoo-msft commented on #5273
closing this issue as this is a duplicate issue of https://github.com/microsoft/AdaptiveCards/issues/5273. @jscalo, please feel free to re-activate it, if you still have issues.

[2021-02-13 00:11] jwoo-msft commented on #5273
@jscalo
I tested it on swift, and I can verify that it works. as mentioned in the #5293, will update the documentation with more context & swift example. will close it for tracking purposes, please feel free to open it.
[code]
registration example
[code]
[code]

[2021-02-13 00:11] #5273 closed

[2021-02-15 05:40] WhiteCyClop commented on #5361
Hello! Maybe do you have some additional opportunity to find out the predictions on this problem?

[2021-02-15 06:08] Nikitha-MSFT commented on #5361
Currently we don't have any other way. Thanks for Raising a user voice.

[2021-02-16 04:27] Mallipriya-MSFT commented on #5297
Hi @shereenfathy, are you still facing the issue?

[2021-02-16 05:09] aroraketan opened #5390 "[JavaScript][Input.Number value] [Non-Required empty Input.Number returns "NaN" as value on Submit]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] JavaScript

# Author or host

Host: Microsoft Teams (multi-window).

# Version of SDK

JS v2.6.0

# Details

A non required empty Input.Number returns value `"NaN"` when clicked on Submit.

## Reason
The `valeAsNumber` is `NaN` for empty DOM Elements and when converted to string before submitting, it b

[2021-02-16 13:18] Geradav opened #5391 "Only show when - Property"
Hello,

How can we use the 'Only show when' property in adaptive cards?

---
* URL: https://adaptivecards.io/explorer/TextBlock.html

[2021-02-16 17:19] paulcam206 commented on #5390
@dclaux - can you take a look?

[2021-02-16 17:40] golddove commented on #5390
Possibly fixed by #5307. @aroraketan checking with 2.7 renderer

[2021-02-16 19:05] jwoo-msft commented on #5391
https://docs.microsoft.com/en-us/adaptive-cards/templating/language#conditional-evaluation
https://docs.microsoft.com/en-us/adaptive-cards/templating/language#conditional-layout-with-when

[2021-02-16 19:08] #5391 closed

[2021-02-16 19:31] dclaux opened #5392 "[Input validation] Allow all input values to be included in Action.Submit, even if not associated"
# Platforms
- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Problems
- **P0**: When an **Action.Submit**'s `associatedInputs` property is set to "none", not only are inputs not validated, their values are also not included in the `data` property. While this is the desired behavior in most cases, some scenarios call for all input values being included in `data`

[2021-02-17 03:59] jwoo-msft commented on #5388
@jwoo-msft

[2021-02-17 06:39] Mallipriya-MSFT commented on #5297
@shereenfathy, For now we are closing the issue, please feel free to open again if the issue still persists.

[2021-02-17 19:20] ericrrichards commented on #3225
It's absurd, but this sort of thing is the solution that I've found to get around this kind of issue, in case it helps anyone else:

[code]

[2021-02-18 11:56] aroraketan commented on #5390
Tested with the v2.7.0 renderer. Works fine. Thanks.

[2021-02-18 14:17] olliejm opened #5398 "JavaScript - Adaptive Cards Designer - Shadow DOM Support"
**What platform is your feature request related to? (Delete other platforms).**
- [x] JavaScript

**Is your feature request related to a problem? Please describe.**
I'm trying to attach the designer to a `#designerRootHost` element which resides inside the shadow DOM of a web component.

This itself works with (in my specific case) `designer.attachTo(this.host.shadowRoot.getElementById('designerRo

[2021-02-18 14:39] akaashdev opened #5399 "[iOS][ColumnSet] ChoiceSet inside ColumnSet has improper layout"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you sending cards to?

# Version of SDK

2020.10 (latest master as of Oct 27th)

# Details

[2021-02-18 16:02] #5297 closed

[2021-02-18 16:03] Wajeed-msft commented on #5361
User voice would be right place to track this. Closing this from issues page.

[2021-02-18 16:03] #5361 closed

[2021-02-18 16:51] paulcam206 commented on #5390
thanks for confirming @aroraketan! closing as fixed.

[2021-02-18 16:51] #5390 closed

[2021-02-18 17:37] dclaux opened #5400 "Remove the visualizer"
# Description
The old visualizer is obsolete and its code base isn't maintained anymore. The designer provides a much richer experience. We do not need to continue carrying the baggage of that old code. We should remove references to the visualizer from the site and remove the visualizer code from GitHub.

[2021-02-18 18:13] jwoo-msft commented on #5399
@akaashdev
Thanks for reporting this issue.
Look like linebreak mode needs to be changed to word break.

[2021-02-18 19:31] #5225 closed

[2021-02-18 19:40] jscalo commented on #5293
OK yes, that works. Thanks for the info!

[2021-02-18 19:52] #5244 closed

[2021-02-18 20:06] sudoaccessdenied opened #5402 "Adaptive Toggle input not showing correctly in teams dark mode Android"
### I have used  a simple toggle input but it is not showing correctly in Microsoft teams  dark mode )while opening in task module from compose box.
![WhatsApp Image 2021-02-19 at 1 25 48 AM](https://user-images.githubusercontent.com/30634773/108413802-75d8ec00-7251-11eb-9918-152ad0cf90a6.jpeg)

I have used the following code to create adaptive card.
![image](https://user-images.githubusercontent.

[2021-02-18 21:29] tacri opened #5404 "[Platform][There are no documented limits for Input.Number max value]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] .NET HTML
- [x] .NET WPF
- [x] Android
- [x] iOS
- [x] JavaScript
- [x] UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

Teams app

If you're an author, who are you sendi

[2021-02-19 00:16] paulcam206 opened #5406 "[iOS][Android] Alignment and possible placeholder rendering issues with ChoiceSet"
# Platform

iOS and Android were reported. We should verify against other platforms to see if any other platforms are affected.

# Details

This payload renders misaligned on Android (and possibly without `Input.ChoiceSet` placeholder at some sizes):

[code]

Here's what the customer is seeing on Android:
![cust-and](https://user-images.githubusercontent.com/16614499/108438848-f3c2d600-7204-11eb-9

[2021-02-19 00:20] paulcam206 commented on #5406
@jwoo-msft - are you able to repro this behavior on iOS?

[2021-02-19 00:35] #5263 closed

[2021-02-19 00:39] jwoo-msft commented on #5406
@paulcam206  No, I can't
![image](https://user-images.githubusercontent.com/4112696/108440361-d3484b00-7207-11eb-903b-17be570b45f8.png)

[2021-02-19 01:08] golddove commented on #5406
@paulcam206 to be clear, the issue is that the choiceset seems to be too high (not vertically centered), right?

[2021-02-19 01:12] paulcam206 commented on #5406
Yeah, though we should double-check that we don't stop showing the placeholder if the content is sized smaller or something :)

[2021-02-19 01:49] jwoo-msft commented on #5305
Pushing it out since the mitigation is available.
@jscalo

[2021-02-19 02:01] jwoo-msft commented on #5305
@RebeccaAnne,
I removed myself from the assignee since this is a feature request that affects all platforms.

[2021-02-19 20:07] #5269 closed

[2021-02-19 22:16] paulcam206 commented on #5294
Sounds like we have two issues here:
* The designer (and presumably the entire JS platform) is allowing RGBA `backgroundColor` values -- I don't think this is intentional?
* Our documentation suggests that `backgroundColor` is of type `string`, when it should probably be the color enum

[2021-02-19 22:32] dclaux commented on #5294
RGBA colors have always been supported everywhere in AC where an explicit color can be used. That includes all color definitions in HostConfig as well as the `Image.backgroundColor` property.

The format for `backgroundColor`, again like everywhere else explicit colors are supported, is the same as in CSS for colors without an alpha channel, and AARRGGBB for colors with an alpha channel. The follo

[2021-02-19 22:34] paulcam206 commented on #5294
huh... I totally forgot that we support that for `backgroundColor`. 😬

[2021-02-19 22:38] dclaux commented on #5294
Teams desktop uses the JS SDK so this should not be an issue. @prejedj is the behavior you're reporting in Teams mobile only? If it is, then it's either a bug in Teams or a bug in our iOS and/or Android SDKs.

[2021-02-22 13:14] prejedj commented on #5294
I haven’t checked the issue is on Mobile, I only know it’s on the Desktop client.

Regards,
-Devin

From: David Claux <notifications@github.com>
Sent: Friday, February 19, 2021 4:38 PM
To: microsoft/AdaptiveCards <AdaptiveCards@noreply.github.com>
Cc: Prejean, Devin J <PREJEDJ@cpchem.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AdaptiveCards] Background color doesn't respect

[2021-02-22 16:41] dclaux commented on #5294
If the issue exists on desktop, there would seem to be a problem with Teams, and not the AC SDK. @siduppal can someone on t=your side look into this?

[2021-02-22 21:11] kahopkin opened #5411 "[Designer] Color definitions limitations and suggestion"
I think the text color definitions are not very meaningful, and also I think we should be able to use HEX color codes for the color selections and not be boxed into just a handful of colors that might not work for us.

[2021-02-23 00:43] cleans2002 commented on #5086
Has this solved the problem?
I am still experiencing this problem on Teams Desktop.

Adaptive cards are as follows.
-----------------------------
{
    "type": "AdaptiveCard",
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "version": "1.2",
    "body": [
        {
            "type": "Container",
            "items": [
                {
                    "type": "Column

[2021-02-23 01:03] cleans2002 opened #5412 "[Teams] Has this solved the problem?"
Has this solved the problem?
I am still experiencing this problem on Teams Desktop.

Adaptive cards are as follows.

[code]

Is there a solution?

_Originally posted by @cleans2002 in https://github.com/microsoft/AdaptiveCards/issues/5086#issuecomment-783784098_

[2021-02-23 08:03] Mallipriya-MSFT commented on #5086
Hi @cleans2002, It is a regression as we are able to reproduce the issue at our end. Will re-open the bug and update on the progress soon.

[2021-02-23 08:48] dipja opened #5415 "[Android][Column rendering] [TextBlock inside column inside another column not rendering]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Microsoft Teams

# Version of SDK

SDK version 2.4.0

# Details

Text Block inside column inside another column does not render.
Sample JSON - [Link](https://microsoft-my.sharepoint.com/:u:/p/dipja/ETV4S6bd21pDiS4jNwQ321ABP7OQsWii4JnPpi5TPEt1fA?e=mOZz1G)

**Before**
<img widt

[2021-02-23 08:50] dipja commented on #5415
@shalinijoshi19 / @golddove Could you help triage this regression.

[2021-02-23 15:24] matthidinger commented on #5389
This makes sense to me. I guess the question is, if we agree with the suggestion and update the schema, can the team coding up the features in iOS/Android make this change at the parsing layer? (@karthikbaskar not sure if that is you directly or not)

[2021-02-23 18:40] pr1malc0de opened #5416 "Teams doesn't format adaptive cards like the designer does"
Teams has stopped showing adaptive cards the same as the designer does. In teams the card outline goes wide across the whole of the teams window but the designer shows them looking fine. Also colors are ignored. This was working fine previously and it appears a recent update to teams has changed this although i couldn't
![Screenshot 2021-02-23 183947](https://user-images.githubusercontent.com/6621

[2021-02-24 10:57] Kadae commented on #930
Is there a way to improve the image quality on NodeJS? They're so pixelated...

[2021-02-24 11:04] Kadae opened #5421 "[JavaScript/NodeJS] Improve the rendered image quality for unsupported platforms"
Adaptive Cards so pixelated when renders in Bot Framework in image for Telegram (Telegram doesn't support it) in NodeJs.
Is there a way to improve the image quality on NodeJS?

[2021-02-24 11:17] Kadae commented on #968
Is there a way to improve the image quality on NodeJS? They're so pixelated...

[2021-02-24 14:26] VMey opened #5422 "[Platform][Choices] Conditional visibility based on selected choice without Action.Submit"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] JavaScript

**Is your feature request related to a problem? Please describe.**
There doesn't seem to be a way to hide or show elements based on the choice a user inputs.  If a user wanted to book a one-way flight or a round-trip flight, they would not see a return date for the one-way flight but

[2021-02-24 15:07] Narizz28 opened #5423 "[Designer] Highlight JSON block when clicking an element element"
When clicking on an element in either the Card pane or Card Structure pane, highlight the entire JSON connected to it in the Card Payload Editor.
![image](https://user-images.githubusercontent.com/72027960/109020651-c43a2080-767f-11eb-8419-62a67efc5c30.png)

[2021-02-24 21:08] jscalo opened #5427 "Feature request: Some way to specify container margins"
In our organization where we're heavily adopting AdaptiveCards, we often run into cases where we'd like to have content within a container start drawing at a certain margin (aka inset) from the sides. Currently we achieve this behavior by putting everything inside a ColumnSet where the 1st and 3rd columns are empty and control the margins, and the 2nd column contains the content, but this is reall

[2021-02-24 23:17] jscalo opened #5428 "[iOS] Crash on iOS 13 when TextBlock includes an ampersand ("&")"
# Platform

iOS

# Author or host

Host

# Version of SDK

2.4.6

# Details

Implementing a custom TextBlock renderer, it always crashes in ACRTextBlockRenderer.render() when running on iOS 13.

Steps to reproduce:
* Implement a custom TextBlock renderer (see below)
* Download iOS 13.6 SDK to Xcode if you don't already have it
* Run project in simulator using iOS 13.6

Result:
Crash. Backtrace:

[

[2021-02-25 10:48] zsolt-illes opened #5429 "[Designer] [Separator property is not updated correctly]"
Repro steps:
1. Go to https://adaptivecards.io/designer/
2. Choose the title text box "Publish Adaptive Card Schema"
3. In the Element Properties pane tick the Separator box.
4. Note that the "separator": true tag is added to the JSON output.
5. In the Element Properties pane untick the Separator box.

Expected behavior: The separator tag in the JSON output disappears, or changes to false.

Actual

[2021-02-25 14:17] Jeffders opened #5430 "[.NET] Allow for more fine grained resolution controls in WPF renderer"
**What platform is your feature request related to? (Delete other platforms).**

.NET WPF

**Is your feature request related to a problem? Please describe.**
Sometimes the rending of a card creates a very pixelized card. It would be nice to have more controls over the resolution of the card other than only "width".

**Describe the solution you'd like**
Able to define resolution parameters for the

[2021-02-25 14:32] iMicknl commented on #5430
Related to / duplicate of: https://github.com/microsoft/AdaptiveCards/issues/5421.

[2021-02-25 15:55] golddove opened #5431 "[Android] Action iconUrl sizing incorrect when using ResourceResolver"
# Platform

- [ ] Android

# Author or host

Host - Cisco WebEx

# Version of SDK

latest main

# Details

Split off of #5087

The height of the action button stretches and squeezes itself depending on the size of the icon.
Expectation is to have a constant height of the button with the icon contained inside the button with the appropriate padding.

![icon_url](https://user-images.githubuserconten

[2021-02-25 15:56] golddove commented on #5087
Removed ResourceResolver issue from this description and split off to #5431. @jwoo-msft, if the iOS part of this is complete, feel free to close.

[2021-02-25 16:20] jscalo commented on #5272
This is still happening with the 2.5.0 release.

[2021-02-25 17:48] paulcam206 opened #5433 "[Site] Update UHF consumption"
_Originally posted by @paulcam206 in https://github.com/microsoft/AdaptiveCards/issues/5426#issuecomment-786084603_

The site's use of UHF is a bit cobbled together. We should audit and modernize our usage so that we're in a more supported configuration.

[2021-02-25 17:50] paulcam206 commented on #5428
@jwoo-msft - can you take a look here?

[2021-02-25 17:53] paulcam206 commented on #5421
I can take a look here :)

[2021-02-25 18:49] RebeccaAnne commented on #5233
Per discussion, the ask here is in support of Action.Execute rather than something that is currently needed for other custom actions. Team's scenario would be supported by adding Action.Execute with support for associatedInputs to the relevant renderers. We are in theory okay with adding associated inputs to the base class to support it on custom actions generally, but assuming we add the Action.E

[2021-02-25 19:50] paulcam206 commented on #5430
I'll take a look and see if there's something we can do here 👍

[2021-02-25 19:51] paulcam206 commented on #5429
@dclaux - care to take a look?

[2021-02-25 19:52] paulcam206 commented on #5427
@matthidinger - can you take a look at this request?

[2021-02-25 19:53] paulcam206 commented on #5423
@dclaux - designer feature request :)

[2021-02-25 19:57] jwoo-msft commented on #5428
@jscalo,
I'm having a hard time reproducing the issue. The only difference is the version of the SDK with your repro steps, but no changes have been made to the TextBlock since 2.4.6.
Can you share the payload, and does this work on the default renderer?
c.c @paulcam206

[2021-02-25 20:04] paulcam206 commented on #5422
hey @matthidinger -- interesting feature request 👍

[2021-02-25 20:06] paulcam206 commented on #5416
@siduppal - were there color updates to your hostconfig recently? we might need to ingest them...

[2021-02-25 20:08] dclaux commented on #5423
One word: hard.

[2021-02-25 20:09] paulcam206 commented on #5412
Hello @cleans2002 - Could you describe what problem you're seeing here?

[2021-02-25 20:10] jscalo commented on #5428
It's from a fairly complex card structure. Let me try to reduce it down to the bare minimum that still crashes.

[2021-02-25 20:15] paulcam206 commented on #5411
Hello @kahopkin - appreciate this feedback.

Part of the rationale behind having semantic color names rather than allowing for free form RGB color definitions is that it allows a card to be displayed with colors that adapt to the apps hosting them. Consider if instead of the `good` color definition a card author specified a nice dark green text color. The card might look good in their situation, b

[2021-02-25 20:15] #5411 closed

[2021-02-25 20:15] paulcam206 commented on #5404
We should document our limits here.

[2021-02-25 20:16] paulcam206 commented on #5402
@sudoaccessdenied - what host application are you using here?

[2021-02-25 20:18] paulcam206 commented on #5398
@dclaux - care to take a look here?

[2021-02-25 20:20] jscalo commented on #5428
OK apparently it only crashes when there's an ampersand in the text. This crashes for me:

[code]

But this does not:

[code]

And it still crashes without a custom renderer, so that was a red herring. Changing the title accordingly.

[2021-02-25 20:23] paulcam206 commented on #5388
@matthidinger might want to comment further here, but this is intentional behavior.

The rationale is that we can't guarantee that other video formats will work on all of the platforms that Adaptive Cards supports. The risk would be that someone authors and tests a card on, say, an Apple device, then sends that card out only to find that Windows platforms don't support quicktime.

[2021-02-25 20:23] #5388 closed

[2021-02-25 20:24] paulcam206 commented on #5386
@dclaux - do we need to take hostconfig updates from Teams?

[2021-02-25 20:24] jwoo-msft commented on #5428
@jscalo
Thank you

[2021-02-25 20:25] dclaux commented on #5386
@paulcam206 Teams should make these changes themselves in the designer.

[2021-02-25 20:34] #4097 closed

[2021-02-25 20:40] dclaux commented on #5398
I'll try to fix this. Will replace `document.getElementById` with `querySelector` which works at the element level, that should do the trick.

[2021-02-25 21:37] RebeccaAnne commented on #5303
@jwoo-msft What is the status of this bug?

[2021-02-25 21:38] #5429 closed

[2021-02-25 21:46] jwoo-msft commented on #5428
@jscalo
I still can't repro this issue. What's device type are you using for the simulator?

[2021-02-25 21:47] jscalo commented on #5428
<img width="154" alt="image" src="https://user-images.githubusercontent.com/2917357/109223871-cfc14080-7780-11eb-945a-a366a2ac1556.png">

[2021-02-25 22:17] jwoo-msft commented on #5428
@jscalo, I can't reproduce the issue. I tried 2.3 & 2.4.* on iPhone 11 Pro (13.6).

[2021-02-25 22:18] jwoo-msft commented on #5303
@RebeccaAnne, I re-assigned the issue to me.

[2021-02-25 22:20] jscalo commented on #5428
Hmm and now I'm on 2.5 and it still happens. @jwoo-msft if you contact me at jscalo@gmail.com I can send you the whole project, if you think that might be useful.

[2021-02-25 22:22] jscalo commented on #5428
Also I wonder if it's related to running on an M1 Mac?

[2021-02-25 22:25] jscalo commented on #5428
Confirmed it _does not_ crash when run on a real device, so I'll bet this is some WebKit bug that only occurs when run from a simulator on an M1 Mac.

[2021-02-25 22:28] jscalo commented on #5428
I'd try it on a real device but I can't find one running iOS 13…

[2021-02-25 22:37] jscalo commented on #5428
It looks like it's trying to render as HTML, but we don't use HTML in TextBlocks. I tried using `&amp;` instead but that didn't work. Is there a way to indicate to AC that HTML isn't used in the TextBlock and so not to use the `if (htmlData)` part of  (ACRTextBlockRenderer:78)

[2021-02-25 22:52] jwoo-msft commented on #5428
@jscalo let me check & get back to you.

[2021-02-25 23:25] jwoo-msft commented on #5272
@jscalo,

I believe I understand the problem & I will share you with a fix soon.

[2021-02-26 00:49] jwoo-msft commented on #5428
@jscalo,

we escape `&`, `"`, `<` and `>`, and when we do, we render the text as HTML. I made a change such that the text is rendered as HTML only if MarkDown is used.

[2021-02-26 01:20] Jageen commented on #5388
understood!, and appreciated your detailed explanation.

[2021-02-26 04:46] #5348 closed

[2021-02-26 14:50] karthikbaskar commented on #5389
@matthidinger Overriding the parser of a base element like Input.ChoiceSet is not supported in Android and iOS. So I think an SDK fix will be required. I'm reaching out to Devs from the AC team that works on the mobile SDKs for confirmation on this. Will post an update here on this soon.

[2021-02-26 18:21] #5428 closed

[2021-02-26 21:28] gvitale1 commented on #5086
seconding this issue. Works on preview within a flow but MS Teams does not allow a line break.

[2021-02-27 00:00] paulcam206 opened #5441 "[JS] Update typedoc output"
Need to update our typedoc config to get better output

[2021-02-27 08:41] sudoaccessdenied commented on #5402
@paulcam206  Microsoft teams in dark mode.

[2021-02-28 04:30] Trish92 commented on #5326
![image](https://user-images.githubusercontent.com/15216947/109408032-c3411180-7953-11eb-84fe-4732e6c8a3d5.png)

[2021-02-28 17:48] Mikhail2k15 commented on #5225
When will this fix available on nuget.org?

[2021-03-01 03:21] paulcam206 commented on #5402
sorry -- I totally missed that in your description (I blame lack of coffee) :)

@golddove - can you repro this in the Android visualizer?

also adding Teams folks in case this is a known issue on their side...

[2021-03-01 06:29] karthikbaskar opened #5444 "[Android][iOS] Support for custom 'style' values in controls ('people' style in Input.ChoiceSet)"
**What platform is your feature request related to? (Delete other platforms).**
Android, iOS

**Is your feature request related to a problem? Please describe.**
Currently, in Android and iOS SDK, properties like 'style' have their values restricted to an enum and do not support any custom value. In case of an unrecognized value being passed, it falls back to a default value in the enum.
To improve

[2021-03-01 17:54] #5278 closed

[2021-03-01 17:54] #5309 closed

[2021-03-01 18:16] productboard-ac opened #5445 "RTL support on all platforms"

[2021-03-01 18:16] productboard-ac commented on #5445
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/3886001

[2021-03-01 18:36] jwoo-msft commented on #5225
@Mikhail2k15
It was planned for the last Friday, but it was delayed 1 or 2 days.

[2021-03-01 18:56] #5431 closed

[2021-03-01 20:16] #5303 closed

[2021-03-01 21:38] nyczducky opened #5447 "Input Value Substitution Not Working in Action.Http Body"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Author or host

Author: Sending cards to myself as a test using Microsoft Flow.

# Version of SDK

V1.0

# Details

Input value substitution is not working properly. The below adaptive card renders correctly in Outlook and f

[2021-03-01 21:52] susanshen96 commented on #5274
Hi @figgsoftware - I'm trying to repro this issue so I can debug properly, but have not had success in doing so - I copied the link to an adaptive card with an open URL button, but was able to open the task module successfully. Just a couple questions:

1. I was made aware that this was occurring when a card is copied from a channel and pasted into the meeting. Is this the only case in which occur

[2021-03-01 22:01] figgsoftware commented on #5274
@susanshen96 This happens when the adaptive card is posted or copied into the meeting chat. It fails when you have the meeting window open in the new meeting experience and try to click the button. It works fine if you are not inside the meeting window.

[2021-03-01 22:03] figgsoftware commented on #5274
@susanshen96 When I say "posted"....we actually post the adaptive card via the Microsoft Graph  API.

[2021-03-01 22:05] figgsoftware commented on #5274
![image](https://user-images.githubusercontent.com/17601161/109565366-a4bd5080-7ae2-11eb-8b08-ef3a8013f5e5.png)
@susanshen96

[2021-03-01 23:03] susanshen96 commented on #5274
Thanks @figgsoftware - was able to get a repro - I'll circle back with what I find.

[2021-03-02 04:21] atishayv opened #5450 "[Javascript]Action.ShowCard in Popup mode is not working"
# Platform

- [ ] JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "3.1.0-ci.202010.14001.0"

# Details

On changing the actionMode of showcard from inline to Popup in hostConfig,

[code]

the ideal behaviour on click of action.showcard should be that `onExecuteAction` callback should be called and the card should not be shown so that the client can sh

[2021-03-02 04:21] atishayv commented on #5450
CC : @dclaux

[2021-03-02 09:32] pankajpalOlk commented on #5447
I had a look at the issue.

We do capture input values for an action for following scenarios:

Action button in Show card:
Inputs defined in show card and parent card will be captured.
Action button in main card:
Inputs defined in parent card will only be captured.

Here, the action button is part of main card and we are expecting to capture inputs defined in the different show cards, which is not

[2021-03-02 11:11] RamaMohanaChary commented on #5386
Hi @Narizz28,

Currently, there is no way to set width for buttons. They pick up the width based on the length of text.

Could you please try below example, will get more idea,

`{
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "s

[2021-03-02 14:39] nyczducky commented on #5447
Thanks @pankajpalOlk. I'll see if I can redesign this. Wasn't aware of any scope limitations with the cards.

[2021-03-02 16:16] pr1malc0de commented on #5416
Hey @siduppal I did submit a support ticket via Powerautomate support (as we post adaptive cards from there) and they informed us the wide layout of the cards and the color not selecting based on the option for "Attention" or "Warning" is... "By Design".  This doesn't match the documentation though and seems an odd choice, can you confirm if this is indeed "by design" or just a bug that will be re

[2021-03-02 17:02] nyczducky commented on #5447
Confirming that was the issue! Thanks!

Suggesting that the Input Value Substitution documentation be updated to be a little clearer.

[2021-03-02 17:02] #5447 closed

[2021-03-02 17:15] paulcam206 commented on #5450
@dclaux - care to take a look?

[2021-03-02 17:16] #4339 closed

[2021-03-02 17:47] paulcam206 commented on #5444
@karthikbaskar - what would be the timeline for this?

[2021-03-02 18:27] Greg-Hitchon commented on #5145
Would love to get an update on this as well!

[2021-03-02 18:47] paulcam206 commented on #5145
@dclaux / @matthidinger - care to jump in here?

[2021-03-02 21:43] RebeccaAnne opened #5452 "[UWP] Number less than the min returned in Input.Number when user input is more than double precision"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] UWP

# Details

Using the card below, which has a min of 2.5, if the user inputs 2.4999999999999999, the validation passes and "2.4999999999999999" is returned as the value. Javascript and .NET also pass validation in this case, but both of those platforms return "2.5" in the submit (.NET updates the v

[2021-03-02 21:58] golddove commented on #5452
You could argue that it's preferable to leave the user input as-is, and let the bot consume it however it wishes (think: maybe a bot would like to support greater precision in their inputs. if we force-round the input, the bot is stuck with the precision we choose)

[2021-03-02 22:01] tomlm commented on #4313
this is a demo for bill

[2021-03-02 22:10] RebeccaAnne opened #5453 "[Inconsistency] Inconsistency in rendering empty container with background image"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Details

When rendering the below card, JavaScript renders the second container with a single row of the `repeatHorizontally` background image. .NET and UWP do not render this container at all as it has no content and no `mi

[2021-03-02 22:19] RebeccaAnne commented on #5453
Dup of #2785

[2021-03-02 22:19] #5453 closed

[2021-03-02 22:21] golddove commented on #2785
Should check other platforms, too

[2021-03-02 23:16] dclaux opened #5455 "[JS] Column separators not rendering properly"
# Platform

- JavaScript (2.7 and likely earlier)

# Details

Column separators are not rendering properly.

Test card:
[code]

As rendered:
![image](https://user-images.githubusercontent.com/1334689/109727955-273d2300-7b6a-11eb-8d08-a9f84f2ec7d2.png)

[2021-03-02 23:53] #5455 closed

[2021-03-03 00:09] susanshen96 commented on #5274
Hi @figgsoftware - updates on my investigation: this seems to be an issue with GraphAPI - when a card is posted to a channel via the following method (https://docs.microsoft.com/en-us/graph/api/channel-post-message?view=graph-rest-1.0&tabs=http#request-2) it doesn't have any app context, which is necessary in the new meeting experience for the client to be able to open the URL. I will raise this i

[2021-03-03 02:21] golddove opened #5462 "[.NET] Agenda card column with backgroundImage not showing"
# Platform

- [ ] .NET WPF

# Version of SDK

21.02 (rc)

# Details

Agenda card has columns with vertical line (using a background image). The image doesn't render on WPF (compare to JS below).

Not a 21.02 regression (i.e. same behavior observable in the `release/21.01` branch)

WPF:
![image](https://user-images.githubusercontent.com/4442788/109741975-2f15bb00-7b9c-11eb-9659-bd852c91c207.png)

J

[2021-03-03 02:26] golddove opened #5463 "[Android] Input.Time and Input.Date require double tap for system picker"
# Platform

- [ ] Android

# Version of SDK

21.02 (rc)

# Details

Input.Date and Input.Time (e.g. in https://adaptivecards.io/samples/Inputs.html ) require two taps to bring up the system's modal picker. The first tap focuses on the text box, while the second tap brings up the picker. This only makes sense for keyboard/Talkback users, but not for touch.

Not a regression in 21.02 (i.e. same beha

[2021-03-03 06:03] karthikbaskar commented on #5389
@matthidinger Discussed this issue with Joseph. Changes are required in the parsing layer in the shared models (cpp) to support this ask. Once that is done and an SDK update is available, we should be able to consume this in Teams.

[2021-03-03 06:05] karthikbaskar commented on #3924
@matthidinger can you please update this proposal with the latest from the working group discussions?

[2021-03-03 06:27] abdulkareemnalband commented on #5274
@susanshen96
Colleague of @figgsoftware here
we are following [this](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/what-are-task-modules#task-module-deep-link-syntax) document to form URL, which contains application id of give in teams application manifest.
And our payload for attachment is in form
[code]

and our payload for graph contains
[code]

where should we

[2021-03-03 12:58] poonam0025 opened #5464 "In android visibility false configuration textbox , adaptive card not loading."
# Platform
Android
[code.txt](https://github.com/microsoft/AdaptiveCards/files/6076088/code.txt)

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you s

[2021-03-03 13:36] VMey commented on #5422
@paulcam206 and @matthidinger this could be genericized a bit more as simply allowing active state of an element to be evaluated.  I say this because it isn't just about show/hide.

Imagine you have a choice field for **Colors**, with values Blue, Green, and Red.

Now you have a choice field for **Shades**, where the options are would be dependent on the **Color** chosen.
If Blue is chosen, the op

[2021-03-03 14:38] paulcam206 commented on #5462
this is likely not a regression, but we should consider taking a fix

[2021-03-03 14:42] paulcam206 commented on #5464
@poonam0025 - would it be possible for us to see the card payload itself, after you've generated it?

We could also use some clarification here -- this is a bot written in C#, but you're seeing problems in Android Teams?

[2021-03-03 15:09] paulcam206 opened #5465 "[Shared] Parser support for tooltip property"

[2021-03-03 15:09] paulcam206 opened #5466 "[.NET] Parser support for tooltip property"

[2021-03-03 15:09] paulcam206 opened #5467 "[JS] Schema support for tooltip property"

[2021-03-03 15:10] paulcam206 opened #5468 "[UWP] Object model exposure for tooltip property"

[2021-03-03 15:10] paulcam206 opened #5469 "[Android] Renderer support for tooltip property"

[2021-03-03 15:10] paulcam206 opened #5470 "[UWP] Renderer support for tooltip property"

[2021-03-03 15:10] paulcam206 opened #5471 "[WPF] Renderer support for tooltip property"

[2021-03-03 15:10] paulcam206 opened #5472 "[JS] Render support for tooltip property"

[2021-03-03 15:10] paulcam206 opened #5473 "[iOS] Renderer support for tooltip property"

[2021-03-03 15:21] paulcam206 opened #5474 "[Spec] TextBlock headings"

[2021-03-03 15:21] paulcam206 opened #5475 "[Shared] Parser support for TextBlock headings"

[2021-03-03 15:22] paulcam206 opened #5476 "[UWP] Object model support for TextBlock headings"

[2021-03-03 15:22] paulcam206 opened #5477 "[UWP] Renderer support for TextBlock headings"

[2021-03-03 15:22] paulcam206 opened #5478 "[.NET] Parser support for TextBlock headings"

[2021-03-03 15:22] paulcam206 opened #5479 "[WPF] Renderer support for TextBlock headings"
Narrator supports navigation by headings. See [support article](https://support.microsoft.com/en-us/windows/chapter-5-navigation-68941680-3245-6ef5-5012-0674b8b6fc59) that describes how to cycle through navigation modes.

Text with `style: heading` receive the appropriate accessibility flags on other platforms to support this mode of navigation, including UWP XAML. However, the .NET WPF renderer d

[2021-03-03 15:22] paulcam206 opened #5480 "[Android] Renderer support for TextBlock headings"

[2021-03-03 15:22] paulcam206 opened #5481 "[iOS] Renderer support for TextBlock headings"

[2021-03-03 15:23] paulcam206 opened #5482 "[JS] Schema support for TextBlock headings"

[2021-03-03 15:23] paulcam206 opened #5483 "[JS] Renderer support for TextBlock headings"

[2021-03-03 15:25] paulcam206 opened #5484 "[Spec] Document RTL behavior in JS renderer"

[2021-03-03 15:25] paulcam206 opened #5485 "[Shared] Parser support for RTL property"

[2021-03-03 15:25] paulcam206 opened #5486 "[.NET] Parser support for RTL property"

[2021-03-03 15:25] paulcam206 opened #5487 "[WPF] Renderer support for RTL property"

[2021-03-03 15:26] paulcam206 opened #5488 "[UWP] Object model support for RTL property"

[2021-03-03 15:26] paulcam206 opened #5489 "[UWP] Renderer support for RTL property"

[2021-03-03 15:26] paulcam206 opened #5490 "[Android] Renderer support for RTL property"

[2021-03-03 15:26] paulcam206 opened #5491 "[iOS] Renderer support for RTL property"

[2021-03-03 15:30] paulcam206 opened #5492 "[Shared] Parser support for ActionSet overflow"

[2021-03-03 15:30] paulcam206 opened #5493 "[.NET] Parser support for ActionSet overflow"

[2021-03-03 15:31] paulcam206 opened #5494 "[UWP] Object model support for ActionSet overflow"

[2021-03-03 15:31] paulcam206 opened #5495 "[UWP] Renderer support for ActionSet overflow"

[2021-03-03 15:31] paulcam206 opened #5496 "[WPF] Renderer support for ActionSet overflow"

[2021-03-03 15:31] paulcam206 opened #5497 "[iOS] Renderer support for ActionSet overflow"

[2021-03-03 15:31] paulcam206 opened #5498 "[Android] Renderer support for ActionSet overflow"

[2021-03-03 15:31] paulcam206 opened #5499 "[JS] Support for ActionSet overflow"

[2021-03-03 15:33] paulcam206 commented on #5499
actually not needed since we already have #5449

[2021-03-03 15:33] #5499 closed

[2021-03-03 15:38] paulcam206 commented on #421
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:38] #421 closed

[2021-03-03 15:38] paulcam206 commented on #1077
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:38] #1077 closed

[2021-03-03 15:39] paulcam206 commented on #1723
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:39] #1723 closed

[2021-03-03 15:39] paulcam206 commented on #1724
Tracked in other efforts.

[2021-03-03 15:39] #1724 closed

[2021-03-03 15:40] paulcam206 commented on #1727
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:40] #1727 closed

[2021-03-03 15:40] paulcam206 commented on #1300
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:40] #1300 closed

[2021-03-03 15:41] paulcam206 commented on #1605
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:41] #1605 closed

[2021-03-03 15:41] paulcam206 commented on #1648
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:41] #1648 closed

[2021-03-03 15:42] paulcam206 commented on #1690
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:42] #1690 closed

[2021-03-03 15:44] paulcam206 commented on #1788
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:44] #1788 closed

[2021-03-03 15:44] paulcam206 commented on #2925
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:44] #2925 closed

[2021-03-03 15:44] paulcam206 commented on #2812
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:44] #2812 closed

[2021-03-03 15:45] paulcam206 commented on #2881
Not currently under consideration, but will reactivate should we decide to pursue.

[2021-03-03 15:45] #2881 closed

[2021-03-03 17:30] RebeccaAnne commented on #5452
I don't necessarily disagree with that, but in that case we'd ideally want to enforce the min/max without rounding. So our choices are:

1. Do the number comparisons via conversion to double, but send the user data as is, violating the `min` (current UWP behavior)
2. Do the number comparisons via conversion to double, and return the rounded value, reducing precision for the bot (current .NET/JavaS

[2021-03-03 17:54] paulcam206 commented on #1737
as noted above, this should be addressed by Universal Actions / Action.Execute

[2021-03-03 17:54] #1737 closed

[2021-03-03 18:05] susanshen96 commented on #5274
Hi @abdulkareemnalband - The issue is not with the task module URL, but with the Graph API payload which does not currently allow for app context to be sent. I am speaking to the Graph team now to see if there can be support for this, and will follow up with you when I find out.

[2021-03-03 18:19] poonam0025 commented on #5464
[json.txt](https://github.com/microsoft/AdaptiveCards/files/6078208/json.txt)

Reported issue in Note 5 pro, Note 7 pro,   Teamsversion : 1416/1.0.0.2021022202,calling version : 2021.02.01.29

[2021-03-03 18:40] golddove commented on #4967
@RebeccaAnne @jwoo-msft either `Status-Fixed` label should be removed, or the .NET part should be split into a new issue

[2021-03-03 18:44] paulcam206 commented on #5464
Thanks @poonam0025 - I can repro the card not rendering in Android. @golddove, can you take a look? it literally renders blank:

![image](https://user-images.githubusercontent.com/16614499/109855646-68d2da00-7c0d-11eb-9124-e73726878b99.png)

[2021-03-03 18:47] paulcam206 commented on #5464
I should probably note that the card renders and behaves correctly in the designer:

![image](https://user-images.githubusercontent.com/16614499/109856009-d5e66f80-7c0d-11eb-8ba4-75656d6fcd03.png)

[2021-03-03 18:48] paulcam206 opened #5500 "[Shared] Support parsing of Action.Execute"

[2021-03-03 20:33] jscalo opened #5501 "[iOS][Rendering] Layout issues when padding is 0"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Version of SDK

2.5.0

# Details

Since our UI designs often call for container elements to bleed all the way to the edge of the view, we'd like to be able to set the host config's `padding` to 0. However when we do this we encounter strange layout issues.

For example with this host config:

[c

[2021-03-03 22:24] paulcam206 opened #5502 "[UWP] Update renderer supported version"

[2021-03-03 22:47] paulcam206 opened #5503 "[.NET] Support parsing of Action.Execute"

[2021-03-03 22:47] paulcam206 opened #5504 "[UWP] Render Action.Execute"

[2021-03-03 22:47] paulcam206 opened #5505 "[UWP] Object model for Action.Execute"

[2021-03-03 22:47] paulcam206 opened #5506 "[Android] Render Action.Execute"

[2021-03-03 22:48] paulcam206 opened #5507 "[iOS] Render Action.Execute"

[2021-03-03 22:48] paulcam206 opened #5508 "[WPF] Render Action.Execute"

[2021-03-03 22:54] paulcam206 opened #5509 "[Schema] Update schema with Action.Execute properties"

[2021-03-03 23:26] paulcam206 commented on #5501
@jwoo-msft - care to take a look?

[2021-03-04 00:10] paulcam206 opened #5510 "[Schema] TextBlock Headings"

[2021-03-04 01:14] compulim opened #5511 "[Designer] Web Chat now supports Adaptive Cards schema 1.3"
**What platform is your feature request related to? (Delete other platforms).**

- [x] JavaScript

**Is your feature request related to a problem? Please describe.**

In Adaptive Cards Designer, when using Web Chat, it should say Web Chat only support up to 1.3.

Starting from Web Chat 4.12.0, it supports schema 1.3, [link to `CHANGELOG.md`](https://github.com/microsoft/BotFramework-WebChat/blob/m

[2021-03-04 01:14] paulcam206 opened #5512 "[Schema] Input.ChoiceSet's 'choices' property should be made optional"

[2021-03-04 01:14] paulcam206 opened #5513 "[Shared] Input.ChoiceSet's 'choices' property should be made optional"

[2021-03-04 09:57] jayarau commented on #3870
Hi @almedina-ms , We also facing same issue. Data is getting wiped out once submit action taken on adaptive card. We are using below adaptive card related packages:
    "adaptivecards": "^1.2.6",
    "adaptivecards-fabric": "^1.1.1",
    "adaptivecards-templating": "^1.1.0",
We have used react adaptive cards.
Reference link: https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-adapt

[2021-03-04 10:25] poonam0025 commented on #5464
yes ,in desktop teams  app  also  showing properly causing issue in android.

[2021-03-04 11:49] jayarau opened #5515 "Data is getting wiped out once submit action taken on adaptive card"
What version are you using?
"adaptivecards": "^1.2.6",

We are using adaptivecards package with bot framework in spfx solution.
Reference link: https://github.com/pnp/sp-dev-fx-webparts/tree/master/samples/react-adaptivecards
# Details
Data is getting wiped out once submit action taken on adaptive card. We are using below adaptive card package:
"adaptivecards": "^1.2.6",

Issue
a. When a user prov

[2021-03-04 13:03] stroganovmaxv commented on #5086
The similar bug is present in Desktop and Web MS Teams for `TextBlock`:
[code]
It looks like `one two three`

@Mallipriya-MSFT, could possibly estimate when this bug will be fixed?

[2021-03-04 16:40] paulcam206 commented on #3870
@vivekvijayakrishnan / @IbrahimSulai - care to take a look here?

[2021-03-04 18:54] jwoo-msft commented on #5501
@jscalo
Thanks for report the issue. The issue is fixed. For more detail, check https://github.com/microsoft/AdaptiveCards/pull/5516.
cc. @paulcam206

[2021-03-04 19:26] jwoo-msft opened #5517 "[iOS][Inconsistency] [Action icon and the showcard state icon placement issue]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Details
When botth Action icon & showcard state icon are present, the action icon is placed above the text.
![image](https://user-images.githubusercontent.com/4112696/110018702-6b503500-7cdc-11eb-880e-d11ac8bc9ba0.png)

[2021-03-04 19:28] jwoo-msft commented on #5087
Closing this issue since the issues mentioned are fixed. Opened a new issue that tracks icon placement issue. https://github.com/microsoft/AdaptiveCards/issues/5517

[2021-03-04 19:28] #5087 closed

[2021-03-04 21:41] RebeccaAnne commented on #5515
@jayarau It sounds like you're submitting the card to the bot, and then receiving a new one, is that correct? If so, you would need to manually set the values on the inputs on the `value` property in the returned card.

[2021-03-04 21:56] #5501 closed

[2021-03-04 23:20] jscalo commented on #5501
Thank you!

[2021-03-05 12:20] jayarau commented on #5515
Hi @RebeccaAnne ,
Yes we are submitting input data provided to card to bot.

We have similar issue as mentioned in below bug
[https://github.com/microsoft/AdaptiveCards/issues/3870](url)

[2021-03-05 12:52] bradrivers-modality opened #5518 "[.Net] [Unicode literals are escaped in if statements]"
# Platform

- [ ] .NET

# Host

The host is a bot framework solution sending messages to Teams and emails to Outlook using the appropriate bot framework channels.

# Version of SDK

AdaptiveCards.Templating v1.1.0

# Details

I have the following Textblock in a template (it happens with AdaptiveCard version 1.0 - 1.2, haven't tried 1.3). Note the if statement, where the return values contain unico

[2021-03-05 14:38] bradrivers-modality opened #5519 "[.Net] [v1.2 AdaptiveCardTemplating.Expand does not populate card payload]"
# Platform

- [ ] .NET

# Author or host

The host is a bot framework solution sending messages to Teams and emails to Outlook using the appropriate bot framework channels.

# Version of SDK

AdaptiveCards.Templating v1.2.0

# Details

Since upgrading from version 1.1.0 to 1.2.0 the AdaptiveCards.Templating.AdaptiveCardTemplate.Expand method no longer populates the card payload with values from th

[2021-03-05 21:17] jwoo-msft commented on #5519
@bradrivers-modality Thanks for reporting this issue. It's now fixed pending review, and a new NuGet will get soon published, Thanks

[2021-03-05 22:34] alex-zwingli opened #5521 "RichTextBlock Schema Explorer - Include Color Options"
While the documentation clearly states and shows how colors are supported, it would be helpful if it listed which colors were supported.
---
* URL: https://adaptivecards.io/explorer/RichTextBlock.html

[2021-03-05 22:47] #5519 closed

[2021-03-06 12:26] bradrivers-modality commented on #5519
@jwoo-msft Great, thanks for fixing so quickly

[2021-03-08 09:19] IbrahimSulai commented on #3870
Hi @almedina-ms,

Please use the package - [adaptivecards-reactnative](https://www.npmjs.com/package/adaptivecards-reactnative) instaead of adaptivecards.

Please let us know if any issues in the same.

@paulcam206

[2021-03-08 13:49] RamaMohanaChary commented on #5402
Hi @sudoaccessdenied ,

We are unable to reproduce the issue. Could you please have a look on below image and code snippet.
![image](https://user-images.githubusercontent.com/71380905/110329557-c5d1f400-8042-11eb-9c7a-5e588fd56c1f.png)
![image](https://user-images.githubusercontent.com/71380905/110329702-f74abf80-8042-11eb-891a-01ec0cd07f3a.png)

Seems your issue is related to css, could you pleas

[2021-03-08 15:01] sudoaccessdenied commented on #5402
@

@RamaMohanaChary I am not using any html/css page .I am using Adaptive card in task module and it is unrelated to css . Also this  issue occurs in task module not in the chat.  As you can see I have attached the screenshot of task module above not the chat. Since you are using teams task module sample to repro this so you are very close to repro this issue. Use the following Repro steps ;-

1.

[2021-03-08 18:11] #4970 closed

[2021-03-08 18:12] productboard-ac opened #5523 "Universal Action Model Schema Released and Documented"
- [ ] Parsing and rendering (#3076)
- [x] Schema update (#5317)
- [X] Microsoft docs updates

[2021-03-08 18:12] productboard-ac commented on #5523
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5302870

[2021-03-08 18:19] productboard-ac opened #5524 "Automatic tooltip for selectAction title (Mobile)"
For `selectAction` we currently drop the `title` and `iconUrl` properties. This work would make the `title` property serve as an automatic tooltip on platforms that support it.

![screenshot](https://user-images.githubusercontent.com/1334689/91479250-052eb500-e856-11ea-9ab1-79338faaa7af.png)

[code]

Implementation issues for mobile platforms:

- [ ] Android
- [ ] iOS

[2021-03-08 18:19] productboard-ac commented on #5524
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/7242713

[2021-03-08 19:34] paulcam206 commented on #5518
@jwoo-msft - care to take a look?

[2021-03-08 19:36] paulcam206 commented on #5521
I agree it's not clear how colors are supported -- in the interim, you can find the docs here: https://adaptivecards.io/explorer/TextRun.html

(the `inlines` property contains `TextRun`s)

[2021-03-08 20:27] #5511 closed

[2021-03-09 01:23] cleans2002 commented on #5086
There is a workaround for this issue.
In MS Teams, the newline is 3 spacebars + \n.
Please give it a try.
Example : one   \ntwo   \nthree

[2021-03-09 03:57] jwoo-msft commented on #5518
@paulcam206
We deserialize the data and after expanding the template with the data, we serialize it back. The issue here is that what we deserialize is just the data portion, but when we serialize we serialize the data + template string in the text of TextBlock which is already in serialized form. There are few options, and I'm evaluating them.

[2021-03-09 04:22] jwoo-msft commented on #5123
@adumrewal
I'm not sure the example given above is valid since the animation block doesn't seem to have one of the valid [animatable properties](https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/CoreAnimation_guide/AnimatableProperties/AnimatableProperties.html).

So I updated the sample app to use UITableView and used `reloadRowAtIndexPaths: WithRowAnimation`. While I was

[2021-03-09 04:35] productboard-ac opened #5525 "Input.ChoiceSet people style"

[2021-03-09 04:36] matthidinger commented on #5444
Also tracked by #5525 which was just pushed from Productboard

[2021-03-09 06:20] Mallipriya-MSFT commented on #5086
The issue is resolved and we got it working at our end. Could you please test the issue of break line of text in multiline input once try from your end as well.

[2021-03-09 06:51] cleans2002 commented on #5086
Unfortunately it still doesn't work at all.
My source is below.
[code]
This source is line breaks normally using Shift+Enter in the'Card editor' of'App Studio'.
However, after clicking the'Send me this card' button, it does not work properly in the Chatting tab.
![image](https://user-images.githubusercontent.com/41402699/110430028-19018080-80ef-11eb-9bd2-04e0e90b3f67.png)
![image](https://user-ima

[2021-03-09 09:20] Koniksan opened #5526 "[NET HTML] The search drop down menu with Cards behind the embed app content in Teams app\web"
# Platform
- [X] .NET HTML

# Details
The search drop down menu with Cards behind the embed app content in Teams app\web

**Expected behavior**
A clear and concise description of what you expected to happen.
Drop-down is visible with correct z-index property
![image](https://user-images.githubusercontent.com/15952613/109493668-e11a8d80-7a9d-11eb-9981-d190a499f695.png)

**Screenshots**
Drop-down is

[2021-03-09 12:32] KamilPacanek commented on #3649
Are we having any update on that? Is that possible to implement? Maybe I can help with anything that needs to be done to make it possible to use some icons OotB? Font Awesome or Fabric UI Icons would be great.

[2021-03-09 19:27] jwoo-msft commented on #3203
implemented

[2021-03-09 19:27] #3203 closed

[2021-03-09 19:32] jwoo-msft commented on #5123
@adumrewal
I'm closing this issue as mentioned above & feel free to open it.

[2021-03-09 19:32] #5123 closed

[2021-03-09 21:03] adumrewal commented on #5123
@jwoo-msft what happens if the withRowAnimation is not `None`...like `Automatic` maybe? Does it render correctly after fixing the sync issue?
Also, fyi @VikrantSingh01, this is the hidden element issue. Can you please tag Linda so that she can then investigate it on Teams.

[2021-03-10 01:22] #5271 closed

[2021-03-10 01:32] jwoo-msft commented on #5123
Hi @adumrewal,

I haven't tried all of the enumeration's values but the ones I tried such as UITableViewRowAnimationTop,
    UITableViewRowAnimationBottom and etc,  all worked as expected.
c.c. @lindach167

[2021-03-10 11:03] Koniksan commented on #5526
@paulcam206  Should I ask @siduppal  in other topic or just wait for response here ?

[2021-03-10 12:37] RamaMohanaChary commented on #5386
Hi @Narizz28,

Could you please let us know the above example and documents helps you.

[2021-03-10 14:50] scottlovegrove opened #5530 "[NodeJS/All] Add "Link" to ActionStyle and TextColor to Action"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
Basically I want a quick and easy way to create a button that is just text (like a hyperlink).

**Describe the solution you'd like**
I mostly deal with nodejs, but this

[2021-03-10 16:36] paulcam206 commented on #5526
He should chime in -- if not I'll ping him offline :)

[2021-03-10 16:37] paulcam206 commented on #5530
@matthidinger - care to chime in? :)

[2021-03-10 19:15] #5272 closed

[2021-03-11 00:51] susanshen96 commented on #5274
Hi @figgsoftware / @abdulkareemnalband - a quick update - I am working on a fix for this that will not involve changing the Graph API schema. Will update you on when the fix is checked in.

[2021-03-11 01:19] jwoo-msft commented on #5399
@akaashdev
As we have discussed, this is due to the narrow width.  I recommend adjusting the leading & trailing paddings and font size in the way of custom rendering for ACRInputChoiceSetRenderer.
Thanks.

[2021-03-11 01:19] #5399 closed

[2021-03-11 14:23] stroganovmaxv commented on #5086
According to the type "TextBlock" the issue is still present.
Source code:
{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Container",
      "items": [
        {
          "type": "TextBlock",
          "text": "one\ntwo\nthree",
          "wrap": true
        }
      ]
    }
  ]
}
Result sent card:

[2021-03-11 16:13] figgsoftware commented on #5274
That is great news @susanshen96 ! Just had 3 different customers asking about the status today alone :)
Keep us posted.

[2021-03-11 16:45] dclaux commented on #5086
@stroganovmaxv this issue is about Input.Text. If there is a problem with TextBlock, it is best to open another issue.

That said, the behavior you are seeing is by design. TextBlock is processed with Markdown, and Markdown requires two consecutive \n characters.

[code]
![image](https://user-images.githubusercontent.com/1334689/110822702-2e3cf300-8246-11eb-90fb-993a22ebc266.png)

[2021-03-11 16:55] #5509 closed

[2021-03-11 18:07] HiltonGiesenow opened #5537 "[All][Validation] It would be useful if a field could be optionally Required, based on a specific Action button"
**What platform is your feature request related to? (Delete other platforms).**

All

**Is your feature request related to a problem? Please describe.**
Many Approval scenarios have Approve and Reject buttons, an a text box for comments. We often get requested by clients to make the Comments box 'optional' for an Approve, but 'required' for Reject (i.e. you can *choose* to add a comment for Approv

[2021-03-11 20:35] Greg-Hitchon commented on #5145
From the community call today the guidance (from my understanding) is that the 1.4 version will be rolled out to Outlook sometime in the next month.

[2021-03-11 21:10] RebeccaAnne commented on #5537
This functionality is tracked by #5392. The P2 proposal would cover this scenario.

[2021-03-11 21:10] #5537 closed

[2021-03-11 21:26] RebeccaAnne commented on #5530
We will consider this for our upcoming 1.5 release but won't know for sure for a few weeks.

[2021-03-11 21:41] RebeccaAnne commented on #5524
See also #4668 for explicit action tooltips on all platforms

[2021-03-11 21:43] RebeccaAnne commented on #5523
Closing this, with #3076 tracking the remaining work (javascript implementation)

[2021-03-11 21:43] #5523 closed

[2021-03-11 21:53] #5444 closed

[2021-03-11 21:57] RebeccaAnne commented on #5422
This is an interesting idea, but not on our immediate roadmap. Moving to backlog for future consideration.

[2021-03-12 00:11] stroganovmaxv opened #5538 "[MS Teams][Adaptive Cards] [TextBlock type doesn't support line breaks \n]"
Source code:
[code]

Expected result:
![07](https://user-images.githubusercontent.com/75748513/110872325-3fcedb00-82d8-11eb-928e-b0703d52630a.jpg)

Actual result:
![06](https://user-images.githubusercontent.com/75748513/110871860-d949bd00-82d7-11eb-9cf8-0a6766a10750.jpg)

[2021-03-12 00:13] stroganovmaxv commented on #5086
new issue for TextBlock type was created https://github.com/microsoft/AdaptiveCards/issues/5538

[2021-03-12 00:42] dclaux commented on #5538
@stroganovmaxv as explained in https://github.com/microsoft/AdaptiveCards/issues/5086, this is by design. TextBlock is processed with Markdown, and Markdown requires two consecutive \n characters.

[code]
![image](https://user-images.githubusercontent.com/1334689/110822702-2e3cf300-8246-11eb-90fb-993a22ebc266.png)

[2021-03-12 00:44] dclaux commented on #5538
I am closing this as "by design". If you would like to make a feature request, please reopen.

[2021-03-12 02:47] stroganovmaxv commented on #5538
double \n works, but in this case we receive the extra empty lines between lines with text and such result doesn't resolve the issue:

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Container",
      "items": [
        {
          "type": "TextBlock",
          "text": "one\n\ntwo\n\nthree",

[2021-03-12 07:05] HiltonGiesenow commented on #5392
@RebeccaAnne this looks great, thanks - I didn't scroll down all the way to P2 when I looked at this yesterday. Excited to see this hopefully come to fruition.

[2021-03-12 07:45] FelixZhang001 opened #5541 "[IOS/Android] Is there plan to support "Adaptive Card Templating SDKs" for IOS/Android"
I read the wiki for Adaptive Card Templating SDKs and find that it only show SDK for javascript and .Net.
Just want to know if we have a plan to support the feature for IOS/Android?
https://docs.microsoft.com/en-us/adaptive-cards/templating/sdk

---
* URL: https://adaptivecards.io/explorer/

[2021-03-12 08:07] dclaux commented on #5538
That too is by design. In Markdown, you cannot simply insert a line break, only create new paragraphs.

[2021-03-12 15:42] matthidinger commented on #3924
The spec should be updated now. I filed the People-picker request separated at #5525. Per our discussion yesterday though, the recommendation is going to be a custom Teams extension for now, and we can re-evaluate native People-picker SDK support in a future release

[2021-03-12 15:43] matthidinger commented on #5525
Per discussion with MS Teams, we are going to postpone this request until a future release. For their upcoming release they will use a custom `-msteams-style` property to trigger this behavior.

[2021-03-12 17:00] dclaux commented on #5538
To be accurate, inserting just a new line in Markdown can be done by using `<br>` but it is not officially supported by Adaptive Cards (AC only supports a subset of Markdown).

[2021-03-12 17:38] paulcam206 commented on #5541
hello @FelixZhang001 - this work is currently being tracked here: https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/c/61-templating-on-mobile-sdks

(you can use https://aka.ms/acroadmap/ to get to this page)

[2021-03-12 17:38] #5541 closed

[2021-03-12 17:39] #5538 closed

[2021-03-12 18:11] #5518 closed

[2021-03-15 15:51] matthidinger commented on #4313
Test

[2021-03-16 08:19] jychaaacha opened #5543 "[Adaptive Card] [Plans for dialog or pop-up]"
[Your detailed feedback here]

I'm using adaptive card well.
Do you have any plans to provide pop-up(dialog)?
What time is it scheduled to be provided?

---
* URL: https://adaptivecards.io/explorer/

[2021-03-16 12:06] RamaMohanaChary commented on #5402
Hi @sudoaccessdenied,

Thank you for sharing proper repro steps!
It helps us a lot to repro the issue, we are able to repro the issue in Android mobile.

![image](https://user-images.githubusercontent.com/71380905/111306213-f1c22a80-867d-11eb-9605-6c978d9c7115.png)
![image](https://user-images.githubusercontent.com/71380905/111306240-fbe42900-867d-11eb-980d-ffeb52be25c0.png)

So, we took this high

[2021-03-16 13:10] Narizz28 commented on #5386
@RamaMohanaChary It does not. The main issue is WYSIWIG. And the way it's presented in the designer is actually ideal for Teams Mobile, and appreciated in Teams Desktop (stacked full width). Barring the ability to set something like a stretch attribute on the button itself, it would alternatively be nice to at least anchor to parent container width if added to one (versus the action button just ha

[2021-03-16 16:48] #5500 closed

[2021-03-16 17:39] paulcam206 commented on #5543
Hello @jychaaacha - there are a couple of options here depending on whether you're a card author or a card host. Card authors don't really have a way to specify a popup dialog, and as far as I know, there aren't any current plans to expose that functionality as an explicit element (@matthidinger can confirm).

If you're a card host, though, there are a couple of options -- first, you can use the h

[2021-03-16 18:34] productboard-ac opened #5548 "Action style of link"

[2021-03-16 18:34] productboard-ac commented on #5548
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/7334557

[2021-03-16 18:36] matthidinger commented on #5530
Thanks for filing Scott. Closing this as duplicate of #5548 and tracking there.

[2021-03-16 18:36] #5530 closed

[2021-03-17 03:57] jychaaacha commented on #5543
If I use the first option, is it right that all Action.ShowCard actions change from inline to popup? I want to use both options. Is there any way to branch the option?

[2021-03-17 05:20] jychaaacha opened #5550 "[Adaptive Cards] [Is there any way to make multilingual adaptive card?]"
[Your detailed feedback here]

I am utilizing rendering SDK. (Android, Java script, iOS)
I want to use multilingual adaptive card, but rendering SDK doesn't support multilingual adaptive card.
I think it is because a data json doesn't work in rendering SDK.

Is there any other way to provide multilingual?
Or do you have a plan to support data json in rendering SDK?
---
* URL: https://adaptivecards

[2021-03-17 15:47] #5503 closed

[2021-03-17 15:47] #5508 closed

[2021-03-17 16:26] golddove commented on #5149
Sourced from ADO 29462597

[2021-03-17 16:27] paulcam206 commented on #5543
Unfortunately, there's no way to do that currently. @matthidinger - are we tracking any requests for this functionality? I couldn't find anything on ProductBoard...

[2021-03-17 16:58] susanshen96 commented on #5274
Hi @figgsoftware - the fix has been checked in yesterday, but it will take some time (2-3 weeks) for the fix to become publicly available. I will be tracking the commit in the meantime, and will update this thread for when the fix should be available. Thank you for your patience!

[2021-03-17 17:35] #2139 closed

[2021-03-17 20:55] lindach167 opened #5553 "[Teams][Rendering] [Broken rendering of markup links on iOS / Android]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] Android
- [x] iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

Host - Teams Mobile

If you're an author, who are you sending cards to?

# Version of SDK

What version are

[2021-03-17 22:25] matthidinger commented on #5548
Need to determine what happens when this overflows in the ActionSet flyout

[2021-03-17 22:30] matthidinger commented on #5149
@golddove did we decide on the `style` property for this? If so, should we remove the Design Discussions label?

[2021-03-18 00:28] golddove commented on #5149
@matthidinger yup, see attached PR. I'll remove the label.

[2021-03-18 02:40] jwoo-msft commented on #5553
it's our shared model markdown. the inner closing parenthesis matched with the outer parenthesis of mark down link.

[2021-03-18 12:03] stellarfoto opened #5555 "Add AdaptiveCards.Rendering.Wpf .NET NuGet package"
- .NET WPF

In the DotNet Library, there is a package for .NET Core, but when you go to NuGet Packages, there is no AdaptiveCards.Rendering.Wpf.Core Package. I would like to add AdaptiveCards to a WPF .NET Core project.

Could someone add a reference to AdaptiveCards.Rendering.Wpf.Core into NuGet Library.

Thank you,

Greg Lelonek

[2021-03-18 15:46] #5504 closed

[2021-03-18 15:46] #5505 closed

[2021-03-18 15:46] #5502 closed

[2021-03-18 15:57] #5507 closed

[2021-03-18 15:57] #5506 closed

[2021-03-18 15:57] #3076 closed

[2021-03-18 16:03] premchandpl76 opened #5556 "In the outlook mobile app on iOS device, adaptive card are not displaying the validations messages that are sent by our api"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS

In the outlook mobile app on iOS device, we have an adaptive card and where we are sending messages to the adaptive card for any validation issues by our api. The outlook app on the desktop version displays validations correctly. But the adaptive card on the iOS device is not showing the val

[2021-03-18 18:03] paulcam206 opened #5557 "[WPF] Specific malformed card should yield a more graceful error"
While doing some smoke testing I found a card payload that effectively breaks the .NET renderer:

[code]

Yields this error in the WPF visualizer:

![image](https://user-images.githubusercontent.com/16614499/111674314-1ed72000-87d9-11eb-8865-231cf93f1eb1.png)

The fault occurs here with `element` being `null`:
https://github.com/microsoft/AdaptiveCards/blob/03245bd47227989f550798ec9b0e9b70c038df6b

[2021-03-18 18:35] jwoo-msft opened #5558 "[iOS] [Multiline Input.Text is not editiable]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] iOS

# Details
https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.3/Scenarios/ActivityUpdateWithLabels.json
Input.Text in Comment showcard is not editiable.

[2021-03-18 18:43] jwoo-msft opened #5559 "[iOS][Sample App] [Focusing after input validation failure is not correct]"
# Platform

- [ ] iOS

# Details
Sample's app's content offset calculation logic needs to be re-visited after recent sample app changes.

[2021-03-18 20:08] RebeccaAnne commented on #3703
This has been mitigated and doesn't meet our current bug bar since there is a workaround.

[2021-03-18 20:08] #3703 closed

[2021-03-18 20:19] RebeccaAnne commented on #4711
We have decided to go ahead and take this breaking change based on the partner confirmations above and at the community call.

[2021-03-18 20:22] RebeccaAnne commented on #4738
We should confirm whether this repros for .NET generally (rather than just HTML)

[2021-03-18 20:27] #4752 closed

[2021-03-18 20:33] RebeccaAnne commented on #4755
@Oliverqqqq Can you let us know if this still repros with the latest bot framework?

[2021-03-18 20:39] RebeccaAnne commented on #4785
@Vishnuvk33 Please let us know if you're still seeing an issue here and can give us a little more information about your setup and what differences you are seeing. Thanks!

[2021-03-18 20:39] #4785 closed

[2021-03-18 20:44] RebeccaAnne commented on #4819
This scenario may be solved by #4668.

[2021-03-18 20:48] RebeccaAnne commented on #4845
@matthidinger can you take a look at this one?

[2021-03-18 20:53] RebeccaAnne commented on #4880
Because the errors are already showing, the user has an indication of what they need to do to progress. Additional indication here is not currently in scope.

[2021-03-18 20:53] #4880 closed

[2021-03-18 21:00] RebeccaAnne commented on #4908
Can you tell us a little more about your scenario? Where are you viewing the card (Teams? Destop vs. Mobile?). Also, can you tell us a little more about what isn't working? Are the toggles not toggling correctly? Is something wrong with the template binding? Thanks for any additional information!

[2021-03-18 21:28] dclaux commented on #4845
The Fabric extension defaults to `expanded` mode when the style property isn't specified. To get a combo box, explicitly specify `"style": "compact"` on your `Input.ChoiceSet`

[2021-03-18 21:33] RebeccaAnne opened #5561 "[.NET][Input Validation] TextBlocks with regex set are treated as required."
# Platform

What platform is your issue or question related to? (Delete other platforms).

.NET

# Details

.NET treats text fields with a regex as required.

Using the card [InputFormWithLabels.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.3/Scenarios/InputFormWithLabels.json), submission is blocked when Phone Number is blank, even though Phone Number is not required. Othe

[2021-03-18 22:58] #5558 closed

[2021-03-18 23:01] jwoo-msft opened #5563 "[Android][Input Validation] [Error message is not cleared]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
- [ ] Android

# Details
https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.3/Scenarios/InputFormWithLabels.json

1. click the submit button; error messages will appear for two places
2. fill the first field correctly. e.g. Hello, World
3. click the submit button; focus moves to the next input fi

[2021-03-19 03:44] Jagadeesh-MSFT commented on #5416
Hi @pr1malc0de, Thanks for brining up this suggestion, I'm able to repro your issue from my end, I will rise buy and will share the details for the same.

[2021-03-19 15:11] golddove commented on #5506
@paulcam206 is the "fixes" keyword not working anymore?

[2021-03-19 15:43] paulcam206 commented on #5506
I didn't think about it, but apparently not? It's a GitHub feature, so I'm not sure what's busted...

[2021-03-19 16:43] paulcam206 commented on #5553
This is by [design behavior](https://meta.stackexchange.com/questions/13501/links-to-urls-containing-parentheses) for Markdown. Have you tried escaping the `)` as `\)`?

[2021-03-19 16:44] paulcam206 commented on #5555
We should look into what it would take for us to produce a .NET Core NuGet package.

[2021-03-19 16:45] paulcam206 commented on #5556
@premchandpl76 - can you give us a card sample that demonstrates the problem? @jwoo-msft - anything on your radar for this?

[2021-03-19 17:09] #5561 closed

[2021-03-19 19:53] jwoo-msft commented on #5553
@lindach167 in case, you missed @paulcam206's comments above.

[2021-03-19 20:12] jwoo-msft commented on #5556
@premchandpl76,
Can you give us more context on the issue? I'm not quite sure about which validation we are dealing with. I initially thought this issue is about an input validation feature we shipped for schema version 1.3, but in the 2nd half of the description, the validation seems to be more about validating the AdaptiveCards at parsing and rendering. Can you provide more context on the issue?

[2021-03-20 04:16] premchandpl76 commented on #5556
I am able to resolve the issue. These are the following things I need to do to fix my issue:

1. I need to add "isRequired": true for all the fields which are required. This works fine in outlook app for mobile. For desktop outlook, we have written server side validations
2. For the dropdown (ChoiceSet), I need to set some value to title attribute and after that this issue also got resolved: "All

[2021-03-20 04:16] #5556 closed

[2021-03-21 00:44] planetpearce opened #5566 "[Designer] Capitalization of property values inconsistent"
Setting property values with ELEMENT PROPERTIES will (usually?) capitalize the value. For some properties in certain contexts, the capitalized value is marked with a warning in the CARD PAYLOAD EDITOR.

I've not been able to establish consistent circumstances but a simple example is below.

**New Card => Flight Itinerary
Microsoft Teams - Light
v1.2**

_Changing the value in the EDITOR to lowercas

[2021-03-21 19:34] lindach167 commented on #5553
@paulcam206 @jwoo-msft escaping ) as \) does not have any effect. The more important thing is that this renders differently on mobile than it does on desktop (see the two screenshots in the bug). Developers who test against desktop gets an unexpected rendering behavior on mobile

[2021-03-22 05:28] manujai opened #5567 "[Android][iconSize is not honoured for iconUrl using resource resolver]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android

# Author or host

Host - Cisco WebEx

Cisco Webex

# Version of SDK

latest main

# Details

The `iconSize` host config field for `iconUrl` (inline) is not being honoured when resource resolver is used.

[2021-03-22 06:46] kishorepmr opened #5568 "[Shared] Horizontal Alignment for ColumnSet not being returned from Shared Model"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- Shared Model

# Author or host

Host - Cisco WebEx Teams

# Version of SDK

1.2

# Details

Horizontal Alignment property of ColumnSet not being able get the property from Shared library of adaptive cards

[2021-03-22 11:45] jishwin13 commented on #3740
I wanted to know whether the incoming webhook for teams and adaptive cards support the @mention feature in Teams? I have gone through some articles regarding this. How can one find the 8:orgid:{org-ID-of-the-user}  and more importantly what is this? Can someone help?

[2021-03-22 12:14] somdas opened #5569 "[Android] Empty choices Json Array causes Parsing to fail"
# Platform
Android

# Author or host

Microsoft Teams

# Version of SDK

2.4.0

# Details

When the choices Json Array is empty for type - "Input.ChoiceSet", then the parsing of the whole Adaptive card fails. On Desktop the Card is rendered properly without any choices (in drop down). Same should happen on Android. Here is an example (part of the JSON)-

[code]
When such JSON is present we get the

[2021-03-22 16:52] dclaux commented on #5566
@planetpearce This is a problem with the schema file used by the designer, which isn't a recent version. Enum values are case insensitive in the AC schema, these warnings shouldn't exist and can be ignored. We will eventually make it so that they don't appear anymore.

[2021-03-22 16:53] paulcam206 commented on #5567
@golddove - care to take a look?

[2021-03-22 16:55] paulcam206 commented on #5568
@kishorepmr - can you elaborate a little bit on what you mean by "Shared model"? Are you referring to the .NET `AdaptiveCards` library, or the C++ Shared Model (`source/shared/cpp/ObjectModel`)?

[2021-03-22 16:56] golddove commented on #5567
@paulcam206 yup, this is a known inconsistency between platforms (Android renderer only respects iconSize when iconPlacement is above). Will take up in 21.04

[2021-03-22 16:56] paulcam206 commented on #5569
I believe we're tracking this work in #5513...

[2021-03-22 17:01] paulcam206 commented on #5567
@golddove - do we have another bug tracking this already?

[2021-03-22 17:19] kishorepmr commented on #5568
The C++ Shared Model (source/shared/cpp/ObjectModel) @paulcam206

[2021-03-22 17:29] paulcam206 opened #5572 "[Shared] Reconcile property serialization when style=heading"

[2021-03-22 20:34] planetpearce commented on #5566
Awesome, thank you

[2021-03-23 02:53] hulin17 commented on #1788
I think ToolTip has another function that it can be used to tell end-users an element can be clicked when users hover over the element. I noticed there is not a function like hovering over element to remind users to know what the element is used for. So if  there are too many "Clicked elements", tooltip or hovering function is necessary. Otherwise users maybe feel confused.

[2021-03-23 08:49] jypal6 commented on #5525
@matthidinger a People picker experience is required for actions on Connector search results as well. Which release are you planning for this feature?

[2021-03-23 19:05] 01 commented on #4786
Has there been update on this. Seems that horizontalAlignment does not work for actionset on ms teams

[2021-03-24 07:02] WinIT23 commented on #4677
Also in android device it's showing different behavior.

for this textblock after we have escaped the strings.
`"type": "AdaptiveCard",
  "version": "1.2",
  "body":
  [{
    type: 'TextBlock',
    color: 'default',
    text: 'test \\/ | \\\\ | \\/\\/ | \\\\ | \\" | \\" | \\" | '
  }]`

desktop shows this card.
![image](https://user-images.githubusercontent.com/23058976/112267639-c94cb880-8c9b-11e

[2021-03-24 09:38] Jagadeesh-MSFT commented on #5416
Hi @pr1malc0de, I have raised the [bug](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1651172) and concern team will work on this.
Thanks..!

[2021-03-24 10:33] Koniksan commented on #5526
Is there any progress on it ?

[2021-03-24 11:30] 951p opened #5575 "[.Net] Newtonsoft.Json 13.0.1 (latest) version explicitly not supported"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [X] .NET HTML

# Author or host

Developer

# Version of SDK

What version are you using? NuGet 1.2.1 -- (latest)

# Details

Latest nuget doesn't support (explicitly prevents) Newtonsoft.Json 13.0.1 (latest) version
![image](https://user-images.githubusercontent.com/5575984/112303390-9b06b300-8c72-11eb-99

[2021-03-24 15:25] paulcam206 commented on #5526
I'll ping him again -- sorry for the delay 😬

[2021-03-24 16:11] paulcam206 commented on #5575
thanks @951p - we'll take a look :)

[2021-03-24 22:32] RebeccaAnne opened #5579 "[UWP][Accessibility] Container contents are not read as the accessibility text for select actions"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- UWP

# Details

Using the below card in UWP, when focus lands on the select action, narrator reads only "Button" for the button. It should read all the content of the select action. (Adding `title` does result in the title being read as expected). In JavaScript the following is announced: "This is text blo

[2021-03-25 01:18] cleans2002 opened #5580 "[MS Teams][Input.Time] The time value of Input.Time does not appear normally."
# Platform
- [ ] Python

# Author or host
- [ ] MS Teams

Hi. I'm using MS Teams' Bot service. I am using an adaptive card including Input.Time as input, but the time value of Input.Time is not normal.

I chose '오후 3:00'.('오후' is 'PM'.) I think it should come out at 15:00, but the result came out at 03:00.
![image](https://user-images.githubusercontent.com/41402699/112404270-63bc0300-8d53-11eb-80f

[2021-03-25 07:41] Nikitha-MSFT commented on #3740
Currently incoming webhook does not support @mention feature. Also why you need 8:orgid? could you please share more info?

[2021-03-25 10:06] jishwin13 commented on #3740
Because I had read in some other articles you might need the 8:orgid for the @mentions. Thanks anyway for your help. If incoming webhooks doesn't support it I am chucking this. Also I would like to know what and how we can get the 8:orgid. It would be of help in future.

[2021-03-25 15:57] paulcam206 commented on #5580
@cleans2002 - interesting... I took a look at [one of our samples](https://adaptivecards.io/samples/Inputs.html) while browsing in Korean, and it *appears* to have the correct submit behavior (specifically looking at the `TimeVal` portion of the submit payload). can you confirm?

if it does indeed behave correctly there, this might be an issue in Teams.

[2021-03-25 17:26] tomlm opened #5582 "[javascript] Action.Execute doesn't expose fallback, can't be set for serialized object."
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host

Author

If you're an author, who are you sending cards to?
ACN

# Version of SDK
npm 2.9

# Details

I am trying to create a card using the SDK and then serialize it as a response to client.

[code]
You can see from documentation https://adaptivecards.io/explorer/Action.Ex

[2021-03-25 23:46] robin-liao opened #5583 "[Feature Request] Custom header for Image fetch"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* All platforms

# Author or host
Cards in Microsoft Teams

# Issue
As on behalf of Microsoft Teams, we received customer's ask to request adaptive card support for custom header for "Image". So in SDK it can apply such custom headers when fetch images from the specified URLs.

[2021-03-26 00:12] #5475 closed

[2021-03-26 03:13] tomlm opened #5585 "[javascript][serialization] Javascript libraries don't round-trip serialization"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [x] JavaScript
- [ ] UWP

# Author or host
Author

# Version of SDK
2.9

# Details
You should be able to create adaptive card objects in memory and have them serialize correctly.

For example image.width and image.height do not serialize
[code]
When se

[2021-03-26 03:33] #5585 closed

[2021-03-26 03:34] tomlm commented on #5585
I needed to set the version on the ac to 1.4

[2021-03-26 05:28] cleans2002 commented on #5580
Thank you for answer.

As a result of checking the sample, if the value is forcibly registered, the value is displayed normally.
![image](https://user-images.githubusercontent.com/41402699/112586464-33ea2980-8e3f-11eb-9690-d9213669385b.png)
![image](https://user-images.githubusercontent.com/41402699/112586480-3ba9ce00-8e3f-11eb-8c3c-64a4a579461b.png)
![image](https://user-images.githubusercontent.

[2021-03-26 07:44] RamaMohanaChary commented on #5386
Hi @Narizz28,

Yes, adaptive card has defined width in both designer and Teams Desktop. And also for mobile it has fixed width.
It's by design.

Could you please raise a [user voice](https://microsoftteams.uservoice.com/forums/555103-public/filters/new) for this

[2021-03-26 10:24] Nikitha-MSFT commented on #3740
Could you please check this [docs](https://docs.microsoft.com/en-us/power-platform/admin/determine-org-id-name) for organization id. and for @mention you require the user id not the organization id

[2021-03-26 11:07] Nikitha-MSFT commented on #4677
I could see teams desktop gives the same as adaptive card designer, please check below screen shots
![image](https://user-images.githubusercontent.com/61688740/112622055-81bb5d80-8e50-11eb-87d2-79e62850c0f1.png)
![image](https://user-images.githubusercontent.com/61688740/112622090-8a139880-8e50-11eb-8c2e-001378047a3d.png)

for mobile we have raised a bug we don't have ETA to share when it will be

[2021-03-26 13:40] chriche-ms opened #5586 "[UWP] CustomActionWrapper and CustomElementWrapper are not copying all relevant properties"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 2.1.0

# Details

The CustomActionWrapper and CustomElementWrapper types are not wrapping/copying all relevant properties from the custom type. A quick check suggests the following prop

[2021-03-26 18:12] #5481 closed

[2021-03-26 20:28] jbp199 opened #5588 "[.NET HTML][Actions] Actions appears to be limited to 5 when converting to HTML"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

# Author or host

host - the HUB

If you're an author, who are you sending cards to?

# Version of SDK

2.6

# Details

When rendering multiple action buttons, it appears that html is limited to 5:

{
    "type": "AdaptiveCar

[2021-03-27 06:05] lindach167 opened #5590 "[Teams][Rendering] [Backslash escape special characters not working as expected on iOS / Android]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] Android
- [ ] iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

Host - Teams Mobile

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

[2021-03-27 17:28] michal-turzynski commented on #4505
@dclaux  any luck with this issue?

[2021-03-29 06:10] dharma-reddy commented on #4845
Hi David,

Thanks for your reply,

I have tried using the "style":"compact" to the "Input.ChoiceSet". But still, I am getting the expanded view only.

Please find the below screenshots

![image](https://user-images.githubusercontent.com/16010724/112793444-eeb63980-9082-11eb-9aef-46990862df10.png)
![image](https://user-images.githubusercontent.com/16010724/112793493-08f01780-9083-11eb-8164-f50c565d

[2021-03-29 10:11] yisonPylkita commented on #3740
I also stumbled upon this `@mention` issue. I'm writing a webhook that needs mentions and I can't do that right now.  Do you guys have a plan to add this feature?

[2021-03-29 16:11] dclaux commented on #4845
That is weird, as far as I can tell the code correctly parses the style property and creates a combo box when style is set to "compact".

Looks like there is a bug indeed.

[2021-03-29 16:47] dclaux commented on #608
It seems to me that the problem isn't really whether or not the title is wrapped, but more "if it does wrap, when does it wrap". FactSet is a table under the covers; the width of the left column (holding the title) can essentially be defined in 3 different ways:
1. As wide as needed to fit all titles on a single line
2. As a fixed value
3. Or as a percentage of the total available space

Option 1

[2021-03-29 17:41] paulcam206 commented on #5582
@dclaux - care to take a look?

[2021-03-29 17:42] paulcam206 commented on #5586
@RebeccaAnne - care to take a look?

[2021-03-29 17:48] paulcam206 commented on #5588
This is due to the host config defaults for `MaxActions` (docs [here](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#schema-actionsconfig)):

https://github.com/microsoft/AdaptiveCards/blob/2257e48ae9a795ea33760d442f0a6b1523c6c682/source/dotnet/Library/AdaptiveCards/Rendering/ActionsConfig.cs#L33-L37

You can change the default limit of `5` by supplying an `AdaptiveHos

[2021-03-29 17:48] #5588 closed

[2021-03-29 17:50] paulcam206 commented on #5590
I'm guessing this is either more text-handling differences with web or something markdown related. @golddove - can you take a look?

[2021-03-29 17:53] dclaux commented on #5582
@tomlm that's by design. `fallback` isn't in the SDK's object model, it's just read and interpreted during parse time. The main reason for that was to not use memory to store something that is used only at parse time. But in turn, that means that indeed as of now if you want to generate a card payload that includes `fallback` you can't user the OM.

If you think this is sorely missing, I can add s

[2021-03-29 17:55] paulcam206 commented on #5583
thanks for the issue @robin-liao! if you haven't already, please feel free to start an email thread/Teams conversation about what exactly you are looking for and what timeline you expect.

[2021-03-29 18:08] dclaux commented on #5582
@tomlm actually there should be a way for you to do what you want:
[code]

Give that a try and let me know if you're unblocked.

[2021-03-29 20:03] jbp199 commented on #5588
Brilliant, thanks Paul!

[2021-03-29 20:08] #5485 closed

[2021-03-30 04:39] dharma-reddy commented on #4845
Hi David,

The "style":"compact" property displays combo box ,if I am not using "Adaptive Card Fabric Plugin". Problem exist only if I use "Adaptive Card Fabric Plugin".

Please let me know, if you have any thoughts on this.

Thanks,
Dharma

[2021-03-30 06:50] jisuneom opened #5602 "[MS Teams][Input.Date] [Max and min attributes are not working with input.Date]"
# Platform
- Python

# Author or host
- MS Teams

# Details
I'm using a bot for Microsoft teams.
I set the "min" to today because I want to disable the previous dates as of today, but in MS Teams Bot service, the previous dates are not disabled, also they are clicked and "Action.Submit" is worked.

With the same json, in the adaptive cards designer it is works, but it is not working in the Bot for

[2021-03-30 08:16] ig-jb commented on #608
This would solve the problem I've got. Would it be worth accepting other values e.g. rem/em so that the card author can allow for hosts rendering fonts in differing sizes?

[2021-03-30 16:35] #5476 closed

[2021-03-30 23:06] MengliElmendorf137 opened #5603 "[Android/iOS][MS-Teams] If image view do not select action, but superview has select action, then the select action from the superview should be passed onto the subview image"
**What platform is your feature request related to? **
- [x] iOS
- [ ] Android

**Is your feature request related to a problem? Please describe.**
When user taps on an image, if image itself does not have a select action, it opens the image in full screen. The expected behavior is to perform select action from the super view, if super view has select action. In case of an adaptive card having an i

[2021-03-31 11:25] Nikitha-MSFT commented on #5274
Bug is Resolved now, we have tested this at our end, could you please also check and confirm?

[2021-03-31 12:38] felixvanleeuwen commented on #4947
Any news on this?

[2021-03-31 13:29] figgsoftware commented on #5274
@Nikitha-MSFT we are still seeing the same issue. What Teams-client version is required?

[2021-03-31 18:52] susanshen96 commented on #5274
The fix has not propagated to general ring yet - it will take another 1-2 weeks to show up.

[2021-03-31 21:38] jwoo-msft commented on #5602
@jisuneom, can you tell us which platforms android, iOS, desktop were used?

[2021-04-01 08:44] GayatriDeviP opened #5610 "[Accessibility] [Ensures <img> elements have alternate text or a role of none or presentation (img)]"
# Platform
- [ ] .NET HTML

# Author or host
D365 Sales

# Version of SDK
latest

# Details
For all the images in adaptive cards, there is an issue with accessibility as role of none or presentation is missing.

Repro:
1. open any of sample adaptive card and place images beside the button or any where.
2. Install "Accessibility Insights for Web"(https://accessibilityinsights.io/docs/en/web/overvie

[2021-04-01 09:01] jisuneom commented on #5602
@jwoo-msft , I used desktop.

[2021-04-01 09:39] Nikitha-MSFT commented on #3740
Currently teams does not support @mention incoming webhook. Could you please raise a [user voice](https://microsoftteams.uservoice.com/forums/555103-public-preview/category/182881-developer-platform)?

[2021-04-01 11:44] mogadanez commented on #4777
I have same issue

[2021-04-01 22:16] mogadanez commented on #4777
sample json:
[code]

[2021-04-01 22:21] #5486 closed

[2021-04-01 22:21] #5487 closed

[2021-04-01 22:38] #5489 closed

[2021-04-01 22:38] #5488 closed

[2021-04-02 02:12] #5491 closed

[2021-04-02 13:31] pr1malc0de commented on #5416
Hi @Jagadeesh-MSFT

Thanks, This is a better response than the Microsoft support team have got from the teams engineers who closed my ticket saying the engineers told him and I quote "this is out of support"

[2021-04-03 03:44] wonboyn commented on #3896
Has there been any movement on this?

[2021-04-05 16:20] RebeccaAnne opened #5614 "[RTL][Schema] Update the schema to reflect the new RTL Property"

[2021-04-05 16:35] #5477 closed

[2021-04-05 16:48] #5490 closed

[2021-04-05 16:55] #5480 closed

[2021-04-05 17:07] MengliElmendorf137 opened #5617 "[Android][MS-Teams] [Input.Text]When user taps on Input.Text, it only has the focus for a second, then it loses its focus. User can not type anything there."
# Platform

What platform is your issue or question related to?
- [ ] Android

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.
Host - Teams Mobile

# Version of SDK
latest main

# Details
When user taps on Input.Text, it only has the focus for a second, then it loses its

[2021-04-05 17:19] #5513 closed

[2021-04-05 18:07] matthidinger opened #5618 "Nightly public package feeds"
# Description

We should convert our internal package feed to public either using DevOps or switching to GitHub packages.

- [ ] Confirm iOS CocoaPod support
- [ ] Update the README to include a link to the internal package feed
- [ ] Any other docs we want to let people know these exist?

[2021-04-05 18:12] matthidinger opened #5619 "[Website] We need a vNext moniker to opt-into preview features"
# Platform

- [ ] Website
- [ ] Designer
- [ ] Infrastructure
- [ ] Documentation

# Description

As we ship website builds out of `main` we need to clearly indicate to users on Schema Explorer and the Designer which features are vNext and "not final"

[2021-04-05 19:21] paulcam206 commented on #5603
@jwoo-msft - does #5604 fix this request?

[2021-04-05 19:22] paulcam206 commented on #5617
@golddove - do you see any issues on our side? might be teams integration...

[2021-04-05 20:28] paulcam206 commented on #5482
fixed by #5607

[2021-04-05 20:28] #5482 closed

[2021-04-05 20:29] #5483 closed

[2021-04-05 20:30] paulcam206 commented on #5492
fix in PR: #5606

[2021-04-05 20:30] paulcam206 commented on #5498
fix in PR: #5606

[2021-04-06 18:43] jwoo-msft commented on #5603
it fixes for iOS. we still need the fix for Android.
c.c. @golddove

[2021-04-07 17:00] ctharmon722 opened #5624 "Bot Error in SDK 3.1 C# .NET Adaptive cards"
When adding a card into our deployed bot, our bot no longer works. Sending us this error
Request URL: https://XXXXXXX.azurewebsites.net/api/messages Request name: GET /api/messages Response code: 405

We made this carding using the adaptive dialog card designer. Not sure where to even start with such a general error. Any suggestions on where to start would be useful.

If you're an author, who are

[2021-04-07 20:33] RebeccaAnne opened #5627 "Control default styling for "style":"heading" via host config"

[2021-04-07 21:35] RebeccaAnne opened #5628 "Media Captions platform support investigation"
We need to determine what each platform supports for media captions. The output of this task should be something like the following table:

| Platform |Formats supported for captions encoded in the video | Formats supported for sidecar captions |
|---|---| ---|
|UWP| | |
|.NET | | |
|iOS| | |
|Android | | |
|JavaScript| | |

[2021-04-07 21:39] golddove opened #5629 "[.NET][Accessibility] Support heading navigation"
# Platform

- [ ] .NET WPF

# Version of SDK

`main`

# Details

Narrator supports navigation by headings. See [support article](https://support.microsoft.com/en-us/windows/chapter-5-navigation-68941680-3245-6ef5-5012-0674b8b6fc59) that describes how to cycle through navigation modes.

Text with `style: heading` receive the appropriate accessibility flags on other platforms to support this mode of

[2021-04-07 21:43] RebeccaAnne opened #5630 "Table element spec and design review"
## Try it for yourself
- This feature is implemented for JavaScript in this draft PR: https://github.com/microsoft/AdaptiveCards/pull/5705
- You can use the PR's [test site](https://adaptivecardsci.z5.web.core.windows.net/pr/5705) to try the feature for yourself. Note that it might be buggy and that designer support isn't complete.

## Table element for Adaptive Cards
This is a proposal for a simp

[2021-04-07 21:53] RebeccaAnne opened #5631 "[Shared] Add heading styling to host config"

[2021-04-07 21:53] RebeccaAnne opened #5632 "[iOS] Add heading styling support to renderer"

[2021-04-07 21:54] RebeccaAnne opened #5633 "[Android] Add heading styling support to renderer"

[2021-04-07 21:54] RebeccaAnne opened #5634 "[UWP] Add heading styling support to renderer"

[2021-04-07 21:54] RebeccaAnne opened #5635 "[JS] Add heading styling support to renderer"

[2021-04-07 21:54] RebeccaAnne opened #5636 "[.NET] Add heading styling support to renderer"

[2021-04-07 21:54] RebeccaAnne opened #5637 "[Schema] Update schemas for heading styles"

[2021-04-07 22:00] #5465 closed

[2021-04-07 22:07] vzv111 opened #5638 "Indicator on suggested actions (card action) for hero card to show that the action will open a URL"
My original request posted on the webchat repo, however I was direct here as I am using an adaptive card in my example:

https://github.com/microsoft/BotFramework-WebChat/issues/3833

For the suggested actions for adaptive cards, I would like to indicate what type of action would be taken by clicking the button. For example for "Action.OpenUrl", I would like to indicate on the button that this wil

[2021-04-07 22:07] RebeccaAnne opened #5639 "[Schema] Add tooltip property to the schema"

[2021-04-07 22:21] #5510 closed

[2021-04-07 22:22] #5614 closed

[2021-04-07 22:28] RebeccaAnne commented on #5479
From @golddove  in #5626: "NET WPF doesn't support HeadingLevel on AutomationProperties (see: dotnet/wpf#1825), unlike UWP XAML."

Moving this our of 21.03 and marking blocked.

[2021-04-08 15:15] matthidinger opened #5642 "[Website] Markdown hyperlink not rendering properly on the Action.Execute page"
[Your detailed feedback here]
![image](https://user-images.githubusercontent.com/1432195/114052105-95989380-9842-11eb-9dda-952f42e38fba.png)

---
* URL: https://adaptivecards.io/explorer/Action.Execute.html

[2021-04-08 15:41] golddove opened #5643 "[Documentation] Some optional properties' default values are not documented"
# Platform

N/A

# Version of SDK

latest

# Details

[Column](https://adaptivecards.io/explorer/Column.html) width's default is not documented, for example. We should check if there are any other gaps.

[2021-04-08 19:50] IntranetFactory opened #5645 "data binding for numbers broken ?"
When I bind a numeric value to a number the result is empty:    e.g. ` "value": "${quantity}"`

but if there are any additional character besides the bound number value shows e.g. ` "value": "€${amount}"`

![image](https://user-images.githubusercontent.com/7462342/114087521-45f2b000-98b4-11eb-8854-a2e4fc5d1ab5.png)

[2021-04-08 20:49] jonmill commented on #5645
Thanks for bringing this to our attention. We'll look into this...in the meantime, you should be able to enclose the data in quotes as a workaround.

[2021-04-08 20:53] jonmill commented on #5643
@golddove - what is the urgency of this issue? Are you currently working on this?

[2021-04-08 20:59] jonmill commented on #5629
@golddove - is this issue the same as #5479 or is it a different issue?

[2021-04-08 21:53] golddove commented on #5629
@jonmill yeah, didn't realize that existed when I created this. Shall I close this one and move the description there?

[2021-04-08 22:07] golddove commented on #5643
@jonmill Cisco didn't say it is urgent, but they're writing a renderer, so an accurate schema/doc would ensure they stay consistent with our renderers

[2021-04-08 22:12] #5474 closed

[2021-04-08 22:52] #5478 closed

[2021-04-08 23:08] jwoo-msft commented on #5645
@IntranetFactory, it's not broken. the type of data was an integer, and the Facts' Value requires a type string. the template expanded to "Value" : 2. then the renderer probably dropped the value field since it doesn't have the required string property.
you can do
1. change the data to string type as @jonmill  mentioned.
2. use AEL function to convert int to string, [string](https://docs.microsoft

[2021-04-09 00:05] jonmill commented on #5629
@golddove - let's keep one issue open for this...if we need to add additional info to the previous bug, then please add it there :)

[2021-04-09 00:05] #5629 closed

[2021-04-09 00:06] jonmill commented on #5643
Gotcha - have you accounted for the work this milestone (21.04) or is this work not currently accounted for yet?

[2021-04-09 00:34] Lorenzo-MWF commented on #5617
I'm having the same issue on both Android and iOS

[2021-04-09 00:34] leonkyr commented on #5617
+1

[2021-04-09 00:41] Lorenzo-MWF opened #5647 "[JS] Input.ChoiceSet inside Action.ShowCard card not working"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] JavaScript

# Details

We are using https://www.npmjs.com/package/botbuilder to build a bot for Microsoft Teams.
We have the following payload to create a card, which has an `Input.ChoiceSet` inside an `Action.ShowCard` card.
It works fine when I preview the card from the bar but it doesn't work after

[2021-04-09 15:30] golddove commented on #5643
Not yet, was brought up during yesterday's call

[2021-04-09 16:25] golddove commented on #5617
@paulcam206 text inputs don't exhibit this in our sample app. Double-checked with the last few releases.

[2021-04-09 16:28] golddove commented on #5617
@siduppal can you repro this on your end

[2021-04-09 18:25] paulcam206 opened #5649 "[Site] Glob support"
Tracking item for glob/loc support for the website

[2021-04-10 00:40] jwoo-msft opened #5650 "[iOS][Document AdaptiveCard's usage with UITableView]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] iOS

# Details

* There are some additional steps needed to be taken by the clients of AdaptiveCards if the clients are using UITableVew.
* The ask is to document these steps for reference.

[2021-04-12 07:53] mohd3wamleh opened #5651 "How to Create a custom function in jQuery when click in buttons in Adaptive card ?"
i try to create a function when i click in buttons in adaptive card -----> hide the card but isn't working

when i do it in any different buttons outside the card is working

why can't create a function of buttons inside the adaptive cards?

[2021-04-12 12:30] Mamatha-MSFT commented on #5617
@golddove I will repro at my end and will let you know.

[2021-04-12 15:34] Trish92 commented on #5326
#5240

[2021-04-12 15:38] Trish92 opened #5652 "[JavaScript SDK Web][Adaptive Card Designer] [Designer does not render custom elements registered in adaptive cards]"
# Web JS SDK

What platform is your issue or question related to? (Delete other platforms).

- [ ] JavaScript

# Author or host
All

# Version of SDK

What version are you using? Latest

# Details

Explain your issue. If you just have a question, please post [on StackOverflow instead](https://stackoverflow.com/questions/tagged/adaptive-cards).

https://docs.microsoft.com/en-us/adaptive-cards/sdk/r

[2021-04-12 15:40] Trish92 commented on #5652
https://stackoverflow.com/questions/66680403/adding-custom-card-elements-into-the-adaptive-card-designer

[2021-04-12 16:22] #4711 closed

[2021-04-12 17:26] matthidinger commented on #5524
Tracking this in #4668

[2021-04-12 17:26] #5524 closed

[2021-04-12 17:58] RebeccaAnne opened #5653 "[Samples] Consolidate samples version folders and update element samples for new features"
The version specific folders are no longer serving a useful purpose. This epic tracks consolidating those folders, updating any element samples that should take advantage of appropriate new features (for example text headers) and ensuring that the tools/visualizers/website generation are updated accordingly.

This explicitly does _not_ include updating the scenarios to consume more features. Speci

[2021-04-12 18:04] RebeccaAnne opened #5654 "Consolidate sample version folders"

[2021-04-12 18:05] RebeccaAnne opened #5655 "Update element samples to consume new features (Text Heading, etc)"

[2021-04-12 18:05] RebeccaAnne opened #5656 "[iOS] Update visualizer to consumer new sample hierarchy"

[2021-04-12 18:05] RebeccaAnne opened #5657 "[Android] Update visualizer to consumer new sample hierarchy"

[2021-04-12 18:05] RebeccaAnne opened #5658 "[UWP] Update visualizer to consumer new sample hierarchy"

[2021-04-12 18:06] RebeccaAnne opened #5659 "[Website] Update website to consume new sample hierarchy"

[2021-04-12 21:31] #5512 closed

[2021-04-13 06:03] lindach167 commented on #5617
Yes, @MengliElmendorf137 from my team opened this issue from bug being reported in Teams mobile.

[2021-04-14 00:45] golddove commented on #5617
@Lorenzo-MWF you mention it works everywhere except group chats on the mobile app. Does that mean that it works correctly in other parts of the mobile app (e.g. in a channel)?

[2021-04-14 00:51] Lorenzo-MWF commented on #5617
Works fine in channels and in one on one chats.
I've only seen this issue in group chats.

[2021-04-14 10:20] shereenfathy opened #5663 "[AuthenticationBot, TeamsAuth] sign in button not clickable on Microsoft teams"
Hello,
I'M trying to test the AuthBot and i did all the steps and it works fine when i test it in the webchat but when i test it on Microsoft teams the sign in button on click doing nothing

[2021-04-14 10:57] HiltonGiesenow opened #5664 "[Javascript Renderer][Formatting]Markdown Formatting not Applied"
# Platform

- [ x] JavaScript

# Author or host

Both

# Version of SDK

2.9.0

# Details

I'm creating a web page to host some adaptive cards, and I'm rendering the cards fine, but I see that **Bold** and _Italics_ rendering don't do anything. To put it differently, I can render the Adaptive Card, but the Markdown is not doing anything in the Javascript renderer

[2021-04-14 17:02] dclaux opened #5666 "[JS] TextInput.inlineAction isn't accessible"
# Platform

JavaScript

# Author or host

The inlineAction of a TextInput isn't rendered correctly wrt accessibility. Its aria-label isn't properly set.

[2021-04-14 17:32] jnpetersen opened #5667 "[Designer] Ability to save"
I've ran into it a couple of times now, I accidentally click on a bookmark in my bookmarks bar and my adaptive card disappears and goes back to the default card when I return.  I've been trying to remember to grab the card payload editor text and paste it into VS Code every once in a while so that I don't lose my changes.

[2021-04-14 18:32] #5666 closed

[2021-04-15 07:43] vmadurga opened #5671 "[.NET] AdaptiveCards nuget not support Newtonsoft.Json 13.0.1"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET

# Author or host

Developer

# Version of SDK

What version are you using? AdaptiveCards v2.7.1

# Details

Latest nuget doesn't support Newtonsoft.Json 13.0.1 version
![imagen](https://user-images.githubusercontent.com/25466105/114832386-b75bc280-9dce-11eb-9ad7-ae7e42bc5d42.png)

[2021-04-15 09:23] udaya-reddy commented on #3956
Hi,
Any update on this issue since April 2020 ? Was this addressed ?

[2021-04-15 13:00] scottlovegrove opened #5672 "[ActionSet] [HorizontalAlignment]"
There is no mention in the schema documentation about the HorizontalAlignment property of ActionSet.

We are looking at building a custom renderer and trying to work out what we need, and looking at some AdaptiveCard code we've written in nodejs, we use `ActionSet.horizontalAlignment` and it does actually make a difference in our rendered cards in our web app.

Is this an omission on the documenta

[2021-04-15 13:32] guru98 opened #5673 "[any] [possibility to abort an input form with required fields]"
If i have an adaptive cards with required fileds  i should any allow customers to exit with cancel.
That means that in case i should send an action of type cancel or something similar

[2021-04-15 15:29] guru98 commented on #5673
understand i can do that using associatedinput

[2021-04-15 16:20] ms-jptoupin opened #5674 "[Outlook][Actions] Calls to Microsoft Graph API not working"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- Outlook Online and Outlook Desktop

# Author or host

Author

If you're an author, who are you sending cards to? **Myself**

# Version of SDK

Not using SDK. I'm using the [Actionable Message Designer](https://amdesigner.azurewebsites.net/).

# Details

### STEPS TO REPRODUCE

1. Copy this JSON Payload in

[2021-04-15 16:48] scottlovegrove opened #5675 "[NodeJS][HTML] [Duplicate HTML ids]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [x] JavaScript
- [ ] UWP

# Author or host

Host

If you're an author, who are you sending cards to?

# Version of SDK

2.7.0

# Details

We've been looking at a way to be able to allow focus on a particular input element when a card has been loaded. W

[2021-04-15 16:59] scottlovegrove commented on #5664
@HiltonGiesenow Have you told the renderer what markdown parser to use? https://github.com/Microsoft/AdaptiveCards/tree/main/source/nodejs/adaptivecards#supporting-markdown

I added markdown-it to our web app and markdown renders just fine.

[2021-04-15 17:00] HiltonGiesenow commented on #5664
didn't spot but that will look into it, thanks @scottlovegrove

[2021-04-15 17:00] #5664 closed

[2021-04-15 20:26] jonmill commented on #5675
Thanks for bringing this up! This definitely sounds like a bug; we'll dig in and take a look

[2021-04-15 20:28] jonmill commented on #5674
@dclaux - do you have the right contact on the Outlook team for this bug?

[2021-04-15 20:29] jonmill commented on #5673
Yes, associated inputs should help with this...please let us know if you run into any issues!

[2021-04-15 20:29] #5673 closed

[2021-04-15 20:32] jonmill commented on #5672
This looks to be an undocumented JS feature that is not available on the other platforms, so this is something that should not be included in custom renderers.

[2021-04-15 20:32] #5672 closed

[2021-04-15 20:42] ms-jptoupin commented on #5674
Thank you @jonmill

[2021-04-15 20:42] jonmill commented on #5663
Can you please provide the additional information that is requested in the bug template?

[2021-04-15 20:56] jonmill commented on #5652
@dclaux - can you please investigate and respond back with the right action we should take?

[2021-04-15 20:58] jonmill commented on #5651
hi @mohd3wamleh - can you please provide a code sample and additional information about the issue you're facing?

[2021-04-15 21:01] jonmill commented on #5647
@siduppal - can your team please take a look? On initial look, this appears to be a MST rendering issue

[2021-04-15 21:31] Trish92 commented on #5652
You can reproduce this easily by using your own ProgressBar example and the TextBlockPeer file. I would appreciate any resolution you can provide cause this is very important at the moment for us. This project is amazing, we love the extensibility of it. Thank you so much!

[2021-04-15 21:32] Trish92 commented on #5652
#5240

[2021-04-15 21:44] dclaux commented on #5652
I'm not sure how I can help you without seeing your code. Every single element in the designer is implemented exactly as you would if you were to create your own custom element. It requires an element registered with the renderer, and a designer peer registered with the designer. I am working on a custom element myself right with n associated designer peer and things work as expected.

We do lack

[2021-04-15 22:30] #4914 closed

[2021-04-15 22:41] Trish92 commented on #5652
`import * as Adaptive from 'adaptivecards';
import { ProgressBar } from './ProgressBar';
import * as ACDesigner from 'adaptivecards-designer';

export abstract class CardElementPeerInplaceEditor<
  TCardElement extends Adaptive.CardElement

  readonly cardElement: TCardElement;

  constructor(cardElement: TCardElement) {
    super();

    this.cardElement = cardElement;
  }
}

export class Progres

[2021-04-15 22:44] Trish92 commented on #5652
[ProgressBarPeer.txt](https://github.com/microsoft/AdaptiveCards/files/6321478/ProgressBarPeer.txt)

[2021-04-15 22:45] Trish92 commented on #5652
[ProgressBar.txt](https://github.com/microsoft/AdaptiveCards/files/6321480/ProgressBar.txt)

[2021-04-15 22:46] Trish92 commented on #5652
If I use this same peer and register Adaptive.RichTextBlock or some other component I do see the property sheet as implemented in the ProgressBarPeer file

[2021-04-15 22:51] Trish92 commented on #5652
`
 AC.GlobalRegistry.elements.register(ProgressBar.JsonTypeName, ProgressBar, AC.Versions.v1_3);
ACDesigner.CardDesignerSurface.cardElementPeerRegistry.registerPeer(ProgressBar,ProgressBarPeer,"Elemnts", "acd-icon-columnSet");`

[2021-04-15 23:23] dclaux commented on #5652
ProgressBar's properties are `title` and `value`. Your ProgressBarPeer declares `wrapProperty`, `fontTypeProperty`, `sizeProperty`, etc. These properties are irrelevant to ProgressBar. Your peer needs to declare properties for `title` and `value`.

[2021-04-15 23:53] #5484 closed

[2021-04-16 00:25] Trish92 commented on #5652
![image](https://user-images.githubusercontent.com/15216947/114954485-b0619e00-9e28-11eb-876b-814f5deb1013.png)
 I still dont see a progress bar element in the designer but if   I use Adaptive.RichTextBlock then I do see my added value and title properties

[2021-04-16 00:33] #5642 closed

[2021-04-16 00:38] Trish92 commented on #5652
![image](https://user-images.githubusercontent.com/15216947/114955311-71344c80-9e2a-11eb-90e2-862b6393ab15.png)
Difference between ProgressBar and another component

[2021-04-16 00:47] dclaux commented on #5652
Sorry I am confused as to what you're showing or what you're trying to explain.

To add support for a specific element in the designer, you need to implement a peer that declares the properties of the element you want to see in the property editor. For ProgressBar you need a ProgressBarPeer that declares title and value properties and you need to add those properties to the property sheet in `popu

[2021-04-16 00:48] Trish92 commented on #5652
[ProgressBarPeer.txt](https://github.com/microsoft/AdaptiveCards/files/6321781/ProgressBarPeer.txt)

[2021-04-16 00:50] Trish92 commented on #5652
I did do that but was unable to render the Progress bar element in the Elements section of the designer. But If I replace the ProgressBar that I made with Adaptive.RichTextBlock that Peer file does work and you can see a Title and Value property on the property sheet

[2021-04-16 00:51] dclaux commented on #5652
Are you registering the ProgressBar element in the `initialize` method of your `HostContainer`?

[2021-04-16 00:53] Trish92 commented on #5652
nope that maybe the problem, I can try that .

This is all I am doing

 let hostContainers: any = ACDesigner.defaultMicrosoftHosts;

    // Optional: add the default Microsoft Host Apps (see docs below)
    hostContainers = [];

    this.designer = new ACDesigner.CardDesigner(hostContainers);

[2021-04-16 00:53] Trish92 commented on #5652
Do you have an implementation handy?

[2021-04-16 01:00] Trish92 commented on #5652
I am registering it at the start of the application before rendering the designer and adaptive card and I do see the component rendering in the adaptive card, just not in the designer.

[2021-04-16 02:57] dclaux commented on #5652
We really do need documentation, I'll try to find some time soon.

In the designer, which elements are supported (and thus displayed) is tied to the selected "host app". Under the covers, a host app is implemented by creating a class that extends the abstract HostContainer class. That base class declares its own element and action registries.

If you do not pass any host container to the construct

[2021-04-16 03:01] dclaux commented on #5652
Or you should even be able to do this:
[code]

[2021-04-16 03:22] Trish92 commented on #5652
Amazing ! Worked, thank you so very much !

`let hostContainer = new ACDesigner.DefaultContainer("MyHost", "../../styles/custom-styles.css");
    hostContainer.elementsRegistry.register(ProgressBar.JsonTypeName, ProgressBar);
    this.designer = new ACDesigner.CardDesigner([hostContainer]);`

You already have most of it documented :)

[2021-04-16 03:24] khanisak commented on #5553
@lindach167 have you managed to find out the solution?

I can confirm this issue too. Rendering of adaptive cards on android and ios broken when url have parenthesis. Escaping whole url include parenthesis doesn't work.
Adaptive cards renders well on desktop but not on teams mobile.

[2021-04-16 05:00] WhiteCyClop opened #5677 "[MS Teams][Action.OpenUrl] Mailto with several recipients"
**Platform**

MS Teams

**Description**

I create an Adaptive card with Action.OpenUrl and set url to create email via "mailto". But it works fine only if I set one recipient, when I try to set several recipients there is nothing to happen.

[code]
It would be great to have opportunity to do this thing or maybe I just do something wrong?

[2021-04-16 05:06] lindach167 commented on #5553
@khanisak I have not found a workaround. This needs to be fixed in the SDK. @jwoo-msft @paulcam206 any updates for this issue?

[2021-04-16 07:22] paulcam206 commented on #5553
I've got a line on a fix for this - should hopefully have something to show tomorrow

[2021-04-16 10:55] Jagadeesh-MSFT commented on #5647
Hi @jonmill, we have an existing [bug ](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1708048)on this, our team is working on it. At present we don't have ETA o share with you.

[2021-04-16 14:45] mohd3wamleh commented on #5651
`    public static Attachment CreateAdaptiveCard()
        {
            AdaptiveCard card = new AdaptiveCard();

            string imgName = @"logo.png";
            string currentDirectory = System.IO.Directory.GetCurrentDirectory();
            string[] fullFilePath = System.IO.Directory.GetFiles(currentDirectory, imgName, SearchOption.AllDirectories);

            //https://ash-chatbot-5npgst