[2020-02-13 13:17] Har1pr1ya commented on #3768
Thanks a lot for immediate action.  @shalinijoshi19 To set some we are using adaptive card in our agent assist scenario where Bot will send adaptive card to Agent as a suggestion.
https://docs.microsoft.com/en-us/dynamics365/omnichannel/agent/agent-oc/oc-smart-assist#overview-of-smart-assist

We found out this bug in our accessibility review. Let me know if you need more details.

[2020-02-13 17:04] nesalang commented on #3776
@arpitgupta19
to unblock you, try not to use  these string, "*", "**", "_", "__"  until the fix is made to the next release.
Thanks

[2020-02-13 22:02] susanshen96 commented on #3244
@wehnicde - The fix for desktop has been checked in - it should take around two weeks for the change to manifest.
@vman - Just logged a bug with our mobile team, will update when the fix is made.

[2020-02-14 02:52] VikrantSingh01 commented on #3712
@arpitgupta19 : Can we get this verified with the list of accessibility issues we have in our Mobile queue

[2020-02-14 07:00] adumrewal opened #3784 "[iOS][Card-Height-Rendering] [Card heights changes based on number of actions in ActionsSet]"
# Platform

* iOS

# Author or host

TeamSpace iOS app

# Version of SDK

latest-master

# Details

The card height gets changed based on the number of actions in ActionSet although the actions are supposed to be a scrollable view. The change in height is the same as ('number of buttons added' x 'height of a button').
PFA the screenshot and JSON.
![Simulator Screen Shot - iPhone X - 2020-02-07 at

[2020-02-14 09:48] VikrantSingh01 commented on #3775
Can it be in v1.2.6 @shalinijoshi19  pls. ?

[2020-02-14 09:50] VikrantSingh01 commented on #3784
This looks to be surfacing only in 1.2.6 drop. Would be good to have this addressed in the final 1.2.6 drop.

[2020-02-14 09:54] VikrantSingh01 commented on #3703
If the instrumented Teams App is required, would be great to generate it with the instrumented Adaptive Card library.

[2020-02-14 10:04] adumrewal commented on #3733
@VikrantSingh01 this was an issue on our CustomRenderer. It has been fixed and will be available in the Feb store build.

[2020-02-14 14:51] Codefans-fan opened #3785 "Is possible support action type binding ?"
I have an card with multiple actions .  But the action type is not same (Two are Action.Submit, one is Action.OpenUrl).

I create actions template like:
[code]
and Model
[code]

Test in https://adaptivecards.io/designer/
Error ： [Error] Unknown action type: {actionType}. Fallback will be used if present.

[2020-02-14 17:05] #3733 closed

[2020-02-14 17:11] shalinijoshi19 commented on #3775
Yes. @almedina-ms any update on this one?

[2020-02-14 17:39] dclaux commented on #3785
The designer will always give you these errors for now. However what you do should just work in code.

[2020-02-14 21:09] ManjulaMalaiarasan commented on #3759
Hello @shalinijoshi19 Thank you for your patience. Here is a JSON payload we are sending to the bot.
`{
	"msg": "  \n ",
	"type": null,
	"textFormat": "markdown",
	"speakText": " ",
	"inputHint": "ignoringInput",
	"content": [{
		"type": "receiptCard",
		"contentType": "application/vnd.microsoft.card.adaptive",
		"content": {
			"$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
			"

[2020-02-14 21:59] prathibhap-google opened #3786 "[Android][Action Button Rendering] [Not able to style the action buttons for android]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Android

# Author or host

adaptive cards -  in webex android application

# Version of SDK

Version: 1.2.6[io.adaptivecards:adaptivecards-android:1.2.6]

# Details
I was looking at styling the adaptive cards based on the theme selected for my android application. My android application supports dark and li

[2020-02-14 22:45] susanshen96 commented on #3759
@ManjulaMalaiarasan - I checked the payload and I see some inconsistencies that could be contributing to the reason why the card isn't sent on the Teams client.

- Anything in the format `"style": { "color": value } }` will not be supported - it is an invalid property for TextBlock, as the style property does not exist for TextBlock. Instead, remove these, and just use `"color": value`. (correct m

[2020-02-14 23:18] ManjulaMalaiarasan commented on #3759
@susanshen96 yes, the asterisks in the URLs are all there for privacy concerns. They are otherwise valid URLs. I will modify the json with given suggestions and get back to you

[2020-02-15 00:19] jobinesh opened #3787 "[Android][] [Adaptive card is not rendered on android phone]"
# Platform
* Android

# Author or host

External bot app sending message to MS Teams channel

# Version of SDK

NA

# Details

I have an external bot configured to use MS Teams channel via the message end point web hook. The following is the message posted to the  Ms Teams channel by the external bot. This message gets rendered as expected when MS Teams is accessed via web browser or MS Teams appl

[2020-02-15 18:29] billba commented on #3745
Sorry I haven’t been involved with this project for years.

[2020-02-16 19:01] rekha06 commented on #1911
hello All, I am using the  Adaptive Card 1.1v for Rendering card  in IOS mobile application.card is showing but thumb up and down selectAction not working , here the json response.please let me know what is issue and how to solve this.

{"type":"AdaptiveCard","speak":"Your Working Days values are","body":[{"type":"TextBlock","text":"Working Days for Feb 01, 2020 - Feb 29, 2020","wrap":true},{"type

[2020-02-17 05:35] shaikShehanaaz commented on #3787
Any update/workaround on this ?
We have a bot configured to MS Teams on iOS. Adaptive card buttons are not responsive.

[2020-02-17 05:38] hemantgore opened #3788 "[iOS][AdaptiveCard Background Image][V1.2.6] Unable to render background image unless specified 'fillMode'"
# Platform
* iOS
# Author or host
V1.2.6

# Issue:
iOS SDK not rendering the background image unless have fillMode for `type = Container`

# Version of SDK
1.2.6

#What version are you using?
iOS 13.3

# Details

Below card json doesn't show `backgroundImage` unless added  ` "fillMode": "Repeat" `

Note: Same card works in lasted Android SDK.

[code]

[2020-02-17 10:50] adumrewal opened #3789 "[iOS][ColumnSet] [Column in ColumnSet is not honouring spacing argument]"
# Platform

* iOS

# Author or host

TeamSpace iOS

# Version of SDK

1.2.6

# Details

In ColumnSet the spacing defined inside a column is not being honoured. For example in the attached JSON, the spacing ('small') defined for text "RE: Here's a sample email" is not being followed. If you notice, there is no space between the envelope-image and the text. Even on changing the spacing to 'large' it

[2020-02-18 02:36] jobinesh commented on #3787
The above issue was due to the typo. The type  needs to be as follows, with this change it works on mobile as well.
 "type":"AdaptiveCards"

[2020-02-18 02:36] #3787 closed

[2020-02-18 14:47] LizMoreno opened #3790 "[TEAMS][ERROR Adaptive Card with video]"
**I can´t show an adaptiveCard in###  teams with video.
This is json I use, help please. Thanks!**
{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.1",
    "fallbackText": "This card requires Media to be viewed. Ask your platform to update to Adaptive Cards v1.1 for this and more!",
    "body": [
        {
            "type": "Med

[2020-02-18 19:28] nesalang commented on #3789
@shalinijoshi19 for visibility
@adumrewal
This isn't bug. The mail image width was set to 25px. The column that contains the image's relative width was set to 1. The following column that contains a TextBlock has the relative width of 20.

So the column with the TextBlock will get 500 px since it's 20 times of 25px of the first column.
But the phone's width is less than that, so iOS UIKit had to m

[2020-02-18 22:50] ManjulaMalaiarasan commented on #3759
@susanshen96 The cards are rendered after removing the empty string values and the property style. Thank you.

[2020-02-18 22:53] #3775 closed

[2020-02-19 02:12] nesalang commented on #3788
@hemantgore
this is a duplicate issue with #3636

[2020-02-19 19:04] #3776 closed

[2020-02-19 19:17] grahamehorner opened #3795 "[Designer] source"
Please consider open-sourcing the designer as part of the AdaptiveCards SDK so that developers may include design tooling inside their applications/sites

[2020-02-19 19:36] dclaux commented on #3795
It is already open source: https://github.com/microsoft/AdaptiveCards/tree/master/source/nodejs/adaptivecards-designer

[2020-02-19 19:36] #3795 closed

[2020-02-19 19:42] nesalang commented on #3784
This doesn't seem to be SDK's issue
Sample App
![Screen Shot 2020-02-19 at 11 35 22 AM](https://user-images.githubusercontent.com/4112696/74869065-22fde900-530c-11ea-87d9-134de2a1b985.png)

Teams
![image](https://user-images.githubusercontent.com/4112696/74869018-09f53800-530c-11ea-8bc6-5619537f2427.png)

There appear to be an extra view above actions and separator. Can you check what this view is

[2020-02-19 19:52] #3777 closed

[2020-02-19 21:58] #3771 closed

[2020-02-19 21:58] #3772 closed

[2020-02-19 22:57] grahamehorner commented on #2448
@jbeek11 can you share information with regards your issue around the layering that you UX/frontend developer has/had; as I'd like to avoid any possible issue with our UX/frontend developers prior to going to far into adaptive card service developments.  thanks in advance of any information you provide

[2020-02-20 00:41] #2738 closed

[2020-02-20 09:40] shaikShehanaaz commented on #3787
After changing the property to - "type":"AdaptiveCards" - it is not working in MS Teams. It says "Sorry, it looks like something went wrong."

[2020-02-20 10:46] nagavamsi777 opened #3797 ".Net Adaptive card not rendering with large data in Teams"
Hi,

I am using Adaptive cards version v.1.2.4.

When I am trying to post Weather report Today , 24 Hour and 5 Day  in single message using Adaptive card in **Teams** channel using json. But it giving below error

Operation returned an invalid status code '**RequestEntityTooLarge**'   at Microsoft.Bot.Connector.Conversations.ReplyToActivityWithHttpMessagesAsync(String conversationId, String activi

[2020-02-20 13:28] adumrewal commented on #3784
PFA screenshot with heights of the extra view based on the number of buttons.

Hierarchy for the UIView:
- ACRView - ACR Root View
  - UIStackView
    - ACRUILabel
    - **UIView** [_Our view of interest_]
    - ACRSeparator
    - TSCGradientCustomScrollView
<img width="338" alt="Screenshot 2020-02-20 at 5 45 13 PM (1) (1)" src="https://user-images.githubusercontent.com/8917620/74937073-5a09f280-5

[2020-02-20 15:18] jobinesh commented on #3787
Sorry, I mean to say "type":"AdaptiveCard" (it was AdaptiveCards in my case). May be you can log a new issue with a test case(steps to reproduce the issue) as this issue is already marked as closed

[2020-02-21 00:35] susanshen96 commented on #3790
Hi @LizMoreno, Teams doesn't currently support adaptive cards with Media content. We're looking to support that in the future, but currently do not have a timeline for that.

[2020-02-21 00:37] susanshen96 commented on #3752
Hi @cconrado - the width for adaptive cards for Teams is currently at a fixed size, and there are currently no plans to change that.

[2020-02-21 00:38] #3790 closed

[2020-02-21 00:49] cconrado commented on #3752
@susanshen96 where do I need to post to change it? The reason is it cuts off text because of it. It needs to be like messagecards

[2020-02-21 03:38] nesalang commented on #3761
@adumrewal can you confirmed that this is no longer an issue on 1.2.6

[2020-02-21 04:13] shalinijoshi19 commented on #3761
@nesalang , once this is confirmed, we should remove the 1.2.7 tag from this issue. Thanks

[2020-02-21 05:54] shalinijoshi19 commented on #3750
@almedina-ms ping!

[2020-02-21 05:57] shalinijoshi19 commented on #3765
@susanshen96 ping. Please reopen if you do have some more details for us here. Thanks!

[2020-02-21 05:57] #3765 closed

[2020-02-21 06:00] shalinijoshi19 commented on #3797
@ckkashyap / @dandriscoll / @jameslew ideas on this one? @nagavamsi777 this error isn't coming from AdaptiveCards so have added the Bot framework partners to help!

[2020-02-21 07:21] adumrewal commented on #3761
@nesalang @shalinijoshi19 confirming that this issue got fixed with 1.2.6 update.

[2020-02-21 09:18] jbeek11 commented on #2448
I've not mentioned an issue with 'layering', not sure what you mean by that. Our problem is that, when using Adaptive Cards in its current setup there is not full control over layout and UX in the frontend. E.g. you are limited to certain letter sizes, which you have to 'translate' into what you would like in the frontend. This gives only very limited flexibility as far as layout and UX is concern

[2020-02-21 13:59] shalinijoshi19 commented on #3786
@almedina-ms can you take a look at this real quick ? Thanks!

[2020-02-21 14:04] shalinijoshi19 commented on #3636
@nesalang, updates on this one?

[2020-02-21 14:23] Antti-Leskinen commented on #3745
Has there been any updates on this?

[2020-02-21 14:29] #3757 closed

[2020-02-21 16:38] v-kydela commented on #2448
@jbeek11 - The Adaptive Card schema defines 5 different font sizes which each Adaptive Card renderer is able to define actual sizes for. Are you saying you need your cards to have more than 5 different font sizes?

[2020-02-23 10:06] RajaniJillaGit opened #3799 "IOS- iphone and ipad MS Teams App Adaptive Cards not loading"
# iOS

Hi Team,

We are using v4 bot framework SDK and rendering adaptive cards on MS teams channel. It is working fine in Desktop and Android but not on IOS. Upgraded to 1.2.3 for the adaptive cards nuget package in the SDK and device details are as below.

1. iphone 6
version - 12.4.5
ms teams app version - 2.0.2

2. ipad mini
version - 12.4.5
ms teams app version -2.0.2
[CreateCase.txt](https:/

[2020-02-24 04:36] shaikShehanaaz commented on #3787
Sure. Thanks for your input @jobinesh

[2020-02-24 05:17] shaikShehanaaz opened #3800 "iOS - adaptive card Buttons are not responsive in Teams on iOS device/mobile"
# Platform: iOS

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host
External bot app sending message to MS Teams channel

# Version of SDK: SDK 4
framework: netcoreapp3.0

# Details
We are working on a cross platform bot. Adaptive card with buttons doesn't seems to respond in MS Teams when used in iOS mobile. There is no response from bot at all.

[2020-02-24 12:31] adumrewal commented on #3789
@nesalang you can close this issue.

[2020-02-24 12:37] hartski commented on #3334
Is this out now? I have the option to add 'Post to a user and wait for a response' but still get the unable to connect to app message.

[2020-02-24 17:00] #3789 closed

[2020-02-24 17:43] Lanakire commented on #3755
The the real use case for this isn't actually Javascript, it is Typescript. I know the schema elements are available elsewhere, but I guess the real ask would be for a set of Typescript types. I totally agree that they should be by version, as that will avoid a lot of confusion.

If I were to step back and ask this as a feature ask there are a couple things that would really help facilitate our de

[2020-02-24 17:47] dclaux commented on #3755
@Lanakire that is precisely what I was saying.

[2020-02-24 17:48] Lanakire commented on #3755
Then that would be absolutely beautiful, and would help our development immensely, because right now we have a hodgepodge of that original `schema.ts` file and some custom ones we have added to update it to 1.2...it is not ideal 🤣

[2020-02-24 17:57] dclaux commented on #3755
@Lanakire since you guys have apparently done the work of updating the schema.ts file, would you be willing to contribute that to the repo?

[2020-02-24 18:02] Lanakire commented on #3755
Right now the change is mostly just types to cover the `RichTextBlock` and `TextRun` elements, then some some heavily commented usages of `any` return types. It really isn't a functional thing we could PR. Though once you decide where the structure for the typescript package is and what not, we can probably help bug bash the schema definition 👍

[2020-02-24 22:52] RajaniJillaGit commented on #3799
Hi Team,

Could you please help responding to the above ?

[2020-02-25 06:21] shalinijoshi19 commented on #3800
Thanks @shaikShehanaaz for reaching out. Are you able to share the card json that you are sending up  to the bot?  @VikrantSingh01 / @siduppal could you help take a first stab at this please to help me understand how this could be an AdaptiveCards issue?

[2020-02-25 06:43] shalinijoshi19 commented on #3799
Thanks for reporting this @RajaniJillaGit . @VikrantSingh01 what version of AC is being used here in the repro would you know (they are using msteams version 2.0.2) ? Meanwhile, @almedina-ms are you able to help test the attached payload out on the latest nightly release of our Visualizer test app please to see if the crash that is being reported here repro's for just the raw AC renderer stack? th

[2020-02-25 09:59] shaikShehanaaz commented on #3800
@shalinijoshi19
Here is the Json paylod, some of the text is modified run-time:
`{
   "type": "AdaptiveCard",
   "version": "1.0",
   "body": [
      {
         "type": "Container",
         "items": [
            {
               "type": "TextBlock",
               "text": "<heading>",
               "wrap": true
            }
         ]
      },
      {
         "type": "Container",
         "it

[2020-02-25 11:11] Edwardfelix08 commented on #3255
Hi @almedina-ms,

Is this feature available in Xamarin.
If "Yes", then is there a document to refer to.
If "No", then when can we expect it to be released.

Thanks
Edward

[2020-02-25 17:00] nesalang commented on #3799
@shalinijoshi19 ,
Crash happened with the payload because of '*'.
This was fixed by [#3779](https://github.com/microsoft/AdaptiveCards/pull/3779), confirmed it worked on 1.2.7 branch (jwoo/rel/1.2).

[2020-02-25 19:49] almedina-ms commented on #3255
Good morning, Edward:

We are currently investigating on the best approach to take for the creation of this renderer. We prototyped a renderer version using our existing android and iOS renderers projected into a native Xamarin libraries but we got stuck on iOS as it didn't deliver on the experience we want to give our developers. We're currently prototyping on some work was that made some years a

[2020-02-25 20:31] adumrewal commented on #3800
This looks like something to do with the keyword "msteams" in the "data" object on the Teams iOS app side.
cc- @Aditya0603 @nesalang

[2020-02-25 20:34] siduppal commented on #3800
@VikrantSingh01 can you take a look from mobile perspective?

[2020-02-25 21:04] susanshen96 opened #3801 "[Teams][TextBlock] Dates in TextBlock are not localized when Teams is in a different language"
**What platform is your feature request related to? (Delete other platforms).**

* JavaScript

**Is your feature request related to a problem? Please describe.**
The provided date format for TextBlock does not localize to the language of Teams Client - it simply localizes to the local region of the user - i.e. specifically for me, it would only display dates in US format. For instance, consider th

[2020-02-25 22:30] murcinar opened #3802 "Narrator Support for TextBlock Elements on Microsoft Edge Browser"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Host, Finance Digital Assistant (Chat Bot)

# Version of SDK

4.6.2

# Details

Using Microsoft Narrator, TextBlock properties are announced on Chrome browser but on MS Edge, none of the TextBlock is announced to the user. only links and input fields are announced with Edge. T

[2020-02-26 06:48] wasim8906 opened #3803 "[MS-Teams][Card Area] Max height for a card with scroller enabled"
**What platform is your feature request related to? (Delete other platforms).**

* MS Teams

**Is your feature request related to a problem? Please describe.**
Currently there is no way to set max height of a card or a container, due to which if there is a long list of data then this stretches for pages. Instead a scroller is preferable

**Describe the solution you'd like**
A property like minHeig

[2020-02-26 09:17] adumrewal commented on #3800
This looks like a bug on Teams iOS app and not on the SDK. We are working on the fix, it should be available in the next release.
cc- @VikrantSingh01  @Aditya0603

[2020-02-26 09:43] adumrewal opened #3804 "[iOS][ChoiceSet] ["wrap":true doesn't work and text still gets clipped]"
# Platform

* iOS

# Author or host

Teams iOS app

# Version of SDK

latest-master

# Details

Even on setting the wrap as true for ChoiceSet, text is still getting clipped.
PFA screenshot of the SDK visualiser and the json.
<img src="https://user-images.githubusercontent.com/8917620/75332230-0d5b6700-58aa-11ea-80f0-6d4e4e832f33.png" width="300">

[choiceSetLongWrap.txt](https://github.com/micros

[2020-02-26 10:21] VikrantSingh01 commented on #3804
@shalinijoshi19 @nesalang : Can you pls. check.

[2020-02-26 13:04] shalinijoshi19 commented on #3804
Thanks for reporting @VikrantSingh01 / @adumrewal .  @almedina-ms can you please help take a look at this ? @nesalang for FYI.

[2020-02-26 18:15] RajaniJillaGit commented on #3799
Hi Team,

Do we need to upgrade the nuget package ? Please confirm necessary steps to be taken.

[2020-02-27 02:11] shalinijoshi19 commented on #3788
Hey @hemantgore thanks for reporting this issue. FYI that we're tracking progress on this as part of #3636 .

[2020-02-27 04:18] atishayv commented on #3688
@dclaux Tried with
[code]

Still getting the same error

[2020-02-27 04:53] ramya-ramanathan-28 opened #3806 "[Templating] Adaptive Card is not rendering, when binded data is not provided"
**Platform**
Template engine, all platforms

**Is your feature request related to a problem? Please describe.**
1. If the data is not binded to RichTextBlocks, the entire Adaptive card does not render.
2, For textblocks with hyperlinks, when data is not binded to the display property,
       - The value shows up as **undefined** if $when condition is not present
       - the card doesn't render if

[2020-02-27 05:11] ramya-ramanathan-28 opened #3807 "Adaptive Cards getCard and setCard method return Object"
In Adaptive card-designer, the `getCard()` and `setCard(card)` methods return type `Object` instead of an `IAdaptiveCard` interface.

[2020-02-27 05:16] RamyaRamanathan28 commented on #3806
@dclaux, Could you please take a look at this issue? Thank you.

[2020-02-27 05:30] dclaux commented on #3688
I think we have a limitation there is currently no solution for here. I think `title != ''` evaluates to true because `title` is actually `undefined`, but there is no way currently to check for undefined.

This is not something I'm going to be able to fix quickly unfortunately. @matthidinger this is something we might need to discuss, at least look into whether CEL has a solution for it.

[2020-02-27 05:32] dclaux commented on #3806
@RamyaRamanathan28 can you please provider a repro payload?

[2020-02-27 13:32] shalinijoshi19 commented on #3799
Hi @RajaniJillaGit our fix would be absorbed by the Teams iOS app and once that's done your scenario should just work once you get the fixed version id the Teams ios app. We're slated to publish our iOS updates eow this week, and Teams will follow suit later in the next few weeks.. @VikrantSingh01 for fyi/ comment as well. Please stay tuned and thanks for your patience!

[2020-02-27 21:05] arman-g commented on #3723
Any updates on this one?

[2020-02-27 21:25] shalinijoshi19 commented on #3804
@VikrantSingh01 / @adumrewal  how much of a blocker is this bug towards your GA? Do we need to block release of AC 1.2.7 (slated for Friday 2/28) for this?

[2020-02-28 15:40] shalinijoshi19 commented on #3807
@dclaux can you help take a look at this one please? Thanks!

[2020-02-28 15:45] shalinijoshi19 commented on #3802
Hi @murcinar thanks for reporting this. Could you help me understand if this is the older Microsoft Edge or the newer/Chrome-based Edge browser that you are referring to? Also can you please help me understand your timelines here please?  @dclaux could you help me understand the scope of the changes needed here? Thanks

[2020-02-28 16:49] nesalang commented on #3636
when notification for image loading done is arrived, a target view that will host the background image won't have dimension since data URI doesn't involve network and the image size is small; thus finishes instantly. We need to make adjustment in setting the layout constraint when missing height of the target view.

[2020-02-28 18:39] dclaux commented on #3807
This is by design. If they were to accept/return something other than object, it would be an `AdaptiveCard` instance, not `IAdaptiveCard` anyway. `IAdaptiveCard` really shouldn't be part of the library to start with; there is a broader conversation that needs to be had on that front.

[2020-02-28 18:54] murcinar commented on #3802
Hi @shalinijoshi19 I believe I still have the older (legacy) Microsoft Edge which came installed with Windows 10.
I am currently working on these accessibility bugs to enable my team to achieve level B accessibility compliance as soon as possible.
So if you could help us resolve these issues on the highest priority, I would really appreciate. If any help or additional info needed from our end, ple

[2020-02-28 18:58] murcinar commented on #3802
![image](https://user-images.githubusercontent.com/58231579/75578763-4d8d2780-5a19-11ea-9734-0b692b42759d.png)

[2020-02-28 19:07] shalinijoshi19 commented on #3807
Thanks David! @RamyaRamanathan28 please see @dclaux's response above. Reopening to make sure we can track the "broader design conversation" issue that David refers to on the team backlog.

[2020-02-28 19:12] shalinijoshi19 commented on #3784
@nesalang this will need to be merged in master for the issue to be auto-closed. Could you also do that so the status of the bug can auto-update? Thanks!

[2020-02-28 19:18] dclaux commented on #3802
I can repro this in legacy Edge. I could swear this is a regression on Edge's part, but I am not 100%.

The fix is most likely simple, namely set the correct aria-label attributes on rendered TextBlock elements.

[2020-03-01 23:03] wilheimpage opened #3814 "Conditional Layout documentation"
The [documentation on Conditional Layout](https://docs.microsoft.com/en-us/adaptive-cards/templating/language#conditional-layout) using the $when property is fairly limited.

Would it be possible to expand this a bit with the syntax? If it's possible to do more than just evaluate numbers? For example if a text input is not null or a choice set is not a certain value etc.

[2020-03-02 03:00] atishayv opened #3815 "[Javascript][Extract binded properties from adaptive card JSON]"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

adaptivecards-designer@0.7.1

# Details

Is there any API available from which its possible to extract out the list of binded properties from AC JSON. For example , given the AC JSON as :
[code]

It should return : `[title, imgUrl]`

Is there any way through which it can be achieved ?

[2020-03-02 03:01] atishayv commented on #3815
@dclaux Can you please check if its possible ?

[2020-03-02 17:02] dclaux commented on #3815
@atishayv there is no public API that lets you do that currently. All that's needed is already in the library though, so if you really wanted you could access private fields and implement the logic yourself, but I'm not sure I'd recommend that.

How important is this, how soon would it be needed?

[2020-03-03 04:03] jaisanth commented on #3815
@dclaux Mainly, we are looking at how we can default some of the values to the templating library systematically from our code itself as the backend API which supplies the variable values to be used may not return all the required variables. So, we are looking at the possibility of using hooks where we can extract the variables used in the templates using which we can add some default values for t

[2020-03-03 04:28] dclaux commented on #3815
Let’s keep this off GitHub for now as we discuss the ask.

Correct me if I’m wrong, but the properties you end up binding to the card template are managed properties, e.g. a schema you own, no? They can’t be the properties from the source otherwise you wouldn’t be able to provide out-of-the-box templates that can work against any source.

If that’s the case, why don’t you ensure properties have a

[2020-03-03 07:11] sree00718 commented on #3701
Hi ,is there fix to this issue as of yet?
When i click on submit button on my adaptive cards values are passed ,but i do get this warning.
Any way to hide this warning?

[2020-03-03 07:14] Wajeed-msft commented on #3701
Is your code responding to the Submit request within 5 seconds?

[2020-03-03 11:20] VikrantSingh01 commented on #3702
@siduppal / @susanshi  : Can you help @shalinijoshi19 / @paulcam206  with more detail which is asked here.

[2020-03-03 12:03] sree00718 commented on #3701
Yes it does respond within 5 seconds,Plus a loading logo keeps loading on top of the submit and it get the error message, subsequent responses are already generated.

Not really sure what it is doing.

[2020-03-04 03:40] nesalang commented on #3784
with 1.2.7, action set is not cut any more.
in addition to it, teams wants to have way to set intrinsic content size.

[2020-03-04 22:11] shalinijoshi19 commented on #3799
@nesalang did this ship with AdaptiveCards v1.2.7 last week? I dont see this tagged right if it did? @VikrantSingh01 on the timeline for absorbing 1.2.7 on the Teams app side at their end..

[2020-03-04 22:43] nesalang commented on #3799
@shalinijoshi19 Yes, this is shipped. This issue was dupe of #3776, and the fix for #3776 was shipped as part of 1.2.7

[2020-03-05 00:34] RebeccaAnne opened #3819 "[UWP][Accessibility] Unexpected access keys appearing for select actions"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When alt is pressed on a card containing a select action on a container with stretch height, an access key of '0' appears. This is unexpected, can lead to many select actions with the same access key, and can interfere with access keys set by the host app.

Example:
The below card renders a

[2020-03-05 02:45] shalinijoshi19 commented on #3799
Ok so this should have been resolved as such. @RajaniJillaGit FYI that this issue is a #duplicate of #3766 shipped as part of [AC 1.2.7](https://github.com/microsoft/AdaptiveCards/issues/3776#issuecomment-592806257), currently in testing by the Teams iOS team. There should be no nuget package update needed at your end for this issue specifically since it's the Teams host app that will need to cons

[2020-03-05 02:45] #3799 closed

[2020-03-05 08:44] Chekrii opened #3821 "[MSTeams][AdaptiveCard] Adaptive Cards Carousel not displaying in Teams"
# Platform

* .Net Core
* Bot Framework

# Author or host

* MsTeams

Hi,

I am using Bot framework V4 and I am sending the Adaptive card as a Carousel to Teams but sometimes teams is failing to load the adaptive carousel.

Note:- After waiting some time, the carousel is loading. properly.

Can you please help with the issue.

Please find the screenshot.

<img width="663" alt="MainCarousel" src="h

[2020-03-05 12:10] ashkvarenko opened #3822 "[Javascript][Accessibility] [ChoiceSet is rendering empty option when placeholder is not set or empty]"
# Platform

* JavaScript

# Version of SDK

latest master

# Details

ChoiceSet is rendering empty option when placeholder is not set or empty.
This affects screen reader. It reads options as "value 1 (2 of 3)" and "value 2 (3 of 3)"

[code]

I suggest to render additional option when placeholder is not empty.
Rendering code is in internalRender method of ChoiceSetInput class in this file
https://

[2020-03-05 17:14] DeeJayTC commented on #3821
Hey @Chekrii ,
do you mind adding your card json for completion?

Pretty sure its easier for the guys to find out whats going on with some example.

[2020-03-06 02:23] shalinijoshi19 commented on #3287
@dclaux / @matthidinger this is what's causing fresh inconsistency issues around Input.Number processing across renderers. Related to issue microsoft/BotFramework-Services/#185

[2020-03-06 04:40] RajaniJillaGit commented on #3799
@shalinijoshi19 Kindly please suggest the version to upgrade the teams app ?

[2020-03-06 05:59] sree00718 commented on #3701
Is there a way to extend the timeout time ,so that i dont get this error message in my adaptive card?

[2020-03-06 10:40] Chekrii opened #3824 "[MsTeams][IOS][AdaptiveCard] Action.submit of Column in ColumnSet is not working in IOS Mobile"
# Platform
* IOS
# Host
* Ms Teams

Hi all,

I am using Action.Submit Property On Column in Column set.
In Android and Windows, Text is echoing back on click on Column but In IOS Clicking on Column is not working as expected.

Please find the Screenshot in Windows:-
![Apdaptive Tap](https://user-images.githubusercontent.com/49824279/76076366-bd288700-5fc4-11ea-84cb-44c7ee42dacc.PNG)

please find t

[2020-03-06 16:20] pradeepananth commented on #3701
@sree00718   - I will check with the team internally and let you know.

[2020-03-06 16:45] shalinijoshi19 commented on #3799
@RajaniJillaGit a representative from Microsoft will be reaching out to you with workaround details here while Teams works on upgrading to 1.2.7 in the next month. (it's not ready or released for you to be picked up); Meanwhile also attaching the proposed workaround from @nesalang here:
<snip>
Instead of using the plain wildcard character (*) in your inline textrun's for the RichTextBlock, can you

[2020-03-06 17:47] #3804 closed

[2020-03-06 17:56] shalinijoshi19 commented on #3804
@almedina-ms  this issue will get auto closed once you commit the change to master.. is that done?

[2020-03-06 23:24] nesalang commented on #3824
@shalinijoshi19 I just verified that this works on our sample app.  I thinks it's Team's issue.

[2020-03-07 01:08] nesalang commented on #3788
@hemantgore
Hi,
I re-examined the issue, and i missed that your sample is **not using** data uri for background image loading, so I just reopened the issue since it's not duplicate.

I tried your sample on our sample app, it worked fine. I tried v1.2.7 to v.1.2.3, and they all worked.
![image](https://user-images.githubusercontent.com/4112696/76133390-c3226600-5fcc-11ea-8da3-2b913b874238.png)

Is

[2020-03-07 04:18] #3784 closed

[2020-03-07 05:18] hemantgore commented on #3788
Hi @nesalang,
I've created Demo project with same Adaptive Card input at `https://github.com/hemantgore/AdaptiveCardsDemo.git`
It also contains `hostConfig.`, `result screenshot`.

Thanks.

[2020-03-07 05:32] Chekrii commented on #3824
Is there any fix for this? One of our features depends on this.

[2020-03-09 10:06] prasanthrpadharthi commented on #3733
Still the issue is open and not fixed

[2020-03-09 14:54] cheeseypi commented on #3733
Confirmed still not fixed

[2020-03-09 17:30] nesalang commented on #3824
@adumrewal Can you respond to @Chekrii 's question?

[2020-03-09 17:32] #3819 closed

[2020-03-09 17:43] almedina-ms opened #3826 "[UWP][Accessibility] Pop up is not getting closed when pressing ESC"
# Platform

* UWP

# Version of SDK

latest master

# Details

User using keyboard for navigation will face problem if 'Pop up' is not closed after pressing Esc key to close the pop up.

[2020-03-09 19:04] nesalang commented on #3821
@Chekrii
Your issue seems similar to #3315. Can you try to reduce the number of cards in the carousel, and see if it helps?

[2020-03-09 20:51] almedina-ms opened #3827 "[UWP][Accessibility] Incorrect role is defined for 'Host Config' button."
# Platform

* UWP

# Version of SDK

master

# Details

Incorrect role is define for 'Host Config' button.
Role is define as ' toggle button' which is incorrect and screen reader is also announce like 'toggle' button where as control is not working as toggle.

[2020-03-09 23:02] shalinijoshi19 commented on #3824
Hey @Vikrantsingh01 FYI. This seems to be an example of an issue where an AC customer is blocked on a Teams host app update; Cc - @adumrewal / @Aditya0603

[2020-03-09 23:39] p-nagpal opened #3829 "[Javascript][Serialization] [Discrepancy between JS and C# lib handling of InputNumber->Value]"
# Platform
JavaScript

# Host
WebChat

# Version of SDK
Adaptive Cards JS lib (>= NPM version 1.2.3)

# Details
This problem comes from a [customer issue reported on GitHub](https://github.com/microsoft/BotFramework-Services/issues/185).

We see that InputNumber->Value serialized in C# (Nuget version 1.2.4) cannot be rendered correctly by the Adaptive Cards JS lib (>= NPM version 1.2.3)

The C# li

[2020-03-10 01:59] desaibijon commented on #3767
Do we have any update on this bug?

[2020-03-10 02:44] shalinijoshi19 commented on #3822
@ashkvarenko thanks for reporting it and the proposed solution as well.. @dclaux thoughts on this?

[2020-03-10 04:37] rbanate commented on #2448
@matthidinger - I noticed that data is not being rendered on azure healthbot web chat too though I can see it working properly via the designer https://adaptivecards.io/designer/

[2020-03-10 15:25] dclaux commented on #3822
I am not sure I am following.
- ChoiceSetInput always renders a "hidden" option, that is how the placeholder gets displayed
- If the placeholder property is not specified though, that hidden option is empty. But it still provides a way to have a "nothing selected" option
- If the hidden option's placeholder was always set to the value of the plaholder property even when it is undefined, then the t

[2020-03-10 17:17] almedina-ms commented on #3767
Good morning @desaibijon

I think one of our most needed features is the ability of defining native styling for elements. I'll file a bug for it and start working on it

[2020-03-10 17:21] almedina-ms opened #3830 "[Android][Native Styling] Support for native styling in Android"
# Platform

* Android

# Version of SDK

latest master

# Details

Native styling in android is not supported as of this time. This must be fixed to get android on par with all the other platforms and to unblock customers.

[2020-03-10 18:34] almedina-ms opened #3831 "[UWP][Accessibility] Middle pane is not accessible and focus moves to background Screen."
# Platform

* UWP

# Version of SDK

master

# Details

Repro Steps:
1. Launch the application.
2. New screen starts appearing. Navigate to the top header elements.
3. Now select "Host Config" button. It will update the bottom pane. Navigate them.
4. Verify the Issue

Actual Result:
Middle pane is not accessible and focus moves to background Screen.
Screen reader is announcing, information about b

[2020-03-10 23:13] almedina-ms opened #3832 "[UWP][Accessibility] Name is not defined for 'Close' control at left panel."
# Platform

* UWP

# Version of SDK

master

# Details

Repro Steps:
1. Launch the application.
2. New screen starts appearing.
3. Navigate to various json file like Activity Update.JSON, Agenda.JSON etc. at left panel.
4. Navigate to 'Close' control appearing over json file like Agenda.JSON at left panel.
5. Verify name of 'Close' control by using Accessibility insights tools.

Actual Result:
Nam

[2020-03-10 23:54] almedina-ms opened #3834 "[UWP][Accessibility] Incorrect name is defined for all json files at left panel."
# Platform

* UWP

# Version of SDK

master

# Details

Repro Steps:
1. Launch the application.
2. New screen starts appearing.
3. Navigate to Left pane JSON files.​
4. Navigate to various json file like Activity Update.JSON, Agenda.JSON etc. at left panel.
5. Verify name of json file like Activity Update.JSON, Agenda.JSON etc. at left panel.

Actual Result:
Incorrect name = "AdaptiveCardVisualize

[2020-03-11 09:42] Chekrii commented on #3821
Hello @nesalang,

I am sending 4 cards in Carousel and still facing the same issue. when I logging to Teams and open the bot, the whole conversation with the bot is loading but not Carousel.

Please find the Adaptive card  I am using.

{"type":"AdaptiveCard","version":"1.0","body":[{"type":"TextBlock","text":"<Title>","wrap":true},{"type":"TextBlock","text":"<Content of article>","wrap":true,"maxL

[2020-03-11 12:06] Chekrii commented on #3824
Hi,
One more Issue in IOS is that In the above JSON, we are using four column set and each column set is having one image.
Even when we click on the first image or second image, the image from the last column set is popping up in IOS.
Thanks.

[2020-03-11 13:50] 3GDXC opened #3835 "System.InvalidOperationException: Current error context error is different to requested error."
#Issue
I'm seeing the System.InvalidOperationException: Current error context error is different to requested error. when using AdaptiveCards

# Platform
* .NET HTML

# Author or host
outlook-desktop as per this report samples
agenda.template as per this report samples

# Version of SDK
v1.2.4 of AdaptiveCard
v3.1 ASP.NET Core

# Details

[2020-03-11 18:16] nesalang commented on #3835
@3GDXC ,

Can you share your json payload that caused this error?

[2020-03-11 20:10] 3GDXC commented on #3835
[code]

[2020-03-11 20:23] RebeccaAnne opened #3836 "[UWP] Assert when using LivePropertyViewer"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When viewing elements in Visual Studio's Live Visual Tree, an Assert fires, and properties are not shown.

Repro steps:
1. Open [TextBlock.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.0/Elements/TextBlock.json) in the UWP Visualiser under Visual Studio.
2. Select

[2020-03-11 20:38] #3636 closed

[2020-03-11 22:13] almedina-ms opened #3838 "[UWP][Accessibility] 'Close' control is not accessible through keyboard at left panel."
# Platform

* UWP

# Version of SDK

master

# Details

Repro Steps:
1. Launch the application.
2. New screen starts appearing.
3. Navigate to various json file like Activity Update.JSON, Agenda.JSON etc. at left panel.
4. Navigate to 'Close' control for each json file.
5. Verify 'Close' control by using keyboard.

Actual Result:
'Close' control is not accessible through keyboard appearing over ea

[2020-03-12 06:27] sree00718 commented on #3701
Hi ,any update on this?Could it be extended?

[2020-03-12 07:10] LionelMaes opened #3840 "[Designer] [C# output - alternative output]"
It would be great if u could choose the output of your choice. Now there is only JSON but you can create adaptive card in C# and others so if you could design it in the designer and select the output. It would be a great feature

[2020-03-12 07:35] dclaux commented on #3840
Not an easy feature to implement (and especially maintain) but definitely interesting.

[2020-03-12 09:09] WizX20 commented on #3357
Same issue with the latest version of adaptive cards here; is there any progress on this?

[2020-03-12 09:20] Wajeed-msft commented on #3357
Sorry, I missed this thread.
Could you please try the same JSON directly using [App Studio](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/app-studio-overview#card-editor)'s Card Editor section?
![image](https://user-images.githubusercontent.com/31851992/76506252-db80fd80-6470-11ea-86bd-1c1759a3f158.png)

Let me know if you see any error.  If you don't see any err

[2020-03-12 09:24] WizX20 commented on #3357
Hi @Wajeed-msft, I tried it in the App Studio and also on https://adaptivecards.io/designer/
Both work. But it does not work in Teams directly. I'm also having a hard time finding any information about it in application insights; is there any way to debug this in teams?

[2020-03-12 16:29] pradeepananth commented on #3701
@sree00718  - It looks like there have been recent changes and I am not able to repro the 5 second time-out. Now, I can see the back end retries to get back a response until 15 seconds. Can you check and see if you are able to see messaging extension query result timing out after 15 seconds if your service is not responsive?

[2020-03-12 17:58] #3827 closed

[2020-03-12 17:58] #3831 closed

[2020-03-12 21:49] #3832 closed

[2020-03-12 21:49] #3834 closed

[2020-03-12 22:20] paulcam206 opened #3841 "We need a sample HostConfig containing all tweakable options"
None of the sample hostconfigs we currently have cover every single configurable option. We should probably have a "kitchen sink" hostconfig for demonstration purposes (h/t: @DeeJayTC).

We don't, for example, have a sample hostconfig that includes the "Highlight" color configuration. There are likely other options that aren't represented.

[2020-03-13 17:13] RebeccaAnne commented on #3841
For what it's worth, the [testVariantHostConfig.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/HostConfig/testVariantHostConfig.json) was meant to be that for the purposes of testing all the properties in the test app, although it seems it's not up to date with all the latest properties. It's maybe not serving the exact same purpose (i was intentionally trying to set every va

[2020-03-13 20:26] paulcam206 commented on #3841
agreed. I'm thinking we should implement a `Serialize` method on `HostConfig`, and then place it under unit test (to make sure we don't introduce new options without updating tests)...

[2020-03-13 20:58] almedina-ms opened #3842 "[UWP][Accessibility] Luminosity contrast ratio is less than 3:1 for outlines under 'FlightItinerary.JSON' list item"
# Platform

* UWP

# Version of SDK

master

# Issue

Repro Steps:​

1. Launch the application.​

2. New screen starts appearing. Navigate to Left pane JSON files.
3. Now select "FlightItinerary.JSON" button. It will update the Middle and Right Pane. Navigate all the elements of both the panes.

4. Open Color contrast Analyzer tool.
5. Select foreground and background color of outlines using color

[2020-03-13 23:22] almedina-ms opened #3850 "[UWP][Accessibility] Name property of a focusable element is null."
# Platform

* UWP

# Version of SDK

master

# Details

​## Repro Steps:​
1. Launch the application.
2. New screen starts appearing. Navigate to Left pane JSON files.​
3. Now select "FlightDetails.Json" button. It will update the Middle and Right Pane.
4. Open Accessibility Insights For Windows.
5. Verify Name property of Coding section element.

## Actual Result:
Name property of a focusable elem

[2020-03-14 00:27] RebeccaAnne opened #3853 "[UWP][Accessibility] Text in a select action should display as button text in high contrast mode"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Details

The expected behavior is that text in a select action would display as if it were in a button in high contrast mode (overriding colors set by the card author). The current behavior in high contrast mode is that all text is displayed using the text colors.

Using the below card and the follow

[2020-03-16 05:29] sree00718 commented on #3701
Yes same error after 15 secs

[2020-03-16 06:07] Chekrii commented on #3701
Yes, I think the same as well, We are doing API calls after the button click and Some times API  is taking time. So, It would be much better if we extend the time out.
Thanks,

[2020-03-16 06:09] Chekrii commented on #3701
Yes, I think the same as well, We are doing API calls after the button click and Some times API  is taking time. So, It would be much better if we extend the time out.
Thanks,

[2020-03-16 07:44] adumrewal commented on #3824
@Chekrii this issue has been fixed on the Teams iOS client and should be available in the April Store build.
cc- @VikrantSingh01 / @Aditya0603

[2020-03-16 08:00] Chekrii commented on #3824
@adumrewal  Thanks for the help

[2020-03-16 15:37] walaa-abu-bader opened #3854 "[iOS][Adaptive Card horizontal alignment property to “Center” or “Right” is not working in MS Teams on iOS mobile app]"

[2020-03-16 15:51] #3854 closed

[2020-03-16 15:56] #3688 closed

[2020-03-16 20:27] nesalang commented on #3824
@nesalang check see if we can close.

[2020-03-16 20:28] nesalang commented on #3800
@nesalang check if we can close it.

[2020-03-16 20:29] nesalang commented on #3712
@nesalang check on the status with the accessibility log addition.

[2020-03-16 20:30] nesalang commented on #3708
@shalinijoshi19 , @VikrantSingh01 any updates?

[2020-03-16 20:32] nesalang commented on #3705
@VikrantSingh01 , do you still need any assistance from our side?

[2020-03-16 20:38] nesalang commented on #3703
@nesalang link the sample app update with scrolling function to this issue, confirm that this is still an issue for them.

[2020-03-16 20:39] nesalang commented on #3702
@nesalang forward e-mail discussion to @shalinijoshi19

[2020-03-16 20:43] nesalang commented on #3196
@nesalang , check for the update on the issue.

[2020-03-16 20:58] shalinijoshi19 commented on #3702
@siduppal / @susanshen96 what is the scenario where Teams would like to include empty text for textblocks again?

[2020-03-17 04:55] shbhadra opened #3855 "[Android][inconsistency android vs web] [Columns in a column set get pushed out of the card when width set to auto]"
# Platform
* Android

# Author or host
Host

# Version of SDK
1.2.6

# Details
For the attached card json.
The button in the column set is cutoff on android
![image](https://user-images.githubusercontent.com/51158485/76822755-046e0d80-6838-11ea-97fd-cffe5a09875e.png)

The same card on web
![image](https://user-images.githubusercontent.com/51158485/76822819-25366300-6838-11ea-9e0c-be7bebb0aeeb.png)

[2020-03-17 05:06] VikrantSingh01 commented on #3855
@shalinijoshi19 , @almedina-ms : Pls. check.

[2020-03-17 17:38] JoeMayo opened #3856 "[Visual Studio][Schema] Schema Not Supported in Visual Studio"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML

**Is your feature request related to a problem? Please describe.**
When adding Adaptive Card JSON, as a *.json file, then editor shows the following Warning:

The VS JSON editor has a schema drop-down (at the top of the editor), but that doesn't include Adaptive Cards. More investigation indicates that th

[2020-03-17 17:50] pradeepananth commented on #3701
@sree00718 / @Chekrii  - I discussed with the team internally and this the response.
The 15 second timeout setting is not configurable at the moment and there are no immediate plans to extend it. Extending the timeout has consequences on the entire system which need to be considered.

[2020-03-17 19:00] nesalang commented on #3703
#3704

[2020-03-18 07:38] Wajeed-msft commented on #3357
Hi @WizX20 - I tried the JSON which you shared and was able to send card successfully from code.
![image](https://user-images.githubusercontent.com/31851992/76936752-736f6300-6919-11ea-9522-b820bb2a626b.png)

Could you please try this code locally using [ngrok](https://docs.microsoft.com/en-us/microsoftteams/platform/tutorials/get-started-dotnet-app-studio#tunnel-using-ngrok)?
[code]

[2020-03-18 10:10] pramodkn commented on #3357
Please use channel specific data payload for channel
 `  "data": {
    "msteams": {
        "type": "messageBack",
        "displayText": "I clicked this button",
        "text": "text to bots",
        "value": "{\"bfKey\": \"bfVal\", \"conflictKey\": \"from value\"}"
    },
    "extraData": {}
  }`

reference [link](https://blog.botframework.com/2019/07/02/using-adaptive-cards-with-the-microsoft

[2020-03-18 11:00] pankajpalOlk opened #3857 "[Adaptive Schema] Ability to specify state of action buttons in Adaptive schema"
The action buttons such as Action.OpenUrl, Action.Submit have a 'style' field in their schema and the supported values are:

- default
- positive
- destructive

[OpenUrl schema](https://adaptivecards.io/explorer/Action.OpenUrl.html)

Can we have a 'disabled' value appended to this existing list? The idea is to show the action button in disabled state to support some of the scenarios.
The requireme

[2020-03-18 14:01] MaxiPigna commented on #3701
@pradeepananth what is the current timeout? I knew it was 5 seconds, has it been extended to 15 seconds?

[2020-03-18 14:50] dclaux commented on #3857
I think it would probably be best to introduce another property, e.g. `isEnabled` that defaults to true, as a button can both have a specific style and be disabled.

[2020-03-19 00:31] susanshen96 commented on #3702
I can only speak for Web/Desktop - the current behavior on Web/Desktop Teams is that if a TextBlock does not have any text (empty text), the TextBlock is not rendered - this seems to be the expected behavior, as the AC Designer does not render an TextBlock without empty text. The TextBlock would only render with a single whitespace, or more characters.

AFAIK, there isn't a scenario for which we'd

[2020-03-19 16:58] matthidinger opened #3858 "Remove sharetoany buttons until compliance is figured out"

[2020-03-19 16:59] matthidinger opened #3859 "Update Cortana Host Configs and CSS"

[2020-03-19 17:00] matthidinger opened #3860 "New button to "Copy Data Bound Card", which will data-bind the card payload with the sample data, and copy the results to the clipboard."

[2020-03-19 17:12] #3858 closed

[2020-03-19 17:12] #3859 closed

[2020-03-19 23:37] dawwa commented on #3497
ping for updates, as we really prefer actionable control rather than hyperlink for better UX

[2020-03-20 07:38] Antti-Leskinen commented on #3745
Hello, I am still waiting for an update? Any news from this?

[2020-03-20 14:59] shalinijoshi19 commented on #3855
@nesalang can you update here please with follow up onhte internal thread and next steps? thanks

[2020-03-20 15:02] shalinijoshi19 commented on #3841
@paulcam206 assigning to you

[2020-03-20 15:08] shalinijoshi19 commented on #3835
Thanks @3GDXC we'll investigate and get back.

[2020-03-20 15:09] shalinijoshi19 commented on #3830
@almedina-ms do you have links to the github issues/productboard feature requests for this ? Any other context esp around the related feature specs for this that can help shed light on what is the nature of the work/cost estimates etc?

[2020-03-20 15:10] shalinijoshi19 commented on #3821
@nesalang assigning to you for follow up here. Please see @Chekrii 's response above. Thanks!

[2020-03-21 14:12] techiebiker opened #3861 "Adaptive Card Error - MS Teams - Invalid Json"
Hi, I have checked the code on adaptive cards designer page. It seems perfect, but when I try to use it in MS teams via MS Flow, it gives below error.

"error": {
"code": "InvalidJsonInBotAdaptiveCard",
"message": "Microsoft.Azure.ProcessSimple.Data.Entities.Exceptions.ProcessSimpleDataException: The specified Teams flowbot adaptive card request is missing or invalid. The tracking Id is '{0}'. ---

[2020-03-21 14:22] Chekrii opened #3862 "[MSTeams]Placeholder is not working in Input.Number"
# Platform
* .Net Core
* Botframework v4

# Host

* MsTeams

Hi All,

Placeholder property is not as expected in Input.Number.

Earlier is was showing the placeholder text but from past few days it is displaying "0" as default.

Please find the Json pf my adaptive card and Screenshot.

<img width="380" alt="Input Number" src="https://user-images.githubusercontent.com/49824279/77228415-518e0e80-6ba

[2020-03-22 04:29] chathudev opened #3863 "[MSTeams][iOS][Accessibility]No decimal point selector for Input.Number"
# Platform

*  iOS
* MSTeams
* .Net Core
* Botframework v4

# Details

Decimal point selector for Input.Number is not available on MSTeams iOS App. This is available on Android.

![IMG_2139](https://user-images.githubusercontent.com/8149625/77242374-b2582e00-6c23-11ea-8936-e73404418a26.PNG)

[2020-03-23 05:28] VikrantSingh01 commented on #3855
@nesalang : Any update in this issue pls. CC - @shbhadra

[2020-03-23 12:31] shbhadra opened #3864 "[Android][Inconsistency with web and iOS] [Invalid value for column width not defaulting to auto in Android]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Android
# Author or host
HOST
# Version of SDK
1.2.6
# Details
Consider the following json
`{
               "type":"AdaptiveCard",
               "version":"1.2",
               "$schema":"http://adaptivecards.io/schemas/adaptive-card.json",
               "body":[
                  {

[2020-03-23 16:43] shalinijoshi19 commented on #3861
thanks @techiebiker can you please share your JSON here?

[2020-03-23 19:55] dclaux opened #3866 "[JS][Templating] Move template engine to AdaptiveExpression"
# Platform

* JavaScript

# Details

Update the JS template engine to use [adaptive-expressions](https://www.npmjs.com/package/adaptive-expressions) instead of the built-in expression parser/evaluator.

[2020-03-23 22:02] nesalang commented on #3855
When there are at least two columns with "auto" width, each columns's width are calculated, and columns will get the proportional  amount when both of them cannot be satisfied.

[2020-03-23 23:00] almedina-ms commented on #3855
in the case of android,  an auto column gives liberty to the contents to use as much space as needed, if there is a long piece of text then it uses the whole parent space while the next columns get none. As can be seen below, this is the result from the different combinations

Column 1: Auto | Column 2: Auto
![image](https://user-images.githubusercontent.com/35784165/77370837-fb40dd00-6d1e-11ea-85

[2020-03-23 23:01] almedina-ms commented on #3855
Also, at some point a more specific calculation as the one performed in Javascript was planned to be performed in UWP but I think we never actually developed it

[2020-03-24 06:20] ranjanraviraj opened #3869 "[Android][Adaptive card UI] [Action buttons jumps on top of adaptive card]"
# Platform
* Android

# Ravi Ranjan

# io.adaptivecards:adaptivecards-android:1.2.7

# Details
a.	Adaptive cards have two buttons to the bottom of a card.
b.	The button appears at the bottom when it renders.
c.	Cards also have an image as an image URL.
d.     Button suppose to be displayed at the bottom, but it jumps on top.

Please see the attachment for adaptive card data and respective screensh

[2020-03-24 06:27] ranjanraviraj opened #3870 "[Android][Adaptive card input data] [Adaptive cards form data doesn't persist once action has been taken]"
# Platform
* Android

# Ravi Ranjan

# io.adaptivecards:adaptivecards-android:1.2.7

Issue
a.	When a user provides inputs to cards all data are seen whatever user has provided as input.
b.	As soon as a user submits an action button on that, a request is submitted to bot with all user input data.
c.	An issue is all user input data are wiped out.

[2020-03-25 00:11] nesalang commented on #3855
@shbhadra, we recommend using "stretch" on the column with "TextBlock", and "auto" on the column with the button in this case. "stretch" will make the TextBlock to adjust its width, and button to have its required width. In general, we don't recommend using more than one column with "auto" width since it will make all of the columns look bad if all of the columns cannot be fit in their superview w

[2020-03-25 00:14] nesalang commented on #3855
@shalinijoshi19 @almedina-ms  @nesalang  to close this issue, we need to update our scheme to better explain what "auto" and "stretch" do with sample json card.

[2020-03-25 08:32] JemmyWong opened #3873 "[Adaptive Card] Does Action.OpenUrl support a custom URL scheme?"
[Your detailed feedback here]
Hi MSFT experts,

We want to use adaptive card **Action.OpenUrl** to open our custom URL(not http/https) to cross launch our app, does it possible? Since we found it doesn't work now.

Thanks.

---
* URL: https://adaptivecards.io/explorer/Action.OpenUrl.html

[2020-03-25 15:01] matthidinger commented on #3873
Hi Jeremy,

- which Host app are you using to render the cards? (Outlook, Teams, your own apps?)
- Which platforms is it failing to run on? All or some? (Web, Android, iOS)

[2020-03-25 17:17] olu1987 opened #3874 "Action.Openurl is not working"
Can't get the button to open up a url. Not in the designer, not in my app. Don't understand what is going wrong.

https://adaptivecards.io/explorer/Action.OpenUrl.html

[2020-03-25 17:55] jpjpjp commented on #3681
HI @dclaux, did this ever make it any further than this conversation?

[2020-03-25 18:03] jpjpjp commented on #3857
I will add a vote for this (and possibly extend it).   Has there ever been consideration of adding some type of `disableAfterFirstClick` type attribute to the Actions?   This would be extremely useful for polls where you only want one entry per user.

To further complicate things I can imagine a couple of flavors of this:
* `disableAfterFirstClickPerUser` - the button would become disabled only in

[2020-03-25 18:22] dclaux commented on #3681
Hi @jpjpjp, I am sorry this is not going faster. I have implemented part of a solution for this - it's in master and [included in the latest templating package on npm](https://www.npmjs.com/package/adaptivecards-templating/v/0.1.1-alpha.1). But at the moment it only works for strings that containg multiple expression, e.g. "{firstName} {lastName}".

The thing is, we will be dropping our custom exp

[2020-03-25 18:23] shalinijoshi19 commented on #3478
Looks like this was an issue wiht the Actionable Messages Designer that should be fixed now. @fuchsdaniel please let us know/reactivate should you cntinue to the see issues in your workflow

[2020-03-25 18:23] #3478 closed

[2020-03-25 19:34] KoradaRajesh commented on #3081
{
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "Container",
            "items": [
                {
                    "type": "TextBlock",
                    "text": "New TextBlock"
                }
            ]
        },
        {
            "type": "Container",
            "items": [
                {
                    "type": "Input.Tex

[2020-03-25 21:46] almedina-ms commented on #3874
Hi @olu1987 ,  could you provide us with a little more detail on what platform are you working on?

I can't talk for all renderers but UWP, Android, iOS and .NET need you to implement the behaviour for actions, depending on the platform that implementation may differ a little bit.

[2020-03-25 21:49] almedina-ms commented on #3870
Hi @ranjanraviraj , is the card hosted in teams or in your own app? Do you have an application I can use to test this behaviour?

[2020-03-25 21:54] almedina-ms opened #3876 "[UWP][Accessibility] Screen reader doesn't announce error message under 'Solitaire.JSON' middle pane."
# Platform
* UWP

# Version of SDK
master

# Details
Repro Steps:​
1. Launch the application.​
2. New screen starts appearing. Navigate to Left pane JSOn files.​
3. Now select "Solitaire.JSON" button. It will update the Middle and Right Pane. Navigate all the elements of both the panes.​
4. Navigate to middle pane and provide invalid input on editor pane.
5. Verify that screen reader is reading er

[2020-03-25 23:19] nesalang opened #3878 "[Templated][Web Site] Add/update user samples"
Template SDK syntax changed, the samples in the web page are needed to be updated.

[2020-03-26 07:12] nayanaramakanth commented on #777
@andrewleader
Is the SVG supported yet in Adaptive cards ?
Please let know.

[2020-03-26 09:07] olu1987 commented on #3874
@almedina-ms - when I use the below json in your designer I get a but button that when clicked nothing happens. I would expect when I click it a tab opens on the browser to url specified (https://adaptivecards.io). Why is this not the case?

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "TextBlock"

[2020-03-26 10:13] JemmyWong commented on #3873
Hi Matt,
I'm using MSFT Teams, it fails on macOS native app and Web, not test on iOS and Android.

Here is my code snippet:
[code]
This scheme **webextel://** has registered in OS, it works in browsers (Chrome, Safari, FireFox).

[2020-03-26 12:38] nesalang commented on #3874
@olu1987,  that is the expected behavior. once Adaptive Cards SDK is integrated to a host app. the host app has to provide handling of events such open url.

[2020-03-26 13:10] #3874 closed

[2020-03-26 13:54] olu1987 opened #3880 "Can TextBlock elements be used within Factset?"
I want to use TextBlock within Factset so that I can make the value attribute of a fact a Hyperlink i.e

{
      "type": "FactSet",
      "facts": [
        {
          "title": "Fact 1:",
          "value": {
            "type": "TextBlock",
            "text": "Check out [Adaptive Cards](http://adaptivecards.io)"
        }....

Is this possible or could it be added as a feature?

[2020-03-26 22:59] almedina-ms opened #3881 "[UWP][Accessibility]After uploading Incorrect file error message is not narrated by Screen Reader."
# Platform
* UWP

# Version of SDK
master

# Details

Repro Steps:
1. Launch the application.
2. New screen starts appearing. Navigate to the top header elements.
3. Now select "Save File" button. It will save the file.
4. Verify the issue.

Actual Result:
After uploading Incorrect file error message is not narrated by Screen Reader.
Screen reader is not announcing anything while error message is

[2020-03-27 00:18] shalinijoshi19 commented on #3869
@almedina-ms would you be able to prioritize looking into this one please? Heads up that I'll be looping you in on a thread ongoing with the customer (JCI) as well.. Thanks

[2020-03-27 00:19] shalinijoshi19 commented on #3870
@almedina-ms I'll be looping you in on a thread with the customer (JCI)  we have ongoing to get more details from them. Thanks !

[2020-03-27 09:51] TejaReddy0226 commented on #3717
We are using Input.Time property in bot and It is not showing 24 hours time format.

[2020-03-27 09:54] TejaReddy0226 commented on #3701
Please can you provide any update on this is it extended to 15 seconds?

[2020-03-27 09:56] Wajeed-msft commented on #3701
@TejaReddy0226 - As @pradeepananth  mentioned - The 15 second timeout setting is not configurable at the moment and there are no immediate plans to extend it.

[2020-03-27 10:21] TejaReddy0226 opened #3882 "[MSTeams][Input.Time] Input.Time property is not showing 24 hours time format."
# Platform

* NET
* Bot Framework V4

# Author or host

* Ms Teams

Hi,

We are using Input.Time property in bot but this property  is not showing 24 hours time format.

Please help with this.

Thanks

![24hoursformat](https://user-images.githubusercontent.com/62458014/77746506-0491b880-7043-11ea-8987-8424c493c242.PNG)

[2020-03-27 16:42] shalinijoshi19 commented on #3862
Thanks @Chekrii for reporting this. I will look into it. @dclaux any ideas on this- based on the description looks like this is Teams Desktop and JS renderer yes?

[2020-03-27 16:44] shalinijoshi19 commented on #3863
@nesalang could you help investigate this one please? Thanks!

[2020-03-27 16:50] shalinijoshi19 commented on #3882
Thanks for reporting @TejaReddy0226.. @dclaux / @susanshen96 / @siduppal I tried the control in adaptivecards.io/designer and noted a 12 hour clock there as well.. Is there a separate configuration on the host that can enable 24 hour format for Input.Time at all or is it something the card author can configure ( I couldn't find anything to help on the schema page here https://adaptivecards.io/expl

[2020-03-27 17:42] srishtisatwah opened #3883 "[MSTeams][Accessibility of Adaptive cards on Mobile] [Random display of Adaptive Cards on Mobile]"
# Platform

* Android
* iOS

# Author or host

Rendering adaptive cards and sending to MS Teams

# Details
We are **using MS Teams developer preview to display adaptive cards (carousal).**
We have made sure the json we send doesn't have empty strings and properties not supported by Teams. It has been woking fine on Desktop.
However, we notice that **order of cards being displayed on mobile is inco

[2020-03-27 17:54] yschang commented on #3054
Hello, is there any update on this feature?

[2020-03-27 18:15] almedina-ms commented on #3786
The inline action element refers to an action defined in a textblock, if you want to try styling for other actions you can try setting a sentiment and overriding that style. On the other hand, I'm also prototyping more native styling for other elements so expect an update soon

[2020-03-27 20:12] Sujit-Gaikwad opened #3884 "[MsTeams][Mobile] [Adaptive card - visibility false is not supporting on mobile device]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
[IsVisibileIssue_ios.txt](https://github.com/microsoft/AdaptiveCards/files/4395694/IsVisibileIssue_ios.txt)

* iOS

# Author or host
MsTeams

# Details

I am using adaptive card Visibility option to show some validation messages in card which i am doing by switching off the visibility at first and then turnin

[2020-03-27 20:47] Sujit-Gaikwad opened #3885 "[MSTeams][Android/Ios] [Adaptive card input.choice set placeholder not getting displayed]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
- [x] Documentation
- [x] Android
- [x] iOS
- [x] UWP

# Author or host

MsTeams

# Details
I used the placeholder property of adaptive cards in the input.Choiceset schema of adaptive cards. I added the placeholder text for the input.Choiceset drop down. The placeholder text was displayed in the desktop teams

[2020-03-27 21:20] Sujit-Gaikwad opened #3886 "[MsTeams][Ios] [Adaptive card Gifs not working]"
# Platform

* iOS

# Author or host

MsTeams

# Details

I want to use gifs(animated images) in adaptive cards in Msteams for ios device. It is working fine for windows desktop MsTeams and android mobile MsTeams but it is displaying as a still image on Ios mobile teams.The gif is not working and it is showing as a still image on ios device. PFA json file for my adaptive card.
[GifAdaptiveCardJson.

[2020-03-27 21:49] Sujit-Gaikwad opened #3888 "[MsTeams][IOS] [Adaptive card image select action not working]"
# Platform

* iOS

#  host

MsTeams

# Details

I wanted to display images which are clickable using adaptive cards select action property  in microsoft teams. I tried for desktop MsTeams and android mobile MsTeams and it worked fine the image clicks were working  and i was getting the expected result.
But on MsTeams for ios mobile the image clicks are not working. I used the select action propert

[2020-03-27 22:45] Sujit-Gaikwad opened #3889 "[Microsoft][MsTeams] [MS teams users conversation cache]"
# Platform

* iOS

# Author or host
MsTeams

# Details

We have good amount of features talking to Graph API where in access token of users will be used to query them. Can you help for how much time MS teams users conversation cache will be retained and refreshed ?

[2020-03-27 23:24] Sujit-Gaikwad opened #3890 "[MsTeams][AdapiveCard] [Adaptive card Support for teams mobile]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS

# Author or host

MsTeams

# Details

Hi all,

While developing bot on teams channel. We are facing some roadblocks with respect to teams support to adaptive card  for mobile (android + iOS ) which can be show stopper for us
please check following list of bugs:

1.	For a better experience,we

[2020-03-29 12:09] chathudev opened #3892 "[MSTEams][iOS][Accessibility]Input.Date default value ignored"
# Platform

- iOS
- MSTeams
- .Net Core
- Botframework v4

# Details

Default value for Input.Date is ignored in MSTeams iOS App. Date picker is not showing any value.

![IMG_2143](https://user-images.githubusercontent.com/8149625/77848685-1e1e3600-71e4-11ea-9a4b-4b4d74e07175.PNG)

[2020-03-29 12:15] #3892 closed

[2020-03-30 07:29] shalinijoshi19 commented on #3869
This was fixed with #3363. Porting it over to 1.2 to include with the 1.2.8 patch.

[2020-03-30 23:04] nesalang commented on #3888
@Sujit-Gaikwad
There is sometimes gap between what SDK (AdaptiveCards) offers, and what's actually being offered in host app (Teams).

Your use case is definitely supported in the SDK.
<img width="348" alt="Screen Shot 2020-03-30 at 3 59 57 PM" src="https://user-images.githubusercontent.com/4112696/77969992-fbe9ee00-729f-11ea-9cf5-9c8cede63127.png">

This is what would look if visibility is set to

[2020-03-30 23:12] nesalang commented on #3884
@Sujit-Gaikwad
There sometime is a gap between what is offered in SDK (AdaptiveCard) and  host app (Teams).
This feature works with SDK as demonstrated below.
<img width="348" alt="Screen Shot 2020-03-30 at 3 59 57 PM" src="https://user-images.githubusercontent.com/4112696/77970411-ff31a980-72a0-11ea-9ed3-1d9495d091b4.png">
With visibility set to true, it would look as below.
<img width="335" alt=

[2020-03-31 00:38] nesalang commented on #3886
@Sujit-Gaikwad
Unfortunately, gif is not officially supported feature.

[2020-03-31 12:29] dchathu opened #3894 "[MSTeams][Desktop] "&" character turns in to "&amp;" in Input.ChoiceSet"
# Platform

* MSTeams - Desktop
* .Net Core
* Botframework v4

# Details

In Teams desktop app, If Input.ChoiceSet contains a Choice with "&" Character in Title, that choice is not rendered properly when selected.

![adaptive card bug](https://user-images.githubusercontent.com/8149625/78026285-fa402900-7378-11ea-93a4-3288ace61f2d.PNG)

It renders properly when the drop-down is loaded. Issues is wh

[2020-03-31 18:39] nesalang commented on #3888
@Sujit-Gaikwad
This is related to #3824
Teams said that it will be fixed in April store release.

[2020-03-31 18:54] nesalang commented on #3880
@olu1987

This isn't a supported feature.

However, you can use markdown in `fact` to add hyperlink.

[code]

![image](https://user-images.githubusercontent.com/4112696/78063925-cdbee980-7345-11ea-9963-fc7fe0dded07.png)

[2020-03-31 18:56] nesalang commented on #3885
@Sujit-Gaikwad
This is not an officially supported feature across the all the renders; we do have a road map for it, but at this point only JS renderer (desktop) supports it.

[2020-03-31 18:58] nesalang commented on #3883
@nesalang
Ask team about carousal feature

[2020-03-31 19:01] nesalang commented on #3889
@nesalang
forward the question to Teams.

[2020-03-31 19:43] bodyzatva commented on #3081
Can anyone tell me if this feature is available ?

[2020-03-31 21:58] nesalang commented on #3890
@Sujit-Gaikwad, please see the inline updates.

1.	For a better experience,we are using adaptive cards for the conversation dialogs. Looks like adaptive cards are not stable in all the platforms especially in IOS. **Can you help do we have any plan or road map for the adaptive cards to be working in all the platforms.** We have raised with engineering team to progress on it.

https://github.com/mi

[2020-03-31 22:01] shalinijoshi19 commented on #3890
@Sujit-Gaikwad thanks for filing this. Could you take a look at @nesalang's detailed response above and create separate issues for separate bugs you notice to make it easier to triage + Track? thanks again. For now, going ahead and closing this out.

[2020-03-31 22:01] #3890 closed

[2020-04-01 02:14] mohamedmansour opened #3896 "Python Templating Support"
Would be great to see templating come to a Python SDK so we can make use of the powerful features of templates like $data and functions

[2020-04-01 03:43] VikrantSingh01 commented on #3855
@shalinijoshi19 , @nesalang : It would be great if we have the same experience across the board for consistency where the same card payload work with all form factor.

[2020-04-01 09:31] Zenulous commented on #3081
This is still slated for the 1.3 milestone. In any case it is currently not available.

[2020-04-01 22:48] matthidinger opened #3898 "[Designer] Improved Host app docs button"
![image](https://user-images.githubusercontent.com/1432195/78193782-2965a180-7430-11ea-9720-953af9c4745d.png)

[2020-04-02 04:26] dchathu opened #3899 "[MSTeams][Desktop]Input.Date today date is not visiblr"
# Platform

* MSTeams
* Desktop

# Details

Today date is not visible in Input.Date on MSTeams Desktop app.

![input date](https://user-images.githubusercontent.com/8149625/78210509-0c7cad00-74c8-11ea-8df8-b1d9317878ea.png)

[2020-04-02 04:40] Wajeed-msft commented on #3701
@TejaReddy0226 - Please let us know if you have any other queries.

[2020-04-02 05:08] Wajeed-msft commented on #3357
@WizX20 - Did you get chance to try out the code? Can we consider this issue closed?

[2020-04-02 07:57] swapnilarsh06 commented on #3884
Even I see this issue. The issue is not with Text Block but with the Action.Submit (Cancel button). It always gets displayed in mobile.

[2020-04-02 10:58] Sujit-Gaikwad commented on #3886
Do we have any roadmap to support it on iOS device

[2020-04-02 11:18] Sujit-Gaikwad commented on #3890
this issue is related to mobile teams
can you guide me on this ??

[2020-04-02 11:52] Sujit-Gaikwad commented on #3884
@nesalang thanks  for your comment.

@swapnilrsh06 we have found this issue on iOS device but the visibility issue for action button is for all mobile platforms.

[2020-04-02 12:55] WizX20 commented on #3357
@Wajeed-msft Hi, my issue was resolved by ditching the background images and reverting to a simpler version of the schema for cards. So, you can close this issue if you like.

Is it fixed? I'm not sure, I still think there are some issues with Adaptive Cards in MS Teams, but I guess those will get resolved over time.

[2020-04-02 17:22] Chekrii commented on #3821
Hi All, Any update on this Issue or any workaround?
Thanks.

[2020-04-03 06:03] Trinetra-MSFT commented on #3740
@varundmishra , Adaptive cards is not supported in webhooks, However you can [send message card ](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using)to work with [webhooks](https://messagecardplayground.azurewebsites.net/)

[2020-04-03 12:20] UncleZen opened #3900 "[ReactNative-iOS]Adaptive Card within a bubble stretching indefinitely"
# Platform

* iOS

# Version of SDK

React Native v. 0.60
RN AdaptiveCard v 2.0.1
RN Gifted Chat v. 0.9.11 (https://www.npmjs.com/package/react-native-gifted-chat)

# Details

While using the AdaptiveCard with a Gifted Chat I am experiencing a problem where the adaptive card within a bubble is stretching vertically indefinitely. Consequently, that is preventing any other bubble to be displayed. I

[2020-04-03 16:42] shalinijoshi19 commented on #3883
@nesalang FYI assigned this to you per our conversation. @siduppal / @VikrantSingh01 FYI in case we need help here (i think @nesalang had questions about the carousel feature?)

[2020-04-03 16:48] shalinijoshi19 commented on #3884
Adding the new MSTeams-Developer-Support label for the Teams workflow bots to pick these up. @Wajeed-msft FYI

[2020-04-03 16:50] shalinijoshi19 commented on #3885
@siduppal / @dclaux could you help with the Desktop aspect of this question (see description above):

[2020-04-03 16:54] shalinijoshi19 commented on #3886
@Sujit-Gaikwad, we are working on fleshing out our roadmap in the backdrop of the pandemic situation and any new requests that we'll need to accomodate but for now please keep an eye out on
 aka.ms/acroadmap for updates! @matthidinger / @dclaux : Here's a request for gif support in AC.

[2020-04-03 16:54] #3886 closed

[2020-04-03 16:56] #3888 closed

[2020-04-03 16:57] shalinijoshi19 commented on #3889
@siduppal / @Wajeed-msft This is for Teams please.

[2020-04-03 17:00] shalinijoshi19 commented on #3899
@dclaux / @susanshen96 ideas on this one?

[2020-04-03 18:36] dclaux opened #3901 "[JS][Templating] Integrate with AEL"
Replace our in-built expression parser and evaluator with Adaptive Expressions
- [x] Code complete
- [x] Integrate into renderer-refactor
- [x] Bug bash
- [x] Test cards?
- [ ] Documentation

[2020-04-03 23:05] murcinar commented on #3802
Hi @shalinijoshi19  Is there any progress/update on this issue? We are still blocked by this and any help is appreciated. Thank you!

[2020-04-05 07:27] Gousia-MSFT commented on #3899
@chathudev Thanks for reaching out. This is a known issue. We have a bug on this.

[2020-04-05 10:44] BalajiR commented on #3900
@UncleZen , I tried your use case where showing Adaptive Cards as bubble message content in react-native-gifted-chat. I'm able to `view all the bubble messages properly` and also the message that contain the card occupies only the height required for its content. `(Attached screenshot) below`

In order to reproduce, can you share the card payload you are using for this ? along with styles(if any)

[2020-04-05 10:54] VikrantSingh01 commented on #3704
https://github.com/microsoft/AdaptiveCards/issues/3703

[2020-04-05 10:54] VikrantSingh01 commented on #3703
@nesalang / @shalinijoshi19 : Any update in this issue ?

[2020-04-05 11:20] Sujit-Gaikwad opened #3903 "[MsTeams][Mobile][iOS][Action.showcard button not getting displayed]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

MsTeams

#Details

HI Team,

I have trying to show two different form in adaptive card by using **action.Showcard** property

this worked fine on desktop and android device but when same thing I'm trying to get on iOS device it not get rendered.

in case of **android device** I'm get

[2020-04-05 12:27] shalinijoshi19 commented on #3903
Thanks for reporting this @Sujit-Gaikwad ... @nesalang can you help take a look please? Thanks!

[2020-04-05 12:36] Trinetra-MSFT commented on #3740
Feel free to reopen this issue

[2020-04-05 13:04] UncleZen commented on #3900
Thanks for the prompt reply @BalajiR. Please see the payload I am using below:

`{
	'type': 'AdaptiveCard',
	'body': [
		{
			'type': 'Container',
			'items': [
				{
					'type': 'ActionSet',
					'actions': [
						{
							'type': 'Action.Submit',
							'title': 'Button #1',
							'data': 'Button #1'
						},
						{
							'type': 'Action.Submit',
							'title': 'Button #2',
							'data':

[2020-04-05 19:37] BalajiR commented on #3900
@UncleZen , Thanks for sharing the payload and other details. Tried few combinations along with this payload and I'm not able to reproduce the issue you mentioned except the below scenario.

The only way where I can reproduce your issue is when i use `contentHeight` prop of `<AdaptiveCard/>` with the value `"100%"`. This prop is used when we want a fixed height for the card, that too as a fixed nu

[2020-04-05 19:54] slinehan commented on #3244
@susanshen96 I am still seeing this behavior in teams.  Was there anything that needed to be done on the Adaptive Card side to address this or should Teams be properly handling it with no changes?

[2020-04-05 20:03] UncleZen commented on #3900
@BalajiR, Thank you very much for your efforts. I can confirm that I am not using the AdaptiveCard's contentHeight prop:

`<AdaptiveCard payload={samplePayload} themeConfig={customThemeConfig} onExecuteAction={this.onAdaptiveCardAction} />`

I am going to test the AdaptiveCard one more time, but this time around out of the context of the application I am working on. I just want to rule out that th

[2020-04-05 20:12] UncleZen commented on #3900
@BalajiR, one more quick thing. I was able to avoid stretching, by enclosing the AdaptiveCard in a View or ScrollView element like:

`
<View style={{maxHeight: 300}}>
<AdaptiveCard payload={samplePayload} themeConfig={customThemeConfig} onExecuteAction={this.onAdaptiveCardAction} />
</View>
`

Obviously, this would not be an acceptable solution for us, because the adaptive cards will be of differe

[2020-04-05 20:22] BalajiR commented on #3900
@UncleZen , Thanks for quick reply  👍

May i know how your are adding the `<AdaptiveCard/>` component into the chat message ?

When i tried the examples, i used `renderBubble` method of gifted chat to customize the content of the bubble with AdaptiveCard.

Issue might be because of any wrapper component from our side OR from gifted chat component itself (not sure though).

Below is the way how i a

[2020-04-05 20:40] UncleZen commented on #3900
@BalajiR, First I used the renderCustomView and then I tried renderMessageText. In both cases the outcome was the same. Very similar to your code:

` // message renderer for gifted chat bubble
  renderCustomView = (props) => {
    const isCard = props.currentMessage.isCard;
         if (isCard) {
           return (<AdaptiveCard payload={payload} themeConfig={themeConfig} />)
        } else {

[2020-04-06 06:34] Subhasish-msft commented on #3889
@Sujit-Gaikwad , Are you talking about the validity of access token and refresh token for calling graph API?

[2020-04-06 11:45] mrestorff opened #3905 "[JS][MsTeams] Click-to-call hyperlinks in Action.OpenUrl buttons don't work in MS Teams"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host
* Author

If you're an author, who are you sending cards to?
* MS Teams

# Version of SDK
npm 1.2.5

# Details

When sending an adaptive card with an Action.OpenUrl button from a bot (using MS Bot Framework), click-to-call hyperlinks ('tel:+12345') do not work in MS Teams - nei

[2020-04-06 12:17] BalajiR commented on #3900
@UncleZen,
Issue is because of the `<ScrollView/>`'s behaviour used inside AdaptiveCard component.

**Temp Solution :**
When i wrap the card with `<View/>` with style as `{flexBasis: 0}`, the card occupies the height based on its content only 👍
This is one way of controlling the card's container layout.

[code]

**Proper Solution :** (Not yet available as of RN renderer **2.0.1**)
Would be nice to

[2020-04-06 14:05] UncleZen commented on #3900
@BalajiR
First off, I'd like to thank you for your efforts in finding the solution to this issue.

I just tested the temp solution you suggested and worked very well. We will adopt solution in our project until such a time when we can control the root component styles via containerStyle prop.

Thanks again,
Zen

[2020-04-06 16:08] neittien0110 commented on #3689
I had the same issue. I fixed this bug.

In my case, I created an **empty action**. I paste the card json in this URL to check
`[https://adaptivecards.io/visualizer/index.html?hostApp=Microsoft%20Teams]
This tool verified the json an announce an issue as below
![image](https://user-images.githubusercontent.com/8079397/78579468-2a953500-785b-11ea-9250-423ea0b3b6b5.png)
Deleted the empty action
![im

[2020-04-06 16:28] shalinijoshi19 commented on #3900
@BalajiR thanks for engaging on this so promptly! Is this something that you have a PR out for ? What's the next steps for the Proper solution you quote above?

[2020-04-06 17:41] shalinijoshi19 commented on #3869
@ranjanraviraj , FYI that thisis now released. Closing this issue out. Thanks.

[2020-04-06 17:41] #3869 closed

[2020-04-06 17:46] nesalang commented on #3903
@Sujit-Gaikwad

Hello,

Thanks for sharing the issue with us.
Can you share what version of iOS Teams app you are using?

@Aditya0603
Hi Aditya,
Can you take a look at this issue?
On SDK side, this card works as below.
<img width="354" alt="Screen Shot 2020-04-06 at 10 11 56 AM" src="https://user-images.githubusercontent.com/4112696/78588550-b4111c80-77f3-11ea-9e2c-5f1eab49e3da.png">
<img width="3

[2020-04-06 17:58] Sujit-Gaikwad commented on #3903
@nesalang : this version of iOS and teams app we are using

**iphone 6**
version - 12.4.5
ms teams app version - 2.0.2

**ipad mini**
version - 12.4.5
ms teams app version -2.0.2

[2020-04-06 18:16] BalajiR commented on #3900
@shalinijoshi19,
Yes. As mentioned above, the temp solution is one right way for the developers to control  container styles of card element.

Reg PR, the team is currently working on few planned items (listed by @Vasanth-S in the email thread) that target RN renderer `release 2.1`. This extra style prop requirement is already added to the same list and will be part of 2.1

[2020-04-06 19:07] nesalang commented on #3883
@Aditya0603

Hi Aditya,
Can you check this issue? AdaptiveCards SDK doesn't support carousal feature, it would be nice to k now how this feature supposed to work.

Thank you

[2020-04-06 19:19] nesalang commented on #3884
@swapnilarsh06 @Sujit-Gaikwad
Hi,
"isVisible" property is not supported feature in Actions.
Please take a look at [the documentation](https://adaptivecards.io/explorer/Action.OpenUrl.html)

@Aditya0603 @adumrewal
Could you please let us know if "isVisible" property is currently supported in Mobile Versions? If not, could you please share the ETA?

Thank you.

[2020-04-07 07:55] Subhasish-msft commented on #3884
@Sujit-Gaikwad ,
I am able to render the given adaptive card json in ios.

IsVisible: false
![image](https://user-images.githubusercontent.com/56869764/78643967-bf874500-78d2-11ea-8963-6d7a27effdfc.png)

IsVisible: true
![image](https://user-images.githubusercontent.com/56869764/78643877-9797e180-78d2-11ea-937d-feaec71b5f29.png)

Can you please share below details?
Ms Teams version in mobile:
ios

[2020-04-07 08:00] Sujit-Gaikwad commented on #3884
Hi @Subhasish-msft,
This version of iOS and MS Teams app we are using
iphone 6
version - 12.4.5
ms teams app version - 2.0.2
ipad mini
version - 12.4.5
ms teams app version -2.0.2

[2020-04-07 08:38] Sujit-Gaikwad commented on #3889
@Subhasish-msft It will helpful is if you give clarity  on below points :
1. validity of access token
2. will it automatically refreshed?
     a. if **yes** what will be validity after refresh
3. is there any way to know the token expiry before it get expired ?

[2020-04-07 10:27] Subhasish-msft commented on #3884
@Sujit-Gaikwad ,
Can you please update to the latest version of Ms Teams and try again.

[2020-04-07 11:33] Subhasish-msft commented on #3889
Here are the answers :
1. Access token expires in 60 mins
2. No, User must refresh them by providing the `refresh_token`.
   a. After refresh, a new access token will be granted with 60 mins validity. Azure allows an access-token to be refreshed using the `refresh_token` for a maximum period of time of 90 days
3. Not exactly any direct mechanism, but you can cache the last refreshed/granted time o

[2020-04-07 12:19] sgiulianiamius opened #3907 "Adaptive Card and webhook connector (When?)"
**What platform is your feature request related to? (Delete other platforms).**
Provide Adaptive card support to webhook connectors

**Is your feature request related to a problem? Please describe.**
We need webhook to support ActionCard(s). There are so many businesses that need them so badly.
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/35793883-adaptive-cards-webhooks?p

[2020-04-07 15:25] VCJames commented on #3701
Hello,

I am encountering this issue, myself. My application is based on the BotFramework v4 SDK, in Python, and I am verbose logging requests before the SDK is called (aiohttp level). There is no logging of requests coming in. Additionally, I've checked TCP level logs from my firewall in front of the API server. When I encounter this, no incoming handshakes or requests took place.

Attached is th

[2020-04-07 17:40] sgiulianiamius commented on #3740
Hi guys,
how's the situation here? When will this functionality be released?
Is there at least a way to simulate a NxN table with Message Card?
Thanks

[2020-04-07 22:28] JohnnyKehr opened #3908 "[iOS][Custom Rendering] Crash occurs when using custom input renderer in Swift"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host
Host on Webex Teams

# Version of SDK
AdaptiveCards@v1.2.6

# Details

1. Given a basic custom text input renderer implementation (copied almost exactly from the examples in the documentation):

[code]

2. And then registering it in the view that's presenting the rendered card:

[code]

[2020-04-08 01:32] jwoo-msft opened #3909 "Write test cards that exercise all template library features"
Template test cards go to
samples/Templates/tests
Template scenario cards go to
samples/Templates/Scenario

[2020-04-08 21:34] nesalang commented on #3863
fixed via #3879

[2020-04-08 21:34] #3863 closed

[2020-04-09 06:40] nesalang commented on #3908
@JohnnyKehr,

Thanks for reporting.

Could you try the branch, jwoo/ios-swift-input in [this PR](https://github.com/microsoft/AdaptiveCards/pull/3912)?

Thank you

[2020-04-09 08:56] #3357 closed

[2020-04-09 10:30] Wajeed-msft commented on #3701
Could you please share the Bot id and timestamp when it happened?

[2020-04-09 16:50] okulygin commented on #3497
do we have any updates on this ?

[2020-04-09 19:12] dclaux opened #3914 "[JS][Renderer][Accessibility] Action.OpenUrl rendered buttons should have the "link" aria role"
# Platform
* JavaScript

# Details
Currently all actions get renderered as <button> elements with role "button". When a button opens a link, as is the case for Action.OpenUrl, it should have the "link" role instead.

[2020-04-10 12:34] VCJames commented on #3701
Bot ID beeb8348-6434-465e-b224-7588211b7636
Timestamp I do not have but I wrote the post as it had happened.
I made the post at 4/7/20 at 11:25 AM EDT so very close to 4/7/2020 15:15 UTC
(and also a handful of other instances in the ~90 minutes prior to making the post)

Cheers

[2020-04-10 16:38] NxP4Code commented on #2448
It is possible to have dynamic number of rows? e.g. in the Expense report template is fixed for 3 rows, is it possible to have one template row and expand it based on input array of rows?

[2020-04-10 17:30] #3826 closed

[2020-04-10 17:30] #3881 closed

[2020-04-10 17:33] JohnnyKehr commented on #3908
Hey Joseph -- I tried out your change and the crash no longer occurs (and inputs are still passed along as expected).  I appreciate the quick turnaround!

Johnny

[2020-04-10 18:12] vbvbvbv opened #3915 "[iOS] Rendering of Flow adaptive card in Teams breaks if @mentions are used"
# Platform
* iOS

# Author or host
Teams for iOS (v 2.0.5 ring3_9)

# Details
Using Flow "Post your own adaptive card as the Flow bot to a channel" with mentions breaks down formatting on Teams for iOS while absolutely fine in desktop version of Teams. Using sample JSON from this example of formatting: https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-form

[2020-04-10 18:30] shalinijoshi19 commented on #3915
Hey @VikrantSingh01 FYI this looks to be for Teams mobile.. Would you be able to take a quick look? Thanks.

[2020-04-10 18:40] vbvbvbv commented on #3915
@VikrantSingh01 i am msft internal, if it's easier to show issue directly, let me know if I can ping you in Teams.

[2020-04-10 20:58] compulim commented on #2236
Fixing this one should partially/fully fix the following issues:
- https://github.com/microsoft/BotFramework-WebChat/issues/3084
- https://github.com/microsoft/BotFramework-WebChat/issues/3086

[2020-04-10 21:07] compulim opened #3916 "[JS][Renderer] Unnecessary `aria-label` on `ac-pushButton`"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

We are Bot Framework Web Chat.

# Version of SDK

Web Chat 4.8.0 is using Adaptive Cards 1.2.5, https://github.com/microsoft/BotFramework-WebChat/blob/v4.8.0/packages/bundle/package.json.

# Details

This is an accessibility bug filed to Web Chat and should be moved to AC. I a

[2020-04-10 21:17] mdtauk opened #3917 "[Windows/UWP] WinUI support for Windows"
**What platform is your feature request related to? (Delete other platforms).**

* UWP
* WinUI Desktop

**Is your feature request related to a problem? Please describe.**
Are there any plans to add/move to support WinUI over WUXC for future versions

**Describe the solution you'd like**
Stop using the soon to be deprecated Windows.UI Xaml, and move to WinUI 2.x and 3.x in the future.

**Additional

[2020-04-10 21:47] shalinijoshi19 commented on #3917
Hi @mdtauk; Yes infact we've been talking about this internally esp with regards to pulling in some key accessibility fixes we'd need that are in WinUI but not backported i believe into the Windows.UI.Xaml version(https://github.com/microsoft/AdaptiveCards/projects/15#card-32415361). Thanks for filing this though since it just helps push this up in our consideration list. @RebeccaAnne / @paulcam20

[2020-04-10 21:50] mdtauk commented on #3917
Glad to know it is under consideration.  I am not sure if the Windows 10X shell is using AdaptiveCards like the Windows 10 Timeline feature does, but it would be nice to see it used more in the OS.

[2020-04-10 21:53] matthidinger commented on #2448
Hi @nxp4code, does this answer your question? https://docs.microsoft.com/en-us/adaptive-cards/templating/language#repeating-items-in-an-array

[2020-04-10 22:03] shalinijoshi19 commented on #3916
@dclaux initial thoughts on this  ?

[2020-04-10 22:15] dclaux commented on #3916
While the aria-label is indeed unnecessary, what adverse effect is there to having it there anyway? In other words, does this actually causes a degraded accessibility experience?

[2020-04-11 00:21] shalinijoshi19 commented on #3864
@jwoo-msft / @almedina-ms This wasnt shipped as part of AdaptiveCards 1.2.8 - what's the current status on this?

[2020-04-11 09:37] Sujit-Gaikwad opened #3918 "[MSTeams][Desktop/Mobile] [Scroll bar is not visible in list card]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS

# Author or host

MsTeams

# Details

Hi All,

We are using list card (same as we are getting in Microsoft who bot). the card is getting rendered in teams  but **Scroll bars not visible in the list card.** Users are able to scroll only using mouse or even using button.

[2020-04-11 22:16] shalinijoshi19 commented on #3918
@jwoo-msft thoughts on this one? @Sujit-Gaikwad thanks for filing the issue separately.

[2020-04-13 02:09] abbodh commented on #3225
Has someone found out the solution?

[2020-04-13 13:05] cryptic-ai commented on #3740
Just going to +1 this. It would be nice to have Adaptive Cards in webhooks.

[2020-04-13 13:25] SiarheiKuchukBelitsoft opened #3919 "[Android] [Accessibility] Showing card actions horizontally when there're not enough space"
# Platform
* Teams for Android

# Author or host

Bot sends card to user

# Version of SDK

Node.JS package
botbuilder version 4.7.2

# Details

Steps to reproduce:
1. Open **Teams** and install **Microsoft Apps Studio**
2. Go to **App Studio**, click **New Card** and paste the JSON below
`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "versi

[2020-04-13 15:11] SiarheiKuchukBelitsoft commented on #3882
Can it be linked with https://bugs.chromium.org/p/chromium/issues/detail?id=1051505 ?

[2020-04-13 16:03] DavidStrickland0 opened #3920 "UWP Style and Layout default SubmitAction style is white on white."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Author or host

If host, please specify the corresponding host (app) name.
UWP

If you're an author, who are you sending cards to?
UWP

# Version of SDK
AdaptiveCards.Rendering.Uwp 1.2.8

# Details
Have a Basic 1 page UWP App Im using the AdaptiveCardRenderer as follows:

[code]

If I run this no Ac

[2020-04-13 16:15] DavidStrickland0 commented on #3920
Repo Code
[AdaptiveCardDemo.zip](https://github.com/microsoft/AdaptiveCards/files/4470414/AdaptiveCardDemo.zip)

[2020-04-13 16:22] VikrantSingh01 commented on #3864
@jwoo-msft / @Shalini-MSFT : Pls. get this prioritised.

[2020-04-13 17:06] shalinijoshi19 commented on #2236
This is also been identified as part of our Accessibility test pass ADO #23950535

[2020-04-13 17:39] shalinijoshi19 commented on #3916
FYI that this code was added specifically to aid Accessibility for outlook WebApp. Need to ensure that any changes here don't end up breaking them. @compulim could you help clarify how much of a blocker this bug is (see also @dclaux's comment above).

[2020-04-13 17:51] shalinijoshi19 commented on #2256
Input.Date does have a [placeholder property] (https://adaptivecards.io/explorer/Input.Date.html) though there was a bug in the JS renderer that didn't surface it; What's remaining is to port the change over from @dclaux's branch into release/1.2 code base.

[2020-04-13 17:57] shalinijoshi19 commented on #2242
We need to follow up here with our Accessibility team on this one since it's unclear how AC should be fixing this. @dclaux / @matthidinger for FYI.

[2020-04-13 18:02] VikrantSingh01 commented on #3855
@shalinijoshi19 : Can we update the next steps here pls.  CC -  @anujb

[2020-04-13 18:03] DavidStrickland0 commented on #3920
As an addendum
`        <SolidColorBrush x:Key="Adaptive.Action.Positive.Button.Foreground" Color="#FFCB4040" />`
appears to alter the appearance of the Positive but
`        <SolidColorBrush x:Key="Adaptive.Action.Default.Button.Foreground" Color="#FFCB4040" />`
and
`        <SolidColorBrush x:Key="Adaptive.Action.Button.Foreground" Color="#FFCB4040" />`
seem to have no effect. Might just be doin

[2020-04-13 18:04] shalinijoshi19 commented on #2236
@shalinijoshi19 to sync with @dclaux on getting this fixed.

[2020-04-13 18:06] shalinijoshi19 commented on #2241
@shalinijoshi19 to pick up @dclaux's comments from the corresponding ADO item

[2020-04-13 18:09] shalinijoshi19 commented on #2240
@dclaux wasn't able to repro this real quick. @corinagum is this somethign that is still repro'ing for your team?

[2020-04-13 18:12] shalinijoshi19 commented on #2239
@shalinijoshi19 to follow up see if there is a dup in ADO that @dclaux had triaged earlier last week.

[2020-04-13 18:13] shalinijoshi19 commented on #2238
This is tracked by vNext as part of the inputEvolution/Labels work we are doing. @almedina-ms, @dclaux FYI.

[2020-04-13 18:15] shalinijoshi19 commented on #2237
@shalinijoshi19 to follow up on potential dup that @dclaux triaged in ADO last week.

[2020-04-13 18:31] susanshen96 opened #3922 "[.NET][Adaptive card not rendering large images]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML

# Author or host
* Microsoft Teams

If you're an author, who are you sending cards to?
* Sending cards through Flow to Microsoft Teams

# Version of SDK
* 1.2.4

# Details
A card being sent by the Flow bot contains an image that seems to be exceeding the .NET upper bound for image sizes. The pre

[2020-04-13 18:40] susanshen96 commented on #3244
@slinehan Teams should be handling this - I checked on desktop and it seems that the 'light' color is being handled properly on dark theme. Are you still seeing this on desktop?

[2020-04-13 18:57] #3876 closed

[2020-04-13 19:13] #3838 closed

[2020-04-13 19:31] #3842 closed

[2020-04-13 19:45] almedina-ms opened #3923 "[UWP][Accessibility] Incorrect name is defined for all json files at left panel."
# Platform

* UWP

# Version of SDK

master

# Details
Repro Steps:
1. Launch the application.
2. New screen starts appearing.
3. Navigate to Left pane JSON files.​
4. Navigate to various json file like Activity Update.JSON, Agenda.JSON etc. at left panel.
5. Verify name of json file like Activity Update.JSON, Agenda.JSON etc. at left panel.

Actual Result:
Incorrect name = "AdaptiveCardVisualizer

[2020-04-13 19:46] almedina-ms commented on #3923
duplicate, sorry

[2020-04-13 19:46] #3923 closed

[2020-04-13 19:52] #3850 closed

[2020-04-13 22:15] productboard-ac opened #3924 "Input.ChoiceSet auto complete"
## Summary

When there are thousands of choices in a menu (like assigning a task to someone, when there's thousands of people in your org), you need to have a searchable select menu that dynamically loads data as the user searches (since including 1,000 or more choices statically in the card/data isn't a good option).

---

**Status**: Proposal Approved

---

![](https://cdn.productboard.com/produ

[2020-04-13 22:15] productboard-ac commented on #3924
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/2053265

[2020-04-13 22:58] jwoo-msft commented on #3918
@Sujit-Gaikwad
As AdaptiveCards doesn't have list card, I presume this is a Teams' feature. Can you share your actual paylaod? if you can copy & paste directly to the comment section and wrap them with triple `, that will be great, and can you share an image that shows what is a expected behavior.
Thank you

[2020-04-13 23:05] jwoo-msft commented on #3919
@SiarheiKuchukBelitsoft
Thanks for sharing this info.
The behavior you desired is supported via HostConfig. The hostconfig is managed by host app, in this case, it's Teams Mobile app.

The buttons are actually horizontally scrollable although it's missing the scroll bar indicator. @shbhadra, is there a plan for adding a scroll bar for actions?

[2020-04-13 23:09] jwoo-msft commented on #3908
It's my pleasure

[2020-04-14 01:55] NxP4Code commented on #2448
@matthidinger , It kind of helps only when you know exact rows before building template. E.g. https://adaptivecards.io/samples/ExpenseReport.html , in here you need to know before creating template there are 3 rows in dataset, If I am planning to store static template file and than generate complete json based on incoming data.

In real-life its difficult to fix number of rows in template, lets sa

[2020-04-14 02:24] matthidinger commented on #2448
@NxP4Code that should work no problem, just set the "$data" property to an array and that adaptive card element will be repeated for each object in the array. If you can send your example card and data format with private information removed I can try to help more specifically

[2020-04-14 09:45] SiarheiKuchukBelitsoft commented on #3919
@jwoo-msft, The same behavior I observe for Teams for IOS.

[2020-04-14 14:47] diegoeliassantos opened #3926 ""$when" condition doesn't work as expected with array and text"
Hi,

I need to use "$when," and I have tried a lot of different things, and the results are not as expected.

My goal is to attach $data to a FactSet, filter when certain conditions in an array, and then show the results in a Fact.

This is my JSON;

{
  "id": "XXXXX",
  "name": "XXXXX",
  "autonumbering_sequence_name_prefix": "XXXXX",
  "date_created": "2020-04-13T13:34:58.762211Z",
  "date_modif

[2020-04-14 17:18] NxP4Code commented on #2448
@matthidinger , Thanks for your offer and support. I will try to play with it, I got the core data ready working on creating template. If I have any challenge I will post it here.

[2020-04-14 17:54] NxP4Code commented on #2448
@matthidinger

Is it possible to update the expense report template to use templating and data binding at appropriate places in a designer? It seems the Data context is not set and editing sample data doesn't change anything on the card. It seems the card is pretty much static.

![image](https://user-images.githubusercontent.com/56322272/79257205-ed2e3a00-7e4e-11ea-8293-41e874a5632c.png)

[2020-04-14 18:41] dclaux commented on #2448
@NxP4Code an update to the designer is coming - no ETA, but we're getting there. You can see a preview of it at https://vnext.adaptivecards.io/designer

[2020-04-14 18:41] corinagum commented on #2240
@shalinijoshi19, thanks for the ping. Asking @compulim to look into this one, he will get back to you. :)

[2020-04-14 19:08] NxP4Code commented on #2448
I got this working in the current version. what is are the enhancements in the new version?

The issue was the data array needs to be explicitly called with root context. e.g. {$root.arrayofObjectorArray}
![adaptivecard](https://user-images.githubusercontent.com/56322272/79263766-0c31c980-7e59-11ea-9874-b0e130dd078f.gif)

Also, I noticed that the data structure panel was not getting updated with s

[2020-04-14 19:10] dclaux commented on #2448
The new designer has an updated sample picker and enhanced data binding support. The Data Structure pane is also gone.

If you're successful with the current designer no need to look into the new one for now.

[2020-04-14 20:15] BalajiR commented on #3926
@diegoeliassantos
Based on my debugging, the `$when` expression within `iteration` is not having the context of that particular iteration. So, the condition expression fails since the parser can't find the properties provided.  `Not sure` this is something implemented intentionally `OR` changes to provide current iteration context to `$when` expression is yet to be implemented.

For your case, I w

[2020-04-14 22:27] dclaux commented on #3926
@BalajiR I fixed this not too long ago. Are you using [0.1.1-alpha.1](https://www.npmjs.com/package/adaptivecards-templating/v/0.1.1-alpha.1)?

[2020-04-15 00:46] almedina-ms opened #3927 "[UWP][Accessibility] Name attribute is not defined for 'Spider' image under 'Solitaire.JSON' list item."
# Platform
* UWP

# Version of SDK
master

# Details

Repro Steps:​
1. Launch the application.​
2. New screen starts appearing. Navigate to Left pane JSOn files.​
3. Now select "Solitaire.JSON" button. It will update the Middle and Right Pane. Navigate all the elements of both the panes.​
4. Verify alt of 'Spider' image control by using accessibility insights for desktop.

Actual Result:
Name attr

[2020-04-15 01:33] almedina-ms opened #3929 "[UWP][Accessibility] Name attribute is not defined for image under 'SportingEvent.JSON' right pane."
# Platform
* UWP

# Version of SDK
master

# Details
Repro Steps:​
1. Launch the application.​
2. New screen starts appearing. Navigate to Left pane JSOn files.​
3. Now select "SportingEvent.JSON" button. It will update the Middle and Right Pane. Navigate all the elements of both the panes.
4. Verify alt of 'Shades and skins' image control by using accessibility insights for desktop.

Actual Resul

[2020-04-15 05:39] Trinetra-MSFT commented on #3708
@jwoo-msft , @shalinijoshi19 , We are aware of this, We have plan to roll out sending and receiving files support for mobile, but we don't have ETA to share with you.

[2020-04-15 06:43] BalajiR commented on #3926
Yes @dclaux, I used the version 0.1.1-alpha.1. Hope this is the latest alpha version.

[2020-04-15 14:01] Wajeed-msft commented on #3701
@VCJames - Do you have load balancer for your bot endpoint?

[2020-04-15 17:45] jwoo-msft commented on #3926
@diegoeliassantos
This use case should work.

I see few mistakes in your json payload, and this is the corrected form. Notice characters in bold.
[code]

Assuming this is a fragment from a valid AdaptiveCards, I think the below what you wanted.
[code]

[2020-04-15 17:48] VCJames commented on #3701
@Wajeed-msft behind a pfSense firewall there is an HAProxy LB, yes. There is only one bot endpoint.

[2020-04-15 17:57] emelyanovkirill opened #3930 "[iOS 13.3][ACRRenderer freezes UI thread]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host

Microsoft

# Version of SDK

CocoaPods, 1.2.7

# Details

ACRRenderer.render() method cannot be performed in non-UI thread. But when it is performing, my UI thread freezes 0.2-0.5 sec.

[2020-04-15 17:57] BalajiR commented on #3926
@jwoo-msft ,
It is not working for the same context reason which i mentioned in previous comment. (at least with the 0.1.1-alpha.1 version of templating lib)

[codesandbox example](https://codesandbox.io/s/silly-wiles-w5qqq?fontsize=14&hidenavigation=1&theme=dark)

[2020-04-15 18:22] jwoo-msft commented on #3930
@emelyanovkirill
Hi,
Have added resource resolver to your renderer? We use resolvers for image downloading, and etc.
Here is [an example]( https://github.com/microsoft/AdaptiveCards/blob/master/source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m#L120-L124)

[2020-04-15 18:28] compulim commented on #2240
![image](https://user-images.githubusercontent.com/1622400/79374316-1a8ced80-7f0c-11ea-962a-3fd4c31cf76c.png)

It is still repro.

AFAIK, if the action is a link, e.g. `Action.OpenUrl`, it should have `role="link"` instead of `role="button"`.

BTW, quick way to test AC in Web Chat (we use AC 1.2.5):

1. Navigate to https://compulim.github.io/webchat-loader/
1. Select "4.8.0"
1. Click on preset "[P

[2020-04-15 18:43] emelyanovkirill commented on #3930
I have not classes with ADC prefix. How can I get it?

[2020-04-15 18:50] almedina-ms opened #3931 "[UWP][Accessibility] Name attribute is not defined for image under Agenda.JSON file."
# Platform
* UWP

# Version of SDK
master

# Details
Repro Steps:​
1. Launch the application.
2. New screen starts appearing. Navigate to Left pane JSOn files.​
3. Now select "Agenda.JSON" button. It will update the Middle and Right Pane.
4. Set to scan mode by using Caps + Space keys.
5. Now, navigate to image section at right pane.
6. Verify alt of image.

Actual Result:
Name attribute is not de

[2020-04-15 18:53] jwoo-msft commented on #3930
If you mean ADCResolver, you have to implement your resolver. You can use the sample resolver defined in [ADCResolver.m](https://github.com/microsoft/AdaptiveCards/blob/master/source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ADCResolver.m) and [ADCResolver.h](https://github.com/microsoft/AdaptiveCards/blob/master/source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ADCResolver.h)

[2020-04-15 19:28] almedina-ms opened #3932 "[UWP][Accessibility] Focusable sibling elements must not have same and localized control type."
# Platform
* UWP

# Version of SDK
master

# Details

Repro Steps:​
1. Launch the application.
2. New screen starts appearing. Navigate to Left pane JSON files.​
3. Now select "ExpenseReport.JSON" button. It will update the Middle and Right Pane.
4. Navigate to amount section like (Air Travel Expense $300, Auto Mobile Expense $100) etc. at right pane.
5. Verify name of each amount.

Actual Result:

[2020-04-16 07:12] vigneshp826 commented on #1737
@shalinijoshi19 any update on this feature?

[2020-04-16 07:35] alfa2267 opened #3934 "[Designer] Needs to be more flexible and intuitive"
- It has some great basic features, but I would like to see a lot more flexibility and a wider selection of css design elements. I always end up using JSfiddle to debug the json code, due to a more user friendly experience especially when it comes to counting columns/ character positioning.

- Colour picker

- Microsoft icons (that can be used to signify what the card is relating to, rather than a

[2020-04-16 09:25] emelyanovkirill opened #3935 "[iOS][Incorrect height]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host

Microsoft

# Version of SDK

CocoaPods, 1.2.7

# Details

When I add AdaptiveCard view in UITableView cell, cell height more than adaptive card height, an empty area in the middle of the cell.
Height is correct in 1.2.4 version, what I had before.

[2020-04-16 10:08] sonu-create opened #3936 "Microsoft Carousel Cards not displayed sequentially in teams ios app"
Hi All,

I created a chatbot in ms teams and i had carousel acrd with virtual tour of bot and other use cases for which i use carousel cards, its all when i check in windows and android teams app.

But when i check from ios device like 8+, 10 etc ... the carousel cards does not display sequentailly , card 1 displays at 10 and card 8 at first place and so on.

Please help. attached sample pay load

[2020-04-16 10:18] emelyanovkirill commented on #3930
Started to load faster, but still feel small brakes when scrolling collection view horizontally with reusable cells where the ACRRenderer.render() method is called every time. Сan I fix this somehow?

[2020-04-16 10:26] #3936 closed

[2020-04-16 10:27] sonu-create commented on #3936
it got closed with teams update

[2020-04-16 10:55] sonu-create opened #3937 "MicrosoftTeams ,Smileys created in MS Teams chatbot is not aligned per the users device"
Microsoft Teams Cards ,

I have created a chat bot in teams and have a adaptive card with three smiley icon and buttons to it. It displays well in a normal desktop teams app , but since we have given fixed width it does not work well when viewed from ios or android device.

so need your help here to know what changes to be done in below payloa d, so that the smiley and button is auto aligned per d

[2020-04-16 15:40] Sujit-Gaikwad opened #3938 "[MsTeams][Mobile/Desktop] [New feature support for adaptive card]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Desktop
* Android
* iOS

# Author or host
MsTeams

# Details

Some of the frequently used actions by a user is to be able to tag a person, upload files during the conversations. Can we have this core features as a part of adaptive cards ? Pain point or impact from the user experience point of view to be ab

[2020-04-16 17:13] jwoo-msft commented on #3935
@emelyanovkirill
If you follow [the self-sizing table view cell](https://developer.apple.com/library/archive/documentation/UserExperience/Conceptual/AutolayoutPG/WorkingwithSelf-SizingTableViewCells.html), it should work for you.

[2020-04-16 18:32] jwoo-msft commented on #3930
There are few things you can try.
Try with cards that has only text elements, and see if this help you, this will be your baseline.
Try with cards with images. Take note if there are any differences between the two types of cards. If you notice significant differences between the two, you may consider caching the images.

Try re-use rendered card as much as possible. In your UITableView, render th

[2020-04-16 18:38] rp-dev commented on #2236
@shalinijoshi19 is there an ETA on the fix and when that'd be available in the release.

Thanks
Rohini

[2020-04-16 20:07] emelyanovkirill commented on #3935
Yes, but v1.2.4 works correctly, but v1.2.7 is not :(

[2020-04-16 20:10] bottekott opened #3939 "[iOS][MSTeams][PowerAutomate] Adaptive card with subcard only returns data from subcard"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host
MSTeams

# Details
I'm building a flow in Power Automate with the action "Post an Adaptive Card to a Teams user and wait for a response" action.
The card has a main card, and a sub card. Both cards have input fields and submit actions. It works great everywhere except on iOS devices.

[2020-04-16 20:25] murcinar opened #3940 "[.NET HTML][Accessibility] [Input.Date Accessibility Issues]"
# Platform
* .NET HTML

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? Host, Finance Digital Assistant

# Version of SDK
4.6.2

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...
Nuget

# Details
We received an accessibility bug on our application where the Input.Date date picker control of the Adaptive Cards

[2020-04-16 21:19] YannickRe commented on #3922
Since @susanshen96 is reporting this since I raised the issue with the Teams Product Group, I took a deep dive into what could be the code issue here 😀.

I'm trying to post an Adaptive Card from Power Automate into Teams, in Power Automate I input JSON. In this JSON I enter my images as datauri and not as links. Sometimes this works and sometimes the image is just stripped out of the card, breakin

[2020-04-16 23:27] shalinijoshi19 commented on #2236
@dclaux for updates here. Thanks

[2020-04-16 23:38] dclaux commented on #2236
I have been looking at this today and here are my findings:
- The apparently desired behavior calls for removing the tab stop on the root card container
- That would indeed be a better for anyone that has no disability and is able read and see the card
- But removing that tab stop makes narrator not stop on the card, and thus not read it. That seems really bad to me when it comes to actual accessi

[2020-04-16 23:39] shalinijoshi19 commented on #2236
@compulim FYI; please take a look at @dclaux's response above..

[2020-04-16 23:42] murcinar commented on #3940
Hi @shalinijoshi19 , I would appreciate if you can provide us help with this. Please let me know if you have any questions. Thank you!

[2020-04-16 23:58] rp-dev commented on #3916
Per customer " It is P4/Low.  There is no user impact. The mark up does not look clean, hence it was reported.  It is OK to not fix this. "

Adaptive card team can decide whether it needs to be fixed or not. Thanks.

[2020-04-17 00:00] #3723 closed

[2020-04-17 06:21] #3935 closed

[2020-04-17 09:12] emelyanovkirill commented on #3930
Thanks!
How can I find out the actual height of ACRView? It always has bounds (0,0, kACRWidth, 0), even after rendering and adding to view hierarchy?

[2020-04-17 12:33] Wajeed-msft commented on #3701
Does traffic lands on the firewall before hitting the proxy?

[2020-04-17 13:22] VCJames commented on #3701
@Wajeed-msft correct.

[2020-04-17 15:37] shalinijoshi19 commented on #3940
@dclaux / @matthidinger thoughts on this one?

[2020-04-17 15:40] Subhasish-msft commented on #3884
@Sujit-Gaikwad , Are you still facing this issue?

[2020-04-17 15:46] shalinijoshi19 commented on #3939
@jwoo-msft could you help take a look at this one? Thanks

[2020-04-17 15:50] shalinijoshi19 commented on #3937
@VikrantSingh01 / @jwoo-msft / @matthidinger thoughts on this one? This seems to be something we should also document btw..

[2020-04-17 15:55] shalinijoshi19 commented on #3922
Thanks @YannickRe and @susanshen96 for reporting and the drill down. We will follow up. Indeed this looks like something we should explicitly throw/report on via the APIs instead of the current seemingly non-deterministic behavior. @paulcam206 / @matthidinger / @dclaux Cc.

[2020-04-17 15:56] shalinijoshi19 commented on #3920
Thanks a ton for reporting @DavidStrickland0 . @paulcam206 could you take alook at this please? Thanks!

[2020-04-17 15:58] shalinijoshi19 commented on #3919
@VikrantSingh01 / @jwoo-msft is this something ath needs to be addressed on the Teams end here?

[2020-04-17 15:59] shalinijoshi19 commented on #3614
@dclaux thoughts on this one real quick ? Thanks

[2020-04-17 16:01] shalinijoshi19 commented on #3905
@mrestorff let me follwo up on this one via #3614 .. I;ll resolve this one as a duplicate of that for now and if you could start to follow 3614 that would be great. Thanks again.

[2020-04-17 16:19] shalinijoshi19 commented on #3926
@dclaux / @jwoo-msft is this something that is fixed in the newer Templating implementation that is in prerelease? Thanks

[2020-04-17 16:23] shalinijoshi19 commented on #3926
@BalajiR FYI that we are working on [updated templating offerings for JS + .NET](https://github.com/microsoft/AdaptiveCards/projects/16) to start with that integrates with [BotFramework's AEL](https://github.com/Microsoft/BotBuilder-Samples/tree/master/experimental/common-expression-language).. We should have a preview for you we are hoping by 5/5. Pls stay tuned.

[2020-04-19 14:20] Gousia-MSFT commented on #3894
@chathudev Thanks for reaching out to us. This is a known issue. We have a bug on this and we are working on it.

[2020-04-20 05:51] #3889 closed

[2020-04-20 07:43] Subhasish-msft commented on #3721
@RajaniJillaGit , Do you mean deeplink to an app in app studio Or deeplink to an app's chat or tab.

[2020-04-20 13:34] Sujit-Gaikwad commented on #3918
Hi @jwoo-msft,

please find the card json and let me know if any issue
[ListCard.txt](https://github.com/microsoft/AdaptiveCards/files/4503775/ListCard.txt)

[2020-04-20 17:06] jwoo-msft commented on #3918
@Sujit-Gaikwad
ListCard.txt is not a valid AdaptiveCards we support
[code]

[2020-04-20 18:50] jwoo-msft commented on #3939
@bottekott Thanks for reporting this issue. I can reproduce the issue on my end. Meanwhile, try using actions instead of ActionSet for your use case.

[2020-04-20 19:13] jwoo-msft commented on #3930
@emelyanovkirill
The reason that you're not seeing the height is because at the time you're rendering with AdaptiveCards SDK, update cycle hasn't started. AdaptiveCards uses auto layout, so you wouldn't see the frame dimension until update cycle is finished, so setting appropriate layout constraints is required. If you call intrinsicContentSize, it will return its intrinsic content size.  If you r

[2020-04-20 19:15] jwoo-msft commented on #3926
it works in .Net preview.

[2020-04-20 19:19] jwoo-msft commented on #3903
@shalinijoshi19 can you help me forward this issue to Teams?

[2020-04-20 19:34] jwoo-msft commented on #3788
This issue was resolved by adding a resource resolver by user.

[2020-04-20 19:34] #3788 closed

[2020-04-20 19:35] jwoo-msft commented on #3800
@shaikShehanaaz can you let us know if this is still an issue for you?

[2020-04-20 19:55] dclaux commented on #3926
I can repro this on the latest code, I'll need to fix.

[2020-04-21 06:29] nikoma commented on #3081
That would be great!

[2020-04-21 06:51] menbren commented on #3907
I can only say: YES YES YES, please fix this :)

[2020-04-21 06:58] prkudika opened #3943 "[AdaptiveCards] [Does Adaptive Cards Support Glyph]"
I am looking to use a glyph for an icon. But when I look at the schema https://adaptivecards.io/explorer/ I didn't find anything related to Glyphs.

Just wanted to know if Adaptive Cards Supports Glyph or not. If not, do we have any plan to support in future?

---
Pradeep

[2020-04-21 07:59] jwoo-msft opened #3944 "Annotate .Net surface API with '///'"
Annotate .Net surface API with XML comments for users.
Annotate following files.
* AdaptiveCardsTemplate.cs
* AdaptiveCardsEvaluationContext.cs

[2020-04-21 07:59] jwoo-msft opened #3945 "[.NET] Code Review PR"
This is a task from Template for vNext.

[2020-04-21 08:10] jwoo-msft opened #3947 "Template Design spec"
Complete reviewing design spec

[2020-04-21 08:53] menbren opened #3948 "[iOS][Adaptive Cards)] [Flow Bot Adaptive Card with button isn't getting displayed in Teams for iOS]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host

Author, sending cards from Flow to Teams using the "post your own adaptive card as the Flow bot to a channel" step in my flow.

# Version of SDK
Tried formatting my message in adaptive card version 1.0 and 1.2, but that didn't make any difference.

# Details

Please have a look at the

[2020-04-21 11:23] Subhasish-msft commented on #3884
@Sujit-Gaikwad , Closing this issue. Please reopen if you still face this issue

[2020-04-21 11:23] #3884 closed

[2020-04-21 12:10] shbhadra opened #3949 "[Android][Inconsistency between desktop and android] [Cards containing facts with empty title do not render]"
# Platform

- [x] Android
- [x] iOS
- [x] JS
- [x] WPF
- [x] UWP
# Author or host
Host
# Version of SDK
1.2.6
# Details
Consider the following card json, which contains certain facts with empty and null titles.
`{
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
                "type":

[2020-04-21 12:17] nimercer opened #3950 "[UWP][Accessibility] RichTextBlock TextRun with Action should use action title as Screen Reader text"
# Platform

* UWP

# Author or host

Host (Cortana in Windows)

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

UWP Package 1.2.7

Explain your issue. If you just have a question, please post [on StackOverflow instead]

When rendering the below json: (displays as Hyperlink/Link Button)
[code]

The text for the a Screen Reader (Narrator) should be 'Open Alarms and Clock' as i

[2020-04-21 13:58] bottekott commented on #3939
@jwoo-msft Thanks for the quick reply. My main source for learning adaptive cards have been playing around in the designer. Adding an ActionSet is the only graphical way to add actions there AFAIK.
It seems to work like expected when using actions. Thanks!

[2020-04-21 15:11] shalinijoshi19 commented on #3894
@Gousia-MSFT many thanks for helping out. Would you mind referencing the known issue here (is it on the Teams side?) so we can dup this to that for tracking and close this out ? Thanks!

[2020-04-21 15:13] shalinijoshi19 commented on #3948
@menbren do you happen to have the sample JSON that is attempted to be rendered here at all? Thanks.. @jwoo-msft FYI.

[2020-04-21 15:16] shalinijoshi19 commented on #3949
Thanks for reporting this @shbhadra. @almedina-ms can you take a look please? @paulcam206 / @jwoo-msft FYI (Inconsistencies)

[2020-04-21 15:43] menbren commented on #3948
In addition, I have another message in the same flow (for when a quote is approved). This one is showing up on iOS, but the button isn't working. It remains "pressed" for about two seconds, but then nothing happens. It works as expected on desktop. Here's the JSON for that:

`{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.2",

[2020-04-21 15:45] BalajiR commented on #3943
@prkudika ,
Can u please provide more details on this ? Like
- Platform you are targeting ?
- What would be the format of such icons you will be using in cards ?

[2020-04-21 17:30] jwoo-msft opened #3951 "Evangelism: Blog post(s) around templating changes"
Write a Blog post(s) for templating and its new update.

[2020-04-21 18:20] jwoo-msft commented on #3948
@menbren,

It's because of malformed json for actions.
* selectAction is missing url property
* Action.OpenUrl contains malformed url, you could just leave as "", instead of "Removed on purpose"

Desktop version is based on JS, so it's more tolerant.

[2020-04-21 18:57] menbren commented on #3948
Thanks, will give this a try. The formatting of the cards I used are straight from adaptivecard.io, so that might be worth looking into.

[2020-04-21 20:48] jwoo-msft commented on #3948
Yes, that is one of the inconsistency issues we are looking into.

[2020-04-21 21:55] eiland89 commented on #3701
Excuse my naiveness, I haven't seen a solution or correction to this issue. I am currently posting an adaptive card in teams via power automated and having the same error. 'unable to reach app'. but it does seem to work intermittently.  Can some educate me a little on what is happening and a solution to this issue?  I am a novice user for these systems.

[2020-04-21 23:43] shalinijoshi19 commented on #3948
@nesalang, do we have a bug tracking the inconsistency on the JS side we can reference here? Thanks

[2020-04-21 23:48] shalinijoshi19 commented on #3939
@jwoo-msft can you ensure this lands in the release/1.2 branch as well as master.. thanks

[2020-04-21 23:57] shalinijoshi19 commented on #3637
Closing. This was fixed in 1.2.7

[2020-04-21 23:57] #3637 closed

[2020-04-21 23:59] shalinijoshi19 commented on #3712
@vikrantsingh01 could you help follow up on this one to see if the additional logging support here helped ?

[2020-04-22 00:01] shalinijoshi19 commented on #3702
Using this to track and closing out #641

[2020-04-22 00:02] shalinijoshi19 commented on #641
Dup of #3702

[2020-04-22 00:02] #641 closed

[2020-04-22 00:04] shalinijoshi19 commented on #2615
This was already merged/closed. wiht the referenced PR

[2020-04-22 00:04] #2615 closed

[2020-04-22 00:08] shalinijoshi19 commented on #3024
We dont have a strong case for this at the moment esp given our monthly patch release cadence.. Closing for now.

[2020-04-22 00:08] #3024 closed

[2020-04-22 00:10] shalinijoshi19 commented on #3127
This is completed per the referenced PR. No networking calls in unit tests anymore.

[2020-04-22 00:10] #3127 closed

[2020-04-22 00:12] shalinijoshi19 commented on #3439
This was fixed with the referenced PR.

[2020-04-22 00:12] #3439 closed

[2020-04-22 00:21] jwoo-msft commented on #3919
@shalinijoshi19
Could you forward this issue to Teams?

[2020-04-22 00:23] jwoo-msft commented on #3903
@shalinijoshi19 can you help me forward this issue to Teams?

[2020-04-22 00:24] jwoo-msft commented on #3883
@shalinijoshi19
Can you forward this issue to Teams?

[2020-04-22 02:00] VCJames commented on #3701
I cannot speak for the Power platform, but in general you write an add-on for Microsoft Teams and in the file that is installed, you specify the "endpoint" (URL) for your add-on. When a Teams user interacts with the add-on (such as clicking certain buttons on an Adaptive Card, among many other things), Microsoft's servers will send an HTTP request to the endpoint URL in your app.

If your app does

[2020-04-22 03:50] eiland89 commented on #3701
Thank you for the response.

[2020-04-22 04:14] Wajeed-msft commented on #3701
@VCJames- We are investigating this issue further. Thanks for your patience.

[2020-04-22 06:58] menbren commented on #3948
@jwoo-msft, got the message card to work, but upon clicking on the button in the iOS Teams app, my URL gets escaped automatically, so the "#" in the url turns into "%23", making the URL useless. (On desktop the URL isn't escaped)

[2020-04-22 10:55] adumrewal opened #3953 "[iOS][TextRun] [Last character of TextRun does not honour defined style]"
# Platform

* iOS

# Author or host

Host- Teams iOS App

# Version of SDK

1.2.7

# Details

Defined style in TextRun field does not get applied on the last character.
PFA screenshot of the visualizer app and the card JSON.
<img src="https://user-images.githubusercontent.com/8917620/79973373-16854080-84b5-11ea-8720-95a338de22cc.png " alt="drawing" width="400"/>
Card JSON: [textRun.txt](https://gi

[2020-04-22 18:50] NxP4Code commented on #3658
I think I am still facing this issue. I just wanted to confirm. I have integer coming in my JSON data, but final output is completely omitting the text property. I am using JS API. Can you please confirm if this is fixed or it's me doing something wrong.

[2020-04-22 18:58] NxP4Code commented on #3658
I just tried with double quotes as mentioned by @matthidinger . I get result like this.

![image](https://user-images.githubusercontent.com/56322272/80022158-40cd0300-84a1-11ea-8775-127019756a34.png)

[2020-04-22 19:05] dclaux commented on #3658
@NxP4Code please update to the latest templating package if you haven't yet and use the toString function:
`"text": "{toString(myNum)}"`

[2020-04-22 20:28] NxP4Code commented on #3658
It worked with {toString(num)}

[2020-04-22 21:53] shalinijoshi19 commented on #3866
Closing as dup of #3901

[2020-04-22 21:53] #3866 closed

[2020-04-22 22:47] #3905 closed

[2020-04-22 22:48] shalinijoshi19 commented on #3905
Dup of #3614

[2020-04-22 22:48] shalinijoshi19 commented on #3614
@dclaux / @matthidinger thoughts?

[2020-04-22 22:52] shalinijoshi19 commented on #3800
Going ahead closing this. Please reactivate if this is still repro'ing for you with the latest Teams iOS app.

[2020-04-22 22:52] #3800 closed

[2020-04-22 22:54] shalinijoshi19 commented on #3270
Hello @nibinki, closing this out for now. Please reopen if you continue to have questions for us.. Thanks!

[2020-04-22 22:54] #3270 closed

[2020-04-23 00:10] dclaux commented on #3926
This is addressed in this PR: https://github.com/microsoft/AdaptiveCards/pull/3508 (namely, this commit https://github.com/microsoft/AdaptiveCards/pull/3508/commits/51c3f941680232dd315126336d4cd6aa25ff1dcd)

Below are cleaned up and correctly formatted test payloads for reference/testing.

Data:
[code]

Card:
[code]

[2020-04-23 05:36] Gousia-MSFT commented on #3919
@SiarheiKuchukBelitsoft Thanks for reporting this. We have raised a bug for this and we are looking into it.

[2020-04-23 07:00] menbren commented on #3948
cc @shalinijoshi19

[2020-04-23 08:37] SiarheiKuchukBelitsoft commented on #3919
@Gousia-MSFT, thanks! You're doing a great job with Teams. It serves so well as corporate chat, planner, etc...

[2020-04-23 11:26] emelyanovkirill commented on #3930
ACRView resizes after adding, because it contains image and title below. When image not downloaded yet, ACR view show title only, and after downloading of image (didLoadElements->cardView.layoutIfNeeded), image appears and title not visible anymore.

[2020-04-23 11:31] emelyanovkirill commented on #3930
Now I add acrView before adding to the cell, but there is a problem. I wait for didLoadElements (), and after that I add acrView to the cell. But if the image is already cached, didLoadElements () is not called. And I don't know if didLoadElements () will be called or not.

[2020-04-23 14:11] Sujit-Gaikwad opened #3954 "[MsTeams][Mobile] [slash(\) before phone number is not getting ignored in card.]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS

# Author or host

MsTeams

# Details

In the adaptive card that we are sending to the bot there is slash (\\) before  phone number that is getting ignored while we are rendering card in bot (Desktop channel) but in case of mobile device slash is not getting ignored while rendering.

Please c

[2020-04-23 14:11] bottekott commented on #3939
As a side note, with the original adaptive card i did not get any "dynamic content" in flow. This was also fixed when using actions instead of ActionSet.

[2020-04-23 15:50] matthidinger commented on #3614
I think @siduppal would have to help with this one. The .NET lib is just creating the JSON payload as built (@brettyj if you can post the JSON response that would also help), but Teams decides how links are opened. It seems like in other card types (e.g., HeroCard) they detect if the URL starts with teams.microsoft.com and if so make the app respond instead of opening a browser

[2020-04-23 16:41] shalinijoshi19 commented on #1139
Closing this out as stale and potentially resolved.

[2020-04-23 16:41] #1139 closed

[2020-04-23 18:53] siduppal commented on #3614
For Adaptive Cards, deeplinks within Teams that don't jump out to browser are only supported via Action.OpenUrl buttons at this time.

@Wajeed-msft can you take a look?

[2020-04-23 19:00] jwoo-msft commented on #3948
@menbren, can you share the url you used?

[2020-04-23 19:03] menbren commented on #3948
https://app.pandadoc.com/a/#/documents/4Nw3YxHpiNeypvzk2CzVR2 turned into https://app.pandadoc.com/a/%23/documents/4Nw3YxHpiNeypvzk2CzVR2

[2020-04-23 21:32] shalinijoshi19 commented on #3917
It's being tracked now i[n our product board also](https://adaptivecards.productboard.com/feature-board/450286-ac-feature-organization/features/4468578/portal?utm_medium=social&utm_source=portal_share)

[2020-04-23 21:45] dclaux commented on #3940
There is unfortunately nothing we can do here. The control is the built-in HTML5 date picker, and as per the screenshot it functions normally. My guess is that it's a Narrator "bug" (or quirk, or limitation) where Narrator isn't able to properly compute the screen bounds of the popup.

[2020-04-24 00:39] msftjayongg commented on #1990
Is there a sample of this?  I saw the release notes but couldn't figure out how to do this.

[2020-04-24 04:59] vivekagrawal1110 opened #3956 "[MSTeams][Duplicate records] [Azure Bot Service - Duplicate records from Adaptive card forms using Graph api]"
# Platform
* .NET Core Bot v4
* Microsoft Teams

# Version of SDK
.NET Core Bot v4

# Details
We are Using adaptive card to create ListItem in SharePoint site using MS Graph API. We are doing messageBack on Action.submit to send details filled by users to Bot. Sometimes Graph API take some extra few seconds to complete the request then we are getting the error on the card saying "Unable to reach a

[2020-04-24 09:13] PawelHaracz commented on #3054
@shalinijoshi19 Any updates on this feature? I would like to use a rating on my bot.

[2020-04-24 11:06] shalinijoshi19 commented on #3950
@paulcam206 heads up; Let's prioritize the Cortana blockers higher up.. @nimercer where on your blocking priority list does this issue sit again? Thanks!

[2020-04-24 11:07] shalinijoshi19 commented on #3953
@jwoo-msft can you please take a look at what's going on with this one? Thanks!

[2020-04-24 11:10] shalinijoshi19 commented on #3954
@jwoo-msft / @almedina-ms could you guys check this out for iOS/ Android respectively please? Thanks!

[2020-04-24 11:11] shalinijoshi19 commented on #3956
@matthidinger, thoughts? Is this actually an AC issue?

[2020-04-24 12:50] nimercer commented on #3950
@shalinijoshi19 / @paulcam206

The accessibility team have classed this as a blocking issue so it's definitely high priority from our perspective. Given the limited time between now and General availability we won't be able to integrate the new package for our first release so we will look to get an exception for this release. If at all possible we'd like to integrate any fix into our next release

[2020-04-24 13:11] #3537 closed

[2020-04-24 13:15] shalinijoshi19 commented on #3930
@jwoo-msft let's chat about this issue a bit. Thanks for looking into.. @emelyanovkirill thanks for the details here btw! Appreciate it.

[2020-04-24 13:16] shalinijoshi19 commented on #3939
@jwoo-msft does this still need to be addressed for 1.2.9?

[2020-04-24 17:34] #3720 closed

[2020-04-24 18:33] Subhasish-msft commented on #3614
@brettyj , To use deeplink within Teams, You can use OpenUrl action type in adaptive card.
Here is the sample code.
[code]

[2020-04-25 03:41] Chekrii commented on #3862
Hi All,
Any update on this.
Thanks.

[2020-04-25 03:53] Chekrii opened #3957 "[MsTeams]Input.Number is not allowing more than 10 numbers"
# Platform

* .NetCore
* BotFramework V4
# Host
*  MS Teams

Hi All,

I am using Input.Number property to collect the phone number from the user. If the user enters the wrong number then I am pre-populating the same Adaptive card filling the number entered by the user.

If the value of number is more than 10 digits, input.number property is not allowing that number.

Please have a look at the Json

[2020-04-27 07:13] Sujit-Gaikwad commented on #3885
any updates on this issue??

[2020-04-27 07:14] Sujit-Gaikwad commented on #3918
@shalinijoshi19 any updated from teams on this

[2020-04-27 14:07] Subhasish-msft commented on #3721
@RajaniJillaGit , Currently deeplink to an app is not supported. Please have a look at the [deeplink doc](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/build-and-test/deep-links#deep-linking-to-a-chat)

[2020-04-27 14:09] Sujit-Gaikwad commented on #3903
any updated  on this??

[2020-04-27 14:44] Sujit-Gaikwad commented on #3824
@Subhasish-msft  is April store update given for this issue??

[2020-04-27 15:09] shalinijoshi19 commented on #3853
This has affected a few skills over on Cortana.. Would lkely be medium priority (to revisit once we get a handle on the Priority-Urgent ones. @paulcam206 FYI

[2020-04-27 15:18] shalinijoshi19 commented on #3535
@matthidinger to track this on product board. While this is not a blocker since Cortana have been able to workaround it, it still would be really great to have to have a consistent story in AC for all hosts.

[2020-04-27 15:20] shalinijoshi19 commented on #3425
@paulcam206 could you double check here see if you can still repro it release/1.2 bits (or the latest released).Thanks

[2020-04-27 15:23] shalinijoshi19 commented on #3330
@matthidinger / @paulcam206 - this is now not much of a priority for Cortana at this point. More interested in #3535

[2020-04-27 15:26] shalinijoshi19 opened #3960 "[UWP]Issues with Bleed & Styles in BackgroundImages"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Author or host

Host: Cortana

# Details

Tracking the issue reported by Cortana over email

[Slide Deck](https://microsoft-my.sharepoint.com/:p:/p/masupple/ERTUKJBPuuJKj07aRDVXHvEBd8mgB2jcje9Ial3oYSUSoQ?e=3eUrym) has examples and screenshots ;

The JSON payloads in [this folder]( https://microsoft-m

[2020-04-27 15:49] shalinijoshi19 commented on #3853
Corresponding ADO bug 24797295: [Accessibility][Supporting the Platform- Create a timer]: At high contrast modes the Links are not look like a Links in high contrast modes.

[2020-04-27 17:33] shalinijoshi19 commented on #3914
@paulcam206 wanna take a stab at this ?

[2020-04-27 17:35] shalinijoshi19 commented on #3939
@jwoo-msft bringing it to the top of your inbox. Thanks!

[2020-04-27 18:24] JohnnyKehr opened #3961 "[iOS][Theming] In iOS 13, native components reflect background color of OS-level theme"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host
Host on Webex Teams

# Version of SDK
AdaptiveCards@v1.2.6

# Details
On iOS 13, the `backgroundColor` of native components reflects the OS-level theme (light or dark) regardless of what's passed into the HostConfig. For most of these components, it can be overridden in a custom render

[2020-04-27 20:43] shalinijoshi19 commented on #3957
Thanks for reporting this @Chekrii. So Input.Number is supposed to be a [Number ](https://adaptivecards.io/explorer/Input.Number.html)type- specifically enforced as a double value in most of the renderers, including the .NET one and JS.
After fixing your card to remove the non-number characters, I was able to see it render successfully on our designer (Adaptivecards.io/designer) as well as a quick

[2020-04-28 03:20] shalinijoshi19 commented on #3938
Thanks @Sujit-Gaikwad ; We've now onboarded this request onto productboard. @matthidinger / @dclaux FYI.

[2020-04-28 03:44] #3938 closed

[2020-04-28 04:49] shalinijoshi19 commented on #3802
@paulcam206 is this something you can address with the fix for [ #3914](https://github.com/microsoft/AdaptiveCards/pull/3914)

[2020-04-28 07:25] Chekrii commented on #3957
Hello @shalinijoshi19 , I am not able to render that card in teams using Bot framework.

[2020-04-28 11:27] Jashmi-1402 opened #3963 "AdaptiveCard rendering issue in Virtual Assistant : Error reading JArray from JsonReader. Current JsonReader item is not an array"
# Platform

* .NET
* C#

# Author or host

NA

# Version of SDK
Microsoft.Bot.Solutions  :  Version=0.8.0-preview1
AdaptiveCards : Version 1.2.4
Microsoft.AspNetCore.Mvc.NewtonsoftJson : Version 3.1.0

# Details

We have migrated the VA to 0.8. Json rendering is fine but while clicking the adaptive card button I am getting the above error.

For rendering the card I have used the below code
var car

[2020-04-28 13:22] Sujit-Gaikwad commented on #3888
is this release has given from your site
I'm still facing the same issue @shalinijoshi19  can you reopen this issue.

[2020-04-29 09:46] chandan-g-bhagat commented on #3740
Eagerly waiting for the adaptive cards to be supported in webhooks.

[2020-04-29 10:12] Sujit-Gaikwad commented on #3799
@shalinijoshi19 is the update (1.2.7) given for MsTeams ?

[2020-04-29 18:49] #3939 closed

[2020-04-29 21:22] shalinijoshi19 commented on #3957
Thanks @chekrii; i believe that may be due to #3829. @paulcam206 any updates on that one yet? Thanks

[2020-04-29 21:30] shalinijoshi19 commented on #3943
In addition @prkudika please direct questions to our [stackoverflow forum](https://stackoverflow.com/questions/tagged/adaptive-cards)..
We don't support glyphs yet, but it is part of our proposed 1.3 roadmap so do stay tuned, and vote for it, including how important it is to you [here](https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/c/23-themeable-icons-glyphs?utm_medium=so

[2020-04-29 21:30] #3943 closed

[2020-04-30 01:35] Chekrii commented on #3829
Hello @shalinijoshi19, So after this fix Input.Number will accept string and special characters as well?

[2020-04-30 02:06] dclaux commented on #3829
@shalinijoshi19 we first need to reconcile with this issue: https://github.com/microsoft/AdaptiveCards/issues/3171

The JS library used to accept both number and string, for both the value property as well as min and max. The change was made to only accept numbers in order to be consistent with the UWP renderer as per the issue I linked above.

Also, we need to treat value, min and max the same wa

[2020-04-30 11:53] shalinijoshi19 commented on #3759
Closing this issue out at this point. @mmalaiarasan-apttus do let us know if you run into any other issues here. Thanks!

[2020-04-30 11:53] #3759 closed

[2020-04-30 18:17] jwoo-msft opened #3970 "[JS][Template] [Repeating Elements With $When Doesn't Work]"
# Platform
* JavaScript

# Version of SDK
latest from ts/renderer-refactor

# Details
Trying [Template.ConditionalLayout.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/samples/Templates/Elements/Template.ConditionalLayout.json)  should result in repeating elements with different TextBlock based on ```price``` in [Template.data.json](https://github.com/microso

[2020-04-30 18:25] jwoo-msft opened #3971 "[JS][Template] [Array Access Doesn't Work]"
# Platform

* JavaScript

# Version of SDK
latest from ts/renderer-refactor

# Details
Template used:  [Template.DataBinding.Inline.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/samples/Templates/Elements/Template.DataBinding.Inline.json)
Template Data used: [Template.data.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/

[2020-04-30 18:25] dclaux commented on #3970
Cannot repro:
![image](https://user-images.githubusercontent.com/1334689/80745505-434cdf80-8ad5-11ea-869e-0f8279cd3f90.png)

[2020-04-30 18:27] dclaux commented on #3971
Cannot repro:
![image](https://user-images.githubusercontent.com/1334689/80745680-8444f400-8ad5-11ea-83ec-03afb61bfb10.png)

[2020-04-30 18:36] jwoo-msft commented on #3971
wrong designer used.

[2020-04-30 18:36] #3971 closed

[2020-04-30 18:38] jwoo-msft commented on #3970
wrong designer used.

[2020-04-30 18:38] #3970 closed

[2020-04-30 18:51] jwoo-msft opened #3972 "[JS][Template] [json instance created using AEL can't be used for setting data context]"
# Platform

* JavaScript

# Version of SDK
latest from ts/renderer-refactor

# Details
Template used:  [Template.Functions.DataManipulation.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/samples/Templates/Elements/Template.Functions.DataManipulation.json)
Template Data used: [Template.data.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-vi

[2020-04-30 19:01] jwoo-msft opened #3973 "[JS][Template] [TIME doesn't work properly with Template or AEL]"
# Platform

* JavaScript

# Version of SDK
latest from ts/renderer-refactor

# Details
Template used:  [Template.Functions.DateFunctions.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/samples/Templates/Elements/Template.Functions.DateFunctions.json)
Template Data used: [Template.data.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualiz

[2020-04-30 19:16] jwoo-msft opened #3974 "[JS][Template] [Data Binding Issue]"
# Platform

* JavaScript

# Version of SDK
latest from ts/renderer-refactor

# Details
Template used:  [Template.Keywords.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/samples/Templates/Elements/Template.Keywords.json)
Template Data used: [Template.data.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/samples/Templates/El

[2020-04-30 19:50] almedina-ms opened #3975 "[WPF][AEL]Price is not rendered in Template.ConditionalLayout.json"
# Platform
* .NET WPF

# Version of SDK
AEL preview

# Details

When running the card [Template.ConditionalLayout.json](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/samples/Templates/Elements/Template.ConditionalLayout.json) the prices are not visible

The data used is in [here](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-visualizer-dotnet/sampl

[2020-04-30 19:51] jwoo-msft commented on #3975
I don't think you are on the latest of the branch.

[2020-04-30 19:53] almedina-ms commented on #3975
you're right, I hadn't made the pull

[2020-04-30 19:53] #3975 closed

[2020-04-30 20:55] shalinijoshi19 opened #3976 "[.NET][Templating] MSApprovals sample card triggers NullReferenceException in AdaptiveCards.Templating.dll"
# Platform

* .NET Templating SDK

# Version of SDK

Outbound Preview under-test

# Details
[Current_sampleData.zip](https://github.com/microsoft/AdaptiveCards/files/4561157/Current_sampleData.zip)

The attached sample card template as well as the card data trigger this exception in our library: I believe we need to check GetCurrentDataContext() for null before trying to access any properties on i

[2020-04-30 22:05] dclaux commented on #3972
Fixed here: https://github.com/microsoft/AdaptiveCards/pull/3508/commits/cd68f45cf2a8fdbe56b18da9b5c24b53c2543d7b

[2020-04-30 22:18] dclaux commented on #3973
Fixed here: https://github.com/microsoft/AdaptiveCards/pull/3508/commits/a618dbfa819df0a546acd062ef8f5c87bc8c2772

[2020-05-01 14:58] shalinijoshi19 commented on #3756
Hey @BalajiR, @pragadeeshk @Vasanth-S would you be able to take look at this issue please? Thanks

[2020-05-01 15:07] shalinijoshi19 commented on #3974
@dclaux FYI. this was the 3rd bug bash bug from yestrday.

[2020-05-01 20:27] arman-g opened #3977 "[.Net][Template] [SelectAction is doubled in the JSON object]"
# Platform

* .NET Templating SDK

# Version of SDK

NuGet 1.2.4

# Details

Adding **SelectAction** to a **AdaptiveContainer** or **AdaptiveColumnSet** adds **SelectAction** to the AdaptiveCard (parent element) also. It basically duplicates the **SelectAction** (please see the image below).

![Select Action Bug](https://user-images.githubusercontent.com/22778273/80838886-de65b800-8bae-11ea-98f3-a

[2020-05-04 03:31] shalinijoshi19 commented on #3976
Ultimately this is an example of a card that will need to be migrated to new templating schema syntax, but running the original sample through our library revealed the following points that should be fixed:
1. Add a null check in AdaptiveCardsTemplateVisitor.cs:line 381 to guard against null DataContext objects and AV'ing (NullReference).
2. If a null dataContext is not an exit condition but rathe

[2020-05-04 04:30] shalinijoshi19 commented on #3963
@Jashmi-1402 can you please include your card json please? Also what is the virtual assistant that you are referring to here? (@ckkashyap ideas what they are referring to here?) Thanks!

[2020-05-04 05:36] Gousia-MSFT commented on #3894
@shalinijoshi19 Yes, this is on the teams side. I have raised a bug for this for the teams team.

[2020-05-04 06:09] MonoGO opened #3978 "[Ios] [Adaptive Cards Input Toggle(CheckBox) display issue in Iphone]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Ms Teams

# Details

We have created bot using Microsoft bot-framework which is integrated to Microsoft teams. We have created few adaptive cards for interactive conversation with bot. One of the Adaptive card is causing design issue in IPhone X Microsoft Teams Application.

We used

[2020-05-04 07:05] menbren commented on #3948
@jwoo-msft, what's the status here? Thanks :)

[2020-05-04 10:59] Jashmi-1402 commented on #3963
Hi Shalini,

I have used the below json.

{\"type\":\"AdaptiveCard\",\"version\":\"1.0\",\"body\":[{\"type\":\"Container\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"<heading>\",\"wrap\":true}]},{\"type\":\"Container\",\"items\":[{\"type\":\"ColumnSet\",\"columns\":[{\"type\":\"Column\",\"width\":\"stretch\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"<Option1>\",\"horizontalAlignment\":\"Cen

[2020-05-04 11:12] shalinijoshi19 commented on #2236
@dclaux fixing this is indeed high priority. @compulim could you take a look at @dclaux's comments above?

[2020-05-04 20:27] TylerOdenthal commented on #3701
I'm experiencing this problem when trying to use invoke in an adaptive card inside of a Teams App.

`{
                    "type": "Action.Submit",
                    "title": "Invoke?",
                    "data": {
                        "msteams": {
                            "type": "invoke",
                            "title": "Option 1",
                            "height": "large",

[2020-05-04 23:50] jwoo-msft opened #3985 "Build Package Feeds"
- [x] Internal package feeds
- [x] Release package build pipeline

[2020-05-05 01:16] #3932 closed

[2020-05-05 02:51] jwoo-msft commented on #3948
@menbren, the conversion doesn't happen at iOS SDK.

@shalinijoshi19, can you help me forward this issue to Teams mobile?
[code]

Payload used
[code]

[2020-05-05 14:36] Subhasish-msft commented on #3824
@Sujit-Gaikwad , We have active bug for this and currently there is no ETA.

[2020-05-05 18:03] #3953 closed

[2020-05-06 05:28] sree00718 commented on #3701
I understand extending timeout is not feasible. But any workaround to hide the warning message? Any help would be much appreciated.

[2020-05-06 07:57] Gousia-MSFT commented on #3978
@MonoGO Thanks for reporting this! We could repro the issue and we have raised a bug for it.

[2020-05-06 17:56] BrunoFerreiraBastos commented on #3799
Hi,

I'm using version 2.0.9, and it's still not working on IOS.

Tks.

[2020-05-06 19:56] arman-g opened #3991 "[.Net][HTML] [Doesn't display AdaptiveNumberInput Initial value]"
# Platform

* .NET HTML

# Version of SDK

NuGet 1.2.4

# Details

I am not able to set the initial value of an `AdaptiveNumberInput` field. When I set its Value field to a number it will not be shown in the input box for Bot Framework Emulator and WebChat (see the image below). The JSON does have the value but it is not rendered. `AdaptiveTextInput` does not have this problem.
I do remember this

[2020-05-07 15:07] nielscup commented on #3255
@almedina-ms Are you still working on Adaptive Cards for Xamarin.Forms? I would like to do a prototype for AC in our app. Can you tell me which branch I can use best to start with Adaptive Cards in Xamarin.Forms?

[2020-05-07 16:45] Sujit-Gaikwad opened #3993 "[MsTeams][Desktop/Mobile] [Input box and drop down box style not similar across all platform]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS
* JavaScript

# Author or host

MsTeams

# Details

HI ,

As we notice that we are getting different style of input box across different platform

**For Desktop:**
Input box style is rounded corner and with gray color
Drop down style is similar to input box style

![Screenshot (8)](https://us

[2020-05-07 16:54] Sujit-Gaikwad opened #3994 "[MsTeams][Mobile/Desktop][AdaptiveCard] UI Elements styles are different across the render"
**What platform is your feature request related to? (Delete other platforms).**

* Android
* iOS
* JavaScript

**Is your feature request related to a problem? Please describe.**
https://github.com/microsoft/AdaptiveCards/issues/3993

**Describe the solution you'd like**
As i have described in bug we have different style for input box across all renders so my suggestion for this issue can we have s

[2020-05-07 22:07] raheemdaya opened #3995 ".NET ASP.net "Only Show When" functionality in designer does not match Teams App"
.NET ASP.net

What platform is your issue or question related to? (Delete other platforms).

#Platform
.NET Core ASP.net

# Author or host
MS Teams

# Version of SDK
0.1.0-alpha1

# Details

I have a card that works perfectly in the designer but fails to render correctly within Teams.  There are two components, RV_{RuleId} and a RichTextBlock before it that have a conditional set for visibility, {

[2020-05-07 23:44] #3927 closed

[2020-05-07 23:44] #3929 closed

[2020-05-07 23:44] #3931 closed

[2020-05-08 07:09] Sujit-Gaikwad commented on #3824
@Subhasish-msft , with V2.0.9 teams update this is working for iPhone 10 but with same update it is not working for iPhone 6
can you tell me for which all version it will support???

[2020-05-08 07:12] Sujit-Gaikwad commented on #3888
@shalinijoshi19, with V2.0.9 teams update this is working for iPhone 10 but with same update it is not working for iPhone 6
can you tell me for which all iPhone version it will support???

[2020-05-08 07:13] Sujit-Gaikwad commented on #3799
@Subhasish-msft/@shalinijoshi19 , with V2.0.9 teams update this is working for iPhone 10 but with same update it is not working for iPhone 6

can you tell me for which all iPhone version it will support???

[2020-05-08 11:23] shalinijoshi19 commented on #3954
@jwoo-msft please take a first pass when you get a chance? Thanks!

[2020-05-08 11:25] shalinijoshi19 commented on #3961
Thanks for filing the detailed issue report @JohnnyKehr ! @jwoo-msft can you comment when you get a chance please? Thanks!

[2020-05-08 11:47] shalinijoshi19 commented on #3977
@jwoo-msft another test card for you to test our new templating package out with. Meanwhile @arman-g we are in the middle of publishing an update for our new reworked templating package. It should be out in the next couple of weeks. Please watch the [releases page](https://github.com/microsoft/AdaptiveCards/releases) for updates. We'll make sure your testcard works with our new offering. For now g

[2020-05-08 11:47] #3977 closed

[2020-05-08 11:50] shalinijoshi19 commented on #3977
Watch out for #3946 getting merged into master here.

[2020-05-08 11:53] shalinijoshi19 commented on #3978
@MonoGO what templating library are you using here and how are you rendering on iOS? FYI that we are in the middle of reworking our templating packages for JS + .NET and releasing an update within the next few weeks so do watch the [releases page](https://github.com/microsoft/AdaptiveCards/releases) for that. Meanwhile @jwoo-msft yet another test card for us to test out with the templating package

[2020-05-08 11:56] shalinijoshi19 commented on #3991
Hello @arman-g FYI that we are in the process of rolling out our new templating package offering for .NET in a few weeks. Please watch out our [releases page](https://github.com/microsoft/AdaptiveCards/releases) for updates. Meanwhile @jwoo-msft yet another sample card/scenario here for you to validate works with the new package please. Thanks.

[2020-05-08 11:59] shalinijoshi19 commented on #3993
@paulcam206 / @jwoo-msft an inconsistency issue here to tackle in our Inconsistencies work stream. Comments here?

[2020-05-08 12:00] shalinijoshi19 commented on #3993
@almedina-ms also for thoughts on Android here..

[2020-05-08 12:05] shalinijoshi19 commented on #3954
@dclaux thoughts please? Is "\" a special character here wrt phone numbers and how is JS special-casing it?

[2020-05-08 12:07] shalinijoshi19 commented on #3954
@paulcam206 can you take a look real quick here and consider adding to your inconsistencies workstream? @jwoo-msft also for comment/fyi

[2020-05-08 12:23] shalinijoshi19 commented on #3995
Hello @raheemdaya are you using our templating SDK for .NET? If so, please know that we are in the process of finalizing a new version of our templating package for JS + .NET so please watch our [releases page](https://github.com/microsoft/releases) for updates. Meanwhile @jwoo-msft FYI - another sample card for testing the outbound package. Thanks

[2020-05-08 12:23] #3995 closed

[2020-05-08 12:58] MonoGO commented on #3978
@shalinijoshi19 thanks for the reply. We are building JSON using Adaptive templating service and sending/receiving messages via REST api .
The adaptive card is getting rendered in the IOS Teams mobile app.

[2020-05-08 14:11] adumrewal commented on #3883
@srishtisatwah please share the build number on which you faced this issue?
A fix for this has been rolled out recently, can you please try the latest Teams iOS app and let us know if you are still facing the issue?

[2020-05-08 17:11] Sujit-Gaikwad opened #3996 "[MsTeams][IOS] [adapticard compactibility on iOS devices]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

MSTeams

# Details

Hi ,

https://github.com/microsoft/AdaptiveCards/issues/3799
https://github.com/microsoft/AdaptiveCards/issues/3824
https://github.com/microsoft/AdaptiveCards/issues/3888

these are few issue we have raised on git and now with teams store update v2.0.9 it is not o

[2020-05-08 20:41] brettjenkins commented on #3614
Thanks for the reply. I'll take a look when I get chance, the project I was working on has been put on the back burner due to reasons, but I'll try and test this to confirm if it fixes the initial issue.

[2020-05-08 22:09] paulcam206 commented on #3954
looks like the desktop behavior here is correct:

[code]

the `\\` bit means that a single backslash should be displayed

[2020-05-09 22:13] ChristopherP1221 commented on #3338
Hello,

Can we re-open this request?  We've determined this is not something that's related to the Flow App.  We're actually building an adaptive card through the Graph API now and noticing some inconsistent behavior.  Specifically, it appears MS Teams handles opening the same URL differently if posted a couple of different ways in the same message.  What's even stranger is the behavior I'm seeing

[2020-05-10 23:19] ChristopherP1221 opened #3997 "[MS Teams Windows Desktop and Android Mobile Clients][Adaptive Cards/Channel URL Redirects] [Adaptive card inconsistent behavior across platforms on channel URL redirect]"
# Platform
MS Teams

What platform is your issue or question related to? (Delete other platforms).
* Android
* maybe iOS?
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? Author sending cards to a channel

# Version of SDK
Graph API v1.0 & beta

# Details
Links to channels where a user is not a member of the team behave dif

[2020-05-11 04:40] Subhasish-msft commented on #3614
@brettjenkins , I am closing this. If you still face any issue, please reopen it.

[2020-05-11 04:40] #3614 closed

[2020-05-11 16:04] hansmbakker commented on #2148
@khouzam @shalinijoshi19 @paulcam206

I think this code is at least a workaround for `IgnoreEmptyItemsConverter`:
[code]

Can you please help fix this in Nuget, as bots that use this library break when this is not patched: https://github.com/microsoft/botbuilder-dotnet/issues/2456#issuecomment-626766819

[2020-05-11 16:31] v-kydela commented on #2148
@hansmbakker - While this bug should certainly be fixed in the Adaptive Cards .NET SDK, it is still possible to get your bots to work by bypassing the SDK. The workaround people have been using is to convert their Adaptive Cards to JObjects before attaching them to activities.

[2020-05-11 16:43] hansmbakker commented on #2148
@v-kydela now I see, thank you!

[2020-05-11 20:58] #3048 closed

[2020-05-11 20:58] #3260 closed

[2020-05-11 20:58] #3515 closed

[2020-05-11 20:58] #3901 closed

[2020-05-11 20:58] #3926 closed

[2020-05-11 20:58] #3972 closed

[2020-05-11 23:33] #3944 closed

[2020-05-11 23:33] #3945 closed

[2020-05-12 01:35] #3985 closed

[2020-05-12 08:39] ramya-ramanathan-28 opened #4002 "[Adaptive Card Templating][Adaptive card rendering issue if link has a space character]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host
Host - Microsoft Search

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...
Latest master

Explanation:
- If a textblock is linked to a URL value that has space, the URL isn't formed correctly.
- For example, if the text of textblock is as follows: `[{Title}](

[2020-05-12 08:40] RamyaRamanathan28 commented on #4002
@dclaux Could you please take a look at this issue?

[2020-05-12 08:47] RamyaRamanathan28 opened #4003 "[Adaptive Card Designer] [setting isSubtle to true is not adding the property to the Adaptive Card JSON ]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host
Host - Microsoft Search

# Version of SDK
Latest master

# Details
Selecting the isSubtle checkbox in Element Properties makes no difference to the Adaptive Card JSON Payload as seen below.

![image](https://user-images.githubusercontent.com/37632003/81662390-1e545700-945b-11ea-

[2020-05-12 08:47] RamyaRamanathan28 commented on #4003
@dclaux Please take a look at this bug

[2020-05-12 19:34] #3908 closed

[2020-05-12 21:30] raheemdaya opened #4008 "[Designer] Please back the old one. The addition of the additional $ signs breaks the ability to design for Teams."
I love how you can start with a canned template for blank cards.  It is kind of cool how you can bind to data from the control panel on the right side of the page.  I don't like how it handles arrays though.  Putting the literal index defeats the point of iterating over the array.  But the tool is no longer as useful to me as I can't create my Teams cards in the tool and put them directly into VS.

[2020-05-12 21:46] JbIPS commented on #3689
If it can help someone, I also had this problem and by removing part of my JSON I found out an image without `url` (a missing value when templating).

So, card not appearing on mobile (it was iOS and Android) seems to be related to an incomplete JSON (not error found in Visualizer or Designer).

Hope that help!

[2020-05-13 07:10] anbah34 commented on #3919
This is being fixed in the June sprint by Teams Mobile Platform

[2020-05-13 07:12] anbah34 commented on #3918
Advised by mobile designers not to have a vertical scroll in Mobile for adaptive cards, so the user will have to scroll on the screen to view list embedded in the adaptive card rather than scrolling inside the card itself

[2020-05-13 07:43] anbah34 commented on #3708
This is part of the Q2 roadmap on Mobile

cc- @VikrantSingh01

[2020-05-13 12:31] s3638844 commented on #3907
so why announce that it is compatible with Teams when it in truth isn't.... the ability to POST a JSON to the connector should have come BEFORE the bot framework.... especially since the messaging says to use adaptive cards for future projects..... Not everything needs a bot

[2020-05-13 22:11] jwoo-msft commented on #3976
Thank you @shalinijoshi19  for reporting this issue.
The error is due to this malformed JSON pair, "$data" : "{Approvers}". "{Approvers}" is malformed because it misses "$". Template was designed not to throw, but looking at this use case, template library has to throw when parsing data context fails since such failure is irrecoverable.
To address 1,2, 4, following changes are made at PR #4011
* M

[2020-05-13 22:19] Jon889 commented on #3740
+1 on this too

[2020-05-13 23:44] raheemdaya commented on #4008
I can't be the only one with this issue; the tool is completely unusable :(  This tool was a huge advantage to using these cards.  Create the card using the designer, paste in some test data, make sure it looks good and voila.  Now its create a card, paste the json into your project and iterate until you get the data selection just right.  I can't believe you've done this!

[2020-05-14 00:04] #3976 closed

[2020-05-14 00:42] raheemdaya opened #4012 "Designer no longer works for cards being rendered in Teams"
# Platform

.Net Core Teams Bot

# Author or host

Teams

# Version of SDK

latest

# Details

The changes to the Designer have broken the ability to use it for Teams.  The additional $ signs have made the cards completely unusable when templating is used.  I have tried using the version selector at the top, I have tried taking the corresponding card and using it Teams.  I will be happy to try pre

[2020-05-14 07:42] Trinetra-MSFT commented on #3937
@shalinijoshi19 @sonu-create , Could you please more information on this issue payload or screenshot would be fine?

[2020-05-14 19:00] #3974 closed

[2020-05-14 19:57] jwoo-msft commented on #3973
It's still reproducible http://adaptivecards-ci.azurewebsites.net/designer/

{{TIME(${formatDateTime(date, 'yyyy-MM-ddTHH:mm:ssZ')})}} produces 12:00PM

{"date" : "03/15/2018 12:00:00"}

{{TIME(2018-03-15T12:00:00Z)}} produces 5AM

[2020-05-14 20:20] dclaux commented on #3973
Here is the deal:
- Our TIME function converts the date/time passed into the system's configured time zone
- Because of that, `{{TIME(2018-03-15T12:00:00Z)}}` produces 5AM PST which is correct
- The string "03/15/2018 12:00:00" doesn't contain any time zone information. So formatDataTime assumes it is expressed in the system's configured time zone, e.g. PST. And thus `${formatDateTime(date, 'yyyy-

[2020-05-14 21:47] jwoo-msft commented on #3973
@dclaux, thanks for the explanation

I ran a quick test.

"text": "{{TIME(${formatDateTime(date, 'yyyy-MM-ddTHH:mm:ss-07:00')})}}" produces 12:00 PM in the designer.
"text": "{{TIME(${formatDateTime(date, 'yyyy-MM-ddTHH:mm:ss-05:00')})}}" produces 10:00 AM

"text": "{{TIME(${formatDateTime(date, 'yyyy-MM-ddTHH:mm:ss-00:00')})}}" produces 05:00 AM

It appears that formatDateTime simply substitute t

[2020-05-14 22:06] dclaux commented on #3973
Indeed it seems that `formatDateTime` might have a bug where it doesn't handle Z properly.

[2020-05-14 22:06] jwoo-msft commented on #3977
@arman-g
cc @shalinijoshi19
I don't think you are having problem with our template library.  The problem description seems applies to .NET AdaptiveCards SDK. Templated string start with '{' and ends with '}' in old syntax.
For example, "text" : "{Hello}"
Here, "{Hello}" is templated string.

The current published version of the nuget is 0.1.0-alpha1.
https://www.nuget.org/packages/AdaptiveCards.Te

[2020-05-14 22:08] jwoo-msft commented on #3991
same as #3977
This issue doesn't seem to apply to [.Net Template SDK](https://www.nuget.org/packages/AdaptiveCards.Templating/0.1.0-alpha1).
cc @shalinijoshi19

[2020-05-14 22:10] jwoo-msft commented on #3973
Yes, I think it's AEL's bug as other offsets work.

[2020-05-14 22:24] arman-g commented on #3991
I am using NuGet 1.2.4 in C# .Net Core 3.1 project. I am not sure if I completely understand your input. Are you saying you can't preproduce these two issues with the current template?

[2020-05-14 22:28] shalinijoshi19 commented on #3991
@arman-g can you share your sample json content please?

[2020-05-14 22:32] arman-g commented on #3977
@jwoo-msft maybe but that does not explain why an instance of AdaptiveCard class gets SelectAction property Instantiated when a child element SelectAction is set.

I have to do this workaround to get rid of that nasty bug :)
[code]

[2020-05-14 22:55] arman-g commented on #3991
@jwoo-msft sure
[code]

[2020-05-14 23:20] arman-g commented on #3977
@jwoo-msft actually you are right, this is not a bug but a copy and paste honest mistake. Very hard to find bug. The following line in my code sets the image and adaptive card **SelectAction** properties.
[code]

[2020-05-15 01:00] jwoo-msft opened #4014 "[.NET][Template] [Ordinary JSON Value As $data's Context's Value]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML

# Version of SDK

Latest master

# Details
In parsing data context of form, "$data" : value
value can be any valid json value.
but current .Net doesn't handle bool, string, and number.

valid ordinary json value examples in setting data context.
"$data" : 1
"$data" : TRUE
"$data" : FALSE
"$data"

[2020-05-15 10:46] Gunashree-R-V opened #4015 "[Android][TextBlock] Font Weights are not consumed."
# Platform

* Android

# Author or host

Host - Teams Android app

# Version of SDK

1.2.6

# Issue

- Host config has an option to control font weight by providing metrics to it(As mentioned in the public documentation: https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#fontweightsconfig).Updating these metrics remain unaffected on client.

- Also, the TextBlock with font

[2020-05-15 10:54] Gunashree-R-V opened #4016 "[Android][Input.Choice] Spacing within Input.Choice sets not rendered."
# Platform

* Android

# Author or host

Host - Teams Android app

# Version of SDK

1.2.6

# Issue

There is no spacing between the elements in a choice set for radio buttons. However upon setting “wrap”:true, the spacing shows up.
The issue is illustrated in the image below:

![image](https://user-images.githubusercontent.com/28745768/82042779-19480f80-96c8-11ea-94f4-8ca9ecdb825e.png)

Also, att

[2020-05-15 14:27] shalinijoshi19 commented on #3973
@jwoo-msft this issue can be closed now right?

[2020-05-15 14:28] shalinijoshi19 commented on #3996
@jwoo-msft can you prioritize this next week once you are back in the office? Thanks!

[2020-05-15 14:33] shalinijoshi19 commented on #3997
@ChristopherP1221 many thanks for reporting this afresh and apologies for the lack of follow up on #3338. @VikrantSingh01 / @siduppal would you be able to help a bit with firstpass on this one? I am not sure I understand how/why this is an AdaptiveCards issue or the end-end flow.. In the past I believe @matthidinger  has believed this to be an issue in Flow?

[2020-05-15 14:36] shalinijoshi19 commented on #4002
Great find here @RamyaRamanathan28 ! @paulcam206 can you see if you can investigate to see if this is one of the known inconsistency issues you've been tracking at all?
Btw, @RamyaRamanathan28 curious about your consumption model of our renderer on Search. Is there a reason you take a dependency on our source in master vs npm released packages?

[2020-05-15 14:38] shalinijoshi19 commented on #4003
@dclaux is this something that is now addressed as part of teh designer/renderer refactor ?

[2020-05-15 14:39] shalinijoshi19 commented on #4012
@Matthidinger / @dclaux was this related inadvertently to the //build related website updates over the last couple of days?

[2020-05-15 14:41] shalinijoshi19 commented on #4012
@raheemdaya apologies for this! We were working on a //BUILD conference recording internally, and inadvertently pushed changes up to the website without the corresponding templating package SDK updates. I believe this should now be addressed for you. Please do go ahead and reactivate if not. Thanks!

[2020-05-15 14:41] #4012 closed

[2020-05-15 14:43] shalinijoshi19 commented on #4016
@almedina-ms would you be able to take a stab at looking at what's going on here real quick please? Thanks! @jwoo-msft FYI.

[2020-05-15 15:56] dblyth-msft commented on #3997
@shalinijoshi19 I expect this is a Teams client issue, not a Flow issue. The customer confirmed on the previous thread that the same behavior occurs when using Graph APIs directly to post a cards.

[2020-05-15 19:05] raheemdaya commented on #4012
@shalinijoshi19  I know this is already closed, but I really want to thank you and the team for the work you have done on this.  I know I probably came across as a little grumpy, but this tool has been vital to some of the things we are trying to accomplish.  Thank you again!

[2020-05-15 19:16] #2235 closed

[2020-05-16 02:27] raheemdaya commented on #4008
You guys rock!  Thanks so much for taking care of this so quickly.  For what its worth, once we are ready for it, the binding mechanism and the ability to add the action without having to drag it over will be awesome.  We really appreciate all the work you have put into this!

[2020-05-16 02:27] #4008 closed

[2020-05-17 05:33] #4014 closed

[2020-05-18 18:07] #2236 closed

[2020-05-18 19:18] paulcam206 commented on #2236
This bug will be fixed in the next release, but will require callers to to set `GlobalSettings.setTabIndexAtCardRoot` to `false` if the desired behavior is for us not to emit a tabstop.

[2020-05-18 19:27] paulcam206 opened #4027 "[JS] Selected state not reflected for comboboxes in WebChat"
Per email thread:

[2020-05-19 10:30] VikrantSingh01 commented on #4015
FYI - @anujb , @shalinijoshi19

[2020-05-19 10:41] sonu-create opened #4030 "Teams update v2.0.10 in Mobile , does not allow users to click on any buttons"
I am using ios 13..4.1 version and teams app has updated recently in mobile . The chatbot which I had been intercating earlier, now If i try to click on any buttons, there is no action , it just selects the button as if we are doing copy paste cation and does not return the relevant output action on clicking buttons.

This has been faced with recent teams patch update.

[2020-05-19 13:07] mindmodel opened #4031 "[HTML][rendering] [video player icon clipped, not rendered correctly]"
# Platform
Back end: C#, .Net Core 2.1.  Microsoft Bot Framework 4.9.1 (NuGet packages).

Microsoft travel bot sample (back end). Microsoft web chat client sample (front end).

# Author or host
Sending adaptive cards to web host.
Bot code is Microsoft travel bot sample.
Card markup is product details sample from adaptive card designer.
Demo page is here:
https://dnctestbot.z13.web.core.windows.net

[2020-05-19 13:13] mindmodel opened #4032 "[JS][bug] [video player button takes three clicks to work on iOS Safari]"
# Platform
Back end: C#, .Net Core 2.1. Microsoft Bot Framework 4.9.1 (NuGet packages).
Microsoft travel bot sample (back end). Microsoft web chat client sample (front end).

# Author or host
Sending adaptive cards to web host.
Bot code is Microsoft travel bot sample.
Card markup is product details sample from adaptive card designer.
Demo page is here:
https://dnctestbot.z13.web.core.windows.net

[2020-05-19 15:43] matthidinger opened #4034 "[Designer] "type" property at the top element JSON"
With the latest Designer update, the `type` property is no longer at the top of the generated JSON. This has caused some friction with my muscle memory and makes the payloads harder to scan.

1. Load vnext Designer
2. Drag in a TextBlock from the Card Elements toolbox

Expected:

[code]

[2020-05-19 15:43] adamhewitt627 opened #4035 "[UWP][Image] [Image doesn't include spacing]"
# Platform
* UWP

# Version of SDK
[code]

# Details

The `"Image"` element doesn't include any spacing set on it, but you will see spacing on a parent `ColumnSet`.

## Reproduction
[code]

![image](https://user-images.githubusercontent.com/3036550/82347611-b8148a80-99ac-11ea-85e6-91e6afed20c8.png)

[2020-05-19 15:48] matthidinger opened #4036 "[Designer] Binding UI could use "short-form" when creating binding expressions"
I prefer to shorter binding syntax when hand-typing bindings, if the implicit syntax is sufficient.

E.g., `"text": "${myProperty}` as opposed to `"text": "${$root.myProperty}"`

In the Designer, when I use the Binding Flyout to select a root property, it includes `$root` in the expression.

[code]

Expected:

[code]

[2020-05-19 17:18] #3951 closed

[2020-05-19 17:38] mindmodel commented on #4031
Here's a link to the question I posted on StackOverflow for this issue and one other.

https://stackoverflow.com/questions/61829070/microsoft-bot-framework-adaptive-card-1-1-media-play-button-doesnt-display-co/61878406

[2020-05-19 17:41] mindmodel commented on #4031
![videoplayer](https://user-images.githubusercontent.com/6022922/82359767-58cb7000-99d6-11ea-8ced-a3f5da0d80a3.png)

Screen shot of the video player with clipped icon.

[2020-05-19 17:42] mindmodel commented on #4032
Here's a link to the question I posted on StackOverflow for this issue and one other.

https://stackoverflow.com/questions/61829070/microsoft-bot-framework-adaptive-card-1-1-media-play-button-doesnt-display-co/61878406

[2020-05-19 21:06] DeeJayTC opened #4038 "[All][HostConfig | Styling] [Button styles can't be modified in HostConfig]"
# Platform

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host
Host

# Version of SDK
1.2 Web, IOS, Android
# Details
Question was raised in TAP asking how to modify destructive/positive styles of actions. Turned out its not possible using host configs, changing container styles doesn't have an effect on actions.

Its only working in designer for WebChat where its done wit

[2020-05-19 21:16] dclaux commented on #4038
@DeeJayTC buttons and inputs are styled using native styling in each platform (CSS for the JS SDK, XAML styles for UWP, etc.) The reason for this design decision is that there are simply too many different visual combinations app developers want to be able to achieve (background, frame, rounded corners, drop shadow to cite a few.)

The JS SDK uses well defined CSS classes for buttons, including `a

[2020-05-19 21:16] DeeJayTC commented on #4036
Just saw this here, my 2 cents on this it could actually reduce maintainability of cards.
As long as you only have one hierarchy level in your data its totally fine, if you have multiple levels, nested arrays etc this could get messy quite fast.

Thats why personally I'd always use $root , $data etc anyway. Really helps with visibility where stuff is coming from.

[2020-05-19 21:19] dclaux commented on #4036
@matthidinger, what @DeeJayTC describes is the very reason for the current design. Using `$root` consistently throughout makes things more predictable.

[2020-05-19 21:19] DeeJayTC commented on #4038
I pretty much just forwarded that from a TAP conversation, i ping you on it.

If its not a bug but design desicision there might be some documentation needs on that, heard before that people where missing this in the config. And didn't know how to change it.

[2020-05-19 21:27] dclaux commented on #4038
There is a definite lack of documentation in that area, for sure.

[2020-05-19 21:59] DeeJayTC commented on #4038
Regarding the original issue:

For iOS  you can change the styles of buttons through XIB. https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/ios/native-styling

If not, UI element such buttons can be updated through overriding corresponding renderer. https://docs.microsoft.com/en-us/adaptive-cards/sdk/rendering-cards/ios/extensibility

Closing this one, not an issue.

[2020-05-19 21:59] #4038 closed

[2020-05-20 01:47] jwoo-msft opened #4042 "[Designer][Template] [Toggle Visibility Issue]"
# Platform

* JavaScript

# Version of SDK
https://adaptivecards.io/designer/

# Details
[Expense Report Card](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-ExpenseReport-Update/samples/Templates/Scenarios/ExpenseReport.template.json)
[Expense Report Card Data](https://github.com/microsoft/AdaptiveCards/blob/jwoo/Template-ExpenseReport-Update/samples/Templates/Scenarios/ExpenseRepo

[2020-05-20 07:11] RudySchockaert-EngieIT commented on #1443
Hi team,

Is there any solution for this requirement? I have to implement a Teams integrated solution as well where people have to initialize a password for a secondary account users request.
If Adaptive Cards if not able to provide this, I'll be forced to look for any alternatives. How promising this solution may look for everything else.

[2020-05-20 08:17] adumrewal opened #4043 "[iOS-Android-Web][ImageSet Rendering] [No parity in rendering of images in imageSet for various imageSizes]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] Android
- [x] iOS
- [ ] UWP
- [x] JS
- [ ] .NET
- [ ] Documentation

# Author or host

Host - Teams

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

1.2.7 on iOS

# Details

When using imageSize for imageSet, there is no parity between the rendering experience on the three client

[2020-05-20 20:47] #4034 closed

[2020-05-20 22:07] #4027 closed

[2020-05-21 06:59] Sujit-Gaikwad commented on #3824
@Subhasish-msft any update on above comment

[2020-05-21 07:00] Sujit-Gaikwad commented on #3885
Any update on this

[2020-05-21 09:29] Subhasish-msft commented on #3824
I am discussing with engineering team on this. Will post once i receive an update.

[2020-05-21 17:09] #3950 closed

[2020-05-21 18:11] adumrewal commented on #3824
@Sujit-Gaikwad can you provide the iOS versions on iPhone 10 and iPhone 6

[2020-05-21 18:19] Sujit-Gaikwad commented on #3824
@adumrewal here are the details
iPhone 6
   iOS version 12.4.5
​   Teams version 2.0.10

iPhone X
   iOS version 13.4.1
​   Teams version 2.0.10

[2020-05-21 18:45] Subhasish-msft commented on #3883
closing this issue, @sasatpat , please reopen it, if you are still facing the issue

[2020-05-21 18:45] #3883 closed

[2020-05-22 05:46] Gousia-MSFT commented on #3997
@ChristopherP1221 Could you please provide some screenshots capturing the difference in Desktop vs Mobile behaviour?

[2020-05-22 06:13] adumrewal commented on #3824
@Sujit-Gaikwad iPhone 6 (iOS: 12.4, Teams version: 2.0.10) and iPhone X (iOS: 13.4, Teams version: 2.0.10) have the same behaviour for the above card. Can you please elaborate on the issue that you are facing? If a screen recording is possible please attach that.

[2020-05-22 06:59] Nikitha-MSFT commented on #3915
we could able to reproduce the issue. Raised a bug

[2020-05-22 14:09] Sujit-Gaikwad commented on #3824
@adumrewal
I'm having issue with column set **select action** which is not working on iphone 6.

is it means that Adaptive column set action will work on every  iphone ?
if it is working fine which all iPhone and iOS version it will aupport

[2020-05-22 15:08] KoradaRajesh opened #4050 "Card validations are not working"
I have tried to do Validations in card, it's working only in emulator but I need these validations to be work in msteams and webchat and some other channels.
The below two type of templates I have used with version 1.2
________________________________________________
[code]
_______________________________________________________________________
[code]

[2020-05-25 15:52] domacKA opened #4051 "Microsoft Teams only shows the first carousel card and not a littel of the next"
# Platform
Microsoft Bot Framework SDK 4.72
.NET Core 3.0

What platform is your issue or question related to? (Delete other platforms).
Microsoft TEAMS

# Author or host

I render my own Cards. (lg-files)

# Details
In BotFramework Emulator (V4) carousel cards show the current card and a little bit of the next one. Microsoft Teams only shows the first card.
How would it be possible to have the sa

[2020-05-26 04:15] Sujit-Gaikwad commented on #3918
@shalinijoshi19
is this issue forwarded to teams ???
if yes can you update on this

[2020-05-26 04:59] Wajeed-msft commented on #3918
@Sujit-Gaikwad - @anbah34  and @VikrantSingh01  are from MS Teams mobile team. This is by design.
Comment from Mobile Team:

[2020-05-26 06:47] domacKA commented on #4051
BotFramework Emulator (V4):
![Emulator](https://user-images.githubusercontent.com/65910471/82868758-7a27e100-9f2d-11ea-9b2e-d217786a4e9a.jpg)

Teams:
![teams_card](https://user-images.githubusercontent.com/65910471/82868808-9035a180-9f2d-11ea-9d68-8333f2a38063.jpg)

[2020-05-26 07:24] Puntherline commented on #1443
No updates on this so far I imagine? I believe that many people would apprechiate something simple, such as a password tag or style so you can enter the characters into a field and spying eyes wouldn't be able to spot the actual password.

[2020-05-26 08:18] adumrewal opened #4052 "[iOS][ColumnSet] [Auto and stretch columns have the same behaviour]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams iOS

# Version of SDK

latest master

# Details

ColumnSet does not stretch the column of type 'stretch' when another column has type 'auto'.
The behaviour on Desktop and Android seems to be the expected behaviour.
Attaching screenshots and card JSON:
**iOS:**
<img width

[2020-05-27 00:07] TylerOdenthal opened #4053 "[Designer] [Microsoft Teams Task Module Add-on]"
Hey Adaptive Card Team!

Love what you do, and I use a lot of your card on Microsoft Teams in Bot Applications.

I have been trouble integrating Task Modules into the Adaptive Cards on Teams.

Can we just make that a feature? I feel like people would have their buttons open native inside of Teams more often if it was easier.

Example: Action.OpenURL() <- Have a drop down to open in Microsoft Teams

[2020-05-27 05:47] muthurathinam opened #4054 "[JavaScript][Rendering] Processing contiguous <mark> tags in text is breaking"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Version of SDK

latest master

# Details

With `GlobalSettings.allowMarkForTextHighlighting` set to `true`, contiguous \<mark\> blocks are not handled properly.

For example:
[code]
The above ends up being converted into `First/==Second` instead of `FirstSecond`.

[2020-05-27 10:14] FelixZhang001 opened #4058 "[IOS][Layout] [When put submit button on the right column of the card, it could be cut off]"
# Platform

* iOS

# Author or host

Host - Teams IOS

# Version of SDK

Both SDK 1.2.7 and the latest master

# Details

Our demand is to put the "submit" button on the right of the card and cover a fixed-width space. Then the text would cover other spaces on the left. So we update our payload like the attachment.
[feedback_payload.txt](https://github.com/microsoft/AdaptiveCards/files/4687985/fee

[2020-05-27 18:43] paulcam206 commented on #3940
As @dclaux mentioned, the output HTML looks something like this:

[code]

The `type="date"` bit combined with it being an `<input>` means that it's up to the browser to render the appropriate control. Indeed, you can see different rendering approaches depending on which browser you use:

### New Edge
![image](https://user-images.githubusercontent.com/16614499/83059326-964f7f00-a00e-11ea-86e8-5502a

[2020-05-27 18:44] #3940 closed

[2020-05-27 19:03] paulcam206 commented on #3802
This no longer repros with a newer build of (old) Edge (version `44.19XXX` with EdgeHTML version `18.19XXX`). I looked at the HTML emitted for TextBlocks and they look correct from an aria standpoint. I don't think there's any further action required on our part here.

[2020-05-27 19:03] #3802 closed

[2020-05-27 20:30] paulcam206 commented on #2256
Verified that this is fixed in `master`. Looking to see what our release plan looks like :)

[2020-05-27 20:36] paulcam206 commented on #2237
Looks like #2256 is a duplicate of this bug, which is the bug I've been tracking/working against.

[2020-05-27 20:36] #2237 closed

[2020-05-27 20:36] paulcam206 commented on #2256
Note that the fix for this issue needs to apply to `Input.Time` as well. :)

[2020-05-27 22:35] jwoo-msft commented on #3961
@JohnnyKehr
I wished I could've responded sooner. I was super occupied with [Templating work](https://docs.microsoft.com/en-us/adaptive-cards/templating/) until now.

While I'm working on providing customization option through custom rendering, have you thought about using .xibs? You can customize ACRCellForCompactMode and ACRPickerView through ACRCellForCompactMode.xib and ACRPickerView.xib. More

[2020-05-27 23:06] #2240 closed

[2020-05-27 23:47] jwoo-msft commented on #3961
You can access ACRPickerView, by casting the UIView that's returned from the render method of ACRInputDateRenderer, then the ACRPickerView is accessible through inputView accessor, e.g. ((ACRDateTextField *) view).inputView.

If you want to override choice set input's style, you have to override its delegate, and have the delegate to return a customized cell.

For example,
[code]
As for customData

[2020-05-28 03:14] zjw7sky opened #4060 "[ios][size] [imageView size is wrong]"
# Platform
* iOS

# Version of SDK
1.2.7

# Details
![image](https://user-images.githubusercontent.com/8446716/83094196-b85f0500-a0d3-11ea-8db9-e95b02262344.png)

1.2.1 is OK
The size of the picture set in json is invalid, the size of the actual picture displayed

[2020-05-28 03:37] Sujit-Gaikwad commented on #3918
@Wajeed-msft  for desktop I'm getting list without scroll bar and I'm unable to scroll that without a mouse. there is a vertical scroll bar at all for desktop.

![WhoBottList_card1](https://user-images.githubusercontent.com/60354515/83096067-6661b380-a0c2-11ea-855b-3ff2f7b53e1a.PNG)

![WhoBottList_card2](https://user-images.githubusercontent.com/60354515/83096064-65308680-a0c2-11ea-8d68-c2e13b1954

[2020-05-28 03:59] ushakumarik opened #4061 "Adaptive Card : Handling input onChange event"
Hi Team,

Do we have any feature to handle onChange event of input and display some calculated value in the same card using botframework in frontend.. Below functionality is what I expect. By entering the value in the inputbox of adaptive card, should do a calculation and display the value in Total field. How can I achieve using adaptive cards?. Do we have any actions designed for OnChange event o

[2020-05-28 06:27] jazzmind opened #4062 "[JavaScript][Templating] Support Binding Expressions in all data fields"
**What platform is your feature request related to? (Delete other platforms).**
* JavaScript

**Is your feature request related to a problem? Please describe.**
Binding expressions cannot currently be used in fields like "width" for Columns, or "id"/targetElements[] for toggleVisibility. I'm sure there are other fields too.

**Describe the solution you'd like**
Allow binding expressions to work fo

[2020-05-28 06:29] jazzmind commented on #4062
Card code:
[code]

Data:
[code]

[2020-05-28 09:38] FelixZhang001 opened #4063 "[IOS][Layout] [Extra UIView in the container with only 1 ColumnSet element, and sometimes this cause extra space for the card]"
# Platform

IOS

# Author or host

Host - Teams IOS

# Version of SDK

Both SDK 1.2.7 and the latest master

# Details

We want to show several items on one card. For the first item, it is one Container with only one ColumnSet element. The payload is shown below.

[code]
But sometimes, for the same payload, the first item would have an extra space UIView like this.
![Screenshot (1)](https://user-i

[2020-05-28 14:16] shalinijoshi19 commented on #3950
@paulcam206 this was missing the 1.2.9 tag; Can we ensure this gets ported over to release/1.2 for inclusion in the UWP patch release?

[2020-05-28 14:19] shalinijoshi19 commented on #3829
@Paulcam206 am moving this out of the 20.05 patch release. Also since you are stretched thin at the moment, am taking this off your plate for load balancing out for now..

[2020-05-28 14:22] shalinijoshi19 commented on #3961
@jwoo-msft what is the work here on the SDK side and is that landing for 1.2.9? I'd rather include it in the next patch for now since I'd like to lock down the release/1.2 branch for this week soon.

[2020-05-28 15:37] dclaux commented on #4062
@jazzmind I am probably missing something so please bear with me.

All card fields can already use expressions and be bound. There is no limit since our templating solution is actually a generic JSON-to-JSON transformation engine. That means Column.width, ids and targetElements for a Action.ToggleVisibility can all use expressions.

There is however a limitation in the designer where the UI only m

[2020-05-28 16:19] Chekrii commented on #3613
Hello all,

We are also facing the same issue, Is there any workaround for this?

After selecting the value from the date picker, we would like to show a different format than ` Apr 28, 2019 `  in Teams desktop.

Please find the screenshot.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/49824279/83166870-271c7c80-a12d-11ea-9b2c-8b386bbdb6da.png)

Thanks.

[2020-05-28 17:33] jwoo-msft commented on #4060
@zjw7sky
Hi,

Can you share your json and screenshots of what you've expected and what you've actually got?

Thanks

[2020-05-28 17:44] jwoo-msft commented on #3991
@arman-g
You mentioned that this is .Net Templating issue. What we are sayin is that this is not templating issue.
Please see about [Templating](https://docs.microsoft.com/en-us/adaptive-cards/templating/).

[2020-05-28 17:48] #3864 closed

[2020-05-28 17:49] yashag2255 opened #4064 "Outlook Adaptive Cards - Action.http does not work"
Action.http type is not working for POST method in Outlook Actionable Messages. It keeps resetting when POST method is selected and the card does not render. (this was working a couple weeks ago)