[2019-07-03 17:14] andrewleader commented on #2938
placeholder text on compact ChoiceSet seems like a useful addition, I think that'd be a great 1.3 feature. @matthidinger @dclaux thoughts?

This does mean yet another meaningless property when it's in expanded or multi-select mode though. But I don't see any better option, so I'm in favor of adding placeholder text.

[2019-07-03 17:21] andrewleader commented on #3053
# David/Matt/Andrew customer sync 7/3/2019 meeting

Concerns about whether tinting images is easily achievable on HTML/JS. Android has built-in support, but on JS we would have to process the images to apply the tints? Probably the same on UWP/iOS?

Are we solving for scenarios that will be irrelevant in 5 years? In 5 years, will everyone be using SVGs or Font Icons? And PNGs will be irrelevant? M

[2019-07-03 17:42] #3061 closed

[2019-07-03 17:56] nesalang commented on #3125
@vishmonne do you have a contact in Teams to whom you can bring up this issue #1 & #3?
That will be the best option, and they will appreciate for the valuable feedback.
I'm working on the 2nd issue. can you be more specific on the issue you're facing. There are few layout inconsistencies I observe between iOS and other renders. If you're be specific and point out the most important one, I can focu

[2019-07-03 18:10] andrewleader commented on #1978
Being tracked with #3081 in combination with more advanced validation support

[2019-07-03 18:10] #1978 closed

[2019-07-03 18:16] andrewleader commented on #3139
We're looking at adding input validation in 1.3, see this feature: #3081. Closing (I'm also in touch with yaswanth via email).

[2019-07-03 18:16] #3139 closed

[2019-07-03 20:58] RebeccaAnne commented on #3132
@bandmask, I agree that the documentation leaves something to be desired, and looking at the documentation github it looks like there is an issue tracking improvement here (https://github.com/MicrosoftDocs/AdaptiveCards/issues/93).

In the meantime, I can get you pointed in the right direction. The key thing you're missing in order to get the input collected is the AdaptiveRenderContext.AddInputVa

[2019-07-03 21:01] RebeccaAnne opened #3145 "[UWP] Helper implementations should be provided to parse and implement base element properties"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

Today to implement a custom element, parsing of all properties is required. We should provide a base implementation to handle parsing properties that are common to all elements.

[2019-07-04 05:24] droidriz commented on #3125
@nesalang
1.wraping of text i.e wrapped correctly in other layouts (Date | Time | TimeZone) next to alternate date/Time in render.
2. The Images size inside column is changing in IOS Render whereas in other render (Android/Desktop) its working as we need i.e layout is being rendered correctly.

[2019-07-04 09:02] vishmonne commented on #3125
hi @nesalang ,

Main focus is

-  As u can see in the screenshot , though in the code we have used wrap=true inside the textblock , in the screenshot its not wrapping properly.

-  The image size is not properly getting rendered in IOS whereas the same thing works fine with android and Desktop TEAMS interface
**ANDROID  TEAMS APP**
![Android Screenshot 2](https://user-images.githubusercontent.com/

[2019-07-04 09:49] BalarajuAkula opened #3148 "Issues in Adaptive card design in Microsoft bot framework"
We are using Microsoft bot framework V3 and typescript and while designing Adaptive cards below issues are facing 1.Card rendering is failing at UI side When we use "width": "80px" or width:1 for alignment.

Red color is not properly displaying("color": "Attention") whichi is coming as brick red

[code]

[2019-07-05 17:33] shalinijoshi19 commented on #3128
I agree this should be fixed - at least a quick one-liner in our existing documentation here https://docs.microsoft.com/en-us/adaptive-cards/sdk/authoring-cards/net about how the library is optimized for the net/js platforms but not others, even though they are available as the complete renderer SDK offering for the remaining platforms.

[2019-07-05 18:46] nesalang commented on #3125
@vishmonne
Thanks for the clarification.
As the issue is being addressed, I suggest making following changes to your payload to get you unblocked.

For 2nd issue, setting the size of Image such as small, medium, large, will resolve the issue.
What happened here is that since the column that contains the image size is auto and the column with text set to stretch, the image has shrunken to adjust fo

[2019-07-05 19:12] shalinijoshi19 opened #3150 "test for fabricbot rule"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-07-05 19:40] droidriz commented on #3125
@nesalang
Thank you i did try with the image as Large here is the layout issue after that.
![IMG-20190706-WA0001](https://user-images.githubusercontent.com/6308418/60742339-a12e9a80-9f8a-11e9-91da-c1773a29b94f.jpg)

here in the above image the width of the window is small and my card is being only displayed 3/4th also the image is large but when it has 3 lines of text and one image it automaticall

[2019-07-05 19:49] shalinijoshi19 commented on #3101
@paulcam206, is this fixed at this point wiht your last npm package version fix?

[2019-07-05 21:19] shalinijoshi19 commented on #3021
@RebeccaAnne thoughts? Is this something that we want to and can fix for 1.2.1 ? If so let's try to get on this next week!

[2019-07-05 21:21] shalinijoshi19 commented on #3089
@paulcam206 if we are doing this for 1.2.1 let's try to get started on this next week. Thanks!

[2019-07-05 21:22] shalinijoshi19 commented on #3101
@paulcam206 if this is going in for 1.2.1 let's try to get started on this next week! Thanks

[2019-07-05 21:48] shalinijoshi19 opened #3151 "test-for fabricbot"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-07-05 21:57] shalinijoshi19 opened #3152 "fabric bot test 4"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-07-05 22:19] shalinijoshi19 commented on #3022
@almedina-ms can this be closed at this point ?

[2019-07-05 23:09] shalinijoshi19 commented on #2992
@paulcam206 can you please take a look at this? Thanks

[2019-07-05 23:12] shalinijoshi19 commented on #3005
Looks like a candidate for fixing and addressing the inconsistency. @almedina-ms can you pick this up? Thanks!

[2019-07-05 23:16] shalinijoshi19 commented on #3009
Fixed by #3008

[2019-07-05 23:16] #3009 closed

[2019-07-05 23:20] shalinijoshi19 commented on #3010
@RebeccaAnne / @nesalang / @almedina-ms what's the behavior in this scenario on other platforms in addition to UWP? If JS is the only one that enables markdown and hence whitespace normalization, then perhaps we can have JS to not default to that  (@dclaux )? Marking this Investigate for now to figure out the behavior on other non-JS/non-UWP platforms first.

[2019-07-05 23:24] #2891 closed

[2019-07-05 23:26] shalinijoshi19 commented on #3011
@andrewleader / @RebeccaAnne what does that spec say about OpenURL behavior again? For sure .NET needs fixing (@almedina-ms FYI) but it almost feels like all 3 behaviors today are a bit too late? Is it not possible to detect this as part of input validation even before we get to the rendering stage? Thoughts?

[2019-07-05 23:34] shalinijoshi19 commented on #3014
@almedina-ms can you take a stab at this? Also please remember to check on iOS/android and the .NET platforms as well please? Thanks!

[2019-07-05 23:42] shalinijoshi19 commented on #3026
@paulcam206 / @RebeccaAnne/ @almedina-ms  let's just use this issue to track the overall async operation improvements in XamlBuilder including related issues #491 , #991, #2396 and the following improvement suggested by the Timeline folks:

<snip>
TL;DR: We may want to consider refactoring XamlBuilder::PopulateImageFromUrlAsync to use tasks that we can chain with .then instead of nested put_Comple

[2019-07-05 23:44] RebeccaAnne commented on #3010
Part of the issue here is that javascript uses a full markdown parser, whereas shared model platforms are supporting only a limited subset of markdown (by design). We therefore do not see additional markdown behavior such as this. Someone can correct me if I'm wrong, but my understanding is that the by-design behavior for markdown in Adaptive Cards is to only support a very limited subset, but tha

[2019-07-05 23:45] shalinijoshi19 commented on #3031
@andrewleader / @almedina-ms can you guys drive arriving at a good default here? Thanks!

[2019-07-05 23:48] RebeccaAnne commented on #3011
The schema says that url is required: https://adaptivecards.io/explorer/Action.OpenUrl.html

UWP (via the shared model) is failing at parse time.

[2019-07-05 23:50] shalinijoshi19 commented on #3050
@dclaux would you be able to help take a stab at this one? Thanks!

[2019-07-05 23:54] shalinijoshi19 commented on #3056
@dclaux could you help take a first stab ? What i am unclear about is why the browser would come into the picture if the JS library is the same ? Also do we want to support IE11 at this point? @andrewleader / @matthidinger thoughts?

[2019-07-05 23:55] shalinijoshi19 commented on #3048
@dclaux this looks like something we should fix in the designer? Thanks!

[2019-07-05 23:57] shalinijoshi19 commented on #2814
@RebeccaAnne do we want to tackle this as a bug still ? Also 1.3?

[2019-07-06 00:01] shalinijoshi19 commented on #3073
@andrewleader / @matthidinger  this looks like this should be fixed now yes?

[2019-07-06 00:02] shalinijoshi19 commented on #3073
I see this now in the latest version on adaptivecards.io:

![image](https://user-images.githubusercontent.com/20822397/60748850-b550a880-9f46-11e9-9fbe-f588d66fc912.png)

[2019-07-06 00:05] shalinijoshi19 commented on #3073
And this is the schema:

![image](https://user-images.githubusercontent.com/20822397/60748874-0c567d80-9f47-11e9-913e-0ced6ffd6ee8.png)

[2019-07-06 00:15] shalinijoshi19 commented on #3073
Looks like this is fixed at this point - @andrewleader can you please confirm and close out? thanks!

[2019-07-06 00:19] shalinijoshi19 commented on #499
@almedina-ms can you pick this up?

[2019-07-06 00:21] shalinijoshi19 commented on #902
@matthidinger do you know where the AC Viewer extension for VS code is maintained at ?

[2019-07-06 00:26] shalinijoshi19 commented on #3077
@RebeccaAnne can you take a look to see where and what the fix would need to be here? Thanks!

[2019-07-06 00:29] shalinijoshi19 commented on #3099
@almedina-ms can you double check the story on Android as well? Thanks

[2019-07-06 00:30] shalinijoshi19 commented on #3096
@matthidinger another one around the AC Viewer VS extension/plugin!

[2019-07-06 00:43] shalinijoshi19 commented on #2555
Tracked by #2555

[2019-07-06 00:45] shalinijoshi19 commented on #2555
Closing this issue and tracking with #2644

[2019-07-06 00:45] #2555 closed

[2019-07-06 00:48] shalinijoshi19 commented on #2644
This appears to be an issue with Teams. We are working with the Windows Globalization team and Teams (@jjustinms) to figure out a way forward.

Meanwhile, here's the snip from Ron from Windows globalization around the rootcause:
<snip>
...issue is specific to Teams, which has an inherent problem picking up OS locale data changes.

Teams is built on Electron, which is basically Chromium, and Chromi

[2019-07-06 00:51] shalinijoshi19 commented on #3110
@matthidinger so this should be fixed now yes?

[2019-07-06 05:03] shalinijoshi19 commented on #3010
Interesting. Thanks @RebeccaAnne. Indeed looks like we use[ markdown-it](https://github.com/markdown-it/markdown-it) for JS by default. Was researching and it does indeed look like markdown generates HTML which as David clarifies collapses the whitespaces by default. Looking at this it almost looks like the rest of our renderers should be following suit and collapsing whitespaces as well by defaul

[2019-07-08 16:07] RebeccaAnne commented on #3010
I tend to think that since we're not supporting full markdown, we shouldn't collapse spacing, but i don't feel particularly strongly about it. If we do want collapse spacing, we should add it to the list of documented supported markdown features here: https://docs.microsoft.com/en-us/adaptive-cards/authoring-cards/text-features. @andrewleader @matthidinger thoughts?

[2019-07-08 16:13] andrewleader commented on #3010
[According to Markdown specs](https://spec.commonmark.org/0.28/#example-185) it seems like whitespace **should** be trimmed. I've filed that inconsistency and a couple others here: https://github.com/microsoft/AdaptiveCards/issues/1984

[2019-07-08 16:22] #3073 closed

[2019-07-08 17:22] productboard-ac opened #3154 "Consistent behavior around required properties and schema errors"
# Summary
There are a lot of inconsistencies between JS and UWP/iOS/Droid when it comes to how required properties on elements are handled. JS is less strict and often continues rendering even when required properties are missing, while the other platforms fail rendering the entire card. We must converge on a consistent behavior to reduce developer frustration. This has been a big pain point for T

[2019-07-08 17:22] productboard-ac commented on #3154
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/2509613

[2019-07-08 17:46] andrewleader commented on #784
Closing as TS no longer renders if the url isn't present for image

[2019-07-08 17:46] #784 closed

[2019-07-08 17:51] andrewleader commented on #2111
Thanks @rednivrug15, the first issue is being tracked with #3154, and the second issue is being tracked with #641

[2019-07-08 17:51] #2111 closed

[2019-07-08 17:55] andrewleader commented on #3011
Will be captured as part of #3154, which converges on a consistent behavior around missing required properties

[2019-07-08 17:55] #3011 closed

[2019-07-08 17:57] andrewleader commented on #2175
Closing as part of the bigger required property consistent issue #3154

[2019-07-08 17:57] #2175 closed

[2019-07-08 18:11] matthidinger commented on #3148
Hi @BalarajuAkula, I put that JSON into the designer and see this:

Can you help us understand what you expect differently? The actual RGB color is chosen by the host, so if you want to change that you would need to change your "host config" that WebChat uses.

/cc @compulim if you have any pointers to that

![image](https://user-images.githubusercontent.com/1432195/60832541-ffb56d80-a170-11e9-847

[2019-07-08 19:03] dclaux commented on #3140
@matthidinger what do the other renderers do? Do they allow clicking anywhere on the poster to start playback? If not, why would we make this change only in the JS renderer?

[2019-07-08 21:24] lalli-flores commented on #3110
Do we have an ETA for when this fix will be published?

[2019-07-08 22:08] dclaux commented on #3071
I personally vote against this. These properties will conflict with Markdown support, which is precisely why we decided that RichTextBlock would not support Markdown.

[2019-07-08 22:12] RebeccaAnne opened #3155 "[UWP] Fallback not working correctly for fallback items in a container"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Author or host

# Issue

Fallback doesn't work when items in a container require fallback. The following card shows nothing in UWP (shows "Hello World" in javascript visualizer):

[code]

[2019-07-08 22:16] dclaux commented on #3081
My suggestions:
- `inputNecessityIndicators` (why is this an enum?) --> `showRequiredInputIndicators: true|false`
- `showInputValidationErrors`: this needs to be introduced as well as a way for a host to custom render these error messages. We've had a very long debate around this.
- `displayInputSuccessIndicators`: don't implement this feature. There is at best anecdotal evidence that we need it
-

[2019-07-08 23:38] almedina-ms commented on #2569
@paulcam206 @matthidinger what was the format we decided upon this??

According to the [WPF documentation](https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement.name?view=netframework-4.8#System_Windows_FrameworkElement_Name) " a Name must start with a letter or the underscore character (_), and must contain only letters, digits, or underscores. "

[2019-07-09 16:54] shalinijoshi19 commented on #3026
Tracking this issue for all XamlBuilder async work processing/exception handling improvements including switching to an async task based model here:

<snip>
TL;DR: We may want to consider refactoring XamlBuilder::PopulateImageFromUrlAsync to use tasks that we can chain with .then instead of nested put_Complete callbacks for finer-grained control of the exception handling.
</snip>

[2019-07-09 16:55] shalinijoshi19 commented on #3026
Related #2396 , #491

[2019-07-09 16:56] shalinijoshi19 commented on #2396
Being tracked by issue #3026

[2019-07-09 16:56] #2396 closed

[2019-07-09 16:56] shalinijoshi19 commented on #491
Being tracked by #3026

[2019-07-09 17:00] matthidinger commented on #3096
The extension actually lives in our repo, `~/source/vscode`
I just realized it uses the old microsoft-adaptivecards rendering library, and the publisher is tomlm, so we'd have to do some research on how to update that with the store.

[2019-07-09 17:02] matthidinger commented on #902
The source code is in `~/source/vscode` and it's pretty outdated. Two things that would be ideal would be

1. Update the package dependency to adaptivecards instead of microsoft-adaptivecards
2. Update publisher from tomlm to adaptivecards, but I think we would need a registration in the VS code extension store somehow?

[2019-07-09 17:12] matthidinger commented on #2938
I'm cool with adding `placeholderText` to Input.ChoiceSet

[2019-07-09 17:18] matthidinger commented on #3010
We're still following a **subset** of markdown (as described in the page Becky linked) correct? If that's the case, I think including whitespace trimming to our subset spec makes sense to consider and include if it's causing compat issues.

[2019-07-09 17:28] shalinijoshi19 commented on #3110
This likely will be part of our 1.2.1 release if not sooner - _@matthidinger  can you correct me here if we plan to release with this fix sooner than 1.2.1? Thanks!_

[2019-07-09 17:29] matthidinger commented on #2569
We have 2 choices I think:

1. Update the schema to enforce a regex for ID similar to HTML4. (_Counter data point_: HTML5 is more permissive and **does** allow a single number)
HTML4: `ID and NAME tokens must begin with a letter ([A-Za-z]) and may be followed by any number of letters, digits ([0-9]), hyphens ("-"), underscores ("_"), colons (":"), and periods (".").`
2. Update the WPF renderer to

[2019-07-09 17:57] almedina-ms commented on #499
I think this issue doesn't repro anymore

![NotCrashing](https://user-images.githubusercontent.com/35784165/60911521-386c4a00-a238-11e9-96b6-145edcd4d5f5.gif)

[2019-07-09 18:10] almedina-ms commented on #2569
@matthidinger I only found WPF to have this issue, all the other platforms accept numbers as id

[2019-07-09 18:15] nesalang opened #3159 "iOS "auto" and "stretch" in column width properties"
# Platform

* iOS

# Issue

This is child issue of #3125.

iOS "auto" and "stretch" in column width properties have different behaviors compared to other renderers.  Please refer to #3125 for payload and screen shots.

When two UI elements can not be fitted in a row without resizing, column with "stretch" value tends to get shrunken more than with "auto" in other renders.

This behavior is opposit

[2019-07-09 20:51] matthidinger commented on #3110
This should be fixed with the 0.7.0 release that just went out. Please reopen and let us know if you're seeing issues!

https://www.npmjs.com/package/adaptivecards-designer/v/0.7.0

[2019-07-09 20:51] #3110 closed

[2019-07-09 21:09] shalinijoshi19 commented on #499
@qpongo can you please check with our latest 1.2.0 bits whether this issue still repro's for you? Thanks.

[2019-07-09 21:14] shalinijoshi19 commented on #2712
The work that this bug needs in XamlBuilder is being tracked by issue #3026

[2019-07-09 21:18] shalinijoshi19 commented on #3022
@alemdina-ms says the CI hookup is pending (including creating Android VM/Emulator installed devops agents

[2019-07-10 19:28] almedina-ms opened #3163 "Fallback not respected in UWP ImageSet"
# Platform

* .NET HTML
* .NET WPF
* UWP
* Android
* iOS

# Version of SDK

latest master

# Issue

The .NET platform and the UWP renderer render this card in two different ways; there are two big differences:

1.  Fallback is not being respected in UWP

![image](https://user-images.githubusercontent.com/35784165/60998331-91f27880-a30d-11e9-87e2-8e9a5405fc9b.png)

![image](https://user-images.gith

[2019-07-10 19:41] shalinijoshi19 commented on #3001
@paulcam206, did you have specific suggestions in mind for the readme on how to enhance it? @RebeccaAnne for thoughts/FYI

[2019-07-10 20:53] RebeccaAnne opened #3164 "[.NET WPF] Show card shown above column set with action set in column"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

The card has a show card in an action set in a column. .NET WPF renders the show card above the column set.

Card:
![image](https://user-images.githubusercontent.com/9091833/61003790-886f0d80-a319-11e9-9e2b-a8494f33c990.png)

Card after show card action:
![image](https://user-images.gith

[2019-07-10 21:01] RebeccaAnne opened #3165 "[UWP] Extra padding in basic show card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

In UWP, if the show card doesn't have actions, empty padding appears below the show card's emphasis styling:

![image](https://user-images.githubusercontent.com/9091833/61004549-14ce0000-a31b-11e9-8cc3-144928ed26d6.png)

Compare to javascript:
![image](https://user-images.githubusercontent.co

[2019-07-10 21:03] RebeccaAnne opened #3166 "[.NET WPF] ShowCard doesn't have emphasis styling"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

In .NET WPF, show cards are not rendered with emphasis styling as they are on other platforms:

![image](https://user-images.githubusercontent.com/9091833/61004701-6d9d9880-a31b-11e9-8616-f0b1c33fa4c8.png)

Compare to javascript:
![image](https://user-images.githubusercontent.com/9091833

[2019-07-10 21:11] RebeccaAnne commented on #3166
From https://github.com/microsoft/AdaptiveCards/issues/472 host config section:
"style property on the actions.showCard node. This property is optional; if not specified, it defaults to emphasis:"

[2019-07-10 21:26] paulcam206 commented on #3001
For a start, I think we should have:
* links to our UWP docs
* build instructions
* description of how the code is structured/architected (doesn't need to be super detailed, just a highlevel view)
* how to run/debug/add tests

I'm sure there's more that we could do. :)

[2019-07-10 21:27] choupete opened #3167 "[Designer] Maximum value listed twice"
# Platform

What platform is your issue or question related to? (Delete other platforms).

N/A

# Issue

In the designer, for `Input.Text`, `Input.Time`, and `Input.Date`, "Maximum Value" is erroneously listed twice (the former field should be minimum).

Result:
![image](https://user-images.githubusercontent.com/42462906/61006248-bacf3980-a31e-11e9-9f2e-5637df424963.png)

[2019-07-10 21:32] RebeccaAnne opened #3168 "Deprecate AdaptiveCard style and HostConfig allowCustomStyle"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Potentially everything

# Issue

.NET WPF doesn't support the "style" property on the card level, even when adaptiveCard.allowCustomStyle is set to true in the host config:

![image](https://user-images.githubusercontent.com/9091833/61006541-6bd5d400-a31f-11e9-9e6f-b109e6883813.png)
![image](https://user-i

[2019-07-10 21:36] dclaux commented on #3167
Nice catch. Copy/paste error; first input is minimum value, second is maximum. Easy fix.

[2019-07-10 21:41] dclaux commented on #3167
PR: https://github.com/microsoft/AdaptiveCards/pull/3169

[2019-07-10 21:49] RebeccaAnne opened #3170 "[UWP] Bleed not working properly in show card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

A show card with a bleeding container is not rendering properly on UWP:

![image](https://user-images.githubusercontent.com/9091833/61007437-ae001500-a321-11e9-8d58-215b84fa96d0.png)

Javascript for comparison:
![image](https://user-images.githubusercontent.com/9091833/61007460-bd7f5e00-a321-

[2019-07-10 21:51] choupete opened #3171 "[UWP][JS] Inconsistency with types in Input.Number"
# Platform

* JavaScript
* UWP

# Issue

When creating a card in the designer that has a `Input.Number` element, the designer returns values for the "min" and "max" fields as string types in the resulting JSON. This renders fine in JS, but UWP returns rendering errors because it expects a number. JS will render with both a number and a string in this field.

[code]

Result:

In UWP:
![image](https

[2019-07-10 21:52] shalinijoshi19 opened #3172 "[Schema Explorer] The page's "try it yourself" button text continues to be busted"
# Platform

https://adaptivecards.io/explorer/Container.html

# Author or host
latest prod deployment

# Issue
The text on the "Try it Yourself" button appears busted still with a trailing character; This should have been addressed with the 7/9 deployment per Matt ; The right version appears on http://adaptivecards-ci.azurewebsites.net/explorer/
![image](https://user-images.githubusercontent.com/2

[2019-07-10 21:53] shalinijoshi19 commented on #3172
@matthidinger assigned to you for tracking. Thanks

[2019-07-10 21:55] utsavlathia opened #3173 "[Designer] json created by designer sets value of Input.Number to wrong type"
# Platform

* Designer

# Issue
This is the json created by the designer when you put a default value in a Input.Number
[code]
According to [the schema](https://adaptivecards.io/explorer/Input.Number.html) value is supposed to be a number not a string, so this seems to be a designer bug for setting value as a string in the produced json.

This is most likely the root cause of [this issue](https://

[2019-07-10 22:02] choupete opened #3174 "[UWP] Visualizer crashes with erroneous values on Input.Date"
# Platform

* UWP

# Issue

The UWP visualizer crashes when the JSON has faulty min and max values on `Input.Date` (when max comes before min). The visualizer initially renders the card, but when clicking the button to expand the date picker, the application crashes.

[code]

# Result:

![image](https://user-images.githubusercontent.com/42462906/61008153-a6417000-a323-11e9-9abd-243d9d3b6a3f.png)
C

[2019-07-10 22:03] nesalang opened #3175 "[Android] Media Control Doesn't Autohide"
# Platform

* Android

# Issue

Media Control doesn't auto hide for the duration of the media playback.
![Screenshot_1562795350](https://user-images.githubusercontent.com/4112696/61008268-ec96cf00-a323-11e9-8741-6d7c76bd4f96.png)

[2019-07-10 22:04] RebeccaAnne opened #3176 "[.NET WPF] Crash on nested show cards"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

If a card has nested show cards, clicking on the second one crashes (JS can handle this):
![image](https://user-images.githubusercontent.com/9091833/61008228-da1c9580-a323-11e9-8399-a5b917598bf4.png)

![image](https://user-images.githubusercontent.com/9091833/61008262-e9034800-a323-11e9-

[2019-07-10 22:08] RebeccaAnne opened #3177 "[UWP] Nested show cards don't work properly"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

The following nested show card doesn't work right. Starting with:
![image](https://user-images.githubusercontent.com/9091833/61008415-3f708680-a324-11e9-9285-a0c5f4b18215.png)

Click the first button:
![image](https://user-images.githubusercontent.com/9091833/61008433-4d260c00-a324-11e9-9baa-

[2019-07-10 22:09] RebeccaAnne commented on #3176
UWP also has issues with this card #3177

[2019-07-10 22:09] RebeccaAnne commented on #3177
.NET crashes on this card #3176

[2019-07-10 22:09] utsavlathia opened #3178 "[UWP] Visulizer throwing an futile error expecting number on strings"
# Platform

* UWP

# Issue

This error is being thrown on the UWP visualizer although the Input.Text.Value should be a string not a number
![image](https://user-images.githubusercontent.com/43022566/61008496-7cd51400-a324-11e9-88dd-6d8d8876b291.png)

This is an example of the json that would throw this error
[code]

[2019-07-10 22:22] almedina-ms opened #3180 "[UWP] Hiding unrendereable element hides the fallback too"
# Platform

* UWP

# Version of SDK

master

# Issue

UWP hides the fallback element if the element that couldnt be rendered had visibility hidden, for example, this card hides the textblock that is the fallback for the input.toggle element

![image](https://user-images.githubusercontent.com/35784165/61009118-7778c900-a326-11e9-9f49-2a69a0fe7691.png)

[code]

[2019-07-10 22:22] shalinijoshi19 opened #3181 "[WPF .NET Renderer] Fails to render a card with Id set on elements"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Version of SDK
Latest master

# Issue

It looks like as soon as I add an Id to the card, it fails to render in WPF (renders fine in JS) with the following exception that's thrown under the covers:

RENDER Failed. '3' is not a valid value for property 'Name'.
Exception thrown: 'System.NullRefere

[2019-07-10 22:24] RebeccaAnne opened #3182 "[JS] Interaction between show card and toggle"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Issue

Repro steps:
Render the card below:
![image](https://user-images.githubusercontent.com/9091833/61009101-67f98000-a326-11e9-86d1-f57cbf545f93.png)

Click the show card action:
![image](https://user-images.githubusercontent.com/9091833/61009117-76e03280-a326-11e9-9438-5fbcff28b495.png)

C

[2019-07-10 22:28] nesalang opened #3183 "[iOS] Nested ShowCards Don't Work Properly in ActionSet"
# Platform

* iOS

# Issue

Nested ShowCards in ActionSet don't render properly, however the same nested ShowCard render properly in actions.
Please refer to #3177 for json

[2019-07-10 22:32] almedina-ms opened #3184 "[Android] Value from toggle input not being retrieved"
# Platform

* Android

# Version of SDK

master

# Issue

Action.Submit is throwing errors when clicking

![Screenshot_2019-07-10-16-29-09](https://user-images.githubusercontent.com/35784165/61009533-be1af300-a327-11e9-9341-8636d7e3eb56.png)

[2019-07-10 22:35] dclaux commented on #3182
The ToggleVisibility button merely shows or hides the "Hidey" TextBlock, it doesn't nor should reveal the ShowCard's card, so the observed behavior is correct and UWP seems to be a bit overzealous.

That said, clicking the ToggleVisibility button once, then the ShowCard should show an empty ShowCard because the ToggleVisibility button is supposed to have hidden the TextBlock. That isn't the case,

[2019-07-10 22:40] RebeccaAnne commented on #3163
@almedina-ms lets split this into two separate bugs.

[2019-07-10 22:47] RebeccaAnne commented on #3171
Schema says that these should be numbers: https://adaptivecards.io/explorer/Input.Number.html

[2019-07-10 22:49] RebeccaAnne commented on #3171
Choice set in javascript also accepts numbers where it should only accept strings:
![image](https://user-images.githubusercontent.com/9091833/61010252-5914cc80-a32a-11e9-83c4-4bc0ec6537d9.png)

[code]

[2019-07-10 22:51] RebeccaAnne commented on #3173
We'll track this as part of #3171

[2019-07-10 22:51] #3173 closed

[2019-07-10 22:56] RebeccaAnne commented on #3178
The card renders properly in spite of this error.

[2019-07-10 22:56] RebeccaAnne commented on #3181
This is due to the issue where .NET doesn't accept numeric ids.

[2019-07-10 23:12] RebeccaAnne commented on #3181
Closing as dup of #2569

[2019-07-10 23:12] #3181 closed

[2019-07-10 23:40] RebeccaAnne commented on #3182
The behavior i was seeing was that once the show card was open, the toggle button could hide the hidey text block, but not bring it back.

[2019-07-11 03:34] FelixZhang-yong opened #3192 "For "column" component, the UI is different when set "width" = "auto" in IOS platform"
# Platform

* iOS

# Author or host

No

# Version of SDK

IOS v1.2.0

# Issue

For "column" component, the UI is different when set "width" = "auto" in IOS platform
For the same payload
[code]

Other platform rendered as
<img width="420" alt="屏幕快照 2019-07-11 上午10 51 46" src="https://user-images.githubusercontent.com/52741892/61020276-b878e800-a3cf-11e9-8d59-132b5e394793.png">
But in IOS, it is re

[2019-07-11 12:18] Massi-G commented on #411
@artemious7 where you able to solve this, if yes please can you share solution to populating adaptive cards with values

[2019-07-11 12:41] arafattehsin commented on #411
Hello @Massi-G, I think I was able to do that long back ago. I will try to look for the code snippet for you once I am free tomorrow.

[2019-07-11 12:52] artemious7 commented on #411
Hello @Massi-G, I asked this question [here](https://github.com/MicrosoftDocs/AdaptiveCards/issues/124#issuecomment-475501134)
and Microsoft replied:

[2019-07-11 13:10] artemious7 commented on #411
However, I didn't use the new data binding feature. I used Adaptive Cards v1, so I had to clone adaptive card nodes and change the values according to my data.
[Here's some code from my project](https://gist.github.com/artemious7/e5a8f7d92e30b3b2607e9b8fad3b3d31)

[2019-07-11 18:21] almedina-ms commented on #2636
I have no repro on this bug using the latest master

[2019-07-11 18:47] almedina-ms commented on #3099
@shalinijoshi19 this works in android

![Screenshot_2019-07-11-12-47-07](https://user-images.githubusercontent.com/35784165/61076677-a5ffae00-a3d1-11e9-8624-86e973d03e79.png)

[2019-07-11 19:06] shalinijoshi19 commented on #2569
1. What's the case where we expect a customer to specifier an 'id'? With option 2 above would it get confusing if they input something explicitly which was then changed from underneath them ? Do they try to reference it later in the card themselves at all? Because if not, i do agree #2 seems least breaking and targeted. _btw the bug is not just for numeric id's but also for other cases including s

[2019-07-11 19:52] dclaux commented on #3182
What I am saying is that the ToggleVisibility button doesn't hide the TextBlock, it causes the ShowCard to collapse. Clicking the ToggleVisibility button again is not going to re-expand the ShowCard.

[2019-07-11 19:58] shalinijoshi19 commented on #2636
Thanks for confirming @almedina-ms ; @andrewleader  closing this one out then

[2019-07-11 19:58] #2636 closed

[2019-07-11 20:19] almedina-ms commented on #3014
@shalinijoshi19 all platforms do the same as UWP, should this be marked as a JS bug?

[2019-07-11 20:26] shalinijoshi19 opened #3194 "[UWP,X64, VS2019] solution fails to compile with a certificate mismatch error for the 2 store apps"
# Platform

* UWP

# Version of SDK

latest master with VS2019

# Issue

Trying to compile the VS solution fails with the following errors in VS2019; Confirmed that this isnt an issue with VS2017

Severity	Code	Description	Project	File	Line	Suppression State
Error		Certificate does not match supplied signing thumbprint: 7DF59BF73D990455B63DFF7735D301D0BB319CD2	AdaptiveCardTestApp
Error		Certificat

[2019-07-11 21:02] dclaux commented on #3014
The fact that all other renderers behave the same doesn't make them right :) The JS renderer was the first ever available and has always wrapped single words like this. What would card authors expect? The JS behavior IMO, which is why it was done like that in the first place.

[2019-07-11 21:08] almedina-ms commented on #3014
JS does the same, what's the inconsistency here?

![image](https://user-images.githubusercontent.com/35784165/61085502-44493f00-a3e5-11e9-96cf-c0f8a51685f7.png)

[2019-07-11 21:10] almedina-ms commented on #3014
Nevermind, got the issue now, UWP is the one that isn't wrapping

![image](https://user-images.githubusercontent.com/35784165/61085643-9ab67d80-a3e5-11e9-9509-2b943bf983de.png)

[2019-07-12 01:03] nesalang commented on #3125
issue #2 is being tracked by #3159

[2019-07-12 09:02] Aditya0603 opened #3196 "Column Set does not truncate characters from end"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

host

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...

1.2

# Issue

if the card to tab width is less an adaptive Card with his number of column sets does not truncate the text properly.
![653

[2019-07-12 10:07] Massi-G commented on #411
Hi

Thank you for the code snippet, I have seen the adaptive card binding document. However, that presumed a lot and as I am new at the adaptive cards will try and work through it.

Kind Regards
[signature_170447147]

Massimo Gatta | Business Analyst

PUBLICIS COMMERCE
Cambridge Retail Park, 22 Witkoppen Road, Paulshof
PostNet Suite #249, Private Bag X87, Bryanston, 2024
Phone: +27 (0)87 255 1257

[2019-07-12 14:26] tnev commented on #3032
Hi @almedina-ms , were you able to determine if this issue affected any other platforms? Specifically curious about iOS.

[2019-07-12 17:23] nesalang commented on #3192
Hello @FelixZhang-yong
Thanks for the feedback.
I tried your json, I could reproduce the issue, and this inconsistency is caused by the empty column. Is there a need for this use case?

[2019-07-12 17:25] productboard-ac opened #3198 "Add placeholder to Input.ChoiceSet"
<table>
<tr>
<th>Release</th>
<th>Renderer status</th>
<th>Tasks status</th>
</tr>
<tr>
<td>1.3
<td>🔄 .NET (#3201)<br/>🔄 Android (#3202)<br/>🔄 iOS (#3203)<br/>✔️ TS (#3204)<br/>🔄 UWP (#3205)</td>
<td>🔄 Shared (#3206)<br/>✔️ Designer (#3207)</td>
</tr>
</table>

# Summary

`placeholder` currently isn't supported on ChoiceSet (although JS does actually unofficially support it). We should add officia

[2019-07-12 17:25] productboard-ac commented on #3198
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/2541871

[2019-07-12 17:36] RebeccaAnne commented on #3182
Ah, got it, so the bug is that the ToggleVisibility button is collapsing the show card instead of hiding just the text block, makes sense. Thanks.

[2019-07-12 17:36] andrewleader commented on #2938
Closing as dupe of #3198 (unfortunately right now for features to be tracked through productboard, they have to originate from productboard first... they're working on adding support for importing existing issues from GitHub but it's not there yet)

[2019-07-12 17:36] #2938 closed

[2019-07-12 17:59] nesalang commented on #3196
@Aditya0603
can you share your json? I want to see if recent fix fixes this issue.
thanks

[2019-07-12 18:11] andrewleader commented on #3198
# 7/12/2019 review

Proposal and spec approved

* Update spec to say that placeholder should respect wrap

[2019-07-12 18:17] andrewleader commented on #3051
# 7/12/2019 review

* Will there ever be double underline?
  * Consensus is we can support that in future if need be, by upgrading the property to also be an enum so you could specify double

Proposal and spec approved, although the TextBlock aspect is dependent on the other convergence proposal

[2019-07-12 18:24] dclaux commented on #3182
Nope. The ToggleVisibility button is supposed to collapse the ShowCard. The currently expanded ShowCard should collapse as a result of any other button within the same collection being clicked.

BUT, the ToggleVisibility button should also hide the TextBlock, but it doesn't. That's the bug.

[2019-07-12 18:24] andrewleader commented on #3071
# 7/12/2019 review meeting

* David absent and Matt not sure, so postponing any decisions

[2019-07-12 18:51] andrewleader commented on #3154
# 7/12/2019

Proposal approved

* Required properties that have an empty value, like `"text": ""`... should that render?
  * Empty string should NOT render... empty string is same as null.
* Need follow-up on schema and whether we should have a strict/loose schema, but we need more data on how people are actually using the schema

[2019-07-12 19:04] andrewleader commented on #3081
# 7/12/2019

* More spec details needed on behavior of ShowCard and which inputs it validates on
* `showInputValidationErrors` for renderers (via code) makes sense

Proposal approved

[2019-07-12 20:37] RebeccaAnne commented on #3182
Oh. Hmm... That's not how that works in UWP or .NET.  On those platforms we only collapse the show card if another **ShowCard** button is clicked. @nesalang @almedina-ms what happens in ios and android? @andrewleader @matthidinger thoughts on how this is supposed to work?

Summary: Should clicking another non-ShowCard button in the same action set as a show card cause the show card to collapse? To

[2019-07-12 20:47] almedina-ms commented on #3032
@tnev , this is an android only issue which is going to be addressed in the version1.2.1 of AdaptiveCards to be released at the end of this month

[2019-07-12 21:01] #3155 closed

[2019-07-12 21:03] andrewleader commented on #3182
Hmm, interesting. I'm not sure what's the right behavior around whether clicking a non-ShowCard action within the same set should collapse the currently-shown card.

Let's open a new issue specific to that, and let this issue remain specific to the JS bug around the ToggleVisibility hide action not working.

[2019-07-12 21:04] RebeccaAnne commented on #3021
UWP fixed with #3197. Per Joseph iOS is dropping fallback columns and so still needs work. Not sure of the status of Android.

[2019-07-12 21:07] RebeccaAnne opened #3200 "Inconsistency in show card collapse behavior"
There is an inconsistency between renderers as to what should happen when another non-showcard button in a action set is pressed when a show card is showing. In javascript, pressing any other button will collapse the shown show card. In UWP and .NET, only pressing another **ShowCard** button will collapse the shown show card.

JS | UWP/.NET
--|--
![TSShowCard](https://user-images.githubusercontent

[2019-07-12 21:07] RebeccaAnne commented on #3182
Opened https://github.com/microsoft/AdaptiveCards/issues/3200

[2019-07-12 21:22] andrewleader opened #3201 "[.NET] Add placeholder to Input.ChoiceSet"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET implementation of #3198

[2019-07-12 21:22] andrewleader opened #3202 "[Android] Add placeholder to Input.ChoiceSet"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android implementation of #3198

[2019-07-12 21:22] andrewleader opened #3203 "[iOS] Add placeholder to Input.ChoiceSet"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS implementation of #3198

[2019-07-12 21:22] andrewleader opened #3204 "[TS] Add placeholder to Input.ChoiceSet"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS implementation of #3198

[2019-07-12 21:22] andrewleader opened #3205 "[UWP] Add placeholder to Input.ChoiceSet"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP implementation of #3198

[2019-07-12 21:22] andrewleader opened #3206 "[Shared] Add placeholder to Input.ChoiceSet"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared implementation of #3198

[2019-07-12 21:22] andrewleader opened #3207 "[Designer] Add placeholder to Input.ChoiceSet"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer implementation of #3198

[2019-07-12 21:27] andrewleader commented on #3204
Closing as has already been supported in TS since 1.2 and probably even 1.0

[2019-07-12 21:27] #3204 closed

[2019-07-12 21:27] andrewleader commented on #3207
Closing as has already been supported in TS since 1.2 and probably even 1.0

[2019-07-12 21:27] #3207 closed

[2019-07-12 21:45] andrewleader opened #3208 "[.NET] Not all renderers support fallback on Column"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET fix of #3021

[2019-07-12 21:45] andrewleader opened #3209 "[Android] Not all renderers support fallback on Column"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android fix of #3021

[2019-07-12 21:45] andrewleader opened #3210 "[iOS] Not all renderers support fallback on Column"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS fix of #3021

[2019-07-12 21:45] andrewleader opened #3211 "[TS] Not all renderers support fallback on Column"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS fix of #3021

[2019-07-12 21:45] andrewleader opened #3212 "[UWP] Not all renderers support fallback on Column"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP fix of #3021

[2019-07-12 21:45] andrewleader opened #3213 "[Shared] Not all renderers support fallback on Column"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared fix of #3021

[2019-07-12 21:45] andrewleader opened #3214 "[Designer] Not all renderers support fallback on Column"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer fix of #3021

[2019-07-12 21:45] andrewleader opened #3215 "[.NET] Underline support in text runs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

.NET implementation of #3051

[2019-07-12 21:45] andrewleader opened #3216 "[Android] Underline support in text runs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Android implementation of #3051

[2019-07-12 21:45] andrewleader opened #3217 "[iOS] Underline support in text runs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

iOS implementation of #3051

[2019-07-12 21:45] andrewleader opened #3218 "[TS] Underline support in text runs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

TS implementation of #3051

[2019-07-12 21:45] andrewleader opened #3219 "[UWP] Underline support in text runs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

UWP implementation of #3051

[2019-07-12 21:45] andrewleader opened #3220 "[Shared] Underline support in text runs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Shared implementation of #3051

[2019-07-12 21:45] andrewleader opened #3221 "[Designer] Underline support in text runs"
**Automatically generated task. Any updates to the title and body will be overwritten. Do NOT modify the labels.**

Designer implementation of #3051

[2019-07-12 21:46] andrewleader commented on #3211
This was already supported in 1.2.0 for TS

[2019-07-12 21:46] #3211 closed

[2019-07-12 21:46] andrewleader commented on #3208
This was already supported in 1.2.0 for .NET

[2019-07-12 21:46] #3208 closed

[2019-07-12 21:47] RebeccaAnne commented on #3212
Fixed by #3197

[2019-07-12 21:47] #3212 closed

[2019-07-12 21:47] andrewleader commented on #3214
Closing as currently irrelevant to designer (it doesn't support specifying fallback in general)

[2019-07-12 21:47] #3214 closed

[2019-07-12 21:48] RebeccaAnne commented on #3213
Shared model supports fallback on columns. Validation that the fallback is a column added in #3197.

[2019-07-12 21:48] #3213 closed

[2019-07-12 21:51] andrewleader commented on #3210
Joseph confirmed iOS needs work to support fallback on Column

[2019-07-12 21:51] andrewleader commented on #3209
Android has been untested, someone needs to confirm if Android supports fallback on column, and if not needs to be fixed!

[2019-07-12 22:07] #3072 closed

[2019-07-12 22:24] andrewleader commented on #3200
_(from Becky's comment on the other thread)_

@nesalang @almedina-ms what happens in ios and android? @matthidinger thoughts on how this is supposed to work?

Summary: Should clicking another non-ShowCard button in the same action set as a show card cause the show card to collapse? Today UWP and .NET collapse only if another ShowCard is clicked, Javascript collapses if any other button (any action

[2019-07-12 22:25] andrewleader commented on #3200
Also @MikeHillberg any perspectives from the XAML side? See the GIF in the main description for a quick visual of the two options.

[2019-07-12 22:27] almedina-ms opened #3223 "[Designer] There are two "value for on " textblocks"
# Platform

* Designer

# Version of SDK

latest master

# Issue

Input.Toggle in the designer has two values "Value when on"; also the value for off is "true" just as the value for on

![image](https://user-images.githubusercontent.com/35784165/61161605-70ce8b00-a4b9-11e9-9428-3cf8246c26ba.png)

[2019-07-12 22:34] dclaux commented on #3223
Fixed here: https://github.com/microsoft/AdaptiveCards/pull/3169

[2019-07-12 22:35] almedina-ms opened #3224 "[Shared model] There is no consistency for on and off values in Input.Toggle"
# Platform

* Shared

# Version of SDK

latest master

# Issue

In a Input.Toggle input object the default value, when creating the element, for valueOn is  "true" and for valueOff is "false" but when serializing we check for empty strings for default values which is not the same; the Deserialize method in the other hand considers empty string to be the default values for both properties, which sh

[2019-07-12 22:35] almedina-ms commented on #3224
@andrewleader @paulcam206 @RebeccaAnne , any ideas here?

[2019-07-12 22:36] dclaux commented on #3200
@andrewleader I do, it is the behavior of the JS renderer.

[2019-07-12 22:43] andrewleader opened #3225 "Deserializing a card twice in .NET fails with ID collision errors"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET object model

# Author or host

Someone deserializing cards (issue was reported by internal MS customer)

# Version of SDK

NuGet 1.2.0

# Issue

If you use JSON.NET to deserialize a card that's within another object and then immediately deserialize the same card again, a collision ID occurs... even t

[2019-07-12 22:48] andrewleader commented on #3224
In the schema we say default values are `"true"` and `"false"` if the author didn't specify those properties, I'd say we should converge around that?

[2019-07-12 23:58] almedina-ms opened #3228 "[SharedModel] Ambiguous behaviour for set column width"
# Platform

* Shared model

# Version of SDK

latest master

# Issue

There is no documentation for the expected behaviour on what happens if the pixel width is set after width in a column. The behaviour I would expect is for the last property set to be the one to be respected

Also, what's the expected behaviour if a column is set 0 as the pixel width? Should we respect that value or use Auto in

[2019-07-13 06:53] FelixZhang-yong commented on #3192
I intended to simplify the issue with previous payload. Below is the sample payload for the use case we meet. We want to show an image in the left and place name & title on the right of the image.
{
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "Container",
      "items": [
        {
          "type": "ColumnSet",
          "columns": [
            {
              "

[2019-07-14 20:49] tposzytek commented on #2924
All! The error I rised has been solved by Microsoft circa 3 weeks ago. I am closing this issue.

[2019-07-14 20:49] #2924 closed

[2019-07-15 06:35] mamhh opened #3230 "Input.Text and other Input types in Adaptive Cards doesn't have layout property "horizontalAlignment""
`Input.Text` and other Input types in `Adaptive Cards` doesn't have layout property `"horizontalAlignment"` .. which is very weird ... how can I overcome this limitation and make   (`Input.Text`) aligned to `Right `instead of Left ???

[2019-07-15 07:12] vishmonne commented on #3125
hi @nesalang . Thanks for the update on the issue. Would be waiting for a reply on this issue .

[2019-07-15 15:40] dclaux commented on #3230
@mamhh all inputs always use the full width available in their parent container, thus they don't support horizontal alignment because it would be meaningless (that's especially true for Input.Text.)

[2019-07-15 16:11] mamhh commented on #3230
So, if I want the text inside `INPUT. TEXT` to be aligned to right (right to left writing) ... what should I do ??

[2019-07-15 16:30] dclaux commented on #3230
There is nothing to align... an Input.Text always uses the full width of its parent container. Maybe you could post an image of what you're trying to accomplish?

[2019-07-15 16:31] dclaux commented on #3230
Let me put it differently: if you were able to right align an Input.Text, what would the width of that Input.Text be?

[2019-07-15 16:49] mamhh commented on #3230
Your point is valid for English writing .. but for OTHER LANGUAGES , Arabic in my case , Arabic is written from Right to Left ..
So, if we are writing Arabic inside a TEXTBOX and the text is aligned to left, it will have bad looking ...

Below example may clarifies the point..

[عربي         ] aligned to left --> current look.
[         عربي] aligned to right --> target look

[2019-07-15 16:57] dclaux commented on #3230
Ah... so you are asking about RTL support, which is a completely different thing. You don't want to explicitly set alignments to achieve RTL, you want the host to do the right thing automatically. For instance, a host would interpret `"horizontalAlignment": "left"` as meaning `"horizontalAlignment": "right"` (and the other way around) if it was set to a RTL language such as Arabic. But it goes bey

[2019-07-15 17:13] andrewleader commented on #3228
Huh? There is no `Column.pixelWidth` property, only a single `width` property that takes either `auto`, `stretch`, a number, or `50px`, so there's no logic needed to determine which value to use, there's only one value ever.

![image](https://user-images.githubusercontent.com/13246069/61234696-9db4b500-a6e8-11e9-836e-ba6031ca5d6b.png)

I think the shared model **added** a concept of two properties

[2019-07-15 17:58] nesalang commented on #3125
@vishmonne ,
#2 is fixed via PR #3195

[2019-07-15 18:09] #2144 closed

[2019-07-15 18:09] matthidinger commented on #3230
Re #2139, which I've added to the 1.3 milestone for review

[2019-07-15 18:15] #1951 closed

[2019-07-15 18:23] paulcam206 commented on #3228
The shared model only serializes/deserializes the string `width` value. When a string width is set, under the hood, the value is parsed and the internal pixel width is set. We don't reference the pixel width when serializing. However, this does bring up an interesting quirk: if someone calls `SetPixelWidth()` *after* a width has been set (either via a json property or the object model), the column

[2019-07-15 18:28] matthidinger commented on #3200
This experience in Teams + GitHub feels right to me. Action.Submit and Action.OpenUrl keep the ShowCard open, and at least in this scenario does feel like the expected user experience.

@dclaux do you feel super strongly about the other behavior?

![showcard](https://user-images.githubusercontent.com/1432195/61239324-79aaa100-a6f3-11e9-933b-9b2e5d6d42d7.gif)

[2019-07-15 18:34] mamhh commented on #3230
@dclaux @matthidinger  I'm implementing a bot that returns a form to be filled by user .. current rendering within the EMULATOR.. target channel (WEBCHAT) ..so do both *currently* support  RTL ?? Should I follow the post referenced by @matthidinger ??

[2019-07-15 18:42] dclaux commented on #3228
The rule should be that if pixel width is set in the OM it wins. That's what JS does.

[2019-07-15 18:45] dclaux commented on #3230
I unfortunately do not know whether Teams/WebChat support RTL. I have asked internally and will get back to you here if I get an answer.

What Matt referenced is an issue that I opened to add explicit support for RTL in Adaptive Cards. That feature hasn't been implemented though, and Matt is saying we will consider it for the next AC release, namely 1.3.

[2019-07-15 18:49] dclaux commented on #3200
Teams has explicitly overriden the renderer's behavior (I don't know how for that matter, there's no hook for this.) I do not believe it is the right experience, but I can't speak for everybody and that's obviously just my opinion. Outlook implements the behavior I described and is just as valid an example as the GIF you posted above.

[2019-07-15 18:55] mamhh commented on #3230
@dclaux .. target date of 1.3  plz ??? and if adaptive cards will support RTL, that means having them rendered within webchat will reflect that behavior?? Anyways .. I'm waiting more details about webchat once you got it ,,,

[2019-07-15 20:04] paulcam206 commented on #3228
I don't disagree with that.

What I'm saying is that in the shared model, if you `column->SetWidth("40px");`, then `column->SetPixelWidth("5px");`, and then `column->GetWidth(&someString);`, `someString` will be `"40px"`, even though `column->GetPixelWidth();` will return `5`.

This is a bug :)

[2019-07-15 20:29] #3224 closed

[2019-07-15 20:59] #2971 closed

[2019-07-15 22:07] nesalang commented on #3192
thanks for the payload

[2019-07-15 23:16] nesalang commented on #3192
fixed by #3232

[2019-07-16 01:44] FelixZhang-yong commented on #3192
Got it, Thanks.

[2019-07-16 14:08] AndreMantas commented on #2448
When will we be able to install a pre-release via nugget? We are waiting for this feature for so long :)

[2019-07-16 16:15] dominicdustin opened #3234 "Adaptive Card Viewer - File Does Not Show Adaptive Card JSON"
Issue Type: <b>Bug</b>

when I invoke the Adaptive Card Viewer Extension command I get the following error message "File does not show adaptive Card JSON". I have tried almost 30 of the microsoft and github sample card JSON files with the correct schema and it does it no matter what.

Extension version: 1.1.3
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:

[2019-07-16 16:29] jjustinms commented on #2999
Do you have an update? @shalinijoshi19

[2019-07-16 16:54] andrewleader commented on #2448
Hey @AndreMantas, you're looking for a .NET version? We have a JavaScript version on NPM: https://www.npmjs.com/package/adaptivecards-templating

Let us know if you want the .NET version on NuGet and we probably could get around to packaging up the current alpha! Also let us know what version of .NET you need it on (.NET standard 1.3, 2.0, or .NET PCL, etc)

[2019-07-16 17:06] AndreMantas commented on #2448
Hi. Yes I'm looking for a .NET Core version.
Currently when creating new bots via the microsoft template I believe projects are set to .NET Core 2.1, but I usually switch to 2.2.

[2019-07-16 17:12] shalinijoshi19 commented on #2999
@almedina-ms please take a look at this with priority after the existing 1.2.1 bugs are done? Thanks!

[2019-07-16 18:17] shalinijoshi19 commented on #3079
Using this to be able to track everything in ProductBoard in one go. Will dup #2871 to this now.

[2019-07-16 20:27] #3005 closed

[2019-07-16 21:38] tdurnford opened #3237 "Number Input default value undefined when value is set to zero"
# Platform

* JavaScript

# Author or host
Host Rendering Cards

# Version of SDK

npm Adaptive Cards v1.2.0

# Issue

Per issue https://github.com/microsoft/BotFramework-WebChat/issues/2192

Adaptive inputs of type `Input.Number` don't display the value `0`.

![image](https://user-images.githubusercontent.com/7884997/61311209-cd011a00-a7ed-11e9-8c61-a8e13124c920.png)

## To Reproduce

Steps to re

[2019-07-16 22:15] #499 closed

[2019-07-16 22:32] #2849 closed

[2019-07-16 22:56] matthidinger commented on #3237
Thanks for the detailed report!

[2019-07-16 23:40] andrewleader commented on #2448
@AndreMantas we've got a PR in-progress (#3239) for a .NET Standard 2.0 library, you could compile from that source, or here's a [pre-compiled NuGet from OneDrive](https://1drv.ms/u/s!An_saCE0rBx9q5YHnKsHTNLM3NGzNw?e=sso3qE) that you could copy locally and consume until we get it merged and published to NuGet.org!

[See the readme](https://github.com/microsoft/AdaptiveCards/blob/471cec222bae5c9aa1

[2019-07-17 06:05] droidriz commented on #3125
@nesalang ,
I see the codes have been merged for #2 so what should we do in our code or any nuget package updation  to see the updated adapative cards?

[2019-07-17 07:25] se7en00 opened #3241 "Id property in custom element is missing when do submit action"
# Platform
* JavaScript

# Author or host
host

# Version of SDK
1.1.3 and 1.2.0

# Issue
due to some special reasons, the offical components is not meet our requirements, we implement some form components, like ProgressBar component, but the id of custom form component was missing in data object when click submit action.

Here is a sample:

Card json:
[code]
react
[code]
I only get the myTel attr

[2019-07-17 08:31] mamhh commented on #3230
@dclaux ... waiting for your response plz ....

[2019-07-17 16:20] #3101 closed

[2019-07-17 17:26] #2999 closed

[2019-07-17 17:42] matthidinger commented on #3241
Thanks for the report! Can you also include the code for the custom ProgressBar element?

[2019-07-17 17:46] #3209 closed

[2019-07-17 18:06] almedina-ms commented on #2569
@andrewleader  proposal may still be the best option, having a dictionary when rendering with all the ids and rendered items to handle all id's , that way we don't have to worry about changing the ids prefixing an underscore '_' and we don't have to deal with the 'Name' message and the impact on the client side

[2019-07-17 18:57] #3014 closed

[2019-07-18 01:30] se7en00 commented on #3241
[code]

[2019-07-18 03:39] vishmonne commented on #3125
hi @nesalang , any update on what we should we from our end since the issue #2 is fixed via PR #3195 .
Would be helpful if you could guide us so how we can proceed with this fix?

[2019-07-18 09:15] mikesorsibin opened #3243 "Insecure Randomness"
In adaptivecards.js, When scanned on fortify, we are encountering an error stating Insecure Randomness on the line Math.Random()
Insecure randomness errors occur when a function that can produce predictable values is used as a source of randomness in security-sensitive context.
Please help us solve the issue.

[2019-07-18 13:34] Edwardfelix08 commented on #743
Was this feature released?

[2019-07-18 16:06] bgert opened #3244 "Issue with text color of adaptive cards changing by teams theme"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?
Author
If you're an author, who are you sending cards to?
Either DMs or group chats on MS teams
# Version of SDK
1.0
What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-07-18 16:18] bgert commented on #3244
I forgot to add. This issue happens wether or not you are on dark theme when the card is sent or you switch into dark theme after it is sent.

[2019-07-18 17:00] andrewleader commented on #743
Yes, it was released with Adaptive 1.2, which hosts are still working on updating to (Bot Framework WebChat has updated to 1.2 already!)

Here's the ActionSet docs: https://adaptivecards.io/explorer/ActionSet.html

[2019-07-18 18:13] #3210 closed

[2019-07-19 19:52] oettingerj commented on #3244
do not mess with this guy's adaptive cards

[2019-07-19 21:37] andrewleader commented on #2019
Closing as this was done in 1.2

[2019-07-19 21:37] #2019 closed

[2019-07-19 21:38] andrewleader commented on #2015
Closing as we decided not to take this approach for 1.2 and instead went with bleed

[2019-07-19 21:38] #2015 closed

[2019-07-19 21:49] andrewleader opened #3249 "Docs/schema incorrectly says ColumnSet has backgroundImage property"
I just noticed this today, our docs say that ColumnSet has a `backgroundImage` property added in 1.2, however none of the renderers (JS, UWP, .NET) support that and I couldn't find anywhere where we ever claimed that we SHOULD add that in 1.2... I believe it was an unintentional addition to the schema and should be removed

![image](https://user-images.githubusercontent.com/13246069/61567400-36726

[2019-07-19 23:21] andrewleader commented on #3249
Note that while we've updated this in master, we still need to update this in the 1.2 branch and also make the website deploy out of the 1.2 branch and deploy an updated website so that adaptivecards.io is updated

[2019-07-22 06:33] Junlol opened #3251 "[JS][1.2] isVisible set to false on image in the imageSet doesn't work"
# Platform

* JavaScript

# Version of SDK

1.2

# Issue

isVisible set to false doesn't work.

[code]
[code]

render:
![Capture2](https://user-images.githubusercontent.com/19281094/61610938-15f11c80-ac8d-11e9-8429-6107ecfbbabd.JPG)

[2019-07-22 21:26] RebeccaAnne opened #3252 "[.NET][WPF] Inline Actions are missing when not using Xceed"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF (non-Xceed)

# Issue

Inline actions appears to only have been implemented in the xceed version of the text input, not the default text input. Our visualizer uses xceed so it works fine in the visualizer:
[code]

![image](https://user-images.githubusercontent.com/9091833/61666439-53a17580-ac8c-11e

[2019-07-23 15:49] vishmonne commented on #3125
hi @nesalang ,  would be helpful if you could help me in proceeding with this fix ?

[2019-07-24 10:17] roshnig opened #3253 "Adaptive card is coming as icon in skype"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master,

[2019-07-24 10:20] roshnig commented on #3253
Hi,

 In skype bot, we have created an adaptive card for response. In mac, it is coming properly but in windows laptop it is coming as an icon. I am not able to see card here. How can I fix this issue for window laptops
![Capture](https://user-images.githubusercontent.com/19589981/61786175-0bf22980-ae05-11e9-8071-c9857b5d1867.PNG)

[2019-07-24 17:32] andrewleader commented on #3253
Hi roshnig, for Skype issues, please reach out to the Bot Framework: https://github.com/Microsoft/botframework-sdk/issues

[2019-07-24 17:32] #3253 closed

[2019-07-24 17:51] andrewleader opened #3254 "[UWP] Spacing/separator are ignored on Image"
# Platform

* UWP

# Version of SDK

Visualizer version 1907.11

# Issue

Spacing and separator properties get ignored on an image

[code]

Expected (.NET) | Actual (UWP)
--|--
![image](https://user-images.githubusercontent.com/13246069/61816238-cfbcca00-ae00-11e9-9198-e48003790457.png) | ![image](https://user-images.githubusercontent.com/13246069/61816219-c895bc00-ae00-11e9-943c-db684c9cc153.png)

[2019-07-25 15:21] shalinijoshi19 commented on #3243
Thanks for reporting @mikesorsibin. We'll make sure we fix this for our next outbound release.

[2019-07-25 15:24] shalinijoshi19 commented on #3021
Looks like this is fixed along with the children. Closing out.

[2019-07-25 15:24] #3021 closed

[2019-07-25 15:30] shalinijoshi19 commented on #3243
@paulcam206 mind taking a stab at this ? Should be straightforward I am hoping and probably a matter of seeing Random() in the constructor say with a time-based (ticks are classic i think) seed

[2019-07-25 15:33] shalinijoshi19 commented on #3228
Ok so catching up on this, @paulcam206, looks like there's fixes needed in sharedmodel then here? Assigning to you for fixing.  Thanks!

[2019-07-25 15:39] shalinijoshi19 commented on #3254
@almedina-ms can you take a stab at this please? thanks!

[2019-07-25 15:43] shalinijoshi19 commented on #3252
@almedina-ms sending another one your way. Could you take a stab? Thanks!

[2019-07-25 16:22] productboard-ac opened #3255 ".NET MAUI Renderer SDK"
# Summary
Support Xamarin Forms! Xamarin Forms apps currently have no way to render Adaptive Cards. Just like we support UWP/Android/ReactNative/etc, we should support Xamarin Forms!

# Requirements

* P0: Can render Adaptive Card
* P0: Can handle actions
* P1: Can extend render and add custom elements
* P1: Can custom style elements

# Spec/schema

After the proposal process, update this with a l

[2019-07-25 16:22] productboard-ac commented on #3255
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/1961753

[2019-07-25 16:22] andrewleader commented on #354
Closing as tracked with #3255

[2019-07-25 16:22] #354 closed

[2019-07-25 16:32] matthidinger commented on #3241
I believe you need your custom elements to inherit from `Adaptive.Input` as opposed to `Adaptive.CardElement`

If you take a look at the [`TextInput` class](https://github.com/microsoft/AdaptiveCards/blob/4504ae56da4bac56b6f850f579f5334fc54bfff7/source/nodejs/adaptivecards/src/card-elements.ts#L2930) here it should help point you to what you need to. Let me know if that doesn't get you any further

[2019-07-25 23:31] almedina-ms commented on #3254
Adding more information, only with size "auto" this behaviour occurs, stretch and all other image sizes don't behave like this

[2019-07-26 18:33] shalinijoshi19 commented on #3194
@almedina-ms assigning to you per standup; Could you follow up with the 2019 upgrade thread/see if regenerating the appx signing cert helps unblocks this! Thanks

[2019-07-26 19:32] jeffhoang opened #3259 "[JS] Adaptive Cards Version Features Restriction"
# Platform
* JavaScript

# Version of SDK

0.7.1

# Issue

Is there a way to restrict the adaptive cards designer to only support a certain adapative cards version?  We're still on version 1.1 and don't want our developers to use features beyond this.

[2019-07-26 19:33] #3259 closed

[2019-07-26 19:34] jeffhoang opened #3260 "[Designer] Version Restriction"
# Platform
* JavaScript

# Version of SDK
1.1

# Version of Adaptive Cards Designer
0.7.1

# Issue / Feature Request

Is there a way to restrict the adaptive cards designer to only support a certain adapative cards version?  We're still on version 1.1 and don't want our developers to use features beyond this.

[2019-07-29 06:23] FelixZhang-yong commented on #3192
@nesalang , I find the fix has been merged. Do you know when would the new adaptive card framework be generated and what version it is (like 1.2.1)?

[2019-07-29 15:06] adrianlubitz opened #3262 "Sending Adaptive Card in Teams with imBack doesnt work"
# Platform

NodeJS

# Author or host

I'm sending a card to my own bot that should use `imBack` to send a text back to the bot.

# Version of SDK
"botbuilder": "^3.11.0",
"botbuilder-teams": "^0.2.6",

# Issue

I'm trying to send the following Message

[code]
(adapted sample from https://docs.microsoft.com/en-us/adaptive-cards/getting-started/bots#step-1-add-an-adaptive-card-attachment)

It throws

[2019-07-29 17:15] nesalang commented on #3192
@FelixZhang-yong, it will be part of the next release (1.2.1). it will be 7/31.

[2019-07-29 17:48] shudson302 commented on #3194
Any resolution on this?  I am getting this error as well

Severity	Code	Description	Project	File	Line	Suppression State
Error		Certificate does not match supplied signing thumbprint: 6460AE0F77456B08910E509B06E28B4D921D2AA0	NID.Client.UWP

[2019-07-29 18:04] almedina-ms commented on #3194
@shudson302 Currently I was able to fix the issue locally by
1. Right click the project -> Properties -> Package Manifest
2. On the Package.appxmanifest go to Packaging tab -> Choose Certificate
3. In the new window click "Select a Certificate..." if you have one, or create a certificate if you havent created one (https://docs.microsoft.com/en-us/windows/uwp/packaging/create-certificate-package-si

[2019-07-29 18:21] #3192 closed

[2019-07-29 18:24] paulcam206 commented on #3243
These numbers are used to generate unique IDs for elements rendered on a page. However, we don't need cryptographically strong numbers here. The IDs are ephemeral and only need to be unique to a single card render. The threats as I see them would be:
* ID collision in generated elements - should be very rare. this would require two elements to get the exact same numbers from four consecutive calls

[2019-07-29 18:24] RebeccaAnne opened #3265 "[.NET][WPF] Add toggle to the visualizer to switch between Xceed and non-Xceed controls"
Currently our visualizer only validates the Xceed controls. We should add a toggle in the UI to make it easier to validate both the Xceed and the non-Xceed scenarios.

[2019-07-29 19:23] paulcam206 commented on #3243
oops! reopening :)

[2019-07-29 20:24] shudson302 commented on #3194
Ok, that fixed it.  Thanks

[2019-07-29 21:37] #3254 closed

[2019-07-29 22:24] v-kydela opened #3267 "Designer puts title in Input.Text"
# Issue

![image](https://user-images.githubusercontent.com/41968495/62086875-a17e2680-b214-11e9-991d-7cfd3af333c0.png)

To reproduce:

1. Drag an Input.Text from the left toolbox onto the card
2. Observe the erroneous title field in the card's JSON

Expected:

Input.Text should not have a title field

[2019-07-29 22:45] v-kydela opened #3269 "Website needs a feedback button"
## Issue 1

It is unclear if this is the right place to post issues about the Adaptive Cards website. The issue template makes it seem like the GitHub repo is only for issues concerning the SDK and authoring cards, etc. Do issues about the website go here or somewhere else?

## Issue 2

Regardless of where the issues are supposed to go, there should be a button on the website to direct users to th

[2019-07-30 08:54] nibinki opened #3270 "Javascript angular 7 Actions are not getting rendered"
# Platform  JavaScript

# Author or host both

# Version of SDK 1.2

# Issue

I am using Angular 7 and trying to render card as mentioned in documents . Strangely , the generated HTML doesn't contain any Action related items. I am trying to use 'Show Card' which contains Factset . Below is my json . i am using default hostConfig and installed latest 1.2 version from npm

import * as AdaptiveCards

[2019-07-30 09:14] johno-absa commented on #2924
We are still experiencing the issue. Would it be possible to post your adaptive card json here?

The problem w are facing is that the flow does not wait for input from the user(completing the adaptive card) when using a custom adaptive card, so the flow completes almost immediate and then when the user clicks on the custom adaptive card the "Unable to reach app. Please try again" is shown on the c

[2019-07-30 09:50] arpitgupta19 opened #3271 "Accessibility issues"
# Platform
iOS

# Author or host
Host

# Version of SDK
1.2

# Issue
Voiceover and screen reader is not working correctly on adaptive cards.
We are sending correct json object but voiceover is not navigating in a serial order.
Also, plenty of UI elements are not accessible.

In sample json given below, voiceover navigates to first container inside body, then moves to actions and then comes back to

[2019-07-30 14:39] atishayv commented on #2577
I am rendering the card in my own host app.

[2019-07-30 22:50] matthidinger commented on #3270
Just to make sure the string concat is working can you JSON.parse(json), and then JSON.stringify it again and paste it into the Adaptive Cards Designer and make sure it renders as you expected?

[2019-07-31 05:51] nibinki commented on #3270
i tried that  it is showing properly and verified with card designer. I also printed this.adaptiveCard after parsing json and i can see _actionCollection object . PFA the screenshot

![image](https://user-images.githubusercontent.com/36858559/62186632-95b17200-b384-11e9-86d9-90bc84ebcc3d.png)

![image](https://user-images.githubusercontent.com/36858559/62186693-c09bc600-b384-11e9-999c-ccbc7f81556e

[2019-07-31 06:28] jjustinms commented on #2999
@shalinijoshi19 whats the plan to backport to 1.2?
cc: @shbhadra

[2019-07-31 18:47] v-kydela opened #3287 "Should Input.Number value accept a string?"
# Issue

Every version of the schema I've seen says the `value` property of `Input.Number` only accepts a number.

![image](https://user-images.githubusercontent.com/41968495/62238696-5e44c480-b388-11e9-8374-fccd23cc908e.png)

However, I've tried using a string for the value in both Web Chat and Microsoft Teams and they work. Both of these inputs render the same:

[code]

Which is correct? Should

[2019-08-02 17:10] almedina-ms opened #3293 "[iOS] Input.Number value is not validated against min or max"
# Platform

* iOS

# Version of SDK

master

# Issue

When using Input.Number, the value is not validated against the given min and max values

[2019-08-02 17:30] RebeccaAnne opened #3294 "[.NET][WPF] Non-Xceed inputs ignore placeholder"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF (non-xceed)

# Issue

[code]
Result:
![image](https://user-images.githubusercontent.com/9091833/62387322-1f8d4680-b50f-11e9-8e2a-b4a9a72edd58.png)

Expected:
![image](https://user-images.githubusercontent.com/9091833/62387681-2ff1f100-b510-11e9-9b36-04d54652efe4.png)

The default (non-xceed) .NET

[2019-08-02 17:30] almedina-ms opened #3295 "[iOS] TextInput InlineAction with show card crashes"
# Platform

* iOS

# Version of SDK

master

# Issue

If you add an inline action to a text input of type show card and click on it, the process crashes. ShowCard actions should not be allowed as inline actions and they shouldn't be tried to be rendered at all

[2019-08-02 17:32] RebeccaAnne opened #3296 "Input.Text Schema doc missing description for style"
The schema docs don't include a description for the style property in https://adaptivecards.io/explorer/Input.Text.html

[2019-08-02 17:43] nesalang opened #3297 "Fallback doesn't happen when url is missing for OpenUrl Action"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

If you're an author, who are you sending cards to?

# Version of SDK

1.2.1

# Issue

url is required property for openURLAction, if url is not given, dropping the card is correct for previous version, but fallback should handle this case if SDK version is >= 1.2
[code]

[2019-08-02 17:52] nesalang opened #3298 "[Android] Fallback doesn't happen when url is missing for OpenUrl Action"
# Platform

* Android

# Issue

Dupe of #3297

[2019-08-02 17:55] almedina-ms opened #3299 "[iOS] Compact, Single choice ChoiceSet with wrap gets size depending on default value size"
# Platform

* iOS

# Version of SDK

master

# Issue

If you make a ChoiceSet with style compact and multiSelect false the dropdown menu renders to the size of the default value

[2019-08-02 17:58] nesalang opened #3300 "[UWP] Fallback doesn't happen when url is missing for OpenUrl Action"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Issue

Dupe of #3297

[2019-08-02 18:01] compulim opened #3301 "IE11 buttons are squeezed"
# Platform

* JavaScript

# Author or host

Host, rendering an Adaptive Card

# Version of SDK

1.2.0

# Issue

Browse to https://www.adaptivecards.io/visualizer/index.html using IE11. Buttons looks squeezed when using IE11.

![image](https://user-images.githubusercontent.com/1622400/62389409-a0027600-b514-11e9-893d-a6e33029a6b3.png)

A customer reported this bug on Web Chat repo https://github.co

[2019-08-02 18:02] nesalang opened #3302 "Fallback doesn't happen when url is missing for OpenUrl Action"
# Platform

* .NET WPF

# Issue

Dupe of #3297

[2019-08-02 18:03] nesalang opened #3303 "Consistency Issue: missing URL openURL action still renders"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Issue

Consistency Issue: missing URL openURL action still renders in .NET where uwp/android/ios drop cards when url is missing. URL is required property.

[2019-08-02 18:13] RebeccaAnne commented on #3293
Min/Max are marked as "may be ignored by some clients". iOS has some code that doesn't execute and does the wrong thing anyway that should probably be removed. We should consider whether min and max should be validated as part of the 1.3 input validation feature.

[2019-08-02 18:15] RebeccaAnne commented on #3295
Probably should be fixed in the shared model.

[2019-08-02 18:20] RebeccaAnne commented on #3297
https://github.com/microsoft/AdaptiveCards/issues/3154 tracks consistent behavior for required properties. As part of that work we should confirm whether missing required properties should trigger fallback.

[2019-08-02 18:20] #3297 closed

[2019-08-02 18:22] RebeccaAnne commented on #3298
#3154 tracks consistent behavior for required properties. As part of that work we should confirm whether missing required properties should trigger fallback.

[2019-08-02 18:22] #3298 closed

[2019-08-02 18:23] RebeccaAnne commented on #3300
#3154 tracks consistent behavior for required properties. As part of that work we should confirm whether missing required properties should trigger fallback.

[2019-08-02 18:23] #3300 closed

[2019-08-02 18:23] RebeccaAnne commented on #3302
#3154 tracks consistent behavior for required properties. As part of that work we should confirm whether missing required properties should trigger fallback.

[2019-08-02 18:23] #3302 closed

[2019-08-02 18:26] RebeccaAnne commented on #3303
#3154 tracks consistent behavior for required properties.

[2019-08-02 18:26] #3303 closed

[2019-08-02 23:13] nesalang commented on #2107
There is also a xml bug tracking this issue: https://github.com/microsoft/microsoft-ui-xaml/issues/1125

[2019-08-05 12:58] adrianlubitz commented on #3262
Teams uses the following syntax:
[code]
There was actually an example but it was confusingly on the very bottom of the site
https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-actions#example-1

closing it because it was no issue just me not seeing it

[2019-08-05 12:58] #3262 closed

[2019-08-05 16:56] choupete opened #3306 "[Designer] In ChoiceSet, "Add a new choice" deletes titles of existing choices"
# Platform

N/A

# Issue

If I have one or more existing choices listed using the designer, each with their own respective "title" fields, then clicking "Add a new choice," and then typing in something for the "Title" or "Value" field of this new choice (in the Element Properties tab) will cause the titles of existing choices to automatically disappear in the JSON.

[code]

Result:

[code]
(Typing

[2019-08-05 18:17] matthidinger commented on #3270
Hi @nibinki, I'm not familiar enough with Angular 7 to help with this without a repro. Can you include a small repro project or include any other information? If the DOM is inspected has the elements then it seems the Adaptive Card Renderer is working is correctly, and something is getting dropped in Angular?

[2019-08-05 18:19] matthidinger commented on #3267
@dclaux I've also seen this, can you take a look when you're back?

[2019-08-05 18:23] matthidinger commented on #3260
Thanks for the feedback. This is something that is being worked on, hopefully we'll have it finished it shortly. In the mean time, can you try this code to at least restrict items from the toolbar?

[code]

[2019-08-05 20:10] RebeccaAnne opened #3309 "Allow hosts to specify in host config that we should not set a color"
Pull request #3272 allows host configs to specify null or empty string for a color in order to allow elements to inherit color styling from XAML. This issue tracks supporting that scenario across platforms.

[2019-08-05 20:22] RebeccaAnne opened #3310 "Support for specifying tab-stops"
Pull request #3274 introduces a proposed schema and implementation for specifying tab stops for .NET. This issue tracks investigating tab stop support in the schema for all platforms.

[2019-08-05 21:01] tdurnford opened #3311 "Adaptive Cards is not wrapping Text Block"
# Platform

* JavaScript

# Author or host
Host
Web Chat

# Version of SDK
Adaptive Cards v1.2

# Issue

Adaptive Cards is setting the Text Block `white-space` css style option to `nowrap` even though  Text Blocks should wrap text by default according to the host config [documentation](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#textblockconfig). This is causing tex

[2019-08-05 21:57] matthidinger commented on #3244
Thanks for the report on this. It seems to be an issue on within the Teams app so I'm working with them to see what we can do

[2019-08-06 11:22] Basavarajsk commented on #2924
Hi Guys, I am getting same error.
![image](https://user-images.githubusercontent.com/24410864/62536063-9d808300-b86a-11e9-9700-a8324461df8f.png)

[2019-08-06 17:37] #2107 closed

[2019-08-06 17:58] shalinijoshi19 commented on #3112
@paulcam206 assigning to you for driving. thanks!

[2019-08-06 18:26] #2847 closed

[2019-08-06 19:56] dcmesh opened #3315 "Adaptive Cards Carousel not displaying in Teams"
# Platform

.NET Bot Framework

# Author or host

Bot is hosted in Azure, displayed to Teams users.

# Version of SDK

AdaptiveCards v1.2.1 (also an issue on 1.2.0 and 1.0.0)

# Issue

In my bot, I dynamically generate a list of Adaptive Cards and return them in a Carousel format. In both the Bot Framework Emulator and Azure Web Chat, the Carousel is displayed normally. However, when I test the bo

[2019-08-07 12:56] shalinijoshi19 commented on #3315
@jjustinms are you able to take a first stab at this at all to determine if this is a Teams issue or an Adaptive Cards bug?

[2019-08-07 13:00] shalinijoshi19 commented on #3311
@matthidinger, do you know if webchat is using our JS library?

[2019-08-07 13:02] shalinijoshi19 commented on #3311
@dclaux / @matthidinger FYI.

[2019-08-07 13:03] shalinijoshi19 commented on #3255
@almedina-ms assigning to you for driving. thanks

[2019-08-07 13:05] shalinijoshi19 commented on #3243
@mikesorsibin could you please take a look at @paulcam206 's response above ? We aren't using Random() in a security context here rather just to generate identifiers for AC elements... Could you elaborate a bit on the "fortify" tool and your scenario here please that is blocking you? Thanks!

[2019-08-07 13:07] shalinijoshi19 commented on #3244
@jjustinms FYI.

[2019-08-07 13:16] shalinijoshi19 commented on #3159
Fixed in AdaptiveCards v1.2.1

[2019-08-07 13:16] #3159 closed

[2019-08-07 13:20] shalinijoshi19 commented on #3125
hi @vishmonne, #2 has now been fixed and available via [v1.2.1](https://github.com/microsoft/AdaptiveCards/releases/tag/v1.2.1)

[2019-08-07 13:27] shalinijoshi19 commented on #3271
Thanks for reporting @arpitgupta19. We are doing an all-around Accessibility push for 1.3(including team training + testing by a contract team + bug fixes) ; We'll make sure this set of issues gets resolved as part of this push. Are you targeting a specific date for the fixes to be available at your end? FYI that 1.3 is some ways out (likely targeting end of this year for a Beta attempt)

[2019-08-07 13:29] shalinijoshi19 commented on #3225
@paulcam206 mind taking a stab at this since you are the id collision guru :)  thanks!

[2019-08-07 14:19] arpitgupta19 commented on #3271
@shalinijoshi19  There is a strong push on accessibility fixes on our end and the adpative cards issues have become high priority items.
We have been asked to get these issues fixed asap.

[2019-08-07 17:40] dcmesh commented on #3315
Just for clarification, each elementX in the code above (i.e. `element0`) is a string variable that has already been assigned.

[2019-08-07 17:45] nesalang commented on #2627
[code]

[2019-08-07 17:45] #2627 closed

[2019-08-07 22:04] DeeJayTC opened #3320 "Colors in HostConfig are rendered incorrectly when using 8 digit hex codes"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host
Host

# Version of SDK
1.2.1
# Issue
When using 8 digit hex codes for RGBA in the host config the rendered color is different to the expected color.

One example :

#53f950ad is a light greenish color in RGBA or a pink color in ARGB interpretation.

The correct RGBA code for th

[2019-08-08 03:54] jjustinms commented on #3315
@billbliss @siduppal - looks like its for Teams web (atleast for now) - can you pls have a look.

[2019-08-08 05:29] BalarajuAkula opened #3322 "Issue in Action.ToggleVisibility feature in Adaptive card in Microsoft bot framework(V3)"
Microsoft bot framework(v3) ,TypeScript

We are using Microsoft bot framework V3 and typescript and while rendering adaptive cards in bot emulator facing below issue.

Toggle Visibility feature is supported above Adaptive Schema 1.2 versions and I have tired with 1.2 version in bot and received below error:
[code]
After that tried with version 1.0 and 1.1 in couple ways and got below issue:
The ca

[2019-08-08 07:12] droidriz commented on #3125
@nesalang @shalinijoshi19 we are still facing the issue #2 the images are still being displayed same distorted.

[2019-08-08 12:52] dcmesh commented on #3315
After a bit more testing, I figured out what the issue was. It seems that Microsoft Teams does not allow more than 10 Adaptive Card Attachments in a Carousel at a time, and throws an error if there are more. The only documentation I could find that pertained to any such limitations referred only to email attachments, and didn't mention Adaptive Cards.

It would be great if the documentation of eit

[2019-08-08 17:12] #3228 closed

[2019-08-08 17:12] shalinijoshi19 commented on #3125
@nesalang, can you please work with @droidriz to follow up ? Thanks.

[2019-08-08 17:28] nesalang commented on #3125
@droidriz when you said you've updated adaptive cards to 1.2.1, does that mean Team has updated adaptive cards SDK to 1.2.1?
Thanks

[2019-08-08 17:31] droidriz commented on #3125
@nesalang nope i have updated nuget package in the code.
does that means we have to wait till "teams" team in their channel update their adaptive cards to 1.2.1?

[2019-08-08 17:37] droidriz commented on #3315
@dcmesh Yes we can't have more than 10 adaptive cards inside carousel.
at first we also had this requirement due to this limitation we are limiting the cards to 10 for carousel.
Source:- https://stackoverflow.com/questions/52428158/maximum-number-of-adaptive-cards-on-carousel-microsoft-teams

Also @dcmesh  recently i am not able to see the cards when i limit it to 3 its being displayed or else an

[2019-08-08 17:39] nesalang commented on #3125
@droidriz nuget package is for .net and uwp sdk. for ios, you should use cocoapod. to answer your question, if you send your json payload to teams app to render, then yes teams has to updated their adpative card sdk to 1.2.1. Currently, we are working with them to update to the latest release we made.
thank you.

[2019-08-08 17:41] droidriz commented on #3125
@nesalang got it, thank you :)

[2019-08-08 18:07] shalinijoshi19 commented on #3053
Assigning to you @nesalang as you drive this feature.

[2019-08-08 22:37] lostromb opened #3323 "Netstandard1.3 DLL from the latest nuget is not correctly SNK signed"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* UWP

# Author or host

Host

# Version of SDK

[Nuget 1.2.1](https://www.nuget.org/packages/AdaptiveCards/1.2.1)

# Issue

I spent all day today struggling with an issue when loading the AdaptiveCards netstandard1.3 library into my project (indirectly, via a bunch of complicated Asse

[2019-08-08 22:38] paulcam206 commented on #3323
related to moving to new markdown lib. think I know how to fix things here :)

[2019-08-08 22:40] lostromb commented on #3323
Oh goody, and I just realized I could also use the 1.2.0 nuget version which is signed correctly, so I'm not too terribly blocked by this anymore :-)

[2019-08-09 11:26] stpeteparadox opened #3324 "Inconsistent AdaptiveImage expandability behavior in Teams across Windows and iOS"
**Platform**
.NET Bot Framework

**Author or host**
Bot is hosted in Azure, displayed to Teams users.

**Version of SDK**
AdaptiveCards v1.0  (higher versions unsupported in Teams)

**Issue**
Hi Microsoft AdaptiveCards Team,

We have previously posted this issue here ([https://github.com/MicrosoftDocs/msteams-docs/issues/388]), but it appears that your colleagues there may be too busy as no one ha

[2019-08-09 14:59] shalinijoshi19 commented on #3323
@paulcam206 does this mean we'll need to issue a patch to fix the signing for 1.2.1 binaries?

[2019-08-09 17:01] #3089 closed

[2019-08-09 17:16] #3022 closed

[2019-08-09 18:37] #3252 closed

[2019-08-09 19:46] #3323 closed

[2019-08-09 20:27] paulcam206 commented on #3323
just a heads up -- this fix should be shipping in 1.2.2 either today or Monday :)

[2019-08-10 01:13] #3215 closed

[2019-08-10 01:13] #3216 closed

[2019-08-10 01:13] #3217 closed

[2019-08-10 01:14] #3219 closed

[2019-08-10 08:27] stpeteparadox commented on #3324
Here is the json for the adaptive card, in case of convenience:

`{
    "type": "AdaptiveCard",
    "body": [
        {
            "type": "TextBlock",
            "size": "Large",
            "weight": "Bolder",
            "text": "A title here",
            "wrap": true
        },
        {
            "type": "Image",
            "horizontalAlignment": "Center",
            "separator": true,

[2019-08-11 18:27] BalajiR commented on #3270
@nibinki, `ShowCard` ActionItems' contents are added in the DOM only when such action actually happens (say, button click). Not sure how you are adding the card to DOM in your Angular app, but when i tried, the JSON you shared works -> able to see the fact set card on click of `show details` button.

**Example**: https://stackblitz.com/edit/angular-7-master-euwiqu

[2019-08-12 13:21] nibinki commented on #3270
@BalajiR thanks for the help ..i am using angular 7.2.0. my problem is because of ( i think) zone.js . i debugged ur code and i can see entire execution of rendering is happening in card.element.js of adaptivecards , however in my case during rendering of action items it reaches this point

ActionButton.prototype.render = function (alignment) {
        var _this = this;
        this.action.render(

[2019-08-12 16:19] dclaux commented on #3270
Hi @nibinki, as @BalajiR explained, the initial `render()` of your card will not actually render the **FactSet** because the **FactSet** belongs to the card of a **ShowCard** action. The card of a **ShowCard** action is rendered "just in time" as the end user clicks the associated button. In your case, that hasn't happened, therefore you will not see the DOM for the FactSet in the innerHtml.

[2019-08-12 16:31] #3265 closed

[2019-08-12 16:59] shalinijoshi19 commented on #3081
Assigning to you @RebeccaAnne since you are driving this feature. thanks

[2019-08-12 17:13] almedina-ms commented on #3220
This was merged with the UWP implementation

[2019-08-12 17:13] #3220 closed

[2019-08-12 18:26] matthidinger commented on #3324
@stpeteparadox I've reached out to the Teams folk to look into this inconsistency. Currently this isn't a feature in Adaptive Cards, but it sounds like a reasonable feature for a future release. We'll update you as soon as I hear

[2019-08-12 18:27] paulcam206 commented on #3324
for reference, the original bug is MicrosoftDocs/msteams-docs#388

[2019-08-12 18:29] matthidinger commented on #3322
Hi @BalarajuAkula, currently WebChat v4.5 is the only version that supports Adaptive Cards v1.2.

Can you confirm you're using the latest version? As far as the emulator, I'm not actually sure what version that uses. Can you try posted in the WebChat GitHub below for Bot-related help?

https://github.com/microsoft/BotFramework-WebChat

[2019-08-12 18:38] matthidinger commented on #3306
@dclaux this seems to be a designer glitch. I was able to repo it pressing the "Add a new Choice" button

@choupete  thanks for reporting!

[2019-08-12 18:40] dclaux commented on #3306
Yes, bug... will look into it.

[2019-08-12 18:44] matthidinger commented on #3295
@nesalang we should fix the crash, but we need a separate issue on whether or not this should be supported. I just looked in the Designer and it filters out Action.ShowCard, but it does include ToggleVisibility, which might be weird?

[2019-08-12 18:50] matthidinger commented on #3294
We should consider fixing this along with a true "Input/Label" association, currently tracked in Productboard

[2019-08-13 11:16] shalinijoshi19 opened #3330 "[Cortana Accessibility] Allow borders on containers"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Author or host
Host

# Version of SDK
1.2.0-beta1-201905.29017

# Issue

For high contrast requirements, we have to be able to draw a colored border around clickable items.  We originally had this around the entire card as this was the only thing we could draw a border around (as this is all one “ca

[2019-08-13 16:24] dclaux commented on #3311
TextBlocks do not wrap by default. The `wrap` property has to be explicitly set to `true`. This is by design and has been true since the inception of AC (whether that was the right call is another story.)

[2019-08-13 16:24] #3311 closed

[2019-08-13 16:33] dclaux commented on #2831
This has been done.

[2019-08-13 16:33] #2831 closed

[2019-08-13 16:41] dclaux commented on #3095
Closing this as the problem is with WebChat < 4, not with the AC renderer.

[2019-08-13 16:41] #3095 closed

[2019-08-13 16:57] #2892 closed

[2019-08-13 21:45] shalinijoshi19 commented on #3330
Assigning to you @paulcam206 to investigate. Thanks

[2019-08-13 22:45] #2846 closed

[2019-08-14 05:45] droidriz commented on #1911
MessageBack seems to work with MSTeams if you want temporary fix (clickable button).
AdaptiveSubmitAction()
            {
                Title = "Confirm",

                DataJson = "{\"msteams\": {\"type\": \"messageBack\", \"displayText\": \"Confirm\", \"text\": \"Confirm\"} }"

[2019-08-14 05:49] droidriz commented on #3125
@nesalang  @shalinijoshi19 i know we shouldn't ask for ETA but any vague idea when can we expect the   the "teams" team will update v1.2.1 and release?

[2019-08-14 07:39] Jcragons commented on #1911
Thanks @droidriz, I'll try as soon as I can!

[2019-08-14 11:45] johno-a opened #3334 "AdaptiveCard throws "Unable to reach app. Please try again" using Logic Apps and MS Teams"
# Platform

- MS Teams,
- Flow
- Logic Apps

# Author or host

- Author sending cards from Logic App to MS Teams

If you're an author, who are you sending cards to?

- To MS Teams

# Version of SDK

Latest availabe in Logic Apps

# Issue

Explain your issue. If you just have a question, please post [on StackOverflow instead]

The problem we are facing is that the flow(using Logic Apps) does not wa

[2019-08-14 11:46] johno-a commented on #3334
This isses was resolved but we are still having experiecing the error:

[2019-08-14 15:09] EkimoCode opened #3335 "The Adaptive cards designer let you create adaptive cards version 1.2 but with version tag 1.0"
The designer let you add new elements like ActionSet while leaving the version tag on "1.0".
(Moreover, it would be amazing to be able to design adaptive cards by selecting the version and so be able to add only elements available on that version).

[2019-08-14 16:08] dclaux commented on #3335
That is by design. You can include 1.2 elements in a 1.0 card so as to make it possible for a host that only supports 1.0 to still render it minus the 1.2-specific features.

There could however (and there will be) an easier way to set the card version (better than having to set it in the JSON editor)

[2019-08-14 16:39] RebeccaAnne commented on #3177
This simpler card also doesn't work correctly (clicking the child card closes the parent card):
[code]

[2019-08-14 21:20] dclaux commented on #3050
I am not able to repro this.

[2019-08-14 21:20] #3050 closed

[2019-08-14 22:57] #3037 closed

[2019-08-15 17:46] paulcam206 opened #3337 "[UWP] Mixing lists and links in markdown breaks rendering"
A combination of leading text, lists, and links renders incorrectly in UWP (fine in .NET WPF and JS).

[code]

Renders in UWP like this:
![image](https://user-images.githubusercontent.com/16614499/63114464-bdd6ce80-bf49-11e9-8b56-1ba643036fbe.png)
(note that if you omit the leading text, it renders correctly)

For reference, here's how it looks in .NET WPF:
![image](https://user-images.githubuserc

[2019-08-15 19:23] maryha opened #3338 "Action open.Url to message in Teams goes to wrong channel"
# Platform
Microsoft Flow Action - Post an adaptive card to user as Flow Bot

# Author or host
I am adding the JSON for the adaptive card to the flow action to post the message

If you're an author, who are you sending cards to?
The Adaptive Card is sent as a personal message to a specified user in the Flow Action

# Issue
The Flow I created is triggered by a new message in a Team Channel (not the

[2019-08-15 19:47] paulcam206 commented on #3337
I should note that this is because it's failing to parse the markdown HTML output from the shared model and falling back to rendering it as plain text. This is because the shared model output has two root nodes and the XML parser is rejecting it.

[2019-08-15 21:45] dclaux commented on #3223
Oops. Reopening as the PR has not been merged.

[2019-08-15 21:47] paulcam206 opened #3339 "[UWP] Column width is broken"
My change to the shared model (fee0c03191cd212ad004d16be9ae2a533589d433) had the effect of making the width property last-writer-wins. UWP calls `SetPixelWidth()` **and** `SetWidth()` regardless of which one is actually set. This means that many scenarios involving column width are broken in the test app.

[2019-08-15 22:03] paulcam206 opened #3341 "[UWP] Links are no longer underlined"
Not sure if this is an intentional AdaptiveCards change, an OS change, or something else, but the test app is no longer rendering links with an underline in current master:

![image](https://user-images.githubusercontent.com/16614499/63129962-d3f68600-bf6d-11e9-9a99-fc5ca36d9869.png)

[2019-08-16 12:15] shalinijoshi19 opened #3343 "[Designer] Designer silently fails to render cards with json typos/errors"
# Platform

What platform is your issue or question related to? (Delete other platforms).

JavaScript

# Version of SDK
master

# Issue
I was trying to test out a given json in the designer and kept wondering why it would fail to update the designer pane despite my JSON being pasted there. It took looking at a past issue filed #2145 and plopping open the Visualizer to figure out that there was a j

[2019-08-16 13:12] shalinijoshi19 commented on #3243
Actually us switching to leveraging node-uuid should address this and get rid of the custom code off of stackoverflow with potential issues ; FYI @dclaux  this is coming from our code that we've chosen to pull in to implement UUIDs ourselves here UUID::generate().

[2019-08-16 13:25] shalinijoshi19 commented on #3163
@almedina-ms did you ever get to splitting this bug? If not can you create a separate one for tracking issue #2 (Image sizes are not being respected in UWP when ImageSet imageSize is set to auto)

[2019-08-16 16:58] #3339 closed

[2019-08-16 16:58] nesalang commented on #3337
it worked on iOS

[2019-08-16 17:13] paulcam206 commented on #2992
@achipa -- thanks for this great bug! I ended up finding a few bugs in the vicinity of this :)

[2019-08-16 17:32] dclaux commented on #3243
FYI it makes no sense for the JS renderer to take a dependency on that 12 KB library. The current UUID code in JS takes < 1000 bytes and is completely sufficient given how it is used, namely to generate locally unique ids to group check boxes and radio buttons.

[2019-08-16 17:39] RebeccaAnne commented on #3341
Looks like this is a regression from #3308

[2019-08-16 17:44] paulcam206 commented on #3341
tricksy. guessing it's [here](https://github.com/microsoft/AdaptiveCards/blob/1642b5992fcd9a42a20f1493c8ffa584e4d5d945/source/uwp/Renderer/lib/TextHelpers.cpp#L66-L69) and [here](https://github.com/microsoft/AdaptiveCards/blob/1642b5992fcd9a42a20f1493c8ffa584e4d5d945/source/uwp/Renderer/lib/TextHelpers.cpp#L87-L90)?

[2019-08-16 23:19] #3177 closed

[2019-08-19 09:05] jjustinms commented on #3000
@shalinijoshi19 @nesalang  will this be backported to 1.2?

[2019-08-19 16:09] paulcam206 opened #3348 "[Shared] Markdown doesn't respect Unicode space"
see discussion in #3342.

[2019-08-19 16:10] #2992 closed

[2019-08-19 16:10] #3337 closed

[2019-08-19 16:49] #3341 closed

[2019-08-19 17:09] shalinijoshi19 commented on #3000
Hey @jjustinms, we actually didn't realize that this was something that needed to be patched 1.2 with. Are there more issues that you are tracking at your end that you would like for us to port over to 1.2? AT this point for our patches we are being very specific and only porting needed bug fixes. We just wrapped up a 1.2.1 with some Teams-impacting bug fixes, and can send up a 1.2.2 for iOS + And

[2019-08-19 17:38] nesalang commented on #3000
@shalinijoshi19 end of this week sounds great

[2019-08-19 18:11] shalinijoshi19 commented on #3293
This is being tracked by the Input Validation feature, #3081. Closing this out

[2019-08-19 18:11] #3293 closed

[2019-08-19 18:15] shalinijoshi19 commented on #3343
Picking this up for a first attempt at this.

[2019-08-19 18:25] nesalang commented on #3125
@droidriz Teams is actively working on upgrading to v1.2.x, it should happen pretty soon.

[2019-08-19 18:26] shalinijoshi19 commented on #3294
This is being tracked as a feature. For now converting to Task to move this off of the bug board, and then eventually dup it to the Forms abstraction that Matt refers to above.

[2019-08-19 18:29] shalinijoshi19 commented on #3296
@paulcam206 picking this up! Thanks

[2019-08-19 18:30] paulcam206 commented on #3237
What a great bug! Thanks for filing!

[2019-08-19 18:36] shalinijoshi19 commented on #3237
@RebeccaAnne could you take a look while David is OOF.. Thanks!

[2019-08-19 18:43] shalinijoshi19 commented on #3200
@jjustinjacob (Teams), could you confirm that you are overriding the default AdaptiveCards JS behavior here? @paulcam206 FYI.

[2019-08-19 18:49] shalinijoshi19 commented on #3180
@paulcam206, assigning to you. Could you please sync with @matthidinger as part of fixing. thanks

[2019-08-19 18:51] shalinijoshi19 commented on #3183
@nesalang, can you pls pick this up! thanks

[2019-08-19 18:52] nesalang commented on #3183
@shalinijoshi19  sure

[2019-08-19 18:53] shalinijoshi19 commented on #3182
@dclaux assigning to you to address on the JS side. Thanks

[2019-08-19 18:56] shalinijoshi19 commented on #3178
@almedina-ms could you take a look at what the issue is here? Thanks

[2019-08-19 18:57] shalinijoshi19 commented on #3176
@nesalang this is now approved and yours to drive! thanks

[2019-08-19 18:58] shalinijoshi19 commented on #3175
@almedina-ms assigning to you for fixing. thanks

[2019-08-19 19:00] shalinijoshi19 commented on #3174
@nesalang load balancing some of the UWP issues to you. Please work with @RebeccaAnne / @paulcam206 to follow up. We should fix the crash for sure, but also a separate validation if needed for validating the dates that fell outside of the acceptable values.

[2019-08-19 19:04] shalinijoshi19 commented on #3170
@RebeccaAnne following up here as part of the broader sharedmodel refactor/rethink (TODO: Reference the bleed tasks here)

[2019-08-19 19:05] jwoo-msft opened #3349 "Input.Text InlineAction Support For ShowCard"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Issue

This issue came up as we discuss #3295.
We should revisit and re-evaluate on supporting Action.ShowCard as part of QuickReply.

@matthidinger for visibility.

Current Design spec can be found [here](https://adaptivecards.io/explorer/Containe

[2019-08-19 19:47] shalinijoshi19 commented on #3271
@arpitgupta19, just to be clear you are from the Teams team correct? Meanwhile, understood and @nesalang  is already looking into this one but just setting your expectations on this that we are aware of a few major Accessibility related issues in the platform and a whole bunch that we aren't even aware exist. The next few months for us a team, will be dedicated to discovering, triaging, fixing the

[2019-08-19 20:48] nesalang commented on #3174
@shalinijoshi19 sure

[2019-08-19 21:05] nesalang commented on #3348
Could we broaden the scope of the issue a bit to include building a tokenizer?
Our MarkDwon parser would benefit from having a separate tokenizer. we could roll up all of the tokenizing task including UTF-8 support in one place.
Having this task as one of the requirements for building tokenizer would be great. Any thought @paulcam206, @RebeccaAnne , and @shalinijoshi19 ?

[2019-08-19 21:15] nesalang commented on #3010
if there are no markdown tokens in the text, the text should be plain text. The behavior described by JS renderer assumes all text is in markdwon. For iOS, rendering html text is CPU intensive task, and can be handled only in the main thread, so iOS renderer has two paths for rendering text, if there are no markdown tokens, then it's rendered as simple text, and it is faster.

[2019-08-19 21:25] paulcam206 commented on #3348
yeah, that's basically what this is going to require -- we need to tokenize to be able to handle multibyte chars :)

[2019-08-19 21:46] #3237 closed

[2019-08-19 21:54] tdurnford commented on #3237
Thanks for the fix!

[2019-08-20 03:15] freistli opened #3356 "Build error on JSON function"
I cloned the project and tried using VS2017 and VS2019 to build the solution, always hit this LNK2019 error:

Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2019	unresolved external symbol _sscanf referenced in function "private: bool __thiscall Json::OurReader::decodeDouble(class Json::OurReader::Token &,class Json::Value &)" (?decodeDouble@OurReader@Json@@AAE_NAAVToken@12

[2019-08-20 06:36] arpitgupta19 commented on #3271
@shalinijoshi19 yes, I am from teams mobile team working on iOS platform.
Justin Jacob can give you more info regarding the prioritisation.

[2019-08-20 13:17] ayanatwork opened #3357 "MS Teams is throwing "BadRequest" error for adaptive cards"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- Bot Framework (C#)
- SDK v4
- Adaptive Cards (1.0)

# Version of SDK
v4

# Issue

When returning a AdoptiveCard attachment to MS Teams client I am getting an error - "Operation returned an invalid status code 'BadRequest' ".  The same adaptive card is getting successfully rendered in emulator but failing i

[2019-08-21 15:57] #2991 closed

[2019-08-21 16:33] shalinijoshi19 commented on #3140
@cmevawala is there a reason you are working with AdaptiveCards v1.1? Are you able to port this change over to master first?

[2019-08-21 17:33] matthidinger commented on #3338
Thanks @maryha, this may be an issue in Flow. I'm looping them in and will let you know as soon as I hear back

[2019-08-21 20:00] audrieMSFT commented on #3338
@maryha It seems to me that you are using the right link. Although I didn't Parse the JSON, and just used the trigger body function since my action starts 'when a message is posted' ( triggerbody()?['webUrl']).

I did a little research, and was able to see the message highlighted using the hyperlink manually from the browser. However, I think the issue may have to do with how Teams handles hyperli

[2019-08-21 20:33] audrieMSFT commented on #3338
@matthidinger We may need your help with the submit action. When I run the flow, then pull the output with the link I get different experiences:

1. Manually pasting the link into the browser will redirect to teams, and highlight the trigger message in yellow.
2. Manually pasting the link into a conversation (and sending the conversation), then clicking on the link does the same thing as above (hi

[2019-08-21 20:55] RebeccaAnne opened #3360 "[JavaScript] Action icon placement defaults to LeftOfTitle"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

When not specified in the host config, icon placement is [documented](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#schema-actionsconfig) to default to aboveTitle. In Javascript, the placement defaults to leftOfTitle:

Expected:
![image](https://user-ima

[2019-08-21 21:06] RebeccaAnne opened #3361 "[JavaScript] Icon is placed above title even if all actions don't contain icons"
# Platform

JavaScript

# Details
Using the [IconsInSomeActions.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.1/Tests/IconsInSomeActions.json) sample.

With actions host config set as follows:
[code]

The icon placement should be left of title. From #389:
If `iconUrl` is `null` on **ANY** action within a set, the `iconPlacement` **SHOULD BE** `leftOfTitle` to ensure butto

[2019-08-21 21:20] nesalang opened #3362 "[iOS][Consistency] [RichText submit action lacks visual cue]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

1.2.2

# Details

iOS doesn't provide visual cue for submit action in RichText

jS
<img width="420" alt="Screen Shot 2019-08-21 at 2 25 08 PM" src="https://user-images.githubusercontent.com/4112696/63469712-b880f480-c41f-11e9-8ccb-44850cf9c40c.png">
iOS
<img width="343" alt="Screen S

[2019-08-21 21:23] almedina-ms opened #3363 "[Android] Action is rendered above images"
# Platform

* Android

# Version of SDK

master

# Details

In this card the actions for some reason are rendered at the top of the card instead of the being at the bottom as expected, if the background image is removed, the card renders as expected

![Screenshot_2019-08-21-15-21-58](https://user-images.githubusercontent.com/35784165/63469478-24af2880-c41f-11e9-8732-464e73d28eb0.png)

[code]

[2019-08-21 21:26] RebeccaAnne opened #3364 "[JavaScript] actionAligment doesn't default to stretch"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

Using the following card:
[code]
When actionAligment is not set, it appears to be defaulting to left. Per [documentation ](https://docs.microsoft.com/en-us/adaptive-cards/rendering-cards/host-config#schema-actionsconfig) it should default to stretch.

Expected (as rendered when ```"a

[2019-08-21 21:35] RebeccaAnne opened #3365 "[.NET WPF] testVarientHostConfig returns an error"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details
When selecting [testVariantHostConfig.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/HostConfig/testVariantHostConfig.json) from the selector:

![image](https://user-images.githubusercontent.com/9091833/63470167-b9665600-c420-11e9-95c1-4f80517564c0.png)

.NET throw

[2019-08-21 21:43] RebeccaAnne opened #3366 "[.NET WPF Visualizer] Loading a host config via the "Load" button does not populate the editor"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details
When choosing the "Load.." button to load a host config:
![image](https://user-images.githubusercontent.com/9091833/63470455-912b2700-c421-11e9-8c36-c40e4cc576fe.png)

The visualizer does not populate the host config editor window:
![image](https://user-images.githubusercontent.com/9091

[2019-08-21 21:47] nesalang opened #3367 "[iOS][User Interaction] [Horizontal scroll doesn't work with some actions]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

1.2.1

# Details

Horizontal scroll should be enabled when buttons can't be shown in visible windows.
But the scroll is not enabled.

<img width="343" alt="Screen Shot 2019-08-21 at 2 40 59 PM" src="https://user-images.githubusercontent.com/4112696/63470714-29c1a700-c422-11e9-9d92-f9

[2019-08-21 21:50] almedina-ms opened #3368 "[Android] Background of image stretches"
# Platform

* Android

# Version of SDK

master

# Details

If you have a background for the image and it stretchs, the background will also stretch making a long color line

![Screenshot_2019-08-21-15-42-55](https://user-images.githubusercontent.com/35784165/63470787-6097bd00-c422-11e9-9e1e-b87692d2b590.png)

[code]

[2019-08-21 21:58] almedina-ms opened #3369 "[iOS] Images don't stretch"
# Platform

* iOS

# Version of SDK

master

# Details

Images are not stretching at all in iOS to use the remaining space in containers

![Simulator Screen Shot - iPhone Xʀ - 2019-08-21 at 14 54 42](https://user-images.githubusercontent.com/35784165/63471354-c46eb580-c423-11e9-909d-15bb0b7bfe5e.png)

[code]

[2019-08-21 22:05] RebeccaAnne opened #3370 "[UWP][.NET] If icon url is not found, icons are rendered on top"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP
* .NET WPF

# Details

The following card:
[code]
is rendered with only one icon on top, leading to different sized buttons:
![image](https://user-images.githubusercontent.com/9091833/63471609-773f1380-c424-11e9-885f-d32ecb36d9c5.png)

Per #389 we should probably render buttons on the left in this case

[2019-08-21 22:22] jwoo-msft opened #3371 "[UWP][Card Level Select Action] [card level select action doesn't work over rich text block]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Version of SDK

1.2.1

# Details

Card level select action doesn't work on highlighted area.

![Capture](https://user-images.githubusercontent.com/4112696/63472534-4f9d7a80-c427-11e9-943e-ec990a2604bb.PNG)

![giphy](https://user-images.githubusercontent.com/4112696/63472489-22e96300-c427-11e9-859a-3

[2019-08-21 22:37] paulcam206 opened #3372 "[UWP] Memory leak in IsBackgroundImageValid"
https://github.com/microsoft/AdaptiveCards/blob/10dd6f373de16f845539967759454235bf36b9d8/source/uwp/Renderer/lib/Util.cpp#L1313-L1328

`url` gets leaked because it's an `HSTRING`, not an `HString`

[2019-08-21 22:43] RebeccaAnne commented on #3367
Please log an issue to track the fact that we have scrollbars in this scenario for ios and android but not other platforms.

[2019-08-21 22:46] RebeccaAnne commented on #3369
@almedina-ms please add an image of the expected behavior.

[2019-08-21 22:49] RebeccaAnne commented on #3370
This is a low priority scenario that will be non-trivial to fix.

[2019-08-21 23:07] RebeccaAnne opened #3373 "[UWP][Custom Rendering] AdaptiveWarning doesn't include putters, making it impossible to set status code and message"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details
AdaptiveWarning is defined as follows:
[code]

Because there are no putters, custom parsers and renderers can not specify the nature of their warnings.

[2019-08-21 23:12] RebeccaAnne opened #3374 "[UWP][Custom Rendering] UWP loses warnings when converting to the shared model"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The method that converts UWP warnings to shared model warnings is defined as follows
[code]

Due to the fact that the sharedWarnings vector is passed by value, the vector passed in by the calling function is not updated and all warnings are lost.

[2019-08-22 00:34] siduppal commented on #3052
Was there more progress on thinking about the approach here? There's no notion of specifying a card-width today which is causing Teams to show all cards in a default width which doesn't work well for cards that have more content in them.

[2019-08-22 16:35] paulcam206 opened #3376 "Deal with versionless cards"
In the past we allowed cards with no explicit set version to parse (I believe we implied a version of `0.5`). That was removed as is was thought to no longer be needed. We need to revisit that decision

[2019-08-22 16:58] maryha commented on #3338
@audrieMSFT ,

Whether I am using the Teams desktop client or using Teams in a browser, the behavior is exactly the same.

Clicking the "View Message" link in the main text opens the link in a new browser window, asks if I want to view it in the Web or in the Teams app and then takes me to the message either in the browser or in the Teams app depending on my selection.  It is just a little annoyin

[2019-08-22 17:23] matthidinger commented on #3376
I think the last time Gilles and I talked about this we were considering a `MissingVersion` callback API or similar. I can't recall if we just ran out of time to implement it or found flaws in the design.

Essentially it was something like

[code]

The caller (BF) would use like:

[code]

[2019-08-22 18:01] shalinijoshi19 commented on #3376
For reference it's just the Bot framework that's affected by this. If that's the case I'd much rather go for a less flexible approach than delegates and a simpler targeted (boolean config for eg) approach.  Paul, let's write something up and float it around for discussion/review? We can revisit extensibility if there is a need for it in the future - right now a delegate for what appears to be a si

[2019-08-22 20:32] paulcam206 opened #3377 "[UWP] Consider using std::vector internally rather than passing an IVector"
This probably needs a bit more investigation, but it looks like we can improve perf (and legibility) a bit by only dealing with `IVector<>*`s when crossing ABI boundaries. This is [in line](https://docs.microsoft.com/en-us/cpp/cppcx/collections-c-cx?view=vs-2019#vector-usage) with current recommendations:

Bonus points, the `Platform::Collections::Vector::{ctor}` can take a [`std::vector` argument

[2019-08-22 21:22] paulcam206 opened #3378 "[Shared] Performance issue in DateTimePreParser"
Currently, every line of text in UWP (and presumably other platforms) runs through `DateTimePreparser`. This means that every line has a regex run against it regardless of whether or not it plausibly has a date or time (e.g. contains `{{`).

[2019-08-22 21:49] tnev commented on #1638
@andrewleader When this is finished, will we be able to get a callback for the "ToggleVisibility" event on iOS?

[2019-08-22 22:22] andrewleader commented on #1638
That's correct, please let us know your scenario and why you need that feature so we can help prioritize!

[2019-08-22 22:35] paulcam206 opened #3381 "[iOS] Investigate a .clang-format for ObjC"
See PR comment in #3354

[2019-08-22 22:38] fuchsdaniel opened #3382 "Link Broken at Wiki Data-Binding-in-Adaptive-Cards-(Preview)"
In the Wiki file
https://github.com/Microsoft/AdaptiveCards/wiki/Data-Binding-in-Adaptive-Cards-(Preview)
when mentioned **AdaptiveCards repo**, the URL is missing an "S", causing 404:

It should be https://github.com/Microsoft/AdaptiveCards instead of https://github.com/Microsoft/AdaptiveCard

Thanks,

Daniel

[2019-08-23 01:01] shalinijoshi19 commented on #3010
@paulcam206 / @nesalang  can we roll up the markdown inconsistency issues into one bug ? I believe #3348 assigned to @paulcam206 tracks some remaining inconsistencies in the SharedModel -- Also @paulcam206 , should we load balance that out to make progress here?

[2019-08-23 01:04] shalinijoshi19 commented on #3010
Resolvine as Duplicate of #3348 that should track addressing this issue

[2019-08-23 01:07] shalinijoshi19 commented on #3348
Let's track this via #1984

[2019-08-23 01:07] #3348 closed

[2019-08-23 01:08] #3010 closed

[2019-08-23 15:08] tnev commented on #1638
@andrewleader thanks for the reply! We need this so we can trigger a height update for the table view we keep the cards in on iOS. This is similar to what we do when we receive _didChangeVisibility_ or _didChangeViewLayout_ events.

[2019-08-23 15:29] shalinijoshi19 commented on #3324
@jjustinms, can you take a look please? thanks

[2019-08-23 16:15] MichaelBuczek opened #3383 "Russian not rendered correctly in UWP"
# Platform
* UWP

# Author or host
Bot sending the same adaptive card to teh emulator, webchat and the DLspeech sample app

If you're an author, who are you sending cards to?
Bot sending the same adaptive cards to several channels, rendering failing in UWP.

# Version of SDK
latest master

# Details
Presenting a card that does translation. The translated sentence is spoken as well as written.
In u

[2019-08-23 16:46] paulcam206 opened #3384 "[UWP] Revisit outparam initialization"
Per current coding standards, we should be zeroing all outparams even on purely internal helper functions. We should revisit our outparam use and make sure we're doing the right thing.

[2019-08-23 17:16] paulcam206 commented on #3377
I talked a bit with @RebeccaAnne, and it looks like we don't have easy access to `Platform::Collections::Vector`. Instead, we have our own internal implementation that uses `std::vector` under the hood. However, I took a look at `Vector.h`, and it looks like we should be able to add the ability to instantiate a `Vector` passing in a `std::vector` to wrap.

https://github.com/microsoft/AdaptiveCard

[2019-08-23 17:18] paulcam206 commented on #3383
Interesting! @MichaelBuczek, could you post the contents of this card?

[2019-08-23 17:23] #3378 closed

[2019-08-23 18:15] #3373 closed

[2019-08-23 18:15] #3374 closed

[2019-08-23 21:55] nesalang opened #3386 "[.Net] [Internal ID]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

Explain your issue. If you just have a question, please post [on StackOverflow instead]

As working on inner show cards, i came across this issue where internal id are null for all elements.

fix is added via inner show card PR, but we need to re-visit and ensure that this works correctly.

[2019-08-23 23:47] RebeccaAnne opened #3387 "[UWP][Custom Rendering] Inconsistency in handling of parse errors for custom parsers"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details
 The parse result we return as a result of AdaptiveCard parsing is defined as follows:

[code]

For our known types, warnings are things that don't cause rendering of the card to fail, and errors are things that do cause rendering of the card to fail. At the shared model layer, we throw for

[2019-08-23 23:50] RebeccaAnne commented on #3387
Depending on our decisions from #3154, perhaps we don't want to allow custom parsers to do things that would fail the render. In that case, we should probably consider: .

5. Implement logic to catch any exceptions out of a caller's parser and convert them to **AdaptiveWarnings**.

[2019-08-25 17:14] MichaelBuczek commented on #3383
It's generated in code:
`       public TranslationCard(string originaltext, TranslationItem translation, string language, Lng locale, string soundFileName, string channelID)
        {

            // top column set with items
            AdaptiveColumn originaltextCol = new AdaptiveColumn()
            {
                Width = AdaptiveColumnWidth.Stretch,
            };

            AdaptiveTextB

[2019-08-25 19:08] MichaelBuczek commented on #3383
Actually it seems to be a general issue, it's just that I send all text through an adaptive card to make the conversation less dull. But plain text has the same issue:
![image](https://user-images.githubusercontent.com/27769195/63654573-7ab40100-c77c-11e9-8c56-1fdc5c8d5c59.png)

[2019-08-26 05:51] buoyantair commented on #1667
Does that mean that we can't really style our Adaptive cards in Microsoft Teams etc?

[2019-08-26 10:18] HindoliyaYogesh opened #3388 "[Teams] [Adaptive Card in Microsoft teams getting trimmed]"
# Platform

* .NET HTML

# Author or host
Microsoft Teams Client

# Version of SDK
SDK Version : 1.2

# Details
## Version
Bot framework : v3
Adaptive Cards : 1.0

## Describe the bug
We have a customer who needs the user profile cards to be displayed like the attached. At the bottom of the card should be two icons :

- Chat - Should take the user to the teams chat of the user being reported in th

[2019-08-26 18:56] HindoliyaYogesh commented on #3388
Hi @matthidinger  thanks for the quick response. Here is the sanitized version of the Adaptive Card I am sending across to teams client.

{
	"attachments": {
		"contentType": "application/vnd.microsoft.card.adaptive",
		"content": {
			"type": "AdaptiveCard",
			"version": "1.0",
			"height": "auto",
			"body": [{
					"type": "Container",
					"items": [{
						"type": "TextBlock",
						"size":

[2019-08-26 20:27] nesalang opened #3389 "[.Net WPF][Fallback] [Column Fallback Doesn't work properly]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Version of SDK

master

# Details

[code]
expected output (UWP):
![column_fallback_uwpCapture](https://user-images.githubusercontent.com/4112696/63720745-b2668b80-c804-11e9-8c66-912ef493dda1.PNG)

actual (.Net):
![column_fallback_dotnetCapture](https://user-images.githubusercontent.com/4112696/

[2019-08-26 23:07] dclaux opened #3391 "[Designer] Selection rectangles off after selecting host container"

[2019-08-27 00:50] Assaya commented on #253
I had a vision when I was 15 that I could make intrinsic decisions regarding the future and progression of our planet. That I could be a game changer in peoples lives, that kindness meant something, I am talking to someone, the conversation has been interesting.
When the vision is more important on your mind than words and numbers. A place where feeling matters, kindness counts, love means somethi

[2019-08-27 06:12] BalajiR commented on #3049
@nileshprajapati007444, Sorry for the late reply. Somehow missed this from notifications.
As of current version of RN renderer, we have added only [limited properties](https://github.com/Imaginea/AdaptiveCards/wiki/Extensibility---Theme-Config) via THEME CONFIG as an experiment.

Upcoming updates to the RN renderer will cover more properties for sure.

[2019-08-27 08:01] nileshprajapati007444 commented on #3049
@BalajiR

It is ok. No problem.

[2019-08-27 08:02] #3049 closed

[2019-08-27 09:57] HindoliyaYogesh opened #3394 "[Teams] [No image icon displayed on buttons]"
# Platform
Microsoft Teams Integration

# Author or host
Microsoft Teams Client

# Version of SDK
SDK Version 1.2

# Details
## Version
Bot framework : v3
Adaptive Cards : 1.0

## Describe the bug
I am sending an adaptive card to a teams chat via bot. The card has two Open Url Action buttons. Both the action buttons have their iconUrl property set to valid Uri.

The card is rendered perfectly in w

[2019-08-27 16:12] #3391 closed, assigned to nobody

[2019-08-27 20:03] paulcam206 opened #3398 "[UWP] Use of codecvt is slow and deprecated"
UWP uses stl's `codecvt` classes to convert between UTF8<->UCS-2 (Windows "wide string"). `codecvt` is [deprecated](https://en.cppreference.com/w/cpp/header/codecvt) in C++17 and is also slow.

We should be using the Windows platform APIs `MultiByteToWideChar()` and `WideCharToMultiByte()`.

[2019-08-27 20:33] paulcam206 opened #3399 "[UWP] ColumnSet.SelectAction sample card is a bit flaky in the test app"
I think maybe we just need to choose a better source for images... More than once I've had the card (`v1.0/elements/ColumnSet.SelectAction.json`) render incorrectly (missing images) in the test app. Works fine on rerun.

[2019-08-27 22:45] paulcam206 opened #3401 "[UWP][Shared] Investigate using GSL for helpers"
[GSL](https://github.com/microsoft/gsl) is available through a Nuget package now, so we should consider using it for things like its [safe narrowing cast templates](https://github.com/microsoft/GSL/blob/b576cc6ce375cf42f6537d65a9ef29d67aa6b78e/include/gsl/gsl_util#L116).

[2019-08-27 22:53] jwoo-msft opened #3402 "[Designer][Designer adds property that's not part of schema for Inputs]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Desinger

# Author or host

# Version of SDK

1.2.x

# Details

Only Input.Choice and Input.Toggle have property "title", but Input.Text, Input.Date, Input.Number and Input.Time get the"title" property by default.

This throws off UWP's sample app's scheme validation, and tracked separately by #3178

![Cap

[2019-08-27 22:56] #3402 closed, assigned to nobody

[2019-08-28 06:40] Assaya commented on #47
Hi there,

Have a great day.

angela@thehelm

[cid:531f1391-907f-4431-93c9-f6444318d824]

[2019-08-28 07:23] Assaya commented on #234
https://open.spotify.com/track/18QOV0BXTC7Z6TcQwORwDq?si=5UdgGpRVSDG0LhB9q38jKQ

As long as the moon can keep on shining...

angela@thehelm

[cid:1b7caa5e-7ab8-4762-95e3-b2825a076b89]

[2019-08-28 07:38] Assaya commented on #1106
As many of you will know, I suffer from schizophrenia and can be quite ill at times.
With the help of cloud computing I have come to some revealing conclusions.
Like 'yin and yang' there is good and bad. But one thing I have learnt is 'life is priceless'.
I intend doing a recorded message about my experiences, all positive I might add.
I might have a brain like the map of London but my heart is in

[2019-08-28 08:03] Basavarajsk opened #3405 "Carousel card is rendering one below one in teams channel."
I am using carousel cards in node js bot to display results. But in teams carousel card is rendering one below one instead of side by side with navigator as 'next and prev'.
Version: SDK V3 Bot Framework
Deployment : Azure
Language : Node js
Adpative card Verison : 1.0
Platform Tested: Teams Desktop

[2019-08-28 10:25] gaurav1621 commented on #3357
Facing the same issue, in Action.Submit, adaptive card working fine in bot emulator but giving "400: Bad Request" error in MSTeams.

[2019-08-28 11:42] MichaelBuczek commented on #3383
Paul,

Thanks for getting in touch. This seems to be a general UWP problem, not a specific Adaptive Card issue.

While I’m at it, there does not seem to be any way to play sound using directlinespeech from adaptive cards.
Of the four options below this is what works:

  1.  Only plays a file. That always works. It is often too slow to work in a in a dialog
  2.  Option 2 is adding speech to the ac

[2019-08-28 16:36] dclaux opened #3406 "[TS] initialized static readonly fields cause compile time errors when using TS 3.0 or earlier"
# Platform and version

* TypeScript, any version

# Details

TypeScript 3.1 introduced a breaking change in the way d.ts files are generated when it comes to static readonly fields on classes. Details here: https://twitter.com/bterlson/status/1059590186550476800?lang=en

This causes compile time issues for host apps that use TS 3.0 or earlier.

[2019-08-28 18:20] #3406 closed, assigned to dclaux

[2019-08-28 20:26] almedina-ms opened #3408 "[Android] Images don't grow if size is larger than image size"
# Platform

* Android

# Version of SDK

master

# Details

If the original image is smaller than the desired image size the image won't grow to the expected size but it will shrink if the desired size is smaller

[2019-08-28 21:19] #3398 closed

[2019-08-28 21:26] RebeccaAnne opened #3409 "[UWP][Fallback Requirements] Change requirements handling from a function to a property"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

Currently ```IAdaptiveCardElement``` has a ```MeetsRequirements()``` method on it to determine whether the element meets its requirements. For our known types, a single implementation exists in the base class that is used by all elements. For custom types, however, defining the requirement

[2019-08-28 21:33] dclaux opened #3410 "[TS] placeholder property missing on Input.Date and Input.Time in designer, and also not uses as aria-label in renderer"
# Platform

TypeScript, all versions

# Details

The placeholder property is not exposed for Input.Date and Input.Time in the designer
The placeholder property should be used for the aria-label on those inputs.

[2019-08-28 21:55] RebeccaAnne commented on #3409
The current design also prevents callers from adding requirements programmatically using the object model.

[2019-08-28 22:22] #3178 closed

[2019-08-28 22:22] #3267 closed

[2019-08-28 22:22] #3301 closed

[2019-08-28 22:22] #3306 closed

[2019-08-29 16:53] #3176 closed

[2019-08-29 17:18] #3368 closed

[2019-08-29 17:39] #3363 closed

[2019-08-29 17:47] almedina-ms commented on #3099
@nesalang and @dclaux , is there any update for this?

[2019-08-29 17:49] dclaux commented on #3099
Not sure what kind of update I could give you on the JS side.

[2019-08-29 17:50] nesalang commented on #3099
@almedina-ms
for iOS, this issue has been resolved as stated in the jun 24th comment.

[2019-08-29 17:53] almedina-ms commented on #3099
@dclaux , regarding @andrewleader  's comment, if the issue is still there then there's no update but as Android and iOS don't have this issue I could assign the issue to you?

[2019-08-29 18:09] dclaux commented on #3099
You can assign to me, but I'm going to be honest, I will treat it as extremely low priority and might even never get to it.

Just as another reminder: HostConfig was designed to make it possible for one host to display cards like another host. Aside from the Designer (and the Visualizer before it) that capability has never been used. Besides, HostConfig does not support customization of buttons an

[2019-08-29 18:12] almedina-ms commented on #2569
@shalinijoshi19 , any thoughts about this?

[2019-08-29 18:22] shalinijoshi19 commented on #3099
This should be fixed in what i have gleaned of the issue; Taking note of David's point of view though labeling it lower priority to revisit/loadbalance.

[2019-08-29 18:36] #3174 closed

[2019-08-29 22:48] #3025 closed

[2019-08-29 22:55] nesalang commented on #3271
@arpitgupta19
i ran the provided json, and tested the accessibility scenario.

how i tested it:
1. turned on voice over from ios setting.
2. from ios sample app in the repo, ran the json,
3. then swiped up with two fingers on a ios device to start voice over that reads each items sequentially. [Speak the entire screen, from the top: Swipe up with two fingers.](https://help.apple.com/iphone/10/#/ip

[2019-08-29 23:13] compulim opened #3411 "[JavaScript][Mac] Chrome on Mac magically apply gradient white background on button when we say solid white"
# Platform

* JavaScript

# Author or host

Host. We are Web Chat 🌐💬.

# Version of SDK

Web Chat 4.5.2 uses Adaptive Cards 1.2.0.

# Details

In Chrome on Mac (yap, very specific). We observed that all buttons on the Adaptive Card have gradient background color.

We checked it was styled properly with `background-color` set to `White`. I think this is a very specific problem to Chrome.

![image](

[2019-08-29 23:25] dclaux commented on #3411
Problem is that to ensure `appearance` is set to `none` I would have to hard code it as an explicit style, and that will break apps that have not defined an explicit `ac-pushButton` style...

[2019-08-30 07:11] vijaysaimutyala opened #3412 "Better visual feedback on button click."
This is for the card using the WebChat renderer. The earlier version of the Adaptive cards used give a nice visual feedback to the user whether the button was clicked or not. But with the latest updates, the feedback is no longer present. It just shows a outline around the button in accent color which is not very helpful.

Old Adaptive Cards

![Old-Adaptive-Button-Feedback](https://user-images.git

[2019-08-30 09:00] se7en00 commented on #3241
thanks! it had been resolved when custom elements inherited from Adaptive.Input

[2019-08-30 09:00] #3241 closed

[2019-08-30 22:21] corinagum commented on #3411
Web Chat will go ahead and add `appearance:none` to `ac-pushButton` then.

Can we get documentation regarding needing a native stylesheet on top of the host config? I think this is a common scenario that customers of Adaptive Cards would hit.

[2019-08-30 22:25] dclaux commented on #3411
Eventually we'll get the AC CSS stylesheet properly documented, but I can't promise when.

[2019-08-30 23:12] shalinijoshi19 commented on #2333
@Paulcam206, FYI resurrecting this from the backlog as part of the Accessibility work.

[2019-09-03 05:06] jjustinms commented on #3125
From Teams mobile

1/ Card is rendered very slowly in IOS and it sometimes gets overlapped (screenshot 1)
Agreed the issue is intermittent but we tried with other carousel cards its working fine for those, one primary reason for the rendering slowly is that the son data is too large and there are around 9 cards being rendered at the same time. We suggest using fewer cards as the son data just is s

[2019-09-03 08:10] HindoliyaYogesh commented on #3394
Hi,
Any updates on this or any suggestions on workaround on this will also be much appreciated.
I have a go-live pending because of this bug.

Regards,
Yogesh

[2019-09-03 08:21] HindoliyaYogesh commented on #3388
Hi,

Any update on this? In case you need me to look into something from my end, please advise.

Thanks,
Yogesh

[2019-09-03 18:37] ckkashyap opened #3413 "Relax the minimum version number of Newtonsoft"
Adaptive card library nuget package requires atleast 12.0.2 version of Newtonsoft. This forces users of the library (such as Azure Bot Framework) to also upgrade the library.
Since Adaptive card does not really have a strong requirement for any feature/bug fix from 12.0.2 it would be better if it requires the minimum version of Newtonsoft that it really needs - this way, a larger group of applicat

[2019-09-03 18:42] shalinijoshi19 commented on #3413
@paulcam206 assigned to you for picking up here. Thanks.

[2019-09-03 21:17] shalinijoshi19 commented on #2569
Thanks! Can you do me a favor write this up into a one-pager and lets review this on Friday? Thanks

[2019-09-03 21:19] shalinijoshi19 commented on #3026
@paulcam206  load-balancing to @almedin-ms for tackling this so he is unblocked on #2712

[2019-09-03 21:21] shalinijoshi19 commented on #3194
Load-balancing this out to myself see if this was a regression here at all or we just need a new self-signed certificate checked in for the app.

[2019-09-03 22:51] shalinijoshi19 opened #3414 "[iOS]Sample/Visualizer app should be published to the store like the other platforms"
# Platform
iOS

# Details

We should be consistent about publishing our samples in the resp stores on all platforms to test/show-case the published packages; Today we do that for other platforms but iOS is missing. This bug tracks fixing this gap on iOS.

[2019-09-04 14:03] mamhh opened #3416 "adaptive card button not wrapping the text"
dears,
 I face an issue of having adaptive card with button not wrapping the text content .. how can I make the text of the button wrapping ??  snapshot below for reference ..

![Capture](https://user-images.githubusercontent.com/52238413/64261864-e2fda200-cf35-11e9-897b-a2b7746413bf.PNG)

[2019-09-04 16:47] shalinijoshi19 commented on #3260
@dclaux, can this be closed now?

[2019-09-04 16:52] dclaux commented on #3260
@shalinijoshi19  no, there is still a lot to do to actually make the designer version aware. What Matt suggests above is a way to de-register elements, but that doesn't fully solve the problem.

[2019-09-04 17:05] shalinijoshi19 commented on #3260
Thanks; Do we have a quick one-pager/spec consolidating the versioning requirements we are targeting  for the designer?

[2019-09-04 17:39] paulcam206 commented on #3026
Also related: #2534

[2019-09-04 17:57] dclaux commented on #3260
We don't. By the time I have a PR for the feature, I will open an issue with a description of what it entails. But it's fairly simple:
- Designer has a version selector
- Cards are parsed per the selected version (e.g. don't parse the "minHeight" property if selected version isn't 1.2 or greater)
- Cards are serialized to JSON per the selected version  (e.g. don't serialize the "minHeight" propert

[2019-09-04 19:39] BalajiR commented on #3416
You can wrap the title of the actions by setting the `allowTitleToWrap` boolean property in HostConfig as below.

[code]

[2019-09-04 20:28] RebeccaAnne opened #3418 "[UWP][Fallback Requirements] A element that fails its requirements reports "No Renderer found""
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

For the following card which requires a future version of adaptive cards:
[code]

The UWP renderer reports:
![image](https://user-images.githubusercontent.com/9091833/64288768-bd61a000-cf17-11e9-8420-4f305c31c6a7.png)

This is an inaccurate and confusing warning message as there **is** a re

[2019-09-04 20:59] RebeccaAnne opened #3419 "[Javascript][Fallback Requires] Element requires are not respected"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

When rendering the [Element.Requires.json](https://github.com/microsoft/AdaptiveCards/blob/master/samples/v1.2/Tests/Element.Requires.json) test file, we get the following result:

![image](https://user-images.githubusercontent.com/9091833/64290913-da986d80-cf1b-11e9-808e-6f2254e2f37

[2019-09-04 21:05] RebeccaAnne opened #3420 "[UWP][Fallback Requires] Requirement comparison is case sensitive"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The following card will drop it's text block because the casing on the requirement is "AdaptiveCards" rather than the expected "adaptiveCards" camel casing. This text block is not dropped on .NET
[code]

[2019-09-04 21:36] dclaux commented on #3419
So there are a couple things going on here:
- The designer **in design mode** doesn't fallback. That is by design.
- The designer **in preview mode** does fallback just fine (and the payload mentioned in this issue is handled properly) and therefore the renderer's fallback logic works fine
- There is already an issue opened for proper fallback support in the designer: https://github.com/microsoft/

[2019-09-04 22:47] shalinijoshi19 commented on #3260
Thanks. I've also captured this to the internal OneNote I'd created for tracking.

[2019-09-05 05:54] mamhh commented on #3416
Plz share an example of using *HostConfig*

[2019-09-05 07:03] BalajiR commented on #3416
Find a sample usage in https://www.npmjs.com/package/adaptivecards#usage
Add the previously referred `actionTitleToWrap` property to the HostConfig to wrap the titles of Action elements.

[2019-09-05 11:10] jodufra opened #3422 "[Question] What is the estimated release date of v1.2.2 in npm?"
What is the estimated release date of v1.2.2 in npm?

[2019-09-05 15:13] dclaux commented on #3416
Hi @mamhh

Are you rendering cards yourself inside your own app, or are you sending cards to a host (for example, Teams via a Bot)?

If you are rendering cards yourself and you are using the JS renderer, then you can indeed set the `allowTitleToWrap` property in HostConfig to true.

If you are sending a card to a host, then you are constrained to the behavior that host has chosen (the host owns it

[2019-09-05 16:17] shalinijoshi19 commented on #3422
@dclaux / @matthidinger ?

[2019-09-05 21:41] #3372 closed

[2019-09-06 10:34] jodufra commented on #3422
As I looked into the release tag [v1.2.2](https://github.com/microsoft/AdaptiveCards/releases/tag/v1.2.2) I noticed only a few pull requests that, I think, affects the JS payload, they are the follow:
#3169
#3407
#3350

Even though they are in short number, these PRs provide bug fixes that improve dialog flow and UX.
So I believe that users and developers would benefit from this release.

[2019-09-06 12:50] andycb opened #3425 "[UWP][Memory] [Rendered Cards Leaking Memory]"
# Platform

* UWP

# Version of SDK

AdaptiveCards.Redering.Uwp  V1.2.2

# Details

When redering an adaptive card, it appears that its memory is not released. The bellow code sample loads an adaptive card, displays it on the UI before removing it and forcing a garbage collection. After 50 itteraltions, an additional 90MB of memory is being used by the test app.

![image](https://user-images.githu

[2019-09-06 15:20] freistli commented on #3356
I used another dev machine and the build works in VS2017. One difference is the working machine setup all things on C: drive, this could be related. Just for reference. The issue can be closed.

[2019-09-06 15:20] #3356 closed

[2019-09-06 15:29] shalinijoshi19 commented on #3026
@paulcam206 assigning to you; Do you just want to track #2534 as part of fixingn all these issues instead of multiple ones? And these could then be tests for hte rework you are doing as part of 2534?

[2019-09-06 15:31] shalinijoshi19 commented on #2712
@paulcam206 assigning to you; Do you just want to use this as a test for the rework you are doing as part of #2534 now?

[2019-09-06 16:11] shalinijoshi19 commented on #3425
@RebeccaAnne, could you take a stab at this see if this is something that @paulcam206 has already addressed or a different one at this point (see offline email thread on this as well) ? Thanks !

[2019-09-06 17:16] #3409 closed

[2019-09-06 21:59] #3295 closed

[2019-09-06 23:19] RebeccaAnne opened #3427 "[UWP][Custom Parsing] Element Registration passed to IAdaptiveElementParser.FromJson is missing custom types"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

Custom parser implementers implement the following interface:

[code]

When called back, the elementParsers and actionParsers registrations should include all registered parsers, including custom types. In actuality, the registration only contains the known schema types, preventing a custom

[2019-09-09 13:25] banubhooti opened #3428 "[.NET CORE/ADAPTIVE CARD][Adaptive card returns undefined in Teams] [Adaptive card returns undefined]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET Core

# Author or host
Sending adaptive  card to Teams

# Details
I am trying to send an Adaptive Card to Microsoft Teams and it returns undefined in Teams. It is working fine in emulator. I am using c#. Below is the image from emulator and code used to send response to Teams.

Code:

[code]

[2019-09-09 16:04] shalinijoshi19 commented on #3386
@almedina-ms can you make sure that the element id design note includes this aspect of "internal" id's as well?

[2019-09-09 16:08] shalinijoshi19 commented on #3383
load balancing to @almedina-ms ; @paulcam206 FYI ; Can you try to repro this see and loop in the Target team if needed to aid?

[2019-09-09 16:09] shalinijoshi19 commented on #3413
@paulcam206 is this something that @nesalang or @almedina-ms can help out with to load balance?

[2019-09-09 16:10] shalinijoshi19 commented on #3420
@almedina-ms FYI assigning to you for fixing.

[2019-09-09 16:12] shalinijoshi19 commented on #3411
Based on the conversation above looks to be a documetnation issue. @nesalang can you try to work with @dclaux on getting the documentation gap addressed? thanks!

[2019-09-09 16:14] shalinijoshi19 commented on #3382
@matthidinger FYI; maybe addressed with the new set of website changes you are putting up?

[2019-09-09 17:35] shalinijoshi19 commented on #3383
This maybe related to known issue #2969

[2019-09-09 17:50] shalinijoshi19 commented on #521
@nesalang is this something that you are looking into already?

[2019-09-09 18:20] matthidinger commented on #3163
@almedina-ms friendly ping about splitting this bug and we can triage them independently

[2019-09-09 18:27] matthidinger commented on #3167
Fixed in #3169

[2019-09-09 18:27] #3167 closed

[2019-09-09 18:38] matthidinger commented on #3168
@dclaux FYI I think we talked about this, Outlook was the only known host using custom styles and we never officially documented it. Since the same experience can be created using a Container with style and bleed, seems like we can remove this potential point of fragmentation between hosts. Let me know if you have any concerns I overlooked

[2019-09-09 18:39] matthidinger commented on #3171
@dclaux can you confirm this is fixed and close if so, thanks!

[2019-09-09 19:16] dclaux commented on #3168
I can't really remove it unfortunately. I would run the risk of breaking existing Actionable Message scenarios.

[2019-09-09 19:17] dclaux commented on #3171
Yes, these are fixed.

[2019-09-09 19:17] #3171 closed

[2019-09-09 20:53] nesalang commented on #3164
fixed via 3390
![Capture](https://user-images.githubusercontent.com/4112696/64565724-3f333e00-d309-11e9-800e-e164c12523f3.PNG)

[2019-09-09 20:53] #3164 closed

[2019-09-10 03:54] praveenpudi329 commented on #1737
Hi All, any updates on refreshing cards

[2019-09-10 17:47] nesalang commented on #521
@shalinijoshi19, I'm not looking into this issue anymore. This bug was filed internally (by our team) when there were no resource resolvers for images. since we have images resolvers, this is less of issue; the resource resolvers provided by host will make decisions based on their needs.

We can make the default behaviors more robust. one option is strictly enforcing RFC 2396, and dropping the non

[2019-09-10 18:25] matthidinger opened #3431 "[Website] Sharing blog posts via Twitter should include the subtitle and hero image"

[2019-09-10 18:26] matthidinger opened #3432 "[Website] Website refresh homepage should directly link to the relevant host app docs"
We currently show logos and a description of partners like Teams, Outlook, etc, but there is no link to get directly to their docs and dive in

[2019-09-10 20:41] shalinijoshi19 commented on #3315
@nesalang can you please help follow up on this investigation? Thanks!

[2019-09-10 21:38] #3362 closed

[2019-09-11 16:06] RebeccaAnne opened #3435 "[Javascript][Fallback Requires] Make requirement comparison case insensitive"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

Per email discussion of #3420, we should change requirements comparison to be case insensitive. This issue tracks that update for Javascript.

[2019-09-11 16:21] #3427 closed

[2019-09-11 17:49] #3381 closed

[2019-09-11 17:51] #2690 closed

[2019-09-11 18:09] nesalang commented on #3315
@dcmesh and @droidriz
thanks for the feedback. we value it. I brought this up to the teams.

There is hard limit on overall message size, so depending on the size of a card, the number of cards that can be sent per message is variable.
[this](https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/38572720-adaptive-cards-carousel-not-displaying-in-teams) is where the issue being

[2019-09-11 18:09] #3315 closed

[2019-09-11 21:25] dclaux opened #3436 "[JavaScript][Parsing] string and boolean values in JSON cause parsing error when set to null"
# Platform

* JavaScript

# Version of SDK

1.2

# Details

A regression was introduced at some point that introduces parsing exceptions for string and boolean fields in the JSON payload if their value is `null`. While not a problem in general, some libraries (especially .NET libraries) may generate null values for unspecified fields when serializing a payload, which will cause the JS renderer to

[2019-09-11 22:12] #3413 closed

[2019-09-11 23:33] RebeccaAnne opened #3439 "[.NET] Card with null values doesn't parse properly"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET

# Details

The following card fails the TestAllTestCards in .NET. This was found when this sample was added as part of the fix for #3436.

[code]

[2019-09-11 23:51] siduppal commented on #3388
Support for explicit image sizes was added in Adaptive Cards 1.1 ([ref](https://github.com/Microsoft/AdaptiveCards/issues/536)) which is not supported in Teams yet. We hope to address this issue when we support Adaptive Cards 1.2.

[2019-09-11 23:52] #3436 closed

[2019-09-12 00:00] RebeccaAnne opened #3440 "[UWP][Testing] Add unit test to validate that all sample cards parse/render without unexpected errors"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

A UWP unit test should be added that parses/renders all sample cards and reports an error if there are any unexpected failures. This would be similar to the TestAllTestCards in .NET. This test should **not include** the image comparison checks performed by the test app.

[2019-09-12 00:01] RebeccaAnne opened #3441 "[UWP][CI] UWP Unit tests should be added to CI"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

UWP unit tests should be run as part of the pre-checkin tests to help prevent the introduction of regressions.

[2019-09-12 00:08] RebeccaAnne opened #3442 "[UWP][Samples] Add a fabricbot rule that logs a bug to update the test app when a new sample is filed"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The UWP test app needs to be updated manually when sample files are added or updated. This is because it is doing image comparisons, and human needs to look at the rendered result and validate that it is correct. In order to ensure that this work is tracked, we should have a rule that logs

[2019-09-12 00:09] RebeccaAnne opened #3443 "[UWP][Documentation] Add a readme to the UWP test app"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The UWP test app functionality should be documented in a readme.

[2019-09-12 00:12] RebeccaAnne opened #3444 "[iOS][Testing] Add unit test to validate that all sample cards parse/render without unexpected errors"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Details
A iOS unit test should be added that parses/renders all sample cards and reports an error if there are any unexpected failures. This would be similar to the TestAllTestCards in .NET. If such a test already exists feel free to close.

[2019-09-12 00:13] RebeccaAnne opened #3445 "[Android][Testing] Add unit test to validate that all sample cards parse/render without unexpected errors"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Details

An Android unit test should be added that parses/renders all sample cards and reports an error if there are any unexpected failures. This would be similar to the TestAllTestCards in .NET. If such a test already exists feel free to close.

[2019-09-12 16:57] dclaux opened #3447 "[Designer] Remove useless full screen button from toolbar"
**What platform is your feature request related to? (Delete other platforms).**
Designer

**Is your feature request related to a problem? Please describe.**
As the title says, the "go full screen" button in the designer's toolbar is pretty much useless.
A quick informal survey during the community call on 9/12/2019 had multiple people saying they never used the button and that it was redundant wit

[2019-09-12 19:40] tolotrasamuel opened #3448 "[TypeScript][IChoiceSetInput] Cannot assign to 'value' because it is a read-only propert"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* TypeScript

# Author or host

Host. Webchat

If you're an author, who are you sending cards to?

# Version of SDK

What version are you using? Ex: NuGet 1.0.2, or latest master, etc...
 "adaptivecards": "^1.2.0",
# Details

Explain your issue. If you just have a question, please post [on StackOverflow inst

[2019-09-13 20:20] RebeccaAnne opened #3451 "[UWP][TestApp] Failures in test app"
# Platform

* UWP

# Details

The UWP test app is currently reporting 9 failures across 4 files

[2019-09-13 21:03] RebeccaAnne commented on #3425
Started investigation, found a few things.

1. This is not #3372 recently fixed by @paulcam206. I am able to repro on the latest master which already includes that fix.

2. This does not appear to be a regression of the issue in #2334. Gilles added a test for that case to the test app, which seems to be in order, and is not reporting a recurrence of that leak. Also, that leak repro'd with all card

[2019-09-13 21:40] RebeccaAnne commented on #3425
I am able to repro a leak against the above card in the **1.0.0** nuget package.

[2019-09-13 22:27] #3448 closed

[2019-09-13 23:40] shalinijoshi19 commented on #3244
@siduppal can your team help follow up from the Teams side? Thanks

[2019-09-13 23:41] shalinijoshi19 commented on #3330
Have not heard back from the Cortana team on this one. Removing from 1.2.3 investigations.

[2019-09-13 23:42] shalinijoshi19 commented on #3271
Have not heard back from Teams around repro steps here. Removing from 1.2.3 investigations.

[2019-09-13 23:46] shalinijoshi19 commented on #3422
@jodufra, we'll be getting the npm packages updated as part of our upcoming Sept patch targeted for end of this month. Thanks.

[2019-09-13 23:47] shalinijoshi19 commented on #3422
Also the changelists you mention are actually still in master and have not been pushed out in previous releases at all at this time.

[2019-09-13 23:55] shalinijoshi19 commented on #3376
@paulcam206 update on this? Would this be ready by 9/18's bugbash event?

[2019-09-14 00:10] shalinijoshi19 commented on #3382
Hey @matthidinger, is this something you are able to address with the current website changes you have out? Thanks

[2019-09-14 16:48] EasyRhinoMSFT opened #3453 "Need a way to find any element by id"
# Platform
* .NET WPF

# Author or host
* Author -- Teams

# Version of SDK
* NuGet v1.2.2

# Issue
I need a way to find any element in my card by id. I was going to write my own helper method but I found that, for some reason, the AdaptiveCollectionElement doesn't include the Items[] property.

[2019-09-16 05:14] tomlm opened #3454 "[.NET] Serialization is broken for XML"
# Platform
* .NET

# Author or host
Author

# Version of SDK
1.2.1

# Details
Additional classes and properties added since 1.0 have not been properly modeled to support XML serialization.  In particular

* AdaptiveRichTextBlock
* TextRun

Xml Serialization is extremely useful as it allows usage of XML based templating engines such as Razor to data bind your data to adaptive cards.

[2019-09-16 09:37] jodufra commented on #3422
Thank you

[2019-09-16 16:15] matthidinger commented on #472
Closing as complete

[2019-09-16 16:15] #472 closed

[2019-09-16 18:35] matthidinger commented on #3394
Hi @HindoliyaYogesh, thanks for reporting this. `iconUrl` was added in v1.1 of Adaptive Cards and [Microsoft Teams is currently on v1.0](https://docs.microsoft.com/en-us/adaptive-cards/resources/partners). They are actively working on updating to v1.2 so stay tuned for announcements shortly!

[2019-09-16 18:39] matthidinger commented on #3405
Hi @Basavarajsk, Bot Framework has a maximum limit of 10 cards for carousel view, are you sending less than 10 cards? If so, can you provide additional information and potentially screenshots?

[2019-09-16 18:39] RebeccaAnne commented on #3399
@paulcam206 can you confirm that this repros with the latest test app (including automatic re-runs) and the latest test files updates (PR #3450)? Thanks!

[2019-09-16 18:41] matthidinger commented on #3412
@compulim @corinagum can you folks take a look at this?

[2019-09-16 18:43] #3412 closed

[2019-09-16 18:43] matthidinger commented on #3412
Issue moved to [microsoft/BotFramework-WebChat #2401](https://github.com/microsoft/BotFramework-WebChat/issues/2401) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-16 18:46] matthidinger commented on #3416
This sounds like a useful feature and indeed helps for folks using JS/RN. Other platforms should consider having this as well

[2019-09-16 18:49] matthidinger commented on #3416
@mamhh please see Balaji's comment for sample usage of Host Config. Let us know if you run into further issues

[2019-09-16 18:49] #3416 closed

[2019-09-16 18:51] #3451 closed

[2019-09-16 19:12] Jenna-Premera opened #3456 "[iOS][Extending renderer] [TextBlock renderer crashes when extended]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Author/host, Premera app

# Version of SDK

1.2.2

# Details

I am trying to add custom styling to card elements. For action elements, your examples indicate I need to call your render function from mine, and then I can apply my custom styling to the generated UIKit controls. However

[2019-09-16 22:45] shalinijoshi19 commented on #3388
@siduppal FYI a followup question from the customer here. Is the AC trimming in this scenario by design? Is there a work around for them at all while Teams upgrades to 1.2.* ? Is this behavior documented someplace?

[2019-09-16 22:48] shalinijoshi19 commented on #3425
Thanks @RebeccaAnne. @andycb it appears that the leak is something that has existed since at least 2017 if not longer. We'll be looking into investigating the cause and mitigating in a subsequent patch _(likely early next month if not sooner) though_ it likely will not make the Sept patch which is supposed to be code complete in the next couple of days. We'll keep you posted. Thanks

[2019-09-16 22:55] shalinijoshi19 commented on #1737
@praveenpudi329 can you please describe your scenario real quick? This is likely not going to come in any time this year since it's a huge chunk of work but @dclaux / @matthidinger are investigating a [broader issue around Universal Actions ](https://portal.productboard.com/adaptivecards/1-adaptive-cards-features/c/22-universal-action-model)that should help somebut that's still in very early inves

[2019-09-16 23:37] dclaux opened #3458 "[Designer] Add the ability to detect when the active host container has changed as well as when the card itself has changed"
**What platform is your feature request related to? (Delete other platforms).**

- Designer

**Is your feature request related to a problem? Please describe.**
It is currently not possible for an application to grammatically detect when:
- The active (selected) host container has changed
- The card itself has changed
Some partners need these capabilities in order to take appropriate action on thei

[2019-09-17 15:25] #3458 closed

[2019-09-17 18:24] shalinijoshi19 commented on #2999
Hi @jjustinms this is already available as of v1.2.1. Thanks

[2019-09-17 19:44] #3194 closed

[2019-09-17 21:29] cconrado commented on #3388
@siduppal when is teams upgrading to 1.2?

[2019-09-17 22:26] paulcam206 opened #3460 "[Shared] Missing highlightColors initialization"
`ColorsConfig` has a bunch of members of type `ColorConfig`, which are initialized for default and subtle colors, but not highlight colors:

https://github.com/microsoft/AdaptiveCards/blob/302b0d8a397ef46fce1f80c73ff73253ba05397e/source/shared/cpp/ObjectModel/HostConfig.h#L77-L98

[2019-09-17 22:49] paulcam206 opened #3461 "[Shared] ActionSet::m_orientation unused"
Looks like `ActionSet`'s `m_orientation` member is initialized, but not referenced (introduced in 393d1b0a5ac8dc62c1b750c8f643848753b31048).

Declared:
https://github.com/microsoft/AdaptiveCards/blob/302b0d8a397ef46fce1f80c73ff73253ba05397e/source/shared/cpp/ObjectModel/ActionSet.h#L12-L29

Only use:
https://github.com/microsoft/AdaptiveCards/blob/302b0d8a397ef46fce1f80c73ff73253ba05397e/source/sh

[2019-09-17 22:49] paulcam206 commented on #3461
Assumption is that there's either some missing feature work here, or we can just get rid of the unused member...

[2019-09-17 22:51] dclaux commented on #3461
ActionSet has an orientation property in JS allowing card authors to pick horizontal vs. vertical layout, overriding HostConfig. In many cases, horizontal orientation might be what works best at the card level, but not within a column.

[2019-09-17 22:52] paulcam206 commented on #3461
Makes sense. As implemented here, it's a set-only property :)

[2019-09-18 02:05] praveenpudi329 commented on #1737
Requirement : We want to send adaptive cards with approve/reject action to group/channel. once some one approves/reject the card, we want refresh the card with some message and hide the actions

[2019-09-18 08:11] banubhooti opened #3463 "[.NET C#][Input Choicelist] [Selection disappears when action button is clicked in adaptive cards]"
# Platform
* .NET c#
# Author or host
Trying to render card to Microsoft Teams
# Version of SDK
 Adaptive Card version 1.0
# Details

I am using Input Choice List but when I click on submit button,the selected value disappears in the card

[2019-09-18 20:37] #3183 closed

[2019-09-18 22:21] ryanlengel opened #3464 "[Android][Cards cut off at a max height]"
# Platform
* Android

# Author or host
Both author and host
[Virtual Assistant Client](https://aka.ms/bfvirtualassistantclient)

# Version of SDK
v1.2.1

# Details

Discovered at microsoft/botframework-solutions#2356

Cards appear to be cut off at an unknown maximum height when using the Android SDK.
Initial investigations showed this as resolving by fixing https://github.com/microsoft/AdaptiveCar

[2019-09-18 22:33] dclaux opened #3465 "[JS] [Teams ask] Investigate ways to reduce the size of the JS library"
**What platform is your feature request related to? (Delete other platforms).**

* JavaScript

**Is your feature request related to a problem? Please describe.**
The size of the minified JS library has significantly grown between 1.0 and 1.2. This can be a problem for some consumer applications that try to have as small a footprint as possible.

**Describe the solution you'd like**
This issue is t

[2019-09-18 22:42] #3369 closed

[2019-09-19 03:17] eamodio opened #3466 "Is there anyway to render a code block in v1.0 (in MS Teams)?"
I've tried using \`\`\` to start a markdown code fence, which works in the visualizer, but not in MS Teams. I've tried setting the `fontType` property (but that seems to be 1.2 only).

I'm trying to format a card with a section that is a code block -- where I want whitespace preserved, ideally a monospace font, and horizontal scrolling if the lines are long enough.

Is there anyway to accomplish t

[2019-09-19 17:11] #3376 closed

[2019-09-19 17:27] nesalang commented on #3456
The reason for the crash is analyzed and well understood.
-	Client wants to use default text renderer in the context of its custom text renderer.
-	This scenario should work, but the issue was iOS renders runs text processing tasks in parallel, and prevent custom renderers from running in its async parallel task queue, so the intermediate result would not be available down the stream. Bug was intr

[2019-09-19 17:38] nesalang opened #3468 "[iOS][Provide Fluid Dev Experiences for Swift Developers]"
**What platform is your feature request related to? (Delete other platforms).**
* iOS

**Describe the solution you'd like**
The newer iOS developers are more familiar with Swift, so we need strategy on accommodating this need. Since objective-c library can be co-op with Swfit code base via bridge header, this may not be a big concern, but we need to have a better solution for custom renderers. The

[2019-09-19 17:44] nesalang opened #3470 "[iOS][Investigate Feasibility of Supporting Swift UI]"
**What platform is your feature request related to? (Delete other platforms).**

* iOS

**Describe the solution you'd like**
Swift UI is coming as part iOS 13 (currently 12 is widely used).
Investigate the language, gauge the interest, and find possible path to adoption if possible.

[2019-09-19 20:38] nesalang commented on #3463
@banubhooti , can you share the payload you used?

[2019-09-19 21:35] paulcam206 commented on #3425
Not sure if it's *the* leak, but I'm addressing a couple leaks

https://github.com/microsoft/AdaptiveCards/blob/c9d565500bf43310d5b17cee241bf69794235c78/source/uwp/Renderer/lib/XamlBuilder.cpp#L2432
https://github.com/microsoft/AdaptiveCards/blob/c9d565500bf43310d5b17cee241bf69794235c78/source/uwp/Renderer/lib/XamlBuilder.cpp#L2471

in #3457

[2019-09-19 21:43] #3166 closed

[2019-09-19 21:47] paulcam206 commented on #3425
and quite a few more `HSTRING` -> `HString`s in 7ce0aff0c4abf5a7a54228aa7223cbd3cf525676

[2019-09-20 17:26] almedina-ms opened #3474 "[Android] Add GetResourceInformation API test"
# Platform
* Android

# Details

We must add a test for the GetResourceInformation API now that we have unit tests

[2019-09-20 17:47] almedina-ms opened #3476 "[.NET][WPF] GetResourceInformation API doesn't retrieve audio or video"
# Platform
* .NET WPF

# Version of SDK
master

# Details
When using the GetResourceInformation the API in .NET doesn't retrieve video or audio information compared to its counterpart in the C++ shared model where this elements are actually retrieved

[2019-09-21 21:33] fuchsdaniel opened #3477 "[ACWebsiteRefresh] Website Navbar not Loading Properly"
When entering in the website provided via URL https://aka.ms/ACWebsiteRefresh, redirected to https://adaptivecardsci.z5.web.core.windows.net/pr/3261, Navbar not building horizontally, giving the impression that the rest of the webpage is not loaded. You only find it if you scroll down after Navbar Items.

Image below to ilustrate it:
![image](https://user-images.githubusercontent.com/16815722/6537

[2019-09-21 22:00] fuchsdaniel opened #3478 "[Actionable Message Designer] Copy JSON Button copy the JSON Card as a serialized object"
Adaptive Card Team,

Wonderful work with the technology. Thanks a lot.

When using the new "Designer for Actionable Messages" at the new https://amdesigner.azurewebsites.net/, everything seems fine until you click on the COPY JSON button.
The text copies came as serialized string, requiring the output to be modified before it can be pasted in postman or in the other Adaptive Card related websites.

[2019-09-22 15:01] sguryev commented on #3225
I have faced similar problem. I have read Card from JSON using `AdaptiveCard.FromJson()` method. I have there an `AdapriveContainer` which I should repeat undetermined number of times (based on object count read from DB). I was not able to find anything like `Clone` or `CopyFrom` method to clone my template `AdaptiveContainer`. So I have decided to Serialize and Deserialize object to create a new

[2019-09-23 04:57] rvinothrajendran commented on #2448
@andrewleader where I can download the new AdaptiveCard.FromJson API supporting package.

[2019-09-23 16:57] matthidinger opened #3479 "[Designer] Separate Templating feature flag from other preview features"
In the Designer we want to separate the data binding feature from the global Preview Features flag

[2019-09-23 18:18] matthidinger commented on #3405
Hi @Basavarajsk I will close this for now, but if you are still having issues or can provide more information please reopen

[2019-09-23 18:18] #3405 closed

[2019-09-23 18:26] matthidinger opened #3480 "[Teams] Update Microsoft Teams to v1.2"
Tracking issue for updating Microsoft Teams to v1.2

[2019-09-23 18:28] matthidinger commented on #3394
Hi @HindoliyaYogesh, we've filed a separated issue to track updating Teams to v1.2 #3480

Please go ahead and subscribe to that issue to be notified when Teams has updated

If you're seeing other issues please reopen and let us know

[2019-09-23 18:29] #3394 closed

[2019-09-23 18:31] HindoliyaYogesh commented on #3394
@matthidinger :Thanks, i'll subscribe.

[2019-09-23 18:32] HindoliyaYogesh commented on #3480
I need to get back to my customer regarding this update. Is there an ETA on this?

[2019-09-23 18:33] matthidinger commented on #3419
This bug tracks bullets 4 and 5 above, @RebeccaAnne will file a bug to track the last bullet on non-JS renderers.

[2019-09-23 18:38] matthidinger commented on #3428
@banubhooti can you provide the JSON that is outputted to help us debug?

@siduppal are you able to take a stab at this?

[2019-09-23 18:50] almedina-ms opened #3481 "[UWP] Renderer ignores image size in ImageSet"
# Platform

* .NET HTML
* .NET WPF
* Android
* iOS
* UWP

# Version of SDK

latest master

# Details

The UWP renderer doesn't respect the size of images when the image set has imageSize: "auto"

UWP Renderer
![image](https://user-images.githubusercontent.com/35784165/65453513-34dc6e00-ddf8-11e9-961d-0f3b32a2b94a.png)

WPF Renderer
![image](https://user-images.githubusercontent.com/35784165/654535

[2019-09-23 21:28] RebeccaAnne opened #3482 "Add actions.allowTitleToWrap to non JS platforms"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* UWP

# Issue

Javascript supports a host config property actions.allowTitleToWrap which allows long text on buttons to wrap. This property would likely be useful on other platforms and we should consider documenting and implementing it across renderers.

[2019-09-23 21:31] RebeccaAnne commented on #3416
Logged #3482 to track possibly adding ```allowTitleToWrap``` to other platforms.

[2019-09-23 21:32] paulcam206 opened #3483 "[UWP] Review SAL use"
It's been a while, and as pointed out in #3457, some of our annotations are a bit stale. We should do a pass to make sure everything is still accurate.

[2019-09-23 22:36] #3389 closed

[2019-09-24 21:29] #3420 closed

[2019-09-24 21:58] dclaux opened #3487 "[Designer] Add ability to customize the title of the tool panels"
**What platform is your feature request related to? (Delete other platforms).**

- Designer

**Is your feature request related to a problem? Please describe.**
Unable to customize the title of the various tool panels:

![image](https://user-images.githubusercontent.com/1334689/65553728-5d3d9880-dedc-11e9-8f55-6871635d8a24.png)

**Describe the solution you'd like**
Make it possible to customize the

[2019-09-24 22:45] #3487 closed

[2019-09-25 00:59] matthidinger commented on #2448
@paulcam206 is working on this as we speak, hopefully not much longer

[2019-09-25 01:02] matthidinger commented on #3477
Thank you for taking the time to report this Daniel. It should be fixed now. Please do keep any other feedback coming!

[2019-09-25 01:02] #3477 closed

[2019-09-25 01:12] matthidinger commented on #3466
Hi @eamodio, there's currently no way to do this I'm afraid. You're correct that `fontType` is the ideal approach as soon as Teams completes the v1.2 rollout, which hopefully won't be too much longer. If you'd like something more advanced than that please do let us know at https://aka.ms/ACfeatures and we can evaluate future improvements. Please reopen if this doesn't solve your issue.

[2019-09-25 01:12] #3466 closed

[2019-09-25 07:23] saivarunk commented on #1443
Any update on this ?

[2019-09-25 10:07] ignacionr commented on #1443
@matthidinger @dclaux how about having an open meeting to take this argument to some final closure?

@shawnphoffman and @shawnphoffman in line with the comments on this, do remember AdaptiveCards is extendable on the host side too (using such extensibility at large would render many things incompatible, which isn't good, but this particular password thing seems to call for it).

By the way how are

[2019-09-25 10:15] #3422 closed

[2019-09-25 16:40] RebeccaAnne opened #3490 "Version parsing is not handled consistently between renderers"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Details

Two inconsistencies in version handling:

- Shared model platforms and .NET all accept major only versions (for example: "5"). Javascript requires major.minor ("5.0").

- Shared model platforms accept up to four levels of version (major.mi

[2019-09-25 16:40] RebeccaAnne commented on #3419
Logged #3490 to track version handling inconsistency.

[2019-09-25 17:45] siduppal commented on #3357
@shalinijoshi19 please assign this to @Wajeed-msft

[2019-09-25 17:48] shalinijoshi19 commented on #3357
Thanks @siduppal ; Done (@Wajeed-msft  FYI) ; Btw do we want to keep this in the AC repo or transfer over to your end? If so, could you let us know the right repo to use and I'll get that taken care of as well ? Thanks!

[2019-09-26 00:02] matthidinger commented on #1443
Hey Ignacio, long time! We don't have a Discord channel but it's been on the list.

Indeed this is a complicated one from a security standpoint. I will get a thread started with some security folks here at Microsoft and see if any options are available.

In the meantime as Ignacio mentions you can achieve this today using the element extensibility APIs. So if you're stuck trying to achieve that le

[2019-09-26 20:47] #3408 closed

[2019-09-27 10:58] shalinijoshi19 commented on #3480
@siduppal

[2019-09-27 17:18] matthidinger commented on #3388
Hi @cconrado, we are actively working with Teams to update, hopefully not much longer. Please subscribe to #3480 which we will close as soon as the roll out is complete

[2019-09-27 17:44] matthidinger commented on #3382
Thanks for reporting! We've actually published official documentation on Templating, so I've updated the wiki to link there: https://docs.microsoft.com/en-us/adaptive-cards/templating/

[2019-09-27 17:44] #3382 closed

[2019-09-27 18:00] matthidinger commented on #3052
We haven't really dived into proposals yet, but plan to get to it shortly. For your scenario, you may be able to use a custom property at the card level, and override the rendering as you see fit. E.g.,

[code]

[2019-09-27 18:54] cconrado commented on #3388
@matthidinger lets pray its rdy for Ignite 👍

[2019-09-27 21:38] dawwa opened #3497 "OnlineMeeting JoinURL as Action does not work in AdaptiveCards"
Please note that this issue only applies to Meeting Join Url, regular conversation thread link works properly.

How to Repro:
1. In Microsoft Teams Client, create a MeetNow meeting with specifying a **Subject** in any channel.
2. Get the JoinUrl of the meeting
3. Create simple card to have an action button to open the JoinUrl
4. Send the card in Teams, and click the button
5. Reply the card with p

[2019-09-30 20:06] Assaya commented on #1140
<blockquote class="embedly-card" data-card-theme="dark"><h4><a href="http://loadmypixel.club/index.html">BLANK TITLE</a></h4><p>WHAT IS VUE CONFERENCE?</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
https://loadmypixel.club

angela@thehelm

[cid:e37e5345-10f4-4d69-b966-5f9e1b3bd23b]

[2019-09-30 20:18] Assaya commented on #1580
Welcome to the VUE Conference

Taking place in the spring of next year.
LOADMYPIXEL.CLUB<https://loadmypixel.club>

Book EARLY to avoid disappointment.

angela@thehelm

[cid:a219d78a-c457-4fe4-9a8c-081bf6cd30d1]

[2019-09-30 21:16] Assaya commented on #47
https://join.slack.com/t/pwc-ltd/shared_invite/enQtNzgwNTQ1MDE2MTUxLTBlNDNiMDA1YmRjNjA5MjhmMGE1ZmJkZDA0YWQxMjU0NzYzMmEwMjM0Y2Y1NWZlOWE2NzI1MzIwYzQ4ZDE1OGM

angela@thehelm

[cid:e17e6240-7bb3-46f3-af14-959488788c1a]

[2019-10-01 01:50] #2404 closed

[2019-10-01 01:50] #3269 closed

[2019-10-01 01:50] #3249 closed

[2019-10-01 01:50] #3432 closed

[2019-10-01 17:52] atishayv opened #3500 "[JavaScript] Unregistering all actions in host app of designer doesn't removes “Selected action” in Element properties"
# Platform
* JavaScript

# Author or host
Host Name : Microsoft Search

# Version of SDK
adaptivecards-designer@0.7.1

# Details
If I unregister all actions in my host app(Ex : `Adaptive.AdaptiveCard.actionTypeRegistry.unregisterType("Action.ShowCard"`)), I still see “Selected action” in Element properties with no values in dropdown for Image elements.

![image](https://user-images.githubuserconte

[2019-10-01 18:19] atishayv opened #3501 "[JavaScript] Unable to properly see side panel options in high resolution mode."
# Platform
* JavaScript

# Author or host
Host Name : Microsoft Search

# Version of SDK

adaptivecards-designer@0.7.1

# Details

1) Make your screen at very high resolution or zoom the browser to 175%.
2) The scroll bar overlaps with "Card structure", "Element properties" and "Data Structure options"
![Untitled](https://user-images.githubusercontent.com/13940020/65988771-16d0d680-e4a6-11e9-9a87-

[2019-10-01 18:23] atishayv opened #3502 "[Templating] Support AND OR operation in "$when" condition"
Platform
* Template engine, all platforms

**Is your feature request related to a problem? Please describe.**
3)	Is it possible to do a AND OR operation in $when condition? Something like : `"$when": "{price > 20 && qty < 5}" ?` or `"$when": "{price > 20 || qty < 5}"

**Additional context**
If an element is binded with 2 properties, the user should be able to put $when condition with both properrt

[2019-10-01 18:32] atishayv opened #3503 "[JavaScript] The undo and redo options is not working properly"
# Platform
* JavaScript

# Author or host
Host : Microsoft Search

# Version of SDK
adaptivecards-designer@0.7.1

# Details
1) Adding new elements to existing card doesn't updates the undo and redo button.
The problem is in below function :
[code]
It is pushing the same object reference. The code should something like :
`this._undoStack.push( JSON.parse(JSON.stringify(payload)));`

2) The undo and

[2019-10-01 18:41] shalinijoshi19 commented on #3497
@siduppal offline comment:
<snip>
       " There're bugs on meeting deeplinks on mobile currently. "
</snip>

[2019-10-01 21:48] #3165 closed

[2019-10-01 22:28] #3474 closed

[2019-10-01 22:56] #3456 closed

[2019-10-02 16:12] vman commented on #2170
@matthidinger Is there a solution for this yet? We are storing images in SharePoint and want to show them on Adaptive Cards in Teams. It works fine if the user is logged in to SharePoint but the images don't load if the user is not signed in. Any way to handle this scenario?

[2019-10-02 16:56] dclaux commented on #2170
@billbliss this would be a question for you.

[2019-10-02 19:35] paulcam206 opened #3506 "[.NET] Deprecation warnings not updated for fontStyles->fontTypes rename"
# Platform

* .NET HTML
* .NET WPF

# Description

`FontStyle` was renamed to `FontType`, but an older deprecation warning wasn't updated to reflect this:

https://github.com/microsoft/AdaptiveCards/blob/16172639b4aa70c7461e7b2b52824ae6d5c68d25/source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs#L29-L39

[2019-10-03 05:18] PriyankTUV commented on #2148
Solution Worked for me ...

 public static Attachment ToAdaptiveCard(this AdaptiveCard card)
        {
            var adaptiveCardJson = JsonConvert.SerializeObject(card);
            return new Attachment()
            {
                ContentType = "application/vnd.microsoft.card.adaptive",
                Content = JsonConvert.DeserializeObject(adaptiveCardJson),
            };
        }

[2019-10-03 14:42] Rufus1123 opened #3509 "[.NET][Unit Testing] FromJson throws exceptions when running unit tests in parallel"
# Platform
.NET
botframework

# Version of SDK
NuGet version 1.2.3

# Details
I have multiple dialogs and multiple tests for each dialog in my chatbot project. I use cards in these dialogs, which are obtained from json files. When running all my tests, I get the following exception for most of the tests:

and one test returns the following error:

When running the unit tests one by one, all of the

[2019-10-03 17:10] nesalang commented on #2610
closed via #3291

[2019-10-03 17:10] #2610 closed

[2019-10-03 20:24] shalinijoshi19 commented on #3509
Hey @nesalang could you help pick this up? Thanks

[2019-10-03 20:25] nesalang commented on #3509
sure

[2019-10-03 21:20] nesalang commented on #3509
@shalinijoshi19
from the log, the error happened in ParseContext. ParseContext is a static class, and PopElement and PushElement probably ran into synchronization issue.

in discussion with @paulcam206, we have two options:
one is adding mutex
second is making ParseContext an instance variable, and set the lifetime to be same as its root card.

second option seems better choice in terms of the per

[2019-10-04 17:29] #3503 closed

[2019-10-04 21:42] RebeccaAnne opened #3511 "[UWP][Memory] Audit callback lambdas for circular references"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

Issue #3425 revealed a memory leak caused by a circular reference in a lambda callback (fixed by #3507). We should look at all our lambdas to determine if there are other similar issues.

[2019-10-04 22:06] matthidinger opened #3512 "[Designer] Open Sample modal should be wired up to ESC button to close"
# Platform
Designer

The "Open Sample" dialog should support the Escape key to close, for both usability and accessibility support.

![image](https://user-images.githubusercontent.com/1432195/66243160-60910b00-e6b8-11e9-8800-7977501bebbe.png)

Here's the code I used to close the Homepage modal video. Tweak to remove jQuery references
[code]

[2019-10-07 18:34] nesalang opened #3513 "[iOS][Sample App] Adding Support For ToggleVisibility to CustomImageRenderer"
**What platform is your feature request related to? (Delete other platforms).**

* iOS

**Is your feature request related to a problem? Please describe.**
Teams reported that iOS sample app's custom image renderer doesn't support toggle visibility.

[2019-10-08 07:01] larry-lau opened #3515 "[Designer] Open Sample modal missing close button if you select the "Outlook Actionable Messages" host app."
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host
Authoring

# Version of SDK
NPM Package "adaptivecards-designer": "^0.7.2"

# Details
1. Navigate to https://adaptivecards.io/designer/
2. Select "Outlook Actionable Messages" host app
3. Click the "Open Sample"
4. Note the modal is missing the Cancel button that you get in othe

[2019-10-08 14:16] shalinijoshi19 commented on #3515
@dclaux thoughts? Feel free to send it my way for load balancing! tx

[2019-10-08 14:17] shalinijoshi19 commented on #3506
@nesalang can you pick this up? This should be part of our October patch. Thanks

[2019-10-08 14:19] shalinijoshi19 commented on #3478
Thanks for trying us out @fuchsdaniel ! @dclaux would you know if this question is better suited for the Actionable Messages forum rather than AC first?

[2019-10-08 14:22] shalinijoshi19 commented on #3461
@Paulcam206 what is the proposal here with this issue?

[2019-10-08 14:28] shalinijoshi19 commented on #3163
@RebeccaAnne this looks like a clear case of fallback needing to be respected in UWP yes? Assigning to you to see if we can come up with a proposal for this bug to discuss in the design notes meet.

[2019-10-08 14:30] shalinijoshi19 commented on #3428
@banubhooti ping!

[2019-10-08 14:33] shalinijoshi19 commented on #3500
@dclaux initial thoughts?

[2019-10-08 15:18] dclaux commented on #3501
Minor fix. I have been working with Atishay and am aware of this.

[2019-10-08 15:19] dclaux commented on #3515
Fix for this is coming in this PR: https://github.com/microsoft/AdaptiveCards/pull/3508

[2019-10-08 16:57] nesalang commented on #3506
sure

[2019-10-08 17:10] jwoo-msft opened #3516 "[Consistency] [Horizontal Scroll Bar in ActionSet]"
# Version of SDK

Latest master

# Details

iOS & Android have a horizontal scrollbar in ActionSet that appears when there are more actions than given frame's width. It was feature requested by the mobile clients such as Teams. We may have to revisit this issue for consistency across the platforms.

[2019-10-08 17:18] almedina-ms commented on #3163
@shalinijoshi19 this has to do more with the rules for fallback and most likely ImageSets shouldn't allow an image to have a texblock as fallback, we should set the rules for this cases just as in columnset we only allow columns to be replaced by other columns

[2019-10-08 18:38] matthidinger commented on #2448
@rvinothrajendran please see the package here: https://www.nuget.org/packages/AdaptiveCards.Templating

Note that the API has changed since this was posted.

[code]

[2019-10-09 03:21] matthidinger opened #3517 "[Designer] Super amazing user-friendly tutorials"
I was using the Azure Application Insights log tool and it kicked off this really user-friendly tutorial walking me through the main regions. This seems like it would be a fantastic way to introduce users to the Designer, especially when we roll-out templating.

![awesome-web-tutorial](https://user-images.githubusercontent.com/1432195/66449180-fa362080-ea08-11e9-8119-07bda2024354.gif)

[2019-10-09 08:52] rvinothrajendran commented on #2448
@matthidinger transformer.Transform() API is working fine.
 Waiting for AdaptiveCards.FromJson API in C# :)

[2019-10-09 16:17] RebeccaAnne commented on #3461
@shalinjoshi19 The story here is that this member variable exists but is not hooked up to anything. It would in theory be in support of an orientation property on ActionSet. That is not an officially documented feature, but per David's comment it already exists on JavaScript.

The proposal would be to either document and implement orientation for ActionSet on all non-JavaScript platforms, or other

[2019-10-10 11:55] DeeJayTC opened #3518 "[WPF][Rendering/Templating] Renderer throws newtonsoft error"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* .NET WPF

# Author or host
Host, trying to render a card in my own app (visual studio extension)

# Version of SDK
AdaptiveCards.Rendering.Wpf -> 1.2.3
AdaptiveCards.Rendering.Wpf.Xceed -> 1.2.3
AdaptiveCards.Templating -> v0.1.0-alpha1

# Details
When trying to use the designer (vnext version) its all fine

[2019-10-10 12:04] shalinijoshi19 commented on #3518
Also @DeeJayTC just for our understanding, could you describe the scenario you are trying to use AdaptiveCards as well as the templating stack in? Thanks!

[2019-10-10 12:07] DeeJayTC commented on #3518
Well, based on what @matthidinger said yesterday it is supported. Technically the templating just changes strings on the json itself, the render receives a final card where the templating is already done.

We're trying to render a card in a Visual Studio Extension (eg WPF Control)
Template itself is currently sitting in a json file in the repository and loaded at runtime
Data is loaded from a rest

[2019-10-10 12:38] shalinijoshi19 commented on #3518
Hmm so essentially you are just using the WPF renderer like you would to render a regular JSON file; Do you have the actual transformed JSON with the AdaptiveCard type element in there also ? I dont see that in the taskCardsampleData.txt file you provided nor the taskCard.txt which seems to be the pre-transformed json..In other words what is the JSON you are trying to pass in to the call to FromJs

[2019-10-10 13:09] DeeJayTC commented on #3518
Thanks for asking for that....found the issue.
While looking at the transformed data i realized that one of the urls was
`"text": " [undefined](https://digitalcrew.teamwork.com/people/undefined) ( Teamwork )",`
In the template i accidently used $root instead of $data.
Its working now after i changed that.

Only weird thing is that the designer on https://vnext.adaptivecards.io/designer/ renders it

[2019-10-10 23:08] almedina-ms commented on #3518
Good afternoon @DeeJayTC

I'm currently trying to reproduce the error you were talking about, I'm using the WPF visualizer app removing the references to local projects and using the nuget packages you mentioned, I replaced the lines as you specified having this now

[code]

So far I haven't found the error and I tried to force the error by changing this line to force an error by changing root to

[2019-10-11 09:45] DeeJayTC commented on #3518
hmm maybe because $rot does not exist while $data does but has different properties to $root.
I'll try to build a small wpf app or something to reproduce this.

[2019-10-11 17:48] tnev opened #3519 "[iOS][Custom Actions] Support custom action parsing for selectAction"
# Platform

* iOS

# Author or host

host

# Version of SDK

1.2.1

# Details

It doesn't currently seem possible to use custom actions for a Container's `selectAction`. It looks like selectAction uses `ParseContext`'s `actionParserRegistration` to look for action parsers corresponding to the action type, unlike the `ACRCustomActionRenderer`, which will call `ACRRegistration`. I'm not sure how we

[2019-10-11 18:14] shalinijoshi19 commented on #3519
@nesalang thoughts ?

[2019-10-11 19:15] HindoliyaYogesh commented on #3388
@matthidinger @shalinijoshi19 : If we are tracking the issue under #3480 , do you want to close this one?

[2019-10-12 00:11] almedina-ms commented on #3518
Hi

Sorry for the delay, I made a really simple test app for templating scenarios, it's located in this branch
user/almedina-ms/ReproNetTemplatingError

The project is under the source/dotnet/AdaptiveCards.sln solution and the project is called AdaptiveCards.Sample.WPFTemplating. It's a really simple visualizer with preloaded data and you just need to click on the "Render" button to render the car

[2019-10-12 19:46] tolotrasamuel opened #3521 "[Webchat][UI] Wrap text on action button"
# Platform

What platform is your issue or question related to? (Delete other platforms).
Webchat
* JavaScript

By default, the text on the action button of an HeroCard is trimmed with an overflow (Three dots) when it is longer than the width.

[![enter image description here][1]][1]

Is it possible to force all the text to be shown by going to the next line?

    private getAdaptiveHeroCard(title