[2020-08-01 00:29] jwoo-msft commented on #4519
@golddove if the image size of the ImageSet is configurable through host config, feel free to close it.

[2020-08-01 10:02] #4200 closed

[2020-08-03 05:07] vaisrame opened #4521 "[javascript][New Event]Could we have an event dispatched after user activity on buttons and editor."
**What platform is your feature request related to? (Delete other platforms).**
* JavaScript

**Is your feature request related to a problem? Please describe.**
Currently there is no way for the users to know when user does any action like copies/pastes/parse data either through buttons or via Monaco editor. We would like to add analytics on these to observe developer behaviour and right now there

[2020-08-03 08:18] Chekrii commented on #4500
Hello Team, Can you please provide us the update on this bug or any alternative to make that button clickable.

[2020-08-03 10:50] golddove opened #4522 "[Android][Input Validation] Input.Number without "min" doesn't render, and without "value" shows null"
# Platform

* Android

# Version of SDK

1.3 / latest main

# Details

Input.Number with "min":

[code]
renders fine:

![image](https://user-images.githubusercontent.com/4442788/89175166-2d780c00-d555-11ea-82e6-f359d9827cf5.png)

but without "min":
[code]
doesn't render:

![image](https://user-images.githubusercontent.com/4442788/89175238-5ac4ba00-d555-11ea-9a4f-2f7ed9154348.png)

and without "val

[2020-08-03 20:34] shalinijoshi19 commented on #4518
@almedina-ms / @golddove whats the status of this one? Still going in for 1.2.11?

[2020-08-03 21:53] shalinijoshi19 commented on #4519
@almedina-ms / @golddove we did say this wasn't a ship blocker right?

[2020-08-04 00:37] #4518 closed

[2020-08-04 01:37] shalinijoshi19 commented on #203
Dup of #3081

[2020-08-04 01:37] #203 closed

[2020-08-04 02:06] Cherise-xu opened #4528 "The 'https://adaptivecards.io/designer/' can be used"
The 'https://adaptivecards.io/designer/' can be used , the wrong is 'Uncaught SyntaxError: Unexpected end of input
jquery.min.dc5e7f.js:2 Uncaught ReferenceError: ACDesigner is not defined
    at HTMLDocument.<anonymous> ((index):760)
    at e (jquery.min.dc5e7f.js:2)
    at t (jquery.min.dc5e7f.js:2)'
Please deal with it as soon as possible,thank you

[2020-08-04 06:07] sanjeev9160 opened #4529 "[MsTeams][SignInCard] [Cannot style the title in the SignInCard]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* MsTeams

# Author or host

Author

If you're an author, who are you sending cards to?
MsTeams

# Version of SDK

NA

# Details

Cannot control the styling in the Sign-In card like the font-size and styling of the title. Not having fine control on the sign-in card gives a very bad experience and very restri

[2020-08-04 07:14] sanjeev9160 opened #4530 "[MsTeams][Button Styling issue] [Poor contrast between selected and non selected button]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* MsTeams

# Author or host

Author

If you're an author, who are you sending cards to?
MsTeams

# Version of SDK

NA

# Details

The contrast between the selected button and the non-selected button is very difficult to find out.
[MsTeams:]
![image](https://user-images.githubusercontent.com/64134945/89264074

[2020-08-04 10:23] Chekrii commented on #4500
Hello Team,

It is working in Adaptive visualizer but not in App studio and in Teams Bot. Please reply on this as soon as possible.

Thanks.

[2020-08-04 12:49] adumrewal opened #4531 "[iOS][RichTextBlock Rendering] [Parity issue in RichTextBlock TextRun with action]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teamspace iOS

# Version of SDK

1.2.10

# Details

TextRun in a RichTextBlock with selectAction renders differently across clients with difference in text color and underline style.
Desktop:
<img width="435" alt="Screenshot 2020-08-04 at 4 55 09 PM" src="https://user-images.g

[2020-08-04 14:29] shalinijoshi19 commented on #1936
dup #3081

[2020-08-04 16:11] golddove commented on #4439
Reopening due to revert

[2020-08-04 20:15] #4522 closed

[2020-08-04 21:57] paulcam206 commented on #4517
I think the host app warnings should stay until `1.3` has been adopted by the various hosts (I guess that's kinda the point) :)

[2020-08-04 23:25] #4517 closed

[2020-08-05 03:25] arman-g commented on #3991
Is this bug ever going to be fixed? Any updates?

[2020-08-05 10:40] mindmodel commented on #4032
Has there been any progress on fixing this bug?  I just checked and the demo bot showing the problem is still functioning and still shows the problem.

[2020-08-05 17:31] matthidinger opened #4539 "[Website] Show Card Wizard template is failing with templating enabled"
# Platform

* Website: http://adaptivecards-ci.azurewebsites.net/samples/ShowCardWizard.html

Presumably this is because its missing a data payload. Perhaps we can work around it by just providing an empty object `{}`?

![image](https://user-images.githubusercontent.com/1432195/89444547-b5e9de80-d706-11ea-80e3-658d013b9b77.png)

[2020-08-05 18:39] paulcam206 commented on #4539
This didn't repro locally because the local storage bit of the templating checkbox doesn't work locally. I won't try to fix that right now since we're trying to ship. Also, there's unfortunately no smoking gun output about what's wrong here. However, I'm going to *guess* that this is due to `ShowCardWizard.data.json` being a zero-byte file rather than an empty JSON doc `{}`.

[2020-08-05 18:44] paulcam206 commented on #4539
I'll reactivate if my speculative fix doesn't work. :)

[2020-08-05 21:28] #4539 closed

[2020-08-05 21:32] almedina-ms opened #4544 "[Android][Inputs] Input.Number fails validation when empty"
# Platform

* Android

# Version of SDK

latest main / 2.0.0

# Details & Customer Impact
When an Input.Number field is empty, regardless of it being required or not, the end user will not be able to submit a form.
## Workaround:
If the user sets any placeholder value, eg "0" in the form, they will be able to continue.

[2020-08-05 22:08] #4391 closed

[2020-08-06 09:42] pappk opened #4545 "[JavaScript][Rendering] Library doesn't respect column width for card rendering"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Host, I am rendering cards that were generated by Microsoft Teams applications, bots.

# Version of SDK

v1.2.6

# Details

I am rendering cards that were generated by Microsoft Teams applications. In the following example, this card was generated by the Team's Praise app. In

[2020-08-06 15:44] bandtank opened #4547 "[Website] [Need an end to end example for Power Automate/Flow]"
The samples page does not actually help a beginner get started. I have no idea where to paste the template code so it can be used nor do I understand how to create a flow that uses it. A complete example from the very beginning to the very end with screenshots seems like an obvious omission. I basically have no idea how to use any of this information because the other documentation assumes the use

[2020-08-06 16:00] manujai opened #4548 "[Mobile][Usability] [Chevron no reset issue in Action.ShowCards ]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Android
* iOS

# Author or host
Host on Webex Teams

# Version of SDK
We have our own fork of AdaptiveCards@v1.2.11

# Details
The Chevron on Action.ShowCards() buttons does not reset back to their default state when a different button is pressed.
For example,
1) Lets say, we have two buttons which have che

[2020-08-06 17:36] matthidinger opened #4551 "[Website] Image docs should link to the data URI requirements/limitations"
We mention that data URI is supported, but don't call out the size or other limitations. We should update the schema docs to link to the specific constraints, similar to what we do with TextBlock markdown support

---
* URL: https://adaptivecards.io/explorer/Image.html

[2020-08-06 18:39] paulcam206 opened #4552 "[Samples] Need to update old samples"
# Details

Now that 1.3 has shipped, we have input labels and input validation. Scenario sample cards created pre-1.3 should have new 1.3 versions created that take advantage of both features.

The pages showing pre-1.3 samples will *also* be updated with a banner that explains that the newer features should be used in order to light up accessibility. (see #4807)

## Cards to update
I *think* this

[2020-08-06 18:47] paulcam206 commented on #4552
@matthidinger - care to wordsmith the banner in the description?

[2020-08-06 23:40] almedina-ms opened #4554 "[Android][Testing] Add testing for input validation"
# Platform
* Android

# Version of SDK

main

# Details

To catch validation bugs before release, unit tests should be added to catch any

[2020-08-07 02:15] ThorHuno commented on #3701
good news about this issue?

[2020-08-07 06:39] Wajeed-msft commented on #3701
There are two sets of issues on this thread:
1. Bot is taking longer than 15 seconds to respond and want the timeout increased or specific error.
2. The request is not being received by the bot.

For both of these we are looking to add more errors logs on client side, also more specific error message in UI. I'll share further updates by next week end (14 Aug).

Meanwhile, if you could provide the

[2020-08-07 10:24] ravikant15796 opened #4555 "Ms Teams margin issue in header adaptive cards"
# Platform

* JavaScript
* MS Teams

# Details
There is some extra margin coming in header while using  **separator : true**  in TextBlock as highlighted in attached screenshot.

![issue](https://user-images.githubusercontent.com/10558023/89635488-ac0dda00-d8c4-11ea-911e-087d8ef9dc59.png)

cards json schema:-

{
  "text": "",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft

[2020-08-07 14:36] shalinijoshi19 commented on #4548
@almedina-ms can you take a look at this real quick please? Thanks

[2020-08-07 15:44] ThorHuno commented on #3701
Bot ID: 18a91f98-a3e5-40b4-bf62-743b8caae574
Timestamp: 8/6/2020 10:20 UTC (approximately)

[2020-08-07 21:15] matthidinger commented on #4547
Thank you for providing us your feedback. I agree we need to do better surfacing the Getting Started docs with our various partners. We've actually got some explorations in the backlog that should help with this, and I'm hoping to make progress and share more in the next few months.

[2020-08-09 07:37] helloanurag commented on #3701
@Wajeed-msft

I have reported this on that alias too. This seems ot be an issue with Adaptive card compatibility with Flow/Teams. It's not specific to my Flow or Card values. Me and my colleagues have been testing this on our account by creating simple cards with simple logic for testing and we get this error 20% of the times randomly. I have gone through the documentation and it seems that someth

[2020-08-10 05:09] shalinijoshi19 opened #4558 "[Website/SchemaExplorer] Published schema needs to be updated for new 1.3 TextRun.Underline property"
# Platform
SchemaExplorer

# Details
https://adaptivecards.io/explorer/TextRun.html needs to be updated to include the new [`underline`](https://github.com/microsoft/AdaptiveCards/issues/3051) property new with 1.3

[2020-08-10 05:10] shalinijoshi19 commented on #4558
@RebeccaAnne can you pls help update the schema for the newly shipped `underline` property for TextRuns? Thanks!

[2020-08-10 05:14] shalinijoshi19 commented on #4531
@matthidinger / @dclaux / @RebeccaAnne is this supposed to be by design depending on how each platform renders hyperlinks for this specific case where the selectAction is of type "OpenUrl"?

[2020-08-10 05:23] shalinijoshi19 commented on #4545
@dclaux I am seeing slightly different behaviors here with this card on the [designer](https://adaptivecards.io/designer) depending on what hostconfig I use, in addition to seeing this warning with it.. Thoughts? Could that be the reason why the height property is being disregarded?

`[Parse] Invalid value "auto" for property "height".`

[2020-08-10 05:34] shalinijoshi19 commented on #4530
@dclaux isn't the contrast something that's defined by the host via hostconfig (CSS in this Teams' case)?
@sanjeev9160 what is the AdaptiveCards explorer again and can you please share your card json as well?
Thanks

[2020-08-10 05:36] shalinijoshi19 commented on #4529
@siduppal is this a feature request on the Teams side?

[2020-08-10 05:45] shalinijoshi19 commented on #4555
@ravikant15796 do you happen to have a simpler card json for your issue here? Also does it also repro on our [designer](https://adaptivecards.io/designer) or only when rendered in Teams?

[2020-08-10 17:40] dclaux commented on #4545
@pappk I see two problems with this payload:
- The Image's height is set to `"auto"`. That is not supported, contrary to what the documentation says (we'll have to fix the documentation.) An Image's size is controlled either via its `"size"` property (which can be set to **auto**, **stretch**, **small**, **medium** or **large**) or via its `"width"` and `"height"` properties to specify explicit pi

[2020-08-10 17:58] pappk commented on #4545
@dclaux So, you say the source JSON is incorrect, isn't it? My concern with this is the following, I am not the author of the content JSON. I've captured this content JSON from Microsoft Teams, and the content was generated by the following official Microsoft product: https://support.microsoft.com/en-us/office/send-praise-to-people-50f26b47-565f-40fe-8642-5ca2a5ed261e. Also, in the Teams client th

[2020-08-10 18:13] dclaux commented on #4545
@pappk yes, the JSON is incorrect. My guess is that this might be an older card that hasn't been updated. The JS SDK used to accept column weights expressed as strings but the other SDKs didn't, so the JS SDK was made more strict to match, at the risk of breaking some existing cards. I think this is an example of that.

As for the image's "height": "auto" I need to clarify: It is "supported" (it's

[2020-08-10 18:34] pappk commented on #4545
@dclaux thank you for the explanation. I've repeated the content recording with the Praise card and the result is the same.

I've tried to manipulate the recorded data manually and I've changed the string width values to numbers as you described. That modification solves the rendering issue. This means before I would use your SDK I have to check every card content JSON and convert every column's w

[2020-08-10 18:49] RebeccaAnne commented on #4183
@v-kydela, can you tell me more about the scenario where the current behavior causes problems for you? The string version of the inline is meant as a convenience for card authors, but the meaning is the same as a TextRun with no additional properties, so the card information is maintained even if the form has changed.

Serializing text runs with only text as strings would be a reasonable behavior,

[2020-08-10 18:52] paulcam206 commented on #4528
The [designer](https://adaptivecards.io/designer/) appears to be working for me. Is it still broken for you?

![image](https://user-images.githubusercontent.com/16614499/89819233-e9aa7700-daff-11ea-91ca-35bc629e1025.png)

[2020-08-10 18:58] RebeccaAnne commented on #4552
A new version of Inputs.json was created with #4455. Currently here: [InputsWithValidation.json](https://raw.githubusercontent.com/microsoft/AdaptiveCards/main/samples/v1.3/Scenarios/InputsWithValidation.json).

[2020-08-10 18:58] paulcam206 commented on #3920
I was looking at another issue in the vicinity of this one, but it looks like this one doesn't repro any more (or at least doesn't for me locally).

@DavidStrickland0 -- are you still seeing problems here?

[2020-08-10 19:25] dclaux commented on #4545
@pappk yes, Column.width can be string or number, but when it is a string it has to be a pixel size (e.g. "25px")

I am sorry for the inconvenience of having to deal with this change, but technically the JS renderer was too lenient originally and didn't match the behavior of the other SDKs (or the documentation).

[2020-08-10 19:43] shalinijoshi19 commented on #4548
@almedina-ms can you take a look at this one while @jwoo-msft is OOF? thanks

[2020-08-10 19:53] v-kydela commented on #4183
@RebeccaAnne - Those are good points. It's been a while since I've thought about this, but I think I remember a customer just being confused about how to represent string inlines as C# objects.

[2020-08-10 19:56] v-kydela commented on #4183
Actually on further consideration, automatically serializing text runs as strings wouldn't fix the problem if the problem is making sure the JSON can be round-tripped consistently. Maybe a better solution is to put something in the documentation to keep people from getting confused.

[2020-08-10 19:57] golddove commented on #4494
Unable to repro while scrolling through multiple cards using different images (in our `mobilechatapp`) with our basic sample `IResourceResolver` implementation.

@almedina-ms any ideas?

[2020-08-10 19:58] shalinijoshi19 commented on #3712
@VikrantSingh01 / @anbah34 / @adumrewal ping. Thanks

[2020-08-10 20:20] RebeccaAnne commented on #4183
@v-kydela That seems reasonable, we can look at a documentation update on this topic to make sure it's clear that the string form is just a short-hand for a TextRun with no additional properties. I don't think it's necessarily a goal for the round tripped json to be identical to the json coming in, only that the card it represents is the same. For always outputting the string form I was thinking t

[2020-08-10 20:50] DavidStrickland0 commented on #3920
The Code in the zip file I uploaded produces thew same result ... no button appears by default.
Comment out line 36 uncomment line 39 of MainPage.xaml.cs and button appears.

Even tried updating AdaptiveCards.Rendering.Uwp to 2.0 and updating UWP to 6.2.10
See attached
[AdaptiveCards.pdf](https://github.com/microsoft/AdaptiveCards/files/5053296/AdaptiveCards.pdf)

[2020-08-10 21:23] shalinijoshi19 commented on #4545
@RebeccaAnne can you pls update this Thanks!

[2020-08-10 21:53] RebeccaAnne opened #4563 "[JavaScript] Spurious warning regarding height property"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

Spun off from #4545. The card from that bug produces the following warning:
`[Parse] Invalid value "auto" for property "height".`

This warning is incorrect and should not be returned.

[code]

[2020-08-10 21:59] RebeccaAnne opened #4564 "[All Platforms] Support string values for non-string type properties"
Currently the behavior for properties that are defined as number or boolean is that if the value of the property is a string it fails to parse, even if that string represents a valid value (i.e. "2" or "false"). Originally the JavaScript renderer did support parsing across type in this manner, but was changed to match the behavior on other platforms for consistency. This issue tracks adding this s

[2020-08-10 22:04] RebeccaAnne commented on #4545
@pappk Since this card is behaving according to current design, we're closing this issue for now. That said, I've opened #4564 to track the possibility of updating all renderers to support this case where the number value is passed as a string. Please feel free to track that issue for updates on this topic. Thanks for bringing this issue to our attention.

[2020-08-10 22:04] #4545 closed

[2020-08-10 22:23] RebeccaAnne opened #4565 "[Inconsistency] Parse failures for a given property should not fail the entire card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Details

Currently the shared model platforms fail parsing of the entire card in the case that there is a parse error in any property. JavaScript on the other hand, drops only the failing property, returning a warning and continuing to parse. This

[2020-08-11 00:10] golddove commented on #4494
@ankbat Alberto and I weren't able to repro this issue.

Can you verify by setting a debug breakpoint at the beginning of your resource resolver's `resolveImageResource` method, and then checking what is passed to the `url` argument?

 Perhaps some additional information can help us:

- Device/emulator used, and Android version?
- When/how often does the issue occur?
    - Does it only occur if yo

[2020-08-11 03:54] ankbat commented on #4494
@golddove

1: In custom resource resolver I only utilise the URI from override function and maximum times I have noticed that

```override fun resolveImageResource(uri: String, genericImageLoaderAsync: GenericImageLoaderAsync, maxWidth: Int): HttpRequestResult<Bitmap> ```

gets called from SDK. The uri comes to be the custom URL which we have set in JSON payload.

```thumbnail://cardcontents/info?

[2020-08-11 04:10] Wajeed-msft commented on #3701
This issue is fixed. @upendra1588 was using [Bot Id to start the conversation](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/debug/locally-with-an-ide#talk-to-your-bot-directly-by-id) instead of [creating App Manifest](https://docs.microsoft.com/en-us/microsoftteams/platform/tutorials/get-started-dotnet-app-studio#use-app-studio-to-update-the-app-package). Any Teams-specific

[2020-08-11 05:33] Wajeed-msft commented on #3701
Hi @ThorHuno - Can we get on call to check this issue? Please send out an email to [Microsoft Teams Developer Alias](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback).

[2020-08-11 06:08] upendra1588 commented on #3701
@Wajeed-msft  That is right, I am using Bot id for conversation, as suggested over call, it is not working on different tenant.
I shown  repo steps in call, this is a limitation of task module. is there any possibilities to allow Task module for multiple tenant.

[2020-08-11 11:41] ravikant15796 commented on #4555
it works fine in designer https://adaptivecards.io/designer/  and mobile devices but problem comes in teams desktop.
please refer below screenshots and card json.

Designer Screenshot :-
![designer_screenshot](https://user-images.githubusercontent.com/10558023/89891612-02478980-dbf3-11ea-9606-ccbf33d23a92.png)

Desktop Screenshot :-
![desktop_screenshot](https://user-images.githubusercontent.com/1

[2020-08-11 15:40] shalinijoshi19 commented on #4251
@RebeccaAnne can you help take a look at this one for thoughts?

[2020-08-11 18:27] Har1pr1ya commented on #3768
@RebeccaAnne  @shalinijoshi19 When this bug will be fixed ?

[2020-08-11 18:59] almedina-ms commented on #3786
Closing this as it's going to be fixed along with this issue

https://github.com/microsoft/AdaptiveCards/issues/3830

[2020-08-11 18:59] #3786 closed

[2020-08-11 19:28] golddove opened #4568 "[Android] Action.ShowCard is shown with different margin"
# Platform

* Android

# Version of SDK

latest main

# Details

Action.ShowCard cards show up with different margins depending on whether it is in an ActionSet or whether it is in the bottom action bar.

`samples/v1.2/Elements/ActionSet.json`:

![image](https://user-images.githubusercontent.com/4442788/89940177-1dac9780-dbe7-11ea-820d-16c7c62c8ef4.png)

[2020-08-11 20:24] golddove opened #4569 "[Inconsistency] Card "style" property respected, but not in schema docs"
# Platform

* Android
* JavaScript

# Version of SDK

latest main

# Details

On Android, the "style" property seems to be respected for a "card" element. But our [schema doesn't mention it](https://adaptivecards.io/explorer/AdaptiveCard.html). On JavaScript, the property is ignored.

So, is the sample card / Android's implementation wrong? Or is the schema doc / JavaScript implementation wrong?

[2020-08-11 23:42] golddove opened #4570 "[Android] Column stretch expands too much"
# Platform

* Android

# Version of SDK

latest main

# Details

Column.width = stretch seems to expand a column more than it should (note the textblocks on both ends fail to show their contents)

`v1.0/Elements/Column.Width.json`:

![image](https://user-images.githubusercontent.com/4442788/89959519-9ec95600-dc0a-11ea-8265-100f2ef88ad3.png)

[2020-08-11 23:57] golddove opened #4571 "[Android] Container with selectAction submit throws error"
# Platform

* Android

# Version of SDK

latest main

# Details

Click on the third container in sample card. Error is thrown. Expected submit to work.

`v1.0/Elements/Container.SelectAction.json`

![image](https://user-images.githubusercontent.com/4442788/89960373-e05b0080-dc0c-11ea-8b6c-a94b6eea0a4e.png)

[2020-08-12 00:11] golddove opened #4572 "[Inconsistency] Contained container offset differs by platform"
# Platform

* Android
* JavaScript

# Version of SDK

latest main

# Details

Contained container is offset in certain cases, but not in others. JavaScript/Android don't agree on behavior. Unclear which one is correct.

Note the presence vs. absence of offset in the "Contained container - emphasis"

`v1.0/Elements/Container.Style.json`:

JavaScript:

![image](https://user-images.githubusercontent.

[2020-08-12 05:30] Wajeed-msft commented on #3701
@upendra1588 - [Talking to your bot by Id](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/debug/locally-with-an-ide#talk-to-your-bot-directly-by-id) is intended for basic testing purposes only. Any Teams-specific functionality you've added to your bot will not work. For Task Module to work, you need to [create App Manifest](https://docs.microsoft.com/en-us/microsoftteams/plat

[2020-08-12 06:01] sunnymitramsft opened #4574 "[Templating] Adaptive Cards pre-built functions are not working within $data construct"
# Platform
* .NET

# Author or host
We are working on Kaizala Low-Code feature in Teams. For chat views in Low-Code apps we use AdaptiveCards.Templating library in .NET

# Version of SDK
AdaptiveCards.Templating NuGet v1.0.1

# Details
None of the pre-built [AdaptiveCards functions](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view

[2020-08-12 07:23] sanjeev9160 commented on #4530
@shalinijoshi19: I am using the https://adaptivecards.io/designer with the following settings:
- host app -  Microsoft Teams - Light
- Target version: 1.2

Card Json:
{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.2",
    "body": [
        {
            "type": "Container",
            "items": [
                {

[2020-08-12 10:28] LinusUngerer commented on #1253
Hi Im experiencing the same issue. Where my Adaptive Card renders fine in the Emulator and Web Chat
![1](https://user-images.githubusercontent.com/62244519/90005343-5c018f80-dc97-11ea-98a1-79381724458e.JPG)
![2](https://user-images.githubusercontent.com/62244519/90005346-5d32bc80-dc97-11ea-8348-883aa644484b.JPG)

bot doesn't seem to work in Telegram.

{
    "$schema": "http://adaptivecards.io/sche

[2020-08-12 14:01] scottlovegrove opened #4575 "[nodejs][Keyboard shortcut] Ctrl+Enter not working when inlineAction associated with a text.input"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Host, using the SDK to render adaptive cards ourselves

SDK version 2.0.0  on npm

# Details

When having an `inlineAction` set against a `Text.Input`, pressing ctrl+enter with the keyboard when in the input field should trigger the inline action, right now, it is not.

This i

[2020-08-12 14:12] scottlovegrove commented on #4575
In my own project, I had to use `e.ctrlKey && e.charCode === 13 && this.inlineAction` as my condition. I have created a fix for this, but I'm unsure whether to submit because apparently `charCode` is deprecated and `code` should be used, but that doesn't appear in my types as an available option 🤷‍♂️

[2020-08-12 14:14] shalinijoshi19 commented on #4574
Let me take a first pass and get back on this one while @jwoo-msft is OOF.

[2020-08-12 15:02] shalinijoshi19 commented on #4574
@almedina-ms care to take a look at this today if you get a chance?

[2020-08-12 18:24] matthidinger commented on #4552
How about something like this:

[code]

[2020-08-12 20:37] matthidinger opened #4578 "[Website] Update samples to make sure template samples match non-templated versions"
Website scenario samples are sometime mismatched. See https://adaptivecards.io/samples/Inputs.html with the "Use Templating" checkbox on and off.

[2020-08-12 21:04] matthidinger opened #4579 "[Designer] Copy Card JSON changes to include the data bound card"
1. Change text to somethinglike "Copy Bound Card"
2. Add a tooltip that explains what it does, and run accessiblity insights to ensure no new breaks
3. Log a telemetry event if possible so we know how often it gets clicked.

[2020-08-12 22:03] RebeccaAnne opened #4580 "[Schema][HostConfig] Host Config schema needs to be updated to reflect 1.3 changes"
# Details

Although the Adaptive Cards schema has been updated to reflect the new Input Validation changes, the HostConfig schema has not. We need to add the inputs functionality to the schema ([host-config.json](https://github.com/microsoft/AdaptiveCards/blob/main/schemas/host-config.json)) and also update the corresponding docs page (https://docs.microsoft.com/en-us/adaptive-cards/rendering-card

[2020-08-13 04:24] gauravsaralMs opened #4582 "[MsTeams]Card showed from Action.ShowCard is not collapsing some times when Action.Submit is clicked"
# Platform

What platform is your issue or question related to? (Delete other platforms).

MsTeams

# Author or host

Author

If you're an author, who are you sending cards to?

MsTeams

# Version of SDK

NA

# Details
we have an experience where we show a Input.Text and Action.Submit when an Action.ShowCard is clicked in the main card. Most of the times we can see the new portion of card which is

[2020-08-13 05:25] DivyankaM opened #4583 "[MSTeams] [See more, see less options are no longer visible in Teams when an adaptive card length is high]"
When the adaptive card posted on Teams had huge length, earlier the Teams used to collapse the card and give see more and see less options to expand and collapse the card, so that the card is not consuming a lot of space in the channel/chat.
This option is now no longer visible. PFA snapshots for the same -

![image](https://user-images.githubusercontent.com/15843532/90096933-63d23a00-dd52-11ea-9f

[2020-08-13 11:49] Vishnuvk33 opened #4584 "[Adaptive cards][(Originator ID)] [Unable to perform http operation even the api url mentioned in actionable messages dashboard]"
Hi,

    We created an new originator id in actionable messages dashboard with sender email id, target url and other things.

    Integrated originator id in Adaptive card json also.

    Card is visible in out organization mail boxes.

     But we can't able to do the  http.actions , it is throwing error ad 'Target URL 'https://*******.*******.com/coreapiops/v1/partinfo/parts' is not allowed.'

[2020-08-13 12:47] Nikitha-MSFT commented on #4529
Signin card does have property title could you please use adaptive card instead of signin card.

Steps to create adaptive card:
**step1**:Here is how you get the Sing In URL.

**Step2**:Here is how you can create Adaptive card for Sign In action:

Could you please check this [docs](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-actions#adaptive-cards-wi

[2020-08-13 14:08] akaashdev opened #4585 "[iOS][Image Rendering][ResourceResolvers] Image not being replaced by new image in Grids via ResourceResolver"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

v1.2.11

# Details

We are trying to populate images in cards using **ResourceResolvers**. We first set an empty placeholder image in the imageView that was sent to the SDK via the Resolver methods. After the original image is downloaded we try to replace the same imageView with the

[2020-08-13 14:24] matthidinger commented on #4579
Also, presumably if we are fine updating tooltips, I just noticed the tooltip for the "Preview Mode" button says "Switch to Preview Mode", which doesn't really add much to describe what changed, which can be subtle depending on what functionality the card uses. Could we elaborate a bit on that tooltip to something like "View and interact with the card as it would behave inside an app"?

[2020-08-13 15:48] shalinijoshi19 commented on #3535
Tracking on product board as [Carousel Control](https://adaptivecards.productboard.com/insights/shared-inbox/notes/10899904)

[2020-08-13 15:51] #3535 closed

[2020-08-13 16:28] shalinijoshi19 commented on #4583
@siduppal / @Wajeed-msft this is another issue that appears to be related to Teams host.. Could you please take a first pass ? Thanks

[2020-08-13 16:45] shalinijoshi19 commented on #4582
@Wajeed-msft / @siduppal this is an example of an intermittent rendering issue with this card in Teams. Thoughts on troubleshooting intermittent issues like these at all ?

[2020-08-13 16:51] shalinijoshi19 commented on #4575
Thanks for raising and proposing the fix. @dclaux thoughts?

[2020-08-13 17:10] dclaux commented on #4575
@scottlovegrove I am able to repro this in Firefox, thanks for reporting and for proposing a fix. `charCode` is non-standard and deprecated though, so we can't use it. But so is `keyCode` which the code currently uses. [The guidance](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode) is to use `KeyboardEvent.code` instead. While it is not supported in IE, I believe it is an OK

[2020-08-14 07:39] Wajeed-msft commented on #3701
@ThorHuno - Did you get chance for this?

@helloanurag - Could you please share the timestamp for the issue? Your flow worked fine me.

[2020-08-14 08:44] helloanurag commented on #3701
@Wajeed-msft The last time when the error came up was at  9:47 AM Pacific time on 13 Aug, 2020. Thanks again!

[2020-08-14 08:52] naveenkumarreddym opened #4588 "Missing downward arrow on the Action.ShowCard as shown in documentation"
Missing downward arrow on the Action.ShowCard as shown in the adaptive cards document

Screenshots
![image](https://user-images.githubusercontent.com/51904323/90231855-65c2f880-de39-11ea-8e97-8f09df2cfe1f.png)
![image](https://user-images.githubusercontent.com/51904323/90231878-6f4c6080-de39-11ea-80c7-1f4fc3a2f89f.png)

Version
1.2 and above

Describe the bug
Document showing different card and sa

[2020-08-14 08:55] naveenkumarreddym opened #4589 "Adaptive card version not being considered"
We are sending the adaptive card payload by specifying the version as below. But we are still seeing the style not getting applied to the Submit button

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "body": [
    {
      "size": "Medium",
      "weight": "Bolder",
      "text": "**********",
      "type": "TextBlock"
    },
    {
      "size": "Me

[2020-08-14 09:26] DeeJayTC commented on #4589
Hey @naveenkumarreddym ,
the "style" property on actions is only working in web-chat as of today.
If you switch to any of the MS Teams configs you can see that the style is not applied.

As of today this is an experimental feature not yet fully implemented on all hosts.

[2020-08-14 13:55] VaraPrasad-MSFT commented on #4583
Will could reproduce the issue and raised the bug.

[2020-08-14 15:47] shalinijoshi19 commented on #4492
@siduppal / @Wajeed-msft another example of an issue repro'ing only in Teams renderring but not in AC designer. Could you help take a look at this ? Thanks!

[2020-08-14 15:48] shalinijoshi19 commented on #4563
@dclaux per discussion could you help look into addressing this? Thanks!

[2020-08-14 15:50] shalinijoshi19 commented on #4565
@jwoo-msft something to look into driving once you are back as part of the Inconsistency workstream! Thanks

[2020-08-14 17:22] golddove commented on #4588
Styling is controlled by the host app that is displaying your card. For example, you can change the host app at the top of our designer to see what it will look like on Outlook (which does show the arrow):

![image](https://user-images.githubusercontent.com/4442788/90274789-2ee7e500-de2f-11ea-9236-5949e0e5ce67.png)

@dclaux / @matthidinger perhaps we should add the host config we use (in Schema Ex

[2020-08-14 18:04] shalinijoshi19 commented on #4568
@golddove is this an inconsistency issue or just somethign on Android? @almedina-ms thoughts on this one ?

[2020-08-14 18:14] dclaux commented on #4588
@golddove technically it is already in the designer, it's the Outlook one. The problem is setting expectations: if we defaulted to Outlook (or introduced a "Default") developers would still find discrepancies between the designer and the host they target.

[2020-08-14 18:20] golddove commented on #4568
Looks like just an Android bug to me, unless there's some design decision I'm missing.

[2020-08-14 18:22] #4588 closed

[2020-08-14 18:25] golddove commented on #4588
@naveenkumarreddym

Please check out the Outlook option in "Select host app" dropdown in designer. Feel free to re-open this issue if you have further questions.

[2020-08-14 18:34] shalinijoshi19 commented on #4569
@jwoo-msft can you drive this conversation as part of the Inconsistencies bucket?

[2020-08-14 18:36] shalinijoshi19 commented on #4572
@jwoo-msft / @golddove can you guys work together to bring some of these inconsistency conversations as part of the Wed design discussions (@RebeccaAnne FYI) and start to make progress on getting these answered/resolved ?

[2020-08-14 21:04] shalinijoshi19 commented on #4583
Thanks @VaraPrasad-MSFT ; Can you put in a link to teh corresponding Teams bug here so the customer can track it and we can go ahead and close this issue out? Thanks

[2020-08-14 21:41] almedina-ms commented on #4574
Adding some information that will help the debugging of this issue

Looks like this line is generating always a string rather than the underlying type needed
[code]

When this function is called jpath = "${sortBy(createArray(4, 3, 1, 2))}"
And it looks like the underlying implementation is actually parsing the array and generating a list, but the returned value is a string rather than the list as

[2020-08-14 22:41] almedina-ms opened #4593 "[UWP][Image Rendering] Revisit image async loading"
# Platform

* UWP

# Version of SDK

main

# Details

Async tasks used for Image loading in UWP should be refactored. As XamlBuilder owns the control over all async calls, small changes can break the detection of the moment when images finish loading, for example, this issue blocks PRs as #3113 . By going back to refactor this issue we can tackle other topics such as opening the functionality to w

[2020-08-15 00:11] #4558 closed

[2020-08-15 16:35] Chris211313 opened #4595 "[Designer] Select Action is wrongly supported in version 1.0"
When creating a new card that conforms to version 1.0 of the schema we are allowed to add to containers (and other elements) select actions. This is incorrect in that select actions are only supported by version 1.1 of the adaptive card schema.

[2020-08-16 17:14] ffulkerth opened #4596 "[MsTeams / Power Automate] [Including image/png;base64 Image Uri breaking Post Adaptive Card to Teams Channel]"
I've been using a ms forms -> power automate -> post adaptive card to teams for a few months now. no issues up until a few days ago, no changes on our end and now the only error message I am getting is a "Http request failed: the content was not a valid JSON." during the post adaptive card to teams channel stage.

![image](https://user-images.githubusercontent.com/69764169/90339882-4c44bc80-dfb1-1

[2020-08-17 04:04] gauravsaralMs opened #4597 "[MsTeams][Accessibility] Tabs are not working when trying to navigate across buttons in an adaptive card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

MsTeams

# Author or host
Author

If you're an author, who are you sending cards to?
MsTeams

# Version of SDK
NA

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details

This is adaptive card we are posting
[code]

I am not able to navigate using tabs

[2020-08-17 04:12] Nikitha-MSFT commented on #4492
When you use action set to add button, Button will render with blue background  This is a known issue, There is a bug on this.

[2020-08-17 05:43] Wajeed-msft commented on #3740
Here is the documentation on [Send adaptive cards using an incoming webhook](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using#send-adaptive-cards-using-an-incoming-webhook).

[2020-08-17 05:43] #3740 closed

[2020-08-17 05:58] DivyankaM opened #4599 "[MSTeams][Adaptive card updation is not happening real time and has some issues]"
# Platform

MS Teams

# Details

![image](https://user-images.githubusercontent.com/15843532/90361908-f6d5e180-e07c-11ea-804d-d939c5161c70.png)

The adaptive card doesn't get updated dynamically in a channel. This issue is happening sometimes. Switching to other channel and then coming back to the previous channel is a workaround that works for us, but this is not a good customer experience.
Pleas

[2020-08-17 09:25] GrayLeee opened #4600 "[iOS][MSTeams][EventID] [Select action covers Submit action]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host
Microsoft Teams iOS app

# Version of SDK
Pod 1.0.3

# Details
Hello, I'm a SDE from Cortana in Teams iOS team of Microsoft. We use adaptive cards for Cortana skills like join meeting

<img width="120" alt="Screen Shot 2020-08-17 at 5 04 05 PM" src="https://user-images.githubuserconten

[2020-08-17 09:38] apurva1112 opened #4601 "[MSTeams][Images in Bot Reply Conversation] [Images not getting trimmed/fit to a fix box size leaving too much empty space for small images]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* MSTeams

# Author or host
Author

If you're an author, who are you sending cards to?
MSTeams
# Version of SDK
NA
What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details

Explain your issue. If you just have a question, please post [on StackOverflow instead](https://stackoverflow.com/q

[2020-08-17 14:39] shalinijoshi19 commented on #4584
@dclaux is this something that the Outlook Actionable messages team can help with ?

[2020-08-17 15:15] dclaux commented on #4505
@sadviramana for now the Fabric integration is only compatible with the AC SDK v1.1.x or earlier. It will not work with v1.2 and later. We do know this is a problem and are working to find the right people to update the Fabric integration library.

[2020-08-17 16:49] RebeccaAnne opened #4602 "[Input Validation] Add support for focusLost validation"
Tracking issue for support for validating inputs on focusLost.

- [ ] .NET
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [x] UWP

[2020-08-17 16:53] #4563 closed

[2020-08-17 16:53] #4579 closed

[2020-08-17 16:56] cavr opened #4604 "[IE11][adaptivecards-templating ] [IE11 not working]"
# Platform

* JavaScript

# Author or host

IE11

# Version of SDK

"name": "adaptivecards-templating",
"version": "1.1.0",

# Details

When using adaptive-cards-templating in IE11.  It crashes with Accessing the 'caller' property of a function or arguments object is not allowed. Only happens when I import adaptive-cards-templating.

Also using the example https://github.com/microsoft/AdaptiveCard

[2020-08-17 17:14] #4514 closed

[2020-08-17 17:14] #4515 closed

[2020-08-17 18:15] RebeccaAnne opened #4606 "[UWP][Input Validation] Clicking on input label does not put focus in input."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

Clicking on the label should put focus in the input box (see JavaScript behavior below). This does not happen in UWP.
![ClickLabel](https://user-images.githubusercontent.com/9091833/90429610-e290e500-e07a-11ea-9315-7cb3dbe43bf0.gif)

[2020-08-17 23:00] matthidinger commented on #1253
Hi @LinusUngerer, Bot Framework channels are currently on version 1.2 of the Adaptive Card Schema. Can you change your `version` property to `1.2`.

This can also be changed in the Designer in the top right

![image](https://user-images.githubusercontent.com/1432195/90452345-c43edf80-e0a2-11ea-8f00-00e71dc6e9b5.png)

[2020-08-18 03:35] edukondalugorla opened #4609 "[JS] "selectAction" is not sending selected Input.ChoiceSet value to server."
# Platform

What platform is your issue or question related to?
* JavaScript

# Details:  "selectAction" is not sending selected Input.ChoiceSet value to server.

Hi,
I want to perform validation on selected choice set. But In below adaptive card, "selectAction" is not sending selected input choice value to server. It would to great if you help to read selected choice value by selectAction.
[code]

[2020-08-18 07:39] Nikitha-MSFT commented on #4582
Raised a bug

[2020-08-18 08:32] LinusUngerer commented on #1253
Hi @matthidinger I have done so and have gotten some cards working now however any cards I try with any clickable buttons be that on an image or open URL button. Doesn't seem to work. It doesn't come through on the chat and the bot then ends up hanging and crashing.
Is there a reason for this or something I could fix?

[2020-08-18 18:07] shalinijoshi19 commented on #3583
@paulcam206 can we check this in at this point?

[2020-08-18 18:14] paulcam206 commented on #3583
just need signoff: https://github.com/microsoft/AdaptiveCards/pull/3633

[2020-08-18 18:30] #4548 closed

[2020-08-18 21:22] Atili0 commented on #4493
Hi team ,
Same error here. Can you help us ?

Saludos

[2020-08-18 22:32] #2569 closed

[2020-08-18 22:51] golddove commented on #4494
@ankbat as discussed, please update the issue when you've tried again with v1.2.11 of the renderer, and any additional repro steps/criteria

[2020-08-18 23:11] matthidinger commented on #4604
@dclaux any idea on this?

[2020-08-18 23:19] dclaux commented on #4604
@cavr could you by any chance paste a picture of the IE debug console so I can see exactly what error occurs?

[2020-08-18 23:26] matthidinger commented on #4595
Thanks for taking the time to report this!

@dclaux hopefully this is a simple change?

[2020-08-18 23:35] golddove opened #4612 "[Samples][Accessibility] Inputs in samples don't use labels"
# Platform

* All platforms

# Version of SDK

latest main

# Details

Tracking this as a reminder to "activate" the new samples created as part of #4552 to show them on the schema explorer. This is blocked on a critical mass of hosts support schema 1.3.

[2020-08-19 07:14] animia opened #4614 "Disabled button is not supported."
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* Android
* iOS (Swift/Objective C)
* JavaScript

**Is your feature request related to a problem? Please describe.**
 When user click any button, we want to change button into disabled status.

**Describe the solution you'd like**
 When user click any button, we want to change button into disabled button i

[2020-08-19 07:21] animia opened #4615 "Pagination of list items"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* Android
* iOS (Swift/Objective C)
* JavaScript

**Is your feature request related to a problem? Please describe.**
 When there are many list items, we want to show list with pagination.

**Describe the solution you'd like**
 I suggest text with link and icon image.

**Describe alternatives you've conside

[2020-08-19 07:28] animia opened #4616 "[Platform][Accessibility] TextBlock Link"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* Android
* iOS (Swift/Objective C)
* JavaScript

**Is your feature request related to a problem? Please describe.**
 When user click the text with url, we want to open the link.

**Describe the solution you'd like**
 Such as hyperlink text, text can be with url that is not button.

**Describe alternatives

[2020-08-19 07:33] animia opened #4617 "[Platform][Accessibility] Composite ColumnSet or Input.ChoiceSet"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* Android
* iOS (Swift/Objective C)
* JavaScript

**Is your feature request related to a problem? Please describe.**
 In selecting the choiceset in list, currently the only text can be supported

**Describe the solution you'd like**
 we want to make the choiceset with small image or 2 line text

**Describe

[2020-08-19 07:36] animia opened #4618 "[Platform][Input display] password type input"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* Android
* iOS (Swift/Objective C)
* JavaScript

**Is your feature request related to a problem? Please describe.**
 We cannot make password input that is displayed with asterisk.

**Describe the solution you'd like**
 we want to make the password input box.

**Describe alternatives you've considered**

!

[2020-08-19 07:42] animia opened #4619 "[Platform][Input Validation] Countable input Text"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* Android
* iOS (Swift/Objective C)
* JavaScript

**Is your feature request related to a problem? Please describe.**
 We want to make the multi-line text input with the input count display.
 And if the input text is over with the maximum number of input, the input window displays an error message.

**Descr

[2020-08-19 07:56] darrenparkinson opened #4620 "[JavaScript] toJSON() in 2.1.0 sets incorrect version (1.3) when another (1.2) is specified"
# Platform

* JavaScript

# Author or host

Author.  Sending cards to Webex Teams, but the issue is before it gets there.

# Version of SDK

Issue is between version 2.0.0 and 2.1.0 of the JavaScript sdk loaded from npm.

# Details

I have some code using 2.0.0 (below) which provides output as expected from `toJSON()`.  When 2.1.0 is used, `toJSON()` sends the latest version.  This is alluded to i

[2020-08-19 08:11] cavr commented on #4604
Yes of course.
![image](https://user-images.githubusercontent.com/3741142/90609244-0cc1de80-e204-11ea-88d5-04d53b6afaa5.png)
![image](https://user-images.githubusercontent.com/3741142/90609284-1ba89100-e204-11ea-91dc-e7b60a5d491c.png)

I think that adaptive-expressions ("adaptive-expressions": "^4.9.2") it's not being transpile to es5. And that's why in IE we are having problems.

[2020-08-19 13:51] Vishnuvk33 opened #4621 "[Adaptive cards]["maxLength" field is not working in O365]"
Hi,

    We have created a adaptive card with input.text filed and the filed with "maxLength" .

    In adaptive card visualizer it is working correctly, as it is not allowing more than mentioned characters.

    But after sending mails to mailbox with adaptive cards, it is not behaving correctly,

    In 0365, it allows user to enter N number of characters, even the "maxLength"  is mentioned as 1

[2020-08-19 15:05] dclaux commented on #4616
@animia this is already supported with Markdown:
[code]

[2020-08-19 15:18] dclaux commented on #4604
Ah - the problem actually comes from the Adaptive Expression library which adaptivecards-templating depends on. AEL compiles to ES6 with no plan to change its target to ES5. Unfortunately that makes it (and by extension the adaptivecards-templating library) incompatible with/unsupported on IE11.

I am sorry, but I am afraid I don't have a solution here.

[2020-08-19 16:03] cavr commented on #4604
Ok @dclaux. Finally we are going to render the card on the server server side with the .net library.

Thanks you so much for your help.

[2020-08-19 16:03] #4604 closed

[2020-08-19 18:47] RebeccaAnne opened #4622 "[Shared/UWP] InputNecessityIndicators enum and property on AdaptiveCard"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP
* Shared Model

# Details

An earlier version of the input validation design called for allowing card authors to indicate whether required and optional indicators should be shown by setting a property on the card. Although that was not part of the final design, that property definition and enum are sti

[2020-08-19 21:22] RebeccaAnne opened #4624 "[UWP] UWP has several unit test failures"
# Platform

* UWP

# Details

The following UWP tests are failing in main:

- [x]  FallbackTests (Fixed by #4627)
  - ColumnFallbackAsync (crashes test host)
- [x] ObjectModelTest (Fixed by #4626)
  - ChoiceSetInput
  - DateInput
  - TextInput
  - ToggleInput
- [x] UnitTests
  - TestAllCards (crashes test host)
    - [x] [v1.2/Elements/AdaptiveCard.BackgroundImage.DataUri.json](https://github.com/

[2020-08-19 21:44] matthidinger commented on #4596
@dblyth-msft can you help diagnose this?

@ffulkerth thanks for sharing your Flow definition, but we also need the Runtime values to help diagnose. Can you provide those? Also one thing to check, sometimes we see this because an image is too large. Can you tell us how big that image you're trying to render is?

[2020-08-20 01:35] dblyth-msft commented on #4596
@ffulkerth All we need is the flow run URL from the portal (ie. https://flow.microsoft.com/manage/environments/flows/abc/runs/xyz)

[2020-08-20 02:54] ffulkerth commented on #4596
Last successful run Aug 10th (with the image data included)

https://us.flow.microsoft.com/manage/environments/Default-3d9bab48-5f52-4b7d-a481-771eae5e6ed4/flows/57d2ddbd-9760-4b56-9295-cecd016fd482/runs/08586045371593193107505850600CU127

Three samples of failures.  The oldest (3rd on the list - aug15th) was when it started failing.

1. https://us.flow.microsoft.com/manage/environments/Default-3d

[2020-08-20 05:31] Gunashree-R-V commented on #4417
@shalinijoshi19/ @paulcam206 Do we have any updates on this bug?

[2020-08-20 06:03] animia commented on #4616
Okay. I will check it.
One more question, how about sending the key & value which is linked in the text when a user selects the text?

[2020-08-20 08:20] atishayv opened #4628 "[JavaScript] "[" or "\" character in TextBlock with markup link does not render properly"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "2.0.0-rc.0"

# Details

Following card doesn't get rendered properly :

[code]

Including "[" or "\" character in TextBlock with markup link does not render the text block properly.

[2020-08-20 08:40] shakungrover05 commented on #4628
**User scenario and customer impact:**
Azure DevOps (ADO) connector indexes work items from ADO projects.
Now one of our customers is facing this issue of Title (which is hyperlinked) in results not getting clicked and routing to the work item in ADO. The project being indexed has a lot of work items created via test automation and is expected to have the characters causing this issue @atishayv ha

[2020-08-20 09:28] Vishnuvk33 opened #4630 "[Adaptive cards][Validation in input.Text fiels] Title"
Hi Team,

     Now we can enter any data in input.text field.  The data may be html tag or special characters.

     It may be the security violation in production servers.

     So input.text field should have some validations in client side.(Ex. Html tag could be entered, special characters validation)

[2020-08-20 09:35] Vishnuvk33 opened #4631 "[Adaptive cards] Use of Authorization header in Action.Http"
Hi Team,

       Is it possible to pass the customized bearer token in authorization token.

        Always outlook's bearer token only passing to this authorization header.

       If Customization is not possible, Can we change the type of the token bearer to some thing else?

Thanks,
Vishnukumar M

[2020-08-20 10:32] Gunashree-R-V opened #4632 "[Android] Background image not filling the entire container."
# Platform

* Android

# Author or host

Microsoft Teams

# Version of SDK

1.2.10

# Details

When a container has a background image, the entire container is not filled. And elements within the container are not aligned as observed on Desktop.

Here are the screenshots of experience comparison:

| Desktop | Android |
|-----------|:-----------:|
| ![image](https://user-images.githubusercontent.co

[2020-08-20 18:33] #4501 closed

[2020-08-20 22:13] arvindkannan commented on #4176
Hi,
Greetings.

I too had the same issue when it comes to transaction number with escape character ('\') which causes Templating Engine Expand method to break !!

Until the fix for the above said bugs released is there any go-around to handle without card rendering being broken !

Thanks...

[2020-08-21 04:42] BerndGewehr opened #4635 "[all platforms] [TextBlock] Markup Links to teams.microsoft.com should not open outside teams apps"
**What platform is your feature request related to? (Delete other platforms).**
* all platforms

**Is your feature request related to a problem? Please describe.**
When you use inline links from TextBlock markup, all those links open outside the teams apps in a browser. For links to teams content (including deep links to teams apps), this creates a very bad UX. Jumping back and forth between teams

[2020-08-21 05:09] xieofxie opened #4636 "[.NET WPF] build and publish AdaptiveCards.Rendering.Wpf.Core"
**What platform is your feature request related to? (Delete other platforms).**

* .NET WPF

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I found there is https://github.com/microsoft/AdaptiveCards/tree/main/source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Core but it is not built a

[2020-08-21 05:25] BerndGewehr opened #4638 "[all platforms][@mentions] AdaptiveCards should be able to mention somebody - and the renderers should act appropriately"
**What platform is your feature request related to? (Delete other platforms).**
* all Platforms

**Is your feature request related to a problem? Please describe.**
Mentioning is an important method to catch someones attentions to an issue or notification

**Describe the solution you'd like**
There should be a target platform agnostic mentioning element in adaptivecards, like <at>email-address</at>

[2020-08-21 05:32] atishayv commented on #4628
CC : @dclaux , @matthidinger

[2020-08-21 07:55] ankbat commented on #4494
@golddove Still need to test the image rendering in new library 1.2.11

[2020-08-21 08:28] nimercer commented on #4176
Hi @arvindkannan - the workaround I used was to write my own custom Adaptive Expression and replace the escape string characters

[code]

then use that inside my template like this:

[code]

[2020-08-21 21:06] RebeccaAnne opened #4641 "[UWP] Background URI test file causes a crash"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The [v1.2/Elements/AdaptiveCard.BackgroundImage.DataUri.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.2/Elements/AdaptiveCard.BackgroundImage.DataUri.json) sample file crashes with a null pointer deref when loaded in the visualizer. This seems to have been introduced

[2020-08-24 05:57] apurva1112 commented on #4601
Here is the card

[code]

[2020-08-24 06:38] pankajpalOlk opened #4642 "Templating not working as expected when setting $data context for an array"
If i try the template sample(Activity Update) provided here : https://adaptivecards.io/samples/ by clicking on the `Try it Yourself` but it doesnt seem to work.

This is what is not working:

  `{
            "type": "FactSet",
            "facts": [
                {
                    "$data": "${properties}",
                    "title": "${key}:",
                    "value": "${value}"

[2020-08-24 06:52] Wajeed-msft commented on #4601
@apurva1112 - This looks like HTM view. Could you please share the Adaptive Card JSON which is being sent by Bot?

[2020-08-24 06:54] apurva1112 commented on #4601
We are not using adpative card. We are using normal HTML message as reply

[2020-08-24 07:26] Wajeed-msft commented on #4601
Thanks @apurva1112 for the information.

Could you please provide height and width to the image and try again?
`<img width="55" height="64"  src="https://user-images.githubusercontent.com/42499837/91008609-5ba0b700-e5fc-11ea-8a29-01e111fb56ba.PNG" /><br/>`

After adding height and width, there is no extra whitespace.
![image](https://user-images.githubusercontent.com/31851992/91015335-9c9ec880-e60

[2020-08-24 07:31] apurva1112 commented on #4601
If I provide the exact height and width, it will load without any additional space, but the images are arbitrary and everytime I will have to make separate API calls for dimensions of every image.

[2020-08-24 07:58] slakkanp commented on #4186
@Vishnuvk33 We are now sending date in this format (`YYYY-MM-DDThh:mm:ssTZD`) from clients like windows and ios. This format includes local timezone. Example - `2020-08-13T00:00:00+0530`

I am assuming that you need Date+Time input control on Outlook Actionable Messages.

You can use the date coming in the date field in the above format, and time from the choice set solution (for now) suggested by

[2020-08-24 08:18] Vishnuvk33 commented on #4621
Hi
[samplecard.txt](https://github.com/microsoft/AdaptiveCards/files/5116586/samplecard.txt)

Uploaded a sample card json for this issue.

Mx length field is working fine in mobile and tabs. But in 0365 it allows the user to enter more than the mentioned characters. And also all characters going as a input to API.

[2020-08-24 11:19] edukondalugorla commented on #4609
What are the additional information you need. Please let me know, I will provide.

[2020-08-24 13:05] Wajeed-msft commented on #4599
@DivyankaM - Thanks for reporting this. We are able to repro this at our end and are tracking it here: https://github.com/MicrosoftDocs/msteams-docs/issues/2011
Please follow [this issue](https://github.com/MicrosoftDocs/msteams-docs/issues/2011) for updates/progress/questions.

[2020-08-24 13:05] #4599 closed

[2020-08-24 13:52] futurechallenger commented on #4505
Met the same issue, looking forward to have you fix

[2020-08-24 14:01] Wajeed-msft commented on #4601
We are able to repro this at our end and have raised bug internally. We are tracking it here: https://github.com/MicrosoftDocs/msteams-docs/issues/2012

Please follow [this issue](https://github.com/MicrosoftDocs/msteams-docs/issues/2012) for updates/progress/questions.

Please try with [Adaptive Card Images](https://adaptivecards.io/explorer/Image.html) which give multiple options for image size.

[2020-08-24 14:01] #4601 closed

[2020-08-24 16:53] RebeccaAnne commented on #4606
@shalinijoshi19 I think we probably want to take the longer view on this. What I recall from working on this last year is that you get this for free if you use the XAML Header property. When I did that, however, it lead to the borders I was drawing to show invalid inputs surrounding the label and input rather than just the input. There may be a way to work around this (either another way to draw t

[2020-08-24 17:04] RebeccaAnne opened #4644 "[UWP][Testing] Setup UWP Unit Tests run in CI"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The UWP unit tests don't run as part of CI and consequently are frequently broken or out of date. Once #4624 and #4641 are fixed we should put the UWP tests in CI.

[2020-08-24 18:42] jwoo-msft commented on #4642
Hello,
Please try clicking "Preview Mode" to enable template binding.

<img width="748" alt="Screen Shot 2020-08-24 at 11 39 40 AM" src="https://user-images.githubusercontent.com/4112696/91083273-d9fe5880-e5fe-11ea-8244-2784f419cdc8.png">

[2020-08-24 18:42] #4642 closed

[2020-08-24 21:27] almedina-ms opened #4646 "[.NET][Templating] Whenever a null value is evaluated, a warning should be raised"
# Platform

* .NET WPF

# Version of SDK

Templating nuget

# Details

With the fix of #4574 an error was unearthed where expressions that are evaluated to null will provide a confusing user and developer experience as they won't know what may be failing.

For example, this test will fail

[code]

[2020-08-24 22:03] #4439 closed

[2020-08-25 02:49] pankajpalOlk commented on #4642
Ah, got it! Thanks for quick reply.

[2020-08-25 08:35] pooran opened #4648 "[Xamarin] What is the roadmap for Xamarin"
**What platform is your feature request related to? (Delete other platforms).**
* Xamarin.Forms

**Is your feature request related to a problem? Please describe.**
Adaptive Cards is such an amazing concept! We are seeing almost every platform being supported like React, native iOS and Android ... but no concentrated effort on Xamarin.Forms, a **Microsoft's own product now**, which is supposed to c

[2020-08-25 11:12] akaashdev opened #4649 "[iOS][Image Rendering][ResourceResolvers] Image not visible when ImageView is passed with an Image via ResourceResolver"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

v1.2.11

# Details

The *imageView* passed via **ResourceResolver** is not visible when it already has an image in it.

### Steps to reproduce
- Create an **UIImageView**, *imageView*
- Add an image to it. `imageView.image = UIImage(named: "foo")`
- Pass the *imageView* via **resolve

[2020-08-25 11:17] akaashdev opened #4650 "[iOS][Image Rendering][ResourceResolvers] Image not visible when ImageView is passed with an Image via ResourceResolver"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

v1.2.11

# Details

The *imageView* passed via **ResourceResolver** is not visible when it already has an image in it.

### Steps to reproduce
- Create an **UIImageView**, *imageView*
- Add an image to it. `imageView.image = UIImage(named: "foo")`
- Pass the *imageView* via **resolve

[2020-08-25 12:42] chriche-ms opened #4651 "[UWP] Crash in TileControl::LoadImageBrush while applying background image to root panel"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 2.0.0

# Details

Specifying a background image will result in a crash in TileControl::LoadImageBrush (calls to IImage::get_Source succeed yet return a null IImageSource pointer which the e

[2020-08-25 13:27] chriche-ms opened #4653 "[UWP] Crash observed in ParseUtil::JsonToString"
# Platform

* Android
* iOS
* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 2.0.0

# Details

After updating Cortana in Windows to Adaptive Cards 2.0.0 from 1.2.10 a crash is observed in ParseUtil::JsonToString. It's not clear why this code is failing after the upgrade as it doesn't appear to have changed between the two relea

[2020-08-25 13:45] chriche-ms opened #4655 "[UWP] Manually constructed cards do not renderer correctly"
# Platform

* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 1.2.10

# Details

When adaptive cards are 'manually' constructed (i.e. create a new AdaptiveCard instance, add an AdaptiveTextBlock to its body etc.) they do not render correctly. If the same card instances are serialized to JSON and parsed via a call to AdaptiveCard

[2020-08-25 17:58] jesuspsalas2 opened #4657 "Adaptive Card Designer not rendering properly FactSet component in Preview Mode"
# Platform

Adaptive Cards Designer (v.1.1.0) / Angular 8

# Details

Demo Card Preview snapshot when using the Desinger embedded in our app

![image](https://user-images.githubusercontent.com/44103405/91210049-7d17a680-e6c1-11ea-8bb1-4ff0b658b914.png)

Same card Preview on adaptivecards.io designer (same card and sample data jsons)

![image](https://user-images.githubusercontent.com/44103405/9121

[2020-08-25 18:53] matthidinger opened #4658 "[Designer] Incorrect warnings when templating expressions are used"
# Platform
* Designer

# Details

When card templates using binding expressions, e.g., the [Stock card](https://adaptivecards.io/samples/StockUpdate.html), it shows a Parse error for enum values.

![image](https://user-images.githubusercontent.com/1432195/91215420-53627d80-e6c9-11ea-9ce8-61b0c806de5f.png)

We should suppress this error/warning if a templating expression is used

# Linked issue

Re

[2020-08-25 18:53] akaashdev commented on #4649
Looks like I created this twice.
Closing this as its duplicate of [4650](https://github.com/microsoft/AdaptiveCards/issues/4650).
Apologies.

[2020-08-25 18:53] #4649 closed

[2020-08-25 20:10] siduppal commented on #3924
@matthidinger my suggestions to this spec are parked here https://github.com/siduppal/general/blob/master/AutoComplete-Proposal.md

[2020-08-25 20:27] almedina-ms commented on #4632
@shalinijoshi19 , I think this is a by design issue. Containers are rendered with a padding unless they have the bleed property assigned as true. For bleed to work, the container must have a different style than it's parent. Probably @matthidinger could clarify the default behavior of containers but I was able to have a work around that seems more like the expected behaviour

![image](https://user

[2020-08-26 02:30] jwoo-msft commented on #3583
@paulcam206 & @shalinijoshi19 I'm closing this since its associated PR is merged.

[2020-08-26 02:30] #3583 closed

[2020-08-26 03:40] #3915 closed

[2020-08-26 03:49] jwoo-msft commented on #4118
@anbah34   @adumrewal @Gunashree-R-V.
We've updated our renderer as part 2.0 update a.k.a 1.3 such that renderers's input format will respect the platform's input format. Please check if this issue is fixed after 1.3 update. Thanks

[2020-08-26 03:53] jwoo-msft commented on #4119
@anbah34 Could you please follow up with the repro steps. Especially, a payload, please?

[2020-08-26 03:55] jwoo-msft commented on #4531
@jwoo-msft Can you check if Android has the same issue?

[2020-08-26 07:56] gauravsaralMs opened #4661 "Open Sign in link in full window"
**What platform is your feature request related to? (Delete other platforms).**

MsTeams

**Is your feature request related to a problem? Please describe.**
our service oauth page is large and needs more space to display than the default size of browser pop-up where sign in link is displayed.

**Describe the solution you'd like**
Open the sign-in link in a full windows browser instead of a smaller

[2020-08-26 08:02] gauravsaralMs opened #4662 "[MsTeams][Sign in ] Open Sign in link in full window"
**What platform is your feature request related to? (Delete other platforms).**

MsTeams

**Is your feature request related to a problem? Please describe.**
our service oauth page is large and needs more space to display than the default size of browser pop-up where sign in link is displayed.

**Describe the solution you'd like**
Open the sign-in link in a full windows browser instead of a smaller

[2020-08-26 08:02] gauravsaralMs commented on #4661
closing because opened https://github.com/microsoft/AdaptiveCards/issues/4662

[2020-08-26 08:02] #4661 closed

[2020-08-26 11:28] priyakewlani18 opened #4663 "[Ms Teams][Checkbox Style] checkbox is not working in Ms Teams"
# Platform

What platform is your issue or question related to? (Delete other platforms).

MsTeams

# Author or host

If you're an author, who are you sending cards to?
MsTeams

# Version of SDK
NA
What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details

We are facing problem while posting checkbox in Text Format. We are getting text from github and using github markdown api

[2020-08-26 13:20] akaashdev opened #4665 "[iOS][Image Rendering][ResourceResolvers] Card elongation"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version

v1.2.11

# Details

Cards seems to get long empty spaces when image is set via ResourceResolvers. This sporadically happens on Simulators, but can be frequently noticed on Real Devices in Release Config. (Our Release config is mostly similar to the default Release config)

[payloads.zip](ht

[2020-08-26 13:47] crow131 opened #4666 "AdaptiveCardTemplate Expand exception once upgrading to Microsoft.Bot.Builder.Dialogs 4.10.0"
# Platform

MS Team / Bot Emulator

What platform is your issue or question related to? (Delete other platforms).

.NET Core 3.1

# Author or host

Host: using bot Emulator

# Setup
    <PackageReference Include="Microsoft.Bot.Builder.AI.Luis" Version="4.10.0" />
    <PackageReference Include="Microsoft.Bot.Builder.Azure" Version="4.10.0" />
    <PackageReference Include="Microsoft.Bot.Builder.Dia

[2020-08-26 14:22] akaashdev opened #4667 "[iOS][Image Rendering][ResourceResolvers] BackgroundImage is not filled properly when set second time"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

v1.2.11

# Details

BackgroundImage seems not fill properly when set the second time on an *imageView* passed via **ResourceResolver**. We generally set a placeholder image first until the original image gets downloaded. So, when the original image tries to replace the placeholder, i

[2020-08-26 15:50] productboard-ac opened #4668 "Tooltip property on Actions (extra hint to the user)"
## Requirements

1. A tooltip is displayed when the mouse hovers over a clickable affordance such as a button, an image or a container.
2. It is possible to define what text is displayed in that tooltip in the JSON payload of the card
3. If both `tooltip` and `title` are specified, `tooltip` "wins"

![image](https://user-images.githubusercontent.com/1334689/91479250-052eb500-e856-11ea-9ab1-79338fa

[2020-08-26 15:50] productboard-ac commented on #4668
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5187979

[2020-08-26 16:16] RebeccaAnne commented on #4641
Duping this to #4651.

[2020-08-26 16:16] #4641 closed

[2020-08-26 17:53] #4622 closed

[2020-08-26 18:02] productboard-ac opened #4670 "Action isEnabled property"
## Description
In some scenarios, multiple actions might be presented in a card in an Outlook Actionable Message. As the user presses invokes these actions, the card might be refreshed and some of the actions that were previously available might not be available anymore.

Let's take the example of a card with two mutually exclusive actions, A and B (clicking A makes B unavailable, and the other wa

[2020-08-26 18:03] productboard-ac commented on #4670
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5456616

[2020-08-26 19:59] JustinBlock opened #4672 "[iOS][Accessibility] ACRTextView placeholder text color too light"
# Platform

What platform is your issue or question related to?

* iOS

# Author or host

Host

# Version of SDK

Latest main (2020.07)

# Details

ACRTextView placeholder text color is not using UIColor.placeholderText. The ACRTextView placeholder text color is lighter than the placeholderText color causing accessibility issues. In the attached screenshots the “Tell me hey you’re calling (briefly

[2020-08-26 21:45] jwoo-msft commented on #4672
@JustinBlock
What's your target iOS version? placeholderTextColor is only available on iOS 13+ https://developer.apple.com/documentation/uikit/uicolor/3173134-placeholdertextcolor?language=objc
Thanks

[2020-08-26 21:56] jwoo-msft commented on #4665
@akaashdev
Hi,

1. Does this happen if you don't use placeholder image via resource resolver, in other word, can you try set the image without setting the place holder image?
2. Does this happen without image?

[2020-08-26 22:12] jwoo-msft commented on #4667
@akaashdev
This is similar to #4650.

When an UIImage is set to an UIImageView, it will notify the observer and the observer sets the constraints on the UIImageVew based on UIImage's size attributes.  After the notification happens, the observer is removed, and no further notification will be generated. So if you used the observer for placeholder image, there will be no notification for the real i

[2020-08-26 22:13] productboard-ac opened #4673 "Input.Text masking/password support"

[2020-08-26 22:13] productboard-ac commented on #4673
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5470692

[2020-08-26 22:15] JustinBlock commented on #4672
@jwoo-msft I am running on iOS 13.6. In my example the top text block is using UIColor.placeholderTextColor but the bottom rendered card isn’t.

[2020-08-26 23:27] jwoo-msft commented on #4666
@crow131
Hello,
I ran your payloads, adaptiveCardJSON, and JSON data, and they worked fine on Template Library 1.0.1
The error message you posted indicated that the data context isn't set.  I would double-check if jsonData that is passed to expand method is proper. FYI, the payload of jsonData you posted here works.

[2020-08-26 23:54] jwoo-msft commented on #4646
Clarifying the issue here.

When data context is evaluated to null, the user could intentionally made it that way. For example,  it's possible that user could intentionally leave the value for "$data" blank, as in "$data" :, Or user could have made a mistake for example, "$data": "{property}" and the mistake is that the user misspelled "{property}" instead of "{properties}". Before #4659, the temp

[2020-08-27 01:17] #4509 closed

[2020-08-27 01:34] #4574 closed

[2020-08-27 01:51] #4554 closed

[2020-08-27 02:12] akaashdev commented on #4667
@jwoo-msft
Use of placeholder image is definitely a requirement for us. The logic is to have a placeholder image, matching the dimensions of the original image, set before the original image comes in. This is to avoid the change in the card's height. We run into performance issues and sometimes in crash scenarios when the heights of the card (inturn the height of the cell) changes frequently.

[2020-08-27 02:37] akaashdev commented on #4665
@jwoo-msft
1. Yep. This happens even when the original is directly set, without having a placeholder first.
2. The cards get empty spaces without an image also. But, the places are different. Without an image, the *imageView* gets a abnormal height, whereas with an image there is a new UIView in-between the buttons that takes some extra height.

[2020-08-27 04:55] gauravsaralMs opened #4675 "[MsTeams][handleTeamsSigninVerifyState] redirect instead of closing when sending verification code"
**What platform is your feature request related to? (Delete other platforms).**

MsTeams

**Is your feature request related to a problem? Please describe.**
after OAuth flow is complete then we would to redirect user to perform more actions, so the sign-in pop getting closed is blocking it.

**Describe the solution you'd like**
Instead of closing oauth sign in windows redirect user to a given url

[2020-08-27 06:17] atishayv opened #4676 "[JavaScript]Empty text with bold markdown shows a separator"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "2.0.0-rc.0"

# Details

If a text block is wrapped under bold markdown and has empty text, it shows a separator.

![image](https://user-images.githubusercontent.com/13940020/91399040-e1ba3900-e85a-11ea-9e79-971fcb756603.png)

Here is the adaptive card JSON for it :
[code]
Ideally it should

[2020-08-27 06:22] atishayv commented on #4676
CC : @dclaux

[2020-08-27 07:57] apurva1112 opened #4677 "[MSTeams][Special Characters in Adaptive Cards][Backslash Characters in Adaptive Card showing strange behavior]"
# Platform
* MSTeams

# Author or host
Authon

If you're an author, who are you sending cards to?
MSTeams

# Version of SDK
What version are you using? Ex: NuGet 1.0.2, or latest main, etc...
NA

# Details

Explain your issue. If you just have a question, please post [on StackOverflow instead](https://stackoverflow.com/questions/tagged/adaptive-cards).

We are seeing strange behavior when escaping

[2020-08-27 14:51] priyakewlani18 opened #4678 "[Ms Teams][text formatting] Adaptive card not supporting most of the github text formatting styles"
# Platform

What platform is your issue or question related to? (Delete other platforms).

MsTeams

# Author or host

Author

If you're an author, who are you sending cards to?
MsTeams

# Version of SDK
NA
What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details
 We are using adaptive card  to post github issue/pr notifications to teams channel. As github issue/pr description

[2020-08-27 15:19] matthidinger commented on #3860
The work for this feature is tracked in #4579 and will be deployed in 20.08 release

[2020-08-27 15:19] #3860 closed

[2020-08-27 15:22] #4653 closed

[2020-08-27 15:40] #4651 closed

[2020-08-27 16:48] dclaux commented on #4676
@atishayv that's an interesting corner case. Because the title is undefined, the final text is "____" which Markdown processes as a horizontal rule (three or more consecutive _ or * will generate a horizontal rule - https://commonmark.org/help/)

The solution is for you to configure your Markdown processor to not do this. There is nothing that AC can fix here since Markdown processing isn't built

[2020-08-27 16:48] #4676 closed

[2020-08-27 16:57] matthidinger commented on #4670
This work is currently tracked in #4257

[2020-08-27 17:01] dclaux commented on #4676
There is also a solution based on expressions:
[code]
Or something like that. But I don't think it's a practical solution for your use case.

[2020-08-27 17:40] gaurav0921 opened #4679 "[Android/iOS] Support for White Space characters in Markdown"
# Platform

This bug will track shared model platforms (Android/iOS/UWP).

See also #5350 (Javascript), #5351 (.NET) and #5352 (documentation)

# Author or host

Host on Webex Teams

# Version of SDK

v1.2.11

# Details

Support for ​
[code]
is missing for Android and iOS

Sample JSON is as follows:

[code]
Resultant Images for the above JSON are:
Android
![White Space- Android](https://user-image

[2020-08-27 18:15] sadviramana commented on #4505
@futurechallenger You can try using the adaptive cards version 1.2.6. The problem is with the latest version v2.0.

[2020-08-27 18:15] golddove opened #4680 "[JavaScript][Input Validation] maxLength not being validated"
# Platform

* JavaScript

# Version of SDK

latest main

# Details

The following card should fail validation if I submit without changing the pre-filled value. Instead, I can submit successfully.

[code]

[2020-08-27 19:25] almedina-ms commented on #3464
@golddove doesn't one of your PRs fix this issue?

[2020-08-27 19:36] almedina-ms commented on #3870
This issue has already been fixed, the card was being redrawn so the inputs were being rendered again

[2020-08-27 19:36] #3870 closed

[2020-08-27 19:42] almedina-ms commented on #271
This fix was merged by @patgoley and a sample was recently merged

[2020-08-27 19:42] #271 closed

[2020-08-28 00:06] jwoo-msft commented on #4665
@akaashdev
Hi,
I think the elongation with the image is caused by the placeholder image usage, so if you don't use the placeholder image, you won't see the elongation caused by the image, but you will notice the elongation by the extra view. As I work to remove those extra views. The quick workaround is removing the container that wraps ActionSet, and not to use placeholder image.

[code]

The who

[2020-08-28 00:15] jwoo-msft commented on #4650
Hi @akaashdev,

As we have discussed today,  you have to create a task as block and enque the task to the main queue. This will ensure proper synchronization.

[code]

However, this won't address your scenario of having a placeholder image to avoid re-draw on the entire Adaptive Card when the real image is available. For that, we will address the supporting placeholder image as a feature request a

[2020-08-28 02:21] jwoo-msft commented on #4672
Yes, I can update the UITextColor to placeholder text color for the devices with iOS 13+.

[2020-08-28 02:40] jwoo-msft opened #4682 "[iOS][Resource Resolver] Add Placeholder Image Support For Resource Resolver"
**What platform is your feature request related to?**

- [ ] iOS
- [ ] Dev Spec

We don't currently support placeholder images while resource resolver is resolving images. Once we get the image through the resource resolver, we can not update the placeholder image with the resolved images. This is by design. However, being able to configure a placeholder image is a real use case.

If the placehold

[2020-08-28 02:42] jwoo-msft commented on #4682
Hi @akaashdev,
I added you for feedback and visibility.

[2020-08-28 02:50] jwoo-msft commented on #4667
Hi @akaashdev
Thanks for the feedback.
As this issue is now tracked by #4682, do you mind if I close this issue? You can reopen this issue if resolution to #4682 does not resolve this issue.

[2020-08-28 02:50] jwoo-msft commented on #4650
Hi @akaashdev
Thanks for the feedback.
As this issue is now tracked by #4682, do you mind if I close this issue? You can reopen this issue if resolution to #4682 does not resolve this issue.

[2020-08-28 02:51] jwoo-msft commented on #4585
Hi @akaashdev
Thanks for the feedback.
As this issue is now tracked by #4682, do you mind if I close this issue? You can reopen this issue if resolution to #4682 does not resolve this issue.

[2020-08-28 06:38] KAU-KING-ABDULAZIZ opened #4683 "[Platform][Broad Issue Category if applicable (eg Accessibility)] [Bug Title]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you sending cards to?

# Version of SDK

Wha

[2020-08-28 06:54] Shivang007-del opened #4684 "Adding custom color and custom text in adaptive cards."
Is there any ways to add custom color and custom text in adaptive cards.

[2020-08-28 07:17] ridwived-microsoft opened #4685 "[Azure Bot - Adaptive Card][Accessibility - Focus not going to read only text in the adaptive card"
We are from Dynamics 365 Knowledge Management Team.
We are using adaptive cards to show smart knowledge suggestions.

The issue observed on the adaptive card is for a section in the card that is just read only.
The section can be toggled via an info icon, once the section is enabled the narrator doesn't read the content of the section
![image](https://user-images.githubusercontent.com/60729090/915

[2020-08-28 07:26] ridwived-microsoft opened #4686 "[Azure Bot - Adaptive Card][Accessibility - Narrator is reading the link and button both when focus comes to an actionable item on the card"
We are from Dynamics 365 Knowledge Management Team.
We are using adaptive cards to show smart knowledge suggestions.

The issue observed on the adaptive card with narrator reading both link and button on actionable items/links on the adaptive card.
![image](https://user-images.githubusercontent.com/60729090/91533523-a9375f80-e92d-11ea-97a3-ce67e7132b03.png)

Expected behavior is that it should rea

[2020-08-28 07:45] Gunashree-R-V opened #4687 "[Android] Background image squished."
# Platform

* Android

# Author or host

Microsoft Teams

# Version of SDK

1.2.10

# Details

Here is the JSON:

When a background image has fillMode: `"repeat"`/`"repeatHorizontally"`/`"repeatVertically"`, the image is compressed.
And this happens irrespective of where the background image is placed.

Here is the Desktop, Android and iOS comparison:

| Desktop | Android | iOS |
|-----------|:---

[2020-08-28 08:29] akaashdev commented on #4650
Hi @jwoo-msft
Thanks for the suggestion. I can potentially see what this piece of code can do and you're right that this doesn't fix the issue what we're facing now. In fact this is something we already have in place.

And yes, this issue can be closed. We're okay until we have a ticket to track the issue. :)
Again, thanks for the support! 👍

[2020-08-28 08:31] akaashdev commented on #4585
Yea sure!
Thanks! 👍

[2020-08-28 08:36] akaashdev commented on #4667
Sure! This can be closed!
Thanks! 👍

[2020-08-28 08:45] akaashdev commented on #4665
@jwoo-msft
We're sure that it has been properly enqueued in the main thread while setting the image (we should have ran into several other issues if it wasn't). This happens only on few cards where the image contributes to the height of the card.
Will share you the requested constraints via e-mail.
Thanks 👍

[2020-08-28 08:49] akaashdev commented on #4682
Thanks for this @jwoo-msft 👍

[2020-08-28 09:17] atishayv commented on #4676
Thanks @dclaux

[2020-08-28 09:23] RaisinBread42 opened #4688 "Ability to Change Action.Submit URL"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
The default behavior is that the service/app that sends a card to a user and awaiting the user's response, must wait and handle the it.

Working on this within Azure, with pay-as-you-go model,

[2020-08-28 13:02] Shivang007-del commented on #1610
@Tyagit3 found any solution ?

[2020-08-28 13:07] saikrishnasgit opened #4689 "Adaptive Cards Designer Cache issue"
Hello Team, the https://adaptivecards.io/designer/ is very intuitive and I like the interface. But, I found there are cache issues with the designer. I worked on a template (Microsoft Teams - Light) and after three to four versions, the changes were not reflecting when copied the "Copy card JSON". It would be great, if it is fixed

[2020-08-28 13:51] #4529 closed

[2020-08-28 14:24] #4667 closed

[2020-08-28 14:25] #4585 closed

[2020-08-28 14:26] #4650 closed

[2020-08-28 14:28] matthidinger commented on #4684
Thanks for the feedback! Currently this is not possible but is under consideration providing we can enforce accessibility contrast requirements and it is broadly desirable by our primary partner platforms (MS Teams, Outlook, WebEx Teams, etc.)

The feature is on our public feature portal where can you vote on how important this is to you and include any additional comments there:

https://portal.p

[2020-08-28 14:28] #4684 closed

[2020-08-28 16:58] RebeccaAnne commented on #4624
All fixes are in and confirmed that UWP tests pass now in main.

[2020-08-28 16:58] #4624 closed

[2020-08-28 18:06] dclaux opened #4692 "[JS][Templating] "$when" should not be emitted in expanded template"
# Platform

* JavaScript

# Details

The `$when` clause is correctly handled by the templating engine, but when it evaluates to true it is emitted into the generated payload.

Example:

[code]

After expansion, the generated payload is:
[code]
While the presence of the `$when` property doesn't hurt, it jus shouldn't be there.

[2020-08-28 18:20] almedina-ms commented on #4544
Fixed in #4554

[2020-08-28 18:20] #4544 closed

[2020-08-28 18:24] aosolis commented on #4662
The short answer is no, they cannot be opened full screen. Here's how you can control the sizes:
- The size of signin popups can be controlled by adding width and height parameters to the query string of the URL to be opened in the popup. Teams will treat those as pixel sizes and open a popup of the corresponding size, up to a maximum of the 90% of the size of the main Teams window.
- Task module

[2020-08-28 18:52] productboard-ac opened #4694 "Automatic tooltip for selectAction title"
For `selectAction` we currently drop the `title` and `iconUrl` properties. This work would make the `title` property serve as an automatic tooltip on platforms that support it.

![screenshot](https://user-images.githubusercontent.com/1334689/91479250-052eb500-e856-11ea-9ab1-79338faaa7af.png)

[code]

Implementation issues for non-mobile platforms:

- [x] JavaScript #4699
- [x] UWP #4700
- [x] .NET

[2020-08-28 18:52] productboard-ac commented on #4694
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5489521

[2020-08-28 19:23] matthidinger commented on #2238
This has been addressed with the v1.3 release with the new `label` property on all inputs, including [Input.ChoiceSet](https://adaptivecards.io/explorer/Input.ChoiceSet.html)

[2020-08-28 19:23] #2238 closed

[2020-08-28 19:28] matthidinger commented on #4673
Duplicate of #1443 - tracked here

[2020-08-28 22:42] RebeccaAnne opened #4698 "[Tooling] Schema doc generating tool only generates docs for top level of host config schema."
# Platform

What platform is your issue or question related to? (Delete other platforms).

Tooling

# Details

Using the [generate.cmd](https://github.com/microsoft/AdaptiveCards/blob/main/source/nodejs/spec-generator/generate.cmd) tool to generate the host config documentation only generates the top level of objects. For inputs, for example, the tool will generate documentation for InputsConfig,

[2020-08-28 22:42] RebeccaAnne commented on #4580
For the documentation, it looks like the documentation was updated manually in MicrosoftDocs/AdaptiveCards#322. We have a tool to generate those docs, but that tool only generates the first layer of the schema, not sublayers. In this case, the manual documentation documents all relevant objects (InputsConfig, LabelConfig, InputLabelConfig, and ErrorMessageConfig), whereas the generated schema only

[2020-08-28 23:45] RebeccaAnne opened #4699 "[JavaScript] Automatic tooltip for selectAction title"
Javascript implementation of #4694.

[2020-08-28 23:46] RebeccaAnne opened #4700 "[UWP] Automatic tooltip for selectAction title"
UWP Implementation for #4694

[2020-08-28 23:47] RebeccaAnne opened #4701 "[.NET] Automatic tooltip for selectAction title"
.NET implementation for #4694

[2020-08-29 00:46] #4595 closed

[2020-08-29 00:46] #4620 closed

[2020-08-29 00:46] #4692 closed

[2020-08-29 00:46] #4699 closed

[2020-08-29 16:55] RaisinBread42 commented on #4688
@dclaux  @matthidinger  @shalinijoshi19

[2020-08-29 16:58] RaisinBread42 commented on #4688
So found out what I want can be achieved by using outlook - https://docs.microsoft.com/en-us/outlook/actionable-messages/send-via-email.  Still, would like to use when sending cards to other apps like MS Teams for example.

[2020-08-30 19:56] Shivang007-del opened #4704 "How can I configure hostconfiq for adaptive card in bot framework sdk"
How can I configure hostconfiq for adaptive card in bot framework sdk

[2020-08-31 04:56] gauravsaralMs commented on #4582
Adding gif of the issue

![TeamsNotClosing](https://user-images.githubusercontent.com/43203065/91684199-5ac7d200-eb74-11ea-9d3e-5c15cf874046.gif)

[2020-08-31 07:15] Jageen commented on #3482
May I know any workaround for this issue ?

I had integrate this SDK into my project where I am rendering Adaptive Card.

When server send long text as action title it did not wrap and make as multi line button.

I had tried this so far.

1. Make change in host config (i.e "actionTitleToWrap": true)
2. Implemented ACRBaseActionElementRenderer and set UIButtons property such as "numberOfLines" as 2

[2020-08-31 07:49] shakungrover05 commented on #4628
Hi @dclaux

The workaround/proposal to skip special characters was discussed by the team. This would be akin to modifying source data before ingestion. So a title will be misrepresented in results and Title is a property that will show 100% of the times for ADO connectors. I also think this would happen for every connector that can have these characters in their Titles.
Is this a fix that can be t

[2020-08-31 08:48] RafaelSilva30 commented on #4673
@matthidinger No new updates? when will this be available?

[2020-08-31 16:20] dclaux commented on #4628
@atishayv I am not sure what proposal you're referring to, I don't believe I suggested to "skip" characters? The bottom line is that your payload isn't valid JSON to start with - `JSON.parse()` won't parse it. The "fix" is to make it valid, and for that you need to properly escape characters, not skip them.

[2020-08-31 16:23] dclaux commented on #4628
And to be sure we're on the same page, the idea is not to have the customer modify their data (that is indeed not realistic) but instead you massaging it prior to injecting it into the AC.

[2020-08-31 20:20] #4580 closed

[2020-08-31 20:39] paulcam206 commented on #4683
There's nothing actionable here. Please feel free to file a new bug with issue details.

Thanks!

[2020-08-31 20:39] #4683 closed

[2020-08-31 20:51] productboard-ac opened #4708 "Pic2card on official website"

[2020-08-31 20:51] productboard-ac commented on #4708
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5457426

[2020-08-31 20:52] matthidinger commented on #4708
@haridas feel free to reference this issue with your PR

[2020-08-31 21:21] paulcam206 opened #4709 "Make sure we're using {{Date}} features in all samples"
We should do a pass on our samples to make sure we're using {{Date}} constructs wherever possible.

Shouldn't we have to update this textblocks to use {Date} formatting in the string? Seems like we're missing an opportunity here

_Originally posted by @almedina-ms in https://github.com/microsoft/AdaptiveCards/pull/4695#discussion_r480298954_

[2020-08-31 21:23] #4578 closed

[2020-09-01 02:30] kexuejin opened #4711 "[Android]Complex layout will freeze when recyclerview merge to androidx"
# Android

* Android

# Version of SDK

2.0.0

# Details

The sample demo is base on android support framework, but when recyclerview merge to androidx and load complex json, such as FlightDetails.json, it list will freeze and card view refresh the height repeatedly.
There have a sample demo [Sample.zip](https://github.com/microsoft/AdaptiveCards/files/5153594/Sample.zip)

[2020-09-01 05:15] gauravsaralMs commented on #4662
@aosolis :
for the sign-in card and for task module: what is the max value we can put for width and height parameters?

[2020-09-01 06:00] sanjeev9160 commented on #4530
Gentle Reminder on it. I can see the contrast difference in developer preview of teams. When do we expect the changes in the other versions of teams client.

[2020-09-01 07:04] aosolis commented on #4662
You can put a really large value like 5000 pixels. We will cap it at 90% of the size of the main window.

[2020-09-01 07:07] gauravsaralMs commented on #4662
ok.. I actually tried with 25000 and it is not looking like 90%, there is growth for sure but not significant..
without change
![image](https://user-images.githubusercontent.com/43203065/91813107-c9c62900-ec4f-11ea-9023-91b46e51f3ea.png)
 with change
![image](https://user-images.githubusercontent.com/43203065/91813144-d5195480-ec4f-11ea-94b5-c78c50b4ac15.png)

[2020-09-01 09:31] Gunashree-R-V commented on #3885
@jwoo-msft, @shalinijoshi19,
This issue applies to the **placeholder in input.choice set** component as per the title.
We have a similar issue([4484](https://github.com/microsoft/AdaptiveCards/issues/4484)) created for other input components as well.

Hope this bug([4484](https://github.com/microsoft/AdaptiveCards/issues/4484)) will also be addressed as part of the current fix.

cc: @VikrantSingh0

[2020-09-01 17:29] jwoo-msft opened #4712 "[Sample Cards] Text in sample cards truncated"
# Platform

* Android
* iOS

# Issue

Newly updated Sporting Event card and Flight Update card have slightly longer text. For example, instead of **"San Francisco"**, it is **"San Francisco Airport"** after the update. Mobile platforms with narrower width such as Android and iOS would truncate the updated text. This is not what we want, we want to show all the text, so the ask is to add "wrap": tr

[2020-09-01 20:12] productboard-ac opened #4713 "Input.ChoiceSet search/filtering UX (static list of choices)"

[2020-09-01 20:12] productboard-ac commented on #4713
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5470701

[2020-09-01 20:12] productboard-ac opened #4714 "Input.ChoiceSet changeAction"

[2020-09-01 20:12] productboard-ac commented on #4714
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5470703

[2020-09-01 20:12] productboard-ac opened #4715 "ActionSet flyout (... actions menu)"

[2020-09-01 20:12] productboard-ac commented on #4715
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/4374375

[2020-09-01 20:31] matthidinger commented on #1443
Hi folks, we've actively looking into this feature right now and if we get the appropriate security signoff it is a candidate for the upcoming v1.4 release.

[2020-09-01 20:33] nikosalexakis commented on #1443
Great! we are waiting for it :)

[2020-09-01 20:52] pschaeflein opened #4716 "[.Net] Allow developer to specify serialization format when calling ToJson()"
**What platform is your feature request related to? (Delete other platforms).**

* .NET

**Is your feature request related to a problem? Please describe.**
The response to the ToJson() method of the AdaptiveCard class is an indented string.
https://github.com/microsoft/AdaptiveCards/blob/4bb9b3ae301917fc0fb36886c13f6360e266c91f/source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs#L258

**Describe t

[2020-09-01 23:28] bzbetty opened #4721 "Adaptive Card Designer - toolbar buttons missing html type attribute"
Similar to https://github.com/microsoft/BotFramework-WebChat/issues/594, the buttons in the adaptive card designer are missing the type="button" attribute which means if it's embedded in a html form tag it tries to submit the form anytime buttons like the "new card" button is pushed.

[2020-09-02 00:49] shalinijoshi19 commented on #4670
Dup# 4257

[2020-09-02 06:51] harada-ito opened #4723 "[Designer] [Your feedback title here]"
[Your detailed feedback here]

[2020-09-02 14:31] mokandre opened #4724 "[Javascript][Adaptive Card] ["altText" attribute for Image element is not working]"
# Platform

* JavaScript

# Author or host
 Cisco Webex Teams

# Version of SDK
Adaptive Cards: 1.2

# Details

`altText` attribute for image element is not working.

**JSON**
`{
   "type":"AdaptiveCard",
   "body":[
      {
         "type":"ColumnSet",
         "columns":[
            {
               "type":"Column",
               "items":[
                  {
                     "type":"Image

[2020-09-02 16:31] #2448 closed

[2020-09-02 19:53] mahathota commented on #3835
I am also getting the same error. Any fix for this. Below is the Card Json.

{
  "type": "AdaptiveCard",
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "version": "1.0",
  "body": [
    {
      "type": "TextBlock",
      "text": "Edit Swap Out",
      "weight": "bolder"
    },
    {
      "type": "Container",
      "items": [
        {
          "type": "Container",

[2020-09-02 21:42] shalinijoshi19 commented on #4723
@harada-ito please do go ahead file an issue with the issue description/template filled out ! thanks

[2020-09-02 21:42] #4723 closed

[2020-09-02 21:43] shalinijoshi19 commented on #4712
@golddove can you take a stab at handling this? Thanks

[2020-09-02 21:45] shalinijoshi19 commented on #4712
Looks like @almedina-ms had been looking at it from his email so assigning to him instead

[2020-09-02 21:46] shalinijoshi19 commented on #4724
@dclaux  are you aware of this one? Could you help take a stab? thanks

[2020-09-02 21:49] shalinijoshi19 commented on #4724
@mokandre FWIW the card you have seems to be working fine in our designerup on https://adaptivecards.io/designer
![image](https://user-images.githubusercontent.com/20822397/92040333-7cb78500-ed2b-11ea-8989-36937aa864a4.png)

[2020-09-02 22:17] paulcam206 opened #4728 "[Site] regex property being reported as v1.0"
https://adaptivecards.io/explorer/Input.Text.html

![image](https://user-images.githubusercontent.com/16614499/92042563-51369980-ed2f-11ea-8872-f1951e4ec11f.png)

This just shipped -- we should be reporting this as a `1.3` feature.

[2020-09-02 23:01] #4728 closed

[2020-09-02 23:34] matthidinger commented on #4657
Hi @jesuspsalas2, we just released v1.3.0 of the designer on npm, can you let us know if it still repro's there?

[2020-09-03 06:15] mokandre commented on #4724
@shalinijoshi19 `altText` should be shown when there is a delay in image rendering and when image render fails.

Please take a look for below

[2020-09-03 06:22] akaashdev opened #4730 "[iOS][Action Inputs] Missing Input values for input fields inside ShowCard"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Version of SDK

v1.2.11

# Details

The values of input text fields inside ShowCard seems to be missed when retrieving all inputs.

The inputs retrieved from iOS SDK
[code]

Inputs retrieved from other platforms for same card payload.
[code]

The key 'ooo_message' seems to be missing.

[card-payload

[2020-09-03 16:11] NickEricson commented on #3225
I am using AdaptiveCard 1.2.4 and can't reproduce this using the original issue. Was this fixed?

[2020-09-03 19:58] matthidinger commented on #4670
Re-opening since this one tracks the overall feature and will serve as the parent for the other SDK issues

[2020-09-03 19:59] matthidinger commented on #4670
This will also resolve #3857

[2020-09-03 20:06] almedina-ms opened #4731 "[Android][Performance] Reduce the number of empty views generated"
# Platform
* Android

# Author or host

dev

# Version of SDK

main

# Details

Elements such as containers or columns generate a lot of empty views (such as linear layouts) that the rendering performance as well as the debuggability of issues with this elements.

[2020-09-03 20:45] golddove commented on #4715
A couple alternate proposals to think about.

## maxActions

`maxActions` tells how many actions to show before overflow. If there is insufficient space, fewer than maxActions will be shown.

So, if you want all Actions in an overflow:
[code]
Or if you want to show the first two:
[code]

Alternatively, we can constrain it the other way around (call it "overflowCount" or something), where the autho

[2020-09-03 20:51] productboard-ac opened #4732 "Teams: Media element support"
Currently the `Media` element is not support in Microsoft teams. This work tracks adding that support.

[2020-09-03 20:51] productboard-ac commented on #4732
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5300350

[2020-09-03 20:54] productboard-ac opened #4733 "Adaptive Cards in Power Virtual Agents"

[2020-09-03 20:54] productboard-ac commented on #4733
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5300382

[2020-09-04 05:23] IntranetFactory opened #4734 "Designer data binding error when sample data contains empty array"
Clicking on a data binding button causes an error when sample data contains any empty array:
![image](https://user-images.githubusercontent.com/7462342/92202371-dc598180-ee4c-11ea-9431-2ed5e5730a25.png)

[2020-09-04 07:00] xieofxie commented on #4636
Hi @paulcam206 I saw you merged the pr. When will package AdaptiveCards.Rendering.Wpf.Core be available in nuget? Thanks!

[2020-09-04 07:05] shalinijoshi19 commented on #4711
@almedina-ms could you please take a look at this one and see what's going on? Thanks

[2020-09-04 07:05] shalinijoshi19 commented on #4721
@dclaux are you able to take a look at this please? Thanks

[2020-09-04 07:07] shalinijoshi19 commented on #4730
@jwoo-msft thoughts here?

[2020-09-04 07:09] shalinijoshi19 commented on #4731
@almedina-ms I've moved this to our backlog for now - if you do have a fix for this available feel free to pull it out.

[2020-09-05 02:33] p-nagpal opened #4738 "[.NET HTML][AdaptiveImage] [Silent Error/Data loss: JsonSerializationException swallowed for invalid AdaptiveImage.Url]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* .NET

# Author or host
DirectLine Channel in Bot Framework. Sending cards from Bot to WebChat Client

# Version of SDK
Failure reproduces with latest C# SDK

# Details

Originally reported on https://github.com/microsoft/BotFramework-Services/issues/214

The customer is sending an Adaptive Card with an imag

[2020-09-05 11:52] Jageen opened #4739 "[iOS][UI] [Action/Button is not visible when it's title text is long]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* iOS

# host

# Version of SDK
1.2.9
What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details
When there is a long title set to action/button it is not viable upto parent's width.
Please refer image for the same
<img width="498" alt="bug" src="https://user-images.githubusercontent.com/5

[2020-09-05 11:57] Jageen commented on #4739
I found similar issue
https://github.com/microsoft/AdaptiveCards/issues/4107

But it is also open and patch given by merge is not satisfactory , Can we have similar behavior as it is in android ?

[2020-09-06 17:29] shalinijoshi19 commented on #4734
@dclaux could you take a look at this pls? thanks

[2020-09-07 06:49] mutanttech commented on #3054
@shalinijoshi19 is this released in 1.3. Are there any example to refer to implement this using C# and render on WebChat control?
Will it work on older versions of WebChat?

[2020-09-07 12:30] aakashjain181 commented on #4738
` body": [
              {
                "type": "Container",
                "items": [
                  {
                    "type": "ColumnSet",
                    "columns": [
                      {
                        "type": "Column",
                        "width": "auto",
                        "items": [
                          {
                            "type": "Image",

[2020-09-07 17:38] kp101090 commented on #3054
This feature will be really helpful for our business critical workflow. Is this feature being actively worked on? If yes, is there any timeline for release?

[2020-09-08 05:40] ridwived-microsoft commented on #4685
Any updates on this?

[2020-09-08 05:41] ridwived-microsoft commented on #4686
Any updates?

[2020-09-08 08:33] scottlovegrove opened #4741 "[NodeJS][Column] No way to set backgroundimage on a column"
# Platform

* JavaScript

# Author or host

Author, sending cards to our own custom renderer.

# Version of SDK

All versions, but seeing this with 1.2.6 and 2.3.0

# Details

The Schema and Designer at adaptivecards.io both say you can add a background image to a `Column`, however in the npm package, there is no way to actually achieve this. There is a `backgroundImage` property, but this is read

[2020-09-08 09:32] scottlovegrove commented on #4741
Quick code sample:

[code]
At the point I try and set `column.backgroundImage = backgroundImage`, Typescript then errors because `column.backgroundImage` is read-only.

[2020-09-08 11:39] scottlovegrove opened #4743 "[All][TextBlock] Add VerticalAlignment property to TextBlock"
**What platform is your feature request related to? (Delete other platforms).**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
I would like to be able to have text appear horizontally *and* vertically centered. Right now, the only option for TextBlock is for horizontal alignment.

**Describe the solution you'd like**
A

[2020-09-08 11:42] scottlovegrove opened #4744 "[All][BackgroundImage] Add Opacity property to BackgroundImage"
**What platform is your feature request related to?**

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

**Is your feature request related to a problem? Please describe.**
When I have a background image, I may want the image itself to be a bit more subtle, adding opacity would allow for the image to be present but not "in your face".

**Describe the solution you'd like**
Add an `opacity`

[2020-09-08 12:34] akaashdev opened #4745 "[iOS][Rendering] Crash when "bleed" property used on outermost container"
# Platform

* iOS

# Version of SDK

v1.2.11

# Details

When "bleed" property is used on the outermost container, the SDK crashes on [this line](https://github.com/microsoft/AdaptiveCards/blob/f9d6436cd489015a310fad5c62058391d0cadc4b/source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm#L399).

[bleed-card-payload.txt](https://github.com/microsoft/AdaptiveCards/files/5188285

[2020-09-08 17:55] paulcam206 opened #4746 "Need documentation/tooling in aid of accessibility for card authors"
Do we have (or plan to have) a customer facing document on how to make sure your cards are accessible? This seems like something we should capture in a tips and tricks kind of way to encourage others to avoid this pitfall.

_Originally posted by @RebeccaAnne in https://github.com/microsoft/AdaptiveCards/pull/4736#discussion_r485043725_

[2020-09-08 18:43] shalinijoshi19 commented on #3497
@siduppal / @dawwa this isn't related to Teams Mobile though does seem specific to Teams at the moment --Do we have the corresponding Teams-side bug we can use to track this investigation and reference here? Following up offline on repro/debugging steps.

[2020-09-08 22:01] RebeccaAnne commented on #4251
Interestingly, the non-wrapping doesn't repro for me in main in the UWP visualizer (the + behavior does repro):
![image](https://user-images.githubusercontent.com/9091833/92531578-6a35c380-f1e3-11ea-88a2-6130f468ec6e.png)

[2020-09-08 22:43] JustinBlock opened #4752 "[iOS][Action Inputs] Get content of multi input card in order of appearance"
**What platform is your feature request related to? (Delete other platforms).**
* iOS

**Is your feature request related to a problem? Please describe.**
I’ve got a chat system using adaptive cards that contains multiple inputs in one card. When that card is submitted I don’t have a way to easily get the users input in the order in which it was entered. This would allow me to show the user the inp

[2020-09-08 23:16] shalinijoshi19 commented on #3497
This is a feature request being tracked by Teams ADO item https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/720439;
Per @siduppal from Teams, the ask is to enhance deeplink support in cards to allow join links..
Closing this issue out - @dawwa please do use the link above to track progress on this. Thanks

[2020-09-08 23:16] #3497 closed

[2020-09-08 23:52] jwoo-msft commented on #4730
Hello, @akaashdev

I tried 1.2.11 & 1.2.12, and I could not reproduce the issue. Please see the attached.
<img width="327" alt="Screen Shot 2020-09-08 at 4 40 44 PM" src="https://user-images.githubusercontent.com/4112696/92537903-28604980-f1f2-11ea-9bbf-82b667596a86.png">
This is full output from Xcode
[code]

If you try this card with 2.0 renderer the one with the new Input feature or the main br

[2020-09-09 00:13] jwoo-msft opened #4753 "[All][Input Evolution] Improve User Experience With ShowCard"
- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
Please refer to the card below. There is nothing that stops users from creating the card below. the problem with the card below is that the showcard has no Action.Submit and it has the only input of the whole card. It clearly indicates that the user

[2020-09-09 02:03] jwoo-msft commented on #4745
Hello @akaashdev,

Thanks for reporting this issue. I can reproduce this issue on my end.

Thanks

[2020-09-09 02:24] jwoo-msft commented on #4752
@JustinBlock
Thanks for sharing your feedback. I will bring it to our team's attention to see if we can add this feature for the next input iteration.

Thanks.

[2020-09-09 07:10] icedpanda opened #4755 "[Designer][.NET] Code From CARD PAYLOAD EDITOR doesn't work in local"
**Platform**
---

- .Net
- Bot Framework Emulator

**Author or host**
---
Host: using bot Emulator

 **Version**
---

Bot Framework Emulator - 4.10.0
AdaptiveCards - 2.1.0
AdaptiveCards.Templating - 1.1.0
Microsoft.Bot.Builder.LanguageGeneration 4.10.2

**Details**
---
I am using the code generated from adaptive card designer Card payload editor, and it works perfectly fine. But it doesn't work af

[2020-09-09 15:35] ballwood opened #4758 "[Teams][UI] ActionSet wrapping/scrolling in Teams iOS/Android hides buttons"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS

# Author or host

**Author**

If you're an author, who are you sending cards to?

**MS Teams**

# Version of SDK

**1.2**

# Details

We have an adaptive card with a set of 2 ActionSets (due to the 6 button limit), on the MS Teams desktop client they render (ok-ish)
![image](https://user-ima

[2020-09-09 17:48] jwoo-msft commented on #4755
@Oliverqqqq
Your template card and the data works with .NET samples app as you can in the below image.

![image](https://user-images.githubusercontent.com/4112696/92634899-d23ee500-f289-11ea-822c-d01881854f42.png)

What is .lg file?

Thanks.

[2020-09-09 17:52] jwoo-msft commented on #4666
This image is taken from .Net Sample App.
![image](https://user-images.githubusercontent.com/4112696/92635240-55603b00-f28a-11ea-96a5-57f93d9a0be3.png)

[2020-09-09 17:56] jwoo-msft commented on #4666
Hello, @matthidinger
I ran @crow131's payload and data. They work fine with the current template library.
As the user mentions that the breakage happens after upgrading to Microsoft.Bot.Builder.Dialogs 4.9.4 to 4.10.0. Do you have a contact to the bot framework?
Thanks

[2020-09-09 17:59] jwoo-msft commented on #4755
Hi @Oliverqqqq,
Can you try using Microsoft.Bot.Builder.* version to 4.9.4? Your issue seems to be related to #4666
-cc @matthidinger

[2020-09-09 18:35] jwoo-msft opened #4759 "[All]Default Wrap value for Actions' Vertical Orientation"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [x] iOS
- [ ] JavaScript
- [ ] UWP

**Is your feature request related to a problem? Please describe.**
#4739, #4107
Buttons Increase its width beyond their superview's width.

**Describe the solution you'd like**
Make texts in buttons to wrap by default in the vertical al

[2020-09-09 19:58] productboard-ac opened #4761 "Adaptive Components"

[2020-09-09 19:58] productboard-ac commented on #4761
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5478079

[2020-09-09 22:14] RebeccaAnne commented on #4251
Confirmed that the main wrapping bug repros in 1.2.7 but not 2.1.0. Looks like this got fixed somewhere along the way. Investigating the + behavior.

[2020-09-09 22:27] RebeccaAnne commented on #4251
As Paul mentions above, breaking on the + is the default behavior of the TextBlock control. It doesn't look like that's something that's configurable.

[2020-09-09 22:41] paulcam206 commented on #4251
could this be part of the problem?

https://github.com/microsoft/AdaptiveCards/blob/be54ffa92a4722e4062dd7b455fa6df74c330c8e/source/uwp/Renderer/lib/XamlHelpers.h#L263-L266

[2020-09-09 23:08] productboard-ac opened #4763 "Authenticated image downloads (Graph, SharePoint, etc)"

[2020-09-09 23:08] productboard-ac commented on #4763
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/5454678

[2020-09-10 04:10] Oliverqqqq commented on #4755
Hi @jwoo-msft ,

I'm using language generation templates in my bot.
https://docs.microsoft.com/en-us/azure/bot-service/language-generation/bot-builder-howto-use-lg-templates?view=azure-bot-service-4.0&tabs=cs

**Code**
---
[code]

.lg file

[code]

**Error**
---

[2020-09-10 15:24] matthidinger commented on #4679
We should investigate the best way to support this scenario without necessarily relying on HTML entities (`&nbsp`)

E.g., we could rely on unicode characters `\u2002` in the JSON, although this doesn't quite work based on my limited research, so further digging will be required.

https://stackoverflow.com/questions/6046263/how-to-indent-a-few-lines-in-markdown-markup

[2020-09-10 15:54] jwoo-msft commented on #4730
Hello @akaashdev,

As we have discussed, this is a newly updated behavior with the addition of the input feature update on main branch. I realized that this change can be a big surprise, and to improve the user experiences, I created a new issue https://github.com/microsoft/AdaptiveCards/issues/4753.

[2020-09-10 15:54] #4730 closed

[2020-09-10 16:13] RebeccaAnne commented on #4251
That function is only currently called for toggles and choice sets, but yes, that setting would produce the first behavior of not wrapping long words. I suspect we used to set that for TextBlocks and now don't, which would explain why it repros in 1.2.7 but not 2.1. That said, that setting doesn't affect whether or not we break on +.

[2020-09-10 16:22] jwoo-msft commented on #4758
@ballwood
Thanks for reporting this issue.
AdaptiveCards and MS Teams are separate teams.
AdaptiveCards provides host config options for button orientation and the max number of actions allowed in an action set. The options are configurable by a host app, in this case, MS Teams. As for the scrolling, the scroll bar will appear if you touch close to buttons or the gap in the buttons. Please note th

[2020-09-10 16:22] #4758 closed

[2020-09-10 17:06] paulcam206 opened #4764 "Text elements need alt text"
Some cards might choose to use glyphs or symbols to convey meaning (e.g. `⭐⭐⭐` or `$$`). This unfortunately leads to text that doesn't read properly for users of AT. We need a mechanism by which card authors can supply text to be read by screen readers (could possibly also be purposed to display tooltips).

_Originally posted by @RebeccaAnne in https://github.com/microsoft/AdaptiveCards/pull/4762#

[2020-09-10 19:02] #4381 closed

[2020-09-10 19:11] akaashdev commented on #4730
Thanks for this @jwoo-msft !

[2020-09-10 20:02] ballwood commented on #4758
@jwoo-msft who would I contact to report this issue?

[2020-09-10 20:27] shalinijoshi19 commented on #4687
@golddove please update with your investigation comments here. Moving to 20.10 based on priorities around Accessibility for 9/30

[2020-09-10 20:45] golddove commented on #4687
Talked with @dclaux about this before - the same issue occurs with Image that has `size: auto`. Android shows a much smaller image than JS.

This needs a design discussion about how we want to treat images when there's no explicit width/stretch given.

Our spec just says that auto means no scaling (as long as it fits). This would mean every device would show a different sized image subject to the

[2020-09-11 14:47] shalinijoshi19 commented on #4764
@RebeccaAnne, FYI -  backlogged this one.

[2020-09-11 15:52] scottlovegrove opened #4767 "[Javascript] TypeError: Cannot read property 'isValid' of undefined"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host

Author

If you're an author, who are you sending cards to?

Custom renderer, but not important for this bug

# Version of SDK

2.3.0 of adaptivecards on npm

# Details

If I try and return an adaptive card as part of an API response, and the adaptive card isn't the root item, I

[2020-09-11 17:54] #4672 closed

[2020-09-11 21:10] golddove opened #4768 "[Designer] Don't use placeholder for generated Inputs"
# Version of SDK

latest main

# Details

The designer, when you drag in most inputs (e.g. `Input.ChoiceSet`, `Input.Text`) generates elements with the `placeholder` property set. As we no longer want to encourage placeholders, we shouldn't generate them by default.

[2020-09-13 05:02] MikeAinOz opened #4770 "Can we have some updates please, community call would be good"
Hi There, I know you people are really busy, but can we have some blog updates, particularly the community call. It's on at 2am here in Brisbane and, although I love Adaptive Cards, I'm not going to stay up or get up for it. Regards Mike

---
* URL: https://adaptivecards.io/blog/

[2020-09-13 10:09] chaim770 opened #4771 "Can we have a clear page that states what version of AdaptiveCard schema is currently supported for each platform (Outlook / Teams etc)?"
**What platform is your feature request related to?**
All

**Is your feature request related to a problem?**
Currently, there is no way for me to know whether a certain Outlook (or Teams, for that matter) build/version is supporting the v1.3 (for example) schema.

**Describe the solution you'd like**
A simple table with build versions and supported schema version for each platform.

For example:
O

[2020-09-13 14:51] priyakewlani18 opened #4772 "[Ms Teams] [Ms Teams Conversation- Message Deletion Output is not consistent]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

MsTeams

# Author or host
Author
If you're an author, who are you sending cards to?
MsTeams

# Version of SDK
NA
What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details

In Ms Teams- from ongoing conversation in the channel, if user delete any message then it either shows "This message

[2020-09-14 06:04] Wajeed-msft commented on #3701
@helloanurag - In case of [Messaging Extension Task Module scenario](https://github.com/MicrosoftDocs/msteams-docs/issues/2062) we are adding more error details in Console to debug this better.

@ThorHuno - [Can we get on a call to check this](https://github.com/microsoft/AdaptiveCards/issues/3701#issuecomment-671735775)?

@upendra1588 - Seems like your issue is fixed after manifest. Please let us

[2020-09-14 12:17] bleekbless commented on #3054
Any update ?

[2020-09-14 13:08] upendra1588 commented on #3701
No,  Problem is still there, clients don't want to install manifest files
in each tenant.  It should deploy in one tenant and work for  multiple
tenant as it is working without task module in production.

Thanks
Upendra

On Mon, Sep 14, 2020 at 11:34 AM Wajeed-msft <notifications@github.com>
wrote:

[2020-09-14 13:24] chaim770 commented on #408
We would also appreciate an update on this one.
Thanks

[2020-09-14 14:47] #4494 closed

[2020-09-14 14:48] ankbat commented on #4494
Issue resolved at our end.

[2020-09-14 17:22] productboard-ac opened #4773 "Table element with a concept of rows"
Today, if content in your column sets have variable height, it can be tricky to align content across the rows. A simple table control or a concept of rows/grid would allow you to achieve this.

![](https://productboard-files.s3.amazonaws.com/production/attachments/b6811db19cd358d8ecaa5321ffd9aab9e82c692740df53271c28d152da9315d0/image.png)

Although this is already possible by using separate column

[2020-09-14 17:22] productboard-ac commented on #4773
Link to feature: https://adaptivecards.productboard.com/feature-board/planning/features/2181202

[2020-09-14 18:01] matthidinger commented on #4773
Duplictate of #1786

[2020-09-14 18:37] almedina-ms commented on #4711
we currently haven't supported ```androidx``` libraries, ```support``` libraries and ```androidx``` sometimes are not interchangeable. @golddove made a PR for us to migrate into androidx but we haven't figured out yet if there are any rendering side effects as well as we don't know how many customers are still using support libraries that may need fixes still using support packages. We could be re

[2020-09-14 20:55] golddove opened #4775 "[Samples] Generate non-templated samples from templated samples"
# Version of SDK

latest

# Details

Currently, any sample updates require changes to the non-templated JSON and the template JSON. This is easy to forget and hard to detect, so samples go out of sync.

Instead, the non-templated JSON's should be automatically generated (either by the build process or by a script run by dev) by binding the data to template.

[2020-09-15 03:28] Wajeed-msft commented on #3701
@upendra1588 - Manifest contains a list of valid domains for websites the app expects to load within the Teams client. This is applicable for Task Module as well.

[Talking to your bot by Id](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/debug/locally-with-an-ide#testing-your-bot-without-uploading-to-teams) is intended for basic testing purposes only. Any Teams-specific func

[2020-09-15 10:49] priyakewlani18 opened #4777 "[Ms Teams][Adaptive Cards Textbox emojis not working]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
MsTeams

# Author or host
Author

If you're an author, who are you sending cards to?
MsTeams

# Version of SDK
NA

# Details
In Adaptive Cards Textbox, emojis are not working and showing emojis in text format while in Ms Teams , same text is converting into emojis.

: 100 : -> showing plain text and not emoji

[2020-09-15 14:59] scottlovegrove commented on #4575
@dclaux The problem I have here is that although the guidance is to use `KeyboardEvent.code`, I can't actually find any typescript type definitions that include this, so couldn't this end up breaking a build somewhere?

[2020-09-15 20:30] avican commented on #3701
I also faced the 'unable to reach app'-issue when sending adaptive card to teams from power automate. Turns out i had to have Exchange Online Plan 1 on the user who was owner of flow. I guess it uses exchange for the connection between the flow and teams but idk

[2020-09-16 07:55] atishayv opened #4781 "[Javascript] Adaptive card throws error in parsing json of $data"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "2.0.0",

# Details

I am trying to render an adaptive card text block with following json :
[code]

having $data as :
[code]
using the following code :
[code]
but calling render is **throwing error while parsing json saying Unexpected value "\\".**

From designer it works because I think i

[2020-09-16 07:55] atishayv commented on #4781
CC: @dclaux

[2020-09-17 06:28] gauravsaralMs commented on #4583
@VaraPrasad-MSFT : gentle ping here, we are getting customer complaints.

[2020-09-17 09:04] Wajeed-msft commented on #4583
Hi @gauravsaralMs - Checking status of [the bug ](https://domoreexp.visualstudio.com/MSTeams/_workitems/edit/1125694) internally. Meanwhile, did you try using [Show Card](https://adaptivecards.io/samples/ShowCardWizard.html) which allows you to expand information. [Expense report sample](https://adaptivecards.io/samples/ExpenseReport.html) is really great.

[2020-09-17 09:11] gauravsaralMs commented on #4583
Thanks @Wajeed-msft , do let us know any update on this issue.
Yes, we are using Show card, but that is a different use case. The ask here is related to a use case where we want to use normal adaptive card and expect team to wrap it up.

[2020-09-17 19:30] almedina-ms opened #4782 "[https://adaptivecards.io/explorer/Container.html] Sample doesn't match the rendered card"
For some reason the rendered card uses an accent color as background color while the sample states that it's the emphasis color, the json payload matches the contents of the Container.Style card but I couldn't find the other version in our samples

[2020-09-17 19:48] shalinijoshi19 commented on #4552
Assigning to you @almedina-ms per offline POA; @RebeccaAnne FYI. Pls update description if needed! thanks

[2020-09-17 19:49] shalinijoshi19 commented on #4552
Outlining POA here per @RebeccaAnne's notes offline:
We propose to annotate samples on our website which use the old schema with a banner warning indicating that because they target an older version of the schema they are not accessible.
In Q4, once more of our partners have picked up v1.3, we would remove the old samples with the warnings and replace them with accessible samples. #4612 tracks the

[2020-09-18 02:36] golddove commented on #4770
@matthidinger, looks like we might be missing blog posts for recent community calls.

@MikeAinOz, thanks for pointing it out! You can always find the recorded calls on our Microsoft 365 channel: https://www.youtube.com/c/Microsoft365Developer/search?query=adaptive+cards+community+call

[2020-09-18 05:15] berhen commented on #3882
@shalinijoshi19 Hi, is there any update on this issue?

[2020-09-18 07:59] Vishnuvk33 opened #4785 "[Adaptive card] Behaviour of card in mobile and O365"
Hi,

    We are using the same card json file  to view adaptive card in both mobile and O365.

    In O365, the adaptive card is wokring fine as expected.

    But in Android mobile outlook app(same card json), The bahaviour of the card is some what differ.

    Please refer the attached the card json for ref.

     Flow :  Click on Runnig Image in both desktop and mobileapp.
[cardissue.txt](https

[2020-09-18 08:41] Wajeed-msft commented on #4583
@gauravsaralMs - Do you have screenshot of how your card used to look?

[2020-09-18 08:57] gauravsaralMs commented on #4583
@Wajeed-msft : no, we did not have captured anything earlier..
cc: @DivyankaM in case she has any screen capture.

[2020-09-18 11:32] DivyankaM commented on #4583
The see more and see less feature works for some cases and doesn't work for others. PFA screenshots -

![image](https://user-images.githubusercontent.com/15843532/93592907-aaa9f400-f9d0-11ea-8561-c62e1f1ad1ff.png)

![image](https://user-images.githubusercontent.com/15843532/93592920-b1d10200-f9d0-11ea-9e65-2d758e2a720b.png)

cc: @Wajeed-msft @gauravsaralMs

[2020-09-18 13:26] jeubank12 opened #4786 "[Designer] Horizontal Alignment not valid for ActionSet on Teams"
The designer allows you to specify Horizontal Alignment for ActionSet and renders it with the alignment applied. The documentation does not indicate that Horizontal Alignment is a valid property and in practice, Teams does not respect the horizontal alignment value.

[2020-09-18 14:39] Wajeed-msft commented on #4583
@DivyankaM - Could you please share both the Adaptive Card JSONs? It will help us investigate this further.

[2020-09-18 14:59] SunilsingRana opened #4788 "[Adaptive Card] AdaptiveCard.FromJson() not parsing adaptive card json of version 1.2"
# Adaptive Card V 1.2

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF

# Author or host

Host

# Version of SDK

Adaptive card V 1.2, Nuget AdaptiveCards V 2.1.0, Bot Framework v4

# Details

We have setup a QnA service in which in the response I am giving the adaptive card json. And I parse the json in my bot framework code. The adaptive card

[2020-09-18 17:13] dclaux commented on #4741
It is already possible to set a background image on a column. The code patterns is this:
[code]

To remove the background image, set its `url` to `undefined`.

[2020-09-18 17:38] shalinijoshi19 commented on #4721
@golddove is this for Cisco by anychance? If so can you take it with the Cisco label? thanks

[2020-09-19 15:46] DivyankaM commented on #4583
@Wajeed-msft The only difference between the two adaptive cards is that the second one has button at the end after the text. For first one, see more and see less options are coming while for second one they are not coming. As per my understanding, this shouldn't be the case since the Teams platform doesn't condense the adaptive card rather the entire message posted is condensed, so it should show

[2020-09-21 05:47] ranjanraviraj opened #4789 "[Android][Adaptive card rendering issue] [One of type of adaptive card is not rendering in Android.]"
# Android

What platform is your issue or question related to?

* Android

# io.adaptivecards:adaptivecards-android:2.1.0

# In one of use-case an apdative card is supposed to render. Please find an attachment to the adaptive card response.
[organiser adaptive card.txt](https://github.com/microsoft/AdaptiveCards/files/5253591/organiser.adaptive.card.txt)

**This response is rendering**
![image](ht

[2020-09-21 13:41] scottlovegrove commented on #4741
Thanks @dclaux, I can confirm this does indeed sort my issue out 👍🏻

[2020-09-21 13:41] #4741 closed

[2020-09-21 16:21] shalinijoshi19 commented on #4789
@almedina-ms when you get a chance pls help take a look at this one! thanks.

[2020-09-21 16:24] shalinijoshi19 commented on #4788
Hi @SunilsingRana can you abstract out just the vare-bones json you are trying to render - the one from the designer?  Also what specific version of the AdaptiveCards .NET sdk are you using again? thanks again

[2020-09-21 16:26] shalinijoshi19 commented on #4786
@dclaux / @matthidinger weren't we doing some enhancements to the designer to suppress unsupported hostconfig values from being surfaced to avoid this sort of confusion at some point? Thoughts?

[2020-09-21 16:28] shalinijoshi19 commented on #4785
@golddove putting this on your plate for investigation for next milestone.

[2020-09-21 16:29] shalinijoshi19 commented on #4782
@RebeccaAnne could you help take a look at this one while we are looking to flesh out our samples this milestone? Thanks!

[2020-09-21 16:31] shalinijoshi19 commented on #4781
Hey @dclaux can you pls help take a look at this one for templating? thanks!

[2020-09-21 16:34] shalinijoshi19 commented on #4777
@matthidinger / @dclaux are these supposed to work? I didnt think we supported emojis natively in AdaptiveCards?

[2020-09-21 16:38] shalinijoshi19 commented on #1786
Dup of #4773 which is now being tracked for this work.

[2020-09-21 16:38] #1786 closed

[2020-09-21 16:39] shalinijoshi19 commented on #4772
@Wajeed-msft / @siduppal could you help out with this? It doesnt seem related to AC on the outset?

[2020-09-21 16:41] shalinijoshi19 commented on #4771
@chaim770 does this page help - https://docs.microsoft.com/en-us/adaptive-cards/resources/partners ?
@matthidinger FYI.

[2020-09-21 16:43] shalinijoshi19 commented on #4768
@matthidinger / @dclaux / @RebeccaAnne what was our final word on placeholder support - I believe we were going to deprecate them eventually? @almedina-ms this was one of the discussions you'd been driving -- want to pick this up to conclusion?

[2020-09-21 16:45] dclaux commented on #4781
@atishayv like you I can't repro in the designer, but the designer isn't doing anything specific - it does basically the exact same thing you do. Can you post a screenshot of the call stack and the error in the browser?

[2020-09-21 16:47] dclaux commented on #4768
@golddove I don't think we decided to deprecate placeholders. We have agreed that they are not a solution as far as accessibility is concerned, but they are useful nevertheless.

[2020-09-21 16:54] dclaux commented on #4786
@shalinijoshi19 `horizontalAlignment` _should_ be supported on ActionSet. It's easy enough to remove support in the designer for now, but we need to revisit why renderers other than JS do not support it (and thus isn't documented as supported).

[2020-09-21 17:11] shalinijoshi19 commented on #4767
@dclaux can you help take a look at this real quick ? Thanks

[2020-09-21 17:13] chaim770 commented on #4771
Well, partly.

It does not specify exact versions of Outlook (for example), nor when can we expect future versions (say v1.3) to be available for that partner/host.

[2020-09-21 17:13] shalinijoshi19 commented on #4755
@jwoo-msft assigning to you for investigation for the next milestone.

[2020-09-21 17:15] shalinijoshi19 commented on #4752
@jwoo-msft fyi. For now have added this to our backlog - Please work with @RebeccaAnne and @matthidinger to get this included in our productboard backlog for appropriate prioritization and planning. thanks

[2020-09-21 17:57] dclaux commented on #4767
@scottlovegrove wow that is due to a `toJSON()` quirk I wasn't aware of, but which is [documented on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) (namely that `toJSON()` gets passed a parameter when it is invoked automatically by `JSON.stringify()` - via `res.send()` in this case). The AC version of `toJSON()` takes an optional parameter of

[2020-09-21 18:01] shalinijoshi19 commented on #4644
@RebeccaAnne I've moved this out of 20.10 in case you were expecting on getting this addressed this sprint.. With Paul out i've assigned this to @golddove to tackle as part of his ES pillar work..

[2020-09-21 18:52] shalinijoshi19 commented on #4746
Pushing this out to 20.10 at this point - @RebeccaAnne / @paulcam206  FYI

[2020-09-21 18:55] shalinijoshi19 commented on #3885
@Gunashree-R-V we have been re-evaluating guidance and support for placeholder elements and usage in card design over various discussion, esp due to bad Accessibility implications on the card design they may have- Are you able to leverage [labels](https://docs.microsoft.com/en-us/adaptive-cards/authoring-cards/input-validation#labels) that shipped with adaptivecards 1.3 earlier last month for thes

[2020-09-21 19:26] shalinijoshi19 commented on #3705
@VikrantSingh01 pls do reactivate if there's still pending asks on this one. Thanks!

[2020-09-21 19:26] #3705 closed

[2020-09-21 19:34] shalinijoshi19 commented on #4665
@jwoo-msft what's the work pending on us here?

[2020-09-21 19:37] shalinijoshi19 commented on #4600
@jwoo-msft thoughts on this one? Are we still planning on investigating for 20.09?

[2020-09-21 19:43] shalinijoshi19 commented on #4565
@jwoo-msft what's the POA on this one?

[2020-09-21 19:49] shalinijoshi19 commented on #4251
@RebeccaAnne what are our next steps on this one?

[2020-09-21 19:56] shalinijoshi19 commented on #4708
@matthidinger anything else that needs to be done here before we close this out?

[2020-09-21 19:57] shalinijoshi19 commented on #4575
@dclaux bringing this up to your attention.

[2020-09-21 20:01] shalinijoshi19 commented on #3882
Interesting - @berhen have you checked out @SiarheiKuchukBelitsoft 's link above? @dclaux thoughts here? Thanks

[2020-09-21 20:02] shalinijoshi19 commented on #3701
Closing this out at this point per response above from @Wajeed-msft.

[2020-09-21 20:02] #3701 closed

[2020-09-21 20:04] shalinijoshi19 commented on #4711
Thanks; have moved this to our backlog and assigning to @golddove to investigate as part of his ES explorations.

[2020-09-21 20:05] shalinijoshi19 commented on #4711
@kexuejin based on @almedina-ms 's response above, looks like we don't support androidx libraries at this point. How blocked are you on this?

[2020-09-21 20:08] dclaux commented on #4575
@scottlovegrove not sure what version of TypeScript you're using, but `KeyboardEvent.code` does show up for me:
![image](https://user-images.githubusercontent.com/1334689/93815684-3c04aa80-fc0b-11ea-905b-84e159993cf0.png)

[2020-09-21 20:13] shalinijoshi19 commented on #4666
@dandriscoll could you help route this to the right dev on your team please?

[2020-09-21 20:15] shalinijoshi19 commented on #4686
@ridwived-microsoft can you share what SDK version and what platform you are using us on? Also can you share the sample card json for us here? Thanks !

[2020-09-21 20:17] shalinijoshi19 commented on #4685
@ridwived-microsoft same question here as well for you - could you help me understand what platform + SDK of AdaptiveCards you are working with again? And also if you could share the sample json for us to repro this on wtih our tooling like https://adaptivecards.io/designer etc. tx

[2020-09-21 20:19] shalinijoshi19 commented on #4677
@apurva1112 have you tried this combination on our stock AC tool - https://adaptivecards.io/designer? Do you continue to observe the unexpected behavior?

[2020-09-21 20:20] shalinijoshi19 commented on #4657
Closing this out for now. @jesuspsalas2 please go ahead reactivate if you continue to observe this issue.. thanks!

[2020-09-21 20:20] #4657 closed

[2020-09-21 20:25] shalinijoshi19 commented on #4530
@siduppal / @Wajeed-msft could you  help with expected timelines for this issue on teh Teams client side? tx

[2020-09-21 20:31] shalinijoshi19 commented on #4655
Hey @chriche-ms what were the follow-up's to this one again? _sorry if i missed an offline update here! _ thanks

[2020-09-21 20:32] shalinijoshi19 commented on #4658
@dclaux are you able to pick this one up for 20.09?

[2020-09-21 20:33] shalinijoshi19 commented on #4663
@priyakewlani18 do you happen to have a sample json version of the card? @siduppal / @Wajeed-msft  thoughts on this one at all?

[2020-09-21 20:36] dclaux commented on #4658
@shalinijoshi19 absolutely not :) This is a huge feature with lots of work behind it, including a huge change in the parser logic.

[2020-09-21 20:37] shalinijoshi19 commented on #4678
This one is interesting.. I dont think we support github specific styles in AC renderers - teams or otherwise; However we do support markdown and on JS/desktop Teams that should be pretty much all of what markdownit supports - @dclaux / @matthidinger to correct me here and also to weigh in on what seems to be a feature request. @siduppal / @Wajeed-msft thoughts here?

[2020-09-21 20:38] dclaux commented on #4658
To be more precise, doing this work will fit in the "live data binding" feature that we've been talking about and have on our roadmap for 2021+.

[2020-09-21 20:46] shalinijoshi19 commented on #4050
@siduppal / @Wajeed-msft any updates on expected upgrade timelines for Teams to pick up the 1.3 schema at all? Thanks!

[2020-09-21 20:49] shalinijoshi19 commented on #4689
Thanks for the note here @saikrishnasgit ; For increased visibility and followup though may i request that you use our Bug templates to file bugs in the future? Do you happen to have precise repro steps at all for us?
Also @dclaux for FYI & weighing. Thanks!

[2020-09-21 20:50] shalinijoshi19 commented on #4118
hello @anbah34 please go ahead and reactivate this issue if it still persists with our latest v1.3 artifacts.. Thanks!

[2020-09-21 20:50] #4118 closed

[2020-09-21 20:53] shalinijoshi19 commented on #4602
@RebeccaAnne are we still planning on shipping this for v20.09? This is merged at this point but as i understand it we are not prioritizing shipping this update.. Should this be reverted from main?

[2020-09-21 20:54] shalinijoshi19 commented on #4631
@dclaux bringing this up to your radar.. Looks to be related to outlook's adaptation of AdaptiveCards?

[2020-09-21 21:10] matthidinger commented on #4708
I'll move it to 20.10 and we'll close it when @haridas has things buttoned up

[2020-09-21 21:17] shalinijoshi19 commented on #4483
We'll be keeping the behavior here, but will be updating the designer instead.

[2020-09-21 21:23] shalinijoshi19 commented on #4724
@dclaux could you update this issue with the offline discussion on this please? Thanks.

[2020-09-21 21:29] dclaux commented on #4724
The reason we currently drop images when they can't be loaded is that it is probably the "least bad" option in order to avoid messing up the card layout.

Showing the altText doesn't seem like a practical solution, because text notoriously takes a lot of horizontal space, and in order to not completely degrade the card's layout it would have to be truncated, making a lot less useful.

Showing plac

[2020-09-21 21:35] almedina-ms commented on #4743
not for 20.09, moving to 20.10 @RebeccaAnne

[2020-09-21 21:41] dclaux commented on #4743
@scottlovegrove this can already be accomplished by setting the `verticalContentAlignment` of the Container (or Column) to "center".

[2020-09-21 22:10] shalinijoshi19 commented on #4771
@chaim770 when you say exact versions of outlook are you referring to mobile, desktop etc? @matthidinger / @dclaux  FYI.

[2020-09-21 22:40] Oliverqqqq commented on #4755
Template Generated from .lg still doesn't work after downgrade to 4.9.4 but works fine by just reading the json.

[code]

[2020-09-22 00:13] shalinijoshi19 commented on #3653
@jwoo-msft are we on track for reviewing + checking this in for 20.09?

[2020-09-22 00:14] shalinijoshi19 commented on #3949
@jwoo-msft what's the plan for this one? ARe we able to land this in 20.09 still? I havent seen this move forward here?

[2020-09-22 01:13] kexuejin commented on #4711
https://developer.android.com/jetpack/androidx/migrate , The Android plugin uses the appropriate AndroidX library instead of a Support Library. So we can use AdaptiveCards sdk for Androidx.

[2020-09-22 01:46] #4015 closed

[2020-09-22 05:44] gkode opened #4796 "[Andoird][Unable to integrate sdk] [Not able to import Adaptive card]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

If you're an author, who are you sending cards to?

# Version of SDK
latest

# Details

I am unable to import adaptive card.

I did npm install adaptivecards-reactnative . i can see dependency in my node modules, i can see all node modules of adaptivecards-reactnative but unable to " import Adapti

[2020-09-22 06:05] Trinetra-MSFT commented on #4677
@shalinijoshi19 @apurva1112 , We can repro this issue at our end. We tested this for Bot & Designer,special character are coming as it is

**Designer**:
![image](https://user-images.githubusercontent.com/50989436/93848357-fdccc100-fcc6-11ea-9141-4e7f1f6bf639.png)

**Bot**
![image](https://user-images.githubusercontent.com/50989436/93848388-10df9100-fcc7-11ea-90a5-5929eeb09e06.png)

I will file a B

[2020-09-22 06:59] berhen commented on #3882
@shalinijoshi19 Yes I did. @SiarheiKuchukBelitsoft's leads to a closed bug report for Chromium, that apperently was a duplicate of a bug report that was closed without fix (at least that's how I read that bug report, please correct me if that's wrong). Besides that I could not find any comment from @dclaux here.

We are facing this issue in the Windows 10 Teams client (using a Bot Framework Teams

[2020-09-22 07:06] chaim770 commented on #4771
Yes.

But as far as I remember, some Outlook versions (in mobile & desktop) are not even capable of showing AdaptiveCards, while some versions are only capable of showing specific version (such as v1.0).

Ultimately, in my own case, I just need an answer to this question:
When (or at what version) can I expect to render AdaptiveCards **v1.3** in Outlook (web, mobile & desktop)?

[2020-09-22 07:42] chriche-ms commented on #4655
@shalinijoshi19 We were going to see if this is still an issue in 2.0 and later releases. I've just tested Cortana against the 2.1 release and it still exhibits this bug.

[2020-09-22 08:05] SunilsingRana commented on #4788
Hi @shalinijoshi19 ,
I am using adaptivecards v1.2.

below is the minimum json code.

`{"type":"AdaptiveCard","$schema":"http://adaptivecards.io/schemas/adaptive-card.json","version":"1.2","body":[{"type":"Container","backgroundImage":{"url":"https://hostedimages.blob.core.windows.net/phoenixconstructionimages/phoenixconstructionimages/white%20background.png?st=2020-08-22T07%3A19%3A14Z&se=2030-08-

[2020-09-22 09:01] VaraPrasad-MSFT commented on #4772
We are not able to repro this from our end. While deleting message it is showing the message "This message has been deleted. Undo" . How frequent does this happen? Please reach out to [Product Support Channel](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fmicrosoftteams%2Fplatform%2Ffeedback%23product-support-channels&data=02%7C01%7Cv-gobegu%40micro

[2020-09-22 11:17] scottlovegrove commented on #4743
@dclaux Yeah, I discovered this literally late afternoon yesterday. Closing this as it does what I need.

[2020-09-22 11:17] #4743 closed

[2020-09-22 11:29] scottlovegrove opened #4797 "[Javascript][Theming] Allow custom styles for containers"
# Platform
* JavaScript

# Author or host

I'm both, but I think this might apply to the authoring side.

# Version of SDK

npm 2.3.0

# Details

I wasn't sure whether to put this as a bug or feature request, have gone for bug.

Container.style is defined as `string | undefined`, this to me suggests that we could put our own custom styles in and have that custom style represented in the hostconfig

[2020-09-22 14:55] VaraPrasad-MSFT commented on #4050
The team is actively working on updating the features but currently we cant give an ETA on when it will be available.

[2020-09-22 17:28] RebeccaAnne commented on #4602
@shalinijoshi19 None of this work is in main. The UWP implementation is in the feature/focusLostValidation branch.

[2020-09-22 20:16] RebeccaAnne commented on #4251
The main issue where long words were not wrapping is fixed in the latest version. The breaking on + is the behavior of the UWP TextBlock control, and is not configurable. Although this may not be consistent with Adaptive Cards behavior on other platforms (JavaScript doesn’t do this, for example), it is consistent with text block behavior in UWP generally. Closing this issue.

[2020-09-22 20:16] #4251 closed

[2020-09-22 21:05] #4734 closed

[2020-09-22 21:05] #4767 closed

[2020-09-22 23:08] #3855 closed

[2020-09-23 03:45] VaraPrasad-MSFT commented on #4530
This is a feature request , could you please raise [user voice](https://microsoftteams.uservoice.com/forums/555103-public-preview/category/182881-developer-platform) for this.

[2020-09-23 06:12] KoradaRajesh commented on #4050
PLease mention here once it got updated.

[2020-09-23 06:46] apurva1112 commented on #4677
@Trinetra-MSFT Thanks for acknowledging, we are facing significant number of errors due to this.  Please keep us posed on updates regarding fixing of this bug.

[2020-09-23 08:39] #4724 closed

[2020-09-23 09:50] dipja opened #4801 "[Android][Rendering] [Rendering breaks when empty string is given in TextBlock]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
- [x] Android
- [x] iOS
- [x] WPF
- [x] UWP

# Author or host

MS Teams - @microsoft/teams

# Version of SDK

SDK version 2.1.0 (Adaptive card version 1.3)

# Details

The rendering of the container breaks when it has a TextBlock with an empty string in MS Teams. The same is observed in the android visualizer

[2020-09-23 11:24] sowrabh-msft commented on #4801
@shalinijoshi19 @dclaux We are facing this issue as we are upgrading to the latest SDK in Teams. Can you please triage and let us know how we can work around this.
FYI: @VikrantSingh01

[2020-09-23 17:36] matthidinger opened #4805 "JS builds are not publishing packages to internal feed"
The nightly NodeJS builds are failing to publish the packages to the internal package feed. It seems to a problem in the version concatenation:

**Actual version** in the pipeline: `adaptivecards-designer-1.2.0-ci.20.0.tgz`
**Expected version** should automatically append a date and/or build number, e.g.,: `adaptivecards-designer-1.2.0-ci.20.09.23.01.tgz`

[code]

https://dev.azure.com/microsoft/A

[2020-09-23 18:52] jwoo-msft commented on #4801
@sowrabh-msft this is fixed, and the fix will be in our next patch release which is scheduled for the end of this month.

[2020-09-23 19:23] jwoo-msft commented on #4788
@SunilsingRana
This behavior is due to the fact that the card has two required properties are missing. Could you please check with the background images, and they has URL?

We are going to make changes to the parsing unrelated to this issue, and the changes will allow cards to render even if a required properties are missed more than twice. Here is the screenshot with the change. The change will b

[2020-09-23 21:08] dclaux opened #4808 "[Designer] Switching to a host that supports a lower version of the AC schema shouldn't drop the unsupported constructs from the card payload unless the card is actually modified"
# Platform

* JavaScript (designer)

# Description

If a card using say AC v1.3 features is loaded, and the host container is switched to a host that supports say v1.0, the card is re-rendered without using v1.3-specific features, and warnings are emitted. Switching back to a host that does support v1.3 should restore the correct rendering of the card, but currently it doesn't, as the v1.3 feature

[2020-09-23 21:16] birix commented on #3054
any update?  I am implenet a chat bot in MSTeams, i need something like this.

[2020-09-23 21:19] RebeccaAnne commented on #4552
Per discussion, we will be putting the banner warnings on the website itself, not the individual cards. Updated the description above to remove checkboxes for individual warning cards.

[2020-09-24 03:50] shalinijoshi19 commented on #4796
(@BalajiR, @pragadeeshk, @Vasanth-S are you able to help out on this one at all? Thanks

[2020-09-24 04:19] gkode commented on #4796
Adding more information "My project is using typescript."  React Native version is 0.61.5

[2020-09-24 06:59] #4745 closed

[2020-09-24 08:48] scottlovegrove commented on #4297
Sorry for the delay. We're invoking the task from the message extension.

The card behaves as expected if we omit the empty column, it was only when I started adding the empty column that we saw this. Removing that column makes the card display correctly again.

[2020-09-24 12:53] shalinijoshi19 commented on #4801
@jwoo-msft can you reference the corresponding PR/issue number here for reference and close this out as a dup of that issue pls? thanks. Also to be clear it won't be a patch release but a minor _(2.x series)_ release out of main for the 1.3 artifacts (_we are only doing patches at this point to the 1.2.x series_)

[2020-09-24 12:56] shalinijoshi19 commented on #4797
@dclaux could you take a first stab at helping out with this one ? thanks !

[2020-09-24 13:03] shalinijoshi19 commented on #4788
@jwoo-msft go ahead and reference the specific issue/PR here for context to allow for eventual dup'ing here once @SunilsingRana gets back on this one!

Thanks!

[2020-09-24 13:05] shalinijoshi19 commented on #4786
@RebeccaAnne thoughts on this one here? Can we pick this one up for follow up in one of the design discussion meetings? thanks!

[2020-09-24 13:09] shalinijoshi19 commented on #4777
@priyakewlani18 can you pls share the card json you are trying to work with here ? Thanks!

[2020-09-24 13:10] shalinijoshi19 commented on #4773
@RebeccaAnne assigning this to you to drive. thanks

[2020-09-24 13:12] shalinijoshi19 commented on #4772
@priyakewlani18 can you please take a look at the Teams dev response above and follow up using the recommended support channel with repro steps etc? Thanks again!

[2020-09-24 13:12] #4772 closed

[2020-09-24 15:03] dclaux commented on #4797
The JS SDK does support non standard (custom) container styles. These must be defined in your **HostConfig** in the `containerStyles` section under the `customStyles` property.

This feature is **specific to the JS SDK**, is **not supported in other SDKs** and is **not supported by hosts such as Outlook or Teams**. Cards authored using custom styles will not rendered properly in those hosts.

[cod

[2020-09-24 15:07] scottlovegrove commented on #4797
Thanks for the info @dclaux.

Follow up question regarding this then. We are currently looking to use adaptive cards to extend our apps' UIs so that third parties can add their own integrations and UI to our products, if we were have our own style (eg, `overlay`), are you saying that this style can only be applied when using the javascript SDK? The android renderer won't allow for this? Similarly

[2020-09-24 15:08] scottlovegrove commented on #4797
Also, is this documented anywhere? I can't find any mention in the docs and possibly could have saved this issue being raised.

[2020-09-24 15:08] dclaux commented on #4797
@scottlovegrove that's correct

[2020-09-24 15:09] dclaux commented on #4797
And by the way, custom styles don't allow you to do everything you want - it's just a way to add more named styles, defined by its background color and associated font colors.

[2020-09-24 15:12] scottlovegrove commented on #4797
The scenario that has prompted this, it actually would have done. We were trying to get a semi-transparent background to overlay over a background image in order for some text to be more clearly read. I found that if I changed the style to `emphasis` and then set the emphasis' background to be a semi-transparent black color, this worked exactly as we needed.

That's a shame, as it means we won't b

[2020-09-24 15:13] scottlovegrove commented on #4797
We've resorted to using a small semi-transparent png and setting it to a background image with a repeating fillMode in order to achieve this, but would have been simpler to use a custom style
![image](https://user-images.githubusercontent.com/25244878/94164369-dfaac080-fe80-11ea-9a49-39451a1e703b.png)

[2020-09-24 15:19] dclaux commented on #4797
Indeed it would have worked for you.

It's not "missing" in the other SDKs, and there is no plan to add it. The reason is that since custom styles are specific to hosts there would be no guarantee for a card author that a certain custom style would be available in the host they target. This custom styles feature was added solely to the JS SDK to support an internal project.

How many custom styles

[2020-09-24 15:23] matthidinger opened #4810 "Input.ChoiceSet docs and placeholder updates"
# Platform

* Docs/website

# Details

Related #3885

1. We don't currently document the `placeholder` property on `Input.ChoiceSet`
2. We should also update the `value` description to explain how to use comma-separated values to specify multiple choice values

[2020-09-24 15:23] scottlovegrove commented on #4797
At the moment, yes, just the `overlay` style was needed. We could have just gone with the emphasis one, but we didn't feel comfortable overriding a standard style in this way, especially as our developers may want to use the emphasis one for what it's intended.

Definitely a shame there's no way to configure the other SDKs to allow custom styles, especially for anyone who, like us, are both the au

[2020-09-24 15:26] dclaux commented on #4797
@matthidinger FYI
@scottlovegrove I hear you. We'll discuss internally, but I wouldn't hold my breath...

[2020-09-24 18:01] RebeccaAnne opened #4812 "[UWP][Custom Input Validation Testing] Custom Input test doesn't handle validation scenarios"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

This issue tracks updating the test custom input to fully handle input validation.

[2020-09-24 19:12] almedina-ms opened #4814 "[UWP][Validation][Dev Experience] Error Messages when validating should show/hide automatically"
# Platform

* UWP

# Version of SDK

2.0 and 2.1

# Details

When a developer uses the IAdaptiveInputValue for implementing the Validate() method they have to set the ErrorMessage visibility manually which provides a confusing experience for developers having to implement this logic on their own similar to this:

[code]

[2020-09-24 21:50] #4812 closed

[2020-09-24 22:34] RebeccaAnne opened #4815 "[Accessibility] Speak improvements"
This request tracks improvements to our Speak/AltText story to aid accessibility

**What platform is your feature request related to? (Delete other platforms).**

All

**Is your feature request related to a problem? Please describe.**
- Accessibility bugs request narrator behavior that is not achievable given our existing schema and implementation. For example, the desire to read the [FlightDetail

[2020-09-24 23:14] almedina-ms commented on #4484
This has been fixed in version 2.0+, during one of our meetings it was decided to not backport this fix into 1.2

[2020-09-24 23:14] #4484 closed

[2020-09-24 23:15] almedina-ms commented on #4782
Sample matches the version 1.2 of the Container.Style.json card

[2020-09-24 23:15] #4782 closed

[2020-09-24 23:55] #4712 closed

[2020-09-25 06:53] Wajeed-msft commented on #3937
@sonu-create - Please re-open with required information.

[2020-09-25 06:53] #3937 closed

[2020-09-25 09:56] matthenning opened #4817 "[Feature Request] Add parameter to Action.HTTP to allow to call local URI"
I'm not sure whether this is the correct repository to request this feature, please correct me if I'm wrong here.

We're planning to use Teams Webhooks to send system alerts to our Ops team.
It would be great if we could acknowledge alerts right from Teams using Action.HTTP within an Adaptive Card, but like many Ops teams we don't have a publicly routed domain to reach our monitoring systems. It's

[2020-09-25 11:20] SubliemeSiem opened #4818 "[Javascript][Actions] [Execute ShowCardActions programmatically]"
# Platform

* JavaScript

# Version of SDK

npm 2.3.0

# Details

The ```execute``` function does not work on a ```ShowCardAction```. It does work on a ```SubmitAction```. I have not checked the other action types.

# Example

```card.getActionAt(0).execute()```
When the action at index 0 is a ```SubmitAction```, the action is triggered. If it is a ```ShowCardAction``` it is not.

I need this to r

[2020-09-25 11:27] ridwived-microsoft opened #4819 "[Azure Bot - Adaptive Card][Accessibility - No support for aria-label property for buttons with text only"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* JavaScript

# Author or host
Host, D365, Customer Service Workspace app

If you're an author, who are you sending cards to?
NA

# Version of SDK
1.3

# Details
We are from Dynamics 365 Knowledge Management Team.
We are using adaptive cards to show smart knowledge suggestions.

There is no way to specify the

[2020-09-25 11:29] ridwived-microsoft commented on #4819
Template for ref.
{
	"type": "AdaptiveCard",
	"version": "1.2",
	"body": [
		{
			"type": "Container",
			"items": [
				{
					"type": "ColumnSet",
					"columns": [
						{
							"type": "Column",
							"width": "stretch",
							"items": [
								{
									"type": "TextBlock",
									"text": "[${Title}](#)",
									"size": "Medium",
									"color": "Accent",
									"weight": "Bolder

[2020-09-25 11:34] ridwived-microsoft commented on #4685
Platform
What platform is your issue or question related to? (Delete other platforms).

JavaScript
Author or host
Host, D365, Customer Service Workspace app

If you're an author, who are you sending cards to?
NA

Version of SDK
1.3

Template for ref.
{
	"type": "AdaptiveCard",
	"version": "1.2",
	"body": [
		{
			"type": "Container",
			"items": [
				{
					"type": "ColumnSet",
					"columns": [

[2020-09-25 11:34] ridwived-microsoft commented on #4686
Platform
What platform is your issue or question related to? (Delete other platforms).

JavaScript
Author or host
Host, D365, Customer Service Workspace app

If you're an author, who are you sending cards to?
NA

Version of SDK
1.3

Template for ref.
{
	"type": "AdaptiveCard",
	"version": "1.2",
	"body": [
		{
			"type": "Container",
			"items": [
				{
					"type": "ColumnSet",
					"columns": [

[2020-09-25 13:50] pragadeeshk commented on #4796
@gkode Please post a code snippet of the import statements and AdaptiveCard component usage. The installation process is pretty much straight forward as mentioned in the [Readme](https://github.com/microsoft/AdaptiveCards/blob/main/source/community/reactnative/README.md). If you still face issue, I can assist you in setting it up.

[2020-09-25 18:01] jwoo-msft commented on #4119
@anbah34 as we have discussed. This is no repro. Please re-open the issue if this issue re-occurs.

[2020-09-25 18:01] #4119 closed

[2020-09-25 22:49] matthidinger commented on #4761
## Discussion 9/25/2020

1. Component lookup conventions
   1. Should we encapsulate the component name  in the `type` property or a separate fully-qualified a `name` property?
      1. **DECISION:** type will be `Component` only, use the `name` property as a fully-qualify the identifier of a component. See examples below for more.
   2. For scoping should we use (1) "namespaces" (like odata); (2)

[2020-09-25 23:39] jwoo-msft commented on #4483
Change for updating the designer is merged. Closing it per discussion.

[2020-09-25 23:39] #4483 closed

[2020-09-27 21:16] shalinijoshi19 commented on #4819
@dclaux are you looking into this one?

[2020-09-27 21:18] shalinijoshi19 commented on #4818
@dclaux could you take an initial first pass? thanks!

[2020-09-28 04:47] dipja opened #4829 "[Android][Adaptive card actions] [User inputs unavailable on click of any (custom) action except submit action]"
# Platform

What platform is your issue or question related to?

* Android

# Author or host

Microsoft Teams

# Version of SDK

Adaptive card SDK 2.1.0 (Adaptive card v1.3)

# Details

When there is click on the custom action button, we try to get the input values from the rendered card. Even if the user puts some value on the inputs in the card, these inputs are not retrieved.

To get the inputs

[2020-09-28 05:07] dipja opened #4830 "[Android][Input validation error] [Input validation error UX]"
# Platform

What platform is your issue or question related to?

* Android

# Author or host

Microsoft Teams

# Version of SDK

Adaptive card SDK 2.1.0 (Adaptive card v1.3)

# Details

When there is an input validation error on the card, the SDK adds an error message to the card and changes the background color of the EditText.

The SDK gets the drawable of the EditText and applies a color filter

[2020-09-28 05:08] TonyLi2013 opened #4831 "[.Net HTML][IgnoreDefaultStringEnumConverter] [NullReferenceException]"
# Platform
.NET HTML

# Version of SDK
NuGet 2.1.0

# Details
IgnoreDefaultStringEnumConverter class will throw NullReferenceException when the AdaptiveImageSize enum is null in JSON string with following code, please fix that.

`var json = "{\r\n  \"type\": \"AdaptiveCard\",\r\n  \"body\": [\r\n    {\r\n      \"columns\": [\r\n        {\r\n          \"width\": \"2.6\",\r\n          \"items\": [\r

[2020-09-28 05:58] dipja commented on #4829
@shalinijoshi19 @dclaux We are facing this issue as we are upgrading to the latest SDK in Teams. Can you please triage and let us know how we can work around this.
FYI: @sowrabh-msft @VikrantSingh01

[2020-09-28 05:59] dipja commented on #4830
@shalinijoshi19 @dclaux We are facing this issue as we are upgrading to the latest SDK in Teams. Can you please triage and let us know how we can work around this.
FYI: @sowrabh-msft @VikrantSingh01

[2020-09-28 08:34] adumrewal opened #4832 "[iOS][Image - repeatHorizontally] [Parity issue: iOS requires minimum height to render background image]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams iOS Client

# Version of SDK

1.2.10

# Details

On iOS if minHeight for Container is not defined, backgroundImage with fillMode "RepeatHorizontally" fails to render. However Android/Web render the card correctly.
PFA sample card json and screenshots:
iOS:
![Screenshot 2

[2020-09-28 09:47] Trinetra-MSFT commented on #4663
@priyakewlani18, We have opened a Bug for this issue. We will be tracking it internally.

[2020-09-28 17:47] jwoo-msft opened #4834 "[All][Consistency] Parsing String Should Not Throw Exception"
**What platform is your feature request related to? (Delete other platforms).**

- [ ] .NET HTML
- [ ] .NET WPF
- [ ] Android
- [ ] iOS
- [ ] JavaScript
- [ ] UWP

Parsing string is used extensively in AdaptiveCards. Update parsing behaviors such that exception is not thrown when empty or null value is given for string even when the property for the string is "required". For example, If value for

[2020-09-28 18:18] jyoti-ms opened #4835 "[iOS][Input validation] [Card UX issue : when error message is displayed on the card on button click]"
# Platform

What platform is your issue or question related to?

* iOS

# Author or host

Host - Teams iOS Client

# Version of SDK

SDK 2.1.0 (Adaptive card v1.3)

# Details

An error message is shown on the card when input validation check is not passed on submit button click.

SDK `send` method is not triggering any `onClick` event to the client whenever input validation failed and error messag

[2020-09-28 19:52] #4818 closed

[2020-09-28 19:52] jwoo-msft opened #4837 "[All][Consistency] Parsing Array Should Not Throw Exceptions"
# Platform

- [ ] .NET HTML
- [ ] .NET WPF
- [ ]  Android
- [ ]  iOS
- [ ] JavaScript
- [ ] UWP

# Details
Similar to #4834. If #4834 focused on string parsing. This issue focuses on parsing Array. When json array is parsed, and it is part of the required properties of AdaptiveCards, the parsers should not throw, but log parse error. Renderers should also make sure the adaptive elements with missi

[2020-09-28 20:48] jyoti-ms opened #4838 "[iOS][Input Evolution] [input validation error messages enabled on the card sent by bot]"
# Platform

What platform is your issue or question related to?

* iOS

# Author or host

Host - Teams iOS Client

# Version of SDK

SDK 2.1.0 (Adaptive card v1.3)

# Details

When card is sent by the bot for the first time then error messages are enabled by default and are not visible completely.

Also, an unknown string "Error Massage" is added for inputs even if that is not present in the card

[2020-09-28 20:59] jyoti-ms opened #4839 "[iOS][input validation error] [UX issue : Input view styling on validation error]"
# Platform

What platform is your issue or question related to?

* iOS

# Author or host

Host - Teams iOS Client

# Version of SDK

SDK 2.1.0 (Adaptive card v1.3)

# Details

When there is an input validation error message on the card, the SDK adds the border and changes the border colour of the inputView.

The SDK gets the inputView from the input stack and applies a colour filter to it assuming

[2020-09-28 21:01] jyoti-ms commented on #4839
@shalinijoshi19 @dclaux @jwoo-msft  We are facing this issue as we are upgrading to the latest SDK in Teams. Can you please triage and let us know how we can work around this.
FYI: @sowrabh-msft @VikrantSingh01

[2020-09-28 21:02] jyoti-ms commented on #4838
@shalinijoshi19 @dclaux @jwoo-msft  We are facing this issue as we are upgrading to the latest SDK in Teams. Can you please triage and let us know how we can work around this.
FYI: @sowrabh-msft @VikrantSingh01

[2020-09-28 21:02] jyoti-ms commented on #4835
@shalinijoshi19 @dclaux @jwoo-msft  We are facing this issue as we are upgrading to the latest SDK in Teams. Can you please triage and let us know how we can work around this.
FYI: @sowrabh-msft @VikrantSingh01

[2020-09-28 21:54] jwoo-msft opened #4841 "[WPF][Inconsistency] [Input.ChoiceSet Placeholder]"
# Platform

- [ ] WPF
- [x] WPF Xceed (#5231)
- [ ] WPF HTML

# Details
Fix #3885 for WPF & WPF HTML

[2020-09-29 00:06] #4575 closed

[2020-09-29 05:27] #4136 closed

[2020-09-29 05:27] #4305 closed

[2020-09-29 05:28] #4478 closed

[2020-09-29 05:29] #3949 closed

[2020-09-29 05:29] #4801 closed

[2020-09-29 05:30] #4788 closed

[2020-09-29 06:09] prasannawatson commented on #3890
Hi Support Team,

I am facing the problem while integration the adaptive card in the Webex Teams Integration.

Word is not wrapped when the word doesn’t come with a space character in the sentence. It wraps only when the sentence contains space. I have attached the example screen-shot here.
[desktop View](https://cxnext.blob.core.windows.net/prasanna/n.jpg)

In the Mobile View:
[Mobile View Screen

[2020-09-29 08:05] BalajiR commented on #4796
@gkode , Tried to reproduce the issue you mentioned, but able to see the sample card rendered. Could be please share the error details (+ screenshots) like Is it happening during dependency addition / launching the JS bundler / while running in emulator ?
I followed the below steps with same config you shared.

![4796](https://user-images.githubusercontent.com/462275/94530007-16555200-0258-11eb-8f

[2020-09-29 08:12] MikeAinOz opened #4842 "[JavaScript][Localization] [Not Rendering dd/MM/yyyy correctly]"
# Platform
* JavaScript

# host

Web Page

# Version of SDK
   "adaptivecards": "^2.3.0",
    "adaptivecards-templating": "^1.3.0"

# Details

Hi There, I checked this of stack overflow and didn't receive a quality answer.

If I have a Date like this:      date: "2020-09-30T00:00:00.000Z"
and format like this:           "text": "Date is ${formatDateTime(date, 'dd/MM/yyyy')}"
I get this rendered: D

[2020-09-29 09:19] adumrewal opened #4843 "[iOS][Issue with isVisibility] [isVisibility for an item in Container gets imposed on other items]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams iOS Client

# Version of SDK

1.2.10

# Details

If isVisibility is set to false for one item in a container, all following items in container are not visible
PFA a sample JSON and screenshots to help understand the issue better.
iOS:
<img width="339" alt="Screenshot 202

[2020-09-29 13:46] SagarPant74 opened #4844 "[iOS][MS-Teams] If there is no select action on the image, then the select action from the superview should be passed onto the subview image."
# Platform

What platform is your issue or question related to? (Delete other platforms).
**iOS**
# Author or host

MS-Teams iOS client

If you're an author, who are you sending cards to?

# Version of SDK

1.2.10

# Details

Explain your issue. If you just have a question, please post [on StackOverflow instead](https://stackoverflow.com/questions/tagged/adaptive-cards).

In case of an adaptive ca

[2020-09-29 13:55] dharma-reddy opened #4845 "[Javascript] After Using Adaptive Card Fabric Plugin - Radio buttons are displaying instead of dropdown"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Version of SDK

latest

# Details
Radio buttons are loading instead of dropdown.
**Before using Adaptive Card Fabric Plugin. Please see the screenshot of my dialog with dropdown**

![image](https://user-images.githubusercontent.com/16010724/94567613-49fca000-0289-11eb-9ea3-3747169a597f.png)

[2020-09-29 18:38] paulcam206 opened #4847 "[JS] Markdown headings clipped"
Using markdown to generate headings leads to clipped text.

Sample:
[code]

Here's what it looks like in the designer (note that this repros across hostconfigs regardless of whether in preview mode or not):

![image](https://user-images.githubusercontent.com/16614499/94601331-34b35180-0248-11eb-994b-7f6812ad2009.png)

[2020-09-29 18:42] paulcam206 commented on #4847
It appears that this is due to the `line-height` property. I'm guessing this calculation doesn't account for the possibility of header tags?

https://github.com/microsoft/AdaptiveCards/blob/e736ed7dfca1949ac76a499e205b2d61997d7a65/source/nodejs/adaptivecards/src/card-elements.ts#L1077-L1104

[2020-09-29 18:58] BalajiR commented on #4842
@MikeAinOz ,
`formatDateTime` function return the **timestamp** for the given locale.
Can you try the below for formatting ?
[code]
where dateInput is "2020-09-30T00:00:00.000Z"

[2020-09-29 19:20] #4721 closed

[2020-09-29 19:46] #4810 closed

[2020-09-29 19:47] #3885 closed

[2020-09-29 21:40] jwoo-msft commented on #4838
Hi @jyoti-ms,

I tried your payload, and it is not reproducible on the sample app. The logic for the visibility of error message is straightforward. The message is hidden initially,  When send event is triggered, the validation logic happens, then the visibility will get changed if necessary.

I would suggest to check first that send event of ACRAggregateTarget was not triggered when the card is r

[2020-09-29 21:44] jwoo-msft commented on #4835
@jyoti-ms As we have discussed, SDK will send layout change notification.

[2020-09-29 22:28] #4770 closed

[2020-09-29 23:11] MikeAinOz commented on #4842
Hi There, I've applied the change to the project and published it here https://github.com/MikeAinOz/ViewAC/tree/master
I got this output 'Date is {{DATE( )}}'. which is consistent with two things:
1/ No Format, No Date
2/ That DATE function is not working for me, I assume I am a library missing, and I have to admit, I'm not to clear on the function of the double '{}', so I assume it's some sort of

[2020-09-30 01:51] jwoo-msft commented on #4832
@adumrewal
![image](https://user-images.githubusercontent.com/4112696/94634295-824daf80-0284-11eb-9ebf-5c975bff2619.png)

Is your payload correct?
I tested it with main branch, and it doesn't look different.

Thanks

[2020-09-30 01:52] jwoo-msft commented on #4843
@adumrewal

Thanks, I can repro it on my end.

[2020-09-30 01:54] jwoo-msft commented on #4844
@SagarPant74
thanks for the detailed description of the issue.
If this is urgent, could you please work with @anbah34 to include this issue for 20.10?

Thanks

[2020-09-30 05:52] jyoti-ms commented on #4835
Thanks @jwoo-msft. yes, sending layout change notification on button click should work.

[2020-09-30 15:20] ranjanraviraj commented on #4789
@shalinijoshi19  @almedina-ms  I was testing some of the features and it seems few more Adaptive cards are getting blank. If you want I can send adaptive card data. Just to let you know all these cards are working fine for version 1.2.9  last version I was using but not in 2.1.0 recently updated in our code base.

[2020-09-30 15:46] atishayv opened #4855 "[Javascript] Adaptive card doesn't works in IE"
# Platform

* JavaScript

# Author or host

Microsoft Search

# Version of SDK

 adaptivecards: 2.0.0-rc.0
 adaptivecards-templating: 1.0.0-rc.0

# Details

The version of adaptive card doesn't works in IE. The script of adaptive card template contains many occurrences of =>, using the arrow function syntax, which indicates that there’s es2015 code in there that hasn’t been passed through babel to

[2020-09-30 15:47] atishayv commented on #4855
@dclaux Can you please look into the issue ?

[2020-09-30 15:57] dclaux commented on #4855
@atishayv the 1.0 release of the templating engine (including this RC, which is now outdated, please use v1.3) uses the [Adaptive Expression](https://www.npmjs.com/package/adaptive-expressions) library which compiles to ES6 and isn't compatible with IE and no plans to make it compatible. IE isn't supported anymore; how problematic is this to you?

[2020-09-30 16:04] atishayv commented on #4855
@dclaux We will not be able to support any of customisation features on IE which I think might be blocking for us. Let me loop in Jai and Jyoti as well here

[2020-09-30 16:05] dclaux commented on #4855
@matthidinger FYI

[2020-09-30 16:59] ridwived-microsoft opened #4856 "[Accessibility] Narrator is not reading the selection action title for the Rich Text Block"
# Platforms

- [x] JavaScript (#4857)
- [x] .NET (#5295)
- [x] UWP (Already behaves as expected)

See also #5310 and #5311

# Author or host
Host, D365, Customer Service Workspace app

# Version of SDK
1.3

# Repro
With the below RichTextBlock, Narrator should read "Click me" when the focus is on the RichTextBlock, but it reads "This is the text"
[code]

[2020-09-30 17:01] ridwived-microsoft commented on #4856
The narrator is expected to read the 'title' property on the selection action rather than the 'text' property of the text run in the rich text block

[2020-09-30 17:49] BalajiR commented on #4842
Hi Mike,
Seems format of the date input needs to be given for proper date formatting.
I have tried the ViewAC example and the date is formatted as expected with the inclusion of input format
**yyyy-MM-ddTHH:mm:ssZ**

`// input : dateInput: "2020-09-30T00:00:00.000Z"`
`"text": "Date is {{DATE(${formatDateTime(dateInput, 'yyyy-MM-ddTHH:mm:ssZ' )})}}",`
`// output : Date is 30/09/2020`

[2020-09-30 20:54] #4835 closed

[2020-09-30 21:49] RebeccaAnne opened #4861 "[.NET] InputForm.json not collecting inputs"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Version of SDK

Repros in release/20.09 and release/20.08 but not release/20.07

# Details

When pressing the Submit button on [InputForm.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Scenarios/InputForm.json) the inputs are not collected:

![image](https://user-images

[2020-09-30 21:55] golddove opened #4862 "[UWP] Multi-line text input not wrapping"
# Platform

* UWP

# Version of SDK

latest main

# Details

JS renderer wraps long text when typing in a multiline text input. UWP renderer doesn't wrap.

Screenshot from `Inputs` scenario:

JS -

![image](https://user-images.githubusercontent.com/4442788/94960009-23747a00-04c0-11eb-8b32-ebc717c0a206.png)

UWP -

![image](https://user-images.githubusercontent.com/4442788/94743859-0e73db80-0346-11

[2020-09-30 21:57] golddove opened #4863 "[UWP] False-positive errors and warnings in visualizer"
# Platform

* UWP

# Version of SDK

latest main

# Details

Three issues to fix, described below:

- [ ] FlightDetails
- [x] Agenda (#4886)
- [ ] Inputs

Visualizer surfaces an error for the `FlightDetails` scenario, but card does render.

![image](https://user-images.githubusercontent.com/4442788/94744059-63afed00-0346-11eb-8cf0-f0370790725b.png)

Likely related, `Agenda` scenario triggers a war

[2020-09-30 23:13] #4861 closed

[2020-09-30 23:20] MikeAinOz commented on #4842
Hi Balaji,
   Thanks for the feedback, I have removed those fractional seconds from my project and the DATE function works much better now.  I don't think I have data with fractional seconds, it's obviously a bit of a trap but I don't need to double-wrap the functions if I format my test data correctly!
I've updated the project to use all three date formating methods. I've also tested with Edge an

[2020-09-30 23:33] MikeAinOz commented on #4842
Balaji,
   Just to give you an update I have updated my Edge browser setting to use Australian English as the language and this now formats correctly for "Date is {{DATE(${dateInput})}}". I still think the behaviour of "Date is ${formatDateTime(dateInput, 'dd/MM/yyyy' )}" is buggy, but, hey does it really matter? Maybe not :-), let's move on!

Regards
Mike

[2020-09-30 23:47] dclaux commented on #3924
@siduppal here is the latest, taking into consideration the group chat we had separately.

## AC Payload
We would extend the existing Input.ChoiceSet as follows:
[code]

The contract here is:
- The static `choices` property holds the default, built-in choices that can be shown immediately to the end user
- If `choicesSource` is specified, it MUST be an object of type "Data.Query" (see notes below)

[2020-10-01 01:02] jwoo-msft commented on #4839
Fixed via https://github.com/microsoft/AdaptiveCards/pull/4853
Please see https://github.com/microsoft/AdaptiveCards/pull/4852 for the usage.

[2020-10-01 01:02] #4839 closed

[2020-10-01 10:32] atishayv commented on #4781
@dclaux Sorry for the late response on this. Not sure how I missed it.
The issue is, we type json in a sample data editor of layout designer and we give the same json to the adaptive card library as well. So, lets consider the json is something like :
[code]
And we give the same value to $data when calling the adaptive card library.

In designer, we do something like this to get the $data value fr

[2020-10-01 16:37] dclaux commented on #4781
Please bear with me as I make sure I understand what you're saying. Essentially, you want your `$data` to be something along those lines:
[code]
So essentially, the `message` property represents JSON expressed as a string. Correct?

If so, then again I can't see what's not working as expected. Here is a super simple example I put together in the designer:
![image](https://user-images.githubusercon

[2020-10-01 19:32] JamyDev commented on #3924
@dclaux Couple notes on your proposal:

- `choices` and `dynamicChoices`, instead of `choicesSource` maybe?
- `Data.Query` is a completely new type, right? If so, would it make sense to keep it consistent with the other actions and name it `Action.Query`? This way we can also define a consistent way to do query in other locations.
- Having the `searchField` property might be a little too verbose,

[2020-10-01 19:48] dclaux commented on #3924
@JamyDev  thanks for your comments. Let me try to address:
- At this point all the names I'm proposing are up for debate. We are really more interested in finalizing the model to start with. So `dynamicChoices` is not out of the question. The reason for `choicesSource` though is that it is consistent with the way XAML does things
- Interesting that you'd say this - Using "Action." is my preference

[2020-10-02 03:05] EricDahlvang commented on #4666
I'm unable to repeat the bug.  I used the following code:

[code]

Using this sample: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/07.using-adaptive-cards

[code]

@crow131 can you share a repro project?

[2020-10-02 04:06] EricDahlvang commented on #4755
Unfortunately, I don't think the Bot Framework SDK currently supports Adaptive Cards 1.3:
https://docs.microsoft.com/en-us/adaptive-cards/resources/partners

However, I have not fully tracked down what the issue might be with .lg here.  @Oliverqqqq  can you share a small repro project?

[2020-10-02 16:06] shalinijoshi19 commented on #4842
@dclaux / @BalajiR one last look at the issue above before we close this out? Thanks

[2020-10-02 16:08] shalinijoshi19 commented on #4862
@golddove can you be a bit more explicit/descriptive in your title as to what the issue here is ? And in teh description pls include a description or visual representation of what the actual and expected behavior is. Thanks

[2020-10-02 16:09] shalinijoshi19 commented on #4863
@RebeccaAnne moved this to our backlog - are tehse coming from the Visualizer or the UWP renderer itself?

[2020-10-02 16:11] shalinijoshi19 commented on #4856
@dclaux can you add a quick summary here of the changes you are making as part of addressing this? Thanks

[2020-10-02 16:20] shalinijoshi19 commented on #4855
@atishayv as @dclaux points out [IE 11 is deprecated in general](https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666)  and will soon be stopped supporting across various Microsoft products as well; Adding support for new features to work on IE seems therefore a bit unexpected. Would be great if you or your team could sh

[2020-10-02 16:22] shalinijoshi19 commented on #4845
@paulcam206 who is investigating this one? I dont see this assigned to anyone?

[2020-10-02 16:39] shalinijoshi19 commented on #4844
@jwoo-msft assigning to you for pickup.

[2020-10-02 16:51] atishayv commented on #4781
Thanks @dclaux for the detailed info. I am not able to reproduce this now. I am not sure which version(probably rc) of library I was using which was causing it.

I am closing this for now. Will follow up on this thread if I am able to reproduce this.

[2020-10-02 16:51] #4781 closed

[2020-10-02 17:19] dclaux commented on #4842
I agree that `formatDateTime(<date>, 'dd/MM/yyyy)` should produce "dd/MM/yyy" and not "dd:MM:yyyy". This would be an Adaptive Expression issue though.

{{DATE}} uses the system's (browser's) locale settings to generate date/time strings in the user's selected locale.

[2020-10-02 17:33] dclaux commented on #4856
@shalinijoshi19 the change I am making is in the title of the PR: "Use TextRun.selectAction.title as aria-label"

[2020-10-02 18:01] stevengum commented on #4842
I'm sorry you ran into this issue @MikeAinOz. microsoft/botbuilder-js#2864 has been filed to track this issue for the fix in the `adaptive-expressions` package.

[2020-10-02 19:01] golddove commented on #4862
Added screenshot of expected behavior.

[2020-10-02 21:12] JustinBlock opened #4875 "[iOS][Package Manager] Add Swift Package Manager support"
**What platform is your feature request related to? (Delete other platforms).**
* iOS

**Is your feature request related to a problem? Please describe.**
I use Carthage for downloading your package on iOS but development support is dwindling in favor of Swift Package Manager. Nearly all frameworks are moving to Swift Package Manager since it is fully supported by Apple.

**Describe the solution yo

[2020-10-03 21:08] MikeAinOz commented on #4842
Thanks Steven,
    I will keep my eye on it, the format dd/MM/yy is important to some people as well.
Regards - Mike
________________________________
From: Steven Gum <notifications@github.com>
Sent: Saturday, 3 October 2020 4:01 AM
To: microsoft/AdaptiveCards <AdaptiveCards@noreply.github.com>
Cc: Mike Allen <mike@mikeallen.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/Ada

[2020-10-04 12:25] Anandsharmak opened #4877 "[Android][Junit Failure] [Junit Fails for TimeFormatting Test function]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Android

# Author or host

This issue happened inside the android application for adaptive cards

# Version of SDK

latest main

# Details

Junit fails for TimeFormatting Test function. As in DateFormat some phones return Uppercase AM,PM whereas some return am, pm. And the assert is only against Uppercase A

[2020-10-04 12:31] Anandsharmak commented on #4877
Can you assign this issue to me !

[2020-10-05 16:19] golddove commented on #4519
Likely related to #4687

[2020-10-05 16:22] golddove commented on #4711
Blocked on #4477

[2020-10-05 16:25] golddove commented on #4711
Because migrating to AndroidX would be a breaking change, we need to confirm with our partners that they are not using the deprecated support libraries.

[2020-10-05 16:33] golddove commented on #4768
@dclaux to clarify, I wasn't suggesting to remove placeholder support. This is to modify the default element generated by the designer when creating a new input. By default, we should use the recommended property.

If there is concern about hosts not yet supporting 1.3, then this change can wait along with #4612.

[2020-10-05 17:05] RebeccaAnne commented on #4863
For the FlightDetails card:

The error is coming out of schema validation (performed by the Visualizer via Newtonsoft.Json.Schema.IsValid()). Simplest repro card below. Doesn't repro for some reason if the `wrap = true` is removed.

[code]

[2020-10-05 17:27] dclaux commented on #4768
@golddove got it, it makes sense. When we do this we should also have the designer set the `label` property to a default value.

[2020-10-05 17:31] paulcam206 opened #4879 "[Site] Schema needs to be updated on the site"
Although we've updated the current schema to the 1.3.0 version of the schema with #4884, this issue tracks whether we wish to revisit how we handle schema versioning.

Looks like this will require a bit more planning -- specifically, the currently published schema is our 1.3.0 schema. Should newer schemas are published at versioned URLs (e.g. https://adaptivecards.io/schemas/1.4.0/adaptive-card.js

[2020-10-05 17:31] RebeccaAnne commented on #4863
For the Agenda card the message is also coming out of Schema validation. In that case there's a more obvious source. Horizontal Alignment is not in the schema for ColumnSet.  Simplest repro card:

[code]

[2020-10-05 17:34] dipja opened #4880 "[User Experience] [Input validation errors] Lack of feedback after submission on Input Card with error"
# Platform

What platform is your issue or question related to?

All

# Author or host

Microsoft Teams

# Version of SDK

SDK version 2.1.0 (ACv1.3)

# Details
If action is taken on card for the subsequent time when errors are already showing on Adaptive Card, no change takes place on card. This could confuse the user that the card has frozen and nothing is happening. One way could be that error

[2020-10-05 17:34] dipja opened #4881 "[Android][Accessibility] [Input validation errors]"
# Platform

What platform is your issue or question related to?
* Android

# Author or host

Microsoft Teams

# Version of SDK

SDK version 2.1.0 (ACv1.3)

# Details

When the choiceset/toggle input is not the first input field with the error, no highlight (eg: red highlight in other input types) is applied to the input field. Only the associated error is displayed. Could we confirm if this is the

[2020-10-05 17:40] RebeccaAnne commented on #4863
The Inputs.json issue is a legitimate warning. The number input has a min/max but no error message (#4447), and min/max now triggers input validation. We should update this when we update the scenario cards for input validation. (#4552/#4612).

[code]

[2020-10-05 18:24] sowrabh commented on #3924
Thanks @dclaux.  Overall, the proposal looks good to me. Few queries I have on the proposal -
1. Reg. `searchField` - In case of directory search, as I understand, the search matching is fuzzy and not really a single field that's searched. Is there a strong need for `searchField`, since it's being specified by the bot anyway in the first place? Instead can we have some parameters (like we have `ve

[2020-10-05 18:31] RebeccaAnne commented on #4448
Moving into the current milestone to address the inconsistency. This currently returns a warning for JavaScript (#4451), iOS (#4450) and UWP (#4447) but not Android (this bug) and .NET (#4449).

[2020-10-05 18:31] RebeccaAnne commented on #4449
Moving into the current milestone to address the inconsistency. This currently returns a warning for JavaScript (#4451), iOS (#4450) and UWP (#4447) but not Android (#4448) and .NET (this bug).

[2020-10-05 18:34] RebeccaAnne commented on #4448
@almedina-ms @golddove Could one of you pick up this bug to fix? Thanks!

[2020-10-05 19:02] RebeccaAnne opened #4882 "[.NET] Input.Number inputs are displaying as "NaN" when no value is set using non-Xceed renderers"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details

The below card renderers with "NaN" in .NET when Xceed Renderes are not in use:

![image](https://user-images.githubusercontent.com/9091833/95120585-a5ec7c00-0702-11eb-90e3-cfa20ae4995e.png)

[code]

[2020-10-05 19:10] paulcam206 commented on #4879
@matthidinger / @dclaux / @shalinijoshi19 FYI

[2020-10-05 19:31] almedina-ms commented on #4877
Hi @Anandsharmak

Thank you so much for raising this issue and submitting a fix, do you know if the AM/am issue happens because of the language the phone has, the android version or is it just an issue regarding different phone brands?

[2020-10-05 21:29] ccdev1205 opened #4883 "[MS Teams][Adaptive Cards Action.ToggleVisibility in Dark Theme] [Other action buttons turns white when Action.ToggleVisibility is clicked in Dark Theme MS Teams]"
[MS Teams][Desktop App]
[Adaptive Cards 1.2]

# Platform
Javascript

# Version of SDK
* AdaptiveCards 2.1.0
* AdaptiveCards.Templating 1.1.0
* AdaptiveExpressions 4.10.3
* Microsoft.Bot.Builder 4.10.3

# Details

When in Dark Theme, clicking a button Action.ToggleVisibility turns the background for other buttons to semitransparent white.

![image](https://user-images.githubusercontent.com/72416404

[2020-10-05 21:29] paulcam206 opened #4884 "[Site] Update unversioned schema file on site"
https://github.com/microsoft/AdaptiveCards/blob/7bfd4d1def2ca47cecaa6950e354574bbd6beff0/source/nodejs/adaptivecards-site/themes/adaptivecards/scripts/generator-adaptiveassets.js#L39-L44

We need further discussion about how to handle schema versioning all-up. We'll be tracking that discussion in #4879.

[2020-10-06 12:17] Anandsharmak commented on #4877
I was using samsung phone for the junit , samsung uses its own framework maybe that might be the reason or it might be location based.