[2020-05-28 17:56] arman-g commented on #3991
@jwoo-msft Hi, you are right it is not a templating issue. I am not sure under what category this bug should go. Can you please change the category where it belongs to and set it as an open issue since this is still an issue.

[2020-05-28 23:54] kdll commented on #3740
+1 on this
If anyone knows how to send them via other methods, let me know!

[2020-05-29 01:52] zjw7sky commented on #4060
json size 50 * 50
image size 300 * 300
imageView size 300 * 300
What i want is 50 * 50

[2020-05-29 19:49] Stevenic opened #4086 "[Schema Explorer] can't scroll left hand nave bar on chrome"
# Platform

Chrome

# Details

You can't access all of the links in the left hand nav bar on chrome because there's no scroll bar.

[2020-05-29 19:51] paulcam206 commented on #4086
Interesting -- can you post a screenshot and more details (device, chrome version, etc.)?

I'm not able to repro this locally.

[2020-05-29 19:53] matthidinger commented on #4086
HI Steve, I'm also unable to repro this. What's your viewport dimensions and screen resolution?

![image](https://user-images.githubusercontent.com/1432195/83299550-3fcb7780-a1ab-11ea-96bc-f07754e8c4db.png)

[2020-06-01 18:04] jwoo-msft commented on #4060
@zjw7sky,

please check [here](https://adaptivecards.io/explorer/Image.html)
Image size is a configurable property.

[2020-06-01 19:18] atjohns2 opened #4087 "[.NET][Templating] Repeatable items not rendering in Emulator or Web Chat"
This renders properly in the adaptive card designer but shows null for values and doesn't iterate in objects.

Template:
[code]

Data Object:
[code]

[2020-06-01 19:27] dclaux commented on #4087
Have you clicked the "Preview mode" button? By default, in non preview mode, the designer cannot iterate.

[2020-06-01 19:38] atjohns2 commented on #4087
Yes, designer works fine and I can see the iterations when I click 'Preview mode'. It's when its actual being used in Web Chat and the Emulator where it doesn't seem to be mapping or iterating.

[2020-06-01 19:46] jwoo-msft commented on #4087
@atjohns2 do Web Chat and the Emulator use .Net version of template library? Do you know what version of the library they are using?
[The latest version of .net template library](https://www.nuget.org/packages/AdaptiveCards.Templating/1.0.0-rc.0) works fine.
![image](https://user-images.githubusercontent.com/4112696/83447679-a5b33b80-a405-11ea-97bf-22939b40cccb.png)

[2020-06-01 19:55] atjohns2 commented on #4087
Ok, yes that was definitely a problem. I did not have the template library installed (strange that it was largely working without it previously).

I'm using a .lg template file and feeding it through a template engine like so...

[code]

Is that approach still correct or am I using an antiquated way of rendering in .NET?

[2020-06-01 20:01] jwoo-msft commented on #4087
@atjohns2 I don't know much about bot framework.
@dclaux @matthidinger Could you please respond to @atjohns2's comment?

[2020-06-01 20:04] atjohns2 commented on #4087
I see now that there is apparently a completely new way of presenting these cards with the templating language. I was using the Virtual Assistant template which has not been updated it appears to work with the newest way of doing adaptive cards.

I will close this issue. Sorry for the confusion.

[2020-06-01 20:04] #4087 closed

[2020-06-02 05:25] zjw7sky commented on #4060
👌
 Thank you

[2020-06-02 05:25] #4060 closed

[2020-06-02 11:02] Raghavva-245 commented on #2924
@tposzytek i'm also having same issue in my environment. can you please let me know how i can fix that?

![image](https://user-images.githubusercontent.com/66309003/83512952-98925d00-a496-11ea-8133-69b851d75eb7.png)

[2020-06-02 11:44] cscheffauer commented on #3740
+1 on this as well!

[2020-06-02 12:02] tposzytek commented on #2924
Hi @Raghavva-245 - so there is no solution for this action. Switch to using "Post an Adaptive Card to Microsoft Teams channel and wait for response" to be able to get back the submitted form. With the previous action: "Post your own Adaptive Card to Microsoft Teams channel" it will not work.

[2020-06-02 13:10] Raghavva-245 commented on #2924
@tposzytek - where do we change those options? actually i am using Microsoft Forms in Teams, using that i have created a Poll in one of my Teams channel. so when participants are submitting the polls they are getting the error "Unable to Reach App, Please try again".

[2020-06-02 23:34] arman-g commented on #3991
Was this fixed? I don't see the issue in the [Adaptive Cards Designer](https://adaptivecards.io/designer/) now. What version is Adaptive Cards Designer running?

[2020-06-03 00:09] arman-g opened #4091 "[.Net][Rendering] Input.Number initial value is not set"
# Platform

* .NET

# Version of SDK

NuGet 1.2.4

# Details

I am not able to set the initial value of an `AdaptiveNumberInput` field. When I set its Value field to a number it will not be shown in the input box for Bot Framework Emulator and WebChat (see the image below). The JSON does have the value but it is not rendered. `AdaptiveTextInput` does not have this problem.
I do remember this issue

[2020-06-03 00:18] dclaux opened #4092 "[TS][Designer] Setting "Subtle" on TextBLock has no effect"
# Platform
* JavaScript - designer

# Version of SDK

2.0 RC

# Details

Selecting the "Subtle" checkbox on a TextBLock has no effect.

[2020-06-03 00:20] dclaux opened #4093 "[TS][Designer] Container "style" property cannot be bound to data"
# Platform

* JavaScript - designer
* UWP

# Author

# Version of SDK

2.0 RC

# Details

It is not possible to bind the "style" property of a container in the JSON editor. Writing
[code]
has no effect even if the `myStyle` property exists and is valid in the data context.

[2020-06-03 07:28] janandreschweiger opened #4096 "Choiceset cannot be closed after Card-Update in MS-Teams"
Hello, we have developed an MS-Teams chat bot.
This issue seems at first insignificant, but is extremely annoying to our clients.

**The problem:**
1. The user opens up a Choiceset.
2. We update his card.
3. The old Choiceset is still open and cannot be closed.

**Example**
![Screenshot from 2020-06-03 09-13-06](https://user-images.githubusercontent.com/44372046/83606888-96a1ca00-a57a-11ea-8d84-e8

[2020-06-03 09:18] mokandre opened #4097 "[JS] Multiline Input.Text elements should stretch when height is set to stretch"
# Platform
Javascript

See also #5346 (UWP), #5347 (.NET), #5348 (iOS), and #5349 (Android)

# Author or host

Rendering in Webex teams

# Version of SDK

1.2.0

# Details

According to the [Adaptive Card Schema explorer](https://adaptivecards.io/explorer/Input.Text.html) when Input.Text has the inherited "height" attribute set to "stretch" the behavior should be "The container will stretch its he

[2020-06-03 12:50] geckgecko commented on #4096
I have experienced this issue a month ago. I could not find a workaround.
A bug-fix would be nice...

[2020-06-03 15:43] #4054 closed

[2020-06-03 15:50] shalinijoshi19 commented on #4030
@VikrantSingh01 / @ojasvichoudhary ideas on this scenario? @jwoo-msft FYI.

[2020-06-03 15:57] shalinijoshi19 commented on #4031
Hey @mindmodel I tried to repro this on our [designer](https://adaptivecards.io/designer) tool with your sample json below from the stackoverflow linked above but don't observe the clipping appear?

![image](https://user-images.githubusercontent.com/20822397/83659231-1e3a0980-a578-11ea-8c56-a0a37808f6dc.png)

@dclaux / @ckkashyap  thoughts on this one?

`{
      "$schema": "http://adaptivecards.io

[2020-06-03 16:11] shalinijoshi19 commented on #4032
@ckkashyap what does the webchat rendering flow look like here esp on mobile platforms? Is the AdaptiveCards' iOS renderer kicking in here at all or is it all still web and an apparent Safari quirk that Adam's running into ?
@jwoo-msft are you able to try looking at this repro page (https://dnctestbot.z13.web.core.windows.net/) on iOS to offer some insights too? Repro steps and bot trigger instruc

[2020-06-03 16:15] golddove opened #4103 "[Android][Tooling] Bundle sample cards w/ app"
# Platform

* Android

# Version of SDK

master

# Details

Bundle sample scenario cards w/ Android visualizer apk, and let user choose between them

[2020-06-03 16:31] mindmodel commented on #4031
Regarding the failure to replicate in the adaptive card designer web site, I agree.  I have seen the same behavior.  I don't know whether the code behind the card designer is identical to the Visual Studio bot framework travel bot sample, but I suspect it's not.  For example, the card designer might use React.  All my code does is read the JSON markup for the card from an embedded resource, call M

[2020-06-03 16:51] golddove opened #4104 "[Android][Accessibility] WCAG 2.5.5: Touch inputs must have a sufficient target size. (android.widget.RadioButton)"
## Platform
* Android

## Version
master

## Details
#### Issue
`Touch inputs must have a sufficient target size.` ([TouchSizeWcag](https://accessibilityinsights.io/info-examples/android/touch-size-wcag/))

![screenshot](https://user-images.githubusercontent.com/4442788/83663657-f73f0000-a596-11ea-9851-d9d10f3538f4.png)

#### Target application
io.adaptivecards.adaptivecardssample
#### Element pat

[2020-06-03 17:33] shalinijoshi19 commented on #4035
Hmm @paulcam206 quick stab here? I ensured it does not repro on the JS renderer so indeed looks like spacing isnt being honored on the UWP stack (both Image and ImageSet do inherit the Spacing property per the schema)

[2020-06-03 18:09] paulcam206 commented on #4035
sure, I'll take a look :)

[2020-06-03 18:12] JohnnyKehr opened #4105 "[iOS][Rendering] Crash occurs when ColumnSet has `height: stretch`"
# Platform
iOS

# Author or host
Host on Webex Teams

# Version of SDK
We have our own fork of AdaptiveCards@v1.2.6

# Details
A crash occurs when a card is rendered that has a ColumnSet component with items that have the property `height` set to `stretch` (see json card example below. The offending code is linked [here](https://github.com/microsoft/AdaptiveCards/blob/master/source/ios/AdaptiveCar

[2020-06-03 19:55] paulcam206 commented on #4035
for what it's worth, this doesn't repro on `master`, still digging :)

[2020-06-03 21:15] adumrewal commented on #3824
You should expect the same behaviour if both the devices are running the same Teams version and iOS version.
Can you please share a screen recording of the issue you are facing with the complete Teams version number.

[2020-06-03 21:43] dclaux opened #4106 "[TS] HttpAction.body and method properties are broken"
# Platform

* JavaScript

# Version of SDK

2.0 RC

# Details

Setting an Action.Http's `method` property causes an exception in the designer. See this Twitter post for a video illustrating the issue: https://twitter.com/mofumofu_dance/status/1268215076185464833

[2020-06-03 22:19] JohnnyKehr opened #4107 "[iOS][Action Rendering] Allow for text wrapping in Action buttons"
**What platform is your feature request related to? (Delete other platforms).**
iOS

**Is your feature request related to a problem? Please describe.**
An action with a really long title can extend beyond the bounds of the button without any wrapping. The title then gets cut off with no way to see the rest of it.

**Describe the solution you'd like**
Allowing for text wrapping would be a simple so

[2020-06-03 23:18] paulcam206 commented on #4035
has to do with `SetSeparatorVisibility`

[2020-06-04 07:49] shahidmh commented on #1326
why the adaptive card id is not assigning to HTML element.
I am using webchat js v4.
if i need to assign the id to html where i should do that?

[2020-06-04 12:18] atishayv opened #4109 "[JavaScript]Adaptive cards framework does not work in IE11"
# Platform

* JavaScript

# Author or host

Host Name : Microsoft Search

# Version of SDK

"adaptivecards": "^1.3.0-alpha.2",

# Details

Loading card using adaptive card library throws an error in IE.
The error coming is because adaptive cards uses array findIndex which is not supported in IE.

[2020-06-04 12:19] atishayv commented on #4109
CC : @dclaux

[2020-06-04 14:54] Chekrii commented on #3821
Hi all,

this is happening a lot these days for the carousel a lot.
After scrolling up and come to the carousel it is blank and takes a lot of time to load.
my carousel is having 4  adaptive cards with 4 buttons each.

[2020-06-04 15:32] dclaux commented on #4109
Can you please include more precise details of the error? I just searched through the (latest) codebase and it doesn't use findIndex.

[2020-06-04 16:08] golddove opened #4110 "[Android][Accessibility] WCAG 1.3.1,WCAG 3.3.2: Active views must have a name that's available to assistive technologies. (android.widget.EditText)"
## Platform
* Android

## Version
master

## Details
#### Issue
`Active views must have a name that's available to assistive technologies.` ([ActiveViewName](https://accessibilityinsights.io/info-examples/android/active-view-name/))

![image](https://user-images.githubusercontent.com/4442788/83780824-acd38700-a65b-11ea-8860-3cde0e1ed1b5.png)

#### Target application
io.adaptivecards.adaptivecardss

[2020-06-04 16:11] golddove opened #4111 "[Android][Accessibility] WCAG 2.5.5: Touch inputs must have a sufficient target size. (android.widget.Spinner)"
## Platform
* Android

## Version
master

## Details
#### Issue
`Touch inputs must have a sufficient target size.` ([TouchSizeWcag](https://accessibilityinsights.io/info-examples/android/touch-size-wcag/))

![image](https://user-images.githubusercontent.com/4442788/83781364-6a5e7a00-a65c-11ea-918e-3d797c3cf696.png)

#### Target application
io.adaptivecards.adaptivecardssample
#### Element path
and

[2020-06-04 16:13] jpjpjp opened #4112 "[Android][User Input Issues] [Can't enter an Input.Date]"
# Platform
Android

What platform is your issue or question related to? (Delete other platforms).
* Android
# Author or host

Host on Webex Teams

# Version of SDK

We have our own fork of AdaptiveCards@v1.2.6

# Details

When entering a Date on a card with an Input.Date field on Android, the Android Calendar shows up but there does not appear to be any button that allows the user to "enter" the d

[2020-06-04 16:25] golddove opened #4113 "[Android][Accessibility] WCAG 1.4.3: Text elements must have sufficient contrast against the background. (android.widget.TextView)"
#### Issue
`Text elements must have sufficient contrast against the background.` ([ColorContrast](https://accessibilityinsights.io/info-examples/android/color-contrast/))

![image](https://user-images.githubusercontent.com/4442788/83782313-a2b28800-a65d-11ea-92e2-21ce11482fa1.png)

Similarly w/ radio, checklist, and spinner inputs when using a dark host config (e.g. Teams Dark):
![image](https://u

[2020-06-04 16:26] jpjpjp opened #4114 "[Mobile][Image Rendering] [Cards with images don't display images on iOS/Android]"
# Platform
* Android
* iOS

# Author or host

Host on Webex Teams

# Version of SDK

We have our own fork of AdaptiveCards@v1.2.6

# Details
When we post cards with images, they are not displayed on mobile devices.

Here is a card displayed on our Mac Client (based on the Javascript Renderer)

![MacCardWithImages](https://user-images.githubusercontent.com/4774656/83784010-53b92280-a65e-11ea-9686-5

[2020-06-04 16:47] jpjpjp opened #4115 "[Android][Render Problem] [Buttons Dissapear after clicking an Action.OpenUrl]"
# Platform
* Android

# Author or host
Host on Webex Teams

# Version of SDK

We have our own fork of AdaptiveCards@v1.2.6

# Details

When we render a card with an Action.OpenUrl button on Android, if the user clicks on that, and follows the link to the URL, when they return to the Webex Teams client, the buttons are no longer seen.

Example of Card rendered on Mac:
![CardWithOpenUrlButton](https

[2020-06-04 17:48] jpjpjp opened #4116 "[iOS][Accessibility] [Input.ChoiceSet hard to use on iOS]"
# Platform

* iOS

# Author or host

Host on Webex Teams.

Create a free Webex Teams account https://www.webex.com/team-collaboration.html to replicate using the Webex Teams iOS client. Create a space with cardSampler@webex.bot, and use the Input.ChoiceSet drop down that you get from its first message

# Version of SDK

We have our own fork of AdaptiveCards@v1.2.6

# Details

When using the Input.

[2020-06-04 17:58] jpjpjp opened #4117 "[Mobile][Markdown support] [Markdown with the * does not work on mobile renderers]"
# Platform

* Android
* iOS

# Author or host

Host on Webex Teams.

Create a free Webex Teams account https://www.webex.com/team-collaboration.html to replicate using the Webex Teams iOS client. Create a space with cardSchool@webex.bot, and use the "Pick Another Lesson" button to select "Lesson 9 Buttons and Actions" to see how a Text element with markdown renders

# Version of SDK

We have our o

[2020-06-04 18:36] anbah34 opened #4118 "[Mobile][Inconsistency] [Date payloads from mobile and web clients are in different formats]"
# Date format inconsistent across different SDKs
- [ ] Android
- [ ] iOS
- [ ] JS
- [ ] UWP
- [ ] WPF

This was raised by WorkDay

Added the screenshots
![Inconsistent date format](https://user-images.githubusercontent.com/65276405/83797784-c529bd00-a6c0-11ea-9452-ab825d607e0d.jpg)

[2020-06-04 18:40] anbah34 commented on #4118
@shalinijoshi19

[2020-06-04 18:44] jpjpjp commented on #4107
Its worth noting that this seems to be the default behavior on Android.
![AndroidMarkdown](https://user-images.githubusercontent.com/4774656/83798099-b536bc80-a671-11ea-83f8-a4b7b3935866.png)

The same JSON on iOS results in this:

![iOSMarkdown](https://user-images.githubusercontent.com/4774656/83798129-c384d880-a671-11ea-9402-51f5f4bdfa20.png)

JSON for these images is here:  https://developer.w

[2020-06-04 19:23] anbah34 opened #4119 "[Mobile clients]Links to come in a markdown format"
Issue description: In attempts to display IPs with hyperlinks within Adaptive card, the mobile app does not convert Markdown format [text](link) and displays raw string.

Please see attachment below, Network(s) column

While on the desktop version the IPs are formatted and displayed correctly.
![link markdown](https://user-images.githubusercontent.com/65276405/83801560-fc02d180-a6c6-11ea-9140-64e3

[2020-06-04 19:23] anbah34 commented on #4119
@shalinijoshi19

[2020-06-04 19:26] shalinijoshi19 commented on #4035
Thanks @paulcam206! If it doesn't repro on master, should we just wait until our July 2.0 release then for this to be addressed vs porting over as a 1.2 patch?

[2020-06-04 19:28] shalinijoshi19 commented on #4042
@dclaux could you take a quick stab at this to see what is going on? Thanks!

[2020-06-04 19:33] shalinijoshi19 commented on #4043
@paulcam206 this seems related to the investigation you did for #4035 no? @jwoo-msft FYI.

[2020-06-04 19:39] paulcam206 commented on #4043
no -- #4035 is UWP-specific

[2020-06-04 19:40] shalinijoshi19 commented on #4050
@dclaux / @almedina-ms / @matthidinger for visibility here in case I am misunderstanding the "Validations" reference here but @KoradaRajesh we don't yet support card validation natively in AdaptiveCards but that feature is in the works and should be out sometime next month. You can see the current status of the feature [here](https://github.com/microsoft/AdaptiveCards/issues/3081).

[2020-06-04 19:47] shalinijoshi19 commented on #4051
@siduppal / @matthidinger thoughts on this one?

[2020-06-04 20:02] shalinijoshi19 commented on #4063
@jwoo-msft thoughts on this one real quick?

[2020-06-04 20:05] shalinijoshi19 commented on #4063
@VikrantSingh01 is this something that you are aware of/tracking?

[2020-06-04 20:13] shalinijoshi19 commented on #4091
@paulcam206 is this a duplicate of #3829 that you've been looking into?

[2020-06-04 20:25] shalinijoshi19 commented on #4097
@dclaux thoughts for this one real quick? Also @paulcam206 since he's been toying with the designer as well as FYI.

[2020-06-04 20:37] shalinijoshi19 commented on #4105
@jwoo-msft on your plate for quick investigation ahead of next week's sync with WebEx

[2020-06-04 20:42] shalinijoshi19 commented on #4112
@jwoo-msft is this related to #3671 you think? @almedina-ms also for FYI.

[2020-06-04 20:45] shalinijoshi19 commented on #4114
@jpjpjp thanks for reporting this. Do you know if this replicates only in your fork of AC or native renderers that we offer (I believe we can provide access to our visualizer tools/apps to help isolate and identify these issues as well - @jwoo-msft ?)

[2020-06-04 20:48] shalinijoshi19 commented on #4115
@almedina-ms , @jwoo-msft our Android and iOS SMEs respectively. @jpjpjp apologies if this was discussed in our syncs already but would be great to understand the reason for your forks (vs leveraging our framework packages directly) and also what exactly are the differences -- do we already have access to your source or debugging data?

[2020-06-04 21:25] dclaux commented on #4042
Fixed, please review PR

[2020-06-04 22:17] #4042 closed

[2020-06-04 22:17] #4092 closed

[2020-06-04 22:17] #4093 closed

[2020-06-04 22:17] #4106 closed

[2020-06-04 22:33] matthidinger commented on #3172
This is fixed now, thanks! :)

[2020-06-04 22:33] #3172 closed

[2020-06-04 22:36] matthidinger commented on #3096
This should be fixed with the v2.0.0 Extension, please let us know if it's still happening!

[2020-06-04 22:36] #3096 closed

[2020-06-05 00:30] YJasonY opened #4121 "[Teams][Rendering] Markdown formatted text containing images not rendering on Teams"
# Platform

Microsoft Teams

# Version of SDK

1.2

# Details

We have a bot that is sending adaptive card responses on Teams. The bot renders results from QnA Maker answers into a card. The QnA Maker answers are formatted using markdown and some answers contain images. These images are not showing up on Teams, but do show up in the designer and the Bot Emulator.

The issue seems to exist in the [

[2020-06-05 03:30] shalinijoshi19 commented on #4116
@jwoo-msft thoughts on this?

[2020-06-05 03:34] shalinijoshi19 commented on #4117
This is likely a dup of #1984. @jwoo-msft / @paulcam206 / @almedina-ms can you guys confirm ?

[2020-06-05 03:42] shalinijoshi19 commented on #4118
@jwoo-msft / @paulcam206 is this a dup of #3613? Where does the original issue's fix stand? thanks!

[2020-06-05 03:47] shalinijoshi19 commented on #4119
@paulcam206 / @jwoo-msft this again seems to be another instance of #1984. Specifically for iOS or Android do markdown style hyperlinks not work ? @anbah34 what renderer platform are you using in your app on the desktop again?

[2020-06-05 03:50] shalinijoshi19 commented on #3978
@VikrantSingh01 are you aware of this issue with Input.Toggle on iOS? @jwoo-msft thoughts here?

[2020-06-05 03:54] shalinijoshi19 commented on #4121
@siduppal I believe this may be a Teams issue- Could you help take a look please?
I checked on our designer and it seems to render correctly here:
![image](https://user-images.githubusercontent.com/20822397/83835408-93572d00-a6a5-11ea-8f6f-e9c9853a1d0f.png)

[2020-06-05 04:03] shalinijoshi19 commented on #3251
Confirming that this continues to repro on the latest adaptivecards.io/designer deployment. Interestingly Preview mode is where it appears to be ignored but non-Preview mode in the designer attempts to honor it by showing it but with a "shading" on top of the image to indicate it's hidden. @dclaux thoughts?

[2020-06-05 06:29] KoradaRajesh commented on #4050
Sure @shalinijoshi19  Thank you!

[2020-06-05 08:11] sazarghani opened #4122 "[HTML/CSS][Styling] [Drop-down menu style in AdapativeCards is not configurable enough ]"
# Platform

* .NET HTML
botframework-directlinejs

# Version of SDK

"Microsoft.Bot.Builder.Integration.AspNet.Core" Version="4.8.0"
"botframework-directlinejs": Version="0.11.6",

# Summary
The select/option method used by directlinejs to represent the drop-down items of AdaptiveCards is not the best choice for styling using CSS. One cannot change the hover style of items uniformly for all web br

[2020-06-05 08:20] sazarghani commented on #4122
I noticed it is more appropriate to submit this under the BotFramework-WebChat. So I created
https://github.com/microsoft/BotFramework-WebChat/issues/3208 and close this one.

[2020-06-05 08:20] #4122 closed

[2020-06-05 11:25] salekh commented on #2525
Hi Contributors

Has there been any update on this issue yet?

[2020-06-05 12:15] atishayv commented on #4109
@dclaux
This is the compiled code from adaptive cards templating library :
[code]

and the error is :
![image](https://user-images.githubusercontent.com/13940020/83875206-5138f480-a754-11ea-9bd2-4a3e0bc0e18f.png)

[2020-06-05 16:46] raafaelima opened #4123 "[Android][Render Time] Massive time to render a card"
# Platform
* Android

# Version of SDK
io.adaptivecards:adaptivecards-android:1.2.9

# Details
I'm trying to render the following AdaptiveCard on my app. however, the app takes at least 7 to 10 seconds to render on screen, sometimes the card does not render at all. I'm using an AsynctTask to try the render process goes a little faster on the background thread, but do not have any effect at all on

[2020-06-05 18:49] eyadon commented on #4086
I have this issue too - Chrome 83.0.4103.61 on Win10, the scroll bar will magically show up when you get far enough down in the right pane.
![noscrollbar](https://user-images.githubusercontent.com/17410657/83912057-d3182600-a732-11ea-8dbf-119ae60d804b.png)
![yesscrollbar](https://user-images.githubusercontent.com/17410657/83912051-ce537200-a732-11ea-8e38-5cc99f855fbb.png)

[2020-06-05 19:17] shalinijoshi19 commented on #4031
@mindmodel the AdaptiveCards designer doesn't use react.
@ckkashyap / @dandriscoll would you know why the code above, hosted at https://dnctestbot.z13.web.core.windows.net, and that spits out the JSON card above, would show a clipped image in WebChat but not in the standalone AC designer?
@matthidinger / @dclaux in case they have some insights around the webchat discrepancy also.

[2020-06-05 19:28] adamcoulombe commented on #3770
As an alternative though, you can just create columns and add seperate actionsets with individual actions. This ended up working for my situation

![alt text](https://i.ibb.co/7CL02Wf/Screenshot-1.png "adaptive card action alignments")

[2020-06-05 19:44] shalinijoshi19 commented on #4123
@golddove want to take a stab at looking at this one around Android perf? @almedina-ms FYI.

[2020-06-05 19:45] mindmodel commented on #4031
A comment by Kyle Delaney in the StackOverflow item referenced above

https://stackoverflow.com/questions/61829070/microsoft-bot-framework-adaptive-card-1-1-media-play-button-doesnt-display-co/61878406

describes the proximate cause of the display error.

[2020-06-05 19:48] shalinijoshi19 commented on #4123
@raafaelima are you noticing the rendering latency only on Android or also on other platforms eg the web/ios or desktop etc?

[2020-06-05 21:05] raafaelima commented on #4123
Hey @shalinijoshi19, first of all, thank you a lot for the answer.

About your question, I'm only seeing this rendering latency on Android. I tested the same cards on the web using the JavaScript SDK and the rendering time at the worst case is 2 seconds. Very far from the 20 to 60 seconds that some cards take to render on Android.

[2020-06-05 23:44] matthidinger opened #4134 "[Templating/Designer] OpenGraph properties break the designer"
OpenGraph uses `:` in their property names and it causes the templating to fail in the Designer. Not sure if this is an issue at the templating, rendering, or designer layer.

To repro create a card with this Sample data and try to bind a TextBlock to the `og:title` property.

[code]

[2020-06-06 00:10] dclaux commented on #4134
As far as I can tell, this is an Adaptive Expressions issue. Here is what I see in the console:
![image](https://user-images.githubusercontent.com/1334689/83931019-53e51b00-a74f-11ea-9f21-4515fc6fe400.png)

That message ("syntax error...") is emitted by AE.

[2020-06-06 00:17] TylerOdenthal opened #4135 "[Designer] [Input.Attachments]"
I would love to be able to request attachments in my adaptive cards!

Any thoughts on getting that done?

[2020-06-06 00:21] dclaux commented on #4134
Confirmed. Exception thrown in ExpressionAntlrParser.js:
![image](https://user-images.githubusercontent.com/1334689/83931321-e508c180-a750-11ea-8125-251bb8544599.png)

[2020-06-06 03:19] boydc2014 commented on #4134
@dclaux @matthidinger can you try to see if getProperty or foo["a:b"] will works in this scenario, we are using https://github.com/microsoft/botbuilder-dotnet/issues/4029 as a native support special character in top-level

[2020-06-07 17:08] #4058 closed

[2020-06-08 09:03] adumrewal commented on #3700
Reopening this issue. It is working in most cases but failing for some cases like for the following JSON.
**fillMode : Cover/Default**
<img src="https://user-images.githubusercontent.com/8917620/84007084-76fd0e00-a98d-11ea-87c0-31fde1635ceb.png" alt="drawing" width="300"/>
**fillMode : Repeat**
<img src="https://user-images.githubusercontent.com/8917620/84011881-5dab9000-a994-11ea-9360-2bc48bc5779

[2020-06-08 09:05] adumrewal commented on #3700
@jwoo-msft @shalinijoshi19 for reopening the issue.

[2020-06-08 09:13] adumrewal opened #4136 "[iOS-Android-UWP][Parity Issue - Fact Set] [Card with empty factSet does not render on iOS but renders on other platforms]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] Android
- [x] iOS
- [x] UWP
- [x] WPF

# Author or host

Host - Teams iOS

# Version of SDK

Latest master

# Details

Card with empty factSet does not render on iOS but renders on Android and Desktop.
` { "type": "FactSet", "facts": [ ] } `

[EmptyFactSetIssue.txt](https://github.com/microsoft/Adaptiv

[2020-06-08 11:10] mcarbenay opened #4137 "[.net][Templating] Problem with double-quotes in data"
# Platform

What platform is your issue or question related to? (Delete other platforms).

.Net "server side"

# Author or host

Sending a card in Microsoft Teams but seems like not limited to teams.

# Version of SDK

AdaptiveCards 1.24
AdaptiveCards.Templating 1.0.0-rc.0

# Details

I used a simple card template and tried to use Expand on a data value that has a text property including double qu

[2020-06-08 15:56] ckruszynsky opened #4139 "[MSTeams][iOS] Invalid Url error Action.OpenUrl"
# Platform
What platform is your issue or question related to? (Delete other platforms).
* iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? Author

If you're an author, who are you sending cards to?
Teams

# Version of SDK

# Details
We are using PowerAutomate to post an adaptive card message to a teams channel. The adaptive

[2020-06-08 16:08] jbp199 opened #4141 "[.NET WPF][Templating] [Extra comma added after calling expand on templated arrays]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Author or host

host - hub

If you're an author, who are you sending cards to?

# Version of SDK

AdaptiveCards Templating v1.0.0 -rc

# Details

Using templating with arrays to create multiple repetitions of the same part of a card, results in invalid JSON using the RC .net templating api. The

[2020-06-08 16:17] jbp199 opened #4142 "[.NET WPF][Templating] escaped characters in strings in the data are not preserved escaped after calling expand()"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Author or host

host - hub

# Version of SDK

1.0.0 -rc templating api

# Details

We have text in some of our strings in the data that have escaped characters, mainly \n\r for new lines.  These need to be double escaped within the json document as \\n\\r however, after calling expand(), the ex

[2020-06-08 19:00] shalinijoshi19 commented on #3903
@vikrantsingh01 I think @jwoo-msft has a question here for your team?

[2020-06-08 19:05] shalinijoshi19 opened #4147 "Renderer Inconsistency"

[2020-06-08 19:05] shalinijoshi19 opened #4148 "Input Evolution"

[2020-06-08 19:06] shalinijoshi19 opened #4149 "Templating v2 with AEL integration"

[2020-06-08 19:08] dhanush-ai1990 opened #4150 "Need alot of improvements."
Horrible interface, Doesn't show errors, Very primitive.

My card json doesnt even load on the designer. Works fine in a python code base.

[2020-06-08 19:56] dclaux commented on #4150
Hi @dhanush-ai1990, thank you for the feedback. What would be really helpful would be to get your card payload so we can assess what the problem is and improve the designer.

[2020-06-08 19:58] matthidinger opened #4152 "[Templating] Ability to customize the binding syntax"
The current templating syntax is `${expression}` but this may cause errors/warnings in certain usages, such as the default linting rules in `create-react-app`

`Line 91:41: Unexpected template string expression no-template-curly-in-string`

The workaround is the disable the rule in code comments

[code]
This was originally filed here:
https://github.com/MicrosoftDocs/AdaptiveCards/issues/292

One

[2020-06-08 20:26] dclaux commented on #4152
I think this would be very helpful to a lot of developers. I would push this proposed design a bit further though, so as to allow for backward compatibility with our previous syntax during the preview phase:
[code]

[2020-06-08 21:11] jwoo-msft commented on #4141
@jbp199 thanks for reporting the issue. please share the payload.

[2020-06-08 22:50] jbp199 commented on #4141
[cardrepro.zip](https://github.com/microsoft/AdaptiveCards/files/4748973/cardrepro.zip)

The card template, data and the resultant card with extra commas.

[2020-06-08 23:16] #4142 closed

[2020-06-08 23:16] jwoo-msft commented on #4142
duplicate with #4137

[2020-06-09 10:44] WieserSoftware commented on #4152
@dclaux What would the defaults be if they weren't found?
Default to the old syntax.
The new syntax would be "$bindingStartMarker": "${"
The react syntax would be "$bindingStartMaker": "@{"

Have I understood correctly?

[2020-06-09 12:49] #3973 closed

[2020-06-09 13:06] Subhasish-msft commented on #3824
@Sujit-Gaikwad , Could you please share the recording of the issue that you are facing with complete Teams version number.

[2020-06-09 13:08] shalinijoshi19 commented on #3915
@Nikitha-MSFT / @vbvbvbv could you clarify if you've raised a separate issue for Teams Mobile ? If so, can we close this out?

[2020-06-09 13:14] shalinijoshi19 commented on #3885
@almedina-ms would the work around Input evolution address this behavior at all or were we saying PlaceHolders are not something the Accessibility team has been advocating for features and we should deprecate support for it? @dclaux for FYI also

[2020-06-09 13:39] Sujit-Gaikwad commented on #3824
@Subhasish-msft Sorry, i'm not able to share the recording as my leads not allowing me to do so.
but as per my obsevation this is now working fine with new teams update V2.0.11.

Thanks for your help

Regards,
Sujit sanjay gaikwad.

[2020-06-09 15:23] dclaux commented on #4152
Defaults would be `${` and `}` to match the current built-in syntax. I wouldn't necessarily ban any marker, but simply document that some markers would likely not work properly.

[2020-06-09 17:00] scottlovegrove opened #4156 "Column is missing that `type` is a required field"
Currently the documentation makes no mention of the fact that `"type": "Column"` is _required_ when adding a column item to a ColumnSet. It shows it in the example, but it doesn't list it in the property list like it does for every thing else.

---
* URL: https://adaptivecards.io/explorer/Column.html

[2020-06-09 22:10] jwoo-msft commented on #4141
@jbp199

Thanks for the sharing the payload.

I can confirm that there are extra commas. This is not a bug. WPF renderer will actually render the card. But the issue was the card contained the framework id that is not valid. id starting with number, for example, is not valid. If the dangled comma is still an issue, you can avoid it by not adding the data context ($data) as the last json pair in th

[2020-06-09 23:48] jbp199 commented on #4141
Actually I logged in a hurry - we are using the .net HTML renderer.  I was getting an error when converting the string to AdaptiveCard:

                        AdaptiveCardTemplate transformer = new AdaptiveCardTemplate(card);
                        cardString = transformer.Expand(acData);

                        //cardString = workaroundIdIssue(cardString);

                        card = Json

[2020-06-10 03:14] #4137 closed

[2020-06-10 03:14] #4141 closed

[2020-06-10 05:48] Subhasish-msft commented on #3824
Thanks for your confirmation. I am closing this issue.

[2020-06-10 05:48] #3824 closed

[2020-06-10 23:18] DDEfromOR opened #4164 "[.NET Renderer][Performance] Calling Visit on AdaptiveVisitor and passing in an AdaptiveToggleVisibilityAction causes an infinite loop."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET

# Author or host

We are a service that supports sending Adaptive Cards between various chat clients and Azure Bots.

# Version of SDK
NuGet: AdaptiveCards v1.2.4

# Details
An analysis of crash dumps from a series of high CPU usage issues revealed an infinite loop that seems to be initiated by by ca

[2020-06-11 06:13] mokandre commented on #3419
Does fallback and requires working in the JS platform?

[2020-06-11 09:01] timdonovanuk commented on #3740
+1 here too.

[2020-06-11 09:17] summertony15 opened #4165 "[MSTeams][iOS] isvisible: false not working"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.
Author
If you're an author, who are you sending cards to?
Teams Bot
# Version of SDK

v1.2

# Details

When using adaptive car

[2020-06-11 15:16] shalinijoshi19 commented on #4114
@jpjpjp per our conversation over the sync, marking this as external at this point and closing out (since we haven't been able to repro this at our end with stock AC renderers and Visualizer tool app that we use);  Please do reach out and reactivate with additional details  if you do require debugging assistance here or anything we can do to aid in the investigation. Thanks!

[2020-06-11 15:16] #4114 closed

[2020-06-11 15:31] shalinijoshi19 commented on #4112
@jpjpjp closing this one out per the offline sync as something that you will be investigating at your end.  Do feel free to update this issue with any details that might help the integration scenario going forward. We weren't able to repro this with the public Android images or with our stock Android renderer + Visualizer test app (@golddove feel free to include specifics with what you tested here

[2020-06-11 15:31] #4112 closed

[2020-06-11 15:37] shalinijoshi19 commented on #4107
Updating this with the priority per offline sync for now.

[2020-06-11 15:44] shalinijoshi19 commented on #4115
This does appear to be an AC issue with some inconsistencies that @golddove reported. @golddove please go ahead add in your additional debugging details please? Thanks

[2020-06-11 15:55] shalinijoshi19 commented on #4116
This looks to have been broken post iOS13. @jwoo-msft to look into this and report back here with options? Thanks!

[2020-06-11 16:03] shalinijoshi19 commented on #4116
Looks like there's 2 aspects here in this bug - @jpjpjp  / @jwoo-msft please correct me if I am wrong here.

1. Re. the theming issue related to the latest iOS13 update that kind of is messing with the existing App defaults. Something that we should do some background research on to come up with viable options. @jwoo-msft could you help here with that pre-prep a bit for next week's sync?

2. The s

[2020-06-11 16:15] shalinijoshi19 commented on #4117
The big ask is here is simply to support '*' for lists in our markdown story; While we are at it, we might want to support '+' also ([Reference](https://daringfireball.net/projects/markdown/syntax#list)).
We do say in our [docs here](https://docs.microsoft.com/en-us/adaptive-cards/authoring-cards/text-features) that we do support bulleted lists though don't go into whether it's via hyphens only or

[2020-06-11 16:20] jwoo-msft commented on #4165
Labeled issue MSTeams-Developer-Support
Justification:
It's a basic use case & it's not reproducible on sample app.

[2020-06-11 16:22] shalinijoshi19 commented on #4105
@golddove /@jwoo-msft are you able to repro this with the stock iOS renderer and our Visualizer app?

[2020-06-11 16:23] shalinijoshi19 commented on #4097
@dclaux this is one of the Cisco integration bugs they reported.. thoughts?

[2020-06-11 16:26] dclaux commented on #4097
As discussed last week, this kind of is a feature request. All inputs cannot honor the height property when set to "stretch". Basically, only Input.Text with isMultiline = true can - but it currently doesn't, by design. So we just need to make a collective decision whether or not we want to change that across all renderers (assuming non-JS renderers have the same behavior as the JS renderer). Asid

[2020-06-11 17:13] jpjpjp opened #4167 "[Mobile][Usability] [No Cheveron on Action.ShowCards]"
# Platform

- [ ] Android
- [x] iOS

# Author or host

Host on Webex Teams

# Version of SDK

We have our own fork of AdaptiveCards@v1.2.6

# Details

Action.ShowCard buttons on JS Renderer include a chevron that points down when the card is expanded and points up when the card is closed.  This helps user differentiate these types of buttons from the other types.    The mobile renderers should do

[2020-06-11 17:23] jpjpjp commented on #4116
@shalinijoshi19 agree that this is two issues.   I've updated the original description so that the team can focus on issue 1.

[2020-06-11 18:00] jwoo-msft opened #4168 "[iOS] Ability To Check If Current View's Super Views have a SelectAction"
**What platform is your feature request related to? (Delete other platforms).**

* iOS

**Is your feature request related to a problem? Please describe.**
I'm creating this issue on behalf of Teams mobile team. Their custom image renderer adds a touch event where users touches on the image, it get triggered. However, this feature is being interfered  with superview's selection action handler if an

[2020-06-11 18:00] golddove commented on #4115
Following card also works fine on the JS renderer, but only shows one Action on Android. So, issue appears to be with multiple actionsets in a column.
[code]

![image](https://user-images.githubusercontent.com/4442788/84423000-d9534a00-abeb-11ea-94b3-3f1223541373.png)

[2020-06-11 18:39] jwoo-msft commented on #4119
@anbah34 can you share your json payload here?

thanks

[2020-06-11 18:41] shalinijoshi19 commented on #4168
@matthidinger also moved to [productboard](https://adaptivecards.productboard.com/insights/shared-inbox/notes/10011038) in case this needs a broader look.

[2020-06-11 18:43] jwoo-msft commented on #4119
It's hard to tell what's going on without the actual payload. It's probably due to some characters inside markdown link.

[2020-06-12 11:46] Sujit-Gaikwad commented on #3954
We are not getting single slash on desktop card.
It is getting displayed on android device.

[2020-06-12 11:57] Sujit-Gaikwad commented on #3993
Any update on this??

[2020-06-12 12:10] shalinijoshi19 commented on #4164
@jwoo-msft  please prioritize. tx

[2020-06-12 14:54] jazzmind commented on #4062
@dclaux I was definitely referring to the designer. The error messages in the designer made it seem like it was an issue with the templating engine/syntax. I've now confirmed that this is not the case when implemented.

I will close this issue, thank you for the info!

[2020-06-12 14:54] #4062 closed

[2020-06-12 15:22] dclaux commented on #4062
@jazzmind great. We do have plans to improve the designer in the future so that this kind of scenario is better addressed.

[2020-06-12 19:38] #4103 closed

[2020-06-12 20:11] paulcam206 commented on #4086
I have a repro on this and am looking at addressing it :)

[2020-06-12 22:44] paulcam206 commented on #4086
sneaksy little bug:

https://github.com/microsoft/AdaptiveCards/blob/98b9c5d1e3bc0224ca4918faf2889c62ca2f5660/source/nodejs/adaptivecards-site/themes/adaptivecards/source/js/script.js#L563

doesn't account for the case where `hiddenAfter > footerHeight`

[2020-06-12 23:44] paulcam206 commented on #4086
@stevenic / @eyadon - you can try out the fix [here](https://adaptivecardsci.z5.web.core.windows.net/pr/4173/explorer).

thanks for your patience/input! 👍

[2020-06-12 23:46] #4086 closed

[2020-06-13 02:30] jwoo-msft commented on #4164
@shalinijoshi19 This is not a templating issue. It's .Net Rendering issue.

[2020-06-13 02:31] jwoo-msft commented on #4164
@DDEfromOR Can you share your payload that caused this issue?

Thanks

[2020-06-14 21:12] adumrewal commented on #3700
@Subhasish-msft please reopen this issue.

[2020-06-15 01:13] summertony15 commented on #4165
Do you have any updates?

[2020-06-15 09:03] nielscup commented on #3627
@almedina-ms Any progress on this?

[2020-06-15 11:58] nimercer opened #4176 "[.NET][Templating] Expand function doesn't handle strings with escape characters"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* .NET (Templating nuget)

# Author or host

Author / Host

If you're an author, who are you sending cards to?
1.2.9

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...
Templating nuget release candidate

Explain your issue. If you just have a question, please post on StackOverflow instead:

[2020-06-15 13:05] priyakovelakaru commented on #3701
I'm experiencing the same problem when trying to use invoke in an adaptive card inside of a Teams App.

[BotCardService::onButtonClicked_messageback()] sendInvoke failed: {"statusCode":502,"headers":{"cache-control":"no-store, must-revalidate, no-cache","content-length":"86","content-type":"application/json; charset=utf-8","contextid":"tcid=4725083266554107397,server=SG2PEPF0000045A,cv=365yonodIEG

[2020-06-15 17:20] jwoo-msft commented on #3712
@jwoo-msft --> update this issue

[2020-06-15 18:02] jwoo-msft commented on #4176
@nimercer
Hello,

Could you share which version of nuget packages you used? For example, we have 1.0.0-rc.0 and 1.0.0-rc.1. Also, can you provide the template data payload also?

[2020-06-15 19:28] jwoo-msft commented on #4176
@nimercer

Hi,
1.0.0-rc.1 will leave alone valid escape sequences. However, "\ " is not valid json escape sequence, and will throw. Are there any reasons that you use invalid escape sequences?

[2020-06-15 20:26] paulcam206 opened #4180 "[Website] Delete visualizer"
We previously remove the link to our old visualizer (see #4177), but the code still lives and it is still published (even though we don't link to it. We should delete the visualizer code and remove it from publishing so that we don't have to maintain it.

[2020-06-15 20:42] shalinijoshi19 commented on #4119
@anbah34 / @VikrantSingh01 this is another one that we are requesting more data for - Do you happen to have the json payload for this at all?

[2020-06-15 21:09] jwoo-msft commented on #4119
@shalinijoshi19
I went ahead and manually type the string from the image to the sample app. I couldn't repo this issue.

[2020-06-15 23:35] v-kydela opened #4183 "String only Inlines are round-tripped as full TextRuns"
# Platform

* .NET

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? Author

If you're an author, who are you sending cards to?
A console app

# Version of SDK

NuGet 1.2.4

# Details

A [rich text block](https://adaptivecards.io/explorer/RichTextBlock.html) can have strings instead of text runs in its inlines property. However, t

[2020-06-16 06:40] Vishnuvk33 opened #4186 "issue in Input.Date control in adaptive cards"
we have created an adaptive card for outlook with Input.Date field and one http.action.

On click of  http.action , we are always getting the date from input.date filed as one day before.

For ex, if we set 13 may 2020 in date field, we are always getting 12 may 2020 as api input.

Channel :  O365

Any thing need to be given in Input.Date fiels?

[2020-06-16 10:09] adumrewal commented on #3903
This is working fine on the latest Teams iOS store build. @Sujit-Gaikwad please check it out.
<img src="https://user-images.githubusercontent.com/8917620/84761698-6c72f200-afe7-11ea-8942-d793469e8260.png" alt="drawing" width="250"/>

[2020-06-16 10:37] adumrewal commented on #3712
@jwoo-msft, @shalinijoshi19 : I can still experience this issue with SDK 1.2.7 on Teams iOS. For example, if a card has ActionSet/ChoiceSet (compact style), the order is not being followed correctly.
[VoiceOverVideo](https://microsoft-my.sharepoint.com/:v:/p/amdumrew/EXgEzOq4DVNCsCfdrQuNAIIBkFxBzyVAnItYAvoWdObDCw?e=BQLcab)

[2020-06-16 11:09] Sujit-Gaikwad commented on #3903
@adumrewal  Thanks for an update

[2020-06-16 14:17] jpjpjp commented on #4117
@jwoo-msft thanks for what looks like good progress on this?   I wanted to bring one thing to your attention.  Early on in our discussion on this, one suggestion was to use the hyphen instead of the star for list markdown.

We've found that that while the mobile renderers DO support the hyphen, the JS renderer does not, so adding the star to the mobile render will give a way to create platform agn

[2020-06-17 14:23] RashmiMithun opened #4191 "$root: not taking dynamic data"
i am unable to use the templating, i tried to have the data in var and loaded to the root it is not working

[code]

[2020-06-17 15:13] #3903 closed

[2020-06-17 15:14] shalinijoshi19 commented on #3903
@adumrewal closing this out per @adumrewal's update above. Do reach out if you run into any other issues.

[2020-06-17 15:15] shalinijoshi19 commented on #3915
Moving out to @VikrantSingh01 as a Teams issue.

[2020-06-18 11:43] chriche-ms opened #4192 "[UWP] Improve performance of base64 decoding"
# Platform

* Android
* iOS
* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 1.2.8

# Details

CPU profiling shows that base64 decoding is slower than it could be due to inadvertent map copying and repeated map lookups. Furthermore the map could easily be replaced altogether with a more performant array.

[2020-06-18 14:54] Subhasish-msft commented on #3701
@priyakovelakaru , Can you please share your bot id and timestamp?

[2020-06-18 15:14] shalinijoshi19 commented on #4167
@jwoo-msft this one seems to be a higher priority for Cisco. @golddove for FYI for help on the Android side.

[2020-06-18 15:26] #4116 closed

[2020-06-18 15:27] matthidinger commented on #2666
Hi everyone, this was fixed in #4175 and will be available in the next 1.2.x patch at the end of the month

[2020-06-18 15:27] #2666 closed

[2020-06-18 15:48] matthidinger commented on #4117
Reopening this, @shalinijoshi19 asked about `+` support and indeed it seems like commonmark does support this as a format. It's not immediately obvious from their default page, https://commonmark.org/help/ but looking at the commonmark spec it does indeed show the `+` syntax:

https://spec.commonmark.org/0.29/#lists

If this is an easy enough addition to the open PR I'd agree let's just get it in?

[2020-06-18 16:55] jwoo-msft commented on #4117
didn't see the note :-)

[2020-06-18 16:56] jwoo-msft commented on #4117
done

[2020-06-18 20:49] #4117 closed

[2020-06-18 23:47] jwoo-msft commented on #3961
closed as this is configurable from client's application.

[2020-06-18 23:47] #3961 closed

[2020-06-18 23:51] shalinijoshi19 commented on #4186
@dclaux for FYI on this one. @Vishnuvk33 can you please share out your card payload here? Also it would be great if in the future you could use our [Bug Template](https://github.com/microsoft/AdaptiveCards/issues/new?assignees=&labels=Bug&template=bug_report.md&title=%5BPlatform%5D%5BBroad+Issue+Category+if+applicable+%28eg+Accessibility%29%5D+%5BBug+Title%5D) to file bugs for us with more details

[2020-06-18 23:59] dclaux commented on #4186
@Vishnuvk33 could you indee share a card payload as well as:
- Which Outlook version you're referring to (Windows, OWA, iOS, Android?)
- The time zone configured on the system running Outlook

"13 may 2020" basically means "13 may 2020 at 0:00 in the system's time zone". If the system's time zone is, for instance, set to Central European Summer Time, or GMT+2, "13 may 2020 at 0:00 GMT+2" converts

[2020-06-19 00:01] jwoo-msft commented on #4032
@matthidinger Do you know which SDK "Microsoft web chat client sample" uses?
It sounds like SDK being used could be JS renderer. Can you confirm?
cc @shalinijoshi19

[2020-06-19 04:29] Vishnuvk33 commented on #4186
@dclaux  have uploaded the json flle in this.

1. we are using outloook windows 0365
2.  The timezone configured in the outlook is IST

[customer_card.txt](https://github.com/microsoft/AdaptiveCards/files/4802438/customer_card.txt)

[2020-06-19 04:35] Vishnuvk33 commented on #4186
Yeah sure @shalinijoshi19 , will follow the mentioned steps to report bugs.

[2020-06-19 06:04] dclaux commented on #4186
@Vishnuvk33 the team was able to repro and is investigating.

[2020-06-19 07:09] chriche-ms opened #4198 "[UWP] Unnecessary string copying"
# Platform

* Android
* iOS
* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 1.2.8

# Details

Many C++ functions accept std::string parameters by value when they should really be by const-ref or r-value ref. Updating the parameter types would help improve performance by reducing the number of string copies made during parsing

[2020-06-19 08:13] #4192 closed

[2020-06-19 15:23] atishayv commented on #4109
@dclaux, @matthidinger  We are using 0.1.1-alpha.1 version of adaptivecards-templating where findIndex is used.

Checking here : https://www.npmjs.com/package/adaptivecards-templating/v/1.0.0-rc.0, it seems the next version available for this library is 1.0.0-rc.0.
Is this version a breaking change, as it uses `$when: ${title}` syntax?
If not, what is the corresponding adaptivecards package depend

[2020-06-19 16:18] dclaux commented on #4109
@atishayv yes, 1.0.0-rc.0 introduces breaking changes, which I have mentioned to your team over email. Please refer to the release notes at https://docs.microsoft.com/en-us/adaptive-cards/templating/

[2020-06-19 19:22] shalinijoshi19 commented on #4053
@siduppal / @matthidinger / @dclaux  thoughts?

[2020-06-19 20:11] #4115 closed

[2020-06-21 01:52] cconrado opened #4199 "Designer - Shows that Teams doesn't support 1.2v"
Teams does support 1.2v
![image](https://user-images.githubusercontent.com/9168464/85214984-ee408380-b337-11ea-91c0-6fe797ef5c91.png)

[2020-06-21 18:19] MouadhDos commented on #2807
have same issue , the min and max Date properties not rendered in Teams

[2020-06-21 18:20] MouadhDos commented on #2103
this issue still not fixed in v 1.2

[2020-06-21 18:38] MouadhDos opened #4200 "[JavaScript][rendering] [Input.Date not correctly rendered in Teams ]"
the properties "min" and "max" , of Input.Date not correctly rendered in Teams channel .

[2020-06-22 04:44] Trinetra-MSFT commented on #4053
@TylerOdenthal : Could you please help us to know what you are trying to achieve? I see, you are willing to call a Task Module onclick of Adaptive Card button is it or dropdown? If that is the scenario, Please take a look at [Teams Task Module Bot](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/54.teams-task-module/Bots/TeamsTaskModuleBot.cs). Let me know if

[2020-06-22 05:16] Vishnuvk33 commented on #4186
Hi @dclaux , Any update on this issue.

[2020-06-22 11:35] chriche-ms opened #4202 "[UWP] JSON parsing performance"
# Platform

* Android
* iOS
* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

Nuget 1.2.8

# Details

CPU profiling suggests performance of the C++ JSON parsing code can be improved as time is spent unnecessarily converting strings to stringstream objects and back again.

[2020-06-22 15:23] #3909 closed

[2020-06-22 15:24] dclaux commented on #4186
The problem has been identified and a fix will be implemented. It's a server-side fix so it won't require an Outlook update. I don't have an ETA.

[2020-06-22 16:11] #4149 closed

[2020-06-22 16:11] #4148 closed

[2020-06-22 16:11] #4147 closed

[2020-06-22 16:11] #422 closed

[2020-06-22 16:17] dclaux commented on #4199
@cconrado I can repro this on https://vnext.adaptivecards.io/designer but not on https://adaptivecards.io/designer
I think vNext is a bit out of date, and in any case the main site currently represents the latest. @matthidinger do you know what might be happening on vNext?

[2020-06-22 16:44] cconrado commented on #4199
@dclaux ah that's right I tried it on vnext.

[2020-06-22 20:15] v-kydela commented on #1738
@Kartik1607 - That works for newlines but there doesn't seem to be a way to include blank lines other than by using separate text blocks.

![image](https://user-images.githubusercontent.com/41968495/85331065-4b4c4e80-b48a-11ea-869b-a781c003ab18.png)

[2020-06-22 21:03] #4105 closed

[2020-06-22 21:58] shalinijoshi19 commented on #4199
@matthidinger / @Paulcam206 / @dclaux  - longer term we should get together to try to figure out a story for what and where vnext gets deployed from and for what purpose..

[2020-06-22 22:02] shalinijoshi19 commented on #4150
Thanks @dhanush-ai1990 ! +1 to @dclaux 's request for slightly more information -- including your specific card json and suggestions to improve your workflow/experience here..

[2020-06-22 23:53] #3051 closed

[2020-06-22 23:53] #3218 closed

[2020-06-22 23:53] #3221 closed

[2020-06-23 06:00] Vishnuvk33 commented on #4186
Hi @dclaux  Thanks for the update.

[2020-06-23 09:20] DeeJayTC commented on #4107
Based on this stackoverflow discussion: https://stackoverflow.com/questions/62470617/how-would-it-be-possible-that-adaptive-cards-in-microsoft-teams-for-android-neve

It seems to be an issue for Android aswell.

[2020-06-23 09:26] DeeJayTC commented on #3919
One more mention of the bug here: https://stackoverflow.com/questions/62470617/how-would-it-be-possible-that-adaptive-cards-in-microsoft-teams-for-android-neve

[2020-06-23 09:29] #4202 closed

[2020-06-23 09:31] DeeJayTC commented on #3919
#3705
#3865

Seem to be similar or related aswell

[2020-06-23 09:36] DeeJayTC commented on #4199
Why don't you guys add a beta branch,
deploy changes to there first and only merge beta -> main?

main -> www.adaptivecards.io
beta -> vnext.adaptivecards.io

Thats what i usually do at least, based on that vnext would always be at least same as main most likely have more things however.

[2020-06-23 11:30] Sujit-Gaikwad commented on #3918
any updated on this?

[2020-06-23 12:10] Vishnuvk33 opened #4210 "Issue in Input.Time field in adaptive cards"
Hi,
 We are using adaptive cards in outlook, For the date control(Input.Date) We are receiving UCT(GMT 0) date while calling Action.Http. That is correct.
But if user want to give both date and time filed as input to API means, we need to use both Input.Date and Input.Time controls in Adaptive cards.
Receiving the UCT date from Date control perfectly.
But receiving the same time which is given in

[2020-06-23 13:19] Vishnuvk33 commented on #4186
Hi @dclaux what is the fix which is implemeted.

Can you please just describe it.

The Date filed will always consider the Current date time.

For example we are in IST and the date time is 23-06-2020 18:45:00

And the user make the changes in Date field and set it as 22-06-2020

What time i will get to back end ?

It is either 22-06-2020 01:15:00 or 21-06-2020 06:30:00

[2020-06-23 15:33] chriche-ms opened #4211 "[UWP] Avoid unnecessary std::shared_ptr ownership changes"
# Platform

* Android
* iOS
* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 1.2.8

# Details

Copying and assigning std::shared_ptr(s) to local variables should be avoided if possible as the incrementing and decrementing of the underlying reference cout can end up having a non-negligible effect on performance. Use of std::move

[2020-06-23 17:29] dclaux commented on #4199
@deejaytc that's what it's supposed to be basically. Not sure why vnext seems to be behind main though at the moment.

[2020-06-23 17:35] DeeJayTC commented on #4199
Deployment failed maybe?

[2020-06-23 17:59] dclaux commented on #4186
@Vishnuvk33 I'm going to use "23-06-2020 at 2:30 in the morning IST" as it illustrates the principle better:

At the protocol level, you will get a fully formed date/time, e.g. a date with a time offset. We're still debating whether we format it (if you have an opinion let us know):
- In the local time zone from the machine the date was selected, i.e. `"2020-06-23T02:30+5:30"`
- Or in GMT: `"2020-

[2020-06-24 03:45] jwoo-msft commented on #4015
@almedina-ms could you please give justification of why this feature can not be supported in Android?

[2020-06-24 03:55] jwoo-msft commented on #3855
1. it's not clear what's "auto" do in column.
2. swallowing up entire column is not desirable.

[2020-06-24 04:23] jwoo-msft commented on #3712
@adumrewal, could you please repro this issue with same payload and accessibility inspector enabled, and share the log you collect?
@anbah34

Thanks

[2020-06-24 05:10] Vishnuvk33 opened #4214 "Datetime control in outlook actionable messages adaptive cards to record back-dated datetime transactions"
Hi,
Need a  Date-time control in outlook actionable messages adaptive cards to record back-dated transactions with time.
So that user entered date-time value will be converted in to GMT with reference to client time zone.

Thanks,
Vishnukumar M

[2020-06-24 06:48] adumrewal opened #4215 "[iOS][InputFiedl - Keyboard] [Japanese keyboard is not working properly with ACRTextField input field]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Team iOS

# Version of SDK

1.2.7

# Details

Default Japanese Keyboard font changes to English font inside ACRTextField input fields. Works fine with ACRTextView input fields.

Repro steps:
- Add Japanese keyboard as one of your keyboards
- Tap on multi line input field and t

[2020-06-24 07:11] adumrewal opened #4216 "[iOS][Font color - Input Fields] [Font color in ACRTextView gets overwritten]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams iOS

# Version of SDK

1.2.7

# Details
Issues:
- ACRTextView overwrites the defined font color in the following function:
[code]
- Input field background color changes based on the system theme instead of app theme
- Keyboard appearance changes based on system theme

Th

[2020-06-24 10:35] Vishnuvk33 commented on #4186
@dclaux  Thanks for the update.

[2020-06-24 10:41] abhauau commented on #3111
Is there any update on this issue. ServiceNow solution is not working due to this defect

[2020-06-24 11:40] chriche-ms opened #4217 "[UWP] Don't use exceptions for control flow"
# Platform

* Android
* iOS
* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 1.2.8

# Details

The ParseUtil::GetBackgroundImage function supports the backgroundImage property being either a string or JSON object value. However, it does this by utilizing exception handling even though there is no error condition that needs sign

[2020-06-24 15:45] dclaux commented on #4214
@Vishnuvk33 you can use a Date input plus make your own time input using two ChoiceSet (for hours and minutes). Ideally the AC Time input would be supported in Outlook, but at the moment it is not.

[As I outlined here](https://github.com/microsoft/AdaptiveCards/issues/4186), the team is working on a fix that will give you the time zone offset for the date value.

All in all that should allow you

[2020-06-24 17:22] paulcam206 commented on #3111
@dclaux -- any word on this one?

[2020-06-24 17:24] jwoo-msft commented on #4216
@adumrewal thanks for reporting the issue.

[2020-06-24 17:36] dclaux commented on #3111
I have pinged the AM team again. They'll take it from here.

[2020-06-24 17:54] jwoo-msft commented on #3991
@arman-g sorry for the late response. we're working on the fix. I will get back to you.

[2020-06-25 13:29] chriche-ms opened #4224 "[UWP] Setting source image blocks UI thread"
# Platform

* UWP

# Author or host

Author and host. Cortana in Windows - app is both an author and host.

# Version of SDK

NuGet 1.2.8

# Details

The UWP renderer uses BitmapSource.SetSource which blocks the UI thread until the image has been opened. SetSourceAsync can be used to avoid blocking the UI thread.

[2020-06-25 15:27] JohnnyKehr commented on #4107
There's an important distinction between the two issues you linked and the one above (although I believe that the issues above are valid issues to figure out as well). In both of the ones you linked, the actions have a property set: `"actionsOrientation": "horizontal"`. With the horizontal orientation, the behavior is for the actions to be scrollable if they go outside of the view (which I don't l

[2020-06-25 17:35] jwoo-msft commented on #4107
Hello @JohnnyKehr,
The cut off issue has been fixed via [PR4108](https://github.com/microsoft/AdaptiveCards/pull/4108)
Even in vertical orientation, with this fix, button will scroll horizontally.
Thank you.

[2020-06-25 19:56] icatchx22i opened #4226 "[iOS & Android][rendering][IsVisible toggling not rendering now visible element correctly ]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS

# Author
Sending to Teams iOS version 2.0.14 with and without developers preview. As well as Android, latest version.

# Version of SDK:
JS - v1.6.0

# Details

We use a collapsed view of our cards to show our users only the most relevant information then allow them to ToggleVisibility on ad

[2020-06-26 09:50] #4217 closed

[2020-06-26 14:21] shalinijoshi19 commented on #4200
@MouadhDos can you share a little bit more context here? Is this a regression that you are observing in your scenario? What is the version of Teams you are working with where you are observing this behavior (do you have screenshots?) , what's your card payload look like etc? @siduppal / @VikrantSingh01 are you aware of a recent regression on any of the platforms around AdaptiveCards Input.Date at

[2020-06-26 14:24] shalinijoshi19 commented on #4199
@DeeJayTC we'll be debugging and and get back to you on this one on what is going in here. Thanks a ton for your patience!

[2020-06-26 14:31] shalinijoshi19 commented on #4186
@dclaux do you have a link to the Exchange

Hey @dclaux can you reference the exchange/office-side ticket # here for tracking that the customer can visit or use to track this issue ? Alternatively would you be able to update the bug once the fix has been deployed? Thanks

[2020-06-26 15:12] #4035 closed

[2020-06-26 16:10] dvehapetian opened #4228 "[Desktop/Mobile][Render] Mobile render cutts off adaptive card text"
# Platform

What platform is your issue or question related to?
* Android
* iOS

# Details
Viewing a adaptive card on the Teams mobile client, specifically IOS devices, the content of the card is cut-off. This happens especially in cases where the adaptive card is a reply of another post but can also happen in some top level threads as well. There are some examples attached, in this image you can

[2020-06-26 17:19] #4052 closed

[2020-06-26 17:19] #3978 closed

[2020-06-26 17:58] RebeccaAnne opened #4229 "[UWP][InputValidation] Focus not set on toggle input when validation fails"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP
* (See also #4230 for JS)

# Details

Using the toggle test card below, if the required toggle is not checked, on submit, the keyboard focus is not set on the toggle input.

Expected behavior:
![image](https://user-images.githubusercontent.com/9091833/85886914-be600880-b79b-11ea-9a08-2b2e4e4d81c3.png)

[2020-06-26 18:02] RebeccaAnne opened #4230 "[JS][InputValidation] Focus not set on toggle input when validation fails"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript
* (See also #4229 for UWP)

# Details

Using the toggle test card below, if the required toggle is not checked, on submit, the keyboard focus is not set on the toggle input.

Expected behavior:
![image](https://user-images.githubusercontent.com/9091833/85887281-5100a780-b79c-11ea-896a-6f91cc1463

[2020-06-26 18:38] RebeccaAnne commented on #4229
Actually, it turns out focus is actually on the toggle in some way, in that if i hit the space bar that toggle is toggled. There's just no visible indication that focus has been set there as there is when using keyboard navigation. The toggle is also not scrolled into view if it's currently off screen.

[2020-06-26 18:58] almedina-ms opened #4231 "[Inconsistency][Input Evolution] Input.Time gets revalidated on value change"
# Platform

* .NET WPF
* Android
* JavaScript
* UWP

# Details

When re-entering an input.time value that has been previously validated as non-valid, the input is automatically revalidated. We should get an agreement over if that's the expected behaviour on all platforms.

![input time validation](https://user-images.githubusercontent.com/35784165/85891629-4ba75b00-b7a4-11ea-814a-fefaf775528a.gif)

[2020-06-26 19:11] jwoo-msft opened #4232 "[Android/JS][Inconsistency] [Default Behavior of Date Showing When Date field Is Empty]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* JavaScript

# Version of SDK

v1.3

# Details
Input.Date / Input.Time / Input.Number
This is not a bug. It's inconsistency I observed. When no initial date or time or number is given for Android, Android OS fills date and time field with Today's date and time or 0.
It would be nice to have an ind

[2020-06-26 19:38] almedina-ms opened #4233 "[Inconsistency][Action.ShowCard] Javascript only renders one level of ShowCards"
# Platform

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Details

In JavaScript Action.ShowCard elements are only shown in the main card, this behaviour differs from other platforms such as UWP where showcard actions are rendered in any subcard

Javascript
![image](https://user-images.githubusercontent.com/35784165/85893894-9034f580-b7a8-11ea-87e3-c86817ba5560.png)

UWP
![image](ht

[2020-06-26 20:47] almedina-ms opened #4235 "[Android] Action.Submit crashes when no inputs"
# Platform

* Android

# Details

Using the card [Action.ShowCard.json] (https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Elements/Action.ShowCard.json) the android mobile app crashes when the "Neat" button is clicked

[2020-06-26 20:52] RebeccaAnne opened #4236 "[Designer] New Card button doesn't work when pressed more than once."
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Version of SDK

Repro'd on https://adaptivecardsci.z5.web.core.windows.net/pr/4197/designer while using it for the bug bash.
Doesn't repro on https://adaptivecards.io/designer/.

# Details

 - Click "New Card" and select the blank card option.
 - [Optional] Edit the card by adding elements, e

[2020-06-26 20:53] almedina-ms opened #4237 "[Android] Only input elements are rendered"
# Platform

* Android

# Details

Any element that doesn't have a label or an errorMessage are not being rendered/shown. This is related to changes introduced in the current version

[2020-06-26 21:13] dclaux opened #4238 "[TS][Renderer] Incomplete accessibility support for input validation"
# Platform

* JavaScript

# Details
The input validation code has incomplete support for accessibility:
- Labels and errors are not read by narrator for Input.ChoiceSet in multiselect or expanded mode
- Label and error are not read by narrator for Input.Toggle

[2020-06-26 21:30] almedina-ms opened #4240 "[Android] TextBlock is not being aligned"
# Platform

* Android

# Details

TextBlocks are not respecting the horizontal alignment

![Screenshot_20200626-171702_AdaptiveCards Visualizer](https://user-images.githubusercontent.com/35784165/85902695-82d43700-b7b9-11ea-8b93-8065bf11ba41.jpg)

![Screenshot_20200626-172559_AdaptiveCards Visualizer](https://user-images.githubusercontent.com/35784165/85902698-836ccd80-b7b9-11ea-86a4-0de40aa3de9f.

[2020-06-26 21:37] RebeccaAnne opened #4241 "[UWP][Input Validation] Inline actions not validating or submitting"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details
Using the card below, when clicking on the "Reply" inline action, the corresponding input is neither validated nor submitted.

![image](https://user-images.githubusercontent.com/9091833/85903168-8f0cc400-b7ba-11ea-924f-6578697f0401.png)

[code]

[2020-06-26 21:37] jwoo-msft opened #4242 "[Android][Input Evolution] [Num Keypad Issue]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Android

# Version of SDK
1.3

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details
[Payload](https://github.com/microsoft/AdaptiveCards/blob/user/almedina-ms/AndroidInputEvolution/samples/v1.3/Elements/Input.Number.ErrorMessage.json)

1. Touch input with id,  "input4".
2. Num Keyp

[2020-06-26 21:46] almedina-ms opened #4243 "[Android] ColumnFallback card renders nothing"
# Platform

* Android

# Details

[ColumnFallback](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.2/Elements/Column.Fallback.json) is not rendering any element. It should render two columns as those are the fallbacks

![Screenshot_20200626-174435_AdaptiveCards Visualizer](https://user-images.githubusercontent.com/35784165/85903622-9a142400-b7bb-11ea-89c6-fdb40dd72272.jpg)

[2020-06-26 21:48] jwoo-msft opened #4244 "[JS][Input Evolution] [Min Value Validation Doesn't Work]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

https://github.com/microsoft/AdaptiveCards/blob/user/almedina-ms/AndroidInputEvolution/samples/v1.3/Elements/Input.Number.ErrorMessage.json

Min value validation doesn't work. It will simply submit the value.
Max value validation does work.

[2020-06-26 21:57] RebeccaAnne opened #4245 "[UWP][InputValidation] Crash when using popup show cards"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When setting show card mode to "actionMode": "popup", rather than inline, the renderer crashes when clicking on a show card button.

Host Config Json snippit:
[code]

[2020-06-26 21:59] jwoo-msft opened #4246 "[Android][Input Evolution] [Show Card Wizard]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Android

# Version of SDK
1.3

# Details

**Payload**
https://github.com/microsoft/AdaptiveCards/blob/user/almedina-ms/AndroidInputEvolution/samples/v1.3/Scenarios/Toggle%20Wizard.json

Press button until Submit button appears. FYI, there will be only one button at each card.

After the submit button, app c

[2020-06-26 22:13] RebeccaAnne commented on #4230
David's fix correctly sets the focus, but the visual indicator still sometimes doesn't appear correctly.

[2020-06-26 22:36] shalinijoshi19 opened #4247 "[Android] Focus not on Inputs (Input.ChoiceSet/Input.Number/input.Toggle) for validation failures"
# Platform

* Android

# Details
Similar to #4230 looks like; Here's the screenshots for the various inputs:
## Input.ChoiceSet

![image](https://user-images.githubusercontent.com/20822397/85906063-0eea5c80-b7c2-11ea-89b7-988495f48557.png)

## Input.Toggle

![image](https://user-images.githubusercontent.com/20822397/85906314-c8493200-b7c2-11ea-871d-21fffc1d8dda.png)

[2020-06-26 22:38] RebeccaAnne commented on #4235
The issue is caused by a submit action in a nested card.

[2020-06-26 22:45] RebeccaAnne commented on #4241
We need to update the spec to address what happens in this case (do we validate and submit all inputs or just the associated?). Once we've decided that, this code need to be updated to behave appropriately (what it's doing now is clearly wrong).

[2020-06-26 22:51] RebeccaAnne commented on #4245
We need to spec what happens when show cards are set to popup.

[2020-06-26 22:53] jwoo-msft commented on #4246
duplicate of #4235

[2020-06-26 22:53] #4246 closed

[2020-06-27 01:07] jwoo-msft commented on #4043
@almedina-ms & @golddove can you check if Android does the right thing as specified in [here](https://github.com/microsoft/AdaptiveCards/projects/21#card-40205424).

@dclaux could you please update JS renderer as was discussed [here](https://github.com/microsoft/AdaptiveCards/projects/21#card-40205424)

[2020-06-27 04:09] #4016 closed

[2020-06-29 06:12] anbah34 commented on #4168
@jwoo-msft I remember you asking for clarity on this request. The ask here is that when an image is in a column set and also has an action enabled, we would like to have a solution to identify if the parent has a action on it. The reason is Teams today opens the image in full screen when clicked on it. If there is a column action as well then both things happen - Image opens in full screen as well

[2020-06-29 13:56] Joshua-David opened #4251 "[UWP][Textblock] Long string doesn't wrap"
# Platform
UWP

What platform is your issue or question related to? (Delete other platforms).
* UWP

# Author or host
Host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.
Cortana on Windows

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...
1.2.7

# Details
We have long

[2020-06-29 21:06] shalinijoshi19 commented on #3996
@jwoo-msft could you confirm if this is still an issue?

[2020-06-29 21:20] jwoo-msft commented on #3996
@Sujit-Gaikwad as per comments on #3824, it seems that Teams has fixed the issues. Could you confirm that the listed issues are fixed, and we can close this?

Thank you

[2020-06-29 21:26] shalinijoshi19 commented on #4176
@jwoo-msft let's follow up here with @nimercer (Nicola) from Cortana to understand their use case. Meanwhile let's update the WPF renderer to match the behavior of other renderers.

[2020-06-29 21:26] Sujit-Gaikwad commented on #3996
@jwoo-msft , as per my obsevation it is working fine but some time the selection is not working randomaly for some iphone version below 8. we got some customer feedback on this can.
i can't tell you exact scinario but randomly some time it is creatig issue other than that it is working fine

if are able to provide a reason for this issue it will be better for me

thanks  for support
regards,
sujit

[2020-06-29 21:28] shalinijoshi19 commented on #4198
@paulcam206 / @RebeccaAnne to help review this and shepherd it into main where it can bake for a bit until we push out the July refresh.

[2020-06-29 21:38] jwoo-msft commented on #3996
@Sujit-Gaikwad
thanks for your input. So do your and your customers' observations apply to all three issues, #3799, #3824, #3888?

[2020-06-29 21:39] #3296 closed

[2020-06-30 01:00] shalinijoshi19 commented on #3991
@arman-g the designer doesn't work against the .NET HTML library but the JS renderer NPM package directly. @jwoo-msft then this is not a dup of #3977 correct?

[2020-06-30 01:02] shalinijoshi19 commented on #4116
@jwoo-msft what was the resolution here again wrt #1 & #2 ?

[2020-06-30 01:05] arman-g commented on #3991
No it's not.

[2020-06-30 01:19] jwoo-msft commented on #3991
Yes, you're correct. the title is changed to [HTML] from [Templating], I mentioned #3977 because as in #3977, this issue had Templating as sub category which is wrong.

[2020-06-30 01:22] jwoo-msft commented on #4116
@shalinijoshi19  for #1, there is a global setting for app that disables systems to apply system's theme. for #2, the control mechanic is iOS standard.

[2020-06-30 01:28] #3947 closed

[2020-06-30 05:01] shalinijoshi19 commented on #4156
@matthidinger as you are making updates to the documentation, possible to pick this up?

[2020-06-30 05:03] shalinijoshi19 commented on #4096
@siduppal could you help take look to identify if this is a teams issue at all? @dclaux / @matthidinger / @paulcam206 FYI

[2020-06-30 05:21] shalinijoshi19 commented on #4183
@RebeccaAnne can you take a look at this one to investigate ?

[2020-06-30 05:22] shalinijoshi19 commented on #4136
@jwoo-msft can you take a look at this one to drive what the behavior should be here ? @dclaux / @matthidinger thoughts?

[2020-06-30 05:26] Trinetra-MSFT commented on #4096
@shalinijoshi19 , Thanks for bringing up this issue, We can reproduce this as Bug. We are looking into this.
We will let you know once this got resolved.

[2020-06-30 05:29] shalinijoshi19 commented on #4139
@jwoo-msft do we not support spaces in URL for action.OpenURL actions? Also @VikrantSingh01 / @anbah34 have you guys seen this before?

[2020-06-30 05:30] shalinijoshi19 commented on #4191
@RashmiMithun can you elaborate on what version and platform of the templating SDK you are using?

[2020-06-30 05:32] shalinijoshi19 commented on #4210
@dclaux could you please help with triage for this one?

[2020-06-30 05:34] shalinijoshi19 commented on #4214
@Vishnuvk33 please do take a look at @dclaux 's response above and reactivate or file a separate one in case this doesn't work. I am dup'ing this to #4186

[2020-06-30 05:34] #4214 closed

[2020-06-30 05:36] shalinijoshi19 commented on #4215
@jwoo-msft can you help me understand the nature of changes involved here? Thanks!

[2020-06-30 05:38] shalinijoshi19 commented on #4226
@VikrantSingh01 / @anbah34 / @Aditya0603 have you guys seen reports of this issue wiht Teams mobile again?

[2020-06-30 05:40] shalinijoshi19 commented on #4228
@anbah34 / @VikrantSingh01 / @aditya0603 have you guys seen reports of this at all?

[2020-06-30 06:07] janandreschweiger commented on #4096
@Trinetra-MSFT, thank you. If you need any support just let me know.

[2020-06-30 08:52] nimercer commented on #4176
Hi @shalinijoshi19 / @jwoo-msft - apologies for missing your comment before.
We're using an API to pull Meeting titles and populate them into Adaptive cards using the templating system. Any meeting which contained the string '\' in the title (for example _'Schedule for the [UWP\Triage] team'_) would cause the cards to break. We're currently working around this by manually adding extra \ in the tit

[2020-06-30 15:31] dclaux commented on #4186
@Vishnuvk33 the issue has been fixed server-side. The fix should be deployed in about two weeks.

[2020-06-30 16:02] dclaux opened #4257 "[Feature] Make it possible to mark a button as disabled"
## Description
In some scenarios, multiple actions might be presented in a card in an Outlook Actionable Message. As the user presses invokes these actions, the card might be refreshed and some of the actions that were previously available might not be available anymore.

Let's take the example of a card with two mutually exclusive actions, A and B (clicking A makes B unavailable, and the other wa

[2020-06-30 16:13] shalinijoshi19 commented on #4257
@RebeccaAnne FYI and also to weigh in. Also is there space to get this discussion slotted in for one of the design meetings?

[2020-06-30 17:12] dependabot-preview[bot] opened #4258 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/source/tools/hostConfig/scss-to-json/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/

[2020-06-30 20:13] IntranetFactory opened #4260 "data binding to $index fails"
I use the following card definition in the online designer. $index in ` "$when": "${$index < 3}",` works as expected, the 4th item is not shown. But the $index in `"l${$index+1} = ${id}` doesn't work, $index is always 0.

How can I use the $index of the current element in my expression?

[code]

actual result:
![image](https://user-images.githubusercontent.com/7462342/86172491-6d7a4800-baec-11ea-9

[2020-06-30 20:23] dclaux commented on #4260
@IntranetFactory thanks for reporting. I can repro on adaptivecards.io/designer, but not locally from compiled code. I believe I fixed this bug some time ago and it's likely the web site hasn't been updated yet. @matthidinger?

[2020-06-30 20:41] IntranetFactory opened #4261 "data binding to boolean expression fails"
I need to bind `isVisible` to an expression returning a boolean.

When I use the expression `"text": "n = ${count(records)}, visible ${count(records)>10}",`  and records[] contains 7 objects I get, as expected `false` for `${count(records)>10}` :
![image](https://user-images.githubusercontent.com/7462342/86174598-f3e45900-baef-11ea-92e5-25eff91d81e2.png)

But how can I now bind that to `isVisible`

[2020-06-30 20:43] shalinijoshi19 commented on #4251
interesting, @paulcam206 / @RebeccaAnne you guys seen this one before? Thoughts?

[2020-06-30 20:45] shalinijoshi19 commented on #4260
@dclaux do you know the issue# to help track the fix?

[2020-06-30 20:46] shalinijoshi19 commented on #4261
@dclaux could you take a first pass? tx

[2020-06-30 20:52] IntranetFactory commented on #4260
When I try the same card in cdn.html running on localhost preview does not work at all. I think that cdn.html uses the latest version so I couldn't verify if it's fixed in latest  `<script src="https://unpkg.com/adaptivecards-designer@latest/dist/adaptivecards-designer.min.js"></script>`

![image](https://user-images.githubusercontent.com/7462342/86175766-e62fd300-baf1-11ea-8119-199422f59c69.png)

[2020-06-30 20:55] IntranetFactory opened #4264 "Designer preview fails in cdn.html sample"
When I try preview in cdn.html running on localhost preview does not work at all. I think that cdn.html uses the latest version   `<script src="https://unpkg.com/adaptivecards-designer@latest/dist/adaptivecards-designer.min.js"></script>`

When Preview is clicked console shows the following entry twice:
`Template expansion error: Cannot read property 'dataType' of undefined card-designer-surface.t

[2020-06-30 21:04] paulcam206 commented on #4251
We're using the standard UWP XAML TextBlock control and setting the text trimming and text wrapping properties like so:
https://github.com/microsoft/AdaptiveCards/blob/314146e0e162295b292dbdfe94867592e846620b/source/uwp/Renderer/lib/TextHelpers.cpp#L153-L159

AFAIK we're not supplying any special word breakers or anything, so unexpected behaviors are likely present in the controls themselves. It's

[2020-06-30 21:06] dclaux commented on #4260
@IntranetFactory as far as I can tell from the screenshot, you are not in preview mode, so it indeed won't work. But anyway, I am not sure a package with the fix has been published yet. The locally compiled code doesn't have the problem.

[2020-06-30 21:06] dclaux commented on #4260
@shalinijoshi19 sorry, I don't. I believe it was part of a bigger set of changes.

[2020-07-01 06:19] arman-g commented on #3991
@shalinijoshi19 #4091 is the dup of this.

[2020-07-01 10:33] #4198 closed

[2020-07-01 15:20] golddove opened #4267 "[JavaScript] Toggle.Visibility unable to target TextBlock's"
# Platform

* JavaScript

# Version of SDK

Released designer

# Details

Following card should allow toggle visibility of TextBlock and Image w/ the action. Instead, clicking the action only hides the Image (the TextBlock remains shown). The same payload works fine on the Android renderer.

[code]

[2020-07-01 15:24] dclaux commented on #4267
Confirmed - this is a regression.

[2020-07-01 16:10] shalinijoshi19 commented on #4043
@jwoo-msft are we actually targeting this for this month's release? This one will include a behavior change that will need to be documented as well and the behavior needing to be vetted for UWP/.NET to ensure it's consistent.

[2020-07-01 16:20] shalinijoshi19 commented on #4167
Reactivating to track fixes on the other platforms

[2020-07-01 16:28] shalinijoshi19 commented on #3702
@golddove / @jwoo-msft as we fix mobile behavior can we take the time with this investigation to ensure we are doing the same consistent thing on UWP + .NET renderers also?

[2020-07-01 19:48] #4242 closed

[2020-07-01 20:45] jwoo-msft opened #4269 "[Android][MarkDown] [strong emphasis at the end is not covered]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Version of SDK
feature/inputEvolution

# Details
[code]

The card has text that have strong emphasis. test1 will become bold as it should, but test2 doesn't get bold. This is not reproducible on iOS.

[2020-07-01 21:08] RebeccaAnne opened #4270 "[.NET WPF][Input Validation] Crash in card with action set show card"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details

When rendering the below card an exception is thrown when hitting the submit button on the main card. The card contains an action set with a show card containing a required input.

![image](https://user-images.githubusercontent.com/9091833/86291666-2cde0580-bba4-11ea-98be-160070b4b23c.

[2020-07-01 21:11] almedina-ms commented on #4269
what do you mean by not reproducible? Do you mean to say that in iOS it works as expected?

[2020-07-01 21:17] RebeccaAnne opened #4271 "[.NET WPF][Input Validation] Label, validation, and error message are shown for input with isVisible set to false"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details

In the following card, the input is set to `"isVisible" : false`. In spite of this, the label is shown when the card is rendered:
![image](https://user-images.githubusercontent.com/9091833/86292276-5a777e80-bba5-11ea-9455-dfcab5c0525c.png)

If the user hits the submit button, the error

[2020-07-01 21:24] almedina-ms opened #4272 "[UWP][Documentation] There's no documentation for parser extensibility"
# Platform

* UWP

# Version of SDK

main

# Details

Documentation on how to create a custom element does not exist and there are no samples on the visualizer app. UWP is not self explanatory when creating a custom element so new users may not use this feature

[2020-07-01 21:56] golddove opened #4274 "[Android][Input Validation] isRequired being ignored"
# Platform

* Android

# Version of SDK

latest `feature/inputEvolution`

# Details

Expected error text and unsuccessful submit when clicking the Submit action without selecting required radio option. Instead, submitted successfully without any error shown.

![image](https://user-images.githubusercontent.com/4442788/86295221-1647a680-bbc4-11ea-9396-2315ca4c975b.png)

Using payload from `samples/v

[2020-07-01 22:02] jwoo-msft opened #4275 "[WPF][Input Evolution] [Inline Submit Action Crash]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Version of SDK
feature/inputEvolution

# Details
**Payload**
https://github.com/microsoft/AdaptiveCards/blob/feature/inputEvolution/samples/v1.3/Elements/Input.Text.InlineAction.Label.json

Regression is observed; clicking on inline action crashes app

[2020-07-01 22:11] jwoo-msft opened #4276 "[WPF][Input Evolution] [Number Validation Doesn't Work]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Version of SDK
feature/inputEvolution

# Details
**Payload**
https://github.com/microsoft/AdaptiveCards/blob/feature/inputEvolution/samples/v1.3/Elements/Input.Number.ErrorMessage.json

if number is inputted greater than max, the number is divided by 10 until it's within the range by app.

Simi

[2020-07-01 22:23] jwoo-msft opened #4277 "[Android][Input Evolution] [Input Evolution Host Config Setting Does not Work]"
# Platform

* Android

# Version of SDK

feature/InputEvolution

# Details
[code]

When above host config is used for wpf, it works. App crashes on Android

[2020-07-01 22:50] matthidinger opened #4278 "[Schema] Input.ChoiceSet could be more succinct with optional title"
Some products and partners are really focused on minimizing payload size. In many cases the for an `Input.ChoiceSet` the `title` and `value` may be the same content.

## Shema changes

- `title` would change to `required: false`
- If a title is omitted, the `value` will be used

### Example

[code]

We could go even further and allow something like this:

[code]

[2020-07-01 22:54] RebeccaAnne opened #4279 "[UWP][Input Validation] Suffix from host config not respected"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

When using the following card and host config, "*" is still used to mark required inputs rather than "(required)".

![image](https://user-images.githubusercontent.com/9091833/86298622-02e00f80-bbb3-11ea-81d4-4f407f9d5a67.png)

#### Card
[code]

#### Host Config
[code]

[2020-07-01 22:59] RebeccaAnne opened #4280 "[.NET WPF][Input Validation] Suffix from host config not respected"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details

When using the following card and host config, "*" is still used to mark required inputs rather than "(required)".

![image](https://user-images.githubusercontent.com/9091833/86298901-bc3ee500-bbb3-11ea-8341-5d0368ebce16.png)

#### Card
[code]

#### Host Config
[code]

[2020-07-01 23:02] almedina-ms opened #4281 "[UWP][Extensibility] Adding an input value to a custom element crashes"
# Platform

* UWP

# Details

If a new element is defined and that element is an input then it has to call the AddInputValue element, that element should have an underlying InternalId which is not a fact as new types defined by the user don't derive from AdaptiveCardElementBase, the implementation should change to use a string (which every input has) to use as index for getting the inputs

[2020-07-01 23:05] matthidinger commented on #3740
Hi folks, we've got some updates to share here from the Teams developer community call. This video walks through how to use an Adaptive Card in an incoming webhook, but please note there is a limitation today with regards to Action.Submit. Take a look at the video for details:

https://www.youtube.com/watch?v=y5pbJI43Zvg

[2020-07-01 23:46] dclaux commented on #4278
Sounds good to me.

I don't understand this statement though:

This would have to be possible too I believe:
[code]

[2020-07-02 01:04] jwoo-msft commented on #4269
yes

[2020-07-02 08:44] #4224 closed

[2020-07-02 12:08] Jakob-vdH opened #4283 "[Designer] tries to load twitter profile picture"
# Platform
- React

# Package Versions
- adaptivecards-designer v0.7.4

# Details
I setup the AdaptiveCard Desinger using React js and the adaptivecards-designer npm package like shown in the [designers readme](https://www.npmjs.com/package/adaptivecards-designer).

Now after attaching the desinger, I am setting a card using the designer.setCard() function. Looking at the designer in the built app

[2020-07-02 12:16] nimercer opened #4284 "[Accessibility] Support AltText for AdaptiveTextBlock"
# Platform

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Author & Host

If you're an author, who are you sending cards to?
1.2.9

Explain your issue. If you just have a question, please post [on StackOverflow instead]

We've been seeing some accessibility issues where the information written in an Adaptive Text Block is not enough information for a narrator user or

[2020-07-02 16:08] adamrangs opened #4286 "[iOS/Android][backgroundImage] Lookup native element of backgroundImage by including `id` in JSON"
**What platform is your feature request related to? (Delete other platforms).**
* Android
* iOS

**Is your feature request related to a problem? Please describe.**
I would like to add a background image retrospectively (post-render) by querying the view hierarchy using an `id`.  Currently the JSON payload for a card does not support including an `id` for backgroundImage.

**Describe the solution y

[2020-07-02 22:34] Sujit-Gaikwad commented on #2876
hi as we got support for GIF image on Android and desktop teams. but iOS devices having this issue. are Microsoft teams going to consider this feature?

[2020-07-03 00:40] almedina-ms commented on #4276
Adding more context here, the input number doesn't get cut when submit is pressed, it happens when the input loses focus

[2020-07-03 10:43] scottlovegrove opened #4294 "ActionSet Schema data, incorrect description"
The description for `actions` is incorrect. It currently says:

It should probably say:

---
* URL: https://adaptivecards.io/explorer/ActionSet.html

[2020-07-03 12:38] dylan-asos commented on #3740
Quick schema reference as used in the video linked from @matthidinger  if it helps anyone, it's wrapping the adaptive content in the outermost envelope that got this working for me, then it's basically as described at https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference
[code]

[2020-07-03 15:31] scottlovegrove opened #4296 "[MS Teams][Rendering] [Desctructive button type not rendered correctly]"
# Author or host

Author

If you're an author, who are you sending cards to?

Sending to Microsoft Teams

# Version of SDK

No SDK.

# Details

This particular issue is how an Action is rendered, when outside the "actions" area in Teams.

If you use the following Adaptive Card json https://pastebin.com/MpdumUjh in the designer, this renders correctly
![image](https://user-images.githubusercontent.

[2020-07-03 15:31] scottlovegrove commented on #4296
In case the pastebin link disappears, the full json is as follows:

[code]

[2020-07-03 15:39] scottlovegrove opened #4297 "[MS Teams][Rendering] [Empty Column results in complete rejection of json]"
# Author or host

Are you an author

If you're an author, who are you sending cards to?

Microsoft Teams

# Version of SDK

No SDK

# Details

If you have a ColumnSet that includes an empty Column, MS Teams will completely reject the entire json and errors.

[code]
Using this card json, Teams will reject it, despite it appearing to be valid json in the designer. The designer will give you this:
![

[2020-07-03 17:05] TylerOdenthal commented on #3701
Different Bot, same problem. Task Module not connecting to external site. Maybe my button is configured wrong?

Bot was deployed using Microsoft Composer.

![BirdBotTaskModule](https://user-images.githubusercontent.com/63730511/86487793-ee675880-bd13-11ea-8f72-8c71f28f6737.png)

`{
                    "type": "Action.Submit",
                    "title": "Task Module",
                    "data":

[2020-07-04 09:42] mcarbenay opened #4298 "[UWP][Rendering] AccessViolationException on ImageSet when url is invalid"
# Platform

What platform is your issue or question related to?

* UWP

# Author or host

Host, custom host in a UWP application

# Version of SDK

Nuget : AdaptiveCards.Rendering.Uwp 1.2.9

# Details

When rendering an Imageset with an invalid url for an image, the rendering fails with a AccessViolationException, crashing the app as this error is a terminating exception.
[UwpError.zip](https://gi

[2020-07-05 20:54] shalinijoshi19 commented on #4167
@golddove how are we looking on Android/other platforms?

[2020-07-06 05:13] Wajeed-msft commented on #3701
Could you please change the valid domains to **_allaboutbirds.org_** and check? If you are still facing the issue, please share the steps on how I can get to card with Task Module.
![image](https://user-images.githubusercontent.com/31851992/86557926-65e7f280-bf75-11ea-8cd1-b6ced2c60413.png)

[2020-07-06 05:37] Subhasish-msft commented on #3701
@VCJames,We saw the logs and the requests are failing with 503 response. Do you have any telemetry collected on the firewall that  you could check? Do you see the same issue when talking with the bot from web chat?

[2020-07-06 05:44] TylerOdenthal commented on #3701
If you have the BirdBot app installed which it looks like you do, just type "menu" and then tap the "Learn a Random Bird" button to get to the "TasK Module" button.

![image](https://user-images.githubusercontent.com/63730511/86559248-5b474200-bf10-11ea-8658-c5905e2d8066.png)

Domain change did not fix the issue.

![image](https://user-images.githubusercontent.com/63730511/86559355-95b0df00-bf10-1

[2020-07-06 05:50] TylerOdenthal commented on #3701
You can also access the task module button by sending it this photo at any time in the bot. There should be interruptions built in.

Best of luck!

![image](https://user-images.githubusercontent.com/63730511/86559757-a0b83f00-bf11-11ea-8fcb-ee8500b8c3a7.png)

Bird Photo

![image](https://us-prod.asyncgw.teams.microsoft.com/v1/objects/0-eus-d3-8288714cce7ae2a64ae2f8a310d37e5e/views/imgpsh_mobile_sa

[2020-07-06 13:05] Wajeed-msft commented on #3701
Got it, thanks for details. I could repro it using your app. I see this error in console logs: _Bot returned unsuccessful status code NotImplemented_.
![image](https://user-images.githubusercontent.com/31851992/86595657-acaa0c80-bfb6-11ea-943a-dae0daeba2ec.png)

Could you please confirm if you have implemented [OnTeamsTaskModuleFetchAsync](https://github.com/microsoft/BotBuilder-Samples/blob/maste

[2020-07-06 14:43] Sujit-Gaikwad commented on #2876
Hi,
I found this issue link under the adaptive card roadmap page.
can you please update me that for iOS is it going to take forward because as per my knowledge except iOS other MSTeams platform supporting this image format.
In iOS teams. the image format is supported but the **displayed animated image is not working it is getting displayed in normal image form**.

[2020-07-06 16:49] TylerOdenthal commented on #3701
I'll look into the OnTeamsTaskModuleFetchAsync snippit in the code and run the Ngrok later today. This was Andrew's response since I made the bot in Microsoft Composer, not from scratch. This is from our email thread @Wajeed-msft

![AndrewResponse](https://user-images.githubusercontent.com/63730511/86618390-afccda80-bf6d-11ea-9120-2424c51106a1.png)

[2020-07-06 16:52] TylerOdenthal commented on #4135
Appreciate you guys adding it to the requests. I would probably use this feature for accepting multiple files at once and sending those files to cognitive services via HTTP in my bots.

[2020-07-06 18:27] almedina-ms commented on #4274
No repro, latest build works, now that I see the picture, the app used was not the latest one so that might explain the non validation behaviour

![Screenshot_20200706-142520_AdaptiveCards Visualizer](https://user-images.githubusercontent.com/35784165/86626446-874bdd00-bf7b-11ea-907d-5936c53f4a6a.jpg)

[2020-07-06 18:27] #4274 closed

[2020-07-06 19:29] jwoo-msft opened #4300 "[Spec][Inconsistency] [Invalid Size Specification For ImageSet Size Property]"
# Platform

What platform is your issue or question related to? (Delete other platforms).
* Spec

# Details
Our spec does not specify that "Auto" or "Stretch" is invalid values for ImageSet size nor what happens when invalid values are encountered for the size.

**Resolution From Discussion**
1. "auto", "stretch" are invalid
2. default size is "medium" when invalid or empty size is present.

[2020-07-06 19:37] shalinijoshi19 commented on #4043
@RebeccaAnne this is the issue around only allowing a subset of enum values for ImageSets (disallowing auto and stretch sizes) and needing to update our [schema docs](https://adaptivecards.io/explorer/ImageSet.html) to reflect this

[2020-07-06 19:40] shalinijoshi19 commented on #4300
This tracks the doc work to go with #4043

[2020-07-06 19:42] almedina-ms commented on #4269
progress update: something is failing on the MarkDownParser GenerateHtml method, UWP works as expected so it may be a compiler issue

[2020-07-06 19:49] shalinijoshi19 commented on #2448
@matthidinger reminder to update + close this issue out post RTM push today!

[2020-07-06 20:01] #4233 closed

[2020-07-06 20:01] #4267 closed

[2020-07-06 20:04] shalinijoshi19 commented on #4043
Reopening to track Android/iOS changes.

[2020-07-06 20:12] almedina-ms commented on #4269
another progress update: expected behaviour happens in emulators, just not in devices

![image](https://user-images.githubusercontent.com/35784165/86637406-4909ea00-bf8a-11ea-818b-3822f3ed6cdb.png)

[2020-07-06 20:27] shalinijoshi19 opened #4301 "[JS] Update code in main to reflect 1.2 as the latest supported schema version"
# Platform

* JavaScript

# Author or host
We need to update our latest schema version from 1.3 to 1.2 ahead of our 20.06 deployment out of main to adaptivecards.io/designer

[2020-07-06 20:50] shalinijoshi19 commented on #4167
@golddove as part of closing this out, can you help create a separate issue to track the story on the other remaining platforms (vis .NET (WPF/HTML), UWP)? Thanks!

[2020-07-06 21:00] #4167 closed

[2020-07-06 21:59] shalinijoshi19 commented on #4301
Assigning to you @dclaux for fixing ahead of our upcoming push today. Thanks!

[2020-07-06 22:28] jwoo-msft commented on #4269
@almedina-ms that's interesting find

[2020-07-06 23:00] #4216 closed

[2020-07-06 23:17] #4215 closed

[2020-07-06 23:48] RebeccaAnne commented on #3154
This issue came up again in discussion of #3702.

[2020-07-07 00:19] RebeccaAnne opened #4305 "[.NET] Excess spacing in empty text blocks"
# Platform

What platform is your issue or question related to? (Delete other platforms).

- [x] .NET HTML
- [x] .NET WPF

# Details
Spun off from #3702. This bug tracks fixing the spacing issue described in that bug for .NET. Specifically, if a TextBlock has an text property with an empty string, no separator or empty vertical space should be rendered for that text block. The text block should in

[2020-07-07 00:41] #3700 closed

[2020-07-07 04:45] #4301 closed

[2020-07-07 09:25] Pepsi1x1 commented on #3255
Where does this work sit in terms of priorities? I can see the last commit was to the perf test branch back in February. It would be great to see some progress on this and have confidence this may end up in main.

This is an important component for our app and we're blocked on providing a mobile implementation of our chatbot on Xamarin.

[2020-07-07 12:30] adumrewal opened #4311 "[iOS-Android][Markdown rendering parity] [Bulleted list is not in parity with desktop]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS
* UWP

# Author or host

Host - Teams

# Version of SDK

Latest master

# Details

For the following cards JSON, desktop and mobile have different experiences.
|Mobile|Desktop|
|:-:|:-:|
|<img width="250" alt="Screenshot 2020-07-07 at 5 56 19 PM" src="https://user-images.githubusercontent.com

[2020-07-07 15:14] matthidinger opened #4312 "[Website] Schema explorer incorrectly lists "Column" as a "fallback" option"
# Platform

* Website (url: http://adaptivecards-ci.azurewebsites.net/explorer/TextBlock.html)

With a change in #4273 `Column` is marked as an `Element` but that isn't quite correct. It's really a `NonRootElement` or `ChildElement` or some other moniker, which still has all the styling properties of `Element` but cannot be used outside of a `ColumnSet`. This will require some code changes to `ac-

[2020-07-07 16:23] matthidinger opened #4313 "[JS] npm packages need to include a LICENSE file in the root"
[code]

[2020-07-07 17:25] shalinijoshi19 commented on #3702
Closing this out at this point.

[2020-07-07 17:25] #3702 closed

[2020-07-07 17:31] matthidinger commented on #4294
Thanks for reporting! This is fixed in `main` and will be published to prod this week.

* URL: http://adaptivecards-ci.azurewebsites.net/explorer/ActionSet.html

[2020-07-07 17:31] #4294 closed

[2020-07-07 18:39] #4279 closed

[2020-07-07 18:48] #4243 closed

[2020-07-07 18:48] #4241 closed

[2020-07-07 18:51] #4240 closed

[2020-07-07 18:52] #4237 closed

[2020-07-07 18:52] #4235 closed

[2020-07-07 21:39] Hammad-H opened #4318 "[.NET WPF][RenderCardToImageAsync fails on certain cards]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details
The .NET WPF method RenderCardToImageAsync is unable to process certain payloads. I have tested with all our samples and the following are not working:
* v1.1/Tests/Image.Stretch
* v1.1/Tests/ImageSet.Stretch
* v1.2/Tests/ColumnSet.AllElements.Stretch.ToggleVisibility
* v1.2/Tests/Conta

[2020-07-08 04:18] jwoo-msft commented on #4311
@adumrewal
I can't reproduce the issue. I tested it on both main and 1.2.10 iOS branch.
![image](https://user-images.githubusercontent.com/4112696/86875181-c458c200-c096-11ea-9de2-f876a0e7a96f.png)

[2020-07-08 06:16] DreamBlack opened #4322 "[.Net][AdaptiveCards.AdaptiveSerializationException] [AdaptiveCard.FromJson failed when i set isVisible attribute using a bool varaible from an object]"
Here is a copy of my template:
{
        "type": "FactSet",
        "facts": [
          {
            "title": "Resolved By:",
            "value": "${ResolvedBy}"
          },
          {
            "title": "Resolved At:",
            "value": "{{DATE(${ResolvedAt}SHORT)}}"
          }
        ],
        "isVisible": "${ResolvedByVisible}",
        "spacing": "Small",
        "separator": true

[2020-07-08 09:48] Sujit-Gaikwad commented on #3885
Any progress / update on this issue??

[2020-07-08 09:49] Sujit-Gaikwad commented on #3993
hey there any updates on  this??

[2020-07-08 12:03] #4211 closed

[2020-07-08 12:17] RashmiMithun commented on #4191
Hi Shalini
I have fixed this issue, but i have one question how to bind Input.Time with 12hrs format with AM/PM.
Could you please help me

[2020-07-08 13:31] golddove opened #4324 "[.NET, UWP][Inconsistency] Support chevron for Action.ShowCard"
# Platform

* .NET HTML
* .NET WPF
* UWP

# Version of SDK

latest main

# Details

Allow styling of Action.ShowCard button based on open/closed state of card (to support the addition of a chevron). This is currently possible in JavaScript, iOS, and Android (refer to #4167).

[2020-07-08 17:12] erwelch opened #4325 "[MsTeams] horizontalAlignment: right inconsistent from designer to Teams"
Using .NET:
    AdaptiveCards.Templating Version=1.0.0
    AdaptiveCards Version=1.2.4

I have an adaptive card in the designer with this schema for the top of the card (did not paste the whole card, just the section impacted by the bug):

[code]

In the designer it appears how I would expect with the delete button aligned to the right:

![image](https://user-images.githubusercontent.com/38870842/

[2020-07-08 19:31] jwoo-msft commented on #4311
This is already fixed via PR attached to #4117. FYI, We migrated to the main branch from the master.

[2020-07-08 19:31] #4311 closed

[2020-07-09 05:33] #4053 closed

[2020-07-09 06:34] longlong-cs opened #4334 "[Android][TextRun] [color not working for TextRun if it is specified a select action, works fine with iOS lib]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Version of SDK

version 1.2.6, also reproduce with 1.2.10

# Details

We try to use TextRun to implement a clickable text, according to the official doc, we can customize its color and set a select action, but after i set an action for it, the color won't take effect. I checked the code and foun

[2020-07-09 10:59] Subhasish-msft opened #4335 "[iOS] [isVisible property in Adaptive card not working in mobile]"
I am rendering an Adaptive card in iOS with some hidden button with `isVisible: false` property. The hidden Actions items are all shown in iOS where as, It works fine in Android and Desktop App.

iOS View :
![image](https://user-images.githubusercontent.com/56869764/87031701-233a4a80-c201-11ea-9b05-6700938cbbbf.png)

Android View:
![image](https://user-images.githubusercontent.com/56869764/8703176

[2020-07-09 11:00] Subhasish-msft commented on #4335
Sample Json for repro
[code]

[2020-07-09 11:52] Vishnuvk33 commented on #4186
Hi @dclaux  can you please describe, what fix is deployed in server side.

For Ex:  We need to use date time control in adaptive cards designer instead of date control.

Please just describe how the fix work.

[2020-07-09 14:44] mindmodel commented on #4032
I don't understand how my editing the title of the issue to change the number of clicks unassigns someone.  I don't work for Microsoft.  I'm not a contributor to the code of this project.  Just reporting the issue.  Thanks!

[2020-07-09 15:20] dclaux commented on #4186
@Vishnuvk33 I have explained the fix in a previous comment above. I do not know if the team went with local or GMT, but again that should make zero difference to you. You can continue using the Date control as before.

[2020-07-09 15:25] Vishnuvk33 commented on #4186
Yes thanks @dclaux .
But i also have raised another one issue [https://github.com/microsoft/AdaptiveCards/issues/4214](url) to record backdated data.
You closed that issue and mentioned that fix for this issue is same as [https://github.com/microsoft/AdaptiveCards/issues/4186](url)
So What about recording backdated record.
We need combination of both date and time controls as a single control to g

[2020-07-09 15:41] matthidinger opened #4336 "[JS] [v1.3] Input labels should render as a <label for="X" /> the <input>"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Details

I think there are opportunities to improve the HTML that is generated from the new `label` property on `Input` elements. If we take advantage of `<label for="X" />` we get a bunch of UX improvements outlined below.

## Payload

[code]

## Generated HTML

[code]

## Expectation

* Sim

[2020-07-09 16:31] jwoo-msft commented on #4032
@shalinijoshi19 @matthidinger  Although until we know what SDK MS webchat client sample uses, we won't know it for sure, this sounds like .NET HTML issue since we had a similar issue in JS renderer, and got fixed. .NET HTML probably has to do similar changes. #3723. cc @dclaux

[2020-07-09 16:49] jwoo-msft commented on #4335
@Subhasish-msft Thanks for reporting the issue and providing the payload.
I can reproduce the issue at my end.

[2020-07-09 18:02] #4281 closed

[2020-07-09 18:03] #4280 closed

[2020-07-09 18:03] #4275 closed

[2020-07-09 18:03] #4271 closed

[2020-07-09 18:03] #4270 closed

[2020-07-09 18:51] matthidinger opened #4339 "[WPF] Update Xceed license"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Detail

1. Make sure that third-party-notice explains the non-commercial limitation
2. Update the `AdaptiveCards.Rendering.Wpf.Xceed` `.csproj` License to match the `wpftoolkit` license. https://github.com/xceedsoftware/wpftoolkit/blob/master/license.md

[2020-07-09 18:52] matthidinger opened #4340 "Update NOTICE file with all OSS licenses"
Generate new NOTICE file in CG

[2020-07-09 18:52] shalinijoshi19 commented on #4339
@matthidinger assigning to you for now. Thanks

[2020-07-09 19:03] shalinijoshi19 commented on #4334
@almedina-ms can you take a look at this to see what's going on here real quick? Thanks.

[2020-07-09 19:09] shalinijoshi19 commented on #4322
@jwoo-msft could you take a look at this one?

[2020-07-09 19:10] #4340 closed

[2020-07-09 19:12] shalinijoshi19 commented on #4318
Hey @Vasanth-S would you be able to take a look at this one? Thanks!

[2020-07-09 19:22] shalinijoshi19 commented on #4297
@siduppal / @VikrantSingh01 do you have any idea on why Teams would reject empty Columns here again?

[2020-07-09 19:24] TylerOdenthal commented on #3701
Had a discussion with Microsoft Teams App Store, and we decided just to not use Task Modules in order to pass deployment requirements.

I'll add Task Modules back into my bots when they are working with Composer and PVA.

Best of luck!

[2020-07-09 19:26] shalinijoshi19 commented on #4296
@siduppal could you help investigate this one from the Teams side please? thanks!

[2020-07-09 20:31] golddove opened #4343 "[JavaScript] Image outside an ImageSet sized differently"
# Platform

* JavaScript

# Version of SDK

latest main (designer on adaptivecards-ci)

# Details

Image outside an ImageSet looks different from an Image inside an ImageSet. Expected them to look the same.

<img width="423" alt="Screen Shot 2020-07-09 at 4 29 11 PM" src="https://user-images.githubusercontent.com/4442788/87087569-f4e45b80-c250-11ea-99a1-0ca396403f43.png">

Payload:

[code]

[2020-07-09 20:57] Hammad-H opened #4344 "[.NET WPF][Rendering] [Unable to render only the template]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details
I have tested the .NET WPF visualizer tool and tried to render only the template part of card payload. For the Activity Update card, the behavior is what I would expect as shown below:
![template](https://user-images.githubusercontent.com/33607998/87089837-06a01180-c205-11ea-9cdd-61ae11

[2020-07-09 21:39] jwoo-msft commented on #4344
@Hammad-H
Thanks for the bug report. I can repro this issue.

[2020-07-09 23:09] rkapoor028 commented on #3740
**Official Update:-**
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/35793883-adaptive-cards-webhooks

[2020-07-10 01:31] jwoo-msft commented on #4322
@DreamBlack Thanks for reporting the issue and payload.

[2020-07-10 02:11] #4335 closed

[2020-07-10 04:43] shalinijoshi19 commented on #4269
@almedina-ms is this an Inputs issue?

[2020-07-10 05:33] Nikitha-MSFT commented on #4297
@scottlovegrove - We could not reproduce the issue on our side. Could you please check the screen shot below. Are you facing this issue in mobile or desktop. Could you please share more details?
![image](https://user-images.githubusercontent.com/61688740/87119895-d99f3d80-c29c-11ea-9459-38708529b528.png)

[2020-07-10 06:56] shalinijoshi19 commented on #4260
@IntranetFactory we recently released the latest version of the designer which should have these fixes - can you please try the latest version at https://www.npmjs.com/package/adaptivecards-designer and let us know if you continue to see this issue? Thanks!

[2020-07-10 06:57] shalinijoshi19 commented on #4264
Hello @IntranetFactory we recently released an updated version of the designer package here https://www.npmjs.com/package/adaptivecards-designer; Could you please retry and let us know if this works now for you? Thanks

[2020-07-10 06:58] shalinijoshi19 commented on #4261
Hello @IntranetFactory we recently released an updated version of the designer package here https://www.npmjs.com/package/adaptivecards-designer; Could you please retry and let us know if this works now for you? Thanks

[2020-07-10 07:01] shalinijoshi19 commented on #4284
@paulcam206 / @RebeccaAnne i know we'd been talking about this as part of some existing Accessibility bug fixes; Do we have an issue that had been tracking this already? Btw will the work on Labels for inputs try to help here at all or not really?

[2020-07-10 07:03] shalinijoshi19 commented on #4228
@dvehapetian can you share the sample card that you are working with please?tx

[2020-07-10 07:09] Trinetra-MSFT commented on #4296
@scottlovegrove , We can repro this at our end, We have filed a Bug for this.
Adaptive Card Designer:
![image](https://user-images.githubusercontent.com/50989436/87126762-67cdf080-c2aa-11ea-9193-7c4fa3562341.png)

Adaptive Card in Teams
![image](https://user-images.githubusercontent.com/50989436/87126157-59cba000-c2a9-11ea-9e8d-93b897c78a89.png)

[2020-07-10 07:19] anbah34 commented on #3886
@shalinijoshi19 , @jwoo-msft Can we please reopen this issue as a feature request. This is a parity issue as well as Gifs work on desktop and android

cc- @VikrantSingh01

[2020-07-10 07:44] mokandre opened #4348 "[Javascript][Adaptive Card Designer]Suppress specific properties from particular elements/cards/containers"
**What platform is your feature request related to? (Delete other platforms).**

* JavaScript

**Is your feature request related to a problem? Please describe.**

We would like to suppress the unsupported properties from elements/cards/containers in `Cisco Adaptive Cards Designer`

**Describe the solution you'd like**

It would be great to have some function that removes the properties of a partic

[2020-07-10 08:47] akaashdev opened #4349 "[iOS][Image Rendering] Cards are too long when added Image via ResourceResolver"
# Platform

* iOS

# Details

The `ACRContentHoldingUIView` takes the height of the image when inserted via **ResourceResolver**, which results in long cards.

## Steps to reproduce
- Setup a ResourceResolver by confirming to `ACOIResourceResolver` protocol
- Return an UIImageView *imgView* in the protocol method `func resolveImageViewResource(_ url: URL?) -> UIImageView?`
- Set an image of size s

[2020-07-10 11:21] IntranetFactory commented on #4260
It works now. Thank you.

[2020-07-10 11:21] #4260 closed

[2020-07-10 11:31] IntranetFactory opened #4350 "data binding to boolean fails"
I have the following simple payload

[code]

and the following simple card definition

[code]

I cannot bind `visible`

`"isVisible": "${visible}"`  still shows the TextBlock
`"isVisible": ${visible}`   isn't valid JSON so the card

[2020-07-10 11:33] IntranetFactory commented on #4261
Problem still exists.  I was even unable to bind any bool (see https://github.com/microsoft/AdaptiveCards/issues/4350)   so I think problem is not only a boolean expression, but all bool data.

[2020-07-10 12:06] Chekrii commented on #3701
The below are the changes that we have done a part of the stabilization
1.Migration to .Net core 2.2 to 3.1
2. we have attached a new cosmos DB

we are using Adaptive card version of "1.0"
We started to keep on getting "Unable to reach".
Not sure what is the issue for this.
Please help.

[2020-07-10 12:13] Wajeed-msft commented on #3701
@Chekrii - Could you please send out an email to [Microsoft Teams developer support](https://docs.microsoft.com/en-us/microsoftteams/platform/feedback) so that I can setup a call to check this?

[2020-07-10 15:19] scottlovegrove commented on #4297
@Nikitha-MSFT Hi, we're facing this on desktop, however, based on your screenshot it looks like you are sending a card as a message, so in that case, it appears I need to add that this is when displaying a modal adaptive card when using using `TaskModuleTaskInfo`.

So this is a screenshot of our card within the teams app
![image](https://user-images.githubusercontent.com/25244878/87169691-424fdf80

[2020-07-10 16:08] dclaux commented on #4186
@Vishnuvk33 I have explained in https://github.com/microsoft/AdaptiveCards/issues/4214 that if you need to record the time you can use both a Date input as well as another input for the time. I suggested using a ChoiceSet.

[2020-07-10 16:10] dclaux commented on #4350
@IntranetFactory I assume this is a designer issue. In the future, please make sure you specify that.

I can repro in the designer. Note this issue will not repro if you use the templating SDK in your own code. It is a designer specific issue.

[2020-07-10 16:14] dclaux commented on #4350
To be more explicit - the designer currently has limited data binding support. Aside from the properties that can be explicitly bound, other things might not work as expected, and that includes Boolean properties.

I will look into fixing this specific use case (e.g. binding Boolean properties) but other limitations will still exist and you might still hit them. Comprehensive data binding support

[2020-07-10 16:42] IntranetFactory commented on #4350
What syntax should be used to bind a boolean property?

a. `"isVisible": "${visible}"`   I think that this won't work, as the result is a string
b. `"isVisible": ${visible}`    I assume this should work - but a file containing that expression isn't a valid json file

[2020-07-10 16:47] dclaux commented on #4350
`"isVisible": "${visible}"` is the correct syntax. The result isn't a string. It is the type of the binding expression, `${visible}`, which in your case is a Boolean. `"isVisible": ${visible}` isn't valid JSON to start with and would cause the entire payload to fail parsing.

[2020-07-10 16:49] dclaux commented on #4350
I have a PR that fixes this: https://github.com/microsoft/AdaptiveCards/pull/4351

[2020-07-10 17:00] golddove opened #4352 "[iOS] size"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* .NET WPF
* Android
* iOS
* JavaScript
* UWP

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you sending cards to?

# Version of SDK

Wha

[2020-07-10 17:11] golddove opened #4353 "[iOS] size "stretch" doesn't stretch image"
# Platform

* iOS

# Version of SDK

latest main

# Details

Expected the last image to stretch to the width of the card. Payload:
[code]

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-07-10 at 13 02 04](https://user-images.githubusercontent.com/4442788/87179954-3b8f8f80-c2fd-11ea-8765-7da4e5963f74.png)

[2020-07-10 17:11] #4352 closed

[2020-07-10 17:13] #4300 closed

[2020-07-10 17:56] RebeccaAnne commented on #4284
@shalinijoshi19 I don't know of a github issue tracking this explicitly, but we also have one of the VSO bugs that would benefit from this change. The inputs work doesn't affect this case, this request is for text blocks.

[2020-07-10 18:02] paulcam206 commented on #4284
^^^ what @RebeccaAnne said :)

[2020-07-10 18:34] jwoo-msft commented on #4349
@akaashdev
Thanks for reporting the issue.
Can you share the payload? I'm interested in getting the URL to the image, so I can try from my end. Could I also know fillMode you used?

[2020-07-10 19:06] shalinijoshi19 commented on #4353
@jwoo-msft I've approved this for now but @golddove is this related to a potential 20.07 investigation? Priority wise I'd say the Inputs/Teams mobile/Cisco bugs should be higher priority for this sprint

[2020-07-10 20:51] almedina-ms opened #4355 "[WPF][Accessibility] Inputs not reading label"
# Platform

* .NET WPF

# Details

The following elements don't read label and/or error message
| Rendered element | Labels Success | ErrorMessage Success | Observations
| --- | --- | --- | --- |
| Xceed Input.Number | ❌ | ❌ | By design |
| Xceed Input.Time | ❌ | ❌ | By design |
| Inline Input.Text | ❌ | ✔ | |
| Xceed Input.Date | ✔ | ❌ | By design |
| ChoiceSet.Expanded | ✔ | ❌ | |

[2020-07-10 21:01] RebeccaAnne opened #4356 "[UWP][InputValidation] Required input with no label has no visual required indicator"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

The below card (a simplified version of our Inputs.json card where the name field has been marked required) uses placeholders for labels. As a result there is no label to append the * indicator to and there is no indication that the input is required until after submit. Is this the desired

[2020-07-10 21:44] jwoo-msft commented on #4277
verified that HostConfig works

[2020-07-10 21:44] #4277 closed

[2020-07-10 21:48] jwoo-msft opened #4357 "[Android][BugBash] [HostConfig Suffix Doesn't Work]"
# Platform

* Android

# Details
Configured suffix value via a HostConfig did not show up in the label.

![Screenshot (Jul 10, 2020 2_43_39 PM)](https://user-images.githubusercontent.com/4112696/87205405-39591100-c2bc-11ea-9474-a3d295f2460a.png)

[code]

[2020-07-10 21:49] shalinijoshi19 opened #4358 "[Android][InputLabels] Labels no longer render on latest version of the visualizer app"
# Platform

* Android

# Version of SDK
Internal Visualizer app from appcenter off of feature/inputEvolution.

# Details

Tried this with ChoiceSet samples as well as Input.Date.. labels aren't rendering anymore; In addition there is an error about id collision for input1 at least for the ChoiceSet sample; Screenshot below from Inputs.ChoiceSet:
### Working Input.ChoiceSet JS screenshot
![image](h

[2020-07-10 22:01] jwoo-msft opened #4359 "[Android][Input Evolution] [Font Weight Lighter in ErrorMessage Rendered as Italic]"
# Platform

* Android

# Details

When the weight property of ErrorMessage in HostConfig is set to lighter, the font is italicized.
![Screenshot (Jul 10, 2020 2_43_39 PM)](https://user-images.githubusercontent.com/4112696/87206271-395a1080-c2be-11ea-82ac-20ae4b5c948c.png)

[code]

[2020-07-10 22:09] golddove commented on #4353
Yes, JS respects `stretch`. Not a priority, just filing the bug.

[2020-07-10 22:18] jwoo-msft opened #4360 "[Android][Input Evolution] [Input Fields Start With Error Cue]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Details
This is observed randomly.
Sometimes when card is picked, the input field shows its error cue even before the submit button is touched.
![Screenshot (Jul 10, 2020 3_10_20 PM)](https://user-images.githubusercontent.com/4112696/87207337-86d77d00-c2c0-11ea-9770-86628d0d7a68.png)

[2020-07-10 22:19] almedina-ms commented on #4358
I just removed all versions of the visualizer and installed the lastest build and this is the result. Could you check that you are using the latest version (2020.07.10.1)? Maybe it's an issue we haven't caught before

![Screenshot_20200710-181622_AdaptiveCards Visualizer](https://user-images.githubusercontent.com/35784165/87207291-70312600-c2c0-11ea-8ed2-083505512acc.jpg)

[2020-07-10 22:20] almedina-ms commented on #4358
The latest version of the app should have an Import tab and the the card name should appear not in the input text box

[2020-07-10 22:22] jwoo-msft opened #4361 "[Android][Input Evolution] [Time Validation Doesn't Work]"
# Platform

* Android

# Details
Time is not correctly validated. As seen in the below image, if time is set to 3:00 AM for min value test, and 9:00 PM for max value test. Submission proceeds against the expectation of error messages and blocked the submission.

![Screenshot (Jul 10, 2020 3_11_50 PM)](https://user-images.githubusercontent.com/4112696/87207577-09603c80-c2c1-11ea-940f-06b595858eda.p

[2020-07-10 22:36] jwoo-msft commented on #4356
we are not going to block the shipping but we should look back at it.

[2020-07-10 22:41] jwoo-msft commented on #4358
send app line or update app installation instruction for the android app from the app center

[2020-07-10 22:41] #4358 closed

[2020-07-10 22:42] jwoo-msft commented on #4359
duplicate with #4015

[2020-07-10 22:42] #4359 closed

[2020-07-10 22:46] golddove opened #4362 "[JavaScript] [Input Validation] isRequired doesn't trigger red styling for Input.Toggle"
# Platform

* JavaScript

# Version of SDK

https://adaptivecardsci.z5.web.core.windows.net/pr/4239/designer

# Details
There are no error indications for Toggle.Input, when there is no error text.

[code]

[2020-07-10 22:50] jwoo-msft commented on #4362
It doesn't provide a cue for errors and focus is not set to the toggle input.

[2020-07-10 23:59] #3836 closed

[2020-07-11 05:20] #4322 closed

[2020-07-11 05:20] #4344 closed

[2020-07-11 09:49] akaashdev commented on #4349
@jwoo-msft
[payloads.zip](https://github.com/microsoft/AdaptiveCards/files/4906543/payloads.zip)
These are the payloads of the above attached cards. Regarding the URL of the image, We re-host the image in our servers internally and I don't think so it will be accessible. It is for this reason we use **ResourceResolvers**. We use custom URLs (similar to those in the attached payloads) passed in the

[2020-07-13 17:12] golddove opened #4364 "[Android] Images scale down, but don't scale up"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Version of SDK

v1.2.10

# Details

Expected small images to scale up for all sizes except auto. But only stretch scales up.

![image](https://user-images.githubusercontent.com/4442788/87332967-6d297600-c50a-11ea-8943-2cbbb107a4e8.png)

Payload:

[code]

[2020-07-13 17:29] almedina-ms commented on #4269
should we mark this one as to fix for 1.3, it seems like this bug has been hanging around for a while now

[2020-07-13 18:12] #4348 closed

[2020-07-13 18:20] jwoo-msft commented on #4349
thanks. I have everything I need.

[2020-07-13 18:28] almedina-ms commented on #4355
Leaving some more context here, it looks like Xceed not having UI Automation (Accessibility) properties is by design they only provide it in the paid version

https://github.com/xceedsoftware/wpftoolkit/wiki/Xceed-Toolkit-Plus-for-WPF

[2020-07-13 20:04] #4230 closed

[2020-07-13 20:05] #4236 closed

[2020-07-13 20:05] paulcam206 commented on #4355
wow -- that's really disappointing to find out about the xceed toolkit :(

[2020-07-13 20:05] #4238 closed

[2020-07-13 20:06] #4244 closed

[2020-07-13 20:08] #4336 closed

[2020-07-13 20:24] paulcam206 commented on #4229
taking a look at this one :)

[2020-07-13 22:06] paulcam206 commented on #4229
I think this is by design -- keyboard focus **is** indicated if you use the keyboard to invoke the submit action.

[2020-07-13 22:17] RebeccaAnne opened #4368 "[UWP][Visualizer][Show Cards] Nested show cards don't work properly in popup mode"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Version of SDK

main

# Details

Found while investigating #4245, but repros in main and is therefore not a regression from the input work.

Using the below card, and setting the host config to popup mode, the nested show cards do not work. The first card is shown in a popup, but when the Action.Sho

[2020-07-13 22:38] RebeccaAnne opened #4369 "[Spec Issue][Input Validation] Spec clarification required for behavior of input validation in the case of popup show cards"
# Details

Spun off the spec issue from the crash tracked by #4245. We need to spec the behavior of input validation in the case of popup show cards. What happens when an error in a parent card prevents a popup card from submitting?

[2020-07-13 22:39] RebeccaAnne commented on #4245
Spun off spec issue to #4369. This bug now tracks only the crash in UWP.

[2020-07-13 22:42] #4229 closed

[2020-07-13 22:52] #4247 closed

[2020-07-14 01:04] matthidinger opened #4375 "[Designer] Binding UI generates invalid expression for Sample Data with special chars"
# Platform

* Designer

# Details

1. Using the latest Designer at https://adaptivecards.io/Designer

2. Provide the following Sample Data, as described by [Azure DevOps](https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/work%20items/get%20work%20item?view=azure-devops-rest-5.0#get-work-item)

[code]

3. Drag a new `TextBlock` on Designer surface and use the `Bind...` flyout to bind to th

[2020-07-14 10:26] Nikitha-MSFT commented on #4297
@scottlovegrove - I have tried the adaptive card and it is rendering properly. Could you please check the screen shot
![image](https://user-images.githubusercontent.com/61688740/87415091-493d6180-c5ea-11ea-8e35-d95e94cff62c.png)

[2020-07-14 10:56] scottlovegrove commented on #4297
@Nikitha-MSFT This is beginning to make me wonder if it's not Teams' rendering that is the problem, but the Python Bot Framework library that's causing this then.

Our integration has been built in Python using the Bot Framework, the json I've been providing you is the object we are basically giving to the bot framework SDK, so if that is failing for some reason, that would explain the error we're

[2020-07-14 17:53] almedina-ms opened #4378 "[Android][Dev Experience] Investigate issue with actions not properly casting all time"
# Platform

* Android

# Version of SDK

latest release / main

# Details

Sometimes, the baseActionElement.findImplObj() is not an instance of a custom action element. It is an instance of BaseActionElement only. In these cases it leads to a class cast exception. Investigation is needed to figure out why this happens

[2020-07-15 03:27] golddove commented on #4361
No repro. If I'm looking at this correctly, those labels are for the input's below them. So 8:11pm is being validated for minimum of 6:00am, so it passes.

[2020-07-15 03:28] golddove commented on #4361
@jwoo-msft
No repro. If I'm looking at this correctly, those labels are for the input's below them. So 8:11pm is being validated for minimum of 6:00am, so it passes.

[2020-07-15 05:11] golddove commented on #4343
By design. Image in ImageSet is not the same as standalone Image.

[2020-07-15 05:11] #4343 closed

[2020-07-15 09:19] Vishnuvk33 commented on #4186
Hi @dclaux , As our organization and our customers are most interested to use adaptive cards,
We need a combination of both date and time control for backdated data.
if we use choiseset for time control, the choiseset will give the same value to backend what the user selected.
But the back end don't know, which timezone data coming from.
If we have a control with both date and time means, user can

[2020-07-15 11:43] chandan-g-bhagat commented on #3740
This one worked like a charm. Wrapping it in the type Message and attaching it in the attachments. However, I tried passing array of adaptive cards in it, but it displayed only one.

[2020-07-15 15:52] dclaux commented on #4186
@Vishnuvk33 you are right. What I meant was that you could make the assumption that the time from the ChoiceSet was expressed in the same time zone as the date, but the problem is you don't know what that time zone was when you receive the time value. So you do need an actual Time input that also includes a TZ offset.

So here is where we are:
- Technically, Adaptive Cards include an `Input.Time`

[2020-07-15 17:36] jwoo-msft commented on #4361
but it should fail at 8:00pm max time check

[2020-07-15 18:18] RebeccaAnne opened #4381 "[Spec][Input Validation] Add platform specific details to input specs"
# Details

Per feedback on #4363, it might be valuable to document the platform-specific design and implementation choices made on each platform to implement input related features. This issue tracks those spec updates.

[2020-07-15 18:49] jwoo-msft opened #4382 "[Shared Model][Input Evolution] [Input.Number can't have nullable value]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android
* iOS
* UWP

# Details
Input.Number has Value field.
If Value field is left empty, the shared model should let the renderer knows that value is null.
Currently, at renderer, if GetValue is called, it will return 0. This will leads to "required" validation not to work and causes inconsistency issue.

[2020-07-15 22:11] RebeccaAnne commented on #4356
We've decided that this is the expected behavior. Using placeholders as labels is not a good practice in general, and card authors should use a label when marking inputs required. We will return warnings when a card author marks an input as required without including a label.

[2020-07-15 22:11] #4356 closed

[2020-07-15 22:30] RebeccaAnne opened #4385 "[UWP][InputValidation] Warning should be returned when an input is marked as required but doesn't have a label"
# Platform

* UWP

# Details

See issue #4356 for details. When an input is marked as required but does not include a label a warning should be returned to inform the card author that there will be no visual indication that their input is required.

[2020-07-15 22:31] RebeccaAnne opened #4386 "[Android][InputValidation] Warning should be returned when an input is marked as required but doesn't have a label"
# Platform

* Android

# Details

See issue #4356 for details. When an input is marked as required but does not include a label a warning should be returned to inform the card author that there will be no visual indication that their input is required.

[2020-07-15 22:32] RebeccaAnne opened #4387 "[iOS][InputValidation] Warning should be returned when an input is marked as required but doesn't have a label"
# Platform

* iOS

# Details

See issue #4356 for details. When an input is marked as required but does not include a label a warning should be returned to inform the card author that there will be no visual indication that their input is required.

[2020-07-15 22:33] RebeccaAnne opened #4388 "[.NET][InputValidation] Warning should be returned when an input is marked as required but doesn't have a label"
# Platform

* .NET

# Details

See issue #4356 for details. When an input is marked as required but does not include a label a warning should be returned to inform the card author that there will be no visual indication that their input is required.

[2020-07-15 22:34] RebeccaAnne opened #4389 "[JavaScript][InputValidation] Warning should be returned when an input is marked as required but doesn't have a label"
# Platform

* JavaScript

# Details

See issue #4356 for details. When an input is marked as required but does not include a label a warning should be returned to inform the card author that there will be no visual indication that their input is required.

[2020-07-15 22:38] RebeccaAnne opened #4390 "[Samples][InputValidation] Inputs.json should be updated to not use placeholders as labels"
# Platform

Sample

# Details

Current guidance from the Accessibility team is that using placeholders as labels is not a best practice. Additionally, per #4356, our required input indicators will not show up on inputs that don't have labels. In order to set a good example for our card authors, our [Inputs.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Scenarios/Inputs.jso

[2020-07-15 22:49] RebeccaAnne opened #4391 "[Documentation][Input Validation] Input validation documentation issues"
# Platform

What platform is your issue or question related to? (Delete other platforms).

Documentation

# Details

This issue tracks outward facing documentation for issues related to Input Validation. Specifically, we need to document:

- We have introduced a **breaking change** in which inputs are returned by a submit action in a cards with show cards. Previously all inputs would be returned f

[2020-07-15 22:56] RebeccaAnne opened #4392 "[Spec][Show Card] Revisit popup show card support"
# Details

Current behavior for hosts setting show card mode to `popup` is not well tested. Additionally, new input validation features do not work well across popup show cards. As we are not aware of any hosts using popup show cards, we should revisit whether support of popup show cards continues to make sense, and whether we want to invest in improving these scenarios or consider deprecating thi

[2020-07-15 23:00] RebeccaAnne commented on #4369
Popup show cards in general are not well supported today (#4392). Moving this out of 1.3 milestone for future consideration.

[2020-07-16 00:16] almedina-ms opened #4393 "[Inconsistency][Input Label] Required hint should keep attention color"
# Platform

- [x] .NET WPF
- [x] Android
- [x] iOS
- [x] JavaScript
- [x] UWP

# Details

When a host config label color changes we should keep the required hint with attention color. WPF, Android and UWP don't follow the same behaviour

[2020-07-16 00:38] #4276 closed

[2020-07-16 01:09] #4357 closed

[2020-07-16 02:17] #4360 closed

[2020-07-16 02:32] #4232 closed

[2020-07-16 06:31] JBrLloyd opened #4395 "[.NET][Image Rendering] IE 11 Images in card carousel no rendering correctly"
# Platform

What platform is your issue or question related to?

* .NET

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards?

* Author

If you're an author, who are you sending cards to?

* Microsoft Teams

# Version of SDK

What version are you using?

*  NuGet 1.2.4 (current latest)

# Details

Images in card carousel no rendering

[2020-07-16 07:13] #4349 closed

[2020-07-16 09:57] Vishnuvk33 commented on #4186
@dclaux  thanks for the update and your guidance.

[2020-07-16 11:29] Gousia-MSFT commented on #4297
@scottlovegrove I have tried the json you shared above and i could not repro the issue either. I am able to see the card even without adding an Empty textblock. Does the card load when you send it in a normal message? Could you please try doing this with a simple card json of 2 columns? Also how are you invoking this TaskModule? Is it from the Bot or from Message Extension?

[2020-07-16 15:38] shalinijoshi19 commented on #4286
@jwoo-msft / @golddove have we been doing any work here that you are aware of for this issue ?

[2020-07-16 15:48] golddove commented on #4286
@shalinijoshi19 Cisco confirmed they were able to address their use case by using resource resolvers rather than directly accessing the views.

[2020-07-16 15:48] #4286 closed

[2020-07-16 16:01] akaashdev opened #4402 "[iOS][Code Maintainence] Provision to provide custom Bundle path"
**Platform**
* iOS

**Is your feature request related to a problem? Please describe.**

It's related to [Issue 4167](https://github.com/microsoft/AdaptiveCards/issues/4167) - *No Cheveron on Action.ShowCards*

**Describe the solution you'd like**

The fix provided was good and it involved modifying the [ACRButtonExpandable.xib](https://github.com/microsoft/AdaptiveCards/blob/e23e08bb732f4d2712b8aa

[2020-07-16 16:13] #4261 closed

[2020-07-16 17:21] shalinijoshi19 commented on #4269
Not a ship blocker for 20.07;

[2020-07-16 17:23] #4245 closed

[2020-07-16 17:25] jwoo-msft commented on #4361
you can close it as long as input submission is blocked.

[2020-07-16 17:29] shalinijoshi19 commented on #4355
For now, the linked PR suffices; The other thing remaining for exceed support is the update to its license that @paulcam206 is driving orthogonal to Inputs. At this point we'll be pushing ahead with this level of support for Exceed

[2020-07-16 17:32] shalinijoshi19 commented on #4361
@golddove please go ahead and confirm this is working as expected and close it out! thanks

[2020-07-16 17:34] shalinijoshi19 commented on #4362
@golddove to follow up here with @dclaux ; @paulcam206 FYI

[2020-07-16 18:37] #4361 closed

[2020-07-16 18:42] shalinijoshi19 commented on #4272
@almedina-ms this is not a blocker for Inputs v1 per-se right? @RebeccaAnne are we looking to addressing this for the July refresh milestone irrespective?

[2020-07-17 04:23] ankbat opened #4410 "[Android][Image Rendering] - Rendered image inside card are down scaled via ResourceResolver"
# Platform

* Android

# Version of SDK

1.2.6 (Maven repository)

# Details

The images in some cards are not rendered in the expected size. The rendered images are down scaled from its original size in some of the cards. ```IResourceResolver``` is used and bitmap is getting returned on **resolveImageResource** function from the client.

**Payload data** : [Restaurant Card](https://developer.webe

[2020-07-17 04:39] ankbat opened #4411 "[Android][Image Rendering] - Parallel calling of IResourceResolver"
# Platform
* Android

# Version of SDK

1.2.6 (Maven repository)

# Details

```IResourceResolver``` -> ```resolveImageResource``` :  is called in the sequential manner to get the bitmap from the client by the SDK.

**Example**

In case client needs some time to download the image at its end before returning the bitmap and the cards has multiple images in it and one of the first image is big in si

[2020-07-17 05:43] mokandre opened #4413 "[Javascript][Validation][Warning should be returned for unsupported action types]"
# Platform

* JavaScript

# Author or host
 Cisco Adaptive Cards Designer

# Version of SDK
Adaptive Cards Designer: 1.0
Adaptive Cards: 2.0

# Details

After deregistering the actions, warning should be returned for unsupported action types.

**Example of warning message for the unregistered element**

<img width="799" alt="Screenshot 2020-07-17 at 10 44 12 AM" src="https://user-images.githubuser

[2020-07-17 06:14] mokandre opened #4414 "[JavaScript][Deregistering a property from the parser/render]"
**What platform is your feature request related to?**

* JavaScript

**Is your feature request related to a problem? Please describe.**

We would like to disable the functionality of unsupported properties on parser/render

**Describe the solution you'd like**
It would be great to have a way to `Deregister a property from the parser/render`

**Deregister has to work for the following cases:**

* D

[2020-07-17 07:40] mokandre opened #4416 "[JavaScript][Validation] Customize parse warning messages for unsupported element/action types"
**What platform is your feature request related to? (Delete other platforms).**

* JavaScript

**Is your feature request related to a problem? Please describe.**

We would like to modify the warning message which displays in designer while trying to parse/render the unsupported element/action types of adaptive cards

**Describe the solution you'd like**

If users try to add unsupported element/act

[2020-07-17 09:13] Gunashree-R-V opened #4417 "[Android]Inconsistent spacing for Action set"
# Platform

What platform is your issue or question related to?

* Android

# Author or host

Teams Mobile

# Version of SDK

1.2.10

# Details

No spacing is applied above the action set component on Android. While there is spacing applied for bottom actions.

Here are the screenshots of how it looks on Android and Desktop

**_Desktop:_**
<img width="449" alt="Screenshot 2020-07-17 at 2 34 49 PM"

[2020-07-17 09:21] Gunashree-R-V opened #4418 "[Android] ActionSetRenderer not honouring registered ActionLayoutRenderer"
# Platform

What platform is your issue or question related to?

* Android

# Author or host

Microsoft Teams Mobile

# Version of SDK

1.2.10

# Details

Actions in action set are to be rendered using the registered ActionLayoutRenderer. Rather, default ActionLayoutRenderer is being used.

Below is the code snippet for reference(ActionSetRenderer.java):

[code]

cc: @VikrantSingh01, @anbah34, @sh

[2020-07-17 14:26] shalinijoshi19 commented on #4410
@golddove could you link this issue to the PRs wiht the resource resolver fix to close out..tx

[2020-07-17 14:28] shalinijoshi19 commented on #4411
@golddove could you link the associated Android PRs we have that we believe fixes these to this issue to verify and close? Thanks

[2020-07-17 14:32] shalinijoshi19 commented on #4402
@jwoo-msft please prioritize this for 20.08 after we've shipped 20.07 including Inputs! thanks.

[2020-07-17 14:55] dclaux commented on #4414
This is actually already supported, via the SrializableObject.onRegisterCustomProperties event. Example:

[code]

Can you please try this and close this issue if that solves your problem?

[2020-07-17 15:30] shalinijoshi19 commented on #4389
@dclaux could you help address this for JS? Thanks!

[2020-07-17 15:32] shalinijoshi19 commented on #4393
@almedina-ms bringing this to your attention for fixing. Thanks

[2020-07-17 15:47] shalinijoshi19 commented on #4391
@RebeccaAnne assigning this to you for follow up please! thanks

[2020-07-17 16:38] RebeccaAnne commented on #4272
Correct, this is a general documentation issue not related to inputs. I don't think this needs to go into the July release.

[2020-07-17 18:19] paulcam206 commented on #4382
doesn't look like this change needs to be made for any other inputs (they use the empty string to denote a property that hasn't been set)

[2020-07-17 19:46] almedina-ms opened #4420 "[iOS][InputEvo] Input.Date validation interchanges month and day"
# Platform

* iOS

# Version of SDK

feature/InputEvolution

# Details

Validation is affected by the input.date elements showing the date in the YYYY-DD-MM format that is different from other renderers. This behavior also affects validation.

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-07-17 at 12 38 43](https://user-images.githubusercontent.com/35784165/87824625-75dfbc00-c82a-11ea-89a7-a3

[2020-07-17 20:04] icatchx22i commented on #4226
@shalinijoshi19 Any update on this issue? thank you

[2020-07-17 20:10] RebeccaAnne opened #4421 "[UWP][Inputs] Input.Number accepts non-number values"
# Platform

* UWP

# Details

This is not new with the input work, but given input validation we should consider enforcing the fact that Input.Number should only accept numbers.

![image](https://user-images.githubusercontent.com/9091833/87826961-af1a2b00-c82e-11ea-9571-2749d3edc4ed.png)

[2020-07-17 20:19] RebeccaAnne opened #4422 "[UWP][Accessibility] Visual difference between selected and non-selected value in compact choice set"
# Platform

* UWP

# Details

From Inclusive and Accessible Design Spec Review Report:

Using file Input.ChoiceSet.Compact.Label.json: There should be clear visual difference of selected value and not selected value in a drop down for both required and non-required fields.

[2020-07-17 20:23] RebeccaAnne opened #4423 "[UWP][Accessibility] Screen reader behavior with compact choice set"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

From Inclusive and Accessible Design Spec Review Report:

Using file Input.ChoiceSet.Compact.Label.json:

 - When drop down is expanded, screen reader should also announce that particular value is selected for both required and non-required fields.
- When drop down is collapse situation, sc

[2020-07-17 20:29] RebeccaAnne opened #4424 "[UWP][Accessibility] Keyboard behavior in expanded choice sets"
# Platform

* UWP

# Details

From Inclusive and Accessible Design Spec Review Report:

### Using Input.ChoiceSet.Expanded.Label.json:

 - Keyboard accessibility, Tab and shift Tab key should be used to move between group of radio button not with in group of radio button.
 - When using tab key or shift tab key, focus should go to the selected radio button irrespective of its position in group.

Se

[2020-07-17 20:34] golddove commented on #4410
@ankbat even after our scaling fix on Android, please note that when size is set to "auto," the image should not scale up.

Refer to our schema docs on `size`: https://adaptivecards.io/explorer/Image.html

[2020-07-17 20:35] RebeccaAnne opened #4425 "[UWP][Accessibility] Improve Date Picker next and previous labels"
# Platform

* UWP

# Details

From Inclusive and Accessible Design Spec Review Report:

Using file Input.Date.Label.json: Previous and next button on date picker should have more descriptive label based on their functionality i.e. if next or previous button are changing month then it should announce next month or previous month if it is changing year then it should announce next or previous year a

[2020-07-17 20:35] #4043 closed

[2020-07-17 20:35] #4364 closed

[2020-07-17 20:35] #4410 closed

[2020-07-17 20:37] RebeccaAnne opened #4426 "[UWP][Accessibility] Screen reader not identifying value of toggle"
# Platform

* UWP

# Details

From Inclusive and Accessible Design Spec Review Report:

Screen reader is not identifying the value of toggle button (checkbox) it is only identifying the main statement i.e. please accept the term and condition.

[2020-07-17 20:57] almedina-ms opened #4427 "[iOS][InputEvo] Empty input number doesn't trigger isRequired validation"
# Platform

* iOS

# Version of SDK

feature/inputEvolution

# Details

isRequired validation doesn't trigger for Input.Number when the input field is empty (ie, when an user has deleted the data that is in the field)

The card tested was Input.Number.ErrorMessage.json

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-07-17 at 13 57 17](https://user-images.githubusercontent.com/35784165/87830209

[2020-07-17 21:03] RebeccaAnne commented on #2411
Obsolete tracking bug which has been implemented with validation work.

[2020-07-17 21:03] #2411 closed

[2020-07-17 21:03] RebeccaAnne commented on #2412
Obsolete tracking bug which has been implemented with validation work.

[2020-07-17 21:03] #2412 closed

[2020-07-17 21:03] RebeccaAnne commented on #2414
Obsolete tracking bug which has been implemented with validation work.

[2020-07-17 21:03] #2414 closed

[2020-07-17 21:30] almedina-ms opened #4428 "[iOS][InputEvo] Compact Input.ChoiceSet not getting focus"
# Platform

* iOS

# Version of SDK

feature/inputEvolution

# Details

When input validation fails and the first element to fail validation is a Compact ChoiceSet it should get focus but it currently doesn't. This may not be possible but Input.Date actually performs the focus behavior correctly

| Input.Date | Input.ChoiceSet |
| --- | --- |
| ![Simulator Screen Shot - iPhone 11 Pro Max - 2020-07

[2020-07-17 21:40] jwoo-msft opened #4429 "[WPF][Input Evolution] [Choice Set Compact's Input is not collected]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details
![image](https://user-images.githubusercontent.com/4112696/87832612-3cfc1300-c83b-11ea-8438-5fa496181d81.png)

If no choices are made for ChoiceSet compact, its input is not gathered.

[2020-07-17 22:01] golddove opened #4431 "[JavaScript][Input Validation] Inputs without id's are rendered"
# Platform

* JavaScript

# Version of SDK

feature/inputEvolution

# Details

The following payload gets rendered (even though `id` is a required property). This is highly misleading to the author/user, as it doesn't get validated or submitted.

<img width="748" alt="Screen Shot 2020-07-17 at 6 36 46 PM" src="https://user-images.githubusercontent.com/4442788/87835905-1cb86c80-c8ac-11ea-95d6-7298a

[2020-07-17 22:43] jwoo-msft commented on #4428
Android does bring up a user selection subview, but we decided to keep the current behavior for iOS.

[2020-07-18 00:07] almedina-ms opened #4433 "[Android][Rendering] First element in first container doesn't render"
# Platform
* Android

# Version of SDK
feature/inputEvolution

# Details

When rendering this card
[code]

the first input element is not showing up

![image](https://user-images.githubusercontent.com/35784165/87839507-efd66c00-c84f-11ea-9751-796dc25ac1d4.png)

[2020-07-18 02:22] jwoo-msft commented on #4428
re-opening the issue. I re-checked the issue, and there is some improvement I can make, and reopening it to track.

[2020-07-20 09:20] mokandre commented on #4414
@dclaux  Able to deregister some of the properties but
 **Following are some issues facing while deregistering  (`fallback` and `requires`) properties**

* Deregistering `requires` property:
<img width="1530" alt="Screenshot 2020-07-20 at 2 28 37 PM" src="https://user-images.githubusercontent.com/55378170/87919831-ff46f680-ca95-11ea-8f14-c317641dd83f.png">

**Output:**
<img width="1680" alt="Scree

[2020-07-20 15:26] dclaux commented on #4414
@mokandre I will implement another model for property deregistration. I could just fix the bug you mentioned, but I fear there will be more such bugs as the renderer expects and needs some properties to be registered.

As for fallback, it is not handled as a property internally and therefore cannot be unregistered. Fallback is mainly a parse-time feature, and fallback elements are not parsed if th

[2020-07-20 16:10] pankajpalOlk commented on #3857
@dclaux can you confirm that the finalized key name here will be "isEnabled" : true|false ?

[2020-07-20 16:18] dclaux commented on #4257
This feature has been approved for inclusion in a future version of AC (likely 1.4). The chosen design is to introduce an `isEnabled` property. This issue will be updated with a more complete spec to cover the details of how isEnabled will work.

[2020-07-20 16:20] dclaux commented on #3857
@pankajpalOlk yes, there will be an `isEnabled` boolean property on all Action types. Please refer to this issue which we will use to track the feature and will include the spec: https://github.com/microsoft/AdaptiveCards/issues/4257

[2020-07-20 18:48] shalinijoshi19 commented on #4429
@almedina-ms can you help take a look at this pls? thanks!

[2020-07-20 18:49] shalinijoshi19 commented on #4388
@almedina-ms can you help with this as you look into the WPF bugs? Thanks

[2020-07-20 18:53] golddove opened #4436 "[iOS] [Input Validation] Input validation w/ hardware keyboard"
# Platform

* iOS

# Version of SDK

feature/inputEvolution

# Details

Create an Input.Date, type some text using a hardware keyboard, don't click "Done" on the software keyboard, then click the submit action.

<img width="275" alt="Screen Shot 2020-07-20 at 2 50 01 PM" src="https://user-images.githubusercontent.com/4442788/87974590-ec5d1200-cae7-11ea-88db-8a9c6851243a.png">

Payload:
[code]

[2020-07-20 19:59] shalinijoshi19 commented on #4355
@almedina-ms it would also be nice to have a version of the table *after* your fixes here. Thanks

[2020-07-20 20:02] shalinijoshi19 commented on #4362
@dclaux could you also help drive this along with @paulcam206?  Thanks a ton

[2020-07-20 20:04] shalinijoshi19 commented on #4393
@golddove can you help pick this up if @almedina-ms has his hands full iwth other bugs ? thanks

[2020-07-20 20:09] shalinijoshi19 commented on #4387
@jwoo-msft do you have bandwidth to cover this? Or @almedina-ms can you help?

[2020-07-20 20:37] almedina-ms opened #4438 "[Android][InputEvo] Inline actions don't retrieve inputs"
# Platform
* Android

# Details

Input.Text inline actions are not retrieving any of the inputs in the card in android

[2020-07-20 20:47] almedina-ms opened #4439 "[Android][Rendering] Conflict between image size and column weight"
# Platform
* Android

# Details

With the introduction of image resizing to a bigger scale the ```v1.2/Elements/Column.Weighted.Image.json``` card became broken as there's a conflict between the image size and the column weight.

![image](https://user-images.githubusercontent.com/35784165/87984820-67dea500-ca8f-11ea-9b60-ca89e02effed.png)

[2020-07-20 21:09] iwekardum opened #4441 "[.NET][Adaptive Card Templating Transform/Expand] [Error with decimal in Data]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET

# Author or host

- Author
- Microsoft Teams

# Version of SDK

AdaptiveCards.Templating 1.0.0

# Details

Expand function reports error
"Invalid JavaScript property identifier character: ,. Path 'body[3].columns[1].items[0].columns[1].selectAction.data._source.evaluation.score', line 1, position 177

[2020-07-20 21:26] #4389 closed

[2020-07-20 22:17] RebeccaAnne opened #4442 "[Android][Input Validation] Ensure toggle and expanded choice set inputs have visual indicators when invalid"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Details

Per discussion, toggle inputs and expanded choice sets should display red boxes around them when invalid. See corresponding JavaScript bug #4362 for more details.

[2020-07-20 22:18] RebeccaAnne opened #4443 "[UWP][Input Validation] Ensure toggle and expanded choice set inputs have visual indicators when invalid"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP

# Details

Per discussion, toggle inputs and expanded choice sets should display red boxes around them when invalid. See corresponding JavaScript bug #4362 for more details.

[2020-07-20 22:19] RebeccaAnne opened #4444 "[.NET][Input Validation] Ensure toggle and expanded choice set inputs have visual indicators when invalid"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details

Per discussion, toggle inputs and expanded choice sets should display red boxes around them when invalid. See corresponding JavaScript bug #4362 for more details.

[2020-07-20 22:22] RebeccaAnne opened #4445 "[UWP/.NET][Input Validation] Revisit native styling for input validation"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* UWP
* .NET

# Details

This issue tracks ensuring we have appropriate native styling support via Xaml Styles to support the input validation features.

[2020-07-20 22:53] RebeccaAnne opened #4447 "[UWP][Input Validation] Return warning if validation properties exist without an errorMessage"
# Platform

* UWP

# Details

If the card author has set input validation properties but not set an errorMessage, return a warning to encourage the card author to add an errorMessage to provide more information to the user explaining why the input is invalid.

[2020-07-20 22:56] RebeccaAnne opened #4448 "[Android][Input Validation] Return warning if validation properties exist without an errorMessage"
# Platform

* Android

# Details

If the card author has set input validation properties but not set an errorMessage, return a warning to encourage the card author to add an errorMessage to provide more information to the user explaining why the input is invalid.

Also, fix any existing samples with input validation that don't have error messages defined.

[2020-07-20 22:57] RebeccaAnne opened #4449 "[.NET][Input Validation] Return warning if validation properties exist without an errorMessage"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET WPF

# Details

If the card author has set input validation properties but not set an errorMessage, return a warning to encourage the card author to add an errorMessage to provide more information to the user explaining why the input is invalid.

[2020-07-20 22:58] RebeccaAnne opened #4450 "[iOS][Input Validation] Return warning if validation properties exist without an errorMessage"
# Platform

* iOS

# Details

If the card author has set input validation properties but not set an errorMessage, return a warning to encourage the card author to add an errorMessage to provide more information to the user explaining why the input is invalid.

[2020-07-20 22:59] RebeccaAnne opened #4451 "[JavaScript][Input Validation] Return warning if validation properties exist without an errorMessage"
# Platform

* JavaScript

# Details

If the card author has set input validation properties but not set an errorMessage, return a warning to encourage the card author to add an errorMessage to provide more information to the user explaining why the input is invalid.

[2020-07-21 01:28] jwoo-msft commented on #4387
yes, I can implement it.

[2020-07-21 01:50] jwoo-msft commented on #4441
@iwekardum
this issue is no repro on master. it probably got fixed via [PR4345](https://github.com/microsoft/AdaptiveCards/pull/4345) The fix will be available in this month's patch release.
rendered card via main
![image](https://user-images.githubusercontent.com/4112696/88003454-c4ef5080-cab9-11ea-9bc6-7c3f8265a701.png)

[2020-07-21 01:51] #4441 closed

[2020-07-21 05:18] #4355 closed

[2020-07-21 05:19] #4421 closed

[2020-07-21 05:24] #4385 closed

[2020-07-21 05:36] shalinijoshi19 commented on #4362
@dclaux what was the final decision on this specific issue?

[2020-07-21 05:36] #4386 closed

[2020-07-21 05:49] #4438 closed

[2020-07-21 16:30] #3873 closed

[2020-07-21 16:45] #4388 closed

[2020-07-21 18:40] sqrrrl opened #4459 "[Node.js][Templating] [$when should be marked as reserved]"
# Platform

* JavaScript

# Author or host

Neither -- Using the templating library as a standalone library for JSON templating.

# Version of SDK

 adaptivecards-templating@1.0.0

# Details

When expanding a template with a $when conditional, the final output still contains a property "$when": true. This breaks usage when restrictive schemas are in place that don't allow additional properties.

S

[2020-07-21 20:42] #4413 closed

[2020-07-21 20:42] #4414 closed

[2020-07-21 20:42] #4416 closed

[2020-07-21 21:40] #4433 closed

[2020-07-21 21:40] #4264 closed

[2020-07-21 22:47] #4390 closed

[2020-07-22 02:28] #4429 closed

[2020-07-22 02:30] shalinijoshi19 commented on #4393
@jwoo-msft , @dclaux , @golddove can you please help out with the rest of the platforms here? Tx!

[2020-07-22 02:35] golddove commented on #4393
Already works on Android. I'll mark it.

[2020-07-22 03:00] #4427 closed

[2020-07-22 03:01] #4450 closed

[2020-07-22 03:01] #4436 closed

[2020-07-22 03:01] #4420 closed

[2020-07-22 03:01] #4428 closed

[2020-07-22 05:40] stpeteparadox commented on #3752
@susanshen96 @billbliss @siduppal @dclaux
Providing insight into the logic/reasoning behind this supposed design choice would be far more helpful to your clients than simply saying 'it is because it is'. We have planning considerations as well.

[2020-07-22 07:02] upendra1588 commented on #3701
@shalinijoshi19 , i am facing same issue in V4 Task module.
<img width="681" alt="TaskModule" src="https://user-images.githubusercontent.com/14072701/88145009-6cce6080-cc17-11ea-952c-26a8dfcdca2a.PNG">

[2020-07-22 07:15] Wajeed-msft commented on #3701
@upendra1588 - Looking into this.

[2020-07-22 12:38] Gunashree-R-V opened #4463 "[Android] Text with markdown is broken in most of the components"
# Platform

* Android

# Author or host

Teams mobile

# Version of SDK

1.2.10

# Details

Sample [**Agenda**](https://adaptivecards.io/samples/Agenda.html) card, [**Expense report**](https://adaptivecards.io/samples/ExpenseReport.html) card available in public documentation is broken experience.

Here is the comparison of experience with 1.2.6(SDK version) and 1.2.10(SDK version).

| 1.2.6 | 1.2

[2020-07-22 12:59] shalinijoshi19 commented on #4463
@golddove can you help prioritize this one today please? Thanks!

[2020-07-22 14:29] #3081 closed

[2020-07-22 15:08] jwoo-msft commented on #4393
works on iOS. Marked it.

[2020-07-22 15:19] jwoo-msft commented on #4382
I realized that we have the same issue with max length for TextInput.

[2020-07-22 18:10] jwoo-msft opened #4464 "[iOS][InputEvolution] [Submit Action Data is not included]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS
# Details
* Tested with Calendar Remiander card in samples/Scenario/1.0
* Expected to have "x" : "snooze" is clicked when I'll be late button is clicked
* But only included the data gathered from inputs.

[2020-07-22 18:19] jwoo-msft opened #4465 "[iOS][Input Evolution] [Input gathering issues]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Details

Not all inputs are gathered from [InputForm.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Scenarios/InputForm.json)

[2020-07-22 18:37] jwoo-msft opened #4466 "[iOS][Input Evolution] [NumPad Doesn't have '-' operator]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Details
* When tested with [Input.Number.Lable.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.3/Elements/Input.Number.Label.json), a numpad doesn't have '-', so minus value can't be inputted.

[2020-07-22 19:21] #4411 closed

[2020-07-22 21:19] golddove commented on #4269
Possibly related to #4463

[2020-07-22 22:05] dclaux commented on #4451
This is fixed with this commit: https://github.com/microsoft/AdaptiveCards/commit/a7e2d6bd1fd5c9d140924ad050ef8ee7f15f048a

I forgot to create a separate branch, and the fix was pushed directly to `feature/inputEvaolution`

[2020-07-22 22:06] #4451 closed

[2020-07-22 22:07] dclaux commented on #4362
This is fixed with this commit: https://github.com/microsoft/AdaptiveCards/commit/a7e2d6bd1fd5c9d140924ad050ef8ee7f15f048a

I forgot to create a separate branch and pushed the commit directly into `feature/inputEvolution`

[2020-07-22 22:07] #4362 closed

[2020-07-22 22:16] almedina-ms opened #4469 "[Android][Regression] Image is not centered"
# Platform
* Android

# Version of SDK
main

# Details

The image in the middle must be horizontally centered, as can be seen, it's set all the way to the left

![image](https://user-images.githubusercontent.com/35784165/88234704-4536c280-cc2e-11ea-90bd-d148d2bbdbb2.png)

![image](https://user-images.githubusercontent.com/35784165/88234983-cb530900-cc2e-11ea-92b3-b7c44da3ad10.png)

[2020-07-22 22:17] jpjpjp opened #4470 "[Javascript][Template SDK] [Template expander dislikes backtick markdown notation]"
# Platform

* JavaScript

# Author or host

Author sending cards to Webex Teams

# Version of SDK

1.0.0

# Details

I'm updating a previously working application that was using an alpha version of the template lib.   I've updated my card JSON to include the dollar sign before all {templates}, and for the most part everything is working fine.

I am getting an error when I call template.expand on t

[2020-07-22 23:00] shalinijoshi19 opened #4474 "[WPF][Input evolution]SimpleFallback.json scenario card fails to render with the new WPF renderer"
# Platform

* .NET WPF

# Version of SDK
main

# Details
## Script output
[FAILED]        SimpleFallback.json => Object reference not set to an instance of an object.

## Issue
Looks like it's having trouble rendering {AdaptiveCards.AdaptiveFallbackElement} type with the new changes.

[2020-07-23 01:26] shalinijoshi19 commented on #4439
@almedina-ms / @golddove does this need to be backported to 1.2 ? If so please label it with AdaptiveCards v1.2.11

[2020-07-23 01:58] #4464 closed

[2020-07-23 03:22] #4387 closed

[2020-07-23 03:56] #4466 closed

[2020-07-23 07:30] Gunashree-R-V opened #4478 "[Desktop vs Mobile][Platform Inconsistency] TextBlock with no text property"
# Platform

- [x] Android
- [x] iOS
- [x] UWP
- [x] .Net

# Author or host

Microsoft Teams

# Version of SDK

1.2.10 [iOS & Android]

# Details

As per the [TextBlock schema](https://adaptivecards.io/explorer/TextBlock.html), **`text`** property is required and card without this must be an invalid card.
However, there is inconsistency on rendering of a card with no text property in Text Block on

[2020-07-23 09:56] #4465 closed

[2020-07-23 14:19] jpjpjp opened #4479 "[Javascript][Template SDK] [Template expander removes newlines in templatized markdown text]"
# Platform

* JavaScript

# Author or host

Author sending cards to Webex Teams

# Version of SDK

1.0.0

# Details

I'm updating a previously working application that was using an alpha version of the template lib.   I've updated my card JSON to include the dollar sign before all {templates}, and for the most part everything is working fine.

When I call template.expand on the following JSON the

[2020-07-23 16:00] Pepsi1x1 commented on #3255
WIth the changes in the linked PR there are only a few outstanding changes to bring this up to the 1.0 feature set.

TextInputs - Multiline editor
ChoiceSet - combobox (This should be rendered as an XF picker)
ToggleInputs - should move over to the CheckBox control added as part of this PR
RadialImages (Person type) - I don't see this as a blocker, we could write a Xamarin custom renderer or wait

[2020-07-23 17:15] VikrantSingh01 commented on #4463
Team, Any update on the fix E.T.A for this blocker bug from v1.2.10 ?

[2020-07-23 22:19] golddove commented on #4463
@VikrantSingh01 we will include this fix in the v1.2.11 patch (scheduled end of month)

[2020-07-24 00:49] JamesMcWhinney42 opened #4482 "The data binding in Adaptive cards is broken"
The data binding functionality in adaptive cards is broken.
This can be demonstrated using the out of the box designer on the below page:
https://adaptivecards.io/samples/ActivityUpdate.html

Steps to reproduce:
1. Click this link: https://adaptivecards.io/samples/ActivityUpdate.html
2. Click the button "Try it yourself"
3. Notice that the FactSet fails to bind to the "Properties" array object in

[2020-07-24 04:28] JamesMcWhinney42 commented on #4482
Sorry, didn't realize I had to click the "Preview mode" button.

[2020-07-24 04:28] #4482 closed

[2020-07-24 06:02] anbah34 opened #4483 "Text Blocks default to false for wrap"
# Platform

All Platforms. The issue is more relevant to Mobile - iOS and Android.

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

If you're an author, who are you sending cards to?

1.2.10

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details

[2020-07-24 06:06] anbah34 commented on #4483
@shalinijoshi19 Please see the an example of the issue that is caused with the current behavior wherin the text gets truncated unless the developer has specified word wrap to be true

cc- @VikrantSingh01

[2020-07-24 06:06] anbah34 commented on #4483
FYI @matthidinger, @jwoo-msft

[2020-07-24 07:21] anbah34 commented on #3885
@shalinijoshi19 , @jwoo-msft Are there any timelines for this? This bug was part of the P0 bugs that I had earlier shared with the team

[2020-07-24 10:50] Gunashree-R-V opened #4484 "[Android] Placeholder values of input components are not applied"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

Microsoft Teams

# Version of SDK

1.2.10

# Details

As per the schema, Input components do have `placeholder` property which are to be shown when no selection has been made.

Placeholder properties aren't utilised on Android for Input.Number, Input.Date, Input.Time.

Here is th

[2020-07-24 10:54] sadviramana opened #4485 "[JavaScript]Getting following error "initializeIcons is not a function" when trying to use adaptivecards-fabric.js"
I was trying to directly include the output adaptivecards-fabric.js file to my HTML file and use it to style my adaptive cards. I also included the dependencies cdn urls to my html.

    <script src="https://unpkg.com/adaptivecards/dist/adaptivecards.js"></script>
    <script src="https://unpkg.com/markdown-it@8.4.0/dist/markdown-it.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/

[2020-07-24 20:09] RebeccaAnne commented on #116
With Input Validation, we probably wouldn't use this approach for this scenario anymore. Leaving open in case there are other scenarios that benefit from more robust FactSets.

[2020-07-24 20:11] RebeccaAnne commented on #138
Closing this issue as resource resolvers for JS are now tracked by #3643.

[2020-07-24 20:11] #138 closed

[2020-07-24 20:31] RebeccaAnne commented on #404
Image sizes in an ImageSet are now controlled by an imageSize property on the ImageSet. The pixel sizes are configurable via host config.

[2020-07-24 20:31] #404 closed

[2020-07-24 20:43] RebeccaAnne commented on #471
The implementation of #477 should address this scenario. If it's not working for you in the latest version please feel free to reactivate this issue and we can investigate it as a bug.

[2020-07-24 20:43] #471 closed

[2020-07-24 20:50] #495 closed

[2020-07-24 20:59] RebeccaAnne commented on #547
Databinding now exists!
https://docs.microsoft.com/en-us/adaptive-cards/templating/

[2020-07-24 20:59] #547 closed

[2020-07-24 21:08] #613 closed

[2020-07-24 21:11] RebeccaAnne commented on #624
Related issue: https://github.com/microsoft/AdaptiveCards/issues/457

[2020-07-24 21:13] #652 closed

[2020-07-24 21:13] #653 closed

[2020-07-24 21:14] #669 closed

[2020-07-24 21:15] RebeccaAnne commented on #737
This scenario is now supported by ToggleVisibility as linked above.

[2020-07-24 21:15] #737 closed

[2020-07-24 21:18] #768 closed

[2020-07-24 21:30] #844 closed

[2020-07-24 21:40] #927 closed

[2020-07-24 21:41] #944 closed

[2020-07-24 21:51] RebeccaAnne commented on #968
Duping to #1012

[2020-07-24 21:51] #968 closed

[2020-07-24 22:08] #1375 closed

[2020-07-24 22:19] RebeccaAnne commented on #1517
See also https://github.com/microsoft/AdaptiveCards/issues/333

[2020-07-24 22:33] RebeccaAnne commented on #1762
See also https://github.com/microsoft/AdaptiveCards/issues/1257

[2020-07-24 22:45] RebeccaAnne commented on #1936
Implemented with Input Validation feature work.

[2020-07-24 22:45] #1936 closed

[2020-07-24 22:53] #2033 closed

[2020-07-24 22:55] #2143 closed

[2020-07-24 22:58] RebeccaAnne commented on #2155
This question is external to Adaptive Cars and hasn't had any recent activity. If you still need assistance feel free to reopen and we can try to get you connected to the right people.

[2020-07-24 22:58] #2155 closed

[2020-07-24 22:58] #2158 closed

[2020-07-24 23:20] #2272 closed

[2020-07-24 23:26] #2409 closed

[2020-07-24 23:26] #2410 closed

[2020-07-25 17:11] pappk opened #4486 "[JavaScript] "TS1086: An accessor cannot be declared in an ambient context." Typescript error during build"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* JavaScript

# Author or host

Host, rendering card from JSON.

# Version of SDK

JavaScript 2.0.0

# Details

Using the library from an Angular application (Angular v5.2.5). During the build process, I got the following Typescript error. With this version, the application couldn't be built. However, with t

[2020-07-25 22:54] Imari91 opened #4487 "[MsTeams][Rendering] [Data Uri for images not working on MsTeams application]"
# Author or host

I am the author and the host app is Ms Teams (either desktop and web), I am sending the adaptive card using Power Automate as personal chat message.

# Version of SDK

# Details

The data uri encoding worked few months ago and I have today tested directly on the designer, however the image is not displayed anymore on Microsoft Teams:

![image](https://user-images.githubuserconten

[2020-07-27 04:12] arman-g commented on #4091
Any updates on this?

[2020-07-27 13:39] Vishnuvk33 opened #4488 "Input.Time control is not visible in Mobile Outlook Apps(Both Android and IoS)"
Hi,
       We are doing the responsive adaptive cards (Can use in mobile as well as Desktop outlook Apps) for our customers( Our customer are willing to use adaptive cards)

      While we are using Input.Time control in 0365, The time control is visible.

      But in Mobile outlook app, The time control is not visible(Both in Android and ioS)

[2020-07-27 17:16] #2503 closed

[2020-07-27 17:44] RebeccaAnne commented on #2712
See also #1605

[2020-07-27 17:52] RebeccaAnne commented on #2780
See also #862

[2020-07-27 17:55] RebeccaAnne commented on #2789
See also #2745

[2020-07-27 18:00] RebeccaAnne commented on #2814
This doesn't apply to the shared model.

[2020-07-27 18:00] #2814 closed

[2020-07-27 18:05] RebeccaAnne commented on #2871
Dupe of #3079

[2020-07-27 18:05] #2871 closed

[2020-07-27 18:09] RebeccaAnne commented on #2926
See also #2925

[2020-07-27 18:13] #2984 closed

[2020-07-27 18:14] RebeccaAnne commented on #2984
Dup of #2780

[2020-07-27 18:55] RebeccaAnne commented on #3062
Teams is now updated to 1.2, and this property should be working there now.

[2020-07-27 18:55] #3062 closed

[2020-07-27 19:00] #3132 closed

[2020-07-27 20:40] RebeccaAnne commented on #3223
This is fixed in the current version of the designer.

[2020-07-27 20:40] #3223 closed

[2020-07-27 21:06] RebeccaAnne commented on #3490
Dup of #2788

[2020-07-27 21:06] #3490 closed

[2020-07-27 21:11] RebeccaAnne commented on #3440
This is fixed with #3724

[2020-07-27 21:11] #3440 closed

[2020-07-27 21:14] RebeccaAnne commented on #3447
Looks like this was taken care of at some point.

[2020-07-27 21:14] #3447 closed

[2020-07-27 21:22] RebeccaAnne commented on #3479
Since templating is now in the designer by default, closing this issue.

[2020-07-27 21:22] #3479 closed

[2020-07-27 21:32] #3480 closed

[2020-07-27 21:42] RebeccaAnne commented on #3512
This button has been replaced in the current version of the designer with the "New Card" button. The dialog that pops up from that button does close on esc.

[2020-07-27 21:42] #3512 closed

[2020-07-27 21:45] RebeccaAnne commented on #3522
This seems to be working now.

[2020-07-27 21:45] #3522 closed

[2020-07-27 21:55] RebeccaAnne commented on #3575
Duping to #4368

[2020-07-27 21:55] #3575 closed

[2020-07-27 21:59] #3604 closed

[2020-07-27 22:06] RebeccaAnne commented on #3616
The linked issue was investigated on the webchat side, and this doesn't seem to be a cards issue.

[2020-07-27 22:06] #3616 closed

[2020-07-27 22:10] RebeccaAnne commented on #3631
Per comment above this should be fixed now. Please reactivate if there are further concerns!

[2020-07-27 22:10] #3631 closed

[2020-07-27 22:39] RebeccaAnne commented on #2384
Duping to #3707

[2020-07-27 22:39] #2384 closed

[2020-07-27 22:50] RebeccaAnne commented on #3748
Duping to #4043

[2020-07-27 22:50] #3748 closed

[2020-07-27 22:51] RebeccaAnne commented on #3481
See also #4043

[2020-07-27 23:01] RebeccaAnne commented on #3770
Duping to #492

[2020-07-27 23:01] #3770 closed

[2020-07-27 23:02] RebeccaAnne commented on #492
See also request for this feature in #3770

[2020-07-28 17:27] Hammad-H opened #4489 "[UWP][Video Card not being rendered]"
# Platform
* UWP

# Version of SDK

Nuget 1.2.10

# Details
I am unable to render video cards. I have created a small app to test the issue. If you click the button it attempts to render the card ProductVideo.json from v1.0 cards. I get the following exception:
![vidCardError](https://user-images.githubusercontent.com/33607998/88699527-7bb08980-d0d5-11ea-9679-e873d3ddcecd.PNG)

*This error does no

[2020-07-28 17:37] pallavishettyl opened #4490 "[Designer] [Your feedback title here]"
[Your detailed feedback here]

[2020-07-28 18:41] jwoo-msft commented on #3762
@shalinijoshi19
Outlook's iOS client needs this support as they are moving their code base to swift.

[2020-07-28 18:44] Sujit-Gaikwad commented on #3885
any updates on this??

[2020-07-28 19:04] Sujit-Gaikwad opened #4491 "[MSTeams][Desktop/mobile] [Images are not getting render]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* .NET HTML
* Android
* iOS
* JavaScript

# Author or host
MsTeams

# Details

Hi Team,

I'm Facing an issue related to Images in adaptive card,

### Currently i'm using images stored in Azure blob . For many users who have good or great internet connection also getting "**undefined images**"  instead of rea

[2020-07-29 10:12] gauravsaralMs opened #4492 "[MsTeams][Style] "style": "default" is not working in MsTeams"
# Platform

What platform is your issue or question related to? (Delete other platforms).

MsTeams

# Author or host
Author

If you're an author, who are you sending cards to?
MsTeams

# Version of SDK
NA

What version are you using? Ex: NuGet 1.0.2, or latest main, etc...

# Details

This is adaptive card we are posting
[code]

It works fine in https://adaptivecards.io/designer/
![image](https://

[2020-07-29 13:52] TechMinder opened #4493 "AdaptiveCard doesn't render in Office 365 ProPlus outlook (1902) software"
# Platform

What platform is your issue or question related to? (Delete other platforms).

Office 365 ProPlus

# Author or host

Are you an author (like sending something to Outlook), or a host that is rendering your own cards? If host, please specify the corresponding host (app) name.

I am trying to render an adaptive card in Office 365 Proplus outlook. I am author and hosting the card.

If you'

[2020-07-29 16:01] ankbat opened #4494 "[Android][Image Rendering] - Resource Resolver gets same url request for multiple cards."
# Platform

* Android

# Version of SDK

1.2.10 (Maven Repository)

# Issue

Getting same URL request from multiple cards in custom resource resolver at client and the cards have different URL embedded in type Image in json payload which is getting feed in SDK. So, same image is getting rendered in multiple cards and actually the images should be different as cards has different URL attached.

Thi

[2020-07-29 18:20] RebeccaAnne commented on #116
Request for TextBlocks in FactSets in #3880

[2020-07-29 18:48] RebeccaAnne commented on #4135
Thanks for the request! We're tracking file upload support via #3707.

[2020-07-29 18:48] #4135 closed

[2020-07-29 21:09] RebeccaAnne commented on #4003
This is fixed in the current version of the designer.

[2020-07-29 21:09] #4003 closed

[2020-07-29 23:02] RebeccaAnne opened #4495 "[Designer] Date and time pickers for"
**What platform is your feature request related to? (Delete other platforms).**

* JavaScript

**Describe the solution you'd like**
It would be nice if we had date and time pickers in the designer for setting the value/min/max properties. This would allow users a more natural experience picking dates and times and would allow us to ensure that the card is created with those date/times in the corre

[2020-07-30 10:18] #4490 closed

[2020-07-30 11:49] natwallbank opened #4498 "[Android] AdaptiveRichTextBlock preceding whitespace issues for inline elements"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* Android

# Author or host

Host rendering cards - app is in development.

# Version of SDK

1.2.4

# Details

I've been using AdaptiveRichTextBlock to highlight certain words in a text block, and this renders fine in Windows Teams app and via the web.

However, I've just started testing the messages in the

[2020-07-30 11:56] natwallbank commented on #4498
Note: it appears possible to work around this by using some other white space character, as provided here: https://qwerty.dev/whitespace/

[2020-07-30 12:05] sonu-create opened #4499 "Need a code to convert website application into desktop application icon"
Internet Explorer

I launch a website application using internet explorer , I want to convert it into a desktop application and being launched as a small pop up window at users desktop instead of launching it through browser.

[2020-07-30 14:26] shalinijoshi19 commented on #4382
@jwoo-msft / @paulcam206 status on this one ?

[2020-07-30 14:27] shalinijoshi19 commented on #4439
ping @golddove / @almedina-ms ?

[2020-07-30 16:08] shalinijoshi19 commented on #4474
@almedina-ms are you able to pick this up please today? Thanks~

[2020-07-30 17:35] Chekrii opened #4500 "[MSTeams][Action.OpenURL] Open URl button is not working with some URls in Teams"
# Platform
* .NET Core

# Host
* Ms Teams

Hello Team,

I have built a bot using MS Bot framework v4 and hosted in MS teams.

I have noticed that the Action.OpenURL button is not working some time in the Adaptive card when URl is containing text with some Local language characters.

I have tried the same in App studio and the button is not clickable.

Please find the sample Adaptive card with Acti

[2020-07-30 19:15] helloanurag commented on #3701
I am also getting the same error when using Power Automate - For a selected message (MS Teams connector). When I run the talk by clicking on three dots of a message in Teams - More actions - Select my Flow - 50% of the time it works and 50% of the time I get the same error - "Unable to reach app, please try again". I have tried it from a different environment too and got the same result. This seem

[2020-07-30 19:16] helloanurag commented on #3334
I am also getting the same error when using Power Automate - For a selected message (MS Teams connector). When I run the talk by clicking on three dots of a message in Teams - More actions - Select my Flow - 50% of the time it works and 50% of the time I get the same error - "Unable to reach app, please try again". I have tried it from a different environment too and got the same result. This seem

[2020-07-30 19:45] golddove opened #4501 "[Android] Bump target sdk to 28"
# Platform

* Android

# Details

Bump target SDK version to at least 28. Also bump support libraries accordingly.

[2020-07-30 21:56] paulcam206 commented on #4489
I see a repro as well... The same payload (after templating applied and everything) works fine in the visualizer against `main`. I'm looking to get a `release/1.2` repro to see if it happens there as well.

[2020-07-30 21:57] paulcam206 commented on #4489
for reference, here's the literal payload (`cardPayload` in the screenshot):

[code]

[2020-07-30 22:12] paulcam206 commented on #4489
have repro in `release/1.2` visualizer. still digging, but this is a NULL AV in `XamlBuilder::WrapInTouchTarget` (`action` param is `nullptr`).

[2020-07-30 22:27] Hammad-H commented on #4489
The issue also occurs for v1.1/Tests/MediaAudioInColumnSet.json
[code]
and v1.1/Tests/MediaInColumnSet.json

[code]

[2020-07-30 22:50] paulcam206 commented on #4489
we're literally passing `nullptr` from `XamlBuilder::BuildMedia`. looks like this issue is fixed in `main` (along with some decent refactoring).

we just need to do a NULL check and default to a button here:
https://github.com/microsoft/AdaptiveCards/blob/d52b82fb5c96f6f57550a9c93fd2e633a50c940d/source/uwp/Renderer/lib/XamlBuilder.cpp#L4447-L4448

[2020-07-30 23:52] paulcam206 commented on #4499
This isn't an Adaptive Cards issue. That being said, you might want to look into [Persistent Web Apps](https://docs.microsoft.com/en-us/microsoft-edge/progressive-web-apps-edgehtml/get-started).

Good luck! 👍

[2020-07-30 23:52] #4499 closed

[2020-07-31 00:04] paulcam206 commented on #1253
No action on this one in a long time. Please reactivate if your issue isn't resolved.

[2020-07-31 00:04] #1253 closed

[2020-07-31 00:10] dclaux commented on #1048
This has been done, closing.

[2020-07-31 00:10] #1048 closed

[2020-07-31 01:44] matthidinger commented on #867
This is fixed in the updates release

[2020-07-31 01:44] #867 closed

[2020-07-31 01:46] matthidinger commented on #2611
Skype adaptive cards are not currently in development. If anything changes in this regard we'll make sure actions are working properly.

[2020-07-31 01:46] #2611 closed

[2020-07-31 01:50] matthidinger commented on #3658
The workaround above is the currently accepted solution so closing for now

[2020-07-31 01:50] #3658 closed

[2020-07-31 01:51] matthidinger commented on #3738
This should be fixed in the latest v1.0 release, please reopen if that isn't the case

[2020-07-31 01:51] #3738 closed

[2020-07-31 04:06] Chekrii commented on #4500
Hello Team,

In the above json, I noticed that removing of 'í' from "política de carro" in open URL makes button clickable.

[2020-07-31 10:04] adumrewal opened #4504 "[iOS-UWP][ColumnSet Parity Issue] [Parity issue between iOS and desktop for image width in columnSet]"
# Platform

What platform is your issue or question related to? (Delete other platforms).

* iOS

# Author or host

Host - Teams iOS

# Version of SDK

Release 1.2.10

# Details

Parity issue between desktop and iOS OOB experience for the following JSON.
iOS:
<img width="353" alt="Screenshot 2020-07-31 at 3 30 01 PM" src="https://user-images.githubusercontent.com/8917620/89024456-c08d2800-d342-11e

[2020-07-31 12:19] sadviramana opened #4505 "[JavaScript] TypeError: Cannot read property 'registerType' of undefined using adaptivecard-fabric"
# Platform
* JavaScript

# Version of SDK

latest

# Details

I was trying to style my adaptive cards using module adaptivecards-fabric as mentioned in the repo by using

        ACFabric.useFabricComponents();
but Iam getting the following error

TypeError: Cannot read property 'registerType' of undefined

I checked the AdaptiveCard class definition in node modules and could not find any property

[2020-07-31 16:45] #4447 closed

[2020-07-31 17:30] paulcam206 commented on #3686
the scrollability problem should be fixed now, but I'll take a look at collapsing :)

[2020-07-31 18:12] #4474 closed

[2020-07-31 18:37] #4463 closed

[2020-07-31 19:31] almedina-ms opened #4509 "[Android][Dev Experience] There is no BaseActionParser class for parsing properties in BaseActionElement"
# Platform

* Android

# Author or host

Dev

# Version of SDK

main

# Details

Devs creating custom action renderers have to redefine or remake the parsing for all properties that are contained in BaseActionParser, this should not be required and these properties should be easily parsed, either automatically or with an API

[2020-07-31 19:35] #4469 closed

[2020-07-31 20:10] #4382 closed

[2020-07-31 20:43] paulcam206 commented on #4393
JS works -- Marked.

[2020-07-31 20:43] #4393 closed

[2020-07-31 20:45] paulcam206 commented on #4489
should be fixed when 1.2.11 ships

[2020-07-31 20:45] #4489 closed

[2020-07-31 22:47] paulcam206 opened #4514 "[WPF] InputForm.json sample submit doesn't work properly"
# Platform

* .NET WPF

# Details

Submit doesn't work correctly on [InputForm.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Scenarios/InputForm.json).

| New Behavior (release/20.07) | Old Behavior (as of b85dce28af066872d8de419fb7103a0832c29d5a)
| -- | -- |
| ![image](https://user-images.githubusercontent.com/16614499/89083013-92104c80-d344-11ea-95b6-5cb9b0073afd.png) |

[2020-07-31 22:53] paulcam206 opened #4515 "[WPF] Show Card Wizard card not gathering correct inputs"
# Platform

.NET WPF

# Details

Inner-most-nested child card submit button isn't gathering all inputs (from our [wizard](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.3/Scenarios/Show%20Card%20Wizard%20(child%20cards).json) sample card).

| New behavior (release/20.07) | Old behavior (as of ) |
| -- | -- |
| ![image](https://user-images.githubusercontent.com/16614499/89083976-a6

[2020-07-31 23:01] susanshen96 commented on #3821
Hi @Chekrii,
There was a fix for a similar bug for adaptive card carousel that was deployed in May, and it should have reached the public version of Teams. Can you confirm that this is still happening, or if the issue has been fixed? Thanks!

[2020-07-31 23:37] paulcam206 opened #4517 "[Site] Schema 1.3 isn't being used by default on the site in main"
# Platform

JavaScript

# Details

There are a few problems with the version of the website currently in `main`:
* We're not defaulting to schema `1.3`, so samples render as if they were `1.2` (screenshot below)
* `1.3` isn't the default schema version for the designer (`1.2 ` is)
* When `1.3` is chosen in the designer, we get a warning (screenshot below)
* Unable to choose `1.3` samples from the

[2020-07-31 23:44] jwoo-msft opened #4518 "[Android][Images are either missing or too small]"
# Platform

* Android

# Version of SDK

20.07

# Details

* [ActivityUpdate.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Scenarios/ActivityUpdate.json) doesn't have the profile picture.
* [FlightItinerary.json](https://github.com/microsoft/AdaptiveCards/blob/main/samples/v1.0/Scenarios/FlightItinerary.json) has a very small image.
* [WeatherCompact.json](https://github.

[2020-07-31 23:59] paulcam206 commented on #4518
@golddove - possibly related to your recent changes?

[2020-08-01 00:03] jwoo-msft opened #4519 "[Android][Regression] [The Sizes of Images in ImageSet in Food Order May Be Different]"
# Platform

* Android

# Version of SDK

20.07

# Details
The images used to be in the same row.

![Screenshot_20200731-165801](https://user-images.githubusercontent.com/4112696/89088949-be7d9600-d34f-11ea-897d-ae65aea2f77c.png)